<template>
  <div >
    <div class="tab-header">
      <span @click="activeName = 0" :class="{active: activeName===0}">数据模块</span>
      <span @click="activeName = 1" :class="{active: activeName===1}" v-show="typeBtn === true">套用模版</span>
      <span @click="activeName = 2" :class="{active: activeName===2}" v-show="typeBtn === true">图片上传</span>
    </div>
    <div class="scrollCss">
      <template v-if="activeName === 0">
        <div class="list-box">
          <div class="list-column margin-b6" >
            <div class="list-inner" @click="show('title','标题')">
             <span class="list-title">标题</span>
             <span class="list-bule-button"><i class="el-icon-arrow-right"></i></span>
            </div>
          </div>
          <div class="list-column margin-b6" @click="show('list','列表')">
            <div class="list-inner">
              <span class="list-title">列表</span>
              <span class="list-bule-button"><i class="el-icon-arrow-right"></i></span>
            </div>
          </div>
          <!--<div class="list-column margin-b6" @click="show('image','图片')">-->
            <!--<div class="list-inner">-->
              <!--<span class="list-title">图片</span>-->
              <!--<span class="list-bule-button"><i class="el-icon-arrow-right"></i></span>-->
            <!--</div>-->
          <!--</div>-->
          <div class="list-column margin-b6" @click="showTable()">
            <div class="list-inner">
              <span class="list-title">表格</span>
              <span class="list-bule-button"><i class="el-icon-arrow-right"></i></span>
            </div>
          </div>
        </div>
      </template>
      <template v-if="activeName === 1">
        <div class="list-box">
          <div class="list-column margin-b6" @click="showＭodel('pcModel','电脑版','PCList')">
            <div class="list-inner">
              <span class="list-title">电脑版</span>
              <span class="list-bule-button"><i class="el-icon-arrow-right"></i></span>
            </div>
          </div>
          <div class="list-column margin-b6" @click="showＭodel('mbModel','手机版','MBList')">
            <div class="list-inner" >
              <span class="list-title">手机版</span>
              <span class="list-bule-button"><i class="el-icon-arrow-right"></i></span>
            </div>
          </div>
        </div>
      </template>
      <template v-if="activeName === 2">
        <slot name="upload">
        </slot>
        <p class="picture-info">图片尺寸最大限制  宽<em> {{limitedWidth}}</em> * 高<em> {{limitedHeight === 0 ? '不限制':limitedHeight}}</em></p>
      </template>
      <!--模板彈窗-->
      <div class="popover-to-top" :class="{open: showModelSelect}">
        <div class="popover-top-header">{{popoverTitle}}模板选择
          <span class="reveal-close" @click="showModelSelect=false"><i class="el-icon-close"></i></span>
        </div>
        <div class="data-list scrollCss">
          <div class=" data-list02 padding-b10">
            <ul>
              <li v-for="(item, index) in modelDataList" :key="index">
                <div class="data-list-picbox" :style="{background: 'url(' + item.imgUrl + ') center center /cover no-repeat'}">
                  <!--<img src="../../assets/img/model02.jpg" alt="">-->
                  <span>{{item.name}}</span>
                </div>
                <div class="model-button-box">
                  <span @click="Preview(item.html)">预览</span>
                  <span @click="insertOtherHtml(item.html, 2)">使用</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--標題樣式選擇彈窗-->
      <div class="popover-to-top" :class="{open: showPopover}" >
        <div class="popover-top-header">{{popoverTitle}}模板选择
          <span class="reveal-close" @click="showPopover=false"><i class="el-icon-close"></i></span>
        </div>
        <div class="data-list scrollCss">
          <div class="column padding-b10"
               v-for="(item, index) in htmlSelect"
               :key="index"
               @click="insertOtherHtml(item, 1)"
               v-html="item">
          </div>
        </div>
      </div>
      <!--預覽彈窗-->
      <el-dialog
        title="预览模板"
        :visible.sync="showPreview"
        :append-to-body="true"
        width="100%"
        custom-class="preview-modal editor-list-style">
        <div v-html="previewHtml"></div>
        <div class="preview-select-box">
          <ul>
            <li></li>
          </ul>
        </div>
      </el-dialog>
      <!--表格彈窗-->
      <div class="popover-to-top" :class="{open: showPopoverTable}">
        <div class="popover-top-header">表格样式选择
          <span class="reveal-close" @click="showPopoverTable=false"><i class="el-icon-close"></i></span>
        </div>
        <div class="data-list scrollCss data-list-table">
          <ul>
            <li v-for="(items, index) in tableList">
              <div class="tableList-name" >{{items.name}}</div>
              <img :src="items.imgUrl | imgHost" alt="">
              <div class="table-detail">
                <el-form :ref="'form' + index" :prop="'form' + index" :model="items" label-width="50px" :inline="true" class="model-table-form">
                  <el-form-item prop="tableColumn" :rules="{ required: true, validator: (rule, value, callback) => {
                  if (value === undefined || value === null || (value && value.toString().trim() === '')) {
                        callback('请输入列')
                        return
                  }
                  if (!/^\d+$/.test(value)) {
                        callback('只能输入数字')
                        return
                  }
                  if (Number(value) > 10) {
                        callback('最多列数为10位')
                        return
                  }
                   callback()
                  }, trigger: 'blur'}">
                    <el-input  v-model="items.tableColumn" placeholder="请输入列"></el-input>
                  </el-form-item>
                  <el-form-item  prop="tableRow" :rules="{ required: true, validator: (rule, value, callback) => {
                  if (value === undefined || value === null || (value && value.toString().trim() === '')) {
                        callback('请输入行')
                        return
                  }
                  if (!/^\d+$/.test(value)) {
                        callback('最多行数为10位')
                        return
                  }
                   callback()
                  }, trigger: 'blur'}">
                    <el-input  v-model="items.tableRow" placeholder="请输入行"></el-input>
                  </el-form-item>
                </el-form>
                <el-button @click="createTable(items.tableColumn,items.tableRow,items.className,index)" type="primary" plain size="mini">使用</el-button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import '@/assets/css/editor-list.css'
import '@/assets/css/mt-template.css'
export default {
  data () {
    return {
      activeName: 0,
      htmlAlbum: null, // html模版
      htmlSelect: [],
      showPopover: false,
      showPreview: false,
      showModelSelect: false,
      showPopoverTable: false,
      popoverTitle:'',
      showpic:'',
      previewHtml: '',
      htmlList: [],
      ruleForm: {
        Column: 1,
        Row: 1
      },
      uploadbtn: false,
      tableList: [
        {
          'id': '123333345',
          'name': '发财金元宝',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style07 editor-list-style',
          'imgUrl':'/system/activity/table/table07_menu.jpg'
        },
        {
          'id': '1535',
          'name': '海浪',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style06 editor-list-style',
          'imgUrl':'/system/activity/table/table06_menu.jpg'
        },
        {
          'id': '13435',
          'name': '蓝色渐层',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style10 editor-list-style',
          'imgUrl':'/system/activity/table/table10_menu.jpg'
        },
        {
          'id': '1233345',
          'name': '金色几何',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style08 editor-list-style',
          'imgUrl':'/system/activity/table/table08_menu.jpg'
        },
        {
          'id': '123333345',
          'name': '橘色渐层',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style05 editor-list-style',
          'imgUrl':'/system/activity/table/table05_menu.jpg'
        },
        {
          'id': '123334345',
          'name': '喜气洋洋',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style04 editor-list-style',
          'imgUrl':'/system/activity/table/table04_menu.jpg'
        },
        {
          'id': '123',
          'name': '绿灰白',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style03 editor-list-style',
          'imgUrl':'/system/activity/table/table03_menu.jpg'
        },
        {
          'id': '1235',
          'name': '黑大方',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style02 editor-list-style',
          'imgUrl':'/system/activity/table/table02_menu.jpg'
        },
        {
          'id': '1235',
          'name': '标准蓝',
          'tableColumn': '',
          'tableRow': '',
          'className': 'model-table-style01 editor-list-style',
          'imgUrl':'/system/activity/table/table01_menu.jpg'
        }
        ],
      modelDataList: [],
      tableColumn: '',
      tableRow: '',
    }
  },
  props: {
    typeBtn: { // 是否有圖片上傳
      type: Boolean,
      default: false
    },
    limitedHeight: {//height
      default: 0
    },
    limitedWidth: {//width
      default: 0
    }
  },
  components: {
  },
  mounted () {
  },
  methods: {
    show (type,title) {
      this.showPopover = true
      this.popoverTitle = title
      if (!this.htmlAlbum) {
        return import('@/components/modList/htmlModal.json').then(res => {
          // 不一样重新计算栏目列表再存储
          this.htmlAlbum = res
          this.htmlSelect = this.htmlAlbum[type]
        }).catch(error => 'An error occurred while loading the nav.json' + error)
      } else {
          this.htmlSelect = this.htmlAlbum[type]
      }
    },
    showＭodel (type,title,list) {
      this.showModelSelect = true
      this.popoverTitle = title
      if (!this.htmlAlbum) {
        return import('@/components/modList/htmlModal.json').then(res => {
          // 不一样重新计算栏目列表再存储
          this.htmlAlbum = res
          this.modelDataList = this.htmlAlbum[type]
        }).catch(error => 'An error occurred while loading the nav.json' + error)
      } else {
        this.modelDataList = this.htmlAlbum[type]
      }
    },
    showTable () {
      this.showPopoverTable = true
    },
    Preview (html) {
      this.showPreview = true
      this.previewHtml = html
    },
    insertOtherHtml (item, type) {
      let param = []
      param.push(type)
      param.push(item)
      this.$emit('select', param)
    },
    createTable (column,row,name,index) {
      this.$refs['form' + index][0].validate((valid) => {
        if (!valid) {
          return false
        }
        let doc = document
        let table = doc.createElement('table')
        let header = doc.createElement('thead')
        let headerRow = doc.createElement('tr')
        let body = doc.createElement('tbody')
        let tableDiv = doc.createElement('div')
        table.className = name
        for (let h = 1; h <= column; h++) {
          let headerCol = doc.createElement('th')
          headerCol.innerHTML = '标题'
          headerRow.appendChild(headerCol)
        }
        header.appendChild(headerRow);
        for (let r = 1; r <= row; r++) {
          let bodyRow = doc.createElement('tr')
          for (let c = 1; c <= column; c++) {
            let bodyCol = doc.createElement('td')
            bodyCol.innerHTML = ' '
            bodyRow.appendChild(bodyCol)
          }
          body.appendChild(bodyRow)
        }
        table.appendChild(header)
        table.appendChild(body)
        tableDiv.appendChild(table)
        this.insertOtherHtml (tableDiv.innerHTML)
        this.tableList[index].tableColumn = ''
        this.tableList[index].tableRow = ''
      })
      // createTable: function (cols, rows) {
      //   var doc = this.base.options.ownerDocument,
      //     table = doc.createElement('table'),
      //     header = doc.createElement('thead'),
      //     headerRow = doc.createElement('tr'),
      //     body = doc.createElement('tbody'),
      //     wrap = doc.createElement('div'),
      //     h, r, c, headerCol, bodyRow, bodyCol;
      //
      //   for (h = 1; h <= cols; h++) {
      //     headerCol = doc.createElement('th');
      //     headerCol.innerHTML = '...';
      //     headerRow.appendChild(headerCol);
      //   }
      //
      //   header.appendChild(headerRow);
      //
      //   for (r = 1; r <= rows; r++) {
      //     bodyRow = doc.createElement('tr');
      //     for (c = 1; c <= cols; c++) {
      //       bodyCol = doc.createElement('td');
      //       bodyCol.innerHTML = '...';
      //       bodyRow.appendChild(bodyCol);
      //     }
      //     body.appendChild(bodyRow);
      //   }
      //
      //   table.appendChild(header);
      //   table.appendChild(body);
      //   wrap.appendChild(table);
      //
      //   return wrap;
      // },
    }
  }
}
</script>
<style>
  @import "../../assets/css/editor-list.css";
  .popover-to-top {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    transition: transform .3s;
    transform: translateY(100%);
    &.open {
      transform: translateY(0);
    }
    & .data-list {
      padding: 20px 10px;
      background: #ebebf0;
      height: calc(100% - 40px);
      overflow: auto;
      & .column {
        box-shadow: 0 2px 5px rgba(15, 37, 64, 0.05);
        border: 1px solid #e8e8e8;
        align-items: center;
        padding-top: 10px;
        background: #fff;
        margin-bottom: 10px;
        height: 77px;

        & .model-img-style{
          height: 100%;
        }
        & .model-img-style{
          margin: 0 !important;
        }
        & .model-img-style01{
          width: 178px;
          margin: 0 auto !important;
          & >div{
            margin: 0 2px;
          }
        }
        & .model-img-style02{
             width: 268px !important;
             margin: 0 auto !important;
           }
        & .model-img-style03{
          width: 85px !important;
          margin: 0 auto !important;
        }
        & .model-img-style04{
          width: 170px !important;
          margin: 0 auto !important;
        }
        & .model-img-style05{
          width: 235px !important;
          margin: 0 auto !important;
        }
      }
      & h2,  & h3, & p {margin-bottom: 10px;text-indent: 0 !important;}
    }
  }
  .popover-preview-model.popover-to-top{
    position: fixed;
  }
  .popover-top-header{
    background: #4e525c;
    color:#d0d3d9;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0 2px 5px rgba(15, 37, 64, 0.05);
    text-align: center;
    position: relative;
    padding: 0 !important;
    & .reveal-close , & .el-dialog__close {
      position: absolute;
      right: 10px;
      font-size: 20px;
      font-weight: bolder;
    }
    & .el-dialog__body{
      height: calc(100% - 40px);
      overflow: scroll;
    }
  }
  .tab-header {
    display: flex;
    margin-bottom: 10px;
    & span {
      flex-grow: 1;
      text-align: center;
      font-size: 14px;
      padding: 4px 0 8px;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      &:hover {
        color: var(--color-blue-light)
      }
      &.active {
        color: var(--color-blue-light);
        border-bottom: 2px solid var(--color-blue-light);
      }
    }
  }
  .list-box .list-column{
    font-size: 16px;
    padding: 6px;
    border: 1px solid #eee;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(15, 37, 64, 0.05);
    transition: all .5s;
    cursor: pointer;
    &:hover{
      box-shadow: 0 2px 5px rgba(15, 37, 64, 0.1);
      & span{
        color: var(--color-blue-light);
      }
    }
    & .list-inner {
       display: flex;
       align-items: center;
        justify-content: space-between;
        padding: 6px 10px;
    }
    & .list-bule-button{
      /*color: #3478f6;*/
      color: #999;
      font-size: 14px !important;
    }

  }
  .list-content{
    & ul{
      display: flex;
    }
    & li{
      background: #fff;
      list-style: none;
      margin: 5px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      & span{
        display: block;
        font-size: 12px !important;
      }
    }
  }
  .list-ul-style{
    & i{
      width: 3px;
      height: 3px;
      background: #999;
    }
    & span{
      width: 35px;
      height: 5px;
      border-bottom: 0.5px solid #999;
    }
  }
  .list-pic-style{
    & span{
      background: #999;
      border-bottom: 1px solid #999;
      margin: 2px 0;

    }
    & .row-pic {
      flex-direction: row;
     & span{
       display: inline-block;
      height: 20px;
       width: 50%;
      }
    }

  }
  .list-title-style{
    display: flex;
    width: auto;
    & li{
      & span{
        width: 35px;
      }
      & span:first-child{
        background: #999;
        width: 15px;
        height: 3px;
        margin: 0 0 3px 0;
      }
      & hr{
        width: 100%;
        height: 1px;
        background: #dddddd;
        padding: 0;
        margin: 0 0 2px 0;
      }
    }
  }
  .model-button-box{
    display: flex;
    background: #fff;
    & span{
      width: 50%;
      display: inline-flex;
      border: 1px solid #e8e8e8;
      justify-content: center;
      align-items: center;
      padding: 5px 0;
    }
  }
  .data-list02{
    & .data-list-picbox{
      position: relative;
      height: 100px;
      background-color: #fff;
      /*background-position: center center !important;*/
      /*background-size: cover ;*/
      /*background-repeat: no-repeat ;*/
      & span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        font-size: 18px;
        color: #333;
        background: rgba(255,255,255,0.8);
        padding: 15px;
        border-radius: 50%;
      }
    }
    & ul li{
      margin: 0 0 15px 0;
      box-shadow: 0 2px 5px rgba(15, 37, 64, 0.1);
      background: #fff;
      list-style: none;
    }
  }
  .table-detail{
    & >span{
      padding: 0 6px 0 0;
    }
    & input{
      height: 25px;
      line-height: 25px !important;
      min-height: 25px !important;

    }
  }
  .preview-modal{
    width: 100%;
    margin: 0 !important;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  .preview-modal {
    background: rgba(255,255,255,0.8);
    & .el-dialog__header{
      background: #fff;
      border-bottom: 1px solid #eee;
      text-align: center;
      padding: 24px 0;
      max-width: 970px;
      margin: 0 auto;
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
      & span{
        font-size: 25px !important;
      }
    }
    & .el-dialog__body{
      max-width: 970px;
      margin: 0 auto;
      border-right: 1px solid #eee;
      border-left: 1px solid #eee;
      height: calc(100% - 76px);
      background: #fff;
      overflow: scroll;
    }
  }
  .picture-info{
    font-size: 14px;
    color: #97a8be;
    text-align: center;
    & em{
      font-style: normal;
      color: var(--color-danger);
    }
  }
  .data-list-table{
    & img{
      box-shadow: 0 2px 5px rgba(15, 37, 64, 0.4);
      margin-bottom: 10px;
    }
  }
  .model-table-form{
    & .el-form-item{
      margin-bottom: 0 !important;
    }
  }
  .data-list-table{
    & li{
      list-style: none;
      padding: 10px;
      border: 1px solid #eee;
      margin-bottom: 20px;
      box-shadow: 0 2px 5px rgba(15, 37, 64, 0.05);
      background: #fff;
      & input{
        width: 95px !important;
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom: 1px solid #d8d8d8 !important;
        border-radius: 0px !important;
        text-align: center;
      }
      & .el-form-item.is-success .el-input__inner,
      & .el-form-item.is-success .el-input__inner:focus,
      & .el-form-item.is-success .el-textarea__inner,
      & .el-form-item.is-success .el-textarea__inner:focus{
        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        border-bottom: 1px solid #d8d8d8 !important;
        text-align: center;
      }
      & .el-form-item.is-error .el-input__inner{
        border-bottom: #ec1010;
      }
      & .el-button--mini{
        margin-left: 10px;
      }
    }
    & .table-detail{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 10px;
    }
    & .tableList-name{
      line-height: 16px;
      padding-bottom: 10px;
      color: #121212;
      font-size: 12px !important;
    }
  }


  @media screen and (max-width: 768px) {
    .preview-modal .el-dialog__header span{
      font-size: 16px !important;
    }
  }
</style>
