<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title= "编辑器使用说明"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
      </template>
    </el-dialog>
  </div>
</template>
<script>
  import Api from '@/api/activity'
  export default {
    data () {
      return {
        title: false,
        showBlogForm: false,
        statusFetch: false
        // readOnly: false,
        // checkList: [],
        // valueLevel: '',
        // submitLoading: false,
        // loading: false,
        // loadingMsg: '正在拼命加载中...',
        // ruleForm: {
        //   userName: '',
        //   activityName: [],
        //   remark: ''
        // },
        // rules: {
        //   userName: [
        //     { required: true, message: '请输入会员账号', trigger: 'blur' }
        //   ],
        //   activityName: [
        //     { type: 'array', required: true, message: '请选择禁止活动类型', trigger: 'blur' }
        //   ],
        //   remark: [
        //     { required: true, message: '请输入备注', trigger: 'blur' },
        //     {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
        //   ]

      }
    },
    props: {
      visible: Boolean,
      data: Object
    },
    methods: {
      closeClear () {
        this.$emit('onClose')
        this.resetForm('ruleForm')
      }
    },
    watch: {
      visible (nv) {
        this.showBlogForm = nv
        if (nv) {
        }
      }
    }
  }
</script>
