<template>
  <div class="article-section">
    <div>
      <div tabindex="-1">
        <div class="atwho-content" :class="{'has-content': hasContent}">
          <div class="article-body"
               @paste="$emit('paste-event', $event)"
               @keyup.ctrl.enter="$emit('ctrl-enter-commit', commitCallBack, $event)"
               @keyup.enter="handleKeyupEnter"
               :contenteditable="contenteditable"
               :ref="`mediumContent` + containerId"
               :id="'editor' + containerId"
               @input="handleInput"><p><br></p></div>
          <label v-if="maxSize > 0 || maxSize < 0" class="color-secondary"><i v-if="isOutSize" class="fa fa-exclamation-circle color-warning"></i><span
            :class="isOutSize ? 'color-warning': ''">{{currDescSize}}</span>/{{validateMsg}}</label>
        </div>
        <div v-if="imageToolsOptions.ableTools" :id="'insetImg-' + this.containerId" class="inset-btn">
          <!--:width="imageToolsOptions.ableUpload && imageToolsOptions.ablePhotoAlbum ? 320 : 75"-->
          <el-popover
            ref="inset"
            placement="bottom"
            trigger="click"
            popper-class="inset-btn-popover">
            <medium-popover @select="insertOtherHtml" :typeBtn="type" :limitedHeight="limitedHeight" :limitedWidth="limitedWidth">
              <h4 slot="upload" v-if="imageToolsOptions.ableUpload" class="img-upload editor-upload">
                <!--图片上传：-->
                <div class="imgshow" v-if="imageToolsOptions.ableUpload" data-insert-file-tools="true"  @click="addImage">
                  <i class="el-icon-plus"></i>
                  <div class="upload-info">点击上传图片</div>
                  <!--<el-button v-if="imageToolsOptions.ableUpload" href="javascript:;" data-insert-file-tools="true" @click="addImage" ></el-button>-->
                </div>
              </h4>
            </medium-popover>
            <!--<a v-if="imageToolsOptions.ablePhotoAlbum" href="javascript:;" data-insert-file-tools="true" @click="showPhotoAlbum = true">相册</a>-->
          </el-popover>
          <a v-popover:inset href="javascript:;" title="ji" v-show="type"><i class="fa fa-plus"></i></a>
        </div>
      </div>
      <span class="edit-guide color-info font-s12" @click="editGuide()" v-show="editGuideBtn"> <i class="el-icon-info margin-r4"></i>编辑器使用说明</span>
    </div>
    <el-upload
      v-if="imageToolsOptions.ableTools && imageToolsOptions.ableUpload || ableUpload"
      ref="imgUploader"
      class="upload-insertImg"
      :action="uploadAction"
      :accept="uploadAccept"
      :show-file-list="false"
      :name="uploadName"
      :auto-upload="false"
      :on-error="uploadOnError"
      :on-change="uploadOnChange"
      :data="uploadData"
      :on-success="successUpload">
    </el-upload>
    <!--<el-dialog-->
      <!--v-if="imageToolsOptions.ableTools && imageToolsOptions.ablePhotoAlbum"-->
      <!--:visible.sync="showPhotoAlbum"-->
      <!--top="30px"-->
      <!--:close-on-click-modal="false"-->
      <!--custom-class="photo-album"-->
      <!--append-to-body-->
    <!--&gt;-->
    <!--</el-dialog>-->
    <el-dialog
      title= "编辑器使用说明"
      :append-to-body="true"
      :visible.sync="openEditGuide"
      custom-class="editor-guide-modal ">
      <div class="guide-inner">
        <el-tabs v-model="activeName" >
          <el-tab-pane label="编辑工具列" name="first">
            <ul class="guide-ul">
             <li>
               <div class="guide-title"><em>01.</em> 出现方式：<span>圈起文字出現工具列</span></div>
               <img :src="'/system/activity/guide/show_toolbar.jpg' | imgHost" alt="">
             </li>
              <li>
                <div class="guide-title"><em>02.</em> 插入表格：<span>拖拉选取表格</span></div>
                <img :src="'/system/activity/guide/guid_table.jpg' | imgHost" alt="">
              </li>
              <li>
                <div class="guide-title"><em>03.</em> 图片插入：<span>先输入网址再点击图片按钮</span></div>
                <img :src="'/system/activity/guide/guide_img.jpg' | imgHost" alt="">
              </li>
              <li>
                <div class="guide-title"><em>04.</em> 字体大小：</div>
                <img :src="'/system/activity/guide/guide_fontsize.jpg' | imgHost" alt="">
              </li>
              <li>
                <div class="guide-title"><em>05.</em> 字体颜色：</div>
                <img :src="'/system/activity/guide/guide_color.jpg' | imgHost" alt="">
              </li>
              <!--<li>-->
                <!--<div class="guide-title"><em>06.</em> 加入代码区块：<span>可在区域内编译HTML标签</span></div>-->
                <!--<img :src="'/system/activity/guide/guide_html.jpg' | imgHost" alt="">-->
              <!--</li>-->
              <li>
                <div class="guide-title"><em>06.</em>插入定义代码：</div>
                <img :src="'/system/activity/guide/guide_remove_html.jpg' | imgHost" alt="">
              </li>
           </ul>
          </el-tab-pane>
          <el-tab-pane label="模版弹窗" name="second">
            <ul class="guide-ul">
              <li>
                <div class="guide-title"><em>01.</em> 出现方式：<span>点击十字按钮出现弹窗</span></div>
                <img :src="'/system/activity/guide/show_model.jpg' | imgHost" alt="">
              </li>
              <li>
                <div class="guide-title"><em>02.</em> 模板表格插入方式：<span>1.输入列/2
                .输入行/3.按使用/4.开始编辑</span></div>
                <img :src="'/system/activity/guide/guide_table.jpg' | imgHost" alt="">
              </li>
            </ul>
          </el-tab-pane>
        </el-tabs>
      </div>
    </el-dialog>
  </div>
</template>
<script>
/**
 *  内部透出的事件
 *  @paste-event 输入框黏贴事件
 *  @ctrl-enter-commit 输入框keyup.ctrl.enter, 参数commitCallBack, $event，第一个是提交后回调函数用来清空相应的数据或还原为默认值
 *  @content-file-sucess 内容里面上传成功的附件改变，参数内容附件
 *  @content-out-of-size 当内容的maxSize>0时，内容字数超出限制范围
 */
// import { wrapUrl } from '@/utils'
import { createMediumEditor } from '@/utils/mediumEditor.js'
import MediumPopover from '@/components/editor/MediumPopover'
import MediumGuide from '@/components/editor/MediumGuide'
import { imgCompression } from '@/utils/ImgCompression.js'
import { rest } from '@/api/index'
import { imgHost } from '@/filters/index'
export default {
  components: {
    MediumPopover,
    MediumGuide
  },
  data () {
    return {
      activeName: 'first',
      openEditGuide: false,
      hasContent: false,
      photoAlbum: [], // 测试图片集合
      editor: null,
      range: null, // 获取到之前光标的位置
      defOptions: { // MediumEditor默认参数，默认没有toolbar
        placeholder: {
          text: this.placeholderTxt,
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        paste: {
          forcePlainText: true,
          cleanPastedHTML: true,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        },
        anchorPreview: {
          showOnEmptyLinks: false
        },
        toolbar: {
          buttons: ['h2', 'h3', 'bold', 'italic', 'underline', 'strikethrough', 'fontSize']
          // buttons: ['orderedlist', 'unorderedlist', 'removeFormat', 'h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre', 'justifyCenter']
          // buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
        }
      },
      contentFile: {
        image: [],
        doc: [],
        video: []
      },
      currDescSize: 0, // 限制长度时，用于判断是否超出长度，当前内容长度
      isOutSize: false, // 限制长度时，判断是否超出长度
      editorSection: null, // MediumEdit的容器
      insertBtnBox: null, // 内容插入图片的按钮
      fontSizeBtn: null,
      showPhotoAlbum: false
    }
  },
  props: {
    value: { // 发布的内容
      type: String,
      default: null
    },
    editGuideBtn: {
      type: Boolean,
      default: true
    },
    contenteditable: { // 内容是否可编辑
      type: Boolean,
      default: true
    },
    maxSize: { // 发布的内容的最大字数限制，小于或等于0标识不限制
      type: Number,
      default: 0
    },
    minSize: { // 发布的内容的最小字数限制，小于或等于0标识不限制
      type: Number,
      default: 0
    },
    placeholderTxt: {
      type: String,
      default: '输入想要留下的内容...'
    },
    containerId: {
      type: String,
      default: () => {
        return (Math.random() * 10000 + '').split('.')[0]
      }
    },
    imageToolsOptions: {
      type: Object,
      default: () => {
        return {
          ableTools: true, // 配置按钮
          ableUpload: true, // 上传
          ablePhotoAlbum: true // 相册
        }
      }
    },
    isUploadCompression: {// 上传是否压缩
      type: Boolean,
      default: false
    },
    compressionSize: {
      default: 0.5  //当图片大小大于compressionSize值才进行压缩，单位为Mb
    },
    ableUpload: { // 外部的上传按钮
      type: Boolean,
      default: false
    },
    useAtUser: { // 启用at用户
      type: Boolean,
      default: false
    },
    options: Object,// medium的参数,
    uploadOnAfterChange: {
      type: Function,
      default: function (file, fileList) {
      }
    },
    uploadOnError: {
      type: Function,
      default: function () {
        this.msgError('上传图片失败')
      }
    },
    uploadBeforeUpload: {
      type: Function,
      default: function () {
      }
    },
    uploadOnAfterSuccess: {
      type: Function,
      default: function () {
      }
    },
    uploadAutoUpload: {
      type: Boolean,
      default: function () {
        return true
      }
    },
    uploadName: { //上传接口图片参数名称
      type: String,
      default: function () {
        return 'file'
      }
    },
    uploadAction: { //上传接口地址
      type: String,
      default: function () {
        return ''
      }
    },
    uploadAccept: {
      type: String,
      default: function () {
        return 'image/*'
      }
    },
    uploadData: { //上传接口自定义参数
      type: Object,
      default: function () {
        return {}
      }
    },
    uploadActionFieldName: { //上传接口返回的参数名称
      type: String,
      default: function () {
        return 'data'
      }
    },
    type: {//是否是活动
      type: Boolean,
      default: false
    },
    limitedHeight: {//height
      default: 0
    },
    limitedWidth: {//width
      default: 0
    },
    limitImgSize: { //文件大小限制
      default: 0
    }
    // EditGuideShow: {
    //   type: Boolean,
    //   default: false
    // }
  },
  mounted () {
    this.contentFile = {
      image: [],
      doc: [],
      video: []
    }
    this.init()
  },
  computed: {
    validateMsg () {
      if (this.maxSize > 0 && this.minSize > 0) {
        return '最大字符数为' + this.maxSize + ',最小字符数为' + this.minSize
      }
      if (this.maxSize > 0 && this.minSize <= 0) {
        return '最大字符数为' + this.maxSize
      }
      if (this.maxSize <= 0 && this.minSize > 0) {
        return '最小字符数为' + this.minSize
      }
      return ''
    },
    getMediumContent () {
      return this.$refs['mediumContent' + this.containerId]
    },
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  watch: {
    value (newVal, oldVal) {
      if (newVal === null || newVal === '<p><br/></p>'|| newVal === '') {
        this.hasContent = false
      } else {
        this.hasContent = true
      }
      if (newVal !== this.getMediumContent.innerHTML) { // 用 $el.innerHTML 来解决 v-html 的光标跳到行首的问题
        this.getMediumContent.innerHTML = newVal || '<p><br/></p>'
      }
    },
    contentFile (nv) {
      this.$emit('content-file-sucess', nv)
    }
  },
  methods: {
    editGuide () {
      this.openEditGuide= true
    },
    selectHtml (item) {
      console.log(item)
    },
    handleKeyupEnter (event) {
      // console.log(event)
      if (event.cancelBubble === undefined) {
        event.stopPropagation()
        return false
      }
      event.cancelBubble = true
      return false
    },
    countByteSize (words) {
      let sTotal = 0
      let iTotal = 0
      let eTotal = 0
      for (var i = 0; i < words.length; i++) {
        var c = words.charAt(i)
        if (c.match(/[\u4e00-\u9fa5]/)) {
          iTotal++
        }
      }
      for (i = 0; i < words.length; i++) {
        let c = words.charAt(i)
        if (c.match(/[^\x00-\xff]/)) {
          sTotal++
        } else {
          eTotal++
        }
      }
      return iTotal * 2 + (sTotal - iTotal) * 2 + eTotal
    },
    getCurrContentSize (content) {
      var currds = 0
      if (!content) {
        return currds
      }
      var tempDom = document.createElement('div')
      tempDom.innerHTML = content
      let byteCount = this.countByteSize(tempDom.innerText.trim())
      currds = parseInt(byteCount / 2) + parseInt(byteCount % 2)
      let images = tempDom.getElementsByTagName('IMG')
      currds = currds + images.length
      let atwhos = tempDom.getElementsByClassName('atwho-query')
      if (atwhos && atwhos.length > 0) {
        for (let atwho of atwhos) {
          currds = currds + atwho.getAttribute('data-datas').length
        }
      }
      this.currDescSize = currds
      if (this.maxSize > 0) {
        if (this.currDescSize > this.maxSize) {
          this.isOutSize = true
        } else {
          this.isOutSize = false
        }
      }
      if (this.minSize > 0) {
        if (this.currDescSize < this.minSize) {
          this.isOutSize = true
        } else {
          this.isOutSize = false
        }
      }
      return currds
    },
    commitCallBack () {
      this.editor.setContent('<p><br/></p>')
      this.isOutSize = false
      this.currDescSize = 0
      this.contentFile = {
        image: [],
        doc: [],
        video: []
      }
      this.range = null
    },
    init () {
      createMediumEditor((MediumEditor, MediumButton) => {
        window.MediumEditor = MediumEditor
        this.editorSection = document.getElementById('editor' + this.containerId)
        this.insertBtnBox = document.getElementById('insetImg-' + this.containerId)
        let foptions = {...this.defOptions}
        if (this.options) {
          foptions = {...this.defOptions, ...this.options}
        }
        if (foptions.toolbar) {
          foptions.extensions = {}
          // foptions.extensions = {
          //   'highlight': new MediumButton({
          //     label: '<i class="bg-warning fa fa-font"></i>',
          //     start: '<span style="background:#ffe500;">',
          //     end: '</span>'
          //   })
          // }
          if (foptions.toolbar.buttons.indexOf('fontBgColor') !== -1) {
            require('@/components/editor/medium-editor-fontBgColor.js')
            foptions.extensions = Object.assign(foptions.extensions, {
              'fontBgColor': new window.ExtensionFontBgColor(this.containerId)
            })
          }
          if (foptions.toolbar.buttons.indexOf('table') !== -1) {
            require('@/components/editor/medium-editor-tables.js')
            foptions.extensions = Object.assign(foptions.extensions, {
              'table': new window.MediumEditorTable()
            })
          }
          if (foptions.toolbar.buttons.indexOf('fontSize') !== -1) {
            require('@/components/editor/medium-editor-fontSize.js')
            foptions.extensions = Object.assign(foptions.extensions, {
              'fontSize': new window.ExtensionFontSize(this.containerId)
            })
          }
          if (foptions.toolbar.buttons.indexOf('fontColor') !== -1) {
            require('@/components/editor/medium-editor-fontColor.js')
            foptions.extensions = Object.assign(foptions.extensions, {
              'fontColor': new window.ExtensionFontColor(this.containerId)
            })
          }
        }
        foptions.disableEditing = !this.contenteditable
        if (this.screenW <= 768) {
          foptions.toolbar.static = true
          foptions.toolbar.sticky = true
          foptions.toolbar.align = 'center'
          foptions.toolbar.updateOnEmptySelection = true
        }
        const editor = new MediumEditor(this.editorSection, foptions)
        this.editor = editor
        if (this.screenW > 768) {
          editor.subscribe('editableKeyup', (e) => {
            var keyCode = e.keyCode
            if (keyCode === 38 || keyCode === 40 || keyCode === 13) {
              this.toolbarStyle()
            }
          })
        }
        editor.subscribe('editableClick', (e) => {
          editor.isFontActive = false
          editor.isBgColorActive = false
          editor.isColorActive = false
          let obj = document.getElementById(`medium-editor-toolbar-form-fontSize-${editor.id}`)
          if (obj) {
            obj.style.display = 'none'
          }
          let objColor = document.getElementById(`medium-editor-toolbar-form-fontColor-${editor.id}`)
          if (objColor) {
            objColor.style.display = 'none'
          }
          let fontBgColor = document.getElementById(`medium-editor-toolbar-form-fontBgColor-${editor.id}`)
          if (fontBgColor) {
            fontBgColor.style.display = 'none'
          }
          this.setCurrRange() // 设置当前的range
          if (e.target.tagName.toLowerCase() === 'img') {
            if (e.target.parentNode.textContent) {
              window.getSelection().removeAllRanges()
              let selection = window.getSelection()
              let range = document.createRange()
              range.selectNode(e.target)
              selection.addRange(range)
            } else {
              this.editor.selectElement(e.target.parentNode)
            }
          }
          if (this.useAtUser) {
            this.getAtWhoComponent.handleInput()
          }
          this.toolbarStyle()
        })
        editor.subscribe('editableInput', (e) => {
          this.setCurrRange()
          this.toolbarStyle()
          this.handleInput(e)
        })
        editor.subscribe('focus', (e) => {
          this.toolbarStyle(e)
        })
        editor.subscribe('blur', (e) => {
          editor.isFontActive = false
          let obj = document.getElementById(`medium-editor-toolbar-form-fontSize-${editor.id}`)
          if (obj) {
            obj.style.display = 'none'
          }
          let objColor = document.getElementById(`medium-editor-toolbar-form-fontColor-${editor.id}`)
          if (objColor) {
            objColor.style.display = 'none'
          }
          // let isClickInFile = e.target.getAttribute('data-insert-file-tools')
          // if (this.imageToolsOptions.ableTools && !isClickInFile === 'true') {
          //   this.insertBtnBox.style.display = 'none'
          // }
          if (this.useAtUser) {
            this.getAtWhoComponent.handleInput()
          }
        })
        editor.subscribe('editableMouseover', (e) => {
          if (e.target.tagName.toLowerCase() === 'img') {
            let range = document.createRange()
            range.selectNode(e.target)
          }
        })
        // this.toolbarStyle()
      })
      this.initData()
    },
    initData () {
      let currValue = this.value
      if (this.getCurrContentSize(this.value) === 0) {
        currValue = currValue ? currValue.replace(/<p>(<br(\s\/|\/){0,}>){0,}<\/p>/gi, '<p><br/></p>') : '<p><br/></p>'
      }
      this.getMediumContent.innerHTML = currValue
      if (this.editor && this.editor.setContent) {
        this.editor.setContent(currValue)
      }
    },
    /**
     * 将medium的内容扔到v-model
     * @param e
     */
    handleInput (e) {
      let html = e.target.innerHTML
      let currHtmlSize = this.getCurrContentSize(html)
      this.$emit('contentOutOfSize', this.isOutSize)
      html = currHtmlSize > 0 ? html : ''
      this.$emit('input', html)
    },
    /**
     * 内容添加图片
     * @param e
     */
    toolbarStyle (e) {
      if (this.imageToolsOptions.ableTools && this.contenteditable) {
        this.insertBtnBox.style.display = 'block'
        if (this.screenW > 768) {
          let parant = e ? e.target : this.editor.getSelectedParentElement()
          while (parant && parant.tagName && parant.tagName.toLowerCase() !== 'p') {
            parant = parant.parentNode
          }
          if (parant) {
            let top = parant.offsetTop
            this.insertBtnBox.style.top = top + 'px'
          }
        }
      }
    },
    addImage () {
      if ((this.imageToolsOptions.ableTools && this.imageToolsOptions.ableUpload) || this.ableUpload) {
        this.$refs.imgUploader.$children[0].handleClick()
      }
    },
    imgHtml (res) {
      return `<p><img class="img" src="` + imgHost(res[this.uploadActionFieldName]) + `"/></p><p><br/></p>`
    },
    videoHtml (res) { // 插入视频
      return `<p><img class="img" src="` + imgHost(res[this.uploadActionFieldName])  + `"/></p>`
    },
    imgPhotoAlbumHtml (file) {
      return `<img class="img" src="` + file.imgUrl + `" data-storeId="` + file.storeId + `"/>`
    },
    uploadOnChange (file, fileList) {
      let obj = this
      let fileSize = file.raw.size / 1024 / 1024
      if (typeof(this.uploadOnAfterChange) === 'Function') {
        this.uploadOnAfterChange(file, fileList)
      }
      let submitData = new FormData()
      for (let item in this.uploadData) {
        submitData.append(item, this.uploadData[item])
      }
      if (this.isUploadCompression && fileSize > Number(this.compressionSize)) {
        imgCompression(file.raw, {}, function (blob) {
          if (obj.limitImgSize) {
            if (blob.size / 1024 / 1024 > obj.limitImgSize) {
              obj.msgError('图片资源过大 ，请重新上传')
              return
            }
          }
          submitData.append(obj.uploadName, blob)
          rest.create(obj.uploadAction, submitData, function(res) {
            obj.msgError(res.msg)
          }).then((res) => {
            obj.successUpload(res, file, fileList)
          })
        })
        return
      }
      submitData.append(this.uploadName, file.raw, file.name)
      rest.create(this.uploadAction, submitData, function(res) {
        obj.msgError(res.msg)
      }).then((res) => {
        obj.successUpload(res, file, fileList)
      })
    },
    successUpload (res, file, fileList) {
      if (res.code !== 1) {
        this.msgError(res.msg)
        return
      }
      if (typeof this.uploadOnAfterSuccess === 'function') {
        this.uploadOnAfterSuccess()
      }
      fileList.splice(fileList.indexOf(file), 1)
      let html = this.imgHtml(res)
      this.contentFile.image = this.contentFile.image || []
      let selectedParentElement = this.editor.getSelectedParentElement()
      if (selectedParentElement && selectedParentElement.tagName === 'IMG') {
        // todo 处理文件列表，去掉要被替换的图片
        let dataStoreId = selectedParentElement.getAttribute('data-storeId')
        let filterFiles = this.contentFile.image.filter(f => f.response.data.storeId === dataStoreId)
        if (filterFiles && filterFiles.length > 0 && this.contentFile.image.indexOf(filterFiles[0]) !== -1) {
          this.contentFile.image.splice(this.contentFile.image.indexOf(filterFiles[0]), 1, file)
        } else {
          this.contentFile.image.push(file)
        }
      } else {
        // 添加图片到附件列表
        this.contentFile['image'].push(file)
      }
      // this.editor.pasteHTML(html)
      let data = []
      data.push(1)
      data.push(html)
      this.insertOtherHtml(data)
    },
    addPhotoAlbumImage (item) {
      this.showPhotoAlbum = false
      let html = this.imgPhotoAlbumHtml(item)
      let selectedParentElement = this.editor.getSelectedParentElement()
      if (selectedParentElement && selectedParentElement.tagName === 'IMG') {
        // todo 处理文件列表，去掉要被替换的图片
        let dataStoreId = selectedParentElement.getAttribute('data-storeId')
        let filterFiles = this.contentFile.image.filter(f => f.response.data.storeId === dataStoreId)
        if (filterFiles && filterFiles.length > 0 && this.contentFile.image.indexOf(filterFiles[0]) !== -1) {
          this.contentFile.image.splice(this.contentFile.image.indexOf(filterFiles[0]), 1)
        }
      }
      this.editor.pasteHTML(html)
      // this.insertOtherHtml(html)
      // let currContent = this.editor.getContent()
      // currContent = currContent.replace(/&nbsp;|<p>&nbsp;<\/p>/gi, '')
    },
    insertIcon (path) {
      let src = `${this.$router.options.base}static/emoji/${path}`
      let icon = '<img src="' + src + '" data-face="' + path + '">'
      let data = []
      data.push(1)
      data.push(icon)
      this.insertOtherHtml(data)
    },
    insertOtherHtml (data) {
      if (data[0] === 2) {
        this.msgConfirm('选择此模板将清空当前编辑内容, 是否继续', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.editor.setContent(data[1])
        })
        return
      }
      this.insertTemplateHtml(data[1])
    },
    insertTemplateHtml (html) {
      const fn = () => {
        if (!this.range) {
          return
        }
        const r = this.range.cloneRange()
        if (!r) {
          return
        }
        r.setStart(r.endContainer, this.range.endOffset)
        r.setEnd(r.endContainer, this.range.endOffset)
        // hack: 连续两次 可以确保click后 focus回来 range真正生效
        this.applyRange(r)
        this.applyRange(r)
        document.execCommand('insertHtml', 0, html)
      }
      if (this.range) {
        fn()
      } else {
        this.mediumFocus()
        fn()
      }
    },
    mediumFocus () {
      this.getMediumContent.focus()
      const selection = window.getSelection()
      if (selection && selection.rangeCount > 0) {
        this.range = selection.getRangeAt(0)
      }
    },
    setCurrRange () {
      const selection = window.getSelection()
      if (selection && selection.rangeCount > 0) {
        this.range = selection.getRangeAt(0)
      }
    },
    applyRange (range) {
      const selection = window.getSelection()
      if (selection) { // 容错
        selection.removeAllRanges()
        selection.addRange(range)
      }
    }
  },
  beforeDestroy () {
    if (this.editor) {
      this.editor.destroy()
    }
  }
}
</script>
<style>
  @import '../../assets/css/variable.css';
  @import '../../assets/css/medium-editor.css';
  .article-section ol{
    list-style-type: decimal !important;
    list-style-position: inside;
  }
  .article-section ul {
    list-style-type: disc !important;
    list-style-position: inside;
  }
  .article-section {
    position: relative;
    & p >i{
      font-style: italic !important;
    }
    & > .upload-insertImg {
      height: 0;
    }
    & .article-body {
      -webkit-user-select:text;
      min-height: 136px;
      position: relative;
      outline: none;
      padding: 8px;
      line-height: 1.6;
      border: 1px solid var(--color-input);
      border-radius: 4px;
      width: 100%;
      overflow: scroll;
      & table td{

      }
    }
  }
  .atwho-content {
    position: relative;
  }
  .atwho-content img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    -ms-interpolation-mode: bicubic;
    border-style: none;
  }
  .photo-album img{
    width: 100%;
    height: auto;
  }
  .inset-btn {
    position: absolute;
    top: 8px;
    left: -28px;
    z-index: 1;
    display: block;
    transition: opacity .3s;
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      background: var(--color-primary);
      border-radius: 50%;
      box-shadow: inset 0 0 1px rgba(0, 0, 0, .2);
      color: #fff;
    }
  }
  .inset-btn-popover {
    width: 100%;
    max-width: 320px;
    height: 500px;
    padding: 1rem;
    overflow: hidden;
  }
  .has-content .medium-editor-placeholder:after{
    display: none;
  }
  .editor-upload{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
  }
  .edit-guide{
    position: absolute;
    right: 10px;
    top: -30px;
    cursor: pointer;
  }

  /*editor modal*/
  .editor-guide-modal{
    max-width: 600px;
    width: 100%;
    & .el-dialog__body{
      padding: 20px !important;
    }
    & .guide-ul{
      & li{
        padding-bottom: 50px;
        list-style: none;
      }
      & img{
        border: 1px solid #9da0a4;
        border-radius: 10px;
        box-shadow: 0 15px 15px rgba(15, 37, 64, 0.05);
      }
    }
    & .guide-title{
      font-size: 14px;
      padding-bottom: 10px;
      color: #4c505d;
      & span{
        color: var(--color-danger);
      }
      & em{
        font-style: initial;
      }
    }
  }
  @media only screen and (max-width: 768px){
    .inset-btn {
      position: absolute;
      left: auto;
      top: -27px !important;
      right: 4px;
    }
    .edit-guide {
      top: auto;
      bottom: -30px;
    }
    .editor-guide-modal{
      & .el-dialog__body{
        background: #fff;
      }
      & .guide-ul{
        & li{
          padding-bottom: 30px;
        }
      }
    }
  }
 .medium-editor-toolbar-fontSize,.medium-editor-toolbar-fontColor,.medium-editor-toolbar-fontBgColor {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    top: 101%;
    width: 60px;
  }
  .medium-editor-toolbar-fontSize ul li,.medium-editor-toolbar-fontColor ul li,
  .medium-editor-toolbar-fontBgColor ul li{
    display: block;
    width: 60px;
    text-align: center;
    padding: 2px 0;
    cursor: pointer;
    &:hover {
      background: #f1f1f1;
    }
  }
  .medium-editor-element .blog-img-box {
    position: relative;
    min-height: 100px;
    & img {
      position: relative;
      z-index: 1;
    }
    &:before {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      align-items: center;
      justify-content: center;
      border: 1px dashed #ddd;
      content: attr(data-placeholder);
    }
  }
</style>
