<template>
  <div class="atwho-content">
    <medium-editor
      v-model="content"
      :image-tools-options="imageToolsOptions"
      :use-at-user="false"
      :contenteditable="true"
      :options="options"></medium-editor>
    {{content}}
    <medium-editor
      ref="blogMedium"
      v-model="content1"
      @paste-event="uploadClipboardImage"
      :use-at-user="false"
      :contenteditable="true"
      :able-upload="true"
      :options="mediumOptions"
      @content-file-sucess="contentFileSucess"></medium-editor>
    {{content1}}
  </div>
</template>
<script>
import MediumEditor from './MediumEditor'
import MediumButton from 'medium-button'
export default {
  components: {
    MediumEditor,
    MediumButton
  },
  data () {
    return {
      content: '<p style="margin-top: 0px; margin-bottom: 0px; text-align: center;"><span style="font-size: 14px; font-weight: bolder; color: rgb(89, 89, 89);">| 展览地点 |</span></p>',
      content1: '<h2 style="font-size: 14px;padding: 2px 0;display: inline-block;color: #333;">☎ 联系方式</h2>',
      imageToolsOptions: {
        ableTools: true,
        ableUpload: true,
        ablePhotoAlbum: true
      },
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholder: {
          text: '在这里分享你的正文...',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      },
      options: {
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
        },
        extensions: {
          'warning': new MediumButton({
            label: '<i class="color-danger fa fa-font"></i>',
            start: '<span style="color:#ff4949;">',
            end: '</span>'
          })
        }
      }
    }
  },
  methods: {
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    },
    contentFileSucess (contentFiles) {
      this.contentFile = contentFiles
    }
  }
}
</script>
<style scoped="">
</style>
