<template>
  <section class="note-section">
    <ul class="note-list">
      <li class="flatform" @click="change('FloatformNotifyItem')">
        <el-badge is-dot class="item margin-r">
          <div class="icon-box">
            <i class="el-icon-message"></i>
          </div>
        </el-badge>
        <div>
          <div class="note-name">平台公告<span class="time">2018-07-01 11:04</span></div>
          <div class="margin-t6 font-s12 color-secondary">最新一条信息的标题</div>
        </div>
      </li>
      <li class="activity" @click="change('ActivityNotifyItem')">
        <el-badge is-dot class="item margin-r" :hidden="true">
          <div class="icon-box">
            <i class="el-icon-star-off"></i>
          </div>
        </el-badge>
        <div>
          <div class="note-name">精选活动</div>
          <div class="margin-t6 font-s12  color-secondary">暂无新消息</div>
        </div>
      </li>
    </ul>
    <keep-alive>
      <transition name="fade-in-right">
        <component :is="componnetName" :classify="classification" class="list-classifi" @close="componnetName=''"></component>
      </transition>
    </keep-alive>
  </section>
</template>

<script>
// import FloatformNotifyItem from './items/FloatformNotifyItem'
// import ActivityNotifyItem from './items/ActivityNotifyItem'

export default {
  data () {
    return {
      componnetName: '',
      classification: ''
    }
  },
  methods: {
    change (nv) {
      this.componnetName = 'NoteBaseItem'
      this.classification = nv
      // console.log(nv)
    }
  },
  components: {
    NoteBaseItem: () => import('./items/BaseItem')
  }
}
</script>

<style>
  @import '../../assets/css/variable.css';
  .note-section {
    height: 470px;
    overflow: hidden;
  }
  .note-list {
    margin: 0;
    list-style: none;
    & li {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      cursor: pointer;
      padding: 0 6px;
      &:last-child .item + div{
        border-bottom: none;
      }
      &:hover {
        background: #fbfbfb;
      }
    }
    & .icon-box {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 24px;
      border-radius: 50%;
      background: #eee;
      color: #fff;
    }
    & .item + div {
      flex: 1 1 0;
      padding: 10px 0;
      border-bottom: 1px solid #f4f4f4;
      transition: background .3s;
    }
    & .flatform .icon-box{
      background-color: var(--color-danger);
    }
    & .activity .icon-box {
      background-color: var(--color-warning);
    }
    & .note-name span{
      font-size: 0.625rem;
      color: var(--color-secondary);
      float: right;
    }
  }
</style>
