<template>
  <div class="bank-dialog">
    <el-dialog
      :visible.sync="showBlogForm"
      title="每日加奖设置"
      append-to-body
      @close="closeClear"
      :close-on-click-modal="true"
      custom-class="mini-reveal-modal discount-dialog activity-discount-style">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="table-style text-center">
          <scroll :id="'scrollId1'" class="el-table">
            <el-table
              :data="allList"
              v-loading="loading"
              element-loading-spinner="dafa-icon-loading01 dafa-icon"
              element-loading-customClass="loadingClass"
              ref="multipleTable"
              style="width: 100%">
              <el-table-column
                class-name="more-padding"
                min-width="120">
                <template slot-scope="scope">
                  <span v-if="scope.$index === 0"  class="bold-font">等级/昨日投注</span>
                  <span v-else>VIP{{scope.row.grade}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="第一档"
                min-width="160">
                <template slot-scope="scope">
                  <template v-if="scope.$index === 0">
                    <div :class="{'red-input':validate[0]}">
                      <el-input-number v-if="scope.$index === 0" size="mini" v-model="valueList[0]"  :precision="2"  :min="0"   :controls="false" class="reward-input" @change="validateChange()"></el-input-number> <i> +</i>
                      <span class="red-note">输入的金额必须大于0</span>
                    </div>
                  </template>
                  <span v-else>{{scope.row.rewards[0][keyList[0]]}} %</span>
                </template>
              </el-table-column>
              <el-table-column
                min-width="160"
                label="第二档">
                <template slot-scope="scope">
                  <template v-if="scope.$index === 0">
                    <div :class="{'red-input':validate[1]}">
                      <el-input-number v-if="scope.$index === 0" size="mini" v-model="valueList[1]" :precision="2" :min="0" :controls="false" class="reward-input" @change="validateChange()"></el-input-number>  <i> +</i>
                      <span class="red-note">输入的金额必须大于0</span>
                    </div>
                  </template>
                  <span v-else>{{scope.row.rewards[1][keyList[1]]}} %</span>
                </template>
              </el-table-column>
              <el-table-column
                min-width="155"
                label="第三档">
                <template slot-scope="scope">
                  <template v-if="scope.$index === 0">
                    <div :class="{'red-input':validate[2]}">
                      <el-input-number v-if="scope.$index === 0" size="mini" v-model="valueList[2]" :precision="2"   :min="0" :controls="false" class="reward-input" @change="validateChange()"></el-input-number>  <i> +</i>
                      <span class="red-note">输入的金额必须大于0</span>
                    </div>
                  </template>
                  <span v-else>{{scope.row.rewards[2][keyList[2]]}} %</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click.stop="submitForm" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/activity'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      valueList: [],
      keyList: [],
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      vailValue: true,
      allList: [],
      validate: [false, false, false],
      valueNumber: false
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
    Scroll
  },
  methods: {
    validateChange () {
      let bouns = 0
      for (let i = 0; i < 3; i++) {
        if (this.valueList[i] <= 0) {
          this.validate[i] = true
        } else {
          this.validate[i] = false
        }
        if (bouns !== 0 && this.valueList[i] <= bouns) {
          this.msgError('高一档投注金额必须大于上一档投注金额')
          this.valueNumber = false
          return
        } else if (this.valueList[i] > 99999999.99) {
          this.msgError('请输入八位内数字')
          this.valueNumber = false
          return
        } else {
          this.valueNumber = true
        }
        bouns = this.valueList[i]
      }
    },
    closeClear () {
      this.$emit('onClose')
      this.keyList = []
    },
    submitForm () {
      if (!this.valueNumber) {
        this.valueNumber = true
        return false
      }
      let bouns = 0
      for (let i = 0; i < 3; i++) {
        if (this.valueList[i] <= 0) {
          this.validate[i] = true
          return
        } else {
          this.validate[i] = false
          if (bouns !== 0 && this.valueList[i] <= bouns) {
            this.msgError('高一档投注金额必须大于上一档投注金额')
            return
          } else if (this.valueList[i] > 99999999.99) {
            this.msgError('请输入八位内数字')
            return
          }
        }
        bouns = this.valueList[i]
      }
      this.submitLoading = true
      let arry = Array.from(new Set(this.valueList))
      if (this.valueList.length !== arry.length) {
        this.submitLoading = false
        this.msgError('加奖设置不能输入重复')
        return
      }
      for (let i = 0; i < this.valueList.length; i++) {
        if (this.valueList[i] === '' || this.valueList[i] === undefined) {
          this.submitLoading = false
          this.msgError('加奖设置不能为空')
          return
        }
      }
      let parame = {
        betAmounts: this.valueList.join(',')
      }
      Api.setRewardRate(parame, function () {
        this.submitLoading = false
      }).then((res) => {
        this.msgSuccess('保存成功')
        this.showBlogForm = false
        this.closeClear()
        this.$nextTick(function () {
          this.submitLoading = false
        })
      })
    },
    getOrderList () {
      let submitData = {}
      this.loading = true
      Api.getCmsRewardRate(submitData, function () {
        this.loading = false
      }).then((res) => {
        this.allList = res.data
        let obj = res.data[0]
        this.allList.unshift(obj)
        this.valueList = []
        let allObject = Object.assign(this.allList[0].rewards[0], this.allList[0].rewards[1], this.allList[0].rewards[2])
        for (let key in allObject) {
          this.valueList.push(key)
          this.keyList.push(key.toString())
        }
        this.$nextTick(function () {
          this.loading = false
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.getOrderList()
          this.validate = [false, false, false]
          this.valiValue = [false, false, false]
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>

  .discount-dialog .text-center{
    & .bold-font{
      font-weight: bold;
    }
    &.el-dialog__body{
      padding: 0 !important;
    }
    & .text-center{
      & .cell{
        text-align: center !important;
      }
      & .more-padding .cell{
        padding: 15px 10px 15px 20px !important;
      }
      & .el-input-number {
        width: 100px;
        & input{
          padding: 0 10px !important;
        }
      }
    }
  }
  .activity-discount-style{
    & .el-input-number {
      width: 100px;}
    & .el-table__body-wrapper tr:first-child {
      & td{
        padding: 0 !important;
      }
      & .cell{
        padding: 20px 10px !important;
        position: relative;
      }
    }
    & .red-note{
      bottom: -2;
    }
  }
</style>
