<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '活动禁止编辑':'新增活动禁止'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-position="top" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="会员账号" prop="userName">
              <el-input placeholder="请输入会员账号" size="min" v-model="ruleForm.userName">
              </el-input>
            </el-form-item>
            <el-form-item label="禁止活动" prop="activityName" class="rwd-width50">
              <el-checkbox-group v-model="ruleForm.activityName"  class="checkbox-style">
                <el-checkbox label="每日加奖" name="activityName"></el-checkbox>
                <el-checkbox label="晋级奖励" name="activityName"></el-checkbox>
                <el-checkbox label="充值优惠" name="activityName"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <!--<div class="text-style absolute-style">＊限定字数100字</div>-->
              <el-input placeholder="请输入备注，限定字数100字" size="min" v-model="ruleForm.remark">
              </el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/activity'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      checkList: [],
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        activityName: [],
        remark: ''
      },
      rules: {
        userName: [
          { required: true, message: '请输入会员账号', trigger: 'blur' }
        ],
        activityName: [
          { type: 'array', required: true, message: '请选择禁止活动类型', trigger: 'blur' }
        ],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' },
          {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        submitData.activityName = this.ruleForm.activityName.join(',')
        Api.setActivityBan(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
          }
          this.ruleForm.userName = this.data.userName
          this.ruleForm.activityName = []
          if (this.data.name) {
            this.ruleForm.activityName = this.data.name.split(',')
          }
          this.ruleForm.remark = this.data.remark
          this.loading = false
        })
      }
    }
  }
}
</script>
<!--<style scoped>-->
  <!--.width150 {-->
    <!--width: 380px;-->
  <!--}-->
  <!--.el-form {-->
    <!--width: 100%;-->
  <!--}-->
  <!--@media screen and (max-width:1023px){-->

    <!--.width150 {-->
      <!--width: 100%;-->
    <!--}-->
    <!--.admin-btn{-->
      <!--& .el-form-item__content{-->
        <!--display:inline-block;-->
        <!--margin-left:10px;-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--</style>-->
