<template>
  <div class="bank-dialog">
    <el-dialog
      :visible.sync="showBlogForm"
      title="晋级奖励设置"
      append-to-body
      @close="closeClear"
      :close-on-click-modal="true"
      custom-class="mini-reveal-modal discount-dialog activity-reward-style">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="table-style form-style text-center">
          <scroll :id="'scrollId1'" class="el-table">
            <el-table
              :data="allList"
              v-loading="loading"
              element-loading-spinner="dafa-icon-loading01 dafa-icon"
              element-loading-customClass="loadingClass"
              ref="multipleTable"
              style="width: 100%">
              <el-table-column
                label="VIP等级"
                min-width="120" >
                <template slot-scope="scope"><span >VIP{{scope.row.grade}}</span></template>
              </el-table-column>
              <el-table-column
                prop="experience"
                label="成长积分"
                min-width="160">
              </el-table-column>
              <el-table-column
                min-width="160"
                label="晋级奖励(元)"
                class-name="more-height">
                <template slot-scope="scope">
                  <div :class="{'red-input':validate[scope.row.grade - 1] === true}">
                    <el-input-number :class="{'red-line': scope.row.red}" size="mini" v-model="scope.row.bonus" :precision="2" :min="0" :controls="false" @change="changeNumber()" :disabled="scope.row.grade === 1"></el-input-number>
                    <span class="red-note">输入的金额必须大于0</span>
                  </div>
                </template>
              </el-table-column>
              <el-table-column
                min-width="155"
                label="跳级奖励(元)">
                <template slot-scope="scope">{{scope.row.jumpBonus | formatMoney}}</template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click="submitForm" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/activity'
import Scroll from '@/components/Scroll'
// import {formatMoney} from '@/filters/index'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      allList: [],
      ruleForm: {},
      loadingMsg: '正在拼命加载中...',
      multipleSelection: [],
      validate: []
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
    Scroll
  },
  methods: {
    changeNumber () {
      let number = 0
      let bonus = 0
      for (let i = 0; i < this.allList.length; i++) {
        if (bonus) {
          if (this.allList[i].bonus <= bonus) {
            this.msgError('高等级奖励金额必须大于低等级奖励金额')
          }
        }
        if (this.allList[i].bonus === '' || this.allList[i].bonus === undefined) {
          this.allList[i].bonus = 0
        }
        if (this.allList[i].bonus === 0 && i !== 0) {
          this.validate[i] = true
        } else {
          this.validate[i] = false
        }
        this.allList[i].jumpBonus = number + this.allList[i].bonus
        number = number + this.allList[i].bonus
        bonus = this.allList[i].bonus
      }
    },
    closeClear () {
      this.$emit('onClose')
    },
    submitForm () {
      this.submitLoading = true
      let arr = []
      let bonus = 0
      for (let i = 0; i < this.allList.length; i++) {
        let itemsBonus = this.allList[i].bonus
        if (i !== 0) {
          if (itemsBonus === 0) {
            this.submitLoading = false
            return
          } else if (bonus > itemsBonus) {
            this.msgError('高等级奖励金额必须大于低等级奖励金额')
            this.submitLoading = false
            return
          }
        }
        arr.push(itemsBonus)
        bonus = itemsBonus
      }
      let parame = {
        bonus: arr.join(',')
      }
      Api.setUpgradeConfig(parame, function () {
        this.submitLoading = false
      }).then((res) => {
        this.msgSuccess('保存成功')
        this.showBlogForm = false
        this.$nextTick(function () {
          this.submitLoading = false
        })
      })
    },
    getList () {
      let submitData = {}
      this.loading = true
      Api.getCmsUpgradeConfig(submitData, function () {
        this.loading = false
      }).then((res) => {
        this.allList = res.data
        // for ()
        this.$nextTick(function () {
          this.loading = false
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.getList()
          this.validate = []
          for (let i = 0; i < 9; i++) {
            this.validate.push('false')
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
  .discount-dialog{
    &.el-dialog__body{
      padding: 0 !important;
    }
    & .more-padding .cell{
      padding: 6px 10px 6px 20px !important;
    }
    & .text-center{
      & .cell{
        text-align: center !important;
      }
      & .el-input-number {
        & input{
          padding: 0 10px !important;
        }
      }
    }
  }
  .activity-reward-style{
    & .el-input-number {
      width: 130px;
    }
    & .red-note{
      position: relative !important;
      display: none;
    }
    & .red-input{
      & .red-note{
        display: block;
         left: auto;
        bottom: auto;
        transform: translate(0, 1px);
      }
    }
  }
</style>
