<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      @close="closeClear"
      title="棋牌编辑"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <template>
        <div>
          <el-form :model="ruleForm" :rules="rules" ref="ruleForm"  size="small" label-position="top">
            <el-form-item label="棋牌名称">
              <template>
                <el-input type="text" v-model="data.gameName"  disabled size="min"></el-input>
              </template>
            </el-form-item>
            <el-form-item label="开奖时间"  prop="lotteryTime">
              <el-input type="text" v-model="ruleForm.lotteryTime"></el-input>
            </el-form-item>
            <el-form-item  label="玩法规则" prop="lotteryRule">
              <el-input
                type="textarea"
                :rows="2"
                autosize
                resize="none"
                v-model="ruleForm.lotteryRule"
                placeholder="请输入内容"
              ></el-input>
            </el-form-item>
            <el-form-item   label="牌型大小" prop="cardMax">
              <el-input
                type="textarea"
                :rows="2"
                autosize
                resize="none"
                v-model="ruleForm.cardMax"
                placeholder="请输入内容"
              ></el-input>
            </el-form-item>
            <el-form-item  v-if="data.gameName === '红黑大战'" label="点数大小" prop="pointSize">
              <el-input
                type="textarea"
                :rows="2"
                resize="none"
                v-model="ruleForm.pointSize"
                placeholder="请输入内容"
              ></el-input>
            </el-form-item>
            <el-form-item v-if="data.gameName === '红黑大战'" label="花色大小" prop="flowerSize">
              <el-input
                type="textarea"
                :rows="2"
                resize="none"
                v-model="ruleForm.flowerSize"
                placeholder="请输入内容"
              ></el-input>
            </el-form-item>
            <el-form-item label="牌型" v-if="data.gameName !== '龙虎大战'" >
              <el-row :gutter="24">
                <el-col :sm="12" :xs="12">
                  <el-input
                    type="text"
                    size="medium"
                    v-model="titleval"
                    placeholder="标题"
                  ></el-input>
                </el-col>
                <el-col :sm="12" :xs="12">
                  <el-input
                    type="text"
                    size="medium"
                    v-model="describeval"
                    placeholder="描述"
                  ></el-input>
                </el-col>
              </el-row>
            </el-form-item>
            <el-form-item v-if="data.gameName !== '龙虎大战'" label="编辑牌型" class="card-box">
              <div class="card-header poker-box">
                <el-popover
                  placement="bottom"
                  width="410"
                  trigger="click">
                  <template>
                    <div style="height: 500px;overflow-y: scroll">
                      <el-checkbox @change="choicetype(item)"  v-for="(item,index) in checked" v-model="item.check"  :key="index" class="check-item" border style="float: left; height: 55px;width:80px;display: flex;align-items: center;margin-left: 10px;margin-top: 5px">
                        <div class="poker-box"><div class="poker-img"  :class="['p' + item.value]"></div></div>
                      </el-checkbox>
                    </div>
                  </template>
                  <el-button type="text" size="mini" slot="reference"><span class="color-bluebutton resetBtn">选择牌型</span></el-button>
                </el-popover>
                <el-button type="text" size="mini" slot="reference" @click="addPi()"><span class="color-bluebutton resetBtn">+新增</span></el-button>
              </div>
              <div class="card-content margin-t6 poker-box ">
                <span v-if="value6.length === 0" class="text-style no-card"><div >尚未选择牌型</div></span>
                <div style="float:left;margin-top: 3px" v-for="(item, index) in value6" closable  type="info"  class="poker-img bg" :key="index"  :class="['p' + item]"></div>
              </div>
            </el-form-item>
            <template v-if="data.gameName !== '龙虎大战' && tableData.length > 0">
              <div class="table-style poker-box">
                <el-table
                  :data="tableData"
                  border
                  style="width: 100%">
                  <el-table-column
                    label="标题"
                    min-width="80">
                    <template slot-scope="scope">
                      <span>{{ scope.row.titleval }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="描述"
                    min-width="180">
                    <template slot-scope="scope">
                      {{ scope.row.describeval }}
                    </template>
                  </el-table-column>
                  <el-table-column label="牌型"  min-width="200">>
                    <template slot-scope="scope">
                      <div style="display:flex">
                        <div  v-for="item in scope.row.value6" :key="item" > <div class="poker-img bg" :class="['p' + item]"></div></div>
                      </div>
                    </template>
                  </el-table-column>
                  <el-table-column label="操作" width="69px">
                    <template slot-scope="scope">
                      <div class="state-btn">
                      <el-button size="mini" @click="deletelist(scope.row)">删除</el-button>
                      </div>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </template>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      checked: [],
      value6: '',
      titleval: '',
      describeval: '',
      tableData: [],
      ruleForm: {
        lotteryTime: '',
        lotteryRule: '',
        cardMax: '',
        pointSize: '',
        flowerSize: ''
      },
      rules: {
        lotteryTime: [
          { required: true, message: '请输入开奖时间', trigger: 'blur' }
        ],
        lotteryRule: [
          { required: true, message: '请输入玩法规则', trigger: 'blur' }
        ],
        cardMax: [
          { required: true, message: '请输入牌型大小', trigger: 'blur' }
        ],
        pointSize: [
          { required: true, message: '请输入点数大小', trigger: 'blur' }
        ],
        flowerSize: [
          { required: true, message: '请输入花色大小', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    titleName: String
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    // 增加玩法
    addPi () {
      if (!this.titleval) {
        this.msgError('请输入标题')
        return
      }
      if (!this.describeval) {
        this.msgError('请输入描述')
        return
      }
      if (this.value6.length === 0) {
        this.msgError('请选择牌型')
        return
      }
      let data = {
        titleval: this.titleval,
        describeval: this.describeval,
        value6: this.value6
      }
      this.tableData.push(data)
      this.titleval = ''
      this.describeval = ''
      this.value6 = []
      for (let i = 0; i < this.checked.length; i++) {
        this.checked[i].check = false
      }
    },
    closePi (index, item) {
      this.value6.splice(index, 1)
      for (let i = 0; i < this.checked.length; i++) {
        if (this.checked[i].value === item) {
          this.checked[i].check = false
        }
      }
    },
    // 删除牌型
    deletelist (item) {
      for (let i = 0; i < this.tableData.length; i++) {
        if (this.tableData[i].titleval === item.titleval && this.tableData[i].value6 === item.value6 && item.describeval === this.tableData[i].describeval) {
          this.tableData.splice(i, 1)
        }
      }
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    // 选择牌型
    choicetype (item) {
      let arry = []
      for (let i = 0; i < this.checked.length; i++) {
        if (this.checked[i].check) {
          arry.push(this.checked[i].value)
        }
      }
      if (this.data.gameName === '百人牛牛') {
        if (arry.length > 5) {
          item.check = false
          this.msgError('牌型不能大于5张')
          return
        }
      }
      if (this.data.gameName === '红黑大战') {
        if (arry.length > 3) {
          item.check = false
          this.msgError('牌型不能大于3张')
          return
        }
      }
      this.value6 = arry
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          let obj = this
          this.submitLoading = true
          let json = {
            lotteryTime: this.addjson('开奖时间', this.ruleForm.lotteryTime),
            lotteryRule: this.addjson('玩法规则', this.ruleForm.lotteryRule),
            cardMax: this.addjson('牌型大小', this.ruleForm.cardMax),
            pointSize: this.addjson('点数大小', this.ruleForm.pointSize),
            flowerSize: this.addjson('花色大小', this.ruleForm.flowerSize),
            cardType: this.tableData
          }
          let data = {
            gameCode: obj.data.gameCode,
            content: JSON.stringify(json)
          }
          console.log(json.lotteryRule)
          Api.updateHowToPlay(data, function () {
            obj.submitLoading = false
            obj.$refs[formName].resetFields()
          }).then((res) => {
            this.msgSuccess('保存成功')
            if (res.code === 1) {
              obj.submitLoading = false
              obj.tableData = []
              obj.value6 = []
              obj.$refs[formName].resetFields()
              obj.closeClear()
            }
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    addjson (title, val) {
      console.log(val)
      let str = ''
      if (!val) {
        str = ''
      } else {
        let data = {
          title: title,
          val: val.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, '&nbsp;')
        }
        str = data
      }
      return str
    }
  },
  components: {
    MediumEditor
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.checked = []
        for (let i = 4; i <= 55; i++) {
          let data = {
            check: false,
            value: i
          }
          this.checked.push(data)
        }
        console.log(this.data)
        this.$nextTick(function () {
          this.loading = false
          let submitData = {}
          submitData.gameCode = this.data.gameCode
          Api.gamehowToPlay(submitData, function () {
          }).then((res) => {
            if (res.code === 1) {
              this.value6 = []
              let form = JSON.parse(res.data)
              if (form.lotteryTime.val) {
                let lotteryTime = form.lotteryTime.val.replace(/<br\/>/g, '\n')
                this.ruleForm.lotteryTime = lotteryTime.replace(/&nbsp;/g, ' ')
              }
              if (form.lotteryRule.val) {
                let lotteryRule = form.lotteryRule.val.replace(/<br\/>/g, '\n')
                this.ruleForm.lotteryRule = lotteryRule.replace(/&nbsp;/g, ' ')
              }
              if (form.cardMax.val) {
                let cardMax = form.cardMax.val.replace(/<br\/>/g, '\n')
                this.ruleForm.cardMax = cardMax.replace(/&nbsp;/g, ' ')
              }
              if (form.pointSize.val) {
                let pointSize = form.pointSize.val.replace(/<br\/>/g, '\n')
                this.ruleForm.pointSize = pointSize.replace(/&nbsp;/g, ' ')
              }
              if (form.flowerSize.val) {
                let flowerSize = form.flowerSize.val.replace(/<br\/>/g, '\n')
                this.ruleForm.flowerSize = flowerSize.replace(/&nbsp;/g, ' ')
              }
              this.tableData = form.cardType
            }
          })
        })
      }
    }
  }
}
</script>
<style scoped>
.check-item{
  height: 55px;width:80px;display: flex;align-items: center
}
.card-box{
  position: relative;
}
.card-header {
  position: absolute;
  right: 0;
  top: -28px;
}
.card-content{
  border: 1px solid var(--color-border);
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.no-card{
  text-align: center;
  width: 100%;
  display: inline-block;
}
.poker-img{
  margin-right: 8px;
}
.el-tag{
  height: 55px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px !important;
}
</style>
