<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="titleName + '编辑'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-position="top" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item :label="titleName + '名称'" prop="lotteryName">
              <template>
                <el-input v-model="ruleForm.name"  disabled size="min"></el-input>
              </template>
            </el-form-item>
            <el-form-item label="玩法说明" class="content-style" prop="content" >
              <medium-editor
                ref="content"
                v-model="ruleForm.content"
                @paste-event="uploadClipboardImage"
                :use-at-user="false"
                :contenteditable="true"
                :able-upload="true"
                :options="mediumOptions"
              ></medium-editor>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        lotteryCode: '',
        lotteryName: '',
        content: ''
      },
      rules: {
        content: [
          { required: true, message: '请输入内容', trigger: 'blur' }
        ]
      },
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholder: {
          text: '在这里分享你的正文...',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'indent', 'outdent', 'justifyLeft', 'justifyCenter', 'justifyFull', 'orderedlist', 'unorderedlist', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'fontBgColor', 'removeFormat']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    titleName: String
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let dataList = {}
        if (this.titleName === '彩种') {
          dataList.lotteryCode = this.ruleForm.code
          dataList.lotteryName = this.ruleForm.name
          dataList.content = this.ruleForm.content
          Api.setHowToPlay(dataList, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
        } else {
          dataList.gameCode = this.ruleForm.code
          dataList.content = this.ruleForm.content
          Api.updateHowToPlay(dataList, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
        }

        return true
      })
    }
  },
  components: {
    MediumEditor
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          if (this.titleName === '彩种') {
            this.ruleForm.code = this.data.lotteryCode
            this.ruleForm.name = this.data.lotteryName
            this.ruleForm.content = this.data.lotteryContent
          } else {
            let submitData = {}
            submitData.gameCode = this.data.gameCode
            Api.gamehowToPlay(submitData, function () {
            }).then((res) => {
              this.ruleForm.code = this.data.gameCode
              this.ruleForm.name = this.data.gameName
              this.ruleForm.content = res.data
            })
          }
          this.loading = false
        })
      }
    }
  }
}
</script>
