<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="(data.lotteryCode?'修改':'新增')+'站长彩种'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" label-width="80px" size="small" ref="ruleForm" :label-position="screenW>768?'left':'top'" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="彩种类型" :prop="!data.lotteryCode?'lotteryCode':''">
              <el-select v-model="ruleForm.lotteryCode" :disabled="data.lotteryCode?true:false" label="彩种类型" :size="'mini'" class="width-forword" placeholder="请选择彩种类型">
                <el-option v-for="(item,index) in lottoyTypeList" :key="index" :label="item.lotteryName" :value="item.lotteryCode"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="彩种名称" class="not-line-item" prop="lotteryName">
                <el-input v-model="ruleForm.lotteryName" placeholder="输入要命名的前缀，最多仅限2个汉字或3个字符" size="min"></el-input>
            </el-form-item>
            <div class="text-style">温馨提示：每个彩种类型只能新增1个，需点击上架销售才会出现在前台和后台的“彩票管理”。</div>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        lotteryCode: '',
        lotteryName: ''
      },
      rules: {
        lotteryCode: [
          { required: true, message: '请选择彩种类型', trigger: 'blur' }
        ],
        lotteryName: [
          { required: true, message: '请输入彩种名称', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    titleName: String,
    lottoyTypeList: Array
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    isPost () {
      let lotteryName = this.ruleForm.lotteryName
      let reg = /[\u4e00-\u9fa5]/g
      let isHanZi = lotteryName.match(reg)
      if (isHanZi) {
        if (lotteryName.length > 2) {
          return true
        }
        return false
      } else {
        if (lotteryName.length > 3) {
          return true
        }
        return false
      }
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      let isApis = this.data.lotteryCode ? 'updateTenantLotteryName' : 'addTenantLottery'
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.isPost()) {
          this.submitLoading = false
          this.msgError('命名的前缀,最多仅限2个汉字或3个字符')
          return false
        }
        let submitData = JSON.parse(JSON.stringify(this.ruleForm))
        Api[isApis](submitData, function () {
          obj.submitLoading = false
        }).then(res => {
          this.submitLoading = false
          if (res.code === 1) {
            this.closeClear()
            this.$parent.getOrderList()
          }
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
    },
    data (nv) {
      if (nv.lotteryCode) {
        let obj = {
          1418: /快3$/,
          1018: /时时彩$/,
          1312: /PK10$/,
          1419: /5分快3$/,
          1019: /5分时时彩$/,
          1313: /5分PK10$/
        }
        let reg = obj[nv.lotteryCode]
        this.ruleForm = {
          lotteryCode: nv.lotteryCode,
          lotteryName: nv.lotteryName.replace(reg, '')
        }
      } else {
        this.ruleForm = {
          lotteryCode: '',
          lotteryName: ''
        }
      }
    }
  }
}
</script>
<style>
/* 强制表单内容单独取一行 */
.not-line-item{
  & .el-form-item__content{
    margin-left:0!important;
  }
}
</style>
