<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '管理员编辑':'新增管理员'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :rules="rules" size="small" ref="ruleForm"  class="form" label-position="top" v-loading="loading"
                 element-loading-customClass="loadingClass"  element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="管理账号" prop="managerName">
            <el-input v-model="ruleForm.managerName"  placeholder="只能为字母、数字 新增后不可修改"></el-input>
          </el-form-item>
          <template v-if="ruleForm.id">
            <el-form-item label="登录密码" prop="password" :rules="rulesEditPassword">
              <el-input type="password"  v-model="ruleForm.password" auto-complete="off" :placeholder="isChangePwd ? '密码长度6-16位字符' : '******'" @change="isChangePwd = true"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPassword" :rules="rulesEditCheckPassword">
              <el-input type="password"  v-model="ruleForm.checkPassword" auto-complete="off" :placeholder="isChangeCheckPwd ? '密码长度6-16位字符' : '******'" @change="isChangeCheckPwd = true"></el-input>
            </el-form-item>
          </template>
          <template v-else>
            <el-form-item label="登录密码" prop="password" :rules="rulesAddPassword">
              <el-input type="password"  v-model="ruleForm.password" auto-complete="off" placeholder="密码长度6-16位字符"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPassword" :rules="rulesAddCheckPassword">
              <el-input type="password"  v-model="ruleForm.checkPassword" auto-complete="off" placeholder="密码长度6-16位字符"></el-input>
            </el-form-item>
          </template>
          <el-form-item label="用户姓名" prop="realName">
            <el-input  v-model="ruleForm.realName" auto-complete="off" placeholder="可选项"></el-input>
          </el-form-item>
          <el-form-item label="平台角色" prop="managerProleId">
            <div class="button-box">
              <el-button type="text" icon="el-icon-plus"  size="mini" @click="openPlatFormRoleNewForm"><span class="color-bluebutton">新增角色</span></el-button>
            </div>
            <el-select v-model="ruleForm.managerProleId" filterable placeholder="请选择平台角色">
              <el-option v-for="n in PlatformOptions" :label="n.name" :value="n.id" :key="n.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="站点角色" prop="managerTroleId" >
            <div class="button-box">
                <el-button type="text" icon="el-icon-plus" size="mini" @click="openRoleNewForm"><span class="color-bluebutton">新增角色</span></el-button>
            </div>
            <el-select v-model="ruleForm.managerTroleId" filterable placeholder="请选择站长角色">
              <el-option v-for="n in siteRoleOptions" :label="n.name" :value="n.id" :key="n.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="站点选择" class="selected-style unmax-height-input">
            <div class="button-box">
              <el-checkbox  v-model="isAll" size="mini" @change="clickIsAll" type="text" class="margin-r6"><span class="color-bluebutton">全选</span></el-checkbox>
              <el-button size="mini" @click="resetSiteData" type="text"><span class="color-blue">重置</span></el-button>
            </div>
            <el-select
              v-model="manageableList"
              multiple
              filterable
              allow-create
              default-first-option
              v-show="!isAll"
              placeholder="请选择站点标签" >
              <el-option
                v-for="item in siteOptions"
                :key="item.tenantCode"
                :label="item.name"
                :value="item.tenantCode">
              </el-option>
            </el-select>
            <el-input  v-show="isAll" placeholder="已选取全部" disabled class="height-select32"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button  size="mini" type="primary" @click="submitForm('ruleForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
    <site-role-form
      :data="selectData"
      :visible="SiteRoleNewShow"
      v-on:onClose="SiteRoleNewShow=false"
    ></site-role-form>
    <plat-form-role-form
      :data="selectData"
      :visible="PlatFormRoleNewShow"
      v-on:onClose="PlatFormRoleNewShow=false"
    ></plat-form-role-form>
  </div>
</template>
<script>
import SiteRoleForm from '@/views/newModal/SiteRoleForm'
import PlatFormRoleForm from '@/views/newModal/PlatFormRoleForm'
import {validateRules} from '@/utils/validateRules'
import Api from '@/api/tenant'
import md5 from 'js-md5/build/md5.min'
export default {
  data () {
    let validatePass = (rule, value, callback) => {
      if (value === '' || value === undefined || value === null) {
        callback(new Error('请输入密码'))
      } else {
        if (value.length < 6 || value.length > 16) {
          callback(new Error('密码长度在 6 到 16 个字符'))
          return
        }
        let vdt = validateRules.vdata(value, {
          'password': {}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
          return
        }
        if (this.ruleForm.checkPassword) {
          this.$refs.ruleForm.validateField('checkPassword')
        }
        callback()
      }
    }
    let validatePass2 = (rule, value, callback) => {
      if (value === '' || value === undefined || value === null) {
        callback(new Error('请再次输入密码'))
      } else if (value !== this.ruleForm.password) {
        callback(new Error('两次输入密码不一致'))
      } else {
        callback()
      }
    }
    let validateEditPass = (rule, value, callback) => {
      if (value) {
        if (value.length < 6 || value.length > 16) {
          callback(new Error('密码长度在 6 到 16 个字符'))
          return
        }
        let vdt = validateRules.vdata(value, {
          'password': {}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
          return
        }
        if (this.ruleForm.checkPassword) {
          this.$refs.ruleForm.validateField('checkPassword')
        }
        callback()
      }
      callback()
    }
    let validateEditCheckPass = (rule, value, callback) => {
      if (this.ruleForm.password !== '' && value !== this.ruleForm.password) {
        callback(new Error('两次输入密码不一致'))
        return
      }
      callback()
    }
    return {
      isChangePwd: false,
      isChangeCheckPwd: false,
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      options5: [{
        value: 'HTML',
        label: 'HTML'
      }, {
        value: 'HTML01',
        label: 'HTML01'
      }, {
        value: 'CSS',
        label: 'CSS'
      }],
      value10: [],
      ruleForm: {
        id: '',
        managerName: '', // 账号
        password: '', // 密码
        checkPassword: '',
        realName: '', // 姓名
        managerProleId: '', // 平台角色
        managerTroleId: '', // 站长角色
        manageableList: []
      },
      rules: {
        managerName: [
          { required: true, message: '请输入管理账号', trigger: 'blur' },
          { min: 4, max: 16, message: '长度在 4 到 16 个字符', trigger: 'blur' }
        ],
        managerProleId: [
          { required: true, message: '请选择平台角色', trigger: 'change' }
        ],
        managerTroleId: [
          { required: true, message: '请选择站点角色', trigger: 'change' }
        ],
        realName: [
          { min: 0, max: 20, message: '最大长度为20个字符', trigger: 'blur' }
        ]
      },
      rulesEditPassword: [
        { validator: validateEditPass, trigger: 'blur' }
      ],
      rulesEditCheckPassword: [
        { validator: validateEditCheckPass, trigger: 'blur' }
      ],
      rulesAddPassword: [
        { required: true, validator: validatePass, trigger: 'blur' },
        { min: 6, max: 16, message: '密码长度在 6 到 16 个字符', trigger: 'blur' }
      ],
      rulesAddCheckPassword: [
        { required: true, validator: validatePass2, trigger: 'blur' }
      ],
      // 平台角色
      PlatformOptions: [],
      siteRoleOptions: [],
      siteOptions: [],
      SiteRoleNewShow: false,
      PlatFormRoleNewShow: false,
      isAll: false,
      manageableList: [],
      selectData: {}
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  mounted () {
    this.getSiteRoleList()
    this.getPlatformProleList()
    this.getSiteList()
  },
  methods: {
    clickIsAll () {
      if (this.isAll) {
        this.manageableList = []
      }
    },
    resetSiteData () {
      this.manageableList = []
    },
    getSiteList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.tenantList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.siteOptions = res.data.tenantList
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openRoleNewForm () {
      this.SiteRoleNewShow = true
    },
    openPlatFormRoleNewForm () {
      this.PlatFormRoleNewShow = true
    },
    getPlatformProleList () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 99999
      this.loading = true
      let obj = this
      Api.platformProleList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.PlatformOptions = res.data.proleList
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getSiteRoleList () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 99999
      this.loading = true
      let obj = this
      Api.platformTroleList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.siteRoleOptions = res.data.troleList
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getAdministratorInfo (id) {
      let submitData = {}
      submitData.id = id
      this.loading = true
      let obj = this
      Api.platformManager(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log('tenantManager', res.data)
        // console.log('ruleForm', this.ruleForm)
        let managerData = res.data.platformManager
        this.ruleForm.managerName = managerData.managerName
        this.ruleForm.realName = managerData.realName
        this.ruleForm.managerProleId = managerData.managerProleId
        this.ruleForm.managerTroleId = managerData.managerTroleId
        let manageableList = JSON.parse(managerData.manageableList)
        this.isAll = false
        if (manageableList && manageableList.isAll === 1) {
          this.isAll = true
        }
        this.manageableList = []
        if (manageableList && manageableList.tenantList && manageableList.tenantList.length > 0) {
          for (let i = 0; i < manageableList.tenantList.length; i++) {
            this.manageableList.push(manageableList.tenantList[i].tenantCode)
          }
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    closeClear () {
      this.isAll = false
      this.manageableList = []
      this.resetForm('ruleForm')
      this.$emit('onClose')
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        if (submitData.password && submitData.password !== '') {
          let name = submitData.managerName.toLowerCase()
          submitData.password = md5(name + md5(this.ruleForm.password))
        } else {
          delete submitData.password
        }
        delete submitData.checkPassword
        let manageableList = {}
        manageableList.isAll = 0
        if (this.isAll) {
          manageableList.isAll = 1
        }
        let tenantList = []
        for (let i = 0; i < this.manageableList.length; i++) {
          let tempData = {}
          Object.assign(tempData, {})
          tempData.tenantCode = this.manageableList[i]
          tenantList.push(tempData)
        }
        manageableList.tenantList = tenantList
        submitData.manageableList = JSON.stringify(manageableList)
        // console.log('ruleForm', submitData)
        this.submitLoading = true
        let obj = this
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updatePlatformManager(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.addPlatformManager(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
          }
          this.ruleForm.managerName = this.data.managerName
          this.ruleForm.password = ''
          this.ruleForm.checkPassword = ''
          this.ruleForm.realName = ''
          this.ruleForm.managerProleId = ''
          this.ruleForm.managerTroleId = ''
          // console.log(this.ruleForm)
          if (this.ruleForm.id && this.ruleForm.id !== '') {
            this.getAdministratorInfo(this.ruleForm.id)
          }
        })
      }
    },
    data (nv) {
    }
  },
  components: {
    SiteRoleForm,
    PlatFormRoleForm
  }
}
</script>
<style scoped>
  .button-box{
    position: absolute;
    right: 0;
    bottom: 100%;
  }
  .el-button--text{
    color: var(--color-blue) !important;
  }
  .el-icon-plus:before{
    color: var(--color-blue);
  }
</style>
