<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="邀请码编辑"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal invitation-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-width="120px" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="创建人账号 :">
              {{ruleForm.userName}}
            </el-form-item>
            <el-form-item label="邀请码 :"  prop="inviteCodeId">
              <span class="color-blue">{{ruleForm.inviteCodeId}}</span>
            </el-form-item>
            <el-form-item label="时时彩返点" prop="SSC">
              <el-input-number placeholder="请输入时时彩返点" size="min"  v-model="ruleForm.SSC" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.SSC | formatMoney(1)}} ／ 可修改返点范围：0 - {{rebateMaxData.SSC | formatMoney(1)}} </div>
            </el-form-item>
            <el-form-item label="快3返点" prop="K3">
              <el-input-number placeholder="请输入快3返点" size="min"  v-model="ruleForm.K3" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.K3 | formatMoney(1)}} ／ 可修改返点范围：0 - {{rebateMaxData.K3 | formatMoney(1)}} </div>
            </el-form-item>
            <el-form-item label="11选5返点" prop="SYX5">
              <el-input-number placeholder="请输入11选5返点" size="min"  v-model="ruleForm.SYX5" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.SYX5 | formatMoney(1)}} ／ 可修改返点范围：0 - {{rebateMaxData.SYX5 | formatMoney(1)}} </div>
            </el-form-item>
            <el-form-item label="3D返点" prop="FC3D">
              <el-input-number placeholder="请输入3D返点" size="min"  v-model="ruleForm.FC3D" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.FC3D | formatMoney(1)}} ／ 可修改返点范围：0 - {{rebateMaxData.FC3D | formatMoney(1)}} </div>
            </el-form-item>
            <el-form-item label="排列3返点" prop="PL35">
              <el-input-number placeholder="请输入排列3返点" size="min"  v-model="ruleForm.PL35" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.PL35 | formatMoney(1)}} ／ 可修改返点范围：0 - {{rebateMaxData.PL35 | formatMoney(1)}} </div>
            </el-form-item>
            <el-form-item label="快乐8返点" prop="KL8">
              <el-input-number placeholder="请输入快乐8返点" size="min"  v-model="ruleForm.KL8" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.KL8 | formatMoney(1)}} ／ 可修改返点范围：0 - {{rebateMaxData.KL8 | formatMoney(1)}} </div>
            </el-form-item>
            <el-form-item label="PK10返点" prop="PK10">
              <el-input-number placeholder="请输入PK10返点" size="min"  v-model="ruleForm.PK10" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.PK10 | formatMoney(1)}} ／ 可修改返点范围：0 - {{rebateMaxData.PK10 | formatMoney(1)}} </div>
            </el-form-item>
            <el-form-item label="六合彩返点" prop="LHC">
              <el-input-number placeholder="请输入六合彩返点" size="min"  v-model="ruleForm.LHC" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.LHC | formatMoney(1)}} ／ 可修改返点范围： 0 - {{rebateMaxData.LHC | formatMoney(1)}} </div>
            </el-form-item>
            <el-form-item label="棋牌返点" prop="GAME">
              <el-input-number placeholder="请输入棋牌返点" size="min"  v-model="ruleForm.GAME" :controls="false" :precision="1" >
              </el-input-number>
              <div class="text-style">* 自身返点：{{rebateMaxData.GAME | formatMoney(1)}} ／ 可修改返点范围： 0 - {{rebateMaxData.GAME | formatMoney(1)}} </div>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MultipleSelect from '@/components/MultipleSelect'
import {formatMoney} from '@/filters/index'
import Api from '@/api/users'
export default {
  data () {
    let validateSSC = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入时时彩返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.SSC) {
        callback(new Error('输入的时时彩返点必须小于等于自身返点值[' + this.rebateMaxData.SSC + ']'))
        return
      }
      callback()
    }
    let validateK3 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入快3返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.K3) {
        callback(new Error('输入的快3返点必须小于等于自身返点值[' + this.rebateMaxData.K3 + ']'))
        return
      }
      callback()
    }
    let validateSYX5 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入11选5返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.SYX5) {
        callback(new Error('输入的11选5返点必须小于等于自身返点值[' + this.rebateMaxData.SYX5 + ']'))
        return
      }
      callback()
    }
    let validateFC3D = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入3D返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.FC3D) {
        callback(new Error('输入的11选5返点必须小于等于自身返点值[' + this.rebateMaxData.FC3D + ']'))
        return
      }
      callback()
    }
    let validatePL35 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入排列3返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.PL35) {
        callback(new Error('输入的排列3返点必须小于等于自身返点值[' + this.rebateMaxData.PL35 + ']'))
        return
      }
      callback()
    }
    let validateKL8 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入快乐8返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.KL8) {
        callback(new Error('输入的快乐8返点必须小于等于自身返点值[' + this.rebateMaxData.KL8 + ']'))
        return
      }
      callback()
    }
    let validatePK10 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入PK10返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.PK10) {
        callback(new Error('输入的PK10返点必须小于等于自身返点值[' + this.rebateMaxData.PK10 + ']'))
        return
      }
      callback()
    }
    let validateLHC = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入六合彩返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.LHC) {
        callback(new Error('输入的六合彩返点必须小于等于自身返点值[' + this.rebateMaxData.LHC + ']'))
        return
      }
      callback()
    }
    let validateGAME = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入棋牌返点'))
        return
      }
      if (Number(value) > this.rebateMaxData.GAME) {
        callback(new Error('输入的棋牌返点必须小于等于自身返点值[' + this.rebateMaxData.GAME + ']'))
        return
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      ruleForm: {
        inviteCodeId: '',
        userName: '',
        rebate: '',
        SSC: '',
        K3: '',
        SYX5: '',
        FC3D: '',
        PL35: '',
        KL8: '',
        PK10: '',
        LHC: ''
      },
      rules: {
        SSC: [
          { required: true, message: '请输入时时彩返点!', trigger: 'blur' },
          { validator: validateSSC, trigger: 'blur' }
        ],
        K3: [
          { required: true, message: '请输入快3返点!', trigger: 'blur' },
          { validator: validateK3, trigger: 'blur' }
        ],
        SYX5: [
          { required: true, message: '请输入11选5返点!', trigger: 'blur' },
          { validator: validateSYX5, trigger: 'blur' }
        ],
        FC3D: [
          { required: true, message: '请输入3D返点!', trigger: 'blur' },
          { validator: validateFC3D, trigger: 'blur' }
        ],
        PL35: [
          { required: true, message: '请输入排列3返点!', trigger: 'blur' },
          { validator: validatePL35, trigger: 'blur' }
        ],
        KL8: [
          { required: true, message: '请输入快乐8返点!', trigger: 'blur' },
          { validator: validateKL8, trigger: 'blur' }
        ],
        PK10: [
          { required: true, message: '请输入PK10返点!', trigger: 'blur' },
          { validator: validatePK10, trigger: 'blur' }
        ],
        LHC: [
          { required: true, message: '请输入六合彩返点!', trigger: 'blur' },
          { validator: validateLHC, trigger: 'blur' }
        ],
        GAME: [
          { required: true, message: '请输入棋牌返点!', trigger: 'blur' },
          { validator: validateGAME, trigger: 'blur' }
        ]
      },
      rebaterange: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rebateMaxData: {
        SSC: 0,
        K3: 0,
        SYX5: 0,
        FC3D: 0,
        PL35: 0,
        KL8: 0,
        PK10: 0,
        LHC: 0,
        GAME: 0
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        let rebateData = {}
        rebateData.SSC = this.ruleForm.SSC
        rebateData.K3 = this.ruleForm.K3
        rebateData.SYX5 = this.ruleForm.SYX5
        rebateData.FC3D = this.ruleForm.FC3D
        rebateData.PL35 = this.ruleForm.PL35
        rebateData.KL8 = this.ruleForm.KL8
        rebateData.PK10 = this.ruleForm.PK10
        rebateData.LHC = this.ruleForm.LHC
        rebateData.GAME = this.ruleForm.GAME
        submitData.inviteCodeId = this.ruleForm.id
        submitData.rebate = JSON.stringify(rebateData)
        Api.updateInviteCodeRebate(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  components: {
    MultipleSelect
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.ruleForm.userName = this.data.userName
          this.ruleForm.inviteCodeId = this.data.inviteCode
          if (this.data.rebatePoint) {
            let rebateData = JSON.parse(this.data.rebatePoint)
            for (var item in rebateData) {
              this.ruleForm[item] = formatMoney(rebateData[item], 1)
            }
          }
          if (this.data.ownerRebate) {
            for (let item in this.data.ownerRebate) {
              this.rebateMaxData[item] = Number(this.data.ownerRebate[item])
            }
          }
          this.loading = false
        })
      }
    }
  }
}
</script>
