<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="'自动广播设置'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :rules="rules" :label-position="screenW >= 768 ? 'right':'top'" class="form auto-broadcast-set" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass" label-width="120px"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-row v-if="screenW < 768">
          <el-col  :span="6" class="auto-content">
            <span style="color:red;">*</span>开关设置
          </el-col>
          <el-col  :span="6" class="auto-content">
            全部
          </el-col>
          <el-col :span="12" class="auto-content">
            <el-radio-group @change="changeallAuto" v-model="ruleForm.allAuto"  size="mini" class="rwd-turnoff">
              <el-radio-button label="false">关闭</el-radio-button>
              <el-radio-button label="true">开启</el-radio-button>
            </el-radio-group>
          </el-col>
        </el-row>
          <el-row  v-if="screenW < 768" v-for="(item,index) in messageType" :key="index">
            <el-col :span="6" class="auto-content">&nbsp;</el-col>
            <el-col :span="6" class="auto-content">
              {{item.title}}
            </el-col>
            <el-col :span="12" class="auto-content">
              <el-radio-group   size="mini" @change="changeaRaido"   v-model="item.value" class="rwd-turnoff">
                <el-radio-button label="false">关闭</el-radio-button>
                <el-radio-button label="true">开启</el-radio-button>
              </el-radio-group>
            </el-col>
          </el-row>
          <el-row v-if="screenW >= 768">
            <el-col  :span="6" class="auto-content">
              <span style="color:red;">*</span>开关设置
            </el-col>
            <el-col  :span="8" class="auto-content">
              全部
            </el-col>
            <el-col :span="10" class="auto-content">
              <el-radio-group @change="changeallAuto" v-model="ruleForm.allAuto"  size="mini" class="rwd-turnoff">
                <el-radio-button label="false">关闭</el-radio-button>
                <el-radio-button label="true">开启</el-radio-button>
              </el-radio-group>
            </el-col>
          </el-row>
          <el-row  v-if="screenW >= 768" v-for="(item,index) in messageType" :key="index">
            <el-col :span="6" class="auto-content">&nbsp;</el-col>
            <el-col :span="8" class="auto-content">
              {{item.title}}
            </el-col>
            <el-col :span="10" class="auto-content">
              <el-radio-group   size="mini" @change="changeaRaido"   v-model="item.value" class="rwd-turnoff">
                <el-radio-button label="false">关闭</el-radio-button>
                <el-radio-button label="true">开启</el-radio-button>
              </el-radio-group>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer auto-broadcast-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      messageType: [
        {title: '开奖延迟', value: false, type: 'openDelay'},
        {title: '开奖纠错', value: false, type: 'openWrong'},
        {title: '手动开奖', value: false, type: 'manualOpen'},
        {title: '系统撤单', value: false, type: 'cancelLottery'},
        {title: '棋牌撤单', value: false, type: 'cancelGame'},
        {title: '停售通知', value: false, type: 'stopAnnouncement'}
      ],
      ruleForm: {
        allAuto: false
      },
      rules: {}
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    changeallAuto () {
      this.messageType.forEach(
        item => {
          if (this.ruleForm.allAuto === 'true') {
            item.value = true
          } else {
            item.value = false
          }
        })
    },
    changeaRaido () {
      this.messageType.forEach(
        item => {
          item.value = this.getBoolean(item.value)
        }
      )
      if (this.messageType.every(item => { return item.value })) {
        this.ruleForm.allAuto = true
      }
      if (this.messageType.every(item => { return !item.value })) {
        this.ruleForm.allAuto = false
      }
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getBoolean (value) {
      let reponse = false
      if (value === true || value === 'true') {
        reponse = true
      }
      return reponse
    },
    submitForm () {
      this.submitLoading = true
      let submitData = {}
      submitData.allAuto = this.getBoolean(this.ruleForm.allAuto)
      this.messageType.forEach(item => {
        submitData[item.type] = item.value
      })
      Api.setTenantBroadcastConfig(submitData).then((res) => {
        this.msgSuccess('设置成功')
        this.submitLoading = false
        this.showBlogForm = false
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.ruleForm.allAuto = this.data.allAuto
        this.messageType.forEach(item => {
          item.value = this.data[item.type]
        })
      }
    }
  }
}
</script>
<style>
  .auto-broadcast-set .el-row{
    margin-bottom: 10px;
    font-size: 14px;
  }
  .dafa-icon-broadcast:before{
    content: "\E6ab";
  }
  .el-row .auto-content:last-child{
   float: right;
    /*margin-top:10px;*/
    /*margin-left: 46px;*/
  }
  .auto-content{
   text-align: right;
  }
  .auto-broadcast-footer{
    margin-right: -5px;
  }
</style>
