<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '银行转帐编辑':'新增银行转帐'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form label-position="left" :rules="rules" :model="ruleForm" ref="ruleForm" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <div class="inner" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
               element-loading-customClass="loadingClass" >
            <el-form-item label="开户人" prop="name">
              <el-input v-model="ruleForm.name" :disabled="readOnly" auto-complete="off" placeholder="请输入开户人">></el-input>
            </el-form-item>
            <el-form-item label="银行名称" prop="bankName">
              <el-select v-model="ruleForm.bankName" filterable placeholder="请选择银行名称">
                <el-option
                  v-for="item in bankList"
                  :key="item.Name"
                  :label="item.Name"
                  :value="item.Name">
                </el-option>
              </el-select>
              <template v-if="ruleForm.bankName==='其它银行'" prop="bankId">
                <el-col  class=" pcwidth margin-t6">
                  <el-input v-model="ruleForm.bankId" placeholder="请输入银行名称"></el-input>
                </el-col>
              </template>
            </el-form-item>
            <el-form-item label="支行名称" prop="branchName">
              <el-input v-model="ruleForm.branchName" auto-complete="off" placeholder="请输入支行名称,不能少于5个字" ></el-input>
            </el-form-item>
            <el-form-item label="银行卡号" prop="account">
              <el-input v-model="ruleForm.account" auto-complete="off" placeholder="请输入银行卡号"></el-input>
            </el-form-item>
            <el-form-item label="最低金额" prop="minAmount">
              <el-input-number v-model="ruleForm.minAmount" :min="0" :max="999999999" :precision="0" size="mini"></el-input-number>
            </el-form-item>
            <el-form-item label="最高金额" prop="maxAmount">
              <el-input-number v-model="ruleForm.maxAmount" :min="0" :max="999999999" :precision="0" size="mini"></el-input-number>
            </el-form-item>
          </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" size="mini" type="primary" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import {validateRules} from '@/utils/validateRules'
import {bank} from '@/utils/config'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateBankAccount = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, { 'required': { msg: '请输入银行卡号' }, 'maxlength': { param: '28', msg: '最大不能超过28个字符' }, 'minlength': { param: '9', msg: '至少要9个字符' } })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      for (let i = 0; i < value.toString().length; i++) {
        let tempValue = value.toString()[i]
        if (!(/\d|-/g.test(tempValue))) {
          callback(new Error('银行卡号格式错误'))
          return
        }
      }
      callback()
    }
    let validateLimitAmonut = (rule, value, callback) => {
      if (this.ruleForm.minAmount >= this.ruleForm.maxAmount) {
        callback(new Error('最高金额必须大于最低金额，输入的金额必须大于0'))
      }
      callback()
    }
    let validateBankId = (rule, value, callback) => {
      if (this.ruleForm.bankName === '其它银行') {
        let data = this.ruleForm.bankId.replace(/(^\s*)|(\s*$)/g, '')
        if (data.length < 1) {
          callback(new Error('请输入银行名称'))
        }
      }
      callback()
    }
    let validateCommas = (rule, value, callback) => {
      if (value.indexOf(',') !== -1) {
        callback(new Error('格式错误,请勿输入英文逗号'))
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        name: '',
        branchName: '',
        account: '',
        bankId: '',
        bankName: '',
        minAmount: 0,
        maxAmount: 0
      },
      rules: {
        name: [
          { required: true, message: '请输入开户人', trigger: 'blur' },
          { min: 2, max: 30, message: '长度在 2 到 30 个字符', trigger: 'blur' },
          { validator: validateCommas, trigger: 'blur' }
        ],
        bankName: [
          { required: true, message: '请选择银行', trigger: 'change' },
          { validator: validateBankId, trigger: 'blur' },
          { validator: validateCommas, trigger: 'blur' }
        ],
        branchName: [
          { required: true, message: '请输入支行名称', trigger: 'blur' },
          { min: 5, max: 30, message: '长度在 5 到 30 个字符', trigger: 'blur' },
          { validator: validateCommas, trigger: 'blur' }
        ],
        account: [
          { required: true, validator: validateBankAccount, trigger: 'blur' }
        ],
        bankId: [
          { required: true, message: '请输入银行名称', trigger: 'blur' },
          { min: 3, max: 25, message: '长度在 3 到 25 个字符', trigger: 'blur' },
          { validator: validateCommas, trigger: 'blur' }
        ],
        minAmount: [
          { required: true, validator: validateLimitAmonut, trigger: 'blur' }
        ],
        maxAmount: [
          { required: true, validator: validateLimitAmonut, trigger: 'blur' }
        ]
      },
      bankList: bank
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        this.submitLoading = true
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.bankName === '其它银行') {
          this.ruleForm.bankName = this.ruleForm.bankId
        }
        let obj = this
        Api.saveOrUpdateBankTransfer(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getBankTransferList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  mounted () {
    // console.log(this.data)
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
            if (this.bankList.filter(v => v.Name === this.data.bankName).length) {
              this.ruleForm.bankId = ''
              this.ruleForm.bankName = this.data.bankName
            } else {
              this.ruleForm.bankName = '其它银行'
              this.ruleForm.bankId = this.data.bankName
            }
          } else {
            this.ruleForm.bankName = ''
            this.ruleForm.bankId = ''
          }
          this.ruleForm.name = this.data.name
          this.ruleForm.account = this.data.account
          this.ruleForm.branchName = this.data.branchName
          this.ruleForm.minAmount = 0
          if (this.data.minAmount) {
            this.ruleForm.minAmount = this.data.minAmount
          }
          this.ruleForm.maxAmount = 0
          if (this.data.maxAmount) {
            this.ruleForm.maxAmount = this.data.maxAmount
          }
          this.loading = false
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style scoped>
  @import '../../assets/css/variable.css';
  .lightbox-bankname{
    margin: 0 !important;
  }
  .items-marginb6{
    margin-bottom: 6px !important;
  }
  .width100 {
    width: 100%;
  }
</style>
