<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      top="30px"
      title="转账管理"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <div class="media-object-section line-h36">
            显示条数:
          </div>
          <div class="media-object-section">
            <el-input-number v-model="num" :step="1" size="small"></el-input-number>
            <div class="font-s12 color-secondary margin-t6">前端支付接口最多展示条数。</div>
          </div>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary">确 定</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      num: 3
    }
  },
  props: {
    visible: Boolean
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  }
}
</script>
<style>
  @import '../../assets/css/variable.css';
  @import '../../assets/css/medium-editor.css';
</style>
