<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '银行卡编辑':'新增银行卡'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="会员账号">
              {{ruleForm.userName}}
            </el-form-item>
            <el-form-item label="开户银行" prop="bankName">
              <el-select size="min" v-model="ruleForm.bankName" placeholder="请选择开户银行">
                <el-option
                  v-for="item in bankList"
                  :key="item.bankName"
                  :label="item.bankName"
                  :value="item.bankName">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item v-if="ruleForm.bankName === '其它银行'" label="银行名称" prop="otherName">
              <el-input v-model="ruleForm.otherName" placeholder="请输入开户银行名称"></el-input>
            </el-form-item>
            <el-form-item label="银行卡号" prop="bankCardNumber">
              <el-input v-model="ruleForm.bankCardNumber" placeholder="请输入银行卡号" size="min"></el-input>
            </el-form-item>
            <el-form-item label="银行户名" prop="accountName">
              <el-input v-model="ruleForm.accountName" placeholder="请输入银行户名" size="min"></el-input>
            </el-form-item>
            <el-form-item label="开户地址" prop="areaValue">
                <el-cascader
                  placeholder="选择城市"
                  expand-trigger="hover"
                  :options="options"
                  v-model="ruleForm.areaValue"
                  popper-class="ul-style"
                  filterable
                ></el-cascader>
            </el-form-item>
            <el-form-item label="是否启用">
              <el-switch
                v-model="ruleForm.isDisable"
                active-color="#20a0ff"
                inactive-color="#ddd">
              </el-switch>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
// import {bank} from '@/utils/config'
import Area from '@/utils/area'
import {validateRules} from '@/utils/validateRules'
export default {
  data () {
    let validateBankCardNumber = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, { 'required': { msg: '请输入银行卡号' }, 'number': {}, 'maxlength': { param: '28', msg: '最大值不能超过28位' }, 'minlength': { param: '10', msg: '最小值不能低于10位' } })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    let validateOtherName = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, { 'required': { msg: '请输入银行名称' }, 'otherName': { msg: '最多支持2至15个汉字或30个字母' } })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      value1: true,
      value2: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rules: {
        accountName: [
          { required: true, message: '请输入银行户名', trigger: 'blur' },
          { min: 2, max: 25, message: '长度在 2 到 25 个字符', trigger: 'blur' }
        ],
        bankName: [
          { required: true, message: '请选择开户银行', trigger: 'change' }
        ],
        otherName: [
          { required: true, validator: validateOtherName, trigger: 'blur' }
        ],
        bankCardNumber: [
          { required: true, validator: validateBankCardNumber, trigger: 'blur' }
        ],
        areaValue: [
          { type: 'array', required: true, message: '请选择开户地址', trigger: 'blur' }
        ]
      },
      ruleForm: {
        userName: '',
        bankName: '',
        otherName: '',
        province: '',
        city: '',
        bankCardNumber: '',
        isDisable: false,
        accountName: '',
        areaValue: []
      },
      options: [],
      bankList: ''
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  mounted () {
    this.options = this.getArea()
  },
  methods: {
    // 校验是否可保存银行
    isPostBank (str) {
      let arr = this.bankList
      if (!arr || !arr[0]) {
        return false
      }
      return arr.filter(v => v.bankName === str).length
    },
    getArea () {
      let areaData = []
      for (let province in Area.province_list) {
        let provinceCode = province.substr(0, 2)
        let area = {}
        area.value = Area.province_list[province]
        area.label = Area.province_list[province]
        area.children = []
        Object.assign(area, {})
        for (let city in Area.city_list) {
          let cityCode = city.substr(0, 2)
          if (Number(provinceCode) !== Number(cityCode)) {
            continue
          }
          let cityData = {}
          Object.assign(cityData, {})
          cityData.value = Area.city_list[city]
          cityData.label = Area.city_list[city]
          // cityData.children = []
          // for (let county in Area.county_list) {
          //   let cityMaxCode = Number(city) + 100
          //   if (Number(county) <= Number(city) || Number(county) >= Number(cityMaxCode)) {
          //     continue
          //   }
          //   let countData = {}
          //   Object.assign(countData, {})
          //   countData.value = Area.county_list[county]
          //   countData.label = Area.county_list[county]
          //   cityData.children.push(countData)
          // }
          area.children.push(cityData)
        }
        areaData.push(area)
      }
      return areaData
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    // 获取可绑定银行列表
    queryBankInfo () {
      let submitData = {
        type: 1
      }
      Api.queryBankInfo(submitData, () => {
        this.loading = false
      }).then(res => {
        this.loading = false
        if (res.code === 1) {
          this.bankList = res.data
        }
      }).catch(e => {
        this.loading = false
      })
    },
    submitForm (formName) {
      // console.log(this.ruleForm)
      this.$refs[formName].validate((valid) => {
        this.submitLoading = true
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let obj = this
        let submitData = {}
        let isOther = this.ruleForm.bankName === '其它银行'
        let otherName = this.ruleForm.otherName
        let isPostBank = this.isPostBank(this.ruleForm.bankName)
        if (!isPostBank) {
          this.msgError('暂不支持该银行')
          this.submitLoading = false
          return
        }
        if (isOther && !otherName) {
          this.msgError('银行名称不能为空')
          this.submitLoading = false
          return
        }
        Object.assign(submitData, this.ruleForm)
        if (this.ruleForm.areaValue.length >= 2) {
          submitData.province = this.ruleForm.areaValue[0]
          submitData.city = this.ruleForm.areaValue[1]
        }
        if (isOther) {
          submitData.bankName = otherName
        }
        submitData.isDisable = !submitData.isDisable
        submitData.isOtherBank = isOther
        delete submitData.areaValue
        delete submitData.otherName
        Api.updateBankCardCms(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.queryBankInfo()
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.cardId = this.data.cardId
          this.ruleForm.userName = this.data.userName
          let bankName = this.data.bankName
          let isOtherBank = this.data.isOtherBank
          if (bankName) {
            this.ruleForm.bankName = isOtherBank ? '其它银行' : bankName
            this.ruleForm.otherName = isOtherBank ? bankName : ''
          }
          this.ruleForm.areaValue = []
          if (this.data.province && this.data.city) {
            this.ruleForm.areaValue.push(this.data.province)
            this.ruleForm.areaValue.push(this.data.city)
          }
          this.ruleForm.province = this.data.province
          this.ruleForm.city = this.data.city
          this.ruleForm.bankCardNumber = this.data.bankCardNumber
          this.ruleForm.accountName = this.data.accountName
          this.ruleForm.isDisable = true
          if (this.data.isDisable) {
            this.ruleForm.isDisable = !this.data.isDisable
          }
          this.title = true
          if (this.data.type === '会员管理') {
            this.ruleForm.userId = this.data.userId
            this.title = false
          }
          this.loading = false
        })
      }
    }
  }
}
</script>
