<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      @close="closeClear"
      :title="ruleForm.title"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal article-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="article-time">{{ruleForm.gmtCreated}} - {{typeList[number]}}
        </div>
        <div v-html="ruleForm.content" class="article-content">
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      valueLevel: '',
      lottery: '',
      number: '',
      typeList: ['', '服务消息', '产品消息', '故障消息', '支付消息'],
      ruleForm: {title: '', gmtCreated: '', content: ''},
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...'
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      // this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  components: {
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          if (this.data.id) {
            let submitData = {}
            submitData.id = this.ruleForm.id
            this.loading = true
            let obj = this
            Api.xAnnouncement(submitData, function () {
              obj.loading = false
            }).then((res) => {
              this.$parent.getUnreadAnnouncement()
              this.ruleForm = res.data.announcement
              this.ruleForm.title = this.data.title
              this.ruleForm.gmtCreated = this.data.gmtCreated
              this.number = this.data.announcementId
              this.$nextTick(function () {
                obj.loading = false
              })
            })
          }
        })
      }
    }
  }
}
</script>
