<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增系统撤单"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="ruleForm" :rules="rules" class="form delect-height" size="small" label-position="top" ref="ruleForm" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="彩种名称" prop="lotteryCode">
              <el-select v-model="ruleForm.lotteryCode" filterable placeholder="请输入或选择">
                <el-option
                  v-for="item in lotteryOptions"
                  :key="item.lotteryCode"
                  :label="item.lotteryName"
                  :value="item.lotteryCode">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="确认彩种名称" prop="lotteryName">
              <el-input placeholder="请填写彩种名称,禁止黏贴" v-model="ruleForm.lotteryName" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="撤单期号" prop="issue">
              <el-input placeholder="请填写正确的撤单期号,禁止黏贴" v-model="ruleForm.issue" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="确认撤单期号" prop="validateIssue">
              <el-input placeholder="请再次填写正确的撤单期号,禁止黏贴" v-model="ruleForm.validateIssue" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <el-input type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
// import ApiReport from '@/api/report'
export default {
  data () {
    let validateLottery = (rule, value, callback) => {
      if (this.ruleForm.lotteryCode) {
        let lotteryCode = ''
        for (let item in this.lotteryOptions) {
          if (this.lotteryOptions[item].lotteryName !== this.ruleForm.lotteryName) {
            continue
          }
          lotteryCode = this.lotteryOptions[item].lotteryCode
          break
        }
        if (lotteryCode !== this.ruleForm.lotteryCode) {
          callback(new Error('两次输入的彩种名称必须一致'))
        }
      }
      callback()
    }
    let validateIssue = (rule, value, callback) => {
      if (this.ruleForm.issue) {
        if (this.ruleForm.issue !== this.ruleForm.validateIssue) {
          callback(new Error('两次输入的期号必须一致'))
        }
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      valueLevel: '',
      lotteryOptions: [],
      ruleForm: {
        'lotteryCode': '',
        'lotteryName': '',
        'issue': '',
        'validateIssue': '',
        'remark': ''
      },
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rules: {
        lotteryCode: [
          {required: true, message: '请选择彩种', trigger: 'change'}
        ],
        issue: [
          {required: true, message: '请填写期号', trigger: 'blur'}
        ],
        lotteryName: [
          {required: true, validator: validateLottery, trigger: 'blur'}
        ],
        validateIssue: [
          { required: true, validator: validateIssue, trigger: 'blur' }
        ],
        remark: [
          {required: true, message: '请填写备注', trigger: 'blur'},
          {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Array
  },
  mounted () {
    // this.getLotteryData()
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getLotteryData (data) {
      if (data) {
        this.lotteryOptions = data
      } else {
        let submitData = {}
        this.loading = true
        let obj = this
        Api.getPlatformLottery(submitData, function () {
          obj.loading = false
        }).then((res) => {
          let resData = res.data
          this.lotteryOptions = []
          for (let item in resData) {
            if (resData[item].lotteryCode === '0101') {
              continue
            }
            this.lotteryOptions.push(resData[item])
          }
          this.$nextTick(function () {
            obj.loading = false
          })
        })
      }
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        submitData.lotteryCode = this.ruleForm.lotteryCode
        submitData.issue = this.ruleForm.issue
        submitData.remark = this.ruleForm.remark
        Api.sysCancelBetting(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        let data = this.data
        if (data) {
          this.getLotteryData(data)
        }
        // this.$nextTick(function () {
        //   // this.initData()
        // })
      }
    }
  }
}
</script>
