<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增棋牌撤单"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="ruleForm" :rules="rules" class="form delect-height" size="small" label-position="top" ref="ruleForm" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="棋牌名称" prop="gameCode">
              <el-select v-model="ruleForm.gameCode" filterable placeholder="请输入或选择">
                <el-option
                  v-for="item in gameOptions"
                  :key="item.gameCode"
                  :label="item.gameName"
                  :value="item.gameCode">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="确认棋牌名称" prop="gameName">
              <el-input placeholder="请填写棋牌名称,禁止黏贴" v-model="ruleForm.gameName" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="房号" prop="roomNumber">
              <el-input placeholder="请填写房号" v-model="ruleForm.roomNumber" ></el-input>
            </el-form-item>
            <el-form-item label="撤单局号" prop="issue">
              <el-input placeholder="请再次填写正确的撤单局号,禁止黏贴" v-model="ruleForm.issue" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="确认撤单局号" prop="validateIssue">
              <el-input placeholder="请再次填写正确的撤单局号,禁止黏贴" v-model="ruleForm.validateIssue" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <el-input type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    let validateLottery = (rule, value, callback) => {
      if (this.ruleForm.gameCode) {
        let gameCode = ''
        for (let item in this.gameOptions) {
          if (this.gameOptions[item].gameName !== this.ruleForm.gameName) {
            continue
          }
          gameCode = this.gameOptions[item].gameCode
          break
        }
        if (gameCode !== this.ruleForm.gameCode) {
          callback(new Error('两次输入的棋牌名称必须一致'))
        }
      }
      callback()
    }
    let validateIssue = (rule, value, callback) => {
      if (this.ruleForm.issue) {
        if (this.ruleForm.issue !== this.ruleForm.validateIssue) {
          callback(new Error('两次输入的局号必须一致'))
        }
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      valueLevel: '',
      gameOptions: [],
      ruleForm: {
        'gameCode': '',
        'gameyName': '',
        'roomNumber': '',
        'issue': '',
        'validateIssue': '',
        'remark': ''
      },
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rules: {
        gameCode: [
          {required: true, message: '请选择彩种', trigger: 'change'}
        ],
        roomNumber: [
          {required: true, message: '请填写房号', trigger: 'blur'}
        ],
        issue: [
          {required: true, message: '请填写局号', trigger: 'blur'}
        ],
        gameName: [
          {required: true, validator: validateLottery, trigger: 'blur'}
        ],
        validateIssue: [
          { required: true, validator: validateIssue, trigger: 'blur' }
        ],
        remark: [
          {required: true, message: '请填写备注', trigger: 'blur'},
          {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean
  },
  mounted () {
    this.getLotteryData()
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getLotteryData () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.gameEnumBackPlatform(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let resData = res.data.result
        this.gameOptions = []
        for (let item in resData) {
          this.gameOptions.push(resData[item])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        submitData.gameCode = this.ruleForm.gameCode
        submitData.roomNumber = this.ruleForm.roomNumber
        submitData.issue = this.ruleForm.issue
        submitData.remark = this.ruleForm.remark
        Api.gameCancel(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  }
}
</script>
