<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="修改登陆密码"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules"  class="form" size="small" ref="ruleForm" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="登陆密码" prop="password">
              <el-input type="password" v-model="ruleForm.password" placeholder="密码长度6-16位字符" size="min">
              </el-input>
            </el-form-item>
            <el-form-item label="确认登陆密码" prop="checkPassword">
              <el-input type="password" v-model="ruleForm.checkPassword" placeholder="密码长度6-16位字符" size="min" >
              </el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
import {validateRules} from '@/utils/validateRules'
import md5 from 'js-md5/build/md5.min'
export default {
  data () {
    let validatePass = (rule, value, callback) => {
      if (!value && value === '') {
        callback(new Error('请输入密码'))
        return
      }
      let vdt = validateRules.vdata(value, {
        'password': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (this.ruleForm.checkPassword !== '') {
        this.$refs.ruleForm.validateField('checkPassword')
      }
      callback()
    }
    let validatePass2 = (rule, value, callback) => {
      if (this.ruleForm.password !== '' && value === '') {
        callback(new Error('请再次输入密码'))
      } else if (this.ruleForm.password !== '' && value !== this.ruleForm.password) {
        callback(new Error('两次输入密码不一致'))
      } else {
        callback()
      }
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      submitLoading: false,
      rules: {
        password: [
          { required: true, validator: validatePass, trigger: 'blur' },
          { min: 6, max: 16, message: '密码长度在 6 到 16 个字符', trigger: 'blur' }
        ],
        checkPassword: [
          { required: true, validator: validatePass2, trigger: 'blur' }
        ]
      },
      ruleForm: {
        password: '',
        checkPassword: '',
        userName: ''
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        this.submitLoading = true
        if (!valid) {
          this.submitLoading = false
          return
        }
        // 禁止使用简单密码
        let nv = this.ruleForm.password
        let str = ',123456,123123,654321,111111,222222,333333,444444,555555,666666,777777,888888,999999,000000,'
        if (str.indexOf(nv) > -1) {
          this.submitLoading = false
          this.msgConfirm('登录密码不能跟账号相同，且不能设置过于简单，禁止设置为：123456、123123、654321、111111等此类简单密码', '确定').then(() => {
            this.ruleForm.password = ''
            this.ruleForm.checkPassword = ''
          }).catch(e => {})
          return
        }
        if (this.ruleForm.password === this.data.userName) {
          this.submitLoading = false
          this.msgConfirm('登录密码不能跟账号相同，且不能设置过于简单，禁止设置为：123456、123123、654321、111111等此类简单密码', '确定').then(() => {
            this.ruleForm.password = ''
            this.ruleForm.checkPassword = ''
          }).catch(e => {})
          return
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        let name = this.data.userName.toLowerCase()
        submitData.password = md5(name + md5(this.ruleForm.password))
        delete submitData.checkPassword
        let obj = this
        Api.updateUserLoginPassword(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.userId = this.data.userId
        })
      }
    }
  }
}
</script>
<!--<style scoped>-->
  <!--.width150 {-->
    <!--width: 380px;-->
  <!--}-->
  <!--.el-form {-->
    <!--width: 100%;-->
  <!--}-->
  <!--@media screen and (max-width:1023px){-->

    <!--.width150 {-->
      <!--width: 100%;-->
    <!--}-->
    <!--.admin-btn{-->
      <!--& .el-form-item__content{-->
        <!--display:inline-block;-->
        <!--margin-left:10px;-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--</style>-->
