<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '用户禁言编辑':'新增用户禁言'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal guide-news-model">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon label-position="top" :rules="rules" class="form "  size="small" ref="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="用户类型" prop="banTypeId" label-position="left" label-width="80px">
            <el-radio-group  v-model="ruleForm.banTypeId" :size="screenW > 768 ? 'mini':'medium'" @change="handleBanTypeIdChange" :disabled="!!data.id || data.type === 'tenantChatMessage' || data.type === 'tenantChatBlock' || data.type === 'tenantChatOnline' || data.type === 'tenantChatManual'">
              <el-radio-button label="1">会员</el-radio-button>
              <el-radio-button label="2">访客</el-radio-button>
              <el-radio-button label="0">IP</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="禁言用户" prop="target">
            <el-input  v-model="ruleForm.target" :placeholder="placeholderList[ruleForm.banTypeId]" :disabled="!!data.id || data.type === 'tenantChatMessage' || data.type === 'tenantChatBlock' || data.type === 'tenantChatOnline' || data.type === 'tenantChatManual'"></el-input>
          </el-form-item>
          <el-form-item label="房间号" prop="roomCode">
            <el-select v-model="ruleForm.roomCode" :disabled="!!data.id || data.type === 'tenantChatMessage' || data.type === 'tenantChatBlock' || data.type === 'tenantChatOnline' || data.type === 'tenantChatManual'">
              <el-option
                v-for="item in RoomList"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="禁言时间" prop="durationTypeId" label-position="left" label-width="80px">
            <el-radio-group  v-model="ruleForm.durationTypeId" :size="screenW > 768 ? 'mini':'medium'">
              <el-radio-button label="5">半小时</el-radio-button>
              <el-radio-button label="4">一小时</el-radio-button>
              <el-radio-button label="2">1天</el-radio-button>
              <el-radio-button label="3">1周</el-radio-button>
              <el-radio-button label="1">永久</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="备注" prop="remark">
            <el-input  type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
import {validateRules} from '@/utils/validateRules'
export default {
  data () {
    let validateTarget = (rule, value, callback) => {
      if (Number(this.ruleForm.banTypeId) === 1) {
        if (value === '' || value === undefined || value === null) {
          callback(new Error('请输入要禁言的会员账号'))
          return
        }
      }
      if (Number(this.ruleForm.banTypeId) === 2) {
        if (value === '' || value === undefined || value === null) {
          callback(new Error('请输入要禁言的访客'))
          return
        }
      }
      if (Number(this.ruleForm.banTypeId) === 0) {
        if (value === '' || value === undefined || value === null) {
          callback(new Error('请输入要禁言的IP'))
          return
        }
        let vdt = validateRules.vdata(value, {
          'ip': {}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
          return
        }
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      RoomList: [],
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        id: '',
        banTypeId: 1,
        target: '',
        durationTypeId: 1,
        remark: '',
        roomCode: ''
      },
      placeholderList: ['请输入要禁言的IP', '请输入要禁言的会员账号', '请输入要禁言的访客ID'],
      rules: {
        target: [
          { required: true, validator: validateTarget, trigger: 'blur' }
        ],
        roomCode: [
          { required: true, message: '请选择房间号', trigger: 'blur' }
        ],
        durationTypeId: [
          { required: true, message: '请选择禁言时间', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  mounted () {
    this.getRoomList()
  },
  methods: {
    handleBanTypeIdChange () {
      this.$refs['ruleForm'].clearValidate()
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getRoomList () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      this.loading = true
      let obj = this
      Api.getRoomList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.RoomList = res.data.list
        // console.log(this.RoomList)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateBan(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        }
        Api.addBan(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          if (this.data.type === 'tenantChatManual' || this.data.type === 'tenantChatMessage' || this.data.type === 'tenantChatBlock' || this.data.type === 'tenantChatOnline') {
            if (this.data.memberTypeId === 1 || this.data.memberTypeId === 3 || this.data.memberTypeId === 4) {
              this.ruleForm.banTypeId = 1
            }
            if (this.data.memberTypeId === 2) {
              this.ruleForm.banTypeId = 2
            }
            this.ruleForm.target = this.data.userName
            this.ruleForm.roomCode = this.data.roomCode
          }
          if (this.data.type === 'tenantChatBan') {
            this.ruleForm.id = this.data.id
            this.title = false
            if (this.ruleForm.id && this.ruleForm.id > 0) {
              this.title = true
              let submitData = {}
              submitData.id = this.ruleForm.id
              let obj = this
              this.loading = true
              Api.getBan(submitData, function () {
                obj.loading = false
              }).then((res) => {
                this.ruleForm.banTypeId = res.data.banTypeId
                this.ruleForm.target = res.data.target
                this.ruleForm.durationTypeId = res.data.durationTypeId
                this.ruleForm.remark = res.data.remark
                this.ruleForm.roomCode = res.data.roomCode
                this.$nextTick(function () {
                  obj.loading = false
                })
              })
            }
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
