<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '过滤词编辑':'新增过滤词'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal guide-news-model">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon label-position="top" :rules="rules" class="form "  size="small" ref="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="词语" prop="filterWord">
            <el-input  v-model="ruleForm.filterWord" placeholder="请输入要添加的词或语句"></el-input>
          </el-form-item>
          <el-form-item label="词语类型" prop="filterTypeId" label-position="left" label-width="80px">
              <el-radio-group  v-model="ruleForm.filterTypeId" :size="screenW > 768 ? 'mini':'medium'">
                <el-radio-button label="1">禁用词</el-radio-button>
                <el-radio-button label="2">敏感词</el-radio-button>
              </el-radio-group>
          </el-form-item>
          <el-form-item label="备注" prop="remark">
            <el-input  type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
export default {
  data () {
    return {
      guidePic: false,
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        filterTypeId: 1,
        filterWord: '',
        remark: ''
      },
      rules: {
        filterWord: [
          { required: true, message: '请输入要添加的词或语句', trigger: 'blur' },
          {min: 1, max: 25, message: '长度在 1 到 25 个字符', trigger: 'blur'}
        ],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' },
          {min: 1, max: 500, message: '长度在 1 到 500 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateFilterWord(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        }
        Api.addFilterWord(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.ruleForm.id && this.ruleForm.id > 0) {
            this.title = true
            let submitData = {}
            submitData.id = this.ruleForm.id
            let obj = this
            this.loading = true
            Api.getFilterWord(submitData, function () {
              obj.loading = false
            }).then((res) => {
              this.ruleForm.filterTypeId = res.data.filterTypeId
              this.ruleForm.filterWord = res.data.filterWord
              this.ruleForm.remark = res.data.remark
              this.$nextTick(function () {
                obj.loading = false
              })
            })
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
