<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '角色编辑':'新增角色'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal guide-news-model">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon label-position="top" :rules="rules" class="form "  size="small" ref="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input  v-model="ruleForm.userName" placeholder="请输入会员账号" :disabled="!!ruleForm.id"></el-input>
          </el-form-item>
          <el-form-item label="房间号" prop="roomCode">
            <el-select v-model="ruleForm.roomCode" :disabled="!!ruleForm.id">
              <el-option
                v-for="item in options"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="角色类型" prop="memberTypeId" label-position="left" label-width="80px">
            <el-radio-group  v-model="ruleForm.memberTypeId" :size="screenW > 768 ? 'mini':'medium'" @change="handleMemberTypeIdChange">
              <el-radio-button label="3">管理员</el-radio-button>
              <el-radio-button label="4">虚假成员</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="需要显示的昵称" prop="nickname" v-if="ruleForm.memberTypeId === '3'">
            <el-input  v-model="ruleForm.nickname" placeholder="请填写1-5个汉字"></el-input>
          </el-form-item>
          <template v-else>
            <el-form-item class="no-margin" required prop="nickNameType">
              <span slot="label">
                需要显示的昵称或账号
                <el-radio-group v-model="ruleForm.nickNameType" @change="changeType">
                  <el-radio label="1">昵称</el-radio>
                  <el-radio label="2">账号</el-radio>
                </el-radio-group>
              </span>
            </el-form-item>
            <el-form-item label="" prop="nickname" v-if="ruleForm.nickNameType === '1'" ref="nicknameForm">
              <el-input  v-model="ruleForm.nickname" placeholder="请填写1-5个汉字"></el-input>
            </el-form-item>
            <el-form-item prop="account1" v-else ref="accountForm">
              <div class="margin-t6">
                <el-col :span="3">
                  <el-input ref="firstNum" v-model="accountNickname.firstNum" type="tel" size="small" :maxlength="1" @blur="inputBlur"></el-input>
                </el-col>
                <el-col :span="1">&nbsp;</el-col>
                <el-col :span="3">
                  <el-input ref="secondNum" v-model="accountNickname.secondNum" type="tel" size="small" :maxlength="1" @blur="inputBlur"></el-input>
                </el-col>
                <el-col class="line" :span="2">***</el-col>
                <el-col :span="3">
                  <el-input ref="lastNum" v-model="accountNickname.lastNum" type="tel" size="small" :maxlength="1" @blur="inputBlur"></el-input>
                </el-col>
                <el-col :span="7">
                  <span class="font-s12">请输入账号前两位和后一位</span>
                </el-col>
              </div>
            </el-form-item>
          </template>
          <template v-if="ruleForm.memberTypeId.toString() === '4'">
            <el-form-item label="需要显示的等级" prop="grade">
              <el-select v-model="ruleForm.grade" >
                <el-option
                  v-for="item in level"
                  :key="item.key"
                  :label="item.value"
                  :value="item.key"
                  v-if="item.key !== -1"
                >
                </el-option>
              </el-select>
            </el-form-item>
          </template>
          <template v-else>
            <el-form-item label="昵称显示颜色" prop="nicknameColorId" class="color-select-box">
              <el-radio-group v-model="ruleForm.nicknameColorId" >
                <el-radio label="#dc86a6" class="pink">粉红色</el-radio>
                <el-radio label="#D90017" class="color-danger">紅色</el-radio>
                <el-radio label="#5aab5a" class="color-success">綠色</el-radio>
                <el-radio label="#06c" class="color-blue">藍色</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="发言字体颜色" prop="messageColorId"  class="color-select-box">
              <el-radio-group v-model="ruleForm.messageColorId" >
              <el-radio label="#dc86a6" class="pink">粉红色</el-radio>
              <el-radio label="#D90017" class="color-danger">紅色</el-radio>
              <el-radio label="#5aab5a" class="color-success">綠色</el-radio>
              <el-radio label="#06c" class="color-blue">藍色</el-radio>
              </el-radio-group>
            </el-form-item>
          </template>
          <el-form-item label="备注" prop="remark">
            <el-input  type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
import {gradeList} from '@/utils/config'
export default {
  data () {
    let validateGrade = (rule, value, callback) => {
      if (this.ruleForm.memberTypeId && this.ruleForm.memberTypeId.toString() === '4') {
        if (value === undefined || value === null || value === '') {
          callback(new Error('请选择需要显示的等级'))
          return
        }
      }
      callback()
    }
    let validateNicknameColorId = (rule, value, callback) => {
      if (this.ruleForm.memberTypeId && this.ruleForm.memberTypeId.toString() === '3') {
        if (value === undefined || value === null || value === '') {
          callback(new Error('请选择昵称显示颜色'))
          return
        }
      }
      callback()
    }
    let validateMessageColorId = (rule, value, callback) => {
      if (this.ruleForm.memberTypeId && this.ruleForm.memberTypeId.toString() === '3') {
        if (value === undefined || value === null || value === '') {
          callback(new Error('请选择发言字体颜色'))
          return
        }
      }
      callback()
    }
    let validateNickname = (rule, value, callback) => {
      if (/[^\u4e00-\u9fa5]/.test(value)) {
        callback(new Error('请输入1到5个汉字'))
        return
      }
      callback()
    }
    let validateAccount = (rule, value, callback) => {
      if (this.ruleForm.account1 === '') {
        callback(new Error('请输入账 号前两位或最后一位'))
        return
      }
      let reg = /^[\w+]{1}$/
      if (this.accountNickname.firstNum === '') {
        callback(new Error('请输入账号第一位'))
      } else {
        if (!reg.test(this.accountNickname.firstNum)) {
          callback(new Error('请输入字母、数字'))
        }
      }
      if (this.accountNickname.secondNum === '') {
        callback(new Error('请输入账号第二位'))
      } else {
        if (!reg.test(this.accountNickname.secondNum)) {
          callback(new Error('请输入字母、数字'))
        }
      }
      if (this.accountNickname.lastNum === '') {
        callback(new Error('请输入账号最后一位'))
      } else {
        if (!reg.test(this.accountNickname.lastNum)) {
          callback(new Error('请输入字母、数字'))
        }
      }
      callback()
    }
    return {
      guidePic: false,
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      level: gradeList,
      accountNickname: {
        firstNum: '',
        secondNum: '',
        lastNum: ''
      },
      ruleForm: {
        id: '',
        userName: '',
        roomCode: '',
        memberTypeId: '3',
        nickname: '',
        grade: '',
        nicknameColorId: '',
        messageColorId: '',
        remark: '',
        account1: '',
        nickNameType: '1'
      },
      accountMessage: '请输入账号前两位和最后一位',
      rules: {
        userName: [
          { required: true, message: '请输入会员账号或测试账号', trigger: 'blur' }
        ],
        nickname: [
          { required: true, message: '请输入昵称', trigger: 'blur' },
          {validator: validateNickname, trigger: 'blur'},
          { min: 1, max: 5, message: '最常为 5 个字符', trigger: 'blur' }
        ],
        roomCode: [
          { required: true, message: '请选择房间号', trigger: 'change' }
        ],
        grade: [
          {required: true, validator: validateGrade, trigger: 'change'}
        ],
        nicknameColorId: [
          {required: true, validator: validateNicknameColorId, trigger: 'change'}
        ],
        messageColorId: [
          {required: true, validator: validateMessageColorId, trigger: 'change'}
        ],
        account1: [
          { required: true, validator: validateAccount, trigger: 'blur' }
        ]
      },
      options: []
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    inputBlur () {
      this.$refs.ruleForm.validateField('account1')
    },
    changeType () {
    },
    handleMemberTypeIdChange (v) {
      if (v === '4') {
        this.checkoutList()
      }
      this.$refs['ruleForm'].clearValidate()
    },
    checkoutList () {
      if (this.title) {
        let parame = {
          userName: this.ruleForm.userName,
          roomCode: this.ruleForm.roomCode
        }
        let [arr, ids] = [[], []]
        Api.runingPlayList(parame).then((res) => {
          if (res.data.total > 0) {
            for (let i = 0; i < res.data.rows.length; i++) {
              arr.push(`《${res.data.rows[i].playName}》`)
              ids.push(res.data.rows[i].id)
            }
            this.msgConfirm(`该账号有正在执行的计划${arr.join('')},是否关闭计划`, {
              confirmButtonText: '是',
              cancelButtonText: '否',
              type: 'warning'
            }).then(() => {
              let parame = {
                ids: ids.join(',')
              }
              Api.updatePlayListStatus(parame).then((res) => {
                res.code === 1 ? this.msgSuccess('操作成功') : this.msgError('操作失败')
              })
            }).catch(() => {
              this.ruleForm.memberTypeId = '3'
            })
          }
        })
      }
    },
    getRoomCodeData () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      Api.getRoomList(submitData, function () {
      }).then((res) => {
        this.options = res.data.list
      })
    },
    closeClear () {
      this.ruleForm.id = ''
      this.ruleForm.grade = ''
      this.ruleForm.account1 = ''
      this.ruleForm.nickname = ''
      this.accountNickname = {
        firstNum: '',
        secondNum: '',
        lastNum: ''
      }
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      if (this.ruleForm.memberTypeId === '4' && this.ruleForm.nickNameType === '2') {
        this.ruleForm.nickname = this.ruleForm.account1.toLowerCase()
      }
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let parame = JSON.parse(JSON.stringify(this.ruleForm))
        delete parame.account1
        delete parame.nickNameType
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateRole(parame, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        }
        Api.addRole(parame, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        let _this = this
        this.$nextTick(function () {
          this.getRoomCodeData()
          if (this.data.id) {
            this.$set(this.ruleForm, 'account1', '')
            this.ruleForm.id = this.data.id
            this.title = false
            if (this.ruleForm.id && this.ruleForm.id > 0) {
              this.title = true
              let submitData = {}
              submitData.id = this.ruleForm.id
              let obj = this
              this.loading = true
              Api.getRole(submitData, function () {
                obj.loading = false
              }).then((res) => {
                for (let item in this.ruleForm) {
                  if (item === 'grade') {
                    if (res.data['memberTypeId'] === 4) {
                      this.ruleForm[item] = res.data[item]
                      continue
                    }
                    continue
                  }
                  this.ruleForm[item] = res.data[item]
                }
                this.ruleForm.memberTypeId = this.ruleForm.memberTypeId.toString()
                if (_this.ruleForm.nickname.indexOf('***') !== -1) {
                  let arr = _this.ruleForm.nickname.split('')
                  _this.ruleForm.nickNameType = '2'
                  _this.accountNickname = {
                    firstNum: arr[0],
                    secondNum: arr[1],
                    lastNum: arr[arr.length - 1]
                  }
                  _this.ruleForm.nickname = ''
                } else {
                  _this.ruleForm.nickNameType = '1'
                }
                _this.$nextTick(function () {
                  obj.loading = false
                })
              })
            }
          } else {
            this.ruleForm.nickNameType = '1'
          }
        })
      }
    },
    'ruleForm.nickNameType' () {
      if (this.ruleForm.nickNameType === '2') {
        this.$refs['nicknameForm'] && this.$refs['nicknameForm'].clearValidate()
      } else {
        this.$refs['accountForm'] && this.$refs['accountForm'].clearValidate()
      }
    },
    'accountNickname.firstNum' (nv) {
      this.ruleForm.account1 = nv + this.accountNickname.secondNum + `***${this.accountNickname.lastNum}`
    },
    'accountNickname.secondNum' (nv) {
      this.ruleForm.account1 = this.accountNickname.firstNum + nv + `***${this.accountNickname.lastNum}`
    },
    'accountNickname.lastNum' (nv) {
      this.ruleForm.account1 = this.accountNickname.firstNum + this.accountNickname.secondNum + `***${nv}`
    }
  }
}
</script>
<style>
  .el-form .el-form-item.no-margin {
    margin: 0 !important;
  }
  .hide-label  .el-form-item__label {
    display: none;
  }
</style>
