<template>
  <div class="bank-dialog">
    <el-popover
      popper-class="rwddetail-modal no-padding bank-modal"
      transition="fade-in-right"
      trigger="manual"
      :visible-arrow="false"
      v-model="showBlogForm"
      @hide="closeClear"
    >
      <div class="popover-header bg-primary">
        <div class="left" @click="closeClear"><i class="el-icon-arrow-left"></i></div>
        <div class="title" v-html="title"></div>
      </div>
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="popover-scroll-wrapper border-b">
          <div class="popover-scroll">
            <el-form :model="ruleForm" ref="ruleForm" status-icon label-position="top"  class="form "  size="small"  v-loading="loading"
                     element-loading-customClass="loadingClass" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
              <el-form-item label="开放等级" v-if="showGrade">
                <div class="level level-items">
                  <multiple-select v-model="gradeList" :level="level"></multiple-select>
                </div>
              </el-form-item>
            </el-form>

          </div>
        </div>
        <div class="el-dialog__footer" >
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
      <!--</el-dialog>-->
    </el-popover>
  </div>
</template>
<script>
import MultipleSelect from '@/components/MultipleSelect'
import {gradeVIPList} from '@/utils/config'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      ruleForm: {},
      loadingMsg: '正在拼命加载中...',
      level: gradeVIPList,
      gradeList: {isChangeValue: false, value: []},
      showGrade: true
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    title: {
      type: String,
      default: () => {
        return ''
      }
    }
  },
  components: {
    MultipleSelect
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        this.data.gradeList = this.gradeList
        this.showBlogForm = false
        this.$parent.updateSortData(this.data)
        let obj = this
        this.$nextTick(function () {
          setTimeout(function () {
            obj.submitLoading = false
          }, 1000)
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          if (this.data.roomGradeList) {
            this.gradeList = this.data.roomGradeList
          }
          if (this.data.showGrade !== undefined) {
            this.showGrade = this.data.showGrade
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
  .bank-modal{
    & .popover-scroll-wrapper{
      padding: 15px;
      height: calc(100% - 101px);
    }
  }
</style>
