<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="data.type && data.type === 'batch' ? '批量金流限制' : '金流限制'"
      @close="closeClear"
      width="500px"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form count-times-form" size="small" ref="ruleForm" v-loading="loading"
                   element-loading-customClass="loadingClass" label-width="120px" :label-position="screenW > 768 ? 'right':'top'" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="每日提现次数" prop="withdrawLimit">
              <el-input-number  v-model="ruleForm.withdrawLimit" placeholder="请输入提现次数" size="min" :controls="false" :precision="0" :min="0" @change="withdrawLimitRecover = false">
              </el-input-number>
              <el-button size="mini" type="primary" @click="setDefaultLimit('withdrawLimit')" :class="{'gray-btn': withdrawLimitRecover}">恢复默认值</el-button>
            </el-form-item>
            <el-form-item label="每日转账次数" prop="transferLimit">
              <el-input-number v-model="ruleForm.transferLimit" placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0" @change="transferLimitRecover = false">
              </el-input-number>
              <el-button size="mini" type="primary"  @click="setDefaultLimit('transferLimit')"  :class="{'gray-btn': transferLimitRecover}" >恢复默认值</el-button>
            </el-form-item>
            <el-form-item label="每日发红包次数" prop="redEnvelopeLimit">
              <el-input-number v-model="ruleForm.redEnvelopeLimit" placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0" @change="redEnvelopeLimitRecover = false">
              </el-input-number>
              <el-button size="mini" type="primary" @click="setDefaultLimit('redEnvelopeLimit')"  :class="{'gray-btn': redEnvelopeLimitRecover }" >恢复默认值</el-button>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer" :class="{'yn-operator-button':screenW < 768}">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MultipleSelect from '@/components/MultipleSelect'
import Api from '@/api/users'
import {validateRules} from '@/utils/validateRules'
export default {
  data () {
    let validateDrawLimit = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {'required': { msg: '请输入提现次数' }, 'number': { }})
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      valueLevel: '',
      withdrawLimitRecover: true,
      redEnvelopeLimitRecover: true,
      transferLimitRecover: true,
      ruleForm: {
        withdrawLimit: '',
        redEnvelopeLimit: '',
        transferLimit: '',
        userId: '',
        recover: ''
      },
      rules: {
        drawLimit: [
          { required: true, validator: validateDrawLimit, trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    allCashDate: Object
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    // handleWithdrawLimitChange () {
    //   if (this.ruleForm.withdrawLimit === this.allCashDate.withdrawTimes) {
    //     this.withdrawLimitRecover = true
    //   } else {
    //     this.withdrawLimitRecover = false
    //   }
    // },
    // handleTransferLimitLimitChange () {
    //   if (this.ruleForm.transferLimit === this.allCashDate.transferDayLimitCount) {
    //     this.transferLimitRecover = true
    //   } else {
    //     this.transferLimitRecover = false
    //   }
    // },
    // handleRedEnvelopeLimitLimitChange () {
    //   if (this.ruleForm.redEnvelopeLimit === this.allCashDate.redEnvelopeDayLimitCount) {
    //     this.redEnvelopeLimitRecover = true
    //   } else {
    //     this.redEnvelopeLimitRecover = false
    //   }
    // },
    setDefaultLimit (type) {
      if (type === 'withdrawLimit') {
        this.withdrawLimitRecover = true
        this.ruleForm.withdrawLimit = this.allCashDate.withdrawTimes
      }
      if (type === 'transferLimit') {
        this.transferLimitRecover = true
        this.ruleForm.transferLimit = this.allCashDate.transferDayLimitCount
      }
      if (type === 'redEnvelopeLimit') {
        this.redEnvelopeLimitRecover = true
        this.ruleForm.redEnvelopeLimit = this.allCashDate.redEnvelopeDayLimitCount
      }
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        let recover = ''
        if (this.withdrawLimitRecover) {
          recover += ',withdrawLimit'
        }
        if (this.transferLimitRecover) {
          recover += ',transferLimit'
        }
        if (this.redEnvelopeLimitRecover) {
          recover += ',redEnvelopeLimit'
        }
        if (recover !== '') {
          recover = recover.substr(1)
        }
        submitData.recover = recover
        let obj = this
        // 批量操作
        if (this.data.type && this.data.type === 'batch') {
          delete submitData.userId
          submitData.userIds = this.data.ids
          Api.updateUserConfigBatch(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(this.allCashDate.withdrawTimes)
            // if (this.ruleForm.withdrawLimit === this.allCashDate.withdrawTimes && this.ruleForm.redEnvelopeLimit === this.allCashDate.redEnvelopeDayLimitCount && this.ruleForm.transferLimit === this.allCashDate.transferDayLimitCount) {
            //   this.msgSuccess('修改没有变化，修改无效')
            //   // this.msgSuccess('保存成功')
            // } else {
            //   this.msgSuccess('保存成功')
            // }
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.updateUserConfig(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(this.allCashDate.withdrawTimes)
          // if (this.ruleForm.withdrawLimit === this.allCashDate.withdrawTimes && this.ruleForm.redEnvelopeLimit === this.allCashDate.redEnvelopeDayLimitCount && this.ruleForm.transferLimit === this.allCashDate.transferDayLimitCount) {
          //   this.msgSuccess('修改没有变化，修改无效')
          //   // this.msgSuccess('保存成功')
          // } else {
          //   this.msgSuccess('保存成功')
          // }
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  components: {
    MultipleSelect
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.withdrawLimitRecover = false
          this.redEnvelopeLimitRecover = false
          this.transferLimitRecover = false
          this.ruleForm.userId = this.data.userId
          if (this.data.withdrawLimit === -1) {
            this.ruleForm.withdrawLimit = this.allCashDate.withdrawTimes
            this.withdrawLimitRecover = true
          } else {
            this.ruleForm.withdrawLimit = this.data.withdrawLimit
          }
          if (this.data.redEnvelopeLimit === -1) {
            this.ruleForm.redEnvelopeLimit = this.allCashDate.redEnvelopeDayLimitCount
            this.redEnvelopeLimitRecover = true
          } else {
            this.ruleForm.redEnvelopeLimit = this.data.redEnvelopeLimit
          }
          if (this.data.transferLimit === -1) {
            this.ruleForm.transferLimit = this.allCashDate.transferDayLimitCount
            this.transferLimitRecover = true
          } else {
            this.ruleForm.transferLimit = this.data.transferLimit
          }
          this.loading = false
        })
      }
    }
  }
}
</script>
<style>
  .count-times-form{
    & input{
        width:220px;
      }

    & div.el-input-number{
        margin-right:55px;
      }
  }
  .yn-operator-button{
    float:left;
  }
  /*.width150 {*/
  /*  width: 380px;*/
  /*}*/
  /*.el-form {*/
  /*  width: 100%;*/
  /*}*/
  /*@media screen and (max-width:1023px){*/

  /*  .width150 {*/
  /*    width: 100%;*/
  /*  }*/
  /*  .admin-btn{*/
  /*    & .el-form-item__content{*/
  /*      display:inline-block;*/
  /*      margin-left:10px;*/
  /*    }*/
  /*  }*/
  /*}*/
</style>
