<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增报表清除"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="ruleForm" :rules="rules" class="form delect-height" size="small" ref="ruleForm" label-position="top" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="清除类型" prop="type" class="inline-style">
              <el-radio-group  v-model="ruleForm.type" size="mini" @change="handleTypeChange">
                <el-radio-button label="1">按数据类型</el-radio-button>
                <el-radio-button label="2">按流水号</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="会员账号" prop="userNames" v-if="ruleForm.type === '1'">
              <div class="delet-account">
                <!--<div class="text-style absolute-style" >点击Enter键区分多个会员账号</div>-->
                <!--<lg-tag-->
                  <!--class="inline-input book-mark"-->
                  <!--v-model="ruleForm.userNames"-->
                  <!--:placeholder="screenW>=768 ? '请填写会员账号，输入多个会员账号时以逗号隔开':'多个会员账号以隔开'"-->
                  <!--:recTags="[]"-->
                  <!--:max-tags-size="300"-->
                  <!--:trigger-on-focus="true"-->
                  <!--ref="addColletcTag"-->
                <!--&gt;</lg-tag>-->
                <el-input  v-model="ruleForm.userNames" :placeholder="screenW>=768 ? '请填写会员账号，输入多个会员账号时以逗号隔开，上限100个':'多个会员账号以隔开，上限100个'"></el-input>
              </div>
            </el-form-item>
            <el-form-item label="会员账号" prop="userName" v-if="ruleForm.type === '2'">
              <el-input  v-model="ruleForm.userName" placeholder="请输入会员账号"></el-input>
            </el-form-item>
            <div class="deletenumber-class" v-if="ruleForm.type === '1'" >
              <el-form-item label="清除数据" prop="data" class="inline-style">
                <el-radio-group  v-model="ruleForm.dataType" size="mini">
                  <el-radio-button label="1">所有数据</el-radio-button>
                  <el-radio-button label="2">投注金额</el-radio-button>
                  <el-radio-button label="3">中奖金额</el-radio-button>
                </el-radio-group>
              </el-form-item>
              <el-form-item label="清除日期" prop="startTime">
                <el-col :sm="11" :class="{'margin-b4': screenW<768}">
                  <template v-if="screenW>768">
                    <el-date-picker
                      v-model="ruleForm.startTime"
                      type="date"
                      placeholder="选择开始日期" >
                    </el-date-picker>
                  </template>
                  <template v-else>
                    <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                  </template>
                </el-col>
                <el-col class="line" :sm="2" v-if="screenW>=768">-</el-col>
                <el-col :sm="11">
                  <template v-if="screenW>768">
                    <el-date-picker
                      v-model="ruleForm.endTime"
                      type="date"
                      placeholder="选择结束日期" >
                    </el-date-picker>
                  </template>
                  <template v-else>
                    <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                  </template>
                </el-col>
              </el-form-item>
            </div>
            <div class="deletedata-class" v-else>
              <el-form-item label="流水号" prop="recordCode">
                <el-input  v-model="ruleForm.recordCode" placeholder="请输入流水号"></el-input>
              </el-form-item>
            </div>
            <el-form-item label="备注" prop="remark">
              <el-input  type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import LgTag from '@/components/tag'
import Api from '@/api/tenant'
import {DateFormat} from '@/utils/Time'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  data () {
    let validateUserName = (rule, value, callback) => {
      if (!value) {
        callback(new Error('请输入会员账号'))
        return
      }
      let data = value.split(',')
      if (data.length > 100) {
        callback(new Error('批量操作最多只能输入100个账号'))
        return
      }
      callback()
    }
    let validateTime = (rule, value, callback) => {
      if (new Date(DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')) > new Date(DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd'))) {
        callback(new Error('开始时间不能大于结束时间'))
        return
      }
      if (new Date() - new Date(this.ruleForm.startTime) > 1000 * 60 * 60 * 24 * Number(40)) {
        callback(new Error('只能清除最近40天记录'))
        return
      }
      if (new Date(this.ruleForm.endTime) - new Date(this.ruleForm.startTime) > 1000 * 60 * 60 * 24 * Number(40)) {
        callback(new Error('只能清除40天记录'))
        return
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        type: '1',
        userNames: '',
        userName: '',
        dataType: '1',
        startTime: '',
        endTime: '',
        recordCode: '',
        remark: ''
      },
      rules: {
        // userNames: [{ type: Array, required: true, message: '请选择类型', trigger: 'change' }],
        type: [
          { required: true, message: '请选择清除类型', trigger: 'change' }
        ],
        startTime: [
          { required: true, message: '请选择添除起始时间', trigger: 'blur' },
          {validator: validateTime, trigger: 'blur'}
        ],
        endTime: [
          { required: true, message: '请选择添除戴止时间', trigger: 'blur' },
          {validator: validateTime, trigger: 'blur'}
        ],
        recordCode: [
          { required: true, message: '请输入流水号', trigger: 'blur' }
        ],
        userNames: [
          {required: true, validator: validateUserName, trigger: 'blur'}
        ],
        userName: [
          { required: true, message: '请输入会员账号', trigger: 'blur' }
        ],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' },
          {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    handleTypeChange () {
      this.$refs['ruleForm'].clearValidate()
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        if (this.ruleForm.type === '2') {
          submitData.userNames = this.ruleForm.userName
        } else {
          submitData.userNames = this.ruleForm.userNames
        }
        submitData.startTime = this.ruleForm.startTime
        submitData.endTime = this.ruleForm.endTime
        if (Number(this.ruleForm.type) === 2) {
          submitData.type = '0'
          submitData.recordCode = this.ruleForm.recordCode
        } else {
          submitData.type = this.ruleForm.dataType
          submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
          submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
        }
        submitData.remark = this.ruleForm.remark
        Api.setClearing(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  components: {
    LgTag,
    DatetimePicker
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  }
}
</script>
<style scoped>
  .delect-height{
    min-height: 380px;
  }
  .el-dialog__body .absolute-style {
    left: 70px;
  }
  .searchtime{
    width: 49% !important;
  }
  .line {
    text-align: center;
  }
  @media screen and (max-width: 400px){
    .searchtime{
      width: 100% !important;
    }
    .search-margin{
      margin-bottom: 4px;
    }
  }
</style>
