<template>
  <div class="bank-dialog">
    <el-dialog
      :visible.sync="showBlogForm"
      title="充值优惠设置"
      @close="closeClear"
      :close-on-click-modal="true"
      custom-class="mini-reveal-modal activity-discount-dialog discount-dialog">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <scroll :id="'scrollId1'" class="el-table">
          <el-table
            :data="allList"
            ref="multipleTable"
            style="width: 100%">
            <el-table-column
              label="充值类型"
              min-width="110"  class-name="more-padding" show-overflow-tooltip>
              <template slot-scope="scope"><span >{{scope.row.rechargeType}}</span></template>
            </el-table-column>
            <el-table-column
              prop="rechargeMin"
              label="最低充值金额(元）"
              min-width="110">
              <template slot-scope="scope">
                <el-input-number type="number" v-model="scope.row.rechargeMin" class="width-search100 text-center" :controls="false"></el-input-number>
              </template>
            </el-table-column>
            <el-table-column
              min-width="110"
              label="日常赠送(%)">
              <template slot-scope="scope">
                <el-input-number size="mini" v-model="scope.row.bonusRate" :precision="1" :step="0.1" :min="0.0" :max="5"></el-input-number>
              </template>
            </el-table-column>
            <el-table-column
              min-width="110"
              label="每日首充赠送(%)">
              <template slot-scope="scope">
                <el-input-number size="mini" v-model="scope.row.firstBonusRate" :precision="1" :step="0.1" :min="0.0" :max="100"></el-input-number>
              </template>
            </el-table-column>
            <el-table-column
              min-width="110"
              label="每日赠送次数">
              <template slot-scope="scope">
                <el-input-number type="number" v-model="scope.row.dailyBonusCount" class="width-search100 text-center" :min="0" :max="99999"  :precision="0" :controls="false"></el-input-number>
              </template>
            </el-table-column>
            <el-table-column
              min-width="130"
              class-name="act-btn"
              label="是否启用">
              <template slot-scope="scope">
                <el-radio-group v-model="scope.row.enable"  size="mini">
                  <el-radio-button label="true">开启</el-radio-button>
                  <el-radio-button label="false">关闭</el-radio-button>
                </el-radio-group>
              </template>
            </el-table-column>
          </el-table>
          </scroll>
          <div class="text-style discount-note-style">
            <ol>
              <li> 温馨提示：</li>
              <li> * 会员每日首充按照每日首充赠送进行奖励，当日再次充值则按照日常赠送进行奖励。</li>
              <li >* 每日首充赠送设置为0，则视为关闭首充奖励，充值优惠全部按照日常赠送进行奖励。</li>
              <li> * 日常赠送和每日首充赠送都会减少每日赠送次数，赠送次数次日0点重置。</li>
            </ol>
          </div>
        </div>

        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click="submitForm" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/activity'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      allList: [],
      ruleForm: {},
      loadingMsg: '正在拼命加载中...',
      multipleSelection: []
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
    Scroll
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    },
    submitForm () {
      this.submitLoading = true
      let obj = this
      let submitData = {}
      submitData.saveData = JSON.stringify(this.allList)
      Api.setRechargeBonusConfig(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.msgSuccess('保存成功')
        this.showBlogForm = false
        this.$nextTick(function () {
          setTimeout(function () {
            obj.submitLoading = false
          }, 1000)
        })
      })
    },
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.getRechargeBonusConfig(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        this.$nextTick(function () {
          for (let item in this.allList) {
            if (!this.allList[item].enable) {
              continue
            }
            this.$refs.multipleTable.toggleRowSelection(this.allList[item])
          }
          obj.loading = false
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.getOrderList()
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
  .activity-discount-dialog{
    max-width: 755px !important;
    & .el-dialog__header{
      padding: 15px 20px;
    }
    & .el-dialog__headerbtn{
     right: 22px;
    }
    &.el-dialog__body{
      padding: 0 !important;
    }
    & .cell{
      text-align: center;
    }
    & .act-btn .cell{
      padding: 6px 22px 6px 10px !important;
    }
    & .more-padding .cell{
      padding: 6px 10px 6px 20px !important;
    }
    & .el-input-number--mini{
      width: 100px;
    }
  }
  .discount-note-style ol{
    padding: 20px 20px 0 20px;
    list-style: none;
    margin: 0;
     & .padding8{
       padding-left: 8px;
     }
  }
</style>
