<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '域名编辑':'新增域名'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="网站类型" prop="urlId">
              <el-radio-group  v-model="ruleForm.urlId" :size="screenW > 768 ? 'mini':'medium'">
                <el-radio-button label="1">前台</el-radio-button>
                <el-radio-button label="2">后台</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="站长编码" prop="tenantCode">
              <el-input  v-model.trim="ruleForm.tenantCode" placeholder="请输入站长编码" :disabled="title"></el-input>
            </el-form-item>
            <el-form-item label="网站域名" prop="url" v-if="screenW > 768">
              <el-input   v-model="ruleForm.url" :placeholder="ruleForm.urlId === '1' ? '如：xxx.com（必须是一级域名，不需要添加WWW.与M.）':'如：xxx.yyy.com（必须是二级域名，但不支持WWW.或M.）'"></el-input>
            </el-form-item>
            <el-form-item label="网站域名" prop="url" v-else>
              <el-input   v-model="ruleForm.url"  placeholder="请输入域名"></el-input>
              <div class="text-style">{{ruleForm.urlId === '1' ? '如：xxx.com（必须是一级域名，不需要添加WWW.与M.）':'如：xxx.yyy.com（必须是二级域名，但不支持WWW.或M.'}}</div>
            </el-form-item>
            <el-form-item >
              <div class="text-style">* 添加前请先做好域名解析<br>
                * 前台网址只需添加主网址（不需要添加www.与m.），前台最多只允许添加100条<br>* 后台最多只允许添加2条，且必须是二级域名</div>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" @click="submitForm('ruleForm')" size="mini" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    let validateUrl = (rule, value, callback) => {
      if (!value || value === '') {
        callback(new Error('请输入域名'))
        return
      }
      if (this.ruleForm.tenantCode && this.ruleForm.tenantCode.toLowerCase() === 'app') {
        callback()
        return
      }
      let index = value.toLowerCase().indexOf('http://')
      if (index > -1) {
        callback(new Error('格式错误，不能包含http://'))
        return
      }
      index = value.toLowerCase().indexOf('https://')
      if (index > -1) {
        callback(new Error('格式错误，不能包含https://'))
        return
      }
      index = value.toLowerCase().indexOf('www.')
      if (index > -1) {
        callback(new Error('格式错误，不需要添加WWW.与M.'))
        return
      }
      let reg = /^m\./
      let valid = reg.test(value.toLowerCase())
      if (valid) {
        callback(new Error('格式错误，不需要添加WWW.与M.'))
        return
      }
      let urlData = value.split('.')
      // console.log('urlData', urlData)
      if (this.ruleForm.urlId === '1') {
        if (urlData.length !== 2) {
          callback(new Error('前台网址必须使用一级域名（不需要添加WWW.与M.）'))
          return
        }
      }
      if (this.ruleForm.urlId === '2') {
        if (urlData.length !== 3) {
          callback(new Error('后台网址必须使用二级域名（但不支持WWW.或M.）'))
          return false
        }
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      title: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        tenantCode: '',
        url: '',
        urlId: '1',
        remark: ''
      },
      rules: {
        tenantCode: [
          { required: true, message: '请输入站长编码', trigger: 'blur' }
        ],
        url: [
          { required: true, validator: validateUrl, trigger: 'blur' },
          {min: 5, max: 100, message: '长度在 5 到 100 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateUrl(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.addUrl(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.ruleForm.tenantCode = this.data.tenantCode
          this.ruleForm.url = this.data.url
          this.title = true
          if (!this.ruleForm.id || this.ruleForm.id === '') {
            this.ruleForm.urlId = '1'
            this.title = false
          }
          this.ruleForm.remark = ''
          if (this.data.remark) {
            this.ruleForm.remark = this.data.remark
          }
          if (this.data.id) {
            let submitData = {}
            submitData.id = this.data.id
            let obj = this
            Api.url(submitData, function () {
              obj.loading = false
            }).then((res) => {
              this.ruleForm.urlId = res.data.url.urlId
              this.$nextTick(function () {
                obj.loading = false
              })
            })
          } else {
            this.loading = false
          }
          // console.log(this.ruleForm)
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<!--<style scoped>-->
<!--.width150 {-->
      <!--width: 380px;-->
    <!--}-->
  <!--@media screen and (max-width:1023px){-->
    <!--.form{-->
      <!--width:100%;-->
    <!--}-->
    <!--.width150 {-->
      <!--width: 100%;-->
    <!--}-->
    <!--.admin-btn{-->
      <!--& .el-form-item__content{-->
        <!--display:inline-block;-->
        <!--margin-left:10px;-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--</style>-->
