<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="反馈内容"
      :tableDatas="tableDatas"
      class="feedback-replay-dialog"
      custom-class="small-reveal-modal role-modal"
      @close="closeClear"
      :close-on-click-modal="false"
    >
      <template>
        <div class="info-wp">
          <div class="info-feedback-wp">
            <div v-if="screenW > 768" >
                            <el-row class="feeedback-title-diff">
                              <el-col :span="5" class="feedback-title">
                                <label>网站名称:</label>{{curDialogInfo.tenantName}}
                              </el-col>
                              <el-col :span="6"  class="feedback-title text-align-center ">
                                <label>站长编码:</label> {{curDialogInfo.tenantCode}}
                              </el-col>
                              <el-col :span="8"  class="feedback-title text-align-center">
                                <label>反馈时间:</label> {{curDialogInfo.gmtCreated}}
                              </el-col>
                              <el-col :span="5"  class="feedback-title text-align-right">
                                <label>反馈类型:</label> {{curDialogInfo.feedbackType|feedbackTypeFilter}}
                              </el-col>
                            </el-row>
            </div>
            <div v-else>
              <el-row  class="feeedback-title-diff feeedback-title-diff-app feedback-title">
                <el-col :span="14">
                  <label>网站名称:</label>{{curDialogInfo.tenantName}}
                </el-col>
                <el-col :span="10"  class="text-align-center">
                  <label>站长编码:</label> {{curDialogInfo.tenantCode}}
                </el-col>
              </el-row>
              <el-row  class="feeedback-title-diff feeedback-title-diff-app">
                <el-col :span="14"  class="text-align-center">
                  <label>反馈时间:</label> {{curDialogInfo.gmtCreated}}
                </el-col>
                <el-col :span="10"  class="text-align-right">
                  <label>反馈类型:</label> {{curDialogInfo.feedbackType|feedbackTypeFilter}}
                </el-col>
              </el-row>
            </div>
            <div class="info-feedback" v-html="curDialogInfo.feedback"></div>
            <div >
              <p class="replay-content-p feedback-title">回复内容</p>
              <p v-show="curDialogInfo.reply">{{curDialogInfo.reply}}</p>
            </div>
            <div>
              <el-input ref="replyWebmaster" placeholder="请输入内容" @focus="inputEnter=true" @blur="inputEnter=false" v-model="replyWebmaster" class="input-with-select feedback-reply-webmaster">
                <el-button slot="append" style="background-color: #09C;"  @click="replayMaster">回复站长</el-button>
              </el-input>
            </div>
          </div>

        </div>
        <div class="sepc-operate-wp">
          <div class="spec-wp">
            <div class="spec">
              <div class="spec-item sum-num feedback-title" >数量:{{rowIndex}}/{{itemsTotal}}条</div>
              <div class="spec-item cursor-pointer" @click="updownFeedback('up')" :class="{'grayBtn':rowIndex === 1}"><i class="font-style feedback-title">⬅️</i> 上一条</div>
              <div class="spec-item cursor-pointer" @click="updownFeedback('down')"    :class="{'grayBtn':rowIndex === itemsTotal}"><i class="font-style feedback-title">➡️</i> 下一条</div>
            </div>
          </div>
          <div class="operate-wp" v-if="screenW > 768" >
            <el-button :disabled="submitLoading1" size="mini" type="primary"
                       :loading="submitLoading1"
                       :class="{yellowFont:curDialogInfo.markType===1 && !submitLoading1}"
                       @click="submitFeedback(1)"> {{submitLoading1 ? '正在提交' : '[1]需求'}}
            </el-button>
            <el-button :disabled="submitLoading2" size="mini" type="primary"
                       :loading="submitLoading2"
                       :class="{yellowFont:curDialogInfo.markType===2 && !submitLoading2}"
                       @click="submitFeedback(2)">  {{submitLoading2 ? '正在提交' : '[2]BUG'}}
            </el-button>
            <el-button :disabled="submitLoading3" size="mini" type="primary"
                       :loading="submitLoading3"
                       :class="{yellowFont:curDialogInfo.markType===3 && !submitLoading3}"
                       @click="submitFeedback(3)">  {{submitLoading3 ? '正在提交' : '[3]无效反馈'}}
            </el-button>
          </div>
        </div>
        <div class="margin-t10 margin-l10" v-if="screenW < 768" >
          <el-button :disabled="submitLoading1" size="mini" type="primary"
                     :loading="submitLoading1"
                     :class="{yellowFont:curDialogInfo.markType===1 && !submitLoading1}"
                     @click="submitFeedback(1)"> {{submitLoading1 ? '正在提交' : '[1]需求'}}
          </el-button>
          <el-button :disabled="submitLoading2" size="mini" type="primary"
                     :loading="submitLoading2"
                     :class="{yellowFont:curDialogInfo.markType===2 && !submitLoading2}"
                     @click="submitFeedback(2)">  {{submitLoading2 ? '正在提交' : '[2]BUG'}}
          </el-button>
          <el-button :disabled="submitLoading3" size="mini" type="primary"
                     :loading="submitLoading3"
                     :class="{yellowFont:curDialogInfo.markType===3 && !submitLoading3}"
                     @click="submitFeedback(3)">  {{submitLoading3 ? '正在提交' : '[3]无效反馈'}}
          </el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      submitLoading1: false,
      submitLoading2: false,
      submitLoading3: false,
      loading: false,
      replyWebmaster: '',
      rowIndex: 1,
      curDialogInfo: {},
      inputEnter: false,
      img1: require('../../assets/img/demand.png'),
      img2: require('../../assets/img/bug.png'),
      img3: require('../../assets/img/Invalidfeedback.png')
    }
  },
  props: {
    visible: Boolean,
    ruleForm: Object,
    interfaceFlag: Object,
    rowInfoIndex: Number,
    itemsTotal: Number,
    pageSize: Number,
    pageNum: Number,
    tableDatas: Array,
    pagesTotal: Number
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      document.removeEventListener('keyup', this.shortcut)
    },
    submitFeedback (markType) {
      let obj = this
      let submitstatus = this.submitLoading1 || this.submitLoading2 || this.submitLoading3
      if (this.inputEnter || submitstatus) {
        return
      }
      if (markType) {
        this['submitLoading' + markType] = true
      }
      this.curDialogInfo.markType = markType
      let params = {
        id: this.curDialogInfo.id,
        markType: markType
      }
      Api.feedbackMarkType(params, function () {
        obj['submitLoading' + markType] = false
      }).then((res) => {
        this['submitLoading' + markType] = false
        this.addStampImg(markType)
        this.msgSuccess('标记成功')
      })
    },
    updownFeedback (type) {
      if (this.inputEnter || this.interfaceFlag.flag) {
        return
      }
      if (type === 'up') {
        if (this.rowIndex === 1) {
          this.msgError('没有更多数据')
          return
        }
        --this.rowIndex
      }
      if (type === 'down') {
        if (this.rowIndex === this.itemsTotal) {
          this.msgError('没有更多数据')
          return
        }
        ++this.rowIndex
      }
      let num = this.rowIndex - (this.pageNum - 1) * this.pageSize
      this.$emit('rowInfoindextr', this.rowIndex)
      if (this.interfaceFlag.flag) {
        let interfaceStatus = setInterval(() => {
          if (!this.interfaceFlag.flag) {
            clearInterval(interfaceStatus)
            num = this.rowIndex - (this.pageNum - 1) * this.pageSize
            this.curDialogInfo = this.tableDatas[num - 1]
            this.addStampImg(this.curDialogInfo.markType)
          }
        }, 100)
      } else {
        this.curDialogInfo = this.tableDatas[num - 1]
        this.addStampImg(this.curDialogInfo.markType)
      }
    },
    replayMasterEnter (keycode) {
      if (keycode !== 13 || !this.inputEnter) {
        return
      }
      console.info(this.$refs.replyWebmaster)
      this.$refs.replyWebmaster.$refs.input.blur()
      this.replayMaster()
    },
    replayMaster () {
      if (!this.replyWebmaster.replace(/^\s+|\s+$/g, '')) {
        return
      }
      if (this.replyWebmaster.length > 200) {
        this.msgError('输入的文字不超过200字')
        return
      }
      let param = {}
      param.id = this.curDialogInfo.id
      param.reply = this.replyWebmaster
      Api.feedbackTenant(param).then((res) => {
        this.curDialogInfo.reply = this.replyWebmaster
        this.replyWebmaster = ''
        this.msgSuccess('回复成功')
      })
    },
    shortcut (e) {
      let key = e.keyCode
      switch (key) {
        case 49:
          this.submitFeedback(1)
          break
        case 50:
          this.submitFeedback(2)
          break
        case 51:
          this.submitFeedback(3)
          break
        case 39:
          this.updownFeedback('down')
          break
        case 37:
          this.updownFeedback('up')
          break
        case 13:
          this.replayMasterEnter(key)
          break
        default:
          break
      }
    },
    // 盖章初始化处理
    addStampImg (markType) {
      if (!markType) {
        return
      }
      let indexP = -1
      if (this.curDialogInfo.feedback.lastIndexOf('stampImg') > 0) {
        indexP = this.curDialogInfo.feedback.lastIndexOf('<img')
        if (indexP > 0) {
          this.curDialogInfo.feedback = this.curDialogInfo.feedback.substr(0, indexP)
        }
      }
      // let imgType = `img${markType}`
      // /static/img/
      let imgType = ''
      if (markType === 1) {
        imgType = '../../../../static/img/demand.png'
      }
      if (markType === 2) {
        imgType = '../../../../static/img/bug.png'
      }
      if (markType === 3) {
        imgType = '../../../../static/img/Invalidfeedback.png'
      }
      this.curDialogInfo.feedback += `<img class="stampImg" src=${imgType}>`
    }
  },
  filters: {
    feedbackTypeFilter (value) {
      let text = ''
      switch (value) {
        case 1:
          text = '产品需求'
          break
        case 2:
          text = '平台建议'
          break
        case 3:
          text = '系统BUG'
          break
      }
      return text
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.rowIndex = this.rowInfoIndex
        this.curDialogInfo = this.tableDatas[this.rowIndex - this.pageSize * (this.pageNum - 1) - 1]
        this.addStampImg(this.curDialogInfo.markType)
        document.addEventListener('keyup', this.shortcut)
      }
    }
  }
}
</script>
<style>
  .info-wp{
    display: flex;
  & .info-others{
      flex: 1;
  & .info-others-item{
      height: 30px;
      color: var(--color-table-body) !important;
    }
  }
  & .info-feedback-wp{
      flex: 1;
      padding-left: 10px;
      padding-right: 10px;
  & .info-feedback-title{
      display: flex;
      justify-content: space-between;
      height: 40px;
  & .info-feedback-title-item{
    }
  }
  & .info-feedback{
      box-sizing:border-box;
      position: relative;
      padding: 5px;
      min-height: 230px;
      background-color: #f5f7fa;
      border: 1px solid #E4E7ED;
      overflow: scroll;
    }
  }

  }
  .sepc-operate-wp{
    display: flex;
    margin-top: 30px;
    padding-left:10px;
    padding-right: 10px;
  & .spec-wp{
      flex: 1;
  & .spec{
      clear: both;
  & .spec-item{
      float: left;
      min-width: 90px;
  &.cursor-pointer{
     cursor:pointer
   }
  & .font-style{
      font-style: normal;
      font-family:'AppleColorEmoji', 'Apple Color Emoji';
    }
  }
  }
  }
  & .operate-wp{
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  .grayBtn.spec-item{
    color: #999a9b !important;
    pointer-events: none;
    cursor:not-allowed;
  & i{
      opacity: 0.5;
    }
  }
  .sum-num{
    margin-right:20px;
    padding-top: 2px;
  }
  .feedback-title{
    font-size: 14px;
    color:#171717;
  }
  .feeedback-title-diff{
    margin: -15px 0px 12px 0px;
  }
  .feedback-reply-webmaster {
    overflow: hidden;
    border-radius: 5px;
    & .el-input-group__append{
        background:#09C;
        margin-top: 10px;
        color:#fff
      }
      & .el-input-group__append{
        cursor: pointer;
        }
       }
  .yellowFont{
    color:yellow!important;
  }
  .stampImg{
    width:80px;
    position: absolute;
    right: 5px;
    bottom: 0px;
  }
  .replay-content-p{
    padding-top: 20px;
  }
  .text-align-center{
    text-align: center;
  }
  .text-align-right{
    text-align: right;
  }
  .feeedback-title-diff-app{
    margin-top: 10px;
  }
  .feeedback-title-diff-app div{
    text-align: left;
  }
</style>
