<template>
<div>
  <el-dialog
    :visible.sync="showBlogForm"
    :title="title ? '第四方编辑':'新增第四方'"
    @close="closeClear"
    :close-on-click-modal="false"
    custom-class="small-reveal-modal bank4-modal-style">
    <div v-if="statusFetch">数据加载中...</div>
    <template v-else>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" v-loading="loading"
               element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"   @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
        <el-form-item label="图标" prop="iconUrl">
          <div class="img-upload">
            <el-upload
              ref="upload"
              class="avatar-uploader imgshow"
              action="/v1/transaction/uploadImages"
              name="file"
              accept="image/jpeg,image/png,image/gif"
              :data="uploadParam"
              :show-file-list="false"
              :on-success="handleAvatarSuccess"
              :auto-upload="false"
              :on-error="handleOnError"
              :on-change="beforeAvatarUpload">
              <img v-if="imageUrl" :src="imageUrl" >
              <div class="img-off" v-else>
                <i  class="el-icon-plus avatar-uploader-icon"></i>
                <div class="upload-info">点击上传图片</div>
              </div>
            </el-upload>
            <div class="text-style">图标大小限制100*80</div>
          </div>
        </el-form-item>
        <!--<el-form-item label="开放终端" label-width="80px"  class="same-line" v-show="screenW < 1023">-->
        <!--</el-form-item>-->
        <!--<el-form-item label="开放等级" label-width="80px"  class="same-line" v-show="screenW < 1023">-->
        <!--</el-form-item>-->
        <el-form-item label="别名" prop="payAlias">
          <el-input  v-model="ruleForm.payAlias" :disabled="readOnly" placeholder="* 将作为支付名称显示,至少要2个字符"
                    auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="副标题" prop="subtitle">
          <el-input  v-model="ruleForm.subtitle" :disabled="readOnly" placeholder="请输入２－1６字符"
                     auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="站长ID" prop="merchantNumber">
          <el-input  v-model="ruleForm.merchantNumber" :disabled="true" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="密钥" prop="secretKey">
          <el-input  v-model="ruleForm.secretKey" :disabled="true" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="IP地址" prop="clientIp">
          <el-input  v-model="ruleForm.clientIp" auto-complete="off" placeholder="您的第四方服务器IP地址（如不对接自动到账系统，则此项不填）"></el-input>
        </el-form-item>
        <el-form-item label="支付网址" prop="payUrl">
          <el-input v-model="ruleForm.payUrl" auto-complete="off" placeholder="* 我们将于支付入口新增你的第四方页面链接"></el-input>
        </el-form-item>
        <el-form-item label="入款类型" prop="rechargeType" class="recharge-style">
            <el-radio v-model="ruleForm.rechargeType" :label="1">存款</el-radio>
            <el-radio v-model="ruleForm.rechargeType" :label="2">其它优惠礼金</el-radio>
        </el-form-item>
        <el-form-item>
          <div class="text-style">
            * 由于PC端展示空间有限，PC端默认只显示排在第一位的通道,其余通道通过下拉列表展示;<br>
            * 要实现第四方自动到账，请下载开发文档；<br>
            * 进行技术对接，未对接只会在支付入口新增您的第四方链接，<br>
            <span class="padding-l10">不能自动到账，点击<a class="color-bluebutton" :href="url | imgHost" download="接口开发文档.doc" >下载开发文档</a></span><br>
            * 入款类型为存款时作为充值计入第四方，类型为其它优惠礼金时作为礼金计入其它活动；
          </div>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeClear" size="mini">取 消</el-button>
        <el-button :disabled="submitLoading" type="primary" @click="submitForm('ruleForm')" size="mini" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
      </div>
    </template>
  </el-dialog>
</div>
</template>
<script>
import {bank} from '@/utils/config'
import Api from '@/api/transfer'
import {validateRules} from '@/utils/validateRules'
import {fileToImage} from '@/utils/convert'
import {imgHost} from '@/filters'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validatePayUrl = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入支付网址'},
        'url': {msg: '格式错误，需以http://开头'},
        'maxlength': {param: '127', msg: '最大值不能超过127位'},
        'minlength': {param: '6', msg: '最小值不能低于6位'}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    let validateClientIp = (rule, value, callback) => {
      if (value) {
        let vdt = validateRules.vdata(value, {
          'ip': {msg: 'IP格式错误'}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
        } else {
          callback()
        }
        return
      }
      callback()
    }
    let validateCommas = (rule, value, callback) => {
      if (value.indexOf(',') !== -1) {
        callback(new Error('格式错误,请勿输入英文逗号'))
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      bankList: bank,
      PayTypeMode: [], // 接口模式
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        payAlias: '',
        merchantNumber: '',
        secretKey: '',
        clientIp: '',
        payUrl: '',
        iconUrl: '',
        subtitle: '',
        rechargeType: 1
      },
      rules: {
        payAlias: [
          {required: true, message: '请输入别名', trigger: 'blur'},
          {min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur'},
          { validator: validateCommas, trigger: 'blur' }
        ],
        clientIp: [
          {validator: validateClientIp, trigger: 'blur'}
        ],
        payUrl: [
          {required: true, validator: validatePayUrl, trigger: 'blur'}
        ],
        subtitle: [
          {required: true, message: '请输入副标题', trigger: 'blur'},
          {min: 2, max: 16, message: '长度在 2 到 16 个字符', trigger: 'blur'}
        ]
      },
      fileData: {},
      imageUrl: '',
      uploadParam: {type: 1},
      limitWidth: 100,
      limitHeight: 80,
      url: '/system/cms/第四方后台自动到账接口开发文档_v4.doc'
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    getStationAgentAndKey () {
      let submitData = {}
      let obj = this
      Api.getStationAgentAndKey(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm.merchantNumber = res.data.merchantId
        this.ruleForm.secretKey = res.data.secretKey
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    closeClear () {
      this.fileData = {}
      this.submitLoading = false
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    submitForm (formName) {
      this.submitLoading = true
      if (this.fileData.imageFile) {
        this.ruleForm.iconUrl = '已上传'
      }
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.fileData.imageFile) {
          this.$refs.upload.submit()
          return false
        }
        this.submitData()
      })
    },
    submitData () {
      let obj = this
      Api.saveOrUpdateFourthParty(this.ruleForm, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.msgSuccess('保存成功')
        this.showBlogForm = false
        this.$parent.getFourPanmentList()
        this.$nextTick(function () {
          setTimeout(function () {
            obj.submitLoading = false
          }, 1000)
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    handleAvatarSuccess (res, file) {
      if (res.code !== 1) {
        this.submitLoading = false
        this.msgError(res.msg)
        return
      }
      this.ruleForm.iconUrl = res.data
      this.submitData()
    },
    handleOnError (errorData, file, fileList) {
      this.submitLoading = false
      this.msgError('上传图片失败')
    },
    beforeAvatarUpload (file, fileList) {
      if (file.response && Number(file.response.code) === 1) {
        return true
      }
      if (file.response && Number(file.response.code) !== 1) {
        this.submitLoading = false
        this.msgError('上传图片失败')
      }
      if (fileList.length > 1) {
        fileList.splice(0, 1)
      }
      let obj = this
      const isLt2M = file.raw.size / 1024 / 1024 < 2
      if (!isLt2M) {
        obj.submitLoading = false
        obj.msgError('上传头像图片大小不能超过 2MB')
        return false
      }
      fileToImage(file.raw, function (imageFile) {
        imageFile.onload = function () {
          let width = imageFile.width
          let height = imageFile.height
          const isWidth = width === obj.limitWidth
          const isHeight = height === obj.limitHeight
          if (!isWidth || !isHeight) {
            obj.submitLoading = false
            obj.msgError('图片尺寸要求【宽度：' + obj.limitWidth + 'px 高度：' + obj.limitHeight + 'px】')
            return false
          }
          obj.imageUrl = imageFile.src
          obj.fileData.imageFile = file
          return isLt2M && isWidth && isHeight
        }
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.ruleForm.id = this.data.id
          this.ruleForm.payAlias = this.data.payAlias
          this.ruleForm.merchantNumber = this.data.merchantNumber
          this.ruleForm.secretKey = this.data.secretKey
          this.title = true
          if (!this.data.id || this.data.id === '') {
            this.title = false
            this.getStationAgentAndKey()
          } else {
            this.loading = false
            this.ruleForm.subtitle = this.data.subtitle
            this.ruleForm.clientIp = this.data.clientIp
            this.ruleForm.payUrl = this.data.payUrl
            this.ruleForm.rechargeType = this.data.rechargeType
          }
          this.imageUrl = ''
          this.ruleForm.iconUrl = ''
          if (this.data.iconUrl) {
            this.imageUrl = imgHost(this.data.iconUrl)
            this.ruleForm.iconUrl = this.data.iconUrl
          }
        })
      }
    }
  }
}
</script>
<style>
  .bank4-modal-style{
    & .img-upload .imgshow{
      width: 120px;
      height: 120px;
    }
    & .el-upload img{
      width: 100px !important;
    }
    & .recharge-style .el-form-item__content{
      display: inline-block;
      width: 100%;
    }
  }
</style>
<!--<style>-->
<!--@import '../../assets/css/variable.css';-->

<!--.width150 {-->
  <!--width: 95%;-->
<!--}-->
<!--@media screen and (max-width: 1023px) {-->
  <!--.width150 {-->
    <!--width: 100%;-->
  <!--}-->

  <!--.wrapper {-->

    <!--& .el-dialog__wrapper {-->

      <!--& .el-form-item__label {-->
        <!--text-align: left;-->
      <!--}-->

      <!--& .el-form-item__content {-->
        <!--margin-left: 0 !important;-->
      <!--}-->
    <!--}-->

  <!--}-->
<!--}-->
<!--</style>-->
