<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '帮助指南编辑':'新增帮助指南'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal help-modal guide-news-model">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon label-position="top" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="标题" prop="title" >
              <el-input  v-model="ruleForm.title" placeholder="请输入标题2-25个字符"></el-input>
            </el-form-item>
            <el-form-item label="内容" prop="content" :class="{'no-title': title}">
            <medium-editor
              ref="content"
              v-model="ruleForm.content"
              @paste-event="uploadClipboardImage"
              :use-at-user="false"
              :contenteditable="true"
              :able-upload="true"
              :options="mediumOptions"
            ></medium-editor>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
        <!--導覽頁的黑背景和定位圖-->
        <transition name="el-fade-in-linear">
          <div class="guide-box" v-show="guidePic">
            <img :src="'/system/activity/guide/news_guide.png' | imgHost" alt="">
            <div @click="guidePicbox" class="guide-close"><i class="el-icon-error" ></i>关闭</div>
          </div>
        </transition>
        <transition name="el-fade-in-linear">
          <div class="bg" v-show="guidePic"></div>
        </transition>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import Api from '@/api/sys'
export default {
  data () {
    return {
      guidePic: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      title: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        title: '',
        content: ''
      },
      rules: {
        title: [
          { required: true, message: '请输入标题', trigger: 'blur' },
          {min: 2, max: 25, message: '长度在 2 到 25 个字符', trigger: 'blur'}
        ],
        content: [
          { required: true, message: '请输入内容', trigger: 'blur' }
        ]
      },
      // 编辑器配置
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholder: {
          text: '在这里分享你的正文...',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'bold', 'italic', 'underline', 'strikethrough', 'fontSize', 'fontColor', 'fontBgColor', 'removeFormat', 'html', 'quote', 'anchor', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'superscript', 'subscript', 'orderedlist', 'unorderedlist', 'pre', 'outdent', 'indent', 'table']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
    MediumEditor
  },
  methods: {
    guidePicbox () {
      this.guidePic = false
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateAssistance(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        }
        Api.addAssistance(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          if (!localStorage['guidePicNews']) {
            if (this.$store.state.media.screenWidth > 1023) {
              this.guidePic = true
              localStorage['guidePicNews'] = true
            }
          }
          this.ruleForm.id = this.data.id
          // console.log('ruleForm', this.ruleForm)
          this.title = false
          if (this.ruleForm.id && this.ruleForm.id > 0) {
            let submitData = {}
            submitData.id = this.ruleForm.id
            this.loading = true
            this.title = true
            let obj = this
            Api.findByIdAssistance(submitData, function () {
              obj.loading = false
            }).then((res) => {
              this.ruleForm.title = res.data.title
              this.ruleForm.content = res.data.content
              this.$nextTick(function () {
                obj.loading = false
              })
            })
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<!--<style>-->
<!--.width150 {-->
    <!--width: 100%;-->
  <!--}-->
  <!--.info-right{-->
    <!--display:inline-block;-->
  <!--}-->
  <!--@media screen and (max-width:1023px){-->
    <!--.width150 {-->
      <!--width: 100%;-->
    <!--}-->
    <!--.wrapper{-->
      <!--& .el-dialog__wrapper{-->
        <!--& .el-form-item__label{-->
          <!--text-align:left;-->
        <!--}-->
        <!--& .el-form-item__content{-->
          <!--margin-left:0!important;-->
        <!--}-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--</style>-->
