<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="type === 0 ? 'HTTPS套餐升級': 'HTTPS套餐续费'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :label-position="screenW >= 768 ? 'right':'top'" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass" label-width="80px"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="站长编码" prop="tenantCode" >
            <el-input  v-model="ruleForm.tenantCode" :disabled="true"></el-input>
          </el-form-item>
          <template v-if="type === 0">
             <!--升級-->
            <el-form-item label="套餐" prop="package" >
              <el-select v-model="ruleForm.package" label="套餐" class="width-lottery" placeholder="请选择套餐">
                <el-option
                  v-for="item in packageList"
                  :key="item.number"
                  :label="item.name"
                  :value="item.number">
                </el-option>
              </el-select>
            </el-form-item>
          </template>
          <template v-else>
            <!--續費-->
            <el-form-item label="当前套餐" prop="package" >
              <el-select v-model="ruleForm.packageNow" label="套餐" disabled class="width-lottery" placeholder="请选择套餐">
                <el-option
                  v-for="item in packageList"
                  :key="item.number"
                  :label="item.name"
                  :value="item.number">
                </el-option>
              </el-select>
              <div class="situation"> <span :class="ruleForm.situationClass" class="padding-r10">{{ruleForm.situation}}</span> <span class="text-style">到期时间：{{expireDate}}</span></div>
            </el-form-item>
            <el-form-item label="续费套餐" prop="title" >
              <el-select v-model="ruleForm.package" label="套餐" class="width-lottery" placeholder="请选择套餐">
                <el-option
                  v-for="item in packageList"
                  :key="item.number"
                  :label="item.name"
                  :value="item.number">
                </el-option>
              </el-select>
              <div class="text-style" v-if="count > ruleForm.package">当前使用域名{{count}}个，若要降级为该套餐，请站长将域名减少为{{ruleForm.package}}个或以下</div>
            </el-form-item>
            <el-form-item>
              <div>续费成功后套餐有效期将延长至 {{expireDay}}</div>
            </el-form-item>
          </template>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      time: false,
      expireDate: '',
      expireDay: '',
      count: '', // 目前使用域名
      webNum: '',
      ruleForm: {
        tenantCode: '',
        package: 5,
        isRenew: 0,
        packageNow: 5,
        situation: '',
        situationClass: ''
      },
      packageList: [
        {
          'number': 5,
          'name': '套餐一(5个域名)'
        },
        {
          'number': 10,
          'name': '套餐二(10个域名)'
        },
        {
          'number': 20,
          'name': '套餐三(20个域名)'
        },
        {
          'number': 30,
          'name': '套餐四(30个域名)'
        },
        {
          'number': 50,
          'name': '套餐五(50个域名)'
        }
      ]
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    type: Number
  },
  components: {
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let parame = {
          tenantCode: this.ruleForm.tenantCode,
          package: this.ruleForm.package,
          isRenew: 0
        }
        if (this.type === 1) {
          parame.isRenew = 1
        }
        Api.updatePackage(parame, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          obj.submitLoading = false
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    },
    dayChange (days) {
      let theBigDay = new Date(days)
      let num = theBigDay.setFullYear(theBigDay.getFullYear() + 1)
      let oDate = new Date(num)
      let oYear = oDate.getFullYear()
      let oMonth = oDate.getMonth() + 1
      let oDay = oDate.getDate()
      let oHour = oDate.getHours()
      let oMin = oDate.getMinutes()
      let oSen = oDate.getSeconds()
      let oTime = oYear + '-' + this.addZero(oMonth) + '-' + this.addZero(oDay) + ' ' + this.addZero(oHour) + ':' + this.addZero(oMin) + ':' + this.addZero(oSen)
      this.expireDay = oTime
    },
    addZero (num) {
      if (parseInt(num) < 10) {
        num = '0' + num
      }
      return num
    },
    getNumber () {
      this.loading = true
      let parame = {
        tenantCode: this.ruleForm.tenantCode
      }
      Api.getTenantSslUrlCount(parame, function () {
        this.loading = false
      }).then((res) => {
        this.count = res.data.count
        this.loading = false
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.ruleForm = {
            tenantCode: this.data.tenantCode,
            package: this.data.package,
            packageNow: this.data.package,
            situation: this.data.situation,
            situationClass: this.data.situationClass
          }
          this.getNumber()
          this.expireDate = this.data.expireDate
          this.dayChange(this.data.expireDate)
          if (this.ruleForm.package === 0) {
            this.ruleForm.package = '未开启套餐'
          }
        })
      }
    }
  }
}
</script>
<style scoped>
  .situation{
    font-size: 12px;
  }
</style>
