<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增网路运维备用host"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                   element-loading-customClass="loadingClass"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="站长编码" prop="tenantCode">
              <el-input placeholder="請輸入站长编码" v-model="ruleForm.tenantCode"  size="min">
              </el-input>
            </el-form-item>
            <el-form-item label="ip列表" prop="ipList">
              <el-input placeholder="如：120.0.0.1,127.0.0.2,127.0.0.3" v-model="ruleForm.ipList"  size="min">
              </el-input>
            </el-form-item>
            <el-form-item label="域名" prop="domain">
              <el-input placeholder="如：tkglsgcvfj57.com" v-model="ruleForm.domain"  size="min">
              </el-input>
            </el-form-item>
            <el-form-item label="服务器名称" prop="serverName">
              <el-input placeholder="請輸入服务器名称" v-model="ruleForm.serverName"  size="min">
              </el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rules: {
      },
      ruleForm: {
        tenantCode: '',
        ipList: '',
        domain: '',
        serverName: ''
      },
      typeIdList: [
        {
          'id': 3,
          'name': '高防'
        },
        {
          'id': 4,
          'name': '其他'
        }
      ]
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        Api.addHostBackup(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.loading = false
        })
      }
    }
  }
}
</script>
