<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? 'IP黑名单编辑':'新增IP黑名单'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                   element-loading-customClass="loadingClass"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="IP地址" prop="ip">
              <el-input placeholder="如：127.0.0.1" v-model="ruleForm.ip"  size="min">
              </el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <el-input v-model="ruleForm.remark"  placeholder="请输入备注信息，最多50个字符"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
import { validateRules } from '@/utils/validateRules'
export default {
  data () {
    var validateIP = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'ip': {}
      })
      if (!vdt.result) {
        return callback(new Error('IP格式不正确'))
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      valueLevel: '',
      rules: {
        ip: [
          { required: true, message: '请输入IP', trigger: 'blur' },
          {validator: validateIP, trigger: 'blur'}
        ],
        remark: [
          { required: false, max: 50, message: '备注信息最多50个字符', trigger: 'blur' }
        ]
      },
      ruleForm: {
        ip: '',
        remark: ''
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateLoginBlackIp(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.setLoginBlackIp(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
          }
          this.ruleForm.ip = this.data.blackIp
          this.ruleForm.remark = this.data.remark
          this.loading = false
        })
      }
    }
  }
}
</script>
<!--<style scoped>-->
  <!--.width150 {-->
    <!--width: 380px;-->
  <!--}-->
  <!--.el-form {-->
    <!--width: 100%;-->
  <!--}-->
  <!--@media screen and (max-width:1023px){-->

    <!--.width150 {-->
      <!--width: 100%;-->
    <!--}-->
    <!--.admin-btn{-->
      <!--& .el-form-item__content{-->
        <!--display:inline-block;-->
        <!--margin-left:10px;-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--</style>-->
