<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? 'IP编辑':'新增IP'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" :rules="rules"  size="small" ref="ruleForm"  v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="IP" prop="ip">
              <el-input v-model="ruleForm.ip"  auto-complete="off" placeholder="请输入IP地址"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <el-input v-model="ruleForm.remark"  auto-complete="off" placeholder="可输入备注说明"></el-input>
            </el-form-item>
          <el-form-item >
            <div class="text-style">* IP最多只允许添加100条</div>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button @click="submitForm('ruleForm')" size="mini"  type="primary" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
import { validateRules } from '@/utils/validateRules'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    var validateIP = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'ip': {}
      })
      if (!vdt.result) {
        return callback(new Error('IP格式不正确'))
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        ip: '',
        remark: ''
      },
      rules: {
        ip: [
          { required: true, message: '请输入IP', trigger: 'blur' },
          { validator: validateIP, trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateIp(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.addTenantIp(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    closeClear () {
      this.resetForm('ruleForm')
      this.$emit('onClose')
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
          }
          this.ruleForm.ip = this.data.ip
          this.ruleForm.remark = ''
          if (this.data.remark) {
            this.ruleForm.remark = this.data.remark
          }
          this.loading = false
          // console.log(this.ruleForm)
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
  @import '../../assets/css/variable.css';
  .descInput{
    height:200px;
    & textarea{
      height:100%;
    }
  }
</style>
