<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="发送站内信"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal guide-news-model">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-position="top" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="发送类型" prop="type" class="inline-style">
              <el-radio-group  v-model="ruleForm.type" size="mini" @change="handleTypeChange">
                <el-radio-button label="1"><div :class="{'text-ellipsis':screenW<768,'curr':ruleForm.type==='1'}">按收件人</div></el-radio-button>
                <el-radio-button label="2"><div :class="{'text-ellipsis':screenW<768,'curr':ruleForm.type==='2'}">按会员等级</div></el-radio-button>
                <el-radio-button label="3"><div :class="{'text-ellipsis':screenW<768,'curr':ruleForm.type==='3'}">按会员及直属下级</div></el-radio-button>
                <el-radio-button label="4"><div :class="{'text-ellipsis':screenW<768,'curr':ruleForm.type==='4'}">按会员及全部下级</div></el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item :label="isOtherType" prop="userName" v-if="ruleForm.type!=='2'">
              <!--<div class="text-style absolute-style">点击Enter键区分多位收件人,收件人为空时将为选择的等级推送</div>-->
              <!--<lg-tag-->
                <!--class="inline-input book-mark"-->
                <!--v-model="ruleForm.userName"-->
                <!--:recTags="[]"-->
                <!--:max-tags-size="300"-->
                <!--:trigger-on-focus="true"-->
                <!--ref="addColletcTag"-->
                <!--:placeholder="screenW > 768 ? '请输入收件人，点击Enter键区分多位收件人，收件人为空时将为选择的等级推送':'点击Enter键区分多位收件人'"-->
              <!--&gt;</lg-tag>-->
              <el-input v-model="ruleForm.userName" :placeholder="screenW > 640 ? isText:'请输入会员账号'"></el-input>
              <div class="text-style" v-show="screenW < 640">{{isText}}</div>
              <!--<span v-show="screenW <= 768" class="margin-t10">*批量操作可输入会员账号，以英文逗号(,)分隔开，最多支持100个</span>-->
            </el-form-item>
            <el-form-item label="会员等级" v-else prop="gradeList">
              <template slot-scope="scope">
                <multiple-select :level="level" class="level-items" v-model="gradeList"></multiple-select>
              </template>
            </el-form-item>
            <el-form-item label="标题" prop="title">
              <el-input placeholder="请输入标题2-25个字符" size="mini" v-model="ruleForm.title"></el-input>
            </el-form-item>
            <el-form-item label="内容描述" prop="content" class="margin-b0">
              <medium-editor
                ref="content"
                v-model="ruleForm.content"
                @paste-event="uploadClipboardImage"
                :use-at-user="false"
                :contenteditable="true"
                :able-upload="false"
                :minSize="5"
                :options="mediumOptions"
              ></medium-editor>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
        <!--導覽頁的黑背景和定位圖-->
        <transition name="el-fade-in-linear">
          <div class="guide-box" v-show="guidePic">
            <img :src="'/system/activity/guide/news_guide.png' | imgHost" alt="">
            <div @click="guidePicbox" class="guide-close"><i class="el-icon-error" ></i>关闭</div>
          </div>
        </transition>
        <transition name="el-fade-in-linear">
          <div class="bg" v-show="guidePic"></div>
        </transition>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import MultipleSelect from '@/components/MultipleSelect'
import LgTag from '@/components/tag'
import Api from '@/api/users'
import {gradeList} from '@/utils/config'
// import {imgHost} from '@/filters'
export default {
  data () {
    let validateUserName = (rule, value, callback) => {
      if (!this.ruleForm.userName.length) {
        let msg = this.isOtherType
        callback(new Error(`请输入${msg}`))
        return
      }
      callback()
    }
    let validateGrade = (rule, value, callback) => {
      if (this.gradeList.value.length < 1) {
        callback(new Error('请选择等级'))
        return
      }
      callback()
    }
    let validateContent = (rule, value, callback) => {
      if (this.$refs.content.editor.elements[0].textContent.length < 5) {
        callback(new Error('长度至少在5以上'))
        return
      }
      callback()
    }
    return {
      guidePic: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      valueLevel: '',
      rules: {
        title: [
          { required: true, message: '请输入标题', trigger: 'blur' },
          {min: 2, max: 25, message: '长度在 2 到 25 个字符', trigger: 'blur'}
        ],
        content: [
          { required: true, message: '请输入内容', trigger: 'blur' },
          {validator: validateContent, trigger: 'blur'}
        ],
        userName: [
          { required: true, validator: validateUserName, trigger: 'blur' }
        ],
        gradeList: [
          { required: true, validator: validateGrade, trigger: 'blur' }
        ]
      },
      level: gradeList,
      ruleForm: {
        type: '1',
        userName: '', // 收件人
        title: '', // 标题
        content: ''
      },
      gradeList: {value: [], isChangeValue: false},
      // 编辑器配置
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholder: {
          text: '请输入分享内容',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'bold', 'italic', 'underline', 'strikethrough', 'fontSize', 'fontColor', 'fontBgColor', 'removeFormat', 'html', 'quote', 'anchor', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'superscript', 'subscript', 'orderedlist', 'unorderedlist', 'pre', 'outdent', 'indent', 'table']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      }
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    },
    isOtherType () {
      return ['3', '4'].indexOf(this.ruleForm.type) > -1 ? '会员账号' : '收件人'
    },
    isText () {
      return ['3', '4'].indexOf(this.ruleForm.type) > -1 ? '请输入会员账号，不支持输入多个会员账号' : '批量操作可输入会员账号，以英文逗号(,)分隔开，最多支持100'
    }
  },
  components: {
    MediumEditor,
    LgTag,
    MultipleSelect
  },
  props: {
    visible: Boolean
  },
  methods: {
    guidePicbox () {
      this.guidePic = false
    },
    handleTypeChange () {
      this.$refs['ruleForm'].clearValidate()
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
      this.gradeList.value = []
      this.gradeList.isChangeValue = false
      this.ruleForm.type = '1'
      this.ruleForm.userName = ''
      this.ruleForm.title = ''
      this.ruleForm.content = ''
      this.$refs['ruleForm'].clearValidate()
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    },
    submitForm (formName) {
      // console.log(this.$refs.content.editor.elements[0].textContent)
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        let type = this.ruleForm.type
        if (type === '1') {
          delete submitData.gradeList
          submitData.userName = this.ruleForm.userName
          Api.manageSendMessage(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        } else if (type === '2') {
          delete submitData.userName
          submitData.gradeList = this.gradeList.value.join(',')
          Api.manageSendGradeMessage(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
        } else {
          let forms = this.ruleForm
          let keys = {
            '3': 1,
            '4': 2
          }
          submitData = {
            userName: forms.userName,
            title: forms.title,
            content: forms.content,
            type: keys[type]
          }
          Api.manageSendAgentMessage(submitData, function () {
            obj.submitLoading = false
          }).then(res => {
            this.showBlogForm = false
            this.submitLoading = false
            if (res.code === 1) {
              this.msgSuccess('保存成功')
              this.$parent.getOrderList()
            }
          }).catch(e => {
            this.submitLoading = false
          })
        }
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          if (!localStorage['guidePicNews']) {
            if (this.$store.state.media.screenWidth > 1023) {
              this.guidePic = true
              localStorage['guidePicNews'] = true
            }
          }
        })
      }
    }
  }
}
</script>
<style>
.text-ellipsis{
  width:10vw;
  overflow: hidden;
  word-break: unset;
  text-overflow: ellipsis;
  &.curr{
    width:26.2vw;
  }
}
</style>
