<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      @close="closeClear"
      :close-on-click-modal="false"
      :title="title"
      custom-class="mini-reveal-modal article-modal">
      <div v-if="statusFetch">数据加载中...123</div>
      <template v-else>
          <div class="article-time margin-t6">
            {{ruleForm.time}}
          </div>
          <div v-html="ruleForm.content" class="article-content">
          </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
export default {
  data () {
    return {
      title: '',
      showBlogForm: false,
      statusFetch: false,
      valueLevel: '',
      lottery: '',
      ruleForm: {sender: '', userName: '', content: '', time: ''},
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...'
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    },
    getInfo () {
      let submitData = {}
      submitData.id = this.data.id
      submitData.messageType = this.data.messageType
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.manageMessageContent(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let data = res.data
        this.title = data.title
        this.ruleForm.sender = data.sender
        this.ruleForm.userName = data.userName
        this.ruleForm.content = data.content
        this.ruleForm.time = data.gmtCreated
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  },
  components: {
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.getInfo()
      }
    }
  }
}
</script>
