<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增手动开奖"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="ruleForm" :rules="rules" class="form delect-height" size="small" label-position="top" ref="ruleForm" v-loading="loading"
                   element-loading-customClass="loadingClass" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="彩种名称" prop="lottery_code">
              <el-select v-model="ruleForm.lottery_code" filterable placeholder="请输入或选择">
                <el-option
                  v-for="item in lotteryOptions"
                  :key="item.lotteryCode"
                  :label="item.lotteryName"
                  :value="item.lotteryCode">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="确认彩种" prop="lottery_name">
              <el-input placeholder="请再次填写彩种,禁止黏贴" v-model="ruleForm.lottery_name" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="期号" prop="issue">
              <el-input placeholder="请填写期号,禁止黏贴" v-model="ruleForm.issue" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="确认期号" prop="validateIssue">
              <el-input placeholder="请再次填写期号,禁止黏贴" v-model="ruleForm.validateIssue" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="开奖号码" prop="openNumber">
              <el-input placeholder="请填写开奖号码,禁止黏贴" v-model="ruleForm.openNumber" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="确认开奖号码" prop="validateOpenNumber">
              <el-input placeholder="请再次填写开奖号码,禁止黏贴" v-model="ruleForm.validateOpenNumber" onpaste = "return false"></el-input>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <el-input type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import LgTag from '@/components/tag'
import Api from '@/api/tenant'
export default {
  data () {
    let validateLottery = (rule, value, callback) => {
      if (this.ruleForm.lottery_code) {
        let lotteryCode = ''
        for (let item in this.lotteryOptions) {
          if (this.lotteryOptions[item].lotteryName !== this.ruleForm.lottery_name) {
            continue
          }
          lotteryCode = this.lotteryOptions[item].lotteryCode
          break
        }
        if (lotteryCode !== this.ruleForm.lottery_code) {
          callback(new Error('两次输入的彩种名称必须一致'))
        }
      }
      callback()
    }
    let validateIssue = (rule, value, callback) => {
      if (this.ruleForm.issue) {
        if (this.ruleForm.issue !== this.ruleForm.validateIssue) {
          callback(new Error('两次输入的期号必须一致'))
        }
      }
      callback()
    }
    let validateOpenNumber = (rule, value, callback) => {
      if (this.ruleForm.openNumber) {
        if (this.ruleForm.openNumber !== this.ruleForm.validateOpenNumber) {
          callback(new Error('两次输入的开奖号码必须一致'))
        }
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        'lottery_code': '',
        'lottery_name': '',
        'issue': '',
        'validateIssue': '',
        'openNumber': '',
        'validateOpenNumber': '',
        'remark': ''
      },
      lotteryOptions: [],
      rules: {
        lottery_code: [
          {required: true, message: '请选择彩种', trigger: 'change'}
        ],
        issue: [
          {required: true, message: '请填写期号', trigger: 'blur'}
        ],
        openNumber: [
          {required: true, message: '请填写开奖号码', trigger: 'blur'}
        ],
        lottery_name: [
          {required: true, validator: validateLottery, trigger: 'blur'}
        ],
        validateIssue: [
          { required: true, validator: validateIssue, trigger: 'blur' }
        ],
        validateOpenNumber: [
          { required: true, validator: validateOpenNumber, trigger: 'blur' }
        ],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' },
          {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean
  },
  mounted () {
    this.getLotteryData()
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getLotteryData () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.officeLottery(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let resData = res.data
        this.lotteryOptions = resData
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        submitData.lotteryCode = this.ruleForm.lottery_code
        submitData.lotteryName = this.ruleForm.lottery_name
        submitData.issue = this.ruleForm.issue
        submitData.openNumber = this.ruleForm.openNumber
        submitData.remark = this.ruleForm.remark
        Api.manualOpen(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }

  },
  components: {
    LgTag
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  }
}
</script>
