<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增保护账号"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" :rules="rules"  size="small" ref="ruleForm"  v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName"  auto-complete="off" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="仅限登录的IP" prop="ip">
            <el-input v-model="ruleForm.ip"  auto-complete="off" placeholder="请输入IP"></el-input>
          </el-form-item>
          <el-form-item label="备注" prop="remark">
            <el-input v-model="ruleForm.remark"  auto-complete="off" placeholder="请输入备注信息，最多50个字符"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button @click="submitForm('ruleForm')" size="mini"  type="primary" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    var validateIP = (rule, value, callback) => {
      if (!value.match(/^((25[0-5]|2[0-4]\d|[01]?\d\d?)($|(?!\.$)\.)){4}$/)) {
        return callback(new Error('IP格式不正确'))
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        ip: '',
        userName: '',
        remark: ''
      },
      rules: {
        userName: [
          { required: true, message: '请输入会员账号', trigger: 'blur' }
        ],
        ip: [
          { required: true, message: '请输入IP', trigger: 'blur' },
          { validator: validateIP, trigger: 'blur' }
        ],
        remark: [
          { required: false, max: 50, message: '备注信息最多50个字符', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        Api.addUsersLoginWhiteip(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    closeClear () {
      this.resetForm('ruleForm')
      this.$emit('onClose')
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.loading = false
          // console.log(this.ruleForm)
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
