<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="IP编辑"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :rules="rules" :label-position="screenW >= 768 ? 'right':'top'" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass" label-width="110px"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="站长编码" prop="tenantCode" >
            <el-input  v-model="ruleForm.tenantCode" disabled></el-input>
          </el-form-item>
          <el-form-item label="ip" prop="ip" >
            <el-input  v-model="ruleForm.ip" placeholder="请输入ip"></el-input>
          </el-form-item>
          <el-form-item label="内网ip" prop="privateIp" >
            <el-input  v-model="ruleForm.privateIp" placeholder="请输入内网ip"></el-input>
          </el-form-item>
          <el-form-item label="连接数门槛" prop="connectionThreshold" >
            <el-input  v-model="ruleForm.connectionThreshold" placeholder="请输入连接数门槛(mbps)"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        tenantCode: '',
        ip: '',
        privateIp: '',
        connectionThreshold: ''
      },
      rules: {
        ip: [
          { required: true, message: '请输入ip', trigger: 'blur' }
        ],
        connectionThreshold: [
          { required: true, message: '请输入连接数门槛(mbps)', trigger: 'blur' }
        ],
        privateIp: [
          { required: true, message: '请输入内网ip', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        Api.ＮetworkUpdateIp(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.ruleForm.id && this.ruleForm.id > 0) {
            this.title = true
            this.ruleForm.tenantCode = this.data.tenantCode
            this.ruleForm.ip = this.data.ip
            this.ruleForm.privateIp = this.data.privateIp
            this.ruleForm.connectionThreshold = this.data.connectionThreshold
            console.log(this.ruleForm)
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
