<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="域名新增"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :rules="rules" :label-position="screenW >= 768 ? 'right':'top'" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass" label-width="65px"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="域名" prop="domain" >
            <el-input  v-model="ruleForm.domain" placeholder="请输入域名"></el-input>
          </el-form-item>
          <el-form-item label="域名商" prop="registrarId" >
            <el-radio-group v-model="ruleForm.registrarId" class="rwd-turnoff">
                <el-radio-button label="1">DNS_COM</el-radio-button>
                <el-radio-button label="2">DNSPOD</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        domain: '',
        registrarId: 1
      },
      // registrarList: [
      //   {
      //     'id': 1,
      //     'name': 'DNS_COM'
      //   },
      //   {
      //     'id': 2,
      //     'name': 'DNSPOD'
      //   }
      // ],
      rules: {
        domain: [
          { required: true, message: '请输入域名', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        Api.addDomain(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
