<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '服务器编辑':'新增服务器'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :rules="rules" :label-position="screenW >= 768 ? 'right':'top'" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass" label-width="120px"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="服务器" prop="server" >
            <el-input  v-model="ruleForm.server" placeholder="请输入服务器"></el-input>
          </el-form-item>
          <el-form-item label="主ip" prop="defaultIp" >
            <el-input  v-model="ruleForm.defaultIp" placeholder="请输入主ip"></el-input>
          </el-form-item>
          <el-form-item label="机房" prop="dataCenterId" >
            <el-radio-group v-model="ruleForm.dataCenterId" class="rwd-turnoff">
              <el-radio-button label="1">微软</el-radio-button>
              <el-radio-button label="2">阿里</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="带宽门槛" prop="bandwidthThreshold" >
            <el-input  v-model="ruleForm.bandwidthThreshold" placeholder="请输入带宽门槛(mbps)"></el-input>
          </el-form-item>
          <el-form-item label="备用服务器" prop="backupServer" >
            <el-input  v-model="ruleForm.backupServer" placeholder="请输入备用服务器"></el-input>
          </el-form-item>
          <el-form-item label="备用服务器主ip" prop="backupDefaultIp" >
            <el-input  v-model="ruleForm.backupDefaultIp" placeholder="请输入备用服务器主"></el-input>
          </el-form-item>
          <el-form-item label="备用服务器机房" prop="backupDataCenterId" >
            <el-radio-group v-model="ruleForm.backupDataCenterId" class="rwd-turnoff">
              <el-radio-button label="1">微软</el-radio-button>
              <el-radio-button label="2">阿里</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        server: '',
        defaultIp: '',
        dataCenterId: 1,
        bandwidthThreshold: '',
        backupServer: '',
        backupDefaultIp: '',
        backupDataCenterId: 1
      },
      rules: {
        server: [
          { required: true, message: '请输入服务器', trigger: 'blur' }
        ],
        defaultIp: [
          { required: true, message: '请输入主ip', trigger: 'blur' }
        ],
        bandwidthThreshold: [
          { required: true, message: '请输入带宽门槛(mbps)', trigger: 'blur' }
        ],
        backupServer: [
          { required: true, message: '请输入备用服务器', trigger: 'blur' }
        ],
        backupDefaultIp: [
          { required: true, message: '请输入备用服务器主', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateServer(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        }
        Api.addServer(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.ruleForm.id && this.ruleForm.id > 0) {
            this.title = true
            this.ruleForm.server = this.data.server
            this.ruleForm.defaultIp = this.data.defaultIp
            this.ruleForm.dataCenterId = this.data.dataCenterId
            this.ruleForm.bandwidthThreshold = this.data.bandwidthThreshold
            this.ruleForm.backupServer = this.data.backupServer
            this.ruleForm.backupDefaultIp = this.data.backupDefaultIp
            this.ruleForm.backupDataCenterId = this.data.backupDataCenterId
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
