<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="迁移host"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                   element-loading-customClass="loadingClass"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="线路" prop="typeId">
              <el-select v-model="ruleForm.typeId" class="width-search80" placeholder="请选择">
                <el-option
                  v-for="item in typeIdList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="解析" prop="value">
              <el-input placeholder="如：127.0.0.1" v-model="ruleForm.value"  size="min">
              </el-input>
            </el-form-item>
            <el-form-item label="原因" prop="reason">
              <el-input placeholder="原因" v-model="ruleForm.reason"  size="min">
              </el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rules: {
      },
      ruleForm: {
        typeId: 3,
        value: '',
        reason: '手动迁移',
        ids: ''
      },
      typeIdList: [
        {
          'id': 3,
          'name': '高防'
        },
        {
          'id': 4,
          'name': '其他'
        }
      ]
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    ids: String
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        Api.updateHostBackup(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          // this.ruleForm.id = this.data.id
          this.ruleForm.ids = this.ids
          this.loading = false
          console.log(this.ids)
        })
      }
    }
  }
}
</script>
