<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="data?'意见反馈':'新增意见反馈'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal guide-news-model">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" :rules="rules" class="form feedbackcontentForm" size="small" ref="ruleForm" status-icon label-position="top" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
               <div :class="{'margin-t10':screenW < 768 }"  v-if="!data">
                 <label  class="red-font-color black-font-color">*</label><span   class="black-font-color">反馈内容</span> <el-button class="insert-icon-button" size="mini" @click="feedback" type="primary">插入图片</el-button>
               </div>
          <el-form-item  v-if="!data" prop="content" class="margin-t6  limited-editor-height" :class="{'no-title': title}">
            <medium-editor
              ref="feedback"
              v-model="ruleForm.feedback"
              @paste-event="uploadClipboardImage"
              :use-at-user="false"
              :contenteditable="true"
              :isUploadCompression="true"
              :compressionSize="2"
              :uploadName="uploadName"
              :uploadAction="uploadUrl"
              :able-upload="true"
              :limitImgSize="5"
              :imageToolsOptions="imageToolsOptions"
              :editGuideBtn="false"
              :options="mediumOptions"
              :type="true"
            ></medium-editor>
          </el-form-item>
          <el-form-item label="反馈内容"  class="limited-editor-height" v-else>
            <medium-editor
              ref="feedback1"
              v-model="ruleForm.feedback"
              :imageToolsOptions="imageToolsOptions"
              :editGuideBtn="false"
              :isUploadCompression="false"
              @paste-event="uploadClipboardImage"
              :use-at-user="false"
              :contenteditable="false"
              :able-upload="false"
              :options="mediumOptions"
              :type="false"
            ></medium-editor>
          </el-form-item>
          <div   v-if="!data">
          <label  class="red-font-color black-font-color">*</label><span v-if="!data"  class="black-font-color">反馈类型</span>
          <el-form-item  prop="content">
                <el-radio  v-model="ruleForm.feedbackType" :label="1">产品需求</el-radio>
                <el-radio  v-model="ruleForm.feedbackType" :label="2">平台建议</el-radio>
                <el-radio  v-model="ruleForm.feedbackType" :label="3">系统BUG</el-radio>
            </el-form-item>
          </div>
          <el-form-item label="反馈类型" v-else>
            <el-radio  v-model="ruleForm.feedbackType" :disabled="ruleForm.feedbackType!==1" :label="1">产品需求</el-radio>
            <el-radio  v-model="ruleForm.feedbackType" :disabled="ruleForm.feedbackType!==2"  :label="2">平台建议</el-radio>
            <el-radio  v-model="ruleForm.feedbackType" :disabled="ruleForm.feedbackType!==3"  :label="3">系统BUG</el-radio>
          </el-form-item>
          <el-form-item  v-show="!data">
            <div class="text-style">
              *本页面只收集以上3种类型反馈，其他反馈请联系我们的客服专员
            </div>
          </el-form-item>
          <el-form-item  label="平台回复" class="reponse-content-form" v-if="data&&data.reply">
            <div v-show="data.isReply" class="reponse-content-style" v-html="data.reply"></div>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-row v-if="!data" class="operator-button-right">
            <el-col :span="24">
              <el-button @click="closeClear" size="mini">取 消</el-button>
              <el-button v-show="!data" :disabled="submitLoading" size="mini" type="primary" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
            </el-col>
          </el-row>
          <el-button v-else @click="closeClear" size="mini">关  闭</el-button>
        </div>
        <transition name="el-fade-in-linear">
          <div class="guide-box" v-show="guidePic" >
            <img :src="'/system/activity/guide/news_guide.png' | imgHost" alt="">
            <div @click="guidePicbox" class="guide-close"><i class="el-icon-error" ></i>关闭</div>
          </div>
        </transition>
        <transition name="el-fade-in-linear">
          <div class="bg" v-show="guidePic"></div>
        </transition>
        <span></span>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import LgTag from '@/components/tag'
import Api from '@/api/tenant'
// import {imgHost} from '@/filters'
export default {
  data () {
    return {
      uploading: false,
      guidePic: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      title: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      replyWebmaster: '',
      yellowFont: 0,
      radio: '0',
      limitWords: 200,
      imageToolsOptions: {ableTools: false, // 配置按钮
        ableUpload: true, // 上传
        ablePhotoAlbum: false // 相册
      },
      operatorButtons: [
        {yellowFont: 1, text: '[1]需求'},
        {yellowFont: 2, text: '[2]BUG'},
        {yellowFont: 3, text: '[3]无效反馈'}],
      ruleForm: {
        feedback: '',
        feedbackType: ''
      },
      rules: {
        feedback: [
          { required: true, message: '请输入内容', trigger: 'blur' }
        ]
      },
      // 编辑器配置
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholderTxt: '请输入您要反馈的内容，通过右方的插入图片按钮可添加图片',
        placeholder: {
          text: '请输入内容',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          // buttons: ['h2', 'h3', 'bold', 'italic', 'underline', 'strikethrough', 'fontSize', 'fontColor', 'fontBgColor', 'removeFormat', 'html', 'quote', 'anchor', 'justifyLeft', 'image', 'justifyCenter', 'justifyRight', 'justifyFull', 'superscript', 'subscript', 'orderedlist', 'unorderedlist', 'pre', 'outdent', 'indent', 'table']
          buttons: ['h2', 'h3', 'bold', 'italic', 'underline', 'strikethrough', 'fontSize', 'fontColor', 'fontBgColor']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      },
      editor: null,
      uploadName: 'image-file',
      uploadUrl: '/v1/management/content/uploadFeedbackImage'
    }
  },
  components: {
    MediumEditor,
    LgTag
  },
  props: {
    visible: Boolean,
    data: Object
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    feedback () {
      let imgs = this.ruleForm.feedback.match(/(<img[^>]*?>)/gm)
      if (imgs && imgs.length >= 3) {
        this.msgError('图片最多上传3张')
        return
      }
      this.uploading = false
      this.$refs.feedback.addImage()
    },
    guidePicbox () {
      this.guidePic = false
    },
    checkWord (content, num) {
      let result
      let rules = [
        {tag: /<div>/gm, replace: ''},
        {tag: /<\/div>/gm, replace: ''},
        {tag: /<p>/gm, replace: ''},
        {tag: /<\/p>/gm, replace: ''},
        {tag: /<b>/gm, replace: ''},
        {tag: /<\/b>/gm, replace: ''},
        {tag: /<h2>/gm, replace: ''},
        {tag: /<\/h2>/gm, replace: ''},
        {tag: /<h3>/gm, replace: ''},
        {tag: /<\/h3>/gm, replace: ''},
        {tag: /<i>/gm, replace: ''},
        {tag: /<\/i>/gm, replace: ''},
        {tag: /<font([^>]*)?(>)/gm, replace: ''},
        {tag: /<u([^>]*)?(>)/gm, replace: ''},
        {tag: /<strike([^>]*)?(>)/gm, replace: ''},
        {tag: /<span([^>]*)?(>)/gm, replace: ''},
        {tag: /<\/span>/gm, replace: ''},
        {tag: /<\/font>/gm, replace: ''},
        {tag: /<i(.*)?(>)/gm, replace: ''},
        {tag: /<i([^>]*)?(>)/gm, replace: ''},
        {tag: /<br>/gm, replace: ''},
        {tag: /<\/br>/gm, replace: ''},
        {tag: /<strike>/gm, replace: ''},
        {tag: /<\/strike>/gm, replace: ''},
        {tag: /<u>/gm, replace: ''},
        {tag: /<img([^>]*)?(>)/gm, replace: ''},
        {tag: /&nbsp;/gm, replace: ''},
        {tag: /<\/u>/gm, replace: ''}]
      rules.forEach(list => {
        content = content.replace(list.tag, list.replace)
      })
      if (content.length > num) {
        return false
      }
      result = content.length > num ? 0 : 1
      return result
    },
    handButton (index) {
      this.yellowFont = this.yellowFont !== index ? index : 0
    },
    submitForm (formName) {
      let submitData = {}
      let obj = this
      let feedback = this.ruleForm.feedback
      let feedbackType = this.ruleForm.feedbackType
      if (!feedback) {
        this.msgError('反馈内容不能为空')
        return
      }
      let imgs = this.ruleForm.feedback.match(/(<img[^>]*?>)/gm)
      if (imgs && imgs.length > 3) {
        this.msgError('图片最多上传3张')
        return
      }
      if (!feedbackType) {
        this.msgError('请选择反馈类型')
        return
      }
      if (!this.checkWord(this.ruleForm.feedback, this.limitWords)) {
        this.msgError('输入的文字不超过200字')
        return
      }
      submitData.feedback = this.ruleForm.feedback
      submitData.feedbackType = this.ruleForm.feedbackType
      this.submitLoading = true
      Api.addFeedback(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.msgSuccess('保存成功')
        this.showBlogForm = false
        this.$parent.getOrderList()
        this.$nextTick(function () {
          setTimeout(function () {
            obj.submitLoading = false
          }, 1000)
        })
      })
    },
    uploadClipboardImage () {},
    closeClear () {
      this.$emit('onClose')
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        if (this.data) {
          this.ruleForm = JSON.parse(JSON.stringify(this.data))
          this.title = true
          this.mediumOptions.placeholder.text = ''
        } else {
          this.ruleForm.feedback = ''
          this.ruleForm.feedbackType = ''
          this.title = false
          this.mediumOptions.placeholder.text = '请输入您要反馈的内容，通过右方的插入图片按钮可添加图片'
        }
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
  .feedbackTitle{
    font-size: 12px;
  }
  .feedback-reply-webmaster .el-input-group__append{
    background:#09C;
    color:#fff;
  }
 .operator-button button{
    float:right;
    margin-left: 10px;
    cursor: pointer;
  }
  .yellowFont{
    color:yellow!important;
  }
  .feedbackcontentForm{
    margin-top: -10px;
    & .red-font-color{
        color:red!important;
        font-size: 14px;
      }
    & .black-font-color{
        color: #171717;
        font-size: 14px;
      }
  }
  .upload-demo{
    /*display: none;*/
  }
  .uplaod-text-left{
    text-align: left;
    margin-top: -5px;
  }
  .operator-button-right{
    text-align: right;
  }
  .mgl45{
    margin-left:-45px;
  }
  .insert-icon-button{
    float: right;
    margin-top: -8px;
  }
  .el-form .el-form-item.reponse-content-form{
    margin-bottom: 0px!important;
  }
  .reponse-content-style{
    text-indent: 27px;
    word-wrap: break-word;
  }
  .limited-editor-height .el-form-item__content .article-section .article-body.medium-editor-element{
       min-height:200px;
       overflow-y: auto;
     }
</style>
