<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '过滤词编辑':'新增过滤词'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :label-position="screenW >= 768 ? 'right':'top'" label-width="80px" :rules="rules" class="form "  size="small" ref="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="过滤词" prop="filterWord">
            <el-input  v-model="ruleForm.filterWord" placeholder="请输入1-5个汉字"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import {validateRules} from '@/utils/validateRules'
export default {
  data () {
    let validateNickName = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'isChineseChar': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      submitLoading: false,
      loading: false,
      pageNum: 1,
      pageSize: 20,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        filterWord: ''
      },
      rules: {
        filterWord: [
          { required: true, message: '请输入1-5个汉字', trigger: 'change' },
          {min: 1, max: 6, message: '长度在 1 到 5 个字符', trigger: 'change'},
          { validator: validateNickName, trigger: 'change' }
        ]
      }
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateNicknameFilter(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        }
        // let submitData = {}
        // submitData.filterWord = this.ruleForm.filterWord
        Api.setNicknameFilter(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.ruleForm.id && this.ruleForm.id > 0) {
            this.title = true
            this.ruleForm.filterWord = this.data.filterWord
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
