<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '网银支付编辑':'新增网银支付'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="form" :rules="rules" ref="form" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('form')" @submit.native.prevent>
            <el-form-item label="别名" prop="payAlias">
              <el-input  v-model="form.payAlias" :disabled="readOnly" placeholder="至少要2个字符" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="通道备注" prop="remark">
              <el-input  v-model="form.remark" :disabled="readOnly" placeholder="备注显示于通道名称后面，最多可输入8个汉字或16个字符，不需要显示可不填" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="类型" prop="payType">
              <div class="text-style">选择或输入搜索</div>
              <el-select v-model="form.payType" filterable placeholder="请选择类型" @change="handlePayTypeChange()">
                <el-option
                  v-for="item in options"
                  :key="item.payName"
                  :label="item.payName"
                  :value="item.payName">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="商户号" prop="merchantNumber">
              <el-input  v-model="form.merchantNumber" auto-complete="off" placeholder="请输入商户号"></el-input>
            </el-form-item>
            <el-form-item label="终端号" prop="terminalNumber">
              <el-input  v-model="form.terminalNumber" placeholder="没有终端号就填商户号" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="密钥" prop="secretKey">
              <el-input  v-model="form.secretKey" auto-complete="off" placeholder="请输入密钥"></el-input>
            </el-form-item>
            <el-form-item label="接收密钥" prop="receiveKey">
              <el-input  v-model="form.receiveKey" placeholder="没有接收密钥就填密钥" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="购物网址" prop="payUrl">
              <el-input  v-model="form.payUrl" placeholder="需以http://开头" auto-complete="off"></el-input>
            </el-form-item>
          <template v-if="form.fixedAmountPlatform">
            <el-form-item label="使用固定值金额" >
              <div class="fixamount-box show-fixamount">
                <el-input v-for="items in form.fixedPlatformAmountList" :key="items.key" v-model="items.value" size="min" readonly="readonly" disabled></el-input>
              </div>
            </el-form-item>
          </template>
          <template v-else>
              <el-form-item label="充值金额（2选1）" class="fixed-item"></el-form-item>
              <el-row>
                <el-col :xs="24" :sm="5">
                  <el-form-item prop="fixedAmount">
                    <el-radio v-model="form.fixedAmount" label="false">使用输入金额</el-radio>
                  </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="19">
                  <el-col :xs="24" :sm="19" class="min-max-box">
                    <el-form-item prop="minAmount" class="numberFixAmount" :rules="[{ validator: (rule, value, callback) => {
                            if (value) {
                               if(/^[0-9]*$/.test(value)) {
                                   callback()
                                   return
                               }
                               if(Number(value)<0) {
                                   callback('不能小于0')
                                   return
                               }
                               if(value.indexOf('.')>-1) {
                                   callback('不支持小数点')
                                   return
                               }
                               callback('请输入有效数字')
                               return
                            }
                            callback()
                          }, trigger: 'blur' }]">
                      <el-input :disabled="form.fixedAmount === 'true'" v-model="form.minAmount" placeholder="单笔最低"  size="mini"></el-input>
                    </el-form-item>
                    <span class="fix-center"> ~~ </span>
                    <el-form-item prop="maxAmount" class="numberFixAmount" :rules="[{ validator: (rule, value, callback) => {
                            if (value) {
                               if(/^[0-9]*$/.test(value)) {
                                   callback()
                                   return
                               }
                               if(Number(value)<0) {
                                   callback('不能小于0')
                                   return
                               }
                               if(value.indexOf('.')>-1) {
                                   callback('不支持小数点')
                                   return
                               }
                               callback('请输入有效数字')
                               return
                            }
                            callback()
                          }, trigger: 'blur' }]">
                      <el-input :disabled="form.fixedAmount === 'true'" v-model="form.maxAmount" placeholder="单笔最高"  size="mini"></el-input>
                    </el-form-item>
                  </el-col>
                </el-col>
              </el-row>
              <div class="fixamount-box sys-fixbox margin-100">
                <el-form-item
                  v-for="(items, index) in form.quickAmountList"
                  :key="items.key"
                  :prop="'quickAmountList.' + index + '.value'"
                  :rules="[{ validator: (rule, value, callback) => {
                            if (value) {
                               rulesQuick (value, index, callback)
                               if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                                   callback()
                                   return
                               }
                               if(Number(value)<=0) {
                                   callback('必需大于0')
                                   return
                               }
                               callback('请输入有效数字')
                               return
                            }
                            callback()
                          }, trigger: 'blur' }]">
                  <el-input v-model="items.value" placeholder="设置快捷金额"  :disabled="form.fixedAmount === 'true'" size="min" ></el-input>
                </el-form-item>
              </div>
              <div class="border-line fixed-box-line"></div>
              <el-row>
                <el-col :span="5">
                  <el-form-item prop="fixedAmount" >
                    <el-radio v-model="form.fixedAmount" label="true">使用固定金额</el-radio>
                  </el-form-item>
                </el-col>
                <el-col :xs="24" :sm="19">
                  <div class="fixamount-box sys-fixbox">
                    <el-form-item
                      v-for="(items, index) in form.fixedAmountList"
                      :key="items.key"
                      :prop="'fixedAmountList.' + index + '.value'"
                      :rules="[{ validator: (rule, value, callback) => {
                            if (value) {
                              rulesfixed(value, index, callback)
                               if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                                   callback()
                                   return
                               }
                               if(Number(value)<=0) {
                                   callback('必需大于0')
                                   return
                               }
                               callback('请输入有效数字')
                               return
                            }
                            callback()
                          }, trigger: 'blur' }]">
                      <el-input v-model="items.value" placeholder="设置固定金额" size="min"  :disabled="form.fixedAmount === 'false'"></el-input>
                    </el-form-item>
                  </div>
                </el-col>
              </el-row>
            </template>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" @click="submitForm('form')" size="mini" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import {validateRules} from '@/utils/validateRules'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateCommas = (rule, value, callback) => {
      if (value.indexOf(',') !== -1) {
        callback(new Error('格式错误,请勿输入英文逗号'))
      }
      callback()
    }
    let validatePayUrl = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, { 'required': { msg: '请输入购物网址' }, 'url': { msg: '格式错误，需以http://开头' }, 'maxlength': { param: '127', msg: '最大值不能超过127位' }, 'minlength': { param: '6', msg: '最小值不能低于6位' } })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    let validateLimitAmonut = (rule, value, callback) => {
      if (this.form.fixedAmount === 'false' && this.form.fixedAmountPlatform === false) {
        if (parseInt(this.form.minAmount) >= parseInt(this.form.maxAmount) && this.form.maxAmount !== '') {
          callback(new Error('最高额须大于最低额'))
        }
      }
      callback()
    }
    // 通道备注验证
    let validateRemark = (rule, value, callback) => {
      if (!value) {
        callback()
      } else {
        let length = value.replace(/[\u4e00-\u9fa5]/g, 'aa')
        if (length.length > 16) {
          callback(new Error('最多支持8个汉字或16个字符'))
          return false
        }
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      form: {
        payAlias: '',
        payType: '',
        terminalNumber: '', // 终端
        merchantNumber: '', // 商户号
        secretKey: '', // 密钥
        receiveKey: '', // 接收密钥
        payUrl: '',
        mobileType: '',
        minAmount: '',
        maxAmount: '',
        fixedPlatformAmountList: [], // 平台配置的固定金额
        fixedAmountList: [], // 固定金額
        fixedAmount: 'false',
        quickAmountList: [],
        fixedAmountPlatform: false,
        remark: ''// 增加通道备注
      },
      options: [],
      mobileTypeList: [],
      rules: {
        payAlias: [
          { required: true, message: '请输入别名', trigger: 'blur' },
          { min: 2, max: 25, message: '长度在 2 到 25 个字符', trigger: 'blur' },
          { validator: validateCommas, trigger: 'blur' }
        ],
        payType: [
          { required: true, message: '请选择类型', trigger: 'change' }
        ],
        merchantNumber: [
          { required: true, message: '请输入商户号', trigger: 'blur' },
          { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }
        ],
        terminalNumber: [
          { required: true, message: '请输入终端号', trigger: 'blur' },
          { min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur' }
        ],
        secretKey: [
          { required: true, message: '请输入密钥', trigger: 'blur' },
          { min: 1, max: 2000, message: '长度在 1 到 2000 个字符', trigger: 'blur' }
        ],
        receiveKey: [
          { required: true, message: '请输入接收密钥', trigger: 'blur' },
          { min: 1, max: 2000, message: '长度在 1 到 2000 个字符', trigger: 'blur' }
        ],
        payUrl: [
          { required: true, validator: validatePayUrl, trigger: 'blur' }
        ],
        minAmount: [
          { required: true, validator: validateLimitAmonut, trigger: 'blur' }
        ],
        maxAmount: [
          { required: true, validator: validateLimitAmonut, trigger: 'blur' }
        ],
        remark: [
          { required: false, validator: validateRemark, trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    rulesQuick (value, index, callback) {
      if (value > parseInt(this.form.maxAmount)) {
        callback(new Error('必需小于最大值'))
      }
      if (value < parseInt(this.form.minAmount)) {
        callback(new Error('必需大于最小值'))
      }
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
    },
    rulesfixed (value, index, callback) {
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
    },
    handlePayTypeChange () {
      let payType = null
      this.mobileTypeList = []
      for (let item in this.options) {
        if (this.options[item].payName !== this.form.payType) {
          continue
        }
        payType = this.options[item]
        this.mobileTypeList = this.options[item].mobileTypeList.split(',')
        if (this.options[item].payName === this.data.payType) {
          this.form.mobileType = this.data.mobileType
          break
        }
        if (this.mobileTypeList.length > 0) {
          this.form.mobileType = this.mobileTypeList[0]
        }
        break
      }
      if (this.form.maxAmount === 0) {
        this.form.maxAmount = ''
      }
      if (this.form.minAmount === 0 || this.form.maxAmount === '') {
        this.form.minAmount = ''
      }
      if (payType) {
        this.form.fixedAmountPlatform = payType.isFixedAmount
        this.form.fixedPlatformAmountList = []
        if (payType.fixedAmountList) {
          let fixedAmountList = payType.fixedAmountList.split(',').sort(this.sortNumber)
          for (let i = 0; i < fixedAmountList.length; i++) {
            if (!fixedAmountList[i]) {
              continue
            }
            let tempFixedAmountListData = {}
            Object.assign(tempFixedAmountListData, {})
            tempFixedAmountListData.key = i + 1
            tempFixedAmountListData.value = fixedAmountList[i]
            this.form.fixedPlatformAmountList.push(tempFixedAmountListData)
          }
        }
        if (payType.payName !== this.data.payType) {
          this.form.maxAmount = ''
          this.form.minAmount = ''
          this.form.quickAmountList = []
          for (let i = 0; i < 8; i++) {
            let tempFixedAmountListData = {}
            Object.assign(tempFixedAmountListData, {})
            tempFixedAmountListData.key = i + 1
            tempFixedAmountListData.value = ''
            this.form.quickAmountList.push(tempFixedAmountListData)
          }
          this.form.fixedAmountList = []
          for (let i = 0; i < 8; i++) {
            let tempFixedAmountListData = {}
            Object.assign(tempFixedAmountListData, {})
            tempFixedAmountListData.key = i + 1
            tempFixedAmountListData.value = ''
            this.form.fixedAmountList.push(tempFixedAmountListData)
          }
        }
      }
      this.$refs['form'].clearValidate()
    },
    getThirdPartyPaySettingsVo () {
      let submitData = {}
      submitData.dictionId = 101
      this.loading = true
      let obj = this
      Api.getThirdPartyPaySettingsVo(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.options = res.data
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    closeClear () {
      this.$emit('onClose')
      // this.resetForm('form')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.form)
        let fixedPlatformAmountList = []
        if (submitData.fixedAmountPlatform) {
          for (let i = 0; i < submitData.fixedPlatformAmountList.length; i++) {
            fixedPlatformAmountList.push(this.form.fixedPlatformAmountList[i].value)
          }
          submitData.fixedAmountList = fixedPlatformAmountList.join(',')
          submitData.isFixedAmountThird = 1
          submitData.isFixedAmount = 1
          delete submitData.quickAmountList
        } else {
          submitData.isFixedAmountThird = 0
          if (submitData.fixedAmount === 'false') {
            let minAmount = submitData.minAmount !== '' ? +submitData.minAmount : ''
            let maxAmount = submitData.maxAmount !== '' ? +submitData.maxAmount : ''
            if (!minAmount && minAmount !== 0 && submitData.fixedAmountPlatform === false) {
              this.msgError('请输入单笔最低')
              this.submitLoading = false
              return
            }
            if (!maxAmount && maxAmount !== 0) {
              this.msgError('请输入单笔最高')
              this.submitLoading = false
              return
            }
            if (minAmount >= maxAmount) {
              this.msgError('最高额须大于最低额')
              this.submitLoading = false
              return
            }
            let quickAmountList = []
            submitData.isFixedAmount = 0
            for (let i = 0; i < this.form.quickAmountList.length; i++) {
              if (this.form.quickAmountList[i].value !== '') {
                quickAmountList.push(this.form.quickAmountList[i].value)
              }
            }
            if (!this.sortArry(quickAmountList)) {
              this.submitLoading = false
              this.msgError('数据不能输入重复')
              return
            }
            let sortlist = quickAmountList.sort(this.sortNumber)
            submitData.quickAmountList = sortlist.join(',')
            delete submitData.fixedAmountList
          } else {
            let fixedAmountList = []
            submitData.isFixedAmount = 1
            for (let i = 0; i < this.form.fixedAmountList.length; i++) {
              if (this.form.fixedAmountList[i].value !== '') {
                fixedAmountList.push(this.form.fixedAmountList[i].value)
              }
            }
            // 有重复数据
            if (!this.sortArry(fixedAmountList)) {
              this.submitLoading = false
              this.msgError('数据不能输入重复')
              return
            }
            let sortlist = fixedAmountList.sort(this.sortNumber)
            submitData.fixedAmountList = sortlist.join(',')
            delete submitData.quickAmountList
          }
        }
        if (submitData.minAmount === '') {
          submitData.minAmount = 0
        }
        if (submitData.maxAmount === '') {
          submitData.maxAmount = 0
        }
        delete submitData.fixedAmount
        delete submitData.fixedAmountPlatform
        delete submitData.fixedPlatformAmountList
        if (this.form.secretKey === '******') {
          delete submitData.secretKey
        }
        if (this.form.receiveKey === '******') {
          delete submitData.receiveKey
        }
        Api.saveOrUpdateInternetBank(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getInternetBankList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    sortNumber (big, small) {
      return big - small
    },
    // 判断是否有重复数据
    sortArry (arry) {
      let nary = arry.sort()
      let str = true
      for (let i = 0; i < arry.length; i++) {
        if (arry[i] === nary[i + 1]) {
          str = false
          break
        }
      }
      return str
    }
  },
  mounted () {
    this.getThirdPartyPaySettingsVo()
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          if (this.$refs['form']) {
            this.$refs['form'].clearValidate()
          }
          // this.initData()
          this.form.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
            this.form.payType = this.data.payType
          } else {
            this.form.payType = ''
          }
          this.form.payAlias = this.data.payAlias
          this.form.merchantNumber = this.data.merchantNumber
          this.form.terminalNumber = this.data.terminalNumber
          this.form.remark = this.data.remark
          if (this.data.id && this.data.id !== '') {
            this.form.secretKey = '******'
            this.form.receiveKey = '******'
          } else {
            this.form.secretKey = ''
            this.form.receiveKey = ''
          }
          this.form.payUrl = this.data.payUrl
          this.form.mobileType = this.data.mobileType
          this.form.minAmount = 0
          if (this.data.minAmount) {
            this.form.minAmount = this.data.minAmount
          } else {
            if (!this.data.maxAmount) {
              this.form.minAmount = ''
            }
          }
          if (this.data.maxAmount) {
            this.form.maxAmount = this.data.maxAmount
          } else {
            this.form.maxAmount = ''
          }
          // 判斷是否編輯或新增
          // 站长配置的固定金额字段控制
          if (this.data.fixedAmountThird) {
            this.form.fixedPlatformAmountList = []
            this.form.fixedAmountPlatform = true
            if (this.data.fixedAmountList) {
              let fixedPlatformAmountList = this.data.fixedAmountList.split(',').sort(this.sortNumber)
              let Arrnumber = 0
              let fixedPlatformAmountListSort = []
              for (let i = 0; i < fixedPlatformAmountList.length; i++) {
                let tempFixedAmountListData = {}
                Object.assign(tempFixedAmountListData, {})
                tempFixedAmountListData.key = i + 1
                tempFixedAmountListData.value = fixedPlatformAmountList[i]
                fixedPlatformAmountListSort.push(tempFixedAmountListData)
                Arrnumber = Arrnumber + 1
              }
              this.form.fixedPlatformAmountList = fixedPlatformAmountListSort
            }
          } else {
            this.form.fixedAmountPlatform = false
            if (this.data.isFixedAmount) {
              this.form.fixedAmount = 'true'
              let index = 0
              this.form.fixedAmountList = []
              if (this.data.fixedAmountList) {
                let fixedAmountListSort = []
                let fixedAmountList = this.data.fixedAmountList.split(',').sort(this.sortNumber)
                for (let i = 0; i < fixedAmountList.length; i++) {
                  let tempFixedAmountListData = {}
                  Object.assign(tempFixedAmountListData, {})
                  tempFixedAmountListData.key = i + 1
                  tempFixedAmountListData.value = fixedAmountList[i]
                  fixedAmountListSort.push(tempFixedAmountListData)
                  index += 1
                }
                this.form.fixedAmountList = fixedAmountListSort
              }
              if (index < 8) {
                for (let i = index; i < 8; i++) {
                  let tempFixedAmountListData = {}
                  Object.assign(tempFixedAmountListData, {})
                  tempFixedAmountListData.key = i + 1
                  tempFixedAmountListData.value = ''
                  this.form.fixedAmountList.push(tempFixedAmountListData)
                }
              }
              this.form.quickAmountList = []
              for (let i = 0; i < 8; i++) {
                let tempFixedAmountListData = {}
                Object.assign(tempFixedAmountListData, {})
                tempFixedAmountListData.key = i + 1
                tempFixedAmountListData.value = ''
                this.form.quickAmountList.push(tempFixedAmountListData)
              }
            } else {
              this.form.fixedAmount = 'false'
              let indexQ = 0
              this.form.quickAmountList = []
              this.form.fixedAmountList = []
              if (this.data.quickAmountList) {
                let quickAmountListSort = []
                let quickAmountList = this.data.quickAmountList.split(',').sort(this.sortNumber)
                for (let i = 0; i < quickAmountList.length; i++) {
                  let tempFixedAmountListData = {}
                  Object.assign(tempFixedAmountListData, {})
                  tempFixedAmountListData.key = i + 1
                  tempFixedAmountListData.value = quickAmountList[i]
                  quickAmountListSort.push(tempFixedAmountListData)
                  indexQ += 1
                }
                this.form.quickAmountList = quickAmountListSort
              }
              if (indexQ < 8) {
                for (let i = indexQ; i < 8; i++) {
                  let tempFixedAmountListData = {}
                  Object.assign(tempFixedAmountListData, {})
                  tempFixedAmountListData.key = i + 1
                  tempFixedAmountListData.value = ''
                  this.form.quickAmountList.push(tempFixedAmountListData)
                }
              }
              for (let i = 0; i < 8; i++) {
                let tempFixedAmountListData = {}
                Object.assign(tempFixedAmountListData, {})
                tempFixedAmountListData.key = i + 1
                tempFixedAmountListData.value = ''
                this.form.fixedAmountList.push(tempFixedAmountListData)
              }
            }
          }
          this.loading = false
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
