  <template>
  <div>
    <el-dialog
      :visible="showBlogForm"
      @close="closeClear"
      title="提现订单"
      tabindex="-1"
      ref="withdrawDialog"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal reposit-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <!--<el-button class="dialog-state" disabled size="mini">已拒绝</el-button>-->
        <div class="reposit-header"
             @keyup.native.enter="submitForm('ruleForm')">
          <el-button v-if="ruleForm.state !== 0"  disabled size="mini" class="disable-button">{{ruleForm.state.toString() | state}}</el-button>
          <template v-else>
            <el-button :loading="loading" :disabled="loading" v-if="ruleForm.isLock && ($store.state.currentUser.toLowerCase() === ruleForm.operator.toLowerCase() || 'dafacloud-'+$store.state.currentUser.toLowerCase() === ruleForm.operator.toLowerCase())" size="mini" @click="handleWithdrawal(-1)">解锁</el-button>
            <el-button :loading="loading" :disabled="loading" v-if="!ruleForm.isLock" size="mini" @click="handleWithdrawal(-2)" >锁定</el-button>
            <el-button  v-if="ruleForm.isLock && $store.state.currentUser.toLowerCase() !== ruleForm.operator.toLowerCase() && 'dafacloud-'+$store.state.currentUser.toLowerCase() !== ruleForm.operator.toLowerCase()" size="mini" disabled class="disable-button">{{ruleForm.operator}} 已锁定</el-button>
          </template>
        </div>
        <ul  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <li class="order-li">
            <span class="reposit-title">会员账号 :</span>
            <el-input v-model="ruleForm.userName" ref="userName" class="reposit-text" auto-complete="off" readonly></el-input>
            <el-button type="text" class="trade-copy-icon color-bluebutton cursor-style" @click="clickCopy('userName')">复制</el-button>
          </li>
          <li class="order-li">
            <span class="reposit-title">银行名称 :</span>
            <el-input v-model="ruleForm.bankName" ref="bankName" class="reposit-text " auto-complete="off" readonly></el-input>
            <el-button type="text" class="trade-copy-icon color-bluebutton cursor-style" @click="clickCopy('bankName')">复制</el-button>
          </li>
          <li class="order-li">
            <span class="reposit-title">银行卡号 :</span>
            <el-input v-model="ruleForm.bankAccount" ref="bankAccount" class="reposit-text" auto-complete="off" readonly></el-input>
            <el-button type="text" class="trade-copy-icon color-bluebutton cursor-style" @click="clickCopy('bankAccount')">复制</el-button>
          </li>
          <li class="order-li">
            <span class="reposit-title">银行姓名 :</span>
            <el-input v-model="ruleForm.userRealName" ref="userRealName" class="reposit-text " auto-complete="off" readonly></el-input>
            <el-button type="text" class="trade-copy-icon color-bluebutton cursor-style" @click="clickCopy('userRealName')">复制</el-button>
          </li>
          <li class="order-li">
            <span class="reposit-title">出款金额 :</span>
            <el-input v-model="ruleForm.withdrawAmount" ref="withdrawAmount" class="reposit-text  color-danger" auto-complete="off" readonly></el-input>
            <el-button type="text" class="trade-copy-icon color-bluebutton cursor-style" @click="clickCopy('withdrawAmount')">复制</el-button>
          </li>
          <li class="reposit-more">
            <span class="reposit-title">会员等级 :</span>
            <span class="reposit-text margin-l10">{{formatterGrade(ruleForm)}}</span>
          </li>
          <li class="order-li">
            <span class="reposit-title">会员余额 :</span>
            <span class="reposit-text margin-l10">{{ruleForm.balance}}</span>
          </li>
          <li>
            <span class="reposit-title">盈利盈率 :</span>
            <span class="reposit-text margin-l10 color-blue">{{ruleForm.winAmountReturnRate}}</span>
          </li>
          <li>
            <span class="reposit-title">投注中奖 :</span>
            <span class="reposit-text margin-l10 ">{{ruleForm.betReturnAmount}}</span>
          </li>
          <li>
            <span class="reposit-title">充值提现 :</span>
            <span class="reposit-text margin-l10 ">{{ruleForm.inOutAmount}}</span>
          </li>
          <li>
            <span class="reposit-title">收款转账 :</span>
            <span class="reposit-text margin-l10 ">{{ruleForm.getSendAmount}}</span>
          </li>
          <li>
            <span class="reposit-title">收发红包 :</span>
            <span class="reposit-text margin-l10 ">{{ruleForm.hbGetSendAmount}}</span>
          </li>
          <li>
            <span class="reposit-title">登陆地址 :</span>
            <span class="reposit-text margin-l10">{{ruleForm.loginAddr}}</span>
          </li>
          <li>
            <span class="reposit-title">银行地址 :</span>
            <span class="reposit-text margin-l10">{{ruleForm.bankLocation}}</span>
          </li>
          <li>
            <span class="reposit-title">上级账号 :</span>
            <span class="reposit-text margin-l10">{{ruleForm.agentName}}</span>
          </li>
          <li>
            <span class="reposit-title">注册时间 :</span>
            <span class="reposit-text margin-l10">{{ruleForm.registerTime}}</span>
          </li>
          <li class="remark-li">
            <span class="reposit-title">备注信息 :</span>
            <span class="reposit-text margin-l10 color-danger">{{ruleForm.remark}}</span>
          </li>
        </ul>
        <div slot="footer" class="dialog-footer" v-if="ruleForm.state !== 0 || !ruleForm.isLock">
          <el-button @click="closeClear" :disabled="loading" size="mini" type="primary" >关 闭</el-button>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="handleWithdrawal(2)"  :disabled="loading" size="mini"  v-if="ruleForm.state === 0 && ruleForm.isLock && ($store.state.currentUser.toLowerCase() === ruleForm.operator.toLowerCase() || 'dafacloud-'+$store.state.currentUser.toLowerCase() === ruleForm.operator.toLowerCase())">取消出款</el-button>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="handleWithdrawal(1)" :disabled="loading"  size="mini" type="primary" v-if="ruleForm.state === 0 && ruleForm.isLock && ($store.state.currentUser.toLowerCase() === ruleForm.operator.toLowerCase() || 'dafacloud-'+$store.state.currentUser.toLowerCase() === ruleForm.operator.toLowerCase())">确定出款</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import {DateFormat} from '@/utils/Time'
import {gradeData} from '@/utils/config'
import {formatMoney, formatPercentage} from '@/filters/index'
export default {
  data () {
    let defaultFormData = {
      userName: '',
      bankName: '',
      bankAccount: '',
      withdrawAmount: '',
      grade: '',
      balance: '',
      winAmountReturnRate: '',
      betReturnAmount: '',
      inOutAmount: '',
      getSendAmount: '',
      hbGetSendAmount: '',
      loginAddr: '',
      bankLocation: '',
      agentName: '',
      registerTime: '',
      remark: '',
      isLock: false,
      state: 0,
      operator: ''
    }
    return {
      copyData: '',
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      currentPlatformUser: '',
      currentUser: '',
      ruleForm: {...defaultFormData},
      resetForm: {...defaultFormData},
      isChecked: true
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  filters: {
    state (v) {
      switch (v) {
        case '0':
          return '未处理'
        case '1':
          return '已确定'
        default:
          return '已取消'
      }
    }
  },
  methods: {
    setKeyCode () {
      // document.onkeydown = {}
      // console.log(this.$refs.withdrawDialog)
      this.$refs.withdrawDialog.$el.focus()
      this.$refs.withdrawDialog.$el.onkeydown = (evt) => {
        evt = window.event ? window.event : evt
        if (evt.keyCode === 32) {
          this.closeClear()
          evt.preventDefault()
          this.$refs.withdrawDialog.$el.onkeydown = {}
        }
      }
      // this.$refs.withdrawDialog.addEventListener('keydown', (e) => {
      //   console.sole(e)
      // })
      // document.onkeydown = (evt) => {
      //   evt = window.event ? window.event : evt
      //   if (evt.keyCode === 32) {
      //     this.closeClear()
      //     evt.preventDefault()
      //     document.onkeydown = {}
      //   }
      // }
    },
    formatterGrade (row, column) {
      if (row.grade === undefined || row.grade === null || !gradeData[row.grade.toString()]) {
        return '未知等级'
      }
      return gradeData[row.grade.toString()]
    },
    handleWithdrawal (type) {
      this.getCurrentUser()
      let submitData = {}
      submitData.id = this.data.id
      submitData.type = type
      this.loadingMsg = '正在提交...'
      if (type === -2 || type === -1) {
        this.loading = true
        Api.updateWithdrawRecordStatus(submitData, () => {
          this.loading = false
          this.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          if (type === -2) {
            this.ruleForm.isLock = true
            this.data.isLock = true
            this.ruleForm.operator = this.currentUser
            this.data.operator = this.currentUser
            this.data.operationTime = DateFormat(new Date(), 'yyyy-MM-dd hh:mm:ss')
          } else {
            this.ruleForm.isLock = false
            this.data.isLock = false
            this.ruleForm.operator = ''
            this.data.operator = ''
            this.data.operationTime = ''
          }
          this.$parent.setOrder(this.data)
          this.$nextTick(function () {
            this.loading = false
            this.loadingMsg = '正在拼命加载中...'
          })
          // console.log(this.ruleForm)
        })
        return
      }
      let msg = ''
      if (type === 1) {
        msg = '是否确定出款'
        this.msgConfirm(msg, {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.loading = true
          Api.updateWithdrawRecordStatus(submitData, () => {
            this.loading = false
            this.loadingMsg = '正在拼命加载中...'
          }).then((res) => {
            this.$refs.withdrawDialog.$el.focus()
            this.ruleForm.state = type
            this.data.state = type
            this.ruleForm.operator = this.currentUser
            this.data.operator = this.currentUser
            this.data.operationTime = DateFormat(new Date(), 'yyyy-MM-dd hh:mm:ss')
            this.$parent.setOrder(this.data)
            this.$nextTick(function () {
              this.loading = false
              this.loadingMsg = '正在拼命加载中...'
            })
          })
        })
        return
      }
      if (type === 2) {
        msg = '是否取消出款'
      }
      if (type === 3) {
        msg = '是否拒绝出款'
      }
      this.isChecked = true
      let obj = this
      const h = this.$createElement
      this.$prompt(msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        inputPlaceholder: '请输入备注',
        customClass: 'show-player-content',
        title: msg,
        message: h('el-checkbox', {
          props: {
            checked: obj.isChecked
          },
          on: {
            change (val) {
              obj.isChecked = val
            }
          },
          class: 'show-player-box'
        }, '允许玩家可见')
      }).then(({ value }) => {
        if (value && value.length > 200) {
          this.msgError('备注长度不能超过200个字符')
          return
        }
        submitData.remark = value
        submitData.flag = this.isChecked ? '1' : '0'
        let parame = JSON.parse(JSON.stringify(submitData))
        this.loading = true
        Api.updateWithdrawRecordStatus(parame, () => {
          this.loading = false
          this.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.$refs.withdrawDialog.$el.focus()
          this.ruleForm.state = type
          this.data.state = type
          this.ruleForm.operator = this.currentUser
          this.data.operator = this.currentUser
          this.data.operationTime = DateFormat(new Date(), 'yyyy-MM-dd hh:mm:ss')
          this.$parent.setOrder(this.data)
          this.$nextTick(function () {
            this.loading = false
            this.loadingMsg = '正在拼命加载中...'
          })
          // if (res.code === 1) {
          //   this.msgSuccess('修改成功')
          // }
          let box = document.querySelector('.show-player-box')
          let ele = box.className.indexOf('is-checked')
          if (ele === -1) {
            box.click()
            this.isChecked = true
          }
        })
      }).catch(() => {
        let box = document.querySelector('.show-player-box')
        let ele = box.className.indexOf('is-checked')
        if (ele === -1) {
          box.click()
          this.isChecked = true
        }
      })
    },
    clickCopy (domName) {
      // console.log('copy')
      this.$refs[domName].select()
      document.execCommand('copy')
    },
    closeClear () {
      for (let item in this.ruleForm) {
        this.ruleForm[item] = this.resetForm[item]
      }
      this.$emit('onClose')
    },
    getCurrentUser () {
      if (!sessionStorage.getItem('siteInfo') || !localStorage.getItem('siteInfo')) {
        this.msgConfirm('缓存数据丢失，将返回到登录页', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          closeOnClickModal: false,
          closeOnPressEscape: false,
          showClose: false,
          showCancelButton: false
        }).then(() => {
          this.$router.push('/login')
        })
      }
      let siteInfo = JSON.parse(localStorage.getItem('siteInfo'))
      this.currentPlatformUser = 'dafacloud-' + siteInfo.userName
      if (siteInfo.isPlatform === 1) {
        this.currentUser = 'dafacloud-' + siteInfo.userName
      } else {
        this.currentUser = siteInfo.userName
      }
    },
    getOrderInfo () {
      this.getCurrentUser()
      this.ruleForm = Object.assign(this.ruleForm, this.data)
      for (let item in this.ruleForm) {
        if (this.data[item] === null || this.data[item] === undefined) {
          continue
        }
        this.ruleForm[item] = this.data[item]
      }
      let submitData = {}
      submitData.userId = this.data.userId
      submitData.userName = this.data.userName
      // console.log('submitData', submitData)
      // this.loading = true
      // let obj = this
      Api.queryWithdrawOrderDetails(submitData, function () {
        // obj.loading = false
      }).then((res) => {
        // this.ruleForm = res.data
        for (let item in res.data) {
          this.ruleForm[item] = res.data[item]
        }
        // this.ruleForm.userName = this.data.userName
        // this.ruleForm.bankName = this.data.bankName
        // this.ruleForm.bankCardId = this.data.bankCardId
        // this.ruleForm.withdrawAmount = this.data.withdrawAmount
        // this.ruleForm.loginAddr = this.data.loginAddr
        // this.ruleForm.bankLocation = this.data.bankLocation
        // this.ruleForm.userRealName = this.data.userRealName
        // this.ruleForm.state = this.data.state
        // this.ruleForm.isLock = this.data.isLock
        // this.ruleForm.operator = this.data.operator
        // if (gradeData[this.ruleForm.grade.toString()]) {
        //   this.ruleForm.grade = gradeData[this.ruleForm.grade.toString()]
        // } else {
        //   this.ruleForm.grade = '未知等级'
        // }
        // console.log(this.ruleForm)
      })
      submitData.date = DateFormat(this.data.gmtCreated, 'yyyy-MM-dd')
      Api.userProfit(submitData, function () {
        // obj.loading = false
      }).then((res) => {
        // this.ruleForm = res.data
        this.ruleForm.winAmountReturnRate = formatMoney(res.data.profit) + '/' + formatPercentage(res.data.profitability)
        this.ruleForm.betReturnAmount = formatMoney(res.data.betAmount) + '/' + formatMoney(res.data.returnAmount)
        this.ruleForm.inOutAmount = formatMoney(res.data.inAmount) + '/' + formatMoney(res.data.outAmount)
        this.ruleForm.getSendAmount = formatMoney(res.data.getAmount) + '/' + formatMoney(res.data.sendAmount)
        this.ruleForm.hbGetSendAmount = formatMoney(res.data.hbGetAmount) + '/' + formatMoney(res.data.hbSendAmount)
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.setKeyCode()
          this.getOrderInfo()
        })
      }
    }
  }
}
</script>
<style>
  .el-form-item__content{
    position: relative;
  }
  .reposit-text{
    width: 250px;
    & input{
      border: none !important;
      font-size: 14px;
    }
  }
  .reposit-text.color-danger{
    & input{
      color: var(--color-danger) !important;
      font-weight: bold;
    }
  }
  .show-player-content .el-message-box__message{
    overflow: hidden;
  }
  .el-message-box__message .show-player-box {
    position: absolute;
    top: 58px;
  }

  @media only screen and (max-width: 640px) {
    /*.reposit-text{*/
      /*width: 180px;*/
    /*}*/
  }
</style>
