<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="限额设置编辑"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="Form" size="small" ref="Form" label-width="80px" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('Form')" @submit.native.prevent>
            <el-form-item
              label="单笔最高"
              prop="maxAmount"
              :rules="[
                { required: true, message: '不能为空'},
                { type: 'number', message: '必须为数字值'}
              ]"
            >
              <el-input-number v-model="Form.maxAmount" :min="0" :max="9999999999999" :precision="0" label="描述文字" size="mini"></el-input-number>
            </el-form-item>
            <el-form-item
              label="单笔最低"
              prop="minAmount"
              :rules="[
                { required: true, message: '不能为空'},
                { type: 'number', message: '必须为数字值'}
              ]"
            >
              <el-input-number v-model="Form.minAmount" :min="0" :max="9999999999999" :precision="0"  label="描述文字" size="mini"></el-input-number>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" @click="submitForm('Form')" size="mini" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/transfer'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      Form: {
        minAmount: 0,
        maxAmount: 1
      },
      num: 3
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        Api.updateMerchantsPayment(this.Form, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getPamentLimitList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.Form.id = this.data.id
          this.Form.paymentTypeId = this.data.paymentTypeId
          this.Form.minAmount = this.data.minAmount
          this.Form.maxAmount = this.data.maxAmount
          this.loading = false
          // console.log(this.ruleForm)
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
  @import '../../assets/css/variable.css';
  @import '../../assets/css/medium-editor.css';
</style>
