<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '充值说明编辑':'新增充值说明'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal help-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" class="form" size="small" ref="ruleForm" label-position="top" v-loading="loading"
                   element-loading-customClass="loadingClass"  element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="PC文案" prop="pcPaymentHelp">
              <el-tabs v-model="ruleForm.isSystemPc" type="card" size="mini" class="tab-nomargin">
                <el-tab-pane label="使用自定义文案" name="0"></el-tab-pane>
                <el-tab-pane label="使用系统文案" name="1"></el-tab-pane>
              </el-tabs>
              <medium-editor
                ref="content"
                :use-at-user="false"
                :contenteditable="true"
                :able-upload="false"
                :editGuideBtn="false"
                v-show="ruleForm.isSystemPc === '0'"
                v-model="ruleForm.pcPaymentHelp"
                :options="mediumOptionsPC"
              ></medium-editor>
              <div class="article-section" v-show="ruleForm.isSystemPc === '1'">
                <div class="article-body article-disabled" v-html="pcPaymentHelpSystem"></div>
              </div>
            </el-form-item>
            <el-form-item label="Moblie文案" prop="mobilePaymentHelp">
              <el-tabs v-model="ruleForm.isSystemMobile" type="card" size="mini" class="tab-nomargin">
                <el-tab-pane label="使用自定义文案" name="0"></el-tab-pane>
                <el-tab-pane label="使用系统文案" name="1"></el-tab-pane>
              </el-tabs>
              <medium-editor
                ref="content"
                :use-at-user="false"
                :contenteditable="true"
                :able-upload="false"
                :editGuideBtn="false"
                v-show="ruleForm.isSystemMobile === '0'"
                v-model="ruleForm.mobilePaymentHelp"
                :options="mediumOptionsMB"
              ></medium-editor>
              <div class="article-section" v-show="ruleForm.isSystemMobile === '1'">
                <div class="article-body article-disabled" v-html="mobilePaymentHelpSystem"></div>
              </div>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import Api from '@/api/transfer'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        pcPaymentHelp: '',
        isSystemPc: '1',
        mobilePaymentHelp: '',
        isSystemMobile: '1',
        paymentTypeId: ''
      },
      pcPaymentHelpSystem: '',
      mobilePaymentHelpSystem: '',
      mediumOptionsPC: {
        toolbar: {
          buttons: ['orderedlist', 'unorderedlist']
        },
        placeholder: {
          text: '"请输入Pc文案',
          hideOnClick: true
        }
      },
      mediumOptionsMB: {
        toolbar: {
          buttons: ['orderedlist', 'unorderedlist']
        },
        placeholder: {
          text: '请输入Moblie文案',
          hideOnClick: true
        }
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    setSysPaymentHelp (type) {
      if (type === 1) {
        this.ruleForm.pcPaymentHelp = this.pcPaymentHelpSystem
        return
      }
      this.ruleForm.mobilePaymentHelp = this.mobilePaymentHelpSystem
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        if (submitData.isSystemPc === '1') {
          submitData.isSystemPc = true
        } else {
          submitData.isSystemPc = false
        }
        if (submitData.isSystemMobile === '1') {
          submitData.isSystemMobile = true
        } else {
          submitData.isSystemMobile = false
        }
        Api.updatePaymentAssistanceSettings(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  components: {
    MediumEditor
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // console.log(this.data)
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
          }
          this.ruleForm.pcPaymentHelp = this.data.pcPaymentHelp
          this.ruleForm.mobilePaymentHelp = this.data.mobilePaymentHelp
          if (this.data.isSystemPc) {
            this.ruleForm.isSystemPc = '1'
          } else {
            this.ruleForm.isSystemPc = '0'
          }
          if (this.data.isSystemMobile) {
            this.ruleForm.isSystemMobile = '1'
          } else {
            this.ruleForm.isSystemMobile = '0'
          }
          this.ruleForm.paymentTypeId = this.data.paymentTypeId
          this.pcPaymentHelpSystem = this.data.pcPaymentHelpSystem
          this.mobilePaymentHelpSystem = this.data.mobilePaymentHelpSystem
          this.loading = false
        })
      }
    }
  }
}
</script>
<style scoped>
  .el-tabs__item{
    font-size: 12px !important;
  }
  .el-tabs--card > .el-tabs__header .el-tabs__item{
    font-size: 12px !important;
  }
  .el-tabs__header {
    border-bottom: none !important;
    margin: 0 !important;
  }
  .article-disabled{
    background: #F5F7FA;
    color: #C1C5CD;
  }
</style>
