<template>
  <div class="bank-dialog">
    <el-dialog
      :visible.sync="showBlogForm"
      title="续费记录"
      @close="closeClear"
      :close-on-click-modal="true"
      custom-class="mini-reveal-modal discount-dialog renewa-dialog">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <scroll :id="'scrollId2'" class="el-table">
            <el-table
              :data="allList"
              ref="multipleTable"
              style="width: 100%">
              <el-table-column
                label="续费站长"
                min-width="130" prop="tenantCode" class-name="more-padding" >
              </el-table-column>
              <el-table-column
                prop="renewalTime"
                label="续费时间"
                min-width="170">
              </el-table-column>
              <el-table-column
                min-width="150" prop="renewalPackage"
                label="续费套餐">
                <template slot-scope="scope">
                 <span>{{scope.row.renewalPackage | name}}</span>
                </template>
              </el-table-column>
              <el-table-column
                min-width="110" prop="operator"
                label="操作人">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">关闭</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      allList: [],
      ruleForm: {},
      loadingMsg: '正在拼命加载中...',
      multipleSelection: []
    }
  },
  props: {
    visible: Boolean
  },
  filters: {
    name (value) {
      switch (value) {
        case 5:
          return '套餐一(5个域名)'
        case 10:
          return '套餐二(10个域名)'
        case 20:
          return '套餐三(20个域名)'
        case 30:
          return '套餐四(30个域名)'
        default:
          return '套餐五(50个域名)'
      }
    }
  },
  components: {
    Scroll
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    },
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.getRenewalLog(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        obj.loading = false
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.getOrderList()
        })
      }
    }
  }
}
</script>
<style>
  .activity-discount-dialog{
    max-width: 755px !important;
    & .el-dialog__header{
      padding: 15px 20px;
    }
    & .el-dialog__headerbtn{
      right: 22px;
    }
    &.el-dialog__body{
      padding: 0 !important;
    }
    & .cell{
      text-align: center;
    }
    & .act-btn .cell{
      padding: 6px 22px 6px 10px !important;
    }
    & .more-padding .cell{
      padding: 6px 10px 6px 20px !important;
    }
    & .el-input-number--mini{
      width: 100px;
    }
  }
  .discount-note-style ol{
    padding: 20px 20px 0 20px;
    list-style: none;
    margin: 0;
    & .padding8{
      padding-left: 8px;
    }
  }
  .renewa-dialog .el-dialog__body{
    min-height: 300px;
    & .cell{
      text-align: center;
    }
  }
</style>
