<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '充值说明编辑':'新增充值说明'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal help-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-position="top" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                   element-loading-customClass="loadingClass"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="PC文案" prop="pcPaymentHelp">
              <medium-editor
                ref="content"
                :use-at-user="false"
                :contenteditable="true"
                :able-upload="true"
                v-model="ruleForm.pcPaymentHelp"
                :options="mediumOptionsPC"
              ></medium-editor>
            </el-form-item>
            <el-form-item label="Moblie文案" prop="mobilePaymentHelp">
              <medium-editor
                ref="content"
                :use-at-user="false"
                :contenteditable="true"
                :able-upload="true"
                v-model="ruleForm.mobilePaymentHelp"
                :options="mediumOptionsMB"
              ></medium-editor>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import Api from '@/api/tenant'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        pcPaymentHelp: '',
        mobilePaymentHelp: ''
      },
      rules: {
        pcPaymentHelp: [
          { required: true, message: '请输入Pc文案', trigger: 'blur' },
          {min: 2, max: 1000, message: '长度在 2 到 1000 个字符', trigger: 'blur'}
        ],
        mobilePaymentHelp: [
          { required: true, message: '请输入Moblie文案', trigger: 'blur' },
          {min: 2, max: 1000, message: '长度在 2 到 2000 个字符', trigger: 'blur'}
        ]
      },
      mediumOptionsPC: {
        toolbar: {
          buttons: ['orderedlist', 'unorderedlist']
        },
        placeholder: {
          text: '"请输入Pc文案',
          hideOnClick: true
        }
      },
      mediumOptionsMB: {
        toolbar: {
          buttons: ['orderedlist', 'unorderedlist']
        },
        placeholder: {
          text: '请输入Moblie文案',
          hideOnClick: true
        }
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        Api.updateSystemPaymentAssistanceSettings(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  components: {
    MediumEditor
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
          }
          this.ruleForm.pcPaymentHelp = this.data.pcPaymentHelp
          this.ruleForm.mobilePaymentHelp = this.data.mobilePaymentHelp
          this.ruleForm.paymentTypeId = this.data.paymentTypeId
          this.loading = false
        })
      }
    }
  }
}
</script>
