<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      @close="closeClear"
      :close-on-click-modal="false"
      :title="data.messageTypeName"
      custom-class="mini-reveal-modal article-modal">
      <template>
          <div class="article-time margin-t6">
            {{data.startTime}}
          </div>
          <div v-html="data.content" class="article-content">
          </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showBlogForm: false
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    }
  },
  components: {
  },
  watch: {
    visible (nv) {
      debugger
      this.showBlogForm = nv
    }
  }
}
</script>
