<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增关闭站点直播"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" label-width="80px" :label-position="screenW>=768 ? 'right':'top'" ref="ruleForm" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="站长编码" prop="tenantCode" label-width="80px">
              <el-input placeholder="请输入站长编码" v-model="ruleForm.tenantCode"  size="min">
              </el-input>
            </el-form-item>
            <el-form-item label="直播状态" prop="state" class="rwd-turnoff" v-if="false">
              <el-radio-group v-model="ruleForm.state">
                <el-radio-button label="0">关</el-radio-button>
                <el-radio-button label="1">开</el-radio-button>
              </el-radio-group>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      valueLevel: '',
      rules: {
        tenantCode: [
          { required: true, message: '请输入站长编码', trigger: 'blur' },
          {min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
        ],
        state: [
          { required: true, message: '请选择直播显示', trigger: 'change' }
        ],
        barrageId: [
          { required: true, message: '请选择弹幕信息', trigger: 'change' }
        ],
        giftId: [
          { required: true, message: '请选择礼物信息', trigger: 'change' }
        ]
      },
      ruleForm: {
        IdentityId: '',
        Type: '',
        liveType: '',
        show: '',
        state: 0,
        barrageId: 0,
        giftId: 0

      }
    }
  },
  props: {
    visible: Boolean
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        Api.addLiveState(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  }
}
</script>
