<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增IP限制"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :rules="rules" :label-position="screenW >= 768 ? 'right':'top'" class="form" size="small" ref="ruleForm" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass" label-width="95px"  >
          <el-form-item label="限制访问区域" prop="webType" >
            <el-radio-group v-model="ruleForm.webType" class="rwd-turnoff">
              <el-radio-button label="1">前台</el-radio-button>
              <el-radio-button label="2">后台</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="黑/白名单" prop="listType" >
            <el-radio-group v-model="ruleForm.listType" class="rwd-turnoff">
              <el-radio-button label="1">黑名单</el-radio-button>
              <el-radio-button label="2">白名单</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="IP地址" prop="ip" >
            <el-input  v-model="ruleForm.ip" placeholder="请输入IP地址"></el-input>
          </el-form-item>
          <el-form-item label="备注" prop="remark" >
            <el-input type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        ip: '',
        webType: 1,
        listType: 1,
        remark: ''
      },
      rules: {
        ip: [
          { required: true, message: '请输入IP地址', trigger: 'blur' }
        ],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        Api.gatewayLimitAdd(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
