<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '平台角色编辑':'新增平台角色'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal role-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" :rules="rules" :label-position="$store.state.media.screenWidth <= 768 ? 'top' : 'left'" size="small" ref="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="角色名称" prop="name">
              <el-input v-model="ruleForm.name"  :disabled="readOnly" auto-complete="off" placeholder="支持字母、数字和中文，2~20个字符"></el-input>
            </el-form-item>
            <el-form-item label="管理权限" class="admin-btn" prop="role">
              <el-checkbox size="mini"  v-model="isAll" @change="setCheckedNodes" type="text" class="margin-r6 color-bluebutton">全选</el-checkbox>
              <el-button type="text"  size="mini" @click="resetChecked" ><span class="color-bluebutton">重置</span></el-button>
            </el-form-item>
            <el-form-item label-width="0" label-position="top" prop="permissionList"  v-show="!isAll" >
              <div class="media-object tree-box">
                <div class="media-object-section shrink hide-for-large">
                  <el-checkbox type="text" v-model="isAll" size="mini"  @change="setCheckedNodes" class="all-permission margin-r6"><span>全部权限</span></el-checkbox>
                </div>
                <div class="media-object-section">
                  <el-tree
                    :data="navData"
                    show-checkbox
                    auto-expand-parent
                    node-key="permissionCode"
                    ref="tree"
                    class="pc-tree platformRole"
                    :default-checked-keys="ruleForm.permissionList"
                    :props="defaultProps">
                    <span class="custom-tree-node" slot-scope="{ node, data }">
                      <span><i class="fa fa-folder fa-lg fa-folder-icon"></i>{{ node.label }}</span>
                    </span>
                  </el-tree>
                </div>
              </div>
            </el-form-item>
             <el-form-item v-show="isAll">
               <el-input  v-show="isAll" placeholder="已选取全部" disabled class="height-select34 margin-t10"></el-input>
             </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" size="mini" @click="submitForm('ruleForm')" type="primary" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      isAll: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        name: '',
        permissionList: []
      },
      rules: {
        name: [
          { required: true, message: '请输入角色名称', trigger: 'blur' },
          { min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur' }
        ]
      },
      // 角色权限选择
      navData: [],
      defaultNavData: [],
      defaultProps: {
        children: 'children',
        label: 'caTitle'
      },
      childrenData: {}
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  created () {
    this.JsonToArray()
  },
  methods: {
    getSiteRoleInfo (id) {
      let submitData = {}
      submitData.id = id
      this.loading = true
      let obj = this
      Api.platformProle(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(1111, res)
        let roleData = res.data.Prole
        let permissionList = []
        if (roleData.permissionList && roleData.permissionList !== '') {
          permissionList = JSON.parse(roleData.permissionList)
        }
        // console.log(222, permissionList)
        let p = []
        for (let i = 0; i < permissionList.length; i++) {
          if (!this.childrenData[permissionList[i].permissionCode]) {
            continue
          }
          p.push(permissionList[i].permissionCode)
        }
        this.ruleForm.permissionList = p
        this.$nextTick(function () {
          obj.loading = false
        })
        // console.log(333, this.ruleForm.permissionList)
      })
    },
    closeClear () {
      this.isAll = false
      this.navData = []
      for (let item in this.defaultNavData) {
        let navData = {}
        Object.assign(navData, this.defaultNavData[item])
        this.navData.push(navData)
      }
      this.$emit('onClose')
      this.$refs.tree.setCheckedKeys([])
      // console.log('ruleForm', this.ruleForm.permissionList)
    },
    setCheckedNodes () {
      // 全选
      this.$refs.tree.setCheckedNodes(this.navData)
    },
    resetChecked () {
      // 全不选
      this.$refs.tree.setCheckedNodes([])
      this.isAll = false
    },
    JsonToArray () {
      // 角色权限数据转换
      let setJson = (obj) => {
        let AObj = {}
        if (obj.permissionCode !== 'flatform') {
          AObj.permissionCode = obj.permissionCode
          AObj.caTitle = obj.title
          AObj.key = obj.permissionCode
          let yObj = obj.children
          if (yObj) {
            AObj.children = setChildJson(yObj)
          }
        }
        return AObj
      }
      let setChildJson = (obj) => {
        let arr = []
        for (let i = 0; i < obj.length; i++) {
          let data = {}
          data['permissionCode'] = obj[i]['permissionCode']
          data['caTitle'] = obj[i]['title']
          data['key'] = obj[i]['permissionCode']
          let yObj = obj[i]['children']
          if (yObj && yObj.length > 0) {
            data['children'] = setChildJson(yObj)
          } else {
            this.childrenData[data['permissionCode']] = data['permissionCode']
          }
          arr.push(data)
        }
        return arr
      }
      let submitData = {}
      this.loading = true
      let obj = this
      Api.platformPpermissionList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        console.log(res, 'a')
        let navData = res.data.platformPermissionList
        for (let i = 0; i < navData.length; i++) {
          let objData = setJson(navData[i])
          this.navData.push(objData)
          this.defaultNavData.push(objData)
        }
        console.log(this.navData, 'zz')
        this.$nextTick(function () {
          obj.loading = false
        })
      })
      // console.log('NAV', nav)
      // nav.then(ref => {
      //   this.navData = setJson(ref)
      // })
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        // console.log(this.ruleForm)
        let permissionList = this.$refs.tree.getCheckedKeys(false)
        let halfPermissionList = this.$refs.tree.getHalfCheckedKeys()
        // console.log('halfPermissionList', halfPermissionList)
        for (let item in halfPermissionList) {
          permissionList.push(halfPermissionList[item])
        }
        // console.log('permissionList', permissionList)
        let permissionData = []
        for (let i = 0; i < permissionList.length; i++) {
          let tempPerssion = {}
          Object.assign(tempPerssion, {})
          tempPerssion.permissionCode = permissionList[i]
          permissionData.push(tempPerssion)
        }
        let submitData = {}
        submitData.name = this.ruleForm.name
        submitData.permissionList = JSON.stringify(permissionData)
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          submitData.id = this.ruleForm.id
          Api.updatePlatformProle(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.$emit('newSiteRoleData', this.ruleForm)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            if (typeof this.$parent.getOrderList === 'function') {
              this.$parent.getOrderList()
            }
            if (typeof this.$parent.getPlatformProleList === 'function') {
              this.$parent.getPlatformProleList()
            }
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.addPlatformProle(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.$emit('newSiteRoleData', this.ruleForm)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          if (typeof this.$parent.getOrderList === 'function') {
            this.$parent.getOrderList()
          }
          if (typeof this.$parent.getPlatformProleList === 'function') {
            this.$parent.getPlatformProleList()
          }
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.title = false
          if (this.data.id) {
            this.title = true
          }
          this.ruleForm.name = this.data.name
          this.ruleForm.permissionList = []
          // console.log(2222, this.ruleForm)
          if (this.ruleForm.id && this.ruleForm.id !== '') {
            this.getSiteRoleInfo(this.ruleForm.id)
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
