<template>
  <div>
    <el-dialog
      :visible="showBlogForm"
      @close="closeClear"
      title="推送目标内容"
      ref="withdrawDialog"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal pushPlay-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <ul  v-loading="loading"  element-loading-customClass="loadingClass" label-position="right">
          <li v-if="list.chatPersonUserName">
            <span class="pushplay-title">【 聊天室 】</span>
            <span class="push-content" >{{chatRoomList ? chatRoomList:'尚未设定房间'}}</span>
          </li>
          <li v-if="list.miliaoPersonUserName">
            <span class="pushplay-title">【 密聊 】</span>
            <span class="push-content">{{miliaoRoomList}}</span>
          </li>
        </ul>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
export default {
  data () {
    return {
      loading: false,
      list: {
        chatPersonUserName: '',
        miliaoPersonUserName: '',
        chatRoomCode: '',
        miliaoRoomCode: ''
      },
      showBlogForm: false,
      statusFetch: false,
      miliaoOptions: [],
      chatRoomList: '',
      miliaoRoomList: '',
      chatOptions: {}
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  mounted () {
    // this.getChatData()
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    },
    getChatData () { // 獲取當前聊天室
      let parame = {
        roomCodes: this.list.chatRoomCode
      }
      this.loading = true
      let obj = this
      Api.getChatRoomName(parame, function () {
        obj.loading = false
      }).then((res) => {
        let name = ''
        for (let key in res.data) {
          if (name === '') {
            name = `${key} ( ${res.data[key]} )`
          } else {
            name = `${name} , ${key} ( ${res.data[key]} )`
          }
        }
        this.chatRoomList = name
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getMiliaoGroupName () {
      let parame = {
        groupNo: this.list.miliaoRoomCode
      }
      this.loading = true
      let obj = this
      Api.getMiliaoGroupName(parame, function () {
        obj.loading = false
      }).then((res) => {
        let name = ''
        for (let key in res.data) {
          if (name === '') {
            name = `${key} ( ${res.data[key]} )`
          } else {
            name = `${name} , ${key} ( ${res.data[key]} )`
          }
        }
        this.miliaoRoomList = name
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.list.chatPersonUserName = ''
        this.list.miliaoPersonUserName = ''
        this.list.chatRoomCode = ''
        this.list.miliaoRoomCode = ''
        this.miliaoOptions = []
        this.chatRoomList = ''
        this.miliaoRoomList = ''
        this.loading = true
        this.$nextTick(function () {
          this.list.chatPersonUserName = this.data.chatPersonUserName
          this.list.miliaoPersonUserName = this.data.miliaoPersonUserName
          this.list.chatRoomCode = this.data.chatRoomCode
          this.list.miliaoRoomCode = this.data.miliaoRoomCode
          if (this.list.chatRoomCode) {
            this.getChatData()
          }
          if (this.list.miliaoRoomCode) {
            this.getMiliaoGroupName()
          }
        })
      }
    }
  }
}
</script>
<style scoped>
  .pushPlay-modal{
    & ul{
      list-style: none;
    }
    ＆ li{
      margin-bottom: 5px;
    }
  }
</style>
