<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '计划方案编辑':'新增计划方案'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal playPush-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading"
                   element-loading-customClass="loadingClass" label-position="right" label-width="100px" element-loading-spinner="dafa-icon-loading01 dafa-icon">
            <el-form-item label="计划名称" prop="schemeName" >
              <el-input v-model="ruleForm.schemeName" placeholder="请输入计划名称"  :disabled="ruleForm.id > 0"></el-input>
            </el-form-item>
            <el-form-item label="所属彩种" prop="lotteryCode" >
              <el-select v-model="ruleForm.lotteryCode" filterable placeholder="请输入或选择"  :disabled="ruleForm.id > 0" @change="lotterySelect()">
                <el-option
                  v-for="item in lotteryOptions"
                  :key="item.lotteryCode"
                  :label="item.lotteryName"
                  :value="item.lotteryCode">
                </el-option>
              </el-select>
            </el-form-item>
            <div class="border-line more-padding"></div>
            <el-form-item label="已选玩法" prop="textformString">
              <div class="position-relabox">
                <el-button type="text" size="mini" class="position-righttop" @click="openPlayEditForm()" v-if="ruleForm.textformString"><span class="color-bluebutton resetBtn" >编辑玩法计划</span></el-button>
                <el-button type="text" size="mini" class="position-righttop" @click="openPlayNewForm()" v-else><span class="color-bluebutton resetBtn " >+ 新增玩法计划</span></el-button>
                <el-input v-model="ruleForm.textformString"   :rows="1"  placeholder="请新增计划名称" disabled></el-input>
              </div>
            </el-form-item>
            <el-form-item label="计划期数" prop="number" >
              <el-input-number v-model="ruleForm.number" :min="0" :controls= "false"></el-input-number>
              <div class="text-style">(最大期数：100000条)</div>
            </el-form-item>
            <el-form-item label="中奖即停" prop="isPrizeLotteryStop" >
              <el-radio-group  v-model="ruleForm.isPrizeLotteryStop" size="mini">
                <el-radio-button label="1">开启</el-radio-button>
                <el-radio-button label="0">关闭</el-radio-button>
              </el-radio-group>
              <div class="text-style">(中奖即停,中奖了后续就不再推送,需要手动重新生成计划推送)</div>
            </el-form-item>
            <div class="border-line"></div>
            <el-form-item label="展示内容" prop="displayContent">
              <el-checkbox-group v-model="checkedList" :min="1">
                <el-checkbox label="开奖结果">开奖结果</el-checkbox>
                <el-checkbox label="计划投注内容">计划投注内容</el-checkbox>
                <el-checkbox label="命中率">命中率</el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
    <!--新增玩法计划-->
    <el-dialog :title="playTitle ? '玩法计划编辑':'新增玩法计划'" :visible.sync="openPlay" custom-class="small-reveal-modal addplay-modal" @close="closeClearPlay">
      <div class="addplay-outsilebox">
          <div class="isRandom-box">
            <el-radio v-model="playDetailJson.isRandom" label="0" class="play-radio"  @change="selectChange">玩法自定义</el-radio>
            <div class="text-style plush-text">
              {{tip}}
            </div>
          </div>
          <div class="addplay-content" >
            <!--pk10的分組選項-->
            <!--playType {{playType}} - {{playDetailJson.lotteryType}} - 是不是任意位定位胆{{playLotteryType}}-->
            <el-select v-model="playDetailJson.lotteryType"  filterable placeholder="请输入或选择" :disabled="playDetailJson.isRandom === '1'" @change="selectChange" popper-class="select1407"  v-if="groupType">
              <el-option-group
                v-for="group in playOption"
                :key="group.label"
                :label="group.label">
                <el-option
                  v-for="(item, index) in group.option"
                  :key="index"
                  :label="`${item.playName}`"
                  :value="item.playCode">
                </el-option>
              </el-option-group>
            </el-select>
            <!--快三的分組選項-->
            <el-select v-model="playDetailJson.lotteryType"  filterable placeholder="请输入或选择" :disabled="playDetailJson.isRandom === '1'" @change="selectChange"   v-else>
              <el-option
              v-for="(item, index) in playOption"
              :key="index"
              :label="item.playName"
              :value="item.playCode">
              </el-option>
            </el-select>
            <div class="addplay-template">
            <template v-if="playType !== 5">
              <el-radio v-model="playDetailJson.lotteryDetails" :label="playType === 1 ? '大' : '单'" :disabled="playDetailJson.isRandom === '1'">{{playType === 1 ? '大' : '单'}}</el-radio>
              <el-radio v-model="playDetailJson.lotteryDetails" :label="playType === 1 ? '小' : '双'" :disabled="playDetailJson.isRandom === '1'">{{playType === 1 ? '小' : '双'}}</el-radio>
            </template>
            <template v-else-if="playType === 5 && playLotteryType">
              <el-checkbox-group
                :key="index"
                v-for="(i, index) in playDetailJson.lotteryDetailArr"
                v-model="i.lotteryDetails"
                @change="lotteryDetailArrChange(100, i)" >
                <div class="checkout-box">
                  <div class="checkbox-number">【 {{type[index]}} 】</div>
                  <div class="checkbox-title">
                    <el-checkbox v-for="(l, index) in playNumberList" :label="l" :key="index" :disabled="playDetailJson.isRandom === '1'">{{l}}</el-checkbox>
                  </div>
                </div>
              </el-checkbox-group>
            </template>
            <template v-else>
              <el-checkbox-group
                v-model="playDetailJson.lotteryDetails"
                :min="1"
                @change="lotteryDetailArrChange(10)" >
                <el-checkbox v-for="l in playNumberList" :label="l" :key="l" :disabled="playDetailJson.isRandom === '1'">{{l}}</el-checkbox>
              </el-checkbox-group>
            </template>
            </div>
          </div>
      </div>
      <div class="addplay-outsilebox">
          <div class="isRandom-box">
            <el-radio v-model="playDetailJson.isRandom" label="1" class="play-radio">单期随机</el-radio>
            <div class="text-style plush-text">(选择限制个数)</div>
          </div>
        <!--pk10的分組選項-->
        <!--{{singleRandom}}-->
        <div class="select-box"  v-if="groupType">
          <el-select v-model="playDetailJson.singleLotteryType" filterable placeholder="请输入或选择" lable="胆码长度" :disabled="playDetailJson.isRandom === '0'" popper-class="select1407">
            <el-option-group
              v-for="group in singleRandom"
              :key="group.label"
              :label="group.label">
              <el-option
                v-for="(item, index) in group.option"
                :key="index"
                :label="item.playName"
                :value="item.playCode">
              </el-option>
            </el-option-group>
          </el-select>
          <el-select v-model="playDetailJson.length" filterable placeholder="请输入或选择" lable="胆码长度" :disabled="playDetailJson.isRandom === '0'" v-show="lengthListShow" class="margin-t10">
            <el-option
              v-for="(item, index) in lengthList"
              :key="index"
              :label="item.playName"
              :value="item.playCode">
            </el-option>
          </el-select>
        </div>
        <!--快三的分組選項-->
        <el-select v-model="playDetailJson.singleLotteryType" filterable placeholder="请输入或选择" lable="胆码长度" :disabled="playDetailJson.isRandom === '0'" popper-class="select1407"  v-else>
            <el-option
              v-for="(item, index) in singleRandom"
              :key="index"
              :label="item.playName"
              :value="item.playCode">
            </el-option>
        </el-select>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" @click="closeClearPlay">取消</el-button>
        <el-button size="mini" type="primary" @click="submitFormPlay('playDetailJson')" > 确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
import ApiReport from '@/api/report'
const defPlayDetailJson = {
  lotteryType: '1', // 快3 ：1 大小 2 单双 3 定位胆， PK10: 1-10:双面大小第一名到第十名 11到20:双面单双第一名到第十名 21到30:定位胆第一到第十名
  lotteryDetails: '',
  isRandom: '0',
  playDetailCode: 'A10', // 玩法编号 G11
  bettingCount: '1',
  singleLotteryType: '1',
  lotteryDetailArr: [],
  length: '1'
}
export default {
  data () {
    let numberx = (rule, value, callback) => {
      if (parseInt(value) > 100000) {
        callback(new Error('最大期数不能超过100000条'))
        return
      }
      if (!Number.isInteger(value)) {
        callback(new Error('请输入整数数字'))
      } else {
        callback()
      }
    }
    return {
      playNameObj: {},
      singleRandom: [],
      playOption: [],
      playDetailJson: {...defPlayDetailJson},
      option: ['1312', '1313', '1019', '1419', '1418', '1018', '1000', '1309', '1008', '1305', '1301', '1300', '1306', '1304', '1411', '1410', '1405', '1408', '1403', '1402', '1401', '1412', '1407'],
      lotteryOptions: [],
      lengthList: [
        {
          playCode: '1',
          playName: '胆码长度 (1)'
        },
        {
          playCode: '2',
          playName: '胆码长度 (2)'
        },
        {
          playCode: '3',
          playName: '胆码长度 (3)'
        },
        {
          playCode: '4',
          playName: '胆码长度 (4)'
        }
      ],
      playNumberList: [],
      openPlay: false,
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rules: {
        schemeName: [
          {required: true, message: '请输入计划名称', trigger: 'change'}
        ],
        lotteryCode: [
          {required: true, message: '请选择彩种', trigger: 'change'}
        ],
        initHitRate: [
          {required: true, message: '请输入初始命中率', trigger: 'change'}
        ],
        number: [
          {required: true, message: '请选择计划期数', trigger: 'change'},
          {validator: numberx, trigger: 'change'}
        ],
        textformString: [
          {required: true, message: '请新增玩法', trigger: 'blur'}
        ],
        intervalTime: [
          {required: true, message: '请输入推送秒数', trigger: 'change'}
        ]
      },
      ruleForm: {
        lotteryDetails: '',
        schemeName: '',
        lotteryCode: null,
        initHitRate: 0,
        number: 1,
        isPrizeLotteryStop: 0,
        textformString: '',
        playDetailJson: '',
        playList: {},
        playDetailCode: ''
        // playDetailJson: [{'lotteryType': '', 'lotteryDetails': '', 'isRandom': '', 'length': ''}]
      },
      options: [],
      checkAll: false,
      checkedList: ['开奖结果', '计划投注内容', '命中率'],
      isIndeterminate: true,
      playTitle: false
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    form: Boolean
  },
  computed: {
    groupType () { // 判断是那种类型的PK10小组类型 或者快三类型的
      let code = this.ruleForm.lotteryCode
      return code === '1304' || code === '1312' || code === '1313' || code === '1008' || code === '1018' || code === '1019' || code === '1309' || code === '1000' || code === '1306'
    },
    tip () {
      let v = this.playDetailJson.lotteryType
      let code = this.typeNumber(this.ruleForm.lotteryCode)
      if (code === '14') {
        switch (v) {
          case '1':
            return '大小二选一'
          case '2':
            return '单双二选一'
          case '3':
            return '(请选择1-4项)'
        }
      } else {
        let val = parseInt(v)
        if (val > 20) {
          return '(请选择1-4项)'
        } else if (val > 10) {
          return '单双二选一'
        } else {
          return '大小二选一'
        }
      }
    },
    playType () { // 1: 大 2小 3单 4双 5定位胆
      let code = this.typeNumber(this.ruleForm.lotteryCode)
      let lotteryType = parseInt(this.playDetailJson.lotteryType)
      switch (code) {
        case '14': // 大发快三
          switch (lotteryType) {
            case 1:
              return 1
            case 2:
              return 3
            default:
              return 5
          }
        case '13': // 五分六合彩
          switch (lotteryType) {
            case 1:
              return 1
            case 2:
              return 3
            default:
              return 5
          }
        case '10': // PK10
          if (lotteryType >= 1 && lotteryType <= 10) {
            return 1
          } else if (lotteryType >= 11 && lotteryType <= 20) {
            return 3
          } else {
            return 5
          }
        case '1309': // 幸运飞艇
          if (lotteryType >= 1 && lotteryType <= 10) {
            return 1
          } else if (lotteryType >= 11 && lotteryType <= 20) {
            return 3
          } else {
            return 5
          }
        case '1008': // 大发时时彩
          if (lotteryType >= 1 && lotteryType <= 5) {
            return 1
          } else if (lotteryType >= 6 && lotteryType <= 10) {
            return 3
          } else {
            return 5
          }
        case '1018': // 站長一分时时彩
          if (lotteryType >= 1 && lotteryType <= 5) {
            return 1
          } else if (lotteryType >= 6 && lotteryType <= 10) {
            return 3
          } else {
            return 5
          }
        case '1019': // 站長五分时时彩
          if (lotteryType >= 1 && lotteryType <= 5) {
            return 1
          } else if (lotteryType >= 6 && lotteryType <= 10) {
            return 3
          } else {
            return 5
          }
        case '1000': // 欢乐生肖
          if (lotteryType >= 1 && lotteryType <= 5) {
            return 1
          } else if (lotteryType >= 6 && lotteryType <= 10) {
            return 3
          } else {
            return 5
          }
      }
    },
    playLotteryType () { // 是不是任意位定位胆
      let lotteryType = parseInt(this.playDetailJson.lotteryType)
      switch (this.ruleForm.lotteryCode) {
        case '1304':
          return lotteryType > 30 ? lotteryType > 30 : false
        case '1306':
          return lotteryType > 30 ? lotteryType > 30 : false
        case '1313':
          return lotteryType > 30 ? lotteryType > 30 : false
        case '1312':
          return lotteryType > 30 ? lotteryType > 30 : false
        case '1309':
          return lotteryType > 30 ? lotteryType > 30 : false
        case '1008':
          return lotteryType > 15 ? lotteryType > 15 : false
        case '1018':
          return lotteryType > 15 ? lotteryType > 15 : false
        case '1019':
          return lotteryType > 15 ? lotteryType > 15 : false
        case '1000':
          return lotteryType > 15 ? lotteryType > 15 : false
        default:
          return false
      }
    },
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    },
    type () {
      switch (this.ruleForm.lotteryCode) {
        case '1304': // PK10
          return ['冠军', '亚军', '季军', '第四', '第五', '第六', '第七', '第八', '第九', '第十']
        case '1306': // PK10
          return ['冠军', '亚军', '季军', '第四', '第五', '第六', '第七', '第八', '第九', '第十']
        case '1312': // 1分站長採種PK10
          return ['冠军', '亚军', '季军', '第四', '第五', '第六', '第七', '第八', '第九', '第十']
        case '1313': // 5分站長採種PK10
          return ['冠军', '亚军', '季军', '第四', '第五', '第六', '第七', '第八', '第九', '第十']
        case '1309': // 幸运飞艇
          return ['冠军', '亚军', '季军', '第四', '第五', '第六', '第七', '第八', '第九', '第十']
        case '1008':
          return ['万位', '千位', '百位', '十位', '个位']
        case '1018':
          return ['万位', '千位', '百位', '十位', '个位']
        case '1019':
          return ['万位', '千位', '百位', '十位', '个位']
        case '1000':
          return ['万位', '千位', '百位', '十位', '个位']
      }
    },
    lengthListShow () {
      let singleLotteryType = parseInt(this.playDetailJson.singleLotteryType)
      switch (this.ruleForm.lotteryCode) {
        case '1304': // PK10
          return singleLotteryType > 20 && (singleLotteryType !== 31 && singleLotteryType !== 32)
        case '1306': // PK10
          return singleLotteryType > 20 && (singleLotteryType !== 31 && singleLotteryType !== 32)
        case '1312': // PK10
          return singleLotteryType > 20 && (singleLotteryType !== 31 && singleLotteryType !== 32)
        case '1313': // PK10
          return singleLotteryType > 20 && (singleLotteryType !== 31 && singleLotteryType !== 32)
        case '1309': // PK10
          return singleLotteryType > 20 && (singleLotteryType !== 31 && singleLotteryType !== 32)
        case '1008':
          return singleLotteryType > 10 && (singleLotteryType !== 16 && singleLotteryType !== 17)
        case '1018':
          return singleLotteryType > 10 && (singleLotteryType !== 16 && singleLotteryType !== 17)
        case '1019':
          return singleLotteryType > 10 && (singleLotteryType !== 16 && singleLotteryType !== 17)
        case '1000':
          return singleLotteryType > 10 && (singleLotteryType !== 16 && singleLotteryType !== 17)
      }
    }
  },
  methods: {
    typeNumber (number) {
      if (number === null || number === undefined) return
      if (number.indexOf('14') !== -1) {
        return '14' // 快三
      } else if (number === '1300' || number === '1305' || number === '1301' || number === '1418' || number === '1419') {
        return '13' // PK10
      } else if (number === '1304' || number === '1306' || number === '1312' || number === '1313') {
        return '10'
      } else {
        return number
      }
    },
    lotterySelect () {
      this.ruleForm.textformString = ''
    },
    lotteryDetailArrChange (number, currLine) {
      let total = 0
      let m = 0
      switch (this.playDetailJson.lotteryCode) {
        case '1304':
          m = 10
          break
        case '1306':
          m = 10
          break
        case '1312':
          m = 10
          break
        case '1313':
          m = 10
          break
        case '1309':
          m = 10
          break
        case '1008':
          m = 5
          break
        case '1018':
          m = 5
          break
        case '1019':
          m = 5
          break
        case '1000':
          m = 5
          break
      }
      if (number === 100) {
        for (let i = 0; i < m; i++) {
          total = total + this.playDetailJson.lotteryDetailArr[i].lotteryDetails.length
          if (total > 4) {
            currLine.lotteryDetails.pop()
            this.msgError('最多选择四项')
            break
          }
        }
      } else {
        if (this.playDetailJson.lotteryDetails.length > 4) {
          this.playDetailJson.lotteryDetails.pop()
          this.msgError('最多选择四项')
        }
      }
    },
    lotteryNum () {
      this.lotteryOptions = []
      let looteryArry = []
      ApiReport.getSiteLottery().then((res) => {
        if (res.code !== 1) return
        let arry = res.data
        let option = this.option
        for (let i = 0; i < arry.length; i++) {
          for (let j = 0; j < option.length; j++) {
            if (arry[i].lotteryCode === this.option[j]) {
              let obj = {
                lotteryCode: option[j],
                lotteryName: arry[i].lotteryName
              }
              looteryArry.push(obj)
            }
          }
        }
        this.lotteryOptions = looteryArry
      })
    },
    lotteryCodeChange () {
      let playNumberList = []
      let code = this.typeNumber(this.ruleForm.lotteryCode)
      switch (code) {
        case '14': // 所有快三
          // 和值數字
          for (let i = 3; i < 19; i++) {
            playNumberList.push(i.toString())
          }
          break
        case '10': // PK10
          // 和值數字
          for (let i = 1; i < 11; i++) {
            if (i < 10) {
              playNumberList.push('0' + i)
            } else {
              playNumberList.push(i.toString())
            }
          }
          break
        case '1309':
          // 和值數字
          for (let i = 1; i < 11; i++) {
            if (i < 10) {
              playNumberList.push('0' + i)
            } else {
              playNumberList.push(i.toString())
            }
          }
          break
        case '13': // 大发六合彩 五分六合彩
          // 和值數字
          for (let i = 1; i < 50; i++) {
            if (i < 10) {
              playNumberList.push('0' + i)
            } else {
              playNumberList.push(i.toString())
            }
          }
          break
        case '1008': // 大发时时彩
          // 和值數字
          for (let i = 0; i < 10; i++) {
            playNumberList.push(i.toString())
          }
          break
        case '1018': // 站長一分时时彩
          // 和值數字
          for (let i = 0; i < 10; i++) {
            playNumberList.push(i.toString())
          }
          break
        case '1019': // 站長三分时时彩
          // 和值數字
          for (let i = 0; i < 10; i++) {
            playNumberList.push(i.toString())
          }
          break
        case '1000':
          // 和值數字
          for (let i = 0; i < 10; i++) {
            playNumberList.push(i.toString())
          }
          break
      }
      this.playNumberList = playNumberList
    },
    /**
     * 切换类型取默认值
     * */
    selectChange () {
      if (this.playType === 5) {
        let lotteryType = parseInt(this.playDetailJson.lotteryType)
        let i = 0
        switch (this.ruleForm.lotteryCode) {
          case '1304': // PK10
            i = 30
            break
          case '1306': // PK10
            i = 30
            break
          case '1313': // PK10
            i = 30
            break
          case '1312': // PK10
            i = 30
            break
          case '1309': // PK10
            i = 30
            break
          case '1008': // 大发时时彩
            i = 15
            break
          case '1018': // 站長一分时时彩
            i = 15
            break
          case '1019': // 站長三分时时彩
            i = 15
            break
          case '1000': // 大发时时彩
            i = 15
            break
          default:
            i = 3
            break
        }
        if (lotteryType <= i) {
          this.playDetailJson.lotteryDetails = this.changeType()
        } else {
          this.setRandomArr() // 任意定位膽生成
        }
      } else if (this.playType === 1) {
        this.playDetailJson.lotteryDetails = '大'
      } else {
        this.playDetailJson.lotteryDetails = '单'
      }
      this.lotteryCodeChange()
    },
    lotteryType (type) {
      for (let i = 0; i < this.playOption.length; i++) {
        if (parseInt(type) === parseInt(this.playOption[i].playCode)) {
          this.playDetailJson.lotteryType = this.playOption[i].playName
        }
        break
      }
    },
    playOptionsK3 () {
      this.playOption = [
        {
          playCode: '1',
          playName: '和值大小'
        },
        {
          playCode: '2',
          playName: '和值单双'
        },
        {
          playCode: '3',
          playName: '和值'
        }
      ]
      this.playNameObj = {
        1: '和值大小',
        2: '和值单双',
        3: '和值'
      }
      this.singleRandom = [
        {
          playCode: '5',
          playName: '和值大小'
        },
        {
          playCode: '6',
          playName: '和值单双'
        },
        {
          playCode: '1',
          playName: '和值 - 胆码长度 (1)'
        },
        {
          playCode: '2',
          playName: '和值 - 胆码长度 (2)'
        },
        {
          playCode: '3',
          playName: '和值 - 胆码长度 (3)'
        },
        {
          playCode: '4',
          playName: '和值 - 胆码长度 (4)'
        }
      ]
    },
    /***
     * 玩法编辑 =》下拉选项
     * */
    setPlayOption (lotteryCode) {
      this.playOption = []
      let v = this.typeNumber(lotteryCode)
      switch (v) {
        case '14':
          this.playOptionsK3()
          break
        case '13': // 大发六合彩 五分六合彩
          this.playOption = [
            {
              playCode: '1',
              playName: '特码两面大小'
            },
            {
              playCode: '2',
              playName: '特码两面单双'
            },
            {
              playCode: '3',
              playName: '特码直选'
            }
          ]
          this.playNameObj = {
            1: '特码两面大小',
            2: '特码两面单双',
            3: '特码直选'
          }
          this.singleRandom = [
            {
              playCode: '5',
              playName: '特码两面大小'
            },
            {
              playCode: '6',
              playName: '特码两面单双'
            },
            {
              playCode: '1',
              playName: '特码直选-胆码长度 (1)'
            },
            {
              playCode: '2',
              playName: '特码直选-胆码长度 (2)'
            },
            {
              playCode: '3',
              playName: '特码直选-胆码长度 (3)'
            },
            {
              playCode: '4',
              playName: '特码直选-胆码长度 (4)'
            }
          ]
          break
        case '1008':
          this.getOptions(6) // 5的倍数 for循环 i 从 1 开始
          break
        case '1018':
          this.getOptions(6) // 5的倍数 for循环 i 从 1 开始
          break
        case '1019':
          this.getOptions(6) // 5的倍数 for循环 i 从 1 开始
          break
        case '1000':
          this.getOptions(6) // 5的倍数 for循环 i 从 1 开始
          break
        case '10':
          this.getOptions(11)
          break
        case '1309':
          this.getOptions(11)
          break
      }
    },
    getOptions (l) {
      let type = l === 6 ? ['', '万位', '千位', '百位', '十位', '个位'] : ['', '冠军', '亚军', '季军', '第四', '第五', '第六', '第七', '第八', '第九', '第十']
      let m = l - 1 // 倍数 PK10 10的倍数  时时彩 5的倍数
      for (let i = 1; i < l; i++) {
        let arr = []
        arr.push({
          playCode: `${i}`,
          playName: type[i] + ' - 大小'
        })
        this.playNameObj[i] = type[i] + ' - 大小'
        arr.push({
          playCode: `${i + m}`,
          playName: type[i] + ' - 单双'
        })
        this.playNameObj[i + m] = type[i] + ' - 单双'
        arr.push({
          playCode: `${i + m * 2}`,
          playName: type[i] + ' - 定位胆'
        })
        this.playNameObj[i + m * 2] = type[i] + ' - 定位胆'
        this.playOption.push({
          label: type[i],
          option: arr
        })
      }
      [...this.singleRandom] = this.playOption
      this.playOption.push({
        label: `任意位`,
        option: [
          {
            playCode: `${m * 3 + 3}`, // 18 = 5 * 3 + 3
            playName: '任意位-定位胆'
          }
        ]
      })
      this.playNameObj[`${m * 3 + 3}`] = '任意位-定位胆'
      let randomArr = [
        {
          playCode: `${m * 3 + 1}`,
          playName: `任意位-大小`
        },
        {
          playCode: `${m * 3 + 2}`,
          playName: `任意位-单双`
        },
        {
          playCode: `${m * 3 + 3}`,
          playName: `任意位-定位胆`
        }
      ]
      this.singleRandom.push({
        label: '任意位',
        option: randomArr
      })
    },
    changeType () {
      let code = this.typeNumber(this.ruleForm.lotteryCode)
      let v = parseInt(code)
      switch (v) {
        case 14: // 所有快三
          return ['3']
        case 10: // 所有pk10
          return ['01']
        case 13: // 所有六合彩
          return ['01']
        case 1309:
          return ['01']
        case 1008: // 大发时时彩
          return ['0']
        case 1018: // 站長一分时时彩
          return ['0']
        case 1019: // 站長三分时时彩
          return ['0']
        case 1000:
          return ['0']
      }
    },
    openPlayNewForm () {
      if (!this.ruleForm.lotteryCode) {
        return this.msgError('请选择所属彩种')
      }
      this.playDetailJson = {...defPlayDetailJson}
      this.playDetailJson.lotteryCode = this.ruleForm.lotteryCode
      this.setPlayOption(this.ruleForm.lotteryCode)
      this.selectChange()
      this.openPlay = true
    },
    openPlayEditForm () {
      this.openPlay = true
      this.playTitle = true
      this.lotteryCodeChange() // 選擇和值數
      this.playDetailJson.lotteryCode = this.ruleForm.lotteryCode
      this.playDetailJson.isRandom = this.ruleForm.playList.isRandom
      this.playDetailJson.lotteryDetailArr = []
      let code = this.typeNumber(this.playDetailJson.lotteryCode)
      switch (code) {
        case '14': // 所有快三
          this.k3StyleEdit()
          break
        case '13': // 所有六合彩
          this.k3StyleEdit()
          break
        case '10': // 所有pk10
          this.pk10StyleEdit(10)
          break
        case '1309':
          this.pk10StyleEdit(10)
          break
        case '1008':
          this.pk10StyleEdit(5)
          break
        case '1018':
          this.pk10StyleEdit(5)
          break
        case '1019':
          this.pk10StyleEdit(5)
          break
        case '1000':
          this.pk10StyleEdit(5)
          break
      }
    },
    k3StyleEdit () {
      this.playDetailJson.singleLotteryType = this.ruleForm.playList.lotteryType === '1' ? '5' : (this.ruleForm.playList.lotteryType === '2' ? '6' : `${this.ruleForm.playList.bettingCount}`)
      this.playDetailJson.lotteryType = this.ruleForm.playList.lotteryType
      this.playDetailJson.lotteryDetails = this.playDetailJson.lotteryType === '3' ? this.ruleForm.playList.lotteryDetails.split(',') : this.ruleForm.playList.lotteryDetails
    },
    pk10StyleEdit (m) {
      let arr = this.ruleForm.playList.lotteryType.split(',') // 有逗号结尾的都是任意位-定位胆
      // 大於一判斷是不是任意膽馬
      if (arr.length > 1) {
        this.setRandomArr()
        let lotteryDetials = this.ruleForm.playList.lotteryDetails.split(',')
        this.playDetailJson.lotteryType = `${m * 3 + 3}`
        for (let i = 0; i < arr.length; i++) {
          if (arr[i]) {
            let key = parseInt(arr[i]) - m * 2 - 1
            let arr1 = lotteryDetials[i].split(' ')
            let resultArr1 = []
            for (let i = 0; i < arr1.length; i++) {
              resultArr1.push(arr1[i])
            }
            this.playDetailJson.lotteryDetailArr[key].lotteryDetails = resultArr1
          }
        }
      } else {
        if (this.playDetailJson.isRandom === '0') {
          if (parseInt(this.ruleForm.playList.lotteryType) <= m * 2) {
            this.playDetailJson.lotteryDetails = this.ruleForm.playList.lotteryDetails
          } else {
            this.playDetailJson.lotteryDetails = this.ruleForm.playList.lotteryDetails.split(' ')
            let numberArr = []
            for (let i = 0; i < this.playDetailJson.lotteryDetails.length; i++) {
              numberArr.push(this.playDetailJson.lotteryDetails[i])
            }
            this.playDetailJson.lotteryDetails = numberArr
          }
          this.playDetailJson.lotteryType = this.ruleForm.playList.lotteryType
        } else {
          // this.playDetailJson.lotteryType = '01'
          this.playDetailJson.length = this.ruleForm.playList.bettingCount
          this.playDetailJson.singleLotteryType = this.ruleForm.playList.lotteryType
        }
      }
    },
    setRandomArr () {
      let arr = []
      let j = 1
      switch (this.ruleForm.lotteryCode) {
        case '1304': // PK10
          j = 11
          break
        case '1306': // PK10
          j = 11
          break
        case '1313': // PK10
          j = 11
          break
        case '1312': // PK10
          j = 11
          break
        case '1309': // PK10
          j = 11
          break
        case '1008': // 大发时时彩
          j = 6
          break
        case '1018': // 站長一分时时彩
          j = 6
          break
        case '1019': // 站長三分时时彩
          j = 6
          break
        case '1000': // 大发时时彩
          j = 6
          break
      }
      for (let i = 1; i < j; i++) {
        arr.push({
          lotteryDetails: []
        })
      }
      this.playDetailJson.lotteryDetailArr = arr
    },
    getIndex (playCode, lotteryCode) {
      let code = this.typeNumber(lotteryCode)
      switch (true) {
        case code === '14' || code === '13':
          for (let i = 0; i < this.singleRandom.length; i++) {
            if (playCode === this.singleRandom[i].playCode) {
              return this.singleRandom[i]
            }
          }
          break
        case code === '10' || code === '1008' || code === '1018' || code === '1019' || code === '1309' || code === '1000':
          for (let i = 0; i < this.singleRandom.length; i++) {
            for (let j = 0; j < this.singleRandom[i].option.length; j++) {
              if (playCode === this.singleRandom[i].option[j].playCode) {
                return this.singleRandom[i].option[j]
              }
            }
          }
          break
      }
    },
    closeClearPlay () {
      this.openPlay = false
    },
    playContent (form) {
      this.setPlayOption(form.lotteryCode)
      let valueText = ''
      let code = this.typeNumber(form.lotteryCode)
      let flag = code === '14'
      switch (flag) {
        case true:
          if (form.mark === '') {} else {
            if (parseInt(form.isRandom) === 1) {
              if (form.lotteryType === '3') {
                valueText = '胆码长度 (' + form.bettingCount + ')'
              } else {
                valueText = form.lotteryType === '1' ? '和值大小' : '和值单双'
              }
            } else {
              valueText = `${this.playOption[parseInt(form.lotteryType) - 1].playName} ( ${form.lotteryDetails} )`
            }
          }
          let isRandom = parseInt(form.isRandom) === 1 ? '单期随机' : '玩法自定义'
          this.ruleForm.textformString = isRandom + ' : ' + valueText
          break
        default:
          valueText = form.mark
          this.ruleForm.textformString = valueText
          break
      }
    },
    submitFormPlay () {
      let obj = {}
      let code = this.typeNumber(this.ruleForm.lotteryCode)
      switch (code) {
        case '14':
          obj = this.k3Style(this.ruleForm.lotteryCode, ['A10', 'A10'])
          break
        case '13':
          obj = this.k3Style(this.ruleForm.lotteryCode, ['A02', 'A01'])
          break
        case '10':
          obj = this.pk10Style('1304', ['G11', 'F11'], 10)
          break
        case '1309':
          obj = this.pk10Style('1309', ['G11', 'F11'], 10)
          break
        case '1008':
          obj = this.pk10Style('1008', ['K11', 'A11'], 5)
          break
        case '1018':
          obj = this.pk10Style('1018', ['K11', 'A11'], 5)
          break
        case '1019':
          obj = this.pk10Style('1019', ['K11', 'A11'], 5)
          break
        case '1000':
          obj = this.pk10Style('1000', ['K11', 'A11'], 5)
          break
      }
      this.openPlay = false
      obj.lotteryType = `${obj.lotteryType}`
      obj.bettingCount = `${obj.bettingCount}`
      this.ruleForm.playList = obj

      this.playDetailJson = {...defPlayDetailJson}
    },
    k3Style (lotteryCode, playDetailCode) { // playDetailCode [A10, A10] [两面，定位胆]
      let obj = {}
      if (parseInt(this.playDetailJson.isRandom) === 1) {
        let singleLottery = this.getIndex(this.playDetailJson.singleLotteryType, lotteryCode)
        obj = {
          playDetailCode: playDetailCode[1],
          isRandom: '1',
          lotteryType: '3',
          lotteryDetails: singleLottery.playName,
          bettingCount: singleLottery.playCode
        }
        if (obj.bettingCount === '5') {
          obj.bettingCount = '1'
          obj.lotteryType = '1'
          obj.playDetailCode = playDetailCode[0]
        }
        if (obj.bettingCount === '6') {
          obj.bettingCount = '1'
          obj.lotteryType = '2'
          obj.playDetailCode = playDetailCode[0]
        }
        this.ruleForm.textformString = `单期随机 : ${singleLottery.playName}`
      } else {
        obj = {
          playDetailCode: playDetailCode[0],
          isRandom: '0',
          lotteryType: this.playDetailJson.lotteryType,
          lotteryDetails: this.playDetailJson.lotteryDetails,
          bettingCount: '1'
        }
        if (this.playDetailJson.lotteryType === '3') {
          obj.lotteryDetails = this.playDetailJson.lotteryDetails.join(',')
          obj.bettingCount = this.playDetailJson.lotteryDetails.length
          obj.playDetailCode = playDetailCode[1]
        }
        this.ruleForm.textformString = `玩法自定义: ${this.playNameObj[obj.lotteryType]} ( ${obj.lotteryDetails} )`
      }
      return obj
    },
    pk10Style (lotteryCode, playDetailCode, m) { // 彩种编码，玩法编码，定位胆倍数 pk10 => 10 时时彩 => 5
      let obj = {}
      if (this.playDetailJson.isRandom === '1') {
        this.playDetailJson.lotteryType = '01'
        let length = ''
        let singleLottery = this.getIndex(this.playDetailJson.singleLotteryType, lotteryCode)
        obj = {
          playDetailCode: playDetailCode[0],
          isRandom: '1',
          lotteryType: this.playDetailJson.singleLotteryType,
          lotteryDetails: singleLottery.playName,
          bettingCount: '1'
        }
        let singleLotteryType = parseInt(this.playDetailJson.singleLotteryType)
        if (singleLotteryType > m * 2) {
          if (singleLotteryType !== (3 * m + 1) && singleLotteryType !== (3 * m + 2)) {
            obj.bettingCount = this.playDetailJson.length
            length = `( 胆码长度 (${obj.bettingCount}) ) `
          }
          obj.playDetailCode = singleLotteryType !== (m * 3 + 1) && singleLotteryType !== (m * 3 + 2) ? playDetailCode[1] : playDetailCode[0]
        }
        this.ruleForm.textformString = `单期随机 : ${singleLottery.playName} ${length} `
      } else {
        obj = {
          playDetailCode: playDetailCode[0],
          isRandom: '0',
          lotteryType: this.playDetailJson.lotteryType,
          lotteryDetails: this.playDetailJson.lotteryDetails,
          bettingCount: '1'
        }
        if (parseInt(this.playDetailJson.lotteryType) > m * 2 && parseInt(this.playDetailJson.lotteryType) <= m * 3) {
          obj.bettingCount = this.playDetailJson.lotteryDetails.length
          obj.lotteryType = this.playDetailJson.lotteryType
          obj.lotteryDetails = this.playDetailJson.lotteryDetails.join(' ')
          obj.playDetailCode = playDetailCode[1]
        } else if (parseInt(this.playDetailJson.lotteryType) > m * 3) {
          // 判斷數量
          let total = 0
          for (let i = 0; i < m; i++) {
            total = total + this.playDetailJson.lotteryDetailArr[i].lotteryDetails.length
          }
          if (total === 0) {
            this.msgError('最少选择一项')
            return
          }
          obj.bettingCount = `${total}`
          let str = ''
          let arrLine = ''
          for (let i = 0; i < m; i++) {
            let lotteryDetailArr = this.playDetailJson.lotteryDetailArr[i].lotteryDetails
            if (lotteryDetailArr.length > 0) {
              let arrNUmber = ''
              for (let j = 0; j < lotteryDetailArr.length; j++) {
                arrNUmber = lotteryDetailArr.join(' ')
              }
              str += ',' + arrNUmber
              arrLine += i + m * 2 + 1 + ',' // 用尾数后面的 逗号，判断是不是 任意位定位胆
            }
          }
          let reg = /^,/g
          str = str.replace(reg, '')
          obj.lotteryType = arrLine
          if (lotteryCode === '1304' || lotteryCode === '1306' || lotteryCode === '1309' || lotteryCode === '1313' || lotteryCode === '1312') {
            obj.lotteryDetails = this.addZeroNumber(str)
          } else {
            obj.lotteryDetails = str
          }
          obj.playDetailCode = playDetailCode[1]
        }
        let flag = m * 3 + 3 // 33、18 任意位-定位胆标示
        if (parseInt(this.playDetailJson.lotteryType) === flag) {
          this.ruleForm.textformString = `玩法自定义: ${this.playNameObj[flag]} ( ${obj.lotteryDetails} )`
        } else {
          this.ruleForm.textformString = `玩法自定义: ${this.playNameObj[obj.lotteryType]} ( ${obj.lotteryDetails} )`
        }
      }
      return obj
    },
    addZeroNumber (str) {
      // let str = strs.replace(/,$/)
      let result = ''
      let arr = str.split(',')
      for (let i = 0; i < arr.length; i++) {
        let arrLine = arr[i].split(' ')
        for (let j = 0; j < arrLine.length; j++) {
          arrLine[j] = parseInt(arrLine[j]) < 10 ? `0${parseInt(arrLine[j])}` : arrLine[j]
        }
        let arrNUmber = ''
        for (let k = 0; k < arrLine.length; k++) {
          arrNUmber = arrLine.join(' ')
        }
        result += arrNUmber + ','
      }
      return result.replace(/,$/, '')
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
      this.checkedList = ['开奖结果']
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    filter (list) {
      this.checkedList = []
      let arr = []
      if (list[0] === '1') {
        arr.push('开奖结果')
      }
      if (list[1] === '1') {
        arr.push('计划投注内容')
      }
      if (list[2] === '1') {
        arr.push('命中率')
      }
      this.checkedList = arr
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {
          id: this.ruleForm.id,
          schemeName: this.ruleForm.schemeName,
          lotteryCode: this.ruleForm.lotteryCode,
          number: this.ruleForm.number,
          isPrizeLotteryStop: this.ruleForm.isPrizeLotteryStop
        }
        let list = []
        let obj = {
          isRandom: this.ruleForm.playList.isRandom,
          lotteryDetails: this.ruleForm.playList.lotteryDetails,
          lotteryType: this.ruleForm.playList.lotteryType,
          playDetailCode: this.ruleForm.playList.playDetailCode,
          bettingCount: this.ruleForm.playList.bettingCount,
          mark: this.ruleForm.textformString
        }
        // if (this.ruleForm.playList.lotteryType === 3 && this.ruleForm.lotteryCode === '1407') {
        //   obj.lotteryDetails = this.ruleForm.playList.lotteryDetails.join(',')
        // }
        list.push(obj)
        submitData.playDetailJson = JSON.stringify(list)
        let arr = [0, 0, 0]
        let displayList = ['开奖结果', '计划投注内容', '命中率']
        for (let i = 0; i < 3; i++) {
          for (let j = 0; j < this.checkedList.length; j++) {
            if (displayList[i] === this.checkedList[j]) {
              arr[i] = 1
            }
          }
        }
        let arrString = arr.toString()
        submitData['displayContent'] = arrString
        let _this = this
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          // 如果狀態不是關閉
          this.msgConfirm('新的计划将在下一期执行，是否保存？', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            Api.updatePlayScheme(submitData, function () {
              _this.submitLoading = false
            }).then((res) => {
              this.msgSuccess('保存成功')
              this.showBlogForm = false
              this.$parent.getOrderList()
              this.$nextTick(function () {
                setTimeout(function () {
                  _this.submitLoading = false
                }, 1000)
              })
            })
          }).catch(() => {
            _this.submitLoading = false
          })
        } else {
          Api.addPlayScheme(submitData, function () {
            _this.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            if (this.ruleForm.formopen) {
              this.$parent.getPlayData()
            } else {
              this.$parent.getOrderList()
            }
            this.$nextTick(function () {
              setTimeout(function () {
                _this.submitLoading = false
              }, 1000)
            })
          })
        }
      })
    }
  },
  components: {},
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      this.lotteryNum()
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.title = false
          if (this.data.id) {
            this.title = true
            this.data.playList.isRandom = `${this.data.playList.isRandom}`
            this.data.playList.bettingCount = `${this.data.playList.bettingCount}`
            this.ruleForm = {
              id: this.data.id,
              schemeName: this.data.schemeName,
              lotteryCode: this.data.lotteryCode,
              number: this.data.number,
              isPrizeLotteryStop: this.data.isPrizeLotteryStop,
              displayContent: this.data.displayContent.split(','),
              playList: this.data.playList
            }
            this.playContent(this.ruleForm.playList)
            this.filter(this.ruleForm.displayContent)
          } else {
            this.resetForm('ruleForm')
            if (this.data.formopen) {
              this.$set(this.ruleForm, 'formopen', this.data.formopen)
            }
            this.ruleForm.id = ''
            this.checkedList = ['开奖结果', '计划投注内容', '命中率']
          }
          this.loading = false
        })
      }
    }
  }
}
</script>
<style scoped>
  .el-input-number--small {
    width: 100% !important;
  }
  .more-padding{
    margin: 32px 0 45px !important;
  }
  .addplay-outsilebox{
    display: flex;
    padding: 0 0 30px 0;
  }
  .select-box{
    width: 100%;
  }
  .checkout-box{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    & .el-checkbox{
      margin-bottom: 0 !important;
    }
    & .checkbox-number{
      font-size: 14px ;
    }
    & .checkbox-title{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: calc( 100% - 66px);

    }
  }

</style>
