<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '推送计划编辑':'新增推送计划'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal playPush-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :rules="rules" :model="ruleForm" status-icon :label-position="screenW >= 768 ? 'right':'top'" label-width="100px" class="form "  size="small" ref="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" >
          <el-form-item label="计划名称" prop="playName">
              <el-input  v-model="ruleForm.playName" placeholder="请输入八个中文的推送计划名称"   :disabled="ruleForm.id > 0"></el-input>
          </el-form-item>
          <el-form-item label="初始命中率" prop="initHitRate" >
            <div >
              <el-input-number v-model="ruleForm.initHitRate" :min="0" :max="100" :controls= "false" :disabled="ruleForm.id > 0"></el-input-number><span class="absolute-icon">%</span>
            </div>
            <div class="text-style">（系统根据设置的初始命中率自动生成最近100期的历史推送记录,请输入0-100）</div>
          </el-form-item>
          <el-form-item label="推送目标" prop="target" class="no-margin-item">
            <el-checkbox-group v-model="ruleForm.targetList" :min="1" >
              <el-checkbox label="聊天室"></el-checkbox>
              <el-checkbox label="密聊"></el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <div class="push-box">
            <!--<div class="text-style">聊天室和密聊可任意选择或同时使用</div>-->
            <div  class="bank-pick" v-if="ruleForm.targetList.filter(v => v === '聊天室').length">
              <el-form-item label="推送人账号" label-width="110px" prop="chatPersonUserName">
                <el-input  v-model="ruleForm.chatPersonUserName" placeholder="请输入推送人账号"  :disabled="chatState"></el-input>
              </el-form-item>
              <el-form-item label="房间" label-width="110px" prop="chatRoomCode" class="select-input-style">
                <el-select v-model="ruleForm.chatRoomCode" placeholder="请选择房间" multiple :disabled="!ruleForm.chatPersonUserName" @visible-change="getChatData">
                  <el-option
                    v-for="item in chatOptions"
                    :key="item.roomCode"
                    :label="item.title"
                    :value="item.roomCode">
                  </el-option>
                </el-select>
                <!--<el-input v-else placeholder="推送人尚未设定房间管理员"  class="display-icon-push"  disabled></el-input>-->
              </el-form-item>
            </div>
            <div  class="bank-pick" v-if="ruleForm.targetList.filter(v => v === '密聊').length">
              <el-form-item label="推送人密聊号" label-width="110px" prop="miliaoPersonUserName">
                <el-input  v-model="ruleForm.miliaoPersonUserName" placeholder="请输入推送人密聊号" @change="getＭiliaoData(ruleForm.miliaoPersonUserName)" :disabled="miliaoState"> </el-input>
              </el-form-item>
              <el-form-item label="密群" label-width="110px" prop="miliaoRoomCode" class="select-input-style">
                <el-select v-model="ruleForm.miliaoRoomCode" placeholder="请选择密群" multiple>
                  <el-option
                    v-for="item in miliaoOptions"
                    :key="item.group_no"
                    :label="item.group_name"
                    :value="item.group_no">
                  </el-option>
                </el-select>
              </el-form-item>
            </div>
            <div class="text-style">（一个推送计划只能绑定一个推送人账号和一个密聊账号,绑定后不支持修改）</div>
          </div>
          <el-form-item label="计划方案" prop="playSchemeId">
            <div class="position-relative">
              <el-button type="text" size="mini" class="position-righttop" slot="reference" @click="openNewCreat()" v-show="!ruleForm.id"><span class="color-bluebutton resetBtn " >+新增计划方案</span></el-button>
              <el-input v-if="ruleForm.id > 0 " type="text" v-model="ruleForm.schemeName" disabled></el-input>
              <el-select v-else v-model="ruleForm.playSchemeId" @change="getCode" :placeholder="playOptions.length === 0 ? '尚无方案选择,请新增方案':'请选择'" :disabled="playOptions.length === 0" >
                <el-option
                  v-for="item in playOptions"
                  :key="item.id"
                  :label="item.scheme_name"
                  :value="item.id">
                </el-option>
              </el-select>
            </div>
            <div class="text-style">（一个推送计划只能绑定一个计划方案,绑定后不支持修改）</div>
          </el-form-item>
          <el-form-item label="群发设置" prop="pushSecondLater">
            <div class="sec-li">
              <span>开奖<el-input-number size="mini" :min="10" :max="20" v-model="ruleForm.pushSecondLater" placeholder="请输入推送计划名称" label="" :controls="false" class="sec-input"></el-input-number>秒后开始发送</span>
              <span class="text-style"> (秒数设定范围 10-20秒)</span>
            </div>
          </el-form-item>
          <el-form-item label=" " prop="intervalTime" :class="'setleftcolor'">
            <div class="sec-li">
              <span>发送时间间隔<el-input-number size="mini"  :min="10" :max="ruleForm.lotteryCode | maxSecond" v-model="ruleForm.intervalTime" placeholder="请输入推送计划名称" label="" :controls="false" class="sec-input"></el-input-number>秒</span>
              <span class="text-style"> (秒数设定范围 10-{{ruleForm.lotteryCode | maxSecond}}秒)</span>
            </div>
          </el-form-item>
          <el-form-item label="方案描述" prop="describe">
            <el-input
              type="textarea"
              :rows="3"
              placeholder="请输入方案描述"
              v-model="ruleForm.describe">
            </el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading" v-if="ruleForm.status === 1"> {{submitLoading ? '正在提交' : '重启计划'}}</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading" v-else> {{submitLoading ? '正在提交' : '确定'}} </el-button>
        </div>
      </template>
    </el-dialog>
    <play-create-form
      :data="selectData"
      :visible="PlayCreatShow"
      :open="form"
      v-on:onClose="PlayCreatShow = false"
    ></play-create-form>
  </div>
</template>
<script>
import Api from '@/api/sys'
import PlayCreateForm from '@/views/newModal/PlayCreateForm'
import {validateRules} from '@/utils/validateRules'
export default {
  name: 'playPushAddForm',
  data () {
    let initHitRate = (rule, value, callback) => {
      if (!Number.isInteger(value)) {
        callback(new Error('请输入整数数字'))
      } else {
        callback()
      }
    }
    let pushSecondLater = (rule, value, callback) => {
      if (!Number.isInteger(value)) {
        callback(new Error('请输入整数数字'))
      } else {
        callback()
      }
    }
    let chatPersonUser = (rule, value, callback) => {
      if (this.ruleForm.targetList.filter(v => v === '聊天室').length > 0) {
        if (!value) {
          callback(new Error('请输入推送人账号'))
          return
        }
      }
      callback()
    }
    let miliaoPersonUser = (rule, value, callback) => {
      if (this.ruleForm.targetList.filter(v => v === '密聊').length > 0) {
        if (!value) {
          callback(new Error('请输入推送人账号'))
          return
        }
      }
      callback()
    }
    let validateNickName = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'isChineseChar': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    let validatePlay = (rule, value, callback) => {
      if (!this.ruleForm.id) {
        if (!value) {
          callback(new Error('请选择计划方案'))
          return
        }
      }
      callback()
    }
    let chatRoom = (rule, value, callback) => {
      if (this.ruleForm.chatPersonUserName) {
        if (!value) {
          callback(new Error('请选择聊天室'))
          return
        }
      }
      callback()
    }
    let miliaRoom = (rule, value, callback) => {
      if (this.ruleForm.miliaoPersonUserName) {
        if (!value) {
          callback(new Error('请选择密聊'))
          return
        }
      }
      callback()
    }
    return {
      form: true,
      PlayCreatShow: false,
      title: false,
      submitLoading: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      chatState: true,
      miliaoState: true,
      rules: {
        playName: [
          {required: true, message: '请输入计划名称', trigger: 'change'},
          { min: 1, max: 8, message: '最多支持八个的中文', trigger: 'blur' },
          { validator: validateNickName, trigger: 'blur' }
        ],
        targetList: [
          {required: true, message: '请输入推送目标', trigger: 'change'}
        ],
        initHitRate: [
          {required: true, message: '请输入命中率', trigger: 'change'},
          {validator: initHitRate, trigger: 'change'}
        ],
        playSchemeId: [
          {validator: validatePlay, trigger: 'change'}
        ],
        pushSecondLater: [
          {required: true, message: '请输入开奖后秒数', trigger: 'change'},
          { validator: pushSecondLater, trigger: 'change' }
        ],
        intervalTime: [
          {required: true, message: '请输入推送秒数', trigger: 'change'},
          { validator: pushSecondLater, trigger: 'change' }
        ],
        describe: [
          {required: true, message: '请输入描述', trigger: 'change'}
        ],
        chatRoomCode: [
          {required: true, validator: chatRoom, trigger: 'change'}
        ],
        miliaoRoomCode: [
          {required: true, validator: miliaRoom, trigger: 'change'}
        ],
        chatPersonUserName: [
          {required: true, validator: chatPersonUser, trigger: 'change'}
        ],
        miliaoPersonUserName: [
          {required: true, validator: miliaoPersonUser, trigger: 'change'}
        ]
      },
      chatOptions: [],
      miliaoOptions: [],
      playOptions: [],
      selectData: {},
      ruleForm: {
        id: '',
        initHitRate: '',
        playSchemeId: '', // 计划id
        playName: '', // 计划名称
        targetList: ['聊天室'],
        isChat: 0,
        isMiliao: 0,
        status: '',
        chatRoomCode: [], // 聊天室房间号，逗号分隔
        miliaoRoomCode: [], // 密聊房间号，逗号分隔
        pushSecondLater: '', // 开奖后几秒开始推送
        intervalTime: '', // 每个几秒推送一次
        describe: '', // 描述
        chatPersonUserName: '', // 聊天室推送人
        miliaoPersonUserName: '', // 密聊推送人
        lotteryCode: ''
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  components: {
    PlayCreateForm
  },
  filters: {
    maxSecond (v) {
      switch (v) {
        case '1309':
          return 300
        case '1306':
          return 300
        case '1412':
          return 300
        case '1419': // 站長5分快三
          return 300
        case '1313': // 站長5分ＰＫ10
          return 300
        case '1019': // 站長5分時時彩
          return 300
        case '1305': // 5分六合彩
          return 300
        case '1401': // 江苏快3
          return 1200
        case '1402': // 安徽快3
          return 1200
        case '1403': // 广西快3
          return 1200
        case '1405': // 湖北快3
          return 1200
        case '1410': // 上海快3
          return 1200
        case '1411': // 甘肃快3
          return 1200
        case '1408':
          return 1200 // 河北快3
        case '1000':
          return 1200
        case '1301':
          return 1200
        default:
          return 60
      }
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    getCode () {
      for (let i = 0; i < this.playOptions.length; i++) {
        if (this.playOptions[i].id === parseInt(this.ruleForm.playSchemeId)) {
          this.ruleForm.lotteryCode = this.playOptions[i].lotteryCode
        }
      }
    },
    openNewCreat () {
      this.PlayCreatShow = true
      this.selectData = {}
      this.form = true
      this.$set(this.selectData, 'formopen', true)
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
      this.chatOptions = []
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getChatData (flag) { // 獲取當前聊天室
      this.chatOptions = []
      if (!this.ruleForm.chatPersonUserName || !flag) return
      let submitData = {
        userName: this.ruleForm.chatPersonUserName
      }
      this.loading = true
      let obj = this
      Api.getAllChatRoomInfo(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let resData = res.data
        for (let item in resData) {
          this.chatOptions.push(resData[item])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getPlayData () { // 所有的计划
      let submitData = {}
      this.loading = true
      let obj = this
      Api.playSchemeListInPlay(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let resData = res.data
        this.playOptions = []
        for (let item in resData) {
          this.playOptions.push(resData[item])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getＭiliaoData (value) { // 獲取密聊當前群
      let submitData = {}
      this.loading = true
      let obj = this
      submitData.miliaoPersonUserName = value
      Api.getAllMiliaoRoomInfo(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let resData = res.data
        this.miliaoOptions = []
        for (let item in resData) {
          this.miliaoOptions.push(resData[item])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let obj = this
        let submitData = {
          playName: this.ruleForm.playName,
          miliaoPersonUserName: this.ruleForm.miliaoPersonUserName,
          pushSecondLater: this.ruleForm.pushSecondLater,
          intervalTime: this.ruleForm.intervalTime,
          describe: this.ruleForm.describe.replace(/\r\n/g, '<br/>').replace(/\n/g, '<br/>').replace(/\s/g, '&nbsp;'),
          playSchemeId: this.ruleForm.playSchemeId,
          chatPersonUserName: this.ruleForm.chatPersonUserName,
          initHitRate: this.ruleForm.initHitRate,
          chatRoomCode: this.ruleForm.chatRoomCode.toString(),
          miliaoRoomCode: this.ruleForm.miliaoRoomCode.toString()
        }
        if (this.ruleForm.targetList[0] === '聊天室' || this.ruleForm.targetList[1] === '聊天室') {
          submitData.isChat = 1
        } else {
          submitData.isChat = 0
        }
        if (this.ruleForm.targetList[0] === '密聊' || this.ruleForm.targetList[1] === '密聊') {
          submitData.isMiliao = 1
        } else {
          submitData.isMiliao = 0
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          submitData.id = this.ruleForm.id
          // 如果狀態已是關閉
          if (this.ruleForm.status === 0 && this.ruleForm.status !== '') {
            Api.updatePlay(submitData, function () {
              obj.submitLoading = false
            }).then((res) => {
              this.msgSuccess('保存成功')
              this.showBlogForm = false
              this.$parent.getOrderList()
              this.$nextTick(function () {
                setTimeout(function () {
                  obj.submitLoading = false
                }, 1000)
              })
            })
          } else {
            // 如果狀態不是關閉
            this.msgConfirm('新的计划将在下一期执行，是否保存？', {
              confirmButtonText: '保存',
              cancelButtonText: '取消',
              type: 'warning'
            }).then(() => {
              Api.updatePlay(submitData, function () {
                obj.submitLoading = false
              }).then((res) => {
                this.msgSuccess('保存成功')
                this.showBlogForm = false
                this.$parent.getOrderList()
                this.$nextTick(function () {
                  setTimeout(function () {
                    obj.submitLoading = false
                  }, 1000)
                })
              })
            }).catch(() => {
              obj.submitLoading = false
            })
          }
        } else {
          Api.addPlay(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
        }
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.getPlayData() // 当前站所有的计划
          this.title = false
          let arr = []
          this.chatState = false
          this.miliaoState = false
          this.ruleForm.id = ''
          if (this.data.id) {
            this.title = true
            this.ruleForm.id = this.data.id
            this.ruleForm.playName = this.data.playName
            this.ruleForm.playSchemeId = this.data.playSchemeId
            this.ruleForm.lotteryCode = this.data.lotteryCode
            this.ruleForm.schemeName = this.data.schemeName
            this.ruleForm.targetList = this.data.targetList
            this.ruleForm.isChat = this.data.isChat
            this.ruleForm.isMiliao = this.data.isMiliao
            this.ruleForm.status = this.data.status
            this.ruleForm.pushSecondLater = this.data.pushSecondLater
            this.ruleForm.intervalTime = this.data.intervalTime
            let describe = this.data.describe.replace(/<br\/>/g, '\n')
            this.ruleForm.describe = describe.replace(/&nbsp;/g, ' ')
            this.ruleForm.initHitRate = this.data.initHitRate
            if (this.data.chatPersonUserName) {
              this.ruleForm.chatPersonUserName = this.data.chatPersonUserName
              if (this.data.chatRoomCode !== '') {
                let chatRoomCodeList = this.data.chatRoomCode.split(',')
                this.ruleForm.chatRoomCode = chatRoomCodeList
              }
              this.chatState = true
            } else {
              this.ruleForm.chatPersonUserName = ''
              this.ruleForm.chatRoomCode = []
              this.chatState = false
            }
            if (this.data.miliaoPersonUserName) {
              this.ruleForm.miliaoPersonUserName = this.data.miliaoPersonUserName
              let miliaoRoomCodeList = this.data.miliaoRoomCode.split(',')
              this.ruleForm.miliaoRoomCode = miliaoRoomCodeList
              this.getＭiliaoData(this.data.miliaoPersonUserName)
              this.miliaoState = true
            } else {
              this.ruleForm.miliaoPersonUserName = ''
              this.ruleForm.miliaoRoomCode = []
              this.miliaoOptions = []
              this.miliaoState = false
            }
            if (this.ruleForm.isMiliao) {
              arr.push('密聊')
            }
            if (this.ruleForm.isChat) {
              arr.push('聊天室')
            }
          } else {
            arr = ['聊天室']
            this.resetForm('ruleForm')
            this.ruleForm.id = ''
            this.ruleForm.miliaoPersonUserName = ''
            this.ruleForm.miliaoRoomCode = []
            this.miliaoOptions = []
            this.chatOptions = []
            this.ruleForm.chatPersonUserName = ''
            this.ruleForm.pushSecondLater = 0
            this.ruleForm.intervalTime = 0
            this.ruleForm.isChat = 0
            this.ruleForm.isMiliao = 0
            this.ruleForm.chatRoomCode = []
          }
          this.$set(this.ruleForm, 'targetList', arr)
        })
      }
    }
  }
}
</script>
<style scoped>
  .no-margin-item.no-margin-item{
    margin-bottom: 0 !important;
  }
  .push-box{
    margin-left: 100px;
    margin-bottom: 25px !important;
  }
  .sec-li{
    line-height: 30px ;
  }
  .el-input-number--small {
    text-align: left;
  }
  .absolute-icon{
    position: absolute;
    left: 138px;
    top: 1px;
  }

</style>
<style>
.display-icon-push .el-input__suffix{
  display: none;
}
.setleftcolor{
    & .el-form-item__label{
      height:0px!important;
      &:before{
        color:#fff!important;
      }
    }
  }
@media screen and (max-width:768px){
  .push-box{
    margin-left: 0 !important;
  }
}
</style>
