<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '网站公告编辑':'新增网站公告'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal guide-news-model">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
<!--        <div>-->
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-position="top" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="标题" prop="title">
              <el-input placeholder="请输入标题2-25个字符" size="min" v-model="ruleForm.title"></el-input>
            </el-form-item>
            <el-form-item label="开放终端" prop="sourceIdList">
              <template slot-scope="scope" label-width="80px"  >
                <multiple-select :level="device" class="device-items" v-model="ruleForm.sourceIdList"></multiple-select>
              </template>
            </el-form-item>
            <el-form-item label="开放等级" prop="gradeList">
              <template slot-scope="scope">
                <multiple-select :level="level" class="level-items" v-model="ruleForm.gradeList"></multiple-select>
              </template>
            </el-form-item>
            <el-form-item label="内容描述" prop="content"  :class="{'no-title': title}">
            </el-form-item>
            <medium-editor
              ref="content"
              v-model="ruleForm.content"
              @paste-event="uploadClipboardImage"
              :use-at-user="false"
              :contenteditable="true"
              :able-upload="true"
              :options="mediumOptions"
            ></medium-editor>
            <!--<div class="guide-box">-->
              <!--<div class="top-guide guide-note">点击查看更多功能</div>-->
              <!--<div class="bottom-guide guide-note">点击查看更多功能</div>-->
            <!--<img src="/static/img/123.png" alt="">-->
            <!--</div>-->
          </el-form>
<!--        </div>-->
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
        <transition name="el-fade-in-linear">
          <div class="guide-box" v-show="guidePic">
            <img :src="'/system/activity/guide/news_guide.png' | imgHost" alt="">
            <!--<img src="/static/img/guide-news.png" alt="">-->
            <div @click="guidePicbox" class="guide-close"><i class="el-icon-error" ></i>关闭</div>
          </div>
        </transition>
        <transition name="el-fade-in-linear">
          <div class="bg" v-show="guidePic"></div>
        </transition>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import MultipleSelect from '@/components/MultipleSelect'
import {sourceListData, gradeList} from '@/utils/config'
import Api from '@/api/users'
// import {imgHost} from '@/filters'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      guidePic: false,
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        title: '', // 标题
        sourceIdList: {isChangeValue: false, value: []},
        gradeList: {isChangeValue: false, value: [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]},
        content: ''
      },
      // 编辑器配置
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholder: {
          text: '在这里分享你的正文...',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'bold', 'italic', 'underline', 'strikethrough', 'fontSize', 'fontColor', 'fontBgColor', 'removeFormat', 'html', 'quote', 'anchor', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'superscript', 'subscript', 'orderedlist', 'unorderedlist', 'pre', 'outdent', 'indent', 'table']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      },
      rules: {
        title: [
          { required: true, message: '请输入标题', trigger: 'blur' },
          {min: 2, max: 25, message: '长度在 2 到 25 个字符', trigger: 'blur'}
        ],
        content: [
          { required: true, message: '请输入内容', trigger: 'blur' }
        ]
      },
      device: sourceListData,
      level: gradeList
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    guidePicbox () {
      this.guidePic = false
    },
    closeClear () {
      this.ruleForm.gradeList.value = [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        submitData.sourceIdList = this.ruleForm.sourceIdList.value.join(',')
        submitData.gradeList = this.ruleForm.gradeList.value.join(',')
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.editManageAnnouncementContent(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        }
        Api.setManageAnnouncementContent(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    }
  },
  components: {
    MediumEditor,
    MultipleSelect
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.ruleForm.title = this.data.title
          if (this.data.sourceIdList) {
            this.ruleForm.sourceIdList = this.data.sourceIdList
          }
          if (this.data.gradeList) {
            this.ruleForm.gradeList = this.data.gradeList
          }
          this.title = false
          if (this.data.id) {
            this.title = true
            let submitData = {}
            submitData.id = this.data.id
            let obj = this
            Api.manageAnnouncementContent(submitData, function () {
              obj.loading = false
            }).then((res) => {
              this.ruleForm.content = res.data.content
              this.$nextTick(function () {
                obj.loading = false
              })
            })
          } else {
            this.loading = false
            if (localStorage['guidePicNews']) {
              return
            }
            localStorage['guidePicNews'] = true
            if (this.$store.state.media.screenWidth > 1023) {
              this.guidePic = true
            }
          }
          this.ruleForm.content = this.data.content
        })
      }
    }
  }
}
</script>
