<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="Name + '编辑'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading"
                   element-loading-customClass="loadingClass" label-width="90px" :label-position="screenW > 768 ? 'right':'top'" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="盈率阈值" prop="purposesProfit">
              <el-input-number class="input-number" v-model="ruleForm.purposesProfit" placeholder="请输入2.50~4.50之间的值,须包含两位小数" size="min" :controls="false" :precision="2">
              </el-input-number>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import {formatMoney} from '@/filters/index'
export default {
  data () {
    let numberMinMax = (rule, value, callback) => {
      if (value < 2.50 || value > 4.50) {
        callback(new Error('请输入2.50~4.50之间的值,须包含两位小数'))
        return
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        purposesProfit: ''
      },
      rules: {
        purposesProfit: [
          { required: true, message: '请输入2.50~4.50之间的值,须包含两位小数', trigger: 'change' },
          {required: true, validator: numberMinMax, trigger: 'change'}
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    Name: String
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        submitData.purposesProfit = this.ruleForm.purposesProfit
        submitData.lotteryCode = this.data.lotteryCode
        let obj = this
        Api.updatePurposesProfitFromCms(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  components: {
    formatMoney
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.ruleForm.id = this.data.id
          this.ruleForm.purposesProfit = parseFloat(formatMoney(this.data.purposesProfit))
          this.loading = false
        })
      }
    }
  }
}
</script>
<style scoped>
  .input-number{
    width: 100% !important;
  }
</style>
