<template>
<div>
  <el-dialog
    :visible.sync="showBlogForm"
    :title="title ? 'QQ钱包编辑':'新增QQ钱包'"
    @close="closeClear"
    :close-on-click-modal="false"
    custom-class="small-reveal-modal">
    <div v-if="statusFetch">数据加载中...</div>
    <template v-else>
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm" v-loading="loading"
               element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
        <el-form-item label="别名" prop="payAlias">
          <el-input v-model="ruleForm.payAlias" :disabled="readOnly" placeholder="至少要2个字符" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="通道备注" prop="remark">
          <el-input v-model="ruleForm.remark" :disabled="readOnly" placeholder="备注显示于通道名称后面，最多可输入8个汉字或16个字符，不需要显示可不填" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="类型" prop="payType">
          <div class="text-style">选择或输入搜索</div>
          <el-select v-model="ruleForm.payType" filterable placeholder="请选择" @change="handlePayTypeChange">
            <el-option
              v-for="item in options"
              :key="item.payName"
              :label="item.payName"
              :value="item.payName">
            </el-option>
          </el-select>
        </el-form-item>
        <template v-if="ruleForm.payType==='一般'">
          <el-form-item label="支付方式" prop="bankCheck" class="bankcheck-style">
            <el-checkbox-group v-model="ruleForm.paymentWay" :min="1" @change="handlePaymentWayChange">
              <el-checkbox label="1" >账号</el-checkbox>
              <el-checkbox label="2">二维码</el-checkbox>
            </el-checkbox-group>
            <div class="text-style">账号和二维码可任意选择或同时使用，不使用放空即可，前台会自动隐藏</div>
            <div class="bank-pick" v-if="ruleForm.paymentWay.filter(v => v === '1').length">
              <el-form :rules="rules" :model="ruleForm" ref="form" label-width="100px" label-position="left">
                <el-form-item label="QQ钱包昵称" prop="name">
                  <el-input  v-model="ruleForm.name" auto-complete="off" placeholder="请输入QQ钱包昵称" @change="handleBankCheckChange"></el-input>
                </el-form-item>
                <el-form-item label="QQ钱包账号" prop="account">
                  <el-input v-model="ruleForm.account" auto-complete="off" placeholder="请输入QQ钱包账号" @change="handleBankCheckChange"></el-input>
                </el-form-item>
              </el-form>
            </div>
            <div class="bank-pick qrcode-box" v-if="ruleForm.paymentWay.filter(v => v === '2').length">
              <el-form-item label="二维码" prop="qrcode">
                <div class="img-upload">
                  <el-upload
                    class="avatar-uploader imgshow"
                    action="/v1/transaction/uploadImages"
                    name="file"
                    ref="upload"
                    :data="uploadParam"
                    accept="image/jpeg,image/png,image/gif"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :auto-upload="false"
                    :on-error="handleOnError"
                    :on-change="beforeAvatarUpload">
                    <img v-if="imageUrl" :src="imageUrl" >
                    <div class="img-off" v-else>
                      <i  class="el-icon-plus avatar-uploader-icon"></i>
                      <div class="upload-info">点击上传图片</div>
                    </div>
                  </el-upload>
                  <i v-if="imageUrl" class="el-icon-error" @click="deleteImage"></i>
                </div>
                <!--<el-input class="width150" v-model="ruleForm.qrcode" placeholder="" auto-complete="off"></el-input>-->
              </el-form-item>
            </div>
          </el-form-item>
          <el-form-item  :class="'is-required'" label="需要提交查账的信息（附言）">
              <div class="bank-radio-style">
                <el-input placeholder="自定义标题，2-5个字" :minlength="2" :maxlength="5" v-model="ruleForm.auditForm.title" class="radio-title"></el-input>
                <span class="radio-lable">输入框提示</span>
                <el-input v-model="ruleForm.auditForm.notice" :minlength="2" :maxlength="10" placeholder="自定义输入框提示，2-10个字" class="radio-cotent"></el-input>
              </div>
            </el-form-item>
          <!-- 一般结束 -->
        </template>
        <template v-else>
          <el-form-item v-if="ruleForm.payType!=='一般' && mobileTypeList.length > 1" label="接口模式" prop="mobileType">
            <el-radio-group v-model="ruleForm.mobileType" size="mini">
              <el-radio-button v-for="item in mobileTypeList"
                               :key="item"
                               :label="item"
                               :value="item">{{item}}</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="商户号" prop="merchantNumber">
            <el-input  v-model="ruleForm.merchantNumber" auto-complete="off" placeholder="请输入商户号"></el-input>
          </el-form-item>
          <el-form-item label="终端号" prop="terminalNumber">
            <el-input v-model="ruleForm.terminalNumber" placeholder="没有终端号就填商户号"
                      auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="密钥" prop="secretKey">
            <el-input  v-model="ruleForm.secretKey" auto-complete="off" placeholder="请输入密钥"></el-input>
          </el-form-item>
          <el-form-item label="接收密钥" prop="receiveKey">
            <el-input  v-model="ruleForm.receiveKey" placeholder="没有接收密钥就填密钥"
                      auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="购物网址" prop="payUrl">
            <el-input  v-model="ruleForm.payUrl" placeholder="需以http://开头"
                      auto-complete="off"></el-input>
          </el-form-item>
        </template>
        <!-- <template v-if="ruleForm.payType==='一般'">
          <el-form-item label="最低金额" prop="minAmount">
            <el-input-number v-model="ruleForm.minAmount" :min="0" :max="999999999" :precision="0" size="mini"></el-input-number>
          </el-form-item>
          <el-form-item label="最高金额" prop="maxAmount">
            <el-input-number v-model="ruleForm.maxAmount" :min="0" :max="999999999" :precision="0" size="mini"></el-input-number>
          </el-form-item>
        </template>
        <template v-else> -->
          <template v-if="ruleForm.fixedAmountPlatform">
            <el-form-item label="使用固定值金额" >
              <div class="fixamount-box show-fixamount">
                <el-input v-for="items in ruleForm.fixedPlatformAmountList" :key="items.key" v-model="items.value" size="min" readonly="readonly" disabled></el-input>
              </div>
            </el-form-item>
          </template>
          <template v-else>
            <el-form-item label="充值金额（2选1）" class="fixed-item"></el-form-item>
            <el-row>
              <el-col :xs="24" :sm="5">
                <el-form-item prop="fixedAmount">
                  <el-radio v-model="ruleForm.fixedAmount" label="false">使用输入金额</el-radio>
                </el-form-item>
              </el-col>
              <el-col :xs="24" :sm="19" class="min-max-box">
                <el-form-item prop="minAmount" class="numberFixAmount" :rules="[{ validator: (rule, value, callback) => {
                            if (value) {
                               if(/^[0-9]*$/.test(value)) {
                                   callback()
                                   return
                               }
                               if(Number(value)<0) {
                                   callback('不能小于0')
                                   return
                               }
                               if(value.indexOf('.')>-1) {
                                   callback('不支持小数点')
                                   return
                               }
                               callback('请输入有效数字')
                               return
                            }
                            callback()
                          }, trigger: 'blur' }]">
                  <el-input :disabled="ruleForm.fixedAmount === 'true'" v-model="ruleForm.minAmount" placeholder="单笔最低"  size="mini"></el-input>
                </el-form-item>
                <span class="fix-center"> ~~ </span>
                <el-form-item prop="maxAmount" class="numberFixAmount" :rules="[{ validator: (rule, value, callback) => {
                            if (value) {
                               if(/^[0-9]*$/.test(value)) {
                                   callback()
                                   return
                               }
                               if(Number(value)<0) {
                                   callback('不能小于0')
                                   return
                               }
                               if(value.indexOf('.')>-1) {
                                   callback('不支持小数点')
                                   return
                               }
                               callback('请输入有效数字')
                               return
                            }
                            callback()
                          }, trigger: 'blur' }]">
                  <el-input :disabled="ruleForm.fixedAmount === 'true'" v-model="ruleForm.maxAmount" placeholder="单笔最高"  size="mini"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <div class="fixamount-box sys-fixbox margin-100">
              <el-form-item
                v-for="(items, index) in ruleForm.quickAmountList"

                :key="items.key"
                :prop="'quickAmountList.' + index + '.value'"
                :rules="[{ validator: (rule, value, callback) => {
                            if (value) {
                               rulesQuick (value, index, callback)
                               if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                                   callback()
                                   return
                               }
                               if(Number(value)<=0) {
                                   callback('必需大于0')
                                   return
                               }
                               callback('请输入有效数字')
                               return
                            }
                            callback()
                          }, trigger: 'blur' }]">
                <el-input v-model="items.value" placeholder="设置快捷金额"  :disabled="ruleForm.fixedAmount === 'true'" size="min" > </el-input>
              </el-form-item>
            </div>
            <div class="border-line fixed-box-line"></div>
            <el-row>
              <el-col :xs="24" :sm="5">
                <el-form-item prop="fixedAmount" >
                  <el-radio v-model="ruleForm.fixedAmount" label="true">使用固定金额</el-radio>
                </el-form-item>
              </el-col>
              <el-col :xs="24" :sm="19">
                <div class="fixamount-box sys-fixbox">
                  <el-form-item
                    v-for="(items, index) in ruleForm.fixedAmountList"
                    :key="items.key"
                    :prop="'fixedAmountList.' + index + '.value'"
                    :rules="[{ validator: (rule, value, callback) => {
                            if (value) {
                               rulesFixed (value, index, callback)
                               if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                                   callback()
                                   return
                               }
                               if(Number(value)<=0) {
                                   callback('必需大于0')
                                   return
                               }
                               callback('请输入有效数字')
                               return
                            }
                            callback()
                          }, trigger: 'blur' }]">
                    <el-input v-model="items.value" placeholder="设置固定金额" size="min"  :disabled="ruleForm.fixedAmount === 'false'"></el-input>
                  </el-form-item>
                </div>
              </el-col>
            </el-row>
          </template>
        <!-- </template> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeClear" size="mini">取 消</el-button>
        <el-button :disabled="submitLoading" type="primary" @click="submitForm('ruleForm')" size="mini" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
      </div>
    </template>
  </el-dialog>
</div>
</template>
<script>
import Api from '@/api/transfer'
import {validateRules} from '@/utils/validateRules'
import {imgHost} from '@/filters'
import { rest } from '@/api/index'
import { imgCompression } from '@/utils/ImgCompression.js'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validatePayUrl = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入购物网址'},
        'url': {msg: '格式错误，需以http://开头'},
        'maxlength': {param: '127', msg: '最大值不能超过127位'},
        'minlength': {param: '6', msg: '最小值不能低于6位'}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    let validateLimitAmonut = (rule, value, callback) => {
      if (this.ruleForm.fixedAmount === 'false' && this.ruleForm.fixedAmountPlatform === false) {
        if (parseInt(this.ruleForm.minAmount) >= parseInt(this.ruleForm.maxAmount) && this.ruleForm.maxAmount !== '') {
          callback(new Error('最高额须大于最低额'))
        }
      }
      callback()
    }
    let validateName = (rule, value, callback) => {
      if (value === undefined || value === null || value.trim() === '') {
        callback(new Error('请输入QQ钱包昵称'))
      }
      this.$refs.ruleForm.validateField('bankCheck')
      callback()
    }
    let validateAccount = (rule, value, callback) => {
      if (value === undefined || value === null || value.trim() === '') {
        callback(new Error('请输入QQ钱包账号'))
      }
      this.$refs.ruleForm.validateField('bankCheck')
      callback()
    }
    let validateMerchantNumber = (rule, value, callback) => {
      if (value === undefined || value === null || value.trim() === '') {
        callback(new Error('请输入商户号'))
      }
      callback()
    }
    let validateTerminalNumber = (rule, value, callback) => {
      if (value === undefined || value === null || value.trim() === '') {
        callback(new Error('请输入终端号'))
      }
      callback()
    }
    let validateSecretKey = (rule, value, callback) => {
      if (value === undefined || value === null || value.trim() === '') {
        callback(new Error('请输入密钥'))
      }
      callback()
    }
    let validateReceiveKey = (rule, value, callback) => {
      if (value === undefined || value === null || value.trim() === '') {
        callback(new Error('请输入接收密钥'))
      }
      callback()
    }
    let validatePayAlias = (rule, value, callback) => {
      if (value === undefined || value === null || value.trim() === '') {
        callback(new Error('请输入别名'))
      }
      callback()
    }
    // 通道备注验证
    let validateRemark = (rule, value, callback) => {
      if (!value) {
        callback()
      } else {
        let length = value.replace(/[\u4e00-\u9fa5]/g, 'aa')
        if (length.length > 16) {
          callback(new Error('最多支持8个汉字或16个字符'))
          return false
        }
      }
      callback()
    }
    let validateCommas = (rule, value, callback) => {
      if (value.indexOf(',') !== -1) {
        callback(new Error('格式错误,请勿输入英文逗号'))
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      PayTypeMode: [], // 接口模式
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        paymentWay: ['1'],
        bankCheck: '',
        payAlias: '',
        payType: '一般',
        name: '',
        account: '',
        qrcode: '',
        mobileType: '', // 接口类型 如：pc,mb,h5
        terminalNumber: '', // 终端
        merchantNumber: '', // 商户号
        secretKey: '', // 密钥
        receiveKey: '', // 接收密钥
        payUrl: '',
        minAmount: '',
        maxAmount: '',
        fixedPlatformAmountList: [], // 平台配置的固定金额
        fixedAmountList: [], // 固定金額
        fixedAmount: 'false',
        quickAmountList: [],
        fixedAmountPlatform: false,
        remark: '', // 增加通道备注
        // 新增查账信息
        auditForm: {
          title: '',
          notice: ''
        }
      },
      options: [],
      rules: {
        payAlias: [
          {required: true, validator: validatePayAlias, trigger: 'blur'},
          {min: 2, max: 25, message: '长度在 2 到 25 个字符', trigger: 'blur'},
          { validator: validateCommas, trigger: 'blur' }
        ],
        payType: [
          {required: true, message: '请选择类型', trigger: 'change'}
        ],
        merchantNumber: [
          {required: true, validator: validateMerchantNumber, trigger: 'blur'},
          {min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur'}
        ],
        terminalNumber: [
          {required: true, validator: validateTerminalNumber, trigger: 'blur'},
          {min: 1, max: 50, message: '长度在 1 到 50 个字符', trigger: 'blur'}
        ],
        secretKey: [
          {required: true, validator: validateSecretKey, trigger: 'blur'},
          {min: 1, max: 2000, message: '长度在 1 到 2000 个字符', trigger: 'blur'}
        ],
        receiveKey: [
          {required: true, validator: validateReceiveKey, trigger: 'blur'},
          {min: 1, max: 2000, message: '长度在 1 到 2000 个字符', trigger: 'blur'}
        ],
        payUrl: [
          {validator: validatePayUrl, trigger: 'blur'}
        ],
        mobileType: [
          {required: true, message: '请选择接口模式', trigger: 'blur'}
        ],
        minAmount: [
          { required: true, validator: validateLimitAmonut, trigger: 'blur' }
        ],
        maxAmount: [
          { required: true, validator: validateLimitAmonut, trigger: 'blur' }
        ],
        name: [
          {required: true, validator: validateName, trigger: 'blur'},
          {max: 20, message: '长度在20个以内', trigger: 'blur'}
        ],
        account: [
          {required: true, validator: validateAccount, trigger: 'blur'},
          {min: 2, max: 26, message: '长度在 2 到 26 个字符', trigger: 'blur'}
        ],
        bankCheck: [
          { required: true, message: '二维码和账号资料必须填写一个', trigger: 'blur' }
        ],
        remark: [
          { required: false, validator: validateRemark, trigger: 'blur' }
        ]
      },
      imageUrl: '',
      fileData: {},
      uploadParam: {type: 0},
      mobileTypeList: []
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    rulesQuick (value, index, callback) {
      if (value > parseInt(this.ruleForm.maxAmount)) {
        callback(new Error('必需小于最大值'))
      }
      if (value < parseInt(this.ruleForm.minAmount)) {
        callback(new Error('必需大于最小值'))
      }
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
      // if (value.substring(0, 1) === '0') {
      //   callback(new Error('请输入有效的数字'))
      // }
      // for (let i = 0; i < this.ruleForm.quickAmountList.length; i++) {
      //   if (index > i) {
      //     if (this.ruleForm.quickAmountList[i].value) {
      //       if (parseFloat(value) <= parseFloat(this.ruleForm.quickAmountList[i].value)) {
      //         callback(new Error('请大于前面的数'))
      //       }
      //     }
      //   }
      //   if (index < i) {
      //     if (this.ruleForm.quickAmountList[i].value) {
      //       if (parseFloat(value) >= parseFloat(this.ruleForm.quickAmountList[i].value)) {
      //         callback(new Error('请小于后面的数'))
      //       }
      //     }
      //   }
      // }
    },
    rulesFixed (value, index, callback) {
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
      // if (value.substring(0, 1) === '0') {
      //   callback(new Error('请输入有效的数字'))
      // }
      // for (let i = 0; i < this.ruleForm.fixedAmountList.length; i++) {
      //   if (index > i) {
      //     if (this.ruleForm.quickAmountList[i].value) {
      //       if (parseFloat(value) <= parseFloat(this.ruleForm.fixedAmountList[i].value)) {
      //         callback(new Error('请大于前面的数'))
      //       }
      //     }
      //   }
      //   if (index < i) {
      //     if (this.ruleForm.quickAmountList[i].value) {
      //       if (parseFloat(value) >= parseFloat(this.ruleForm.fixedAmountList[i].value)) {
      //         callback(new Error('请小于后面的数'))
      //       }
      //     }
      //   }
      // }
    },
    handlePaymentWayChange () {
      if (this.ruleForm.paymentWay.filter(v => v === '1').length < 1) {
        this.ruleForm.name = ''
        this.ruleForm.account = ''
      }
      if (this.ruleForm.paymentWay.filter(v => v === '2').length < 1) {
        this.imageUrl = ''
        this.imageFile = {}
        this.ruleForm.qrcode = ''
      }
    },
    handleBankCheckChange () {
      if ((this.ruleForm.name && this.ruleForm.name.trim() !== '' && this.ruleForm.account && this.ruleForm.account.trim() !== '') || this.imageUrl) {
        this.ruleForm.bankCheck = '账号'
      } else {
        this.ruleForm.bankCheck = ''
      }
    },
    handlePayTypeChange (name, firstTime) {
      let payType = null
      this.mobileTypeList = []
      for (let item in this.options) {
        if (this.options[item].payName !== this.ruleForm.payType || this.ruleForm.payType === '一般') {
          continue
        }
        payType = this.options[item]
        this.mobileTypeList = this.options[item].mobileTypeList.split(',')
        if (this.options[item].payName === this.data.payType) {
          this.ruleForm.mobileType = this.data.mobileType
          break
        }
        if (this.mobileTypeList.length > 0) {
          this.ruleForm.mobileType = this.mobileTypeList[0]
        }
        break
      }
      if (this.data.payType === '一般' && this.ruleForm.payType !== '一般') {
        this.ruleForm.secretKey = ''
        this.ruleForm.receiveKey = ''
      }
      if (payType) {
        if (firstTime !== 'firstTime') {
          this.ruleForm.fixedAmountPlatform = this.ruleForm.payType === '一般' ? 0 : payType.isFixedAmount
          this.ruleForm.fixedPlatformAmountList = []
          this.ruleForm.minAmount = ''
          this.ruleForm.maxAmount = ''
        }
        if (payType.fixedAmountList) {
          let fixedAmountList = payType.fixedAmountList.split(',').sort(this.sortNumber)
          for (let i = 0; i < fixedAmountList.length; i++) {
            if (!fixedAmountList[i]) {
              continue
            }
            let tempFixedAmountListData = {}
            Object.assign(tempFixedAmountListData, {})
            tempFixedAmountListData.key = i + 1
            tempFixedAmountListData.value = fixedAmountList[i]
            this.ruleForm.fixedPlatformAmountList.push(tempFixedAmountListData)
          }
        }
        if (payType.payName !== this.data.payType || !this.ruleForm.fixedAmountPlatform) {
          this.ruleForm.maxAmount = ''
          this.ruleForm.minAmount = ''
          this.ruleForm.quickAmountList = []
          for (let i = 0; i < 8; i++) {
            let tempFixedAmountListData = {}
            Object.assign(tempFixedAmountListData, {})
            tempFixedAmountListData.key = i + 1
            tempFixedAmountListData.value = ''
            this.ruleForm.quickAmountList.push(tempFixedAmountListData)
          }
          this.ruleForm.fixedAmountList = []
          for (let i = 0; i < 8; i++) {
            let tempFixedAmountListData = {}
            Object.assign(tempFixedAmountListData, {})
            tempFixedAmountListData.key = i + 1
            tempFixedAmountListData.value = ''
            this.ruleForm.fixedAmountList.push(tempFixedAmountListData)
          }
        }
      } else {
        // 如果是一般平台第三方值 false
        this.ruleForm.fixedAmountPlatform = false
        this.ruleForm.fixedAmount = 'false'
        // this.ruleForm.paymentWay = ['1']
      }
      this.$refs['ruleForm'].clearValidate()
    },
    deleteImage () {
      this.imageUrl = ''
      this.imageFile = {}
      this.ruleForm.qrcode = ''
    },
    getThirdPartyPaySettingsVo () {
      let submitData = {}
      submitData.dictionId = 105
      this.loading = true
      let obj = this
      Api.getThirdPartyPaySettingsVo(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let typeData = {}
        typeData.id = 1
        typeData.payName = '一般'
        typeData.mobileType = '扫码'
        this.options.push(typeData)
        for (let i = 0; i < res.data.length; i++) {
          if (!res.data[i].mobileTypeList) {
            continue
          }
          this.options.push(res.data[i])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    closeClear () {
      this.$emit('onClose')
      // this.resetForm('ruleForm')
      // if (this.$refs.form) {
      //   this.resetForm('form')
      // }
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.payType === '一般') {
          let auditForm = this.ruleForm.auditForm
          if (!auditForm.title || auditForm.title.length < 2 || auditForm.title.length > 5) {
            this.msgError('自定义标题，仅限2-5个字')
            this.submitLoading = false
            return false
          }
          if (!auditForm.notice || auditForm.notice.length < 2 || auditForm.notice.length > 10) {
            this.msgError('自定义输入框提示，仅限2-10个字')
            this.submitLoading = false
            return false
          }
          // 二维码校验
          let paymentWay = this.ruleForm.paymentWay
          if (!paymentWay.length) {
            this.submitLoading = false
            this.msgError('请选择支付方式')
            return
          }
          let qrcode = paymentWay.filter(v => v === '2').length
          if (qrcode && !this.imageUrl) {
            this.submitLoading = false
            this.msgError('请上传二维码')
            return
          }
        }
        let minAmount = this.ruleForm.minAmount !== '' ? +this.ruleForm.minAmount : ''
        let maxAmount = this.ruleForm.maxAmount !== '' ? +this.ruleForm.maxAmount : ''
        if (this.ruleForm.fixedAmount === 'false' && this.ruleForm.fixedAmountPlatform === false) {
          if (!minAmount && minAmount !== 0) {
            this.msgError('请输入单笔最低')
            this.submitLoading = false
            return
          }
          if (!maxAmount && maxAmount !== 0) {
            this.msgError('请输入单笔最高')
            this.submitLoading = false
            return
          }
          if (minAmount >= maxAmount) {
            this.msgError('最高额须大于最低额')
            this.submitLoading = false
            return
          }
        }
        if (this.$refs['form']) {
          this.$refs['form'].validate((valid) => {
            if (!valid) {
              this.submitLoading = false
              return false
            }
            if (this.fileData.imageFile) {
              this.uploadImg()
              return false
            }
            this.submitData()
          })
          return
        }
        if (this.fileData.imageFile) {
          this.uploadImg()
          return false
        }
        this.submitData()
      })
    },
    uploadImg () {
      let submitData = new FormData()
      let obj = this
      for (let item in this.uploadParam) {
        submitData.append(item, this.uploadParam[item])
      }
      submitData.append('file', this.fileData.imageFile)
      rest.create('/v1/transaction/uploadImages', submitData, function () {
        obj.submitLoading = false
        obj.msgError('上传图片失败！')
      }).then((res) => {
        obj.handleAvatarSuccess(res)
      })
    },
    submitData () {
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      if (this.ruleForm.secretKey === '******') {
        delete submitData.secretKey
      }
      if (this.ruleForm.receiveKey === '******') {
        delete submitData.receiveKey
      }
      if (this.ruleForm.payType === '一般') {
        submitData.merchantNumber = ''
        submitData.terminalNumber = ''
        submitData.secretKey = ''
        submitData.receiveKey = ''
        submitData.payUrl = ''
        let auditForm = this.ruleForm.auditForm
        let arr = `${auditForm.title}#falg#${auditForm.notice}`
        submitData.auditInfo = arr
      } else {
        submitData.name = ''
        submitData.account = ''
        submitData.qrcode = ''
      }
      let fixedPlatformAmountList = []
      if (submitData.fixedAmountPlatform) {
        for (let i = 0; i < submitData.fixedPlatformAmountList.length; i++) {
          fixedPlatformAmountList.push(this.ruleForm.fixedPlatformAmountList[i].value)
        }
        submitData.fixedAmountList = fixedPlatformAmountList.join(',')
        submitData.isFixedAmountThird = 1
        submitData.isFixedAmount = 1
        delete submitData.quickAmountList
      } else {
        submitData.isFixedAmountThird = 0
        if (submitData.fixedAmount === 'false') {
          let quickAmountList = []
          submitData.isFixedAmount = 0
          for (let i = 0; i < this.ruleForm.quickAmountList.length; i++) {
            if (this.ruleForm.quickAmountList[i].value !== '') {
              quickAmountList.push(this.ruleForm.quickAmountList[i].value)
            }
          }
          if (!this.sortArry(quickAmountList)) {
            this.submitLoading = false
            this.msgError('数据不能输入重复')
            return
          }
          let sortlist = quickAmountList.sort(this.sortNumber)
          submitData.quickAmountList = sortlist.join(',')
          delete submitData.fixedAmountList
        } else {
          let fixedAmountList = []
          submitData.isFixedAmount = 1
          for (let i = 0; i < this.ruleForm.fixedAmountList.length; i++) {
            if (this.ruleForm.fixedAmountList[i].value !== '') {
              fixedAmountList.push(this.ruleForm.fixedAmountList[i].value)
            }
          }
          // 有重复数据
          if (!this.sortArry(fixedAmountList)) {
            this.submitLoading = false
            this.msgError('数据不能输入重复')
            return
          }
          let sortlist = fixedAmountList.sort(this.sortNumber)
          submitData.fixedAmountList = sortlist.join(',')
          delete submitData.quickAmountList
        }
      }
      if (submitData.minAmount === '') {
        submitData.minAmount = 0
      }
      if (submitData.maxAmount === '') {
        submitData.maxAmount = 0
      }
      delete submitData.fixedAmount
      delete submitData.fixedAmountPlatform
      delete submitData.fixedPlatformAmountList
      delete submitData.bankCheck
      delete submitData.paymentWay
      delete submitData.auditForm
      let obj = this
      Api.saveOrUpdateQQ(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.fileData = {}
        this.msgSuccess('保存成功')
        this.showBlogForm = false
        this.$parent.getQQPanmentList()
        this.$nextTick(function () {
          setTimeout(function () {
            obj.submitLoading = false
          }, 1000)
        })
      })
    },
    sortNumber (big, small) {
      return big - small
    },
    // 判断是否有重复数据
    sortArry (arry) {
      let nary = arry.sort()
      let str = true
      for (let i = 0; i < arry.length; i++) {
        if (arry[i] === nary[i + 1]) {
          str = false
          break
        }
      }
      return str
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    handleAvatarSuccess (res, file) {
      if (res.code !== 1) {
        this.submitLoading = false
        this.msgError('上传图片失败')
        return
      }
      this.ruleForm.qrcode = res.data
      this.submitData()
    },
    beforeAvatarUpload (file) {
      // const isJPG = file.type === 'image/jpeg' || 'image/png'
      const isLt2M = file.size / 1024 / 1024 < 2

      // if (!isJPG) {
      //   this.$message.error('上传图片只能是JPG或PNG格式')
      //   this.submitLoading = false
      //   return false
      // }
      if (!isLt2M) {
        this.$message.error('上传图片大小不能超过2MB')
        this.submitLoading = false
        return false
      }
      let obj = this
      if (isLt2M) {
        this.imageUrl = URL.createObjectURL(file.raw)
        if (file.size / 1024 / 1024 > 0.5) {
          imgCompression(file.raw, {}, function (blob) {
            obj.fileData.imageFile = blob
            obj.ruleForm.bankCheck = '图片'
            obj.$refs.ruleForm.validateField('bankCheck')
          })
        } else {
          this.fileData.imageFile = file.raw
          this.ruleForm.bankCheck = '图片'
          this.$refs.ruleForm.validateField('bankCheck')
        }
      }
      return isLt2M
    },
    handleOnError (errorData, file, fileList) {
      this.submitLoading = false
      this.msgError('上传图片失败')
    }
  },
  mounted () {
    this.getThirdPartyPaySettingsVo()
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.$refs['ruleForm'].clearValidate()
          if (!this.data.fixedAmountThird && this.$refs['form']) {
            this.$refs['form'].clearValidate()
          }
          // this.initData()
          this.ruleForm.id = this.data.id
          this.ruleForm.payAlias = this.data.payAlias
          this.ruleForm.name = this.data.name
          this.ruleForm.account = this.data.account
          this.ruleForm.qrcode = this.data.qrcode
          this.ruleForm.merchantNumber = this.data.merchantNumber
          this.ruleForm.terminalNumber = this.data.terminalNumber
          this.ruleForm.remark = this.data.remark
          this.fileData = {}
          this.imageUrl = ''
          this.title = false
          this.ruleForm.paymentWay = []
          let auditTitle = ''
          let auditNotice = ''
          auditTitle = 'QQ昵称'
          auditNotice = '请填写您的QQ昵称'
          if (this.data.id && this.data.id !== '') {
            this.title = true
            this.ruleForm.secretKey = '******'
            this.ruleForm.receiveKey = '******'
            this.ruleForm.payType = this.data.payType
            if (this.ruleForm.name && this.ruleForm.account) {
              this.ruleForm.bankCheck = '账号'
              this.ruleForm.paymentWay.push('1')
            }
            if (this.ruleForm.qrcode && this.ruleForm.qrcode !== '') {
              this.imageUrl = imgHost(this.ruleForm.qrcode)
              this.ruleForm.bankCheck = '图片'
              this.ruleForm.paymentWay.push('2')
            }
            if (this.data.auditInfo) {
              let arr = this.data.auditInfo.split('#falg#')
              auditTitle = arr[0]
              auditNotice = arr[1]
            }
            this.ruleForm.auditForm = {
              title: auditTitle,
              notice: auditNotice
            }
          } else {
            this.ruleForm.payType = '一般'
            this.ruleForm.secretKey = ''
            this.ruleForm.receiveKey = ''
            this.ruleForm.paymentWay.push('1')
            this.ruleForm.auditForm = {
              title: auditTitle,
              notice: auditNotice
            }
          }
          this.ruleForm.payUrl = this.data.payUrl
          this.ruleForm.mobileType = this.data.mobileType
          this.ruleForm.minAmount = 0
          this.handlePayTypeChange(name, 'firstTime')
          if (this.data.minAmount || this.data.minAmount === 0) {
            this.ruleForm.minAmount = this.data.minAmount
          } else {
            if (!this.data.maxAmount) {
              this.ruleForm.minAmount = ''
            }
          }
          if (this.data.maxAmount) {
            this.ruleForm.maxAmount = this.data.maxAmount
          } else {
            this.ruleForm.maxAmount = ''
          }
          // 判斷是否編輯或新增
          // 站长配置的固定金额字段控制
          if (this.data.fixedAmountThird) {
            let Arrnumber = 0
            this.ruleForm.fixedPlatformAmountList = []
            this.ruleForm.fixedAmountPlatform = true
            if (this.data.fixedAmountList) {
              let fixedPlatformAmountList = this.data.fixedAmountList.split(',').sort(this.sortNumber)
              let fixedPlatformAmountListSort = []
              for (let i = 0; i < fixedPlatformAmountList.length; i++) {
                let tempFixedAmountListData = {}
                Object.assign(tempFixedAmountListData, {})
                tempFixedAmountListData.key = i + 1
                tempFixedAmountListData.value = fixedPlatformAmountList[i]
                fixedPlatformAmountListSort.push(tempFixedAmountListData)
                Arrnumber = Arrnumber + 1
              }
              this.ruleForm.fixedPlatformAmountList = fixedPlatformAmountListSort
            }
          } else {
            this.ruleForm.fixedAmountPlatform = false
            if (this.data.isFixedAmount) {
              this.ruleForm.fixedAmount = 'true'
              let index = 0
              this.ruleForm.fixedAmountList = []
              if (this.data.fixedAmountList) {
                let fixedAmountList = this.data.fixedAmountList.split(',').sort(this.sortNumber)
                let fixedAmountListSort = []
                for (let i = 0; i < fixedAmountList.length; i++) {
                  let tempFixedAmountListData = {}
                  Object.assign(tempFixedAmountListData, {})
                  tempFixedAmountListData.key = i + 1
                  tempFixedAmountListData.value = fixedAmountList[i]
                  fixedAmountListSort.push(tempFixedAmountListData)
                  index += 1
                }
                this.ruleForm.fixedAmountList = fixedAmountListSort
              }
              if (index < 8) {
                for (let i = index; i < 8; i++) {
                  let tempFixedAmountListData = {}
                  Object.assign(tempFixedAmountListData, {})
                  tempFixedAmountListData.key = i + 1
                  tempFixedAmountListData.value = ''
                  this.ruleForm.fixedAmountList.push(tempFixedAmountListData)
                }
              }
              this.ruleForm.quickAmountList = []
              for (let i = 0; i < 8; i++) {
                let tempFixedAmountListData = {}
                Object.assign(tempFixedAmountListData, {})
                tempFixedAmountListData.key = i + 1
                tempFixedAmountListData.value = ''
                this.ruleForm.quickAmountList.push(tempFixedAmountListData)
              }
            } else {
              this.ruleForm.fixedAmount = 'false'
              let indexQ = 0
              this.ruleForm.quickAmountList = []
              this.ruleForm.fixedAmountList = []
              if (this.data.quickAmountList) {
                let quickAmountList = this.data.quickAmountList.split(',').sort(this.sortNumber)
                let quickAmountListSort = []
                for (let i = 0; i < quickAmountList.length; i++) {
                  let tempFixedAmountListData = {}
                  Object.assign(tempFixedAmountListData, {})
                  tempFixedAmountListData.key = i + 1
                  tempFixedAmountListData.value = quickAmountList[i]
                  quickAmountListSort.push(tempFixedAmountListData)
                  indexQ += 1
                }
                this.ruleForm.quickAmountList = quickAmountListSort
              }
              if (indexQ < 8) {
                for (let i = indexQ; i < 8; i++) {
                  let tempFixedAmountListData = {}
                  Object.assign(tempFixedAmountListData, {})
                  tempFixedAmountListData.key = i + 1
                  tempFixedAmountListData.value = ''
                  this.ruleForm.quickAmountList.push(tempFixedAmountListData)
                }
              }
              for (let i = 0; i < 8; i++) {
                let tempFixedAmountListData = {}
                Object.assign(tempFixedAmountListData, {})
                tempFixedAmountListData.key = i + 1
                tempFixedAmountListData.value = ''
                this.ruleForm.fixedAmountList.push(tempFixedAmountListData)
              }
            }
          }
          this.loading = false
        })
      } else {
        this.ruleForm.quickAmountList = []
        this.ruleForm.quickAmountList = []
      }
    },
    data (nv) {
    }
  }
}
</script>
