<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增返点禁止"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="代理账号" prop="userName">
              <!--<lg-tag-->
                <!--class="inline-input book-mark"-->
                <!--v-model="ruleForm.userName"-->
                <!--:recTags="[]"-->
                <!--:max-tags-size="300"-->
                <!--:trigger-on-focus="true"-->
                <!--ref="addColletcTag"-->
                <!--placeholder="请输入代理账号"-->
              <!--&gt;</lg-tag>-->
              <el-input v-model="ruleForm.userName" :placeholder="screenW > 640 ? '批量操作可输入代理账号，以英文逗号（,）分隔开，最多支持300个':'请输入代理账号'"></el-input>
              <div class="text-style" v-show="screenW < 640">批量操作可输入代理账号，以英文逗号（,）分隔开，最多支持300个</div>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <el-input size="min" v-model="ruleForm.remark" placeholder="请输入备注">
              </el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import LgTag from '@/components/tag'
import Api from '@/api/users'
import {validateRules} from '@/utils/validateRules'
export default {
  data () {
    let validateUserName = (rule, value, callback) => {
      if (!value.length) {
        callback(new Error('请输入代理账号'))
        return
      }
      let arrayData = value.split(',')
      if (arrayData.length > 300) {
        callback(new Error('批量操作最多只能输入300个账号!'))
        return
      }
      for (let i = 0; i < arrayData.length; i++) {
        let vdt = validateRules.vdata(arrayData[i], {
          'isEnglishNumber': {}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
          return
        }
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      valueLevel: '',
      rules: {
        userName: [
          {required: true, validator: validateUserName, trigger: 'blur'}
        ],
        remark: [
          {min: 0, max: 25, message: '最大长度为25个字符', trigger: 'blur'}
        ]
      },
      ruleForm: {
        userName: '',
        remark: ''
      }
    }
  },
  props: {
    visible: Boolean
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        // console.log('ruleForm', this.ruleForm)
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        // submitData.userName = ''
        // for (let i = 0; i < this.ruleForm.userName.length; i++) {
        //   submitData.userName += ',' + this.ruleForm.userName[i]
        // }
        // if (submitData.userName !== '') {
        //   submitData.userName = submitData.userName.substr(1)
        // }
        let obj = this
        Api.banRebate(submitData, function (res) {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  },
  components: {
    LgTag
  }
}
</script>
