<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="驳回"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
          <el-form :model="ruleForm" ref="ruleForm" :rules="rules" size="small" label-position="top" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
              <el-form-item prop="reason">
                <el-input type="textarea" placeholder="请输入驳回理由,平台将以消息发送给申请人" class="descInput" v-model="ruleForm.reason"></el-input>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="closeClear" size="mini">取 消</el-button>
            <el-button :disabled="submitLoading" size="mini" type="primary" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
          </div>

      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {reason: ''},
      rules: {
        reason: [
          {required: true, message: '请输入驳回理由', trigger: 'blur'},
          {min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object

  },
  methods: {
    setReject (val, type) {

    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        submitData.id = this.data.id
        submitData.state = 2
        submitData.reason = this.ruleForm.reason
        Api.setCertificationState(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('操作成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    closeClear () {
      this.resetForm('ruleForm')
      this.$emit('onClose')
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  }
}
</script>

<style>
  @import '../../assets/css/variable.css';
  .descInput{
    min-height:150px !important;
    & textarea{
      min-height:150px !important;
    }
  }
</style>
