<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增代理账号"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" ref="ruleForm" class="form" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item class="post-btn" label="代理账号" prop="userName">
              <div class="flexbox">
                <el-input size="min" v-model="ruleForm.userName" class="width-search140" placeholder="请输入代理账号"></el-input>
                <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
              </div>
              <!--<el-button size="mini" type="primary" @click="submitData">保存</el-button>-->
            </el-form-item>
          </el-form>
          <div class="table-style">
          <el-table
            ref="multipleTable"
            :data="allList"
            v-loading="loading"
            element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"
            @select="handleSelect"
            @select-all="handleSelectAll">
            <el-table-column
              prop="id"
              type="selection"
              width="34">
            </el-table-column>
            <el-table-column
              prop="userName"
              label="代理名称"
              min-width="160">
            </el-table-column>
          </el-table>
          </div>
          <div class="report-foot margin-t10">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :page-sizes="[20, 100, 300]"
            :page-size="20"
            background
            ref="pagination"
            :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, next, jumper'"
            :total="total">
          </el-pagination>
        </div>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitData('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/report'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      value1: true,
      value2: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: ''
      },
      allList: [],
      total: 0,
      selectData: {},
      selectionData: [],
      pageNum: 1,
      pageSize: 20
    }
  },
  props: {
    visible: Boolean
  },
  methods: {
    closeClear () {
      this.selectData = {}
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelect (selection, row) {
      // console.log('row', row)
      for (let item in this.allList) {
        if (row.id !== this.allList[item].id) {
          continue
        }
        this.allList[item].append = !this.allList[item].append
        this.selectData[row.id.toString()] = this.allList[item]
        break
      }
    },
    handleSelectAll (val) {
      // console.log('multipleSelection', val)
      this.selectionData = val
      if (this.selectionData.length > 0) {
        for (let item in this.selectionData) {
          this.selectionData[item].append = true
          this.selectData[this.selectionData[item].id.toString()] = this.selectionData[item]
        }
      } else {
        for (let item in this.allList) {
          this.allList[item].append = false
          this.selectData[this.allList[item].id.toString()] = this.allList[item]
        }
      }
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getAgents(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.result
        this.$nextTick(ref => {
          for (let i = 0; i < this.allList.length; i++) {
            if (!this.allList[i].append) {
              continue
            }
            // console.log('selectData', this.allList[i])
            this.$refs.multipleTable.toggleRowSelection(this.allList[i])
          }
          obj.loading = false
        })
        // console.log(this.$refs.multipleTable)
        this.total = res.data.total
      })
    },
    submitData (formName) {
      this.submitLoading = true
      let obj = this
      let count = 0
      for (let item in this.selectData) {
        count = item + 1
      }
      if (count < 1) {
        this.submitLoading = false
        this.msgError('请选择要关注的账号')
        return
      }
      let agentData = []
      for (let item in this.selectData) {
        let tempData = {}
        let tempSelectData = this.selectData[item]
        tempData.id = tempSelectData.id
        tempData.userName = tempSelectData.userName
        tempData.append = tempSelectData.append
        agentData.push(tempData)
      }
      let submitData = {}
      submitData.agents = JSON.stringify(agentData)
      Api.setAgents(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.resetForm('ruleForm')
        this.msgSuccess('操作成功')
        this.showBlogForm = false
        this.$parent.getOrderList()
        this.$nextTick(function () {
          setTimeout(function () {
            obj.submitLoading = false
          }, 1000)
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.getOrderList(1, 20)
          // this.initData()
        })
      }
    }
  }
}
</script>
<style scoped>
  .el-cascader{
    width: 100%;
  }
  .width-search140{
    margin: 0 20px 0 0;
  }
  .table-style{
    /*margin: 0 20px 30px;*/
    border: 1px solid var(--color-border);
  }
  .width150 {
    width: 380px;
  }
  .report-foot{
    padding: 0 20px;
  }
  @media screen and (max-width:1023px){
    .width150 {
      width: 100%;
    }
    .admin-btn{
      & .el-form-item__content{
        display:inline-block;
        margin-left:10px;
      }
    }
  }
  @media screen and (max-width:500px){

    .width-search140{
      width: 100%;
    }
    .post-btn{
      & .el-button{
        margin-top: 10px;

      }
    }
  }
</style>
