<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="人工存提错误"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else >
        <div  >
          <div class="warningNote">成功<span class="color-danger">{{success}}条</span>,失败有<span class="color-danger">{{mistake}}条</span>,请检查</div>
          <el-table
            :data="alllist"
            style="width: 100%" class="table-style">
            <el-table-column
              prop="userName"
              label="会员账号"
              min-width="130" >
            </el-table-column>
            <el-table-column
              prop="amount"
              label="金额"
              min-width="110">
            </el-table-column>
            <el-table-column
              prop="remark"
              label="备注"
              min-width="100" show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="errorMsg"
              label="错误原因"
              min-width="150" show-overflow-tooltip>
            </el-table-column>
          </el-table>
          <div slot="footer" class="dialog-footer">
          </div>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      success: 0,
      mistake: 0,
      alllist: []
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    }
  },
  components: {
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.alllist = this.data.errorData
          this.success = this.data.success
          this.mistake = this.data.mistake
        })
      }
    }
  }
}
</script>
<style scoped>
  .width150 {
    width: 380px;
  }
  .warningNote{
    font-size: 14px;
    padding-bottom: 20px;
    letter-spacing: 0.5px;
  }
  .dialog-footer{
    padding: 0 0 20px 0;
  }
  .table-style{
    border-top: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
  }
  .el-form {
    width: 100%;
  }
  @media screen and (max-width:1023px){

    .width150 {
      width: 100%;
    }
    .admin-btn{
      & .el-form-item__content{
        display:inline-block;
        margin-left:10px;
      }
    }
  }
</style>
