<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="选择提存类型"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" class="form" size="small" ref="ruleForm" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item class="rwd-radio">
              <el-radio-group v-model="ruleForm.dictionId">
                <el-radio :label="401">人工存款</el-radio>
                <el-radio :label="402">人工存入</el-radio>
                <el-radio :label="403">其他优惠</el-radio>
                <el-radio :label="404">误存提出</el-radio>
                <el-radio :label="405">行政提出</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确定'}}</el-button>
        </div>
      </template>
    </el-dialog>
    <reposit-error
      :data="selectData"
      :visible="RepositErrorShow"
      v-on:onClose="RepositErrorShow=false">
    </reposit-error>
  </div>
</template>
<script>
import {getTimeStamp} from '@/utils/Time'
import Api from '@/api/transfer'
import RepositError from '@/views/newModal/RepositError'
export default {
  data () {
    return {
      RepositErrorShow: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      valueLevel: '',
      ruleForm: {
        dictionId: 401
      },
      selectData: {}
    }
  },
  props: {
    visible: Boolean,
    data: {file: File}
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        // console.log('ruleForm', this.ruleForm)
        let submitData = new FormData()
        submitData.append('file', this.data.file)
        submitData.append('timeStamp', getTimeStamp())
        submitData.append('dictionId', this.ruleForm.dictionId)
        let obj = this
        Api.importManualRecord(submitData, function (res) {
          obj.submitLoading = false
        }).then((res) => {
          if (res.data && res.data.length > 0) {
            obj.showBlogForm = false
            let msgData = res.msg.split(',')
            obj.selectData.success = msgData[0]
            obj.selectData.mistake = msgData[1]
            obj.selectData.errorData = res.data
            obj.RepositErrorShow = true
          } else {
            this.msgSuccess('操作成功')
          }
          this.showBlogForm = false
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  },
  components: {
    RepositError
  }
}
</script>
<style scoped>
  @media screen and (max-width:768px){
    .rwd-radio label{
      padding-bottom: 20px;
      display: block;
      margin: 0;
    }
  }
</style>
