<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增会员重置"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="ruleForm" :rules="rules" class="form delect-height" size="small" label-position="top" ref="ruleForm" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="会员账号" prop="userNameList"  >
                <!--<div class="text-style absolute-style" >点击Enter键区分多个会员账号，上限100个</div>-->
                <!--<lg-tag-->
                  <!--class="inline-input book-mark"-->
                  <!--v-model="ruleForm.userNameList"-->
                  <!--:placeholder="screenW>=768 ? '请填写会员账号，点击Enter键区分多个会员账号，上限100个':'点击Enter键区分多个会员账号，上限100个'"-->
                  <!--:recTags="[]"-->
                  <!--:max-tags-size="300"-->
                  <!--:trigger-on-focus="true"-->
                  <!--ref="addColletcTag"-->
                <!--&gt;</lg-tag>-->
              <el-input  v-model="ruleForm.userNameList" :placeholder="screenW>=768 ? '请填写会员账号，输入多个会员账号时以逗号隔开，最高100个':'多个会员账号以隔开，上限100个'"></el-input>
            </el-form-item>
            <el-form-item label="重置类型" prop="resetType" class="rwd-width50 ">
              <el-checkbox-group v-model="ruleForm.resetType">
                <el-checkbox label="password">登录密码</el-checkbox>
                <el-checkbox label="safetyPassword">安全密码</el-checkbox>
                <el-checkbox label="phone">密保手机</el-checkbox>
                <el-checkbox label="safetyAnswer">密保问题</el-checkbox>
                <el-checkbox label="mail">密保邮箱</el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item label="备注" prop="remark">
              <el-input  type="textarea" :rows="3" placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import LgTag from '@/components/tag'
import Api from '@/api/tenant'
export default {
  data () {
    let validateUserName = (rule, value, callback) => {
      if (value.length < 1) {
        callback(new Error('请输入会员账号'))
        return
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        resetType: [],
        userNameList: '',
        remark: ''
      },
      rules: {
        // userNames: [{ type: Array, required: true, message: '请选择类型', trigger: 'change' }],
        resetType: [
          { required: true, message: '请选择重置类型', trigger: 'change' }
        ],
        userNameList: [
          {required: true, validator: validateUserName, trigger: 'blur'}
        ],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' },
          {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        submitData.userNameList = this.ruleForm.userNameList
        submitData.resetType = this.ruleForm.resetType.join(',')
        Api.resetUser(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  components: {
    LgTag
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
        })
      }
    }
  }
}
</script>
<style scoped>
  .el-dialog__body .absolute-style {
    left: 70px;
  }
  .searchtime{
    width: 49% !important;
  }
  @media screen and (max-width: 767px){
    .rwd-width50{
      & .el-checkbox{
        width: calc( 50% - 15px);
      }
      & .el-checkbox + .el-checkbox{
        margin-left: 0 !important;
      }
    }
  }
  @media screen and (max-width: 400px){
    .rwd-width50{
      & .el-checkbox{
        width: 100%;
          font-size: 16px !important;
      }
    }
  }
</style>
