<template>
<div>
  <el-dialog
    :visible.sync="showBlogForm"
    :title="title ? '角色编辑':'新增角色'"
    @close="closeClear"
    :close-on-click-modal="false"
    custom-class="small-reveal-modal role-modal">
    <div v-if="statusFetch">数据加载中...</div>
    <template v-else>
      <el-form :model="ruleForm" :rules="rules" size="small" :label-position="screenW <= 768 ? 'top' : 'left'" ref="ruleForm" v-loading="loading"
               element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
        <el-form-item label="角色名称" prop="name" label-width="80px">
          <el-input v-model="ruleForm.name"  :disabled="readOnly" auto-complete="off" placeholder="支持字母、数字和中文，2~20个字符"></el-input>
        </el-form-item>
        <el-form-item label="管理权限" class="admin-btn margin-b0" prop="role">
          <el-checkbox type="text" v-model="isAll" size="mini"  @change="setCheckedNodes" class="margin-r6"><span class="color-bluebutton">全选</span></el-checkbox>
          <el-button type="text" size="mini" @click="resetChecked"><span class="color-bluebutton">重置</span></el-button>
        </el-form-item>
        <el-form-item label-width="0" label-position="top" prop="permissionList" v-show="!isAll">
          <div class="media-object tree-box">
            <div class="media-object-section shrink tree-left hide-for-large">
              <el-checkbox type="text" v-model="isAll" size="mini"  @change="setCheckedNodes" class="all-permission margin-r6"><span>全部权限</span></el-checkbox>
            </div>
            <div class="media-object-section">
              <el-tree
                :data="navData"
                class="pc-tree"
                show-checkbox
                auto-expand-parent
                node-key="permissionCode"
                ref="tree"
                :default-checked-keys="ruleForm.permissionList"
                :props="defaultProps">
                  <span class="custom-tree-node" slot-scope="{ node, data }">
                    <span><i class="fa fa-folder fa-lg fa-folder-icon"></i>{{ node.label }}</span>
                  </span>
              </el-tree>
            </div>
          </div>
        </el-form-item>
        <el-form-item v-show="isAll">
          <el-input placeholder="已选取全部" disabled class="height-select34 margin-t10"></el-input>
        </el-form-item>
        <!--特殊權限-->
        <div class=" special-rightbox tree-box ">
          <div class="media-object-section shrink">
            <el-checkbox type="text" size="mini" class="all-permission margin-r6" v-model="SpecailCheckAll" @change="handleSpecailAllChange">特殊功能</el-checkbox>
          </div>
          <div class=" special-rightbox-section">
            <el-checkbox-group v-model="ruleForm.specialPermissionList" @change="handleCheckedSpecailChange">
              <el-checkbox v-for="items in specilOption" :label="items.permissionCode" :key="items.permissionCode" :value="items.permissionCode">{{items.name}}</el-checkbox>
            </el-checkbox-group>
          </div>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="closeClear" size="mini">取 消</el-button>
        <el-button :disabled="submitLoading" size="mini" type="primary" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
      </div>
    </template>
  </el-dialog>
</div>
</template>
<script>
import Api from '@/api/manager'
// let nav = import('@/utils/nav.json')
// const permi = ['tenantWebsite']
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      title: false,
      checkedSpecil: [],
      isSpecailRight: true,
      specialRight: ' ',
      specilOption: ['修改登录密码', '修改绑定银行卡', '强制入款'],
      SpecailCheckAll: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      isAll: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        name: '',
        permissionList: [],
        specialPermissionList: []
      },
      rules: {
        name: [
          { required: true, message: '请输入角色名称', trigger: 'blur' },
          { min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur' }
        ]
      },
      // 角色权限选择
      navData: [],
      defaultNavData: [],
      defaultProps: {
        children: 'children',
        label: 'caTitle'
      },
      childrenData: {}
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  created () {
    this.JsonToArray()
  },
  mounted () {
  },
  methods: {
    allopt () {
      let list = JSON.parse(JSON.stringify(this.specilOption))
      return list.map(v => v.permissionCode)
    },
    handleSpecailAllChange (val) {
      this.ruleForm.specialPermissionList = val ? this.allopt() : []
      this.isSpecailRight = false
    },
    handleCheckedSpecailChange (value) {
      let checkedCount = value.length
      this.SpecailCheckAll = checkedCount === this.specilOption.length
      this.isSpecailRight = checkedCount > 0 && checkedCount < this.specilOption.length
    },
    // 新增初始方法
    initNewAddFunc () {
      this.ruleForm.permissionList = ['managementAnnouncement', 'managementBroadcast']
    },
    getSiteRoleInfo (id) {
      let submitData = {}
      submitData.id = id
      this.loading = true
      let obj = this
      Api.tenantTrole(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(1111, res)
        let roleData = res.data.trole
        let permissionList = []
        if (roleData.permissionList && roleData.permissionList !== '') {
          permissionList = JSON.parse(roleData.permissionList)
        }
        // console.log(222, permissionList)
        let p = []
        for (let i = 0; i < permissionList.length; i++) {
          if (!this.childrenData[permissionList[i].permissionCode]) {
            continue
          }
          p.push(permissionList[i].permissionCode)
        }
        this.ruleForm.permissionList = p
        let specialPermissionList = []
        if (roleData.specialPermissionList && roleData.specialPermissionList !== '') {
          specialPermissionList = JSON.parse(roleData.specialPermissionList)
        }
        this.ruleForm.specialPermissionList = []
        for (let i = 0; i < specialPermissionList.length; i++) {
          this.ruleForm.specialPermissionList.push(specialPermissionList[i].permissionCode)
        }
        this.$nextTick(function () {
          obj.loading = false
        })
        // console.log(333)
      })
    },
    closeClear () {
      this.isAll = false
      this.navData = []
      for (let item in this.defaultNavData) {
        let navData = {}
        Object.assign(navData, this.defaultNavData[item])
        this.navData.push(navData)
      }
      this.ruleForm.specialPermissionList = []
      this.$emit('onClose')
      this.$refs.tree.setCheckedKeys([])
      // console.log('ruleForm', this.ruleForm.permissionList)
    },
    setCheckedNodes () {
      // 全选
      this.$refs.tree.setCheckedNodes(this.navData)
      this.ruleForm.permissionList = ['managementAnnouncement', 'managementBroadcast']
    },
    resetChecked () {
      // 全不选
      this.$refs.tree.setCheckedNodes([])
      this.ruleForm.permissionList = ['managementAnnouncement', 'managementBroadcast']
      this.isAll = false
    },
    JsonToArray () {
      // 角色权限数据转换
      let setJson = (obj) => {
        let AObj = {}
        if (obj.permissionCode !== 'flatform') {
          AObj.permissionCode = obj.permissionCode
          AObj.caTitle = obj.title
          AObj.key = obj.permissionCode
          let yObj = obj.children
          if (yObj) {
            AObj.children = setChildJson(yObj)
          }
        }
        return AObj
      }
      let setChildJson = (obj) => {
        let arr = []
        for (let i = 0; i < obj.length; i++) {
          let data = {}
          data['permissionCode'] = obj[i]['permissionCode']
          data['caTitle'] = obj[i]['title']
          data['key'] = obj[i]['permissionCode']
          // 判断平台消息，平台广播禁用
          if (obj[i]['permissionCode'] === 'managementAnnouncement' || obj[i]['permissionCode'] === 'managementBroadcast') {
            data['disabled'] = true
          }
          let yObj = obj[i]['children']
          if (yObj && yObj.length > 0) {
            data['children'] = setChildJson(yObj)
          } else {
            this.childrenData[data['permissionCode']] = data['permissionCode']
          }
          arr.push(data)
        }
        return arr
      }
      let submitData = {}
      this.loading = true
      let obj = this
      Api.tenantTpermissionList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let navData = res.data.tenantPermissionList
        // console.log('NAV', navData)
        for (let i = 0; i < navData.length; i++) {
          let objData = setJson(navData[i])
          this.navData.push(objData)
          this.defaultNavData.push(objData)
        }
        this.specilOption = []
        let specialTpermissionList = res.data.specialTpermissionList
        for (let i = 0; i < specialTpermissionList.length; i++) {
          this.specilOption.push(specialTpermissionList[i])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
        // console.log('navData', this.navData)
      })
      // console.log('NAV', nav)
      // nav.then(ref => {
      //   this.navData = setJson(ref)
      // })
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        // console.log(this.ruleForm)
        let permissionList = this.$refs.tree.getCheckedKeys(false)
        let halfPermissionList = this.$refs.tree.getHalfCheckedKeys()
        for (let item in halfPermissionList) {
          permissionList.push(halfPermissionList[item])
        }
        let permissionData = []
        for (let i = 0; i < permissionList.length; i++) {
          let tempPerssion = {}
          Object.assign(tempPerssion, {})
          tempPerssion.permissionCode = permissionList[i]
          permissionData.push(tempPerssion)
        }
        let specialPermissionList = []
        for (let i = 0; i < this.ruleForm.specialPermissionList.length; i++) {
          let tempPerssion = {}
          Object.assign(tempPerssion, {})
          tempPerssion.permissionCode = this.ruleForm.specialPermissionList[i]
          specialPermissionList.push(tempPerssion)
        }
        let submitData = {}
        submitData.name = this.ruleForm.name
        submitData.permissionList = JSON.stringify(permissionData)
        submitData.specialPermissionList = JSON.stringify(specialPermissionList)
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          submitData.id = this.ruleForm.id
          Api.updateTenantTrole(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            // console.log(res)
            this.$emit('newSiteRoleData', this.ruleForm)
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.addTenantTrole(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.$emit('newSiteRoleData', this.ruleForm)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.ruleForm.name = this.data.name
          this.ruleForm.permissionList = []
          // console.log(2222, this.ruleForm)
          this.title = false
          if (this.ruleForm.id && this.ruleForm.id !== '') {
            this.title = true
            this.getSiteRoleInfo(this.ruleForm.id)
          }
          if (!this.title) {
            this.initNewAddFunc()
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
