<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '房间编辑':'创建房间'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal room-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form autocomplete="off" :model="ruleForm" :label-position="screenW > 768 ? 'right':'top'"  status-icon :rules="rules" class="form "  size="small" ref="ruleForm" v-loading="loading" label-width="165px"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')"  @submit.native.prevent>
          <el-form-item label="房间头像">
            <input type="password" :style="{position: 'absolute', top: '-999px'}"/>
            <div class="img-upload">
              <el-upload
                class="avatar-uploader imgshow"
                ref="upload"
                action="/v1/management/tenant/updateTenantAppImg"
                name="image-file"
                :auto-upload="false"
                :show-file-list="false"
                accept="image/jpeg,image/png,image/gif"
                :on-change="handleChange"
                :on-error="handleOnError"
                :on-success="handleAvatarSuccess">
                <img v-if="ruleForm.avatar" :src="ruleForm.avatar" >
                <div class="img-off" v-else>
                  <i  class="el-icon-plus avatar-uploader-icon"></i>
                  <div class="upload-info">
                    点击上传图片
                    <span class="picture-size-style" >图片尺寸 <em>200*200</em></span>
                  </div>
                </div>
              </el-upload>
              <!--<i v-if="ruleForm.imageUrl" class="el-icon-error" @click="deleteImage"></i>-->
            </div>
          </el-form-item>
          <el-form-item label="房间名称" prop="title">
          <el-input placeholder="请输入1-10个字符" v-model="ruleForm.title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="房间描述" prop="subTitle">
          <el-input placeholder="请输入1-15个字符" v-model="ruleForm.subTitle" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="房间密码" prop="password">
          <el-input type="password" :placeholder="placeHolder" v-model="ruleForm.password" autocomplete="off"></el-input>
          </el-form-item>
          <div class="border-line"></div>
          <el-form-item label="开放等级" prop="roomGradeList" class="level-class">
          <multiple-select  :level="level"  class="level-items" v-model="ruleForm.roomGradeList"></multiple-select>
          </el-form-item>
          <el-form-item label="密码限制" prop="passwordGradeList" class="level-class">
          <multiple-select  :level="passwordGradeList" class="level-items" v-model="ruleForm.passwordGradeList"></multiple-select>
          </el-form-item>
          <el-form-item label="等级禁言" prop="bannedGradeList" class="level-class">
          <multiple-select  :level="bannedGradeList" class="level-items" v-model="ruleForm.bannedGradeList"></multiple-select>
          </el-form-item>
          <div class="border-line"></div>
          <!--<el-form-item label="访客访问链接" prop="registerLink" >-->
          <!--<el-input placeholder="请在网址后面加上/?chatroom" v-model="ruleForm.registerLink"></el-input>-->
          <!--</el-form-item>-->
          <el-form-item label="访客注册链接" prop="registerLink">
            <el-input placeholder="以HTTP://或HTTPS开头，可带上邀请码" v-model="ruleForm.registerLink"></el-input>
          </el-form-item>
          <div class="border-line"></div>
          <el-form-item label="成员发言最小间隔时间" prop="userMessageInterval"  >
          <el-input placeholder="单位秒" v-model="ruleForm.userMessageInterval"></el-input>
          </el-form-item>
          <el-form-item label="访客发言最小间隔时间" prop="guestMessageInterval"  >
          <el-input placeholder="单位秒" v-model="ruleForm.guestMessageInterval"></el-input>
          </el-form-item>
          <div class="border-line"></div>
          <el-form-item label="管理员允许发言字符数" prop="managerMessageLength" >
          <el-input placeholder="请输入1-500个字符" v-model="ruleForm.managerMessageLength"></el-input>
          </el-form-item>
          <el-form-item label="成员允许发言字符数" prop="userMessageLength"  >
          <el-input placeholder="请输入1-500个字符" v-model="ruleForm.userMessageLength"></el-input>
          </el-form-item>
          <el-form-item label="访客允许发言字符数" prop="guestMessageLength"  >
          <el-input placeholder="请输入1-500个字符" v-model="ruleForm.guestMessageLength"></el-input>
          </el-form-item>
          <div class="border-line"></div>
          <el-form-item label="成员允许发言类型" prop="userMessageCharList" class="rwd-turnoff" >
          <el-radio-group v-model="ruleForm.userMessageCharList">
          <el-radio-button label="2">中文</el-radio-button>
          <el-radio-button label="3">英文</el-radio-button>
          <el-radio-button label="1">数字</el-radio-button>
          <el-radio-button label="0">不限</el-radio-button>
          </el-radio-group>
          </el-form-item>
          <el-form-item label="访客允许发言类型" prop="guestMessageCharList" class="rwd-turnoff">
          <el-radio-group v-model="ruleForm.guestMessageCharList">
          <el-radio-button label="2">中文</el-radio-button>
          <el-radio-button label="3">英文</el-radio-button>
          <el-radio-button label="1">数字</el-radio-button>
          <el-radio-button label="0">不限</el-radio-button>
          </el-radio-group>
          </el-form-item>
          <el-form-item label="在线列表显示" prop="guestMessageCharList" class="rwd-turnoff">
            <el-radio-group v-model="ruleForm.isShowList">
              <el-radio-button label="0">仅管理员可见</el-radio-button>
              <el-radio-button label="1">所有人可见</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <div class="border-line"></div>
          <el-form-item label="房间介绍" prop="content">
          <!--<el-input type="textarea" :rows="5" placeholder="请输入1-500个字符" v-model="ruleForm.content"></el-input>-->
            <medium-editor
              ref="mbContent"
              v-model="ruleForm.content"
              :use-at-user="false"
              :contenteditable="true"
              :able-upload="false"
              :editGuideBtn="false"
              :isUploadCompression="true"
              :options="mediumOptions"
            ></medium-editor>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
import {gradeVIPList} from '@/utils/config'
import {validateRules} from '@/utils/validateRules'
import {fileToImage} from '@/utils/convert'
import MultipleSelect from '@/components/MultipleSelect'
import md5 from 'js-md5/build/md5.min'
import {chatImgHost} from '@/filters'
import MediumEditor from '@/components/editor/MediumEditor'
let defaultdata = () => {
  return {
    avatar: '',
    title: '',
    subTitle: '',
    password: '',
    roomGradeList: {isChangeValue: false, value: []},
    passwordGradeList: {isChangeValue: false, value: []},
    bannedGradeList: {isChangeValue: false, value: []},
    registerLink: '',
    userMessageInterval: '',
    guestMessageInterval: '',
    managerMessageLength: '',
    userMessageLength: '',
    userMessageCharList: '0',
    guestMessageLength: '',
    content: '',
    guestMessageCharList: '0',
    roomCode: '',
    isShowList: 1
  }
}
export default {
  data () {
    let validatePassword = (rule, value, callback) => {
      if ((this.ruleForm.password !== '' && this.ruleForm.roomCode) || this.data.roomCode === '' || this.data.roomCode === undefined || this.data.roomCode === null) {
        if (value === undefined || value === null || (value && value.toString().trim() === '')) {
          callback(new Error('请输入密码'))
          return
        }
        if (!/^\d+$/.test(value)) {
          callback(new Error('只能输入数字'))
          return
        }
        if (value.length !== 4) {
          callback(new Error('只能输入4个数字'))
          return
        }
      }

      callback()
    }
    let ruleManagerMessageLength = (rule, value, callback) => {
      if (!/^\d+$/.test(value)) {
        callback(new Error('只能输入数字'))
        return
      }
      if (Number(value) < 1 || Number(value) > 500) {
        callback(new Error('请输入1到500个字符'))
        return
      }
      callback()
    }
    let ruleUserMessageInterval = (rule, value, callback) => {
      if (!/^\d+$/.test(value)) {
        callback(new Error('只能输入数字'))
        return
      }
      if (Number(value) < 0 || Number(value) > 60) {
        callback(new Error('可设置范围0-60'))
        return
      }
      callback()
    }
    let ruleGuestMessageInterval = (rule, value, callback) => {
      if (!/^\d+$/.test(value)) {
        callback(new Error('只能输入数字'))
        return
      }
      if (Number(value) < 2 || Number(value) > 60) {
        callback(new Error('可设置范围2-60'))
        return
      }
      callback()
    }
    let validateUrl = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '访客注册链接'},
        'url': {msg: '格式错误，请输入域名格式，需以http://或https://开头'},
        'maxlength': {param: '127', msg: '最大值不能超过127位'},
        'minlength': {param: '6', msg: '最小值不能低于6位'}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      level: gradeVIPList,
      passwordGradeList: gradeVIPList,
      bannedGradeList: gradeVIPList,
      fileData: {},
      placeHolder: '请输入4个数字',
      ruleForm: {
        avatar: '',
        title: '',
        subTitle: '',
        password: '',
        roomGradeList: {isChangeValue: false, value: []},
        passwordGradeList: {isChangeValue: false, value: []},
        bannedGradeList: {isChangeValue: false, value: []},
        registerLink: '',
        userMessageInterval: '',
        guestMessageInterval: '',
        managerMessageLength: '',
        userMessageLength: '',
        userMessageCharList: '0',
        guestMessageLength: '',
        content: '',
        guestMessageCharList: '0',
        roomCode: '',
        isShowList: 1
      },
      mediumOptions: {
        placeholder: {
          text: '请输入1-500个字符',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome'
      },
      rules: {
        title: [
          { required: true, message: '请输入房间名称', trigger: 'blur' },
          { max: 10, message: '长度在 1 到 10 个字符', trigger: 'blur' }
        ],
        subTitle: [
          { required: true, message: '请输入房间描述', trigger: 'blur' },
          { max: 15, message: '长度在 1 到 15 个字符', trigger: 'blur' }
        ],
        password: [
          { required: true, validator: validatePassword, trigger: 'blur' }
        ],
        registerLink: [
          { required: true, validator: validateUrl, trigger: 'blur' }
        ],
        userMessageInterval: [
          { required: true, message: '请输入成员发言最小间隔时间', trigger: 'blur' },
          { validator: ruleUserMessageInterval, trigger: 'blur' }
        ],
        guestMessageInterval: [
          { required: true, message: '请输入访客发言最小间隔时间', trigger: 'blur' },
          { validator: ruleGuestMessageInterval, trigger: 'blur' }
        ],
        managerMessageLength: [
          { required: true, message: '请输入管理员允许发言字符数', trigger: 'blur' },
          { validator: ruleManagerMessageLength, trigger: 'blur' }
        ],
        userMessageLength: [
          { required: true, message: '请输入成员允许发言字符数', trigger: 'blur' },
          { validator: ruleManagerMessageLength, trigger: 'blur' }
        ],
        guestMessageLength: [
          { required: true, message: '请输入访客允许发言字符数', trigger: 'blur' },
          { validator: ruleManagerMessageLength, trigger: 'blur' }
        ],
        content: [
          { required: true, message: '请输入房间介绍', trigger: 'blur' },
          { min: 1, max: 500, message: '长度在 1 到 500 个字符', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.ruleForm.roomCode = ''
      this.ruleForm.avatar = ''
      this.fileData = {}
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    handleChange (file, fileList) {
      if (fileList.length > 1) {
        fileList.splice(0, 1)
      }
      let obj = this
      const isLt2M = file.raw.size / 1024 / 1024 < 2
      if (!isLt2M) {
        obj.msgError('上传头像图片大小不能超过 2MB')
        return false
      }
      fileToImage(file.raw, function (imageFile) {
        imageFile.onload = function () {
          let width = imageFile.width
          let height = imageFile.height
          const isWidth = width === 200
          const isHeight = height === 200
          // console.log('123' + file)
          if (!isWidth || !isHeight) {
            obj.msgError('图片尺寸要求【宽度：200px 高度：200px]')
            return false
          }
          obj.fileData.imageFile = file
          obj.ruleForm.avatar = imageFile.src
          // obj.ruleForm.isDeleteImg = false
          return isLt2M && isWidth && isHeight
        }
      })
    },
    handleOnError (errorData, file, fileList) {
      this.submitLoading = false
      this.msgError('上传图片失败')
    },
    handleAvatarSuccess (res, file) {
      // console.log(res)
      // this.fileData = {}
      // if (Number(res.code) !== 1) {
      //   this.msgError(res.msg)
      //   this.submitLoading = false
      //   return
      // }
      // this.updateTenantAppOther()
    },
    submitForm (formName) {
      this.submitLoading = true
      let submitData = new FormData()
      for (let item in this.ruleForm) {
        if (item === 'roomGradeList') {
          submitData.append(item, this.ruleForm.roomGradeList.value.join(','))
          continue
        }
        if (item === 'passwordGradeList') {
          submitData.append(item, this.ruleForm.passwordGradeList.value.join(','))
          continue
        }
        if (item === 'bannedGradeList') {
          submitData.append(item, this.ruleForm.bannedGradeList.value.join(','))
          continue
        }
        if (item === 'avatar') {
          continue
        }
        if (item === 'password') {
          if (this.ruleForm.password === '' && this.ruleForm.roomCode) {
            continue
          }
          submitData.append('password', md5(this.ruleForm.password))
          continue
        }
        // submitData.append('oldPassword', md5(name + md5(this.ruleForm.oldPassword)))
        // if (this.ruleForm.newPassword) {
        //   submitData.append('newPassword', md5(name + md5(this.ruleForm.newPassword)))
        // }
        submitData.append(item, this.ruleForm[item])
      }
      if (this.data.roomCode === '' || this.data.roomCode === undefined || this.data.roomCode === null) {
        if (!this.fileData.imageFile) {
          this.submitLoading = false
          this.msgError('请上传房间logo')
          return
        }
      }
      if (this.fileData.imageFile) {
        submitData.append('file', this.fileData.imageFile.raw, this.fileData.imageFile.name)
      }
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        if (this.ruleForm.roomCode && this.ruleForm.roomCode !== '') {
          Api.updateRoom(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.ruleForm = defaultdata()
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return true
        }
        Api.addRoom(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.ruleForm = defaultdata()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          console.log(this.data)
          if (this.data.roomCode) {
            this.ruleForm.roomCode = this.data.roomCode
          }
          this.title = false
          if (this.data.roomCode) {
            this.placeHolder = '****'
            this.title = true
            let submitData = {}
            submitData.roomCode = this.ruleForm.roomCode
            let obj = this
            this.loading = true
            Api.getRoom(submitData, function () {
              obj.loading = false
            }).then((res) => {
              this.ruleForm.avatar = chatImgHost(res.data.avatar)
              this.ruleForm.title = res.data.title
              this.ruleForm.subTitle = res.data.subTitle
              this.ruleForm.registerLink = res.data.registerLink
              this.ruleForm.userMessageInterval = res.data.userMessageInterval
              this.ruleForm.guestMessageInterval = res.data.guestMessageInterval
              this.ruleForm.managerMessageLength = res.data.managerMessageLength
              this.ruleForm.userMessageLength = res.data.userMessageLength
              this.ruleForm.guestMessageLength = res.data.guestMessageLength
              this.ruleForm.userMessageCharList = res.data.userMessageCharList
              this.ruleForm.guestMessageCharList = res.data.guestMessageCharList
              this.ruleForm.isShowList = res.data.isShowList
              this.ruleForm.content = res.data.content
              if (!res.data.gradeList) {
                res.data.gradeList = ''
              }
              // roomGradeList
              let roomGradeList = {}
              Object.assign(roomGradeList, {})
              roomGradeList.isChangeValue = false
              roomGradeList.value = []
              if (res.data.roomGradeList && res.data.roomGradeList !== '') {
                roomGradeList.value = res.data.roomGradeList.toString().split(',').map(v => +v)
                res.data.roomGradeList = roomGradeList
              } else {
                res.data.roomGradeList = roomGradeList
              }
              this.ruleForm.roomGradeList = res.data.roomGradeList
              this.$nextTick(function () {
                obj.loading = false
              })
              if (!res.data.roomGradeList) {
                res.data.roomGradeList = ''
              }
              // passwordGradeList
              let passwordGradeList = {}
              Object.assign(passwordGradeList, {})
              passwordGradeList.isChangeValue = false
              passwordGradeList.value = []
              if (res.data.passwordGradeList && res.data.passwordGradeList !== '') {
                passwordGradeList.value = res.data.passwordGradeList.toString().split(',').map(v => +v)
                res.data.passwordGradeList = passwordGradeList
              } else {
                res.data.passwordGradeList = passwordGradeList
              }
              this.ruleForm.passwordGradeList = res.data.passwordGradeList
              this.$nextTick(function () {
                obj.loading = false
              })
              // passwordGradeList
              let bannedGradeList = {}
              Object.assign(bannedGradeList, {})
              bannedGradeList.isChangeValue = false
              bannedGradeList.value = []
              if (res.data.bannedGradeList && res.data.bannedGradeList !== '') {
                bannedGradeList.value = res.data.bannedGradeList.toString().split(',').map(v => +v)
                res.data.bannedGradeList = bannedGradeList
              } else {
                res.data.bannedGradeList = bannedGradeList
              }
              this.ruleForm.bannedGradeList = res.data.bannedGradeList
              this.$nextTick(function () {
                obj.loading = false
              })
            })
          }
        })
      }
    },
    data (nv) {
    }
  },
  components: {
    MultipleSelect,
    MediumEditor
  }
}
</script>
<style>
  .room-modal.mini-reveal-modal{
    max-width: 640px;
  }
</style>
