<template>
  <div class="bind-bank-card">
    <el-dialog
      :visible.sync="showBlogForm"
      title="可绑定银行卡设置"
      @close="closeClear"
      :width="screenW>768?'300px':'100%'"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>

            <el-form-item label="" prop="checkList" :class="'bankcard-set'">
              <el-checkbox-group v-model="ruleForm.checkList">
                <el-checkbox v-for="(item,index) in bankList" :label="item.id" :key="index">{{item.bankName}}</el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <div class="text-style">*会员只可绑定已勾选银行的银行卡</div>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
// import {bank} from '@/utils/config'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      value1: true,
      value2: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rules: {},
      ruleForm: {
        checkList: []
      },
      bankList: []
    }
  },
  props: {
    visible: Boolean
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  mounted () {
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.loading = true
      this.updateBatchBankInfo()
    },
    // 设置可绑定银行卡
    updateBatchBankInfo () {
      let ids = this.ruleForm.checkList
      let submitData = {
        ids: ids.join(',')
      }
      Api.updateBatchBankInfo(submitData, () => {
        this.loading = false
      }).then(res => {
        this.loading = false
        if (res.code === 1) {
          this.msgSuccess('保存成功')
          this.closeClear()
        }
      }).catch(e => {
        this.loading = false
      })
    },
    setBankSelect (arr) {
      if (!arr || !arr[0]) return []
      let list = arr.filter(v => v.isEnabled)
      let data = []
      if (list.length) {
        list.forEach(v => {
          data.push(v.id)
        })
      } else {
        // arr.forEach(v => {
        //   if (v.bankName.indexOf('其它银行') === -1) {
        //     data.push(v.id)
        //   }
        // })
      }
      this.ruleForm.checkList = data
    },
    queryBankInfo (type) {
      let submitData = {
        type: type || -1
      }
      Api.queryBankInfo(submitData, () => {
        this.loading = false
      }).then(res => {
        this.loading = false
        if (res.code === 1) {
          this.bankList = res.data
          this.setBankSelect(res.data)
        }
      }).catch(e => {
        this.loading = false
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.queryBankInfo()
        // this.loading = true
      }
    }
  }
}
</script>
<style>
.bankcard-set{
  margin-bottom: 10px!important;
  & label{
    display: flex;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px!important;
    & > span{
      &:nth-of-type(2){

      }
    }
  }
}
.bind-bank-card{
  & .el-dialog__header{
    padding: 15px 26px!important;
  }
  & .el-form .el-form-item{
    margin-bottom: 10px!important;
  }
  & .el-dialog__headerbtn{
    right: 26px;
  }
  & .el-dialog__body{
    padding: 16px 20px!important;
  }
  & .el-dialog__footer{
    padding: 20px 27px 35px !important;
  }
}
</style>
