<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="'玩法说明编辑'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-position="top" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item :label="'彩种名称'" prop="lotteryName">
              <template>
                <el-input v-model="ruleForm.lotteryName"  disabled size="min"></el-input>
              </template>
            </el-form-item>
            <el-form-item label="玩法说明" class="content-style" prop="lotteryContent" >
              <medium-editor
                ref="content"
                v-model="ruleForm.lotteryContent"
                @paste-event="uploadClipboardImage"
                :use-at-user="false"
                :contenteditable="true"
                :able-upload="true"
                :options="mediumOptions"
              ></medium-editor>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        lotteryCode: '',
        lotteryName: '',
        lotteryContent: ''
      },
      rules: {
        lotteryContent: [
          { required: true, message: '请输入内容', trigger: 'blur' }
        ]
      },
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholder: {
          text: '在这里分享你的正文...',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'indent', 'outdent', 'justifyLeft', 'justifyCenter', 'justifyFull', 'orderedlist', 'unorderedlist', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'fontBgColor', 'removeFormat']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let data = this.ruleForm
        let submitData = {
          lotteryCode: data.lotteryCode,
          content: data.lotteryContent
        }
        Api.setPlayInfo(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })

        return true
      })
    }
  },
  components: {
    MediumEditor
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        let data = this.data
        this.ruleForm = {
          lotteryCode: data.lotteryCode,
          lotteryName: data.lotteryName,
          lotteryContent: data.lotteryContent
        }
      }
    }
  }
}
</script>
