<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="测试账号设置"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" :rules="rules"  size="small" ref="ruleForm"  v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="注册初始金额" prop="amount" class="money-input100">
            <el-input-number  type="number" :controls="false"  v-model="ruleForm.amount" :min="0" :precision="0" :max="999999" auto-complete="off" placeholder="请输入测试账号初始金额" ></el-input-number>
            <div class="text-style">(设置范围0-999999元)</div>
          </el-form-item>
          <el-form-item label="前台显示等级" prop="gradeShow">
            <el-input v-model="ruleForm.gradeShow"></el-input>
          </el-form-item>
          <el-form-item label="前台显示头衔" prop="gradeName">
            <el-input v-model="ruleForm.gradeName"></el-input>
          </el-form-item>
          <div class="text-style">温馨提示：等级头衔修改后，只改变前台显示，后台不变。</div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button @click="submitForm('ruleForm')" size="mini"  type="primary" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let ruleNumber = (rule, value, callback) => {
      let Str = value.replace(/[\u4e00-\u9fa5]/g, 'aa')
      let StrNumber = Str.length
      if (StrNumber > 8 || StrNumber < 2) {
        callback(new Error('请输入1-4个汉字或2-8个字符'))
        return
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        amount: null,
        gradeName: '测试组',
        gradeShow: '试玩'
      },
      rules: {
        amount: [
          { required: true, message: '请输入初始金额', trigger: 'blur' }
        ],
        gradeShow: [
          { required: true, message: '请输入前台显示等级', trigger: 'blur' },
          { validator: ruleNumber, trigger: 'blur' }
        ],
        gradeName: [
          { required: true, message: '请输入前台显示头衔', trigger: 'blur' },
          { validator: ruleNumber, trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    Number (value) {
      let number = value.replace(/[\u4e00-\u9fa5]/g, 'aa')
      console.log(number)
    },
    submitForm (formName) {
      this.submitLoading = true
      let number = this.ruleForm.gradeName.replace(/[\u4e00-\u9fa5]/g, 'aa')
      let s = number.length
      console.log(s)
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        let parame = {
          amount: parseInt(this.ruleForm.amount),
          gradeName: this.ruleForm.gradeName,
          gradeShow: this.ruleForm.gradeShow
        }
        Api.updateTestAccountInfo(parame).then(res => {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    closeClear () {
      this.resetForm('ruleForm')
      this.$emit('onClose')
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          Api.queryTestAccountInfo().then(res => {
            if (res.code === 1) {
              this.ruleForm = {
                amount: res.data.amount,
                gradeName: res.data.gradeName,
                gradeShow: res.data.gradeShow
              }
            }
            this.$nextTick(function () {
              this.loading = false
            })
          })
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
  .money-input100  {
    position: relative;
    & .text-style {
      position: absolute;
      left: 109px;
      top: 0;
    }
    & .el-input-number--small{
      width: 100% !important;
    }
    & .el-input__inner{
      text-align: left !important;
      padding: 0 8px !important;
    }
  }
</style>
