<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="站长编码列表"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal tenantCode-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
         <ul>
           <li class="th"><div class="cell">站长编码</div></li>
           <div class="scrol-style">
             <li v-for="(items, index) in tenantCode" :key="index"><div class="cell">{{items}}</div></li>
           </div>
         </ul>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {}
    }
  },
  props: {
    visible: Boolean,
    tenantCode: Array
  },
  methods: {
    closeClear () {
      this.selectData = {}
      this.$emit('onClose')
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        // let arry = []
        // let str = this.data.split(',')
        // for (let i = 0; i < str.length; i++) {
        //   arry.push(str[i])
        // }
        // this.selectData = arry
      }
    }
  }
}
</script>
<style>
  .tenantCode-modal{
    max-width: 350px;
    & ul {
      border: 1px solid var(--color-border);
      list-style: none;
      & li:not(:last-child){
        border-bottom: 1px solid var(--color-border);
      }
    }
    & .cell{
      padding: 6px 10px;
    }
    & .th {
      background: var(--color-titlebackground);
      color: #333;
      font-weight: bold;
    }
    & .scrol-style{
      max-height: 255px;
      overflow-x: scroll;
    }
  }
</style>
