<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="昵称编辑"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input placeholder="请输入会员账号" v-model="ruleForm.userName" :disabled="true"></el-input>
          </el-form-item>
          <el-form-item label="昵称" prop="nickName">
            <el-input placeholder="请输入昵称" size="min" v-model="ruleForm.nickName">
            </el-input>
          </el-form-item>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input placeholder="请输入站长编码" size="min" v-model="ruleForm.tenantCode" :disabled="true">
            </el-input>
          </el-form-item>
          <el-form-item label="注册时间" prop="registerTime">
            <!--<el-date-picker-->
              <!--class="widthAuto"-->
              <!--size="small"-->
              <!--v-model="ruleForm.registerTime"-->
              <!--type="datetime"-->
              <!--:disabled="true"-->
              <!--placeholder="请输选择注册时间">-->
            <!--</el-date-picker>-->
            <el-input placeholder="请输入注册时间" size="min" v-model="ruleForm.registerTime" :disabled="true">
            </el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import {validateRules} from '@/utils/validateRules'
export default {
  name: 'aaa',
  data () {
    let validateNickName = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'isChineseChar': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        nickName: '',
        tenantCode: '',
        registerTime: ''
      },
      rules: {
        nickName: [
          { required: true, message: '请输入昵称', trigger: 'blur' },
          {min: 1, max: 5, message: '长度在 1 到 5 个字符', trigger: 'blur'},
          { validator: validateNickName, trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        submitData.userId = this.ruleForm.userId
        submitData.nickName = this.ruleForm.nickName
        Api.manageUpdateUserNickName(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        // console.log(this.data)
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.userId = this.data.userId
          this.ruleForm.userName = this.data.userName
          this.ruleForm.nickName = this.data.nickName
          this.ruleForm.tenantCode = this.data.tenantCode
          this.ruleForm.registerTime = this.data.registerTime
          this.loading = false
        })
      }
    }
  }
}
</script>
<style scoped>
  .width150 {
    width: 380px;
  }
  .el-form {
    width: 100%;
  }
  @media screen and (max-width:1023px){

    .width150 {
      width: 100%;
    }
    .admin-btn{
      & .el-form-item__content{
        display:inline-block;
        margin-left:10px;
      }
    }
  }
</style>
