<template>
  <el-dialog
    :visible.sync="showBlogForm"
    :close-on-click-modal="false"
    @close="closeClear"
    custom-class="pic-reveal-modal activity-modal"
    :title="title ? '活动编辑':'新增活动'">
    <div v-if="statusFetch">数据加载中...</div>
    <template v-else>
      <el-form :rules="rules" label-position="top" :model="ruleForm" ref="ruleForm" v-loading="loading"
               element-loading-customClass="loadingClass" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
        <el-form-item label="活动名称" prop="name" :label-width="'60px'">
          <el-input v-model="ruleForm.name" :disabled="readOnly" auto-complete="off" placeholder="请输入活动标题2-25个字符"></el-input>
        </el-form-item>
        <!--<div class="tab-header">-->
        <!--<div :class="{active: activeName === 'activityPC'}" @click="activeName = 'activityPC'">PC端活动发布</div>-->
        <!--<div :class="{active: activeName === 'activityMB'}" @click="activeName = 'activityMB'">手机端活动发布</div>-->
        <!--</div>-->
        <el-tabs v-model="activeName" type="card" @tab-click="resizePreviewCanvas">
          <el-tab-pane label="PC端活动发布" name="activityPC" class="pc-activity">
            <section class="tab-con" v-show="activeName === 'activityPC'">
              <el-form-item label="活动标图" class="form" prop="pcTitleImg">
                <!--<el-row :gutter="16">-->
                  <!--<el-col :md="17" >-->
                    <div class="update-area pc-cropper-wrapper">
                      <simple-croppa
                        :width="pcLimitWidth"
                        :height="pcLimitHeight"
                        :previewWidth="previewWidthPC"
                        :previewHeight="previewHeightPC"
                        :backgroundShow="false"
                        :placeholder="placeholder"
                        ref="activityCoverPC"
                        v-model="coverCroppaPC"
                        :adjustBtnShow="true"
                        :zoomSpeed="20"
                        :recommends="[]"
                        @move="handleCoverMove"
                        @zoom="handleCoverZoom"
                        @new-image="handleCoverNewImage"
                        @image-remove="handleCoverRemove"
                        :initImage="pcTitleImg"
                      >
                      <span slot="operArea" class="oper-area">
                        <el-button-group>
                          <!--<el-button type="primary" icon="fa fa-camera-retro" size="mini" @click="$refs.activityCoverPC.chooseFile()" title="选择图片"></el-button>-->
                          <el-button type="primary" icon="el-icon-close" size="mini" title="移除图片" @click="coverCroppaPC.remove()"></el-button>
                        </el-button-group>
                     </span>
                      <span slot="cover" class="cover" @click="coverCroppaPC.remove();coverCroppaPC.chooseFile()">
                      <span class="flag"><i class="fa fa-camera-retro"></i></span>
                      <span class="text-center picture-size-style" >图片尺寸 <em>{{pcLimitWidth}}*{{pcLimitHeight}}</em></span>
                        </span>
                      </simple-croppa>
                    </div>
                  <!--</el-col>-->
                  <!--<el-col :md="7">-->
                    <!--<section class="nor-method">-->
                      <!--<header>温馨提醒：</header>-->
                      <!--<p>图片上传尺寸<em class="size-style">{{pcLimitWidth + '*' + pcLimitHeight}}</em></p>-->
                      <!--<p>可以点击上传或者图片窗口选择图片和参考海报！</p>-->
                      <!--<p class="no-margin">一张漂亮的海报，能让你的活动锦上添花，带来更多用户报名及增加传播效果，也将影响该活动被推广的几率！</p>-->
                    <!--</section>-->
                  <!--</el-col>-->
                <!--</el-row>-->
              </el-form-item>
              <el-form-item label="活动简介" prop="pcTitle">
                <label slot="label">活动简介
                  <!--<el-button type="text" class="color-info margin-l6">提取</el-button>-->
                </label>
                <el-input
                  placeholder="请输入活动简介2-40个字符"
                  v-model="ruleForm.pcTitle">
                </el-input>
              </el-form-item>
              <el-form-item label="活动内容" prop="pcContent" :class="{'no-title': title}">
                <medium-editor
                  ref="pcContent"
                  v-model="ruleForm.pcContent"
                  @paste-event="uploadClipboardImage"
                  :use-at-user="false"
                  :contenteditable="true"
                  :able-upload="false"
                  :uploadAction="uploadUrl"
                  :uploadData="uploadPCData"
                  :uploadName="uploadName"
                  :options="mediumOptions"
                  :limitedHeight="pcContentLimitHeight"
                  :limitedWidth="pcContentLimitWidth"
                  :type="true"
                ></medium-editor>
              </el-form-item>
            </section>
          </el-tab-pane>
          <el-tab-pane label="Mobile端活动发布" name="activityMB" class="mb-activity">
            <section v-show="activeName === 'activityMB'">
              <el-form-item label="活动标图" class="pic-activity" prop="mbTitleImg">
                <!--<el-row :gutter="16">-->
                  <!--<el-col :md="17" >-->
                <div class="update-area mb-cropper-wrapper">
                  <simple-croppa
                    :width="mbLimitWidth"
                    :height="mbLimitHeight"
                    :previewWidth="previewWidthMB"
                    :previewHeight="previewHeightMB"
                    :backgroundShow="false"
                    :placeholder="placeholder"
                    ref="activityCoverMB"
                    v-model="coverCroppaMB"
                    :adjustBtnShow="true"
                    :zoomSpeed="20"
                    :recommends="[]"
                    @move="handleCoverMove"
                    @zoom="handleCoverZoom"
                    @new-image="handleCoverNewImage"
                    @image-remove="handleCoverRemove"
                    :initImage="mbTitleImg"
                  >
                    <!--<span slot="operArea" class="oper-area">-->
                    <!--<el-button type="primary" icon="close" size="small" @click="coverCroppa.remove()"></el-button>-->
                    <!--</span>-->
                    <span slot="operArea" class="oper-area">
                      <el-button-group>
                        <!--<el-button type="primary" icon="fa fa-camera-retro" size="mini" @click="$refs.activityCoverMB.chooseFile()" title="选择图片"></el-button>-->
                        <el-button type="primary" icon="el-icon-close" size="mini" title="移除图片" @click="coverCroppaMB.remove()"></el-button>
                      </el-button-group>
                    </span>
                    <span slot="cover" class="cover" @click="coverCroppaMB.remove();coverCroppaMB.chooseFile()">
                      <!--<span>活动海报</span>-->
                        <span class="flag"><i class="fa fa-camera-retro"></i></span>
                        <span class="text-center picture-size-style" >图片尺寸<em>{{mbLimitWidth}}*{{mbLimitHeight}}</em></span>
                      </span>
                  </simple-croppa>
                </div>
                  <!--</el-col>-->
                  <!--<el-col :md="7" >-->
                    <!--&lt;!&ndash;<el-button  size="small" type="primary" icon="picture" @click="avatorVisible = true">设置封面</el-button>&ndash;&gt;-->
                    <!--<section class="nor-method">-->
                      <!--<header>温馨提醒：</header>-->
                      <!--<p>图片上传尺寸<em class="size-style">{{mbLimitWidth + '*' + mbLimitHeight}}</em></p>-->
                      <!--<p>可以点击上传或者图片窗口选择图片和参考海报！</p>-->
                      <!--<p class="no-margin">一张漂亮的海报，能让你的活动锦上添花，带来更多用户报名及增加传播效果，也将影响该活动被推广的几率！</p>-->
                    <!--</section>-->
                  <!--</el-col>-->
                <!--</el-row>-->
              </el-form-item>
              <el-form-item label="活动简介" prop="mbTitle">
                <label slot="label">活动简介
                  <!--<el-button type="text" class="color-info margin-l6">提取</el-button>-->
                </label>
                <el-input
                  placeholder="请输入活动简介2-40个字符"
                  v-model="ruleForm.mbTitle">
                </el-input>
              </el-form-item>
              <el-form-item label="活动内容" prop="mbContent" :class="{'no-title': title}">
                <medium-editor
                  ref="mbContent"
                  v-model="ruleForm.mbContent"
                  @paste-event="uploadClipboardImage"
                  :use-at-user="false"
                  :contenteditable="true"
                  :able-upload="false"
                  :uploadAction="uploadUrl"
                  :uploadData="uploadMBData"
                  :uploadName="uploadName"
                  :options="mediumOptions"
                  :limitedHeight="mbContentLimitHeight"
                  :limitedWidth="mbContentLimitWidth"
                  :type="true"
                ></medium-editor>
                <!--<editor v-model="activity.content" :disabled="readOnly" style="min-height:200px;"></editor>-->
              </el-form-item>
            </section>
          </el-tab-pane>
        </el-tabs>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <!--<el-checkbox class="float-left" v-if="!editModel" v-model="activity.publishPC">发布到PC端</el-checkbox>-->
        <!--<el-checkbox class="float-left" v-if="!editModel" v-model="activity.publishMB">发布到手机端</el-checkbox>-->
        <el-button @click="showBlogForm = false" size="mini">取 消</el-button>
        <el-button :disabled="submitLoading" type="primary" size="mini"  @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
      </div>
      <!--導覽頁的黑背景和定位圖-->
      <transition name="el-fade-in-linear">
        <div class="guide-box" v-show="guidePic">
          <!--<img src="/static/activity_guide01.png" alt="">-->
          <img :src="'/system/activity/guide/activity_guide01.png' | imgHost" alt="">
          <div @click="guidePicbox" class="guide-close"><i class="el-icon-error" ></i>关闭</div>
        </div>
      </transition>
      <transition name="el-fade-in-linear">
        <div class="bg" v-show="guidePic"></div>
      </transition>
    </template>
  </el-dialog>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import SimpleCroppa from '@/components/SimpleCroppa'
import Api from '@/api/activity'
import {imgHost} from '@/filters'
export default {
  components: {
    MediumEditor,
    SimpleCroppa
  },
  props: {
    data: Object,
    visible: {
      type: Boolean,
      default: () => {
        return false
      }
    }
  },
  data () {
    return {
      guidePic: false,
      title: false,
      previewWidthPC: 505,
      previewHeightPC: 220,
      computedMB: 0,
      previewWidthMB: 505,
      previewHeightMB: 220,
      pcLimitWidth: 1,
      pcLimitHeight: 1,
      mbLimitWidth: 1,
      mbLimitHeight: 1,
      coverCroppaMB: null,
      coverCroppaPC: null,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      activeName: 'activityPC',
      picsize: '680*170',
      picsizeMB: '640*260',
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholder: {
          text: '在这里分享你的正文...',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'bold', 'italic', 'underline', 'strikethrough', 'fontSize', 'fontColor', 'fontBgColor', 'removeFormat', 'html', 'quote', 'anchor', 'image', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'superscript', 'subscript', 'orderedlist', 'unorderedlist', 'pre', 'outdent', 'indent', 'table']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      },
      statusFetch: false,
      width: 640,
      height: 170,
      rules: {
        name: [
          {required: true, message: '请输入活动标题', trigger: 'blur'},
          {min: 2, max: 25, message: '长度在 2 到 25 个字符', trigger: 'blur'}
        ],
        pcTitle: [
          {required: true, message: '请输入PC版活动简介', trigger: 'blur'},
          {min: 2, max: 40, message: '长度在 2 到 40 个字符', trigger: 'blur'}
        ],
        pcContent: [
          {required: true, message: '请输入PC版活动内容', trigger: 'blur'}
        ],
        mbTitle: [
          {required: true, message: '请输入手机版活动简介', trigger: 'blur'},
          {min: 2, max: 40, message: '长度在 2 到 40 个字符', trigger: 'blur'}
        ],
        mbContent: [
          {required: true, message: '请输入手机版活动内容', trigger: 'blur'}
        ],
        pcTitleImg: [
          {required: true, message: '请上传PC版活动海报', trigger: 'blur'}
        ],
        mbTitleImg: [
          {required: true, message: '请上传手机版活动海报', trigger: 'blur'}
        ]
      },
      showBlogForm: false,
      content: '',
      ruleForm: {
        name: '',
        pcTitle: '',
        mbTitle: '',
        pcContent: '',
        mbContent: '',
        pcTitleImg: '',
        mbTitleImg: ''
      },
      avatorVisible: false,
      // placeholder: '请选择活动海报',
      placeholder: '',
      selectIndex: -1,
      pcTitleImg: '',
      mbTitleImg: '',
      uploadPCData: {sourceType: 'pc'},
      uploadMBData: {sourceType: 'mobile'},
      uploadName: 'uploadImage',
      uploadUrl: '/v1/activity/uploadSysActivityImage',
      pcContentLimitWidth: 0,
      pcContentLimitHeight: 0,
      mbContentLimitWidth: 0,
      mbContentLimitHeight: 0
    }
  },
  computed: {
    readOnly () {
      return false
    },
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          let containPC = document.querySelector('.pc-cropper-wrapper')
          let offsetWidthPC = containPC.offsetWidth
          let heightPC = offsetWidthPC * 0.25
          containPC.style.height = heightPC + 'px'

          if (this.screenW <= 800) {
            this.previewWidthPC = offsetWidthPC
            this.previewHeightPC = heightPC
          } else {
            this.previewWidthPC = 680
            this.previewHeightPC = 170
          }
          this.ruleForm.id = this.data.id
          this.title = false
          // console.log('data', this.data)
          this.getLimitConfig()
          if (this.ruleForm.id && this.ruleForm.id > 0) {
            this.title = true
            this.mediumOptions.placeholder.text = ''
            let submitData = {}
            submitData.id = this.ruleForm.id
            let obj = this
            this.loading = true
            Api.getSysActivity(submitData, function () {
              obj.loading = false
            }).then((res) => {
              let activityData = res.data
              for (let item in this.ruleForm) {
                if (activityData[item] === undefined) {
                  continue
                }
                this.ruleForm[item] = activityData[item]
              }
              if (this.ruleForm.pcTitleImg) {
                this.pcTitleImg = imgHost(this.ruleForm.pcTitleImg)
              }
              if (this.ruleForm.mbTitleImg) {
                this.mbTitleImg = imgHost(this.ruleForm.mbTitleImg)
              }
              this.coverCroppaPC.refresh()
              this.coverCroppaMB.refresh()
              this.$nextTick(function () {
                obj.loading = false
              })
            })
          } else {
            if (localStorage['guidePicActivity']) {
              return
            }
            localStorage['guidePicActivity'] = true
            if (this.$store.state.media.screenWidth > 1023) {
              this.guidePic = true
            }
          }
        })
      }
    }
  },
  methods: {
    guidePicbox () {
      this.guidePic = false
    },
    resizePreviewCanvas () {
      setTimeout(() => {
        if (this.computedMB) return
        let containMB = document.querySelector('.mb-cropper-wrapper')
        let offsetWidthMB = containMB.offsetWidth
        let heightMB = offsetWidthMB * 0.40624
        containMB.style.height = heightMB + 'px'
        if (this.screenW <= 800) {
          this.previewWidthMB = offsetWidthMB
          this.previewHeightMB = heightMB
        } else {
          this.previewWidthMB = 640
          this.previewHeightMB = 260
        }
        this.computedMB = 1
        this.coverCroppaMB.refresh()
      }, 100)
    },
    getLimitConfig () {
      this.loading = true
      let submitData = {}
      let obj = this
      Api.getSysActivityImageLimitConfig(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(res)
        obj.pcLimitWidth = res.data.pcActivityTile.limitWidth
        obj.pcLimitHeight = res.data.pcActivityTile.limitHeight
        obj.mbLimitWidth = res.data.mbActivityTitle.limitWidth
        obj.mbLimitHeight = res.data.mbActivityTitle.limitHeight
        obj.pcContentLimitWidth = res.data.pcActivityContent.limitWidth
        obj.pcContentLimitHeight = res.data.pcActivityContent.limitHeight
        obj.mbContentLimitWidth = res.data.mbActivityContent.limitWidth
        obj.mbContentLimitHeight = res.data.mbActivityContent.limitHeight
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    handleCoverMove () {
      this.hasNewCover = true
    },
    handleCoverZoom () {
      this.hasNewCover = true
    },
    handleCoverRemove () {
      this.hasNewCover = false
    },
    handleCoverNewImage () {
      this.hasNewCover = true
    },
    submitForm (formName) {
      if (this.coverCroppaPC.getChosenFile() && this.coverCroppaMB.getChosenFile()) {
        this.coverCroppaPC.generateBlob((blob) => {
          let pcTitleImg = blob
          // let url = URL.createObjectURL(pcTitleImg)
          // let a = document.createElement('a')
          // a.download = 'pc版图片'
          // a.href = url
          // a.click()
          this.coverCroppaMB.generateBlob((blob) => {
            let mbTitleImg = blob
            // let url = URL.createObjectURL(mbTitleImg)
            // let a = document.createElement('a')
            // a.download = '手机版图片'
            // a.href = url
            // a.click()
            this.saveData('ruleForm', pcTitleImg, mbTitleImg)
          }, 'image/png', 1)
        }, 'image/png', 1)
        return
      }
      if (this.coverCroppaPC.getChosenFile()) {
        this.coverCroppaPC.generateBlob((blob) => {
          let pcTitleImg = blob
          this.saveData('ruleForm', pcTitleImg, null)
        }, 'image/png', 1)
        return
      }
      if (this.coverCroppaMB.getChosenFile()) {
        this.coverCroppaMB.generateBlob((blob) => {
          let mbTitleImg = blob
          this.saveData('ruleForm', null, mbTitleImg)
        }, 'image/png', 1)
        return
      }
      this.saveData('ruleForm', null, null)
    },
    saveData (formName, pcTitleImg, mbTitleImg) {
      if (this.coverCroppaMB.getChosenFile()) {
        this.ruleForm.mbTitleImg = '已上传'
      }
      if (this.coverCroppaPC.getChosenFile()) {
        this.ruleForm.pcTitleImg = '已上传'
      }
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          this.msgError('PC端或Mobile端活动信息未填写完整')
          return false
        }
        let submitData = new FormData()
        for (let item in this.ruleForm) {
          if (this.ruleForm[item] === undefined) {
            continue
          }
          if (item === 'pcTitleImg') {
            if (!pcTitleImg) {
              continue
            }
            submitData.append('pcTitleImg', pcTitleImg, this.coverCroppaPC.name)
            continue
          }
          if (item === 'mbTitleImg') {
            if (!mbTitleImg) {
              continue
            }
            submitData.append('mbTitleImg', mbTitleImg, this.coverCroppaMB.name)
            continue
          }
          submitData.append(item, this.ruleForm[item])
        }
        Api.setSysActivity(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.$refs.activityCoverPC.remove()
          this.$refs.activityCoverMB.remove()
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    },
    closeClear () {
      this.mbTitleImg = ''
      this.pcTitleImg = ''
      this.$refs.activityCoverPC.remove()
      this.$refs.activityCoverMB.remove()
      this.resetForm('ruleForm')
      this.$emit('close')
    }
  }
}
</script>

<style>
  @import '../../assets/css/variable.css';
  .tab-header {
    display: flex;
    margin-bottom: 1rem;
    & > div {
      cursor: pointer;
      padding: 10px;
      position: relative;
      border-bottom: 3px solid #e4e7ed;
      flex-grow: 1;
      text-align: center;
      &.active, &:hover {
        font-weight: bold;
        border-color: var(--color-primary);
        color: var(--color-primary);
      }
    }
  }

  .activity-dialog {
    width: 100% !important;
    max-width: 970px;
    & .el-dialog__header{
      padding: 30px;
    }
    & .el-dialog__body{
      padding:0 30px 20px;
    }
    & .el-dialog__footer {
      padding: 20px 30px;
    }
    & .cropper-wrapper{
      position: relative;
      line-height: normal;
      & .el-button-group{
        position: relative;
        top: 10px;
        right: 10px;
      }
    }
    & .zoomObj {
      cursor: pointer;
    }
    & .cropper-wrapper:hover .oper-area{
      display: inline-block;
    }
    & .gaodei-map{
      & .amap-page-container{
        line-height: initial;
        & .search-box{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid rgb(191, 201, 217);
          box-sizing: border-box;
          color: rgb(31, 43, 61);
          display: inline-block;
          font-size: inherit;
          height: 36px;
          line-height: 1;
          outline: none;
          padding: 3px 10px;
          transition: border-color .2s cubic-bezier(.645,.045,.355,1);
          width: 100%;
          box-shadow: none;
          & .search-btn{
            color: #97a8be;
          }
        }
        & .amap-demo {
          height: 200px;
          & .amap-copyright, & .amap-logo{
            z-index: 1;
          }
        }
      }
    }
  }
  .activity-banner{
    cursor: pointer;
  }
  .rec-topics-wrapper{
    margin-top: 26px;
    & .rec-topics{
      border: none;
      color: #90949c;
    }
  }
  .nor-method {
    & header {
      font-size: 14px;
      height: 24px;
      line-height: 24px;}
    & p{
      color: var(--color-secondary);
      font-size: 12px;
      line-height: 24px;
    }
  }
  .inner header {
    font-weight: bold;
    margin-bottom: 10px;
  }
</style>
