<template>
  <el-dialog :title="title" :visible.sync="dialogFormVisible" width="600px">
    <el-form :model="ipForm" ref="ipForm" label-width="86px" class="ip-edit" @submit.native.prevent>
      <el-form-item
        prop="id"
        label="站点ID :"
      >
        {{ipForm.id}}
      </el-form-item>
      <el-form-item
        v-for="(ip, index) in ipForm.ip"
        :label="'IP-' + index + ':'"
        :key="ip.key"
        :prop="'ip.' + index + '.value'"
      >
        <el-form-item
          :rules="rules"
        >
          <el-input v-model="ip.value" size="small" placeholder="例：192.168.16.120" @keyup.enter.prevent.native= "submitForm('ipForm')"></el-input>
          <el-button size="small" @click.prevent="removeDomain(ip)">删除</el-button>
        </el-form-item>
        <el-form-item>
          <el-input v-model="ip.desc" size="small" placeholder="备注"></el-input>
        </el-form-item>
      </el-form-item>
      <el-form-item>
        <el-button size="small" @click="addIP">新增域名</el-button>
        <el-button size="small" @click="resetForm('ipForm')">重置</el-button>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="submitForm('ipForm')">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { validateRules } from '@/utils/validateRules'
export default {
  name: 'SiteIpForm',
  data () {
    var validateIP = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'ip': {}
      })
      if (!vdt.result) {
        return callback(new Error('IP格式不正确'))
      }
      callback()
    }
    return {
      dialogFormVisible: false,
      ipForm: {
        ip: [{
          value: '',
          desc: ''
        }],
        id: ''
      },
      rules: [
        {required: true, message: 'IP不能为空', trigger: 'blur'},
        { validator: validateIP, trigger: 'blur' }
      ]
    }
  },
  props: {
    title: {
      type: String,
      default: function () {
        return 'IP编辑'
      }
    },
    visible: Boolean,
    data: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  methods: {
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.msgSuccess(this.title + '成功')
          this.dialogFormVisible = false
        }
      })
    },
    initForm () {
      this.ipForm.ip = [{
        value: '',
        desc: ''
      }]
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    removeDomain (item) {
      var index = this.ipForm.domains.indexOf(item)
      if (index !== -1) {
        this.ipForm.domains.splice(index, 1)
      }
    },
    addIP () {
      this.ipForm.ip.push({
        value: '',
        key: Date.now()
      })
    }
  },
  watch: {
    dialogFormVisible (nv) {
      if (!nv) {
        this.initForm()
        this.$emit('close')
      }
    },
    visible (nv) {
      this.dialogFormVisible = nv
    },
    data (nv) {
      this.ipForm = {...nv}
    }
  }
}
</script>

<style>
  .ip-edit .el-input{
    display: inline-block;
    width: 100%;
    max-width: 340px;
  }
  .ip-edit .el-form-item__content,.ip-edit .el-form-item__label{
    line-height: 36px;
  }
</style>
