<template>
  <div>
    <slide-right
      title="网站名称"
      :visible="$store.state.helper.rightSlideShow"
      @close="close"
      class="site-edit"
    >
      <div slot="mod-tools">
        <ul class="menu">
          <li><i class="el-icon-edit"></i> 编辑</li>
        </ul>
      </div>
      <div slot="mod-con">
        <div class="mod-head1 margin-b10"> 基本信息 </div>
        <el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="86px" class="demo-dynamic">
          <el-form-item
            label="站点编码:"
            class="margin-b6">
            站点编码
          </el-form-item>
          <el-form-item
            prop="siteName"
            label="网站名称:"
            :rules="[
            { required: true, message: '网站名称不能为空', trigger: 'blur' }
          ]"
          >
            <el-input v-model="dynamicValidateForm.siteName" size="small"></el-input>
          </el-form-item>
          <el-form-item
            prop="siteTitle"
            label="网站标题:"
          >
            <el-input v-model="dynamicValidateForm.siteName" size="small"></el-input>
            <p class="form-desc">用于显示在浏览器标签页上的title</p>
          </el-form-item>
          <el-form-item
            prop="adminAccount"
            label="站长账号:"
            class="margin-b6"
          >
            asdfasdfasd
          </el-form-item>
          <el-form-item
            prop="password"
            label="站长密码:"
          >
            <el-input v-model="dynamicValidateForm.password" type="password" placeholder="******" size="small"></el-input>
            <p class="form-desc">用于显示在浏览器标签页上的title</p>
          </el-form-item>
        </el-form>
        <div class="mod-head1 margin-b"> 网站维护 </div>
        <ul class="site-maintain">
          <li>网站前台 <span class="label success">运行中</span> <div class="tools"><el-button size="mini" type="plain">维护</el-button></div></li>
          <li>网站后台 <span class="label success">运行中</span> <div class="tools"><el-button size="mini" type="plain">维护</el-button></div></li>
        </ul>
        <div class="mod-head1 margin-b"> IP绑定 <a class="mod-more margin-l10" @click="addIP"><i class="el-icon-plus"></i> 添加IP</a></div>
        <ul class="site-maintain">
          <li><span class="ip">192.168.16.25</span><div class="tools">
            <el-button-group plain>
              <el-button icon="el-icon-edit" size="mini" @click="ipEditor"></el-button>
              <el-button icon="el-icon-delete" size="mini"></el-button>
            </el-button-group>
          </div>
          </li>
          <li><span class="ip">168.158.255.100</span><div class="tools">
            <el-button-group plain>
              <el-button icon="el-icon-edit" size="mini"></el-button>
              <el-button icon="el-icon-delete" size="mini"></el-button>
            </el-button-group>
          </div></li>
        </ul>
        <div class="mod-head1 margin-b"> 域名绑定 <a class="mod-more margin-l10"><i class="el-icon-plus"></i> 添加域名</a></div>
        <ul class="site-maintain">
          <li><span class="ip">wwwappwww.com</span><div class="tools">
            <el-button-group plain>
              <el-button icon="el-icon-edit" size="mini"></el-button>
              <el-button icon="el-icon-delete" size="mini"></el-button>
            </el-button-group>
          </div></li>
          <li><span class="ip">koim.com</span><div class="tools">
            <el-button-group plain>
              <el-button icon="el-icon-edit" size="mini"></el-button>
              <el-button icon="el-icon-delete" size="mini"></el-button>
            </el-button-group>
          </div></li>
          <li><span class="ip">wwwappwww.com</span><div class="tools">
            <el-button-group plain>
              <el-button icon="el-icon-edit" size="mini"></el-button>
              <el-button icon="el-icon-delete" size="mini"></el-button>
            </el-button-group>
          </div></li>
          <li><span class="ip">koim.com</span><div class="tools">
            <el-button-group plain>
              <el-button icon="el-icon-edit" size="mini"></el-button>
              <el-button icon="el-icon-delete" size="mini"></el-button>
            </el-button-group>
          </div></li>
          <li><span class="ip">wwwappwww.com</span><div class="tools">
            <el-button-group plain>
              <el-button icon="el-icon-edit" size="mini"></el-button>
              <el-button icon="el-icon-delete" size="mini"></el-button>
            </el-button-group>
          </div></li>
          <li><span class="ip">koim.com</span><div class="tools">
            <el-button-group plain>
              <el-button icon="el-icon-edit" size="mini"></el-button>
              <el-button icon="el-icon-delete" size="mini"></el-button>
            </el-button-group>
          </div></li>
        </ul>
      </div>
      <div class="mod-footer" slot="mod-footer">
        <el-button plain size="small">取 消</el-button>
        <el-button type="primary" size="small">确定</el-button>
      </div>
    </slide-right>
    <site-ip-form :visible="ipEdit" :data="ipData" @close="ipFormClose"></site-ip-form>
  </div>
</template>
<script>
import SlideRight from '@/components/SlideRight'
import SiteIpForm from './SiteIpForm'
export default {
  data () {
    return {
      ipFormTitle: '',
      ipEdit: false,
      ipData: {},
      dynamicValidateForm: {
        domains: [{
          value: ''
        }],
        siteName: '',
        siteTitle: ''
      }
    }
  },
  props: {
    data: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  methods: {
    close () {
      this.$store.state.helper.rightSlideShow = false
    },
    ipFormClose () {
      this.ipEdit = false
    },
    addIP () {
      this.ipEdit = true
    },
    ipEditor () {
      this.ipEdit = true
    }
  },
  components: {
    SlideRight,
    SiteIpForm
  }
}
</script>
<style>
  @import '../../assets/css/variable.css';
  .site-maintain {
    list-style: none;
    padding-left: 1em;
    & li {
      padding: 8px;
      font-size: 14px;
      background: #f6f6f6;
      margin-bottom: 1px;
      position: relative;
      color: var(--color-secondary);
      &:last-child {
        margin-bottom: 0;
      }
      & span.ip {
        display: inline-block;
        width: 120px;
      }
      & span.label {
        margin-left: 1rem;
      }
      & .tools {
        position: absolute;
        right: 6px;
        top: 5px;
      }
    }
  }
</style>
