<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object add-broadcast-from-wrap">
          <el-form :model="ruleForm" :rules="rules" class="mini-reveal-modal"  label-width="100px"  :label-position="screenW > 768 ? 'right':'top'"  size="small"  ref="ruleForm" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="广播对象" prop="receiverType">
              <el-select v-model="ruleForm.receiverType" filterable placeholder="请输入或选择">
                <el-option label="全平台" value="1"></el-option>
                <el-option label="指定站" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item v-if="ruleForm.receiverType==='2'" label="站长编码" prop="receiverList">
              <el-input placeholder="批量操作可输入站长编码，以英文(,)隔开" v-model="ruleForm.receiverList"></el-input>
            </el-form-item>
            <el-form-item label="广播内容" prop="content">
              <el-input type="textarea" :rows="3" placeholder="请输入广播内容,仅限2-50个字符" v-model="ruleForm.content"></el-input>
            </el-form-item>
            <el-form-item label="广播方式" prop="broadcastType">
              <el-select v-model="ruleForm.broadcastType" filterable placeholder="请输入或选择" @change="changeAppointMode">
                <el-option label="指定时间范围" value=1></el-option>
                <el-option label="指定次数" value=2></el-option>
              </el-select>
            </el-form-item>
            <!--            <template>-->
            <el-form-item v-if="ruleForm.broadcastType === '1'&&!appEditSatartTime || ruleForm.broadcastType === '1'&&ruleForm.state!==1" class="form-inline" :class="{'start-time':screenW > 768}" label="开始时间" prop="startTime">
              <el-col :sm="11" :class="{'margin-b4': screenW<768}">
                <template v-if="screenW>768">
                  <el-date-picker
                    v-model="ruleForm.startTime"
                    type="datetime"
                    :disabled="braodcastDialogStyle===2&&ruleForm.state===1"
                    @focus="handDateInput"
                    class="form-inline-dtpicker"
                    placeholder="请选择时间" >
                  </el-date-picker>
                </template>
                <template v-if="screenW <768">
                  <span class="time-picker"  ><datetime-picker   style="width:250px;margin-left: 10px;"  v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                </template>
              </el-col>
              <el-col class="line" :sm="2" v-if="screenW>=768"></el-col>
            </el-form-item>
            <el-form-item v-if="ruleForm.broadcastType === '1'" :class="{'end-time-broadcast-app':screenW < 768}" class="form-inline end-form-inline end-time-style"  label="结束时间" prop="endTime">
              <el-col :sm="11" :class="{'margin-b4': screenW<768}">
                <template v-if="ruleForm.broadcastType === '1' && screenW>768">
                  <el-date-picker
                    v-model="ruleForm.endTime"
                    type="datetime"
                    ref="endTimeRef"
                    @focus="handDateInput"
                    class="form-inline-dtpicker"
                    placeholder="请选择时间" >
                  </el-date-picker>
                </template>
                <template  v-if="ruleForm.broadcastType === '1' && screenW<768">
                  <span class="time-picker"><datetime-picker style="width:250px;margin-left: 10px;" v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                </template>
              </el-col>
              <el-col class="line" :sm="2" v-if="screenW>=768"></el-col>
            </el-form-item>
            <!--            </template>-->
            <!--            <template v-show="ruleForm.broadcastType === '2'">-->
            <el-form-item  v-if="ruleForm.broadcastType === '2'"  label="开始时间"  prop="startTimeNum">
              <el-col :sm="11" :class="{'margin-b4': screenW<768}">
                <template v-if="screenW>768">
                  <el-date-picker
                    v-model="ruleForm.startTimeNum"
                    @focus="handDateInput"
                    type="datetime"
                    placeholder="请选择时间" >
                  </el-date-picker>
                </template>
                <template v-else>
                  <span class="time-picker"><datetime-picker v-model="ruleForm.startTimeNum" type="datetime"></datetime-picker></span>
                </template>
              </el-col>
              <el-col class="line" :sm="2" v-if="screenW>=768"></el-col>
            </el-form-item>
            <el-form-item v-if="ruleForm.broadcastType === '2'" label="播放次数" prop="broadcastCount">
              <div class="delet-account">
                <el-input ref="broadcastCountRef" v-model="ruleForm.broadcastCount"></el-input>
              </div>
            </el-form-item>
            <!--            </template>-->
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import {DateFormat} from '@/utils/Time'
import DatetimePicker from '@/components/DatetimePicker'
// import {validateRules} from '@/utils/validateRules'
export default {
  data () {
    let checkInt = (rule, value, callback) => {
      if ((Number(value)) && (value) % 1 === 0 && value <= 100) {
        callback()
      } else {
        return callback(new Error('请输入1-100的整数'))
      }
    }
    let validateSiteCode = (rule, value, callback) => {
      var strArray = value.split(',')
      let flag = false
      for (let i = 0; i < strArray.length; i++) {
        if (flag) break
        for (let j = 0; j < strArray.length; j++) {
          if (i !== j && strArray[i].replace(/^\s*|\s*$/g, '') === strArray[j].replace(/^\s*|\s*$/g, '')) {
            flag = true
            break
          }
        }
      }
      if (flag) {
        callback(new Error('站长编码不能重复'))
        return
      }
      callback()
    }
    let validateBroadcastContent = (rule, value, callback) => {
      if (!value.replace(/^\s*|\s*$/g, '')) {
        callback(new Error('长度在2到50个字符之间'))
        return
      }
      callback()
    }
    return {
      // startDatePicker: this.beginDate(),
      showBlogForm: false,
      statusFetch: false,
      valueLevel: '',
      dialogType: 'add',
      rowId: '',
      // modeTyle: 0,
      lotteryOptions: [],
      ruleForm: {
        'receiverType': '',
        'receiverList': '',
        'content': '',
        'broadcastType': '',
        'startTime': '',
        'endTime': '',
        'startTimeNum': '',
        'broadcastCount': 3,
        'state': ''
      },
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rules: {
        receiverType: [
          {required: true, message: '请选择广播对象', trigger: 'change'}
        ],
        receiverList: [
          {required: true, message: '请填写站长编码', trigger: 'blur'},
          { validator: validateSiteCode, trigger: 'blur' }
        ],
        content: [
          {required: true, message: '请输入广播内容，仅限2-50个字符', trigger: 'blur'},
          {min: 2, max: 50, message: '长度在2到50个字符之间', trigger: 'blur'},
          { validator: validateBroadcastContent, trigger: 'blur' }
        ],
        broadcastType: [
          {required: true, message: '请选择广播方式', trigger: 'blur'}
        ],
        startTime: [
          {required: true, message: '请选择时间'}
        ],
        broadcastCount: [
          // { required: true, message: '播放次数不能为空', trigger: 'blur' }
          { required: true, validator: checkInt, trigger: 'blur' }
        ],
        startTimeNum: [
          {required: true, message: '请选择时间'}
        ],
        endTime: [
          {required: true, message: '请选择时间'}
        ]
      }
    }
  },
  props: {
    appEditSatartTime: Boolean,
    visible: Boolean,
    data: {
      type: Object,
      default: () => {
        return {}
      }
    },
    braodcastDialogStyle: Number,
    title: {
      type: String,
      default: () => {
        return '新增广播'
      }
    }
  },
  mounted () {
    // this.getLotteryData()
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    DatetimePicker
  },
  methods: {
    // beginDate () {
    //   return {
    //     disabledDate (time) {
    //       return time.getTime() < Date.now() // 开始时间不选时，结束时间最大值小于等于当天
    //     }
    //   }
    // },
    closeClear () {
      this.$emit('onClose')
      setTimeout(() => {
        this.resetForm('ruleForm')
      }, 300)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    handDateInput () {
      // 时间选择框对'此刻'按钮隐藏处理
      setTimeout(() => {
        let noseList = document.querySelectorAll('.el-picker-panel__footer .el-button--text')
        if (noseList.length > 0) {
          noseList.forEach(item => {
            item.style.display = 'none'
          })
        }
      }, 150)
    },
    changeAppointMode (v) {
      if (v === '2') {
        setTimeout(() => {
          this.$refs['broadcastCountRef'].$refs.input.focus()
          this.$refs['broadcastCountRef'].$refs.input.blur()
        }, 100)
      }
    },
    submitForm (formName) {
      let validStartTime1 = this.ruleForm.startTime && new Date(this.ruleForm.startTime).getTime() <= new Date().getTime
      let validStartTime2 = this.ruleForm.startTimeNum && new Date(this.ruleForm.startTimeNum).getTime() <= new Date().getTime
      if (validStartTime1 || validStartTime2) {
        this.msgError('开始时间必须大于当前时间')
        return false
      }
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        submitData.receiverType = Number(this.ruleForm.receiverType)
        if (this.ruleForm.receiverType === '2') {
          submitData.receiverList = this.ruleForm.receiverList
        }
        submitData.content = this.ruleForm.content
        submitData.broadcastType = this.ruleForm.broadcastType

        if (this.ruleForm.broadcastType === '1') {
          submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd hh:mm:ss')
          submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd hh:mm:ss')
        }
        if (this.ruleForm.broadcastType === '2') {
          submitData.startTime = DateFormat(this.ruleForm.startTimeNum, 'yyyy-MM-dd hh:mm:ss')
          submitData.broadcastCount = Number(this.ruleForm.broadcastCount)
        }
        // 新增
        if (this.dialogType === 'add') {
          Api.saveTenantBroadcast(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
        }
        // 编辑
        if (this.dialogType === 'edit') {
          submitData.id = this.rowId
          Api.updateTenantBroadcast(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
        }

        return true
      })
    }
  },
  watch: {
    visible (nv) {
      if (!this.data) {
        this.dialogType = 'add'
        this.ruleForm.receiverType = ''
        this.ruleForm.receiverList = ''
        this.ruleForm.content = ''
        this.ruleForm.broadcastType = ''
        this.ruleForm.startTime = ''
        this.ruleForm.endTime = ''
        this.ruleForm.startTimeNum = ''
        this.ruleForm.state = ''
        this.ruleForm.broadcastCount = 3
      } else {
        this.dialogType = 'edit'
        this.ruleForm.receiverType = this.data.receiverType + ''
        this.ruleForm.receiverList = this.data.receiverList
        this.ruleForm.content = this.data.content
        this.ruleForm.broadcastType = this.data.broadcastType + ''
        this.ruleForm.startTime = this.data.startTime
        this.ruleForm.endTime = this.data.endTime
        this.ruleForm.startTimeNum = this.data.startTime
        this.ruleForm.broadcastCount = this.data.broadcastCount ? this.data.broadcastCount : 3
        this.ruleForm.state = this.data.state
        console.info(this.ruleForm.state)
        this.rowId = this.data.id
      }
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
        })
      }
    }
  },
  beforeDestroy () {}
}
</script>
<style>
  .form-inline {
    display: inline-flex;
    float:left;
  & label.el-form-item__label {
      width: auto!important;
    }
  & .el-form-item__content{
      margin-left: 0px!important;
    }
  &.start-time{
     margin-left: 23px;
   }
  &.end-form-inline{
     /*float:right;*/
   }
  &  .form-inline-dtpicker {
       width: 180px;
       margin-rigt: 10px;
  &  input {
       text-align: center;
     }
  }
  }
  .add-broadcast-from-wrap  .el-picker-panel__link-btn{
    display: none;
  }
  .end-time-style label{
    margin-left: 11px;
  }
  .end-time-broadcast-app{
    margin-left: -10px;
  }
</style>
