<template>
  <el-dialog :title="title" :visible.sync="dialogFormVisible" custom-class="small-reveal-modal" @close="closeClear">
    <el-form :model="addNewSiteForm" :rules="rules" ref="addNewSiteForm"
             custom-class="mini-reveal-modal" label-width="100px"
             :label-position="screenW > 768 ? 'right':'top'" @submit.native.prevent @keyup.native.enter="submitForm('addNewSiteForm')">
      <el-form-item
        prop="tenantCode"
        label="站点编码:"
      ><el-input size="small" v-model="addNewSiteForm.tenantCode" auto-complete="off" placeholder="请输入站点编码"></el-input>
      </el-form-item>
      <el-form-item
        prop="name"
        label="网站名称:"
      >
        <el-input size="small" v-model="addNewSiteForm.name" auto-complete="off" placeholder="请输入网站名称"></el-input>
      </el-form-item>
      <el-form-item
        prop="webTitle"
        label="网站标题:">
        <el-input size="small" v-model="addNewSiteForm.webTitle" auto-complete="off" placeholder="请输入网站标题"></el-input>
      </el-form-item>
      <div class="border-line"></div>
      <el-form-item
        prop="admin"
        label="站长账号:"
      >
        <el-input size="small" v-model="addNewSiteForm.admin" auto-complete="off" placeholder="请输入站长账号"></el-input>
      </el-form-item>
      <el-form-item
        prop="password"
        label="站长密码:"
      >
        <el-input size="small" type="password" v-model="addNewSiteForm.password" auto-complete="off" placeholder="请输入站长密码"></el-input>
      </el-form-item>
      <div class="border-line"></div>
      <el-form-item
        prop="topAgent"
        label="会员总代:">
        <el-input size="small" v-model="addNewSiteForm.topAgent" auto-complete="off" placeholder="请输入会员总代"></el-input>
      </el-form-item>
      <el-form-item
        prop="testAgent"
        label="测试总代:">
        <el-input size="small" v-model="addNewSiteForm.testAgent" auto-complete="off"  placeholder="请输入测试总代"></el-input>
      </el-form-item>
      <div class="border-line"></div>
      <el-form-item label="导航编码" prop="styleId">
        <el-select v-model="addNewSiteForm.styleId" filterable placeholder="请选择导航编码" popper-class="select-menu-pic">
          <el-option v-for="(l, index) in navOption" :label="l.name" :value="index+=1" :key="l.id">
            <slot>
              <span>{{l.name}}</span>
              <img :src="l.url | imgHost" alt="">
            </slot>
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item
        prop="url"
        label="后台网址:">
        <el-input size="small" v-model="addNewSiteForm.url" auto-complete="off" placeholder="如：xx.xxx.com">
        </el-input>
      </el-form-item>
      <el-form-item
        prop="ip"
        label="IP绑定:">
        <el-input size="small" v-model="addNewSiteForm.ip" auto-complete="off" placeholder="如：1.1.1.1">
        </el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" @click="closeClear">取 消</el-button>
      <el-button size="mini" type="primary" @click="submitForm('addNewSiteForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { navlist } from '@/utils/config'
import Api from '@/api/tenant'
import md5 from 'js-md5/build/md5.min'
import {validateRules} from '@/utils/validateRules'
export default {
  name: 'SiteIpForm',
  data () {
    var validateIP = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'ip': {}
      })
      if (!vdt.result) {
        return callback(new Error('IP格式不正确'))
      }
      callback()
    }
    let validatePass = (rule, value, callback) => {
      if (value.length < 6 || value.length > 16) {
        callback(new Error('密码长度在 6 到 16 个字符'))
        return
      }
      let vdt = validateRules.vdata(value, {
        'password': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      callback()
    }
    return {
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      dialogFormVisible: false,
      picList: [ ],
      addNewSiteForm: {
        tenantCode: '',
        name: '',
        webTitle: '',
        admin: '',
        password: '',
        topAgent: '',
        testAgent: '',
        styleId: 1,
        url: '',
        ip: ''
      },
      rules: {
        tenantCode: [
          {required: true, message: '请输入站长编码', trigger: 'blur'},
          {min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
        ],
        name: [
          {required: true, message: '请输入网站名称', trigger: 'blur'},
          {min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
        ],
        webTitle: [
          {required: true, message: '请输入网站标题', trigger: 'blur'},
          {min: 2, max: 100, message: '长度在 2 到 100 个字符', trigger: 'blur'}
        ],
        admin: [
          {required: true, message: '请输入站长账号', trigger: 'blur'},
          {min: 4, max: 16, message: '长度在 4 到 16 个字符', trigger: 'blur'}
        ],
        password: [
          {required: true, message: '请输入站长密码', trigger: 'blur'},
          { validator: validatePass, trigger: 'blur' }
        ],
        topAgent: [
          {required: true, message: '请输入会员总代', trigger: 'blur'},
          {min: 4, max: 16, message: '长度在 4 到 16 个字符', trigger: 'blur'}
        ],
        testAgent: [
          {required: true, message: '请输入测试总代', trigger: 'blur'},
          {min: 4, max: 16, message: '长度在 4 到 16 个字符', trigger: 'blur'}
        ],
        styleId: [
          {required: true, message: '请选择导航编码', trigger: 'change'}
        ],
        url: [
          {required: true, message: '请输入后台网址', trigger: 'blur'},
          {min: 2, max: 127, message: '长度在 2 到 127 个字符', trigger: 'blur'}
        ],
        ip: [
          {required: true, message: '请输入IP', trigger: 'blur'},
          { validator: validateIP, trigger: 'blur' }
        ]
      },
      navOption: navlist
    }
  },
  props: {
    title: {
      type: String,
      default: function () {
        return '站长开户'
      }
    },
    visible: Boolean,
    data: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('addNewSiteForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        let submitData = {}
        Object.assign(this.addNewSiteForm, {})
        for (let item in this.addNewSiteForm) {
          submitData[item] = this.addNewSiteForm[item]
        }
        let name = this.addNewSiteForm.admin.toLowerCase()
        submitData.password = md5(name + md5(this.addNewSiteForm.password))
        let obj = this
        Api.addTenant(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.dialogFormVisible = false
          this.$nextTick(function () {
            obj.submitLoading = false
          })
        })
      })
    }
  },
  watch: {
    dialogFormVisible (nv) {
      if (!nv) {
        // this.initForm()
        this.$emit('close')
      }
    },
    visible (nv) {
      this.dialogFormVisible = nv
      if (nv) {
        this.$nextTick(function () {
        })
      }
    },
    data (nv) {
      this.addNewSiteForm = {...nv}
    }
  }
}
</script>

<!--<style>-->
  <!--.site-new-from {-->
  <!--width: 100%;-->
  <!--max-width: 360px;-->
  <!--margin: 0 auto;-->
  <!--}-->
<!--</style>-->
<!--<style>-->
  <!--.site-new-from {-->
    <!--width: 100%;-->
    <!--max-width: 360px;-->
    <!--margin: 0 auto;-->
  <!--}-->
  <!--.responsive {-->
    <!--width: 560px;-->
  <!--}-->
  <!--@media only screen and (max-width: 640px) {-->
    <!--.el-dialog.responsive {-->
      <!--& .el-dialog__header{-->
        <!--position: relative;-->
        <!--&:before{-->
          <!--content: '';-->
          <!--border-top: 1px solid #ddd;-->
          <!--width: calc(100% - 2em);-->
          <!--margin: 0 auto;-->
          <!--position: absolute;-->
          <!--bottom: 0;-->
          <!--left: 0;-->
          <!--right: 0;-->
          <!--box-shadow: 0 1px 1px rgba(0,0,0,.1);-->
        <!--}-->
      <!--}-->
      <!--width:100%;-->
      <!--margin: 0 !important;-->
      <!--& .el-dialog__body {-->
        <!--height: calc(100vh - 107px);-->
        <!--overflow: auto;-->
      <!--}-->
      <!--& .el-dialog__footer{-->
        <!--border-top: 1px solid #ddd;-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--</style>-->
