<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '平台消息编辑':'新增平台消息'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal guide-news-model">
      <div v-if="statusFetch">数据加载中...123</div>
      <template v-else>
        <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" status-icon label-position="top" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="收件人" prop="receiverList" >
            <el-input v-model="ruleForm.receiverList" :placeholder="screenW > 640 ? '收件人为空时默认发给所有站长，批量操作可输入站长编码，以英文逗号(,)分隔开':'请输入收件人'" :disabled="ruleForm.id && ruleForm.id !== ''"></el-input>
            <div class="text-style" v-if="screenW < 640">收件人为空时默认发给所有站长，批量操作可输入站长编码，以英文逗号(,)分隔开</div>
          </el-form-item>
          <el-form-item label="标题" prop="title" >
            <el-input  v-model="ruleForm.title" auto-complete="off" placeholder="请输入标题2-25个字符"></el-input>
          </el-form-item>
          <el-form-item label="类型" prop="announcementId">
            <el-radio-group  v-model="ruleForm.announcementId">
              <el-radio-button label="1">服务消息</el-radio-button>
              <el-radio-button label="2">产品消息</el-radio-button>
              <el-radio-button label="3">故障消息</el-radio-button>
              <el-radio-button label="4">支付消息</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="是否置顶" prop="isTop" label-width="20px"  class="same-line" >
            <el-switch
              v-model="ruleForm.isTop"
              active-color="#20a0ff"
              inactive-color="#ddd"
              active-value="1"
              inactive-value="0">
            </el-switch>
          </el-form-item>
          <el-form-item label="内容描述" prop="content" :class="{'no-title': title}">
            <medium-editor
              ref="content"
              v-model="ruleForm.content"
              @paste-event="uploadClipboardImage"
              :use-at-user="false"
              :contenteditable="true"
              :able-upload="true"
              :options="mediumOptions"
              :type="true"
            ></medium-editor>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" size="mini" type="primary" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
        <!--導覽頁的黑背景和定位圖-->
        <!--<transition name="el-fade-in-linear">-->
          <!--<div class="guide-box" v-show="guidePic" >-->
            <!--<img :src="'/system/activity/guide/news_guide.png' | imgHost" alt="">-->
            <!--<div @click="guidePicbox" class="guide-close"><i class="el-icon-error" ></i>关闭</div>-->
          <!--</div>-->
        <!--</transition>-->
        <!--<transition name="el-fade-in-linear">-->
          <!--<div class="bg" v-show="guidePic"></div>-->
        <!--</transition>-->
        <span></span>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import MediumEditor from '@/components/editor/MediumEditor'
import LgTag from '@/components/tag'
import Api from '@/api/tenant'
// import {imgHost} from '@/filters'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      title: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        receiverList: '', // 收件人
        title: '', // 标题
        isTop: '0',
        content: '',
        announcementId: '1',
        isAll: 0
      },
      rules: {
        title: [
          { required: true, message: '请输入标题', trigger: 'blur' },
          {min: 2, max: 25, message: '长度在 2 到 25 个字符', trigger: 'blur'}
        ],
        content: [
          { required: true, message: '请输入内容', trigger: 'blur' }
        ],
        isTop: [
          { required: true, message: '请选择是否置顶', trigger: 'change' }
        ]
      },
      // 编辑器配置
      mediumOptions: {
        imageDragging: true,
        anchorPreview: {
          hideDelay: 500,
          previewValueSelector: 'a'
        },
        placeholder: {
          text: '在这里分享你的正文...',
          hideOnClick: true
        },
        buttonLabels: 'fontawesome',
        toolbar: {
          buttons: ['h2', 'h3', 'bold', 'italic', 'underline', 'strikethrough', 'fontSize', 'fontColor', 'fontBgColor', 'removeFormat', 'html', 'quote', 'anchor', 'justifyLeft', 'image', 'justifyCenter', 'justifyRight', 'justifyFull', 'superscript', 'subscript', 'orderedlist', 'unorderedlist', 'pre', 'outdent', 'indent', 'table']
        },
        paste: {
          forcePlainText: false,
          cleanPastedHTML: false,
          cleanReplacements: [],
          cleanAttrs: ['class', 'style', 'dir'],
          cleanTags: ['meta'],
          unwrapTags: []
        }
      }
    }
  },
  components: {
    MediumEditor,
    LgTag
  },
  props: {
    visible: Boolean,
    data: Object
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    // guidePicbox () {
    //   this.guidePic = false
    // },
    getSiteNoticeInfo (id) {
      let submitData = {}
      submitData.id = id
      this.loading = true
      let obj = this
      Api.announcement(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let siteNoticeData = res.data.announcement
        this.ruleForm.content = siteNoticeData.content
        this.title = true
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let receiverList = []
        let receiverData = this.ruleForm.receiverList.split(',')
        for (let i = 0; i < receiverData.length; i++) {
          if (!receiverData[i]) {
            continue
          }
          let tempData = {}
          Object.assign(tempData, {})
          tempData.tenantCode = receiverData[i]
          receiverList.push(tempData)
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        if (receiverList.length < 1) {
          submitData.isAll = 1
        }
        submitData.receiverList = JSON.stringify(receiverList)
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          submitData.id = this.ruleForm.id
          Api.updateAnnouncement(submitData, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.addAnnouncement(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.id = this.data.id
          this.mediumOptions.placeholder.text = '在这里分享你的正文...'
          this.title = false
          if (this.ruleForm.id && this.ruleForm.id !== '') {
            this.title = true
            this.mediumOptions.placeholder.text = ''
          }
          this.ruleForm.receiverList = ''
          if (this.data.receiverList && this.data.receiverList !== '') {
            let receiverList = JSON.parse(this.data.receiverList)
            let receiverData = []
            for (let i = 0; i < receiverList.length; i++) {
              receiverData.push(receiverList[i].tenantCode)
            }
            this.ruleForm.receiverList = receiverData.join(',')
          }
          this.ruleForm.title = this.data.title
          this.ruleForm.isTop = '0'
          if (this.data.isTop) {
            this.ruleForm.isTop = this.data.isTop.toString()
          }
          this.ruleForm.announcementId = '1'
          if (this.data.announcementId) {
            this.ruleForm.announcementId = this.data.announcementId.toString()
          }
          if (this.ruleForm.id && this.ruleForm.id !== '') {
            this.getSiteNoticeInfo(this.ruleForm.id)
          } else {
            // if (localStorage['guidePicNews']) {
            //   return
            // }
            // localStorage['guidePicNews'] = true
            // if (this.$store.state.media.screenWidth > 1023) {
            //   this.guidePic = true
            // }
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
