<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="图片规格编辑"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-width="70px" label-position="right" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="宽度" prop="width" min-width="100">
              <el-input-number v-model="ruleForm.width" :min="0" :precision="0" :controls="false" placeholder="请输入宽度" size="min" ></el-input-number>
            </el-form-item>
            <el-form-item label="高度" prop="height" min-width="100">
              <el-input-number v-model="ruleForm.height" :min="0" :precision="0" :controls="false" placeholder="请输入高度" size="min" ></el-input-number>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import {validateRules} from '@/utils/validateRules'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateNumber = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      // 列表数据
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      allList: [],
      tenantCode: '',
      ruleForm: {
        imageId: '',
        width: '',
        height: ''
      },
      rules: {
        width: [
          {required: true, message: '请输入宽度', trigger: 'blur'},
          { validator: validateNumber, trigger: 'blur' }
        ],
        height: [
          {required: true, message: '请输入高度', trigger: 'blur'},
          { validator: validateNumber, trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        submitData.tenantCode = this.tenantCode
        Api.setImageConfig(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('操作成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.tenantCode = this.data.tenantCode
          this.ruleForm.imageId = this.data.imageId
          this.ruleForm.width = this.data.width
          this.ruleForm.height = this.data.height
          this.loading = false
        })
      }
    }
  },
  components: {
  }
}
</script>
