<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? 'IP绑定编辑':'新增IP绑定'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :label-position="'top'" :rules="rules" label-width="100px" ref="ruleForm" :model="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input v-model="ruleForm.tenantCode" :disabled="true" placeholder="请输入站长编码"></el-input>
          </el-form-item>
          <el-form-item label="IP" prop="ip">
            <el-input v-model="ruleForm.ip" placeholder="请输入IP"></el-input>
          </el-form-item>
          <el-form-item label="备注" prop="remark">
            <el-input v-model="ruleForm.remark" placeholder="可备注IP绑定相关描述" :disabled="true"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button class="float-left" icon="el-icon-arrow-right" v-if="!isSelf" @click="toUrl" size="mini">查看列表</el-button>
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" size="mini" type="primary" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      title: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        tenantCode: '',
        ip: '',
        remark: ''
      },
      rules: {
        ip: [
          { required: true, message: '请输入IP', trigger: 'blur' }
        ],
        remark: [
          {min: 0, max: 25, message: '最大长度为25个字符', trigger: 'blur'}
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    isSelf: Boolean,
    data: Object

  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        if (this.ruleForm.id && this.ruleForm.id !== '') {
          Api.updateIp(this.ruleForm, function () {
            obj.submitLoading = false
          }).then((res) => {
            this.msgSuccess('保存成功')
            this.showBlogForm = false
            this.$parent.getOrderList()
            this.$nextTick(function () {
              setTimeout(function () {
                obj.submitLoading = false
              }, 1000)
            })
          })
          return
        }
        Api.addIp(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    toUrl () {
      // console.log(this.isSelf)
      this.$router.push('/platform/TenantIP')
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.tenantCode = this.data.tenantCode
          this.ruleForm.id = this.data.id
          this.ruleForm.ip = this.data.ip
          this.title = false
          if (this.data.id) {
            this.title = true
          }
          let userName = (this.$store.state.siteInfo && this.$store.state.siteInfo.userName) || (localStorage.getItem('siteInfo') && JSON.parse(localStorage.getItem('siteInfo')).userName)
          this.ruleForm.remark = '平台专员' + userName + '添加'
          this.loading = false
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
  @import '../../assets/css/variable.css';
 @media screen and (max-width:1023px){
    .widthAuto{
      width:95%;
    }
     .report-data .flexbox > div{
      &:nth-of-type(1){
        float:left;
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3){
        width:100%;
        border-top:0;
        display:inline-block;
      }
      &:nth-of-type(2){
        width:30%;
        display:inline-block;
        padding:9px 0;
        border-top:0;
        background:none;
      }
      &:nth-of-type(4){
        width:100%;
        display:block;
        padding:0;
        border-top:1px solid #eee;
        background:#fff;
      }
    }
  }
</style>
