<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="站长开户编辑"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" status-icon :rules="rules" size="small" ref="ruleForm" v-loading="loading"
                 element-loading-customClass="loadingClass" label-width="80px" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input v-model="ruleForm.tenantCode"  :disabled="true"></el-input>
          </el-form-item>
          <el-form-item label="站长账号" prop="admin">
            <el-input v-model="ruleForm.admin"  :disabled="true"></el-input>
          </el-form-item>
          <el-form-item label="解析" prop="domain">
            <el-input v-model="ruleForm.domain"  :disabled="true"></el-input>
          </el-form-item>
          <el-form-item label="站长密码" prop="password">
            <el-input  type="password" v-model="ruleForm.password" auto-complete="off" placeholder="******"></el-input>
          </el-form-item>
          <el-form-item label="网站名称" prop="name">
            <el-input   v-model="ruleForm.name" auto-complete="off" placeholder="请输入网站名称"></el-input>
          </el-form-item>
          <el-form-item label="网站标题" prop="webTitle">
            <el-input   v-model="ruleForm.webTitle" auto-complete="off" placeholder="请输入网站标题"></el-input>
          </el-form-item>
          <el-form-item label="导航编码" prop="styleId">
            <el-select v-model="ruleForm.styleId" filterable placeholder="请选择导航编码" popper-class="select-menu-pic">
              <el-option v-for="(l, index) in navOption" :label="l.name" :value="index+=1" :key="l.id">
                <slot>
                  <span>{{l.name}}</span>
                  <img :src="l.url | imgHost" alt="">
                </slot>
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" size="mini" type="primary" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import { navlist } from '@/utils/config'
import Api from '@/api/tenant'
import md5 from 'js-md5/build/md5.min'
import {validateRules} from '@/utils/validateRules'
export default {
  data () {
    let validateEditPass = (rule, value, callback) => {
      if (value) {
        if (value.length < 6 || value.length > 16) {
          callback(new Error('密码长度在 6 到 16 个字符'))
          return
        }
        let vdt = validateRules.vdata(value, {
          'password': {}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
          return
        }
        callback()
      }
      callback()
    }
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        'tenantCode': '',
        'name': '',
        'webTitle': '',
        'admin': '',
        'password': '',
        'styleId': 1
      },
      navOption: navlist,
      rules: {
        webTitle: [
          {required: true, message: '请输入网站标题', trigger: 'blur'},
          {min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
        ],
        name: [
          {required: true, message: '请输入网站名称', trigger: 'blur'},
          {min: 2, max: 20, message: '长度在 2 到 20 个字符', trigger: 'blur'}
        ],
        styleId: [
          {required: true, message: '请选择导航编码', trigger: 'change'}
        ],
        password: [
          { validator: validateEditPass, trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        let name = this.ruleForm.admin.toLowerCase()
        if (this.ruleForm.password) {
          submitData.password = md5(name + md5(this.ruleForm.password))
        }
        // console.log('submitData', submitData)
        Api.updateTenant(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    },
    // getStyleList () {
    //   let submitData = {}
    //   Api.styleList(submitData, function () {
    //     // obj.loading = false
    //   }).then((res) => {
    //     console.log(res)
    //     this.navOption = res.data.styleList
    //   })
    // },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getTenantInfo (tenantCode) {
      let submitData = {}
      submitData.tenantCode = tenantCode
      this.loading = true
      let obj = this
      Api.tenant(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm = res.data.tenant
        this.ruleForm.tenantCode = this.data.tenantCode
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.getStyleList()
          // this.initData()
          // console.log('data', this.data)
          this.ruleForm.id = this.data.id
          this.ruleForm.tenantCode = this.data.tenantCode
          this.ruleForm.password = ''
          if (this.ruleForm.tenantCode && this.ruleForm.tenantCode !== '') {
            this.getTenantInfo(this.ruleForm.tenantCode)
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
