<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="HTTPS新增"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div  v-loading="loading"
              element-loading-customClass="loadingClass">
          <el-form :model="ruleForm" :rules="rules" class="form" size="small" ref="ruleForm" label-width="50px" :label-position="screenW > 768 ? 'right':'top'" element-loading-spinner="dafa-icon-loading01 dafa-icon"   @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="域名" prop="urls" class="select-input-style">
              <el-select v-model="ruleForm.urls" class="width-search100" multiple placeholder="请选择域名" >
                <!--<el-option label="全部" value=""></el-option>-->
                <el-option
                  v-for="item in optionList"
                  :key= "item.url"
                  :label="item.url"
                  :value="item.url">
                </el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <div class="text-style margin-t10">*可选择的域名：已经添加到域名管理，且已经解析成功的域名；</div>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
import {formatMoney} from '@/filters/index'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        urls: '5646545'
      },
      optionList: [],
      rules: {
        urls: [
          { required: true, message: '请选择域名', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    Name: String
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        submitData.urls = this.ruleForm.urls.join(',')
        let obj = this
        Api.addUrl(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
      })
    }
  },
  components: {
    formatMoney
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.ruleForm.id = this.data.id
          let submitData = {}
          // let obj = this
          submitData.pageSize = 500
          submitData.pageNum = 1
          submitData.urlId = 1
          Api.getNonSslUrlList(submitData, function () {
            // obj.submitLoading = false
          }).then((res) => {
            this.optionList = res.data.list
            this.loading = false
          })
        })
      }
    }
  }
}
</script>
<style scoped>
  .input-number{
    width: 100% !important;
  }
</style>
