<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title ? '第三方管理编辑':'新增第三方管理'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal third-payform">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :model="ruleForm" :rules="rules" status-icon  size="small" ref="ruleForm"  :label-width="screenW < 767 ? ' ': '160px '" :label-position="screenW < 767 ? 'top':'right' " v-loading="loading"
                 element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
        <el-form-item label="第三方名称" prop="thirdPartyName">
        <el-input  v-model="ruleForm.thirdPartyName"  placeholder="请输入第三方名称" :class="{'width-search200': screenW > 767}" :disabled="this.ruleForm.id ? true : false"></el-input>
        </el-form-item>
        <el-form-item label="第三方名称接口地址" prop="payLink">
        <el-input  v-model="ruleForm.payLink" placeholder="请输入第三方名称接口地址"  :class="{'width-search200': screenW > 767}"></el-input>
        </el-form-item>
          <el-form-item label="金额误差范围" prop="amountRange">
            <el-input-number  v-model="ruleForm.amountRange" placeholder="请输入金额误差范围"  :class="{'width-search200': screenW > 767}"></el-input-number>
          </el-form-item>
        <el-form-item label="启用状态" prop="isEnabled">
          <el-radio-group class="width150"  v-model="ruleForm.isEnabled" size="mini">
            <el-radio-button label=1>启用</el-radio-button>
            <el-radio-button label=0>禁用</el-radio-button>
          </el-radio-group>
          <!--<el-input  v-model="ruleForm.adress" placeholder="请输入第三方名称接口地址"  :class="{'width-search200': screenW > 767}"></el-input>-->
        </el-form-item>
        <el-form-item label="启用支付方式" prop="dictionId" class="rwd-width50">
        <el-checkbox-group v-model="ruleForm.dictionId" >
        <el-checkbox label="101" >网银支付</el-checkbox>
        <el-checkbox label="103">支付宝支付</el-checkbox>
        <el-checkbox label="104">微信支付</el-checkbox>
        <el-checkbox label="105">QQ钱包</el-checkbox>
        <el-checkbox label="108">云闪付</el-checkbox>
        <el-checkbox label="109">京东钱包</el-checkbox>
        <el-checkbox label="107">银联支付</el-checkbox>
        </el-checkbox-group>
        <div class="border-box">
          <div class="text-style" v-show="ruleForm.dictionId.length === 0">尚未选择启用支付方式</div>
          <div v-if="ruleForm.dictionId.filter(v => v === '101').length">
            <div class="text-style">
              网银支付 :
            </div>
            <el-checkbox-group v-model="ruleForm.payType.OnlineBank.mobileType">
              <el-checkbox label="扫码"></el-checkbox>
              <el-checkbox label="H5"></el-checkbox>
              <el-checkbox label="WAP"></el-checkbox>
              <el-checkbox label="条形码"></el-checkbox>
              <el-checkbox label="银联快捷"></el-checkbox>
            </el-checkbox-group>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '103').length">
            <div class="text-style">
              支付宝支付 :
            </div>
            <el-checkbox-group v-model="ruleForm.payType.Alipay.mobileType">
              <el-checkbox label="扫码"></el-checkbox>
              <el-checkbox label="H5"></el-checkbox>
              <el-checkbox label="WAP"></el-checkbox>
              <el-checkbox label="条形码"></el-checkbox>
              <el-checkbox label="银联快捷"></el-checkbox>
            </el-checkbox-group>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '104').length">
            <div class="text-style">
              微信支付 :
            </div>
            <el-checkbox-group v-model="ruleForm.payType.Wechat.mobileType">
              <el-checkbox label="扫码"></el-checkbox>
              <el-checkbox label="H5"></el-checkbox>
              <el-checkbox label="WAP"></el-checkbox>
              <el-checkbox label="条形码"></el-checkbox>
              <el-checkbox label="银联快捷"></el-checkbox>
            </el-checkbox-group>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '105').length">
            <div class="text-style">
              QQ钱包 :
            </div>
            <el-checkbox-group v-model="ruleForm.payType.QQ.mobileType">
              <el-checkbox label="扫码"></el-checkbox>
              <el-checkbox label="H5"></el-checkbox>
              <el-checkbox label="WAP"></el-checkbox>
              <el-checkbox label="条形码"></el-checkbox>
              <el-checkbox label="银联快捷"></el-checkbox>
            </el-checkbox-group>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '108').length">
            <div class="text-style">
              云闪付 :
            </div>
            <el-checkbox-group v-model="ruleForm.payType.Quickpass.mobileType">
              <el-checkbox label="扫码"></el-checkbox>
              <el-checkbox label="H5"></el-checkbox>
              <el-checkbox label="WAP"></el-checkbox>
              <el-checkbox label="条形码"></el-checkbox>
              <el-checkbox label="银联快捷"></el-checkbox>
            </el-checkbox-group>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '109').length">
            <div class="text-style">
              京东钱包 :
            </div>
            <el-checkbox-group v-model="ruleForm.payType.JdPay.mobileType">
              <el-checkbox label="扫码"></el-checkbox>
              <el-checkbox label="H5"></el-checkbox>
              <el-checkbox label="WAP"></el-checkbox>
              <el-checkbox label="条形码"></el-checkbox>
              <el-checkbox label="银联快捷"></el-checkbox>
            </el-checkbox-group>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '107').length">
            <div class="text-style">
              银联支付 :
            </div>
            <el-checkbox-group v-model="ruleForm.payType.UnionPay.mobileType">
              <el-checkbox label="扫码"></el-checkbox>
              <el-checkbox label="H5"></el-checkbox>
              <el-checkbox label="WAP"></el-checkbox>
              <el-checkbox label="条形码"></el-checkbox>
              <el-checkbox label="银联快捷"></el-checkbox>
            </el-checkbox-group>
          </div>
        </div>
        </el-form-item>
        <el-form-item label="小数点设置" >
          <div class="text-style color-danger">放空勾选皆为系统默认设置</div>
          <div class="decimal-number" v-if="ruleForm.dictionId.filter(v => v === '101').length">
              <el-checkbox class="width-search100" v-model="ruleForm.payType.OnlineBank.isShowDecimal" @change="FixShow('OnlineBank')">
                网银支付
              </el-checkbox>
              <div class="decimal-settingbox" v-if="ruleForm.payType.OnlineBank.isShowDecimal" >
                <el-select size="min" class=" margin-r10 width-search120" v-model="ruleForm.payType.OnlineBank.isDecimal"  @change="FixShow('OnlineBank')">
                  <el-option label="请选择" value="0">请选择</el-option>
                  <el-option label="设置小数点" value="1">设置小数点</el-option>
                  <el-option label="不设置小数点" value="2">不设置小数点</el-option>
                </el-select>
                <el-input-number v-model="ruleForm.payType.OnlineBank.minRandomDecimal" v-show="ruleForm.payType.OnlineBank.isDecimal === '1'" :min="0" :max="1" :step="0.01" size="mini"></el-input-number>
              </div>
          </div>
          <div class="decimal-number" v-if="ruleForm.dictionId.filter(v => v === '103').length">
              <el-checkbox class="width-search100" v-model="ruleForm.payType.Alipay.isShowDecimal"  >支付宝支付</el-checkbox>
              <div class="decimal-settingbox" v-if="ruleForm.payType.Alipay.isShowDecimal">
                <el-select size="min"   v-model="ruleForm.payType.Alipay.isDecimal" class=" margin-r10 width-search120"  >
                  <el-option label="请选择" value="0">请选择</el-option>
                  <el-option label="设置小数点" value="1"></el-option>
                  <el-option label="不设置小数点" value="2"></el-option>
                </el-select>
                <el-input-number v-model="ruleForm.payType.Alipay.minRandomDecimal" v-show="ruleForm.payType.Alipay.isDecimal === '1'" :min="0" :max="1" :step="0.01" size="mini"></el-input-number>
              </div>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '104').length">
             <el-checkbox class="width-search100" v-model="ruleForm.payType.Wechat.isShowDecimal" >微信支付</el-checkbox>
              <div class="decimal-settingbox" v-if="ruleForm.payType.Wechat.isShowDecimal">
                <el-select   v-model="ruleForm.payType.Wechat.isDecimal" class=" margin-r10 width-search120"  >
                  <el-option label="请选择" value="0">请选择</el-option>
                  <el-option label="设置小数点" value="1"></el-option>
                  <el-option label="不设置小数点" value="2"></el-option>
                </el-select>
                <el-input-number  v-model="ruleForm.payType.Wechat.minRandomDecimal" v-show="ruleForm.payType.Wechat.isDecimal === '1'" :min="0" :max="1" :step="0.01" size="mini"></el-input-number>
              </div>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '105').length">
            <el-checkbox class="width-search100" v-model="ruleForm.payType.QQ.isShowDecimal"  >QQ钱包</el-checkbox>
            <div class="decimal-settingbox" v-if="ruleForm.payType.QQ.isShowDecimal" >
              <el-select size="min"   v-model="ruleForm.payType.QQ.isDecimal" class=" margin-r10 width-search120"  >
                <el-option label="请选择" value="0">请选择</el-option>
                <el-option label="设置小数点" value="1"></el-option>
                <el-option label="不设置小数点" value="2"></el-option>
              </el-select>
              <el-input-number v-model="ruleForm.payType.QQ.minRandomDecimal" v-show="ruleForm.payType.QQ.isDecimal === '1'" :min="0" :max="1" :step="0.01" size="mini"></el-input-number>
            </div>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '108').length">
            <el-checkbox label=1 class="width-search100" v-model="ruleForm.payType.Quickpass.isShowDecimal"  >云闪付</el-checkbox>
            <div class="decimal-settingbox" v-if="ruleForm.payType.Quickpass.isShowDecimal" >
              <el-select size="min"   v-model="ruleForm.payType.Quickpass.isDecimal" class=" margin-r10 width-search120"  >
                <el-option label="请选择" value="0">请选择</el-option>
                <el-option label="设置小数点" value="1"></el-option>
                <el-option label="不设置小数点" value="2"></el-option>
              </el-select>
              <el-input-number v-model="ruleForm.payType.Quickpass.minRandomDecimal" v-show="ruleForm.payType.Quickpass.isDecimal === '1'" :min="0" :max="1" :step="0.01" size="mini"></el-input-number>
            </div>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '109').length">
            <el-checkbox label=1 class="width-search100" v-model="ruleForm.payType.JdPay.isShowDecimal"  >京东钱包</el-checkbox>
            <div class="decimal-settingbox" v-if="ruleForm.payType.JdPay.isShowDecimal" >
              <el-select size="min"   v-model="ruleForm.payType.JdPay.isDecimal" class=" margin-r10 width-search120"  >
                <el-option label="请选择" value="0">请选择</el-option>
                <el-option label="设置小数点" value="1"></el-option>
                <el-option label="不设置小数点" value="2"></el-option>
              </el-select>
              <el-input-number v-model="ruleForm.payType.JdPay.minRandomDecimal" v-show="ruleForm.payType.JdPay.isDecimal === '1'" :min="0" :max="1" :step="0.01" size="mini"></el-input-number>
            </div>
          </div>
          <div v-if="ruleForm.dictionId.filter(v => v === '107').length">
            <el-checkbox label=1 class="width-search100" v-model="ruleForm.payType.UnionPay.isShowDecimal"  >银联支付</el-checkbox>
            <div class="decimal-settingbox" v-if="ruleForm.payType.UnionPay.isShowDecimal" >
              <el-select size="min"   v-model="ruleForm.payType.UnionPay.isDecimal" class=" margin-r10 width-search120"  >
                <el-option label="请选择" value="0">请选择</el-option>
                <el-option label="设置小数点" value="1"></el-option>
                <el-option label="不设置小数点" value="2"></el-option>
              </el-select>
              <el-input-number v-model="ruleForm.payType.UnionPay.minRandomDecimal" v-show="ruleForm.payType.UnionPay.isDecimal === '1'" :min="0" :max="1" :step="0.01" size="mini"></el-input-number>
            </div>
          </div>
        </el-form-item>
        <el-form-item label="通道类型">
        <div class="text-style">
        一：请选择通道类型
        </div>
        <el-radio-group v-model="ruleForm.type" size="mini">
        <el-radio-button label="扫码"></el-radio-button>
        <el-radio-button label="H5"></el-radio-button>
        <el-radio-button label="WAP"></el-radio-button>
        <el-radio-button label="条形码"></el-radio-button>
        <el-radio-button label="银联快捷"></el-radio-button>
        </el-radio-group>
        </el-form-item>
        <el-form-item>
        <div class="text-style">
        二：请选择通道类型对应的手机端打开方式和配置Style
        <div class="margin-b10 style-box">
            <el-checkbox label="全局共用Style" v-model="allStyleCheck" class="margin-r10"></el-checkbox>
            <el-input v-show="allStyleCheck" :class="{'width-search250': screenW>550}" size="mini" v-model="allStyleCheckinput" placeholder="请设置网页全局共用显示样式（Style)"></el-input>
            <el-button v-show="allStyleCheck" :class="screenW>550 ?'margin-l10':'margin-t6'" size="mini" type="primary" @click="styleAll(false)" >确定</el-button>
            <el-button v-show="allStyleCheck" class="margin-l10" size="mini" @click="styleAll(true)">重置</el-button>
        </div>
        </div>
          <el-form label-width="100px"  :label-position="screenW < 767 ? 'top':'right' " style="width: 100%" class="border-box" v-if="ruleForm.type === '扫码'">
            <el-form-item label="支付宝支付">
              <el-col :sm="5" >
                <el-select v-model="ruleForm.mobileType.PC.Alipay.openType" >
                  <el-option v-for="n in allOptions"  :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.PC.Alipay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.PC.Alipay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.PC.Alipay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="微信支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.PC.Wechat.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.PC.Wechat.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.PC.Wechat.openType === 1" >
                <el-input v-model="ruleForm.mobileType.PC.Wechat.style" placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="QQ钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.PC.QQ.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.PC.QQ.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.PC.QQ.openType === 1" >
                <el-input v-model="ruleForm.mobileType.PC.QQ.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="网银">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.PC.OnlineBank.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.PC.OnlineBank.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.PC.OnlineBank.openType === 1" >
                <el-input v-model="ruleForm.mobileType.PC.OnlineBank.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="云闪付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.PC.Quickpass.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.PC.Quickpass.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.PC.Quickpass.openType === 1" >
                <el-input v-model="ruleForm.mobileType.PC.Quickpass.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="京东钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.PC.JdPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.PC.JdPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.PC.JdPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.PC.JdPay.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="银联支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.PC.UnionPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.PC.UnionPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.PC.UnionPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.PC.UnionPay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
          </el-form>
          <el-form label-width="100px"  :label-position="screenW < 767 ? 'top':'right' " style="width: 100%" class="border-box" v-if="ruleForm.type === 'H5'">
            <el-form-item label="支付宝支付">
              <el-col :sm="5" >
                <el-select v-model="ruleForm.mobileType.H5.Alipay.openType" >
                  <el-option v-for="n in allOptions"  :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.H5.Alipay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.H5.Alipay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.H5.Alipay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="微信支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.H5.Wechat.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.H5.Wechat.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.H5.Wechat.openType === 1" >
                <el-input v-model="ruleForm.mobileType.H5.Wechat.style" placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="QQ钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.H5.QQ.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.H5.QQ.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.H5.QQ.openType === 1" >
                <el-input v-model="ruleForm.mobileType.H5.QQ.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="网银">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.H5.OnlineBank.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.H5.OnlineBank.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.H5.OnlineBank.openType === 1" >
                <el-input v-model="ruleForm.mobileType.H5.OnlineBank.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="云闪付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.H5.Quickpass.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.H5.Quickpass.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.H5.Quickpass.openType === 1" >
                <el-input v-model="ruleForm.mobileType.H5.Quickpass.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="京东钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.H5.JdPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.H5.JdPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.H5.JdPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.H5.JdPay.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="银联支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.H5.UnionPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.H5.UnionPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.H5.UnionPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.H5.UnionPay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
          </el-form>
          <el-form label-width="100px"  :label-position="screenW < 767 ? 'top':'right' " style="width: 100%" class="border-box" v-if="ruleForm.type === 'WAP'">
            <el-form-item label="支付宝支付">
              <el-col :sm="5" >
                <el-select v-model="ruleForm.mobileType.WAP.Alipay.openType" >
                  <el-option v-for="n in allOptions"  :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.WAP.Alipay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.WAP.Alipay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.WAP.Alipay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="微信支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.WAP.Wechat.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.WAP.Wechat.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.WAP.Wechat.openType === 1" >
                <el-input v-model="ruleForm.mobileType.WAP.Wechat.style" placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="QQ钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.WAP.QQ.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.WAP.QQ.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.WAP.QQ.openType === 1" >
                <el-input v-model="ruleForm.mobileType.WAP.QQ.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="网银">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.WAP.OnlineBank.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.WAP.OnlineBank.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.WAP.OnlineBank.openType === 1" >
                <el-input v-model="ruleForm.mobileType.WAP.OnlineBank.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="云闪付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.WAP.Quickpass.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.WAP.Quickpass.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.WAP.Quickpass.openType === 1" >
                <el-input v-model="ruleForm.mobileType.WAP.Quickpass.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="京东钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.WAP.JdPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.WAP.JdPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.WAP.JdPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.WAP.JdPay.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="银联支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.WAP.UnionPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.WAP.UnionPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.WAP.UnionPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.WAP.UnionPay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
          </el-form>
          <el-form label-width="100px"  :label-position="screenW < 767 ? 'top':'right' " style="width: 100%" class="border-box" v-if="ruleForm.type === '条形码'">
            <el-form-item label="支付宝支付">
              <el-col :sm="5" >
                <el-select v-model="ruleForm.mobileType.Barcode.Alipay.openType" >
                  <el-option v-for="n in allOptions"  :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.Barcode.Alipay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.Barcode.Alipay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.Barcode.Alipay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="微信支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.Barcode.Wechat.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.Barcode.Wechat.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.Barcode.Wechat.openType === 1" >
                <el-input v-model="ruleForm.mobileType.Barcode.Wechat.style" placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="QQ钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.Barcode.QQ.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.Barcode.QQ.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.Barcode.QQ.openType === 1" >
                <el-input v-model="ruleForm.mobileType.Barcode.QQ.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="网银">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.Barcode.OnlineBank.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.Barcode.OnlineBank.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.Barcode.OnlineBank.openType === 1" >
                <el-input v-model="ruleForm.mobileType.Barcode.OnlineBank.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="云闪付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.Barcode.Quickpass.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.Barcode.Quickpass.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.Barcode.Quickpass.openType === 1" >
                <el-input v-model="ruleForm.mobileType.Barcode.Quickpass.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="京东钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.Barcode.JdPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.Barcode.JdPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.Barcode.JdPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.Barcode.JdPay.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="银联支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.Barcode.UnionPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.Barcode.UnionPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.Barcode.UnionPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.Barcode.UnionPay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
          </el-form>
          <el-form label-width="100px"  :label-position="screenW < 767 ? 'top':'right' " style="width: 100%" class="border-box" v-if="ruleForm.type === '银联快捷'">
            <el-form-item label="支付宝支付">
              <el-col :sm="5" >
                <el-select v-model="ruleForm.mobileType.UnionQuick.Alipay.openType" >
                  <el-option v-for="n in allOptions"  :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.UnionQuick.Alipay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.UnionQuick.Alipay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.UnionQuick.Alipay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="微信支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.UnionQuick.Wechat.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.UnionQuick.Wechat.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.UnionQuick.Wechat.openType === 1" >
                <el-input v-model="ruleForm.mobileType.UnionQuick.Wechat.style" placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="QQ钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.UnionQuick.QQ.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.UnionQuick.QQ.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.UnionQuick.QQ.openType === 1" >
                <el-input v-model="ruleForm.mobileType.UnionQuick.Wechat.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="网银">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.UnionQuick.OnlineBank.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.UnionQuick.OnlineBank.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.UnionQuick.OnlineBank.openType === 1" >
                <el-input v-model="ruleForm.mobileType.UnionQuick.OnlineBank.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="云闪付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.UnionQuick.Quickpass.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.UnionQuick.Quickpass.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.UnionQuick.Quickpass.openType === 1" >
                <el-input v-model="ruleForm.mobileType.UnionQuick.Quickpass.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="京东钱包">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.UnionQuick.JdPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.UnionQuick.JdPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.UnionQuick.JdPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.UnionQuick.JdPay.style"  placeholder="请设置网页显示样式（Style)" ></el-input>
              </el-col>
            </el-form-item>
            <el-form-item label="银联支付">
              <el-col :sm="5">
                <el-select v-model="ruleForm.mobileType.UnionQuick.UnionPay.openType">
                  <el-option v-for="n in allOptions" :label="n.way" :value="n.id" :key="n.id"></el-option>
                </el-select>
              </el-col>
              <el-col class="line hidden768" :sm="1" v-show="ruleForm.mobileType.UnionQuick.UnionPay.openType === 1"  >-</el-col>
              <el-col  :sm="18" v-show="ruleForm.mobileType.UnionQuick.UnionPay.openType === 1" >
                <el-input v-model="ruleForm.mobileType.UnionQuick.UnionPay.style"  placeholder="请设置网页显示样式（Style)"></el-input>
              </el-col>
            </el-form-item>
          </el-form>
        </el-form-item>
          <el-form-item label="充值固定金额" prop="dictionId" class="rwd-width50 fixed-item" v-if="ruleForm.dictionId.length">
            <el-checkbox-group v-model="ruleForm.fixList" >
              <el-checkbox label="101" v-if="ruleForm.dictionId.filter(v => v === '101').length " >网银支付</el-checkbox>
               <el-checkbox label="103" v-if="ruleForm.dictionId.filter(v => v === '103').length " >支付宝支付</el-checkbox>
               <el-checkbox label="104" v-if="ruleForm.dictionId.filter(v => v === '104').length " >微信支付</el-checkbox>
              <el-checkbox label="105" v-if="ruleForm.dictionId.filter(v => v === '105').length " >QQ钱包</el-checkbox>
              <el-checkbox label="108" v-if="ruleForm.dictionId.filter(v => v === '108').length " >云闪付</el-checkbox>
              <el-checkbox label="109" v-if="ruleForm.dictionId.filter(v => v === '109').length " >京东钱包</el-checkbox>
              <el-checkbox label="107" v-if="ruleForm.dictionId.filter(v => v === '107').length " >银联支付</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
          <div class="border-box fixamount-outsildebox" v-if="ruleForm.dictionId.length">
            <div class="text-style" v-show="ruleForm.fixList.length === 0">
              尚未选择启用充值固定金额
            </div>
              <div v-if="ruleForm.fixList.filter(v => v === '101').length && ruleForm.dictionId.filter(v => v === '101').length ">
                <div class="text-style">
                  网银支付使用充值固定金额
                </div>
                <div class="fixamount-box tenant-fix">
                  <el-form-item
                    v-for="(items, index) in ruleForm.payType.OnlineBank.fixedAmountList"
                    :key="items.key"
                    :prop="'payType.OnlineBank.fixedAmountList.' + index + '.value'"
                    :rules="[{ validator: (rule, value, callback) => {
                    if (value) {
                       number01Max6 (value, index, callback)
                       if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                           callback()
                           return
                       }
                        if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       callback('请输入有效的数字')
                       return
                    }
                    callback()
                  }, trigger: 'blur' }]">
                    <el-input v-model="items.value" placeholder="设置金额" size="min" ></el-input>
                  </el-form-item>
                </div>
              </div>
              <div v-if="ruleForm.fixList.filter(v => v === '103').length && ruleForm.dictionId.filter(v => v === '103').length">
                <div class="text-style ">
                  支付宝支付使用充值固定金额
                </div>
                <div class="fixamount-box tenant-fix">
                  <el-form-item
                    v-for="(items, index) in ruleForm.payType.Alipay.fixedAmountList"
                    :key="items.key"
                    :prop="'payType.Alipay.fixedAmountList.' + index + '.value'"
                    :rules="[{ validator: (rule, value, callback) => {
                    if (value) {
                       number02Max6 (value, index, callback)
                       if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                           callback()
                           return
                       }
                        if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       callback('请输入有效的数字')
                       return
                    }
                    callback()
                  }, trigger: 'blur' }]">
                    <el-input v-model="items.value" placeholder="设置金额" size="min" ></el-input>
                  </el-form-item>
                </div>
              </div>
              <div v-if="ruleForm.fixList.filter(v => v === '104').length && ruleForm.dictionId.filter(v => v === '104').length  ">
                <div class="text-style ">
                  微信支付使用充值固定金额
                </div>
                <div class="fixamount-box tenant-fix">
                  <el-form-item
                    v-for="(items, index) in ruleForm.payType.Wechat.fixedAmountList"
                    :key="items.key"
                    :prop="'payType.Wechat.fixedAmountList.' + index + '.value'"
                    :rules="[{ validator: (rule, value, callback) => {
                    if (value) {
                       number03Max6 (value, index, callback)
                       if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                           callback()
                           return
                       }
                       if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       callback('请输入有效的数字')
                       return
                    }
                    callback()
                  }, trigger: 'blur' }]">
                    <el-input v-model="items.value" placeholder="设置金额" size="min" ></el-input>
                  </el-form-item>
                </div>
              </div>
              <div v-if="ruleForm.fixList.filter(v => v === '105').length && ruleForm.dictionId.filter(v => v === '105').length ">
                <div class="text-style">
                  QQ钱包使用充值固定金额
                </div>
                <div class="fixamount-box tenant-fix">
                  <el-form-item
                    v-for="(items, index) in ruleForm.payType.QQ.fixedAmountList"
                    :key="items.key"
                    :prop="'payType.QQ.fixedAmountList.' + index + '.value'"
                    :rules="[{ validator: (rule, value, callback) => {
                    if (value) {
                        number04Max6 (value, index, callback)
                        if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                           callback()
                           return
                       }

                       if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       callback('请输入有效的数字')
                       return
                    }
                    callback()
                  }, trigger: 'blur' }]">
                    <el-input v-model="items.value" placeholder="设置金额" size="min" ></el-input>
                  </el-form-item>
                </div>
              </div>
              <div v-if="ruleForm.fixList.filter(v => v === '108').length && ruleForm.dictionId.filter(v => v === '108').length ">
                <div class="text-style">
                  云闪付使用充值固定金额
                </div>
                <div class="fixamount-box tenant-fix">
                  <el-form-item
                    v-for="(items, index) in ruleForm.payType.Quickpass.fixedAmountList"
                    :key="items.key"
                    :prop="'payType.Quickpass.fixedAmountList.' + index + '.value'"
                    :rules="[{ validator: (rule, value, callback) => {
                    if (value) {
                        number05Max6 (value, index, callback)
                       if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                           callback()
                           return
                       }
                       if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       callback('请输入有效的数字')
                       return
                    }
                    callback()
                  }, trigger: 'blur' }]">
                    <el-input v-model="items.value" placeholder="设置金额" size="min" ></el-input>
                  </el-form-item>
                </div>
              </div>
              <div v-if="ruleForm.fixList.filter(v => v === '109').length && ruleForm.dictionId.filter(v => v === '109').length ">
                <div class="text-style">
                  京东钱包使用充值固定金额
                </div>
                <div class="fixamount-box tenant-fix">
                  <el-form-item
                    v-for="(items, index) in ruleForm.payType.JdPay.fixedAmountList"
                    :key="items.key"
                    :prop="'payType.JdPay.fixedAmountList.' + index + '.value'"
                    :rules="[{ validator: (rule, value, callback) => {
                    if (value) {
                        number05Max6 (value, index, callback)
                       if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                           callback()
                           return
                       }
                       if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       callback('请输入有效的数字')
                       return
                    }
                    callback()
                  }, trigger: 'blur' }]">
                    <el-input v-model="items.value" placeholder="设置金额" size="min" ></el-input>
                  </el-form-item>
                </div>
              </div>
              <div v-if="ruleForm.fixList.filter(v => v === '107').length && ruleForm.dictionId.filter(v => v === '107').length ">
                <div class="text-style">
                  银联使用充值固定金额
                </div>
                <div class="fixamount-box tenant-fix">
                  <el-form-item
                    v-for="(items, index) in ruleForm.payType.UnionPay.fixedAmountList"
                    :key="items.key"
                    :prop="'payType.UnionPay.fixedAmountList.' + index + '.value'"
                    :rules="[{ validator: (rule, value, callback) => {
                    if (value) {
                        number05Max6 (value, index, callback)
                       if(/^[0-9]*$/.test(value) || /^[0-9]+(.[0-9]{1,2})?$/.test(value)) {
                           callback()
                           return
                       }
                       if(Number(value)<=0) {
                           callback('输入数字必需大于0')
                           return
                       }
                       callback('请输入有效的数字')
                       return
                    }
                    callback()
                  }, trigger: 'blur' }]">
                    <el-input v-model="items.value" placeholder="设置金额" size="min" ></el-input>
                  </el-form-item>
                </div>
              </div>
          </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      ThirdPartyForm: false,
      avatorVisible: false,
      SettingNickName: false,
      allStyleCheck: '',
      allStyleCheckinput: '',
      allOptions: [
        {
          'id': 1,
          'way': '内页打开'
        },
        {
          'id': 2,
          'way': '新视窗'
        }
      ],
      fixMoneyForm: {
        payType: {
          OnlineBank: {
            dictionId: '101',
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          Alipay: {
            dictionId: '103',
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          Wechat: {
            dictionId: '104',
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          QQ: {
            dictionId: '105',
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          Quickpass: {
            dictionId: '108',
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          JdPay: {
            dictionId: '109',
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          UnionPay: {
            dictionId: '107',
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          }
        }
      },
      ruleForm: {
        id: '',
        thirdPartyName: '',
        payLink: '',
        amountRange: 0,
        isEnabled: 1,
        dictionId: [],
        fixList: [],
        payType: {
          OnlineBank: {
            dictionId: '101',
            mobileType: [],
            isDecimal: '2',
            isShowDecimal: false,
            minRandomDecimal: 0.01,
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          Alipay: {
            dictionId: '103',
            mobileType: [],
            isDecimal: '2',
            isShowDecimal: false,
            minRandomDecimal: 0.01,
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          Wechat: {
            dictionId: '104',
            mobileType: [],
            isDecimal: '2',
            isShowDecimal: false,
            minRandomDecimal: 0.01,
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          QQ: {
            dictionId: '105',
            mobileType: [],
            isDecimal: '2',
            isShowDecimal: false,
            minRandomDecimal: 0.01,
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          Quickpass: {
            dictionId: '108',
            mobileType: [],
            isDecimal: '2',
            isShowDecimal: false,
            minRandomDecimal: 0.01,
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          JdPay: {
            dictionId: '109',
            mobileType: [],
            isDecimal: '2',
            isShowDecimal: false,
            minRandomDecimal: 0.01,
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          },
          UnionPay: {
            dictionId: '107',
            mobileType: [],
            isDecimal: '2',
            isShowDecimal: false,
            minRandomDecimal: 0.01,
            fixedAmount: false,
            fixedAmountList: [{
              value: ''
            }]
          }
        },
        mobileType: {
          PC: {
            name: '扫码',
            Alipay: {
              dictionId: '103',
              openType: 2,
              style: ''
            },
            Wechat: {
              dictionId: '104',
              openType: 2,
              style: ''
            },
            QQ: {
              dictionId: '105',
              openType: 2,
              style: ''
            },
            UnionPay: {
              dictionId: '107',
              openType: 2,
              style: ''
            },
            OnlineBank: {
              dictionId: '101',
              openType: 2,
              style: ''
            },
            Quickpass: {
              dictionId: '108',
              openType: 2,
              style: ''
            },
            JdPay: {
              dictionId: '109',
              openType: 2,
              style: ''
            }
          },
          H5: {
            name: 'H5',
            Alipay: {
              dictionId: '103',
              openType: 2,
              style: ''
            },
            Wechat: {
              dictionId: '104',
              openType: 2,
              style: ''
            },
            QQ: {
              dictionId: '105',
              openType: 2,
              style: ''
            },
            UnionPay: {
              dictionId: '107',
              openType: 2,
              style: ''
            },
            OnlineBank: {
              dictionId: '101',
              openType: 2,
              style: ''
            },
            Quickpass: {
              dictionId: '108',
              openType: 2,
              style: ''
            },
            JdPay: {
              dictionId: '109',
              openType: 2,
              style: ''
            }
          },
          WAP: {
            name: 'WAP',
            Alipay: {
              dictionId: '103',
              openType: 2,
              style: ''
            },
            Wechat: {
              dictionId: '104',
              openType: 2,
              style: ''
            },
            QQ: {
              dictionId: '105',
              openType: 2,
              style: ''
            },
            UnionPay: {
              dictionId: '107',
              openType: 2,
              style: ''
            },
            OnlineBank: {
              dictionId: '101',
              openType: 2,
              style: ''
            },
            Quickpass: {
              dictionId: '108',
              openType: 2,
              style: ''
            },
            JdPay: {
              dictionId: '109',
              openType: 2,
              style: ''
            }
          },
          Barcode: {
            name: '条形码',
            Alipay: {
              dictionId: '103',
              openType: 2,
              style: ''
            },
            Wechat: {
              dictionId: '104',
              openType: 2,
              style: ''
            },
            QQ: {
              dictionId: '105',
              openType: 2,
              style: ''
            },
            UnionPay: {
              dictionId: '107',
              openType: 2,
              style: ''
            },
            OnlineBank: {
              dictionId: '101',
              openType: 2,
              style: ''
            },
            Quickpass: {
              dictionId: '108',
              openType: 2,
              style: ''
            },
            JdPay: {
              dictionId: '109',
              openType: 2,
              style: ''
            }
          },
          UnionQuick: {
            name: '银联快捷',
            Alipay: {
              dictionId: '103',
              openType: 2,
              style: ''
            },
            Wechat: {
              dictionId: '104',
              openType: 2,
              style: ''
            },
            QQ: {
              dictionId: '105',
              openType: 2,
              style: ''
            },
            UnionPay: {
              dictionId: '107',
              openType: 2,
              style: ''
            },
            OnlineBank: {
              dictionId: '101',
              openType: 2,
              style: ''
            },
            Quickpass: {
              dictionId: '108',
              openType: 2,
              style: ''
            },
            JdPay: {
              dictionId: '109',
              openType: 2,
              style: ''
            }
          }
        },
        type: '扫码'
      },
      rules: {
        thirdPartyName: [
          { required: true, message: '请输入第三方名称', trigger: 'blur' },
          { min: 1, max: 15, message: '长度在 1 到 15 个字符', trigger: 'blur' }
        ],
        payLink: [
          { required: true, message: '请输入第三方名称接口地址', trigger: 'change' }
        ],
        amountRange: [
          { required: true, message: '请输入金额误差范围', trigger: 'blur' }
        ]
      },
      isIndeterminate: true,
      num1: 0.01
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    number01Max6 (value, index, callback) {
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
    },
    number02Max6 (value, index, callback) {
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
    },
    number03Max6 (value, index, callback) {
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
    },
    number04Max6 (value, index, callback) {
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
    },
    number05Max6 (value, index, callback) {
      if (value.indexOf('.') === -1) {
        if (value.length > 6) {
          callback(new Error('不能大于6位数'))
        }
      } else {
        // 有小数
        if (value.length > 9) {
          callback(new Error('不能大于6位数'))
        }
      }
    },
    // FixShow (type) {
    //   // 网银支付
    //   if (this.ruleForm.payType[type].isShowDecimal && this.ruleForm.payType[type].isDecimal === '1') {
    //     this[type + 'FixShow'] = false
    //   } else {
    //     this[type + 'FixShow'] = true
    //   }
    // },
    // onFixedAmountlistChange () {
    //   console.log(this.ruleForm.payType.OnlineBank.fixedAmountList[0].value)
    // },
    closeClear () {
      for (let mobileTypeItem in this.ruleForm.mobileType) {
        for (let item in this.ruleForm.mobileType[mobileTypeItem]) {
          if (item === 'name') {
            continue
          }
          this.ruleForm.mobileType[mobileTypeItem][item].openType = 2
        }
      }
      this.ruleForm.id = ''
      this.resetForm('ruleForm')
      this.$emit('close')
    },
    // 判断是否有重复数据
    sortArry (arry) {
      let nary = arry.sort()
      let str = true
      for (let i = 0; i < arry.length; i++) {
        if (arry[i] === nary[i + 1]) {
          str = false
          break
        }
      }
      return str
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    styleAll (isClear) {
      if (!isClear) {
        for (let mobileType in this.ruleForm.mobileType) {
          for (let item in this.ruleForm.mobileType[mobileType]) {
            if (item === 'name') {
              continue
            }
            this.ruleForm.mobileType[mobileType][item].style = this.allStyleCheckinput
          }
        }
        return
      }
      for (let mobileType in this.ruleForm.mobileType) {
        for (let item in this.ruleForm.mobileType[mobileType]) {
          if (item === 'name') {
            continue
          }
          this.ruleForm.mobileType[mobileType][item].style = ''
        }
      }
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        let thirdPartyData = {}
        thirdPartyData.thirdPartySettingsVo = {}
        thirdPartyData.thirdPartySettingsVo.id = this.ruleForm.id
        thirdPartyData.thirdPartySettingsVo.thirdPartyName = this.ruleForm.thirdPartyName
        thirdPartyData.thirdPartySettingsVo.payLink = this.ruleForm.payLink
        thirdPartyData.thirdPartySettingsVo.isEnabled = false
        thirdPartyData.thirdPartySettingsVo.amountRange = this.ruleForm.amountRange
        if (this.ruleForm.isEnabled.toString() === '1') {
          thirdPartyData.thirdPartySettingsVo.isEnabled = true
        }
        thirdPartyData.thirdPartyMobileTypeSettingsVoList = []
        for (let mobileTypeItem in this.ruleForm.mobileType) {
          for (let item in this.ruleForm.mobileType[mobileTypeItem]) {
            if (item === 'name') {
              continue
            }
            let thirdPartyMobileTypeSettingsVoData = {}
            Object.assign(thirdPartyMobileTypeSettingsVoData, {})
            thirdPartyMobileTypeSettingsVoData.dictionId = this.ruleForm.mobileType[mobileTypeItem][item].dictionId
            thirdPartyMobileTypeSettingsVoData.mobileType = this.ruleForm.mobileType[mobileTypeItem].name
            thirdPartyMobileTypeSettingsVoData.openType = this.ruleForm.mobileType[mobileTypeItem][item].openType
            thirdPartyMobileTypeSettingsVoData.style = this.ruleForm.mobileType[mobileTypeItem][item].style
            thirdPartyData.thirdPartyMobileTypeSettingsVoList.push(thirdPartyMobileTypeSettingsVoData)
          }
        }
        thirdPartyData.thirdPartyDetailSettingsVoList = []
        for (let item in this.ruleForm.dictionId) {
          for (let payTypeItem in this.ruleForm.payType) {
            if (this.ruleForm.dictionId[item] !== this.ruleForm.payType[payTypeItem].dictionId) {
              continue
            }
            // console.log( this.ruleForm.payType[payTypeItem])
            let thirdPartyDetailSettingsVoData = {}
            Object.assign(thirdPartyDetailSettingsVoData, {})
            thirdPartyDetailSettingsVoData.dictionId = this.ruleForm.dictionId[item]
            if (this.ruleForm.payType[payTypeItem].isShowDecimal) {
              thirdPartyDetailSettingsVoData.isDecimal = this.ruleForm.payType[payTypeItem].isDecimal
            } else {
              thirdPartyDetailSettingsVoData.isDecimal = '0'
            }
            thirdPartyDetailSettingsVoData.mobileTypeList = this.ruleForm.payType[payTypeItem].mobileType.join(',')
            thirdPartyDetailSettingsVoData.minRandomDecimal = this.ruleForm.payType[payTypeItem].minRandomDecimal
            let fixedAmountList = []
            for (let k = 0; k < this.ruleForm.payType[payTypeItem].fixedAmountList.length; k++) {
              if (!this.ruleForm.payType[payTypeItem].fixedAmountList[k].value) {
                continue
              }
              fixedAmountList.push(this.ruleForm.payType[payTypeItem].fixedAmountList[k].value)
            }
            thirdPartyDetailSettingsVoData.fixedAmountList = fixedAmountList.join(',')
            thirdPartyDetailSettingsVoData.isFixedAmount = this.ruleForm.fixList.filter(v => v === thirdPartyDetailSettingsVoData.dictionId).length
            thirdPartyData.thirdPartyDetailSettingsVoList.push(thirdPartyDetailSettingsVoData)
          }
        }
        for (let i = 0; i < thirdPartyData.thirdPartyDetailSettingsVoList.length; i++) {
          if (thirdPartyData.thirdPartyDetailSettingsVoList[i].fixedAmountList) {
            let arr = thirdPartyData.thirdPartyDetailSettingsVoList[i].fixedAmountList.split(',')
            if (!this.sortArry(arr)) {
              this.submitLoading = false
              this.msgError('固定值数据不能输入重复')
              return
            }
          }
        }
        submitData.data = JSON.stringify(thirdPartyData)
        Api.saveOrUpdateThirdPartySettings(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    },
    getThirdPartyData (thirdPartyName) {
      this.loading = true
      let obj = this
      let submitData = {}
      submitData.thirdPartyName = thirdPartyName
      Api.queryConfigurationInformation(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let thirdPartyPaySettings = res.data.thirdPartyPaySettings
        this.ruleForm.id = thirdPartyPaySettings.id
        this.ruleForm.thirdPartyName = thirdPartyPaySettings.thirdPartyName
        this.ruleForm.payLink = thirdPartyPaySettings.payLink
        this.ruleForm.amountRange = thirdPartyPaySettings.amountRange
        this.ruleForm.isEnabled = 0
        if (thirdPartyPaySettings.isEnabled) {
          this.ruleForm.isEnabled = 1
        }
        let thirdPartyMobileTypeSettingsList = res.data.thirdPartyMobileTypeSettingsList
        let thirdPartyMobileTypeSettingsData = {}
        for (let item in thirdPartyMobileTypeSettingsList) {
          let key = thirdPartyMobileTypeSettingsList[item].dictionId + '' + thirdPartyMobileTypeSettingsList[item].mobileType
          thirdPartyMobileTypeSettingsData[key] = thirdPartyMobileTypeSettingsList[item]
        }
        for (let mobileTypeItem in this.ruleForm.mobileType) {
          for (let item in this.ruleForm.mobileType[mobileTypeItem]) {
            if (item === 'name') {
              continue
            }
            let key = this.ruleForm.mobileType[mobileTypeItem][item].dictionId + this.ruleForm.mobileType[mobileTypeItem].name
            if (!thirdPartyMobileTypeSettingsData[key]) {
              continue
            }
            this.ruleForm.mobileType[mobileTypeItem][item].openType = 1
            if (thirdPartyMobileTypeSettingsData[key].openType) {
              this.ruleForm.mobileType[mobileTypeItem][item].openType = thirdPartyMobileTypeSettingsData[key].openType
            }
            this.ruleForm.mobileType[mobileTypeItem][item].style = ''
            if (thirdPartyMobileTypeSettingsData[key].style) {
              this.ruleForm.mobileType[mobileTypeItem][item].style = thirdPartyMobileTypeSettingsData[key].style
            }
          }
        }
        let thirdPartyDetailSettingsList = res.data.thirdPartyDetailSettingsList
        let thirdPartyDetailSettingsData = {}
        for (let item in thirdPartyDetailSettingsList) {
          thirdPartyDetailSettingsData[thirdPartyDetailSettingsList[item].dictionId] = thirdPartyDetailSettingsList[item]
        }
        this.ruleForm.dictionId = []
        this.ruleForm.fixList = []
        for (let payTypeItem in this.ruleForm.payType) {
          let key = this.ruleForm.payType[payTypeItem].dictionId
          let fixedAmountListData = []
          if (thirdPartyDetailSettingsData[key]) {
            this.ruleForm.dictionId.push(thirdPartyDetailSettingsData[key].dictionId.toString())
            this.ruleForm.payType[payTypeItem].mobileType = []
            if (thirdPartyDetailSettingsData[key].mobileTypeList) {
              this.ruleForm.payType[payTypeItem].mobileType = thirdPartyDetailSettingsData[key].mobileTypeList.toString().split(',')
            }
            this.ruleForm.payType[payTypeItem].isDecimal = '0'
            this.ruleForm.payType[payTypeItem].isShowDecimal = false
            if (thirdPartyDetailSettingsData[key].isDecimal && thirdPartyDetailSettingsData[key].isDecimal.toString() !== '0') {
              this.ruleForm.payType[payTypeItem].isDecimal = thirdPartyDetailSettingsData[key].isDecimal.toString()
              this.ruleForm.payType[payTypeItem].isShowDecimal = true
            }
            this.ruleForm.payType[payTypeItem].minRandomDecimal = thirdPartyDetailSettingsData[key].minRandomDecimal
            let index = 0
            if (thirdPartyDetailSettingsData[key].fixedAmountList) {
              // if (!this.sortArry(thirdPartyDetailSettingsData[key].fixedAmountList)) {
              //   this.submitLoading = false
              //   this.msgError('数据不能输入重复')
              //   return
              // }
              // let sortlist = thirdPartyDetailSettingsData[key].fixedAmountList.sort()
              // submitData.quickAmountList = sortlist.join(',')
              // console.log(thirdPartyDetailSettingsData[key].fixedAmountList)
              let fixedAmonutData = thirdPartyDetailSettingsData[key].fixedAmountList.split(',')
              if (fixedAmonutData.length > 0) {
                this.ruleForm.fixList.push(thirdPartyDetailSettingsData[key].dictionId.toString())
              }
              for (let i = 0; i < fixedAmonutData.length; i++) {
                let tempFixedAmountListData = {}
                Object.assign(tempFixedAmountListData, {})
                tempFixedAmountListData.key = i + 1
                tempFixedAmountListData.value = fixedAmonutData[i]
                fixedAmountListData.push(tempFixedAmountListData)
                index += 1
              }
            }
            if (index < 8) {
              for (let i = index; i < 8; i++) {
                let tempFixedAmountListData = {}
                Object.assign(tempFixedAmountListData, {})
                tempFixedAmountListData.key = i + 1
                tempFixedAmountListData.value = ''
                fixedAmountListData.push(tempFixedAmountListData)
              }
            }
            this.ruleForm.payType[payTypeItem].fixedAmountList = fixedAmountListData
            continue
          }
          for (let i = 0; i < 8; i++) {
            let tempFixedAmountListData = {}
            Object.assign(tempFixedAmountListData, {})
            tempFixedAmountListData.key = i + 1
            tempFixedAmountListData.value = ''
            fixedAmountListData.push(tempFixedAmountListData)
          }
          this.ruleForm.payType[payTypeItem].fixedAmountList = fixedAmountListData
        }
        // ['OnlineBank', 'Alipay', 'Wechat', 'QQ', 'UnionPay'].forEach((v) => {
        //   this.FixShow(v)
        // })
        // this.FixShow()
        // console.log(this.ruleForm)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          this.title = false
          if (this.data.thirdPartyName) {
            this.getThirdPartyData(this.data.thirdPartyName)
            this.title = true
          } else {
            this.ruleForm.payType.OnlineBank.fixedAmountList = []
            this.ruleForm.payType.Alipay.fixedAmountList = []
            this.ruleForm.payType.Wechat.fixedAmountList = []
            this.ruleForm.payType.QQ.fixedAmountList = []
            this.ruleForm.payType.UnionPay.fixedAmountList = []
            for (let i = 0; i < 8; i++) {
              let OnlineBank = {}
              Object.assign(OnlineBank, {})
              OnlineBank.key = i + 1
              OnlineBank.value = ''
              if (this.ruleForm.payType.OnlineBank.fixedAmountList.length < 8) {
                this.ruleForm.payType.OnlineBank.fixedAmountList.push(OnlineBank)
              }
              let Alipay = {}
              Object.assign(Alipay, {})
              Alipay.key = i + 1
              Alipay.value = ''
              if (this.ruleForm.payType.Alipay.fixedAmountList.length < 8) {
                this.ruleForm.payType.Alipay.fixedAmountList.push(Alipay)
              }
              let Wechat = {}
              Object.assign(Wechat, {})
              Wechat.key = i + 1
              Wechat.value = ''
              if (this.ruleForm.payType.Wechat.fixedAmountList.length < 8) {
                this.ruleForm.payType.Wechat.fixedAmountList.push(Wechat)
              }
              let QQ = {}
              Object.assign(QQ, {})
              QQ.key = i + 1
              QQ.value = ''
              if (this.ruleForm.payType.QQ.fixedAmountList.length < 8) {
                this.ruleForm.payType.QQ.fixedAmountList.push(QQ)
              }
              let Quickpass = {}
              Object.assign(Quickpass, {})
              Quickpass.key = i + 1
              Quickpass.value = ''
              if (this.ruleForm.payType.Quickpass.fixedAmountList.length < 8) {
                this.ruleForm.payType.Quickpass.fixedAmountList.push(Quickpass)
              }
              let JdPay = {}
              Object.assign(JdPay, {})
              JdPay.key = i + 1
              JdPay.value = ''
              if (this.ruleForm.payType.JdPay.fixedAmountList.length < 8) {
                this.ruleForm.payType.JdPay.fixedAmountList.push(JdPay)
              }
              let UnionPay = {}
              Object.assign(UnionPay, {})
              UnionPay.key = i + 1
              UnionPay.value = ''
              if (this.ruleForm.payType.UnionPay.fixedAmountList.length < 8) {
                this.ruleForm.payType.UnionPay.fixedAmountList.push(UnionPay)
              }
            }
            this.ruleForm.dictionId = []
            this.ruleForm.payType.OnlineBank.mobileType = []
            this.ruleForm.payType.Alipay.mobileType = []
            this.ruleForm.payType.Wechat.mobileType = []
            this.ruleForm.payType.QQ.mobileType = []
            this.ruleForm.payType.UnionPay.mobileType = []
            this.ruleForm.payType.Quickpass.mobileType = []
            this.ruleForm.payType.JdPay.mobileType = []
            this.ruleForm.fixList = []
          }
        })
      }
    },
    data (nv) {
    }
  }
}
</script>
<style scoped>
.border-box{
  border: 1px solid var(--color-border);
  padding: 10px;
  max-width: 500px;
}
.width-search100{
  width: 100px !important;
}
.line{
  text-align: center;
}
.width-search120{
  width: 120px !important;
}
.decimal-settingbox{
  display: inline-block;
}

@media screen and (max-width: 768px){
  .border-box{
    border: none;
    padding: 10px 0;
    max-width: 500px;
  }
}
@media screen and (max-width: 767px){
  .el-select{
    width: 100%;
    margin-bottom: 5px;
  }
  .hidden768{
    display: none;
  }
}
@media screen and (max-width: 500px){
  .decimal-settingbox{
    display: block;
  }
}
@media screen and (max-width: 320px){
  .el-radio-button--mini .el-radio-button__inner{
    padding: 7px 10px;
  }
}

</style>
