<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增共享令牌"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="ruleForm" :rules="rules" size="small" ref="ruleForm" class="form" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                   element-loading-customClass="loadingClass"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
             <el-form-item label="站长账号" prop="admin">
              <el-input v-model="ruleForm.admin" placeholder="请输入共享站的站长账号"></el-input>
            </el-form-item>
            <el-form-item label="站长密码" prop="password">
              <el-input v-model="ruleForm.password" type="password" placeholder="请输入共享站的站长密码"></el-input>
            </el-form-item>
            <el-form-item label="令牌别名" prop="alias">
              <el-input v-model="ruleForm.alias" placeholder="请输入共享站的令牌别名"></el-input>
            </el-form-item>
            <el-form-item label="令牌口令" prop="token">
              <el-input v-model="ruleForm.token" placeholder="请输入共享令牌的口令"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
import md5 from 'js-md5/build/md5.min'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        alias: '',
        admin: '',
        password: '',
        token: ''
      },
      rules: {
        alias: [
          { required: true, message: '请输入共享站的令牌别名', trigger: 'blur' }
        ],
        admin: [
          { required: true, message: '请输入共享站的站长账号', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入共享站的站长密码', trigger: 'blur' }
        ],
        token: [
          { required: true, message: '请输入共享令牌的口令', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    },
    submitForm (formName) {
      this.submitLoading = false
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        let name = submitData.admin.toLowerCase()
        submitData.password = md5(name + md5(this.ruleForm.password))
        Api.importToken(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('操作成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.alias = ''
          this.ruleForm.admin = ''
          this.ruleForm.password = ''
          this.ruleForm.tokey = ''
          this.loading = false
        })
      }
    }
  }
}
</script>
