<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="令牌绑定密钥"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object token-text" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div class="state">
              {{ruleForm.key}}
          </div>
          <div class="token-inof"><span class="color-danger margin-r4">*</span>请在5分钟内完成绑定，过期该密钥将会失效！</div>
        </div>
        <div slot="footer" class="dialog-footer">
          <!--<el-button @click="closeClear">关闭</el-button>-->
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        key: ''
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
    },
    getToken () {
      this.loading = true
      let obj = this
      let submitData = {}
      submitData.id = this.data.id
      Api.generateTokenKey(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm.key = res.data.key
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(function () {
          // this.initData()
          this.getToken()
        })
      }
    }
  }
}
</script>
<style scoped>
  .token-text{
    display:block;
    flex:none;
    padding-top:30px;
    margin-bottom:0;
    font-size:20px;
    text-align:center;
  }
  .token-inof{
    display:block;
    font-size:13px;
    margin-top:50px;
  }
</style>
