<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="新增令牌"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="media-object">
          <el-form :model="ruleForm" :rules="rules" size="small" ref="ruleForm" class="form" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
                   element-loading-customClass="loadingClass" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="手机别名" prop="alias">
              <el-input v-model="ruleForm.alias" placeholder="请输入手机别名"></el-input>
            </el-form-item>
            <el-form-item label="令牌类型" prop="isAdmin">
              <el-select v-model="ruleForm.isAdmin" placeholder="请选择令牌类型">
                <el-option v-for="l in Type" :label="l.label" :value="l.value" :key="l.value"></el-option>
              </el-select>
            </el-form-item>
            <div class="text-style">
              * 为方便手机管理，请填写手机别名，即手机代号。
            </div>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/sys'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        alias: '',
        isAdmin: ''
      },
      rules: {
        alias: [
          { required: true, message: '请输入手机别名', trigger: 'blur' },
          {min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur'}
        ],
        isAdmin: [
          { required: true, message: '请选择令牌类型', trigger: 'change' }
        ]
      },
      Type: [{ label: '普通令牌', value: 0 }, {label: '站长令牌', value: 1}]
    }
  },
  props: {
    visible: Boolean
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = false
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        Api.addToken(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getOrderList()
          this.$nextTick(function () {
            setTimeout(function () {
              obj.submitLoading = false
            }, 1000)
          })
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.ruleForm.alias = ''
          this.ruleForm.isAdmin = ''
          this.loading = false
        })
      }
    }
  }
}
</script>
