<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="data.type && data.type === 'batch' ? '批量返点设置' : '返点设置'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div v-loading="loading"
             element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <el-form :model="ruleForm" :rules="rules" size="small"  class="user-form" ref="ruleForm"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
              <el-form-item prop="SSCRebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue" :class="{'widthPercent':data.type}">时时彩</li>
                  <li class="user-title"  :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input"  :class="{widthPercent:data.type}"><el-input v-model="ruleForm.SSCRebate"></el-input></li>
                  <li class="user-range color-grey" v-if="!data.type">可修改返点范围({{ruleForm.SSCMinRebate + '-' + ruleForm.SSCMaxRebate}})</li>
                </ul>
              </el-form-item>
              <el-form-item prop="K3Rebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue" :class="{widthPercent:data.type}">快3</li>
                  <li class="user-title" :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input" :class="{widthPercent:data.type}"><el-input v-model="ruleForm.K3Rebate"></el-input></li>
                  <li class="user-range color-grey" v-show="!data.type">可修改返点范围({{ruleForm.K3MinRebate + '-' + ruleForm.K3MaxRebate}})</li>
                </ul>
              </el-form-item>
              <el-form-item prop="SYX5Rebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue" :class="{widthPercent:data.type}">11选5</li>
                  <li class="user-title" :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input" :class="{widthPercent:data.type}"><el-input v-model="ruleForm.SYX5Rebate"></el-input></li>
                  <li class="user-range color-grey" v-show="!data.type">可修改返点范围({{ruleForm.SYX5MinRebate + '-' + ruleForm.SYX5MaxRebate}})</li>
                </ul>
              </el-form-item>
              <el-form-item prop="FC3DRebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue" :class="{widthPercent:data.type}">3D</li>
                  <li class="user-title" :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input" :class="{widthPercent:data.type}"><el-input v-model="ruleForm.FC3DRebate"></el-input></li>
                  <li class="user-range color-grey" v-show="!data.type">可修改返点范围({{ruleForm.FC3DMinRebate + '-' + ruleForm.FC3DMaxRebate}})</li>
                </ul>
              </el-form-item>
              <el-form-item prop="PL35Rebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue"  :class="{widthPercent:data.type}">排列3</li>
                  <li class="user-title" :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input" :class="{widthPercent:data.type}"><el-input v-model="ruleForm.PL35Rebate"></el-input></li>
                  <li class="user-range color-grey" v-show="!data.type">可修改返点范围({{ruleForm.PL35MinRebate + '-' + ruleForm.PL35MaxRebate}})</li>
                </ul>
              </el-form-item>
              <el-form-item prop="KL8Rebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue" :class="{widthPercent:data.type}">快乐8</li>
                  <li class="user-title" :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input" :class="{widthPercent:data.type}"><el-input v-model="ruleForm.KL8Rebate"></el-input></li>
                  <li class="user-range color-grey" v-show="!data.type">可修改返点范围({{ruleForm.KL8MinRebate + '-' + ruleForm.KL8MaxRebate}})</li>
                </ul>
              </el-form-item>
              <el-form-item prop="PK10Rebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue" :class="{widthPercent:data.type}">PK10</li>
                  <li class="user-title" :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input" :class="{widthPercent:data.type}"><el-input v-model="ruleForm.PK10Rebate"></el-input></li>
                  <li class="user-range color-grey" v-show="!data.type">可修改返点范围({{ruleForm.PK10MinRebate + '-' + ruleForm.PK10MaxRebate}})</li>
                </ul>
              </el-form-item>
              <el-form-item prop="LHCRebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue" :class="{widthPercent:data.type}">六合彩</li>
                  <li class="user-title" :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input" :class="{widthPercent:data.type}"><el-input v-model="ruleForm.LHCRebate"></el-input></li>
                  <li class="user-range color-grey" v-show="!data.type">可修改返点范围({{ruleForm.LHCMinRebate + '-' + ruleForm.LHCMaxRebate}})</li>
                </ul>
              </el-form-item>
              <el-form-item prop="GAMERebate">
                <ul class="user-form rebate-ul" >
                  <li class="user-lottery color-blue" :class="{widthPercent:data.type}">棋牌</li>
                  <li class="user-title" :class="{widthPercent:data.type}"><i class="color-danger margin-r6">*</i>返点 :</li>
                  <li class="user-input" :class="{widthPercent:data.type}"><el-input v-model="ruleForm.GAMERebate"></el-input></li>
                  <li class="user-range color-grey" v-show="!data.type">可修改返点范围({{ruleForm.GAMEMinRebate + '-' + ruleForm.GAMEMaxRebate}})</li>
                </ul>
              </el-form-item>
          </el-form>
          <div class="el-dialog__footer">
            <div class="dialog-footer">
              <el-button @click="closeClear" size="mini">取 消</el-button>
              <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
             </div>
        </div>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
import {validateRules} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
let catchDefault = {
  SSCRebate: '',
  SSCMinRebate: '',
  SSCMaxRebate: '',
  K3Rebate: '',
  K3MinRebate: '',
  K3MaxRebate: '',
  SYX5Rebate: '',
  SYX5MinRebate: '',
  SYX5MaxRebate: '',
  FC3DRebate: '',
  FC3DMinRebate: '',
  FC3DMaxRebate: '',
  PL35Rebate: '',
  PL35MinRebate: '',
  PL35MaxRebate: '',
  KL8Rebate: '',
  KL8MinRebate: '',
  KL8MaxRebate: '',
  PK10Rebate: '',
  PK10MinRebate: '',
  PK10MaxRebate: '',
  LHCRebate: '',
  LHCMinRebate: '',
  LHCMaxRebate: '',
  GAMERebate: '',
  GAMEMinRebate: '',
  GAMEMaxRebate: ''
}
let timer = null
export default {
  data () {
    let validateSSCRebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入时时彩返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      // 单个操作处理
      if (!this.data.type && (Number(value) < this.ruleForm.SSCMinRebate || Number(value) > this.ruleForm.SSCMaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.SSCMinRebate + ']并且小于等于[' + this.ruleForm.SSCMaxRebate + ']'))
        return
      }
      callback()
    }
    let validateK3Rebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入快3返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (!this.data.type && (Number(value) < this.ruleForm.K3MinRebate || Number(value) > this.ruleForm.K3MaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.K3MinRebate + ']并且小于等于[' + this.ruleForm.K3MaxRebate + ']'))
        return
      }
      callback()
    }
    let validateSYX5Rebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入11选5返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (!this.data.type && (Number(value) < this.ruleForm.SYX5MinRebate || Number(value) > this.ruleForm.SYX5MaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.SYX5MinRebate + ']并且小于等于[' + this.ruleForm.SYX5MaxRebate + ']'))
        return
      }
      callback()
    }
    let validateFC3DRebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入3D返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (!this.data.type && (Number(value) < this.ruleForm.FC3DMinRebate || Number(value) > this.ruleForm.FC3DMaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.FC3DMinRebate + ']并且小于等于[' + this.ruleForm.FC3DMaxRebate + ']'))
        return
      }
      callback()
    }
    let validatePL35Rebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入排列3返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (!this.data.type && (Number(value) < this.ruleForm.PL35MinRebate || Number(value) > this.ruleForm.PL35MaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.PL35MinRebate + ']并且小于等于[' + this.ruleForm.PL35MaxRebate + ']'))
        return
      }
      callback()
    }
    let validateKL8Rebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入快乐8返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (!this.data.type && (Number(value) < this.ruleForm.KL8MinRebate || Number(value) > this.ruleForm.KL8MaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.KL8MinRebate + ']并且小于等于[' + this.ruleForm.KL8MaxRebate + ']'))
        return
      }
      callback()
    }
    let validatePK10Rebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入PK10返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (!this.data.type && (Number(value) < this.ruleForm.PK10MinRebate || Number(value) > this.ruleForm.PK10MaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.PK10MinRebate + ']并且小于等于[' + this.ruleForm.PK10MaxRebate + ']'))
        return
      }
      callback()
    }
    let validateLHCRebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入六合彩返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (!this.data.type && (Number(value) < this.ruleForm.LHCMinRebate || Number(value) > this.ruleForm.LHCMaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.LHCMinRebate + ']并且小于等于[' + this.ruleForm.LHCMaxRebate + ']'))
        return
      }
      callback()
    }
    let validateGAMERebate = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入棋牌返点'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
        return
      }
      if (!this.data.type && (Number(value) < this.ruleForm.GAMEMinRebate || Number(value) > this.ruleForm.GAMEMaxRebate)) {
        callback(new Error('输入的返点必须大于等于[' + this.ruleForm.GAMEMinRebate + ']并且小于等于[' + this.ruleForm.GAMEMaxRebate + ']'))
        return
      }
      callback()
    }
    return {
      title: false,
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        agent: false,
        userName: '',
        SSCRebate: 0,
        SSCMinRebate: 0,
        SSCMaxRebate: 0,
        K3Rebate: 0,
        K3MinRebate: 0,
        K3MaxRebate: 0,
        SYX5Rebate: 0,
        SYX5MinRebate: 0,
        SYX5MaxRebate: 0,
        FC3DRebate: 0,
        FC3DMinRebate: 0,
        FC3DMaxRebate: 0,
        PL35Rebate: 0,
        PL35MinRebate: 0,
        PL35MaxRebate: 0,
        KL8Rebate: 0,
        KL8MinRebate: 0,
        KL8MaxRebate: 0,
        PK10Rebate: 0,
        PK10MinRebate: 0,
        PK10MaxRebate: 0,
        LHCRebate: 0,
        LHCMinRebate: 0,
        LHCMaxRebate: 0,
        GAMERebate: 0,
        GAMEMinRebate: 0,
        GAMEMaxRebate: 0
      },
      rebateForm: [
        {
          'id': 'SSC',
          'lottery': '时时彩',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'K3',
          'lottery': '快3',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'SYX5',
          'lottery': '11选5',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'FC3D',
          'lottery': '3D',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'PL35',
          'lottery': '排列3',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'KL8',
          'lottery': '快乐8',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'PK10',
          'lottery': 'PK10',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'LHC',
          'lottery': '六合彩',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'GAME',
          'lottery': '棋牌',
          'rebate': '',
          'range': ''
        }
      ],
      agentInfoList: [],
      rules: {
        SSCRebate: [
          {required: true, validator: validateSSCRebate, trigger: 'blur'}
        ],
        K3Rebate: [
          {required: true, validator: validateK3Rebate, trigger: 'blur'}
        ],
        SYX5Rebate: [
          { required: true, validator: validateSYX5Rebate, trigger: 'blur' }
        ],
        FC3DRebate: [
          { required: true, validator: validateFC3DRebate, trigger: 'blur' }
        ],
        PL35Rebate: [
          { required: true, validator: validatePL35Rebate, trigger: 'blur' }
        ],
        KL8Rebate: [
          { required: true, validator: validateKL8Rebate, trigger: 'blur' }
        ],
        PK10Rebate: [
          { required: true, validator: validatePK10Rebate, trigger: 'blur' }
        ],
        LHCRebate: [
          { required: true, validator: validateLHCRebate, trigger: 'blur' }
        ],
        GAMERebate: [
          { required: true, validator: validateGAMERebate, trigger: 'blur' }
        ]
      },
      isDisableAgent: false
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      timer = setInterval(() => {
        if (obj.data.userName === obj.ruleForm.userName) {
          clearInterval(timer)
          // 单个操作
          if (!obj.data.type) {
            this.$refs[formName].validate((valid) => {
              if (!valid) {
                obj.submitLoading = false
                return false
              }
              let submitData = {}
              submitData.userId = obj.data.userId
              // submitData.isAgent = 0
              // if (obj.ruleForm.agent) {
              //   submitData.isAgent = 1
              // }
              let rebateData = {}
              rebateData.SSC = obj.ruleForm.SSCRebate
              rebateData.K3 = obj.ruleForm.K3Rebate
              rebateData.SYX5 = obj.ruleForm.SYX5Rebate
              rebateData.FC3D = obj.ruleForm.FC3DRebate
              rebateData.PL35 = obj.ruleForm.PL35Rebate
              rebateData.KL8 = obj.ruleForm.KL8Rebate
              rebateData.PK10 = obj.ruleForm.PK10Rebate
              rebateData.LHC = obj.ruleForm.LHCRebate
              rebateData.GAME = obj.ruleForm.GAMERebate
              submitData.rebate = JSON.stringify(rebateData)
              // submitData.remark = ''
              Api.editUser(submitData, function () {
                obj.submitLoading = false
              }).then((res) => {
                this.msgSuccess('保存成功')
                this.showBlogForm = false
                this.$parent.getOrderList()
                this.$nextTick(function () {
                  setTimeout(function () {
                    obj.submitLoading = false
                  }, 1000)
                })
              }).catch(e => {
                this.submitLoading = false
              })
            })
          }
          // 批量操作
          if (obj.data.type && obj.data.type === 'batch') {
            let submitData = {}
            submitData.userIds = obj.data.ids
            // submitData.isAgent = 0
            // if (obj.ruleForm.agent) {
            //   submitData.isAgent = 1
            // }
            let rebateData = {}
            rebateData.SSC = obj.ruleForm.SSCRebate
            rebateData.K3 = obj.ruleForm.K3Rebate
            rebateData.SYX5 = obj.ruleForm.SYX5Rebate
            rebateData.FC3D = obj.ruleForm.FC3DRebate
            rebateData.PL35 = obj.ruleForm.PL35Rebate
            rebateData.KL8 = obj.ruleForm.KL8Rebate
            rebateData.PK10 = obj.ruleForm.PK10Rebate
            rebateData.LHC = obj.ruleForm.LHCRebate
            rebateData.GAME = obj.ruleForm.GAMERebate
            submitData.rebate = JSON.stringify(rebateData)
            // submitData.remark = ''
            // 批量操作
            Api.editUserBatch(submitData, function () {
              obj.submitLoading = false
            }).then((res) => {
              this.msgSuccess('保存成功')
              this.showBlogForm = false
              this.$parent.getOrderList()
              this.$nextTick(function () {
                setTimeout(function () {
                  obj.submitLoading = false
                }, 1000)
              })
            }).catch(e => {
              this.submitLoading = false
            })
          }
        }
      }, 200)

      // })
    },
    getInfo () {
      let submitData = {}
      submitData.userId = this.data.userId
      this.loading = true
      let obj = this
      Api.getUserInfo(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let userInfo = res.data.userInfo
        if (obj.data.userName !== userInfo.userName) {
          return
        }
        for (let item in this.ruleForm) {
          if (userInfo[item] === undefined || userInfo[item] === null) {
            continue
          }
          this.ruleForm[item] = userInfo[item]
        }
        if (userInfo.agent) {
          this.isDisableAgent = true
        } else {
          this.isDisableAgent = false
        }
        let rebatePoint = userInfo.rebatePoint
        let agentRebatePoint = userInfo.agentRebatePoint
        let lowerRebatePoint = userInfo.lowerRebatePoint
        if (rebatePoint) {
          for (let item in this.rebateForm) {
            let key = this.rebateForm[item].id
            let lowerRebate = 0
            if (lowerRebatePoint[key]) {
              lowerRebate = lowerRebatePoint[key]
            }
            let agentRebate = 0
            if (rebatePoint[key]) {
              agentRebate = rebatePoint[key]
            }
            if (agentRebatePoint[key]) {
              agentRebate = agentRebatePoint[key]
            }
            this.ruleForm[key + 'MinRebate'] = lowerRebate
            this.ruleForm[key + 'MaxRebate'] = agentRebate
            if (rebatePoint[key] === undefined || rebatePoint[key] === null) {
              continue
            }
            // 批量操作默认值设为0
            if (this.data.type && this.data.type === 'batch') {
              this.ruleForm[key + 'Rebate'] = '0.0'
            } else {
              this.ruleForm[key + 'Rebate'] = rebatePoint[key]
            }
          }
        }
        this.agentInfoList = res.data.agentInfoList
        for (let item in this.agentInfoList) {
          this.agentInfoList[item].type = '代理'
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      }).catch(e => {
        let obj = this.ruleForm
        this.ruleForm = Object.assign(obj, catchDefault)
        this.submitLoading = false
      })
    }
  },
  components: {
    Scroll
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.getInfo()
      } else {
        clearInterval(timer)
        let obj = this.ruleForm
        this.ruleForm = Object.assign(obj, catchDefault)
        this.submitLoading = false
        timer = null
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
.rebate-tab{
  & .el-tabs__content{
    padding: 10px 0 0 0;
  }
  & .table-style {
    border: 1px solid var(--color-border);
  }
}
.widthPercent{
  width: 33%!important;
}
.rebate-ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  margin: 0;
  & li{
    list-style: none;
    padding: 0 10px 10px 0;
  }
  & .user-lottery{
    min-width: 100px;

  }
  & .user-title{
    width: 90px;
  }
  & .user-input{
    width: 100px;
    & input{
      text-align: center;
    }
  }
}
@media only screen and (max-width: 640px){
  .rebate-ul{
    flex-wrap: wrap;
    & .user-lottery{
      width: 100% ;
    }
    & .user-title{
      width: 70px;
    }
    & .user-input{
      width: calc(100% - 80px);
    }
  }
}
</style>
