<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="编辑用户"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
<!--        <div v-loading="loading"-->
<!--             element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon">-->
          <el-form v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" :model="ruleForm" :rules="rules" size="small"  class="user-form" ref="ruleForm"  @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-tabs v-model="activeName" type="card" class="rebate-tab">
              <el-tab-pane label="基本资料" name="01">
                <el-form-item label="会员类型" prop="type">
                  <el-radio-group  v-model="ruleForm.agent" size="mini" :disabled="isDisableAgent">
                    <el-radio-button label=false>玩家</el-radio-button>
                    <el-radio-button label=true>代理</el-radio-button>
                  </el-radio-group>
                </el-form-item>
                <el-form-item label="会员账号" prop="userName">
                  <el-input v-model="ruleForm.userName" disabled ></el-input>
                </el-form-item>
                <el-form-item label="昵 称" prop="nickName">
                  <el-input v-model="ruleForm.nickName" auto-complete="off" disabled ></el-input>
                </el-form-item>
                <el-form-item label="备 注" prop="remark">
                  <el-input   v-model="ruleForm.remark" auto-complete="off" placeholder="请输入备注"></el-input>
                </el-form-item>
              </el-tab-pane>
              <el-tab-pane label="账户信息" name="02" >
                <el-form-item label="账户金额" prop="balance" label-width="100px">
                  <span class="margin-l10 color-grey">{{ruleForm.balance | formatMoney}}元</span>
                </el-form-item>
                <el-form-item label="成长值" prop="experience" label-width="100px">
                  <span class="margin-l10 color-grey"> {{ruleForm.experience}}</span>
                </el-form-item>
                <el-form-item label="等级" prop="grade" label-width="100px">
                  <span class="margin-l10 color-grey">{{formatterGrade(ruleForm)}}</span>
                </el-form-item>
                <el-form-item label="注册时间" prop="registerTime" label-width="100px">
                  <span class="margin-l10 color-grey">{{ruleForm.registerTime}}</span>
                </el-form-item>
                <el-form-item label="注册IP" prop="registerIP" label-width="100px">
                  <span class="margin-l10 color-grey">{{ruleForm.registerIp}}</span>
                </el-form-item>
                <el-form-item label="最后登录" prop="lastLoginTime" label-width="100px">
                  <span class="margin-l10 color-grey"> {{ruleForm.lastLoginTime}}</span>
                </el-form-item>
                <el-form-item label="最后登录IP" prop="lastLoginIp" label-width="100px">
                  <span class="margin-l10 color-grey"> {{ruleForm.lastLoginIp}}</span>
                </el-form-item>
              </el-tab-pane>
              <el-tab-pane label="查看所有上级" name="04">
                <div class="table-style"    v-loading="loading"
                     element-loading-customClass="loadingClass"
                     element-loading-spinner="dafa-icon-loading01 dafa-icon"
                     tooltip-effect="dark">
                  <scroll :id="'scrollId2'" class="el-table">
                    <el-table
                      :data="agentInfoList"
                      style="width: 100%;">
                      <el-table-column
                        prop="userName"
                        label="会员账号"
                        min-width="130" fixed>
                        <template slot-scope="scope">
                          <span class="color-blue">{{scope.row.userName}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="type"
                        label="用户类型"
                        min-width="80">
                      </el-table-column>
                      <el-table-column
                        prop="remark"
                        label="备注"
                        :width="screenW > 768 ? '80':'150'" show-overflow-tooltip>
                      </el-table-column>
                    </el-table>
                  </scroll>
                </div>
              </el-tab-pane>
            </el-tabs>
          </el-form>
<!--          <div class="el-dialog__footer">-->
            <div slot="footer"  class="dialog-footer">
              <el-button @click="closeClear" size="mini">取 消</el-button>
              <el-button :disabled="submitLoading" type="primary" size="mini" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
             </div>
<!--        </div>-->
<!--        </div>-->
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
import Scroll from '@/components/Scroll'
import {gradeData} from '@/utils/config'
let timer = null
export default {
  data () {
    return {
      title: false,
      activeName: '01',
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        agent: false,
        userName: '',
        nickName: '',
        mail: '',
        phone: '',
        remark: '',
        balance: '',
        experience: 0,
        grade: '',
        registerTime: '',
        registerIp: '',
        lastLoginTime: '',
        lastLoginIp: ''
      },
      rebateForm: [
        {
          'id': 'SSC',
          'lottery': '时时彩',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'K3',
          'lottery': '快3',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'SYX5',
          'lottery': '11选5',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'FC3D',
          'lottery': '3D',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'PL35',
          'lottery': '排列3',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'KL8',
          'lottery': '快乐8',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'PK10',
          'lottery': 'PK10',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'LHC',
          'lottery': '六合彩',
          'rebate': '',
          'range': ''
        },
        {
          'id': 'GAME',
          'lottery': '棋牌',
          'rebate': '',
          'range': ''
        }
      ],
      agentInfoList: [],
      rules: {
        remark: [
          { max: 75, message: '請輸入75个字符內的备注', trigger: 'blur' }
        ]
      },
      isDisableAgent: false
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    formatterGrade (row, column) {
      if (row.grade === undefined || row.grade === null || !gradeData[row.grade.toString()]) {
        return '未知等级'
      }
      return gradeData[row.grade.toString()]
    },
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      timer = setInterval(() => {
        if (obj.data.userName === obj.ruleForm.userName) {
          clearInterval(timer)
          this.$refs[formName].validate((valid) => {
            if (!valid) {
              obj.submitLoading = false
              obj.activeName = obj.ruleForm.remark.length > 75 && '01'
              return false
            }
            let submitData = {}
            submitData.userId = obj.data.userId
            submitData.isAgent = 0
            if (obj.ruleForm.agent) {
              submitData.isAgent = 1
            }
            submitData.remark = obj.ruleForm.remark
            Api.editUserRemark(submitData, function () {
              obj.submitLoading = false
            }).then((res) => {
              this.msgSuccess('保存成功')
              this.showBlogForm = false
              this.$parent.getOrderList()
              this.$nextTick(function () {
                setTimeout(function () {
                  obj.submitLoading = false
                }, 1000)
              })
            }).catch(e => {
              this.submitLoading = false
            })
          })
        }
      }, 200)
    },
    getInfo () {
      let submitData = {}
      submitData.userId = this.data.userId
      this.loading = true
      let obj = this
      Api.getUserInfo(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let userInfo = res.data.userInfo
        if (obj.data.userName !== userInfo.userName) {
          return
        }
        for (let item in this.ruleForm) {
          if (userInfo[item] === undefined || userInfo[item] === null) {
            continue
          }
          if (userInfo.lastLoginTime === '1900-01-01 00:00:00') {
            userInfo.lastLoginTime = ''
          }
          this.ruleForm[item] = userInfo[item]
        }
        if (userInfo.agent) {
          this.isDisableAgent = true
        } else {
          this.isDisableAgent = false
        }
        this.agentInfoList = res.data.agentInfoList
        for (let item in this.agentInfoList) {
          this.agentInfoList[item].type = '代理'
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      }).catch(e => {
        this.submitLoading = false
      })
    }
  },
  components: {
    Scroll
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.getInfo()
      } else {
        clearInterval(timer)
        this.submitLoading = false
        timer = null
      }
    },
    data (nv) {
    }
  }
}
</script>
<style>
.rebate-tab{
  & .el-tabs__content{
    padding: 10px 0 0 0;
  }
  & .table-style {
    border: 1px solid var(--color-border);
  }
}
.rebate-ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  margin: 0;
  & li{
    list-style: none;
    padding: 0 10px 10px 0;
  }
  & .user-lottery{
    min-width: 100px;

  }
  & .user-title{
    width: 90px;
  }
  & .user-input{
    width: 100px;
    & input{
      text-align: center;
    }
  }
}
@media only screen and (max-width: 640px){
  .rebate-ul{
    flex-wrap: wrap;
    & .user-lottery{
      width: 100% ;
    }
    & .user-title{
      width: 70px;
    }
    & .user-input{
      width: calc(100% - 80px);
    }
  }
}
</style>
