<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      title="选择大头贴"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div class="photo-box">
          <el-tabs v-model="allactive" type="card" size="mini">
            <el-tab-pane label="图库选择" name="pic">
              <div class="photo-inner">
                <div class="selected-photoitems">
                  <el-tabs v-model="activeName" type="card" class="inner-tab" tab-position="left" @tab-click="handleTabClick" v-if="screenW > 640">
                    <el-tab-pane :label="l.name" :name="l.name" v-for="l in typeList" :key="l.id" class="select-photo" >
                      <a v-for="i in l.list" :key="i.id">
                        <img  :src="i.url | imgHost" alt="" :key="i.id" :title="i.name" @click="picClick(i.url,i.name)">
                      </a>
                      <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        ref="pagination"
                        :page-size="pageSize"
                        layout="pager"
                        :total="total" >
                      </el-pagination>
                    </el-tab-pane>
                  </el-tabs>
                  <el-tabs v-model="appActiveName" v-else  type="card"  class="inner-tab" tab-position="bottom" >
                    <el-tab-pane :label="l.name" :name="l.name" v-for="l in appList" :key="l.id" class="select-photo" >
                      <a v-for="i in l.list" :key="i.id">
                        <img  :src="i.url | imgHost" alt="" :key="i.id" :title="i.name" @click="picClick(i.url,i.name)">
                      </a>
                    </el-tab-pane>
                  </el-tabs>
                </div>
                <div class="review-photo">
                  <span>预览</span>
                  <img :src="nowPhoto" alt="">
                  <span class="photo-name">{{PhotoName}}</span>
                </div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="上传图片" class="update-box" name="upload">
              <div class="update-preview">
                <simple-croppa
                  :width="width"
                  :height="height"
                  :backgroundShow="false"
                  :placeholder="placeholder"
                  ref="userPicCover"
                  v-model="coverCroppa"
                  :adjustBtnShow="true"
                  :zoomSpeed="20"
                  :recommends="[]"
                  @move="handleCoverMove"
                  @zoom="handleCoverZoom"
                  @new-image="handleCoverNewImage"
                  @image-remove="handleCoverRemove"
                  :onAfterFileChoose="onAfterFileChoose"
                  :onAfterDraw="onAfterDraw"
                  :initImage="initImage">
                   <span slot="operArea" class="oper-area">
                        <el-button-group>
                          <!--<el-button type="primary" icon="el-icon-picture" size="mini" @click="$refs.activityCover.chooseFile()" title="选择图片"></el-button>-->
                          <el-button type="primary" icon="el-icon-close" size="mini" title="移除图片" @click="coverCroppa.remove()"></el-button>
                        </el-button-group>
                    </span>
                  <span slot="cover" class="cover" @click="coverCroppa.remove();coverCroppa.chooseFile()">
                        <span class="flag"><i class="el-icon-picture"></i></span>
                    </span>
                </simple-croppa>
              </div>
              <div class="avator-preview " v-if="screenW > 500" >
                <div class="big-preview">
                  <span  class="margin-b6">头像预览 100*100</span>
                  <span class="square-avator">
                    <img :src="dataUrl" alt=" "/>
                  </span>
                </div>
                <div class="small-preview">
                  <span class="margin-b6">头像预览 36*36</span>
                  <span class="avator" >
                    <img :src="dataUrl" alt=" "/>
                  </span>
                </div>
              </div>
            </el-tab-pane>
          </el-tabs>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import SimpleCroppa from '@/components/SimpleCroppa'
import Api from '@/api/sys'
import {imgHost} from '@/filters'
import {blobToImage} from '@/utils/convert'
export default {
  data () {
    return {
      dataUrl: '',
      allactive: 'pic',
      activeName: '全部',
      width: 100,
      height: 100,
      placeholder: '',
      coverCroppa: null,
      croppa: {},
      initImage: '',
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      submitLoading: false,
      loading: false,
      PhotoName: '权志龙',
      nowPhoto: imgHost('/system/common/headimg/1362fa92410f5466.jpg'),
      nowPhotoValue: '/system/common/headimg/1362fa92410f5466.jpg',
      loadingMsg: '正在拼命加载中...',
      valueLevel: '',
      picsize: '100*100',
      resetFields: [],
      selectIndex: 0,
      ruleForm: {
      },
      appActiveName: '卡通',
      typeName: {'superstar': '明星', 'cartoon': '卡通', 'animal': '动物'},
      typeList: [],
      typeData: [],
      appList: [],
      pageNum: 1,
      pageSize: 20,
      total: 0
    }
  },
  props: {
    visible: Boolean,
    data: Object
  },
  methods: {
    getAvatarList () {
      let submitData = {}
      Api.getAvatarList(submitData, function () {
      }).then((res) => {
        let avatarＤata = {}
        this.typeList = []
        this.typeData = []
        let typeData = {}
        Object.assign(typeData, {})
        typeData.name = '全部'
        typeData.type = 'all'
        typeData.list = []
        for (let items in res.data.avatarList) {
          if (!avatarＤata[res.data.avatarList[items].type]) {
            avatarＤata[res.data.avatarList[items].type] = []
          }
          let tempAvatarData = {}
          Object.assign(tempAvatarData, {})
          tempAvatarData.id = res.data.avatarList[items].id
          tempAvatarData.name = res.data.avatarList[items].name
          tempAvatarData.url = res.data.avatarList[items].url
          avatarＤata[res.data.avatarList[items].type].push(tempAvatarData)
          typeData.list.push(tempAvatarData)
        }
        this.total = typeData.list.length
        this.typeData.push(typeData)
        for (let item in avatarＤata) {
          let tempTypeData = {}
          Object.assign(tempTypeData, {})
          tempTypeData.name = this.typeName[item]
          tempTypeData.type = item
          tempTypeData.list = avatarＤata[item]
          this.typeData.push(tempTypeData)
        }
        for (let item in this.typeData) {
          let tempData = {}
          tempData.name = this.typeData[item].name
          tempData.type = this.typeData[item].type
          tempData.list = []
          for (let i in this.typeData[item].list) {
            if (Number(i) >= this.pageSize) {
              break
            }
            tempData.list.push(this.typeData[item].list[i])
          }
          this.typeList.push(tempData)
        }
        for (let items in this.typeData) {
          this.appList.push(this.typeData[items])
        }
        this.appList.splice(0, 1)
      })
    },
    closeClear () {
      this.$refs.userPicCover.remove()
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      // this.$refs[formName].resetFields()
    },
    picClick (pic, name) {
      this.nowPhoto = imgHost(pic)
      this.nowPhotoValue = pic
      this.PhotoName = name
    },
    uploadClipboardImage (event) {
      let items = (event.clipboardData || event.originalEvent.clipboardData).items
      let files = []
      for (let index = 0; index < items.length; index++) {
        let item = items[index]
        if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
          files.push(item.getAsFile())
        }
      }
      if (files.length > 0) {
        let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
        uploadInner.uploadFiles(files)
        event.preventDefault()
        event.stopPropagation()
      }
      this.croppa.generateBlob((blob) => {
        this.dataUrl = this.croppa.generateDataUrl(blob)
      }, 'image/png', 1)
    },
    setImage (src, index) {
      this.selectIndex = index
      this.$refs.activityCover.setImage(src)
      this.initImage = src
    },
    handleCoverMove () {
      this.hasNewCover = true
    },
    handleCoverZoom () {
      this.hasNewCover = true
    },
    handleCoverRemove () {
      this.hasNewCover = false
    },
    handleCoverNewImage () {
      this.hasNewCover = true
    },
    onAfterDraw () {
      this.previewImage()
    },
    onAfterFileChoose () {
      let obj = this
      blobToImage(this.coverCroppa.getChosenFile(), function (imageFile) {
        imageFile.onload = function () {
          obj.dataUrl = imageFile.src
        }
      })
    },
    previewImage () {
      this.dataUrl = this.coverCroppa.generateDataUrl()
      // this.coverCroppa.generateBlob((blob) => {
      //   let url = URL.createObjectURL(blob)
      //   let a = document.createElement('a')
      //   a.download = 'filename'
      //   a.href = url
      //   a.click()
      //   URL.revokeObjectURL(url)
      //   let obj = this
      //   blobToImage(blob, function (imageFile) {
      //     imageFile.onload = function () {
      //       obj.dataUrl = imageFile.src
      //     }
      //   })
      // }, 'image/png', 1)
    },
    submitForm () {
      this.showBlogForm = false
      if (this.allactive === 'pic') {
        this.$parent.setAvatar(this.nowPhotoValue, null)
        return
      }
      this.coverCroppa.generateBlob((blob) => {
        this.$parent.setAvatar(null, blob)
      }, 'image/png', 1)
    },
    handleSizeChange (val) {
      this.pageSize = val
      // this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      // this.getOrderList(val, this.pageSize)
      this.getAvartarData()
    },
    getAvartarData () {
      for (let item in this.typeData) {
        if (this.typeData[item].name !== this.activeName) {
          continue
        }
        let listData = this.typeData[item].list
        this.total = this.typeData[item].list.length
        this.typeList[item].list = []
        for (let i = (Number(this.pageNum) - 1) * Number(this.pageSize); i < Number(this.pageNum) * Number(this.pageSize); i++) {
          if (i > listData.length - 1) {
            break
          }
          this.typeList[item].list.push(listData[i])
        }
      }
    },
    handleTabClick () {
      this.pageNum = 1
      // this.getOrderList(val, this.pageSize)
      this.getAvartarData()
    }
  },
  mounted () {
    this.getAvatarList()
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
        })
      }
    },
    initImage (nv, ov) {
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    SimpleCroppa
  }
}
</script>
<style scoped>
  .selected-photoitems{
    width: 65%;
  }
  .review-photo{
    width: 35%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & span{
      display: block;
      font-size: 14px;
      padding: 10px 0;
      text-align: center;
    }
    & img{
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
    & .photo-name{
      text-align: center;
      font-size: 14px;
      /*color: var(--color-blue);*/
    }
  }
  .photo-inner{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .select-photo{
    width: 100%;
    border: 1px solid var(--color-border);
    padding: 6px 6px 30px 6px;
    height: 265px;
    & a{
      width: 20%;
      display: inline-block;
      opacity: 1;
      transition: all .5s;
      padding: 6px;
      & img{
        border-radius: 10px;
      }
      &:hover{
        opacity: 0.7;
      }
    }
  }
  .inner-tab{
    display: flex;
  }
  /*裁剪组件*/
  .avator-preview{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .update-preview{
    padding: 10px;
    width: 60%;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-border);
  }
  .square-avator{
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(210,210,210,1);
    overflow: hidden;
  }
  .avator{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-block;
    background: rgba(210,210,210,1);
    overflow: hidden;
  }
  .big-preview,.small-preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .small-preview{
    margin: 20px 0 0 0;
  }
  @media screen and (max-width: 640px){
    .selected-photoitems{
      width: 100%;
    }
    .review-photo{
      width: 100%;
    }
    .select-photo{
      & a{
        width: 20%;
      }
    }
    .review-photo{
      padding: 10px;
    }
    .photo-inner{
      flex-direction: column-reverse;
    }
    .update-preview{
      width: 100%;
    }
    .inner-tab{
      display: block;
    }
    .select-photo{
      border: none;
      height: 130px;
    }
  }
</style>
