<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="'赢率控制'"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="mini-reveal-modal">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <div>
          <el-form :model="ruleForm" :rules="rules" label-width="100px" size="small" ref="ruleForm" :label-position="'top'" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
            <el-form-item label="彩种名称" prop="name">
              <el-input v-model="ruleForm.name" disabled size="min"></el-input>
            </el-form-item>
            <el-form-item label="赢率目标值" class="not-line-item" prop="purposesProfit" :rules="[{ validator: (rule, value, callback) => {
                               let reg = /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/
                               if(!reg.test(value)) {
                                   callback('请输入赢率目标值，可输入范围2.00-5.00，支持输入两位小数')
                                   return
                               }
                               if(Number(value)<2||Number(value)>5){
                                callback('请输入赢率目标值，可输入范围2.00-5.00，支持输入两位小数')
                                return
                                }
                               callback()
                               return
                          }, trigger: 'blur' }]">
                <el-input v-model="ruleForm.purposesProfit" placeholder="请输入您期望的目标值，如3.80；可输入范围2.00-5.00，支持输入两位小数"  size="min"></el-input>
            </el-form-item>
             <el-form-item label="" prop="killOpen">
              <el-radio-group v-model="ruleForm.killOpen" size="mini">
                <el-radio-button :label="true">开启控制</el-radio-button>
                <el-radio-button :label="false">关闭控制</el-radio-button>
              </el-radio-group>
            </el-form-item>
            <el-form-item>
              <div class="text-style margin-t10 text-ul" :class="{'text-mobile':screenW<768}">
                <ul>
                  <li>* 温馨提示：</li>
                  <li>当本月赢率低于目标值时才会触发控制，未低于目标值则使用随机规律；</li>
                  <li>关闭控制后，系统将停止控制，使用随机规律；</li>
                  <li>目标值设置越高，投注金额会下降，用户流失率也会越高，建议不要设置太高；</li>
                </ul>
              </div>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button size="mini" @click="closeClear">取消</el-button>
          <el-button size="mini" type="primary" :disabled="submitLoading" @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
export default {
  data () {
    return {
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      valueLevel: '',
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        name: '',
        lotteryCode: '',
        purposesProfit: '',
        killOpen: false
      },
      rules: {
        purposesProfit: [
          { required: true, message: '请输入您期望的目标值', trigger: 'blur' }
        ]
      }
    }
  },
  props: {
    visible: Boolean,
    data: Object,
    titleName: String
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    closeClear () {
      this.$emit('onClose')
      this.resetForm('ruleForm')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let data = this.ruleForm
        let submitData = {
          lotteryCode: data.lotteryCode,
          killOpen: data.killOpen,
          purposesProfit: data.purposesProfit
        }
        Api.updateTenantKillFromCms(submitData, function () {
          obj.submitLoading = false
        }).then(res => {
          this.submitLoading = false
          if (res.code === 1) {
            this.msgSuccess('赢率控制设置成功')
            this.closeClear()
            this.$parent.getOrderList()
          }
        })
        return true
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        let data = this.data
        if (data.lotteryCode) {
          let num = data.purposesProfit || ''
          if (num) {
            num = num.toFixed(2)
          }
          this.ruleForm = {
            name: data.lotteryName,
            lotteryCode: data.lotteryCode,
            killOpen: data.killOpen,
            purposesProfit: num
          }
        }
      }
    }
  }
}
</script>
<style>
/* 强制表单内容单独取一行 */
.not-line-item{
  & .el-form-item__content{
    margin-left:0!important;
  }
}
</style>
<style scoped>
  .text-ul{
    display: flex;
    align-items: flex-start;
    & span{
      display:block;
      line-height: 25px !important;
    }
    & ul{
      list-style: none;
      line-height: 25px !important;
    }
    &.text-mobile{
      & span{
        width: 130px;
      }
    }
  }

</style>
