<template>
  <div class="panel">
    <div class="panel-heading">
      图片规格
      <el-button size="mini" @click="$router.back()" class="margin-l10" icon="el-icon-arrow-left">返回</el-button>
      <div class="float-right panel-heading-right">
        <!--<el-button size="mini" type="primary" plain @click="submitForm('ruleForm')">保存</el-button>-->
      </div>

    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header"></div>
      <!-- 普通表格 -->
      <div class="report-data picture-size" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
        </div>
        <div class="table-style"      v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                  <th width="18%"><div class="cell">图片类型</div></th>
                  <th width="23%"><div class="cell">宽度</div></th>
                  <th width="23%"><div class="cell">高度</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td width="18%"><div class="cell color-blue hoverline-effet" @click="openSizeChangeForm(items)">{{items.codeName}}</div></td>
                    <td width="23%"><div class="cell">{{items.width}}</div></td>
                    <td width="23%"><div class="cell">{{items.height}}</div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="图片类型"
                min-width="70"
                fixed>
                <template slot-scope="scope">
                  <span v-if="screenW >768" class="color-blue hoverline-effet" @click="openSizeChangeForm(scope.row)">{{scope.row.codeName}}</span>
                  <span v-else class="color-blue" >{{scope.row.codeName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="宽度"
                min-width="40"
                prop="width"
              >
              </el-table-column>
              <el-table-column
                label="高度"
                min-width="40"
                prop="height"
              >
              </el-table-column>
              <!--<el-table-column-->
                <!--label="操作"-->
                <!--:width="screenW > 768 ? '80' : '65'">-->
                <!--<template slot-scope="scope" >-->
                  <!--<el-button size="mini" type="text" @click="openSizeChangeForm(scope.row)" >-->
                    <!--<span class="color-blue">修改</span>-->
                  <!--</el-button>-->
                <!--</template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <br>
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
    <action-sheet
      :visible="rwdbtnVisible"
      @close="rwdbtnVisible = false">
      <div class="rwdbtn-style">
      <span @click="openSizeChangeForm(detailData)" >查看信息</span>
      </div>
      <span @click="closeRwdBtn" class="angle-all">取消</span>
    </action-sheet>
    <!-- 维护窗口 -->
    <size-change-form
      :data="selectData"
      :visible="sizeChangeForm"
      v-on:onClose="sizeChangeForm=false"
    ></size-change-form>
  </div>
</template>
<script>
import sizeChangeForm from '@/views/newModal/sizeChangeForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      // 列表数据
      rwdbtnVisible: false,
      detailShow: false,
      sizeChangeForm: false,
      tableLine: true,
      allList: [],
      tenantCode: '',
      selectData: {},
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      detailData: {}
    }
  },
  mounted () {
    this.tenantCode = this.$route.query.tenantCode
    this.getOrderList()
  },
  methods: {
    goBack () {
      this.$router.back()
    },
    openSizeChangeForm (val) {
      this.selectData = val
      this.selectData.tenantCode = this.tenantCode
      this.sizeChangeForm = true
      this.rwdbtnVisible = false
    },
    getOrderList () {
      let submitData = {}
      submitData.tenantCode = this.tenantCode
      this.loading = true
      let obj = this
      Api.getImageConfigList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        if (this.allList.length) {
          this.tableLine = false
        }
        for (let i = 0; i < this.allList.length; i++) {
          this.allList[i].inputStatus = true
        }
        this.$nextTick(function () {
          obj.loading = false
        })
        // console.log('allList', this.allList)
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    sizeChangeForm
  }
}
</script>
<style>
  .picture-size .el-input.is-disabled .el-input__inner{
    background: none !important;
    background-color: rgba(255 ,255 , 255 , 0) !important;
    border-color: rgba(255 ,255 , 255 , 0) !important;
  }
  .picture-size .el-input{
    width: 50px;
  }
</style>
