<template>
  <div class="panel">
    <div class="panel-heading">
      HTTPS套餐管理
      <div class="float-right panel-heading-right">
         <el-button size="mini" type="primary" @click="RenewEditShow = true">续费记录</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input v-model="ruleForm.tenantCode" class="width-forword" placeholder="请输入站长编码"></el-input>
          </el-form-item>
          <el-form-item label="套餐" prop="package">
            <el-select v-model="ruleForm.package" label="套餐状态" class="width-forword" placeholder="请选择套餐状态">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in packageList"
                :key="item.number"
                :label="item.name"
                :value="item.number">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="证书申请状态" prop="state">
            <el-select v-model="ruleForm.state" label="证书申请状态" class="width-forword" placeholder="请选择证书申请状态">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in stateList"
                :key="item.number"
                :label="item.name"
                :value="item.number">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-input v-model="ruleForm.tenantCode"  placeholder="请输入站长编码"></el-input>
                    </el-form-item>
                    <el-form-item label="套餐" prop="package">
                      <el-select v-model="ruleForm.package" label="套餐状态"  placeholder="请选择套餐状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in packageList"
                          :key="item.number"
                          :label="item.name"
                          :value="item.number">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="证书申请状态" prop="state">
                      <el-select v-model="ruleForm.state" label="证书申请状态"  placeholder="请选择证书申请状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in stateList"
                          :key="item.number"
                          :label="item.name"
                          :value="item.number">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0" >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">站长编码</div></th>
                  <th ><div class="cell">套餐</div></th>
                  <th ><div class="cell">证书申请状态</div></th>
                  <th width="200px"><div class="cell">套餐开始时间</div></th>
                  <th width="200px"><div class="cell">套餐结束时间</div></th>
                  <th width="200px"><div class="cell">套餐状态</div></th>
                  <th width="100px"><div class="cell">操作</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--站长编码-->
                    <td >
                      <div class="cell">
                        <span class="color-blue">{{items.tenantCode}}</span>
                      </div>
                    </td>
                    <!--套餐-->
                    <td >
                      <div class="cell">
                        <template v-if="items.package === 0">
                          <span >未开启套餐 </span>
                        </template>
                        <template v-else-if="items.package === 5">
                          <span >5个域名</span>
                        </template>
                        <template v-else-if="items.package === 10">
                          <span >10个域名</span>
                        </template>
                        <template v-else-if="items.package === 20">
                          <span >20个域名</span>
                        </template>
                        <template v-else-if="items.package === 30">
                          <span >30个域名</span>
                        </template>
                        <template v-else>
                          <span >50个域名</span>
                        </template>
                      </div>
                    </td>
                    <!--状态-->
                    <td >
                      <div class="cell">
                        <template v-if="items.state === -1">
                          <span class="color-danger">移除中</span>
                        </template>
                        <template v-else-if="items.state === 0">
                          <span >未开启</span>
                        </template>
                        <template v-else-if="items.state === 1">
                          <span class="color-danger">部署dcv中</span>
                        </template>
                        <template v-else-if="items.state === 2">
                          <span class="color-danger">验证域名中</span>
                        </template>
                        <template v-else-if="items.state === 3">
                          <span class="color-danger">部署证书中</span>
                        </template>
                        <template v-else-if="items.state === 4">
                          <span class="color-danger">申请高防中</span>
                        </template>
                        <template v-else>
                          <span class="color-success">已开启</span>
                        </template>
                      </div>
                    </td>
                    <!--套餐開始時間-->
                    <td ><div class="cell"><span >{{items.gmtPackageStarted &&  items.package !== 0? items.gmtPackageStarted: '---'}}</span></div></td>
                    <!--套餐结束时间-->
                    <td ><div class="cell"><span >{{items.expireDate  ? items.expireDate: '---'}}</span></div></td>
                    <!--套餐状态-->
                    <td ><div class="cell"><span :class="items.situationClass">{{items.situation}}</span></div></td>
                    <!--操作-->
                    <td >
                      <div class="cell state-btn">
                        <span ><el-button size="mini" type="primary" @click="editOne(items, 1)" :disabled="items.available">续费</el-button></span>
                         <!--套餐50 50 个域名 不给升级-->
                        <span ><el-button size="mini" type="primary" @click="editOne(items, 0)" :disabled="items.package === 50" >升級</el-button></span>
                      </div>
                    </td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="站长编码"
                fixed
                min-width="120">
                <template slot-scope="scope">
                  <span  title="修改" @click="editOne(scope.row)">
                    {{scope.row.tenantCode}}
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                prop="package"
                label="套餐状态"
                min-width="170">
                <template slot-scope="scope">
                  <template v-if="scope.row.package === 0">
                    <span >未开启套餐</span>
                  </template>
                  <template v-else-if="scope.row.package === 5">
                    <span >5个域名</span>
                  </template>
                  <template v-else-if="scope.row.package === 10">
                    <span >10个域名</span>
                  </template>
                  <template v-else-if="scope.row.package === 20">
                    <span >20个域名</span>
                  </template>
                  <template v-else-if="scope.row.package === 30">
                    <span >30个域名</span>
                  </template>
                  <template v-else>
                    <span >50个域名</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                label="证书申请状态"
                min-width="100">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === -1">
                    <span class="color-danger">移除中</span>
                  </template>
                  <template v-else-if="scope.row.state === 0">
                    <span >未开启</span>
                  </template>
                  <template v-else-if="scope.row.state === 1">
                    <span class="color-danger">部署dcv中</span>
                  </template>
                  <template v-else-if="scope.row.state === 2">
                    <span class="color-danger">验证域名中</span>
                  </template>
                  <template v-else-if="scope.row.state === 3">
                    <span class="color-danger">部署证书中</span>
                  </template>
                  <template v-else-if="scope.row.state === 4">
                    <span class="color-danger">申请高防中</span>
                  </template>
                  <template v-else>
                    <span class="color-success">已开启</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtPackageStarted"
                label="套餐开始时间"
                min-width="170">
                <template slot-scope="scope">{{scope.row.gmtPackageStarted &&  scope.row.package !== 0 ? scope.row.gmtPackageStarted : '---'}}</template>
              </el-table-column>
              <el-table-column
                prop="expireDate"
                label="套餐结束时间"
                min-width="170">
                <template slot-scope="scope">{{scope.row.expireDate ? scope.row.expireDate : '---'}}</template>
              </el-table-column>
              <el-table-column
                prop="gmtPackageStarted"
                label="套餐状态"
                min-width="140">
                <template slot-scope="scope">
                  <span :class="scope.row.situationClass">{{scope.row.situation}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <br>
      <div class="report-foot margin-t10">
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          <span @click="editOne(detailData, 1)" >升级套餐</span>
          <template v-if="!detailData.available"><span @click="editOne(detailData, 2)"  >续费</span></template>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="HTTPS套餐管理"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>站长编码</span>
            <span class="color-blue">{{detailData.tenantCode}}</span>
          </li>
          <li>
            <span>套餐状态</span>
            <template v-if="detailData.package === 0">
              <span >未开启套餐</span>
            </template>
            <template v-else-if="detailData.package === 5">
              <span >5个域名</span>
            </template>
            <template v-else-if="detailData.package === 10">
              <span >10个域名</span>
            </template>
            <template v-else-if="detailData.package === 20">
              <span >20个域名</span>
            </template>
            <template v-else-if="detailData.package === 30">
              <span >30个域名</span>
            </template>
            <template v-else>
              <span >50个域名</span>
            </template>
          </li>
          <li>
            <span>证书状态</span>
            <template v-if="detailData.state === -1">
              <span class="color-danger">已关闭ssl, 尚未移除部署</span>
            </template>
            <template v-else-if="detailData.state === 0">
              <span >未开启</span>
            </template>
            <template v-else-if="detailData.state === 1">
              <span class="color-danger">已申请证书，尚未部署</span>
            </template>
            <template v-else-if="detailData.state === 2">
              <span class="color-danger">已部署dcv, 尚未获取证书</span>
            </template>
            <template v-else-if="detailData.state === 3">
              <span class="color-danger">已获取证书，尚未部署证书</span>
            </template>
            <template v-else-if="detailData.state === 4">
              <span class="color-danger">已部署证书, 尚未申请高防</span>
            </template>
            <template v-else>
              <span class="color-success">已完成</span>
            </template>
          </li>
          <li>
            <span>套餐开始时间</span>
            <span>{{detailData.gmtPackageStarted && detailData.package !== 0 ? detailData.gmtPackageStarted: '---'}}</span>
          </li>
          <li>
            <span>套餐结束时间</span>
            <span>{{detailData.expireDate ? detailData.expireDate: '---'}}</span>
          </li>
          <li>
            <span>套餐状态</span>
            <span :class="detailData.situationClass">{{detailData.situation}}</span>
          </li>
        </ul>
      </popover-right>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
      <https-edit-form
        :type = "typeNumber"
        :data="selectData"
        :visible="HttpsEditShow"
        v-on:onClose="HttpsEditShow=false"
      ></https-edit-form>
      <renew-edit-form
        :visible="RenewEditShow"
        v-on:onClose="RenewEditShow=false"
      ></renew-edit-form>
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import HttpsEditForm from '@/views/newModal/HttpsEditForm'
import RenewEditForm from '@/views/newModal/PlatformHttpsForm'
import {DateFormat} from '@/utils/Time'
import DatetimePicker from '@/components/DatetimePicker'
import {validateQueryDateTwo} from '@/utils/validateRules'
export default {
  data () {
    return {
      pageNum: 1,
      pageSize: 20,
      total: 0,
      typeNumber: null,
      RenewEditShow: false,
      HttpsEditShow: false,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      tableLine: true,
      avatorVisible: false,
      ruleForm: {
        state: '',
        tenantCode: '',
        package: '',
        startDate: '',
        endDate: ''
      },
      // 列表数据
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      stateList: [
        {
          'number': -1,
          'name': '移除中'
        },
        {
          'number': 0,
          'name': '未开启'
        },
        {
          'number': 1,
          'name': '部署dcv中'
        },
        {
          'number': 2,
          'name': '验证域名中'
        },
        {
          'number': 3,
          'name': '部署证书中'
        },
        {
          'number': 4,
          'name': '申请高防中'
        },
        {
          'number': 5,
          'name': '已开启'
        }
      ],
      packageList: [
        {
          'number': 0,
          'name': '未开启套餐'
        },
        {
          'number': 5,
          'name': '套餐一(5个域名)'
        },
        {
          'number': 10,
          'name': '套餐二(10个域名)'
        },
        {
          'number': 20,
          'name': '套餐三(20个域名)'
        },
        {
          'number': 30,
          'name': '套餐四(30个域名)'
        },
        {
          'number': 50,
          'name': '套餐五(50个域名)'
        }
      ]
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    editOne (val, type) {
      this.selectData = val
      this.HttpsEditShow = true
      this.typeNumber = type
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.startDate) {
        submitData.startDate = DateFormat(this.ruleForm.startDate, 'yyyy-MM-dd')
      }
      if (this.ruleForm.endDate) {
        submitData.endDate = DateFormat(this.ruleForm.endDate, 'yyyy-MM-dd')
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getPackageList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.list
        for (let i = 0; i < allList.length; i++) {
          allList[i].available = true
          if (allList[i].restTime <= 0) {
            if (allList[i].expireDate) {
              // 已過期
              allList[i].situation = '已过期'
              allList[i].situationClass = 'color-grey'
              if (allList[i].restTime === 0) {
                // 顯示已過期  但剩下一天 可以續費
                allList[i].available = false
              }
            } else {
              // 未開啟 restTime=== 0 /  沒有結束時間expireDate
              allList[i].situation = '---'
            }
          } else if (allList[i].restTime <= 30) {
            allList[i].situation = '即將到期(剩' + allList[i].restTime + '天)'
            allList[i].situationClass = 'color-danger'
            if (allList[i].state === 5) {
              allList[i].available = false
            }
          } else {
            allList[i].situation = '正常'
            allList[i].situationClass = ''
          }
        }
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    openDetails (row, event, column) {
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    HttpsEditForm,
    DatetimePicker,
    RenewEditForm
  }
}
</script>
