<template>
  <div class="panel">
    <div class="panel-heading">
      彩票盈率调节记录
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="彩种名称" prop="lotteryCode">
          <el-select v-model="ruleForm.lotteryCode" label="彩种名称" class="width-lottery" placeholder="请选择彩种">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.lotteryCode"
                :label="item.lotteryName"
                :value="item.lotteryCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="彩种名称" prop="lotteryCode">
                      <el-select v-model="ruleForm.lotteryCode" label="彩种名称" class="width-lottery" placeholder="请选择彩种">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.lotteryCode"
                          :label="item.lotteryName"
                          :value="item.lotteryCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">彩种名称</div></th>
                  <th ><div class="cell">触发期号</div></th>
                  <th ><div class="cell">开奖号码</div></th>
                  <th ><div class="cell">触发时间</div></th>
                  <th><div class="cell">当期设置阈值</div></th>
                  <th ><div class="cell">当期本月盈率</div></th>
                  <th ><div class="cell">当期中奖金额</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--彩种名称-->
                    <td ><div class="cell"><span class=" color-blue">{{items.lotteryName}}</span></div></td>
                    <!--触发期号-->
                    <td ><div class="cell"><span>{{items.issue}}</span></div></td>
                    <!--开奖号码-->
                    <td >
                      <div class="cell max-width200 min-width130 cursor-style" :id="'multipleTableopenNumber'+ index" @click="openContentForm('openNumber', '开奖号码', items, 'multipleTableopenNumber' + index, 'multipleTableopenNumberContent' + index)">
                        <span :title="items.openNumber"  :id="'multipleTableopenNumberContent' + index">{{items.openNumber}}</span>
                      </div>
                    </td>
                    <!--触发时间-->
                    <td ><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <!--当期设置阈值-->
                    <td ><div class="cell"><span>{{items.purposesProfit | formatMoney}}</span></div></td>
                    <!--当期本月盈率-->
                    <td ><div class="cell"><span :class="items.nowProfit <= 0 ? 'color-success' : 'color-danger'">{{items.nowProfit | formatMoney}}</span></div></td>
                    <!--当期中奖金额-->
                    <td ><div class="cell"><span>{{items.returnAmount | formatMoney}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                fixed
                label="彩种名称"
                min-width="120">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.lotteryName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="issue"
                label="触发期号"
                min-width="130">
              </el-table-column>
              <el-table-column
                prop="openNumber"
                label="开奖号码"
                min-width="170" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="触发时间"
                min-width="200">
              </el-table-column>
              <el-table-column
                label="当期设置阈值"
                min-width="100">
                <template slot-scope="scope">
                  <span>{{scope.row.purposesProfit | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="当期本月盈率"
                min-width="110">
                <template slot-scope="scope">
                  <span :class="scope.row.nowProfit <= 0 ? 'color-success' : 'color-danger'">{{scope.row.nowProfit | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="returnAmount"
                label="当期中奖金额"
                min-width="110">
                <template slot-scope="scope">
                  <span>{{scope.row.returnAmount | formatMoney}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <br>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="盈率调节"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>彩种名称</span>
            <span class="color-blue">{{detailData.lotteryName}}</span>
          </li>
          <li>
            <span>触发期号</span>
            <span>{{detailData.issue}}</span>
          </li>
          <li>
            <span>开奖号码</span>
            <span>{{detailData.openNumber}}</span>
          </li>
          <li>
            <span>触发时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
          <li>
            <span>当期设置阈值</span>
            <span>{{detailData.purposesProfit}}</span>
          </li>
          <li>
            <span>当期本月盈率</span>
            <span :class="detailData.nowProfit <= 0 ? 'color-success' : 'color-danger'">{{detailData.nowProfit}}</span>
          </li>
          <li>
            <span>当期中奖金额</span>
            <span>{{detailData.returnAmount}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import {validateQueryDateTwo} from '@/utils/validateRules'
import {DateFormat} from '@/utils/Time'
import DatetimePicker from '@/components/DatetimePicker'
import {getEllipsisFlag} from '@/utils'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      tableLine: true,
      avatorVisible: false,
      pageNum: 1,
      pageSize: 20,
      total: 0,
      ruleForm: {
        lotteryCode: '',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      // 列表数据
      options: [
        {
          lotteryCode: '1407',
          lotteryName: '大发快3'
        },
        {
          lotteryCode: '1008',
          lotteryName: '大发时时彩'
        },
        {
          lotteryCode: '1300',
          lotteryName: '大发六合彩'
        },
        {
          lotteryCode: '1304',
          lotteryName: '大发PK10'
        },
        {
          lotteryCode: '1412',
          lotteryName: '5分快3'
        },
        {
          lotteryCode: '1009',
          lotteryName: '5分时时彩'
        },
        {
          lotteryCode: '1305',
          lotteryName: '5分六合彩'
        },
        {
          lotteryCode: '1306',
          lotteryName: '5分PK10'
        }
      ],
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {}
    }
  },
  mounted () {
    this.getOrderList()
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.pageNum = 1
      this.avatorVisible = false
      this.getOrderList(this.pageNum, this.pageSize)
    },
    disableToken (val) {
      let submitData = {}
      submitData.id = val.id
      let state = 0
      if (val.state === 0) {
        state = 1
      }
      submitData.state = state
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateTokenState(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.getOrderList()
      })
    },
    removeToken (val) {
      let submitData = {}
      submitData.id = val.id
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.removeToken(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.getOrderList()
      })
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.startTime) {
        submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd') + ' 00:00:00'
      }
      if (this.ruleForm.endTime) {
        submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd') + ' 23:59:59'
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.selectKillProcessByOpenTime(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.total = res.data.total
        for (let i = 0; i < res.data.result.length; i++) {
          res.data.result[i].purposesProfit = res.data.result[i].purposesProfit * 100
          res.data.result[i].nowProfit = res.data.result[i].nowProfit * 100
        }
        this.allList = res.data.result
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
