<template>
  <div class="panel">
    <div class="panel-heading">
      域名管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openDomainForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="域名商" prop="registrarId">
            <el-select v-model="ruleForm.registrarId" label="套餐" class="width-lottery" placeholder="请选择套餐">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in registrarList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-select v-model="ruleForm.registrarId" label="套餐" class="width-lottery" placeholder="请选择套餐">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in registrarList"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0" >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">域名</div></th>
                  <th ><div class="cell">域名商</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--域名-->
                    <td ><div class="cell"><span class="color-blue">{{items.domain}}</span></div></td>
                    <!--域名商-->
                    <td ><div class="cell"><span >{{ShowRegistrarId(items.registrarId)}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="2"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="域名"
                min-width="150">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.domain}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="域名商"
                min-width="120">ㄒ
                <template slot-scope="scope">
                  {{ShowRegistrarId(scope.row.registrarId)}}
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <br>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="域名管理"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>域名</span>
            <span class="color-blue">{{detailData.domain}}</span>
          </li>
          <li>
            <span>域名商</span>
            <span >{{detailData.registrarId}}</span>
          </li>
        </ul>
      </popover-right>
      <network-domain-form
        :data="selectData"
        :visible="NetworkDomainShow"
        v-on:onClose="NetworkDomainShow = false"
      ></network-domain-form>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import NetworkDomainForm from '@/views/newModal/NetworkDomainForm'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  data () {
    return {
      pageNum: 1,
      pageSize: 20,
      total: 0,
      NetworkDomainShow: false,
      avatorVisible: false,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      detailIndex: -1,
      tableLine: true,
      ruleForm: {
        registrarId: ''
      },
      // 列表数据
      allList: [],
      registrarList: [
        {
          'id': 1,
          'name': 'DNS_COM'
        },
        {
          'id': 2,
          'name': 'DNSPOD'
        }
      ],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {}
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openDomainForm () {
      this.NetworkDomainShow = true
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    ShowRegistrarId (val) {
      let number = val - 1
      return this.registrarList[number].name
    },
    getOrderList (pageNum, pageSize) {
      // if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
      //   return
      // }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getDomainList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    NetworkDomainForm,
    DatetimePicker
  }
}
</script>
