<template>
  <div class="panel">
    <div class="panel-heading">
      运维日志
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input v-model="ruleForm.tenantCode" class="width-forword" placeholder="请输入站长编码"></el-input>
          </el-form-item>
          <el-form-item label="服务器" prop="servers">
            <el-input v-model="ruleForm.servers" class="width-search100" placeholder="以逗号隔开"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-input v-model="ruleForm.tenantCode" placeholder="请输入站长编码"></el-input>
                    </el-form-item>
                    <el-form-item label="服务器" prop="servers">
                      <el-input v-model="ruleForm.servers" placeholder="请输入服务器"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">站长编码</div></th>
                  <th ><div class="cell">主机</div></th>
                  <th ><div class="cell">IP</div></th>
                  <th ><div class="cell">服务器</div></th>
                  <th ><div class="cell">终端</div></th>
                  <th ><div class="cell">线路（迁移前）</div></th>
                  <th ><div class="cell">线路（迁移后）</div></th>
                  <th><div class="cell">解析纪录</div></th>
                  <th ><div class="cell">原因</div></th>
                  <th ><div class="cell">操作人</div></th>
                  <th width="170px"><div class="cell">切换时间</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--站长编码-->
                    <td ><div class="cell"><span class="color-blue ">{{items.tenantCode}}</span></div></td>
                    <!--主机-->
                    <td ><div class="cell"><span >{{items.host}}</span></div></td>
                    <!--IP-->
                    <td ><div class="cell"><span>{{items.ip}}</span></div></td>
                    <!--服务器-->
                    <td ><div class="cell"><span>{{items.server}}</span></div></td>
                    <!--终端-->
                    <td ><div class="cell"><span>{{formatterSourceId(items, items.sourceId)}}</span></div></td>
                    <!--从状态-->
                    <td ><div class="cell"><span>{{formatterStateId(items, items.fromTypeId)}}</span></div></td>
                    <!--至状态-->
                    <td ><div class="cell"><span>{{formatterStateId(items, items.toTypeId)}}</span></div></td>
                    <!--解析纪录-->
                    <td><div class="cell max-width100 cursor-style" :id="'multipleValueColumn' + index" @click="openContentForm('value', '解析纪录', items, 'multipleValueColumn' + index, 'multipleValueContent' + index)">
                      <span :title="items.value"   :id="'multipleValueContent' + index">{{items.value}}</span>
                    </div></td>
                    <!--原因-->
                    <td><div class="cell max-width100 cursor-style" :id="'multipleReasonColumn' + index" @click="openContentForm('reason', '原因', items, 'multipleReasonColumn' + index, 'multipleReasonContent' + index)">
                      <span :title="items.reason"   :id="'multipleReasonContent' + index">{{items.reason}}</span>
                    </div></td>
                    <!--操作人-->
                    <td ><div class="cell"><span>{{items.operator}}</span></div></td>
                    <!--切换时间-->
                    <td ><div class="cell"><span>{{items.gmtDispatched}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="9"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="站长编码"
                fixed
                min-width="170">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.tenantCode}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="主机"
                prop="host"
                min-width="120">
              </el-table-column>
              <el-table-column
                label="IP"
                prop="ip"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="server"
                label="服务器"
                min-width="170">
              </el-table-column>
              <el-table-column
                label="终端"
                min-width="170">
                <template slot-scope="scope">
                  <span >{{formatterSourceId(scope.row,scope.row.sourceId)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="从状态"
                min-width="170">
                <template slot-scope="scope">
                  <span >{{formatterStateId(scope.row,scope.row.fromTypeId)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="至状态"
                min-width="170">
                <template slot-scope="scope">
                  <span >{{formatterStateId(scope.row,scope.row.toTypeId)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="value"
                label="解析纪录"
                min-width="170">
              </el-table-column>
              <el-table-column
                prop="reason"
                label="原因"
                min-width="170">
              </el-table-column>
              <el-table-column
                prop="gmtDispatched"
                label="切换时间"
                min-width="170">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <br>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <!--<span @click="deleteToken(detailData);rwdbtnVisible=false">删除</span>-->
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="运维日志"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>站长编码</span>
            <span class="color-blue">{{detailData.tenantCode}}</span>
          </li>
          <li>
            <span>主机</span>
            <span>{{detailData.host}}</span>
          </li>
          <li>
            <span>IP</span>
            <span>{{detailData.ip}}</span>
          </li>
          <li>
            <span>服务器</span>
            <span>{{detailData.server}}</span>
          </li>
          <li>
            <span>终端</span>
            <span>{{formatterSourceId(detailData, detailData.sourceId)}}</span>
          </li>
          <li>
            <span>从状态</span>
            <span>{{formatterStateId(detailData, detailData.fromTypeId)}}</span>
          </li>
          <li>
            <span>至状态</span>
            <span>{{formatterStateId(detailData, detailData.toTypeId)}}</span>
          </li>
          <li>
            <span>原因</span>
            <span>{{detailData.reason}}</span>
          </li>
          <li>
            <span>切换时间</span>
            <span>{{detailData.gmtDispatched}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import {NetworksourceData, NetworkStateList} from '@/utils/config'
import Scroll from '@/components/Scroll'
import {DateFormat} from '@/utils/Time'
import DatetimePicker from '@/components/DatetimePicker'
import {validateQueryDateTwo} from '@/utils/validateRules'
import {getEllipsisFlag} from '@/utils'
export default {
  data () {
    return {
      pageNum: 1,
      pageSize: 20,
      total: 0,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      btnStyle: false,
      tableLine: true,
      avatorVisible: false,
      // 列表数据
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      ruleForm: {
        tenantCode: '',
        servers: '',
        startDate: '',
        endDate: ''
      }
    }
  },
  mounted () {
    this.getOrderList()
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    formatterSourceId (row, column) {
      if (!row || column === undefined) {
        return ''
      }
      for (let i = 0; i < NetworksourceData.length; i++) {
        if (NetworksourceData[i].key === column) {
          return NetworksourceData[i].value
        }
      }
      return '未知终端'
    },
    formatterStateId (row, column) {
      if (!row || column === undefined) {
        return ''
      }
      for (let i = 0; i < NetworkStateList.length; i++) {
        if (NetworkStateList[i].key === column) {
          return NetworkStateList[i].value
        }
      }
      return '未知状态'
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      if (this.ruleForm.startDate) {
        submitData.startDate = DateFormat(this.ruleForm.startDate, 'yyyy-MM-dd')
      }
      if (this.ruleForm.endDate) {
        submitData.endDate = DateFormat(this.ruleForm.endDate, 'yyyy-MM-dd')
      }
      this.loading = true
      let obj = this
      Api.getLogList(submitData, function () {
        console.log(submitData)
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    openDetails (row, event, column) {
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
