<template>
  <div class="panel">
    <div class="panel-heading">
      昵称过滤
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm()">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>=768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="过滤词" prop="filterWord">
            <el-input size="min" v-model="ruleForm.filterWord" class="width-forword" placeholder="请输入过滤词"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="过滤词" prop="filterWord">
                      <el-input size="min" v-model="ruleForm.filterWord"  placeholder="请输入过滤词"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"
             v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="22px"><div class="table-id"></div></th>
                  <th ><div class="cell">过滤词</div></th>
                  <th ><div class="cell">操作人</div></th>
                  <th width="200"><div class="cell">添加时间</div></th>
                </tr>
                <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--过滤词-->
                    <td><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                    <td>
                      <div class="cell">
                        <span class="color-blue hoverline-effet" title="修改"  @click="editOne(items)">{{items.filterWord}}</span>
                      </div>
                    </td>
                    <!--操作人-->
                    <td><div class="cell"><span>{{items.operator}}</span></div></td>
                    <!--添加时间-->
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              @selection-change="handleSelectionChange"
              style="width: 100%;">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="过滤词"
                fixed
                min-width="140">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.filterWord}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                min-width="160">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                width="200">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="editOne(detailData)">修改</span>
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
      </div>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="昵称管理"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
        <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul >
          <li>
            <span>过滤词</span>
            <span class="color-blue">{{detailData.filterWord}}</span>
          </li>
          <li>
            <span>操作人</span>
            <span >{{detailData.operator}}</span>
          </li>
          <li>
            <span>添加时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <nickname-form
    :data="selectData"
    :visible="nickNameShow"
    @onClose="nickNameShow=false"></nickname-form>
  </div>
</template>
<script>
import NicknameForm from '@/views/newModal/NicknameEditForm'
import Scroll from '@/components/Scroll'
import Api from '@/api/tenant'
export default {
  data () {
    return {
      nickNameShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      SettingNickNameVisible: false,
      submitLoading: false,
      rwdNumber: '',
      rwdbtnVisible: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        filterWord: ''
      },
      allList: [],
      pageNum: 1,
      pageSize: 20,
      total: 0,
      selectData: {},
      detailData: {
        userName: '',
        nickName: '',
        tenantCode: '',
        registerTime: ''
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false
    }
  },
  components: {
    Scroll,
    NicknameForm
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteNicknameFilter(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openNewForm () {
      this.nickNameShow = true
      this.selectData = {}
    },
    // 单个修改
    editOne (v) {
      // this.rwdbtnVisible = false
      this.nickNameShow = true
      this.selectData = v
    },
    onSubmit () {
      this.pageNum = 1
      this.pageSize = 20
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.filterWord === '') {
        submitData.filterWord = ''
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.nicknameFilter(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  }
}
</script>
