<template>
  <div class="panel">
    <div class="panel-heading">
      棋牌管理
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="棋牌名称" prop="gameName">
            <el-input size="min" v-model="ruleForm.gameName" class="width-forword" placeholder="请输入棋牌名称"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small"  :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="棋牌名称" prop="gameName">
                      <el-input size="min" v-model="ruleForm.gameName" class="inputWindth" placeholder="请输入棋牌名称"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" lass="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">棋牌名称</div></th>
                  <th ><div class="cell">场次</div></th>
                  <th ><div class="cell">房号</div></th>
                  <th ><div class="cell">状态</div></th>
                  <th width="50px"><div class="cell">操作</div></th>
                </tr>
                <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span class=" color-blue hoverline-effet" @click="editOne(items)">{{items.gameName}}</span></div></td>
                    <td><div class="cell"><span >{{items.roundType}}</span></div></td>
                    <td><div class="cell"><span >{{items.roomNumber}}</span></div></td>
                    <td><div class="cell"><span :class="items.isStop  ? 'color-danger' : 'color-success'">{{items.isStop ? '暂停游戏' : '正常'}}</span></div></td>
                    <td><div class="cell"><div class="table-btnbox icon-menu" >
                      <div class="edit-btns">
                        <span :title="items.stop ? '启用' : '暂停游戏'"  @click="openFreeze(items)" ><i  class="dafa-icon" :class="{'color-bluebutton': items.isStop}"></i></span>
                      </div>
                    </div></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;" >
              <el-table-column
                fixed
                label="棋牌名称"
                min-width="100">
                <template slot-scope="scope">
                  <span class=" color-blue  hoverline-effet" @click="editOne(scope.row)">{{scope.row.gameName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="场次"
                prop="roundType"
                min-width="100">
              </el-table-column>
              <el-table-column
                label="房号"
                prop="roomNumber"
                min-width="100">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="100">
                <template slot-scope="scope"><span :class="scope.row.isStop  ? 'color-danger' : 'color-success'">{{scope.row.isStop ? '暂停游戏' : '正常'}}</span></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="openFreeze(detailData)" >{{detailData.isStop ? '启用' : '暂停游戏'}}</span>
            <span @click="editOne(detailData)">修改</span>
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <!--<el-dialog-->
        <!--:visible.sync="rwdbtnVisible"-->
        <!--custom-class="btn-dialog"-->
        <!--:modal="false"-->
        <!--append-to-body-->
        <!--width="100%">-->
        <!--<span title="暂停销售"  @click="openFreeze(rwdNumber)" :class="{'color-bluebutton': rwdNumber.isStop}"><i  class="dafa-icon" ></i>暂停销售</span>-->
        <!--</el-dialog>-->
      </div>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="彩种管理"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
        <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul >
          <li>
            <span>棋牌名称</span>
            <span class="color-blue">{{detailData.lotteryName}}</span>
          </li>
          <li>
            <span>场次</span>
            <span>{{detailData.roundType}}</span>
          </li>
          <li>
            <span>房号</span>
            <span>{{detailData.roomNumber}}</span>
          </li>
          <li>
            <span>状态</span>
            <span :class="detailData.isStop  ? 'color-danger' : 'color-success'">{{detailData.isStop ? '暂停游戏' : '正常'}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
      <div class="report-foot margin-t10">
      </div>
    </div>
    <add-explain
      :data="selectData"
      :visible="AddLottery"
      :titleName="title"
      v-on:onClose="AddLottery=false">
    </add-explain>
  </div>
</template>
<script>
import AddExplain from '@/views/newModal/AddExplainForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      title: '棋牌',
      detailShow: false,
      tableLine: true,
      FreezeValue: false,
      AddLottery: false,
      isActive: false,
      avatorVisible: false,
      rwdNumber: '',
      rwdbtnVisible: false,
      ruleForm: {
        gameName: ''
      },
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      total: 0,
      selectData: {},
      detailData: {
        lotteryCode: '',
        lotteryName: '',
        stop: ''
      }
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    editOne (val) {
      this.selectData = val
      this.AddLottery = true
      this.rwdbtnVisible = false
    },
    openFreeze (val) {
      let submitData = {}
      submitData.gameCode = val.gameCode
      submitData.roundType = val.roundType
      submitData.roomNumber = val.roomNumber
      this.loading = true
      let obj = this
      Api.gameUpdateSaleStatus(submitData, function () {
        obj.loading = false
      }).then((res) => {
        val.isStop = !val.isStop
        this.msgSuccess('操作成功')
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
      this.rwdbtnVisible = false
      console.log()
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    getOrderList () {
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      this.loading = true
      let obj = this
      Api.gameCmsList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    AddExplain
  }
}
</script>
