<template>
  <div class="panel">
    <div class="panel-heading">
      直播调度
    </div>
    <div class="panel-body">
      <!-- 直播调度开始 -->
      <div class="search-header">
        <el-form  size="small"  v-if="screenW>768" :inline="true" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSearchSubmit" @submit.native.prevent>
          <el-form-item label="更新" prop="Update">
            <el-select v-model="ruleForm.update" @change="onSearchSubmit" class="width-shotstatus">
              <el-option label="15秒" value="15"></el-option>
              <el-option label="30秒" value="30"></el-option>
              <el-option label="60秒" value="60"></el-option>
              <el-option label="暂停" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="彩种名称" prop="lotterys">
            <el-select v-model="ruleForm.lotteryCode" placeholder="请选择彩种" class="width-lottery">
              <el-option label="UU快3" value="0101"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button  size="mini" type="primary" @click="onSearchSubmit">查询</el-button>
          </el-form-item>
          <el-form-item class="margin-l">
            负载总数：<span class="color-blue margin-r">{{currentLoads}}</span>
            WS连接总数：<span class="color-blue margin-r">{{wsConnections}}</span>
            WSS连接总数：<span class="color-blue">{{wssConnections}}</span>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版开始 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper scroll-container scrollCss">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr><th ><div class="cell">服务器名称</div></th>
                      <th ><div class="cell">IP</div></th>
                      <th ><div class="cell">ssl域名</div></th>
                      <th ><div class="cell">位置信息</div></th>
                       <th ><div class="cell">网络名称</div></th>
                      <th ><div class="cell">节点类型</div></th>
                      <th ><div class="cell">负载</div></th>
                       <th ><div class="cell">WS连接数</div></th>
                      <th ><div class="cell">WSS连接数</div></th>
                       <th ><div class="cell">控制类型</div></th>
                      <th ><div class="cell">状态</div></th>
                      <th ><div class="cell">操作</div></th>
                      <th ><div class="cell">操作时间</div></th>
                      <th ><div class="cell">响应时间</div></th>
                    </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <!-- 备注 （服务器名称）-->
                      <td>
                        <div class="cell max-width120 cursor-style" :id="'multipleTableMemoColumn' + index" @click="openContentForm('memo', '备注', items, 'multipleTableMemoColumn' + index, 'multipleTableMemoContent' + index)">
                          <span :title="items.memo" :id="'multipleTableMemoContent' + index">{{items.memo}}</span>
                        </div>
                      </td>
                      <!--IP-->
                        <td>
                        <div class="cell max-width120 cursor-style" :id="'multipleTableIpColumn' + index" @click="openContentForm('ip', 'IP', items, 'multipleTableIpColumn' + index, 'multipleTableIpContent' + index)">
                          <span :title="items.ip" :id="'multipleTableIpContent' + index">{{items.ip}}</span>
                        </div>
                      </td>
                        <!--ssl域名-->
                    <td>
                        <div class="cell max-width180 cursor-style" :id="'multipleTableSslDomainColumn' + index" @click="openContentForm('sslDomain', 'ssl域名', items, 'multipleTableSslDomainColumn' + index, 'multipleTableSslDomainContent' + index)">
                          <span :title="items.sslDomain" :id="'multipleTableSslDomainContent' + index">{{items.sslDomain}}</span>
                        </div>
                      </td>
                      <td><div class="cell"><a @click="showMore(items.addressList)" v-html="items.addressArr"></a></div></td>
                      <td><div class="cell"><span >{{items.operator}}</span></div></td>
                      <td><div class="cell">
                        {{items.nodeTypeName}}
                      </div></td>
                      <td><div class="cell"><span>{{items.currentLoads}}/{{items.maxLoads}}</span></div></td>
                      <td><div class="cell"><span >{{items.wsConnections}}</span></div></td>
                      <td><div class="cell">
                        {{items.wssConnections}}
                      </div></td>
                      <!-- 控制类型 -->
                      <td>
                        <div class="cell max-width120 cursor-style" :id="'multipleTableMonitorTypeNameColumn' + index" @click="openContentForm('monitorTypeName', '控制类型', items, 'multipleTableMonitorTypeNameColumn' + index, 'multipleTableMonitorTypeNameContent' + index)">
                          <span :title="items.monitorTypeName" :id="'multipleTableMonitorTypeNameContent' + index">{{items.monitorTypeName}}</span>
                        </div>
                      </td>
                      <td><div class="cell"><span  :class="[items.isShutdown === true ? 'color-success': '']">{{items.isShutdown === true ? '防护中': '正常'}}</span></div></td>
                      <td><div class="cell"><span class="color-blue cursor-style"  @click="updateLiveStatus(items)">{{items.isShutdown === true ? '下防': '上防'}}</span></div></td>
                      <td><div class="cell"><span>{{items.gmtModified}}</span></div></td>
                      <td><div class="cell"><span>{{items.receivedAt}}</span></div></td>
                    </tr>
<!--                    <tr class="td-background">-->
<!--                      <td colspan="6"><div class="cell">合计</div></td>-->
<!--                      <td colspan="1"><div class="cell">{{currentLoads}}</div></td>-->
<!--                      <td colspan="1"><div class="cell">{{wsConnections}}</div></td>-->
<!--                      <td colspan="6"><div class="cell">{{wssConnections}}</div></td>-->
<!--                    </tr>-->
                  </template>
                  <template v-else>
                    <tr>
                      <td colspan="11"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          <!-- 电脑版结束 -->
          <!-- 手机版开始 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              style="width: 100%;">
              <el-table-column
                label="IP"
                prop="ip"
                min-width="120"
                fixed show-overflow-tooltip>
                <template slot-scope="scope">
                  <span class="hoverline-effet hover-black"  @click="showContent('IP', scope.row)">
                    {{scope.row.ip}}
                  </span>
                </template>
              </el-table-column>
               <el-table-column
                label="ssl域名"
                prop="sslDomain"
                show-overflow-tooltip
                min-width="120">
                <template slot-scope="scope">
                  <span class="hoverline-effet hover-black"  @click="showContent('ssl域名', scope.row)">
                    {{scope.row.sslDomain}}
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                label="位置信息"
                prop="addressList"
                min-width="100">
                <template slot-scope="scope"><span>{{scope.row.addressList.join(',')}}</span></template>
              </el-table-column>
              <el-table-column
                label="网络名称"
                prop="operator"
                min-width="80" >
                <template slot-scope="scope"><span>{{scope.row.operator}}</span></template>
              </el-table-column>
              <el-table-column
                label="节点类型"
                prop="nodeTypeName"
                min-width="100" >
                <template slot-scope="scope"><span>{{scope.row.nodeTypeName}}</span></template>
              </el-table-column>
              <el-table-column
                label="负载"
                prop="currentLoads"
                min-width="100" >
                <template slot-scope="scope"><span>{{scope.row.currentLoads}}/{{scope.row.maxLoads}}</span></template>
              </el-table-column> -->
              <el-table-column
                label="WS连接数"
                prop="wsConnections"
                min-width="100" >
                <template slot-scope="scope"><span>{{scope.row.wsConnections}}</span></template>
              </el-table-column>
              <el-table-column
                label="WSS连接数"
                prop="wssConnections"
                min-width="100" >
                <template slot-scope="scope"><span>{{scope.row.wssConnections}}</span></template>
              </el-table-column>

              <el-table-column
                label="控制类型"
                prop="monitorTypeName"
                min-width="120" >
                <template slot-scope="scope"><span class="hoverline-effet hover-black"  @click="showContent('控制类型', scope.row)">{{scope.row.monitorTypeName}}</span></template>
              </el-table-column>
              <el-table-column
                label="备注"
                prop="memo"
                min-width="80" >
                  <template slot-scope="scope">
                  <span class="hoverline-effet hover-black"  @click="showContent('备注', scope.row)">
                    {{scope.row.memo}}
                  </span>
                </template>
              </el-table-column>
              <el-table-column
              label="响应时间"
              prop="receivedAt"
              show-overflow-tooltip
              min-width="100" >
              <template slot-scope="scope"><span>{{scope.row.receivedAt}}</span></template>
            </el-table-column>
              <el-table-column
                label="状态"
                prop="isShutdown"
                min-width="80" >
                <template slot-scope="scope"><span :class="[scope.row.isShutdown === true ? 'color-success': '']">{{scope.row.isShutdown === true ? '防护中': '正常'}}</span></template>
              </el-table-column>
              <el-table-column
                label="操作"
                prop="isShutdown"
                min-width="100" >
                <template slot-scope="scope"><span class="color-blue cursor-style"  @click="updateLiveStatus(scope.row)">{{scope.row.isShutdown === true ? '下防': '上防'}}</span></template>
              </el-table-column>
              <el-table-column
                label="操作时间"
                prop="gmtModified"
                show-overflow-tooltip
                min-width="120" >
                <template slot-scope="scope"><span>{{scope.row.gmtModified}}</span></template>
              </el-table-column>
              </el-table>
          </scroll>
          <!-- 手机版结束 -->
        </div>
      </div>
    </div>
    <el-dialog
      :title="DetailTitle"
      :visible.sync="DetailShow"
      custom-class="small-reveal-modal reposit-modal dispatch-moadal">
        <ul class="order-ul">
          <template v-if="DetailTitle === 'ssl域名'">
            <li >
              <span class="margin-l10">{{DetailList.sslDomain}}</span>
            </li>
          </template>
          <template v-if="DetailTitle === 'IP'">
            <li >
              <span class="margin-l10">{{DetailList.ip}}</span>
            </li>
          </template>
          <template v-if="DetailTitle === '备注'">
            <li >
            <span class="margin-l10">{{DetailList.memo}}</span>
            </li>
            </template>
            <template v-if="DetailTitle === '控制类型'">
            <li >
            <span class="margin-l10">{{DetailList.monitorTypeName}}</span>
            </li>
            </template>
        </ul>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import {getEllipsisFlag} from '@/utils'
let timerUpdate = null
export default {
  data () {
    return {
      loading: false,
      tableLine: true,
      DetailTitle: '',
      DetailShow: false,
      ruleForm: {
        update: '15',
        lotteryCode: ''
      },
      allList: []
    }
  },
  components: {
    Scroll
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    },
    currentLoads () {
      return this.getAlLNum('currentLoads')
    },
    wsConnections () {
      return this.getAlLNum('wsConnections')
    },
    wssConnections () {
      return this.getAlLNum('wssConnections')
    }
  },
  mounted () {
    this.findLiveNodesList()
    this.updateList()
  },
  methods: {
    showMore (v) {
      if (v.length > 3) {
        this.msgAlert(v.join('、'), '位置信息')
      }
    },
    getAlLNum (key) {
      let num = 0
      for (let i = 0, l = this.allList.length; i < l; i++) {
        num = num + this.allList[i][key]
      }
      return num
    },
    onSearchSubmit () {
      this.findLiveNodesList()
      this.updateList()
    },
    updateList () {
      let time = parseInt(this.ruleForm.update)
      clearInterval(timerUpdate)
      timerUpdate = setInterval(() => {
        if (time === 0) return
        this.findLiveNodesList()
      }, time * 1000)
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    showContent (title, items) {
      this.DetailShow = true
      this.DetailTitle = title
      this.DetailList = items
    },
    updateLiveStatus (items) {
      this.loading = true
      var submitData = {
        ip: items.ip,
        isShutdown: !items.isShutdown
      }
      let obj = this
      Api.updateLiveNodeShutdown(submitData, function () {
        obj.loading = false
      }).then((res) => {
        if (res.code === 1) {
          this.msgSuccess('更新成功')
          this.findLiveNodesList()
        }
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    findLiveNodesList () {
      this.loading = true
      var submitData = {
        lotteryCode: this.ruleForm.lotteryCode
      }
      let obj = this
      Api.findLiveNodes(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data
        for (let i = 0, l = allList.length; i < l; i++) {
          let v = allList[i].addressList
          if (v.length > 3) {
            allList[i].addressArr = `${v[0]},${v[1]},${v[2]}<span class="color-info">...</span>`
          } else {
            allList[i].addressArr = v.join(',')
          }
        }
        this.allList = allList
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  }
}
</script>
<style  >
/* .el-table__body-wrapper{overflow-x: auto;} */
</style>
