<template>
  <div class="panel">
    <div class="panel-heading">
      结算检查
      <div class="float-right panel-heading-right"></div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="查询方式" prop="searchType">
            <el-select v-model="ruleForm.searchType"  class="width-search100" @change="searchTypeChange">
              <el-option label="投注时间" value="1"></el-option>
              <el-option label="期号" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="查询类型" prop="type"  >
            <el-select v-model="ruleForm.type" class="width-search100" @change="ruleForm.code = ''">
              <el-option label="彩票" value="1"></el-option>
              <el-option label="棋牌" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item :label="ruleForm.type === '1' ? '彩种名称':'游戏名称'" prop="code">
            <el-select v-model="ruleForm.code" >
              <el-option label="全部" value=""></el-option>
              <template  v-if="ruleForm.type === '1'">
                <el-option
                  v-for="item in lotteryOptions"
                  :key="item.lotteryCode"
                  :label="item.lotteryName"
                  :value="item.lotteryCode">
                </el-option>
              </template>
              <template v-else>
                <el-option
                  v-for="item in gameOptions"
                  :key="item.lotteryCode"
                  :label="item.lotteryName"
                  :value="item.lotteryCode">
                </el-option>
              </template>
            </el-select>
          </el-form-item>
          <template v-if="ruleForm.searchType === '1'">
            <el-form-item label="开始时间" prop="startTime">
              <el-date-picker
                v-model="ruleForm.startTime"
                class="width-search-hour"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="endTime">
              <el-date-picker
                v-model="ruleForm.endTime"
                class="width-search-hour"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          </template>
          <el-form-item label="期号" prop="issue" v-else>
           <el-input v-model="ruleForm.issue" placeholder="请输入期号"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row">
          <el-button size="mini" v-if=" screenW >768 || isActive" @click="checkChange">重启结算</el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="查询方式" prop="searchType">
                      <el-select v-model="ruleForm.searchType" >
                        <el-option label="投注时间" value="1"></el-option>
                        <el-option label="期号" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="查询类型" prop="type"  >
                      <el-select v-model="ruleForm.type"  @change="ruleForm.code = ''">
                        <el-option label="彩票" value="1"></el-option>
                        <el-option label="棋牌" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item :label="ruleForm.type === '1' ? '彩种':'游戏名称'" prop="code">
                      <el-select v-model="ruleForm.code" >
                        <el-option label="全部" value=""></el-option>
                        <template  v-if="ruleForm.type === '1'">
                          <el-option
                            v-for="item in lotteryOptions"
                            :key="item.lotteryCode"
                            :label="item.lotteryName"
                            :value="item.lotteryCode">
                          </el-option>
                        </template>
                        <template v-else>
                          <el-option
                            v-for="item in gameOptions"
                            :key="item.lotteryCode"
                            :label="item.lotteryName"
                            :value="item.lotteryCode">
                          </el-option>
                        </template>
                      </el-select>
                    </el-form-item>
                    <template v-if="ruleForm.searchType === '1'">
                      <el-form-item label="开始时间" prop="startDate">
                        <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                      </el-form-item>
                      <el-form-item label="结束时间" prop="endDate">
                        <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                      </el-form-item>
                    </template>
                    <el-form-item label="期号" prop="issue" v-else>
                      <el-input v-model="ruleForm.issue" placeholder="请输入期号"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th><div class="cell">彩种</div></th>
                    <th><div class="cell">期号</div></th>
                    <th ><div class="cell">站长编码</div></th>
                    <th><div class="cell">站点数量</div></th>
                    <th width="100px"><div class="cell">是否开奖</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length >0">
                    <tr v-for="(items, index) in allList" :key="index + items.issue">
                      <td><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <!--彩种-->
                      <td><div class="cell  min-width120"><span >{{items.lotteryName}}</span></div></td>
                      <!--期号-->
                      <td><div class="cell  min-width180"><span >{{items.issue}}</span></div></td>
                      <!--站长编码-->
                      <td><div class="cell min-width180 max-width630"><span class="color-blue hoverline-effet" @click="editOne(items.tenantCodes)">{{items.tenantCodesString}}</span></div></td>
                      <!--站点数量-->
                      <td><div class="cell  min-width120"><span >{{items.count}}</span></div></td>
                      <!--是否开奖-->
                      <td><div class="cell  min-width80"><span >{{items.isOpen === 1 ? '是':'否'}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="9"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleCheckAllChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed>
              </el-table-column>
              <el-table-column
                label="彩种"
                min-width="130" show-overflow-tooltip fixed>
                <template slot-scope="scope"><span class="color-blue hoverline-effet">{{ scope.row.lotteryName}}</span></template>
              </el-table-column>
              <el-table-column
                label="期号" prop="issue"
                min-width="130" >
              </el-table-column>
              <el-table-column
                label="站长编码"
                min-width="100"
                prop="tenantCodesString" >
              </el-table-column>
              <el-table-column
                label="站点数量"
                min-width="80" prop="count">
              </el-table-column>
              <el-table-column
                label="是否开奖"
                min-width="100">
                <template slot-scope="scope"><span>{{scope.row.isOpen === 1 ? '是':'否'}}</span></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="结算检查"
      @close="detailShow=false">
      <ul >
        <li>
          <span>彩种</span>
          <span class="color-blue">{{detailData.lotteryName}}</span>
        </li>
        <li>
          <span>期号</span>
          <span>{{detailData.issue}}</span>
        </li>
        <li>
          <span>站长编码</span>
          <span>{{detailData.tenantCodes}}</span>
        </li>
        <li>
          <span>站点数量</span>
          <span>{{detailData.count}}</span>
        </li>
        <li>
          <span>是否开奖</span>
          <span>{{detailData.isOpen === 1 ? '是':'否'}}</span>
        </li>
      </ul>
    </popover-right>
    <settlement-check-form
      :tenantCode="tenantCode"
      :visible = "SettlementCheckShow"
      v-on:onClose = "SettlementCheckShow=false"></settlement-check-form>
  </div>
</template>
<script>
import {validateQueryDateTwo} from '@/utils/validateRules'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import SettlementCheckForm from '@/views/newModal/SettlementCheckForm'
import DatetimePicker from '@/components/DatetimePicker'
import {getEllipsisFlag} from '@/utils'
import {dateFormat} from '@/utils/index'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      lotteryOptions: [],
      SettlementCheckShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      checkLotteryCodes: [],
      checkIssuesCodes: [],
      ruleForm: {
        searchType: '1',
        type: '1',
        code: '',
        issue: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      allList: [],
      tenantCode: [],
      detailData: {},
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      options: [],
      gameOptions: [
        {
          lotteryCode: '2001',
          lotteryName: '百人牛牛'
        },
        {
          lotteryCode: '2002',
          lotteryName: '红黑大战'
        },
        {
          lotteryCode: '2003',
          lotteryName: '龙虎大战'
        },
        {
          lotteryCode: '2004',
          lotteryName: '百家乐'
        },
        {
          lotteryCode: '2005',
          lotteryName: '奔驰宝马'
        },
        {
          lotteryCode: '2006',
          lotteryName: '骰宝'
        }
      ]
    }
  },
  mounted () {
    this.getLotteryData()
  },
  methods: {
    searchTypeChange () {
      this.ruleForm.issue = ''
    },
    editOne (items) {
      this.tenantCode = items
      this.SettlementCheckShow = true
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getList () {
      let all = []
      let list = JSON.parse(JSON.stringify(this.allList))
      list.forEach(v => {
        all.push(v.id)
      })
      return all
    },
    handleCheckAllChange (val) {
      this.checkedCities = val ? this.getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let checkedCount = value.length
      this.checkAll = checkedCount === this.getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.getList().length
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList()
    },
    changeName (arry) {
      let str = ''
      let name = (this.ruleForm.type === '1') ? arry.lotteryCode : arry.gameCode
      let option = (this.ruleForm.type === '1') ? this.lotteryOptions : this.gameOptions
      for (let j in option) {
        if (name === option[j].lotteryCode) {
          str = option[j].lotteryName
        }
      }
      return str
    },
    getOrderList () {
      this.checkedCities = []
      if (this.ruleForm.searchType === '1') {
        if (!validateQueryDateTwo.validateHour(this.ruleForm.startTime, this.ruleForm.endTime)) {
          return
        }
      } else {
        if (this.ruleForm.issue === '') {
          this.msgError('请输入期号')
          return
        }
      }
      let submitData = {
        gameCode: this.ruleForm.code,
        lotteryCode: this.ruleForm.code,
        searchType: parseInt(this.ruleForm.searchType),
        issue: this.ruleForm.issue,
        startTime: this.ruleForm.startTime,
        endTime: this.ruleForm.endTime
      }
      this.loading = true
      let apiName = (this.ruleForm.type === '1') ? 'checkCalculate' : 'gameCheckCalculate'
      Api[apiName](submitData).then((res) => {
        if (res.code === 1) {
          let arry = res.data
          let data = []
          for (let i in arry) {
            arry[i].id = i
            arry[i].lotteryName = this.changeName(arry[i])
            arry[i].tenantCodesString = arry[i].tenantCodes.join(',')
            data.push(arry[i])
          }
          this.allList = arry
        }
        this.loading = false
        if (this.allList.length > 0) {
          this.tableLine = false
        }
      })
    },
    lotteryCodeChange () {
      let lotteryList = []
      let issues = []
      for (let items in this.checkedCities) {
        let arry = this.allList
        let obj = this.checkedCities[items]
        let code = this.ruleForm.type === '1' ? 'lotteryCode' : 'gameCode'
        for (let j in arry) {
          if (arry[j].id === obj) {
            lotteryList.push(arry[j][code])
            issues.push(arry[j].issue)
          }
        }
      }
      let parame = {}
      if (this.ruleForm.type === '1') {
        parame = {
          lotteryCodes: lotteryList.join(','),
          issues: issues.join(',')
        }
      } else {
        parame = {
          gameCodes: lotteryList.join(','),
          issues: issues.join(',')
        }
      }
      return parame
    },
    checkChange () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将重启结算该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true
        let parame = this.lotteryCodeChange()
        let apiName = (this.ruleForm.type === '1') ? 'reCalculate' : 'gameReCalculate'
        Api[apiName](parame).then((res) => {
          if (res.code === 1) {
            this.msgSuccess('操作成功')
            this.checkedCities = []
            this.isIndeterminate = false
          }
          this.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
      this.ruleForm.issue = ''
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    getLotteryData () {
      this.loading = true
      Api.getDafaLottery().then((res) => {
        this.lotteryOptions = res.data
        this.$nextTick(function () {
          this.loading = false
        })
      })
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    }
  },
  components: {
    Scroll,
    DatetimePicker,
    SettlementCheckForm
  }
}
</script>
