<template>
  <div class="panel">
    <div class="panel-heading">
      弹幕设置
      <div class="float-right panel-heading-right">
        <!--<el-button size="mini"  type="primary" plain @click="submitForm('ruleForm')"> 保 存 </el-button>-->
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data  no-border rwd-padding" >
      <!-- 表头 -->
        <el-form :model="ruleForm" status-icon :rules="rules" size="small" ref="ruleForm" label-width="80px"  :label-position="screenW>=768 ? 'right':'top'" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="弹幕信息" prop="state">
            <el-radio-group v-model="ruleForm.state" class="rwd-turnoff">
              <el-radio-button label="0">关</el-radio-button>
              <el-radio-button label="1">开</el-radio-button>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="发言间隔" prop="interval">
            <el-input v-model="ruleForm.interval" class="width-search200" placeholder="请设置两次发言的最小间隔"></el-input>
            <!--<span class="margin-l6 font-s12">秒</span>-->
          </el-form-item>
          <el-form-item label="弹幕按钮" class="level-class" prop="gradeList">
            <multiple-select v-model="ruleForm.gradeList" :level="level" class="level-items"></multiple-select>
          </el-form-item>
          <el-form-item>
            <el-button size="mini"  type="primary" plain @click="submitForm('ruleForm')" :loading="submitLoading">{{submitLoading ? '正在加载中' :'保 存'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import MultipleSelect from '@/components/MultipleSelect'
import Api from '@/api/tenant'
import {validateRules} from '@/utils/validateRules'
import {gradeList} from '@/utils/config'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateInterval = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请设置两次发言的最小间隔'},
        'digits': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      level: gradeList,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        gradeList: {isChangeValue: false, value: []},
        state: '0',
        interval: ''
      },
      rules: {
        state: [
          { required: true, message: '请输入礼物展示', trigger: 'change' }
        ],
        interval: [
          { required: true, validator: validateInterval, trigger: 'blur' }
        ]
      },
      options: []
    }
  },
  mounted () {
    this.getPlatformLiveBarrage()
  },
  methods: {
    getPlatformLiveBarrage () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.getSystemLiveBarrage(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm.id = res.data.id
        this.ruleForm.state = res.data.state.toString()
        this.ruleForm.interval = res.data.interval
        if (!res.data.gradeList) {
          res.data.gradeList = ''
        }
        let gradeList = {}
        Object.assign(gradeList, {})
        gradeList.isChangeValue = false
        gradeList.value = []
        if (res.data.gradeList && res.data.gradeList !== '') {
          gradeList.value = res.data.gradeList.toString().split(',').map(v => +v)
          res.data.gradeList = gradeList
        } else {
          res.data.gradeList = gradeList
        }
        this.ruleForm.gradeList = res.data.gradeList
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        // console.log('this.ruleForm.gradeList', this.ruleForm.gradeList)
        submitData.gradeList = this.ruleForm.gradeList.value.join(',')
        Api.setSystemLiveBarrage(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('保存成功')
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  components: {
    MultipleSelect
  }
}
</script>
