<template>
  <div class="panel">
    <div class="panel-heading">
      运维设置
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <!-- 普通表格 -->
      <div class="report-data  no-border rwd-padding" >
        <!-- 表头 -->
        <el-form :model="ruleForm" status-icon   size="small" ref="ruleForm" label-width="100px"  :label-position="screenW>=768 ? 'right':'top'" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @submit.native.prevent class="newtwork-form">
          <!--<el-form-item label="可提现金额计算" prop="calculationType" class="rwd-turnoff">-->
            <!--<el-radio-group v-model="ruleForm.calculationType">-->
              <!--<el-radio-button label=1>投注金额+中奖金额</el-radio-button>-->
              <!--<el-radio-button label=2>中奖金额</el-radio-button>-->
            <!--</el-radio-group>-->
          <!--</el-form-item>-->
          <el-form-item label="切防门槛" prop="dosMigratingThreshold" >
            <el-input-number v-model="ruleForm.dosMigratingThreshold" placeholder="请输入切防门槛" size="min" :controls="false" :precision="0" :min="0">
            </el-input-number>
          </el-form-item>
          <el-form-item label="主ip不通次數" prop="dosServerRound" >
            <el-input-number v-model="ruleForm.dosServerRound"   placeholder="主ip不通次数" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
          </el-form-item>
          <el-form-item label="备用ip不通次数" prop="dosBackupRound" >
            <el-input-number v-model="ruleForm.dosBackupRound"   placeholder="请输入备用ip不通次数" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
          </el-form-item>
          <el-form-item label="ip不通次数" prop="dosIpRound" >
            <el-input-number v-model="ruleForm.dosIpRound"  placeholder="请输入ip不通次数" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
          </el-form-item>
          <div class="border-line"></div>
          <el-form-item label="回切门槛" prop="dosRevertingThreshold" >
            <el-input-number v-model="ruleForm.dosRevertingThreshold"  placeholder="请输入回切门槛" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
          </el-form-item>
          <el-form-item label="回切次數" prop="dosRevertingRound" >
            <el-input-number v-model="ruleForm.dosRevertingRound"  placeholder="请输入回切次数" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
          </el-form-item>
          <el-form-item label="回切时间(小时)" prop="dosRevertingHour" >
            <el-input-number v-model="ruleForm.dosRevertingHour"   placeholder="请输入回切时间(小时)" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
          </el-form-item>
          <div class="border-line"></div>
          <el-form-item label="共享高防id" prop="gfDefaultId" >
            <el-input-number v-model="ruleForm.gfDefaultId"  placeholder="请输入共享高防id" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
          </el-form-item>
          <el-form-item label="共享高防商" prop="gfDefaultCdnId" >
            <el-select v-model="ruleForm.gfDefaultCdnId" label="共享高防商" class="width-cdn-select" >
                <el-option
                  v-for="item in CdnList"
                  :key="item.number"
                  :label="item.name"
                  :value="item.number">
                </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="共享高防源ip" prop="gfDefaultOriginIps" >
            <el-input v-model="ruleForm.gfDefaultOriginIps"  placeholder="请输入共享高防源ip" size="min"></el-input>
          </el-form-item>
          <el-form-item label="共享高防域名" prop="gfDefaultGfUrl" >
            <el-input v-model="ruleForm.gfDefaultGfUrl"  placeholder="请输入共享高防域名" size="min"></el-input>
          </el-form-item>
          <div class="border-line"></div>
          <!--<el-form-item label="短信收件人" prop="notificationReceiver" >-->
            <!--<el-input v-model="ruleForm.notificationReceiver"  placeholder="请输入短信收件人" size="min"></el-input>-->
          <!--</el-form-item>-->
          <el-form-item label="短信收件人" prop="notificationReceiver"  class="items-input-style">
            <el-select
              v-model="receiverList"
              multiple
              filterable
              allow-create
              default-first-option
              placeholder="请输入短信收件人" popper-class="items-input-style">
              <el-option
                v-for="item in receiverList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="代理节点" prop="agentIps"  class="items-input-style">
            <el-select
              v-model="agentList"
              multiple
              filterable
              allow-create
              default-first-option
              placeholder="请输入代理节点" popper-class="items-input-style">
              <el-option
                v-for="item in agentList"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button size="mini"  type="primary" plain @click="submitForm('ruleForm')" :loading="submitLoading">{{submitLoading ? '正在加载中' :'保 存'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <br>
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      CdnList: [
        {
          'number': 1,
          'name': 'INCAPSULA'
        }
      ],
      ruleForm: {},
      loading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      submitLoading: false,
      rules: {},
      selectData: {}, // 选中数据
      // 列表数据
      allList: [],
      agentList: [],
      receiverList: []
    }
  },
  methods: {
    displaySelect () {
      // document.getElementsById('app').addClass('displaynone')
      // document.body.addClass('displaynone')
      // console.log(document.getElementById('app'))
    },
    getPamentLimitList () {
      this.loading = true
      let obj = this
      Api.getSettings({}, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm = res.data
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        let notification = res.data.notificationReceiver
        let notificationList = notification.split(',')
        for (let i = 0; i < notificationList.length; i++) {
          obj.receiverList.push(notificationList[i])
        }
        let agent = res.data.agentIps
        let agentList = agent.split(',')
        for (let i = 0; i < agentList.length; i++) {
          obj.agentList.push(agentList[i])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        this.ruleForm.agentIps = this.agentList.toString()
        this.ruleForm.notificationReceiver = this.receiverList.toString()
        Object.assign(submitData, this.ruleForm)
        let obj = this
        Api.updateSettings(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('保存成功')
        })
      })
    }
  },
  mounted () {
    this.getPamentLimitList()
  },
  components: {
    Scroll
  }
}
</script>
<style scoped>
  .newtwork-form{
    max-width: 700px;
  }
  .width-cdn-select{
    width: 100% !important;
  }

  .items-input-style {
   overflow: hidden;
  }
  .displaynone{
    display: none;
    opacity: 0 !important;
  }
</style>
