<template>
  <div class="panel">
    <div class="panel-heading">
      管理日志
    </div>
    <div class="panel-body ">
        <div class="search-header">
          <el-form :inline="true" :model="ruleForm" ref="ruleForm"  size="small" class="small-padding-1r" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
            <el-form-item label="用户账号" prop="managerName">
              <el-input v-model="ruleForm.managerName" placeholder="请输入用户账号" class="width-forword"></el-input>
            </el-form-item>
            <el-form-item label="会员账号搜索" prop="userName">
              <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
            </el-form-item>
            <el-form-item class="post-btn">
              <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
              <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
         <!-- 普通表格 -->
      <div class="report-data ">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="用户账号" prop="managerName">
                      <el-input v-model="ruleForm.managerName" placeholder="请输入用户账号"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th width="14%"><div class="cell">用户账号</div></th>
                      <th width="50%"><div class="cell">操作类型</div></th>
                      <th width="10%"><div class="cell">用户IP</div></th>
                      <th width="15%"><div class="cell">操作时间</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td ><div class="cell"><span class="color-blue" >{{items.managerName}}</span></div></td>
                      <td ><div class="cell max-width220 cursor-style" :id="'platform' + index" @click="openContentForm('operation', '操作类型', items, 'platform' + index, 'platformli' + index)"><span :id="'platformli' + index">{{items.operation}}</span></div></td>
                      <td ><div class="cell"><span >{{items.ip}}</span></div></td>
                      <td ><div class="cell"><span >{{items.time}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="用户账号"
                fixed
                :width="screenW > 1300 ? '180':'140'">
                <template slot-scope="scope">
                  <span class="color-blue" >{{scope.row.managerName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="操作类型"
                min-width="200" show-overflow-tooltip prop="operation">
              </el-table-column>
              <el-table-column
                prop="ip"
                label="用户IP"
                :width="screenW > 1300 ? '150':'130'">
              </el-table-column>
              <el-table-column
                prop="time"
                label="操作时间"
                :width="screenW > 1024 ? '200':'180'">
              </el-table-column>np
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="管理日志"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul>
          <li>
            <span>用户账号</span>
            <span class="color-blue">{{detailData.managerName}}</span>
          </li>
          <li>
            <span>操作类型</span>
            <span>{{detailData.operation}}</span>
          </li>
          <li>
            <span>用户IP</span>
            <span>{{detailData.ip}}</span>
          </li>
          <li>
            <span>操作时间</span>
            <span>{{detailData.time}}</span>
          </li>
        </ul>
      </popover-right>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
// import LogsList from '@/components/dataTableList/LogsList'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      rwdbtnVisible: false,
      detailShow: false,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      command: 0,
      isShow: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        managerName: '',
        userName: ''
      },
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      detailData: {
        managerName: '',
        operation: '',
        ip: '',
        time: ''
      }
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.logList(this.ruleForm, function () {
        obj.avatorVisible = false
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.logList
        this.total = res.data.total
        this.$nextTick(function () {
          obj.avatorVisible = false
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll
  }
}
</script>
