<template>
  <div class="panel">
    <div class="panel-heading">
      系统APP
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data" v-loading="loading"  element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon">
        <!-- 表头 -->
        <el-form :model="ruleForm" :rules="rules" size="small" ref="ruleForm" label-width="70px" class="ruleForm" :label-position="screenW>1023 ? 'left':'top'" @keyup.native.enter="onSubmit('ruleForm')" @submit.native.prevent>
          <el-form-item label="APP图标" prop="imageUrl">
            <div class="img-upload">
              <el-upload
                v-model="dialogVisible"
                class="avatar-uploader imgshow"
                ref="upload"
                action="/v1/management/tenant/updateTenantAppImg"
                name="image-file"
                :auto-upload="false"
                :show-file-list="false"
                accept="image/jpeg,image/png,image/gif"
                :on-change="handleChange"
                :on-error="handleOnError"
                :on-success="handleAvatarSuccess"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove"
              >
                <img v-if="ruleForm.imageUrl" :src="ruleForm.imageUrl" >
                <div class="img-off" v-else>
                  <div class="upload-info">点击上传图片</div>
                </div>
              </el-upload>
              <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="ruleForm.imageUrl" alt="">
              </el-dialog>
              <!--<i v-if="ruleForm.imageUrl" class="el-icon-error" @click="deleteImage"></i>-->
            </div>
            <div class="text-style"> 上传图片尺寸限210*210</div>
          </el-form-item>
          <el-form-item label="APP名称" prop="name">
            <el-input size="min" v-model="ruleForm.name" placeholder="2-10个字符"></el-input>
          </el-form-item>
          <el-row class="line-style">
            <el-col >
              <el-form-item
                v-for="(domain, index) in ruleForm.iosUrl"
                :key="domain.key"
                :prop="'iosUrl.' + index + '.value'"
                :class='{"displaynone" : (index <= 0)}'
                :label="index<1?'苹果地址':''"
                :rules="[{ required: true, validator: (rule, value, callback) => {
                  if (value === undefined || value === null || value.trim() === '') {
                        callback('请输入苹果地址')
                        return
                  }
                   callback()
                  }, trigger: 'blur' }]"
                class="title-none">
                <el-input v-model="domain.value" placeholder="请输入苹果地址"></el-input><el-button @click.prevent="removeDomain(domain,'apple')">删除</el-button>
              </el-form-item>
              <el-form-item>
                <el-button @click="addDomain('apple')" type="success" icon="el-icon-plus" >苹果地址新增</el-button>
                <el-button @click="resetIosUrl">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row >
            <el-col >
              <el-form-item
                v-for="(domain, index) in ruleForm.androidUrl"
                :label="index<1 ? '安卓地址':''"
                :key="domain.key"
                :prop="'androidUrl.' + index + '.value'"
                :rules="[{ required: true, validator: (rule, value, callback) => {
                  if (value === undefined || value === null || value.trim() === '') {
                        callback('请输入安卓地址')
                        return
                  }
                   callback()
                  }, trigger: 'blur' }]"
                :class='{"displaynone" : (index <= 0)}'
              >
                <el-input v-model="domain.value" placeholder="请输入安卓地址"></el-input><el-button @click.prevent="removeDomain(domain,'android')" >删除</el-button>
              </el-form-item>
              <el-form-item>
                <el-button @click="addDomain('android')" type="success" icon="el-icon-plus">安卓地址新增</el-button>
                <el-button @click="resetAndroidUrl">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item>
            <el-button
              size="mini"
              @click="onSubmit('ruleForm')"
              type="primary" plain :loading="submitLoading"> {{submitLoading ? '正在提交' : '保存'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <!--<div class="report-foot margin-t10">-->
        <!--&lt;!&ndash; 底部说明文本块 &ndash;&gt;-->
        <!--<div class="tip-foot">-->
          <!--<div class="tip-title state">温馨提示：</div>-->
          <!--<ol>-->
            <!--<li>-->
              <!--放空则默认使用系统APP，更改可到手机APP下载页面查看变化。-->
            <!--</li>-->
            <!--<li>-->
              <!--独立APP，请使用全新网址，进行APP打包，上架后在使用301重定向跳转到手机版的网址。-->
            <!--</li>-->
            <!--<li>-->
              <!--不带邀请码，请直接跳转到 如：m.baidu.com/AppPackage-->
            <!--</li>-->
            <!--<li>-->
              <!--带邀请码，请直接跳转到 如：m.baidu.com/AppPackage?id=12345678-->
            <!--</li>-->
          <!--</ol>-->
        <!--</div>-->
        <!--&lt;!&ndash; 底部说明文本块结束 &ndash;&gt;-->
      <!--</div>-->
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import {imgHost} from '@/filters'
import {validateRules} from '@/utils/validateRules'
import {fileToImage} from '@/utils/convert'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateName = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'maxlength': {param: '10', msg: '最大值不能超过10位'},
        'minlength': {param: '2', msg: '最小值不能低于2位'}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        name: '',
        imageUrl: '',
        iosUrl: [{
          value: ''
        }],
        androidUrl: [{
          value: ''
        }],
        isDeleteImg: false
      },
      fileData: {},
      dialogVisible: false,
      rules: {
        name: [
          { required: true, message: '请输入APP名称', trigger: 'blur' },
          {validator: validateName, trigger: 'blur'}
        ],
        imageUrl: [
          { required: true, message: '请上传App图标', trigger: 'blur' }
        ]
      },
      limitWidth: 210,
      limitHeight: 210
    }
  },
  mounted () {
    this.getTenantAppSystem()
  },
  methods: {
    resetIosUrl () {
      this.ruleForm.iosUrl = [{value: ''}]
    },
    resetAndroidUrl () {
      this.ruleForm.androidUrl = [{value: ''}]
    },
    getTenantAppSystem () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.getTenantAppSystem(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let iosUrlData = []
        if (res.data.iosUrl && res.data.iosUrl !== '') {
          let tempUrlData = res.data.iosUrl.split(',')
          for (let i = 0; i < tempUrlData.length; i++) {
            let tempUrl = {}
            Object.assign(tempUrl, {})
            tempUrl.key = i + 1
            tempUrl.value = tempUrlData[i]
            iosUrlData.push(tempUrl)
          }
        }
        let androidUrlData = []
        if (res.data.androidUrl && res.data.androidUrl !== '') {
          let tempUrlData = res.data.androidUrl.split(',')
          for (let i = 0; i < tempUrlData.length; i++) {
            let tempUrl = {}
            Object.assign(tempUrl, {})
            tempUrl.key = i + 1
            tempUrl.value = tempUrlData[i]
            androidUrlData.push(tempUrl)
          }
        }
        this.ruleForm.name = res.data.name
        this.ruleForm.iosUrl = iosUrlData
        this.ruleForm.androidUrl = androidUrlData
        this.ruleForm.imageUrl = ''
        if (res.data.imageUrl) {
          this.ruleForm.imageUrl = imgHost(res.data.imageUrl)
        }
        this.ruleForm.id = res.data.id
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteImage () {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.ruleForm.isDeleteImg = true
        this.ruleForm.imageUrl = ''
      })
    },
    handleChange (file, fileList) {
      if (file.response && Number(file.response.code) === 1) {
        return true
      }
      if (file.response && Number(file.response.code) !== 1) {
        this.submitLoading = false
        this.msgError('上传图片失败')
        return false
      }
      if (fileList.length > 1) {
        fileList.splice(0, 1)
      }
      let obj = this
      // const isJPG = file.raw.type === 'image/jpeg' || file.raw.type === 'image/png'
      const isLt2M = file.raw.size / 1024 / 1024 < 2
      // if (!isJPG) {
      //   obj.msgError('上传头像图片只能是 jpg 或 png 格式!')
      //   return false
      // }
      if (!isLt2M) {
        obj.msgError('上传头像图片大小不能超过 2MB')
        return false
      }
      fileToImage(file.raw, function (imageFile) {
        imageFile.onload = function () {
          let width = imageFile.width
          let height = imageFile.height
          const isWidth = width === obj.limitWidth
          const isHeight = height === obj.limitHeight
          // console.log('123' + file)
          if (!isWidth || !isHeight) {
            obj.msgError('图片尺寸要求【宽度：' + obj.limitWidth + 'px 高度：' + obj.limitHeight + 'px]')
            return false
          }
          obj.fileData.imageFile = file
          obj.ruleForm.imageUrl = imageFile.src
          return isLt2M && isWidth && isHeight
        }
      })
    },
    handleOnError (errorData, file, fileList) {
      this.submitLoading = false
      this.msgError('上传图片失败')
    },
    handleRemove (file, fileList) {
    },
    handlePictureCardPreview (file) {
      this.ruleForm.imageUrl = file.url
      this.dialogVisible = true
    },
    onSubmit (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        // console.log(this.fileData.imageFile)
        // if (this.fileData.imageFile) {
        //   this.$refs.upload.submit()
        //   return false
        // }
        this.updateTenantAppSystem()
      })
    },
    updateTenantAppSystem () {
      let submitData = new FormData()
      // Object.assign(submitData, this.ruleForm)
      let tempIosUrl = ''
      for (let i = 0; i < this.ruleForm.iosUrl.length; i++) {
        tempIosUrl += ',' + this.ruleForm.iosUrl[i].value
      }
      if (tempIosUrl && tempIosUrl !== '') {
        tempIosUrl = tempIosUrl.substr(1)
      }
      let iosUrl = tempIosUrl
      submitData.append('iosUrl', iosUrl)
      let tempAndroidUrl = ''
      for (let i = 0; i < this.ruleForm.androidUrl.length; i++) {
        tempAndroidUrl += ',' + this.ruleForm.androidUrl[i].value
      }
      if (tempAndroidUrl && tempAndroidUrl !== '') {
        tempAndroidUrl = tempAndroidUrl.substr(1)
      }
      let androidUrl = tempAndroidUrl
      submitData.append('androidUrl', androidUrl)
      // delete submitData.imageUrl
      if (this.fileData.imageFile) {
        submitData.append('image-file', this.fileData.imageFile.raw, this.fileData.imageFile.name)
      }
      submitData.append('isDeleteImg', this.ruleForm.isDeleteImg)
      submitData.append('name', this.ruleForm.name)
      submitData.append('imageUrl', this.ruleForm.imageUrl)
      let obj = this
      Api.updateTenantAppSystem(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        // console.log(res)
        this.fileData = {}
        this.$nextTick(function () {
          obj.submitLoading = false
        })
        this.msgSuccess('保存成功')
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    removeDomain (item, kk) {
      let classgroup = {apple: 'iosUrl', android: 'androidUrl'}
      let index = this.ruleForm[classgroup[kk]].indexOf(item)
      // console.log(kk)
      if (index !== -1) {
        this.ruleForm[classgroup[kk]].splice(index, 1)
      }
    },
    addDomain (kk) {
      let classgroup = {apple: 'iosUrl', android: 'androidUrl'}
      if (this.ruleForm[classgroup[kk]].length === 10) {
        this.msgError('最多只能添加10个地址')
        return
      }
      this.ruleForm[classgroup[kk]].push({
        value: '',
        key: Date.now()
      })
    },
    handleAvatarSuccess (res, file) {
      this.fileData = {}
      if (Number(res.code) !== 1) {
        this.submitLoading = false
        this.msgError(res.msg)
        // return
      }
      // this.updateTenantAppOtherSystem()
    }
  },
  components: {
  }
}
</script>
<style scoped>
  .report-data{
    border:0;
  }
  .ruleForm{
    padding:25px 0;
    width: 400px;
  }
  .displaynone{
    & .el-input--small {
      width: 100%;
      margin: 0 20px 0 0;
    }
    & .el-button--default{
      display: none;
    }

  }
  .title-none{
    & .el-form-item__label{
      display: none !important;
    }
  }

  .el-form-item__content{
    display: flex;
  }
  .el-input--small {
    width: calc( 100% - 77px);
    margin: 0 20px 0 0;
  }
  .el-form-item__content{
    display: flex !important;
  }
  .line-style{
    border-top: 1px dashed #d9d9d9;
    padding: 40px 0 20px 0;
    margin: 40px 0 0 0;
  }
  /*.line-style02{*/
  /*border-top: 1px dashed #d9d9d9;*/
  /*padding: 30px 0 0 0;*/
  /*margin: 12px 0 0 0;*/
  /*}*/
  @media screen and (max-width:1023px){
    .ruleForm{
      width:90%;
      max-width: 400px;
      padding: 0 !important;
    }
    .report-data{
      padding: 6px 20px;
    }

  }
  @media screen and (max-width: 500px){
    .ruleForm{
      margin: 0 auto;
    }
  }

</style>
