<template>
  <div class="panel">
    <div class="panel-heading">
      网络运维备用
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openIp()">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="更新" prop="Update">
            <el-select v-model="ruleForm.Update" @change="setTimer"  class="width-shotstatus">
              <el-option label="15秒" value="15"></el-option>
              <el-option label="30秒" value="30"></el-option>
              <el-option label="60秒" value="60"></el-option>
              <el-option label="暂停" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="服务器" prop="servers">
            <el-input v-model="ruleForm.servers" class="width-search100" placeholder="以逗号隔开"></el-input>
          </el-form-item>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input v-model="ruleForm.tenantCode" class="width-search100"  placeholder="站长编码"></el-input>
          </el-form-item>
          <el-form-item label="线路" prop="typeId">
            <el-select v-model="ruleForm.typeId" class="width-search100" placeholder="请选择">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in typeIdList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="主机操作状态" prop="state">
            <el-select v-model="ruleForm.state" class="width-search120" placeholder="请选择">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in stateList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data dispatch-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" @click="deleteRows">删除</el-button>
          <el-button size="mini" icon="el-icon-plus" type="success" @click="openDispatchForm" :disabled="tableCheckedList.length === 0">手動切換</el-button>
        </div>
        <!-- 表头 -->
        <div class="table-style " v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <el-table
            ref="tableCheckedList"
            :data="allList"
            style="width: 100%"
            @selection-change="handleSelectionChange">
            <el-table-column
              type="selection"
              class-name="checkoutbox-style"
              width="22" prop="tenantCode">
            </el-table-column>
            <el-table-column
              label="站长编码"
              width="120">
              <template slot-scope="scope"><span class="color-blue">{{ scope.row.tenantCode }}</span></template>
            </el-table-column>
            <el-table-column
              prop="pcTypeId"
              label="線路"
              min-width="80">
              <template slot-scope="scope"><span @click="showContent('線路', scope.row)" class="hoverline-effet hover-black" :class="{'hover-effect-red': scope.row.pcState === 3, 'hover-effect-yellow': scope.row.pcState === 2}">{{ scope.row.pcTypeId === 3 ? '高防' : '其它' }}</span></template>
            </el-table-column>
            <el-table-column
            prop="lastGmtDispatched"
            label="最后切换时间" min-width="160">
          </el-table-column>
            <el-table-column
              prop="server"
              label="服务器" min-width="100">
            </el-table-column>
            <el-table-column
              prop="originIps"
              label="高防" min-width="180">
              <template slot-scope="scope">
                <span class="hoverline-effet hover-black max-width180" :class="{'hover-effect-red': scope.row.gfState === 3, 'hover-effect-yellow': scope.row.gfState === 2}" @click="showContent('高防', scope.row)">
                {{scope.row.originIps}}
                </span>
              </template>
            </el-table-column>
            <el-table-column
              prop="domain"
              label="域名" min-width="130">
            </el-table-column>
            <el-table-column
              prop="ip"
              label="当前解析IP" min-width="120">
            </el-table-column>
            <el-table-column
              label="轮询IP列表" min-width="200">
              <template slot-scope="scope">
                <span class="hoverline-effet hover-black max-width200" @click="showContent('轮询IP列表', scope.row)">{{ scope.row.ipList}}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <network-dispatch-form
        :data="selectData"
        :ids="ids"
        :visible="DispatchShow"
        v-on:onClose="DispatchShow=false">
      </network-dispatch-form>
      <https-ip-form
        :visible="ipShow"
        v-on:onClose="ipShow=false"
      ></https-ip-form>
      <!-- 数据模型结束 -->
    </div>
    <el-dialog
      :title="DetailTitle"
      :visible.sync="DetailShow"
      custom-class="small-reveal-modal reposit-modal dispatch-moadal">
      <ul class="order-ul">
        <template v-if="DetailTitle === '線路'">
          <li >
            <span >切换时间 :</span>
            <span class="margin-l10">{{DetailList.pcGmtDispatched}}</span>
          </li>
          <li>
            <span >当前解析 :</span>
            <span class="margin-l10">{{DetailList.pcValue}}</span>
          </li>
          <li>
            <span >切换原因 :</span>
            <span class="margin-l10">{{DetailList.pcReason}}</span>
          </li>
        </template>
        <template  v-else-if="DetailTitle === '高防'">
          <li>
            <span >高防id:</span>
            <span class="margin-l10">{{DetailList.registryGfId}}</span>
          </li>
          <li>
            <span >高防域名:</span>
            <span class="margin-l10">{{DetailList.gfUrl}}</span>
          </li>
          <li >
            <span >高防源ip:</span>
            <span class="margin-l10">{{DetailList.originIps}}</span></li>
        </template>
        <template  v-else>
          <li>
            <!--<span >轮询IP列表:</span>-->
            <span class="margin-l10">{{DetailList.ipList}}</span>
          </li>
        </template>
      </ul>
    </el-dialog>
  </div>
</template>
<script>
import httpsIpForm from '@/views/newModal/HttpBackupAddForm'
import NetworkDispatchForm from '@/views/newModal/NetworkDispatchBackupForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import {getEllipsisFlag} from '@/utils'
import {NetworkStateList} from '@/utils/config'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      // ==============刪除表格=================
      // 刪除勾选表格___刪除按鈕手機版判斷
      tableDelectButton: false,
      // 刪除勾选表格___刪除選中List
      tableCheckedList: [],
      ids: '',
      ipShow: false,
      DispatchShow: false,
      DetailTitle: '',
      DetailShow: false,
      pageNum: 1,
      pageSize: 20,
      total: 0,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      checkAll: false, // 是否全选
      checkedCities: [],
      checkedAllList: [],
      checkedId: [],
      isIndeterminate: false,
      IpManageShow: false, // 是否开启弹窗
      isActive: false,
      submitLoading: false,
      tableLine: true,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        Update: '15',
        servers: '',
        address: '',
        tenantCode: '',
        typeId: '',
        sort: 1,
        state: ''
      },
      typeIdList: [
        {
          'id': 3,
          'name': '高防'
        },
        {
          'id': 4,
          'name': '其他'
        }
      ],
      stateList: [
        {
          'id': 1,
          'name': '正常'
        },
        {
          'id': 2,
          'name': '进展操作中'
        },
        {
          'id': 3,
          'name': '失败'
        }
      ],
      // 列表数据
      allList: [],
      selectData: {},
      DetailList: [],
      ellipsisColumns: [{name: 'remark', width: 164, formatterFunc: null}]
    }
  },
  mounted () {
    this.setTimer()
  },
  methods: {
    setTimer () {
      if (!this.ruleForm || !this.ruleForm.Update || Number(this.ruleForm.Update) === 0) {
        if (this.timer) {
          clearTimeout(this.timer)
        }
        return
      }
      if (this.timer) {
        clearTimeout(this.timer)
      }
      this.getOrderList(this.pageNum, this.pageSize)
      this.timer = setTimeout(this.setTimer, Number(this.ruleForm.Update) * 1000)
    },
    // =================刪除勾选表格============================
    // 按下按鈕
    deleteRows () {
      if (this.tableCheckedList.length < 1) {
        this.msgError('未选中记录')
        return
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true
        this.getDeleteRows()
      })
    },
    // 删除记录
    getDeleteRows () {
      let String = this.getListId()
      let parame = {
        tenantCode: String.toString()
      }
      Api.deleteHostBackup(parame).then(res => {
        this.loading = false
        if (res.code === 1) {
          this.msgSuccess('删除成功')
          this.getOrderList()
        }
      }).catch(() => {
        this.loading = false
      })
    },
    // 得到刪除id
    getListId () {
      let list = this.tableCheckedList
      let arr = []
      list.forEach(v => {
        arr.push(v.tenantCode)
      })
      return arr
    },
    // 得到三个id
    getListType () {
      let list = this.tableCheckedList
      let arr = []
      list.forEach(v => {
        arr.push(v.mbId, v.mlId, v.pcId)
      })
      return arr
    },
    // 刪除勾选表格___選中數據推入
    handleSelectionChange (val) {
      this.tableCheckedList = val
    },
    openIp () {
      this.ipShow = true
    },
    openDispatchForm () {
      this.DispatchShow = true
      this.ids = this.getListType().toString()
    },
    showContent (title, value) {
      this.DetailShow = true
      this.DetailTitle = title
      this.DetailList = value
    },
    formatterSourceId (row, column) {
      if (!row || column === undefined) {
        return ''
      }
      for (let i = 0; i < NetworkStateList.length; i++) {
        if (NetworkStateList[i].key === column) {
          return NetworkStateList[i].value
        }
      }
      return '未知终端'
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList()
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList()
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList()
    },
    getOrderList () {
      let parame = {
        pageSize: this.pageSize,
        pageNum: this.pageNum,
        servers: this.ruleForm.servers,
        tenantCode: this.ruleForm.tenantCode,
        typeId: this.ruleForm.typeId,
        state: this.ruleForm.state
      }
      let obj = this
      Api.getHostBackupList(parame, function () {
        obj.loading = false
      }).then((res) => {
        this.$nextTick(() => {
          let arr = res.data.list
          obj.allList = arr
          this.total = res.data.total
          if (this.allList.length > 0) {
            this.tableLine = false
          }
          this.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  beforeDestroy () {
    this.ruleForm.Update = 0
    clearTimeout(this.timer)
  },
  components: {
    Scroll,
    NetworkDispatchForm,
    httpsIpForm
  }
}
</script>
<style >
  .checked-style span{
    background: red !important;
  }
  .report-moadal .table-style{
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
  }
  .hover-effect-red{
    color: var(--color-danger)!important;
    &:after{
      background: var(--color-danger) !important;
    }
  }
  .hover-effect-yellow{
    color: var(--color-success)!important;
    &:after{
      background: var(--color-success)!important;
    }
  }
  .checkoutbox-style .cell{
    padding: 6px 0px 6px 10px !important;
  }
</style>
