<template>
  <div class="panel">
    <div class="panel-heading">
      彩票报表
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form :model="ruleForm" ref="ruleForm"  size="small"  :inline="false" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker">
                   <datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker>
                 </span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker>
                      </span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="12%"><div class="cell">彩种名称</div></th>
                  <th width="12%"><div class="cell">投注人数</div></th>
                  <th width="14%"><div class="cell">投注金额</div></th>
                  <th width="14%"><div class="cell">中奖金额</div></th>
                  <th width="12%"><div class="cell">撤单金额</div></th>
                  <th width="12%"><div class="cell">返点金额</div></th>
                  <th width="12%"><div class="cell">盈利</div></th>
                  <th width="12%"><div class="cell">盈率</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span class="color-blue">{{formatterLotteryName(items)}}</span></div></td>
                    <td><div class="cell"><span >{{items.betCount}}</span></div></td>
                    <td><div class="cell"><span >{{items.betAmount | formatMoney}}</span></div></td>
                    <td><div class="cell"><span >{{items.returnAmount | formatMoney}}</span></div></td>
                    <td><div class="cell"><span>{{items.cancelAmount | formatMoney}}</span></div></td>
                    <td><div class="cell"><span >{{items.rebateAmount | formatMoney}}</span></div></td>
                    <td><div class="cell"><span :class="{'color-danger' : items.profit>=0,'color-success' : items.profit<0}">{{items.profit | formatMoney}}</span></div></td>
                    <td><div class="cell"><span :class="{'color-danger' : items.profitability>=0,'color-success' : items.profitability<0}">{{items.profitability | formatPercentage}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="1"><div class="cell">合计</div></td>
                    <td><div class="cell"><span >{{summaryData['betCount']}}</span></div></td>
                    <td><div class="cell"><span >{{summaryData['betAmount']}}</span></div></td>
                    <td><div class="cell"><span >{{summaryData['returnAmount']}}</span></div></td>
                    <td><div class="cell"><span >{{summaryData['cancelAmount']}}</span></div></td>
                    <td><div class="cell"><span>{{summaryData['rebateAmount']}}</span></div></td>
                    <td colspan="2"><div class="cell">{{summaryData['profit']}}</div></td>
                    <!--<td ><div class="cell">{{summaryData['profitability']}}</div></td>-->
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="12"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              @row-click="openDetails"
              :data="allList"
              style="width: 100%;">
              <el-table-column
                label="彩种名称"
                prop="lotteryName"
                fixed
                :min-width="screenW > 768 ? '100':'120'">
                <template slot-scope="scope">
                  <span class="color-blue">{{formatterLotteryName(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="betCount"
                label="投注人数"
                :min-width="screenW > 768 ? '80':'120'">
              </el-table-column>
              <el-table-column
                prop="betAmount"
                label="投注金额"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span>{{ scope.row.betAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="returnAmount"
                label="中奖金额"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span>{{ scope.row.returnAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="cancelAmount"
                label="撤单金额"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span>{{ scope.row.cancelAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="rebateAmount"
                label="返点金额"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.rebateAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profit"
                label="盈利"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profit>=0,'color-success' : scope.row.profit<0}">{{ scope.row.profit | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profitability"
                label="盈率"
                :min-width="screenW > 768 ? '130':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profitability>=0,'color-success' : scope.row.profitability<0}">{{ scope.row.profitability | formatPercentage}}</span></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <!-- 数据模型结束 -->
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="彩种报表"
        :visible="detailShow"
        @close="detailShow=false">
        <ul>
          <li>
            <span>彩种名称</span>
            <span class="color-blue">{{formatterLotteryName(detailData)}}</span>
          </li>
          <li>
            <span>投注人数</span>
            <span>{{detailData.betCount}}</span>
          </li>
          <li>
            <span>投注金额</span>
            <span>{{detailData.betAmount | formatMoney}}</span>
          </li>
          <li>
            <span>中奖金额</span>
            <span>{{detailData.returnAmount | formatMoney}}</span>
          </li>
          <li>
            <span>撤单金额</span>
            <span>{{detailData.cancelAmount | formatMoney}}</span>
          </li>
          <li>
            <span>返点金额</span>
            <span>{{detailData.rebateAmount | formatMoney}}</span>
          </li>
          <li>
            <span >盈利</span>
            <span :class="{'color-danger' : detailData.profit>=0,'color-success' : detailData.profit<0}">{{detailData.profit | formatMoney}}</span>
          </li>
          <li>
            <span>盈率</span>
            <span :class="{'color-danger' : detailData.profitability>=0,'color-success' : detailData.profitability<0}">{{detailData.profitability | formatPercentage}}</span>
          </li>
        </ul>
      </popover-right>
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import sysApi from '@/api/sys'
import {validateQueryDate} from '@/utils/validateRules'
import {DateFormat, exportExl} from '@/utils/Time'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {formatMoney, formatPercentage, getSummaries} from '@/filters/index'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      dateTimeType: 'date',
      detailShow: false,
      rwdbtnVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      avatorVisible: false,
      ruleForm: {
        // sort: '',
        // lotteryCode: '',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      allList: [],
      options: [],
      detailData: {},
      summaryColumns: {'betCount': '2', 'betAmount': '1', 'returnAmount': '1', 'cancelAmount': '1', 'rebateAmount': '1', 'profit': '1', 'profitability': '1'},
      summaryData: []
      // siteLottery: {
      //   '1019': '站长5分时时彩',
      //   '1419': '站长5分快3',
      //   '1418': '站长快3',
      //   '1018': '站长时时彩'
      // }
    }
  },
  mounted () {
    this.getLotteryData()
    this.getOrderList()
  },
  components: {
    Scroll,
    DatetimePicker
  },
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          if (this.summaryColumns[column.property] === '1') {
            sums[index] = formatMoney(sums[index])
          }
          if (this.summaryColumns[column.property] === '2') {
            sums[index] = sums[index]
          }
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    exportExcel () {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      submitData.pageNum = 1
      submitData.pageSize = 99999
      this.submitLoading = true
      let obj = this
      Api.lottery(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data
        let excel = '<tr><th>彩种名称</th><th>投注人数</th><th>投注金额</th><th>中奖金额</th><th>撤单金额</th><th>返点金额</th><th>盈利</th><th>盈率</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${this.formatterLotteryName(excelarr[i])}</th>
            <th>${excelarr[i].betCount}</th>
            <th>${formatMoney(excelarr[i].betAmount)}</th>
            <th>${formatMoney(excelarr[i].returnAmount)}</th>
            <th>${formatMoney(excelarr[i].cancelAmount)}</th>
            <th>${formatMoney(excelarr[i].rebateAmount)}</th>
            <th>${formatMoney(excelarr[i].profit)}</th>
            <th>${formatPercentage(excelarr[i].profitability)}</th>
          </tr>`
        }
        exportExl(excel, '彩种报表（' + DateFormat(submitData.startTime, 'yyyy-MM-dd') + '至' + DateFormat(submitData.endTime, 'yyyy-MM-dd') + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    formatterLotteryName (row, column) {
      if (!row.lotteryCode) return ''
      // let lottery = ''
      let arr = this.options
      let obj = arr.filter(v => v.lotteryCode === row.lotteryCode)[0]
      // if (obj && !this.siteLottery[row.lotteryCode]) {
      //   lottery = obj.lotteryName
      // } else {
      //   lottery = this.siteLottery[row.lotteryCode]// 站长彩种处理
      // }
      if (obj) {
        return obj.lotteryName
      }
      return ''
    },
    getLotteryData () {
      let submitData = {}
      // this.loading = true
      // let obj = this
      sysApi.getPlatformLottery(submitData, function () {
        // obj.loading = false
      }).then((res) => {
        this.options = res.data
        // this.$nextTick(function () {
        //   obj.loading = false
        // })
      })
    },
    onSubmit () {
      this.getOrderList()
    },
    getOrderList () {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      this.loading = true
      let obj = this
      Api.lottery(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
