<template>
  <div class="panel">
    <div class="panel-heading">
      彩种管理
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="彩种名称" prop="lotteryName">
            <el-input size="min" v-model="ruleForm.lotteryName" class="width-forword" placeholder="请输入彩种名称"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small"  :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="彩种名称" prop="lotteryName">
                      <el-input size="min" v-model="ruleForm.lotteryName" class="inputWindth" placeholder="请输入彩种名称"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" lass="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
            <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th ><div class="cell">彩种编码</div></th>
                      <th ><div class="cell">彩种名称</div></th>
                      <th ><div class="cell">状态</div></th>
                      <th width="50"><div class="cell">操作</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell"><span>{{items.lotteryCode}}</span></div></td>
                      <td><div class="cell"><span class=" color-blue  hoverline-effet" @click="editOne(items)">{{items.lotteryName}}</span></div></td>
                      <td><div class="cell"><span :class="items.stop  ? 'color-danger' : 'color-success'">{{items.stop ? '暂停销售' : '正常'}}</span></div></td>
                      <td><div class="cell"><div class="table-btnbox icon-menu" >
                      <div class="edit-btns">
                        <span :title="items.stop ? '启用' : '暂停销售'"  @click="openFreeze(items)" ><i  class="dafa-icon" :class="{'color-bluebutton': items.isStop}"></i></span>
                      </div>
                    </div></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          <!-- 手机版 -->
            <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
              <el-table
                ref="multipleTable"
                :data="allList"
                @row-click="openDetails"
                style="width: 100%;" >
                <el-table-column
                  prop="lotteryCode"
                  fixed
                  label="彩种编码"
                  min-width="80">
                </el-table-column>
                <el-table-column
                  label="彩种名称"
                  min-width="100">
                  <template slot-scope="scope">
                    <span v-if="screenW > 768" class=" color-blue  hoverline-effet" @click="editOne(scope.row)">{{scope.row.lotteryName}}</span>
                    <span v-else class="color-blue overflow-style" >{{ scope.row.lotteryName}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="状态"
                  min-width="100">
                  <template slot-scope="scope"><span :class="scope.row.stop  ? 'color-danger' : 'color-success'">{{scope.row.stop ? '暂停' : '正常'}}</span></template>
                </el-table-column>
                <el-table-column
                  label="操作"
                  width="50"
                  fixed="right"
                  v-if="screenW>768">
                  <template slot-scope="scope" >
                    <div class="table-btnbox icon-menu" >
                      <div class="edit-btns">
                        <span :title="scope.row.stop ? '启用' : '暂停销售'"  @click="openFreeze(scope.row)" ><i  class="dafa-icon" :class="{'color-bluebutton': scope.row.isStop}"></i></span>
                      </div>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
            </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="openFreeze(detailData)" >{{detailData.stop ? '启用' : '暂停销售'}}</span>
          <span @click="editOne(detailData)">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <!--<el-dialog-->
          <!--:visible.sync="rwdbtnVisible"-->
          <!--custom-class="btn-dialog"-->
          <!--:modal="false"-->
          <!--append-to-body-->
          <!--width="100%">-->
          <!--<span title="暂停销售"  @click="openFreeze(rwdNumber)" :class="{'color-bluebutton': rwdNumber.isStop}"><i  class="dafa-icon" ></i>暂停销售</span>-->
        <!--</el-dialog>-->
      </div>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="彩种管理"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul >
          <li>
            <span>彩种编码</span>
            <span>{{detailData.lotteryCode}}</span>
          </li>
          <li>
            <span>彩种名称</span>
            <span class="color-blue">{{detailData.lotteryName}}</span>
          </li>
          <li>
            <span>状态</span>
            <span :class="detailData.stop  ? 'color-danger' : 'color-success'">{{detailData.stop ? '暂停' : '正常'}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <add-lottery
      :data="selectData"
      :visible="AddLottery"
      :titleName="title"
      v-on:onClose="AddLottery=false">
    </add-lottery>
  </div>
</template>
<script>
import AddLottery from '@/views/newModal/AddLotteryForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      title: '彩种',
      detailShow: false,
      tableLine: true,
      FreezeValue: false,
      AddLottery: false,
      isActive: false,
      avatorVisible: false,
      rwdNumber: '',
      rwdbtnVisible: false,
      ruleForm: {
        lotteryName: ''
      },
      allList: [],
      pageNum: 1,
      pageSize: 20,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      total: 0,
      selectData: {},
      detailData: {
        lotteryCode: '',
        lotteryName: '',
        stop: ''
      }
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    editOne (val) {
      this.selectData = val
      this.AddLottery = true
      this.rwdbtnVisible = false
    },
    openFreeze (val) {
      let submitData = {}
      submitData.lotteryCode = val.lotteryCode
      this.loading = true
      let obj = this
      Api.updateSaleStatus(submitData, function () {
        obj.loading = false
      }).then((res) => {
        val.isStop = !val.isStop
        this.msgSuccess('操作成功')
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      this.loading = true
      let obj = this
      Api.lotteryList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    AddLottery
  }
}
</script>
