<template>
  <div class="panel">
    <div class="panel-heading">
      站点切换
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body" >
      <el-form :inline="true" :model="site" class="small-padding-1r" v-if="screenW > 600" @keyup.native.enter="submitForm" @submit.native.prevent>
        <el-form-item label="站长编码" prop="tenantCode">
          <el-input v-model="site.tenantCode" size="small" class="width-forword" placeholder="请输入站长编码"></el-input>
        </el-form-item>
        <el-form-item label="网站名称" prop="name">
          <el-input v-model="site.name" size="small" class="width-forword" placeholder="请输入网站名称"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" size="mini" @click="submitForm">查询</el-button>
        </el-form-item>
        </el-form>
        <el-form :inline="true" :model="site" class="small-padding-1r switch-page" v-if="screenW <= 600" @keyup.native.enter="submitForm" @submit.native.prevent>
          <el-form-item prop="tenantCode">
            <el-input v-model="site.tenantCode" size="small" class="width-switchinput" placeholder="请输入站长编码"></el-input>
          </el-form-item>
          <el-form-item prop="name">
            <el-input v-model="site.name" size="small" class="width-switchinput" placeholder="请输入网站名称"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" size="mini" @click="submitForm">查询</el-button>
          </el-form-item>
        </el-form>
        <div
          class="site-list row small-padding-1r  site-height"
          v-loading="loading"
          element-loading-spinner="dafa-icon-loading01 dafa-icon"
          element-loading-customClass="loadingClass">
          <ul class="img-list row xlarge-up-7 large-up-5 medium-up-2 small-up-1" v-if="siteList">
            <li v-for="(i, index) in siteList" :key="index" class="column ">
              <el-card shadow="hover" class="card-style" >
                <div class="site-logo">
                  <img :src="i.logo | imgHost" v-error-img>
                </div>
                <div class="site-info">
                  <span>{{i.name}} · {{i.tenantCode}}</span>
                </div>
                <div class="site-select" @click="changeSite(i)">
                  <div class="site-name">
                    {{i.name}}
                  </div>
                  <div class="site-btn">切换</div>
                  <!--<div class="detail" @click.stop="seeDetail(i.tenantCode)">查看详情</div>-->
                </div>
              </el-card>
            </li>
          </ul>
        </div>
      <!-- 普通表格结束 -->
      <br>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="[20, 100, 300]"
          :page-size="pageSize"
          background
          ref="pagination"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <site-edit-form></site-edit-form>
    <site-new-form :visible="addNewSiteForm" @close="addNewSiteFormClose"></site-new-form>
  </div>
</template>
<script>
import api from '@/api/tenant'
import SiteEditForm from '../newModal/SiteEditForm'
import SiteNewForm from '../newModal/SiteNewForm'
export default {
  data () {
    return {
      site: {
        tenantCode: '',
        name: ''
      },
      siteList: [],
      allList: [],
      loading: false,
      loadingMsg: '正在拼命加载中...',
      addNewSiteForm: false,
      total: 0,
      pageNum: 1,
      pageSize: 20
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  mounted () {
    this.loading = true
    this.getSiteList(1, 20)
  },
  methods: {
    // getLogo (val) {
    //   if (val.logo) {
    //     return this.$store.state.imgHost + val.logo
    //   }
    //   return ''
    // },
    submitForm () {
      this.getSiteList(1, this.pageSize)
    },
    getSiteList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      // console.log(this.$refs.pagination)
      let submitData = {}
      Object.assign(submitData, this.site)
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      api.manageableList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.loading = false
        this.siteList = res.data.tenantList
        this.allList = this.siteList
        this.total = res.data.total
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    seeDetail (res) {
      this.$store.dispatch('setSlideShow', true)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getSiteList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getSiteList(val, this.pageSize)
    },
    changeSite (val) {
      let submitData = {}
      submitData.tenantCode = val.tenantCode
      this.loading = true
      this.loadingMsg = '客官莫急，正在切换中哦...'
      let obj = this
      api.switchTenant(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        // console.log(res)
        if (res.code === 1) {
          if (val.tenantCode === 'system') {
            this.$store.state.sideNav.isSwitched = 0
          } else {
            this.$store.state.sideNav.isSwitched = 1
          }
          if (sessionStorage.getItem('siteInfo')) {
            let jsonSiteInfo = JSON.parse(sessionStorage.getItem('siteInfo'))
            jsonSiteInfo.name = val.name
            jsonSiteInfo.tenantCode = val.tenantCode
            sessionStorage.setItem('siteInfo', JSON.stringify(jsonSiteInfo))
            localStorage.setItem('siteInfo', JSON.stringify(jsonSiteInfo))
            this.$store.state.siteInfo = jsonSiteInfo
            localStorage.setItem('getSiteInfo', new Date())
          }
          this.msgSuccess(`${res.msg}，已切换到<span class="color-grey margin-l4 margin-r4">${val.name}</span>站`)
        } else {
          this.msgError('哎呦妈啊，站点失联了...')
        }
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
      })
    },
    addNewSiteFormClose () {
      this.addNewSiteForm = false
    }
  },
  components: {
    SiteEditForm,
    SiteNewForm
  }
}
</script>
<style scoped>
  @import '../../assets/css/variable.css';
  .site-height{
    height: calc( 100vh - 250px ) !important;
    min-height: 250px;
    overflow: scroll;
  }
  .site-btn{
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
  }
  .site-list li{
    height: 140px;
    border-radius: 4px;
    position: relative;

    &:last-child {
      margin: 0;
    }
    & .el-card {
      height: 100%;
      position: relative;
      /*background-color: color(var(--color-primary) tint(10%));*/
      background: #494a4d;
    }
    & .site-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      & img{
        max-width: 100%;
      }
    }
    & .site-info {
      position: absolute;
      right: 10px;
      bottom: 8px;
      font-size: 12px;
      font-weight: 300;
      color: #fff;
      width: 100%;
      opacity: 0.8;
      text-align: right;
    }
    & .site-select {
      position: absolute;
      top: 0;
      bottom:0;
      left: 0;
      right: 0;
      background: #043c65;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      color: #fff;
      transition: opacity .3s linear;
      cursor: pointer;
      & .site-name {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
        letter-spacing: 1px;
        /*border-bottom: 2px solid #fff;*/
        padding: 0 10px 5px;
        max-width: 80%;
        word-break: break-all;
        position: relative;
        &:after{
          position: absolute;
          content: '';
          bottom: 0;
          width: 0%;
          transition: all .5s;
          left: 50%;
          transform: translate( -50% , 0);
          height: 2px;
          background: #fff;
        }
        & + div {
          font-size: 14px;
          font-family: Georgia,Arial,sans-serif;
        }
      }
      &:hover {
        opacity: 0.98;
        & .site-name {
          &:after{
            width: 100%;
          }
        }

      }
    }
  }
  .loadingClass .el-loading-spinner{
    font-size: 24px;
  }
  @media screen and (max-width:1024px){
    .site-height{
      height: auto !important;
      min-height: 100px;
    }
  }
  @media screen and (max-width: 768px) {
    .switch-page .el-form-item{
      width: calc(50% - 40px) !important;
      max-width: 152px !important;
      margin-right: 5px !important;
    }
    .switch-page .el-form-item:last-child{
      width: auto !important;
    }
  }
</style>
