<template>
  <div class="panel">
    <div class="panel-heading">
      APP调度
    </div>
    <div class="panel-body">
      <!-- ip地址开始 -->
      <div class="search-header-mb" >
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="地名" prop="region">
            <el-input size="min" v-model="ruleForm.region" class="width-search120" placeholder="请输入地名" ></el-input>
          </el-form-item>
           <el-form-item label="链接" prop="url">
            <el-input size="min" v-model="ruleForm.url" class="width-search250" placeholder="请输入链接地址" ></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- APP调度开始 -->
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 手机版搜索开始 -->
        <div class="report-nav rb-row pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="地名" prop="region">
                      <el-input size="min" v-model="ruleForm.region" class="width-search120" placeholder="请输入地名" ></el-input>
                    </el-form-item>
                    <!-- <el-form-item label="IP" prop="ip">
                      <el-input size="min" v-model="ruleForm.ip" class="width-search120" placeholder="请输入ip" ></el-input>
                    </el-form-item> -->
                    <el-form-item label="链接" prop="url">
                      <el-input size="min" v-model="ruleForm.url" class="width-search120" placeholder="请输入链接地址" ></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 手机版搜索结束 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版开始 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th width="25%"><div class="cell">位置信息</div></th>
                      <th width="50%"><div class="cell">链接</div></th>
                      <th width="25%"><div class="cell">操作时间</div></th>
                    </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="25%"><div class="cell"><span >{{items.region}}</span></div></td>
                      <td ><div class="cell  max-width400"><span class="color-blue hoverline-effet" title="修改" @click="editOne(items)">{{items.url}}</span></div></td>
                      <td width="25%"><div class="cell"><span>{{items.gmtModified}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- 电脑版结束 -->
            <!-- 手机版开始 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              style="width: 100%;">
              <el-table-column
                label="位置信息"
                prop="region"
                fixed show-overflow-tooltip>
                <template slot-scope="scope">
                  <span >{{scope.row.region}}</span>
                </template>
              </el-table-column>
              <el-table-column
                    label="链接"
                    prop="url"
                    :min-width="screenW > 768 ? '230':'150'" show-overflow-tooltip>
                    <template slot-scope="scope">
                      <span  class="color-blue hoverline-effet" title="修改" @click="editOne(scope.row)" >{{ scope.row.url}}</span>
                      <!-- <span v-else  class="color-blue" @click="editOne(scope.row)">{{ scope.row.url}}</span> -->
                    </template>
                  </el-table-column>
              <el-table-column
                label="操作时间"
                prop="gmtCreated"
                show-overflow-tooltip
                min-width="200">
                <template slot-scope="scope"><span>{{scope.row.gmtModified}}</span></template>
              </el-table-column>
            </el-table>
          </scroll>
          <!-- 手机版结束 -->
        </div>
      </div>
    </div>
    <!--  修改url -->
    <modify-url-form :data="selectData"
        :visible="EditUrlShow"
        v-on:onClose="EditUrlShow=false"></modify-url-form>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import ModifyUrlForm from '@/views/newModal/ModifyUrlForm'
export default {
  data () {
    return {
      loading: false,
      EditUrlShow: false,
      tableLine: true,
      selectData: {},
      ruleForm: {
        // ipAddress: '',
        region: '',
        url: ''
      },
      avatorVisible: false,
      allList: []
    }
  },
  components: {
    Scroll,
    ModifyUrlForm
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  mounted () {
    this.getAppUrlList()
  },
  methods: {
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    isValidURL (url) {
      var reg = /^(?:(?:(?:https?|ftp):)?\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})).?)(?::\d{2,5})?(?:[/?#]\S*)?$/
      return reg.test(url)
    },
    onSubmit () {
      if (!this.isValidURL(this.ruleForm.url) && this.ruleForm.url !== '') {
        this.msgError('url格式不正确')
        return
      }
      this.getAppUrlList()
    },
    editOne (items) { // 打开对话框
      this.selectData = items
      this.EditUrlShow = true
    },
    getAppUrlList () { // 获取app调度列表
      var submitData = {
        region: this.ruleForm.region,
        // ip: this.ruleForm.ipAddress,
        url: this.ruleForm.url.replace(/(^\s*)|(\s*$)/g, '')
      }
      this.loading = true
      let obj = this
      Api.getAppUrlList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  }
}
</script>
<style scoped >
</style>
