<template>
  <div class="panel">
    <div class="panel-heading">
      自由发言设置
      <div class="float-right panel-heading-right">
        <!--<el-button size="mini" type="primary" plain> 保 存 </el-button>-->
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data no-border rwd-padding">
        <!-- 表头 -->
        <el-form :model="ruleForm" status-icon :rules="rules" size="small" ref="ruleForm" :label-width="'80px'" :label-position="screenW>=768 ? 'right':'top'" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="最低余额" prop="minBalance">
            <el-input v-model="ruleForm.minBalance" class="width-search250" placeholder="余额大于设置值的人才能系统发言"   ></el-input>
            <!--<span class="margin-l6 font-s12">元</span>-->
          </el-form-item>
          <el-form-item label="语句长度" prop="length">
            <el-input v-model="ruleForm.length" class="width-search250" placeholder="请设置自由发言最长字数"   ></el-input>
            <!--<span class="margin-l6 font-s12">字</span>-->
          </el-form-item>
          <el-form-item label="发言等级" class="level-class" prop="gradeList">
            <multiple-select v-model="ruleForm.gradeList" :level="level" class="level-items"></multiple-select>
          </el-form-item>
          <el-form-item>
            <el-button size="mini"  type="primary" plain @click="submitForm('ruleForm')" :loading="submitLoading">{{submitLoading ? '正在加载中' :'保 存'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import MultipleSelect from '@/components/MultipleSelect'
import Api from '@/api/tenant'
import {validateRules} from '@/utils/validateRules'
import {gradeList} from '@/utils/config'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateMinBalance = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请设置最低余额'},
        'digits': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    let validateLength = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请设置语句长度'},
        'digits': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      level: gradeList,
      ruleForm: {
        gradeList: {isChangeValue: false, value: []},
        minBalance: '',
        length: ''
      },
      rules: {
        minBalance: [
          { required: true, validator: validateMinBalance, trigger: 'blur' }
        ],
        length: [
          { required: true, validator: validateLength, trigger: 'blur' }
        ]
      },
      options: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...'
    }
  },
  mounted () {
    this.getSystemFreelyLiveComment()
  },
  methods: {
    getSystemFreelyLiveComment () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.getSystemFreelyLiveComment(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm.id = res.data.id
        this.ruleForm.minBalance = res.data.minBalance
        this.ruleForm.length = res.data.length
        if (!res.data.gradeList) {
          res.data.gradeList = ''
        }
        let gradeList = {}
        Object.assign(gradeList, {})
        gradeList.isChangeValue = false
        gradeList.value = []
        if (res.data.gradeList && res.data.gradeList !== '') {
          gradeList.value = res.data.gradeList.toString().split(',').map(v => +v)
          res.data.gradeList = gradeList
        } else {
          res.data.gradeList = gradeList
        }
        this.ruleForm.gradeList = res.data.gradeList
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        submitData.gradeList = this.ruleForm.gradeList.value.join(',')
        let obj = this
        Api.setSystemFreelyLiveComment(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('保存成功')
        })
      })
    }
  },
  components: {
    MultipleSelect
  }
}
</script>
