<template>
  <div class="panel">
    <div class="panel-heading">
      系统活动
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" plain @click="updateActivitySort" v-if="screenW>=1023"> 保 存 </el-button>
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openActivityForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
      </div>
      <div class="clearfix ranktransfer-area" v-if="screenW >1023" >
        <div class="dragging-selected report-data" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass" >
          <div class="report-nav rb-row delbtn">
            <el-button size="mini" icon="el-icon-delete" @click="deleteRows">删除</el-button>
          </div>
          <ul >
            <li class="table-header" >
              <div class="id">
                <el-checkbox @change="handleCheckAllChange">{{''}}</el-checkbox></div>
              <div class="activty-name">活动名称</div>
              <div class="type">活动类型</div>
              <div class="status">活动状态</div>
              <div class="addtime">添加时间</div>
              <div class="option">操作</div>
              <div class="order">排序</div>
            </li>
            <div :class="{'ul-height': !tableLine}">
              <el-checkbox-group v-model="checkedCities"  class="last-checkbox">
                <li v-for="l in allList" v-dragging="{ item: l, list: allList, group: 'l' }" :key="l.id">
                  <div class="id"><el-checkbox :label="l.id" :key="l.id" @change="handleCheckedCitiesChange">{{''}}</el-checkbox></div>
                  <div class="activty-name" @click="editOne(l)"><div :class="l.name === '充值优惠' ? '' : 'hoverline-overflow'"><a :class="l.name === '充值优惠' ? '' : 'color-blue hoverline-effet'">{{l.name}}</a></div></div>
                  <div class="type">{{l.type}}</div>
                  <!--<div class="status">已{{l.status === true ?'禁用':'启用'}}</div>-->
                  <!--<div class="addtime">{{l.addtime}}</div>-->
                  <!--<div class="status"><a @click="updateActivityStatus(l)" class="color-bluebutton" :title="l.status === false ?'禁用':'启用'">{{l.status === true ?'禁用':'启用'}}</a></div>-->
                  <div :class="l.status === '启用' ? 'status color-success' : 'status color-danger'">{{l.status === '启用' ? '正常' : '禁用'}}</div>
                  <div class="addtime">{{l.addTime}}</div>
                  <div class="option"><a class="color-bluebutton hover-style" :title="l.status" @click="updateActivityStatus(l)">{{l.status === '启用' ?'禁用':'启用'}}</a></div>
                  <div class="order"><span title="上下拖动排序"><i class="el-icon-rank"></i></span></div>
                </li>
              </el-checkbox-group>
            </div>
          </ul>
        </div>
      </div>
      <div class="report-data" v-if="screenW<1023">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete"  v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <el-button size="mini" type="text"  @click="draggingVisible =true">排序</el-button>
        </div>
        <div class="rwd-selected table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <scroll :id="'scroll-wrapper1'" class="el-table">
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                fixed
                width="34"  v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="活动名称"
                fixed
                width="100" >
                <template slot-scope="scope">
                  <span  v-if="screenW > 768" :class="scope.row.name === '充值优惠' ? '' : 'color-blue hoverline-effet'" @click="editOne(scope.row)">{{scope.row.name}}</span>
                  <span v-else :class="scope.row.name === '充值优惠' ? '' : 'color-blue overflow-style'" >{{ scope.row.name}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="type"
                label="活动类型"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="status"
                label="活动状态"
                min-width="80">
                <template slot-scope="scope"><span :class="scope.row.status === '启用' ? 'color-success' : 'color-danger'">{{scope.row.status === '启用' ? '正常' : '禁用'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="addTime"
                label="添加时间"
                min-width="180">
              </el-table-column>
              <el-table-column
                prop="account"
                label="操作"
                fixed="right"
                width="50" v-if="screenW>768">
                <template slot-scope="scope">
                  <a  @click="updateActivityStatus(scope.row)"  class="color-bluebutton" :title="scope.row.status">{{scope.row.status === '启用' ?'禁用':'启用'}}</a>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <popover-right
        :modal="false"
        :visible="draggingVisible"
        title="系统活动"
        @close="draggingVisible=false">
          <div slot="right-btn-box">
            <el-button size="mini" type="primary" plain @click="updateActivitySort"> 保 存 </el-button>
          </div>
        <div class="dragging-selected mobile-list-dragging">
          <ul>
            <li
              v-for="l in allList"
              v-dragging="{ item: l, list: allList, group: 'l' }"
              :key="l.id">
              <div class="open-name"><a>{{l.name}}</a></div>
              <div class="btn-tools">
                <a title="上下拖动排序"><i class="el-icon-rank"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </popover-right>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="updateActivityStatus(detailData)">
        {{detailData.status === '启用' ?'禁用':'启用'}}
        </span>
        <span v-if="detailData.name !== '充值优惠'" @click="editOne(detailData)">修改</span>
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="系统活动"
        @close="detailShow=false">
        <ul >
          <li>
            <span >活动名称</span>
            <span class="color-blue">{{detailData.name}}</span>
          </li>
          <li>
            <span>活动类型</span>
            <span>{{detailData.type}}</span>
          </li>
          <li>
            <span>活动状态</span>
            <span :class="detailData.status === '启用' ? 'color-success' : 'color-danger'">{{detailData.status === '启用' ? '正常' : '停用'}}</span>
          </li>
          <li>
            <span>添加时间</span>
            <span>{{detailData.addTime}}</span>
          </li>
        </ul>
      </popover-right>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <setting-activity-form
      ref="form"
      :data="selectData"
      :visible="SettingActivityForm"
      @close="SettingActivityForm=false">
    </setting-activity-form>
  </div>
</template>
<script>
import SettingActivityForm from '@/views/newModal/SettingActivityForm'
import Scroll from '@/components/Scroll'
import Api from '@/api/activity'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      tableLine: false,
      SettingActivityForm: false,
      checkAll: false, // 是否全选
      checkedCities: [],
      isShow: false,
      rwdNumber: '',
      discount: false,
      FreezeValue: false,
      isActive: false,
      draggingVisible: false,
      ActivitiesManageForm: false,
      avatorVisible: false,
      rwdbtnVisible: false,
      order: null,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      list: [],
      ruleForm: {
        UserName: '',
        Toplevel: '',
        starTime: '',
        endTime: '',
        Order: ''
      },
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      selectData: {},
      detailData: {
        name: '',
        type: '',
        status: '',
        addTime: ''
      }
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    updateActivitySort () {
      if (this.allList.length < 1) {
        this.msgError('没有数据可排序')
        return
      }
      let submitData = {}
      submitData.ids = this.allList.map(v => v.id).join(',')
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.setSysActivitySort(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.msgSuccess('操作成功')
      })
    },
    updateActivityStatus (val) {
      let submitData = {}
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      let status = 0
      if (val.status === '禁用') {
        status = 1
      }
      submitData.id = val.id
      submitData.status = status
      Api.setSysActivityStatus(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.msgSuccess('操作成功')
        this.rwdbtnVisible = false
      })
    },
    openActivityForm () {
      this.selectData = {}
      this.SettingActivityForm = true
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCommand (command) {
      if (!command.name) return
      let arr = {'ImgFormatShow': this.ImgFormat,
        'Token': this.Token,
        'TenantMaintainShow': this.TenantMaintain
      }
      if (typeof arr[command.name] === 'function') {
        arr[command.name](command.key)
      }
    },
    allopt () {
      let list = JSON.parse(JSON.stringify(this.allList))
      return list.map(v => v.id)
    },
    handleCheckAllChange (val) {
      // console.log(val)
      this.checkedCities = val ? this.allopt() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      // console.log(value)
      let checkedCount = value.length
      let allCount = this.allList.length
      this.checkAll = checkedCount === allCount
      // console.log(this.checkAll)
      this.isIndeterminate = checkedCount > 0 && checkedCount < allCount
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
          // console.log(rows)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
        // console.log(rows)
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
      // console.log(val)
    },
    chooseFun (val) {
      for (let i = 0; i < this.allList.length; i++) {
        if (val.id === this.allList[i].id) {
          this.allList.splice(i, 1)
          break
        }
      }
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.getSysActivityList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.activityList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = true
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    editOne (val) {
      // console.log(val)
      if (val.name === '充值优惠') {
        return
      }
      this.selectData = val
      this.SettingActivityForm = true
      this.rwdbtnVisible = false
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.delSysActivity(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      })
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW < 1023) {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.checkedCities.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW < 1023) {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        } else {
          submitData.ids = this.checkedCities.join(',')
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.delSysActivity(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    SettingActivityForm,
    Scroll
  }
}
</script>
<style scoped>
  .order{
    position: absolute;
    right: 0;
    padding: 6px 10px;
  }
  .id{
    width: 22px;
  }
  .order{
    width: 50px;
  }
  .activty-name{
    width: 35%;
    min-width: 250px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .type{
    width: 13%;
    min-width: 130px;
  }
  .status{
    width: 13%;
    min-width: 100px;
  }
  .addtime{
    width: 13%;
    min-width: 170px;
  }
  .option{
    width: 13d %;
    min-width: 130px;
  }
  .disable-color{
    color: #dbd5d5 !important;
    pointer-events: none;
  }
  .dragging-selected ul li.table-header{
    border-top: none !important;
  }
  /*.ul-height{*/
    /*height: calc(100vh - 300px) !important;*/
    /*overflow: scroll;*/
  /*}*/
  .ranktransfer-area {
    /*min-height: 250px !important;*/
    min-height: 10px !important;
    margin: 0 0 20px 0;
  }
  .el-checkbox-group.last-checkbox{
    & li:last-child{
      border-bottom: none !important;
    }
  }
  .ul-height{
    min-height: 250px;
  }

</style>
