<template>
  <div class="panel">
    <div class="panel-heading">
      人工申诉
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" size="small" ref="ruleForm"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
             <el-form-item label="会员账号" prop="userName">
              <el-input size="min" v-model="ruleForm.userName" class="width-forword" placeholder="请输入会员账号"></el-input>
            </el-form-item>
            <el-form-item label="状态" prop="state">
              <el-select size="min" v-model="ruleForm.state" class="width-midstatus" placeholder="请选择状态">
                <el-option label="全部" value=""></el-option>
                <el-option label="未审核" value="0"></el-option>
                <el-option label="已审核" value="1"></el-option>
                <el-option label="驳回" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item  label="开始时间" prop="startTime">
              <el-date-picker
                v-model="ruleForm.startTime"
                class="width-searchtime"
                type="date"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item  label="结束时间" prop="endTime">
              <el-date-picker
                v-model="ruleForm.endTime"
                class="width-searchtime"
                type="date"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small"  :inline="false" ref="ruleForm" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input size="min" v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="state">
                      <el-select size="min" v-model="ruleForm.state"  placeholder="请选择状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="未审核" value="0"></el-option>
                        <el-option label="已审核" value="1"></el-option>
                        <el-option label="驳回" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item size="min" label="开始时间" prop="startTime">
                       <span class="time-picker">
                         <datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker>
                       </span>
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.startTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                    </el-form-item>
                    <el-form-item size="min" label="结束时间" prop="endTime">
                       <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker>
                      </span>
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.endTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                  <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th><div class="cell">会员账号</div></th>
                      <th><div class="cell">站长编码</div></th>
                      <th><div class="cell">姓名</div></th>
                      <th width="220px"><div class="cell">银行卡号</div></th>
                      <th><div class="cell">照片审核</div></th>
                      <th><div class="cell">最近修改密码情况</div></th>
                      <th><div class="cell">提交时间</div></th>
                      <th><div class="cell">操作人</div></th>
                      <th width="80px"><div class="cell">状态</div></th>
                      <th width="80px"><div class="cell">操作</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell max-width220"><span class="color-blue">{{items.userName}}</span></div></td>
                      <td><div class="cell"><span>{{items.tenantCode}}</span></div></td>
                      <td><div class="cell"><span>{{items.realName}}</span></div></td>
                      <td><div class="cell"><span>{{items.bankCardNumber}}</span></div></td>
                      <td><div class="cell"><a class="hover-style"><span class="color-bluebutton " @click="setPhotos(items)">查看</span></a></div></td>
                      <td><div class="cell">
                          <span>{{items.type === 2 ? '前台':'后台'}}</span>
                          <span>{{items.editPasswordTime}}</span>
                      </div></td>
                      <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                      <td><div class="cell"><span>{{items.platformManagerName}}</span></div></td>
                      <td><div class="cell"><span :class="{'color-danger' : items.state === 2,'color-success' : items.state === 1}" >{{formatterState(items)}}</span></div></td>
                      <td><div class="cell">
                          <template v-if="items.state === 0">
                            <div class="table-btnbox">
                              <el-button type="text" size="small"><span class="color-bluebutton margin-r6" @click="setState(items, 1)">通过</span></el-button>
                              <el-button type="text" size="small" @click="setState(items, 2)"><span class="color-bluebutton">驳回</span></el-button>
                            </div>
                          </template>
                          <template  v-else>
                            --
                          </template>
                      </div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="10"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                fixed
                min-width="140">
                <template slot-scope="scope">
                  <span class="color-blue" >{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="tenantCode"
                label="站长编码"
                min-width="110">
              </el-table-column>
              <el-table-column
                prop="realName"
                label="姓名"
                width="80">
              </el-table-column>
              <el-table-column
                prop="bankCardNumber"
                label="银行卡号"
                :min-width="screenW > 768 ? '160':'190'">
              </el-table-column>
              <el-table-column
                label="照片审核"
                min-width="80" v-if="screenW >768">
                <template slot-scope="scope" >
                  <a class="hover-style">
                    <span class="color-bluebutton " @click="setPhotos(scope.row)">查看</span>
                  </a>
                </template>
              </el-table-column>
              <el-table-column
                label="最近修改密码情况"
                :min-width="screenW > 1023 ? '170':'200'" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span>{{scope.row.type === 2 ? '前台':'后台'}}</span>
                  <span>{{scope.row.editPasswordTime}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="提交时间"
                :min-width="screenW > 768 ? '150':'170'">
              </el-table-column>
              <el-table-column
                prop="platformManagerName"
                label="操作人"
                min-width="100">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="90">
                <template slot-scope="scope">
                  <span :class="{'color-danger' : scope.row.state === 2,'color-success' : scope.row.state === 1}" >{{formatterState(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                fixed="right"
                label="操作"
                width="80" v-if="screenW >1023">
                <template slot-scope="scope" >
                  <template v-if="scope.row.state === 0">
                    <div class="table-btnbox" v-if="screenW>768">
                      <el-button type="text" size="small"><span class="color-bluebutton margin-r6" @click="setState(scope.row, 1)">通过</span></el-button>
                      <el-button type="text" size="small" @click="setState(scope.row, 2)"><span class="color-bluebutton">驳回</span></el-button>
                    </div>
                  </template>
                  <template  v-else>
                    --
                  </template>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <!-- 维护窗口 -->
    <action-sheet
      :visible="rwdbtnVisible"
      @close="rwdbtnVisible = false">
      <div class="rwdbtn-style">
        <span  @click="setState(detailData, 1)" v-show="detailData.state === 0">通过</span>
        <span  @click="setState(detailData, 2)" v-show="detailData.state === 0">驳回</span>
      <!--<span @click="editOne(detailData)">修改</span>-->
      <span  @click="setPhotos(detailData)">照片审核查看</span>
      <span @click="checkRow(detailData)" >查看信息</span>
      </div>
      <span @click="closeRwdBtn" class="angle-all">取消</span>
    </action-sheet>
    <popover-right
      :modal="false"
      title="人工申诉"
      :visible="detailShow"
      @close="detailShow = false">
      <ul >
        <li>
          <span>会员账号</span>
          <span class="color-blue">{{detailData.userName}}</span>
        </li>
        <li>
          <span>站长编码</span>
          <span>{{detailData.tenantCode}}</span>
        </li>
        <li>
          <span>姓名</span>
          <span>{{detailData.realName}}</span>
        </li>
        <li>
          <span>银行卡号</span>
          <span>{{detailData.bankCardNumber}}</span>
        </li>
        <li>
          <span>最近修改密码情况</span>
          <span>{{detailData.type === 2 ? '前台':'后台'}} {{detailData.editPasswordTime}}</span>
        </li>
        <li>
          <span>提交时间</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
        <li>
          <span>操作人</span>
          <span>{{detailData.platformManagerName}}</span>
        </li>
        <li>
          <span>状态</span>
          <span :class="{'color-danger' : detailData.state === 2,'color-success' : detailData.state === 1}" >{{formatterState(detailData)}}</span>
        </li>
      </ul>
    </popover-right>
    <look-logo-form
      :visible="LookPhotoShow"
      :data="selectData"
      v-on:onClose="LookPhotoShow=false">
    </look-logo-form>
    <reject-photo
      :visible="RejectPhotoShow"
      :data="selectData"
      v-on:onClose="RejectPhotoShow=false"
    ></reject-photo>
  </div>
</template>
<script>
import LookLogoForm from '@/components/PreviewPicture'
import RejectPhoto from '@/views/newModal/RejectPhotoForm'
import Api from '@/api/tenant'
import {DateFormat} from '@/utils/Time'
import {validateQueryDateTwo} from '@/utils/validateRules'
import {imgHost} from '@/filters'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      rwdbtnVisible: false,
      tableLine: true,
      loading: false,
      rwdNumber: '',
      loadingMsg: '正在拼命加载中...',
      LookPhotoShow: false, // 是否开启图片浏览
      RejectPhotoShow: false, // 是否开启驳回弹窗
      selectData: {}, // 当前选中记录
      command: 0,
      isShow: false,
      avatorVisible: false,
      Type: {'0': '未审核', '1': '审核通过', '2': '驳回'},
      ruleForm: {
        userName: '',
        state: '',
        startTime: DateFormat(new Date(new Date().getTime() - 24 * 60 * 60 * 1000), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      detailData: {
        userName: '',
        tenantCode: '',
        realName: '',
        bankCardNumber: '',
        gtype: '',
        editPasswordTime: '',
        gmtCreated: '',
        platformManagerName: '',
        state: ''
      },
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    formatterState (val) {
      if (!val || val.state === undefined) {
        return ''
      }
      if (this.Type[val.state.toString()]) {
        return this.Type[val.state.toString()]
      }
      return '未知状态'
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    setPhotos (val) {
      let urls = val.userPhoto.split(';')
      let imageData = []
      for (let i = 0; i < urls.length; i++) {
        if (!urls[i]) {
          continue
        }
        let tempImageData = {}
        tempImageData.name = '图片' + (i + 1)
        tempImageData.url = imgHost(urls[i])
        imageData.push(tempImageData)
      }
      let selectData = {}
      selectData.imageData = imageData
      selectData.index = 0
      this.selectData = selectData
      this.LookPhotoShow = true
      this.rwdbtnVisible = false
    },
    setState (val, type) {
      let msg = ''
      if (type === 1) {
        msg = '是否确定审批通过'
      } else {
        msg = '是否确定驳回'
      }
      this.msgConfirm(msg, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.selectData = val
        if (type === 1) {
          let submitData = {}
          submitData.id = val.id
          submitData.state = 1
          this.loadingMsg = '正在提交...'
          this.loading = true
          let obj = this
          Api.setCertificationState(submitData, function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          }).then((res) => {
            this.getOrderList(this.pageNum, this.pageSize)
            this.$nextTick(function () {
              obj.loading = false
              obj.loadingMsg = '正在拼命加载中...'
            })
            this.msgSuccess('操作成功')
            this.rwdbtnVisible = false
          })
        }
        if (type === 2) {
          this.RejectPhotoShow = true
        }
      })
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (!this.ruleForm[item]) {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      this.avatorVisible = false
      this.loading = true
      let obj = this
      Api.certificationList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    LookLogoForm,
    RejectPhoto,
    DatetimePicker
  }
}
</script>
<style>
  .finished{
    border-bottom: none !important;
  }
</style>
