<template>
  <div class="panel">
    <div class="panel-heading">
      充值管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" :disabled="submitLoading" :loading="submitLoading" plain @click="submitForm('ruleForm')" v-if="screenW>=1023">{{submitLoading ? '正在保存' : '保 存'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <!-- 普通表格 -->
      <div class="no-border rwd-padding recharge-aus-content"  v-loading="loading"
           element-loading-spinner="dafa-icon-loading01 dafa-icon"
           element-loading-customClass="loadingClass">
        <!-- 表头 -->
        <el-form size="small" :label-position="screenW>=768 ? 'left':'top'" class="payment-box" :label-width="screenW >500?'130px': ''">
          <el-form-item label="提交订单时间限制" class="rwd-turnoff">
            <el-radio-group v-model="ruleForm.isEnable">
              <el-radio-button :label="false">关闭</el-radio-button>
              <el-radio-button :label="true">开启</el-radio-button>
            </el-radio-group>
          </el-form-item>
        </el-form>
<!--        v-if="ruleForm.isEnable === true && ruleForm.setting.length > 0"-->
        <el-form :model="ruleForm" v-if="ruleForm.setting.length > 0" status-icon size="small" ref="ruleForm" :rules="rules" :label-position="screenW>=768 ? 'left':'top'" v-loading="loading" class="payment-box text-center-input" :label-width="screenW >500?'100px': ''">
          <!-- 1 -->
          <el-form-item label="订单提交次数" style="width: 600px">
              <el-input size="min" :disabled="true" type="number" class="width-small" value="2"></el-input>
              <span> - </span>
              <el-input size="min" :disabled="!ruleForm.isEnable" type="number" @blur="timerBlur1" :min="1" class="width-small" v-model="ruleForm.setting[0].times"></el-input>
              <span class="marg-l">时间间隔</span>
              <el-input size="min" :disabled="!ruleForm.isEnable" type="number" :min="0" class="width-big" @blur="intervalBlur1" v-model="ruleForm.setting[0].interval"></el-input>
              <span>秒</span>
          </el-form-item>
          <!-- 2 -->
          <el-form-item label="订单提交次数" style=" width: 600px">
            <el-input size="min" :disabled="true" type="number" class="width-small" :value="parseInt(ruleForm.setting[0].times) + 1 || ''"></el-input>
            <span> - </span>
            <el-input size="min" :disabled="!ruleForm.isEnable" type="number" @blur="timerBlur2" :min="1" class="width-small" v-model="ruleForm.setting[1].times"></el-input>
            <span class="marg-l">时间间隔</span>
            <el-input size="min" :disabled="!ruleForm.isEnable" type="number" :min="0" class="width-big" @blur="intervalBlur2" v-model="ruleForm.setting[1].interval">></el-input>
            <span>秒</span>
          </el-form-item>
          <!-- 3 -->
          <el-form-item label="订单提交次数" style="width: 600px">
            <el-input size="min" :disabled="true" type="number" class="width-small" :value="parseInt(ruleForm.setting[1].times) + 1 || ''"></el-input>
            <span> - </span>
            <el-input size="min" :disabled="!ruleForm.isEnable" type="number" @blur="timerBlur3" :min="1" class="width-small" v-model="ruleForm.setting[2].times"></el-input>
            <span class="marg-l">时间间隔</span>
            <el-input size="min" :disabled="!ruleForm.isEnable" type="number" :min="0" class="width-big" @blur="intervalBlur3" v-model="ruleForm.setting[2].interval"></el-input>
            <span>秒</span>
          </el-form-item>
          <!-- 4 -->
          <el-form-item label="订单提交次数" style="width: 600px">
            <el-input size="min" :disabled="true" type="number" class="width-small" :value="parseInt(ruleForm.setting[2].times) + 1 || ''"></el-input>
            <span> - </span>
            <el-input size="min" :disabled="!ruleForm.isEnable" type="number" @blur="timerBlur4" :min="1" class="width-small" v-model="ruleForm.setting[3].times"></el-input>
            <span class="marg-l">时间间隔</span>
            <el-input size="min" :disabled="!ruleForm.isEnable" type="number" :min="0" class="width-big" @blur="intervalBlur4" v-model="ruleForm.setting[3].interval"></el-input>
            <span>秒</span>
          </el-form-item>
          <!-- 5 -->
          <el-form-item label="订单提交次数" style="width: 600px">
            <el-input size="min" :disabled="true" type="number" :min="1" class="width-small" :value="parseInt(ruleForm.setting[3].times) + 1 || ''"></el-input>
            <span>以上</span>
            <span class="marg-l2">时间间隔</span>
            <el-input size="min" :disabled="!ruleForm.isEnable" type="number" :min="0" class="width-big" @blur="intervalBlur5" v-model="ruleForm.setting[4].interval"></el-input>
            <span>秒</span>
          </el-form-item>
          <!-- 限制豁免 -->
          <el-form-item style="width: 600px">
            <el-checkbox v-model="ruleForm.isRemitted">限制豁免</el-checkbox>
            <span style="margin-left: 8px !important;">历史成功充值金额大于</span>
            <el-input size="min" :disabled="!ruleForm.isEnable || !ruleForm.isRemitted" type="number" :min="0" class="width-small2" @blur="intervalBlur6" v-model="ruleForm.remittedAmount"></el-input>
            <span>元的会员不受限制</span>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <br>
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ruleForm: {
        isEnable: false,
        isRemitted: true,
        remittedAmount: 0,
        setting: []
      },
      rules: {
        // withdrawTimes: [
        //   { required: true, message: '值不能为空', trigger: 'blur' },
        //   { validator: validatorValue1, trigger: 'blur' }
        // ]
      },
      loading: false,
      loadingMsg: '正在拼命加载中...',
      submitLoading: false,
      selectData: {}, // 选中数据
      // 列表数据
      allList: []
    }
  },
  methods: {
    getList () {
      this.loading = true
      let obj = this
      Api.getSetting({}, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm.isEnable = res.data.enable
        this.ruleForm.isRemitted = res.data.remitted
        this.ruleForm.remittedAmount = res.data.remittedAmount
        this.ruleForm.setting = res.data.setting
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    intervalBlur1 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1) {
        this.ruleForm.setting[0].interval = 0
      } else {
        this.ruleForm.setting[0].interval = parseInt(this.ruleForm.setting[0].interval)
      }
    },
    intervalBlur2 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1) {
        this.ruleForm.setting[1].interval = 0
      } else {
        this.ruleForm.setting[1].interval = parseInt(this.ruleForm.setting[1].interval)
      }
    },
    intervalBlur3 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1) {
        this.ruleForm.setting[2].interval = 0
      } else {
        this.ruleForm.setting[2].interval = parseInt(this.ruleForm.setting[2].interval)
      }
    },
    intervalBlur4 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1) {
        this.ruleForm.setting[3].interval = 0
      } else {
        this.ruleForm.setting[3].interval = parseInt(this.ruleForm.setting[3].interval)
      }
    },
    intervalBlur5 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1) {
        this.ruleForm.setting[4].interval = 0
      } else {
        this.ruleForm.setting[4].interval = parseInt(this.ruleForm.setting[4].interval)
      }
    },
    intervalBlur6 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1) {
        this.ruleForm.remittedAmount = 0
      } else {
        this.ruleForm.remittedAmount = parseInt(this.ruleForm.remittedAmount)
      }
    },
    timerBlur1 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 2) {
        this.ruleForm.setting[0].times = 2
      }
    },
    timerBlur2 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1 || val - 1 <= this.ruleForm.setting[0].times) {
        this.ruleForm.setting[1].times = (parseInt(this.ruleForm.setting[0].times) + 1)
      }
    },
    timerBlur3 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1 || val - 1 <= this.ruleForm.setting[1].times) {
        this.ruleForm.setting[2].times = (parseInt(this.ruleForm.setting[1].times) + 1)
      }
    },
    timerBlur4 (e) {
      let val = parseFloat(e.target.value)
      if (e.target.value === '' || val < 1 || val - 1 <= this.ruleForm.setting[2].times) {
        this.ruleForm.setting[3].times = (parseInt(this.ruleForm.setting[2].times) + 1)
      }
    },
    submitForm (formName) {
      this.submitLoading = true
      let submitData = {
        setting: JSON.stringify(this.ruleForm.setting),
        isEnable: this.ruleForm.isEnable,
        isRemitted: this.ruleForm.isRemitted,
        remittedAmount: this.ruleForm.remittedAmount
      }
      let obj = this
      Api.updateSetting(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.$nextTick(function () {
          obj.submitLoading = false
        })
        if (res.code === 1) {
          this.msgSuccess('保存成功')
        }
      })
    }
  },
  mounted () {
    this.getList()
  },
  components: {
    Scroll
  }
}
</script>
<style scoped>
  .marg-l {
    margin-left: 20px;
  }
  .marg-l2 {
    margin-left: 55px;
  }
  .width-small {
    width: 50px;
  }
  .width-small2 {
    width: 68px;
  }
  .width-big {
    width: 100px;
  }
</style>
<style>
  .recharge-aus-content .el-input__inner {
    padding: 0 !important;
    text-align: center !important;
  }
  .recharge-aus-content .el-form-item__content {
    margin-left: 34px !important;
  }
  .recharge-aus-content .el-form-item__label {
    font-size: 14px !important;
    width: 130px !important;
    text-align: right !important;
  }
  .recharge-aus-content .el-checkbox__input {
    vertical-align: -1px !important;
  }
  .recharge-aus-content .el-checkbox__label {
    font-size: 14px !important;
  }
  .recharge-aus-content .el-radio-button__inner {
    width: 160px !important;
    font-size: 14px !important;
  }
  .recharge-aus-content input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
     -webkit-appearance: none !important;
   }
  .recharge-aus-content input[type="number"]{-moz-appearance:textfield;}
</style>
