<template>
  <div class="panel">
    <div class="panel-heading">
      棋牌盈率调节记录
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="彩种名称" prop="gameCode">
          <el-select v-model="ruleForm.gameCode" label="彩种名称" class="width-lottery" placeholder="请选择彩种">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.lotteryCode"
                :label="item.lotteryName"
                :value="item.lotteryCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="彩种名称" prop="gameCode">
                      <el-select v-model="ruleForm.gameCode" label="彩种名称" class="width-lottery" placeholder="请选择彩种">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.gameCode"
                          :label="item.gameName"
                          :value="item.gameCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">彩种名称</div></th>
                  <th ><div class="cell">触发期号</div></th>
                  <th ><div class="cell">开奖号码</div></th>
                  <th ><div class="cell">触发时间</div></th>
                  <th><div class="cell">当期设置阈值</div></th>
                  <th ><div class="cell">当期本月盈率</div></th>
                  <th ><div class="cell">当期投注金额</div></th>
                  <th ><div class="cell">当期中奖金额</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--彩种名称-->
                    <td ><div class="cell"><span class=" color-blue">{{items.gameName}}</span></div></td>
                    <!--触发期号-->
                    <td ><div class="cell"><span>{{items.issue}}</span></div></td>
                    <!--开奖号码-->
                    <td >
                      <div class="cell min-width110">
                        <template v-if="items.openNumber === '-'">
                          <span>---</span>
                        </template>
                        <template v-else>
                          <span class="hoverline-effet color-blue "  @click="ShowContent(1, items)">
                          {{contentChange(items)}}
                          </span>
                        </template>
                      </div>
                    </td>
                    <!--触发时间-->
                    <td ><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <!--当期设置阈值-->
                    <td ><div class="cell"><span>{{items.purposesProfit | formatMoney}}</span></div></td>
                    <!--当期本月盈率-->
                    <td ><div class="cell"><span :class="items.nowProfit <= 0 ? 'color-success' : 'color-danger'">{{items.nowProfit | formatMoney}}</span></div></td>
                    <!--当期投注金额-->
                    <td ><div class="cell"><span>{{items.betAmount | formatMoney}}</span></div></td>
                    <!--当期中奖金额-->
                    <td ><div class="cell"><span>{{items.returnAmount | formatMoney}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                fixed
                label="彩种名称"
                min-width="120">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.gameName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="issue"
                label="触发期号"
                min-width="130">
              </el-table-column>
              <el-table-column
                label="开奖号码"
                min-width="110" show-overflow-tooltip>
                <template slot-scope="scope">
                  <template v-if="scope.row.openNumber === '-'">
                    <span>---</span>
                  </template>
                  <template v-else>
                      <span >
                      {{contentChange(scope.row)}}
                      </span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="触发时间"
                min-width="200">
              </el-table-column>
              <el-table-column
                label="当期设置阈值"
                min-width="100">
                <template slot-scope="scope">
                  <span>{{scope.row.purposesProfit | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="当期本月盈率"
                min-width="110">
                <template slot-scope="scope">
                  <span :class="scope.row.nowProfit <= 0 ? 'color-success' : 'color-danger'">{{scope.row.nowProfit | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="betAmount"
                label="当期投注金额"
                min-width="110">
                <template slot-scope="scope">
                  <span>{{scope.row.betAmount | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="returnAmount"
                label="当期中奖金额"
                min-width="110">
                <template slot-scope="scope">
                  <span>{{scope.row.returnAmount | formatMoney}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <br>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
           <template v-show="detailData.openNumber !== '-'">
            <span @click="ShowContent(1, detailData)">
               查看结果
            </span>
          </template>
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="盈率调节"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>彩种名称</span>
            <span class="color-blue">{{detailData.gameName}}</span>
          </li>
          <li>
            <span>触发期号</span>
            <span>{{detailData.issue}}</span>
          </li>
          <li>
            <span>开奖号码</span>
            <span>{{detailData.openNumber}}</span>
          </li>
          <li>
            <span>触发时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
          <li>
            <span>当期设置阈值</span>
            <span>{{detailData.purposesProfit}}</span>
          </li>
          <li>
            <span>当期本月盈率</span>
            <span :class="detailData.nowProfit <= 0 ? 'color-success' : 'color-danger'">{{detailData.nowProfit}}</span>
          </li>
          <li>
            <span>当期中奖金额</span>
            <span>{{detailData.returnAmount}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
    </div>
    <el-dialog
        title="结果详情"
        :visible.sync="dialogData.dialogResultShow"
        custom-class="mini-reveal-modal report-moadal" >
        <div v-loading="dialogDataLoading"
             element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon">
           <!--奔驰宝马,骰宝弹框-->
           <el-table :data="dialogData.resultlist" class="table-style popover-table" key="siboTable" v-if="dialogData.gameName === '奔驰宝马' || dialogData.gameName === '骰宝'">
            <!--結果詳情-->
            <el-table-column min-width="120" property="ticket" label="结果">
              <template slot-scope="scope">
                <ul class="poker-list poker-box">
                  <li v-for="(l, index) in scope.row.backgroundList" :key="index">
                    <div class="poker-img bg" :class="['p' + l]" v-if="!l.className && !l.gameName"></div>
                    <div class="sibo-img bg" :class="['sb' + l.className]" v-if="l.gameName === '骰宝'"></div>
                    <div class="bg public-Icon" :class="[l.className]" v-if="l.className"></div>
                  </li>
                </ul>
              </template>
            </el-table-column>
            <!-- <el-table-column min-width="80" v-if="dialogData.gameName === '骰宝'" property="content" label="总点数"></el-table-column> -->
            <el-table-column width="100" property="object" label="牌型" ></el-table-column>
          </el-table>
          <el-table :data="dialogData.resultlist" class="table-style popover-table" key="afterTable" v-else>
            <!--結果詳情-->
            <el-table-column min-width="55" property="object" label="号码"></el-table-column>
            <el-table-column min-width="120" property="ticket" label="结果">
              <template slot-scope="scope">
                <ul class="poker-list poker-box">
                  <li v-for="(l, index) in scope.row.backgroundList" :key="index">
                    <!--<div class="brand-bg" :class="['card-bg' + l]"></div>-->
                    <div class="poker-img bg" :class="['p' + l]" v-if="!l.className && !l.gameName"></div>
                    <div class="sibo-img bg" :class="['sb' + l.className]" v-if="l.gameName === '骰宝'"></div>
                    <div class="bg public-Icon" :class="[l.className]" v-if="l.className"></div>
                  </li>
                </ul>
              </template>
            </el-table-column>
            <el-table-column width="50" property="content" label="牌型" ></el-table-column>
          </el-table>
        </div>
      </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
// import ApiSys from '@/api/sys'
import {validateQueryDateTwo} from '@/utils/validateRules'
import {DateFormat} from '@/utils/Time'
import DatetimePicker from '@/components/DatetimePicker'
import {getEllipsisFlag} from '@/utils'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      tableLine: true,
      avatorVisible: false,
      pageNum: 1,
      pageSize: 20,
      total: 0,
      dialogDataLoading: false,
      dialogData: {
        dialogType: 1,
        dialogResultShow: false,
        dialogContentShow: false,
        resultlist: [],
        contentlist: [],
        gameName: '' // 游戏名称
      },
      ruleForm: {
        gameCode: '',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      // 列表数据
      // 列表数据
      options: [
        {
          lotteryCode: '2001',
          lotteryName: '百人牛牛'
        },
        {
          lotteryCode: '2002',
          lotteryName: '红黑大战'
        },
        {
          lotteryCode: '2003',
          lotteryName: '龙虎大战'
        },
        {
          lotteryCode: '2004',
          lotteryName: '百家乐'
        },
        {
          lotteryCode: '2005',
          lotteryName: '奔驰宝马'
        },
        {
          lotteryCode: '2006',
          lotteryName: '骰宝'
        }
      ],
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      arr: [],
      tigerDragonLottery: ['', '龙', '虎', '和'],
      redBlackLottery: ['', '红', '黑', '幸运一击'],
      cowLottery: ['', '(庄对闲1)庄', '(庄对闲1)闲', '(庄对闲2)庄', '(庄对闲2)闲', '(庄对闲3)庄', '(庄对闲3)闲'],
      baccaratLottery: ['', '闲', '庄', '平'],
      sicboLottery: ['', '大', '小', '单', '双'],
      summaryColumns: {'bettingAmount': '1', 'bonus': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getOrderList()
  },
  methods: {
    ShowContent (title, list) {
      this.dialogData.resultlist = []
      this.dialogData.contentlist = []
      let openTypeArr = []
      if (title === 1) {
        if (list.gameName === '百人牛牛') {
          let cards = this.backgrund(list.openNumber, 5)
          let openType = list.openType.split(',')
          for (let i = 0; i < openType.length; i++) {
            openTypeArr.push(openType[i])
          }
          for (let j = 0; j < openTypeArr.length; j++) {
            let arrEach = {}
            if (j === 0) {
              arrEach.object = '庄'
            } else {
              arrEach.object = '闲' + [j]
            }
            arrEach.backgroundList = cards[j]
            arrEach.content = openTypeArr[j]
            this.dialogData.gameName = '百人牛牛'
            this.dialogData.resultlist.push(arrEach)
          }
        } else if (list.gameName === '龙虎大战') {
          if (!list.openNumber) return
          let cards = this.backgrund(list.openNumber, 1)
          for (let j = 0; j < 2; j++) {
            let arrEach = {}
            if (j === 0) {
              arrEach.object = '龙'
            } else {
              arrEach.object = '虎'
            }
            arrEach.backgroundList = cards[j]
            arrEach.content = this.Corresponding(cards[j])
            this.dialogData.gameName = '龙虎大战'
            this.dialogData.resultlist.push(arrEach)
          }
        } else if (list.gameName === '百家乐') {
          if (!list.openNumber) return
          let cards = []
          cards = this.backgrund(list.openNumber, 3)
          for (let j = 0; j < 2; j++) {
            let arrEach = {}
            if (j === 0) {
              arrEach.object = '闲'
            } else {
              arrEach.object = '庄'
            }
            arrEach.backgroundList = cards[j]
            let openType = list.openType.split(',')
            for (let i = 0; i < openType.length; i++) {
              openTypeArr.push(`${openType[i]}点`)
            }
            arrEach.content = openTypeArr[j]
            this.dialogData.gameName = '百家乐'
            this.dialogData.resultlist.push(arrEach)
          }
        } else if (list.gameName === '奔驰宝马') {
          if (!list.openNumber) return
          let number = this.getBnmType(list.openType)
          let className = this.getClassName(list.openType)
          let jsonData = {}
          jsonData.object = number
          jsonData.content = +list.openType
          let json = {}
          jsonData.backgroundList = []
          json.className = className
          jsonData.backgroundList.push(json)
          this.dialogData.gameName = '奔驰宝马'
          this.dialogData.resultlist.push(jsonData)
        } else if (list.gameName === '骰宝') {
          if (!list.openNumber) return
          let obj = this.getSicboObj(list.openNumber)
          let arr = this.getSBClassName(list.openNumber)
          let jsonData = {}
          jsonData.object = obj.object
          jsonData.content = obj.content
          jsonData.object = `${jsonData.content}/${jsonData.object}`
          jsonData.backgroundList = arr
          this.dialogData.gameName = '骰宝'
          this.dialogData.resultlist.push(jsonData)
        } else {
          if (!list.openNumber) return
          let cards = this.backgrund(list.openNumber, 3)
          for (let j = 0; j < 2; j++) {
            let arrEach = {}
            if (j === 0) {
              arrEach.object = '红'
            } else {
              arrEach.object = '黑'
            }
            arrEach.backgroundList = cards[j]
            let openType = list.openType.split(',')
            for (let i = 0; i < openType.length; i++) {
              openTypeArr.push(openType[i])
            }
            arrEach.content = openTypeArr[j]
            this.dialogData.gameName = '红黑大战'
            this.dialogData.resultlist.push(arrEach)
          }
        }
        this.dialogData.dialogResultShow = true
      } else {
        // 如果是內容彈窗 title === 2
        this.dialogDataLoading = true
        let submitData = {}
        submitData.id = list.id
        Api.getCmsGameBetDataInfo(submitData, function () {
          this.dialogDataLoading = false
        }).then((res) => {
          let objectList = this.typeContent(list.gameName, list.bettingNumber).split(',')
          let arrObject = []
          for (let i = 0; i < objectList.length; i++) {
            arrObject.push(objectList[i])
          }
          // 分類名稱
          if (list.gameName === '龙虎大战') {
            this.arr = this.tigerDragonLottery
          } else if (list.gameName === '百人牛牛') {
            this.arr = this.cowLottery
          } else {
            this.arr = this.redBlackLottery
          }
          for (let i = 0; i < res.data.length; i++) {
            this.$set(res.data[i], 'betNum', arrObject[i])
          }
          this.dialogData.contentlist = res.data
          this.dialogData.dialogContentShow = true
          this.$nextTick(function () {
            this.dialogDataLoading = false
          })
        })
      }
    },
    Corresponding (val) {
      let arry = []
      for (let i = 4; i <= 55; i++) {
        arry.push(i)
      }
      // 分割数组
      let numlength = arry.length / 4
      let newarry = []
      let pt = 0
      for (let i = 0; i < numlength; i++) {
        if (i === 0) {
          pt = 0
        } else {
          pt = pt + 4
        }
        newarry.push(arry.slice(pt, pt + 4))
      }
      for (let i = 0; i < newarry.length; i++) {
        for (let j = 0; j < newarry[i].length; j++) {
          if (parseInt(val) === newarry[i][j]) {
            return (i + 1)
          }
        }
      }
    },
    getBnmType (type) {
      var x
      switch (+type) {
        case 1:
          x = '保时捷(大)'
          break
        case 2:
          x = '宝马(大)'
          break
        case 3:
          x = '奔驰(大)'
          break
        case 4:
          x = '大众(大)'
          break
        case 5:
          x = '保时捷(小)'
          break
        case 6:
          x = '宝马(小)'
          break
        case 7:
          x = '奔驰(小)'
          break
        case 8:
          x = '大众(小)'
          break
      }
      return x
    },
    getClassName (type) {
      var className
      switch (+type) {
        case 1:
          className = 'bcbmIcon1 big'
          break
        case 2:
          className = 'bcbmIcon2 big'
          break
        case 3:
          className = 'bcbmIcon3 big'
          break
        case 4:
          className = 'bcbmIcon4 big'
          break
        case 5:
          className = 'bcbmIcon5 small'
          break
        case 6:
          className = 'bcbmIcon6 small'
          break
        case 7:
          className = 'bcbmIcon7 small'
          break
        case 8:
          className = 'bcbmIcon8 small'
          break
      }
      return className
    },
    getSBClassName (list) {
      let obj = list.split(',')
      let arr = []
      for (let i = 0; i < obj.length; i++) {
        let json = {}
        json.gameName = '骰宝'
        json.className = +obj[i]
        arr.push(json)
      }
      return arr
    },
    contentChange (items) {
      let arr = []
      let list = []
      if (items.gameName === '百人牛牛') {
        if (!items.openType) return
        let openTypelist = items.openType.split(',')
        for (let i = 0; i < openTypelist.length; i++) {
          list.push(openTypelist[i])
        }
        for (let i = 0; i < 4; i++) {
          if (i === 0) {
            let object = '庄(' + list[i] + ')'
            arr.push(object)
          } else {
            let object = '闲' + [i] + '(' + list[i] + ')'
            arr.push(object)
          }
        }
      } else if (items.gameName === '龙虎大战') {
        let openTypelist = items.openNumber.split(',')
        for (let i = 0; i < openTypelist.length; i++) {
          list.push(openTypelist[i])
        }
        for (let i = 0; i < 2; i++) {
          if (i === 0) {
            let object = '龙(' + this.Corresponding(list[i]) + ')'
            arr.push(object)
          } else if (i === 1) {
            let object = '虎' + '(' + this.Corresponding(list[i]) + ')'
            arr.push(object)
          }
        }
      } else if (items.gameName === '百家乐') {
        if (!items.openType) return
        let openTypelist = items.openType.split(',')
        for (let i = 0; i < openTypelist.length; i++) {
          list.push(openTypelist[i])
        }
        for (let i = 0; i < list.length; i++) {
          if (i === 0) {
            let object = '闲(' + list[i] + ')'
            arr.push(object)
          } else {
            let object = '庄(' + list[i] + ')'
            arr.push(object)
          }
        }
      } else if (items.gameName === '奔驰宝马') {
        if (!items.openType) return
        let object = this.getBnmType(items.openType)
        arr.push(object)
      } else if (items.gameName === '骰宝') {
        arr.push(items.openNumber)
      } else {
        if (!items.openType) return
        let openTypelist = items.openType.split(',')
        for (let i = 0; i < openTypelist.length; i++) {
          list.push(openTypelist[i])
        }
        for (let i = 0; i < 2; i++) {
          if (i === 0) {
            let object = '红(' + list[i] + ')'
            arr.push(object)
          } else {
            let object = '黑' + '(' + list[i] + ')'
            arr.push(object)
          }
        }
      }
      let stringArr = arr.toString()
      return stringArr
    },
    backgrund (data, times) {
      let list = []
      let current = []
      let listDAta = []
      let datalist = data.split(',')
      for (let i = 0; i < datalist.length; i++) {
        listDAta.push(parseInt(datalist[i]))
      }
      listDAta.forEach(t => {
        current.push(t)
        if (current.length === times) {
          list.push(current)
          current = []
        }
      })
      if (current.length) {
        list.push(current)
      }
      return list
    },
    getSicboObj (list) {
      let arr = list.split(',')
      let sum = 0
      let json = {}
      for (let i = 0; i < arr.length; i++) { // 获取总数
        sum += +arr[i]
      }
      let m
      if (sum > 10) { // 获取大小
        m = '大'
      } else {
        m = '小'
      }
      let n
      if (sum % 2 === 0) { // 获取单双
        n = '双'
      } else {
        n = '单'
      }
      json.object = `${m}/${n}`
      json.content = `${sum}点`
      return json
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.pageNum = 1
      this.avatorVisible = false
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // getLotteryData () {
    //   let submitData = {}
    //   ApiSys.gameEnumBack(submitData, function () {
    //   }).then((res) => {
    //     this.options = res.data.result
    //   })
    // },
    disableToken (val) {
      let submitData = {}
      submitData.id = val.id
      let state = 0
      if (val.state === 0) {
        state = 1
      }
      submitData.state = state
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateTokenState(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.getOrderList()
      })
    },
    removeToken (val) {
      let submitData = {}
      submitData.id = val.id
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.removeToken(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.getOrderList()
      })
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      // console.log('000')
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.startTime) {
        submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd') + ' 00:00:00'
      }
      if (this.ruleForm.endTime) {
        submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd') + ' 23:59:59'
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.selectKillProcessByOpenTimeGame(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.total = res.data.total
        for (let i = 0; i < res.data.result.length; i++) {
          res.data.result[i].purposesProfit = res.data.result[i].purposesProfit * 100
          res.data.result[i].nowProfit = res.data.result[i].nowProfit * 100
        }
        this.allList = res.data.result
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
<style scoped>
  .report-moadal .table-style{
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
  }
  .poker-list{
    display: flex;
    margin: 0 !important;
    & li {
      list-style: none;
      margin-right: 8px;
    }
    /*& div{*/
      /*width: 32.5px;*/
      /*height: 40px;*/
      /*border-radius: 5px 5px 5px 5px;*/
      /*display: inline-block;*/
      /*background: url("/static/pokerbg.png");*/
      /*list-style: none;*/
    /*}*/
  }
  .public-Icon{
    background: url('../../assets/img/benzBMW-spirit.png');
  }
  .big{
    width: 85px!important;
    height: 85px!important;
  }
  .small{
    width: 40px!important;
    height: 40px!important;
  }
  .bcbmIcon1{
    background-position: -34px -443px;
  }
  .bcbmIcon2{
    background-position: -606px -443px;
  }
  .bcbmIcon3{
    background-position: -415px -443px;
  }
  .bcbmIcon4{
    background-position: -224px -443px;
  }
  .bcbmIcon5{
    background-position: -407px -98px;
  }
  .bcbmIcon6{
    background-position: -672px -99px;
  }
  .bcbmIcon7{
    background-position: -584px -100px;
  }
  .bcbmIcon8{
    background-position: -495px -97px;
  }
  .table-style.dialogLoading{
    border-bottom: 1px solid var(--color-border) !important;
  }
  .sibo-img{
    background: url('../../assets/img/sicbo-spirit.png');
    width: 55px;
    height: 55px;
    transform: scale(0.8);
  }
  .sb1{
    background-position: -14px -448px;
  }
  .sb2{
    background-position: -124px -448px;
  }
  .sb3{
    background-position: -235px -448px;
  }
  .sb4{
    background-position: -344px -448px;
  }
  .sb5{
    background-position: -456px -448px;
  }
  .sb6{
    background-position: -566px -448px;
  }
  .poker-box .p0{background: none;}
</style>
