<template>
  <div class="panel">
    <div class="panel-heading">
      综合报表
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header rwd-headershow">
        <el-form :inline="true" size="small">
          <el-form-item>
            <el-button size="mini" @click="onSubmit(1)">上月</el-button>
            <el-button size="mini" @click="onSubmit(0)">本月</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data">
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper scroll-container scrollCss">
              <table class="el-table lottery-table table300 compound-table" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">日期</div></th>
                  <th><div class="cell">注册人数</div></th>
                  <th><div class="cell">首充人数</div></th>
                  <th><div class="cell">投注人数</div></th>
                  <th><div class="cell">充值人数</div></th>
                  <th><div class="cell">投注单量</div></th>
                  <th><div class="cell">投注金额</div></th>
                  <th><div class="cell">中奖金额</div></th>
                  <th><div class="cell">充值笔数</div></th>
                  <th><div class="cell">充值金额</div></th>
                  <th><div class="cell">提现笔数</div></th>
                  <th><div class="cell">提现金额</div></th>
                  <th><div class="cell">活动优惠</div></th>
                  <th><div class="cell">打赏人数</div></th>
                  <th><div class="cell">打赏金额</div></th>
                  <th><div class="cell">盈利</div></th>
                  <th><div class="cell">盈率</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--日期-->
                    <td><div class="cell"><span >{{items.date}}</span></div></td>
                    <!--注册人数-->
                    <td><div class="cell"><span>{{items.registerCount}}</span></div></td>
                    <!--首充人数-->
                    <td><div class="cell"><span>{{items.firstinCount}}</span></div></td>
                    <!--投注人数-->
                    <td><div class="cell"><span >{{items.betCount}}</span></div></td>
                    <!--充值人数-->
                    <td><div class="cell"><span>{{items.inCount}}</span></div></td>
                    <!--投注单量-->
                    <td><div class="cell"><span>{{items.betCountAll}}</span></div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span>{{items.betAmount | formatMoney}}</span></div></td>
                    <!--中奖金额-->
                    <td><div class="cell"><span>{{items.returnAmount | formatMoney}}</span></div></td>
                    <!--充值笔数-->
                    <td><div class="cell"><span>{{items.inCountAll}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell"><span>{{items.inAmount | formatMoney}}</span></div></td>
                    <!--提现笔数-->
                    <td><div class="cell"><span>{{items.outCountAll}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell"><span>{{ items.outAmount | formatMoney}}</span></div></td>
                    <!--活动优惠-->
                    <td><div class="cell"><span>{{ items.activityAmount | formatMoney}}</span></div></td>
                    <!--打赏人数-->
                    <td><div class="cell"><span>{{items.tipCount}}</span></div></td>
                    <!--打赏金额-->
                    <td><div class="cell"><span>{{ items.tipAmount | formatMoney}}</span></div></td>
                    <!--盈利-->
                    <td><div class="cell"><span :class="{'color-danger' : items.profit>=0,'color-success' : items.profit<0}">{{ items.profit | formatMoney}}</span></div></td>
                    <!--盈率-->
                    <td><div class="cell"><span :class="{'color-danger' : items.profitability>=0,'color-success' : items.profitability<0}">{{ items.profitability | formatPercentage}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td><div class="cell">合计</div></td>
                    <!--注册人数-->
                    <td><div class="cell"><span>{{summaryData['registerCount']}}</span></div></td>
                    <!--首充人数-->
                    <td><div class="cell"><span>{{summaryData['firstinCount']}}</span></div></td>
                    <!--投注人数-->
                    <td><div class="cell"><span >{{summaryData['betCount']}}</span></div></td>
                    <!--充值人数-->
                    <td><div class="cell"><span>{{summaryData['inCount']}}</span></div></td>
                    <!--投注单量-->
                    <td><div class="cell"><span>{{summaryData['betCountAll']}}</span></div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span>{{summaryData['betAmount']}}</span></div></td>
                    <!--中奖金额-->
                    <td><div class="cell"><span>{{summaryData['returnAmount']}}</span></div></td>
                    <!--充值笔数-->
                    <td><div class="cell"><span>{{summaryData['inCountAll']}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell"><span>{{summaryData['inAmount']}}</span></div></td>
                    <!--提现笔数-->
                    <td><div class="cell"><span>{{summaryData['outCountAll']}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell"><span>{{summaryData['outAmount']}}</span></div></td>
                    <!--活动优惠-->
                    <td><div class="cell"><span>{{summaryData['activityAmount']}}</span></div></td>
                    <!--打赏人数-->
                    <td><div class="cell"><span>{{summaryData['tipCount']}}</span></div></td>
                    <!--打赏金额-->
                    <td><div class="cell"><span>{{summaryData['tipAmount']}}</span></div></td>
                    <!--盈利-->
                    <td colspan="2"><div class="cell"><span>{{summaryData['profit']}}</span></div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="17"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="日期"
                prop="date"
                fixed
                min-width="105">
              </el-table-column>
              <el-table-column
                prop="registerCount"
                label="注册人数"
                :min-width="screenW > 768 ? '80':'100'">
              </el-table-column>
              <el-table-column
                prop="firstinCount"
                label="首充人数"
                :min-width="screenW > 768 ? '80':'100'">
              </el-table-column>
              <el-table-column
                prop="betCount"
                label="投注人数"
                :min-width="screenW > 768 ? '80':'100'">
              </el-table-column>
              <el-table-column
                prop="inCount"
                label="充值人数"
                :min-width="screenW > 768 ? '80':'100'">
              </el-table-column>
              <el-table-column
                prop="betCountAll"
                label="投注单量"
                :min-width="screenW > 768 ? '85':'105'">
              </el-table-column>
              <el-table-column
                prop="betAmount"
                label="投注金额"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span>{{ scope.row.betAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="returnAmount"
                label="中奖金额"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span>{{ scope.row.returnAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="inCountAll"
                label="充值笔数"
                :min-width="screenW > 768 ? '85':'120'">
              </el-table-column>
              <el-table-column
                prop="inAmount"
                label="充值金额"
                :min-width="screenW > 768 ? '130':'150'">
                <template slot-scope="scope"><span>{{ scope.row.inAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="outCountAll"
                label="提现笔数"
                :min-width="screenW > 768 ? '85':'130'">
              </el-table-column>
              <el-table-column
                prop="outAmount"
                label="提现金额"
                :min-width="screenW > 768 ? '120':'130'">
                <template slot-scope="scope"><span>{{ scope.row.outAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="activityAmount"
                label="活动优惠"
                :min-width="screenW > 768 ? '110':'130'">
                <template slot-scope="scope"><span>{{ scope.row.activityAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="tipCount"
                label="打赏人数"
                :min-width="screenW > 768 ? '90':'120'">
              </el-table-column>
              <el-table-column
                prop="tipAmount"
                label="打赏金额"
                :min-width="screenW > 768 ? '90':'120'">
                <template slot-scope="scope"><span>{{ scope.row.tipAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profit"
                label="盈利"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profit>=0,'color-success' : scope.row.profit<0}">{{ scope.row.profit | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profitability"
                label="盈率"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profitability>=0,'color-success' : scope.row.profitability<0}">{{ scope.row.profitability | formatPercentage}}</span></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <!-- 数据模型结束 -->
      <popover-right
        :modal="false"
        :visible="detailShow"
        @close="detailShow=false" title="综合报表">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul>
          <li>
            <span>日期</span>
            <span>{{detailData.date}}</span>
          </li>
          <li>
            <span>注册人数</span>
            <span>{{detailData.registerCount}}</span>
          </li>
          <li>
            <span>首充人数</span>
            <span>{{detailData.firstinCount}}</span>
          </li>
          <li>
            <span>投注人数</span>
            <span>{{detailData.betCount}}</span>
          </li>
          <li>
            <span>充值人数</span>
            <span>{{detailData.inCount}}</span>
          </li>
          <li>
            <span>投注单量</span>
            <span>{{detailData.betCountAll}}</span>
          </li>
          <li>
            <span>投注金额</span>
            <span>{{detailData.betAmount}}</span>
          </li>
          <li>
            <span>中奖金额</span>
            <span>{{detailData.returnAmount}}</span>
          </li>
          <li>
            <span>充值笔数</span>
            <span>{{detailData.inCountAll}}</span>
          </li>
          <li>
            <span>充值金额</span>
            <span>{{detailData.inAmount}}</span>
          </li>
          <li>
            <span>提现笔数</span>
            <span>{{detailData.outCountAll}}</span>
          </li>
          <li>
            <span>提现金额</span>
            <span>{{ detailData.outAmount | formatMoney}}</span>
          </li>
          <li>
            <span>活动优惠</span>
            <span>{{ detailData.activityAmount | formatMoney}}</span>
          </li>
          <li>
            <span>打赏人数</span>
            <span>{{detailData.tipCount}}</span>
          </li>
          <li>
            <span>打赏金额</span>
            <span>{{ detailData.tipAmount | formatMoney}}</span>
          </li>
          <li>
            <span>盈利</span>
            <span :class="{'color-danger' : detailData.profit>=0,'color-success' : detailData.profit<0}">{{ detailData.profit | formatMoney}}</span>
          </li>
          <li>
            <span>盈率</span>
            <span :class="{'color-danger' : detailData.profitability>=0,'color-success' : detailData.profitability<0}">{{ detailData.profitability | formatMoney}}</span>
          </li>
        </ul>
      </popover-right>
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import Scroll from '@/components/Scroll'
import {exportExl} from '@/utils/Time'
import {formatMoney, getSummaries, formatPercentage} from '@/filters/index'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      rwdbtnVisible: false,
      detailShow: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      allList: [],
      detailData: {
        date: '',
        registerCount: '',
        firstinCount: '',
        betCount: '',
        inCount: '',
        betCountAll: '',
        betAmount: '',
        returnAmount: '',
        inCountAll: '',
        outCountAll: '',
        outAmount: '',
        activityAmount: '',
        tipCount: '',
        tipAmount: '',
        profit: '',
        profitability: ''
      },
      summaryColumns: {'registerCount': '2', 'firstinCount': '2', 'betCount': '2', 'inCount': '2', 'betCountAll': '2', 'betAmount': '1', 'returnAmount': '1', 'inCountAll': '2', 'outCountAll': '2', 'inAmount': '1', 'outAmount': '1', 'activityAmount': '1', 'tipCount': '2', 'tipAmount': '1', 'profit': '1'},
      summaryData: [],
      month: ''
    }
  },
  components: {
    Scroll
  },
  methods: {
    exportExcel () {
      if (this.month === '' || this.month === undefined || this.month === null) {
        this.msgError('请选择月份')
        return
      }
      this.submitLoading = true
      let submitData = {}
      submitData.month = this.month
      let obj = this
      Api.platformReport(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data
        let excel = '<tr><th>日期</th><th>注册人数</th><th>首充人数</th><th>投注人数</th><th>充值人数<th>投注单量</th><th>投注金额</th><th>中奖金额</th><th>充值笔数</th><th>充值金额</th><th>提现笔数</th><th>提现金额</th><th>活动优惠</th><th>打赏人数</th><th>打赏金额</th><th>损益</th><th>盈率</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].date}</th>
            <th>${excelarr[i].registerCount}</th>
            <th>${excelarr[i].firstinCount}</th>
             <th>${excelarr[i].betCount}</th>
            <th>${excelarr[i].inCount}</th>
            <th>${excelarr[i].betCountAll}</th>
            <th>${formatMoney(excelarr[i].betAmount)}</th>
            <th>${formatMoney(excelarr[i].returnAmount)}</th>
            <th>${excelarr[i].inCountAll}</th>
            <th>${formatMoney(excelarr[i].inAmount)}</th>
            <th>${excelarr[i].outCountAll}</th>
            <th>${formatMoney(excelarr[i].outAmount)}</th>
            <th>${formatMoney(excelarr[i].activityAmount)}</th>
            <th>${excelarr[i].tipCount}</th>
            <th>${formatMoney(excelarr[i].tipAmount)}</th>
            <th>${formatMoney(excelarr[i].profit)}</th>
            <th>${formatPercentage(excelarr[i].profitability)}</th>
          </tr>`
        }
        let title = ''
        if (this.month === 0) {
          title = '本月'
        } else {
          title = '上月'
        }
        exportExl(excel, '综合报表（' + title + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    onSubmit (month) {
      // console.log('submit!')
      this.month = month
      this.getOrderList(month)
    },
    getOrderList (month) {
      let submitData = {}
      submitData.month = month
      this.loading = true
      let obj = this
      Api.platformReport(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
<style scoped>
  .el-form--inline .el-form-item{
    margin-bottom: 0px !important;
  }
</style>
