<template>
  <div class="panel">
    <div class="panel-heading">
      服务器管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openServerForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">服务器</div></th>
                  <th ><div class="cell">主ip</div></th>
                  <th ><div class="cell">机房</div></th>
                  <th ><div class="cell">带宽门槛</div></th>
                  <th ><div class="cell">备用服务器</div></th>
                  <th ><div class="cell">备用服务器主ip</div></th>
                  <th ><div class="cell">备用服务器机房</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--服务器-->
                    <td ><div class="cell"><span @click="editOne(items)" class="color-blue hoverline-effet">{{items.server}}</span></div></td>
                    <!--主ip-->
                    <td ><div class="cell"><span>{{items.defaultIp}}</span></div></td>
                    <!--机房id-->
                    <td ><div class="cell"><span>{{items.dataCenterId === 1 ? '微软':'阿里'}}</span></div></td>
                    <!--带宽门槛-->
                    <td ><div class="cell"><span>{{items.bandwidthThreshold + ' mbps'}}</span></div></td>
                    <!--备用服务器-->
                    <td ><div class="cell"><span>{{items.backupServer}}</span></div></td>
                    <!--备用服务器主ip-->
                    <td ><div class="cell"><span>{{items.backupDefaultIp}}</span></div></td>
                    <!--备用服务器机房id-->
                    <td ><div class="cell"><span>{{items.backupDataCenterId === 1 ? '微软':'阿里'}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="11"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="服务器"
                fixed
                min-width="120">
                <!--<template slot-scope="scope">-->
                  <!--<span class="color-blue">{{scope.row.server}}</span>-->
                <!--</template>-->
                <template slot-scope="scope">
                  <span class="color-blue  hoverline-effet" title="修改" @click="editOne(scope.row)">{{ scope.row.server}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="主ip"
                prop="defaultIp"
                min-width="150">
              </el-table-column>
              <el-table-column
                label="机房"
                min-width="100">
                <template slot-scope="scope">
                  <span>{{scope.row.backupDataCenterId === 1 ? '微软':'阿里'}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="带宽门槛"
                min-width="100">
                <template slot-scope="scope">
                  <span>{{scope.row.bandwidthThreshold + ' mbps'}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="备用服务器"
                prop="backupServer"
                min-width="150">
              </el-table-column>
              <el-table-column
                label="备用服务器主ip"
                prop="backupDefaultIp"
                min-width="150">
              </el-table-column>
              <el-table-column
                label="备用服务器机房"
                min-width="120">
                <template slot-scope="scope">
                  <span>{{scope.row.backupDataCenterId === 1 ? '微软':'阿里'}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <br>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="editOne(detailData)">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="服务器管理"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>服务器</span>
            <span class="color-blue">{{detailData.server}}</span>
          </li>
          <li>
            <span>主ip</span>
            <span>{{detailData.defaultIp}}</span>
          </li>
          <li>
            <span>机房</span>
            <span>{{detailData.backupDataCenterId === 1 ? '微软':'阿里'}}</span>
          </li>
          <li>
            <span>带宽门槛(mbps)</span>
            <span>{{detailData.bandwidthThreshold + ' mbps'}}</span>
          </li>
          <li>
            <span>备用服务器</span>
            <span>{{detailData.backupServer}}</span>
          </li>
          <li>
            <span>备用服务器主ip</span>
            <span>{{detailData.backupDefaultIp}}</span>
          </li>
          <li>
            <span>备用服务器机房</span>
            <span>{{detailData.backupDataCenterId === 1 ? '微软':'阿里'}}</span>
          </li>
        </ul>
      </popover-right>
      <network-server-form
        :data="selectData"
        :visible="NetworkServerShow"
        v-on:onClose="NetworkServerShow=false"
      ></network-server-form>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import NetworkServerForm from '@/views/newModal/NetworkServerForm'
export default {
  data () {
    return {
      NetworkServerShow: false,
      pageNum: 1,
      pageSize: 20,
      total: 0,
      detailShow: false,
      detailData: {},
      detailIndex: -1,
      rwdbtnVisible: false,
      tableLine: true,
      // 列表数据
      allList: [
      ],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {}
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    editOne (val) {
      // console.log(val)
      this.selectData = val
      this.NetworkServerShow = true
      this.rwdbtnVisible = false
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getServerList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    openServerForm () {
      this.NetworkServerShow = true
      this.selectData = {}
    },
    openDetails (row, event, column) {
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    NetworkServerForm
  }
}
</script>
