<template>
  <div class="panel">
    <div class="panel-heading">
      系统撤单
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="CancelBettingForm= true">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="彩种" prop="lotteryCode">
            <el-select size="min"  v-model="ruleForm.lotteryCode" placeholder="全部" class="width-search140">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.lotteryCode"
                :label="item.lotteryName"
                :value="item.lotteryCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="撤单期号" prop="issue">
            <el-input v-model="ruleForm.issue" class="width-search110" placeholder="请输入期号"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data">
        <div class="report-nav rb-row pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768" >
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" v-show="screenW<=768" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="彩种" prop="lotteryCode">
                      <el-select size="min"  v-model="ruleForm.lotteryCode" placeholder="全部" class="width-search140">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.lotteryCode"
                          :label="item.lotteryName"
                          :value="item.lotteryCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="撤单期号" prop="issue">
                      <el-input v-model="ruleForm.issue" class="width-issue" placeholder="请输入期号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.startTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.endTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th ><div class="cell">彩种</div></th>
                      <th ><div class="cell">撤单期号</div></th>
                      <th ><div class="cell">操作人</div></th>
                      <th ><div class="cell">备注</div></th>
                      <th width="170px"><div class="cell">撤单时间</div></th>
                    </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell"><span class="color-blue">{{items.lotteryName}}</span></div></td>
                      <td><div class="cell"><span>{{items.issue}}</span></div></td>
                      <td><div class="cell"><span>{{items.operator}}</span></div></td>
                      <td><div class="cell max-width160 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '充值方式', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                        <!--<span v-if="items.remarkFlag === 0">{{items.remark}}</span>-->
                        <!--<span style="max-width: 150px" v-else class="hoverline-effet hover-black " @click="openContentForm('remark', '备注', items)" v-html="items.remarkContent"></span></div></td>-->
                        <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div></td>
                      <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;"
            >
              <el-table-column
                label="彩种"
                min-width="100"
                fixed
              >
                <template slot-scope="scope">
                  <div class="color-blue">{{scope.row.lotteryName}}</div>
                </template>
              </el-table-column>
              <el-table-column
                label="撤单期号"
                prop="issue"
                :min-width="screenW > 768 ? '100':'120'">
              </el-table-column>
              <el-table-column
                label="操作人"
                prop="operator"
                min-width="120">
              </el-table-column>
              <el-table-column
                label="备注"
                prop="remark"
                min-width="100" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                label="撤单时间"
                prop="gmtCreated"
                width="180">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="系统撤单"
        :visible="detailShow"
        @close="detailShow=false">
        <ul>
          <li>
            <span>彩种</span>
            <span class="color-blue">{{detailData.lotteryName}}</span>
          </li>
          <li>
            <span>撤单期号</span>
            <span>{{detailData.issue}}</span>
          </li>
          <li>
            <span>操作人</span>
            <span>{{detailData.operator}}</span>
          </li>
          <li>
            <span>备注</span>
            <span>{{detailData.remark}}</span>
          </li>
          <li>
            <span>撤单时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
        </ul>
      </popover-right>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <cancel-betting-form
      :visible = "CancelBettingForm"
      :data="options"
      v-on:onClose = "CancelBettingForm=false"
    ></cancel-betting-form>
  </div>
</template>
<script>
import CancelBettingForm from '@/views/newModal/CancelBettingForm'
import {validateQueryDateTwo} from '@/utils/validateRules'
import Api from '@/api/sys'
import {DateFormat} from '@/utils/Time'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {getEllipsisFlag} from '@/utils'
export default {
  data () {
    return {
      rwdbtnVisible: false,
      detailShow: false,
      avatorVisible: false,
      isActive: false,
      DeleteReportForm: false,
      CancelBettingForm: false,
      total: 0,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        lotteryCode: '',
        issue: '',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      allList: [],
      options: [],
      pageNum: 1,
      pageSize: 20,
      detailData: {
        lotteryName: '',
        issue: '',
        operator: '',
        remark: '',
        gmtCreated: ''
      },
      ellipsisColumns: [{name: 'remark', width: 169, formatterFunc: null}]
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    CancelBettingForm,
    Scroll,
    DatetimePicker
  },
  created () {
    this.getLotteryData()
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    getLotteryData () {
      let submitData = {}
      Api.getPlatformLottery(submitData, function () {
      }).then((res) => {
        let data = res.data
        this.options = data.filter(v => v.lotteryCode !== '0101')
      })
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      if (this.ruleForm.startTime) {
        submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      }
      if (this.ruleForm.endTime) {
        submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.sysCancelBettingList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.cancelList
        // getEllipsisHtml(this.ellipsisColumns, allList)
        this.allList = allList
        this.avatorVisible = false
        this.total = res.data.total
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
