<template>
  <div class="panel">
    <div class="panel-heading">
      系统广播
      <div class="float-right panel-heading-right">
        <!--        v-if="screenW>768"-->
        <el-button size="mini" type="primary" @click="setAutoBroadcast"  >自动广播设置</el-button>
        <el-button
          @click="addBroadcast"
          size="mini"
          type="success"
          icon="el-icon-plus">
          新增广播
        </el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <!--        <div style="border:1px solid red;width:200px;height:200px;">-->
        <!--          <time-date-p v-model="timedatevalue" :propsShow="propsShow" :title="timetitle"></time-date-p>-->
        <!--        </div>-->
        <el-form :inline="true" :model="ruleForm" ref="ruleForm"  size="small" class="small-padding-1r webmaster-manage" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="内容关键字" prop="content">
            <el-input size="min" v-model="ruleForm.content" class="width-forword-input"  placeholder="请输入关键字"></el-input>
          </el-form-item>
          <el-form-item label="广播类型" prop="messageType">
            <el-select size="min" v-model="ruleForm.messageType" class="width80" placeholder="全部" >
              <el-option v-for="n in messageType" :label="n.name" :value="n.id" :key="n.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="状态" prop="state">
            <el-select size="min" v-model="ruleForm.state" class="width-midstatus" placeholder="全部" >
              <el-option label="全部" value='0'></el-option>
              <el-option label="广播中" value='1'></el-option>
              <el-option label="未广播" value='2'></el-option>
              <el-option label="已过期" value='3'></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="对象" prop="object">
            <el-input size="min" v-model="ruleForm.object" class="width80" placeholder=""></el-input>
          </el-form-item>
          <el-form-item label="操作人" prop="operator">
            <el-input size="min" v-model="ruleForm.operator" class="width80"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-searchtime-broadcast"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-searchtime-broadcast"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data"  :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none" v-if="screenW >768">
          <!--rwd在右邊的按鈕-->
          <!--          <div class="search-rwdbox" >-->
          <!--           <div class="rwd-searchbox" v-if="screenW <=768">-->
          <!--              <div class="search-rwdbtn eeeeeee1">-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
        <div class="table-style"   v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <!--====删除；p-ytrdsazAZSXHJHDXZ=====-->
          <div class="report-nav rb-row delbtn">
            <!--            <el-button size="mini" icon="el-icon-delete" v-if="screenW >768 || isActive"  @click="deleteRows">删除0</el-button>-->
            <el-button size="mini" icon="el-icon-delete"  v-if="screenW >768"  @click="deleteRows">删除</el-button>
            <el-button size="mini" icon="el-icon-delete" v-if="screenW < 768"  @click="deleteRows">删除</el-button>
            <!--            <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">-->
            <!--              <span v-if="isActive">取消删除</span>-->
            <!--              <span v-else>删除1</span>-->
            <!--            </el-button>-->
            <div class="search-rwdbox" >
              <div class="rwd-searchbox" v-if="screenW <=768">
                <div class="search-rwdbtn">
                  <popover-right
                    :visible="avatorVisible"
                    @close="avatorVisible=false">
                    <el-form  size="small" :inline="false" ref="ruleForm" label-position="left"  label-width="80px" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                      <el-form-item label="内容关键字" prop="content">
                        <el-input size="min" v-model="ruleForm.content" class="width-forword" style="width:100px;" placeholder="请输入关键字查询"></el-input>
                      </el-form-item>
                      <el-form-item label="广播类型" prop="messageType">
                        <el-select size="min" v-model="ruleForm.messageType" class="width80" placeholder="全部" >
                          <el-option v-for="n in messageType" :label="n.name" :value="n.id" :key="n.id"></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item label="状态" prop="state">
                        <el-select size="min" v-model="ruleForm.state" class="width-midstatus" placeholder="全部" >
                          <el-option label="全部" value='0'></el-option>
                          <el-option label="广播中" value='1'></el-option>
                          <el-option label="未广播" value='2'></el-option>
                          <el-option label="已过期" value='3'></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item label="对象" prop="object">
                        <el-input size="min" v-model="ruleForm.object" class="width-forword" placeholder=""></el-input>
                      </el-form-item>
                      <el-form-item label="操作人" prop="operator">
                        <el-input size="min" v-model="ruleForm.operator" class="width-forword" placeholder=""></el-input>
                      </el-form-item>
                      <el-form-item label="开始时间" prop="startDate">
                        <template>
                          <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                        </template>
                      </el-form-item>
                      <el-form-item label="结束时间" prop="endDate">
                        <template>
                          <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                        </template>
                      </el-form-item>
                    </el-form>
                    <div class="search-btn" slot="btn">
                      <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                      <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                    </div>
                  </popover-right>
                  <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
                </div>
              </div>
            </div>
          </div>

          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <th width="22px"><div class="table-id"></div></th>
                  <th width="400px"><div class="cell">广播内容</div></th>
                  <th ><div class="cell">广播类型</div></th>
                  <th ><div class="cell">状态</div></th>
                  <th ><div class="cell">广播对象</div></th>
                  <th ><div class="cell">操作人</div></th>
                  <th width="200px"><div class="cell">开始播放时间</div></th>
                  <th width="200px"><div class="cell">结束播放时间</div></th>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div  class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell broadcast-content-style wordsOverflow"><span class="color-blue hoverline-effet"  :title="items.content"  @click="openTenantEditForm(items)">{{items.content}}</span></div></td>
                      <td><div class="cell"><span>{{items.messageTypeName}}</span></div></td>
                      <td><div class="cell"><span>{{items.state|translateState}}</span></div></td>
                      <td ><div class="cell broadcast-object-style wordsOverflow" :id="'multipleTableOperationColumn' + index"><span class="cursor-pointer" :id="'multipleTableOperationContent' + index" @click="openContentForm(tanslateBroadcastType(items),'广播对象','multipleTableOperationColumn' + index, 'multipleTableOperationContent' + index)" >{{tanslateBroadcastType(items)}}</span></div></td>
                      <td><div class="cell"><span >{{items.operator}}</span></div></td>
                      <td ><div class="cell"><span >{{items.startTime}}</span></div></td>
                      <td ><div class="cell"><span >{{items.endTime||'--'}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              :data="allList"
              ref="multipleTableApp"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                prop="id"
                type="selection"
                fixed
                width="34"  v-if="isActive">
              </el-table-column>
              <el-table-column
                label="广播内容"
                fixed
                min-width="125">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改"  @click="openTenantEditForm(scope.row)">{{ scope.row.content}}</span>
                  <span v-else class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.content}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="messageType"
                label="广播类型"
                min-width="120" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span  class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.messageTypeName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="name"
                label="状态"
                min-width="120" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span  class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.state|translateState}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="admin"
                label="广播对象"
                min-width="140">
                <template slot-scope="scope">
                  <span  class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ tanslateBroadcastType(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="topAgent"
                label="操作人"
                min-width="150">
                <template slot-scope="scope">
                  <span  class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.operator}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="开始播放时间"
                width="160">
                <template slot-scope="scope">
                  <span  class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.startTime}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="结束播放时间"
                fixed="right"
                width="170">
                <template slot-scope="scope">
                  <span  class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.endTime||'--'}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <!--        <span @click="updateActivityStatus(detailData)">-->
          <!--        {{detailData.status === '启用' ?'禁用':'启用'}}-->
          <!--        </span>-->
          <span @click="editOne(detailData)">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="系统广播"
        @close="detailShow=false">
        <ul >
          <li>
            <span >广播内容</span>
            <span class="color-blue">{{detailData.content}}</span>
          </li>
          <li>
            <span>状态</span>
            <span>{{detailData.state |translateState}}</span>
          </li>
          <li>
            <span>广播对象</span>
            <span>{{detailData.receiverTypeName}}</span>
          </li>
          <li>
            <span>操作人</span>
            <span>{{detailData.operator}}</span>
          </li>
          <li>
            <span>开始播放时间</span>
            <span>{{detailData.startTime}}</span>
          </li>
          <li>
            <span>结束播放时间</span>
            <span>{{detailData.endTime}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <site-edit-form></site-edit-form>
    <site-new-form :appEditSatartTime="appEditSatartTime" :visible="addNewSiteForm" :braodcastDialogStyle="braodcastDialogStyle" :title="title" :data="broadcastData" @onClose="addNewSiteFormClose"></site-new-form>
    <auto-broadcast-setting-form
      :data="selectData"
      :visible="autoBroadcastShow"
      v-on:onClose="autoBroadcastShow=false"
    ></auto-broadcast-setting-form>
  </div>
</template>
<script>
import {validateQueryDateTwo} from '@/utils/validateRules'
import TenantIP from './TenantIP'
import SiteNewForm from '../newModal/SiteNewBroadcastForm'
import Api from '@/api/tenant'
// import {DateFormat} from '@/utils/Time'
import Scroll from '@/components/Scroll'
// 查看详情侧边窗
import SiteEditForm from '../newModal/SiteEditForm'
import AutoBroadcastSettingForm from '../newModal/AutoBroadcastSettingForm'
import DatetimePicker from '@/components/DatetimePicker'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      timedatevalue: '',
      propsShow: false,
      timetitle: 'fuck',
      title: '',
      checkAll: false, // 是否全选
      TenantMaintainShow: false, // 是否开启维护弹窗
      TenantIPShow: true, // 是否开启IP绑定弹窗
      ImgFormatShow: false, // 是否开启图片规格弹窗
      addNewSiteForm: false, // 是否开启站长开户
      selectData: {},
      broadcastData: {},
      checkedCities: [],
      autoBroadcastShow: false,
      isIndeterminate: false,
      btnShow: false,
      loading: false,
      rwdNumber: '',
      loadingMsg: '正在拼命加载中...',
      command: 0,
      isShow: false,
      appEditSatartTime: false,
      braodcastDialogStyle: 1, // 新增广播弹框状态
      // isActive: false,
      isActive: true,
      avatorVisible: false,
      tableLine: true,
      messageType: [
        {id: 0, name: '全部'},
        {id: 1, name: '开奖延迟'},
        {id: 2, name: '开奖纠错'},
        {id: 3, name: '补充开奖'},
        {id: 4, name: '系统撤单'},
        {id: 5, name: '棋牌撤单'},
        {id: 6, name: '手动广播'},
        {id: 7, name: '停售通知'}
      ],
      ruleForm: {
        content: '',
        messageType: 0,
        state: '0',
        name: '',
        startDate: '',
        endDate: '',
        object: '',
        operator: '',
        webState: 0,
        cmsState: 0,
        webMaintenanceEnd: '', // 前台维护完成时间
        cmsMaintenanceEnd: ''// 后台维护完成时间
      },
      detailData: {
        content: '',
        name: '',
        admin: '',
        topAgent: '',
        gmtModified: '',
        gmtCreated: ''
      },
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    addBroadcast () {
      this.addNewSiteForm = !this.addNewSiteForm
      this.title = '新增广播'
      this.braodcastDialogStyle = 1
      this.broadcastData = null
    },
    editOne (val) {
      this.addNewSiteForm = !this.addNewSiteForm
      this.broadcastData = this.detailData
      this.title = '编辑广播'
      this.braodcastDialogStyle = 2
      this.rwdbtnVisible = false
      this.appEditSatartTime = true
      // this.selectData = val
      // this.SettingActivityForm = true
      // this.rwdbtnVisible = false
    },
    openTenantEditForm (v) {
      this.broadcastData = v
      this.addNewSiteForm = !this.addNewSiteForm
      this.title = '编辑广播'
      this.appEditSatartTime = false
      this.braodcastDialogStyle = 2
      // this.rwdbtnVisible = false
    },
    setAutoBroadcast () {
      Api.getTenantBroadcastConfig({}).then((res) => {
        this.selectData = res.data
        this.autoBroadcastShow = true
      })
    },
    operatorDeleteBroadcast () {
      let submitData = {}
      submitData.ids = ''
      if (this.screenW < 1023) {
        for (let i = 0; i < this.$refs.multipleTableApp.selection.length; i++) {
          submitData.ids += ',' + this.$refs.multipleTableApp.selection[i].id
        }
        if (submitData.ids !== '') {
          submitData.ids = submitData.ids.substr(1)
        }
      } else {
        submitData.ids = this.checkedCities.join(',')
      }
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.deleteTenantBroadcast(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.checkedCities = []
        this.msgSuccess('删除成功')
        this.checkAll = false
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW < 1023) {
        if (this.$refs.multipleTableApp.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.checkedCities.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      let broadingStatus = false
      for (let i = 0; i < this.checkedCities.length; i++) {
        for (let j = 0; j < this.allList.length; j++) {
          if (this.checkedCities[i] === this.allList[j].id && this.allList[j].state === 1) {
            broadingStatus = true
          }
        }
      }
      if (broadingStatus) {
        this.msgConfirm('当前广播正处于广播中状态，是否确定删除', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.operatorDeleteBroadcast()
        })
      } else {
        this.operatorDeleteBroadcast()
      }
    },
    openTenantIPForm (v) {
      // console.log(3333)
      this.$router.push({
        path: '/platform/TenantIP',
        query: {
          content: v.content
        }
      })
    },
    getTenantMaintainInfo () {
      let submitData = {}
      submitData.content = this.ruleForm.content
      this.loading = true
      let obj = this
      Api.maintenance(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm = res.data.tenant
        this.ruleForm.content = this.data.content
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    tanslateBroadcastType (item) {
      let str = ''
      if (item.receiverType === 1) {
        str = '全平台'
      } else {
        str = item.receiverList
      }
      return str
    },
    onSubmit () {
      this.avatorVisible = false
      this.getOrderList(1, 20)
    },
    openContentForm (value, type, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(value, type, {
        confirmButtonText: '确定'
      })
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    TenantMaintain (v) {
      // console.log('维护操作')
      this.$router.push({
        path: '/platform/platformMaintainForm',
        query: {
          content: v.content,
          name: v.name
        }
      })
      // this.TenantMaintainShow = true
      // this.selectData = key
    },
    ImgFormat (v) {
      // console.log('图片规格操作')
      this.$router.push({
        path: '/platform/ImgFormofForm',
        query: {
          content: v.content
        }
      })
    },
    Token (key) {
      let submitData = {}
      let isToken = 1
      if (Number(key.isToken) === 1) {
        isToken = 0
      }
      submitData.isToken = isToken
      submitData.content = key.content
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateTenantToken(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        key.isToken = !key.isToke
        this.getOrderList(this.$refs.pagination.internalCurrentPage, this.$refs.pagination.internalPageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.msgSuccess(`操作成功`)
      })
    },
    SetTenantState (key) {
      let msg = ''
      let tipMsg = ''
      let submitData = {}
      let state = 1
      if (Number(key.state) === 1) {
        state = 0
        msg = '确定要关闭该站点吗'
        tipMsg = '关闭成功'
      } else {
        msg = '确定要开启该站点吗'
        tipMsg = '开启成功'
      }
      this.msgConfirm(msg, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        submitData.state = state
        submitData.content = key.content
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.updateTenantState(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          key.state = !key.state
          this.getOrderList(this.$refs.pagination.internalCurrentPage, this.$refs.pagination.internalPageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess(tipMsg)
        })
      })
    },
    handleCommand (command) {
      if (!command.name) return
      let arr = {'ImgFormatShow': this.ImgFormat,
        'Token': this.Token,
        'TenantIPShow': this.openTenantIPForm,
        'TenantMaintainShow': this.TenantMaintain,
        'SetTenantState': this.SetTenantState
      }
      if (typeof arr[command.name] === 'function') {
        arr[command.name](command.key)
      }
    },
    // 打开侧边窗
    seeDetail (res) {
      this.$store.dispatch('setSlideShow', true)
    },
    // 站长开户窗口
    addNewSiteFormClose () {
      this.addNewSiteForm = false
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      // Object.assign(submitData, this.ruleForm)
      submitData.pageNumber = pageNum
      submitData.pageSize = pageSize
      if (this.ruleForm.startDate) {
        submitData.startDate = this.ruleForm.startDate
      }
      if (this.ruleForm.endDate) {
        submitData.endDate = this.ruleForm.endDate
      }
      if (this.ruleForm.messageType) {
        submitData.messageType = this.ruleForm.messageType
      }
      if (this.ruleForm.content) {
        submitData.content = this.ruleForm.content
      }
      if (this.ruleForm.operator) {
        submitData.operator = this.ruleForm.operator
      }
      if (this.ruleForm.state !== '0') {
        submitData.state = Number(this.ruleForm.state)
      }
      if (this.ruleForm.object) {
        submitData.receiverList = this.ruleForm.object
      }
      this.loading = true
      let obj = this
      Api.listTenantBroadcast(submitData).then((res) => {
        obj.loading = false
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    }
  },
  filters: {
    translateState (v) {
      let str = ''
      switch (v) {
        case 1:
          str = '广播中'
          break
        case 2:
          str = '未广播'
          break
        default:
          str = '已过期'
      }
      return str
    }
  },
  components: {
    Scroll,
    TenantIP,
    SiteEditForm,
    SiteNewForm,
    DatetimePicker,
    AutoBroadcastSettingForm
  }
}
</script>
<style>
  .width-searchtime-broadcast{
  & .el-input__inner{
      width:170px!important;
    }
  & .el-input__icon{
      line-height: 10px;
    }
  }
  .wordsOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .broadcast-content-style{
    max-width: 380px;
  }
  .broadcast-object-style{
    max-width: 300px;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .width110{
    width:100px;
  }
  .width60{
    width:60px;
  }
  .width-forword-input{
    width:100px;
  }
  .width80{
    width: 80px;
  }
</style>
