<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal banner-modal">
      <div v-if="statusFetch">数据加载中123...</div>
      <template v-else>
        <div class="imgUpload banner-style" v-loading="loading" element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass" >
          <simple-croppa
            :width="limitWidth"
            :height="limitHeight"
            :previewWidth="previewWidth"
            :previewHeight="previewHeight"
            :backgroundShow="false"
            :placeholder="title"
            ref="activityCover"
            v-model="coverCroppa"
            :adjustBtnShow="true"
            :zoomSpeed="20"
            :recommends="[]"
            @move="handleCoverMove"
            @zoom="handleCoverZoom"
            @new-image="handleCoverNewImage"
            @image-remove="handleCoverRemove"
            :initImage="initImage">
            <span slot="operArea" class="oper-area">
                <el-button-group>
                  <!--<el-button type="primary" icon="fa fa-camera-retro" size="mini" @click="$refs.activityCover.chooseFile()" title="选择图片"></el-button>-->
                  <el-button type="primary" icon="el-icon-close" size="mini" title="移除图片" @click="coverCroppa.remove();coverCroppa.refresh();initImage=''"></el-button>
                </el-button-group>
            </span>
            <span slot="cover" class="cover" @click="coverCroppa.remove();coverCroppa.chooseFile()">
                <!--<span>{{title}}</span>-->
                <span class="flag"><i class="fa fa-camera-retro"></i></span>
                <span class="text-center picture-size-style" >图片尺寸 <em>{{limitWidth}}*{{limitHeight}}</em></span>
            </span>
          </simple-croppa>
        </div>
        <div class="banner-selectedbox">
          <el-form :model="form" ref="form" :rules="rules" class="no-padding margin-t">
            <el-form-item label="链接地址" :label-width="screenW > 1023 ? '80px':''" prop="link">
              <el-col >
                <el-select v-model="form.link" placeholder="请选择连接位置" >
                  <el-option
                    v-for="item in options"
                    :key="item.name"
                    :label="item.name"
                    :value="item.opvalue">
                  </el-option>
                </el-select>
              </el-col>
              <template v-if="form.link === ''">
                <el-col>
                  <el-input v-model="form.otherLink" placeholder="自定义链接请使用http://或https开头" class="margin-t4"></el-input>
                </el-col>
              </template>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="readOnly" type="primary" @click="saveForm" :loading="submitLoading" size="mini">{{submitLoading ? '正在加载中' :'确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import SimpleCroppa from '@/components/SimpleCroppa'
import Api from '@/api/sys'
import {validateRules} from '@/utils/validateRules'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateLink = (rule, value, callback) => {
      if (this.form.link === '') {
        let vdt = validateRules.vdata(this.form.otherLink, {
          'required': {msg: '请输入自定义链接地址'},
          'url': {msg: '格式错误，需以http://或https://开头'},
          'maxlength': {param: '127', msg: '最大值不能超过127位'},
          'minlength': {param: '6', msg: '最小值不能低于6位'}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
        }
      }
      callback()
    }
    return {
      previewWidth: null,
      previewHeight: null,
      showBlogForm: false,
      statusFetch: false,
      coverCroppa: {},
      initImage: '',
      croppa: {},
      readOnly: false,
      hi: true,
      linkVisible: false,
      form: {
        name: '',
        link: '首页',
        linkName: '',
        otherLink: ''
      },
      options: [
        {name: '首页', opvalue: '/index'},
        {name: '购彩大厅', opvalue: '/lotteryHall'},
        {name: '手机购彩', opvalue: '/mobile'},
        {name: '活动中心', opvalue: '/activity'},
        {name: '帮助指南', opvalue: '/help'},
        {name: '其它', opvalue: ''}
      ],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      type: '',
      limitWidth: 0,
      limitHeight: 0,
      hasNewCover: false,
      rules: {
        link: [
          { validator: validateLink, trigger: 'blur' }
        ]
      }
    }
  },
  components: {
    SimpleCroppa
  },
  props: {
    visible: Boolean,
    data: {
      type: Object,
      default: () => {
        return {}
      }
    },
    title: String,
    width: {
      type: Number,
      default: () => {
        return this.limitWidth
      }
    },
    height: {
      type: Number,
      default: () => {
        return this.limitHeight
      }
    }
  },
  methods: {
    closeClear () {
      this.initImage = ''
      this.$emit('onClose')
    },
    handleCoverMove () {
      this.hasNewCover = true
    },
    handleCoverZoom () {
      this.hasNewCover = true
    },
    handleCoverRemove () {
      this.hasNewCover = false
    },
    handleCoverNewImage () {
      this.hasNewCover = true
    },
    saveForm () {
      this.submitLoading = true
      this.$refs['form'].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = new FormData()
        if (!this.form.id && !this.coverCroppa.getChosenFile()) {
          this.submitLoading = false
          this.msgError('请上传图片')
          return
        }
        if (this.form.id) {
          submitData.append('id', this.form.id)
        }
        if (this.form.link === '') {
          submitData.append('link', this.form.otherLink)
        } else {
          submitData.append('link', this.form.link)
        }
        let obj = this
        if (this.coverCroppa.getChosenFile()) {
          this.coverCroppa.generateBlob((blob) => {
            let chosenFile = this.coverCroppa.getChosenFile()
            let filename = 'default.png'
            if (chosenFile) {
              filename = this.coverCroppa.getChosenFile().name
            }
            submitData.append('image-file', blob, filename)
            Api.saveImageBannerImgLottery(submitData, function () {
              obj.submitLoading = false
            }).then((res) => {
              this.msgSuccess('保存成功')
              this.$nextTick(function () {
                obj.submitLoading = false
                this.showBlogForm = false
              })
              this.$parent.getBanner()
            })
          }, 'image/png', 1)
          return
        }
        Api.saveImageBannerImgLottery(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.$nextTick(function () {
            obj.submitLoading = false
            this.showBlogForm = false
          })
          this.$parent.getBanner()
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.$nextTick(() => {
          let contain = document.querySelector('.cropper-wrapper')
          let offsetWidth = contain.offsetWidth
          contain.style.height = offsetWidth * 0.3 + 'px'
          if (this.screenW <= 768) {
            this.previewWidth = offsetWidth
            this.previewHeight = offsetWidth * 0.3
          } else {
            this.previewWidth = 800
            this.previewHeight = 240
          }
          this.loading = true
          this.$nextTick(function () {
            // this.initData()
            // console.log('111')
            this.form.id = this.data.id
            this.form.linkName = this.data.linkName
            this.form.name = this.data.name
            this.initImage = this.data.url
            this.limitWidth = this.data.width
            this.limitHeight = this.data.height
            if (this.data.linkName === '其它') {
              this.form.otherLink = this.data.link
              this.form.link = ''
            } else {
              if (!this.form.id) {
                this.form.link = '/index'
                this.form.otherLink = ''
              } else {
                this.form.link = this.data.link
                this.form.otherLink = ''
              }
            }
            this.loading = false
          })
        })
      }
    },
    data (nv) {
      // console.log('nv', nv)
    }
  }
}
</script>
