<template>
  <div class="panel">
    <div class="panel-heading">
      站长报表
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="排序" prop="sort">
            <el-select size="min"  v-model="ruleForm.sort" placeholder="全部" class="width-sixwordselect">
              <el-option label="投注人数递减" value="1"></el-option>
              <el-option label="首充递减" value="2"></el-option>
              <el-option label="投注递减" value="3"></el-option>
              <el-option label="损益递减" value="4"></el-option>
              <el-option label="盈率递减" value="5"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input size="min" v-model="ruleForm.tenantCode"  class="width-forword" placeholder="请输入站长编码"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form :model="ruleForm" ref="ruleForm" size="small" v-if="screenW<=768" :inline="false" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="排序" prop="sort">
                      <el-select size="min"  v-model="ruleForm.sort" placeholder="全部">
                        <el-option label="投注人数递减" value="1"></el-option>
                        <el-option label="首充递减" value="2"></el-option>
                        <el-option label="投注递减" value="3"></el-option>
                        <el-option label="损益递减" value="4"></el-option>
                        <el-option label="盈率递减" value="5"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-input size="min" v-model="ruleForm.tenantCode"  placeholder="请输入站长编码"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.startTime"-->
                        <!--type="date" :editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.endTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <!--<el-form-item class="post-btn">-->
                      <!--<el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>-->
                      <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300 compound-table" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">站长编码</div></th>
                  <th><div class="cell">注册人数</div></th>
                  <th><div class="cell">首充人数</div></th>
                  <th><div class="cell">充值人数</div></th>
                  <th><div class="cell">投注人数</div></th>
                  <th><div class="cell">投注金额</div></th>
                  <th><div class="cell">中奖金额</div></th>
                  <th><div class="cell">充值笔数</div></th>
                  <th><div class="cell">充值金额</div></th>
                  <th><div class="cell">提现笔数</div></th>
                  <th><div class="cell">提现金额</div></th>
                  <th><div class="cell">活动优惠</div></th>
                  <th><div class="cell">打赏人数</div></th>
                  <th><div class="cell">打赏金额</div></th>
                  <th><div class="cell">损益</div></th>
                  <th><div class="cell">盈率</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--站长编码 -->
                    <td><div class="cell" ><span class="color-blue">{{items.tenantCode}}</span></div></td>
                    <!--注册人数 -->
                    <td><div class="cell" ><span>{{items.registerCount}}</span></div></td>
                    <!--首充人数 -->
                    <td><div class="cell" ><span>{{items.firstinCount}}</span></div></td>
                    <!--充值人数 -->
                    <td><div class="cell" ><span>{{items.inCount}}</span></div></td>
                    <!--投注人数 -->
                    <td><div class="cell" ><span>{{items.betCount}}</span></div></td>
                    <!--投注金额 -->
                    <td><div class="cell" ><span class="color-danger">{{items.betAmount | formatMoney}}</span></div></td>
                    <!--中奖金额 -->
                    <td><div class="cell" ><span class="color-danger">{{items.returnAmount | formatMoney}}</span></div></td>
                    <!--充值笔数 -->
                    <td><div class="cell" ><span>{{items.inCountAll}}</span></div></td>
                    <!--充值金额 -->
                    <td><div class="cell" ><span class="color-danger">{{items.inAmount | formatMoney}}</span></div></td>
                    <!--提现笔数 -->
                    <td><div class="cell" ><span>{{items.outCountAll}}</span></div></td>
                    <!--提现金额 -->
                    <td><div class="cell" ><span class="color-danger">{{items.outAmount | formatMoney}}</span></div></td>
                    <!--活动优惠 -->
                    <td><div class="cell" ><span>{{items.activityAmount | formatMoney}}</span></div></td>
                    <!--打赏人数 -->
                    <td><div class="cell" ><span class="color-danger">{{items.tipCount}}</span></div></td>
                    <!--打赏金额 -->
                    <td><div class="cell" ><span class="color-danger">{{items.tipAmount | formatMoney}}</span></div></td>
                    <!--损益 -->
                    <td><div class="cell" ><span :class="{'color-danger' : items.loss>=0,'color-success' : items.loss<0}">{{items.loss | formatMoney}}</span></div></td>
                    <!--盈率 -->
                    <td><div class="cell" ><span :class="{'color-danger' : items.mao>=0,'color-success' : items.mao<0}">{{items.mao | formatPercentage}}</span></div></td>
                  <tr class="td-background">
                    <td ><div class="cell">合计</div></td>
                  <!--注册人数 -->
                  <td><div class="cell" ><span>{{summaryData['registerCount']}}</span></div></td>
                  <!--首充人数 -->
                  <td><div class="cell" ><span>{{summaryData['firstinCount']}}</span></div></td>
                  <!--充值人数 -->
                  <td><div class="cell" ><span>{{summaryData['inCount']}}</span></div></td>
                  <!--投注人数 -->
                  <td><div class="cell" ><span>{{summaryData['betCount']}}</span></div></td>
                  <!--投注金额 -->
                  <td><div class="cell" ><span>{{summaryData['betAmount']}}</span></div></td>
                  <!--中奖金额 -->
                  <td><div class="cell" ><span>{{summaryData['returnAmount']}}</span></div></td>
                  <!--充值笔数 -->
                  <td><div class="cell" ><span>{{summaryData['inCountAll']}}</span></div></td>
                  <!--充值金额 -->
                  <td><div class="cell" ><span>{{summaryData['inAmount']}}</span></div></td>
                  <!--提现笔数 -->
                  <td><div class="cell" ><span>{{summaryData['outCountAll']}}</span></div></td>
                  <!--提现金额 -->
                  <td><div class="cell" ><span >{{summaryData['outAmount']}}</span></div></td>
                  <!--活动优惠 -->
                  <td><div class="cell" ><span>{{summaryData['activityAmount']}}</span></div></td>
                  <!--打赏人数 -->
                  <td><div class="cell" ><span >{{summaryData['tipCount']}}</span></div></td>
                  <!--打赏金额 -->
                  <td><div class="cell" ><span>{{summaryData['tipAmount']}}</span></div></td>
                  <!--损益 -->
                  <td colspan="2"><div class="cell" ><span>{{summaryData['loss']}}</span></div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="16"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="站长编码"
                fixed
                min-width="130">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.tenantCode}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="registerCount"
                label="注册人数"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="firstinCount"
                label="首充人数"
                min-width="90">
              </el-table-column>
              <el-table-column
                prop="inCount"
                label="充值人数"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="betCount"
                label="投注人数"
                min-width="90">
              </el-table-column>
              <el-table-column
                prop="betAmount"
                label="投注金额"
                :min-width="screenW > 768 ? '110':'130'">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.betAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="returnAmount"
                label="中奖金额"
                :min-width="screenW > 768 ? '110':'130'">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.returnAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="inCountAll"
                label="充值笔数"
                :min-width="screenW > 768 ? '85':'120'">
              </el-table-column>
              <el-table-column
                prop="inAmount"
                label="充值金额"
                :min-width="screenW > 768 ? '110':'130'">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.inAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="outCountAll"
                label="提现笔数"
                :min-width="screenW > 768 ? '90':'110'">
              </el-table-column>
              <el-table-column
                prop="outAmount"
                label="提现金额"
                :min-width="screenW > 768 ? '100':'110'">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.outAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="activityAmount"
                label="活动优惠"
                :min-width="screenW > 768 ? '90':'110'">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.activityAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="tipCount"
                label="打赏人数"
                :min-width="screenW > 768 ? '90':'110'">
              </el-table-column>
              <el-table-column
                prop="tipAmount"
                label="打赏金额"
                :min-width="screenW > 768 ? '120':'110'">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.tipAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profit"
                label="损益"
                :min-width="screenW > 768 ? '120':'130'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.loss>=0,'color-success' : scope.row.loss<0}">{{ scope.row.loss | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profitability"
                label="盈率"
                :min-width="screenW > 768 ? '120':'130'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.loss>=0,'color-success' : scope.row.mao<0}">{{ scope.row.mao | formatPercentage}}</span></template>
              </el-table-column>
              <el-table-column
                label="日期"
                prop="date"
                :formatter="formatDate"
                min-width="200">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="站长报表"
        :visible="detailShow"
        @close="detailShow=false">
        <ul>
          <li>
            <span>站长编码</span>
            <span class="color-blue">{{detailData.tenantCode}}</span>
          </li>
          <li>
            <span>注册人数</span>
            <span>{{detailData.registerCount}}</span>
          </li>
          <li>
            <span>首充人数</span>
            <span>{{detailData.firstinCount}}</span>
          </li>
          <li>
            <span>充值人数</span>
            <span>{{detailData.inCount}}</span>
          </li>
          <li>
            <span>投注人数</span>
            <span>{{detailData.betCount}}</span>
          </li>
          <li>
            <span>投注金额</span>
            <span class="color-danger">{{detailData.betAmount | formatMoney}}</span>
          </li>
          <li>
            <span>中奖金额</span>
            <span class="color-danger">{{detailData.returnAmount | formatMoney}}</span>
          </li>
          <li>
            <span>充值笔数</span>
            <span>{{detailData.inCountAll}}</span>
          </li>
          <li>
            <span>充值金额</span>
            <span class="color-danger">{{detailData.inAmount | formatMoney}}</span>
          </li>
          <li>
            <span>提现笔数</span>
            <span>{{detailData.outCountAll}}</span>
          </li>
          <li>
            <span>提现金额</span>
            <span class="color-danger">{{detailData.outAmount | formatMoney}}</span>
          </li>
          <li>
            <span>活动优惠</span>
            <span>{{detailData.activityAmount | formatMoney}}</span>
          </li>
          <li>
            <span>打赏人数</span>
            <span class="color-danger">{{detailData.tipCount}}</span>
          </li>
          <li>
            <span>打赏金额</span>
            <span class="color-danger">{{detailData.tipAmount | formatMoney}}</span>
          </li>
          <li>
            <span>损益</span>
            <span :class="{'color-danger' : detailData.loss>=0,'color-success' : detailData.loss<0}">{{detailData.loss | formatMoney}}</span>
          </li>
          <li>
            <span>盈率</span>
            <span :class="{'color-danger' : detailData.mao>=0,'color-success' : detailData.mao<0}">{{detailData.mao | formatPercentage}}</span>
          </li>
          <li>
            <span>日期</span>
            <span>{{formatDate(detailData.date)}}</span>
          </li>
        </ul>
      </popover-right>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          ref="pagination"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import {DateFormat, exportExl} from '@/utils/Time'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {formatMoney, formatPercentage, getSummaries} from '@/filters/index'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      tableLine: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      avatorVisible: false,
      reportdate: '',
      ruleForm: {
        sort: '1',
        tenantCode: '',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      detailData: {
        tenantCode: '',
        registerCount: '',
        firstinCount: '',
        inCount: '',
        betCount: '',
        betAmount: '',
        returnAmount: '',
        inCountAll: '',
        inAmount: '',
        outCountAll: '',
        outAmount: '',
        activityAmount: '',
        tipCount: '',
        tipAmount: '',
        loss: '',
        mao: '',
        date: ''
      },
      summaryColumns: {'tenantCode': '2', 'registerCount': '2', 'firstinCount': '2', 'inCount': '2', 'betCount': '2', 'betAmount': '1', 'returnAmount': '1', 'inCountAll': '2', 'inAmount': '1', 'outCountAll': '2', 'outAmount': '1', 'activityAmount': '1', 'tipCount': '2', 'tipAmount': '1', 'loss': '1', 'mao': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  components: {
    Scroll,
    DatetimePicker
  },
  methods: {
    exportExcel () {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      submitData.pageNum = 1
      submitData.pageSize = 99999
      this.submitLoading = true
      let obj = this
      Api.tenant(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.result
        let excel = '<tr><th>站长编码</th><th>注册人数</th><th>首充人数</th><th>充值人数</th><th>投注人数</th><th>投注金额</th><th>中奖金额</th><th>充值笔数</th><th>充值金额</th><th>提现笔数</th><th>提现金额</th><th>活动优惠</th><th>打赏人数</th><th>打赏金额</th><th>损益</th><th>盈率</th><th>日期</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].tenantCode}</th>
            <th>${excelarr[i].registerCount}</th>
            <th>${excelarr[i].firstinCount}</th>
             <th>${excelarr[i].inCount}</th>
            <th>${excelarr[i].betCount}</th>
            <th>${formatMoney(excelarr[i].betAmount)}</th>
            <th>${formatMoney(excelarr[i].returnAmount)}</th>
            <th>${excelarr[i].inCountAll}</th>
            <th>${formatMoney(excelarr[i].inAmount)}</th>
            <th>${excelarr[i].outCountAll}</th>
            <th>${formatMoney(excelarr[i].outAmount)}</th>
            <th>${formatMoney(excelarr[i].activityAmount)}</th>
            <th>${excelarr[i].tipCount}</th>
            <th>${formatMoney(excelarr[i].tipAmount)}</th>
            <th>${formatMoney(excelarr[i].loss)}</th>
            <th>${formatPercentage(excelarr[i].mao)}</th>
            <th>${this.formatDate(excelarr[i].date)}</th>
          </tr>`
        }
        exportExl(excel, '站长报表（' + DateFormat(submitData.startTime, 'yyyy-MM-dd') + '至' + DateFormat(submitData.endTime, 'yyyy-MM-dd') + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    formatDate () {
      if (this.ruleForm.startTime === this.ruleForm.endTime) {
        return DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      }
      return DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd') + ' ~ ' + DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
    },
    onSubmit () {
      this.pageNum = 1
      this.reportdate = this.ruleForm.startTime + '~' + this.ruleForm.endTime
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.tenant(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
