<template>
  <div class="panel">
    <div class="panel-heading">
      月度报表
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary"  @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header rwd-headershow">
        <el-form :inline="true" size="small">
          <el-form-item>
            <el-button size="mini" @click="onSubmit">上月</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">站长编码</div></th>
                  <th><div class="cell">网站名称</div></th>
                  <th><div class="cell">投注金额</div></th>
                  <th><div class="cell">中奖金额</div></th>
                  <th><div class="cell">充值笔数</div></th>
                  <th><div class="cell">充值金额</div></th>
                  <th><div class="cell">提现笔数</div></th>
                  <th><div class="cell">提现金额</div></th>
                  <th><div class="cell">活动优惠</div></th>
                  <th><div class="cell">打赏人数</div></th>
                  <th><div class="cell">打赏金额</div></th>
                  <th><div class="cell">损益</div></th>
                  <th><div class="cell">盈率</div></th>
                  <th><div class="cell">开网时间</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--站长编码-->
                    <td><div class="cell"> <span class="color-blue">{{items.tenantCode}}</span></div></td>
                    <!--网站名称-->
                    <td><div class="cell"><span>{{items.tenantName}}</span></div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span>{{items.betAmount | formatMoney}}</span></div></td>
                    <!--中奖金额-->
                    <td><div class="cell"><span>{{items.returnAmount | formatMoney}}</span></div></td>
                    <!--充值笔数-->
                    <td><div class="cell"><span>{{items.inCountAll}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell"><span>{{items.inAmount | formatMoney}}</span></div></td>
                    <!--提现笔数-->
                    <td><div class="cell"><span> {{items.outCountAll}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell"><span> {{items.outAmount | formatMoney}}</span></div></td>
                    <!--活动优惠-->
                    <td><div class="cell"><span>{{items.activityAmount | formatMoney}}</span></div></td>
                    <!--打赏人数-->
                    <td><div class="cell"><span> {{items.tipCount}}</span></div></td>
                    <!--打赏金额-->
                    <td><div class="cell"><span>{{items.tipAmount | formatMoney}}</span></div></td>
                    <!--损益-->
                    <td><div class="cell"><span :class="{'color-danger' : items.loss>=0,'color-success' : items.loss<0}">{{items.loss | formatMoney}}</span></div></td>
                    <!--盈率-->
                    <td><div class="cell"><span :class="{'color-danger' : items.mao>=0,'color-success' : items.mao<0}">{{items.mao | formatPercentage}}</span></div></td>
                    <!--开网时间-->
                    <td><div class="cell"><span> {{items.date}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="2"><div class="cell">合计</div></td>
                  <!--投注金额-->
                  <td><div class="cell"><span>{{summaryData['betAmount']}}</span></div></td>
                  <!--中奖金额-->
                  <td ><div class="cell"><span>{{summaryData['returnAmount']}}</span></div></td>
                  <!--充值笔数-->
                  <td><div class="cell"><span>{{summaryData['inCountAll']}}</span></div></td>
                  <!--充值金额-->
                  <td ><div class="cell"><span>{{summaryData['inAmount']}}</span></div></td>
                  <!--提现笔数-->
                  <td ><div class="cell"><span>{{summaryData['outCountAll']}}</span></div></td>
                  <!--提现金额-->
                  <td><div class="cell"><span> {{summaryData['outAmount']}}</span></div></td>
                  <!--活动优惠-->
                  <td><div class="cell"><span>{{summaryData['activityAmount']}}</span></div></td>
                  <!--打赏人数-->
                  <td><div class="cell"><span> {{summaryData['tipCount']}}</span></div></td>
                  <!--打赏金额-->
                  <td><div class="cell"><span>{{summaryData['tipAmount']}}</span></div></td>
                  <!--损益-->
                  <td colspan="3"><div class="cell"><span>{{summaryData['loss']}}</span></div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="16"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table"  v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="站长编码"
                fixed
                min-width="100">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.tenantCode}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="网站名称"
                prop="tenantName"
                min-width="100" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="betAmount"
                label="投注金额"
                min-width="130">
                <template slot-scope="scope"><span>{{ scope.row.betAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="returnAmount"
                label="中奖金额"
                min-width="130">
                <template slot-scope="scope"><span>{{ scope.row.returnAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="inCountAll"
                label="充值笔数"
                min-width="90">
              </el-table-column>
              <el-table-column
                prop="inAmount"
                label="充值金额"
                min-width="120">
                <template slot-scope="scope"><span>{{ scope.row.inAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="outCountAll"
                label="提现笔数"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="outAmount"
                label="提现金额"
                min-width="125">
                <template slot-scope="scope"><span>{{ scope.row.outAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="activityAmount"
                label="活动优惠"
                min-width="120">
                <template slot-scope="scope"><span>{{ scope.row.activityAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="tipCount"
                label="打赏人数"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="tipAmount"
                label="打赏金额"
                :min-width="screenW> 768 ? '80':'110'">
                <template slot-scope="scope"><span>{{ scope.row.tipAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profit"
                label="损益"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.loss>=0,'color-success' : scope.row.loss<0}">{{ scope.row.loss | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profitability"
                label="盈率"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.mao>=0,'color-success' : scope.row.mao<0}">{{ scope.row.mao | formatPercentage}}</span></template>
              </el-table-column>
              <el-table-column
                prop="date"
                label="开网时间"
                min-width="180">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="月度报表"
        :visible="detailShow"
        @close="detailShow=false">
        <ul>
          <li>
            <span>站长编码</span>
            <span class="color-blue">{{detailData.tenantCode}}</span>
          </li>
          <li>
            <span>网站名称</span>
            <span>{{detailData.tenantName}}</span>
          </li>
          <li>
            <span>投注金额</span>
            <span>{{detailData.betAmount | formatMoney}}</span>
          </li>
          <li>
            <span>中奖金额</span>
            <span>{{detailData.returnAmount | formatMoney}}</span>
          </li>
          <li>
            <span>充值笔数</span>
            <span>{{detailData.inCountAll}}</span>
          </li>
          <li>
            <span>充值金额</span>
            <span>{{detailData.inAmount | formatMoney}}</span>
          </li>
          <li>
            <span>提现笔数</span>
            <span >{{detailData.outCountAll}}</span>
          </li>
          <li>
            <span>提现金额</span>
            <span >{{detailData.outAmount | formatMoney}}</span>
          </li>
          <li>
            <span>活动优惠</span>
            <span>{{detailData.activityAmount | formatMoney}}</span>
          </li>
          <li>
            <span>打赏人数</span>
            <span >{{detailData.tipCount}}</span>
          </li>
          <li>
            <span>打赏金额</span>
            <span>{{detailData.tipAmount | formatMoney}}</span>
          </li>
          <li>
            <span>损益</span>
            <span :class="{'color-danger' : detailData.loss>=0,'color-success' : detailData.loss<0}">{{detailData.loss | formatMoney}}</span>
          </li>
          <li>
            <span>盈率</span>
            <span :class="{'color-danger' : detailData.mao>=0,'color-success' : detailData.mao<0}">{{detailData.mao | formatPercentage}}</span>
          </li>
          <li>
            <span>开网时间</span>
            <span class="color-danger">{{detailData.date}}</span>
          </li>
        </ul>
      </popover-right>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          ref="pagination"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import Scroll from '@/components/Scroll'
import {exportExl} from '@/utils/Time'
import {formatMoney, formatPercentage, getSummaries} from '@/filters/index'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      tableLine: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      detailShow: false,
      rwdbtnVisible: false,
      avatorVisible: false,
      ruleForm: {},
      allList: [],
      pageNum: 1,
      pageSize: 20,
      total: 1,
      detailData: {
        tenantCode: '',
        tenantName: '',
        betAmount: '',
        returnAmount: '',
        inCountAll: '',
        inAmount: '',
        outAmount: '',
        activityAmount: '',
        tipCount: '',
        tipAmount: '',
        profit: '',
        profitability: '',
        date: ''
      },
      summaryColumns: {'betAmount': '1', 'returnAmount': '1', 'inCountAll': '2', 'outCountAll': '2', 'inAmount': '1', 'outAmount': '1', 'activityAmount': '1', 'tipCount': '2', 'tipAmount': '1', 'profit': '1', 'profitability': '1', 'loss': '1'},
      summaryData: []
    }
  },
  mounted () {
    // this.getOrderList(1, 20)
  },
  components: {
    Scroll
  },
  methods: {
    exportExcel () {
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      this.submitLoading = true
      let obj = this
      Api.month(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.result
        let excel = '<tr><th>站长编码</th><th>网站名称</th><th>投注金额</th><th>中奖金额</th><th>充值笔数</th><th>充值金额</th><th>提现笔数</th><th>提现金额</th><th>活动优惠</th><th>打赏人数</th><th>打赏金额</th><th>损益</th><th>盈率</th><th>开网时间</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].tenantCode}</th>
            <th>${excelarr[i].tenantName}</th>
            <th>${formatMoney(excelarr[i].betAmount)}</th>
            <th>${formatMoney(excelarr[i].returnAmount)}</th>
             <th>${excelarr[i].inCountAll}</th>
            <th>${formatMoney(excelarr[i].inAmount)}</th>
            <th>${excelarr[i].outCountAll}</th>
            <th>${formatMoney(excelarr[i].outAmount)}</th>
            <th>${formatMoney(excelarr[i].activityAmount)}</th>
            <th>${excelarr[i].tipCount}</th>
            <th>${formatMoney(excelarr[i].tipAmount)}</th>
            <th>${formatMoney(excelarr[i].loss)}</th>
            <th>${formatPercentage(excelarr[i].mao)}</th>
            <th>${this.formatDate(excelarr[i].date)}</th>
          </tr>`
        }
        exportExl(excel, '月度报表')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    formatDate (val) {
      if (!val) {
        return ''
      }
      return val
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.month(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
<style scoped>
  .el-form--inline .el-form-item{
    margin-bottom: 0px !important;
  }
</style>
