<template>
  <div class="panel">
    <div class="panel-heading">
      第三方管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openThirdPartyForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="第三方名称" prop="thirdPartyName">
            <el-input v-model="ruleForm.thirdPartyName" class="width-search130" placeholder="请输入第三方名称"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <!-- 普通表格 -->
      <div class="report-data " :class="{ 'unfinished': tableLine }">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
             <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="第三方名称" prop="thirdPartyName">
                      <el-input v-model="ruleForm.thirdPartyName" class="width-forword" placeholder="请输入第三方名称"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.startTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.endTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <!--<el-form-item class="post-btn">-->
                      <!--<el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>-->
                      <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                  <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th><div class="cell">第三方名称</div></th>
                      <th><div class="cell">启用支付方式</div></th>
                      <th width="200px"><div class="cell">添加时间</div></th>
                      <th><div class="cell">操作人</div></th>
                      <th width="50px"><div class="cell">状态</div></th>
                      <th width="30px"><div class="cell">操作</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell max-width300 min-width200"><span class="color-blue hoverline-effet" @click="editOne(items)">{{items.thirdPartyName}}</span></div></td>
                      <td><div class="cell max-width300"><span>{{items.dictionNameList}}</span></div></td>
                      <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                      <td><div class="cell"><span>{{items.operator}}</span></div></td>
                      <td><div class="cell"><span :class="items.isEnabled  ? 'color-success' : 'color-danger'">{{items.isEnabled ?'正常':'停用'}}</span></div></td>
                      <td><div class="cell">
                        <div class="table-btnbox">
                          <span @click="updateState(items)" class="hover-style" :title="items.isEnabled ?'禁用':'启用'"><i class="dafa-icon" :class="items.isEnabled ?'':'color-blue'"></i></span>
                        </div>
                      </div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper2'" class="el-table" v-else>
          <el-table
            :data="allList"
            @row-click="openDetails"
            style="width: 100%;">
            <el-table-column
              label="第三方名称"
              @row-click="openDetails"
              min-width="100" fixed>
              <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改"  @click="editOne(scope.row)">{{ scope.row.thirdPartyName}}</span>
                  <span v-else class="color-blue overflow-style" >{{ scope.row.thirdPartyName}}</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="dictionNameList"
              label="启用支付方式"
              min-width="170" show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="operationTime"
              label="添加时间"
              width="190">
            </el-table-column>
            <el-table-column
              prop="operator"
              label="操作人"
             width="100">
            </el-table-column>
            <el-table-column
              label="状态"
              width="50">
              width="50">
              <template slot-scope="scope">
                <span :class="scope.row.isEnabled  ? 'color-success' : 'color-danger'">{{scope.row.isEnabled ?'正常':'停用'}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="操作"
              width="50"
              fixed="right"  v-if="screenW>768">
              <template slot-scope="scope">
                <div class="table-btnbox">
                  <span @click="updateState(scope.row)" class="hover-style" :title="scope.row.isEnabled ?'禁用':'启用'"><i class="dafa-icon" :class="scope.row.isEnabled ?'':'color-blue'"></i></span>
                  <!--<a @click="updateState(scope.row)" class="hover-style" :title="scope.row.isEnabled ?'禁用':'启用'">{{scope.row.isEnabled ?'禁用':'启用'}}</a>-->
                </div>
              </template>
            </el-table-column>
          </el-table>
          </scroll>
        </div>
      </div>
      <el-dialog
        :visible.sync="rwdbtnVisible"
        custom-class="btn-dialog"
        :modal="true"
        :append-to-body="true"
        lock-scroll
        width="100%">
        <div class="rwdbtn-style">
        <span @click="updateState(detailData)">{{detailData.isEnabled ?'禁用':'启用'}}</span>
        <span @click="editOne(detailData)" >修改</span>
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </el-dialog>
      <!--<el-dialog-->
        <!--:visible.sync="rwdbtnVisible"-->
        <!--custom-class="btn-dialog"-->
        <!--:modal="false"-->
        <!--append-to-body-->
        <!--width="100%">-->
        <!--<span><a @click="updateState(rwdNumber)" :title="rwdNumber.isEnabled ?'禁用':'启用'">{{rwdNumber.isEnabled ?'禁用':'启用'}}</a></span>-->
       <!--</el-dialog>-->
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="第三方管理"
      @close="detailShow=false">
      <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
        <!--<span class="el-icon-arrow-left" > 返回</span>-->
      <!--</div>-->
      <ul >
        <li>
          <span>第三方名称</span>
          <span class="color-blue">{{detailData.thirdPartyName}}</span>
        </li>
        <li>
          <span>启用支付方式</span>
          <span>{{detailData.dictionNameList}}</span>
        </li>
        <li>
          <span>添加时间</span>
          <span>{{detailData.operationTime}}</span>
        </li>
        <li>
          <span>操作人</span>
          <span>{{detailData.operator}}</span>
        </li>
        <li>
          <span>状态</span>
          <span>{{detailData.isEnabled ?'正常':'停用'}}</span>
        </li>
      </ul>
    </popover-right>
    <third-party-form
      :data="selectData"
      :visible="ThirdPartyForm"
      @close="ThirdPartyForm=false"
    ></third-party-form>
  </div>
</template>
<script>
import Scroll from '@/components/Scroll'
import ThirdPartyForm from '@/views/newModal/ThirdPartyForm'
import {validateQueryDateTwo} from '@/utils/validateRules'
import Api from '@/api/tenant'
import {DateFormat} from '@/utils/Time'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  data () {
    return {
      detailShow: false,
      allList: [],
      isActive: false,
      ThirdPartyForm: false,
      avatorVisible: false,
      SettingNickName: false,
      rwdbtnVisible: false,
      tableLine: true,
      loading: false,
      rwdNumber: '',
      loadingMsg: '正在拼命加载中...',
      pageNum: 1,
      pageSize: 20,
      total: 0,
      ruleForm: {
        thirdPartyName: '',
        startTime: '',
        endTime: ''
      },
      selectData: {},
      detailData: {
        third_party_name: '',
        dictionNameList: '',
        operationTime: '',
        operator: '',
        isEnabled: ''
      }
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    updateState (val) {
      let submitData = {}
      let state = 1
      if (val.isEnabled) {
        state = 0
      }
      submitData.state = state
      submitData.id = val.id
      submitData.thirdPartyName = val.thirdPartyName
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateThirdPartyPaySettingsState(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        val.isEnabled = !val.isEnabled
        this.msgSuccess('操作成功')
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
      })
      this.rwdbtnVisible = false
    },
    openThirdPartyForm () {
      this.selectData = {}
      this.ThirdPartyForm = true
    },
    editOne (val) {
      this.selectData = val
      this.ThirdPartyForm = true
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (!this.ruleForm[item]) {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.startTime) {
        submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      }
      if (this.ruleForm.endTime) {
        submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.queryThirdPartyPaySettingsList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length) {
          this.tableLine = true
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    ThirdPartyForm,
    DatetimePicker
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  }
}
</script>
<style>
</style>
