<template>
  <div class="panel">
    <div class="panel-heading">
      维护设置
      <el-button size="mini"  icon="el-icon-arrow-left" @click="$router.back()" class="margin-l10" >返回</el-button>
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header rwd-headershow">
      </div>
      <!-- 普通表格 -->
      <div class="report-data">
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <scroll :id="'scroll-wrapper1'" class="el-table" v-if="screenW > 768">
            <el-table
              :data="allList"
              style="width: 100%">
              <el-table-column
                :label="name"
                fixed
                min-width="80"
                prop="web">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="70">
                <template slot-scope="scope">
                  <span :class="scope.row.state === 1?'color-success':'color-danger'"> {{scope.row.state === 1?'运行中':'维护中'}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="time"
                label="维护完成时间"
                min-width="250">
                <template slot-scope="scope" >
                  <el-date-picker
                    class="width-search100"
                    size="small"
                    v-model="scope.row.time"
                    type="datetime"
                    placeholder="选择日期时间">
                  </el-date-picker>
                </template>
              </el-table-column>
              <el-table-column
                label="操作"
                width="200"
                fixed="right" v-if="screenW>768">
                <template slot-scope="scope">
                  <div class="table-btnbox" >
                    <span>
                       <el-button  size="mini" type="primary" @click="changeState(scope.row, scope.row.state === 1 ? 0 : 1)">{{scope.row.state === 1?'进行维护':'取消维护'}}</el-button>
                    </span>
                   <span class="margin-l4"><el-button  size="mini"  type="primary" @click="changeState(scope.row, 0)" v-if="scope.row.state === 0">更改维护时间</el-button></span>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
         <template v-else>
           <div class="maintain-box">
             <span class="maintain-title">网站前台</span>
             <ul >
               <li>
                 <span>状态</span>
                 <span :class="allList[0].state === 1?'color-success':'color-danger'">{{allList[0].state === 1?'运行中':'维护中'}}</span>
               </li>
               <li >
                 <span>维护完成时间</span>
                 <span class="time-picker">
                   <datetime-picker v-model="allList[0].time"></datetime-picker>
                 </span>
               </li>
               <li>
                 <span>操作</span>
                 <span>
                    <span>
                       <el-button  size="mini" type="primary" @click="changeState(allList[0], allList[0].state === 1 ? 0 : 1)">{{allList[0].state === 1?'进行维护':'取消维护'}}</el-button>
                    </span>
                   <span class="margin-l4"><el-button  size="mini"  type="primary" @click="changeState(allList[0], 0)" v-if="allList[0].state === 0">更改维护时间</el-button></span>
                </span>
               </li>
             </ul>
           </div>
           <div class="maintain-box">
             <span class="maintain-title">网站后台</span>
             <ul>
               <li>
                 <span>状态</span>
                 <span :class="allList[1].state === 1?'color-success':'color-danger'">{{allList[1].state === 1?'运行中':'维护中'}}</span>
               </li>
               <li >
                 <span>维护完成时间</span>
                 <span class="time-picker">
                   <datetime-picker v-model="allList[1].time"></datetime-picker>
                 </span>
               </li>
               <li>
                 <span>操作</span>
                 <span>
                    <span>
                       <el-button  size="mini" type="primary" @click="changeState(allList[1], allList[1].state === 1 ? 0 : 1)">{{allList[1].state === 1?'进行维护':'取消维护'}}</el-button>
                    </span>
                   <span class="margin-l4"><el-button  size="mini"  type="primary" @click="changeState(allList[1], 0)" v-if="allList[1].state === 0">更改维护时间</el-button></span>
                </span>
               </li>
             </ul>
           </div>
         </template>
          </div>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
  </div>
</template>
<script>
import Api from '@/api/tenant'
import {DateFormatThree, getDateFromString} from '@/utils/Time'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      // 列表数据
      value2: '',
      value3: '',
      value4: '',
      value5: '',
      allList: [
        {
          'web': '网站前台',
          'state': 0,
          'time': '' // 维护完成时间
        },
        {
          'web': '网站后台',
          'state': 0,
          'time': '' // 维护完成时间
        }
      ],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      tenantCode: '',
      name: '',
      rwdbtnVisible: false,
      rwdNumber: ''
    }
  },
  components: {
    Scroll,
    DatetimePicker
  },
  mounted () {
    this.tenantCode = this.$route.query.tenantCode
    this.name = this.$route.query.name
    this.getTenantMaintainInfo()
  },
  methods: {
    changeState (data, state) {
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      let submitData = {}
      submitData.tenantCode = this.tenantCode
      if (data.web === '网站前台') {
        if (state === 1 && (!this.allList[0].time || this.allList[0].time === '')) {
          this.loading = false
          this.loadingMsg = '正在拼命加载中...'
          this.msgError('请选择维护日期')
          return
        }
        submitData.webState = state
        submitData.webMaintenanceEnd = DateFormatThree(this.allList[0].time, 'yyyy-MM-dd hh:mm:ss')
        Api.updateWebMaintenance(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
            this.showBlogForm = false
          })
          this.getTenantMaintainInfo()
        })
      } else {
        if (state === 1 && (!this.allList[1].time || this.allList[1].time === '')) {
          this.loading = false
          this.loadingMsg = '正在拼命加载中...'
          this.msgError('请选择维护日期')
          return
        }
        submitData.cmsState = state
        submitData.cmsMaintenanceEnd = DateFormatThree(this.allList[1].time, 'yyyy-MM-dd hh:mm:ss')
        Api.updateCmsMaintenance(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.msgSuccess('保存成功')
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
            this.showBlogForm = false
          })
          this.getTenantMaintainInfo()
        })
      }
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    goBack () {
      this.$router.back()
    },
    getTenantMaintainInfo () {
      let submitData = {}
      submitData.tenantCode = this.tenantCode
      this.loading = true
      let obj = this
      Api.maintenance(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let tenantData = res.data.tenant
        this.allList[0].state = tenantData.webState
        if (tenantData.webMaintenanceEnd && tenantData.webMaintenanceEnd !== '') {
          this.allList[0].time = getDateFromString(tenantData.webMaintenanceEnd)
        } else {
          this.allList[0].time = null
        }
        this.allList[1].state = tenantData.cmsState
        if (tenantData.cmsMaintenanceEnd && tenantData.cmsMaintenanceEnd !== '') {
          this.allList[1].time = getDateFromString(tenantData.cmsMaintenanceEnd)
        } else {
          this.allList[1].time = null
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  }
}
</script>
<style scoped>
  .el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 220px;
  }
  .maintain-title{
    font-size: 16px;
    background: var(--color-titlebackground);
    width: 100%;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
  }
  .maintain-box{
    & ul{
      background: #fff;
      & li{
        list-style: none;
        line-height: 46px;
        height: 46px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-border);
        & .maintain-picker{
          width: 100%;
        }
        & .el-input--small .el-input__inner {
          font-size: 14px !important;
        }
          & >span{
            font-size: 14px;
          }
          & >span:first-child{
            width: 98px;
            display: inline-block;
          }
          & >span:last-child{
            width: calc(100% - 98px);
            max-width: 350px;
            text-align: right;
          }
        }
    }
  }
</style>
