<template>
  <div class="panel">
    <div class="panel-heading">
      站长管理
      <div class="float-right panel-heading-right">
        <el-button
          @click="addNewSiteForm=true"
          size="mini"
          type="success"
          icon="el-icon-plus">
          站长开户
        </el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm"  size="small" class="small-padding-1r webmaster-manage" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
        <el-form-item label="站长编码" prop="tenantCode">
          <el-input size="min" v-model="ruleForm.tenantCode" class="width-forword" placeholder="请输入站长编码"></el-input>
        </el-form-item>
        <el-form-item label="网站名称" prop="name">
          <el-input size="min" v-model="ruleForm.name" class="width-forword" placeholder="请输入网站名称"></el-input>
        </el-form-item>
        <el-form-item label="开始时间" prop="startDate">
          <el-date-picker
            v-model="ruleForm.startDate"
            class="width-searchtime"
            type="date"
            placeholder="选择日期" size="min">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="结束时间" prop="endDate">
          <el-date-picker
            v-model="ruleForm.endDate"
            class="width-searchtime"
            type="date"
            placeholder="选择日期" size="min">
          </el-date-picker>
        </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
      </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data"  :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
           <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form :model="ruleForm" ref="ruleForm" size="small" :inline="false" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-input size="min" v-model="ruleForm.tenantCode" placeholder="请输入站长编码"></el-input>
                    </el-form-item>
                    <el-form-item label="网站名称" prop="name">
                      <el-input size="min" v-model="ruleForm.name"  placeholder="请输入网站名称"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                       <span class="time-picker">
                          <datetime-picker v-model="ruleForm.startDate" type="date"></datetime-picker>
                      </span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                      <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endDate" type="date"></datetime-picker>
                      </span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"   v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                  <th ><div class="cell">站长编码</div></th>
                  <th ><div class="cell">网站名称</div></th>
                  <th ><div class="cell">站长账号</div></th>
                  <th ><div class="cell">总代账号</div></th>
                  <th width="155px"><div class="cell">新增日期</div></th>
                  <th width="120px"><div class="cell">操作</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td ><div class="cell"><span class="color-blue hoverline-effet"  title="修改"  @click="openTenantEditForm(items)">{{items.tenantCode}}</span></div></td>
                    <td><div class="cell"><span >{{items.name}}</span></div></td>
                    <td ><div class="cell"><span >{{items.admin}}</span></div></td>
                    <td><div class="cell"><span >{{items.topAgent}}</span></div></td>
                    <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    <td >
                      <div class="table-btnbox" >
                        <div class="edit-btns cell">
                          <span :class="!items.isRegisterVerify ? '' : 'color-bluebutton'"   :title="!items.isRegisterVerify ? '开启注册验证码' : '关闭注册验证码'" @click="handKey(items)"><i class="dafa-icon dafa-icon-pswkey2-logo font-szie16"></i></span>
                          <span :title="items.isToken === 0 ?'开启令牌':'关闭令牌'" @click="Token(items)"><i class="dafa-icon font-szie16" :class="{'color-bluebutton': items.isToken}"></i></span>
                          <span title="站长状态" @click="SetTenantState(items)" ><i class="fa fa-lock" :class="items.state?'':'color-bluebutton'" ></i></span>
                          <el-dropdown @command="handleCommand">
                            <span class="el-dropdown-link">
                              <i class="el-icon-more"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                              <el-dropdown-item :command="{name:'TenantMaintainShow',key:items}" title="维护设置"><i class="dafa-icon margin-r4" ></i>维护设置</el-dropdown-item>
                              <el-dropdown-item :command="{name:'ImgFormatShow',key:items}" title="图片规格"><i class="dafa-icon margin-r4"></i>图片规格</el-dropdown-item>
                              <el-dropdown-item :command="{name:'TenantIPShow',key:items}" title="IP绑定"><i class="dafa-icon margin-r4"></i>IP绑定</el-dropdown-item>
                            </el-dropdown-menu>
                          </el-dropdown>
                        </div>
                      </div>
                    </td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="站长编码"
                fixed
                min-width="125">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改"  @click="openTenantEditForm(scope.row)">{{ scope.row.tenantCode}}</span>
                  <span v-else class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.tenantCode}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="name"
                label="网站名称"
                min-width="120" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="admin"
                label="站长账号"
                min-width="140">
              </el-table-column>
              <el-table-column
                prop="topAgent"
                label="总代账号"
                min-width="150">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="新增日期"
                width="200">
              </el-table-column>
              <el-table-column
                label="操作"
                fixed="right"
                width="130" v-if="screenW>768">
                <template slot-scope="scope" >
                  <div class="table-btnbox" >
                    <div class="edit-btns">
                      <span :title="scope.row.isToken === 0 ?'开启令牌':'关闭令牌'" @click="Token(scope.row)"><i  class="dafa-icon" :class="{'color-bluebutton': scope.row.isToken}"></i></span>
                      <span title="站长状态" @click="SetTenantState(scope.row)" ><i class="fa fa-lock" :class="scope.row.state?'':'color-bluebutton'" ></i></span>
                      <el-dropdown @command="handleCommand">
                        <span class="el-dropdown-link">
                          <i class="el-icon-more"></i>
                        </span>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item :command="{name:'TenantMaintainShow',key:scope.row}" title="维护设置"><i class="dafa-icon margin-r4" ></i>维护设置</el-dropdown-item>
                          <el-dropdown-item :command="{name:'ImgFormatShow',key:scope.row}" title="图片规格"><i class="dafa-icon margin-r4"></i>图片规格</el-dropdown-item>
                          <el-dropdown-item :command="{name:'TenantIPShow',key:scope.row}" title="IP绑定"><i class="dafa-icon margin-r4"></i>IP绑定</el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </div>
                  </div>
                </template>
              </el-table-column>
              <!--<el-table-column-->
                <!--label="操作"-->
                <!--fixed="right"-->
                <!--width="193" v-if="screenW>768">-->
                <!--<template slot-scope="scope" >-->
                  <!--<div class="table-btnbox" >-->
                    <!--<div class="edit-btns">-->
                      <!--<span :title="scope.row.isToken === 0 ?'开启令牌':'关闭令牌'" @click="Token(scope.row)"><i  class="dafa-icon" :class="{'color-bluebutton': scope.row.isToken}"></i></span>-->
                      <!--<span title="站长状态" @click="SetTenantState(scope.row)" ><i class="fa fa-lock" :class="scope.row.state?'':'color-bluebutton'" ></i></span>-->
                      <!--<span @click="TenantMaintain(scope.row);rwdbtnVisible=false" title="维护设置"><i class="dafa-icon" ></i></span>-->
                      <!--<span @click="ImgFormat(scope.row);rwdbtnVisible=false" title="图片规格"><i class="dafa-icon"></i></span>-->
                      <!--<span @click="openTenantIPForm(scope.row);rwdbtnVisible=false" title="IP绑定"><i class="dafa-icon"></i></span>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <!-- 维护窗口 -->
    <action-sheet
      :visible="rwdbtnVisible"
      @close="rwdbtnVisible = false">
      <div class="rwdbtn-style">
      <span @click="Token(detailData);rwdbtnVisible=false">{{detailData.isToken?'关闭令牌':'开启令牌'}}</span>
      <span :title="detailData.state === 1 ? '关站' : '启用'" @click="SetTenantState(detailData);rwdbtnVisible=false">{{detailData.state === 1 ? '关站' : '启用'}}</span>
      <span @click="TenantMaintain(detailData);rwdbtnVisible=false">维护设置</span>
      <span @click="ImgFormat(detailData);rwdbtnVisible=false">图片规格</span>
      <span @click="openTenantIPForm(detailData);rwdbtnVisible=false">IP绑定</span>
      <span @click="openTenantEditForm(detailData);rwdbtnVisible=false" >修改</span>
      <span @click="checkRow(detailData);rwdbtnVisible=false" >查看信息</span>
      </div>
      <span @click="closeRwdBtn" class="angle-all">取消</span>
    </action-sheet>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="站长管理"
      @close="detailShow=false">
      <ul>
        <li>
          <span>站长编码</span>
          <span class="color-blue">{{detailData.tenantCode}}</span>
        </li>
        <li>
          <span>网站名称</span>
          <span>{{detailData.name}}</span>
        </li>
        <li>
          <span>站长账号</span>
          <span>{{detailData.admin}}</span>
        </li>
        <li>
          <span>总代账号</span>
          <span>{{detailData.topAgent}}</span>
        </li>
        <li>
          <span>新增日期</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
      </ul>
    </popover-right>
    <tenant-edit-form
      :data="selectData"
      :visible="TenantEditShow"
      v-on:onClose="TenantEditShow=false">
    </tenant-edit-form>
    <site-edit-form></site-edit-form>
    <site-new-form :visible="addNewSiteForm" @onClose="addNewSiteFormClose"></site-new-form>
  </div>
</template>
<script>
import {validateQueryDateTwo} from '@/utils/validateRules'
import TenantIP from './TenantIP'
import TenantEditForm from '@/views/newModal/TenantEditForm'
import SiteNewForm from '../newModal/SiteNewForm'
import Api from '@/api/tenant'
import {DateFormat} from '@/utils/Time'
import Scroll from '@/components/Scroll'
// 查看详情侧边窗
import SiteEditForm from '../newModal/SiteEditForm'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      checkAll: false, // 是否全选
      TenantMaintainShow: false, // 是否开启维护弹窗
      TenantIPShow: true, // 是否开启IP绑定弹窗
      ImgFormatShow: false, // 是否开启图片规格弹窗
      TenantEditShow: false, // 是否开启修改资料弹窗
      addNewSiteForm: false, // 是否开启站长开户
      checkedCities: [],
      isIndeterminate: false,
      rwdbtnVisible: false,
      detailShow: false,
      btnShow: false,
      loading: false,
      rwdNumber: '',
      loadingMsg: '正在拼命加载中...',
      command: 0,
      isShow: false,
      isActive: false,
      avatorVisible: false,
      tableLine: true,
      ruleForm: {
        tenantCode: '',
        name: '',
        startDate: '',
        endDate: '',
        webState: 0,
        cmsState: 0,
        webMaintenanceEnd: '', // 前台维护完成时间
        cmsMaintenanceEnd: ''// 后台维护完成时间
      },
      detailData: {
        tenantCode: '',
        name: '',
        admin: '',
        topAgent: '',
        gmtModified: '',
        gmtCreated: ''
      },
      // 列表数据
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openTenantEditForm (v) {
      this.TenantEditShow = true
      this.selectData = v
      this.rwdbtnVisible = false
    },
    openTenantIPForm (v) {
      // console.log(3333)
      this.$router.push({
        path: '/platform/TenantIP',
        query: {
          tenantCode: v.tenantCode
        }
      })
    },
    getTenantMaintainInfo () {
      let submitData = {}
      submitData.tenantCode = this.ruleForm.tenantCode
      this.loading = true
      let obj = this
      Api.maintenance(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm = res.data.tenant
        this.ruleForm.tenantCode = this.data.tenantCode
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.avatorVisible = false
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    TenantMaintain (v) {
      // console.log('维护操作')
      this.$router.push({
        path: '/platform/platformMaintainForm',
        query: {
          tenantCode: v.tenantCode,
          name: v.name
        }
      })
      // this.TenantMaintainShow = true
      // this.selectData = key
    },
    ImgFormat (v) {
      // console.log('图片规格操作')
      this.$router.push({
        path: '/platform/ImgFormofForm',
        query: {
          tenantCode: v.tenantCode
        }
      })
    },
    handKey (item) {
      let submitData = {
        tenantCode: item.tenantCode,
        isRegisterVerify: item.isRegisterVerify === 0 ? 1 : 0
      }
      Api.updateRegisterVerify(submitData, function () {
      }).then((res) => {
        this.msgSuccess(`操作成功`)
        this.getOrderList(this.$refs.pagination.internalCurrentPage, this.$refs.pagination.internalPageSize)
      })
    },
    Token (key) {
      let submitData = {}
      let isToken = 1
      if (Number(key.isToken) === 1) {
        isToken = 0
      }
      submitData.isToken = isToken
      submitData.tenantCode = key.tenantCode
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateTenantToken(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        key.isToken = !key.isToke
        this.getOrderList(this.$refs.pagination.internalCurrentPage, this.$refs.pagination.internalPageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.msgSuccess(`操作成功`)
      })
    },
    SetTenantState (key) {
      let msg = ''
      let tipMsg = ''
      let submitData = {}
      let state = 1
      if (Number(key.state) === 1) {
        state = 0
        msg = '确定要关闭该站点吗'
        tipMsg = '关闭成功'
      } else {
        msg = '确定要开启该站点吗'
        tipMsg = '开启成功'
      }
      this.msgConfirm(msg, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        submitData.state = state
        submitData.tenantCode = key.tenantCode
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.updateTenantState(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          key.state = !key.state
          this.getOrderList(this.$refs.pagination.internalCurrentPage, this.$refs.pagination.internalPageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess(tipMsg)
        })
      })
    },
    handleCommand (command) {
      if (!command.name) return
      let arr = {'ImgFormatShow': this.ImgFormat,
        'Token': this.Token,
        'TenantIPShow': this.openTenantIPForm,
        'TenantMaintainShow': this.TenantMaintain,
        'SetTenantState': this.SetTenantState
      }
      if (typeof arr[command.name] === 'function') {
        arr[command.name](command.key)
      }
    },
    // 打开侧边窗
    seeDetail (res) {
      this.$store.dispatch('setSlideShow', true)
    },
    // 站长开户窗口
    addNewSiteFormClose () {
      this.addNewSiteForm = false
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      if (submitData.startDate) {
        submitData.startDate = DateFormat(this.ruleForm.startDate, 'yyyy-MM-dd')
      }
      if (submitData.endDate) {
        submitData.endDate = DateFormat(this.ruleForm.endDate, 'yyyy-MM-dd')
      }
      this.loading = true
      let obj = this
      Api.tenantList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.tenantList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    TenantIP,
    TenantEditForm,
    SiteEditForm,
    SiteNewForm,
    DatetimePicker
  }
}
</script>
<style>
  .table-style .table-btnbox .font-szie16{
    font-size: 16px!important;
  }
</style>
