<template>
  <div class="panel">
    <div class="panel-heading">
      手动开奖
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="MannuallyOpenForm= true">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit">
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768" >
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">

                  <el-form  size="small" v-show="screenW<768" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit">
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker">
                         <datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker>
                     </span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker>
                      </span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th><div class="cell">彩种</div></th>
                      <th><div class="cell">期号</div></th>
                      <th><div class="cell">开奖号码</div></th>
                      <th><div class="cell">操作人</div></th>
                      <th><div class="cell">备注</div></th>
                      <th width="180px"><div class="cell">手动开奖时间</div></th>
                    </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell"><span class="color-blue">{{items.lotteryName}}</span></div></td>
                      <td><div class="cell"><span>{{items.issue}}</span></div></td>
                      <td>
                        <div class="cell max-width100 cursor-style" :id="'multipleTableOpenNumberColumn' + index" @click="openContentForm('openNumber', '开奖号码', items, 'multipleTableOpenNumberColumn' + index, 'multipleTableOpenNumberContent' + index)">
                          <!--<span v-if="items.openNumberFlag === 0">{{items.openNumber}}</span>-->
                          <!--<span  v-else class="hoverline-effet hover-black" @click="openContentForm('openNumber', '开奖号码', items)" v-html="items.openNumberContent"></span>-->
                          <span :title="items.openNumber"   :id="'multipleTableOpenNumberContent' + index">{{items.openNumber}}</span>
                      </div>
                      </td>
                      <td><div class="cell"><span>{{items.operator}}</span></div></td>
                      <td><div class="cell max-width160 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                        <span :title="items.remark"   :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div></td>
                      <td><div class="cell"><span>{{items.openTime}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;"
            >
              <el-table-column
                label="彩种"
                fixed
                min-width="100">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.lotteryName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="期号"
                prop="issue"
                min-width="110">
              </el-table-column>
              <el-table-column
                label="正确开奖号码"
                min-width="120" v-if="screenW > 768">
                <template slot-scope="scope">
                    <span class=" overflow-style " slot="reference" @click="openContentForm('openNumber', '开奖号码', scope.row)">
                    <span class="position-relative cursor-style">{{scope.row.openNumber}}</span>
                  </span>
                    <!--<span v-if="scope.row.openNumber.length < 20">{{scope.row.openNumber}}</span>-->
                    <!--<div class="position-relative cursor-style " slot="reference" @click="openContentForm('openNumber', '正确开奖号码', scope.row)" v-else>-->
                      <!--<span class="overflow-note">{{scope.row.openNumber | textHtml(20)}}</span>-->
                      <!--<i class="color-blue">...</i>-->
                    <!--</div>-->
                </template>
              </el-table-column>
              <el-table-column
                label="开奖号码" prop="openNumber"
                min-width="120" v-else show-overflow-tooltip></el-table-column>
              <el-table-column
                label="操作人"
                prop="operator"
                min-width="80">
              </el-table-column>
              <el-table-column
                label="备注"
                prop="remark"
                min-width="100" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                label="手动开奖时间"
                prop="openTime"
                width="180">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="手动开奖"
      @close="detailShow=false">
      <ul>
        <li>
          <span>彩种</span>
          <span class="color-blue">{{detailData.lotteryName}}</span>
        </li>
        <li>
          <span>期号</span>
          <span>{{detailData.issue}}</span>
        </li>
        <li>
          <span>开奖号码</span>
          <span>{{detailData.openNumber}}</span>
        </li>
        <li>
          <span>操作人</span>
          <span>{{detailData.operator}}</span>
        </li>
        <li>
          <span>备注</span>
          <span>{{detailData.remark}}</span>
        </li>
        <li>
          <span>手动开奖时间</span>
          <span>{{detailData.openTime}}</span>
        </li>
      </ul>
    </popover-right>
    <mannually-open-form
      :visible = "MannuallyOpenForm"
      v-on:onClose = "MannuallyOpenForm=false"
    ></mannually-open-form>
    <!--<el-dialog-->
      <!--:title="contentTitle"-->
      <!--:visible.sync="contentShow"-->
      <!--ref="dialog"-->
      <!--width="30%"-->
      <!--custom-class="small-reveal-modal lottery-modal">-->
      <!--<div class="lottery-lightbox scrollCss">{{contentData}}</div>-->
      <!--<div slot="footer" class="dialog-footer">-->
        <!--<el-button type="primary" @click="contentShow = false" size="mini">确 认</el-button>-->
      <!--</div>-->
    <!--</el-dialog>-->
  </div>
</template>
<script>
import MannuallyOpenForm from '@/views/newModal/MannuallyOpenForm'
import {validateQueryDateTwo} from '@/utils/validateRules'
import Api from '@/api/tenant'
import {DateFormat} from '@/utils/Time'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {getEllipsisFlag} from '@/utils'
export default {
  data () {
    return {
      rwdbtnVisible: false,
      detailShow: false,
      tableLine: true,
      avatorVisible: false,
      isActive: false,
      DeleteReportForm: false,
      MannuallyOpenForm: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      allList: [],
      contentTitle: '',
      contentShow: false,
      contentData: '',
      total: 0,
      pageNum: 1,
      pageSize: 20,
      detailData: {
        lotteryName: '',
        issue: '',
        openNumber: '',
        operator: '',
        remark: '',
        openTime: ''
      },
      ellipsisColumns: [{name: 'openNumber', width: 438, formatterFunc: null},
        {name: 'remark', width: 132, formatterFunc: null}]
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    MannuallyOpenForm,
    Scroll,
    DatetimePicker
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      if (this.ruleForm.startTime) {
        submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      }
      if (this.ruleForm.endTime) {
        submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      submitData.type = 0
      this.loading = true
      let obj = this
      Api.getManualOpen(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        let allList = res.data.result
        // getEllipsisHtml(this.ellipsisColumns, allList)
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
