<template>
  <div class="panel">
    <div class="panel-heading">
      充值说明
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th><div class="cell">充值类型</div></th>
                      <th><div class="cell">PC充值说明</div></th>
                      <th><div class="cell">Mobile充值说明</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell">
                        <span class="color-blue hoverline-effet max-width300 " title="修改" @click="openPaymentAssistanceForm(items)"> {{items.paymentTypeName}}</span>
                      </div></td>
                      <td><div class="cell">
                        <el-popover
                          placement="top-start"
                          width="300"
                          trigger="hover">
                          <div v-html="items.pcPaymentHelp"></div>
                          <span class="short-article cursor-style" slot="reference">
                          系统文案<i class="el-icon-info margin-l6"></i>
                        </span>
                        </el-popover>
                      </div></td>
                      <td><div class="cell">
                        <el-popover
                          placement="top-start"
                          width="300"
                          trigger="hover">
                            <div v-html="items.mobilePaymentHelp"></div>
                            <span class="short-article cursor-style" slot="reference">
                              系统文案<i class="el-icon-info margin-l6"  ></i>
                            </span>
                        </el-popover>
                      </div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="3"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          <!-- 手机版 -->
          <template v-else>
          <el-table
            :data="allList"
            @row-click="openDetails"
            style="width: 100%;">
            <el-table-column
              label="充值类型"
              min-width="95"
              fixed>
              <template slot-scope="scope">
                <span v-if="screenW > 768" class="color-blue hoverline-effet " title="修改" @click="openPaymentAssistanceForm(scope.row)"> {{scope.row.paymentTypeName}}</span>
                <span v-else class="color-blue overflow-style" >{{ scope.row.paymentTypeName}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="PC充值说明"
              min-width="90">
              <template slot-scope="scope">
                <el-popover
                  placement="top-start"
                  width="300"
                  trigger="hover" v-if="screenW > 768">
                  <div v-html="scope.row.pcPaymentHelp"></div>
                  <span class="short-article cursor-style" slot="reference">
                  系统文案<i class="el-icon-info margin-l6"></i>
                 </span>
                </el-popover>
                <div v-else>系统文案</div>
              </template>
            </el-table-column>
            <el-table-column
              label="Mobile充值说明"
              min-width="120">
              <template slot-scope="scope">
                <el-popover
                  placement="top-start"
                  width="300"
                  trigger="hover" v-if="screenW > 768">
                    <div v-html="scope.row.mobilePaymentHelp"></div>
                    <span class="short-article cursor-style" slot="reference">
                      系统文案<i class="el-icon-info margin-l6"  ></i>
                    </span>
                </el-popover>
                <div v-else>系统文案</div>
              </template>
            </el-table-column>
          </el-table>
          </template>
        </div>
      </div>
      <!--<el-dialog-->
        <!--:visible.sync="rwdbtnVisible"-->
        <!--custom-class="btn-dialog"-->
        <!--:modal="false"-->
        <!--append-to-body-->
        <!--width="100%">-->
        <!--<span class="color-bluebutton" @click="openPaymentAssistanceForm(rwdNumber)"><i class="el-icon-edit-outline"></i>修改</span>-->
      <!--</el-dialog>-->
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="openPaymentAssistanceForm(detailData)">修改</span>
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
       </action-sheet>
    </div>
    <popover-right
      :modal="false"
      title="充值说明"
      :visible="detailShow"
      @close="detailShow=false">
      <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
        <!--<span class="el-icon-arrow-left" > 返回</span>-->
      <!--</div>-->
      <ul >
        <li>
          <span>充值类型</span>
          <span>{{detailData.paymentTypeName}}</span>
        </li>
        <li>
          <span>PC充值说明</span>
          <span v-html="detailData.pcPaymentHelp"></span>
        </li>
        <li>
          <span>Mobile充值说明</span>
          <span v-html="detailData.mobilePaymentHelp"></span>
        </li>
      </ul>
    </popover-right>
    <platform-assistance-form
      :data="selectData"
      :visible="PlatformAssistanceForm"
      v-on:onClose="PlatformAssistanceForm=false">
    </platform-assistance-form>
  </div>
</template>
<script>
import PlatformAssistanceForm from '@/views/newModal/PlatformAssistanceForm'
import Api from '@/api/tenant'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      tableLine: true,
      PlatformAssistanceForm: false,
      allList: [],
      selectData: {},
      rwdNumber: '',
      rwdbtnVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      detailData: {
        paymentTypeName: '',
        pcPaymentHelp: '',
        mobilePaymentHelp: ''
      }
    }
  },
  mounted () {
    this.getOrderList()
  },
  methods: {
    openPaymentAssistanceForm (val) {
      this.selectData = val
      this.PlatformAssistanceForm = true
      this.rwdbtnVisible = false
    },
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.systemPaymentAssistanceSettingsList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    PlatformAssistanceForm
  }
}
</script>
<style >
  .short-article{
    display: inline-block;
    & i{
      font-style:normal;
      color: #999;

    }
  }
</style>
