<template>
  <div class="panel">
    <div class="panel-heading">
      网络运维
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openIp()">更換高防源ip</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="更新">
            <el-select v-model="ruleForm.Update" @change="setTimer"  class="width-shotstatus">
              <el-option label="15秒" value="15"></el-option>
              <el-option label="30秒" value="30"></el-option>
              <el-option label="60秒" value="60"></el-option>
              <el-option label="暂停" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="服务器" prop="servers">
            <el-input v-model="ruleForm.servers" class="width-search100" placeholder="以逗号隔开"></el-input>
          </el-form-item>
          <el-form-item label="地址" prop="address">
            <el-input v-model="ruleForm.address" class="width-search100"  placeholder="请输入地址"></el-input>
          </el-form-item>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input v-model="ruleForm.tenantCode" class="width-search100"  placeholder="站长编码"></el-input>
          </el-form-item>
          <el-form-item label="线路" prop="typeId">
            <el-select v-model="ruleForm.typeId" class="width-search100" placeholder="请选择">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in typeIdList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="排序" prop="sort">
            <el-select v-model="ruleForm.sort" class="width-search100" placeholder="请选择">
              <el-option
                v-for="item in sortList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="主机操作状态" prop="state">
            <el-select v-model="ruleForm.state" class="width-search120" placeholder="请选择">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in stateList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data dispatch-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-plus" type="success" @click="openDispatchForm" :disabled="checkedAllList.length === 0 && checkedAllPcList.length === 0 && checkedAllMbList.length === 0 && checkedAllMlList.length === 0">手動切換</el-button>
        </div>
        <!-- 表头 -->
        <div class="table-style " v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" >
            <div class="el-table__body-wrapper table-checkbox table-scroll">
                <table class="el-table dispatch-table compound-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <!--<th><div class="cell">站长编码</div></th>-->
                    <th ><div class="cell"><el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange($event, 'all')" ></el-checkbox>站长编码</div></th>
                    <!--<th ><div class="cell">终端id</div></th>-->
                    <th ><div class="cell"><el-checkbox :indeterminate="isIndeterminatePc" v-model="checkAllPc" @change="handleCheckAllChange($event, 'pc')" ></el-checkbox>电脑</div></th>
                    <th ><div class="cell"><el-checkbox :indeterminate="isIndeterminateMb" v-model="checkAllMb" @change="handleCheckAllChange($event, 'mb')" ></el-checkbox>手机</div></th>
                    <th ><div class="cell"><el-checkbox :indeterminate="isIndeterminateMl" v-model="checkAllMl" @change="handleCheckAllChange($event, 'ml')" ></el-checkbox>密聊</div></th>
                    <th ><div class="cell">最后切换时间</div></th>
                    <th ><div class="cell">服务器</div></th>
                    <th ><div class="cell">ip</div></th>
                    <th ><div class="cell">备用ip</div></th>
                    <th ><div class="cell">高防</div></th>
                    <th ><div class="cell">域名</div></th>
                    <th ><div class="cell">pc自动</div></th>
                    <th ><div class="cell">mobile自动</div></th>
                    <th ><div class="cell">密聊自动</div></th>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <!--主机-->
                      <td ><div class="cell"> <el-checkbox-group v-model="checkedAllList" @change="handleCheckedCitiesChange($event, 'all', index)"><el-checkbox :label="items.tenantId" :key="index">{{''}}</el-checkbox></el-checkbox-group><span class="color-blue">{{items.tenantCode}}</span></div></td>
                      <!--pc-->
                      <td ><div class="cell"> <el-checkbox-group v-model="checkedAllPcList" @change="handleCheckedCitiesChange($event, 'pc', index)"><el-checkbox  :label="items.pcId" :key="index" >{{''}}</el-checkbox></el-checkbox-group><span @click="showContent('电脑', items)" class="hoverline-effet hover-black" :class="{'hover-effect-red': items.pcState === 3, 'hover-effect-yellow': items.pcState === 2}">{{formatterSourceId(items, items.pcTypeId)}}</span>
                      </div></td>
                      <!--mb-->
                      <td ><div class="cell"> <el-checkbox-group v-model="checkedAllMbList" @change="handleCheckedCitiesChange($event, 'mb', index)"><el-checkbox :label="items.mbId" :key="index">{{''}}</el-checkbox></el-checkbox-group><span @click="showContent('手机', items)" class="hoverline-effet hover-black"  :class="{'hover-effect-red': items.mbState === 3, 'hover-effect-yellow': items.mbState === 2}">{{formatterSourceId(items, items.mbTypeId)}}</span>
                      </div></td>
                      <!--ml-->
                      <td ><div class="cell"> <el-checkbox-group v-model="checkedAllMlList" @change="handleCheckedCitiesChange($event, 'ml', index)"><el-checkbox :label="items.mlId" :key="index">{{''}}</el-checkbox></el-checkbox-group><span @click="showContent('密聊', items)" class="hoverline-effet hover-black"  :class="{'hover-effect-red': items.mlState === 3, 'hover-effect-yellow': items.mlState === 2}">{{formatterSourceId(items, items.mlTypeId)}}</span></div></td>
                      <!--最後切換時間-->
                      <td >
                        <div class="cell">
                            <span>
                              {{items.lastGmtDispatched}}
                            </span>
                        </div>
                      </td>
                      <!--服務器-->
                      <td >
                       <div class="cell ">
                         <span @click="showContent('服務器', items)" class="hoverline-effet hover-black">
                            {{items.server}}
                          </span>
                       </div>
                      </td>
                      <!--ip-->
                      <td >
                        <div class="cell ">
                          <span>
                              {{items.ip}}
                            </span>
                        </div>
                      </td>
                      <!--備用ip-->
                      <td >
                        <div class="cell ">
                          <span>
                              {{items.backupIp}}
                            </span>
                        </div>
                      </td>
                      <!--高防-->
                      <td >
                        <div class="cell overflow-style">
                          <span class="hoverline-effet hover-black max-width180" :class="{'hover-effect-red': items.gfState === 3, 'hover-effect-yellow': items.gfState === 2}" @click="showContent('高防', items)">
                              {{items.originIps}}
                            </span>
                         </div>
                      </td>
                      <!--域名-->
                      <td >
                        <div class="cell ">
                           <span class="hoverline-effet hover-black"  @click="showContent('域名', items)">
                              {{items.domain}}
                            </span>
                        </div>
                      </td>
                      <!--pc自動切防&回切-->
                      <td >
                        <div class="cell ">
                          <span>
                              <el-checkbox v-model="items.pcIsMigratingMonitored" @change="updateStatus(items, 'pcIsMigratingMonitored', items.pcIsMigratingMonitored)">切防</el-checkbox>
                              <el-checkbox v-model="items.pcIsRevertingMonitored" @change="updateStatus(items, 'pcIsRevertingMonitored', items.pcIsRevertingMonitored)">回切</el-checkbox>
                          </span>
                        </div>
                      </td>
                      <!--mobile自動切防&回切-->
                      <td >
                        <div class="cell ">
                           <span>
                              <el-checkbox v-model="items.mbIsMigratingMonitored" @change="updateStatus(items, 'mbIsMigratingMonitored', items.mbIsMigratingMonitored)">切防</el-checkbox>
                              <el-checkbox v-model="items.mbIsRevertingMonitored" @change="updateStatus(items, 'mbIsRevertingMonitored', items.mbIsRevertingMonitored)">回切</el-checkbox>
                          </span>
                        </div>
                      </td>
                      <!--密聊自動切防&回切-->
                      <td >
                        <div class="cell ">
                           <span>
                              <el-checkbox v-model="items.mlIsMigratingMonitored" @change="updateStatus(items, 'mlIsMigratingMonitored', items.mlIsMigratingMonitored)">切防</el-checkbox>
                              <el-checkbox v-model="items.mlIsRevertingMonitored" @change="updateStatus(items, 'mlIsRevertingMonitored', items.mlIsRevertingMonitored)">回切</el-checkbox>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="13"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <network-dispatch-form
        :data="selectData"
        :ids="ids"
        :visible="DispatchShow"
        v-on:onClose="DispatchShow=false">
      </network-dispatch-form>
      <https-ip-form
        :visible="ipShow"
        v-on:onClose="ipShow=false"
      ></https-ip-form>
      <!-- 数据模型结束 -->
    </div>
    <el-dialog
      :title="DetailTitle"
      :visible.sync="DetailShow"
      custom-class="small-reveal-modal reposit-modal dispatch-moadal">
        <ul class="order-ul">
          <template v-if="DetailTitle === '电脑' || DetailTitle === '手机' || DetailTitle === '密聊'">
            <li >
              <span >切换时间 :</span>
              <span class="margin-l10">{{DetailList.pcGmtDispatched}}</span>
            </li>
            <li>
              <span >当前解析 :</span>
              <span class="margin-l10">{{DetailList.pcValue}}</span>
            </li>
            <li>
              <span >切换原因 :</span>
              <span class="margin-l10">{{DetailList.pcReason}}</span>
            </li>
            <li class="iplist-style" v-if="DetailTitle === '电脑'">
              <span >轮询IP :</span>
              <span class="margin-l10">{{DetailList.ipList}}</span>
            </li>
          </template>
          <template v-else-if="DetailTitle === '服務器'">
            <li >
            <span >主ip :</span>
            <span class="margin-l10">{{DetailList.defaultIp}}</span>
            </li>
            </template>
          <template  v-else-if="DetailTitle === '高防'">
            <li>
              <span >高防id:</span>
              <span class="margin-l10">{{DetailList.registryGfId}}</span>
            </li>
            <li>
            <span >高防域名:</span>
            <span class="margin-l10">{{DetailList.gfUrl}}</span>
            </li>
            <li >
              <span >高防源ip:</span>
              <span class="margin-l10">{{DetailList.originIps}}</span></li>
          </template>
          <template v-else>
            <li >
            <span>域名商 :</span>
            <span class="margin-l10">{{DetailList.registrarId === 1 ? 'DNS_COM':'DNSPOD'}}</span>
            </li>
            </template>
        </ul>
    </el-dialog>
  </div>
</template>
<script>
import httpsIpForm from '@/views/newModal/httpsIpForm'
import NetworkDispatchForm from '@/views/newModal/NetworkDispatchForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import {getEllipsisFlag} from '@/utils'
import {NetworkStateList} from '@/utils/config'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ids: '',
      ipShow: false,
      DispatchShow: false,
      DetailTitle: '',
      DetailShow: false,
      pageNum: 1,
      pageSize: 20,
      total: 0,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      checkAll: false, // 是否全选
      checkAllPc: false, // 是否全选
      checkAllMb: false, // 是否全选
      checkAllMl: false, // 是否全选
      checkedAllList: [],
      checkedAllPcList: [],
      checkedAllMbList: [],
      checkedAllMlList: [],
      isIndeterminate: false,
      isIndeterminatePc: false,
      isIndeterminateMb: false,
      isIndeterminateMl: false,
      IpManageShow: false, // 是否开启弹窗
      isActive: false,
      submitLoading: false,
      tableLine: true,
      loading: false,
      sortList: [
        {
          'id': 1,
          'name': '切换时间'
        },
        {
          'id': 2,
          'name': '服务器'
        }
      ],
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        Update: '15',
        servers: '',
        address: '',
        tenantCode: '',
        typeId: '',
        sort: 1,
        state: ''
      },
      typeIdList: [
        {
          'id': 1,
          'name': '主线'
        },
        {
          'id': 2,
          'name': '备线'
        },
        {
          'id': 3,
          'name': '高防'
        },
        {
          'id': 4,
          'name': '其他'
        }
      ],
      // sortList: [
      //   {
      //     'id': 1,
      //     'name': '切换时间'
      //   },
      //   {
      //     'id': 2,
      //     'name': '状态'
      //   },
      //   {
      //     'id': 3,
      //     'name': '服务器'
      //   }
      // ],
      stateList: [
        {
          'id': 1,
          'name': '正常'
        },
        {
          'id': 2,
          'name': '进展操作中'
        },
        {
          'id': 3,
          'name': '失败'
        }
      ],
      // 列表数据
      allList: [],
      selectData: {},
      DetailList: [],
      ellipsisColumns: [{name: 'remark', width: 164, formatterFunc: null}]
    }
  },
  mounted () {
    this.setTimer()
  },
  methods: {
    openIp () {
      this.ipShow = true
    },
    setTimer () {
      if (!this.ruleForm || !this.ruleForm.Update || Number(this.ruleForm.Update) === 0) {
        if (this.timer) {
          clearTimeout(this.timer)
        }
        return
      }
      if (this.timer) {
        clearTimeout(this.timer)
      }
      this.getOrderList(this.pageNum, this.pageSize)
      this.timer = setTimeout(this.setTimer, Number(this.ruleForm.Update) * 1000)
    },
    openDispatchForm () {
      this.DispatchShow = true
      let datalist = [this.checkedAllPcList, this.checkedAllMbList, this.checkedAllMlList]
      let ids = []
      for (let items in datalist) {
        if (datalist[items].length !== 0) {
          ids.push(datalist[items])
        }
      }
      this.ids = ids.toString()
    },
    ShowRegistrarId (val) {
      let number = val - 1
      return this.registrarList[number].name
    },
    showContent (title, value) {
      this.DetailShow = true
      this.DetailTitle = title
      this.DetailList = value
    },
    getList (type) {
      let vm = this
      let data = {}
      data.all = []
      data.pc = []
      data.mb = []
      data.ml = []
      let list = JSON.parse(JSON.stringify(vm.allList))
      if (type === 'all') {
        list.forEach(v => {
          data.all.push(v.tenantId)
          data.pc.push(v.pcId)
          data.mb.push(v.mbId)
          data.ml.push(v.mlId)
        })
      } else if (type === 'pc') {
        list.forEach(v => {
          data.pc.push(v.pcId)
        })
      } else if (type === 'mb') {
        list.forEach(v => {
          data.mb.push(v.mbId)
        })
      } else if (type === 'ml') {
        list.forEach(v => {
          data.ml.push(v.mlId)
        })
      }
      return data
    },
    handleCheckAllChange (val, type) {
      if (type === 'all') {
        this.checkedAllList = val ? this.getList(type).all : []
        this.checkedAllPcList = val ? this.getList(type).pc : []
        this.checkedAllMbList = val ? this.getList(type).mb : []
        this.checkedAllMlList = val ? this.getList(type).ml : []
        this.checkAllPc = val
        this.checkAllMb = val
        this.checkAllMl = val
        if (this.checkedAllList.length === 0) {
          this.isIndeterminate = false
        } else {
          this.isIndeterminate = !val
          this.isIndeterminatePc = !val
          this.isIndeterminateMb = !val
          this.isIndeterminateMl = !val
        }
      } else if (type === 'pc') {
        this.checkedAllPcList = val ? this.getList(type).pc : []
        this.isIndeterminatePc = false
      } else if (type === 'mb') {
        this.checkedAllMbList = val ? this.getList(type).mb : []
        this.isIndeterminateMb = false
      } else {
        this.checkedAllMlList = val ? this.getList(type).ml : []
        this.isIndeterminateMl = false
      }
    },
    handleCheckedCitiesChange (value, type, index) {
      let checkedCount = value.length
      let listData = this.getList(type)
      if (type === 'all') {
        let list = JSON.parse(JSON.stringify(this.allList))
        let data = list[index]
        let isChecked = false
        for (let i = 0; i < this.checkedAllList.length; i++) {
          if (data.tenantId !== this.checkedAllList[i]) {
            continue
          }
          isChecked = true
        }
        if (isChecked) {
          this.checkedAllPcList.push(data.pcId)
          this.checkedAllMbList.push(data.mbId)
          this.checkedAllMlList.push(data.mlId)
        } else {
          for (let j = 0; j < this.checkedAllPcList.length; j++) {
            if (data.pcId !== this.checkedAllPcList[j]) {
              continue
            }
            this.checkedAllPcList.splice(j, 1)
          }
          for (let k = 0; k < this.checkedAllMbList.length; k++) {
            if (data.mbId !== this.checkedAllMbList[k]) {
              continue
            }
            this.checkedAllMbList.splice(k, 1)
          }
          for (let d = 0; d < this.checkedAllMlList.length; d++) {
            if (data.mlId !== this.checkedAllMlList[d]) {
              continue
            }
            this.checkedAllMlList.splice(d, 1)
          }
        }
        this.isIndeterminate = checkedCount > 0 && checkedCount < listData.all.length
        this.isIndeterminatePc = this.checkedAllPcList.length > 0 && this.checkedAllPcList.length < listData.pc.length
        this.isIndeterminateMb = this.checkedAllMbList.length > 0 && this.checkedAllMbList.length < listData.mb.length
        this.isIndeterminateMl = this.checkedAllMlList.length > 0 && this.checkedAllMlList.length < listData.ml.length
        this.checkAll = checkedCount === listData.all.length
        this.checkAllPc = this.checkedAllPcList.length === listData.pc.length || this.checkedPcPcList.length === listData.pc.length
        this.checkAllMb = this.checkedAllMbList.length === listData.mb.length || this.checkedMbPcList.length === listData.mb.length
        this.checkAllMl = this.checkedAllMlList.length === listData.ml.length || this.checkedMlPcList.length === listData.Ml.length
      } else if (type === 'pc') {
        this.checkAllPc = checkedCount === listData.pc.length
        this.isIndeterminatePc = checkedCount > 0 && checkedCount < listData.pc.length
      } else if (type === 'mb') {
        this.checkAllMb = checkedCount === listData.mb.length
        this.isIndeterminateMb = checkedCount > 0 && checkedCount < listData.mb.length
      } else {
        this.checkAllMl = checkedCount === listData.ml.length
        this.isIndeterminateMl = checkedCount > 0 && checkedCount < listData.ml.length
      }
    },
    statusName (val, types) {
      for (var key in val) {
        if (key === types) {
          if (val[key]) {
            val[key] = 1
          } else {
            val[key] = 0
          }
          break
        }
      }
    },
    updateStatus (val, types, value) {
      let submitData = {}
      if (types === 'mbIsMigratingMonitored' || types === 'mlIsMigratingMonitored' || types === 'pcIsMigratingMonitored') {
        if (value === true) {
          submitData.isMigratingMonitored = 1
        } else {
          submitData.isMigratingMonitored = 0
        }
      } else {
        if (value === true) {
          submitData.isRevertingMonitored = 1
        } else {
          submitData.isRevertingMonitored = 0
        }
      }
      if (types === 'pcIsRevertingMonitored' || types === 'pcIsMigratingMonitored') {
        submitData.id = val.pcId
      } else if (types === 'mbIsMigratingMonitored' || types === 'mbIsRevertingMonitored') {
        submitData.id = val.mbId
      } else {
        submitData.id = val.mlId
      }
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateHostMonitored(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
        // val.killOpen = !val.killOpen
        console.log(this.submitData)
      }).then((res) => {
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
          this.getOrderList()
        })
        this.msgSuccess('操作成功')
      })
    },
    clickCopy (domName) {
      document.getElementById(domName).select()
      document.execCommand('copy')
    },
    formatterSourceId (row, column) {
      if (!row || column === undefined) {
        return ''
      }
      for (let i = 0; i < NetworkStateList.length; i++) {
        if (NetworkStateList[i].key === column) {
          return NetworkStateList[i].value
        }
      }
      return '未知终端'
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    // 单个修改
    editOne (v) {
      // console.log(v + '可以修改')
      this.IpManageShow = true
      this.selectData = v
      // console.log(v)
    },
    openIPManageNewForm () {
      this.IpManageShow = true
      this.selectData = {}
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      submitData.tenantIds = this.checkedAllList.toString()
      this.loading = true
      let obj = this
      Api.getHostList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.$nextTick(() => {
          let arr = res.data.list
          let arrResult = []
          for (let i = 0; i < arr.length; i++) {
            arrResult.push(Object.assign(arr[i], {
              mbIsMigratingMonitored: arr[i]['mbIsMigratingMonitored'] === 1,
              mbIsRevertingMonitored: arr[i]['mbIsRevertingMonitored'] === 1,
              mlIsMigratingMonitored: arr[i]['mlIsMigratingMonitored'] === 1,
              mlIsRevertingMonitored: arr[i]['mlIsRevertingMonitored'] === 1,
              pcIsMigratingMonitored: arr[i]['pcIsMigratingMonitored'] === 1,
              pcIsRevertingMonitored: arr[i]['pcIsRevertingMonitored'] === 1
            }))
          }
          obj.allList = arrResult
          this.total = res.data.total
          if (this.allList.length > 0) {
            this.tableLine = false
          }
          this.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  beforeDestroy () {
    this.ruleForm.Update = 0
    clearTimeout(this.timer)
  },
  components: {
    Scroll,
    NetworkDispatchForm,
    httpsIpForm
  }
}
</script>
<style scoped>
  .copy-box{
    position: relative;
    cursor: pointer;
  }
  .copy-input{
    position: absolute;
    left: -110%;
  }
  .checked-style span{
    background: red !important;
  }
  .report-moadal .table-style{
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
  }
  .hover-effect-red{
    color: var(--color-danger)!important;
    &:after{
      background: var(--color-danger) !important;
    }
  }
  .hover-effect-yellow{
    color: var(--color-success)!important;
    &:after{
      background: var(--color-success)!important;
    }
  }
  .iplist-style{
    display: flex;
    & span{ display: inline-block}
    & span:first-child{ width: 50px;}
    & span:last-child{
      width: calc(100% - 60px);
      word-break: break-all;
    }
  }
  @media screen and (max-width: 768px){
    .table-scroll{
      overflow-x: scroll;
    }

  }
</style>
