<template>
  <div class="panel">
    <div class="panel-heading">
      昵称管理
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>=768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input size="min" v-model="ruleForm.userName" class="width-forword" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="昵称" prop="nickName">
            <el-input size="min" v-model="ruleForm.nickName"  class="width-forword" placeholder="请输入昵称"></el-input>
          </el-form-item>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input size="min" v-model="ruleForm.tenantCode" class="width-forword" placeholder="请输入站长编码"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">

                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input size="min" v-model="ruleForm.userName" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="昵称" prop="nickName">
                      <el-input size="min" v-model="ruleForm.nickName"  placeholder="请输入昵称"></el-input>
                    </el-form-item>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-input size="min" v-model="ruleForm.tenantCode" placeholder="请输入站长编码"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"
             v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
            <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th width="27%"><div class="cell">会员账号</div></th>
                      <th width="26%"><div class="cell">昵称</div></th>
                      <th width="26%"><div class="cell">站长编码</div></th>
                      <th width="20%"><div class="cell">注册时间</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell"><span>{{items.userName}}</span></div></td>
                      <td><div class="cell">
                        <template v-if="items.nickName">
                          <span class="color-blue hoverline-effet" title="修改"  @click="editOne(items)">{{items.nickName}}</span>
                        </template>
                        <template v-else>
                          <div  class="state-btn"> <el-button title="修改"  @click="editOne(items)" >设置昵称</el-button></div>
                        </template>
                      </div></td>
                      <td><div class="cell"><span>{{items.tenantCode}}</span></div></td>
                      <td><div class="cell"><span>{{items.registerTime}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- 手机版 -->
            <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
              <el-table
                ref="multipleTable"
                :data="allList"
                @row-click="openDetails"
                style="width: 100%;">
                <el-table-column
                  prop="userName"
                  label="会员账号"
                  fixed
                  min-width="140">
                </el-table-column>
                <el-table-column
                  label="昵称"
                  min-width="100">
                  <template slot-scope="scope" >
                    <template v-if="scope.row.nickName">
                      <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改"  @click="editOne(scope.row)">{{scope.row.nickName}}</span>
                      <span v-else class="color-blue overflow-style">{{scope.row.nickName}}</span>
                    </template>
                    <template v-else>
                      <div  class="state-btn"> <el-button title="修改"  @click="editOne(scope.row)" >设置昵称</el-button></div>
                    </template>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="tenantCode"
                  label="站长编码"
                  min-width="100">
                </el-table-column>
                <el-table-column
                  prop="registerTime"
                  label="注册时间"
                  width="180">
                </el-table-column>
              </el-table>
            </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="editOne(detailData)">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
      </div>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="昵称管理"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul >
          <li>
            <span>会员账号</span>
            <span>{{detailData.userName}}</span>
          </li>
          <li>
            <span>昵称</span>
            <span class="color-blue">{{detailData.nickName}}</span>
          </li>
          <li>
            <span>站长编码</span>
            <span>{{detailData.tenantCode}}</span>
          </li>
          <li>
            <span>注册时间</span>
            <span>{{detailData.registerTime}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <setting-nick-name
      :data="selectData"
      :visible="SettingNickNameVisible"
      @onClose="SettingNickNameVisible=false">
    </setting-nick-name>
  </div>
</template>
<script>
import SettingNickName from '@/views/newModal/SettingNickName'
import Scroll from '@/components/Scroll'
import Api from '@/api/tenant'
export default {
  data () {
    return {
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      SettingNickNameVisible: false,
      submitLoading: false,
      rwdNumber: '',
      rwdbtnVisible: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        nickName: '',
        tenantCode: ''
      },
      allList: [],
      pageNum: 1,
      pageSize: 20,
      total: 0,
      selectData: {},
      detailData: {
        userName: '',
        nickName: '',
        tenantCode: '',
        registerTime: ''
      }
    }
  },
  components: {
    Scroll,
    SettingNickName
  },
  methods: {
    onSubmit () {
      this.pageNum = 1
      this.pageSize = 20
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.manageUserNickName(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    editOne (val) {
      // console.log(val)
      // console.log(val)
      this.selectData = val
      this.SettingNickNameVisible = true
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  }
}
</script>
