<template>
  <div class="panel">
    <div class="panel-heading">
      盈率调节
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">彩种名称</div></th>
                  <th ><div class="cell">盈率阈值</div></th>
                  <th ><div class="cell">本月盈率</div></th>
                  <th><div class="cell">操作人</div></th>
                  <th ><div class="cell">操作时间</div></th>
                  <th width="150px"><div class="cell">状态</div></th>
                  <th width="130px"><div class="cell">操作</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--彩种名称-->
                    <td ><div class="cell"><span class="color-blue hoverline-effet" @click="editOne(items,items.gameName)">{{items.gameName}}</span></div></td>
                    <!--盈率阈值-->
                    <td ><div class="cell"><span>{{items.purposesProfit | formatMoney}}</span></div></td>
                    <!--本月盈率-->
                    <td ><div class="cell"><span :class="items.nowProfit < 0 ? 'color-success' : 'color-danger'">{{items.nowProfit | formatMoney}}</span></div></td>
                    <!--操作人-->
                    <td ><div class="cell min-width130"><span>{{items.operator}}</span></div></td>
                    <!--操作时间-->
                    <td ><div class="cell min-width160"><span>{{items.gmtModified}}</span></div></td>
                    <!--状态-->
                    <td ><div class="cell"><span :class="items.killOpen ? 'color-success' : 'color-danger'">{{items.killOpen ? '开启' : '关闭'}}</span></div></td>
                    <!--操作-->
                    <td >
                      <div class="cell state-btn">
                        <el-radio-group  v-model="items.killOpen" @change="updateStatus(items)" size="mini">
                          <el-radio-button label="true">开启</el-radio-button>
                          <el-radio-button label="false">关闭</el-radio-button>
                        </el-radio-group>
                      </div>
                    </td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                fixed
                label="彩种名称"
                min-width="130">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.gameName}}</span>
                </template>
              </el-table-column>
              <el-table-column
              prop="gameCode"
              label="彩种编号"
              min-width="130">
              </el-table-column>
              <el-table-column
                label="盈率阈值"
                min-width="100">
                <template slot-scope="scope">
                  <span>{{scope.row.purposesProfit | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="本月盈率"
                min-width="100">
                <template slot-scope="scope">
                  <span :class="scope.row.nowProfit <= 0 ? 'color-success' : 'color-danger'">{{scope.row.nowProfit | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                min-width="150">
              </el-table-column>
              <el-table-column
                prop="gmtModified"
                label="操作时间"
                min-width="200">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="50">
                <template slot-scope="scope">
                  <span :class="scope.row.killOpen ? 'color-success' : 'color-danger'">{{scope.row.killOpen ? '开启' : '关闭'}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <br>
      <div class="report-foot margin-t10">
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="updateStatus(detailData, detailData.killOpen);rwdbtnVisible=false">{{detailData.killOpen ?'关闭':'开启'}}</span>
          <span @click="editOne(detailData,detailData.gameName)" >修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="盈率调节"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>彩种名称</span>
            <span class="color-blue">{{detailData.gameName}}</span>
          </li>
          <li>
            <span>盈率阈值</span>
            <span>{{detailData.purposesProfit}}</span>
          </li>
          <li>
            <span>本月盈率</span>
            <span>{{detailData.nowProfit}}</span>
          </li>
          <li>
            <span>操作人</span>
            <span>{{detailData.operator}}</span>
          </li>
          <li>
            <span>操作时间</span>
            <span>{{detailData.gmtModified}}</span>
          </li>
          <li>
            <span>状态</span>
            <span>{{detailData.killOpen ?'关闭':'开启'}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
      <profit-game-form
        :data="selectData"
        :Name="gameName"
        :visible="ProfitFormShow"
        v-on:onClose="ProfitFormShow=false"
      ></profit-game-form>
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import ProfitGameForm from '@/views/newModal/ProfitGameForm'
export default {
  data () {
    return {
      ProfitFormShow: false,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      tableLine: true,
      // 列表数据
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      gameName: ''
    }
  },
  mounted () {
    this.getOrderList()
    // this.getCurrentUser(true)
  },
  methods: {
    updateStatus (val, killOpen) {
      this.rwdbtnVisible = false
      // this.getCurrentUser()
      let submitData = {}
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      submitData.killOpen = val.killOpen
      submitData.gameCode = val.gameCode
      if (killOpen !== undefined) {
        killOpen = !killOpen
        submitData.killOpen = killOpen
      }
      Api.updateKillOpenFromCmsGame(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
        val.killOpen = !val.killOpen
      }).then((res) => {
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
          this.getOrderList()
        })
        this.msgSuccess('操作成功')
      })
    },
    editOne (val, gameName) {
      this.selectData = val
      console.log(this.selectData)
      this.gameName = gameName
      this.ProfitFormShow = true
      this.rwdbtnVisible = false
    },
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.selectKillControlGame(submitData, function () {
        obj.loading = false
      }).then((res) => {
        for (let i = 0; i < res.data.length; i++) {
          res.data[i].purposesProfit = res.data[i].purposesProfit * 100
          res.data[i].nowProfit = res.data[i].nowProfit * 100
        }
        this.allList = res.data
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    ProfitGameForm
  }
}
</script>
