<template>
  <div class="panel">
    <div class="panel-heading">
      平台消息
      <div class="float-right panel-heading-right">
        <el-button type="success" icon="el-icon-plus" size="mini" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <!--数据列表-->
    <div id="wrapper">
      <div class="panel-body">
        <div class="search-header">
          <el-form  size="mini"  v-if="screenW>768" :model="ruleForm" ref="ruleForm" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
            <el-form-item label="状态" prop="isTop">
              <el-select size="min" v-model="ruleForm.isTop" class="width-midstatus" placeholder="全部" >
                <el-option label="全部" value=""></el-option>
                <el-option label="不置顶" value="0"></el-option>
                <el-option label="置顶" value="1"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="标题" prop="title">
              <el-input placeholder="请输入标题" size="min" v-model="ruleForm.title" class="width-account">
              </el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
              <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
        <div class="report-data" :class="{'unfinished': !tableLine}">
          <!--====删除；p-ytrdsazAZSXHJHDXZ=====-->
          <div class="report-nav rb-row delbtn">
            <el-button size="mini" icon="el-icon-delete" v-if="screenW >768 || isActive" :disabled="checkedCities.length===0" @click="deleteRows">删除</el-button>
            <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
              <span v-if="isActive">取消删除</span>
              <span v-else>删除</span>
            </el-button>
            <div class="search-rwdbox" >
              <div class="rwd-searchbox" v-if="screenW <=768">
                <div class="search-rwdbtn">
                  <popover-right
                    :visible="avatorVisible"
                    @close="avatorVisible=false">
                    <el-form  size="small" :inline="false" ref="ruleForm" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                      <el-form-item label="状态" prop="isTop">
                        <el-select size="min" v-model="ruleForm.isTop" class="width-search100" placeholder="全部" >
                          <el-option label="全部" value=""></el-option>
                          <el-option label="不置顶" value="0"></el-option>
                          <el-option label="置顶" value="1"></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item label="标题" prop="title">
                        <el-input placeholder="请输入标题" size="min" v-model="ruleForm.title" class="width-search200">
                        </el-input>
                      </el-form-item>
                    </el-form>
                    <div class="search-btn" slot="btn">
                      <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                      <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                    </div>
                  </popover-right>
                  <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
                </div>
              </div>
            </div>
          </div>
          <div class="table-style"  v-loading="loading"
               element-loading-spinner="dafa-icon-loading01 dafa-icon"
               element-loading-customClass="loadingClass">
            <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                  <table class="el-table lottery-table table300" cellspacing="0"  >
                    <thead class="el-table__header">
                      <tr>
                        <th width="22px"><div class="table-id"></div></th>
                        <th><div class="cell">标题</div></th>
                        <th><div class="cell">收件人</div></th>
                        <th><div class="cell">状态</div></th>
                        <th><div class="cell">浏览次数</div></th>
                        <th width="170px"><div class="cell ">发布时间</div></th>
                        <th width="170px"><div class="cell">添加时间</div></th>
                      </tr>
                    </thead>
                    <tbody>
                    <template v-if="allList.length>0">
                      <tr v-for="(items, index) in allList" :key="index">
                        <td width="22px"><div  class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                        <td ><div class="cell  max-width300"><span class="color-blue hoverline-effet" title="修改" @click="editOne(items)">{{items.title}}</span></div></td>
                        <td ><div class="cell min-width200 max-width220 cursor-style" :id="'multipleTableReceiverListColumn' + index" @click="openContentForm('receiverList', '收件人', items, 'multipleTableReceiverListColumn' + index, 'multipleTableReceiverListContent' + index)">
                          <!--<span v-if="items.receiverListFlag === 0">{{formatterReceiverList(items)}}</span>-->
                          <!--<span v-else class="hoverline-effet hover-black" @click="openContentForm('receiverList', '收件人', items)" v-html="items.receiverListContent"></span>-->
                          <span :title="formatterReceiverList(items)"  :id="'multipleTableReceiverListContent' + index">{{formatterReceiverList(items)}}</span>
                        </div></td>
                        <td ><div class="cell"><span >{{items.isTop === 1 ?"置顶":"不置顶"}}</span></div></td>
                        <td ><div class="cell"><span >{{items.reads}}</span></div></td>
                        <td ><div class="cell "><span >{{items.gmtPublished}}</span></div></td>
                        <td ><div class="cell "><span >{{items.gmtCreated}}</span></div></td>
                      </tr>
                    </template>
                    <!--無數據時樣式-->
                    <template v-else>
                      <tr>
                        <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                      </tr>
                    </template>
                    </tbody>
                  </table>
                </el-checkbox-group>
              </div>
            </div>
            <!-- 手机版 -->
            <scroll :id="'scrollId1'" class="el-table" v-else>
              <el-table
                ref="multipleTable"
                :data="allList"
                style="width: 100%;"
                @row-click="openDetails"
                @selection-change="handleSelectionChange">
                  <el-table-column
                    prop="id"
                    type="selection"
                    width="34"
                    fixed
                    v-if="screenW >768 || isActive">
                  </el-table-column>
                  <el-table-column
                    label="标题"
                    fixed
                    :min-width="screenW > 768 ? '230':'150'" show-overflow-tooltip>
                    <template slot-scope="scope">
                      <span v-if="screenW > 768" class=" color-blue hoverline-effet" title="修改" @click="editOne(scope.row)" >{{ scope.row.title}}</span>
                      <span v-else  class="color-blue">{{ scope.row.title}}</span>
                    </template>
                    <!--<template slot-scope="scope">-->
                      <!--<span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改" @click="editOne(scope.row)" >{{ scope.row.title}}</span>-->
                      <!--<span v-else class="color-blue overflow-style" >{{ scope.row.title}}</span>-->
                    <!--</template>-->
                  </el-table-column>
                  <el-table-column
                    prop="receiverList"
                    label="收件人"
                    min-width="120"
                    :formatter="formatterReceiverList" show-overflow-tooltip>
                  </el-table-column>
                  <el-table-column
                    label="状态"
                    :width="screenW > 1024 ? '120':'60'">
                    <template slot-scope="scope"><span>{{scope.row.isTop === 1 ?"置顶":"不置顶"}}</span></template>
                  </el-table-column>
                  <el-table-column
                    prop="reads"
                    label="浏览次数"
                    :width="screenW > 1024 ? '120':'80'">
                  </el-table-column>
                  <el-table-column
                    prop="gmtPublished"
                    label="发布时间"
                    width="180">
                  </el-table-column>
                  <el-table-column
                    prop="gmtCreated"
                    label="添加时间"
                    width="180">
                  </el-table-column>
              </el-table>
            </scroll>
          </div>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="editOne(detailData)" >修改</span>
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <div class="report-foot margin-t10">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            ref="pagination"
            :page-sizes="[20, 100, 300]"
            :page-size="20"
            :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
            :total="total">
           </el-pagination>
        </div>
      </div>
    </div>
    <popover-right
      :modal="false"
      title="平台消息"
      :visible="detailShow"
      @close="detailShow=false">
      <ul>
        <li>
          <span>标题</span>
          <span class="color-blue">{{detailData.title}}</span>
        </li>
        <li>
          <span>收件人</span>
          <span>{{formatterReceiverList(detailData)}}</span>
        </li>
        <li>
          <span>状态</span>
          <span>{{detailData.isTop === 1 ?"置顶":"不置顶"}}</span>
        </li>
        <li>
          <span>浏览次数</span>
          <span>{{detailData.reads}}</span>
        </li>
        <li>
          <span>发布时间</span>
          <span>{{detailData.gmtPublished}}</span>
        </li>
        <li>
          <span>添加时间</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
      </ul>
    </popover-right>
    <site-notice-new-form
      :data="selectData"
      :visible = "SiteNoticeNewForm"
      v-on:onClose = "SiteNoticeNewForm=false">
    </site-notice-new-form>
  </div>
</template>
<script>
// import api from '@/api'
import SiteNoticeNewForm from '@/views/newModal/SiteNoticeNewForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import {getEllipsisFlag} from '@/utils'
export default {
  data () {
    return {
      submitLoading: false,
      btnShow: false,
      loading: false,
      detailShow: false,
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      closeVisable: false,
      isShow: false,
      avatorVisible: false,
      rwdbtnVisible: false,
      rwdNumber: '',
      command: 0,
      SiteNoticeNewForm: false,
      tableLine: true,
      radio2: 1,
      searchNotice: '',
      btnStyle: false,
      ruleForm: {
        title: '',
        isTop: ''
      },
      tableHeight: '',
      allList: [],
      multipleSelection: [],
      labelPosition: 'top',
      show: false,
      currentPage: 1,
      formLabelAlign: {
        beforeTime: '',
        endTime: '',
        recipient: [],
        status: 1
      },
      visible1: false,
      visible2: false,
      selectData: {},
      total: 0,
      pageNum: 1,
      pageSize: 20,
      timeCount: 0,
      timer: null,
      detailData: {
        title: '',
        receiverList: '',
        isTop: '',
        reads: '',
        gmtModified: '',
        gmtCreated: '',
        row: ''
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      ellipsisColumns: [{name: 'receiverList',
        width: 288,
        formatterFunc: function (row) {
          if (!row || !row.receiverList || row.receiverList === undefined) {
            return ''
          }
          let jsonData = JSON.parse(row.receiverList)
          if (jsonData.length < 1) {
            return '所有站'
          }
          let data = ''
          for (let i = 0; i < jsonData.length; i++) {
            data += ',' + jsonData[i].tenantCode
          }
          if (data !== '') {
            data = data.substr(1)
          }
          return data
        }
      }]
    }
  },
  created () {
    this.loading = true
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  components: {
    Scroll,
    SiteNoticeNewForm
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      let content = v[type]
      if (type === 'receiverList') {
        content = this.formatterReceiverList(v)
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(content, title, {
        confirmButtonText: '确定'
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openNewForm () {
      this.SiteNoticeNewForm = true
      this.selectData = {}
    },
    // 单个修改
    editOne (v) {
      // console.log(v + '可以修改')
      this.rwdbtnVisible = false
      this.SiteNoticeNewForm = true
      this.selectData = v
      // console.log(v)
    },
    formatterReceiverList (row, column) {
      if (!row || !row.receiverList || row.receiverList === undefined) {
        return ''
      }
      let jsonData = JSON.parse(row.receiverList)
      if (jsonData.length < 1) {
        return '所有站'
      }
      let data = ''
      for (let i = 0; i < jsonData.length; i++) {
        data += ',' + jsonData[i].tenantCode
      }
      if (data !== '') {
        data = data.substr(1)
      }
      return data
    },
    onSubmit () {
      this.pageNum = 1
      this.avatorVisible = false
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.announcementList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.announcementList
        // getEllipsisHtml(this.ellipsisColumns, allList)
        // console.log(allList)
        this.allList = allList
        this.total = res.data.total
        this.loading = false
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteAnnouncement(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteAnnouncement(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.getOrderList(this.pageNum, this.pageSize)
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
