<template>
  <div class="panel">
    <div class="panel-heading">
      网关访问限制
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNew">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form size="small" :model="ruleForm" ref="ruleForm"  v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="IP地址" prop="ip">
            <el-input v-model="ruleForm.ip"  placeholder="请输入IP地址"></el-input>
          </el-form-item>
          <el-form-item label="访问区域" prop="webType">
            <el-select v-model="ruleForm.webType" label="套餐状态" class="width-forword" placeholder="请选择套餐状态">
              <el-option label="全部" value=""></el-option>
              <el-option label="前台" value="1"></el-option>
              <el-option label="后台" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="黑/白名单" prop="listType">
            <el-select v-model="ruleForm.listType" label="套餐状态" class="width-forword" placeholder="请选择套餐状态">
              <el-option label="全部" value=""></el-option>
              <el-option label="黑名单" value="1"></el-option>
              <el-option label="白名单" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour "
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav rb-row delbtn">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit">
                    <el-form-item label="IP地址" prop="ip">
                      <el-input v-model="ruleForm.ip"  placeholder="请输入IP地址"></el-input>
                    </el-form-item>
                    <el-form-item label="访问区域" prop="webType">
                      <el-select v-model="ruleForm.webType" label="套餐状态" class="width-forword" placeholder="请选择套餐状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="前台" value="1"></el-option>
                        <el-option label="后台" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="黑/白名单" prop="listType">
                      <el-select v-model="ruleForm.listType" label="套餐状态" class="width-forword" placeholder="请选择套餐状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="黑名单" value="1"></el-option>
                        <el-option label="白名单" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows" :loading="submitLoading"> {{submitLoading ? '正在删除' : '删除'}}</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
        </div>
        <div class=" table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th ><div class="cell">IP地址</div></th>
                    <th ><div class="cell">限制访问区域</div></th>
                    <th ><div class="cell">黑/白名单</div></th>
                    <th><div class="cell">操作人</div></th>
                    <th width="170px"><div class="cell">备注</div></th>
                    <th width="170px"><div class="cell">添加时间</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell"><span >{{items.ip}}</span></div></td>
                      <td ><div class="cell"><span >{{items.webType === 1 ? '前台':'后台'}}</span></div></td>
                      <td ><div class="cell"><span >{{items.listType === 1 ? '黑名单':'白名单'}}</span></div></td>
                      <td ><div class="cell"><span >{{items.operator}}</span></div></td>
                      <td><div class="cell max-width160 cursor-style" :id="'multipleTableRemarkColumn' + index"  @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                        <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div></td>

                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="Id"
                type="selection"
                width="34"
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="IP地址"
                fixed
                prop="ip"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="webType"
                label="限制访问区域"
                min-width="100" >
              </el-table-column>
              <el-table-column
                prop="listType"
                label="黑/白名单"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                width="170">
              </el-table-column>
              <el-table-column
                prop="remark"
                label="备注"
                width="170">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                width="170">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="updateState(detailData);rwdbtnVisible=false" >{{detailData.state === 1?'冻结':'解冻'}}</span>
            <span @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="网关访问限制"
          @close="detailShow=false">
          <ul >
            <li>
              <span>IP地址</span>
              <span class="color-blue">{{detailData.ip}}</span>
            </li>
            <li>
              <span>限制访问区域</span>
              <span>{{detailData.webType}}</span>
            </li>
            <li>
              <span>黑/白名单</span>
              <span>{{ detailData.listType}}</span>
            </li>
            <li>
              <span>操作人</span>
              <span>{{detailData.operator}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <!--<administrator-site-new-form-->
      <!--:data="selectData"-->
      <!--:visible="AdministratorSiteNewShow"-->
      <!--v-on:onClose="AdministratorSiteNewShow=false"-->
    <!--&gt;</administrator-site-new-form>-->
   <edit-form
    :data="selectData"
    :visible="NewShow"
    v-on:onClose="NewShow=false"
   ></edit-form>
  </div>
</template>
<script>
import EditForm from '@/views/newModal/PlatformGatewayLimitForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      avatorVisible: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      NewShow: false, // 是否显示编辑弹窗
      command: 0,
      isActive: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      // 列表数据
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      ruleForm: {
        ip: '',
        webType: '',
        listType: '',
        startTime: '',
        endTime: ''
      }
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    openNew () {
      this.NewShow = true
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      let parame = {
        pageNumber: pageNum,
        pageSize: pageSize,
        ip: this.ruleForm.ip,
        webType: this.ruleForm.webType,
        listType: this.ruleForm.listType,
        startTime: this.ruleForm.startTime,
        endTime: this.ruleForm.endTime
      }
      this.loading = true
      let obj = this
      Api.gatewayLimitList(parame, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
          this.avatorVisible = false
        })
      })
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.submitLoading = true
        let obj = this
        Api.gatewayLimitDelete(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.checkedCities = []
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  components: {
    EditForm,
    Scroll
  }
}
</script>
