<template>
  <div class="panel">
    <div class="panel-heading">
      域名管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openDomainBindNewForm">新增域名</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" size="small"  ref="ruleForm"   v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
            <el-form-item label="站长编码" prop="tenantCode">
              <el-input size="min" v-model.trim="ruleForm.tenantCode" class="width-forword" placeholder="请输入站长编码"></el-input>
            </el-form-item>
            <el-form-item label="网站名称" prop="name">
              <el-input size="min" v-model="ruleForm.name" class="width-forword" placeholder="请输入网站名称"></el-input>
            </el-form-item>
            <el-form-item label="域名类型" prop="urlId">
              <el-select size="min" v-model="ruleForm.urlId" class="width-shotstatus" placeholder="请选择域名类型">
                <el-option label="前台" value="1"></el-option>
                <el-option label="后台" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="域名" prop="url">
              <el-input size="min" v-model="ruleForm.url" class="width-forword" placeholder="请输入域名"></el-input>
            </el-form-item>
          <el-form-item label="域名状态" prop="checkState">
            <el-select v-model="ruleForm.checkState" class="width-search100" placeholder="请选择类型">
              <el-option label="全部" value=""></el-option>
              <el-option label="正常" value="1"></el-option>
              <el-option label="异常" value="2"></el-option>
              <el-option label="新增未检测" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="异常信息" prop="checkMessage">
            <el-select v-model="ruleForm.checkMessage" class="width-search100" placeholder="请选择类型">
              <el-option label="全部" value=""></el-option>
              <el-option label="未解析到平台" value="未解析到平台"></el-option>
              <el-option label="被墙" value="被墙"></el-option>
              <el-option label="被污染" value="被污染"></el-option>
              <el-option label="DNS被劫持" value="DNS被劫持"></el-option>
              <el-option label="域名未解析" value="域名未解析"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive" >
            <span v-if="isActive" >取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" v-show="screenW<768" :inline="false" ref="ruleForm" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-input size="min" v-model.trim="ruleForm.tenantCode"  placeholder="请输入站长编码"></el-input>
                    </el-form-item>
                    <el-form-item label="网站名称" prop="name">
                      <el-input size="min" v-model="ruleForm.name"  placeholder="请输入网站名称"></el-input>
                    </el-form-item>
                    <el-form-item label="网站类型" prop="urlId">
                      <el-select size="min" v-model="ruleForm.urlId"  placeholder="请选择网站类型">
                        <el-option label="前台" value="1"></el-option>
                        <el-option label="后台" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="网址" prop="url">
                      <el-input size="min" v-model="ruleForm.url" placeholder="请输入网址"></el-input>
                    </el-form-item>
                    <!--<el-form-item class="post-btn">-->
                      <!--<el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>-->
                      <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                  <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th width="22px"><div class="table-id"></div></th>
                      <th><div class="cell">域名</div></th>
                      <th><div class="cell">域名状态</div></th>
                      <th><div class="cell">异常信息</div></th>
                      <th><div class="cell">站长编码</div></th>
                      <th ><div class="cell">网站名称</div></th>
                      <th><div class="cell">操作人</div></th>
                      <th width="170px"><div class="cell">添加时间</div></th>
                      <th width="170px"><div class="cell">最近修改时间</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index" >{{''}}</el-checkbox></div></td>
                      <td ><div class="cell min-width130"><span class="color-blue ">{{items.url}}</span></div></td>
                      <td><div class="cell"><span :class="{'color-success': items.checkState === 1, 'color-danger': items.checkState === 2}">{{items.checkState | stateTxt}}</span></div></td>
                      <td><div class="cell"><span>{{items.checkMessage}}</span></div></td>
                      <td><div class="cell"><span >{{items.tenantCode}}</span></div></td>
                      <td><div class="cell"><span >{{items.name}}</span></div></td>
                      <td ><div class="cell"><span >{{items.managerName}}</span></div></td>
                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                      <td><div class="cell"><span >{{items.gmtModified}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
                </el-checkbox-group>
              </div>
            </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                v-if=" screenW >768 || isActive">
              </el-table-column>
              <el-table-column
                label="域名"
                min-width="130"
                fixed show-overflow-tooltip >
                <template slot-scope="scope">
                    <span class="color-blue  hoverline-effet" title="修改" @click="editOne(scope.row)" v-if="screenW > 1023">{{ scope.row.url}}</span>
                    <span v-else class="color-blue">{{ scope.row.url}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="域名状态"
                min-width="100">
                <template slot-scope="scope">
                    <span :class="{'color-success': scope.row.checkState === 1, 'color-danger': scope.row.checkState === 2}">{{ scope.row.checkState | stateTxt}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="异常信息"
                min-width="100"
                prop="checkMessage">
              </el-table-column>
              <el-table-column
                label="站长编码"
                min-width="100"
                prop="tenantCode">
              </el-table-column>
              <el-table-column
                prop="name"
                label="网站名称"
                min-width="130" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="managerName"
                label="操作人"
                min-width="180">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                width="170">
              </el-table-column>
              <el-table-column
                prop="gmtModified"
                label="最近修改时间"
                width="180">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 维护窗口 -->
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="editOne(detailData)">修改</span>
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="域名管理"
        @close="detailShow = false">
        <ul >
          <li>
            <span>域名</span>
            <span class="color-blue">{{detailData.url}}</span>
          </li>
          <li>
            <span>域名状态</span>
            <span>{{detailData.checkState | stateTxt}}</span>
          </li>
          <li>
            <span>异常信息</span>
            <span>{{detailData.checkMessage}}</span>
          </li>
          <li>
            <span>站长编码</span>
            <span>{{detailData.tenantCode}}</span>
          </li>
          <li>
            <span>网站名称</span>
            <span>{{detailData.name}}</span>
          </li>
          <li>
            <span>操作人</span>
            <span>{{detailData.managerName}}</span>
          </li>
          <li>
            <span>添加时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
          <li>
            <span>最近修改时间</span>
            <span>{{detailData.gmtModified}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
    </div>
    <domain-bind-form
      :data="selectData"
      :visible="DomainBindShow"
      v-on:onClose="DomainBindShow=false"
    ></domain-bind-form>
  </div>
</template>
<script>
import DomainBindForm from '@/views/newModal/DomainBindForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      rwdNumber: '',
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      DomainBindShow: false, // 是否开启弹窗
      command: 0,
      isShow: false,
      avatorVisible: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      ruleForm: {
        tenantCode: '',
        name: '',
        url: '',
        urlId: '1',
        checkState: '',
        checkMessage: ''
      },
      detailData: {
        url: '',
        tenantCode: '',
        name: '',
        managerName: '',
        gmtCreated: ''
      },
      // 列表数据
      allList: [],
      selectData: {},
      total: 0,
      pageNum: 1,
      pageSize: 20
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  filters: {
    stateTxt (value) {
      let text = ''
      switch (value) {
        case 0:
          text = '新增未检测'
          break
        case 1:
          text = '正常'
          break
        case 2:
          text = '异常'
          break
      }
      return text
    }
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openDomainBindNewForm () {
      this.DomainBindShow = true
      this.selectData = {}
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.urlList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.urlList
        this.total = res.data.total
        this.loading = false
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    editOne (val) {
      // console.log(val)
      this.selectData = val
      this.DomainBindShow = true
      this.rwdbtnVisible = false
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteUrl(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteUrl(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    DomainBindForm
  }
}
</script>
<style>
/** 可放公共样式 */
.notPaddtd{
  padding: 0 0 0 10px!important;
}
.notPadd{
  padding: 0 10px!important;
}
</style>
