<template>
  <div class="panel">
    <div class="panel-heading">
      站长反馈
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" size="small"  ref="ruleForm"   v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
            <el-form-item label="网站名称" prop="tenantName">
              <el-input size="min" v-model.trim="ruleForm.tenantName" class="width-forword" placeholder="请输入网站名称"></el-input>
            </el-form-item>
            <el-form-item label="站长编码" prop="tenantCode">
              <el-input size="min" v-model="ruleForm.tenantCode" class="width-forword" placeholder="请输入站长编码"></el-input>
            </el-form-item>
            <el-form-item label="标记结果" prop="markType">
              <el-select size="min" v-model="ruleForm.markType" class="width-shotstatus" placeholder="请选择域名类型">
                <el-option label="全部" value="-1"></el-option>
                <el-option label="未标记" value="0"></el-option>
                <el-option label="需求" value="1"></el-option>
                <el-option label="BUG" value="2"></el-option>
                <el-option label="无效反馈" value="3"></el-option>
              </el-select>
            </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-searchtime-feedback"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-searchtime-feedback"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" ref="ruleForm" :model="ruleForm">
                    <el-form-item label="网站名称" prop="tenantName">
                      <el-input size="min" v-model="ruleForm.tenantName"  placeholder="请输入网站名称"></el-input>
                    </el-form-item>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-input size="min" v-model.trim="ruleForm.tenantCode"  placeholder="请输入站长编码"></el-input>
                    </el-form-item>
                    <el-form-item label="标记结果" prop="markType">
                      <el-select size="min" v-model="ruleForm.markType" class="width-shotstatus" placeholder="请选择域名类型">
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="未标记" value="0"></el-option>
                        <el-option label="需求" value="1"></el-option>
                        <el-option label="BUG" value="2"></el-option>
                        <el-option label="无效反馈" value="3"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate"  class="with100">
                      <template>
                        <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                      </template>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate"  class="with100">
                      <template>
                        <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                      </template>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                  <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th ><div class="cell">网站名称</div></th>
                      <th width="200"><div class="cell">站长编码</div></th>
                      <th width="200"><div class="cell">反馈时间</div></th>
                      <th width="200"><div class="cell">反馈类型</div></th>
                      <th width="200"><div class="cell">标记结果</div></th>
                      <th width="60px"><div class="cell">反馈内容</div></th>
                    </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :class="{bgTrhover:currentIndex===index}" :key="index">
                      <td ><div class="cell min-width130 cursor-style" @click="viewFeedbackContent(items, index)"><span class="color-blue ">{{items.tenantName}}</span></div></td>
                      <td><div class="cell"><span>{{items.tenantCode}}</span></div></td>
                      <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                      <td><div class="cell"><span >{{items.feedbackType | feedbackTypeFilter}}</span></div></td>
                      <td><div class="cell"><span :class="{'color-success':items.markType===1,'color-danger':items.markType===2,'color-grey':items.markType===3 || items.markType===0}">{{items.markType | filterMarkType}}</span></div></td>
                      <td ><div class="cell" @click="viewFeedbackContent(items, index)"><span class="viewFeedbackContent">查看</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;"
              @selection-change="handleSelectionChange">
              <el-table-column
                label="网站名称"
                fixed
                show-overflow-tooltip
                prop="tenantName"
                min-width="130">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.tenantName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="站长编码"
                prop="tenantCode"
                min-width="160">
              </el-table-column>
              <el-table-column
                label="反馈时间"
                min-width="200"
                prop="gmtModified">
              </el-table-column>
              <el-table-column
                label="反馈类型"
                min-width="100"
                prop="tenantCode">
                <template slot-scope="scope">
                  <span >{{ scope.row.feedbackType | feedbackTypeFilter}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="标记结果"
                min-width="100"
                prop="tenantCode">
                <template slot-scope="scope">
                 <span :class="{'color-success':scope.row.feedbackType===1,'color-danger':scope.row.feedbackType===2,'color-grey':scope.row.feedbackType===3}">{{scope.row.feedbackTypeName}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 维护窗口 -->
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="editOne(detailData)">修改</span>
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="站长反馈"
        @close="detailShow = false">
        <ul >
          <li>
            <span>网站名称</span>
            <span class="color-blue">{{detailData.tenantName}}</span>
          </li>
          <li>
            <span>站长编码</span>
            <span>{{detailData.tenantCode}}</span>
          </li>
          <li>
            <span>反馈时间</span>
            <span>{{detailData.gmtModified}}</span>
          </li>
          <li>
            <span>反馈类型</span>
            <span>{{detailData.feedbackType | feedbackTypeFilter}}</span>
          </li>
          <li>
            <span>标记结果</span>
            <span :class="{'color-success':detailData.feedbackType===1,'color-danger':detailData.feedbackType===2,'color-grey':detailData.feedbackType===3}">{{detailData.feedbackTypeName}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
    </div>
    <domain-bind-form
      :visible="DomainBindShow"
      v-on:onClose="DomainBindShow=false"
    ></domain-bind-form>
    <feedback-content-form
      :tableDatas="allList"
      @rowInfoindextr="rowInfoindextr"
      :rowInfoIndex="rowInfoIndex"
      :itemsTotal="total"
      :interfaceFlag="interfaceFlag"
      :pageSize="pageSize"
      :pageNum="pageNum"
      :visible = "feedbackContentForm"
      v-on:onClose = "feedbackContentForm=false">
    </feedback-content-form>
  </div>
</template>
<script>
import {validateQueryDateTwo} from '@/utils/validateRules'
import DomainBindForm from '@/views/newModal/DomainBindForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import FeedbackContentForm from '@/views/newModal/FeedbackContentForm'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      rwdNumber: '',
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      DomainBindShow: false, // 是否开启弹窗
      command: 0,
      isShow: false,
      avatorVisible: false,
      loading: false,
      interfaceFlag: {flag: false},
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      ruleForm: {
        tenantCode: '',
        markType: '-1',
        startDate: '',
        endDate: '',
        tenantName: ''
      },
      detailData: {
        tenantCode: '',
        name: '',
        managerName: '',
        gmtCreated: ''
      },
      currentIndex: -1,
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      upDownHover: -1,
      feedbackContentForm: false,
      rowInfoIndex: 1,
      tableDatas: []
    }
  },
  mounted () {
    this.getOrderList()
  },
  filters: {
    feedbackTypeFilter (value) {
      let text = ''
      switch (value) {
        case 1:
          text = '产品需求'
          break
        case 2:
          text = '平台建议'
          break
        case 3:
          text = '系统BUG'
          break
      }
      return text
    },
    filterMarkType (value) {
      let text = ''
      switch (value) {
        case 0:
          text = '未标记'
          break
        case 1:
          text = '需求'
          break
        case 2:
          text = 'BUG'
          break
        case 3:
          text = '无效反馈'
          break
      }
      return text
    }
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openDomainBindNewForm () {
      this.feedbackContentForm = true
      this.selectData = {}
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList()
    },
    getOrderList () {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      this.$refs.pagination.internalCurrentPage = this.pageNum
      this.$refs.pagination.internalPageSize = this.pageSize
      let parame = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        markType: this.ruleForm.markType
      }
      Object.assign(this.ruleForm, parame)
      this.loading = true
      let obj = this
      Api.platformFeedbackList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.interfaceFlag.flag = false
        res.data.list.forEach((item, index) => { item.indextr = index })
        this.allList = res.data.list
        this.total = res.data.total
        this.loading = false
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.loading = false
      })
    },
    editOne (val) {
      this.rowInfoIndex = (this.pageNum - 1) * this.pageSize + val.indextr + 1
      this.feedbackContentForm = true
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    // 查看详情信息
    viewFeedbackContent (val, i) {
      this.currentIndex = i
      this.rowInfoIndex = (this.pageNum - 1) * this.pageSize + i + 1
      this.feedbackContentForm = true
    },
    rowInfoindextr (val) {
      this.currentIndex = val - (this.pageNum - 1) * this.pageSize - 1
      if (val > this.pageSize * this.pageNum) {
        ++this.pageNum
        this.interfaceFlag.flag = true
        this.getOrderList()
      }
      if (val <= this.pageSize * (this.pageNum - 1)) {
        --this.pageNum
        this.interfaceFlag.flag = true
        this.getOrderList()
      }
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    DomainBindForm,
    DatetimePicker,
    FeedbackContentForm
  }
}
</script>
<style>
/** 可放公共样式 */
.width-shotstatus{
  width:80px;
}
.notPaddtd{
  padding: 0 0 0 10px!important;
}
.notPadd{
  padding: 0 10px!important;
}
.viewFeedbackContent{
  cursor: pointer;
  color:rgb(0, 102, 204)
}
.bgTrhover{
  background-color: rgb(245, 246, 250)!important;
}
.width-searchtime-feedback{
& .el-input__inner{
    width:175px!important;
  }
& .el-input__icon{
    line-height: 10px;
  }
}
</style>
