<template>
  <div class="panel">
    <div class="panel-heading">
      IP管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="success" icon="el-icon-plus"  @click="imports">批量导入</el-button>
        <input type="file" ref="upload" style="display: none" @change="getFile($event)">
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="站长编码" prop="tenantCode">
            <el-input v-model="ruleForm.tenantCode" class="width-forword" placeholder="请输入站长编码"></el-input>
          </el-form-item>
          <el-form-item label="服务器" prop="servers">
            <el-input v-model="ruleForm.servers" class="width-search100" placeholder="以逗号隔开"></el-input>
          </el-form-item>
          <el-form-item label="状态" prop="isUsed">
            <el-select v-model="ruleForm.isUsed" label="状态" class="width-forword" placeholder="请选择状态">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in isUsedList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="站长编码" prop="tenantCode">
                      <el-input v-model="ruleForm.tenantCode"  placeholder="请输入站长编码"></el-input>
                    </el-form-item>
                    <el-form-item label="服务器" prop="servers">
                      <el-input v-model="ruleForm.servers" placeholder="以逗号隔开"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="isUsed">
                      <el-select v-model="ruleForm.isUsed" label="状态"  placeholder="请选择状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in isUsedList"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0" >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">ip</div></th>
                  <th ><div class="cell">内网ip</div></th>
                  <th ><div class="cell">服务器</div></th>
                  <th ><div class="cell">域名</div></th>
                  <th ><div class="cell">连接数门槛</div></th>
                  <th ><div class="cell">站长编码</div></th>
                  <th ><div class="cell">状态</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--ip-->
                    <td ><div class="cell"><span @click="editOne(items)" class="color-blue hoverline-effet">{{items.ip}}</span></div></td>
                    <!--內網ip-->
                    <td ><div class="cell"><span >{{items.privateIp}}</span></div></td>
                    <!--服务器-->
                    <td ><div class="cell"><span >{{items.server}}</span></div></td>
                    <!--域名-->
                    <td ><div class="cell"><span >{{items.domain}}</span></div></td>
                    <!--连接数门槛-->
                    <td ><div class="cell"><span >{{items.connectionThreshold}}</span></div></td>
                    <!--站长编码-->
                    <td ><div class="cell"><span >{{items.tenantCode}}</span></div></td>
                    <!--状态-->
                    <td ><div class="cell"><span :class="items.isUsed === 1 ? 'color-success': 'color-danger'">{{items.isUsed === 1 ? '使用':'未使用'}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="ip"
                fixed
                min-width="150">
                <template slot-scope="scope">
                  <span class="color-blue  hoverline-effet" title="修改" @click="editOne(scope.row)">{{ scope.row.ip}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="內網ip"
                prop="privateIp"
                min-width="120">
              </el-table-column>
              <el-table-column
                label="服务器"
                prop="server"
                min-width="120">
              </el-table-column>
              <el-table-column
                label="域名"
                prop="domain"
                min-width="120">
              </el-table-column>
              <el-table-column
                label="连接数门槛"
                min-width="120">
                <template slot-scope="scope">
                  <span>{{scope.row.connectionThreshold}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="站长编码"
                prop="tenantCode"
                min-width="120">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="120">
                <template slot-scope="scope">
                  <span :class="scope.row.isUsed === 1 ? 'color-success':'color-danger'">{{scope.row.isUsed === 1 ? '使用':'未使用'}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <br>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
          <!-- 底部说明文本块 -->
        <div class="text-style margin-t10">* IP文档格式范例：批量导入內容 ip ／ 内网ip ／ 服务器名称 ／ 域名 ／ 连接数门槛  5*20表格；<span class="margin-l106"><a href="http://img-google.com/network/importIp.xlsx" class="color-blue">点击这里下载范例。</a></span></div>

      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="editOne(detailData)">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="域名管理"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>ip</span>
            <span class="color-blue">{{detailData.ip}}</span>
          </li>
          <li>
            <span>内网ip</span>
            <span >{{detailData.privateIp}}</span>
          </li>
          <li>
            <span>服务器</span>
            <span >{{detailData.server}}</span>
          </li>
          <li>
            <span>域名</span>
            <span >{{detailData.domain}}</span>
          </li>
          <li>
            <span>连接数门槛</span>
            <span >{{detailData.connectionThreshold + ' mbps'}}</span>
          </li>
          <li>
            <span>站长编码</span>
            <span >{{detailData.tenantCode}}</span>
          </li>
          <li>
            <span>状态</span>
            <span :class="detailData.isUsed === 1 ? 'color-success': 'color-danger'">{{detailData.isUsed === 1 ? '使用':'未使用'}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
    <network-edit-ip-form
      :data="selectData"
      :visible="NetworkIpShow"
      v-on:onClose="NetworkIpShow=false">
    </network-edit-ip-form>
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
import NetworkEditIpForm from '@/views/newModal/NetworkEditIpForm'
export default {
  data () {
    return {
      NetworkIpShow: false,
      pageNum: 1,
      pageSize: 20,
      total: 0,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      tableLine: true,
      avatorVisible: false,
      ruleForm: {
        isUsed: '',
        tenantCode: '',
        servers: ''
      },
      // 列表数据
      allList: [],
      isUsedList: [
        {
          'id': 0,
          'name': '未使用'
        },
        {
          'id': 1,
          'name': '使用'
        }
      ],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      file: ''
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    editOne (val) {
      // console.log(val)
      this.selectData = val
      this.NetworkIpShow = true
      this.rwdbtnVisible = false
    },
    openDomainForm () {
      this.NetworkDomainShow = true
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
        console.log(this.ruleForm)
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getIpList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    imports () {
      // console.log(this.$refs.upload)
      this.$refs.upload.value = ''
      this.$refs.upload.click()
    },
    getFile (event) {
      // this.file = event.target.files[0]
      let file = event.target.files[0]
      // console.log(this.file)
      // this.selectData.file = file
      // return isJPG && isLt2M
      let submitData = new FormData()
      submitData.append('file', file)
      console.log(submitData)
      let obj = this
      Api.networkAddIp(submitData, function (res) {
        obj.submitLoading = false
      }).then((res) => {
        console.log(submitData)
        this.msgSuccess('保存成功')
        // if (res.data && res.data.length > 0) {
        //   obj.showBlogForm = false
        //   let msgData = res.msg.split(',')
        //   obj.selectData.success = msgData[0]
        //   obj.selectData.mistake = msgData[1]
        //   obj.selectData.errorData = res.data
        //   obj.RepositErrorShow = true
        // } else {
        //   this.msgSuccess('操作成功')
        // }
        // this.showBlogForm = false
        // this.$nextTick(function () {
        //   setTimeout(function () {
        //     obj.submitLoading = false
        //   }, 1000)
        // })
      })
    }
    // fileImport () {
    //   debugger
    //   // let file = this.$refs.upload.files[0]
    //   let file = this.$refs.upload.files
    //   // const isJPG = file.type === 'text/csv' || 'text/xlsx'
    //   // const isLt2M = file.size / 1024 / 1024 < 2
    //   // if (!isJPG) {
    //   //   this.msgError('上传文件只能是csv格式或xlsx')
    //   //   return false
    //   // }
    //   // if (!isLt2M) {
    //   //   this.msgError('上传头像图片大小不能超过 2MB')
    //   //   return false
    //   // }
    //   this.selectData.file = file
    //   // return isJPG && isLt2M
    //   let submitData = new FormData()
    //   submitData.append('file', file)
    //   let obj = this
    //   Api.networkAddIp(submitData, function (res) {
    //     obj.submitLoading = false
    //   }).then((res) => {
    //     console.log(submitData)
    //     this.msgSuccess('保存成功')
    //     // if (res.data && res.data.length > 0) {
    //     //   obj.showBlogForm = false
    //     //   let msgData = res.msg.split(',')
    //     //   obj.selectData.success = msgData[0]
    //     //   obj.selectData.mistake = msgData[1]
    //     //   obj.selectData.errorData = res.data
    //     //   obj.RepositErrorShow = true
    //     // } else {
    //     //   this.msgSuccess('操作成功')
    //     // }
    //     // this.showBlogForm = false
    //     // this.$nextTick(function () {
    //     //   setTimeout(function () {
    //     //     obj.submitLoading = false
    //     //   }, 1000)
    //     // })
    //   })
    // }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    NetworkEditIpForm
  }
}
</script>
<style scoped>
  .ex-table{
    border: 1px solid var(--color-border);
    & td, th{
      border: 1px solid var(--color-border);
      width: 130px;
      text-align: left;
    }
  }
  .tip-foot{
    margin-top: 20px;
  }
</style>
