<template>
  <div class="panel">
    <div class="panel-heading">
      大厅轮播
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body"
         v-loading="loading"
         element-loading-spinner="dafa-icon-loading01 dafa-icon"
         element-loading-customClass="loadingClass">
      <div class="report-header"></div>
      <div class="report-data banner-report no-border">
        <section class="banner-list">
          <div class="banner-box">
            <div class="banner-boxinner">
              <div class="img-title" title="大厅轮播" >大厅轮播</div>
              <div class="img-container">
                <ul class="img-ul">
                  <li class="picbox-style" v-for="(v , number) in alllist" :key="v.id">
                    <div class="img-imgbox">
                      <div class="banner-information">
                        <div class="banner-imgbox picbox-width pic-hover">
                          <div :style="`background-image: url(${v.url})`" class="banner-bg"></div><!-- 上傳後的圖片 -->
                          <div class="picicon-box">
                            <span title="预览" class="review-icon" @click="openLookLogoForm('pc',v)"><i class="el-icon-zoom-in"></i></span>
                          </div>
                        </div>
                        <div class="banner-detail">
                          <div class="banner-imgname">{{ v.name}}</div>
                          <div class="banner-adress">
                            <span>{{v.linkName}}</span>
                            <span>{{v.link}}</span>
                          </div>
                          <div class="banner-edit">
                            <button class="el-button--text banner-view color-bluebutton" @click="editOne(v)"><span>修改</span></button>
                            <button class="el-button--text banner-delete color-bluebutton" @click="removeBanner(number, v)"><span>删除</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class=" img-upload picbox-style update-btn" @click="setImageUpload()" v-show="alllist.length < 4">
                  <div class="update-btninner picbox-width">
                    <i class="el-icon-plus"></i>
                    <span>点击上传图片</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
    <logo-upload
      :data="selectData"
      :visible="LogoUploadVisible"
      :title="UploadTitle"
      :width="width"
      :height="height"
      v-on:onClose="onClose"
    ></logo-upload>
    <look-logo-form
      :data="selectData"
      :visible="LookLogoShow"
      :List="LookLogoShow"
      v-on:onClose="LookLogoShow=false">
    </look-logo-form>
  </div>
</template>
<script>
import LogoUpload from '@/views/platform/PlatformBannerUpload'
import LookLogoForm from '@/components/PreviewPicture'
import Api from '@/api/sys'
import {imgHost} from '@/filters'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      LogoUploadVisible: false, // 是否显示图片弹窗
      UploadTitle: '', // 弹窗标题
      width: 210,
      height: 210,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      LookLogoShow: false,
      picNumber: false,
      form: {
        pcImageUrl: '',
        mbImageUrl: ''
      },
      valuename: '',
      newＢannerName: '',
      alllist: [],
      pcLinkData: {
        '/index': '首页',
        '/lotteryHall': '购彩大厅',
        '/mobile': '手机购彩',
        '/activity': '活动中心',
        '/help': '帮助指南'
      },
      mobileLinkData: {
        '/index': '首页',
        '/activity': '活动中心',
        '/userCenter': '我的账户',
        '/AppDownload': 'APP下载'
      },
      selectData: {},
      limitWidth: 0,
      limitHeight: 0
    }
  },
  mounted () {
    this.getBanner()
    this.getImageConfig()
  },
  methods: {
    openLookLogoForm (name, val) {
      this.selectData = {}
      this.selectData.imageData = []
      for (let i = 0; i < this.alllist.length; i++) {
        let item = this.alllist[i]
        let itemData = {}
        Object.assign(itemData, {})
        itemData.id = item.id
        itemData.name = item.name
        itemData.url = item.url
        itemData.rotate = false
        this.selectData.imageData.push(itemData)
        if (val.id === item.id) {
          this.selectData.index = i
        }
      }
      this.LookLogoShow = true
    },
    getImageConfig () {
      let submitData = {}
      let imageIds = '10'
      submitData.imageIds = imageIds
      this.loading = true
      let obj = this
      Api.getImageConfigSystem(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(1111, res)
        let imageConfigData = res.data
        if (imageConfigData['10']) {
          this.limitWidth = imageConfigData['10'].width
          this.limitHeight = imageConfigData['10'].height
          this.width = this.limitWidth
          this.height = this.limitHeight
          // console.log(this.width)
          // console.log(this.height)
        }
        // console.log(333)
      })
    },
    onClose () {
      this.LogoUploadVisible = false
      this.selectData = {}
    },
    getBanner () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.imageBannerLotteryCms(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(res)
        let data = res.data
        this.alllist = []
        for (let i = 0; i < data.length; i++) {
          let imageData = {}
          Object.assign(imageData, {})
          for (let item in data[i]) {
            imageData[item] = data[i][item]
          }
          imageData.url = imgHost(imageData.url)
          if (this.pcLinkData[data[i].link]) {
            imageData.linkName = this.pcLinkData[imageData.link]
          } else {
            imageData.linkName = '其它'
          }
          imageData.name = '轮播图片' + (i + 1)
          this.alllist.push(imageData)
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    removeBanner (number, val) {
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // console.log('alllist', this.alllist)
        let submitData = {}
        submitData.id = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteImageBannerLottery(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          // console.log(1111, res)
          this.alllist.splice(number, 1)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      })
    },
    setImageUpload () {
      // console.log('key', key)
      if (this.alllist.length === 4) {
        this.msgError('最多只能上传4张轮播图片')
        return
      }
      this.$set(this.selectData, 'width', this.limitWidth)
      this.$set(this.selectData, 'height', this.limitHeight)
      // console.log('selectData', this.selectData)
      this.LogoUploadVisible = true
      this.UploadTitle = '大厅轮播'
    },
    editOne (val) {
      this.selectData = val
      this.$set(this.selectData, 'width', this.limitWidth)
      this.$set(this.selectData, 'height', this.limitHeight)
      // console.log('selectData', this.selectData)
      this.LogoUploadVisible = true
      this.UploadTitle = '大厅轮播'
    }
  },
  components: {
    LogoUpload,
    LookLogoForm
  }
}
</script>
