<template>
  <div class="panel">
    <div class="panel-heading">
    管理员
    <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openAdministratorNewForm">新增管理员</el-button>
    </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <el-form v-model="ruleForm" ref="ruleForm" size="min"  v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="用户账号" prop="managerName">
            <el-input v-model="ruleForm.managerName"  placeholder="请输入用户账号"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit">
                    <el-form-item label="用户账号" prop="managerName">
                      <el-input v-model="ruleForm.managerName"  placeholder="请输入用户账号"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive" >
            <span v-if="isActive" >取消删除</span>
            <span v-else>删除</span>
          </el-button>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th width="22px"><div class="table-id"></div></th>
                      <th><div class="cell">用户账号</div></th>
                      <th><div class="cell">姓名</div></th>
                      <th><div class="cell">平台角色</div></th>
                      <th><div class="cell">站点角色</div></th>
                      <th width="170px"><div class="cell">添加时间</div></th>
                      <th width="60px"><div class="cell">状态</div></th>
                      <th width="30px"><div class="cell">操作</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td ><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell"><span class="color-blue hoverline-effet" @click="editOne(items)">{{ items.managerName}}</span></div></td>
                      <td ><div class="cell"><span >{{items.realName}}</span></div></td>
                      <td ><div class="cell"><span >{{items.managerProle}}</span></div></td>
                      <td ><div class="cell"><span >{{items.managerTrole}}</span></div></td>
                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                      <td><div class="cell"><span :class="items.state === 1  ? 'color-success' : 'color-danger'">{{items.state === 1 ? '正常' : '冻结'}}</span></div></td>
                      <td><div class="cell">
                        <div class="table-btnbox" >
                          <div class="edit-btns">
                            <span @click="updateState(items)"  :title="items.state === 1?'冻结':'解冻'"><i class="dafa-icon" :class="items.state === 1?'':'color-blue'"></i></span>
                          </div>
                        </div>
                      </div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
                </el-checkbox-group>
              </div>
            </div>
            <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
            ref="multipleTable"
            :data="allList"
            style="width: 100%;"
            @row-click="openDetails"
            @selection-change="handleSelectionChange">
            <el-table-column
              prop="id"
              type="selection"
              width="34"
              fixed
              v-if=" screenW >1023 || isActive">
            </el-table-column>
            <el-table-column
              label="用户账号"
              fixed
              min-width="130">
              <template slot-scope="scope">
                <a v-if="screenW > 768" class="color-blue hoverline-effet" @click="editOne(scope.row)">{{ scope.row.managerName}}</a>
                <span v-else class="color-blue overflow-style" >{{ scope.row.managerName}}</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="realName"
              label="姓名"
              min-width="130">
            </el-table-column>
            <el-table-column
              prop="managerProle"
              label="平台角色"
              min-width="100">
            </el-table-column>
            <el-table-column
              prop="managerTrole"
              label="站点角色"
              min-width="130" show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="gmtCreated"
              label="添加时间"
              min-width="160">
            </el-table-column>
            <el-table-column
              prop="state"
              label="状态"
              width="60">
              <template slot-scope="scope"><span :class="scope.row.state === 1  ? 'color-success' : 'color-danger'">{{scope.row.state === 1 ? '正常' : '冻结'}}</span></template>
            </el-table-column>
            <el-table-column
              fixed="right"
              label="操作"
              width="50" v-if="screenW>768">
              <template slot-scope="scope" >
                <div class="table-btnbox" >
                  <div class="edit-btns">
                  <!--<span @click="editOne(scope.row)"   title="修改"><i class="el-icon-edit-outline"></i></span>-->
                  <!--<span @click="deleteRow(scope.row)"   title="删除" ><i class="el-icon-delete"></i></span>-->
                  <span @click="updateState(scope.row)"  :title="scope.row.state === 1?'冻结':'解冻'"><i class="dafa-icon" :class="scope.row.state === 1?'':'color-blue'"></i></span>
                  <!--<el-button type="text" size="small" @click="editOne(scope.row)" class="color-blue" ><i class="el-icon-edit-outline" title="修改"></i></el-button>-->
                  <!--<el-button type="text" size="small" @click="deleteRow(scope.row)"  class="color-blue"  ><i class="el-icon-delete" title="删除"></i></el-button>-->
                  <!--<el-button type="text" size="small" @click="updateState(scope.row)" ><i class="dafa-icon" :title="scope.row.state === 1?'冻结':'解冻'" :class="scope.row.state === 1?'':'color-blue'"></i></el-button>-->
                  </div>
                </div>
              </template>
            </el-table-column>
          </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="updateState(detailData)">{{detailData.state === 1?'冻结':'解冻'}}</span>
          <span @click="editOne(detailData)">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
      </div>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="管理员"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul>
          <li>
            <span>用户账号</span>
            <span>{{detailData.managerName}}</span>
          </li>
          <li>
            <span>姓名</span>
            <span>{{detailData.realName}}</span>
          </li>
          <li>
            <span>平台角色</span>
            <span>{{detailData.managerProle}}</span>
          </li>
          <li>
            <span>站点角色</span>
            <span>{{detailData.managerTrole}}</span>
          </li>
          <li>
            <span>添加时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
          <li>
            <span>状态</span>
            <span>{{detailData.state === 1 ? '正常' : '冻结'}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <administrator-new-form
      :data="selectData"
      :visible="AdministratorNewShow"
      v-on:onClose="AdministratorNewShow=false"
    ></administrator-new-form>
  </div>
</template>
<script>
import AdministratorNewForm from '@/views/newModal/AdministratorNewForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      avatorVisible: false,
      detailShow: false,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      AdministratorNewShow: false, // 是否显示编辑弹窗
      submitLoading: false,
      rwdbtnVisible: false,
      tableLine: true,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      rwdNumber: '',
      isActive: false,
      // 列表数据
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
        managerName: '',
        realName: '',
        managerProle: '',
        managerTrole: '',
        gmtCreated: '',
        state: ''
      },
      ruleForm: {
        managerName: ''
      }
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCommand (command) {
      if (!command.name) return
      let arr = {'updateState': this.updateState}
      if (typeof arr[command.name] === 'function') {
        arr[command.name](command.key)
      }
    },
    updateState (val) {
      // console.log('updateState')
      let submitData = {}
      let state = 1
      submitData.id = val.id
      if (val.state === 1) {
        state = 0
      }
      submitData.state = state
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updatePlatformManagerState(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        val.state = state
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
          this.rwdbtnVisible = false
        })
        this.msgSuccess('操作成功')
      })
    },
    // 单个修改
    editOne (v) {
      // console.log(v + '可以修改')
      this.AdministratorNewShow = true
      this.selectData = v
      this.rwdbtnVisible = false
      // console.log(v)
    },
    openAdministratorNewForm () {
      this.AdministratorNewShow = true
      this.selectData = {}
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      // console.log(this.$refs.pagination.internalPageSize)
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.platformManagerList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.platformManagerList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
          this.avatorVisible = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deletePlatformManager(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
            this.rwdbtnVisible = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deletePlatformManager(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
      // console.log(this.detailData.state)
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    AdministratorNewForm,
    Scroll
  }
}
</script>
<style>
/** 可放公共样式 */
.notPaddtd{
  padding: 0 0 0 10px!important;
}
.notPadd{
  padding: 0 10px!important;
}
</style>
