<template>
  <div class="panel">
    <div class="panel-heading">
      ip地址查询
    </div>
    <div class="panel-body">
      <!-- ip地址开始 -->
      <div class="search-header-mb" >
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="ip地址" prop="ipAddress">
            <el-input size="min" v-model="ruleForm.ipAddress" class="width-search120" placeholder="请输入ip地址" ></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 手机版搜索开始 -->
        <div class="report-nav rb-row pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="ip地址" prop="ipAddress">
                      <el-input size="min" v-model="ruleForm.ipAddress" class="width-search120" placeholder="请输入ip地址" ></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 手机版搜索结束 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版开始 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th width="30%"><div class="cell">当前IP</div></th>
                      <th width="40%"><div class="cell">位置信息</div></th>
                      <th width="30%"><div class="cell">运营商</div></th>
                      <!-- <th width="25%"><div class="cell">时区</div></th> -->
                    </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="30%"><div class="cell"><span >{{items.ip}}</span></div></td>
                      <td width="40%"><div class="cell">
                        {{items.region}}
                      </div></td>
                      <td width="30%"><div class="cell"><span>{{items.isp}}</span></div></td>
                      <!-- <td width="25%"><div class="cell"><span></span></div></td> -->
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- 电脑版结束 -->
            <!-- 手机版开始 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              style="width: 100%;">
              <el-table-column
                label="当前IP"
                min-width="140"
                fixed show-overflow-tooltip>
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.ip}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="位置信息"
                prop="region"
                min-width="120">
                <template slot-scope="scope">
                  <span >{{scope.row.region}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="运营商"
                min-width="80">
                <template slot-scope="scope"><span>{{scope.row.isp}}</span></template>
              </el-table-column>
              <!-- <el-table-column
                label="时区"
                min-width="100" >
                <template ><span></span></template>
              </el-table-column> -->
            </el-table>
          </scroll>
          <!-- 手机版结束 -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      ruleForm: {
        ipAddress: ''
      },
      avatorVisible: false,
      tableLine: true,
      total: 0,
      loading: false,
      allList: []
    }
  },
  components: {
    Scroll
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  mounted () {
    // this.getIpList()
    this.allList = []
  },
  methods: {
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    isValidIP (ip) {
      var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
      return reg.test(ip)
    },
    onSubmit () {
      if (!this.ruleForm.ipAddress) {
        this.msgError('ip地址不能为空')
        return
      }
      if (!this.isValidIP(this.ruleForm.ipAddress)) {
        this.msgError('ip格式不正确')
        return
      }
      this.getIpList()
    },
    getIpList () {
      this.allList = []
      this.loading = true
      var submitData = {
        ip: this.ruleForm.ipAddress
      }
      let obj = this
      Api.getIpRegion(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList.push(res.data)
        this.total = this.allList.length
        // this.allList = res.data.result
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  }
}
</script>
<style scoped >
</style>
