<template>
  <div class="panel">
    <div class="panel-heading">
      平台角色
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openPlatformRoleNewForm">新增角色</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
        <el-button size="mini" icon="el-icon-delete" v-if=" screenW >=768 || isActive" @click="deleteRows">删除</el-button>
        <el-button size="mini" v-if="screenW<768" @click="isActive = !isActive">
          <span v-if="isActive">取消删除</span>
          <span v-else>删除</span>
        </el-button>
      </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th width="22px"><div class="table-id"></div></th>
                      <th ><div class="cell">角色名称</div></th>
                      <th><div class="cell">添加时间</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td ><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td><div class="cell"><span class="color-blue hoverline-effet" @click="editOne(items)">{{ items.name}}</span></div></td>
                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="3"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
                </el-checkbox-group>
              </div>
            </div>
            <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="角色名称"
                fixed
                min-width="100">
                <template slot-scope="scope">
                  <a v-if="screenW > 768" class="color-blue hoverline-effet" @click="editOne(scope.row)">{{ scope.row.name}}</a>
                  <span v-else class="color-blue overflow-style" >{{ scope.row.name}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                :width="screenW > 1024 ? '450':'180'">
              </el-table-column>
              <!--<el-table-column-->
                <!--fixed="right"-->
                <!--label="操作"-->
                <!--:width="screenW > 768 ? '80': '50'">-->
                <!--<template slot-scope="scope" >-->
                  <!--<div class="table-btnbox" v-if="screenW>768">-->
                    <!--<el-button type="text" size="small"><span class="color-bluebutton margin-r6" @click="editOne(scope.row)">修改</span></el-button>-->
                    <!--<el-button type="text" size="small"><span class="color-bluebutton" @click="deleteRow(scope.row)">删除</span></el-button>-->
                  <!--</div>-->
                  <!--<div v-else>-->
                    <!--<i class="el-icon-more" @click="rwdbtn(scope.row)"></i>-->
                  <!--</div>-->
                <!--</template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="editOne(detailData)">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <!--<el-dialog-->
          <!--:visible.sync="rwdbtnVisible"-->
          <!--custom-class="btn-dialog"-->
          <!--:modal="false"-->
          <!--append-to-body-->
          <!--width="100%">-->
          <!--<span class="color-bluebutton margin-r6" @click="editOne(rwdNumber)"><i class="el-icon-edit-outline margin-r6"></i>修改</span>-->
          <!--<span class="color-bluebutton margin-r6" @click="deleteRow(rwdNumber)"><i class="el-icon-delete margin-r6"></i>删除</span>-->
        <!--</el-dialog>-->
      </div>
      <popover-right
        :modal="false"
        title="平台角色"
        :visible="detailShow"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul>
          <li>
            <span>角色名称</span>
            <span>{{detailData.name}}</span>
          </li>
          <li>
            <span>添加时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <plat-form-role-form
      :data="selectData"
      :visible="PlatformRoleNewShow"
      v-on:onClose="PlatformRoleNewShow=false"
    ></plat-form-role-form>
  </div>
</template>
<script>
import PlatFormRoleForm from '@/views/newModal/PlatFormRoleForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      detailShow: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PlatformRoleNewShow: false, // 是否开启弹窗
      command: 0,
      isActive: false,
      tableLine: true,
      // 列表数据
      allList: [],
      rwdNumber: '',
      rwdbtnVisible: false,
      selectData: {},
      total: 0,
      pageNum: 1,
      pageSize: 20,
      detailData: {
        name: '',
        gmtCreated: ''
      }
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openPlatformRoleNewForm () {
      this.PlatformRoleNewShow = true
      this.selectData = {}
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.platformProleList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.proleList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    editOne (val) {
      this.selectData = val
      this.PlatformRoleNewShow = true
      this.rwdbtnVisible = false
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deletePlatformProle(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deletePlatformProle(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
          this.rwdbtnVisible = false
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    PlatFormRoleForm
  }
}
</script>
<style>
/** 可放公共样式 */
.notPaddtd{
  padding: 0 0 0 10px!important;
}
.notPadd{
  padding: 0 10px!important;
}
</style>
