<template>
  <div class="panel">
    <div class="panel-heading">
      平台消息
      <div class="float-right panel-heading-right">
        <el-button type="success" icon="el-icon-plus" size="mini" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <!--数据列表-->
    <div id="wrapper">
      <div class="panel-body">
        <div class="search-header">
          <el-form  size="mini"  v-if="screenW>768" :model="ruleForm" ref="ruleForm" :inline="true" @keyup.native.enter="onSubmit">
            <el-form-item label="状态" prop="isTop">
              <el-select size="min" v-model="ruleForm.isTop" class="width-midstatus" placeholder="全部" >
                <el-option label="全部" value=""></el-option>
                <el-option label="不置顶" value="0"></el-option>
                <el-option label="置顶" value="1"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="标题" prop="title">
              <el-input placeholder="请输入标题" size="min" v-model="ruleForm.title" class="width-account">
              </el-input>
            </el-form-item>
            <el-form-item>
              <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
              <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
          </el-form>
        </div>
        <div class="report-data" :class="{'unfinished': !tableLine}">
          <!--====删除=====-->
          <div class="report-nav rb-row delbtn">
            <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
            <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
              <span v-if="isActive">取消編輯</span>
              <span v-else>編輯</span>
            </el-button>
            <div class="search-rwdbox" >
              <div class="black-area" @click="avatorVisible =! avatorVisible" :class="{'is-open': avatorVisible}"></div>
              <div class="rwd-searchbox" v-show="screenW <=768">
                <div class="search-rwdbtn">
                  <el-popover
                    ref="avator"
                    popper-class="custom-popover light-box"
                    transition="fade-in-right"
                    v-model="avatorVisible">
                    <i class="el-icon-close" @click="avatorVisible =! avatorVisible"></i>
                    <el-form  size="small" :inline="false" ref="ruleForm" :model="ruleForm" @keyup.native.enter="onSubmit">
                      <el-form-item label="状态" prop="isTop">
                        <el-select size="min" v-model="ruleForm.isTop" class="width-search100" placeholder="全部" >
                          <el-option label="全部" value=""></el-option>
                          <el-option label="不置顶" value="0"></el-option>
                          <el-option label="置顶" value="1"></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item label="标题" prop="title">
                        <el-input placeholder="请输入标题" size="min" v-model="ruleForm.title" class="width-search200">
                        </el-input>
                      </el-form-item>
                    </el-form>
                    <div class="search-btn">
                      <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                      <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                    </div>
                    <el-button size="mini" slot="reference" class="select-button">
                      <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                      <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                    </el-button>
                  </el-popover>
                </div>
              </div>
            </div>
          </div>
          <div class="table-style">
            <scroll :id="'scrollId1'">
              <el-table
                ref="multipleTable"
                :data="allList"
                v-loading="loading"
                element-loading-spinner="dafa-icon-loading01 dafa-icon"
                element-loading-customClass="loadingClass"
                tooltip-effect="dark"
                style="width: 100%"
                @touchstart.native="openDetails"
                @touchend.native="closeDetails"
                @mouseleave.native="closeDetails"
                @selection-change="handleSelectionChange">
                <template>
                  <el-table-column
                    prop="id"
                    type="selection"
                    width="30"
                    fixed
                    v-if=" screenW >1023 || isActive">
                  </el-table-column>
                  <el-table-column
                    label="标题"
                    fixed
                    :min-width="screenW > 768 ? '230':'150'">
                    <template slot-scope="scope">
                      <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改" @click="editOne(scope.row)" >{{ scope.row.title}}</span>
                      <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{ scope.row.title}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="receiverList"
                    label="收件人"
                    min-width="120"
                    :formatter="formatterReceiverList">
                  </el-table-column>
                  <el-table-column
                    label="状态"
                    :width="screenW > 1024 ? '120':'60'">
                    <template slot-scope="scope"><span>{{scope.row.isTop === 1 ?"置顶":"不置顶"}}</span></template>
                  </el-table-column>
                  <el-table-column
                    prop="reads"
                    label="浏览次数"
                    :width="screenW > 1024 ? '120':'80'">
                  </el-table-column>
                  <el-table-column
                    prop="gmtModified"
                    label="发布时间"
                    width="165">
                  </el-table-column>
                  <el-table-column
                    prop="gmtCreated"
                    label="添加时间"
                    width="165">
                  </el-table-column>
                </template>
              </el-table>
            </scroll>
          </div>
        </div>
        <el-dialog
          :visible.sync="rwdbtnVisible"
          custom-class="btn-dialog"
          :modal="false"
          append-to-body
          width="100%">
          <span @click="editOne(detailData)">修改</span>
          <span @click="checkRow()" >查看</span>
        </el-dialog>
        <div :class="{'btn-style':btnStyle}"></div>
        <div class="report-foot margin-t10">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            background
            ref="pagination"
            :page-sizes="[20, 100, 300]"
            :page-size="20"
            :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </div>
    <el-popover
      popper-class="rwddetail-modal"
      transition="fade-in-right"
      trigger="manual"
      v-model="$store.state.detailShow">
      <div class="user-info-header" @click="$store.state.detailShow =! $store.state.detailShow">
        <span class="el-icon-arrow-left" > 返回</span>
      </div>
      <ul >
        <li>
          <span>标题</span>
          <span>{{detailData.title}}</span>
        </li>
        <li>
          <span>收件人</span>
          <span>{{detailData.receiverList}}</span>
        </li>
        <li>
          <span>状态</span>
          <span>{{detailData.isTop === 1 ?"置顶":"不置顶"}}</span>
        </li>
        <li>
          <span>浏览次数</span>
          <span>{{detailData.reads}}</span>
        </li>
        <li>
          <span>发布时间</span>
          <span>{{detailData.gmtModified}}</span>
        </li>
        <li>
          <span>添加时间</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
      </ul>
    </el-popover>
    <site-notice-new-form
      :data="selectData"
      :visible = "SiteNoticeNewForm"
      v-on:onClose = "SiteNoticeNewForm=false">
    </site-notice-new-form>
  </div>
</template>
<script>
// import api from '@/api'
import SiteNoticeNewForm from '@/views/newModal/SiteNoticeNewForm'
import Api from '@/api/tenant'
import Scroll from '@/components/scroll'
export default {
  data () {
    return {
      submitLoading: false,
      btnShow: false,
      loading: false,
      detailShow: false,
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      closeVisable: false,
      isShow: false,
      avatorVisible: false,
      rwdbtnVisible: false,
      rwdNumber: '',
      command: 0,
      SiteNoticeNewForm: false,
      tableLine: true,
      radio2: 1,
      searchNotice: '',
      btnStyle: false,
      ruleForm: {
        title: '',
        isTop: ''
      },
      tableHeight: '',
      allList: [],
      multipleSelection: [],
      labelPosition: 'top',
      show: false,
      currentPage: 1,
      formLabelAlign: {
        beforeTime: '',
        endTime: '',
        recipient: [],
        status: 1
      },
      visible1: false,
      visible2: false,
      selectData: {},
      total: 0,
      pageNum: 1,
      pageSize: 20,
      timeCount: 0,
      timer: null,
      detailData: {
        title: '',
        receiverList: [],
        isTop: '',
        reads: '',
        gmtModified: '',
        gmtCreated: '',
        row: ''
      }
    }
  },
  created () {
    this.loading = true
    // console.log(this.$route)
  },
  mounted () {
    this.getOrderList(1, 20)
    // this.$nextTick(() => {
    //   let self = this
    //   this.tableHeight = this.$refs.table.$el.offsetHeight
    //   window.onresize = function() {
    //     self.tableHeight = self.$refs.table.$el.offsetHeight
    //   }
    // })
    // const wrapper = document.getElementById('wrapper')
    // const scroll = new window.BScroll(wrapper)
    // console.log(scroll)
  },
  components: {
    Scroll,
    SiteNoticeNewForm
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    openNewForm () {
      this.SiteNoticeNewForm = true
      this.selectData = {}
    },
    // 单个修改
    editOne (v) {
      // console.log(v + '可以修改')
      this.rwdbtnVisible = false
      this.SiteNoticeNewForm = true
      this.selectData = v
      // console.log(v)
    },
    formatterReceiverList (row, column) {
      if (!row || !row.receiverList || row.receiverList === '') {
        return ''
      }
      let jsonData = JSON.parse(row.receiverList)
      if (jsonData.length < 1) {
        return '所有站'
      }
      let data = ''
      for (let i = 0; i < jsonData.length; i++) {
        data += ',' + jsonData[i].tenantCode
      }
      if (data !== '') {
        data = data.substr(1)
      }
      return data
    },
    onSubmit () {
      this.pageNum = 1
      this.pageSize = 20
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.announcementList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.announcementList
        this.total = res.data.total
        this.loading = false
        if (this.allList.length > 0) {
          this.tableLine = false
        }
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteAnnouncement(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.msgSuccess('删除成功！')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      console.log(this.$refs.multipleTable.selection)
      if (this.$refs.multipleTable.selection.length < 1) {
        this.msgError('未选中记录！')
        return
      }
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
          submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
        }
        if (submitData.ids !== '') {
          submitData.ids = submitData.ids.substr(1)
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteAnnouncement(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.msgSuccess('删除成功！')
        })
      }).catch(() => {
      })
    },
    // openDetails (row, event, column) {
    //   if (this.$store.state.media.screenWidth > 1023) return
    //   this.rwdbtnVisible = true
    //   this.rwdNumber = row
    // },
    openDetails (event) {
      if (this.$store.state.media.screenWidth > 1023) return
      // console.log(event)
      this.timeCount = 0
      // event.preventDefault()
      this.timer = setInterval(() => {
        this.timeCount += 1
        if (this.timeCount >= 1) {
          let trDom = event.target
          while (trDom.nodeName.toLowerCase() !== 'tr') {
            trDom = trDom.parentNode
          }
          let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
          if (!dataIndex) {
            if (this.timer) {
              this.timeCount = 0
              clearInterval(this.timer)
            }
          }
          this.rwdbtnVisible = true
          this.detailData = this.allList[dataIndex]
          // console.log(this.detailData)
          clearInterval(this.timer)
          this.timeCount = 0
          this.btnStyle = true
          // setTimeout(() => {
          //   this.btnStyle = false
          // }, 300)
        }
      }, 1000)
    },
    closeDetails (event) {
      console.log('沒開11', event.target)
      this.btnStyle = false
      if (this.timer) {
        this.timeCount = 0
        clearInterval(this.timer)
        // console.log('沒開')
      }
    },
    checkRow () {
      this.$store.state.detailShow = true
      this.rwdbtnVisible = false
    },
    getCurrentRowData (row, column, cell, event) {
      this.detailData = row
    }
  }
}
</script>
<style scoped>
  @import '../../assets/css/variable.css';

</style>
