<template>
  <div class="panel">
    <div class="panel-heading">
      IP管理<el-button size="mini" icon="el-icon-arrow-left" @click="$router.back()" class="margin-l10">返回</el-button>
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openIPManageNewForm">新增IP</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >=768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
        </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon">
            <!-- 电脑版 -->
            <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <th width="22px"><div class="table-id"></div></th>
                    <th ><div class="cell">IP地址</div></th>
                    <th ><div class="cell">备注</div></th>
                    <th ><div class="cell">操作人</div></th>
                    <th ><div class="cell">添加时间</div></th>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"> <el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell"><span class="color-blue">{{items.ip}}</span></div></td>
                      <td><div class="cell"><span >{{items.remark}}</span></div></td>
                      <td ><div class="cell"><span >{{items.managerName}}</span></div></td>
                      <td><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
                </el-checkbox-group>
              </div>
            </div>
            <!-- 手机版 -->
            <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
              <el-table
                ref="multipleTable"
                :data="allList"
                @row-click="openDetails"
                style="width: 100%"
                @selection-change="handleSelectionChange">
                <el-table-column
                  prop="id"
                  type="selection"
                  width="34"
                  fixed
                  v-if=" screenW >768 || isActive">
                </el-table-column>
                <el-table-column
                  label="IP地址"
                  fixed
                  min-width="130">
                  <template slot-scope="scope">
                    <span class="color-blue  hoverline-effet" title="修改" @click="editOne(scope.row)" v-if="screenW > 768">{{ scope.row.ip}}</span>
                    <span class="color-blue" v-else>{{ scope.row.ip}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="remark"
                  label="备注"
                  min-width="130" show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                  prop="managerName"
                  label="操作人"
                  min-width="150">
                </el-table-column>
                <el-table-column
                  prop="gmtCreated"
                  label="添加时间"
                  width="180">
                </el-table-column>
              </el-table>
            </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span @click="editOne(detailData)">修改</span>
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="IP管理"
        :visible="detailShow"
        @close="detailShow=false">
        <ul>
          <li>
            <span>IP地址</span>
            <span class="color-blue">{{detailData.ip}}</span>
          </li>
          <li>
            <span>备注</span>
            <span>{{detailData.remark}}</span>
          </li>
          <li>
            <span>操作人</span>
            <span>{{detailData.managerName}}</span>
          </li>
          <li>
            <span>添加时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <!-- IP绑定窗口 -->
    <tenant-ip-edit-form
      :data="selectData"
      :visible="TenantIPEditShow"
      :isSelf="true"
      v-on:onClose="TenantIPEditShow=false">
    </tenant-ip-edit-form>
  </div>
</template>
<script>
import TenantIpEditForm from '@/views/newModal/TenantIpEditForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      tableLine: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      isActive: false,
      TenantIPEditShow: false, // 是否开启新增或修改弹窗
      command: 0,
      // 列表数据
      allList: [],
      selectData: {},
      total: 0,
      tenantCode: '',
      pageNum: 1,
      pageSize: 20,
      detailData: {}
    }
  },
  mounted () {
    this.tenantCode = this.$route.query.tenantCode
    this.getOrderList(1, 20)
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    // 单个修改
    editOne (v) {
      this.TenantIPEditShow = true
      this.selectData = v
      this.selectData.tenantCode = this.tenantCode
      this.rwdbtnVisible = false
    },
    openIPManageNewForm () {
      this.TenantIPEditShow = true
      this.selectData = {}
      this.selectData.tenantCode = this.tenantCode
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      submitData.tenantCode = this.tenantCode
      this.loading = true
      let obj = this
      Api.ipList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.ipList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        submitData.tenantCode = this.tenantCode
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteIp(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        submitData.tenantCode = this.tenantCode
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteIp(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    goBack () {
      // console.log(this.isSelf)
      this.$router.push('/platform/platformTenantDetail')
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    TenantIpEditForm
  }
}
</script>
<style>
.report-data{
  & .el-checkbox{
    & span:nth-of-type(2){
      display:none !important;
    }
  }
}
</style>
<style scoped>
@import '../../assets/css/variable.css';
.report-data{
  & .flexbox:not(.nav-color){
    & div:nth-of-type(2){
          color: var(--color-blue);
        }
  }
  & .el-checkbox{
    & span:nth-of-type(2){
      display:none !important;
    }
  }
}
@media screen and (max-width:1023px){
  .flexbox{
    &.nav-color{
      display:none;
    }
  }
  /*.delbtn{*/
    /*display:none;*/
  /*}*/
}

/** 可放公共样式 */
/** 可放公共样式 */
.notPaddtd{
  padding: 0 0 0 10px!important;
}
.notPadd{
  padding: 0 10px!important;
}
</style>
