<template>
  <div class="rb-row flexbox">
    <div class="id"><el-checkbox :label="value.Id" :key="value.Id">{{''}}</el-checkbox></div>
    <div><span class="color-secondary hide-for-small">标题：</span>{{value.Title}}</div>
    <div><span class="color-secondary hide-for-small">标题：</span>{{value.TitleEn}}</div>
    <div><span class="color-secondary hide-for-small">添加时间：</span>{{value.AddTime}}</div>
    <div class="box-btn">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          'Id': 5427,
          'Title': '阿里布達',
          'TitleEn': '阿里布達',
          'AddTime': '2018-05-25 18:42:22'
        }
      }
    }
  },
  data () {
    return {

    }
  }
}
</script>
<style scoped>
.report-data{
  & .flexbox > div{
    padding:9px 0;
    &:nth-of-type(5){
        flex-grow:0;
    }
  }
  & .el-checkbox{
    & span:nth-of-type(2){
      display:none !important;
    }
  }
}
@media screen and (max-width:1023px){
  .report-data{
    & .flexbox  > div {
      & .hide-for-small{
        width:80px;
      }
      &:nth-of-type(1){
        display:none!important;
      }
      &:nth-of-type(2){
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3){
        width:100%;
        display:block;
      }
      &:nth-of-type(5){
        width:100%;
        padding:2px 0;
        display:block;
        border-top:1px solid #eee;
        background:#fff;
      }
      & .el-checkbox__label{
        display:none;
      }
    }
  }
}
.inputWindth{
  width:150px;
}
.TypeWindth{
  width:80px;
}
.report-data{
  & .flexbox:not(.nav-color){
    & div:nth-of-type(2){
      color: var(--color-blue);
    }
  }
  & .nav-color > div{
    &:nth-of-type(5){
      flex-grow:0;
    }
  }
  & .el-checkbox{
    & span:nth-of-type(2){
      display:none !important;
    }
  }
}
@media screen and (max-width:1023px){
  .flexbox{
    &.nav-color{
      display:none;
    }
  }
  .delbtn{
    display:none;
  }
}
</style>
