<template>
  <div class="rb-row flexbox">
    <div class="id"><el-checkbox :label="value.Id" :key="value.Id">{{''}}</el-checkbox></div>
    <div><span class="color-secondary hide-for-small">用户名：</span><div class="color-blue">{{value.UserName}}</div></div>
    <div><span class="color-secondary hide-for-small">姓名：</span>{{value.RealName}}</div>
    <div><span class="color-secondary hide-for-small">平台角色：</span>{{value.PlatformAdminPermissionName}}</div>
    <div><span class="color-secondary hide-for-small">站长角色：</span>{{value.AdminPermissionName}}</div>
    <div class="color-secondary font-s12"><span class="hide-for-small">创建时间：</span>{{value.AddTime}}</div>
    <div class="state">{{value.Status?"冻结":"正常"}}</div>
    <div class="box-btn">
      <el-button type="text" size="small">查看</el-button>
      <el-button type="text" size="small">删除</el-button>
      <el-dropdown class="custom-dropdown">
        <el-button
          type="text"
          size="small"
          icon="el-icon-more"
          placement="bottom-left"
        ></el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>冻结</el-dropdown-item>
          <el-dropdown-item>取消冻结</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          'Id': 7492,
          'UserName': 'bdht',
          'RealName': 'bdht',
          'AdminPermissionName': '为空',
          'AddTime': '2018-07-07 13:18:04',
          'Status': 0
        }
      }
    }
  },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
  @media screen and (max-width:1023px){
    .report-data .flexbox > div{
      &:nth-of-type(2){
        float:left;
        width:100%;
        padding:10px 0;
        margin: 0 0 10px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6){
        width:100%;
        border-top:0;
        display:inline-block;
      }
      &:nth-of-type(8){
        width:100%;
        display:block;
        padding:0;
        margin: 5px 0 0 0;
        border-top:1px solid #eee;
        background:#fff;
      }
    }
  }
</style>
