<template>
  <div class="rb-row flexbox">
    <div><span class="color-secondary hide-for-small mb-width">站长编码：</span>{{value.IdentityId}}</div>
    <div><span class="color-secondary hide-for-small mb-width">会员账号：</span>{{value.UserName}}</div>
    <div><span class="color-secondary hide-for-small mb-width">姓名：</span>{{value.RealName}}</div>
    <div><span class="color-secondary hide-for-small mb-width">银行卡号：</span>{{value.BankCard}}</div>
    <div><span class="color-secondary hide-for-small mb-width">照片审核：</span><slot name="photo"></slot></div>
    <div><span class="color-secondary hide-for-small mb-width">密码情况：</span>{{value.LastEditPwd}}<span class="color-secondary hide-for-small">(最近密码修改)</span></div>
    <div><span class="color-secondary hide-for-small mb-width">提交时间：</span>{{value.AddTime}}</div>
    <div><span class="color-secondary hide-for-small mb-width">操作人：</span>{{value.Operator}}</div>
    <div><span class="color-secondary hide-for-small mb-width">状态：</span>{{value.State}}</div>
    <div class="box-btn"><slot></slot></div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          'Id': 1374,
          'IdentityId': 'test',
          'user_id': 1931764,
          'UserName': 'aniuge02',
          'RealName': '你们',
          'BankCard': '2583691470',
          'UserPhoto': '/test/UploadImages/aniuge02/20180517060646273056.png;/test/UploadImages/aniuge02/20180517060647380019.png;',
          'State': 1,
          'LastEditPwd': '前台 2018-05-17 18:06:06',
          'AddTime': '2018-05-17 18:06:47',
          'Operator': 'mengmeng',
          'row_number': 2
        }
      }
    }
  },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
@import '../../assets/css/variable.css';

</style>
