<template>
  <div class="rb-row flexbox">
    <div><span class="color-secondary hide-for-small mb-width">账号：</span>{{value.UserName}}</div>
    <div><span class="color-secondary hide-for-small mb-width">彩种：</span>{{value.LotteryType}}</div>
    <div><span class="color-secondary hide-for-small mb-width">玩法：</span>{{value.PlayWay}}</div>
    <div><span class="color-secondary hide-for-small mb-width">期号：</span>{{value.Issue}}</div>
    <div><span class="color-secondary hide-for-small mb-width">开奖号码：</span>{{value.AwardNumber}}</div>
    <div><span class="color-secondary hide-for-small mb-width">投注内容：</span>{{value.BettingContent}}</div>
    <div><span class="color-secondary hide-for-small mb-width">投注金额：</span>{{value.InvestmentAmount}}</div>
    <div><span class="color-secondary hide-for-small mb-width">注数：</span>{{value.BetNumber}}</div>
    <div><span class="color-secondary hide-for-small mb-width">倍数：</span>{{value.Times}}</div>
    <div><span class="color-secondary hide-for-small mb-width">状态：</span>{{value.State}}</div>
    <div><span class="color-secondary hide-for-small mb-width">类型：</span>{{value.Style}}</div>
    <div><span class="color-secondary hide-for-small mb-width">终端：</span>{{value.Terminal}}</div>
    <div><span class="color-secondary hide-for-small mb-width">时间：</span>{{value.StartTime}}</div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          Id: 22279602,
          SerialNumber: 'TX0808130927716987',
          UserName: 'testuesr',
          State: '未中奖',
          UserId: 1517340,
          LotteryType: 'UU快三',
          PlayWay: '和值',
          Issue: '201808121489',
          AwardNumber: '2,4,6',
          BettingContent: '双',
          InvestmentAmount: '120.00',
          BetNumber: 1,
          Times: 1,
          Style: '普通',
          Terminal: 'Mobile',
          row_number: 2,
          StartTime: '2018-08-09 14:20:50',
          PageSize: 20,
          PageNum: 0
        }
      }
    }
  },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
@import '../../assets/css/variable.css';
.report-data{
  & .flexbox:not(.nav-color){
      & > div{
        padding:9px 0;
      }
      & div:nth-of-type(2),& .blue{
          color: var(--color-blue);
        }
      & div:nth-of-type(6){
        width:162px;
      }
      & div:nth-of-type(5){

        width:70px;
      }
      & div:nth-of-type(7){
        width:130px;
      }
      & .blue{
        cursor:pointer;
      }
  }
}
@media screen and (max-width:1023px){
  .report-data .flexbox > div{
    & .mb-width{
      width:80px;
    }
    &:nth-of-type(1){
      float:left;
      width:100%;
      padding:9px 0;
      border-bottom:1px solid #eee;
      display:block;
      background:#fff;
    }
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(9)
    {
      width:100%;
      border-top:0;
      display:inline-block;
    }
    &:nth-of-type(10){
      width:100%;
      display:block;
      padding:0;
      border-top:1px solid #eee;
      background:#fff;
    }
  }
}
</style>
