<template>
  <div class="rb-row flexbox">
    <div class="id"><el-checkbox :label="value.Id" :key="value.Id">{{''}}</el-checkbox></div>
    <div><span class="color-secondary hide-for-small">站长编码：</span>{{value.IdentityId}}</div>
    <div><span class="color-secondary hide-for-small">网站名称：</span>{{value.SiteName}}</div>
    <div><span class="color-secondary hide-for-small">类型：</span>{{value.Type}}</div>
    <div class="color-secondary"><span class="color-secondary hide-for-small">网址：</span>{{value.DomainName}}</div>
    <div>
      <span class="color-secondary hide-for-small">添加时间：</span>{{value.AddTime}}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          'Id': 24135,
          'IdentityId': 'test',
          'SiteName': '系统测试2',
          'DomainName': 'doctest.com',
          'Type': '前台',
          'AddTime': '2018-05-31 18:54:48'
        }
      }
    }
  },
  data () {
    return {

    }
  }
}
</script>
<style scoped>
.report-data{
  & .flexbox > div{
    padding:9px 0;
    &:nth-of-type(4){
        flex-grow:0;
    }
  }
  & .el-checkbox{
    & span:nth-of-type(2){
      display:none !important;
    }
  }
}
@media screen and (max-width:1023px){
  .report-data{
    & .flexbox  > div {
      & .hide-for-small{
        width:80px;
      }
      &:nth-of-type(1){
        display:none!important;
      }
      &:nth-of-type(2){
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(5){
        width:100%;
        display:block;
      }
      &:nth-of-type(6){
        width:100%;
        padding:9px 0;
        display:block;
        border-top:1px solid #eee;
        background:#fff;
      }
      & .el-checkbox__label{
        display:none;
      }
    }
  }
}
</style>
