<template>
  <div class="rb-row flexbox">
    <div class="id"><el-checkbox :label="value.Id" :key="value.Id">{{''}}</el-checkbox></div>
    <div><span class="color-secondary hide-for-small">IP地址：</span>{{value.LoginIP}}</div>
    <div><span class="color-secondary hide-for-small">备注：</span>{{value.Remark}}</div>
    <div><span class="color-secondary hide-for-small">添加时间：</span>{{value.AddTime}}</div>
    <div class="box-btn">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>
<style scoped>
  @media screen and (max-width:1023px){
    .report-data .flexbox > div{
      & .hide-for-small{
        width:80px;
      }
      &:nth-of-type(2){
        float:left;
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3),&:nth-of-type(4){
        width:100%;
        border-top:0;
        padding:9px 0;
        display:inline-block;
      }
      &:nth-of-type(5){
        width:100%;
        display:block;
        padding:3px 0;
        border-top:1px solid #eee;
        background:#fff;
      }
    }
  }
</style>
