<template>
  <div class="rb-row flexbox">
    <div><span class="color-secondary hide-for-small">会员账号：</span>{{value.UserName}}</div>
    <div><span class="color-secondary hide-for-small">操作类型：</span>{{value.Type}}</div>
    <div><span class="color-secondary hide-for-small">备注：</span>{{value.Mark}}</div>
    <div><span class="color-secondary hide-for-small">用户IP：</span>{{value.IP}}</div>
    <div class="color-secondary notflex"><span class="hide-for-small">添加时间：</span>{{value.Time}}</div>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>
<style scoped>
@import '../../assets/css/variable.css';
.report-data{
  & .flexbox:not(.nav-color){
      & > div{
        padding:10px 0;
      }
      & div:nth-of-type(1){
          color: var(--color-account);
        }
      & div:nth-of-type(2){
        color: var(--color-account);
      }
  }
  & .el-checkbox{
    & span:nth-of-type(5){
      display:none !important;
    }
  }
}
  @media screen and (max-width:1023px){
    .report-data .flexbox > div{
      &:nth-of-type(1){
        float:left;
        width:100%;
        padding:10px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4){
        width:100%;
        border-top:0;
        display:inline-block;
      }
      &:nth-of-type(5){
        width:100%;
        display:block;
        padding:10px 0;
        border-top:1px solid #eee;
        background:#fff;
      }
    }
  }
</style>
