<template>
  <div class="rb-row flexbox">
    <div><span class="color-secondary hide-for-small mb-width">流水号：</span>{{value.recordCode}}</div>
    <div><span class="color-secondary hide-for-small mb-width">会员账号：</span>{{value.userName}}</div>
    <div><span class="color-secondary hide-for-small mb-width">等级：</span>{{value.grade}}</div>
    <div><span class="color-secondary hide-for-small mb-width">银行类型：</span>{{value.bankName}}</div>
    <div><span class="color-secondary hide-for-small mb-width">提现金额：</span>{{value.withdrawAmount}}</div>
    <div><span class="color-secondary hide-for-small mb-width">申请时间：</span>{{value.gmtCreated}}</div>
    <div><span class="color-secondary hide-for-small mb-width">操作状态：</span>{{value.state}}</div>
    <div><span class="color-secondary hide-for-small mb-width">操作人：</span>{{value.operator}}</div>
    <div><span class="color-secondary hide-for-small mb-width">操作时间：</span>{{value.operationTime}}</div>
    <!--<div class="box-btn"><slot></slot></div>-->
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>
<style scoped>
@import '../../assets/css/variable.css';
.report-data{
  & .flexbox:not(.nav-color){
      & > div{
        padding:9px 0;
      }
      & div:nth-of-type(2),& .blue{
          color: var(--color-blue);
        }
      & div:nth-of-type(6){
        width:162px;
      }
      & div:nth-of-type(5){

        width:70px;
      }
      & div:nth-of-type(7){
        width:130px;
      }
      & .blue{
        cursor:pointer;
      }
  }
}
@media screen and (max-width:1023px){
  .report-data .flexbox > div{
    & .mb-width{
      width:80px;
    }
    &:nth-of-type(1){
      float:left;
      width:100%;
      padding:9px 0;
      border-bottom:1px solid #eee;
      display:block;
      background:#fff;
    }
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(9)
    {
      width:100%;
      border-top:0;
      display:inline-block;
    }
    &:nth-of-type(10){
      width:100%;
      display:block;
      padding:0;
      border-top:1px solid #eee;
      background:#fff;
    }
  }
}
</style>
