<template>
  <div class="rb-row flexbox">
    <div><span class="color-secondary hide-for-small">类型：</span>{{value.dictionName}}</div>
    <div><span class="color-secondary hide-for-small">单笔最低：</span>{{value.minAmount}}</div>
    <div><span class="color-secondary hide-for-small">单笔最高：</span>{{value.maxAmount}}</div>
    <div class="color-secondary font-s12"><span class="hide-for-small">创建时间：</span>{{value.gmtCreated}}</div>
    <div class="box-btn">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>
<style scoped>
  @media screen and (max-width:1023px){
    .report-data .flexbox > div{
      &:nth-of-type(1){
        float:left;
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4){
        width:100%;
        border-top:0;
        display:inline-block;
      }
      &:nth-of-type(5){
        width:100%;
        display:block;
        padding:0;
        border-top:1px solid #eee;
        background:#fff;
      }
    }
  }
</style>
