<template>
  <div class="rb-row flexbox">
    <div><span class="color-secondary hide-for-small mb-width">会员账号：</span>{{value.UserName}}</div>
    <div><span class="color-secondary hide-for-small mb-width">彩种名称：</span>{{value.LotteryType}}</div>
    <div><span class="color-secondary hide-for-small mb-width">起始期号：</span>{{value.BeginIssue}}</div>
    <div><span class="color-secondary hide-for-small mb-width">追号金额：</span>{{value.SeekAccount}}</div>
    <div><span class="color-secondary hide-for-small mb-width">奖金金额：</span>{{value.AwardAccount}}</div>
    <div><span class="color-secondary hide-for-small mb-width">已完成：</span>{{value.Completed}}</div>
    <div><span class="color-secondary hide-for-small mb-width">已投金额：</span>{{value.InvestedAmount}}</div>
    <div><span class="color-secondary hide-for-small mb-width">中奖即停：</span>{{value.AwardStop}}</div>
    <div><span class="color-secondary hide-for-small mb-width">撤单金额：</span>{{value.CancelAccount}}</div>
    <div><span class="color-secondary hide-for-small mb-width">订单状态：</span>{{value.OrderStatus}}</div>
    <div><span class="color-secondary hide-for-small mb-width">投注时间：</span>{{value.StartTime}}</div>
    <div><span class="color-secondary hide-for-small mb-width">操作：</span>{{value.Operate}}</div>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>
<style scoped>
@import '../../assets/css/variable.css';
.report-data{
  & .flexbox:not(.nav-color){
      & > div{
        padding:9px 0;
      }
      & div:nth-of-type(2),& .blue{
          color: var(--color-blue);
        }
      & div:nth-of-type(6){
        width:162px;
      }
      & div:nth-of-type(5){

        width:70px;
      }
      & div:nth-of-type(7){
        width:130px;
      }
      & .blue{
        cursor:pointer;
      }
  }
}
@media screen and (max-width:1023px){
  .report-data .flexbox > div{
    & .mb-width{
      width:80px;
    }
    &:nth-of-type(1){
      float:left;
      width:100%;
      padding:9px 0;
      border-bottom:1px solid #eee;
      display:block;
      background:#fff;
    }
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(9)
    {
      width:100%;
      border-top:0;
      display:inline-block;
    }
    &:nth-of-type(10){
      width:100%;
      display:block;
      padding:0;
      border-top:1px solid #eee;
      background:#fff;
    }
  }
}
</style>
