<template>
  <div class="rb-row flexbox">
    <div class="id"><el-checkbox :label="value.Id" :key="value.Id">{{''}}</el-checkbox></div>
    <div><span class="color-secondary hide-for-small">角色名称：</span>{{value.Name}}</div>
    <div class="color-secondary rwd-content"><span class="color-secondary hide-for-small">添加时间：</span>{{value.Time}}</div>
    <div class="box-btn">
      <el-button type="text" size="small">修改</el-button>
      <el-button type="text" size="small">删除</el-button>
    </div>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {

    }
  }
}
</script>
<style scoped>
.report-data{
  & .flexbox > div{
    &:nth-of-type(4){
        flex-grow:0;
    }
  }
  & .el-checkbox{
    & span:nth-of-type(2){
      display:none !important;
    }
  }
}
.box-btn{
  & .el-button--small{
    padding: 10px 0px ;
  }
}

@media screen and (max-width:1023px){
  .report-data{
    & .flexbox  > div {
      & .hide-for-small{
        width:80px;
      }
      &:nth-of-type(2){
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3){
        width:100%;
        display:block;
      }
      &:nth-of-type(4){
        width:100%;
        display:block;
        border-top:1px solid #eee;
        background:#fff;
      }
      & .el-checkbox__label{
        display:none;
      }
    }
  }
}
</style>
