<template>
  <div class="rb-row flexbox">
    <div class="id"><el-checkbox :label="value.Id" :key="value.Id">{{''}}</el-checkbox></div>
    <div><span class="color-secondary hide-for-small">标题：</span>{{value.Title}}</div>
    <div><span class="color-secondary hide-for-small">收件人：</span>{{value.IdentityId}}</div>
    <div class="state">{{value.IsTop?"置顶":"不置顶"}}</div>
    <div><span class="color-secondary hide-for-small">浏览次数：</span>{{value.ReadNum}}</div>
    <div class="color-secondary font-s12"><span class="hide-for-small">时间：</span>{{value.AddTime}}</div>
    <div class="box-btn">
      <el-button type="text" size="small">修改</el-button>
      <el-button type="text" size="small">删除</el-button>
    </div>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>
<style scoped>
@import '../../assets/css/variable.css';
.report-data{
  & .flexbox:not(.nav-color){
      & > div{
        padding:5px 0;
      }
      & div:nth-of-type(1),& div:nth-of-type(2){
          color: var(--color-blue);
        }
  }
  & .el-checkbox{
    & span:nth-of-type(2){
      display:none !important;
    }
  }
}
  @media screen and (max-width:1023px){
    .report-data .flexbox > div{
      & .hide-for-small{
        width:80px;
      }
      &:nth-of-type(2){
        float:left;
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3),&:nth-of-type(5),&:nth-of-type(6){
        width:100%;
        border-top:0;
        display:inline-block;
      }
      &:nth-of-type(4){
        width:30%;
        display:inline-block;
        padding:9px 0;
        border-top:0;
        background:none;
      }
      &:nth-of-type(7){
        width:100%;
        display:block;
        padding:2px 0;
        border-top:1px solid #eee;
        background:#fff;
      }
    }
  }
</style>
