<template>
  <div class="rb-row flexbox">
    <div class="id"><el-checkbox :label="value.Id" :key="value.Id">{{''}}</el-checkbox></div>
    <div><span class="color-secondary hide-for-small">IP地址：</span>{{value.LoginIP}}</div>
    <div><span class="color-secondary hide-for-small">站长编码：</span>{{value.IdentityId}}</div>
    <div><span class="color-secondary hide-for-small">备注：</span>{{value.Remark}}</div>
    <div class="color-secondary font-s12"><span class="hide-for-small">添加时间：</span>{{value.AddTime}}</div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          'Id': 10843,
          'LoginIP': '1.1.1.2',
          'Remark': '模压',
          'AddTime': '2018-08-07 21:47:48',
          'IdentityId': 'test'
        }
      }
    }
  },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
.report-data .flexbox > div{
  padding:9px 0;
}
  @media screen and (max-width:1023px){
    .report-data .flexbox > div{
      & .hide-for-small{
        width:80px;
      }
      &:nth-of-type(1){
        display:none;
      }
      &:nth-of-type(2){
        float:left;
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3),&:nth-of-type(4){
        width:100%;
        border-top:0;
        display:inline-block;
      }
      &:nth-of-type(5){
        width:100%;
        display:block;
        padding:9px 0;
        border-top:1px solid #eee;
        background:#fff;
      }
    }
  }
</style>
