<template>
  <div class="rb-row flexbox">
    <div><span class="color-secondary hide-for-small">别名：</span>{{value.Alias}}</div>
    <div><span class="color-secondary hide-for-small">令牌类型：</span>{{value.IsTenant}}</div>
    <div class="color-secondary font-s12"><span class="hide-for-small">修改时间：</span>{{value.UpdateTime}}</div>
    <div><span class="color-secondary hide-for-small">状态：</span>{{value.State}}</div>
    <div class="box-btn">
      <slot name="postBtn"></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>
<style scoped>
@import '../../assets/css/variable.css';
  .flexbox{
    & > div{
      &:nth-of-type(2){
          color: var(--color-blue);
        }
    }
  }
  @media screen and (max-width:1023px){
    .report-data .flexbox > div{
      &:nth-of-type(1){
        float:left;
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(3),&:nth-of-type(3),&:nth-of-type(4){
        width:100%;
        border-top:0;
        display:inline-block;
      }
      &:nth-of-type(5){
        width:100%;
        display:block;
        padding:0;
        border-top:1px solid #eee;
        background:#fff;
      }
    }
  }
</style>
