<template>
  <div class="rb-row flexbox">
    <div><span class="color-secondary hide-for-small">站长编码：</span><slot name="IdentityId"></slot></div>
    <div><span class="color-secondary hide-for-small">网站名称：</span>{{value.SiteName}}</div>
    <div><span class="color-secondary hide-for-small">站长账号：</span>{{value.AdminName}}</div>
    <div><span class="color-secondary hide-for-small">总代账号：</span>{{value.MemberName}}</div>
    <div class="color-secondary notflex"><span class="hide-for-small">添加时间：</span>{{value.Time}}</div>
    <div class="box-btn">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: ['value'],
  data () {
    return {
    }
  }
}
</script>
<style scoped>
@import '../../assets/css/variable.css';
.report-data{
  & .flexbox:not(.nav-color){
      & > div{
        padding:9px 0;
      }
      & div:nth-of-type(1),& div:nth-of-type(2){
          color: var(--color-blue);
        }
  }
  & .el-checkbox{
    & span:nth-of-type(5){
      display:none !important;
    }
  }
}
  @media screen and (max-width:1023px){
    .report-data .flexbox > div{
      & .hide-for-small{
        width:80px;
      }
      &:nth-of-type(1){
        float:left;
        width:100%;
        padding:9px 0;
        border-bottom:1px solid #eee;
        display:block;
        background:#fff;
      }
      &:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4){
        width:100%;
        border-top:0;
        display:inline-block;
      }
      &:nth-of-type(6){
        width:100%;
        display:block;
        padding:0;
        border-top:1px solid #eee;
        padding-right:15px;
        background:#fff;
      }
    }
  }
</style>
