.editor-list-style {
  & img{
    max-width: 100%;
  }
}

/*==================================表格样式========================================*/
table.editor-list-style{
  width: 100% !important;
  word-break: break-all;
}
/*樣式一*/
.editor-list-style.model-table-style01{
  background: #eee;
  text-align: left;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  & td, & th {
            padding: 10PX;
          }
/*& tr:nth-child(odd) { background-color: #c9d0e0;}*/
/*& tr:nth-child(even) { background-color: #9da5b8;}*/
  & th {
      background: #3a95be;
      font-size: 16PX !important;
      color: #eee;
      font-weight: 300;
    }
  & td{
      background: #fff;
    }
  & td:first-child {  color: #185875;font-weight: bold;font-size: 20PX !important;}
}
/*樣式二*/
.editor-list-style.model-table-style02{
  background: #eee;
  text-align: left;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
& td, & th {
          padding-bottom: 2%;
          padding-top: 2%;
          padding-left:2%;
        }
& th {
    background: #494949;
    font-size: 20PX !important;
    color: #cdcbc4;
    font-weight: 500;
  }
& td{
    background: #323232;
    color: #cdcbc4;
  }
& td:first-child {  color: #2994c4;font-weight: bold;font-size: 20PX !important;}
}

/*樣式三*/
.editor-list-style.model-table-style03{
  width: 100%;
  margin:auto;
  border-spacing: 0PX !important;
& th,& td{
         padding: 10PX 0;
         text-align: center;
         font-weight: 300;
       }
& tbody{
& tr:nth-child(even){
    background: #e9e9e9;
  }
}

& thead{
    font-size: 16PX !important;
    color: #fff;
& tr{
    background:  #00b1a9 !important;
  }
& p{
    padding: 0;
    margin: 0;
  }
}
}
/*樣式四*/
.editor-list-style.model-table-style04{
  width: 100%;
  margin:auto;
  border-spacing: 0PX !important;
& th,& td{
         padding: 10PX 0;
         text-align: center;
         font-weight: 300;
       }
& tbody {
& td{
    border-bottom: 1PX solid #ab7777;}
}
& thead{
    font-size: 16PX !important;
    color: #fff;
& tr{
    background:  #740404 !important;
  }
& p{
    padding: 0;
    margin: 0;
  }
}
}
/*樣式五*/
.editor-list-style.model-table-style05 {
  width: 100%;
  margin: auto;
  border-spacing: 0PX !important;
  background: linear-gradient(45deg, #fba32d, #fc501e);
&  th,&  td {
           padding: 10PX 0;
           text-align: center;
           font-weight: 300;
           color: #fff;
         }
&  thead {
     font-size: 16PX !important;
     color: #fff;
& td{
    font-weight: bold;
  }
&  p {
     padding: 0;
     margin: 0;
   }
}
& tbody{
& tr:nth-child(odd) {
    background: rgba(255,255,255,0.3);
  }
}

}
/*樣式六*/
.editor-list-style.model-table-style06 {
  width: 100%;
  margin: auto;
  border-spacing: 0PX !important;
  position: relative;
  font-size: 14PX !important;
&:after{
   content: '';
   position: absolute;
   opacity: 0.15;
   z-index: 0;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url('https://images.imags-google.com/system/activity/table/table06_bg.jpg') bottom center /cover no-repeat;
 }
&  th,&  td {
           padding: 10PX 0;
           text-align: center;
         }
&  tbody {
     position: relative;
     z-index: 2;
     color: #121212;
     font-weight: bold;
& tr td:first-child{
    font-size: 16PX;
  }
&  td {
     position: relative;
     z-index: 1;
     border-bottom: 1PX solid #325b8f;
   }

}
&  thead {
     position: relative;
     z-index: 2;
     font-size: 16PX !important;
     color: #fff;
&  th {
     background-color: #325b8f;
     position: relative;
     z-index: 1;
   }
&  p {
     padding: 0;
     margin: 0;
   }
}

}
/*樣式七*/
.editor-list-style.model-table-style07 {
  width: 100%;
  margin: auto;
  border-spacing: 0PX !important;
  position: relative;
  font-size: 14PX !important;
&:after{
   content: '';
   position: absolute;
   z-index: 1;
   opacity: 0.4;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url('https://images.imags-google.com/system/activity/table/table07_bg.jpg') bottom center /cover no-repeat;
 }
&  th,&  td {
           padding: 10PX 0;
           text-align: center;
           position: relative;
           z-index: 2;
         }
&  tbody {
     position: relative;
     z-index: 1;
     color: #121212;
     font-weight: bold;
& tr td:first-child{
    font-size: 16PX;
  }
&  td {
     border-bottom: 1PX solid #c69038;
   }

}
&  thead {
     position: relative;
     z-index: 1;
     font-size: 16PX !important;
     color: #121212;
&  th {
     background-color: rgba(198,144,56,0.8);
   }
&  p {
     padding: 0;
     margin: 0;
   }
}

}
.editor-list-style.model-table-style08 {
  width: 100%;
  margin: auto;
  border-spacing: 0PX !important;
  position: relative;
  font-size: 14PX !important;
&:after{
   content: '';
   position: absolute;
   z-index: 0;
   opacity: 0.3;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(https://images.imags-google.com/system/activity/table/table08_bg.jpg) bottom center /cover no-repeat;
 }
&  th,&  td {
           padding: 10PX 0;
           text-align: center;
         }
&  tbody {
     position: relative;
     z-index: 1;
     color: #121212;
     font-weight: bold;
& tr td:first-child{
    font-size: 16PX;
  }
&  td {
     border-bottom: 1PX solid #876A44;
   }

}
&  thead {
     position: relative;
     z-index: 1;
     font-size: 16PX !important;
     color: #121212;
&  th {
     background-color: #fedb67;
   }
&  p {
     padding: 0;
     margin: 0;
   }
}

}

.editor-list-style.model-table-style10 {
  width: 100%;
  margin: auto;
  border-spacing: 0PX !important;
  background: linear-gradient(45deg, #4aa9fa, #276ee8);
&  th,&  td {
           padding: 10PX 0;
           text-align: center;
           font-weight: 300;
           color: #fff;
         }
&  thead {
     font-size: 16PX !important;
     color: #fff;
& td{
    font-weight: bold;
  }
&  p {
     padding: 0;
     margin: 0;
   }
}
& tbody{
& tr:nth-child(odd) {
    background: rgba(255,255,255,0.3);
  }
}

}
/*.editor-list-style.model-table-style11 {*/
  /*border-spacing: 0PX !important;*/
  /*background: #8e1916;*/
  /*width: 100%;*/
/*&  th,&  td {*/
           /*padding: 10PX 0;*/
           /*text-align: center;*/
           /*font-weight: 300;*/
         /*}*/
/*&  thead {*/
     /*font-size: 16PX !important;*/
     /*color: #fff;*/
/*& td{*/
    /*font-weight: bold;*/
    /*color: #fff;*/
  /*}*/
/*&  p {*/
     /*padding: 0;*/
     /*margin: 0;*/
   /*}*/
/*}*/
/*& tbody{*/
  /*}*/

/*}*/
/*.editor-list-style內的模板*/
.editor-list-style{
& i{
    font-style: italic !important;}
& .el-icon-close{
    font-style: normal !important;
  }
/*共用class*/
& .model-title{
    font-size: 26PX !important;
    font-weight: bold;
    margin-bottom: 15PX;
    color: #000d4d;
  }
& .model-second-title{
    font-weight: bold;
    font-size: 16PX !important;
  }
& .model-second-content{
    font-size: 16PX !important;
    padding-top: 10PX;
  }
& .model-container-ul{
    padding-top: 15PX;
  }
& .model-number-ul{
    list-style-type:disc;
    list-style-position:inside;
  }
& .model-center-title{
    width: 100%;
    text-align: center;
    display: block;
  }
& .model-button-box{
    font-size: 14PX !important;
& span:hover{
    color: #2a72c5;
    cursor: pointer;
  }
}
& .model-img{
    width: 100%;
    height: 0;
    background: #eee;
    position: relative;
& p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    font-size: 12PX !important;
& em{
    font-style: initial;
    color: red;
    padding: 0 2PX;
  }
}
& img{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
  }
}
/*模板間距*/
& .model-margin-t4{
    margin-top: 10PX
  }
& .model-margin-t6{
    margin-top: 10PX
  }
& .model-margin-t10{
    margin-top: 10PX
  }
& .model-text-right{
    text-align: right;
  }
/*==================================标题样式========================================*/

/*标题*/
& .mod-title1 {
& p{
    margin: 0 !important;
    padding: 0 !important;
  }
& span{
    font-size: 16PX;
    font-weight: 300;
    background: #00b1a9;
    padding: 5PX 10PX;
    display: inline-block;
    color: #fff;
  }
&:after{
   content: '';
   height: 2PX;
   width: 100%;
   display: block;
   background: #00b1a9;
 }
}
& .mod-title2 {
    font-size: 24PX !important;
    color: #fff;
    -webkit-text-stroke: 1PX var(--color-danger);
    letter-spacing: 0.04em;
    background-color: #fff;
  }
& .mod-title3 {
    font-size: 24PX !important;
    color: transparent;
    background-color : black;
    text-shadow : rgba(255,255,255,0.5) 0 5PX 6PX, rgba(255,255,255,0.2) 1PX 3PX 3PX;
    -webkit-background-clip : text;
  }
& .mod-title4 {
    font-size: 24PX !important;
    color: #fafafa;
    letter-spacing: 0;
    text-shadow: 0PX 1PX 0PX #999, 0PX 2PX 0PX #888, 0PX 3PX 0PX #777, 0PX 4PX 0PX #666, 0PX 5PX 0PX #555, 0PX 6PX 0PX #444, 0PX 7PX 0PX #333, 0PX 8PX 7PX #001135
  }
& .mod-title5 {
    font-size: 24PX !important;
    background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
    text-shadow: 5PX -5PX black, 4PX -4PX white;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
  }
& .model-title05 {
    position: relative;
    display: block;
& h4{
    display: inline-block;
    background-color: rgb(0, 177, 169);
    padding: 20PX;
    margin: 0 !important;
    padding: 10PX;
    font-size: 24PX !important;
    font-weight: 300;
    color: #fff;
&:after{
   content: '';
   height: 2PX;
   width: 100%;
   display: block;
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: rgb(0, 177, 169);

 }
}
}
/*==================================条列样式========================================*/
/*条列样式一*/

& .model-alllist{
    position: relative;
    list-style: none !important;
& li{
    padding-left: 20PX;
    position: relative;
    margin-bottom: 10PX;
&:before{
   font-size: 16PX;
   position: absolute;
   left: 0;
   top: 50%;
   transform: translate(0 , -50%);
 }
}
}
& .model-list-style01 {
    margin: 0;
    list-style-type: none;
  }
& .model-list-style01 li {
    counter-increment: step-counter;
    margin-bottom: 10PX;
    padding-left: 30PX;
  }

& .model-list-style01 li::before {
    content: counter(step-counter);
    margin-right: 5PX;
    font-size: 80%;
    background-color: #00b1a9;
    color: white;
    font-weight: bold;
    padding: 3PX 8PX;
    border-radius: 3PX;
  }

/*条列样式二*/

& .model-list-style02{
& li{
    border-left: 4PX solid #3a95be;
    padding-left: 10PX;
    margin-bottom: 10PX;
  }
}
/*条列样式三*/

& .model-list-style03{
& li{
&:before{
   content: '>';
   padding-right: 10PX;
   display: inline-block;
   font-weight: bold;
   color: #3a95be;
   font-size: 18PX !important;
 }
}
}
/*条列样式四*/
& .model-list-style04 {
& li {
    margin: 0 0 8PX 0;
    position: relative;
    display: block;
    padding: 0 0PX 0 20PX;
&:after {
   content: '';
   height: 7PX;
   width: 7PX;
   background: #D2153A;
   display: block;
   position: absolute;
   transform: rotate(45deg);
   top: 5PX;
   left: 0;
 }

}

}

/*条列样式五*/
& .model-list-style05{
& li{
&:before{
   content: '-';
   padding-right: 10PX;
   font-weight: bold;
   color: #999;
 }
& p{
    display: inline-block;
  }
}
}
/*条列样式六*/
& .model-list-style06{
    padding-right: 15PX;
& li{
    position: relative;
    list-style: none;
    padding-left: 20PX;
    margin-bottom: 10PX;
&:before{
   content: '◈';
   font-size: 16PX;
   color: #a14a4a;
   position: absolute;
   left: 0PX;
   top: -3PX;
   transform: translate(0 , 0) !important;
 }
}
}
/*条列样式七*/
& .model-list-style07 li:before{
    content: '♕';
    color: #f68303;
  }
/*条列样式八*/
& .model-list-style08 li:before{
    content: '☀';
    color: #ec1010;
  }
/*条列样式九*/
& .model-list-style09 li:before{
    content: '♣';
    color: #42677b;
  }
/*条列样式十*/
& .model-list-style10 li:before{
    content: '㊖';
    color: #be1c07;
  }
/*条列样式十ㄧ*/
& .model-list-style11 li:before{
    content: '◉';
    color: #2761AE;
  }

/*==================================圖片样式========================================*/

/*圖片樣式一*/
& .model-img-style01{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
& >div{
    width: calc(50% - 5PX);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
& .model-img-style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20PX 0;
  }

& .model-img-style01{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

& .model-img-style02{
    justify-content: space-between;
  }

& .model-img-style03{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
& >div{
    width: calc( 50% - 5PX);
    margin-bottom: 5PX;
  }
}
& .model-img-style04{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
& div{
    width: calc( 25% - 5PX);
    margin-bottom: 5PX;
  }
}
& .model-img-style05{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
& div{
    width: calc( 25% - 5PX);
    margin-bottom: 5PX;
& img{
    border-radius: 50%;
  }
}
}
/*==================================整頁模板========================================*/

/*整頁面模板一*/
& .model01-style{
    padding: 20PX;
    max-width: 800PX;
  & p{
  color: #000;
    }
& .model-img{
    padding-bottom: 30%;}
& ul{
& li{
    margin-bottom: 10PX;
  }
}
}
/*整頁面模板二*/
& .model02-time{
    line-height: 150%;
    font-size: 14PX !important;
  }

& .model02-style {
    max-width: 1000PX;
& .model-img{
    padding-bottom: 30%;}
}
/*整頁模板二*/
& .model05-style{
& .model-title{
    text-align: center;
  }
& img{
    margin: 0 auto;
  }
& ul {
    display: flex;
    flex-wrap: wrap;
& li {
    list-style: none !important;
    width: 50%;
    padding: 30PX 20PX 0 20PX;
& .ul-title {
    font-size: 20PX;
    font-weight: bold;
&:before {
   content: '';
   width: 10PX;
   height: 10PX;
   display: inline-block;
   background: var(--color-success);
   transform: rotate(45deg);
   margin-right: 15PX;
 }
}
& p {
    padding-left: 25PX;
  }

}
}
}
/*整頁面模板四*/
& .model04-style{
    color: #666;
& li{
    list-style: none !important;
    display: flex;
  }
& .model-left-style{
& .model-second-title{
    text-align: left;
  }
& .model-line{
    margin: 20PX 0 !important;
  }
}
& .ul-left,& .ul-right{
               width: 50%;
& img{
    width: 100%;
  }
& .model-second-title{
    font-size: 16PX !important;
    padding: 0 0 10PX 0;
    font-weight: 400;
  }
}
& .model-ul{
    width: 90%;
    margin: 20PX auto 0;
    font-size: 14PX !important;
    font-weight: 300;
& .ul-right{
    padding: 30PX 20PX;
  }
& .model-ul-title{
    font-size: 16PX !important;
    text-align: left !important;
  }
& >li{
    display: flex;
  }
}
& .model-line{
    width: 30PX;
    height: 1PX;
    background: #999;
    margin: 20PX auto;
  }
& .model-second-note{
    padding: 0 0 20PX 0;
  }
& .model-bg-box {
    min-height: 100PX;
    position: relative;
    margin: 0;
  }
& .model-second-title{
    color: #666;
    font-size: 20PX !important;
    line-height: 150%;
    font-weight: 300;
  }
& .model-pic{
    width: 100%;
& img{
    width: 100%;
  }
}
& .model-img{
    padding-bottom: 30%;
  }
& .model04-title-box{
    background: #fff;
    padding: 30PX;
    font-weight: bold;
    width: 70%;
    transform: translate(0% ,-100PX);
    margin: 0 auto -50PX;
    box-shadow: 0 15PX 15PX rgba(15, 37, 64, 0.1);
    text-align: center;
& span{
    font-size: 14PX !important;
    color: #999;
    display: inline-block;
    padding: 0 15PX ;
  }
}
& .model-second-box{
    font-size: 16PX !important;
    line-height: 150%;
    text-align: center;
    margin: 0PX auto 0PX;
    width: 90%;
& p{
    text-align: left;
    font-weight: 300;
  }
}
& .model-second-box.model-left-style{
    margin: 60PX auto 0 ;
  }
&.model-second-box.model-left-style{
   margin: 30PX auto 0;
 }
& .model-for-imgbox{
    display: flex;
    width: 90%;
    margin: 0 auto;
& >div{
    width: 25%;
    margin: 20PX;
& img{
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 15PX 15PX rgba(15, 37, 64, 0.1);
    margin-bottom: 20PX;
  }
& p{
    font-size: 12PX !important;
    color: #999;
    text-align: center;
  }
}
}

}
& .model06-style{
    max-width: 800PX;
    margin: 0 auto;
& p{
    line-height: 150%;
  }
& .model-article-title{
    font-size: 20PX !important;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    padding-bottom: 10PX;
    color: #7d2929;
    padding-top: 10PX;
&:before,&:after{
            content: '-';
            font-size: 20PX;
            padding-right: 10PX;
          }
}
& .model-article-ul {
    padding-right: 20PX;

& li{
    padding-bottom: 5PX;
& p{
    margin: 0 !important;
  }
}
}
& .model-p{
    padding-left: 23PX;
  }
& .model-article-content{
    font-size: 14PX !important;
    border: 1PX solid #7d2929;
    color: #171717;
    padding: 30PX;
    background: #fbf9f8;
    box-shadow: 0 15PX 15PX rgba(15,37,64,.1);
  }
& .model-article{
    margin-bottom: 50PX;
  }
& .model-imgbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
& div{
    width: 33.33%;
    padding: 5PX;
& img {
    width: 100%;
  }
}
}

}
& .model07-style{
    font-size: 14PX !important;
    line-height: 150%;
    max-width: 750PX;
    margin: 0 auto;
& .model-second-note{
    line-height: 150% !important;
  }
& .mod-title1{
& span,&:after{
          background: #4393be;
        }
}
& .model-list-style01 li::before{
    background: #4393be;
  }
& .model-article{
    padding-bottom: 40PX;
  }
& .model-table-style03{
    margin: 20PX 0 0 0;
    font-size: 14PX !important;
& thead tr{
    background: #4393be !important;
  }
}
& .model-second-title{
    color: #ec8510;
    font-weight: 500;
    padding-bottom: 5PX;
    padding-top: 20PX;
  }
& .model-table-style03 tbody tr td:first-child{
    font-weight: bold;
  }
}
& .model08-style{
    font-size: 14PX !important;
    max-width: 800PX;
    margin: 20PX auto 0;
& .model-left-style{
    width: 100%;
    max-width: 150PX;
    display: flex;
    justify-content: center;
    align-items: center;
& h2{
    font-size: 20PX !important;
    margin: 0 !important;
    color: #2761AE;
  }
}
& .model-right-style{
    width: calc( 100% - 150PX);
    border-left: 5PX solid #2761AE;
    padding: 20PX;
    background: #f8f9ff;
& .model-p{
    font-size: 14PX !important;
  }
& h3{
    margin: 0 0 10PX 0;
  }
& .model-items{
    margin: 20PX 0 0 0!important;
  }
}
& .model-list-style11 li{
    padding-bottom: 10PX;
&:before{
   color: #736d6d;
 }
}
& .model-article{
    display: flex;
    margin-bottom: 30PX;
  }
}
& .model09-style{
    position: relative;
    min-height: 300PX;
    background: #063b6e;
    overflow: hidden;
    perspective: 600PX;
    padding: 80PX 0;
& p{
    line-height: 150%;
  }
& .model-second-content{
    font-size: 14PX;
    font-weight: bold;
  }
& .model-animation{
    pointer-events: none;
    position: absolute;
    bottom: -30%;
    right: -60%;
    height: 150%;
    width: 200%;
    z-index: -1;
    transform: rotateX(75deg);
    transform-origin: center center;
    transform-style: preserve-3d;
    background-color: #063b6e;
    background-size: 100PX 100PX;
    background-position: 0 0, 50PX 50PX;
    background-image: linear-gradient(45deg, #999 25%, transparent 25%, transparent 75%, #0c020e 75%, #0c020e), linear-gradient(45deg, #0c020e 25%, transparent 25%, transparent 75%, #0c020e 75%,#0c020e);
    animation: move-background 5s linear infinite;
&:after {
   content: '';
   display: block;
   height: 100%;
   width: 100%;
   /*background-image: linear-gradient(#063b6e,transparent)};*/
 }
}
& .model-inner{
    position: relative;
    max-width: 800PX;
    width: 99%;
    margin: 0 auto;
    font-size: 14PX;
    padding: 50PX;
    z-index: 2;
    border-radius: 10PX;
    background: rgba(255,255,255,0.8);
  }
& .model-title{
    text-align: center;
&:before,&:after{
            content: '♕';
            font-size: 24PX;
          }
}
& .model-note{
    font-size: 12PX;
    padding-top: 10PX;
  }
& h2{
    margin: 20PX 0 8PX !important;
    font-size: 18PX !important;
    font-weight: 600;
    color: #000d4d;
    position: relative;
&:before{
   content: '♞';
   font-size: 20PX;
   padding-right: 6PX;
 }
}
& .model-ul li{
    margin-bottom: 10PX;
    font-weight: bold;
    color: #000d4d;
  }
& .model-article{
    margin: 0 0 50PX 0;
  }
}
& .model10-style{
    background-color: #910000;
    min-height: 400PX;
    position: relative;
    padding: 0 0 100PX 0;
& .model-header-img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% , 0);
    width: 100%;
     & img{
        width: 100%;
       }
  }
/*background: url('https://www.bb-in.com/assets/default/images/backgrounds/media-bg.jpg') top center no-repeat  ;*/
& .model-header{
    position: relative;
    width: calc(100% - 200PX);
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    min-height: 62PX;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20PX !important;
&:after{
   content: '';
   display: block;
   width: 99PX;
   height: 62PX;
   background-image: url('https://images.imags-google.com/system/activity/pc/tem_money/menu-sprites-black.png');
   background-repeat: no-repeat;
   background-position: -99PX 0;
   position: absolute;
   right: -99PX;
   top: 0PX;
 }
&:before{
   content: '';
   display: block;
   width: 99PX;
   height: 62PX;
   background-image: url('https://images.imags-google.com/system/activity/pc/tem_money/menu-sprites-black.png');
   background-repeat: no-repeat;
   position: absolute;
   left: -99PX;
   top: 0PX;
 }
}
& .model-content{
    position: relative;
    width: 80%;
    margin: 50PX auto 0;
    background: rgba(255,255,255,0.8);
    padding: 35PX;
    font-size: 14PX;
& h2{
    margin: 10PX 0;
    position: relative;
    font-size: 18PX !important;
    color: #740404;
  }
& .model-inner{
    box-sizing: border-box;
    padding: .5em 2em;
    border-right: 2PX solid #e60012;
    border-left: 2PX solid #e60012;
    height: calc( 100% - 72PX );
  }
&:before{
   content: '';
   display: block;
   width: 100%;
   height: 36PX;
   background-image: url('https://images.imags-google.com/system/activity/pc/tem_money/post-frame-top.png');
   background-repeat: no-repeat;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-right: 2PX solid #e60012;
 }
&:after{
   content: '';
   display: block;
   width: 100%;
   height: 36PX;
   background-image: url('https://images.imags-google.com/system/activity/pc/tem_money/post-frame-bottom.png');
   background-repeat: no-repeat;
   background-position: right bottom;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-left: 2PX solid #e60012;
 }
}
& .model-table-style04{
    margin-top: 20PX;
  }
}
}

@keyframes move-background
{
  to {background-position: 0 100PX, 50PX 150PX}
}
@media only screen and (max-width: 768PX){
  .editor-list-style{
  & td,& th{
    font-size: 12PX !important;
    padding: 0 3px;
    }
  & .model10-style {
    width: 98%;
    margin: 30PX auto 0;
    padding: 0PX;
    & .model-header {
        width: 100%;
    &:after,&:before {
        display: none; }
    }
    & .model-content{
       width: 100%;
       padding: 10px;
      }
      & .model-inner{
          padding: .5em 0.8em !important;
        }
}

& .model-title {
    font-size: 20PX !important;
  }
& .model04-style {
& .model-for-imgbox {
    flex-wrap: wrap;
  }
& .model04-title-box {
    padding: 10PX;
    width: 100%;
    position: relative;
  }
& .model-bg-box {
    min-height: auto;
  }
& .model-for-imgbox >div {
    width: calc( 50% - 20PX);
    margin: 10PX;
  }
& .model-second-title{
    font-size: 16PX !important;
  }
& .model-ul >li:first-child{
    flex-direction: column;
  }
& .model-ul >li:nth-child(2n){
    flex-direction: column-reverse;
  }
& .ul-left,& .ul-right{
               width: 100%;
               padding: 0 !important;
& img{
    width: 100%;
  }
& .model-second-title{
    padding-top: 10PX;
  }
}
}
& .model05-style ul li {
    width: 100%;
& .ul-title{
    font-size: 16PX !important;
  }
}
& .model06-style {
  & .model-imgbox div{
      width: 100%;
   }
   & .model-article-content{
      padding: 20px !important;
     }
  }
& .model09-style .model-inner{
    padding: 20PX;
  }
}


}
