@font-face {
  font-family: 'iconfont';  / project id 380337 /
src: url('//at.alicdn.com/t/font_380337_ck0t7xildgs.eot');
  src: url('//at.alicdn.com/t/font_380337_ck0t7xildgs.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_380337_ck0t7xildgs.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_380337_ck0t7xildgs.woff') format('woff'),
  url('//at.alicdn.com/t/font_380337_ck0t7xildgs.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_380337_ck0t7xildgs.svg#iconfont') format('svg');
}
.dafa-icon{
  font-family: 'iconfont';
  font-style: normal;
  font-size: 14px !important;
}
.dafa-icon-platform:before{
  content: "\E636";
}
.dafa-icon-tenant:before{
  content: "\E638";
}
.dafa-icon-member:before{
  content: "\E634";
}
.dafa-icon-transaction:before{
  content: "\E637";
}
.dafa-icon-activity:before{
  content: "\E635";
}
.dafa-icon-report:before{
  content: "\E639";
}

.dafa-icon-refresh:before{
  content: "\E605";
}

.dafa-icon-logout:before{
  content: "\E626";
}

.dafa-icon-manage01:before{
  content: "\E61e";
}
.dafa-icon-manage02:before{
  content: "\E665";
}
.dafa-icon-manage03:before{
  content: "\E642";
}
.dafa-icon-manage04:before{
  content: "\E602";
}
.dafa-icon-eye01:before{
  content: "\E7b4";
}
.dafa-icon-eye02:before{
  content: "\E669";
}

.dafa-icon-eye03:before{
  content: "\E661";
}

.dafa-icon-eye04:before{
  content: "\E663";
}
.dafa-icon-loading01:before{
  content: "\E671";
}
.dafa-icon-loading02:before{
  content: "\E66c";
}
.dafa-icon-lock:before{
  content: "\E65f";
}

.dafa-icon-home:before{
  content: "\E69e";
}
.dafa-icon-home01:before{
  content: "\E664";
}
.dafa-icon-home02:before{
  content: "\E690";
}
/*複製*/
.dafa-icon-copy:before{
  content: "\E744";
}
/*篩選*/
.dafa-icon-filter:before{
  content: "\E667";
}
/*相機*/
.dafa-icon-camera:before{
  content: "\E666";
}
/*紅包*/
.dafa-icon-redbag:before{
  content: "\E67d";
}
/*訊息*/
.dafa-icon-next:before{
  content: "\E60d";
}
/*隱藏選單*/
.dafa-icon-menu:before{
  content: "\E954";
}
/*广播*/
.dafa-icon-broadcast:before{
  content: "\E6ab";
}
/*广播2*/
.dafa-icon-broadcast-logo:before{
  content: "\E668";
}
/*圆圈*/
.dafa-icon-circle-logo:before{
  content: "\E66a";
}
/*密钥*/
.dafa-icon-pswkey-logo:before{
  content: "\E768";
}
/*密钥2*/
.dafa-icon-pswkey2-logo:before{
  content: "\E612";
}
