@import url("./variable.css");
.table-style {
/*& .el-table__body-wrapper::-webkit-scrollbar-track {*/
  /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0);*/
  /*border-radius: 10px;*/
/*}*/
/*& .el-table__body-wrapper::-webkit-scrollbar*/
/*{*/
  /*width: 12px;*/
  /*height: 4px;*/
/*}*/
/*& .el-table__body-wrapper::-webkit-scrollbar-thumb*/
/*{*/
  /*border-radius: 10px;*/
  /*-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.2);*/
/*}*/

  & .el-table__empty-block{
      min-height: 300px;
      border-bottom: none !important;
      background: #fff;
    }
    & .el-table__header {
        & th{
            background: var(--color-titlebackground);
            color: #333;
            font-weight: bold;
          }
    }
    & .table-btnbox{
        height: 23px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    & .table-btnbox button{
        margin-left: 0 !important;
      }
    & .table-btnbox i{
        display: inline-block;
        padding: 0 8px 0 0;
        font-size: 18px !important;
        line-height: 19px !important;
        cursor: pointer;
        color: #999;
      }
    & .el-table::before{
        display: none !important;
    }
}
.el-table .el-checkbox{
  line-height: 12px;
}
.el-table tr{
  outline: none !important;
  /*& td + td .cell{*/
      /*padding: 6px 4px !important;*/
  /*}*/
  & td:last-child{
    padding: 6px 10px 6px 6px;
    }
  & td.is-hidden:last-child{
      & .cell{
        display: none !important;
        }
    }
  & td.is-hidden:first-child{
    & .cell{
      display: block !important;
      opacity: 0;
      visibility: visible !important;
    }
  }
  & td.is-hidden:nth-child(2){
    & .cell{
        display: none !important;
      }
    }
}
.el-table tr{
  outline: none !important;
  &:hover .is-hidden-fixed {
    display: table-cell !important;}
  /*& th + th .cell{*/
    /*padding: 6px 4px!important;*/
  /*}*/
  /*& th:last-child .cell{*/
      /*padding: 6px 10px 6px 6px !important;*/
    /*}*/

}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
  background: var(--color-titlebackground) !important; }
.el-table__body tr.hover-row > td, .el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td {
  background: var(--color-titlebackground) !important; }
.el-table__body tr.current-row > td {
  background: var(--color-titlebackground) !important; }
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background: var(--color-titlebackground) !important;  }
.el-table,.el-form-item__label{
  font-size: 12px !important;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus{
  border: 1px solid var(--color-input) !important;
}

  /*.el-table__body tr:last-child td{*/
  /*border-bottom: none !important;*/
/*}*/
.el-input-number__decrease,.el-input-number__increase{
  line-height: 28px !important;
}
@media screen and (max-width:768px){
  .el-table,.el-form-item__label{
    font-size: 14px !important;
  }
  .el-input-number__decrease,.el-input-number__increase{
    line-height: 33px !important;
  }
  .el-table .cell {
    line-height: 34px;
    font-size: 15px !important;
  }
  .el-table tr {
    outline: none !important;

    & .el-checkbox__inner {
      width: 14px;
      height: 14px;
      position: relative;
      top: -1.5px;
    }
  }
  .el-table th > .cell {
    font-size: 14px;
    padding: 0 10px !important;
    min-height: 26px !important;
    line-height: 26px !important;
  }
}
.el-table th > .cell{
  color: #333;
}
.el-table .cell{
  color: var(--color-secondary);
  padding: 6px 10px !important;
  /*min-height: 36px !important;*/
}

@media screen and (max-width:1023px){
    .el-table tr{
        & th + th .cell{
          padding: 6px 4px!important;
        }
        & th:last-child .cell{
          padding: 6px 6px 6px 4px  !important;
        }
& td + td .cell{
    padding: 6px 4px!important;
  }
& td:last-child .cell{
    padding: 6px 6px 6px 4px  !important;
  }
    }
}
@media screen and (max-width:768px){
  .el-table .cell{
    min-height: 46px !important;
  }
}
/*.el-table .cell{*/
  /*text-overflow :  initial !important;*/
/*}*/
/*.el-table .cell.el-tooltip{*/
  /*text-overflow:ellipsis !important;*/
/*}*/
.el-table th, .el-table td{
  padding: 0 !important;
}
.ranking-box{
& .cell{
    padding-left: 2.5px !important;
    padding-right: 2.5px !important;
    text-align: center;
    letter-spacing: -0.5px;
  }
}
.ranking-box{
& .wechat-table{
  & .ascending .sort-caret.ascending{
      border-bottom-color: #3DAB33;
    }
  & .descending .sort-caret.descending{
      border-top-color: #3DAB33;
    }
}
& .payball-table{
  & .ascending .sort-caret.ascending{
      border-bottom-color: #FE6B08;
    }
  & .descending .sort-caret.descending{
      border-top-color: #FE6B08;
    }
}
  & .qq-table{
    & .ascending .sort-caret.ascending{
        border-bottom-color: #12A0FF;
      }
    & .descending .sort-caret.descending{
        border-top-color: #12A0FF;
      }
  }
  & .inle-table{
    & .ascending .sort-caret.ascending{
        border-bottom-color: #00477B;
      }
    & .descending .sort-caret.descending{
        border-top-color: #00477B;
      }
  }
  & .onlinepay-table{
    & .ascending .sort-caret.ascending{
        border-bottom-color: #f6d467;
      }
    & .descending .sort-caret.descending{
        border-top-color: #f6d467;
      }
  }
  & .quickpass-table{
    & .ascending .sort-caret.ascending{
        border-bottom-color: #a869db;
      }
    & .descending .sort-caret.descending{
        border-top-color: #a869db;
      }
  }
  & .jdpay-table{
    & .ascending .sort-caret.ascending{
        border-bottom-color: #00bdd7;
      }
    & .descending .sort-caret.descending{
        border-top-color: #00bdd7;
      }
  }
  /*& .el-table__row td:first-child{*/
      /*background: #f2f2f2 !important;*/
    /*}*/
}
@media screen and (max-width:1023px){
  .ranktable{
    & .el-table .cell{
        padding: 0 5px!important;
      }
  }
  .ranking-tab{
    & .el-tabs__header{
        margin: 0 !important;
        border-bottom: none !important;
      }
    & .el-tabs__item{
        background: #eee;
      }
    & .el-tabs__item.is-active{
        background: #fff;
      }
    & .el-tabs__item.is-active{
        border-bottom-color: #fff !important;
      }
    & .el-tabs__item:first-child{
      border-top: 3px solid #3DAB33;
      border-bottom: none;
    }
    & .el-tabs__item:nth-child(2){
        border-top: 3px solid #FE6B08 !important;
      }
    & .el-tabs__item:nth-child(3){
        border-top: 3px solid #12A0FF !important;
      }
    & .el-tabs__item:nth-child(4){
        border-top: 3px solid #a869db !important;
      }
    & .el-tabs__item:nth-child(5){
        border-top: 3px solid #00bdd7 !important;
      }
    & .el-tabs__item:nth-child(6){
        border-top: 3px solid #00477B !important;
      }
    & .el-tabs__item:nth-child(7){
        border-top: 3px solid #f6d467 !important;
      }

  }
}



@media screen and (max-width: 640px){
  .ranktable{
    & .el-table th .cell{
      font-size: 13px !important;
      }
    & .el-table .cell{
        padding: 0 0px 0 10px!important;
      }
  }
}


.el-button--text{
  padding: 0 !important;
  cursor: pointer;
  outline: none;
}
.table-blue{
  color: var(--color-account);
}
.table-account{
  font-weight: bold;
  min-width: 150px;
}
.el-input__inner {
  max-height: 30px !important;
  line-height: 30px !important;
  padding-right: 16px !important;
  border: 1px solid var(--color-input);
  padding: 0 8px;
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
  width: 100%;
}
.third-payform{
  & .el-input__inner {
    padding: 0 8px !important;
  }
}
.el-input-number--mini .el-input__inner{
  padding: 0 25px !important;
  height: 30px !important;
}
.el-input-number--mini .el-input-number__increase, .el-input-number--mini .el-input-number__decrease{
  height: 28px !important;
}
/*.el-select .el-input__inner{*/
  /*max-height: 1000px !important;*/
/*}*/
.el-input__suffix{
  right: 2px;
}
.el-form-item__label{
  display: inline-block;

}
.el-form--inline {
  & .el-form-item {
    margin-right: 4px !important;
    margin-bottom: 18px !important;
  }
}
@media screen and (max-width: 1024px){
  .el-form--inline {
    & .el-form-item {
        margin-right: 10px !important;
      }
  }
}
@media screen and (max-width: 768px){
  .el-input__inner {
    max-height: 35px !important;
    line-height: 35px !important;
    min-height: 35px !important;
    padding-right: 16px !important;
    border: 1px solid var(--color-input);
    padding: 0 8px;
    overflow : hidden;
    font-size: 14px;
    text-overflow : ellipsis;
    white-space : nowrap;
    width: 100%;
  }
  .small-reveal-modal{
  & .el-input-number--mini .el-input-number__increase, & .el-input-number--mini .el-input-number__decrease{
    height: 33px !important;
  }
  }

}
.table-top{
  width: 100%;
  position: relative;
  background: #fff;
  padding: 20px 0;
}
.table-searcharea{
  position: relative;
  padding: 0 10px ;
}
.search-rwdbtn{
  position: absolute;
  bottom: 0;
  right: 0px;
  padding: 6px 10px;
  font-size: 12px;
  color: #171717;
}
.status-color{
  color: var(--color-danger);
}
.table-toparea{
  position: relative;
}

.search-keyworld{
    max-width: 350px;
}
.edit-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-choice{
  & .el-dropdown{
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    padding: 5px;
    }
  & span{
      padding: 0 0 0 15px ;
    }
}

.search-header{
   position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
& .el-input__suffix {
  right: 0px;
  width: 23px;
}
   & .el-icon-date{
      line-height: 18px;
   }
& .padding-less .el-input__inner{
    padding: 0 3px !important;
  }
}

.copy-icon{

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  position: relative;
& i{
    color: #999;
    font-weight: bold;
    font-size: 18px !important;
  }
}

.edit-btns,.copy-icon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 23px !important;
  padding: 0 0 1px 0;
  & > *{
     display: inline-block;
     position: relative;
      width: 30px;
      height: 30px;
      z-index: 1;
      margin: 0 6px 0 0;
    &:after{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 0px;
       height: 0px;
       border-radius: 50%;
       z-index: -1;
       background: #eee;
       content: '';
       transition: all .3s;
     }
     &:hover{
      &:after{
          width: 30px;
          height: 30px;
       }
      }
    }
    & i {
      padding: 0 !important;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.copy-icon{
  justify-content: center !important;
  cursor: pointer;
  width: 100%;
  position: relative;
& i{
    color: #999;
    font-weight: bold;
    font-size: 18px !important;
    margin: 0  !important;
     &:before{
      position: absolute;
      top: 50%;
      left: 50%;
       transform: translate(-50% , -50%);
      }
  }
}
.el-dropdown-menu__item:hover{
  color: var(--color-blue) !important;
}
.el-input__suffix{
  & i{
    line-height: 30px;
    }
}
.pc-none{
  display: none !important;
}

@media screen and (max-width:1024px){
  .search-header{
    padding: 0 10px;
  }
/**/

}
@media screen and (max-width:768px){
  .table-style {
      & .el-table__header {
        & th{
            padding: 5px 0 !important;
          }
    }
  }
/*.el-popover {*/
    /*& .el-input__inner {*/
        /*max-height: 40px !important;*/
        /*line-height: 40px !important;*/
        /*height: auto !important;*/
        /*font-size: 16px;*/
      /*}*/
/*}*/
/*.grades-select{*/
/*& .el-input__inner{*/
    /*max-height: 200px !important;*/
    /*line-height: 40px !important;*/
    /*height: auto !important;*/
  /*}*/
/*}*/


.report-data{
    border: none;
  }
  .table-style{
    border-top: 1px solid #eee;
  }
  .pc-none{
    display: inherit !important;
  }
  .report-nav{
    min-height: 41px;
    background: none !important;
  }
  .search-header{
    height: 0;
    padding: 0;
    & .padding-less .el-input__inner{
      padding: 0 3px;
      }
     & .el-input__icon{
       width: 18px;
       }
  }

  .long-table{
    & .el-form-item__label{
      width: 80px !important;
    }
    & .el-button--text{
      padding: 0px !important;
    }
    & .el-button--small {
        padding: 5px 5px 5px 0 !important;
      }
  }
  .el-form--inline{
    & .el-form-item{
        margin-right: 20px !important;
      }
  }

  .table-header{
    background: #fff;
    padding: 10px 10px 0 10px;

  }
  .table-top{
    & .el-form-item--small{
      & .el-form-item__label{
          min-width: 60px;
        }
      & input{
          min-width: 200px;
        }
    }
  }
  .table-top{
    background: #fff;

  }
}

@media screen and (max-width: 767px){
  .el-table__body td{
    line-height: 12px;
}
.table-small {
      & .table-btnbox {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
      }
  }

}
@media screen and (max-width: 640px){
  .el-form--inline{
    & .el-form-item{
        margin-right: 10px !important;
    }
  }
.switch-page{
    & .el-form--inline{
      & .el-form-item{
          margin-right: -1px !important;
        }
    }
  }
}
@media screen and (max-width: 400px){
  .table-top{
    & .el-form-item--small{
      & input{
          min-width: 120px;
        }
    }
}

}

.table-number {
   line-height: 13px;
  position: relative;
  top: 4px;
}

.useraccount-rwd {
  line-height: 12px;
  position: relative;
  top: 4px;
}

/* search width */
.width-search40{
  width: 40px;
}
.width-search50{
  width: 50px;
}
width-search55{
  width: 55px;
}
.width-search60{
  width: 60px;
}
.width-search65{
  width: 64px;
}
.width-search75{
  width: 75px;
}
.width-search70{
  width: 70px;
}
.width-search75{
  width: 75px;
}
.width-search80{
  width: 80px;
}
.width-search90{
  width: 90px;
}
.width-search100{
  width: 100px;
}
.width-search105{
  width: 105px;
}
.width-search110{
  width: 110px;
}
.width-search120{
  width: 120px;
}
.width-search125{
  width: 125px;
}
.width-search130{
  width: 130px;
}

.width-search140{
  width: 140px;
}
.width-search160{
  width: 160px;
}
.width-search200{
  width: 200px;
}

.width-search250{
  width: 250px;
}
.width-selectall{
  width: 100%;
}
.width-grade{
  width: 95px;
  & .el-tag--small{
   padding: 0 4px !important;
    }
}
.width-searchall{
  & .el-form-item__content{
      width: 100%;
    }
}

.width-sixwordselect{
  width: 120px;
}
.width-account{
  width: 120px;
}
.width-forword{
  width: 120px;
}
.width-shotstatus{
  width: 55px;
}
.width-midstatus{
  width: 65px;
}
.width-update{
  width: 40px;
}
.width-level{
  width: 65px;
}
.width-issue{
  width: 100px;
}
.width-number{
  width: 120px;
}
.width-lottery{
  width: 120px;
}
.width-searchtime{
  & input{
      width: 106px !important;
        padding-left: 19px !important;
        padding-right: 12px !important;
      }
& .el-input__icon {
  width: 13px !important;}
}

.width-search-hour{
  & input{
      width: 162px;
      padding-left: 20px !important;
      padding-right: 12px !important;
  }
  & .el-input__icon{
      width: 11px;
      height: 31px;
      line-height: 31px;
  }
}
.width-search-hour120{
  & input{
      width: 112px;}
}
.width-search-hour130{
& input{
    width: 130px;}
}
.width-search-money .el-form-item__content{
  width: 105px;
}
.height-select32 {
& .el-input__inner{
    height: 32px !important;
    line-height: 32px !important;
    max-height: 32px !important;
  }
}
.height-select34 {
  & .el-input__inner{
      height: 34px !important;
      line-height: 34px !important;
      max-height: 34px !important;
   }
}

.inline-style{
  & .el-form-item__content{
    display: inline-block;
    padding: 0 0 0 15px;
   }
}

.el-table__fixed::before, .el-table__fixed-right::before{
  display: none !important;
}
@media screen and (max-width: 768px){
  .el-table__fixed-right .cell{
    text-align: center !important;
  }
  .width-forword{
    width: 150px;
  }
  .el-popover .el-input__inner{
    width: 100%;
    font-size: 16px !important;
  }
}
@media screen and (max-width: 400px){
  .inline-style{
& .el-form-item__content{
    display: block;
    padding: 0;
  }
  }
}
.tab-nomargin .el-tabs__header {
  border-bottom: none !important;
  margin: 0 !important;
 & .el-tabs__item.is-active{
   border-bottom: none;
 }
}


/* ============table 裡的用到的 class============== */
.same-line .el-form-item__content{
  width: 100px;
  display: inline-block;
  padding: 0 0 0px 20px;
}
@media screen and (max-width:768px){
  .same-line .el-form-item__content{
    padding: 0  !important;
  }
}

.td-background td{

  background: var(--color-titlebackground);
}

.table-option{
  text-align: center;
}
.table300 {
& thead {
    & .table-id {
        display: block;
        width: 100%;
        height: 36px;
        border-bottom: 1px solid var(--color-border);
    }
}
  & .el-table__header th .cell{
   border-bottom: 1px solid var(--color-border);
    }
  & .cell{
    white-space: nowrap !important;
  }
  & tbody tr:hover{
   background: var(--color-titlebackground);
  }
}
.close-table.table300 .cell{
  padding: 6px 0px 6px 10px!important;
}
/*表格宽度配置*/
.el-table td.is-hidden-fixed {
  display: none !important;
}
.is-hidden-fixed {
  position: absolute !important;
  right: 0;
  width: 40px;
  display: none;
}
.width-80 {
  width: 80px;
}
.width-110 {
  width: 110px;
}
.width-120 {
  width: 120px;
}
.width-130 {
  width: 130px;
}
.min-width100 {
  min-width: 100px;
}
.min-width60 {
  min-width: 60px;
}
.min-width80 {
  min-width: 80px;
}
.min-width90 {
  min-width: 90px;
}
.min-width120 {
  min-width: 120px;
}
.min-width130 {
  min-width: 130px;
}
.min-width140 {
  min-width: 140px;
}
.min-width160 {
  min-width: 160px;
}
.min-width170 {
  min-width: 170px;
}
.min-width180 {
  min-width: 180px;
}
.min-width200 {
  min-width: 200px;
}
.min-width270 {
  min-width: 270px;
}
.min-width320 {
  min-width: 320px;
}
.max-width20 {
  max-width: 20px;
}
.max-width80 {
  max-width: 80px;
}
.max-width90 {
  max-width: 90px;
}
.max-width100 {
  max-width: 100px;
}
.max-width120 {
  max-width: 120px;
}
.max-width130 {
  max-width: 130px;
}
.max-width140 {
  max-width: 140px;
}
.max-width145 {
  max-width: 145px;
}
.max-width160 {
  max-width: 160px;
}
.max-width180 {
  max-width: 180px;
}
.max-width200 {
  max-width: 200px;
}
.max-width220 {
  max-width: 220px;
}
.max-width250 {
  max-width: 250px;
}
.max-width300 {
  max-width: 300px;
}
.max-width350 {
  max-width: 350px;
}
.max-width400 {
  max-width: 400px;
  overflow: hidden;
}
.max-width630 {
  max-width: 630px;
  overflow: hidden;
}
.td-width180 {
  width: 180px;
}
.td-width160 {
  width: 160px;
}
.td-width150 {
  width: 150px;
}
.td-width145 {
  width: 145px;
}
.td-width140 {
  width: 140px;
}
.td-width130 {
  width: 130px;
}
.td-width120 {
  width: 120px;
}
.td-width100 {
  width: 100px;
}
.td-width80 {
  width: 80px;
}
.td-width75 {
  width: 75px;
}
/*綜合表格小一點間距離*/
.compound-table.el-table .cell {
  padding: 6px 5px !important;
}
/*checkout id*/
.table-id{
  padding: 0 0 0 10px !important;
  margin: 0 -10px 0 0px;
}

.table-checkbox{
  position: relative;
}
.table-absolute-left{
  position: absolute;
  left: 10px;
  top: 9.5px;
}

.line{
  text-align: center;
}
.fixed-height-tr .cell{
  min-height: 36px;
}

.scroll-container{
  width: 100%;
  overflow-x: scroll;
  position: relative;
  margin-bottom: -8px !important;
}
.scroll-container::-webkit-scrollbar{
  /*width: 0px !important;*/
  /*height: 2px !important;*/

}
.scroll-container::-webkit-scrollbar-track {
  margin-bottom: -8px !important;
}
.report-moadal .unfinished .table-style{
  border-bottom: 1px solid var(--color-border);
}
