.mt-template {
  width: 460px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 812px;
  & img{
      width: 100%;
    }
}
.mt-template1 {
  padding-bottom: 150px;
  position: relative;
  background: url("https://images.imags-google.com/system/activity/mobile/tem-xuehua/xuehua-beijing.png");
  & .tool-side {
      height: 4rem;
      background: url(https://images.imags-google.com/system/activity/mobile/tem-xuehua/xuehua-tool-right.png) center no-repeat;
      background-position: 0px 0px;
      background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
}
.mt-template1 .mt-contain1 {
  color: #ece3b5;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  text-align: center;
  background: url("https://images.imags-google.com/system/activity/mobile/tem-xuehua/xuehua.gif");
}
.mt-template1 .mt-contain1 .header-bg {
  height: 160px;
  width: 80%;
  margin: 0 auto;
}
.mt-template1 .mt-contain1 h2 {
  font-size: 36px;
  font-family: cursive;
}
.mt-template1 .mt-contain1 .text-box {
  font-size: 16px;
}
.mt-template1 .mt-contain1 .xuehue-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-end;
  & img {
    width: 100%;
  }
}
.mt-template1 .mt-contain1 .mt-title3-en {
  font-family: fantasy;
  letter-spacing: 2px;
  font-size: 14px;
}
.mt-template1 .mt-contain1 .model-list-style-gift {
  width: 80%;
  margin: 0 auto;
  & li {
    list-style: none;
    position: relative;
    text-align: left;
    padding-left: 30px;
    color: #fff;
    & p:not(:first-child) {
      padding-left: 4em;
    }
    &:before {
     position: absolute;
     left: 0;
     content: '';
     height: 20px;
     width: 20px;
     display: inline-block;
     background: url("https://images.imags-google.com/system/activity/mobile/tem-xuehua/xuehua-gift.png") center;
     background-size: cover;
    }
  }
}

.mt-template2 {
  position: relative;
  background: url("https://images.imags-google.com/system/activity/mobile/tem-guoqing/template2.png") center;
  -webkit-background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  padding: 110px 0 120px;
  & img {
    width: 100%;
  }
}
.mt-tem2-section {
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  top: 0;
  width: 100%;
}
.mt-tem2-section1 {
  background: url("https://images.imags-google.com/system/activity/mobile/tem-guoqing/tem2-flower.png") center;
  height: 148px;
  width: 90%;
  margin: 0 auto;
  background-size: contain;
}
.mt-tem2-section2 {
  padding: 10px 16px;
  color: #fff;
  font-size: 14px;
  & p {
    font-size: 14px;
  }
  & h2,& p {
     text-align: center;color: #fff7a7;
  }
}
.mt-tem2-section2 ul, .mt-tem2-section2 ol {
  text-align: left;
  padding: 10px;
  font-size: 14px;
  list-style: decimal;
  margin-left: 20px;
  & li {
    color: #fff;
    padding: 6px 0;
  }
}
.mt-tem2-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  & img {
      width: 100%;
  }
}

.mt-template3 {
  position: relative;
  background: url("https://images.imags-google.com/system/activity/mobile/tem-star/tem3-bg.png") top center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
  padding: 30Px;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
   &:before {
      background: url("https://images.imags-google.com/system/activity/mobile/tem-star/tem3-star.gif") no-repeat;
      background-attachment: fixed;
      background-size: cover;
   }
   &:after {
      background: url("https://images.imags-google.com/system/activity/mobile/tem-star/tem3-starry-sky1.gif") no-repeat;
      background-size: cover;
      background-attachment: fixed;
   }
  & .tem3-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
    & p,& li {
      line-height: 30px;
    }
}
.tem3-header {
  font-size: 18px;
  padding: 10px 0;
  text-align: center;
}
.tem3-content {
  & .tem3-h2 {
    text-align: center;
    font-size: 28px;
    font-family: cursive;
    color: #fff;
    padding: 20px 0;
  }
  position: relative;
  z-index: 100;
  color: #fff;
  font-size: 14px;
  line-height: 1.6;
  & ul li {
    list-style: none;
    padding-left: 20px;
    position: relative;
    &:before {
      position: absolute;
      left: 0;
       top: 7px;
      font: normal normal normal 14px/1 FontAwesome;
    }
  }
}
.black-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, .5);
  z-index: 1;
}
