@charset "utf-8";
:root {
  --color-primary: #04192E; /* 主色调 */
  --color-success: #5aab5a; /*成功色*/
  --color-warning: #ffde06; /*警告色*/
  --color-danger: #D90017; /* 危险色 */
  --color-info: #7497de; /*信息色*/
  --color-blue: #06c;
  --color-blue-light: #3478f6;
  --color-blue-button: #09C;
  --color-blue-lighter: rgba(var(--color-blue), 0.12);
  --color-input: #cccccc;
  --color-graystate: #c0c4cc;
  --color-white: #fff;
  --color-black: #000;
  --color-grey:#999;
  --color-border: #e1e6eb;
  --color-titlebackground: #f5f6fa;
  --color-headertitle: #333;
  --color-secondary: #444;
  --color-account: #06c;
  --color-title: #f9fafc;

  /* 融合色 */
  --blend-color: #fff;

  /* 背景色(可与主色一致) */
  --background-color:#fff;
  /* 大于768下基础字体*/

  --body-font-family: "Microsoft YaHei","PingFang SC","Helvetica","Helvetica Neue","Tahoma","微软雅黑",Arial,sans-serif;
  --body-font-size:0.75rem;
  /* 小于768下基础字体*/
  --spbody-font-family:"Microsoft YaHei","PingFang SC","Helvetica","Helvetica Neue","Tahoma","微软雅黑",Arial,sans-serif;
  /*--spbody-font-family:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;*/
  --spbody-font-size:1rem;
  /* 基础字体大小,行高，宽度，字体颜色,字体链接色，链接背景颜色  */
  --base-font-size: 1em;
  --base-line-height:2em;
  --base-font-weight:normal;
  --base-font-color:#333;

  /*************** 背景 ************************/

  /* 背景色 simple configuration */
  --body-bg-color:var(--background-color);

  /* 背景图片 simple configuration */
  --body-bg-img: none;

  /* 背景图片展示方式 */
  --background-repeat:no-repeat;
  --background-attachment:fixed;

  /* 背景图片对齐方式 */
  --background-position:center top;

  /***************end 背景 ************************/

  /***************top-banner图片 ************************/
  --t-banner-color: #0b0b0b;/*PC版的头部banner背景*/
  --t-banner-pc: none;/*PC版的头部banner*/
  --t-banner-phone: none;/*手机版的头部banner*/
  --t-banner-pad: none;/*PAD版的头部banner*/
  /***************END top-banner图片 ************************/
  /***************logo图片 ************************/
  --t-logo:url(http://imagess-google.com/test/../system/common/other/dafayun.png) no-repeat left center;
  /***************END logo图片 ********************/

  /* 模块外框头部背景颜色*/
  --mod-color: #fff;
  /* 面板背景颜色*/
  --panel-color: #fff;

  /*通用内边距 */
  --inner-padding:1rem;
  /*通用外边距 */
  --outer-margin:1rem;
}
