<template>
  <div class="mod-title">
    <!--<h2 class="mod-title1">标题一</h2>-->
    <!--<h2 class="mod-title2">标题二</h2>-->
    <!--<h2 class="mod-title3">标题三</h2>-->
    <!--<h2 class="mod-title4">标题四</h2>-->
    <!--<h3 style="font-size: 14px; padding: 2px 0; display: inline-block;background: #ffe500;color: #ff4949;">【 标题五 】</h3>-->
    <!--<h3 style="font-size: 14px; padding: 2px 0; display: inline-block;background: #ffe500;color: #333;">【 标题5 】</h3>-->
    <!--<h3 style="font-size: 14px; padding: 2px 0; display: inline-block;background: #ff4949;color: #fff;">【 标题5 】</h3>-->
    <!--<h3 style="font-size: 14px;padding: 2px 0;display: inline-block;background: #2e90fe;color: #ffe500;">【 标题6 】</h3>-->
    <!--<h3 style="font-size: 14px;padding: 2px 0;display: inline-block;background: #2e90fe;color: #ffffff;">【 标题6 】</h3>-->
    <!--<h3 style="font-size: 16px;padding: 2px 0;color: #333;">🎁 活动中心</h3>-->
    <!--<h2 style="font-size: 16px;padding: 2px 0;color: #333;">☎ 联系方式</h2>-->
    <!--<p style="margin-top: 8px; -webkit-font-smoothing: antialiased; font-size: 16px; line-height: 28px; font-weight: bold; color: rgb(12, 123, 173); min-height: 32px; border-bottom: 1.5px solid rgb(12, 123, 173); border-top-color: rgb(12, 123, 173); border-right-color: rgb(12, 123, 173); border-left-color: rgb(12, 123, 173); text-align: justify;"><span class="autonum" data-original-title="" placeholder="1" title="" style="margin-right: 8px; padding: 4px 10px; -webkit-font-smoothing: antialiased; color: rgb(255, 255, 255); display: block; float: left; line-height: 20px; background-color: rgb(12, 123, 173);">1</span></p>-->
    <!--<section>-->
      <!--<p style="text-align: center;"><span style="font-size: 14px; font-weight: bolder; color: rgb(89, 89, 89);">| 活动详情 |</span></p>-->
      <!--<p class="p1" style="text-indent: 2em;"><span style="color: rgb(89, 89, 89);">蔓空间坐落于798艺术区东街D085号，造型独特，简洁高雅。地理位置毗邻798艺术拍卖中心、亚洲艺术中心、以色列艺术中心等国际化艺术机构，是艺术园区黄金路段的重要组成。</span></p>-->
    <!--</section>-->
    <!--<section>-->
      <!--<p style="text-align: center;"><span style="color: rgb(127, 127, 127); font-family: 黑体, SimHei; font-size: 11px; font-weight: 700; letter-spacing: 2px;">“标题一” 公司的风格 </span><br></p>-->
    <!--</section>-->
  </div>
</template>

<script>
export default {
  name: 'ListBlue'
}
</script>

<style>
  @import "../../assets/css/variable.css";
</style>
