<template>
  <mod @scrollToButtom="getNotify(false)" ref="note" title="活动通知" size="14" type="mod-side-l2" more="" :loading="false">
    <div class="float-right" slot="btn">
      <span>全部标记已读</span><!--·<span>静音</span>--><!--·<span>设置</span>-->
    </div>
    <ul ref="notifyList">
      <li></li>
    </ul>
    <list-loading :loading="fetchBusy" :noData="done"></list-loading>
  </mod>
</template>

<script>
export default {
  data () {
    return {
      done: false,
      fetchBusy: false
    }
  },
  methods: {
    getNotify (init) {
      let nl = this.$refs.notifyList
      console.log(1111, nl)
      // if (init) {
      //   if (!nl.list || (nl.list.length < nl.page.size && !nl.page.last)) {
      //     nl.fetchData(true)
      //   }
      // } else {
      //   nl.fetchData(false)
      // }
      // if (this.notifyScrollTop > 0) {
      //   this.$nextTick(() => {
      //     let el = this.$refs.note.$el.querySelector('.scrollCss')
      //     if (el) {
      //       el.scroll(0, this.notifyScrollTop)
      //     }
      //   })
      // }
    },
    fetchData (init) {
      console.log(2222)
      // if (init) {
      //   this.done = false
      // }
      // if (!this.done && !this.page.last && !this.fetchBusy) {
      //   this.fetchBusy = true
      //     .catch(e => {
      //       this.done = true
      //       this.fetchBusy = false
      //     })
      // }
    }
  }
}
</script>

<style>
</style>
