<template>
  <mod @scrollToButtom="getNotify(false)" ref="note" title="活动通知" size="14" type="mod-side-l2" more="" :loading="false" :closeIcon="true" @close="$emit('close')">
    <div class="float-right" slot="btn">
      <span>全部标记已读</span><!--·<span>静音</span>--><!--·<span>设置</span>-->
    </div>
    <ul ref="notifyList" class="msg-list">
      <li v-for="(i, index) in list" :key="index">
        <div class="title">这个是一个测试标题</div>
        <div class="font-s12 margin-t4 color-secondary">2018-07-18 11:32</div>
        <!--<div class="margin-t6 font-s14 color-secondary">这个是一个测试的内容啊 大师傅了空间的发生的看了风景了阿斯顿发卢卡斯减肥了空间啊圣诞快乐放了假啊说的话就放辣椒</div>-->
      </li>
    </ul>
    <list-loading :loading="fetchBusy" :noData="done" @loadMore="getNotify(false)"></list-loading>
  </mod>
</template>

<script>
export default {
  data () {
    return {
      done: false,
      fetchBusy: false,
      notifyScrollTop: 0,
      page: {
        first: false,
        last: false,
        totalPage: 5,
        size: 4,
        number: -1
      },
      list: null,
      lists: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
    }
  },
  mounted () {
    this.getNotify(true)
  },
  methods: {
    notifyInit () {
      this.list = null
      this.page = {
        first: false,
        last: false,
        number: -1
      }
    },
    getNotify (init) {
      if (init) {
        if (!this.list || (this.list.length < this.page.size && !this.page.last)) {
          this.fetchData(true)
        }
      } else {
        this.fetchData(false)
      }
      if (this.notifyScrollTop > 0) {
        this.$nextTick(() => {
          let el = this.$refs.note.$el.querySelector('.scrollCss')
          if (el) {
            el.scroll(0, this.notifyScrollTop)
          }
        })
      }
    },
    fetchData (init) {
      if (init) {
        this.done = false
      }
      if (!this.done && !this.page.last && !this.fetchBusy) {
        this.fetchBusy = true
        ++this.page.number
        let [i, content] = [this.page.number * this.page.size, []]
        if (i <= this.lists.length) {
          for (; i < this.lists.length; i++) {
            content.push(this.lists[i])
          }
          this.list = (this.list || []).concat(content)
        } else {
          console.log('最后一条了')
          this.fetchBusy = false
          this.done = true
        }

        // .catch(e => {
        //   this.done = true
        //   this.fetchBusy = false
        // })
      }
    }
  },
  watch: {
    list (nv) {
      this.fetchBusy = false
    }
  }
}
</script>

<style>
  .list-classifi {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }
  .msg-list {
    margin: 0;
    & li {
      padding:6px;
      list-style: none;
      border-bottom: 1px solid #f4f4f4;
      & .title {
        font-size: 14px;
      }
    }
  }
</style>
