<template>
  <div>
    <div class="user-info-header">
      <span class="el-icon-arrow-left" @click="$emit('close')"></span>
      精彩活动
    </div>
  </div>
</template>

<script>
export default {
  methods: {
  }
}
</script>

<style>
</style>
