<template>
  <div>
    <side-nav v-if="$store.state.media.screen !== 'sm'"></side-nav>
    <div class="product-con" :class="{'pc-close': $store.state.pcSideNavStatus}">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import SideNav from '@/components/SideNav'
export default {
  name: 'SidebarIndex',
  data () {
    return {}
  },
  components: {
    SideNav
  }
}
</script>
