<template>
  <div>
    <div class="wrapper">
      <app-sidebar :onAfterClickMenu="onAfterClickMenu" v-if="screenW > 1023"></app-sidebar>
      <!--<div class="frame_content" >-->
      <div class="product-con" >
        <div class="panel">
          <div class="panel-heading">
            平台消息
            <div class="float-right panel-heading-right">
            </div>
          </div>
          <div class="panel-body board-data" :class="{'board-unfinished' : tableLine}">
            <div class="report-data" >
              <el-tabs v-model="activeName" type="card" @tab-click="handleClick" >
                <el-tab-pane v-for=" l in typeList" :label="getTitle(l)" :name="l.id" :key="l.id">
                  <div class="table-style news-style" v-if="screenW >768" v-loading="loading"
                       element-loading-spinner="dafa-icon-loading01 dafa-icon"
                       element-loading-customClass="loadingClass">
                    <!--電腦版-->
                    <scroll :id="idName" class="el-table">
                      <el-table
                        :data="allList"
                        style="width: 100%;" >
                        <el-table-column
                          label="标题"
                          min-width="100"
                          fixed>
                          <template slot-scope="scope" >
                            <div class="news-titlebox" >
                              <i class="news-icon margin-r10"  :class="{'unreaded': !scope.row.isRead}"></i>
                              <span class="hoverline-effet news-title" @click="openDoardForm(scope.row)">{{ scope.row.title}}</span>
                            </div>
                          </template>
                        </el-table-column>
                        <el-table-column
                          prop="gmtPublished"
                          label="发布时间"
                          v-if="screenW > 768"
                          :width="screenW > 1240 ? '300':'156'">
                        </el-table-column>
                        <el-table-column
                          class="type"
                          prop="announcementId"
                          label="消息类型"
                          v-if="screenW > 768"
                          :formatter="formatterType"
                          :width="screenW > 1240? '300':'100'">
                        </el-table-column>
                      </el-table>
                      <!--手機版-->
                    </scroll>
                  </div>
                  <div class="rwd-news  news-style" v-if="screenW <=768">
                    <ul v-loading="loading"
                          element-loading-spinner="dafa-icon-loading01 dafa-icon"
                          element-loading-customClass="loadingClass">
                      <li v-for=" items in allList" :key="items.id" @click="openDetails(items)" class="border-b">
                        <i class="news-icon margin-r10"  :class="{'unreaded': !items.isRead}"></i>
                        <div class="rwd-title">{{items.title}}</div>
                        <div class="new-detail" v-if="screenW <= 768">
                          <span class="news-type margin-r6">{{formatterType(items)}}</span><span class="news-time">{{items.gmtPublished | formatDateTime('yyyy-MM-dd hh:mm:ss')}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </el-tab-pane>
              </el-tabs>
            </div>
            <popover-right
              :modal="false"
              title="平台消息"
              :visible="detailShow"
              @close="detailShow=false">
              <div class="app-article-style">
                <div class="app-article-header">
                  <span class="app-article-title">
                        {{detailData.title}}
                  </span>
                  <span class="app-artcle-detail">{{detailData.gmtPublished}}</span>
                </div>
                <div class="app-article-content">
                  <span v-html="detailData.content"></span>
                </div>
              </div>
            </popover-right>
            <div class="report-foot margin-t10">
              <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                background
                ref="pagination"
                :current-page.sync="currentPage"
                :page-sizes="[20, 100, 300]"
                :page-size="20"
                :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
                :total="total">
              </el-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <board-edit
      :data="selectData"
      :visible="BoardEdit"
      v-on:onClose="BoardEdit=false"
    ></board-edit>
  </div>
</template>
<script>
import BoardEdit from '@/views/newModal/BoardEditForm'
import AppSidebar from '@/views/include/AppIndexSidebar'
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      rwdbtnVisible: false,
      detailShow: false,
      activeName: '',
      detailData: {},
      total: 0,
      readed: true,
      BoardEdit: false,
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      idName: '',
      scrollid: '',
      tableLine: false,
      pageNum: 1,
      pageSize: 20,
      currentPage: null,
      typeList: [
        {
          'id': '',
          'type': '全部消息',
          'typeMB': '全部',
          'unReadCount': 0
        },
        {
          'id': '1',
          'type': '服务消息',
          'typeMB': '服务',
          'unReadCount': 0
        },
        {
          'id': '2',
          'type': '产品消息',
          'typeMB': '产品',
          'unReadCount': 0
        },
        {
          'id': '3',
          'type': '故障消息',
          'typeMB': '故障',
          'unReadCount': 0
        },
        {
          'id': '4',
          'type': '支付消息',
          'typeMB': '支付',
          'unReadCount': 0
        }
      ]
    }
  },
  mounted () {
    this.getOrderList(1, 20)
    this.getUnreadAnnouncement()
  },
  methods: {
    getTitle (val) {
      let type = ''
      if (this.screenW > 768) {
        type = val.type
      } else {
        type = val.typeMB
      }
      if (val.unReadCount > 0) {
        type += '(' + val.unReadCount + ')'
      }
      return type
    },
    onAfterClickMenu (val) {
      this.getOrderList(1, 20, val)
    },
    formatterType (row, column) {
      if (!row || row.announcementId === '') {
        return '未知类型'
      }
      for (let i = 0; i < this.typeList.length; i++) {
        if (row.announcementId.toString() !== this.typeList[i].id || row.announcementId === '') {
          continue
        }
        return this.typeList[i].type
      }
      return '未知类型'
    },
    openDoardForm (val) {
      this.selectData = val
      val.isRead = 1
      this.BoardEdit = true
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val, this.activeName)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize, this.activeName)
    },
    getOrderList (pageNum, pageSize, type) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      if (type && parseInt(type) !== 0) {
        submitData.announcementId = type
      }
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.xAnnouncementList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.announcementList
        this.tableLine = false
        if (this.allList.length > 0) {
          this.tableLine = true
        }
        this.total = res.data.total
        for (let item in this.typeList) {
          if (this.typeList[item].id === '') {
            this.typeList[item].unReadCount = this.$store.state.unreadCount ? this.$store.state.unreadCount : 0
            continue
          }
          this.typeList[item].unReadCount = this.$store.state.messageUnreadCount && this.$store.state.messageUnreadCount[Number(this.typeList[item].id)] ? this.$store.state.messageUnreadCount[Number(this.typeList[item].id)] : 0
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    handleClick (tab, event) {
      this.idName = 'scroll-wrapper' + tab.name
      this.getOrderList(1, this.pageSize, tab.name)
      this.currentPage = 1
      this.pageNum = 1
    },
    getUnreadAnnouncement () {
      let submitData = {}
      Api.xUnreadAnnouncement(submitData).then((res) => {
        let data = res.data
        let messageUnreadCount = {}
        let unreadCount = 0
        for (let item in data) {
          messageUnreadCount[item] = data[item]
          if (!data[item]) {
            continue
          }
          unreadCount += Number(data[item])
        }
        this.$store.dispatch('setUnreadCount', unreadCount)
        this.$store.dispatch('setMessageUnreadCount', messageUnreadCount)
        for (let item in this.typeList) {
          if (this.typeList[item].id === '') {
            this.typeList[item].unReadCount = unreadCount
            continue
          }
          this.typeList[item].unReadCount = messageUnreadCount[Number(this.typeList[item].id)] ? messageUnreadCount[Number(this.typeList[item].id)] : 0
        }
      })
    },
    openDetails (row) {
      row.isRead = 1
      this.detailData = row
      let submitData = {}
      submitData.id = this.detailData.id
      this.loading = true
      let obj = this
      Api.xAnnouncement(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.detailData.content = res.data.announcement.content
        this.detailShow = true
        this.getUnreadAnnouncement()
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  },
  watch: {
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    BoardEdit,
    AppSidebar,
    Scroll
  }
}
</script>
<style scoped>
  .el-icon-star-on{
    color: var(--color-border) !important;
    display: inline-block;
  }
  .hoverline-effet{
    display: inline-block;
    line-height: 150%;
  }
  /*.scroll-wrapper{*/
  /*overflow-y: scroll ;*/
  /*}*/
  .el-table .cell{
    position: relative !important;
  }
  .news-icon{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #cccccc;
    display: inline-block;
    margin: 0 0 1px 0;
  }
  .news-titlebox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .news-title:after{
    background-color: #000 !important;
  }
  .unreaded{
    background: var(--color-danger);
  }
  .time{
    color: var(--color-graystate);
    font-size: 12px !important;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
  @media screen and (max-width:1200px){
    .product-navbar-wrapper{
      display: none !important;
    }

  }
  @media screen and (max-width:768px){
    /*.report-data{*/
      /*padding: 20px 0 0 0 !important;*/
    /*}*/
    .news-titlebox{
      padding: 0 0 0 20px;
    }
    .news-icon{
      position: absolute;
      left: 12px;
      top: 17px;
    }
    .new-detail{
      color: var(--color-grey);
      font-size: 14px !important;
    }
    .type{
      padding: 10px 0 0 0;
    }
    .rwd-news{
      & ul{
        margin: 0 !important;
        background: #fff;
      }
      & li{
        list-style: none;
        position: relative;
        padding: 8px 0 8px 30px;
        /*border-bottom: 1px solid var(--color-border);*/
      }
      & li:last-child{
        border-bottom: none !important;
      }
      & .rwd-title{
        font-size: 16px;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
        width: calc(100% - 20px);
      }
    }
  }
</style>
