<template>
  <div>
    <app-header></app-Header>
    <div class="wrapper">
      <app-sidebar v-if="$store.state.media.screen === 'sm'"></app-sidebar>
      <!--<div class="frame_content" >-->
      <router-view></router-view>
      <!--</div>-->
    </div>
  </div>
</template>
<script>
import AppHeader from '@/views/include/AppHeader'
import AppSidebar from '@/views/include/AppSidebar'
import Api from '@/api/index'
export default {
  name: 'index',
  data () {
    return {
      loading: false,
      permissionData: {}
    }
  },
  beforeCreate () {
    /**
     *    后面请求sideNav 的接口位置
     *    获取用户是否登录 ？是 -》 获取用户信息 获取sideNav列表，否 =》退出登录
     * */
    // let res = localStorage.getItem('siteInfo')
    // this.$store.dispatch('setFetchSideNav', JSON.parse(res))
    if (localStorage.getItem('siteInfo')) {
      let siteInfo = JSON.parse(localStorage.getItem('siteInfo'))
      this.$store.state.currentUser = siteInfo.userName
      this.$store.state.IsPlatform = siteInfo.isPlatform
    }
    Api.getNavList().then(res => {
      // console.log(res)
      let mapObject = {}
      if (res.data.isPlatform) {
        if (res.data.platformPermissionList.length > 0) {
          mapObject['isPlatform'] = 1
          mapObject['isSwitched'] = res.data.isSwitched
          mapObject['platform'] = res.data.platformPermissionList[0]
          this.JsonToArray(res.data.platformPermissionList)
        } else {
          mapObject['isPlatform'] = 0
        }
      } else {
        mapObject['isPlatform'] = 0
      }
      let tenantP = res.data.tenantPermissionList
      mapObject['hasManagement'] = 0
      mapObject['hasTenant'] = 0
      mapObject['hasMember'] = 0
      mapObject['hasTransaction'] = 0
      mapObject['hasActivity'] = 0
      mapObject['hasReport'] = 0
      for (let i = 0, length = tenantP.length; i < length; i++) {
        mapObject[tenantP[i].permissionCode] = tenantP[i]
        if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'management') {
          mapObject['hasManagement'] = 1
          continue
        }
        if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'tenant') {
          mapObject['hasTenant'] = 1
          continue
        }
        if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'member') {
          mapObject['hasMember'] = 1
          continue
        }
        if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'transaction') {
          mapObject['hasTransaction'] = 1
          continue
        }
        if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'activity') {
          mapObject['hasActivity'] = 1
          continue
        }
        if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'report') {
          mapObject['hasReport'] = 1
          continue
        }
      }
      this.JsonToArray(res.data.tenantPermissionList)
      let path = this.$route.path.split('/')
      // console.log(path)
      let index = path[path.length - 1].indexOf('?')
      let permissionCode = path[path.length - 1]
      if (index > -1) {
        permissionCode = permissionCode.substr(0, index + 1)
      }
      if (permissionCode !== '404') {
        this.$store.permissionData = this.permissionData
        if (permissionCode !== '' && permissionCode !== 'dashboard' && permissionCode !== 'login' && permissionCode !== 'useInfo') {
          if (!this.$store.permissionData) {
            this.$router.push({path: '/404'})
            return
          }
          if (permissionCode === 'SeekOrderDetail' || permissionCode === 'SeekOrderInfo') {
            permissionCode = 'transactionBettingChaseRecord'
          }
          if (permissionCode === 'TenantPlayPushDetail') {
            permissionCode = 'tenantPlayPush'
          }
          if (permissionCode === 'ImgFormofForm' || permissionCode === 'platformMaintainForm' || permissionCode === 'tenantIP') {
            permissionCode = 'platformTenantDetail'
          }
          if (permissionCode === 'reportMemberSearch') {
            permissionCode = 'reportMember'
          }
          if (!this.$store.permissionData[permissionCode] && permissionCode !== 'dashboard' && permissionCode !== 'login' && permissionCode !== 'useInfo') {
            // window.document.location.href = '/404'
            this.$router.push({path: '/404'})
            return
          }
        }
      }
      // console.log(permissionCode)
      document.title = this.$route.meta.title
      // console.log(123123123, mapObject)
      // console.log(mapObject)
      // console.log(mapObject)
      this.$store.dispatch('setFetchSideNav', mapObject)
      this.$store.sitNavTimestamp = res.data.timestamp
    }).catch(error => 'An error occurred while loading the nav.json' + error)
    window.addEventListener('storage', (event) => {
      this.isInit = true
      if (!event.newValue) {
        return
      }
      if (event.key === 'getSiteInfo') {
        localStorage.setItem('siteInfoData', localStorage.getItem('siteInfo'))
        localStorage.removeItem('siteInfoData')
      }
      if (event.key === 'siteInfo') {
        // console.log(3)
        if (!event.newValue) {
          return
        }
        sessionStorage.setItem('siteInfo', event.newValue)
        this.$store.dispatch('setSiteInfo', JSON.parse(event.newValue))
        // this.$store.state.currentUser = JSON.parse(event.newValue).userName
        // this.$store.state.IsPlatform = JSON.parse(event.newValue).isPlatform
        // // this.$store.state.siteInfo.tenantCode = JSON.parse(event.newValue).tenantCode
        // this.$set(this.$store.state, 'tenantCode', JSON.parse(event.newValue).tenantCode)
        // // this.$store.state.siteInfo.name = JSON.parse(event.newValue).name
        // this.$set(this.$store.state, 'name', JSON.parse(event.newValue).name)
        let siteInfo = JSON.parse(event.newValue)
        this.$set(this.$store.state.siteInfo, 'tenantCode', siteInfo.tenantCode)
        this.$set(this.$store.state.siteInfo, 'name', siteInfo.name)
        this.$set(this.$store.state.siteInfo, 'avatar', siteInfo.avatar)
        this.$set(this.$store.state.siteInfo, 'isPlatform', siteInfo.isPlatform)
        this.$set(this.$store.state.siteInfo, 'realName', siteInfo.realName)
        this.$set(this.$store.state.siteInfo, 'userName', siteInfo.userName)
        // alert(this.$store.state.siteInfo.name)
        // alert('3   ' + JSON.parse(event.newValue).userName
        localStorage.removeItem('getSiteInfo')
      }
      if (event.key === 'siteInfoData') {
        // console.log(4)
        if (!event.newValue) {
          return
        }
        sessionStorage.setItem('siteInfo', event.newValue)
        this.$store.dispatch('setSiteInfo', JSON.parse(event.newValue))
        // this.$store.state.currentUser = JSON.parse(event.newValue).userName
        // this.$store.state.IsPlatform = JSON.parse(event.newValue).isPlatform
        // // this.$store.state.siteInfo.tenantCode = JSON.parse(event.newValue).tenantCode
        // this.$set(this.$store.state, 'tenantCode', JSON.parse(event.newValue).tenantCode)
        // // this.$store.state.siteInfo.name = JSON.parse(event.newValue).name
        // this.$set(this.$store.state, 'name', JSON.parse(event.newValue).name)
        let siteInfo = JSON.parse(event.newValue)
        this.$set(this.$store.state.siteInfo, 'tenantCode', siteInfo.tenantCode)
        this.$set(this.$store.state.siteInfo, 'name', siteInfo.name)
        this.$set(this.$store.state.siteInfo, 'avatar', siteInfo.avatar)
        this.$set(this.$store.state.siteInfo, 'isPlatform', siteInfo.isPlatform)
        this.$set(this.$store.state.siteInfo, 'realName', siteInfo.realName)
        this.$set(this.$store.state.siteInfo, 'userName', siteInfo.userName)
        // alert(this.$store.state.siteInfo.name)
        // alert('3   ' + JSON.parse(event.newValue).userName
        localStorage.removeItem('getSiteInfo')
      }
      // let path = this.$route.path.split('/')
      // // console.log(path)
      // let index = path[path.length - 1].indexOf('?')
      // let permissionCode = path[path.length - 1]
      // if (index > -1) {
      //   permissionCode = permissionCode.substr(0, index + 1)
      // }
      // console.log('permissionCode', path)
      // if (permissionCode.toLowerCase() !== 'login') {
      //   if (!sessionStorage.getItem('siteInfo') || !localStorage.getItem('siteInfo')) {
      //     this.msgConfirm('缓存数据丢失，将返回到登录页', {
      //       confirmButtonText: '确定',
      //       cancelButtonText: '取消',
      //       type: 'warning',
      //       closeOnClickModal: false,
      //       closeOnPressEscape: false,
      //       showClose: false,
      //       showCancelButton: false
      //     }).then(() => {
      //       this.$router.push('/login?index')
      //     })
      //   }
      // }
    })
    if (!sessionStorage.getItem('siteInfo')) {
      localStorage.setItem('getSiteInfo', new Date())
    }
    // localStorage.setItem('getSiteInfo', new Date())
  },
  beforeDestroy () {
    // alert('beforeDestroy')
    if (window.removeEventListener) {
      window.removeEventListener('storage', (event) => {
        this.isInit = true
        if (!event.newValue) {
          return
        }
        if (event.key === 'getSiteInfo') {
          localStorage.setItem('siteInfoData', localStorage.getItem('siteInfo'))
          localStorage.removeItem('siteInfoData')
        }
        if (event.key === 'siteInfo') {
          // console.log(3)
          if (!event.newValue) {
            return
          }
          sessionStorage.setItem('siteInfo', event.newValue)
          this.$store.dispatch('setSiteInfo', JSON.parse(event.newValue))
          // this.$store.state.currentUser = JSON.parse(event.newValue).userName
          // this.$store.state.IsPlatform = JSON.parse(event.newValue).isPlatform
          // // this.$store.state.siteInfo.tenantCode = JSON.parse(event.newValue).tenantCode
          // this.$set(this.$store.state, 'tenantCode', JSON.parse(event.newValue).tenantCode)
          // // this.$store.state.siteInfo.name = JSON.parse(event.newValue).name
          // this.$set(this.$store.state, 'name', JSON.parse(event.newValue).name)
          let siteInfo = JSON.parse(event.newValue)
          this.$set(this.$store.state.siteInfo, 'tenantCode', siteInfo.tenantCode)
          this.$set(this.$store.state.siteInfo, 'name', siteInfo.name)
          this.$set(this.$store.state.siteInfo, 'avatar', siteInfo.avatar)
          this.$set(this.$store.state.siteInfo, 'isPlatform', siteInfo.isPlatform)
          this.$set(this.$store.state.siteInfo, 'realName', siteInfo.realName)
          this.$set(this.$store.state.siteInfo, 'userName', siteInfo.userName)
          // alert(this.$store.state.siteInfo.name)
          // alert('3   ' + JSON.parse(event.newValue).userName
          localStorage.removeItem('getSiteInfo')
        }
        if (event.key === 'siteInfoData') {
          // console.log(4)
          if (!event.newValue) {
            return
          }
          sessionStorage.setItem('siteInfo', event.newValue)
          this.$store.dispatch('setSiteInfo', JSON.parse(event.newValue))
          // this.$store.state.currentUser = JSON.parse(event.newValue).userName
          // this.$store.state.IsPlatform = JSON.parse(event.newValue).isPlatform
          // // this.$store.state.siteInfo.tenantCode = JSON.parse(event.newValue).tenantCode
          // this.$set(this.$store.state, 'tenantCode', JSON.parse(event.newValue).tenantCode)
          // // this.$store.state.siteInfo.name = JSON.parse(event.newValue).name
          // this.$set(this.$store.state, 'name', JSON.parse(event.newValue).name)
          let siteInfo = JSON.parse(event.newValue)
          this.$set(this.$store.state.siteInfo, 'tenantCode', siteInfo.tenantCode)
          this.$set(this.$store.state.siteInfo, 'name', siteInfo.name)
          this.$set(this.$store.state.siteInfo, 'avatar', siteInfo.avatar)
          this.$set(this.$store.state.siteInfo, 'isPlatform', siteInfo.isPlatform)
          this.$set(this.$store.state.siteInfo, 'realName', siteInfo.realName)
          this.$set(this.$store.state.siteInfo, 'userName', siteInfo.userName)
          // alert(this.$store.state.siteInfo.name)
          // alert('3   ' + JSON.parse(event.newValue).userName
          localStorage.removeItem('getSiteInfo')
        }
      })
    } else if (window.detachEvent) {
      window.detachEvent('storage', (event) => {
        this.isInit = true
        if (!event.newValue) {
          return
        }
        if (event.key === 'getSiteInfo') {
          localStorage.setItem('siteInfoData', localStorage.getItem('siteInfo'))
          localStorage.removeItem('siteInfoData')
        }
        if (event.key === 'siteInfo') {
          // console.log(3)
          if (!event.newValue) {
            return
          }
          sessionStorage.setItem('siteInfo', event.newValue)
          this.$store.dispatch('setSiteInfo', JSON.parse(event.newValue))
          // this.$store.state.currentUser = JSON.parse(event.newValue).userName
          // this.$store.state.IsPlatform = JSON.parse(event.newValue).isPlatform
          // // this.$store.state.siteInfo.tenantCode = JSON.parse(event.newValue).tenantCode
          // this.$set(this.$store.state, 'tenantCode', JSON.parse(event.newValue).tenantCode)
          // // this.$store.state.siteInfo.name = JSON.parse(event.newValue).name
          // this.$set(this.$store.state, 'name', JSON.parse(event.newValue).name)
          let siteInfo = JSON.parse(event.newValue)
          this.$set(this.$store.state.siteInfo, 'tenantCode', siteInfo.tenantCode)
          this.$set(this.$store.state.siteInfo, 'name', siteInfo.name)
          this.$set(this.$store.state.siteInfo, 'avatar', siteInfo.avatar)
          this.$set(this.$store.state.siteInfo, 'isPlatform', siteInfo.isPlatform)
          this.$set(this.$store.state.siteInfo, 'realName', siteInfo.realName)
          this.$set(this.$store.state.siteInfo, 'userName', siteInfo.userName)
          // alert(this.$store.state.siteInfo.name)
          // alert('3   ' + JSON.parse(event.newValue).userName
          localStorage.removeItem('getSiteInfo')
        }
        if (event.key === 'siteInfoData') {
          // console.log(4)
          if (!event.newValue) {
            return
          }
          sessionStorage.setItem('siteInfo', event.newValue)
          this.$store.dispatch('setSiteInfo', JSON.parse(event.newValue))
          // this.$store.state.currentUser = JSON.parse(event.newValue).userName
          // this.$store.state.IsPlatform = JSON.parse(event.newValue).isPlatform
          // // this.$store.state.siteInfo.tenantCode = JSON.parse(event.newValue).tenantCode
          // this.$set(this.$store.state, 'tenantCode', JSON.parse(event.newValue).tenantCode)
          // // this.$store.state.siteInfo.name = JSON.parse(event.newValue).name
          // this.$set(this.$store.state, 'name', JSON.parse(event.newValue).name)
          let siteInfo = JSON.parse(event.newValue)
          this.$set(this.$store.state.siteInfo, 'tenantCode', siteInfo.tenantCode)
          this.$set(this.$store.state.siteInfo, 'name', siteInfo.name)
          this.$set(this.$store.state.siteInfo, 'avatar', siteInfo.avatar)
          this.$set(this.$store.state.siteInfo, 'isPlatform', siteInfo.isPlatform)
          this.$set(this.$store.state.siteInfo, 'realName', siteInfo.realName)
          this.$set(this.$store.state.siteInfo, 'userName', siteInfo.userName)
          // alert(this.$store.state.siteInfo.name)
          // alert('3   ' + JSON.parse(event.newValue).userName
          localStorage.removeItem('getSiteInfo')
        }
      })
    }
  },
  mounted () {
    // this.$nextTick(function () {
    //   setTimeout(this.getUserState, 1000)
    // })
  },
  methods: {
    // getUserState () {
    //   if (!sessionStorage.getItem('siteInfo') || !localStorage.getItem('siteInfo')) {
    //     this.$router.push('/login')
    //   }
    // },
    JsonToArray (navData) {
      // 角色权限数据转换
      let setJson = (obj) => {
        let AObj = {}
        AObj.permissionCode = obj.permissionCode
        AObj.caTitle = obj.title
        AObj.key = obj.permissionCode
        let yObj = obj.children
        if (yObj) {
          AObj.children = setChildJson(yObj)
        }
        return AObj
      }
      let setChildJson = (obj) => {
        let arr = []
        for (let i = 0; i < obj.length; i++) {
          let data = {}
          data['permissionCode'] = obj[i]['permissionCode']
          data['caTitle'] = obj[i]['title']
          data['key'] = obj[i]['permissionCode']
          let yObj = obj[i]['children']
          if (yObj && yObj.length > 0) {
            data['children'] = setChildJson(yObj)
          } else {
            this.permissionData[data['permissionCode']] = data['permissionCode']
          }
          arr.push(data)
        }
        return arr
      }
      for (let i = 0; i < navData.length; i++) {
        setJson(navData[i])
      }
      // console.log(this.permissionData)
    }
  },
  components: {
    AppHeader,
    AppSidebar
  }
}
</script>
<!--<style src="../theme/index.css"></style>-->
<!--<style src="../../theme/index.css"></style>-->
<!--<style src="../assets/css/master.css"></style>-->
<!--<style src="../assets/css/main-table.css"></style>-->
<style src="../assets/css/font.css"></style>
<style>
.wrapper{
  position: relative;
}
.frame_content {
  position: absolute;
  left: 181px;
  right: 0;
  width: auto;
  transition: left .3s;
  height: calc(100vh - 50px);
  overflow: hidden;
}
</style>
