<template>
  <div class="maintainCon">
    <div class="errorContent fix">
      <div class="maintain fix" v-if="maintain">
        <div class="left">
          <img :src='$store.state.imgHost+"/system/pc/error/error.png"' alt="" width="160" height="107">
        </div>
        <div class="right">
          <h1>系统维护中......</h1>
          <p>每一次简单的维护都是为了给您带来更好的服务</p><!-- {{Maintain}} data.msg  data.data  .serviceUrl-->
          <p>预计于<span class="color-danger">{{maintainTime}}</span>维护完成</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  computed: {
    maintain () {
      let maintainData = localStorage.getItem('maintainData')
      return maintainData && JSON.parse(maintainData)
    }
  },
  data () {
    return {
      timer: null,
      maintainTime: ''
    }
  },
  mounted () {
    this.setTimer()
  },
  beforeDestroy () {
    clearTimeout(this.timer)
  },
  methods: {
    setTimer () {
      if (this.timer) {
        clearTimeout(this.timer)
      }
      let obj = this
      api.checkMaintain(function (res) {
        // console.log(res)
        if (res.code === -7) {
          localStorage.setItem('maintainData', JSON.stringify(res))
          obj.maintainTime = res.data
        }
      }).then(() => {
        this.$router.replace('/login')
      })
      this.timer = setTimeout(this.setTimer, 5 * 1000)
    }
  }
}
</script>

<style scoped>
.maintainCon{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:80%;
  display:table;
}
.errorContent{
  display: table-cell;
  vertical-align: middle;
}
.maintain{
  width:526px;
  margin:0 auto;
  & >div{
    float:left;
  }
  & .right{
    text-align:left;
    padding-left:66px;
    & h1{
      font-size:32px;
      color:#59adf2;
      font-weight:400;
    }
    & p{
      line-height:1.8;
      font-size:14px;
      color:#666666;
      & em{
        color:red;
        margin:0 4px;
      }
    }
    & > a{
      font-size:14px;
      border:1px solid;
      border-radius:4px;
      padding:5px 12px;
      color:#45aeef;
    }
  }
}
</style>
