<template>
  <div>
    <div class="panel information-panel">
      <div class=" board-data" v-loading="loading"
           element-loading-customClass="loadingClass">
        <div class="information-main">
          <div class="information-contain">
            <div class="information-inner">
              <!--左邊登路訊息-->
              <div class="information-left">
                <div class="information-right-tag">个人信息</div>
                <!--头像选择-->
                <div class="head-pic">
                  <div class="photo-box pic-hover" @click="UserPicForm= true">
                    <img :src="avatarUrl" alt="">
                    <span>更换大头贴</span>
                  </div>
                  <div class="information-greeting">
                    <span>{{grettingNote}}，{{userInfoData.realName}}</span>
                    <span>（这是您的第{{userInfoData.loginNum}}次登录）</span>
                  </div>
                </div>
                <div class="information-ip">
                  <span>您的IP：{{userInfoData.ip}}</span>
                  <span>地址：{{userInfoData.address}}</span>
                </div>
              </div>
              <!--右邊輸入匡-->
              <div class="information-right">
                <div class="information-title">修改登入密码</div>
                <el-form :model="ruleForm" status-icon :rules="rules" size="small" ref="ruleForm">
                  <el-form-item prop="oldPassword" class="information-input-box input-style01 " :class="{'hold-icon':!ruleForm.oldPassword}">
                    <div :class="eye ? 'dafa-icon-eye03 dafa-icon right-icon': 'dafa-icon-eye04 dafa-icon right-icon'" @click="eye = !eye"></div>
                    <el-input v-model="ruleForm.oldPassword" :type="!eye ? 'password' : 'text'"   placeholder="请输入旧登录密码"></el-input>
                  </el-form-item>
                  <el-form-item  prop="newPassword"  class="information-input-box  input-style01" :class="{'hold-icon':!ruleForm.newPassword}">
                    <div :class="eyeNew ? 'dafa-icon-eye03 dafa-icon right-icon': 'dafa-icon-eye04 dafa-icon right-icon'" @click="eyeNew = !eyeNew"></div>
                    <el-input v-model="ruleForm.newPassword" :type="!eyeNew ? 'password' : 'text'" placeholder="请输入新登录密码"></el-input>
                    <span class="remain-note">密码长度为6-16位字符</span>
                  </el-form-item>
                  <el-form-item  prop="validateNewPassword" class="information-input-box  input-style01" :class="{'hold-icon':!ruleForm.validateNewPassword}">
                    <div :class="eyeNewTwo ? 'dafa-icon-eye03 dafa-icon right-icon': 'dafa-icon-eye04 dafa-icon right-icon'" @click="eyeNewTwo = !eyeNewTwo"></div>
                    <el-input v-model="ruleForm.validateNewPassword" :type="!eyeNewTwo ? 'password' : 'text'" placeholder="请确认新登录密码"></el-input>
                  </el-form-item>
                  <el-form-item class="information-input-box information-btn input-style02">
                    <div class="information-btn-box" @click="submitForm('ruleForm')">
                      <span :loading="submitLoading">{{submitLoading ? '正在加载中' :'修改'}}</span>
                    </div>
                  </el-form-item>
                </el-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <user-pic-form
      :visible = "UserPicForm"
      v-on:onClose = "UserPicForm=false"
    ></user-pic-form>
  </div>
</template>
<script>
import UserPicForm from '@/views/newModal/UserPicForm'
import Api from '@/api/sys'
import {imgHost} from '@/filters'
import {blobToImage} from '@/utils/convert'
import {getTimeStamp} from '@/utils/Time'
import md5 from 'js-md5/build/md5.min'
export default {
  name: 'app',
  data () {
    // let validateAvar = (rule, value, callback) => {
    //   if (this.ruleForm.avatar === '' && !this.avatarFile) {
    //     callback(new Error('请选择头像'))
    //   }
    //   callback()
    // }
    let validatePassword = (rule, value, callback) => {
      if (this.ruleForm.newPassword === '') {
        callback(new Error('新密码不能为空'))
      }
      if (this.ruleForm.validateNewPassword === '') {
        callback(new Error('旧密码不能为空'))
      }
      if (this.ruleForm.newPassword !== this.ruleForm.validateNewPassword) {
        callback(new Error('两次输入的密码必须一致'))
      }
      callback()
    }
    return {
      UserPicForm: false,
      allList: [],
      eye: false,
      eyeNew: false,
      eyeNewTwo: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      avatarFile: null,
      avatarUrl: '',
      userInfoData: [],
      grettingNote: '',
      ruleForm: {
        'avatar': '',
        'oldPassword': '',
        'newPassword': '',
        'validateNewPassword': ''
      },
      rules: {
        oldPassword: [
          { required: true, message: '请输入旧登陆密码', trigger: 'blur' },
          {min: 6, max: 16, message: '长度在 6 到 16 个字符', trigger: 'blur'}
        ],
        newPassword: [
          { required: true, message: '请输入新登陆密码', trigger: 'blur' },
          {min: 6, max: 16, message: '长度在 6 到 16 个字符', trigger: 'blur'}
        ],
        validateNewPassword: [
          { required: true, validator: validatePassword, trigger: 'blur' }
        ]
      }
    }
  },
  components: {
    UserPicForm
  },
  methods: {
    change () {
      console.log(123)
    },
    setAvatar (avatar, avatarFile) {
      // console.log(avatar)
      let obj = this
      if (avatar) {
        this.ruleForm.avatar = avatar
        this.avatarUrl = imgHost(avatar)
        obj.avatarFile = null
      } else {
        if (avatarFile) {
          blobToImage(avatarFile, function (imageFile) {
            imageFile.onload = function () {
              obj.ruleForm.avatar = ''
              obj.avatarUrl = imageFile.src
            }
          })
        }
      }
      obj.avatarFile = avatarFile
      let submitData = new FormData()
      if (this.avatarFile) {
        submitData.append('image-file', this.avatarFile, this.avatarFile.name)
      }
      submitData.append('avatar', this.ruleForm.avatar)
      Api.updatePersonalDetails(submitData, function () {
      }).then((res) => {
        // console.log(res)
        let siteInfo = localStorage.getItem('siteInfo')
        if (siteInfo) {
          let siteInfoData = JSON.parse(siteInfo)
          if (this.avatarFile) {
            siteInfoData.avatar = res.data.avatar + '?' + getTimeStamp()
          } else {
            siteInfoData.avatar = this.ruleForm.avatar
          }
          this.$store.state.siteInfo.avatar = siteInfoData.avatar
          sessionStorage.setItem('siteInfo', JSON.stringify(siteInfoData))
          localStorage.setItem('siteInfo', JSON.stringify(siteInfoData))
          localStorage.setItem('getSiteInfo', new Date())
          this.avatarFile = null
        }
        this.msgSuccess('修改头像成功')
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    submitForm (formName) {
      this.submitLoading = true
      let obj = this
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = new FormData()
        if (this.avatarFile) {
          submitData.append('image-file', this.avatarFile, this.avatarFile.name)
        }
        let userName = JSON.parse(localStorage.getItem('siteInfo')).userName
        let name = userName.toLowerCase()
        submitData.append('oldPassword', md5(name + md5(this.ruleForm.oldPassword)))
        if (this.ruleForm.newPassword) {
          submitData.append('newPassword', md5(name + md5(this.ruleForm.newPassword)))
        }
        if (this.$store.state.siteInfo.avatar) {
          submitData.append('avatar', this.$store.state.siteInfo.avatar)
        }
        Api.updatePersonalDetails(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.resetForm('ruleForm')
          this.msgSuccess('保存成功')
        })
        return true
      })
    },
    userInfoList () {
      this.loading = true
      Api.userInfo().then((res) => {
        if (res.code === 1) {
          this.userInfoData = res.data
        }
        this.loading = false
      })
    },
    gretting () {
      // 0-12点为早上好，12-18点为下午好，18-24点为晚上好。
      let now = new Date()
      let times = now.getHours()
      let when = parseInt(times)
      let note = ''
      if (when < 12) {
        note = '早上好'
      } else if (when < 18) {
        note = '下午好'
      } else {
        note = '晚上好'
      }
      this.grettingNote = note
    }
  },
  mounted () {
    let siteInfo = localStorage.getItem('siteInfo')
    if (siteInfo) {
      let siteInfoData = JSON.parse(siteInfo)
      this.avatarUrl = imgHost(siteInfoData.avatar)
      this.ruleForm.avatar = siteInfoData.avatar
    }
    this.userInfoList()
    this.gretting()
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  }
}
</script>
<style >
.information-panel{
  font-weight: 300;
  & .right-icon{
    position: absolute;
    right: -2px;
    z-index: 2;
    color: #aaabab;
    top: 50%;
    transform: translate(0 , -50%);
    cursor: pointer;
    opacity: 1;
    &:hover{
      opacity: 0.6;
    }
  }
  & .information-btn.information-btn{
    margin-bottom: 0 !important;
  }
  & .information-inner .el-form-item.is-success .el-input__inner,
  & .information-inner .el-form-item.is-success .el-input__inner:focus,
  & .information-inner .el-form-item.is-success .el-textarea__inner,
  & .information-inner .el-form-item.is-success .el-textarea__inner:focus{
    border: none!important;
  }
  & .el-input__suffix{
    display: none;
  }
  & .el-form-item__error {
      top: 44px;
    left: -12px;
  }
  & .remain-note{
    color: #fceb5b;
    font-size: 14px;
    position: absolute;
    bottom: -40px;
    right: -13px;
  }
  & .information-right-tag{
    position: absolute;
    top: 20px;
    left: 0;
    color: #fff;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0 82px 82px 0 ;
    padding: 10px 20px 10px 10px;
  }
  & input{
    font-size: 15px !important;
    border: none !important;
    background-color: transparent !important;
    color: #fff !important;
  }
  & input::-webkit-input-placeholder{
    color: #9da6ac !important;
    padding-left: 10px;
  }
  & input[placeholder], [placeholder], *[placeholder]{
    color: #9da6ac !important;
  }
  & input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    background-color: transparent;
    -webkit-transition: background-color 10000s cubic-bezier(1, -100, 1, -100) 0s;
  }
  & .information-title{
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
  }
  & .el-form-item__content{
    width: 100% !important;
  }
  & .el-form{
    max-width: 330px;
    margin: 0 auto;
  }
  & .input-style01{
    background: url("https://images.imags-google.com/system/common/cms/login/login-input01.png") center center /cover no-repeat;
  }
  & .input-style02{
    background: url("https://images.imags-google.com/system/common/cms/login/login-btn-phone.png") center center /cover no-repeat;
    transition: all .5s;
    &:hover{
      background: url("https://images.imags-google.com/system/common/cms/login/login-btn-hover.png") center center /cover no-repeat;
    }
    & input{
      width: 100%;
      font-size: 16px;
      text-align: center !important;
      border: none !important;
      color: #fff;
      padding: 0 !important;
      cursor: pointer;
      outline: none !important;
      box-shadow: none !important;
    }
  }
  & .information-main{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background: url("https://images.imags-google.com/system/common/cms/login/loginbg.jpg") center center /cover no-repeat;
    position: relative;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      background: #fff;
      opacity: 0.1;
    }
  }
  & .information-inner{
    width: 65%;
    max-width: 1200px;
    min-height: 300px;
    position: relative;
    display: flex;
    padding: 80px 0px;
    box-shadow: -5px 2px 14px rgba(6,6,6,.1);
    background: linear-gradient(258deg, rgba(24, 45, 58, 1)35%, rgba(44, 65, 79, 0.7)90%);
  }
  & .information-left{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  & .information-right{
    width: 57%;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
  }
  & .information-contain{
    width: 100vw;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    min-height: 500px;
    align-items: center;
    z-index: 1000;
    justify-content: center;
  }
  & .information-greeting{
    color: #fff;
    text-align: center;
    padding-top: 20px;
    & span{
      display: block;
    }
    & span:nth-child(1){
      font-size: 30px;
      padding-bottom: 4px;
    }
    & span:nth-child(2){
      font-size: 16px;
    }
  }
  & .information-ip{
    color: #fff;
    text-align: center;
    & span{
      display: block;
      opacity: 0.6;
      font-size: 16px;
      padding-bottom: 2px;
    }
  }
  & .information-btn-box{
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }
  & .information-input-box{
    width: 100%;
    height: 68px;
    padding: 20px 30px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-self: center;
    margin: 0 0 14px 0 !important;
    & .el-form-item__content{
      width: 100%;
    }
    & img{
      width: 22px;
      height: 22px;
    }
  }
  & .hold-icon:after{
      content: '*';
      position: absolute;
      display: inline-block;
      left: 30px;
      top: 28px;
      color: #9da6ac !important;
  }
  & .report-data{
    padding: 15px;
    max-width: 400px;
  }
  & .photo-box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #6f7a82;
    overflow: hidden;
    display: block;
    margin: 0 auto;
  }
  & .pic-hover{
    position: relative;
    & span{
      color: #fff;
      opacity: 0;
      transition: all .3s;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      display: inline-block;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover{
      & span{
        opacity: 1;
      }
    }
  }
  & .head-pic{
    padding-bottom: 7px;
  }
}
@media only screen and (max-width: 1450px) {
  .information-panel{
    & .information-right-tag{
      top: 20px;
      font-size: 14px;
      border-radius: 0 66px 66px 0 ;
      padding: 8px 16px 8px 8px;
    }
    & .information-inner{
      max-width: 800px;
    }
    & .information-btn-box{
      font-size: 20px;
    }
    & .information-title{
      font-size: 24px;
      padding-bottom: 24px;
    }
    & .el-form-item__error {
      top: 40px;
    }
    & .el-form{
      max-width: 265px;
    }
    & .information-input-box{
      height: 50px;
      padding: 10px 30px;
    }
    & .input-style01{
      background-size: 50% /cover;
    }
    & .input-style02{
      background-size: 50% /cover;
    }
    & .information-greeting {
      padding-top: 16px;
      & span:nth-child(1){
        font-size: 24px;
      }
      & span:nth-child(2){
        font-size: 12px;
      }
    }
    & .hold-icon:after {
      top: 17px;}
    & .remain-note {
      font-size: 12px;
      bottom: -34px;
    }
    & .photo-box{
      width: 80px;
      height: 80px;
    }
    & .information-ip{
      padding-bottom: 4px;
      & span{
        font-size: 12px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .information-panel{
    & .information-inner{
      width: 80%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .information-main{
    z-index: 0;
  }
  .information-panel{
    & .information-right-tag{
      top: 80px;
    }
    & .information-inner{
      width: 100%;
      flex-direction: column;
      height: 100vh;
      padding-top: 100px;
    }
    & .information-right{
      border: none;
      width: 100%;
    }
    & .information-left{
      justify-content: flex-start;
      width: 100%;
    }
    & .information-title{
      display: none;
    }

    & .information-greeting {
      & span:nth-child(1){
        font-size: 20px;
      }
      & span:nth-child(2){
        font-size: 12px;
      }
    }
    & .information-ip{
      position: absolute;
      bottom: 25px;
      text-align: center;
      width: 100%;
    }
  }

}
</style>
