<template>
  <div class="website-close">
    <div class="website-close-content">
      <div><img src="../assets/img/close.png" alt=""/></div>
      <h1>网站已关闭</h1>
      <p>当前网站已关闭，给你带来的不便请谅解，联系客服去别的站玩吧</p>
    </div>
  </div>
</template>

<script>
import api from '@/api'
export default {
  beforeRouteEnter (to, from, next) {
    let WebsiteClosed = localStorage.getItem('WebsiteClosed')
    if (WebsiteClosed && JSON.parse(WebsiteClosed)) {
      next()
    } else {
      next({
        path: '/login'
      })
    }
  },
  beforeCreate () {
    api.getSiteLogo().then(() => {
      let WebsiteClosed = localStorage.getItem('WebsiteClosed')
      if (WebsiteClosed && JSON.parse(WebsiteClosed)) {
      } else {
        this.$router.replace('/')
      }
    })
  },
  computed: {
    WebsiteClosed () {
      let WebsiteClosed = localStorage.getItem('WebsiteClosed')
      return WebsiteClosed && JSON.parse(WebsiteClosed)
    }
  }
}
</script>

<style scoped>
.website-close {
  height: 100vh;
  background: #f5f5f5;
  position: relative;
  & .website-close-content {
    width: 320px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -150px 0 0 -160px;
    & h1 {
      margin-top: 30px;
    }
    & p {
      font-size: 14px;
    }
  }
}
</style>
