<template>
  <div class="panel">
    <div class="panel-heading">
      首充报表
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-search140" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="上级代理" prop="parentName">
            <el-input v-model="ruleForm.parentName" class="width-search140" placeholder="请输入上级代理"></el-input>
          </el-form-item>
          <el-form-item label="排序" prop="sort">
            <el-select size="min"  v-model="ruleForm.sort" placeholder="默认"  class="width-search140">
              <el-option label="默认" value="0"></el-option>
              <el-option label="充值递减" value="1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  @close="avatorVisible=false">

                  <el-form :model="ruleForm" ref="ruleForm" size="small" :inline="false" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="上级代理" prop="parentName">
                      <el-input v-model="ruleForm.parentName" placeholder="请输入上级代理"></el-input>
                    </el-form-item>
                    <el-form-item label="排序" prop="sort">
                      <el-select size="min"  v-model="ruleForm.sort" placeholder="投注递减" >
                        <el-option label="默认" value="0"></el-option>
                        <el-option label="充值递减" value="1"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.startTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.endTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <!--<el-form-item class="post-btn">-->
                      <!--<el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>-->
                      <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                      <!--<el-button size="mini" type="primary">导出Excel</el-button>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">会员账号</div></th>
                  <th><div class="cell">等级</div></th>
                  <th><div class="cell">上级</div></th>
                  <th><div class="cell">余额</div></th>
                  <th><div class="cell">充值金额</div></th>
                  <th><div class="cell">充值方式</div></th>
                  <th><div class="cell">充值终端</div></th>
                  <th><div class="cell">充值时间</div></th>
                  <th><div class="cell">注册时间</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--会员账号-->
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <!--等级-->
                    <td><div class="cell"><span>{{gradeFormatter(items)}}</span></div></td>
                    <!--上级-->
                    <td><div class="cell"><span>{{items.parentName}}</span></div></td>
                    <!--余额-->
                    <td><div class="cell"><span >{{items.balance | formatMoney}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell"><span :class="{'color-danger' : items.amount>=0,'color-success' : items.amount<0}">{{ items.amount | formatMoney}}</span></div></td>
                    <!--充值方式-->
                    <td><div class="cell"><span>{{items.remark }}</span></div></td>
                    <!--充值终端-->
                    <td><div class="cell"><span >{{ getSourceName(items.sourceId)}}</span></div></td>
                    <!--充值时间-->
                    <td><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    <!--注册时间-->
                    <td><div class="cell"><span >{{items.registerTime}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="3"><div class="cell">合计</div></td>
                    <!--会员余额-->
                    <td ><div class="cell">{{summaryData['balance']}}</div></td>
                    <!--充值金额-->
                    <td colspan="5"><div class="cell">{{summaryData['amount']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                min-width="130"
                fixed>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{ scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{ scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="等级"
                prop="grade"
                :formatter="gradeFormatter"
                :min-width="screenW > 768 ? '100':'120'">
              </el-table-column>
              <el-table-column
                label="上级"
                prop="parentName"
                :min-width="screenW > 768 ? '100':'150'">
              </el-table-column>
              <el-table-column
                label="余额"
                prop="balance"
                :min-width="screenW > 768 ? '120':'170'">
                <template slot-scope="scope">{{ scope.row.balance | formatMoney}}</template>
              </el-table-column>
              <el-table-column
                prop="amount"
                label="充值金额"
                :min-width="screenW > 768 ? '110':'170'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.amount>=0,'color-success' : scope.row.amount<0}">{{ scope.row.amount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="充值方式"
                prop="remark"
                :min-width="screenW > 768 ? '150':'180'">
              </el-table-column>
              <el-table-column
                label="充值终端"
                prop="sourceId"
                min-width="90">
                <template slot-scope="scope">{{ getSourceName(scope.row.sourceId)}}</template>
              </el-table-column>
              <el-table-column
                label="充值时间"
                prop="gmtCreated"
                :width="screenW > 1024 ? '160' : '180'">
              </el-table-column>
              <el-table-column
                label="注册时间"
                prop="registerTime"
                :width="screenW > 1024 ? '160' : '180'">
              </el-table-column>
              <el-table-column
                label="操作"
                width="40" fixed="right" v-if="screenW > 768">
                <template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="首充报表"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{gradeFormatter(detailData)}}</span>
            </li>
            <li>
              <span>上级</span>
              <span>{{detailData.parentName}}</span>
            </li>
            <li>
              <span>余额</span>
              <span>{{detailData.balance | formatMoney}}</span>
            </li>
            <li>
              <span>充值金额</span>
              <span :class="{'color-danger' : detailData.amount>=0,'color-success' : detailData.amount<0}">{{ detailData.amount | formatMoney}}</span>
            </li>
            <li>
              <span>充值方式</span>
              <span>{{detailData.remark}}</span>
            </li>
            <li>
              <span>充值终端</span>
              <span>{{getSourceName(detailData.sourceId)}}</span>
            </li>
            <li>
              <span>充值时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>注册时间</span>
              <span>{{detailData.registerTime}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          ref="pagination"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import {DateFormat, exportExl} from '@/utils/Time'
import {validateQueryDate} from '@/utils/validateRules'
import {formatMoney, getSummaries} from '@/filters/index'
import {gradeData} from '@/utils/config'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      btnStyle: false,
      timeCount: 0,
      timer: null,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      level: gradeData,
      tableLine: true,
      ruleForm: {
        sort: '0',
        userName: '',
        parentName: '',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'balance': '1', 'amount': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    getSourceName (v) {
      if (!v) {
        return ''
      }
      v = v.toString()
      switch (v) {
        case '1':
          return 'PC'
        case '2':
          return 'Mobile'
        case '3':
          return 'APP'
        default:
          return '未知终端'
      }
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    gradeFormatter (row, column) {
      if (!row) {
        return ''
      }
      // console.log('row', row)
      if (this.level[row.grade]) {
        return this.level[row.grade]
      }
      return '未知等级'
    },
    exportExcel () {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      // console.log('submitData', submitData)
      let obj = this
      Api.firstinReport(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.result
        let excel = '<tr><th>会员账号</th><th>等级</th><th>上级</th><th>余额</th><th>充值金额<th>充值方式</th><th>充值终端</th><th>充值时间</th><th>注册时间</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].userName}</th>
            <th>${this.level[excelarr[i].grade]}</th>
            <th>${excelarr[i].parentName}</th>
            <th>${formatMoney(excelarr[i].balance)}</th>
            <th>${formatMoney(excelarr[i].amount)}</th>
            <th>${excelarr[i].remark}</th>
            <th>${this.getSourceName(excelarr[i].sourceId)}</th>
            <th>${excelarr[i].gmtCreated}</th>
            <th>${excelarr[i].registerTime}</th>
          </tr>`
        }
        exportExl(excel, '首充报表（' + submitData.startTime + '至' + submitData.endTime + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.firstinReport(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = []
        this.total = 0
        if (res.data.result && res.data.result.length) {
          this.allList = res.data.result
          this.total = res.data.total
        }
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
