<template>
  <div class="panel">
    <div class="panel-heading">
      代理报表
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
        <el-button size="mini" icon="el-icon-plus" type="success"  @click="ReportAgent=true">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="代理账号" prop="agentName">
            <el-input size="min" v-model="ruleForm.agentName" placeholder="请输入代理账号"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW<=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form :model="ruleForm" ref="ruleForm" size="small"  :inline="false" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="代理账号" prop="agentName">
                      <el-input size="min" v-model="ruleForm.agentName" placeholder="请输入代理账号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.startTime"-->
                        <!--type="date"-->
                        <!--placeholder="选择日期"-->
                        <!--:editable="false"-->
                        <!--popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.endTime"-->
                        <!--type="date"-->
                        <!--placeholder="选择日期"-->
                        <!--:editable="false"-->
                        <!--popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <!--<el-form-item class="post-btn">-->
                      <!--<el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>-->
                      <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300 compound-table" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">代理账号</div></th>
                  <th><div class="cell">注册人数</div></th>
                  <th><div class="cell">投注人数</div></th>
                  <th><div class="cell">首充人数</div></th>
                  <th><div class="cell">代理返点</div></th>
                  <th><div class="cell">团队盈利</div></th>
                  <th><div class="cell">充值金额</div></th>
                  <th><div class="cell">提现金额</div></th>
                  <th><div class="cell">投注金额</div></th>
                  <th><div class="cell">中奖金额</div></th>
                  <th><div class="cell">活动礼金</div></th>
                  <th><div class="cell">团队返点</div></th>
                  <th><div class="cell">转账金额</div></th>
                  <th><div class="cell">收款金额</div></th>
                  <th><div class="cell">发送红包</div></th>
                  <th><div class="cell">领取红包</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--代理账号-->
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <!--注册人数-->
                    <td><div class="cell"><span >{{items.registerCount}}</span></div></td>
                    <!--投注人数-->
                    <td><div class="cell"><span >{{items.betCount}}</span></div></td>
                    <!--首充人数-->
                    <td><div class="cell"><span >{{items.firstinCount}}</span></div></td>
                    <!--代理返点-->
                    <td><div class="cell"><span>{{items.rebateAmount}}</span></div></td>
                    <!--团队盈利-->
                    <td><div class="cell"><span :class="{'color-danger' : items.profit>=0,'color-success' : items.profit<0}">{{ items.profit | formatMoney}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell"><span >{{items.inAmount | formatMoney}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell"><span>{{items.outAmount | formatMoney}}</span></div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span>{{items.betAmount | formatMoney}}</span></div></td>
                    <!--中奖金额-->
                    <td><div class="cell"><span >{{items.returnAmount | formatMoney}}</span></div></td>
                    <!--活动礼金-->
                    <td><div class="cell"><span >{{items.activityAmount | formatMoney}}</span></div></td>
                    <!--团队返点-->
                    <td><div class="cell"><span >{{items.teamRebateAmount | formatMoney}}</span></div></td>
                    <!--转账金额-->
                    <td><div class="cell"><span>{{items.sendAmount | formatMoney}}</span></div></td>
                    <!--收款金额-->
                    <td><div class="cell"><span>{{items.getAmount | formatMoney}}</span></div></td>
                    <!--发送红包-->
                    <td><div class="cell"><span>{{items.hbSendAmount | formatMoney}}</span></div></td>
                    <!--领取红包-->
                    <td><div class="cell"><span>{{items.hbGetAmount | formatMoney}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td ><div class="cell">合计</div></td>
                    <!--注册人数-->
                    <td><div class="cell"><span >{{summaryData['registerCount']}}</span></div></td>
                    <!--投注人数-->
                    <td><div class="cell"><span >{{summaryData['betCount']}}</span></div></td>
                    <!--首充人数-->
                    <td><div class="cell"><span >{{summaryData['firstinCount']}}</span></div></td>
                    <!--代理返点-->
                    <td ><div class="cell">{{summaryData['rebateAmount']}}</div></td>
                    <!--团队盈利-->
                    <td ><div class="cell" >{{summaryData['profit']}}</div></td>
                    <!--充值金额-->
                    <td ><div class="cell">{{summaryData['inAmount']}}</div></td>
                    <!--提现金额-->
                    <td ><div class="cell">{{summaryData['outAmount']}}</div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span>{{summaryData['betAmount']}}</span></div></td>
                    <!--中奖總額-->
                    <td ><div class="cell">{{summaryData['returnAmount']}}</div></td>
                    <!--活动礼金-->
                    <td ><div class="cell">{{summaryData['activityAmount']}}</div></td>
                    <!--团队返点-->
                    <td ><div class="cell">{{summaryData['teamRebateAmount']}}</div></td>
                    <!--转账金额-->
                    <td ><div class="cell">{{summaryData['sendAmount']}}</div></td>
                    <!--收款金额-->
                    <td ><div class="cell">{{summaryData['getAmount']}}</div></td>
                    <!--发送红包-->
                    <td ><div class="cell">{{summaryData['hbSendAmount']}}</div></td>
                    <!--领取红包-->
                    <td ><div class="cell">{{summaryData['hbGetAmount']}}</div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="16"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="代理账号"
                fixed
                :min-width="screenW > 768 ? '130':'150'">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{ scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{ scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="注册人数"
                prop="registerCount"
                :min-width="screenW > 768 ? '75':'120'">
              </el-table-column>
              <el-table-column
                label="投注人数"
                prop="betCount"
                :min-width="screenW > 768 ? '75':'120'">
              </el-table-column>
              <el-table-column
                label="首充人数"
                prop="firstinCount"
                :min-width="screenW > 768 ? '75':'120'">
              </el-table-column>
              <el-table-column
                label="代理返点"
                prop="rebateAmount"
                :min-width="screenW>768 ? '100':'140'">
                <template slot-scope="scope"><span>{{ scope.row.rebateAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profit"
                label="团队盈利"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profit>=0,'color-success' : scope.row.profit<0}">{{ scope.row.profit | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="充值金额"
                prop="inAmount"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span>{{ scope.row.inAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="提现金额"
                prop="outAmount"
                :min-width="screenW > 768 ? '110':'130'">
                <template slot-scope="scope"><span>{{ scope.row.outAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="投注金额"
                prop="betAmount"
                :min-width="screenW > 768 ? '110':'140'">
                <template slot-scope="scope"><span>{{ scope.row.betAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="中奖金额"
                prop="returnAmount"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span>{{ scope.row.returnAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="活动礼金"
                prop="activityAmount"
                :min-width="screenW > 768 ? '100':'150'">
                <template slot-scope="scope"><span>{{ scope.row.activityAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="团队返点"
                prop="teamRebateAmount"
                :min-width="screenW>768 ? '100':'150'">
                <template slot-scope="scope"><span>{{ scope.row.teamRebateAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="转账金额"
                prop="rebateAmount"
                :min-width="screenW>768 ? '100':'140'">
                <template slot-scope="scope"><span>{{ scope.row.sendAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="收款金额"
                prop="rebateAmount"
                :min-width="screenW>768 ? '100':'140'">
                <template slot-scope="scope"><span>{{ scope.row.getAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="发送红包"
                prop="rebateAmount"
                :min-width="screenW>768 ? '100':'140'">
                <template slot-scope="scope"><span>{{ scope.row.hbSendAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="领取红包"
                prop="rebateAmount"
                :min-width="screenW>768 ? '100':'140'">
                <template slot-scope="scope"><span>{{ scope.row.hbGetAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="操作"
                width="40" fixed="right" v-if="screenW > 768">
                <template slot-scope="scope">  <div title="复制" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="代理报表"
          @close="detailShow=false">
          <ul >
            <li>
              <span>代理账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>注册人数</span>
              <span>{{detailData.registerCount}}</span>
            </li>
            <li>
              <span>投注人数</span>
              <span>{{detailData.betCount}}</span>
            </li>
            <li>
              <span>首充人数</span>
              <span>{{detailData.firstinCount}}</span>
            </li>
            <li>
              <span>代理返点</span>
              <span>{{detailData.rebateAmount | formatMoney}}</span>
            </li>
            <li>
              <span>团队盈利</span>
              <span :class="{'color-danger' : detailData.profit>=0,'color-success' : detailData.profit<0}">{{ detailData.profit | formatMoney}}</span>
            </li>
            <li>
              <span>充值金额</span>
              <span>{{detailData.inAmount | formatMoney}}</span>
            </li>
            <li>
              <span>提现金额</span>
              <span>{{detailData.outAmount | formatMoney}}</span>
            </li>
            <li>
              <span>投注金额</span>
              <span>{{detailData.betAmount | formatMoney}}</span>
            </li>
            <li>
              <span>中奖金额</span>
              <span>{{detailData.returnAmount | formatMoney}}</span>
            </li>
            <li>
              <span>活动礼金</span>
              <span>{{detailData.activityAmount | formatMoney}}</span>
            </li>
            <li>
              <span>团队返点</span>
              <span>{{detailData.teamRebateAmount | formatMoney}}</span>
            </li>
            <li>
              <span>转账金额</span>
              <span>{{detailData.sendAmount | formatMoney}}</span>
            </li>
            <li>
              <span>收款金额</span>
              <span>{{detailData.getAmount | formatMoney}}</span>
            </li>
            <li>
              <span>发送红包</span>
              <span>{{detailData.hbSendAmount | formatMoney}}</span>
            </li>
            <li>
              <span>领取红包</span>
              <span>{{detailData.hbGetAmount | formatMoney}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          ref="pagination"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <div class="text-style">* 温馨提示：盈利=中奖金额-投注金额+活动礼金+团队返点；</div>
      <!-- 数据模型结束 -->
    </div>
    <report-agent
      :visible="ReportAgent"
      v-on:onClose="ReportAgent=false">
    </report-agent>
  </div>
</template>
<script>
import ReportAgent from '@/views/newModal/ReportAgentForm'
import Api from '@/api/report'
import {DateFormat, exportExl} from '@/utils/Time'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {formatMoney, getSummaries} from '@/filters/index'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      btnStyle: false,
      timeCount: 0,
      timer: null,
      tableLine: true,
      ReportAgent: false,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        agentName: '',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'registerCount': '2', 'betCount': '2', 'firstinCount': '2', 'betAmount': '1', 'returnAmount': '1', 'activityAmount': '1', 'teamRebateAmount': '1', 'inAmount': '1', 'outAmount': '1', 'profit': '1', 'rebateAmount': '1', 'sendAmount': '1', 'getAmount': '1', 'hbSendAmount': '1', 'hbGetAmount': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          if (this.summaryColumns[column.property] === '1') {
            sums[index] = formatMoney(sums[index])
          }
          if (this.summaryColumns[column.property] === '2') {
            sums[index] = sums[index]
          }
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    exportExcel () {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      // console.log('submitData', submitData)
      let obj = this
      Api.agentReport(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.result
        let excel = '<tr><th>代理</th><th>注册人数</th><th>投注人数</th><th>首充人数</th><th>投注金额<th>中奖金额</th><th>活动礼金</th><th>团队返点</th><th>充值金额</th><th>提现金额</th><th>团队盈利</th><th>代理返点</th><th>转账金额</th><th>收款金额</th><th>发送红包</th><th>领取红包</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].userName}</th>
            <th>${excelarr[i].registerCount}</th>
            <th>${excelarr[i].betCount}</th>
             <th>${excelarr[i].firstinCount}</th>
            <th>${formatMoney(excelarr[i].betAmount)}</th>
            <th>${formatMoney(excelarr[i].returnAmount)}</th>
            <th>${formatMoney(excelarr[i].activityAmount)}</th>
            <th>${formatMoney(excelarr[i].teamRebateAmount)}</th>
            <th>${formatMoney(excelarr[i].inAmount)}</th>
            <th>${formatMoney(excelarr[i].outAmount)}</th>
            <th>${formatMoney(excelarr[i].profit)}</th>
            <th>${formatMoney(excelarr[i].rebateAmount)}</th>
            <th>${formatMoney(excelarr[i].sendAmount)}</th>
            <th>${formatMoney(excelarr[i].getAmount)}</th>
            <th>${formatMoney(excelarr[i].hbSendAmount)}</th>
            <th>${formatMoney(excelarr[i].hbGetAmount)}</th>
          </tr>`
        }
        exportExl(excel, '代理报表（' + submitData.startTime + '至' + submitData.endTime + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.avatorVisible = false
      this.loading = true
      let obj = this
      Api.agentReport(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    ReportAgent,
    Scroll,
    DatetimePicker
  }
}
</script>
