<template>
  <div class="panel">
    <div class="panel-heading">
      会员报表
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768" >复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openReportMemberSearchForm">历史数据查询</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-search140" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="上级代理" prop="agentName">
            <el-input v-model="ruleForm.agentName" class="width-search140" placeholder="请输入上级代理"></el-input>
          </el-form-item>
          <el-form-item label="排序" prop="sort">
            <el-select size="min"  v-model="ruleForm.sort" placeholder="投注递减"  class="width-search140" >
              <el-option label="投注递减" value="1"></el-option>
              <el-option label="盈利递减" value="2"></el-option>
              <el-option label="盈利递增" value="3"></el-option>
              <el-option label="盈率递减" value="4"></el-option>
              <el-option label="盈率递增" value="5"></el-option>
              <el-option label="充值递减" value="6"></el-option>
              <el-option label="提现递减" value="7"></el-option>
              <el-option label="返点递减" value="8"></el-option>
              <el-option label="活动递减" value="9"></el-option>
              <el-option label="转账递减" value="13"></el-option>
              <el-option label="收款递减" value="12"></el-option>
              <el-option label="余额递减" value="14"></el-option>
              <el-option label="余额递增" value="15"></el-option>
              <el-option label="发送红包递减" value="11"></el-option>
              <el-option label="领取红包递减" value="10"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  @close="avatorVisible=false">
                  <el-form :model="ruleForm" ref="ruleForm"  size="small"  :inline="false" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="上级代理" prop="agentName">
                      <el-input v-model="ruleForm.agentName" placeholder="请输入上级代理"></el-input>
                    </el-form-item>
                    <el-form-item label="排序" prop="sort">
                      <el-select size="min"  v-model="ruleForm.sort" placeholder="投注递减" popper-class="small-scroll-select select1" @visible-change="change('select1')">
                        <el-option label="投注递减" value="1"></el-option>
                        <el-option label="盈利递减" value="2"></el-option>
                        <el-option label="盈利递增" value="3"></el-option>
                        <el-option label="盈率递减" value="4"></el-option>
                        <el-option label="盈率递增" value="5"></el-option>
                        <el-option label="充值递减" value="6"></el-option>
                        <el-option label="提现递减" value="7"></el-option>
                        <el-option label="返点递减" value="8"></el-option>
                        <el-option label="活动递减" value="9"></el-option>
                        <el-option label="转账递减" value="13"></el-option>
                        <el-option label="收款递减" value="12"></el-option>
                        <el-option label="发送红包递减" value="11"></el-option>
                        <el-option label="领取红包递减" value="10"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.startTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.endTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <!--<el-form-item class="post-btn">-->
                      <!--<el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>-->
                      <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                      <!--<el-button size="mini" type="primary">导出Excel</el-button>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" >
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper scroll-container scrollCss">
              <table class="el-table lottery-table table300 compound-table" cellspacing="0"  v-loading="loading"
                     element-loading-spinner="dafa-icon-loading01 dafa-icon"
                     element-loading-customClass="loadingClass">
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">会员账号</div></th>
                  <th ><div class="cell">等级</div></th>
                  <th  ><div class="cell">直接上级</div></th>
                  <th ><div class="cell">会员余额</div></th>
                  <th ><div class="cell">会员盈利</div></th>
                  <th  ><div class="cell">盈率</div></th>
                  <th  ><div class="cell">充值金额</div></th>
                  <th  ><div class="cell">提现金额</div></th>
                  <th  ><div class="cell">投注金额</div></th>
                  <th  ><div class="cell">中奖金额</div></th>
                  <th  ><div class="cell">活动礼金</div></th>
                  <th  ><div class="cell">返点金额</div></th>
                  <th  ><div class="cell">转账金额</div></th>
                  <th  ><div class="cell">收款金额</div></th>
                  <th  ><div class="cell">发送红包</div></th>
                  <th ><div class="cell">领取红包</div></th>
                  <th  ><div class="cell">打赏金额</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--会员账号-->
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <!--等级-->
                    <td><div class="cell"><span >{{formatterGrade(items)}}</span></div></td>
                    <!--直接上级-->
                    <td><div class="cell"><span >{{items.parentName}}</span></div></td>
                    <!--会员余额-->
                    <td><div class="cell"><span >{{items.balance | formatMoney}}</span></div></td>
                    <!--会员盈利-->
                    <td><div class="cell "  @click="ShowContent(index, items.userId)" > <span  :class="{'hover-effect-red' : items.profit>=0,'hover-effect-green' : items.profit<0}">{{ items.profit | formatMoney}}</span></div></td>
                    <!--盈率-->
                    <td><div class="cell"><span :class="{'color-danger' : items.profitability>=0,'color-success' : items.profitability<0}">{{ items.profitability | formatPercentage}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell"><span>{{items.inAmount | formatMoney}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell"><span >{{items.outAmount | formatMoney}}</span></div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span >{{items.betAmount | formatMoney}}</span></div></td>
                    <!--中奖金额-->
                    <td><div class="cell"><span >{{items.returnAmount | formatMoney}}</span></div></td>
                    <!--活动礼金-->
                    <td><div class="cell"><span>{{items.activityAmount | formatMoney}}</span></div></td>
                    <!--返点金额-->
                    <td><div class="cell"><span >{{items.rebateAmount | formatMoney}}</span></div></td>
                    <!--转账金额-->
                    <td><div class="cell"><span>{{items.sendAmount | formatMoney}}</span></div></td>
                    <!--收款金额-->
                    <td><div class="cell"><span>{{items.getAmount | formatMoney}}</span></div></td>
                    <!--发送红包-->
                    <td><div class="cell"><span>{{items.hbSendAmount | formatMoney}}</span></div></td>
                    <!--领取红包-->
                    <td><div class="cell"><span>{{items.hbGetAmount | formatMoney}}</span></div></td>
                    <!--打赏金额-->
                    <td><div class="cell"><span>{{items.tipAmount | formatMoney}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td><div class="cell">合计</div></td>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"></div></td>
                    <!--会员余额-->
                    <td  ><div class="cell"><span >{{summaryData['balance']}}</span></div></td>
                    <!--会员盈利-->
                    <td colspan="2"><div class="cell"> <span>{{summaryData['profit']}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell"><span>{{summaryData['inAmount']}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell"><span >{{summaryData['outAmount']}}</span></div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span >{{summaryData['betAmount']}}</span></div></td>
                    <!--中奖金额-->
                    <td><div class="cell"><span >{{summaryData['returnAmount']}}</span></div></td>
                    <!--活动礼金-->
                    <td><div class="cell"><span>{{summaryData['activityAmount']}}</span></div></td>
                    <!--返点金额-->
                    <td><div class="cell"><span >{{summaryData['rebateAmount']}}</span></div></td>
                   <!--转账金额-->
                    <td ><div class="cell"><span>{{summaryData['sendAmount']}}</span></div></td>
                    <!--收款金额-->
                    <td ><div class="cell"><span>{{summaryData['getAmount']}}</span></div></td>
                    <!--发送红包-->
                    <td ><div class="cell"><span>{{summaryData['hbSendAmount']}}</span></div></td>
                    <!--领取红包-->
                    <td ><div class="cell"><span>{{summaryData['hbGetAmount']}}</span></div></td>
                    <!--打赏金额-->
                    <td ><div class="cell"><span>{{summaryData['tipAmount']}}</span></div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="17"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                min-width="122"
                fixed show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="等级"
                prop="grade"
                :formatter="formatterGrade"
                min-width="55">
              </el-table-column>
              <el-table-column
                label="直接上级"
                prop="parentName"
                :min-width="screenW > 768 ? '125':'150'">
              </el-table-column>
              <el-table-column
                label="会员余额"
                prop="balance"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.balance | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="会员盈利"
                prop="profit"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profit>=0,'color-success' : scope.row.profit<0}">{{ scope.row.profit | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="盈率"
                prop="profitability"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profitability>=0,'color-success' : scope.row.profitability<0}">{{ scope.row.profitability | formatPercentage}}</span></template>
              </el-table-column>
              <el-table-column
                label="充值金额"
                prop="inAmount"
                :min-width="screenW > 768 ? '95':'130'">
                <template slot-scope="scope"><span>{{ scope.row.inAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="提现金额"
                prop="outAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.outAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="投注金额"
                prop="betAmount"
                :min-width="screenW > 768 ? '105':'130'">
                <template slot-scope="scope"><span>{{ scope.row.betAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="中奖金额"
                prop="returnAmount"
                :min-width="screenW > 768 ? '115':'130'">
                <template slot-scope="scope"><span>{{ scope.row.returnAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="活动礼金"
                prop="activityAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.activityAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="返点金额"
                prop="rebateAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.rebateAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="转账金额"
                prop="tipAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.sendAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="收款金额"
                prop="tipAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.getAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="发送红包"
                prop="tipAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.hbSendAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="领取红包"
                prop="tipAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.hbGetAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="打赏金额"
                prop="tipAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.tipAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="操作"
                width="40" fixed="right" v-if="screenW > 768">
                <template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
        <span @click="checkRow(detailData)" >查看信息</span>
          </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="会员报表"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>等级</span>
              <span >{{formatterGrade(detailData)}}</span>
            </li>
            <li>
              <span>直接上级</span>
              <span >{{detailData.parentName}}</span>
            </li>
            <li>
              <span>会员余额</span>
              <span>{{detailData.balance | formatMoney}}</span>
            </li>
            <li>
              <span>会员盈利</span>
              <span :class="{'color-danger' : detailData.profit>=0,'color-success' : detailData.profit<0}">{{ detailData.profit | formatMoney}}</span>
            </li>
            <li>
              <span>盈率</span>
              <span :class="{'color-danger' : detailData.profitability>=0,'color-success' : detailData.profitability<0}">{{ detailData.profitability | formatPercentage}}</span>
            </li>
            <li>
              <span>充值金额</span>
              <span>{{detailData.inAmount | formatMoney}}</span>
            </li>
            <li>
              <span>提现金额</span>
              <span>{{detailData.outAmount | formatMoney}}</span>
            </li>
            <li>
              <span>投注金额</span>
              <span>{{detailData.betAmount | formatMoney}}</span>
            </li>
            <li>
              <span>中奖金额</span>
              <span>{{detailData.returnAmount | formatMoney}}</span>
            </li>
            <li>
              <span>活动礼金</span>
              <span>{{detailData.activityAmount | formatMoney}}</span>
            </li>
            <li>
              <span>返点金额</span>
              <span>{{detailData.rebateAmount | formatMoney}}</span>
            </li>
            <li>
              <span>转账金额</span>
              <span>{{detailData.sendAmount | formatMoney}}</span>
            </li>
            <li>
              <span>收款金额</span>
              <span>{{detailData.getAmount | formatMoney}}</span>
            </li>
            <li>
              <span>发送红包</span>
              <span>{{detailData.hbSendAmount | formatMoney}}</span>
            </li>
            <li>
              <span>领取红包</span>
              <span>{{detailData.hbGetAmount | formatMoney}}</span>
            </li>
            <li>
              <span>打赏金额</span>
              <span>{{detailData.tipAmount | formatMoney}}</span>
            </li>
          </ul>
        </popover-right>
        <el-dialog
          title="盈利明细"
          :visible.sync="dialogData.dialogDetailShow"
          custom-class="mini-reveal-modal report-moadal">
          <div :class="{'unfinished': dialogLoading}">
            <el-table :data="dialogData.list" class="table-style popover-table" v-loading="dialogLoading"
                      element-loading-spinner="dafa-icon-loading01 dafa-icon"
                      element-loading-customClass="loadingClass" >
              <el-table-column  property="object" label="投注类别">
                <template slot-scope="scope"><span class="color-blue">{{getLotteryName(scope.row)}}</span></template>
              </el-table-column>
              <el-table-column  label="投注金额">
                <template slot-scope="scope"><span>{{scope.row.betAmount| formatMoney}}</span></template>
              </el-table-column>
              <el-table-column  label="中奖金额">
                <template slot-scope="scope"><span>{{scope.row.returnAmount| formatMoney}}</span></template>
              </el-table-column>
              <el-table-column  label="盈利">
                <template slot-scope="scope"><span  :class="{'color-danger' : scope.row.profit>=0,'color-success' : scope.row.profit<0}">{{scope.row.profit| formatMoney}}</span></template>
              </el-table-column>
              <el-table-column  label="盈率">
                <template slot-scope="scope"><span  :class="{'color-danger' : scope.row.profitability>=0,'color-success' : scope.row.profitability<0}">{{scope.row.profitability| formatPercentage}}</span></template>
              </el-table-column>
            </el-table>
          </div>
          <div class="text-style margin-t10"> * 温馨提示：该盈利值的计算不含活动和返点；</div>
        </el-dialog>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <div class="text-style"> * 温馨提示：盈利=中奖金额-投注金额+活动礼金+返点金额；盈率=盈利/投注金额*100%；</div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import ApiSys from '@/api/sys'
import {DateFormat} from '@/utils/Time'
import {validateQueryDate} from '@/utils/validateRules'
import {gradeData} from '@/utils/config'
import {formatMoney, getSummaries} from '@/filters/index'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      action: '',
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      btnStyle: false,
      timeCount: 0,
      timer: null,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        agentName: '',
        sort: '1',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      allList: [],
      pageNum: 1,
      pageSize: 20,
      total: 0,
      summaryColumns: {'balance': '1', 'inAmount': '1', 'outAmount': '1', 'betAmount': '1', 'returnAmount': '1', 'rebateAmount': '1', 'activityAmount': '1', 'profit': '1', 'tipAmount': '1', 'sendAmount': '1', 'getAmount': '1', 'hbSendAmount': '1', 'hbGetAmount': '1'},
      summaryData: [],
      dialogData: {
        dialogDetailShow: false,
        list: []
      },
      allTpyeList: [],
      dialogLoading: false
    }
  },
  mounted () {
    this.getOrderList(1, 20)
    this.getLotteryData()
  },
  methods: {
    getLotteryName (val) {
      if (!val) return ''
      let arr = this.$store.state.helper.lotteryList
      let obj = arr.filter(v => v.lotteryCode === val.id)[0]
      return arr ? obj.lotteryName : ''
    },
    getLotteryData () {
      let submitData = {}
      this.loading = true
      let allList = []
      ApiSys.gameEnumBack(submitData, function () {
      }).then((res) => {
        for (let i = 0; i < res.data.result.length; i++) {
          let datalist = {
            lotteryName: '',
            lotteryCode: ''
          }
          datalist.lotteryName = res.data.result[i].gameName
          datalist.lotteryCode = res.data.result[i].gameCode
          allList.push(datalist)
        }
      })
      Api.getSiteLottery(submitData, function () {
      }).then((res) => {
        if (res.code === 1) {
          let arr = res.data
          arr.forEach(v => {
            allList.push({
              lotteryName: v.lotteryName,
              lotteryCode: v.lotteryCode
            })
          })
        }
      })
      this.$store.state.helper.lotteryList = allList
    },
    ShowContent (number, name) {
      this.dialogData.dialogDetailShow = true
      let obj = this
      let submitData = []
      obj.dialogLoading = true
      if (this.ruleForm.startTime) {
        submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd') + ' 00:00:00'
      }
      if (this.ruleForm.endTime) {
        submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd') + ' 23:59:59'
      }
      submitData.userId = name
      Api.profitDetail(submitData, function () {
        obj.dialogLoading = false
      }).then((res) => {
        this.dialogData.list = res.data
        this.$nextTick(function () {
          obj.dialogLoading = false
        })
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          if (this.summaryColumns[column.property] === '1') {
            sums[index] = formatMoney(sums[index])
          }
          if (this.summaryColumns[column.property] === '2') {
            sums[index] = sums[index]
          }
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    exportExcel () {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 9999999
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      let obj = this
      Api.userReport(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        if (res.code === 1 && res.data.filePath !== undefined) {
          window.location.href = location.origin + res.data.filePath
        }
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    openReportMemberSearchForm () {
      this.$router.push({
        path: '/report/reportMemberSearch'
      })
    },
    formatterGrade (row, column) {
      if (!row || row.grade === undefined || !gradeData[row.grade.toString()]) {
        // console.log('grade', row.grade)
        return '未知等级'
      }
      return gradeData[row.grade.toString()]
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.tableLine = true
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.userReport(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
<style scoped>
  .report-moadal .table-style{
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
  }
</style>
