<template>
  <div class="panel">
    <div class="panel-heading">
      会员报表历史
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768" >复制表格</el-button>
      </div>
    </div>
    <div class="panel-body ">
      <!-- 数据模型开始 -->
      <div class="report-header ">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="medium"  v-if="screenW>=768" class="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userNames">
            <div>
              <!--<lg-tag-->
                <!--class="inline-input user-tag-box"-->
                <!--v-model="ruleForm.userNames"-->
                <!--:recTags="[]"-->
                <!--:max-tags-size="300"-->
                <!--:trigger-on-focus="true"-->
                <!--ref="addColletcTag"-->
              <!--&gt;</lg-tag>-->
              <el-input  v-model="ruleForm.userNames" class="width-username" :placeholder="screenW>=768 ? '请填写会员账号，输入多个会员账号时以逗号隔开':'多个会员账号以隔开'"></el-input>
            </div>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
          <el-form-item>
            <div class="text-style">如：cs001,cs002,cs003 最多只允许查询50个</div>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data ">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  :model="ruleForm" ref="ruleForm" size="small" :inline="false" class="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userNames">
                      <!--<lg-tag-->
                        <!--class="inline-input book-mark"-->
                        <!--width="80"-->
                        <!--v-model="ruleForm.userNames"-->
                        <!--:recTags="[]"-->
                        <!--:max-tags-size="300"-->
                        <!--:trigger-on-focus="true"-->
                        <!--ref="addColletcTag"-->
                      <!--&gt;</lg-tag>-->
                      <el-input  v-model="ruleForm.userNames" :placeholder="screenW>=768 ? '请填写会员账号，输入多个会员账号时以逗号隔开':'多个会员账号以隔开'"></el-input>
                      <div class="text-style">如：cs001,cs002,cs003 最多只允许查询50个</div>
                    </el-form-item>
                  </el-form>
                <div class="search-btn" slot="btn">
                  <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                  <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                </div>
                  </popover-right>
                  <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper scroll-container scrollCss">
              <table class="el-table lottery-table table300 compound-table" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">会员账号</div></th>
                  <th><div class="cell">注册时间</div></th>
                  <th ><div class="cell">等级</div></th>
                  <th><div class="cell">盈利</div></th>
                  <th ><div class="cell">投注金额</div></th>
                  <th><div class="cell">中奖金额</div></th>
                  <th><div class="cell">活动礼金</div></th>
                  <th><div class="cell">返点金额</div></th>
                  <th><div class="cell">充值次数</div></th>
                  <th ><div class="cell">提现次数</div></th>
                  <th><div class="cell">充值金额</div></th>
                  <th><div class="cell">提现金额</div></th>
                  <th><div class="cell">转账金额</div></th>
                  <th><div class="cell">收款金额</div></th>
                  <th><div class="cell">发送红包</div></th>
                  <th><div class="cell">领取红包</div></th>
                  <th><div class="cell">打赏金额</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--会员账号-->
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <!--注册时间-->
                    <td><div class="cell"><span>{{ items.registerTime}}</span></div></td>
                    <!--等级-->
                    <td><div class="cell"><span >{{formatterGrade(items)}}</span></div></td>
                    <!--盈利-->
                    <td><div class="cell"> <span :class="{'color-danger' : items.profit>=0,'color-success' : items.profit<0}">{{ items.profit | formatMoney}}</span></div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span >{{items.betAmount | formatMoney}}</span></div></td>
                    <!--中奖金额-->
                    <td><div class="cell"><span >{{items.returnAmount | formatMoney}}</span></div></td>
                    <!--活动礼金-->
                    <td><div class="cell"><span>{{items.activityAmount | formatMoney}}</span></div></td>
                    <!--返点金额-->
                    <td><div class="cell"><span>{{items.rebateAmount | formatMoney}}</span></div></td>
                    <!--充值次数-->
                    <td><div class="cell"><span >{{items.inCount}}</span></div></td>
                    <!--提现次数-->
                    <td><div class="cell"><span >{{items.outCount}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell color-danger"><span >{{items.inAmount | formatMoney}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell"><span>{{items.outAmount | formatMoney}}</span></div></td>
                    <!--转账金额-->
                    <td><div class="cell"><span>{{items.sendAmount | formatMoney}}</span></div></td>
                    <!--收款金额-->
                    <td><div class="cell"><span>{{items.getAmount | formatMoney}}</span></div></td>
                    <!--发送红包-->
                    <td><div class="cell"><span>{{items.hbSendAmount | formatMoney}}</span></div></td>
                    <!--领取红包-->
                    <td><div class="cell"><span>{{items.hbGetAmount | formatMoney}}</span></div></td>
                    <!--打赏金额-->
                    <td><div class="cell"><span>{{items.tipAmount | formatMoney}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td><div class="cell">合计</div></td>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"></div></td>
                    <!--盈利-->
                    <td ><div class="cell"><span>{{summaryData['profit']}}</span></div></td>
                    <!--投注金额-->
                    <td><div class="cell"><span >{{summaryData['betAmount']}}</span></div></td>
                    <!--中奖金额-->
                    <td><div class="cell"><span >{{summaryData['returnAmount']}}</span></div></td>
                    <!--活动礼金-->
                    <td><div class="cell"> <span>{{summaryData['activityAmount']}}</span></div></td>
                    <!--返点金额-->
                    <td><div class="cell"><span>{{summaryData['rebateAmount']}}</span></div></td>
                    <!--充值次数-->
                    <td><div class="cell"><span >{{summaryData['inCount']}}</span></div></td>
                    <!--提现次数-->
                    <td><div class="cell"><span>{{summaryData['outCount']}}</span></div></td>
                    <!--充值金额-->
                    <td><div class="cell"><span >{{summaryData['inAmount']}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell"><span >{{summaryData['outAmount']}}</span></div></td>
                    <!--转账金额-->
                    <td ><div class="cell"><span>{{summaryData['sendAmount']}}</span></div></td>
                    <!--收款金额-->
                    <td ><div class="cell"><span>{{summaryData['getAmount']}}</span></div></td>
                    <!--发送红包-->
                    <td ><div class="cell"><span>{{summaryData['hbSendAmount']}}</span></div></td>
                    <!--领取红包-->
                    <td ><div class="cell"><span>{{summaryData['hbGetAmount']}}</span></div></td>
                    <!--打赏金额-->
                    <td ><div class="cell"><span>{{summaryData['tipAmount']}}</span></div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="17"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%"  v-else>
              <el-table-column
                label="会员账号"
                min-width="130"
                fixed show-overflow-tooltip>
                <!--<template slot-scope="scope"><span class="color-blue">{{ scope.row.userName}}</span></template>-->
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
            <el-table-column
              label="注册时间"
              prop="registerTime"
              min-width="170">
            </el-table-column>
              <el-table-column
                label="等级"
                prop="grade"
                :formatter="formatterGrade"
                min-width="65">
              </el-table-column>
              <el-table-column
                label="盈利"
                prop="profit"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profit>=0,'color-success' : scope.row.profit<0}">{{ scope.row.profit | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="投注金额"
                prop="betAmount"
                :min-width="screenW > 768 ? '130':'150'">
                <template slot-scope="scope"><span>{{ scope.row.betAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="中奖金额"
                prop="returnAmount"
                :min-width="screenW > 768 ? '130':'150'">
                <template slot-scope="scope"><span>{{ scope.row.returnAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="活动礼金"
                prop="activityAmount"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span>{{ scope.row.activityAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="返点金额"
                prop="rebateAmount"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span>{{ scope.row.rebateAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="充值次数"
                prop="inCount"
                :min-width="screenW > 768 ? '70':'100'">
              </el-table-column>
              <el-table-column
                label="提现次数"
                prop="outCount"
                :min-width="screenW > 768 ? '70':'100'">
              </el-table-column>
            <el-table-column
              label="充值金额"
              prop="inAmount"
              :min-width="screenW > 768 ? '110':'150'">
              <template slot-scope="scope"><span>{{ scope.row.inAmount | formatMoney}}</span></template>
            </el-table-column>
              <el-table-column
                label="提现金额"
                prop="outAmount"
                :min-width="screenW > 768 ? '110':'150'">
                <template slot-scope="scope"><span>{{ scope.row.outAmount | formatMoney}}</span></template>
              </el-table-column>
            <el-table-column
              label="转账金额"
              prop="tipAmount"
              min-width="100">
              <template slot-scope="scope"><span>{{ scope.row.sendAmount | formatMoney}}</span></template>
            </el-table-column>
            <el-table-column
              label="收款金额"
              prop="tipAmount"
              min-width="100">
              <template slot-scope="scope"><span>{{ scope.row.getAmount | formatMoney}}</span></template>
            </el-table-column>
            <el-table-column
              label="发送红包"
              prop="tipAmount"
              min-width="100">
              <template slot-scope="scope"><span>{{ scope.row.hbSendAmount | formatMoney}}</span></template>
            </el-table-column>
            <el-table-column
              label="领取红包"
              prop="tipAmount"
              min-width="100">
              <template slot-scope="scope"><span>{{ scope.row.hbGetAmount | formatMoney}}</span></template>
            </el-table-column>
              <el-table-column
                label="打赏金额"
                prop="tipAmount"
                min-width="100">
                <template slot-scope="scope"><span>{{ scope.row.tipAmount | formatMoney}}</span></template>
              </el-table-column>
            </el-table>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="会员报表历史"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>注册时间</span>
              <span>{{ detailData.registerTime}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{formatterGrade(detailData)}}</span>
            </li>
            <li>
              <span>盈利</span>
              <span :class="{'color-danger' : detailData.profit>=0,'color-success' : detailData.profit<0}">{{ detailData.profit | formatMoney}}</span>
            </li>
            <li>
              <span>投注金额</span>
              <span>{{detailData.betAmount | formatMoney}}</span>
            </li>
            <li>
              <span>中奖金额</span>
              <span>{{detailData.returnAmount | formatMoney}}</span>
            </li>
            <li>
              <span>活动礼金</span>
              <span>{{detailData.activityAmount | formatMoney}}</span>
            </li>
            <li>
              <span>返点金额</span>
              <span>{{detailData.rebateAmount | formatMoney}}</span>
            </li>
            <li>
              <span>充值次数</span>
              <span>{{detailData.inCount}}</span>
            </li>
            <li>
              <span>提现次数</span>
              <span>{{detailData.outCount}}</span>
            </li>
            <li>
              <span>充值金额</span>
              <span class="color-danger">{{detailData.inAmount | formatMoney}}</span>
            </li>
            <li>
              <span>提现金额</span>
              <span>{{detailData.outAmount | formatMoney}}</span>
            </li>
            <li>
              <span>打赏金额</span>
              <span>{{detailData.tipAmount | formatMoney}}</span>
            </li>
            <li>
              <span>转账金额</span>
              <span>{{detailData.sendAmount | formatMoney}}</span>
            </li>
            <li>
              <span>收款金额</span>
              <span>{{detailData.getAmount | formatMoney}}</span>
            </li>
            <li>
              <span>发送红包</span>
              <span>{{detailData.hbSendAmount | formatMoney}}</span>
            </li>
            <li>
              <span>领取红包</span>
              <span>{{detailData.hbGetAmount | formatMoney}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import LgTag from '@/components/tag'
import {gradeData} from '@/utils/config'
import {formatMoney, getSummaries} from '@/filters/index'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userNames: ''
      },
      allList: [],
      summaryColumns: {'inCount': '2', 'outCount': '2', 'outAmount': '1', 'inAmount': '1', 'betAmount': '1', 'returnAmount': '1', 'tipAmount': '1', 'rebateAmount': '1', 'activityAmount': '1', 'profit': '1', 'sendAmount': '1', 'getAmount': '1', 'hbSendAmount': '1', 'hbGetAmount': '1'},
      summaryData: []
    }
  },
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          if (this.summaryColumns[column.property] === '1') {
            sums[index] = formatMoney(sums[index])
          }
          if (this.summaryColumns[column.property] === '2') {
            sums[index] = sums[index]
          }
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    formatterGrade (row, column) {
      if (!row || row.grade === undefined || !gradeData[row.grade.toString()]) {
        return '未知等级'
      }
      return gradeData[row.grade.toString()]
    },
    onSubmit () {
      this.getOrderList()
    },
    getOrderList () {
      if (!this.ruleForm.userNames) {
        this.msgError('请输入会员账号')
        return
      }
      let userNames = this.ruleForm.userNames.split(',')
      if (userNames.length > 50) {
        this.msgError('会员查询个数最多50个')
        return
      }
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.userHistory(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    LgTag
  }
}
</script>
<style>
  .user-tag-box {
  width: 50vw;
    max-width: 200px;
   }
  .width-username{
    width: 300px;
  }
  @media screen and (max-width:768px){
    .width-username{
      width: 150px;
    }
  }
</style>
