<template>
  <div class="panel">
    <div class="panel-heading">
      流量报表
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item v-if="screenW > 768" >
            <el-button size="mini" :type="date === 'toDay' ? 'primary' : ''" @click="getOrderList('toDay')">今日</el-button>
            <el-button size="mini" :type="date === 'yesterDay' ? 'primary' : ''" @click="getOrderList('yesterDay')">昨日</el-button>
            <el-button size="mini" :type="date === 'currentMonth' ? 'primary' : ''" @click="getOrderList('currentMonth')">本月</el-button>
            <el-button size="mini" :type="date === 'lastMonth' ? 'primary' : ''" @click="getOrderList('lastMonth')">上月</el-button>
          </el-form-item>
          <el-form-item label="选择日期" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item>
                      <el-button size="mini" :type="date === 'toDay' ? 'primary' : ''" @click="getOrderList('toDay')">今日</el-button>
                      <el-button size="mini" :type="date === 'yesterDay' ? 'primary' : ''" @click="getOrderList('yesterDay')">昨日</el-button>
                      <el-button size="mini" :type="date === 'currentMonth' ? 'primary' : ''" @click="getOrderList('currentMonth')">本月</el-button>
                      <el-button size="mini" :type="date === 'lastMonth' ? 'primary' : ''" @click="getOrderList('lastMonth')">上月</el-button>
                    </el-form-item>
                    <el-form-item label="选择日期" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit(1)">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">域名</div></th>
                  <th><div class="cell">独立访问量（IP)</div></th>
                  <th><div class="cell">页面访问量（PV）</div></th>
                  <th><div class="cell">流量详情</div></th>
                  <th><div class="cell">地理详情</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--域名-->
                    <td><div class="cell"> <span class="color-blue">{{index === 0 ? '全部' : items.host}}</span></div></td>
                    <!--独立访问量（IP)-->
                    <td><div class="cell color-danger"> <span>{{items.uv}}</span></div></td>
                    <!--页面访问量（PV）-->
                    <td><div class="cell color-success"> <span>{{items.pv}}</span></div></td>
                    <!--流量详情-->
                    <td><div class="cell"><span class="color-blue hoverline-effet" title="查看" @click="openLlDatail(items, index, 1)">查看</span></div></td>
                    <!--地理详情-->
                    <td><div class="cell"><span class="color-blue hoverline-effet" title="查看" @click="openDlDatail(items, index, 2)">查看</span></div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="域名"
                prop="host"
                :min-width="screenW > 768 ? '100':'130'">
              </el-table-column>
              <el-table-column
                label="独立访问量（IP)"
                prop="uv"
                :min-width="screenW > 768 ? '100':'130'">
              </el-table-column>
              <el-table-column
                label="页面访问量（PV）"
                prop="pv"
                :min-width="screenW > 768 ? '100':'130'">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
            <span  @click="openLlDatail(detailData, 1, 1)" >查看流量详情</span>
            <span  @click="openDlDatail(detailData, 1, 1)" >查看地理详情</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="流量报表"
          @close="detailShow=false">
          <ul >
            <li>
              <span>域名</span>
              <span class="color-blue">{{detailData}}</span>
            </li>
            <li>
              <span>独立访问量（IP)</span>
              <span>{{detailData.betCount}}</span>
            </li>
            <li>
              <span>页面访问量（PV）</span>
              <span>{{detailData.inCount}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="text-style" style="line-height: 18px;"> * 温馨提示：</div>
      <div class="text-style" style="line-height: 18px;">本数据只统计域名的访问量，如果有使用共享app，则不包含；</div>
      <div class="text-style" style="line-height: 18px;">有访问量的域名才会在本页展示；</div>
      <div class="text-style" style="line-height: 18px;"></div>
      <br>
<!--      <div class="report-foot margin-t10">-->
<!--        <el-pagination-->
<!--          @size-change="handleSizeChange"-->
<!--          @current-change="handleCurrentChange"-->
<!--          background-->
<!--          :page-sizes="[20, 100, 300]"-->
<!--          :page-size="20"-->
<!--          ref="pagination"-->
<!--          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"-->
<!--          :total="total">-->
<!--        </el-pagination>-->
<!--      </div>-->
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import {DateFormat, exportExl} from '@/utils/Time'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      btnStyle: false,
      tableLine: true,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      ruleForm: {
        startTime: ''
      },
      startTime: '',
      endTime: '',
      timeType: '',
      timeTitle: '',
      total: 0,
      pageNum: 1,
      pageSize: 20,
      allList: [],
      date: 'toDay'
    }
  },
  mounted () {
    let timeType = this.$route.query.timeType
    if (timeType) {
      this.date = timeType
      if (timeType === 'search') {
        this.ruleForm.startTime = this.$route.query.timeTitle
      }
      this.getOrderList(timeType)
    } else {
      this.getOrderList(this.date)
    }
  },
  methods: {
    exportExcel () {
      if (!this.allList.length > 0) {
        this.msgError('导出数据不能为空')
        return
      }
      let excelarr = this.allList
      let excel = '<tr><th>域名</th><th>独立访问量（IP)</th><th>页面访问量（PV）</th></tr>'
      for (var i = 0; i < excelarr.length; i++) {
        if (i === 0) {
          excel += `<tr><th>全部域名</th>
            <th>${excelarr[i].uv}</th>
            <th>${excelarr[i].pv}</th>
          </tr>`
        } else {
          excel += `<tr><th>${excelarr[i].host}</th>
            <th>${excelarr[i].uv}</th>
            <th>${excelarr[i].pv}</th>
          </tr>`
        }
      }
      exportExl(excel, '流量报表（' + this.startTime + '至' + this.endTime + '）')
    },
    onSubmit () {
      this.startTime = this.ruleForm.startTime
      this.endTime = this.ruleForm.startTime
      if (!validateQueryDate.validateDateOne(this.startTime)) {
        return false
      } else {
        this.getOrderList('search')
      }
    },
    // 查看流量详情
    openLlDatail (items, index, type) {
      this.$router.push({
        path: '/report/reportFlowLl',
        query: {
          startTime: this.startTime,
          endTime: this.endTime,
          host: items.host,
          hostTitle: index === 0 ? '全部域名' : items.host,
          type: type,
          timeType: this.timeType,
          timeTitle: this.timeTitle
        }
      })
    },
    // 查看地理详情
    openDlDatail (items, index, type) {
      this.$router.push({
        path: '/report/reportFlowDl',
        query: {
          startTime: this.startTime,
          endTime: this.endTime,
          host: items.host,
          hostTitle: index === 0 ? '全部域名' : items.host,
          type: type,
          timeType: this.timeType,
          timeTitle: this.timeTitle
        }
      })
    },
    // 获取列表
    getOrderList (type) {
      this.date = type
      var startTime = new Date(new Date().getTime())
      var endTime = new Date(new Date().getTime())
      this.timeTitle = DateFormat(startTime, 'yyyy-MM-dd')
      if (type === 'search') {
        this.timeType = 'search'
        startTime = this.ruleForm.startTime
        endTime = this.ruleForm.startTime
        this.timeTitle = DateFormat(startTime, 'yyyy-MM-dd')
      }
      if (type === 'toDay') {
        this.timeType = 'toDay'
      }
      if (type === 'yesterDay') {
        this.timeType = 'yesterDay'
        startTime = new Date(new Date().getTime() - 24 * 60 * 60 * 1000)
        endTime = new Date(new Date().getTime() - 24 * 60 * 60 * 1000)
        this.timeTitle = DateFormat(startTime, 'yyyy-MM-dd')
      }
      if (type === 'currentMonth') {
        this.timeType = 'currentMonth'
        let currentDate = new Date()
        let currentMonth = currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/1'
        this.timeTitle = DateFormat(currentDate, 'yyyy-MM') + '月'
        startTime = new Date(currentMonth)
        endTime = new Date()
      }
      if (type === 'lastMonth') {
        this.timeType = 'lastMonth'
        let currentDate = new Date()
        let currentMonth = currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/1'
        endTime = new Date(new Date(currentMonth).getTime() - 24 * 60 * 60 * 1000)
        let lastMonth = endTime.getFullYear() + '/' + (endTime.getMonth() + 1) + '/1'
        startTime = new Date(lastMonth)
        let mothnum = currentDate.getMonth() < 10 ? '0' + currentDate.getMonth() : currentDate.getMonth()
        this.timeTitle = currentDate.getFullYear() + '-' + mothnum + '月'
      }
      startTime = DateFormat(startTime, 'yyyy-MM-dd')
      endTime = DateFormat(endTime, 'yyyy-MM-dd')
      this.startTime = startTime
      this.endTime = endTime
      // 提交数据
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = startTime
      submitData.endTime = endTime
      // submitData.pageSize = this.pageSize
      this.loading = true
      Api.flowReport(submitData, () => {
      }).then((res) => {
        this.loading = false
        this.total = 2
        this.allList = res.data
      })
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.date)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(this.date)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }

}
</script>
