<template>
  <div class="panel">
    <div class="panel-heading">
      彩票报表
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768" >复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="排序" prop="sort">
            <el-select size="min"  v-model="ruleForm.sort" placeholder="投注递减" class="width-search120">
              <el-option label="投注递减" value="1"></el-option>
              <el-option label="盈利递减" value="2"></el-option>
              <el-option label="盈利递增" value="3"></el-option>
              <el-option label="盈率递减" value="4"></el-option>
              <el-option label="盈率递增" value="5"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="彩种" prop="lotteryCode">
            <el-select size="min"  v-model="ruleForm.lotteryCode" placeholder="全部" class="width-search140">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.lotteryCode"
                :label="item.lotteryName"
                :value="item.lotteryCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">

                  <el-form :model="ruleForm" ref="ruleForm"  size="small"  :inline="false" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="排序">
                      <el-select size="min"  v-model="ruleForm.sort" placeholder="投注递减" >
                        <el-option label="投注递减" value="1"></el-option>
                        <el-option label="盈利递减" value="2"></el-option>
                        <el-option label="盈利递增" value="3"></el-option>
                        <el-option label="盈率递减" value="4"></el-option>
                        <el-option label="盈率递增" value="5"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="彩种" prop="lotteryCode">
                      <el-select size="min"  v-model="ruleForm.lotteryCode" placeholder="全部" popper-class="small-scroll-select select1" @visible-change="change('select1')">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.lotteryCode"
                          :label="item.lotteryName"
                          :value="item.lotteryCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.startTime"-->
                        <!--type="date" :editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <!--<el-date-picker-->
                        <!--v-model="ruleForm.endTime"-->
                        <!--type="date"-->
                        <!--:editable="false"-->
                        <!--placeholder="选择日期" popper-class="dialog-popover-picker">-->
                      <!--</el-date-picker>-->
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
          <div class="el-table__body-wrapper">
          <table class="el-table lottery-table table300" cellspacing="0"  >
          <thead class="el-table__header">
          <tr>
          <th><div class="cell">彩种名称</div></th>
          <th><div class="cell">投注人数</div></th>
          <th><div class="cell">投注金额</div></th>
          <th><div class="cell">中奖金额</div></th>
          <th><div class="cell">撤单金额</div></th>
          <th><div class="cell">返点金额</div></th>
          <th><div class="cell">盈利</div></th>
          <th><div class="cell">盈率</div></th>
          <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
          </tr>
          </thead>
          <tbody>
          <template v-if="allList.length>0">
          <tr v-for="(items, index) in allList" :key="index">
          <!--彩种名称-->
          <td><div class="cell"><span class="color-blue">{{ formatterLotteryName(items)}}</span></div></td>
          <!--投注人数-->
          <td><div class="cell"><span >{{items.betCount}}</span></div></td>
          <!--投注金额-->
          <td><div class="cell"><span >{{items.betAmount | formatMoney}}</span></div></td>
          <!--中奖金额-->
          <td><div class="cell"><span>{{items.returnAmount | formatMoney}}</span></div></td>
          <!--撤单金额-->
          <td><div class="cell"><span >{{items.cancelAmount | formatMoney}}</span></div></td>
          <!--返点金额-->
          <td><div class="cell"><span >{{items.rebateAmount | formatMoney}}</span></div></td>
          <!--盈利-->
          <td><div class="cell"><span :class="{'color-danger' : items.profit>=0,'color-success' : items.profit<0}">{{items.profit | formatMoney}}</span></div></td>
          <!--盈率-->
          <td><div class="cell"><span :class="{'color-danger' : items.profitability>=0,'color-success' : items.profitability<0}">{{items.profitability | formatPercentage}}</span></div></td>
          </tr>
          <tr class="td-background">
          <td ><div class="cell">合计</div></td>
            <!--投注人数-->
            <td><div class="cell"><span >{{summaryData['betCount']}}</span></div></td>
            <!--投注金额-->
            <td><div class="cell"><span >{{summaryData['betAmount']}}</span></div></td>
            <!--中奖金额-->
            <td><div class="cell"><span >{{summaryData['returnAmount']}}</span></div></td>
            <!--撤单金额-->
            <td><div class="cell"><span >{{summaryData['cancelAmount']}}</span></div></td>
            <!--返点金额-->
            <td><div class="cell"><span >{{summaryData['rebateAmount']}}</span></div></td>
            <!--盈利-->
            <td colspan="2"><div class="cell"><span>{{summaryData['profit']}}</span></div></td>
          </tr>
          </template>
          <template v-else>
          <tr>
          <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
          </tr>
          </template>
          </tbody>
          </table>
          </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="彩种名称"
                min-width="100"
                :formatter="formatterLotteryName"
                fixed>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{ formatterLotteryName(scope.row)}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{ formatterLotteryName(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="投注人数"
                prop="betCount"
                :min-width="screenW > 768 ? '100':'130'">
              </el-table-column>
              <el-table-column
                label="投注金额"
                prop="betAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.betAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="中奖金额"
                prop="returnAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.returnAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="撤单金额"
                prop="cancelAmount"
                :min-width="screenW > 768 ? '100':'130'">
                <template slot-scope="scope"><span>{{ scope.row.cancelAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="返点金额"
                prop="rebateAmount"
                :min-width="screenW > 768 ? '130':'150'">
                <template slot-scope="scope"><span>{{ scope.row.rebateAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="profit"
                label="盈利"
                :min-width="screenW > 768 ? '120':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profit>=0,'color-success' : scope.row.profit<0}">{{ scope.row.profit | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="盈率"
                :min-width="screenW > 768 ? '130':'150'">
                <template slot-scope="scope"><span :class="{'color-danger' : scope.row.profitability>=0,'color-success' : scope.row.profitability<0}">{{ scope.row.profitability | formatPercentage}}</span></template>
              </el-table-column>
              <el-table-column
                label="操作"
                width="40" fixed="right" v-if="screenW > 768">
                <template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="彩种报表"
          @close="detailShow=false">
          <ul >
            <li>
              <span>彩种名称</span>
              <span class="color-blue">{{formatterLotteryName(detailData)}}</span>
            </li>
            <li>
              <span>投注人数</span>
              <span>{{detailData.betCount}}</span>
            </li>
            <li>
              <span>投注金额</span>
              <span>{{detailData.betAmount | formatMoney}}</span>
            </li>
            <li>
              <span>中奖金额</span>
              <span>{{detailData.returnAmount | formatMoney}}</span>
            </li>
            <li>
              <span>撤单金额</span>
              <span>{{detailData.cancelAmount | formatMoney}}</span>
            </li>
            <li>
              <span>返点金额</span>
              <span>{{detailData.rebateAmount | formatMoney}}</span>
            </li>
            <li>
              <span>盈利</span>
              <span :class="{'color-danger' : detailData.profit>=0,'color-success' : detailData.profit<0}">{{ detailData.profit | formatMoney}}</span>
            </li>
            <li>
              <span>盈率</span>
              <span :class="{'color-danger' : detailData.profitability>=0,'color-success' : detailData.profitability<0}">{{ detailData.profitability | formatPercentage}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="text-style">* 温馨提示：盈利=投注金额-中奖金额；盈率=盈利/投注金额*100%；</div>
      <!-- 普通表格结束 -->
      <!--<div class="report-foot margin-t10">-->
        <!--<el-pagination-->
          <!--@size-change="handleSizeChange"-->
          <!--@current-change="handleCurrentChange"-->
          <!--background-->
          <!--ref="pagination"-->
          <!--:page-sizes="[20, 100, 300]"-->
          <!--:page-size="20"-->
          <!--:layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"-->
          <!--:total="total">-->
        <!--</el-pagination>-->
      <!--</div>-->
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import {DateFormat, exportExl} from '@/utils/Time'
import {validateQueryDate} from '@/utils/validateRules'
import {formatMoney, getSummaries, formatPercentage} from '@/filters/index'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      btnStyle: false,
      timeCount: 0,
      timer: null,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        sort: '1',
        lotteryCode: '',
        startTime: DateFormat(new Date(), 'yyyy-MM-dd'),
        endTime: DateFormat(new Date(), 'yyyy-MM-dd')
      },
      allList: [],
      options: [],
      summaryColumns: {'betCount': '2', 'betAmount': '1', 'returnAmount': '1', 'cancelAmount': '1', 'rebateAmount': '1', 'profit': '1'},
      summaryData: []
      // siteLottery: {
      //   '1019': '站长5分时时彩',
      //   '1419': '站长5分快3',
      //   '1418': '站长快3',
      //   '1018': '站长时时彩'
      // }
    }
  },
  components: {
    Scroll,
    DatetimePicker
  },
  mounted () {
    this.getLotteryData()
    this.getOrderList()
  },
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          if (this.summaryColumns[column.property] === '1') {
            sums[index] = formatMoney(sums[index])
          }
          if (this.summaryColumns[column.property] === '2') {
            sums[index] = sums[index]
          }
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    exportExcel () {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      // console.log('submitData', submitData)
      let obj = this
      Api.lotteryReport(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data
        let excel = '<tr><th>彩种名称</th><th>投注人数</th><th>投注金额</th><th>中奖金额</th><th>撤单金额<th>返点金额</th><th>盈利</th><th>盈率</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${this.getLotteryName(excelarr[i])}</th>
            <th>${excelarr[i].betCount}</th>
            <th>${formatMoney(excelarr[i].betAmount)}</th>
            <th>${formatMoney(excelarr[i].returnAmount)}</th>
            <th>${formatMoney(excelarr[i].cancelAmount)}</th>
            <th>${formatMoney(excelarr[i].rebateAmount)}</th>
            <th>${formatMoney(excelarr[i].profit)}</th>
            <th>${formatPercentage(excelarr[i].profitability)}</th>
          </tr>`
        }
        exportExl(excel, '彩种报表（' + submitData.startTime + '至' + submitData.endTime + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    formatterLotteryName (row, column) {
      if (!row.lotteryCode) return ''
      let arr = this.options
      let obj = arr.filter(v => v.lotteryCode === row.lotteryCode)[0]
      if (obj) {
        return obj.lotteryName
      }
      return ''
    },
    getLotteryName (val) {
      for (let i = 0; i < this.options.length; i++) {
        if (val.lotteryCode !== this.options[i].lotteryCode) {
          continue
        }
        return this.options[i].lotteryName
      }
    },
    getLotteryData () {
      let submitData = {}
      Api.getSiteLottery(submitData, function () {
      }).then((res) => {
        this.options = res.data
      })
    },
    onSubmit () {
      // console.log('submit!')
      this.getOrderList()
    },
    getOrderList () {
      if (!validateQueryDate.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.lotteryReport(submitData, function () {
        obj.avatorVisible = false
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.avatorVisible = false
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
