 <template>
  <div class="panel">
    <div class="panel-heading">
      综合报表
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit(1)">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
          <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  @keyup.native.enter="onSubmit" @submit.native.prevent>
            <el-form-item v-if="screenW > 600">
              <el-button size="mini" :type="type === 2 ? 'primary' : ''" @click="onSubmit(2)">今日</el-button>
              <el-button size="mini" :type="type === 3 ? 'primary' : ''" @click="onSubmit(3)">昨日</el-button>
              <el-button size="mini" :type="type === 4 ? 'primary' : ''" @click="onSubmit(4)">本月</el-button>
              <el-button size="mini" :type="type === 5 ? 'primary' : ''" @click="onSubmit(5)">上月</el-button>
            </el-form-item>
            <el-form-item v-if="screenW <= 600">
              <el-select v-model="ruleForm.type" placeholder="请选择" @change="onSubmit(ruleForm.type)">
                <el-option label="今日" value="2"></el-option>
                <el-option label="昨日" value="3"></el-option>
                <el-option label="本月" value="4"></el-option>
                <el-option label="上月" value="5"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="开始时间" prop="startTime" v-if="screenW > 768">
              <el-date-picker
                v-model="ruleForm.startTime"
                class="width-searchtime"
                type="date"
                placeholder="选择日期">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="结束时间" prop="endTime" v-if="screenW > 768">
              <el-date-picker
                v-model="ruleForm.endTime"
                class="width-searchtime"
                type="date"
                placeholder="选择日期" >
              </el-date-picker>
            </el-form-item>
            <el-form-item class="post-btn" v-if="screenW > 768">
              <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
              <el-button size="mini" type="primary" @click="onSubmit(1)">查询</el-button>
            </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" v-loading="loading"
           element-loading-spinner="dafa-icon-loading01 dafa-icon"
           element-loading-customClass="loadingClass" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <ul class="compound-header">
          <li>
            <div class="icon-ball"><i class="dafa-icon">&#xe658;</i></div>
            <div class="inner-content">
              <span>盈利</span>
              <span :class="{'color-danger' : data.NowProfit>0,'color-success' : data.NowProfit<0}">{{data.NowProfit}}</span>
            </div>
           </li>
          <li>
            <div class="icon-ball"><i class="dafa-icon">&#xe65a;</i></div>
            <div class="inner-content">
              <span>盈率</span>
              <span :class="{'color-danger' : data.NowProfit>0,'color-success' : data.NowProfit<0}">{{data.NowProfitRate}}</span>
            </div>
          </li>
          <li>
            <div class="icon-ball"><i class="dafa-icon">&#xe659;</i></div>
            <div class="inner-content">
              <span>投注金额</span>
              <span class="color-danger">{{data.Out_BettingAccount}}</span>
            </div>
          </li>
          <li>
            <div class="icon-ball"><i class="dafa-icon">&#xe65d;</i></div>
            <div class="inner-content">
              <span>中奖金额</span>
              <span class="color-danger">{{data.Out_WinningAccount}}</span>
            </div>
          </li>
        </ul>
        <div id="compound-content">
          <div class="compound-content">
            <div class="compound-items margin-r10">
              <ul>
                <li >
                  <div class="compound-title">
                    <span>充值金额</span>
                    <span class="color-danger">{{data.TotalInMoney}}</span>
                  </div>
                  <ul class="compound-smalltitle bottom-line">
                    <li v-for="(items, index) in popoverList" :key="index" >
                      <i></i>
                      <span class="title-span ">{{items.bankname}}</span>
                      <span  slot="reference" @click="showDetail(items)" class="hoverline-effet"> <a class="color-blue">{{items.detail}}</a></span>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="compound-title">
                    <span>提现金额</span>
                    <span class="color-danger">{{data.Out_Account}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>返点金额</span>
                    <span class="color-danger">{{data.Out_RebateAccount}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>活动礼金</span>
                    <span class="color-danger">{{data.TotalDiscount}}</span>
                  </div>
                  <ul class="compound-smalltitle ">
                    <li><i></i><span class="title-span ">系统活动</span><span class="hoverline-effet" @click="showActivityDetail(acitvityForm)"><a class="color-blue">{{data.Out_ActivityDiscountAccount}}</a></span></li>
                    <li><i></i><span class="title-span">其它活动</span><span >{{data.Out_OtherDiscountAccount}}</span></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="compound-items margin-r10">
              <ul>
                <li>
                  <div class="compound-title">
                    <span>转账金额</span>
                    <span class="color-danger">{{data.SendMoney}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>收款金额</span>
                    <span class="color-danger">{{data.GetMoney}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>发送红包</span>
                    <span class="color-danger">{{data.HBSendMoney}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>领取红包</span>
                    <span class="color-danger">{{data.HBGetMoney}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>充值笔数</span>
                    <span class="color-danger">{{data.InMoneyNum}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>提现笔数</span>
                    <span class="color-danger">{{data.Out_Account_Num}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>充值操作</span>
                    <span class="color-danger">{{data.InMoneyTime}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>提现操作</span>
                    <span class="color-danger">{{data.OutMoneyTime}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>人工提出</span>
                    <span class="color-danger">{{data.TotalArtificialOut}}</span>
                  </div>
                  <ul class="compound-smalltitle bottom-line ">
                    <li ><i></i><span class="title-span">误存提出</span><span>{{data.Out_MistakeAccount}}</span></li>
                    <li><i></i><span class="title-span">行政提出</span><span>{{data.Out_AdministrationAccount}}</span></li>
                  </ul>
                </li>
                <li>
                  <div class="compound-title">
                    <span>拒绝金额</span>
                    <span class="color-danger">{{data.Out_RefuseAccount}}</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="compound-items">
              <ul>
                <li>
                  <div class="compound-title">
                    <span>注册人数</span>
                    <span class="color-danger">{{data.NewMemberNum}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>首充人数</span>
                    <span class="color-danger">{{data.NewPrepaidNum}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>在线人数</span>
                    <span class="color-danger">{{data.OnLinessNum}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>投注单量</span>
                    <span>{{data.Out_BettingAccount_Num}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>撤单金额</span>
                    <span>{{data.Out_CancelAccount}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>打赏金额</span>
                    <span>{{data.RewardMoney}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>会员余额</span>
                    <span>{{data.TotlaBalance}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>本月盈利</span>
                    <span  :class="{'color-danger' : data.MonthProfitLoss>=0,'color-success' : data.MonthProfitLoss<0}">{{data.MonthProfitLoss}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>本月盈率</span>
                    <span  :class="{'color-danger' : data.MonthProfitRate>=0,'color-success' : data.MonthProfitRate<0}">{{data.MonthProfitRate | formatPercentage}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>上月盈利</span>
                    <span :class="{'color-danger' : data.LastMonthProfitLoss>=0,'color-success' : data.LastMonthProfitLoss<0}">{{data.LastMonthProfitLoss}}</span>
                  </div>
                </li>
                <li>
                  <div class="compound-title">
                    <span>上月盈率</span>
                    <span :class="{'color-danger' : data.LastMonthProfitRate>=0,'color-success' : data.LastMonthProfitRate<0}">{{data.LastMonthProfitRate | formatPercentage}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-style" >
          * 温馨提示：盈利=投注金额-中奖金额；盈率=盈利/投注金额*100%；
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
    <!--<report-popover></report-popover>-->
    <el-dialog
      :title="reportDetailTitle"
      :visible.sync="reportDetailShow"
      custom-class="small-reveal-modal report-moadal">
      <el-table :data="reportData.table" class="table-style popover-table">
        <el-table-column min-width="100" property="type" label="类型"></el-table-column>
        <el-table-column min-width="80" property="money" label="金额"></el-table-column>
        <el-table-column width="70" property="number" label="人数"></el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer"></div>
    </el-dialog>
  </div>
</template>
<script>
// import ReportPopover from './ReportPopover'
import Api from '@/api/report'
import {DateFormat} from '@/utils/Time'
import {validateQueryDate} from '@/utils/validateRules'
import {formatMoney, formatPercentage, formatTime} from '@/filters/index'
import DatetimePicker from '@/components/DatetimePicker'
var scrollEl = null
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      reportDetailTitle: '',
      reportDetailShow: false,
      reportData: {table: []},
      tableLine: true,
      itemsData: null,
      popoverShow: false,
      popoverIndex: 'popover0',
      avatorVisible: false,
      isActive: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      type: 2,
      form01: [
        {
          id: 135,
          type: '南瓜支付-支付宝 | 南瓜',
          money: 500421,
          number: 268
        },
        {
          id: 4565,
          type: '南瓜支付-支付宝 | 南瓜',
          money: 500421,
          number: 268
        },
        {
          id: 465,
          type: '农业银行-陈德财 | 支付宝',
          money: 5021,
          number: 268
        }
      ],
      popoverList: [
        {
          bankname: '网银支付',
          detail: '0.0/0人',
          prepaidType: '101',
          table: []
        },
        {
          bankname: '银行转账',
          detail: '0.0/0人',
          prepaidType: '102',
          table: []
        },
        {
          bankname: '支付宝',
          detail: '0.0/0人',
          prepaidType: '103',
          table: []
        },
        {
          bankname: '微信支付',
          detail: '0.0/0人',
          prepaidType: '104',
          table: []
        },
        {
          bankname: 'QQ钱包',
          detail: '0.0/0人',
          prepaidType: '105',
          table: []
        },
        {
          bankname: '云闪付',
          detail: '0.0/0人',
          prepaidType: '108',
          table: []
        },
        {
          bankname: '京东钱包',
          detail: '0.0/0人',
          prepaidType: '109',
          table: []
        },
        {
          bankname: '银联支付',
          detail: '0.0/0人',
          prepaidType: '107',
          table: []
        },
        {
          bankname: '第四方',
          detail: '0.0/0人',
          prepaidType: '106',
          table: []
        },
        {
          bankname: '人工存款',
          detail: '0.0/0人',
          prepaidType: '201',
          table: []
        }
      ],
      acitvityForm: {
        bankname: '系统活动',
        detail: '0.0/0人',
        table: []
      },
      ruleForm: {
        type: '2',
        startTime: '',
        endTime: ''
      },
      startTime: '',
      endTime: '',
      data: {
        NowProfit: '0.00',
        NowProfitRate: '0.00',
        Out_BettingAccount: '0.00/0人',
        Out_WinningAccount: '0.00/0人',
        TotalInMoney: '0.00/0人',
        In_FastPrepaid: '0.00/0人',
        In_BankPrepaid: '0.00/0人',
        In_AlipayPrepaid: '0.00/0人',
        In_WeChatPrepaid: '0.00/0人',
        In_QQPrepaid: '0.00/0人',
        In_UnionpayPrepaid: '0.00/0人',
        In_FourthPrepaid: '0.00/0人',
        In_ArtificialDeposit: '0.00/0人',
        Out_Account: '0.00/0人',
        Out_RebateAccount: '0.00/0人',
        TotalDiscount: '0.00/0人',
        Out_ActivityDiscountAccount: '0.00/0人',
        Out_OtherDiscountAccount: '0.00/0人',
        SendMoney: '0.00/0人',
        GetMoney: '0.00/0人',
        HBSendMoney: '0.00/0人',
        HBGetMoney: '0.00/0人',
        InMoneyNum: '0.00/0人',
        Out_Account_Num: '0.00/0人',
        InMoneyTime: '0秒',
        OutMoneyTime: '0秒',
        TotalArtificialOut: '0.00/0人',
        Out_MistakeAccount: '0.00/0人',
        Out_AdministrationAccount: '0.00/0人',
        Out_RefuseAccount: '0.00/0人',
        NewMemberNum: '0人',
        NewPrepaidNum: '0人',
        OnLinessNum: '0人',
        Out_BettingAccount_Num: '0.00/0人',
        Out_CancelAccount: '0.00/0人',
        TotlaBalance: '0.00',
        MonthProfitLoss: '0.00',
        MonthProfitRate: '0.00%',
        LastMonthProfitLoss: '0.00',
        LastMonthProfitRate: '0.00%',
        MonthProfitAndLoss: '0.00',
        MonthGrossRate: '0.00%',
        LastMonthProfitAndLoss: '0.00',
        LastMonthGrossRate: '0.00%',
        RewardMoney: '0.00/0人',
        activityDetail: []
      }
    }
  },
  mounted () {
    this.onSubmit(2)
    this.getMemberBalance()
    if (this.$store.state.media.screenWidth > 812) return false
    scrollEl = new window.IScroll(`#compound-content`, {
      eventPassthrough: true,
      scrollX: true,
      scrollY: false,
      preventDefault: false
    })
  },
  methods: {
    showDetail (items) {
      if (this.type === 1) {
        if (!validateQueryDate.validateDate(this.startTime, this.endTime)) {
          return
        }
      }
      for (let item in this.popoverList) {
        if (items.prepaidType !== this.popoverList[item].prepaidType) {
          continue
        }
        this.reportDetailTitle = this.popoverList[item].bankname + '明细表'
        break
      }
      if (items.prepaidType !== '201') {
        let submitData = {}
        submitData.startTime = DateFormat(this.startTime, 'yyyy-MM-dd')
        submitData.endTime = DateFormat(this.endTime, 'yyyy-MM-dd')
        submitData.prepaidType = items.prepaidType
        // this.loading = true
        // let obj = this
        Api.reportPaymentList(submitData, function () {
          // obj.loading = false
        }).then((res) => {
          let paymentData = res.data
          this.reportData.table = []
          for (let i = 0; i < paymentData.length; i++) {
            let tempData = {}
            Object.assign(tempData, {})
            tempData.Id = i
            tempData.type = paymentData[i].account
            tempData.money = formatMoney(paymentData[i].amount)
            tempData.number = paymentData[i].number
            this.reportData.table.push(tempData)
          }
          this.reportDetailShow = true
        })
        return
      }
      let submitData = {}
      submitData.startTime = DateFormat(this.startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(this.endTime, 'yyyy-MM-dd')
      Api.reportManualRecordList(submitData, function () {
      }).then((res) => {
        let paymentData = res.data
        this.reportData.table = []
        for (let i = 0; i < paymentData.length; i++) {
          let tempData = {}
          Object.assign(tempData, {})
          tempData.Id = i
          tempData.type = paymentData[i].account
          tempData.money = formatMoney(paymentData[i].amount)
          tempData.number = paymentData[i].number
          this.reportData.table.push(tempData)
        }
        this.reportDetailShow = true
      })
    },
    showActivityDetail (items) {
      this.reportDetailTitle = '活动明细表'
      this.reportData.table = []
      for (let i = 0; i < this.data.activityDetail.length; i++) {
        let tempData = {}
        Object.assign(tempData, {})
        tempData.Id = i
        tempData.type = this.data.activityDetail[i].name
        tempData.money = formatMoney(this.data.activityDetail[i].amount)
        tempData.number = this.data.activityDetail[i].count
        this.reportData.table.push(tempData)
      }
      this.reportDetailShow = true
    },
    onSubmit (type) {
      type = Number(type)
      this.type = type
      if (type === 1) {
        this.startTime = this.ruleForm.startTime
        this.endTime = this.ruleForm.endTime
        this.getOrderList(type, this.ruleForm.startTime, this.ruleForm.endTime)
        return
      }
      if (type === 2) {
        let startTime = new Date()
        let endTime = new Date()
        this.startTime = startTime
        this.endTime = endTime
        this.getOrderList(type, startTime, endTime)
        return
      }
      if (type === 3) {
        let startTime = new Date(new Date().getTime() - 24 * 60 * 60 * 1000)
        let endTime = new Date(new Date().getTime() - 24 * 60 * 60 * 1000)
        this.startTime = startTime
        this.endTime = endTime
        this.getOrderList(type, startTime, endTime)
        return
      }
      if (type === 4) {
        let currentDate = new Date()
        let currentMonth = currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/1'
        let startTime = new Date(currentMonth)
        let endTime = new Date()
        this.startTime = startTime
        this.endTime = endTime
        this.getOrderList(type, startTime, endTime)
        return
      }
      if (type === 5) {
        let currentDate = new Date()
        let currentMonth = currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/1'
        let endTime = new Date(new Date(currentMonth).getTime() - 24 * 60 * 60 * 1000)
        let lastMonth = endTime.getFullYear() + '/' + (endTime.getMonth() + 1) + '/1'
        let startTime = new Date(lastMonth)
        this.startTime = startTime
        this.endTime = endTime
        this.getOrderList(type, startTime, endTime)
      }
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    showReport (event) {
      let tag = event ? event.target : null
      if (tag.tagName === 'A') {
        let showTimeId = setTimeout(() => {
          event.target.setAttribute('isShow', true)
          this.$bus.$emit('report:showPopover', {
            elem: event.target,
            reportData: this.itemsData
          })
        }, 300)
        event.target.setAttribute('showTimeId', showTimeId)
      }
    },
    hideReport (event) {
      let showTimeId = event.target.getAttribute('showTimeId')
      if (showTimeId) {
        clearTimeout(showTimeId)
        event.target.setAttribute('showTimeId', '')
      }
      let isShow = event.target.getAttribute('isShow')
      if (isShow === 'true') {
        event.target.setAttribute('isShow', false)
        this.$bus.$emit('report:hidePopover', {
          elem: event.target,
          reportData: this.itemsData
        })
      }
    },
    getOrderList (type, startTime, endTime) {
      if (type === 1) {
        if (!validateQueryDate.validateDate(startTime, endTime)) {
          return
        }
      }
      this.getMemberBalance()
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = DateFormat(startTime, 'yyyy-MM-dd')
      submitData.endTime = DateFormat(endTime, 'yyyy-MM-dd')
      submitData.type = type
      this.avatorVisible = false
      this.loading = true
      let obj = this
      Api.tenantReport(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let reportData = res.data
        this.data.NowProfit = formatMoney(reportData.profit, 2)
        this.data.NowProfitRate = formatPercentage(reportData.profitability)
        this.data.Out_BettingAccount = formatMoney(reportData.betAmount) + '/' + reportData.betCount + '人'
        this.data.Out_WinningAccount = formatMoney(reportData.returnAmount) + '/' + reportData.returnCount + '人'
        this.data.TotalInMoney = formatMoney(reportData.inAmount) + '/' + reportData.inCount + '人'
        this.popoverList[0].detail = formatMoney(reportData.onlinebankpayAmount) + '/' + reportData.onlinebankpayCount + '人'
        this.popoverList[1].detail = formatMoney(reportData.bankpayAmount) + '/' + reportData.bankpayCount + '人'
        this.popoverList[2].detail = formatMoney(reportData.alipayAmount) + '/' + reportData.alipayCount + '人'
        this.popoverList[3].detail = formatMoney(reportData.wechatpayAmount) + '/' + reportData.wechatpayCount + '人'
        this.popoverList[4].detail = formatMoney(reportData.qqpayAmount) + '/' + reportData.qqpayCount + '人'
        this.popoverList[5].detail = formatMoney(reportData.quickpassAmount) + '/' + reportData.quickpassCount + '人'
        this.popoverList[6].detail = formatMoney(reportData.jdpayAmount) + '/' + reportData.jdpayCount + '人'
        this.popoverList[7].detail = formatMoney(reportData.unionpayAmount) + '/' + reportData.unionpayCount + '人'
        this.popoverList[8].detail = formatMoney(reportData.fourthpayAmount) + '/' + reportData.fourthpayCount + '人'
        this.popoverList[9].detail = formatMoney(reportData.manualinAmount) + '/' + reportData.manualinCount + '人'
        this.data.Out_Account = formatMoney(reportData.outAmount) + '/' + reportData.outCount + '人'
        this.data.Out_RebateAccount = formatMoney(reportData.rebateAmount) + '/' + reportData.rebateCount + '人'
        this.data.TotalDiscount = formatMoney(reportData.activityAmount) + '/' + reportData.activityCount + '人'
        this.data.Out_ActivityDiscountAccount = formatMoney(reportData.systemActivityAmount) + '/' + reportData.systemActivityCount + '人'
        this.data.Out_OtherDiscountAccount = formatMoney(reportData.otherActivityAmount) + '/' + reportData.otherActivityCount + '人'
        this.data.SendMoney = reportData.sendAmount + '/' + reportData.sendCount + '人'
        this.data.GetMoney = reportData.getAmount + '/' + reportData.getCount + '人'
        this.data.HBSendMoney = reportData.hbSendAmount + '/' + reportData.hbSendCount + '人'
        this.data.HBGetMoney = reportData.hbGetAmount + '/' + reportData.hbGetCount + '人'
        this.data.InMoneyNum = reportData.inCountAll + '/' + reportData.inCount + '人'
        this.data.Out_Account_Num = reportData.outCountAll + '/' + reportData.outCount + '人'
        this.data.InMoneyTime = formatTime(reportData.inOperateTime)
        this.data.OutMoneyTime = formatTime(reportData.outOperateTime)
        this.data.TotalArtificialOut = formatMoney(reportData.manualOutAmount) + '/' + reportData.manualOutCount + '人'
        this.data.Out_MistakeAccount = formatMoney(reportData.mistakeAmount) + '/' + reportData.mistakeCount + '人'
        this.data.Out_AdministrationAccount = formatMoney(reportData.adminAmount) + '/' + reportData.adminCount + '人'
        this.data.Out_RefuseAccount = formatMoney(reportData.rejectAmount) + '/' + reportData.rejectCount + '人'
        this.data.NewMemberNum = reportData.registerCount + '人'
        this.data.NewPrepaidNum = reportData.firstinCount + '人'
        this.data.OnLinessNum = reportData.onlineCount + '人'
        this.data.Out_BettingAccount_Num = reportData.betCountAll + '/' + reportData.betCount + '人'
        this.data.Out_CancelAccount = formatMoney(reportData.cancelAmount) + '/' + reportData.cancelCount + '人'
        this.data.MonthProfitLoss = formatMoney(reportData.currMonthProfit)
        this.data.MonthProfitRate = reportData.currMonthProfitability
        this.data.LastMonthProfitLoss = formatMoney(reportData.lastMonthProfit)
        this.data.LastMonthProfitRate = reportData.lastMonthProfitability
        this.data.MonthProfitAndLoss = formatMoney(reportData.currMonthLoss)
        this.data.MonthGrossRate = reportData.currMonthMao
        this.data.LastMonthProfitAndLoss = formatMoney(reportData.lastMonthLoss)
        this.data.LastMonthGrossRate = reportData.lastMonthMao
        this.data.RewardMoney = formatMoney(reportData.tipAmount) + '/' + reportData.tipCount + '人'
        this.data.activityDetail = []
        if (reportData.systemActivityList) {
          this.data.activityDetail = reportData.systemActivityList
        }
        if (this.data.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getMemberBalance () {
      let submitData = {}
      Api.findSumByTenantCodeCms(submitData, function () {
      }).then((res) => {
        let memberBalance = res.data
        this.data.TotlaBalance = formatMoney(memberBalance)
      })
    }
  },
  beforeDestroy () {
    if (!scrollEl) return
    scrollEl.destroy()
    scrollEl = null
  },
  components: {
    DatetimePicker
  }
}
</script>
<style scoped>
  .hoverline-effet{
    line-height: 16px !important;
  }
.report-data{
  border: none;
  & .cursor-style:hover{
    & .color-blue{
      opacity: 0.7;
    }
  }
}
li{
  list-style: none;
}
ul{
  margin: 0;
}
.compound-header{
  display: flex;
  margin: 0 0 20px 0;
  & li{
    width: 100%;
    border: 1px solid var(--color-border);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px 0 0;
    background: #fff;
    &:last-child{
      margin: 0;
    }
  }
  & li:first-child{
    & .icon-ball{
      background: #58b3ef;
    }
  }
  & li:nth-child(2){
    & .icon-ball{
      background: #ee8470;
    }
  }
  & li:nth-child(3){
    & .icon-ball{
      background: #91c58a;}
  }
  & li:nth-child(4){
    & .icon-ball{
      background: #f6d467;}
  }
  & .inner-content{
     & span{
       display: block;
     }
    & span:last-child{
      font-size: 16px;
    }
  }
  & .icon-ball{
    width: 50px;
    height: 50px;
    display: flex;
    color: #fff;
    margin: 20px 20px 20px 10px;
    justify-content: center;
    align-items: center;
    & i{
      font-size: 25px !important;
    }
  }
}

.compound-content{
  display: flex;
  & .compound-items{
    width: 100%;
    border: 1px solid var(--color-border);
  }
}
.compound-smalltitle{
  & li{
    padding: 10.5px 27px!important;
    background: #f2f2f2;

    &:first-child,&:nth-child(5),&:nth-child(9){
      & i{
        background: #58b3ef;

      }
    }
    &:nth-child(2n){
      background: #fafaf5;
      & i{
        background: #8cc63f;
      }
    }
    &:nth-child(2),&:nth-child(6),&:nth-child(10){
      & i{
        background: #ee8470;
      }
    }
    &:nth-child(3),&:nth-child(7){
        & i{
          background: #91c58a;
        }
      }
    &:nth-child(4),&:nth-child(8){
      & i{
        background: #f6d467;
      }
    }
  }
  & i{
    width: 10px;
    height: 10px;
    margin: 0 10px 0 0;
    display: inline-block;
  }
}
.compound-title{
  border-bottom: 1px solid var(--color-border);
  padding: 10px 20px;
  background: #fff;
  & span:first-child{
       min-width: 60px;
       display: inline-block;
  }
}
.compound-smalltitle span:first-child,.title-span{
  width: 60px;
  display: inline-block;
}
.bottom-line{
  position: relative;
  &:after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: var(--color-border);
    bottom: 0;
    left: 0;
  }
}
  span.color-blue.cursor-style{
    width: auto !important;
  }
.pophover-table{
  border: 1px solid var(--color-border);
}
.report-header{
  position: relative;
}

.report-moadal .table-style{
  border-right: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-top: 1px solid var(--color-border);
}
@media screen and (max-width:1023px){
  .compound-header{
    margin: 0 0 var(--outer-margin) 0;
    & li{
      padding: 15px 0;
      margin: 10px;
      flex-direction: column;
      & .inner-content{
        text-align: center;
      }
      &:last-child{
        margin: 10px;
      }
    }
    & span{
      font-size: 14px;
    }
  }

  .compound-content{
    font-size: 14px;
  }
}

@media screen and (max-width:768px){
  .compound-header .icon-ball{
    padding: 5px;
    width: 35px;
    height: 35px;
    margin: 10px 15px 10px 10px;
  }
  .compound-smalltitle{
    & li{
      padding: 10.5px 0 10.5px 20px!important;}
  }
  .search-header{
    height: auto !important;
    padding: 0 10px !important;
  }
  .el-form--inline .el-form-item{
    margin-bottom: 6px !important;
  }
}

@media screen and (max-width:700px){
  .compound-header{
    flex-wrap: wrap;
    & li{
      flex-direction: row;
      margin-bottom: 6px;
      & .inner-content{
        text-align: left;
      }
    }
  }
}
@media screen and (max-width: 650px){
  #compound-content {
    overflow: hidden;
  }
  .compound-header li{
    margin: 6px 0 0 0 !important;
    width: 100%;
    border-width: 1px 0;
  }
  .compound-content{
    width: fit-content;
    /*flex-direction: column;*/
  }
  .compound-smalltitle{
    & li{
      padding: 10.5px 0 10.5px 25px!important;}
  }
  .compound-content .compound-items{
    border-top: 1px solid var(--color-border);
    width: 320px;
    background: #fff;
  }
  .compound-smalltitle span:first-child,.title-span{
    width: 100px;
  }
  .compound-title span:first-child{
    width: 100px;
  }
  .text-style{
    padding: 10px 20px 0;
  }
  .report-header {
    position: relative;
    padding: 10px 10px 30px 10px;
  }
}
</style>
