<template>
  <div class="panel">
    <div class="panel-heading">
      流量详情 <el-button size="mini" @click="routerBack" class="margin-l10" icon="el-icon-arrow-left">返回</el-button>
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 代理地图 -->
      <div id="chart-content" class="chart-content"></div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <!-- 表头 -->
        <div class="table-style " v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0" style="text-align: center">
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell" style="text-align: center">时间</div></th>
                  <th ><div class="cell" style="text-align: center">独立访问量（IP)</div></th>
                  <th ><div class="cell" style="text-align: center">页面访问量（PV）</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span>{{items.time}}</span></div></td>
                    <td ><div class="cell" :class="index <= classIndex ? 'color-danger' : ''"><span>{{items.uv}}</span></div></td>
                    <td ><div class="cell" :class="index <= classIndex ? 'color-success' : ''"><span>{{items.pv}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                prop="time"
                label="时间"
                min-width="50">
              </el-table-column>
              <el-table-column
                prop="uv"
                label="独立访问量（IP)"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="pv"
                label="页面访问量（PV）"
                min-width="80">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="流量详情"
          @close="detailShow=false">
          <ul >
            <li>
              <span>时间</span>
              <span>{{detailData.time}}</span>
            </li>
            <li>
              <span>独立访问量（IP)</span>
              <span>{{detailData.uv}}</span>
            </li>
            <li>
              <span>页面访问量（PV）</span>
              <span>{{detailData.pv}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <br>
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import {DateFormat, exportExl} from '@/utils/Time'
import Scroll from '@/components/Scroll'
// var echarts = require('echarts')
var echarts = require('echarts/lib/echarts')
require('echarts/lib/chart/line')
// 引入提示框和标题组件
require('echarts/lib/component/grid')
require('echarts/lib/component/legend')
require('echarts/lib/component/title')
require('echarts/lib/component/tooltip')
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      allList: [],
      timeList: [],
      ipList: [],
      pvList: [],
      classIndex: ''
    }
  },
  mounted () {
    this.getOrderList()
  },
  components: {
    Scroll
  },
  methods: {
    routerBack () {
      this.$router.push({
        path: '/report/reportFlow',
        query: {
          timeType: this.$route.query.timeType,
          timeTitle: this.$route.query.timeTitle
        }
      })
    },
    drawLine () {
      var myChart = echarts.init(document.getElementById('chart-content'))
      myChart.setOption({
        title: {
          text: `统计域名：${this.$route.query.hostTitle}`,
          subtext: `统计日期：${this.$route.query.timeTitle}`,
          left: 'left',
          top: '60',
          backgroundColor: '#eee',
          padding: [20, 100, 20, 20],
          textStyle: {
            fontWeight: 'normal',
            fontSize: 14,
            color: '#000',
            lineHeight: 30
          },
          subtextStyle: {
            fontWeight: 'normal',
            fontSize: 14,
            color: '#000',
            lineHeight: 30
          }
        },
        tooltip: {
          trigger: 'axis'
        },
        legend: {
          data: ['独立访问量（IP)', '页面访问量（PV)'],
          left: '0',
          top: 200,
          orient: 'vertical',
          itemWidth: 150
        },
        color: ['red', 'green'],
        grid: {
          left: '300',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        // 显示下载按钮
        // toolbox: {
        //   feature: {
        //     saveAsImage: {}
        //   }
        // },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: this.timeList,
          // nameLocation: 'center',
          name: '时间'
        },
        yAxis: {
          type: 'value',
          // nameLocation: 'center',
          name: '访问量'
        },
        series: [
          {
            name: '独立访问量（IP)',
            type: 'line',
            stack: '总量',
            data: this.ipList
          },
          {
            name: '页面访问量（PV)',
            type: 'line',
            stack: '总量',
            data: this.pvList
          }
        ]
      })
    },
    exportExcel () {
      if (!this.allList.length > 0) {
        this.msgError('导出数据不能为空')
        return
      }
      let excelarr = this.allList
      let excel = '<tr><th>域名</th><th>时间</th><th>独立访问量（IP)</th><th>页面访问量（PV）</th></tr>'
      for (var i = 0; i < excelarr.length; i++) {
        if (i === 0) {
          excel += `<tr>
                <th>${this.$route.query.hostTitle}</th>
                <th>${excelarr[i].time}</th>
                <th>${excelarr[i].uv}</th>
                <th>${excelarr[i].pv}</th>
              </tr>`
        } else {
          excel += `<tr>
                <th></th>
                <th>${excelarr[i].time}</th>
                <th>${excelarr[i].uv}</th>
                <th>${excelarr[i].pv}</th>
              </tr>`
        }
      }
      exportExl(excel, '流量详情报表（' + this.$route.query.timeTitle + '）')
    },
    // 获取列表
    getOrderList () {
      let submitData = {
        startTime: this.$route.query.startTime,
        endTime: this.$route.query.endTime,
        host: this.$route.query.host,
        type: this.$route.query.type
      }
      this.loading = true
      Api.host(submitData, () => {
      }).then((res) => {
        this.loading = false
        if (res.code === 1) {
          this.allList = res.data
          if (this.allList.length) {
            this.tableLine = false
          }
          this.$nextTick(function () {
            this.loading = false
            this.getEchartData(res.data)
          })
        }
      })
    },
    // 计算图标数据
    getEchartData (data) {
      let datas = data
      this.timeList = []
      this.ipList = []
      this.pvList = []
      for (let i = 0; i < datas.length; i++) {
        if (this.$route.query.timeType === 'day') {
          this.timeList.push(i)
        } else {
          this.timeList.push(i + 1)
        }
        this.ipList.push(datas[i].uv)
        this.pvList.push(datas[i].pv)
        this.getDayIndex(this.$route.query.timeType, datas[i].time, i)
      }
      this.drawLine()
    },
    getDayIndex (type, value, i) {
      let todaytime = this.$route.query.timeTitle
      let startTime = DateFormat(new Date(new Date().getTime()), 'yyyy-MM-dd')
      let timeStatus = todaytime === startTime
      let len = this.allList.length
      if (type === 'search' || type === 'toDay' || type === 'yesterDay') {
        let date = new Date().getHours()
        let time = date < 10 ? '0' + date + ':00' : date + ':00'
        let val = value.substr(value.length - 5)
        if (time === val) {
          if (timeStatus) {
            this.classIndex = (i + 1)
          } else {
            this.classIndex = len
          }
        }
      }
      if (type === 'currentMonth' || type === 'lastMonth') {
        let date = new Date().getDate()
        let day = date < 10 ? '0' + date : date + ''
        let val = value.slice(0, 2)
        if (day === val) {
          if (type === 'currentMonth') {
            this.classIndex = i
          } else {
            this.classIndex = len
          }
        }
      }
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  }
}
</script>
<style scoped>
  .main {
    display: inline-block;
  }
  .chart-content {
    height: 300px;
    top: -30px;
  }
</style>
