<template>
  <popover
    :title="reportData.title"
    ref="reportPopover"
    placement="right"
    :width="screenW >768 ? '500':'320'"
    trigger="click"
    popper-class="report-card">
    <!--{{reportData}}-->
    <el-table :data="reportData.table" class="table-style popover-table">
      <el-table-column min-width="100" property="type" label="类型"></el-table-column>
      <el-table-column min-width="80" property="money" label="金额"></el-table-column>
      <el-table-column width="70" property="number" label="人数"></el-table-column>
    </el-table>
  </popover>
</template>
<script>
import Popover from '@/components/Popover'
export default {
  components: {
    Popover
  },
  data () {
    return {
      reportData: ''
    }
  },
  created () {
    // 添加事件监听
    this.$bus.$on('report:showPopover', ({elem, reportData}) => {
      this.showUserInfo({elem, reportData})
    })
    this.$bus.$on('report:hidePopover', (data) => {
      this.hideUserInfo(data)
    })
    this.$bus.$on('report:closePopover', (data) => {
      this.closeInfo(data)
    })
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    showUserInfo (data) {
      this.toggleUserInfo(data, true)
    },
    hideUserInfo (data) {
      this.toggleUserInfo(data, false)
    },
    closeInfo (data) {
      if (this.$refs && this.$refs.reportPopover) {
        let popover = this.$refs.reportPopover
        if (popover && popover.$refs && popover.$refs.popper) {
          popover.$refs.popper.style.display = 'none'
        }
      }
    },
    toggleUserInfo ({reportData, elem}, show) {
      let popover = this.$refs.reportPopover
      if (popover) {
        if (reportData) {
          popover.changeShowInfo({ elem, show, callback: () => { this.reportData = reportData || {} } })
        } else {
          // this.msgError('123123')
          console.log(123)
        }
      }
    }
  }
}
</script>
<style >
  .popover-table{
    border: 1px solid var(--color-border);
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-active {
    transform: translateY(10px);
    opacity: 0;
  }
</style>
