<template>
  <div class="panel">
    <div class="panel-heading">
      支付报表
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header ">
        <el-form :inline="true"  ref="ruleForm">
          <el-form-item v-if="screenW > 768" >
            <el-button size="mini" :type="date === 'yesterDay' ? 'primary' : ''" @click="getOrderList('yesterDay')">昨日</el-button>
            <el-button size="mini" :type="date === 'currentMonth' ? 'primary' : ''" @click="getOrderList('currentMonth')">本月</el-button>
            <el-button size="mini" :type="date === 'lastMonth' ? 'primary' : ''" @click="getOrderList('lastMonth')">上月</el-button>
          </el-form-item>
          <el-form-item label="期间" v-else>
            <el-select v-model="date" placeholder="请选择" class="width-search80" @change="handleDayOptionChange">
              <el-option
                v-for="item in dayoption"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="排名数量">
            <el-select v-model="pageSize" placeholder="请选择" class="width-search100" @change="handlePageSizeChange">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
      <div  v-loading="loading"
           element-loading-spinner="dafa-icon-loading01 dafa-icon"
           element-loading-customClass="loadingClass">
        <div class="report-nav delbtn pc-none" >
        </div>
        <el-tabs v-model="activeName2" type="card" @tab-click="handleClick" v-if="screenW < 1023" class="ranking-tab">
          <el-tab-pane v-for="item in ReportList" :key="item.name" :label="item.bigTitle" :name="item.bigTitle">
            <div class="ranktable  table-style" :class="item.class">
              <el-table
                :data="item.allList"
                style="width: 100%"
                :default-sort = "{prop: 'success', order: 'descending'}">
                <el-table-column label="排行" width="40">
                  <template slot-scope="scope">
                    <span class="ranking-number">{{scope.$index > 8 ? scope.$index + 1:'0'+(scope.$index + 1)}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="第三方"
                  prop="payName"
                  min-width="50" class="graybg-style">
                  <template slot-scope="scope">
                    <span>{{scope.row.payName}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="订单成功率"
                  prop="precision"
                  sortable
                  min-width="85">
                  <template slot-scope="scope">
                    <span>{{scope.row.precision | formatPercentage}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="订单平台占比"
                  min-width="85"
                  prop="recall"
                  sortable>
                  <template slot-scope="scope">
                    <span>{{scope.row.recall | formatPercentage}}</span>
                  </template>
                </el-table-column>
              </el-table >
            </div>
          </el-tab-pane>
        </el-tabs>
        <!-- 表头 -->
        <div class="ranking-box rwd-scorll" v-else>
          <div class="ranktable  table-style" v-for="item in ReportList" :class="item.class" :key="item.bigTitle">
            <div class="ranking-header">{{item.bigTitle}}</div>
            <el-table
              :data="item.allList"
              style="width: 100%"
              :default-sort = "{prop: 'success', order: 'descending'}">
              <el-table-column label="排行" width="45">
                <template slot-scope="scope">
                  <span class="ranking-number">{{scope.$index > 8 ? scope.$index + 1:'0'+(scope.$index + 1)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="第三方"
                prop="payName"
                min-width="50" class="graybg-style">
                <template slot-scope="scope">
                  <span>{{scope.row.payName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="订单成功率"
                prop="precision"
                sortable
                min-width="60">
                <template slot-scope="scope">
                  <span>{{scope.row.precision | formatPercentage}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="订单平台占比"
                min-width="70"
                prop="recall"
                sortable>
                <template slot-scope="scope">
                  <span>{{scope.row.recall | formatPercentage}}</span>
                </template>
              </el-table-column>
            </el-table >
          </div>
        </div>
        <div class="text-style footer-absolute">* 温馨提示：支付报表统计的是全平台第三方支付的数据；</div>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import {DateFormat} from '@/utils/Time'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      isActive: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      dayoption: [{
        value: 'yesterDay',
        label: '昨日'
      },
      {
        value: 'currentMonth',
        label: '本月'
      },
      {
        value: 'lastMonth',
        label: '上月'
      }],
      options: [{
        value: '10',
        label: '前1０名'
      }, {
        value: '20',
        label: '前2０名'
      }],
      date: 'yesterDay',
      pageSize: '10',
      ReportList: [
        {
          bigTitle: '微信支付',
          dictionId: '104',
          class: 'wechat-table',
          allList: []
        },
        {
          bigTitle: '支付宝',
          dictionId: '103',
          class: 'payball-table',
          allList: []
        },
        {
          bigTitle: 'QQ钱包',
          dictionId: '105',
          class: 'qq-table',
          allList: []
        },
        {
          bigTitle: '云闪付',
          dictionId: '108',
          class: 'quickpass-table',
          allList: []
        },
        {
          bigTitle: '京东钱包',
          dictionId: '109',
          class: 'jdpay-table',
          allList: []
        },
        {
          bigTitle: '银联支付',
          dictionId: '107',
          class: 'inle-table',
          allList: []
        },
        {
          bigTitle: '网银支付',
          dictionId: '101',
          class: 'onlinepay-table',
          allList: []
        }
      ],
      activeName2: '微信支付'
    }
  },
  mounted () {
    this.getOrderList(this.date)
  },
  methods: {
    onSubmit () {
      this.getOrderList(this.date)
    },
    handleDayOptionChange () {
      this.onSubmit()
    },
    handlePageSizeChange () {
      this.onSubmit()
    },
    handleClick (tab, event) {
      // console.log(tab, event)event
    },
    getOrderList (type) {
      this.date = type
      let startTime = new Date(new Date().getTime() - 24 * 60 * 60 * 1000)
      let endTime = new Date(new Date().getTime() - 24 * 60 * 60 * 1000)
      if (type === 'currentMonth') {
        let currentDate = new Date()
        let currentMonth = currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/1'
        startTime = new Date(currentMonth)
        endTime = new Date()
      }
      if (type === 'lastMonth') {
        let currentDate = new Date()
        let currentMonth = currentDate.getFullYear() + '/' + (currentDate.getMonth() + 1) + '/1'
        endTime = new Date(new Date(currentMonth).getTime() - 24 * 60 * 60 * 1000)
        let lastMonth = endTime.getFullYear() + '/' + (endTime.getMonth() + 1) + '/1'
        startTime = new Date(lastMonth)
      }
      startTime = DateFormat(startTime, 'yyyy-MM-dd')
      endTime = DateFormat(endTime, 'yyyy-MM-dd')
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = startTime
      submitData.endTime = endTime
      submitData.pageSize = this.pageSize
      this.loading = true
      let obj = this
      Api.payingReport(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let data = res.data
        for (let i = 0; i < this.ReportList.length; i++) {
          this.ReportList[i].allList = []
        }
        for (let item in this.ReportList) {
          if (data[this.ReportList[item].dictionId]) {
            this.ReportList[item].allList = data[this.ReportList[item].dictionId]
            continue
          }
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  }
}
</script>
<style scoped>

  .footer-absolute{
    margin: -40px 0 0 0;
  }
  .report-data{
    border: none !important;
  }
  .ranking-box{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    & .el-table {
      margin: 0 20px 0 0;
    }
    & .el-table:last-child {
      margin: 0;
    }
  }
  .th{
      background: var(--color-titlebackground);
  }
  .ranking-header{
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
  }
  .ranktable{
    width: calc(33% - 20px);
    border: 1px solid var(--color-border);
    margin: 0 20px 50px 0;
    min-height: 250px;
  }
  .wechat-table{
    & .ranking-header{
      border-top: 3px solid #3DAB33;
    }
    /*& .ranking-number{*/
      /*color: #3DAB33;*/
    /*}*/
    & .sort-caret.descending{
      border-top-color: #3DAB33;
    }
  }
  .payball-table{
    & .ranking-header{
      border-bottom: 1px solid var(--color-border);
      border-top: 3px solid #FE6B08;
    }
    /*& .ranking-number{*/
      /*color: #FE6B08;*/
    /*}*/
  }
  .payball-table i{
    border-top-color: #FE6B08 !important;
  }
  .qq-table{
    & .ranking-header{
      border-bottom: 1px solid var(--color-border);
      border-top: 3px solid #12A0FF;
    }
    /*& .ranking-number{*/
      /*color: #12A0FF;*/
    /*}*/
    & .el-table .descending .sort-caret.descending{
      border-top-color: #12A0FF;
    }
  }
  .quickpass-table{
    & .ranking-header{
      border-bottom: 1px solid var(--color-border);
      border-top: 3px solid #a869db;
    }
    /*& .ranking-number{*/
      /*color: #12A0FF;*/
    /*}*/
    & .el-table .descending .sort-caret.descending{
      border-top-color: #a869db;
    }
  }
  .jdpay-table{
    & .ranking-header{
      border-bottom: 1px solid var(--color-border);
      border-top: 3px solid #00bdd7;
    }
    /*& .ranking-number{*/
      /*color: #12A0FF;*/
    /*}*/
    & .el-table .descending .sort-caret.descending{
      border-top-color: #00bdd7;
    }
  }
  .inle-table{
    & .ranking-header{
      border-bottom: 1px solid var(--color-border);
      border-top: 3px solid #00477B;
    }
    /*& .ranking-number{*/
      /*color: #00477B;*/
    /*}*/
    & .el-table .descending .sort-caret.descending{
      border-top-color: #00477B;
    }
  }
  .onlinepay-table{
    & .ranking-header{
    border-bottom: 1px solid var(--color-border);
    border-top: 3px solid #f6d467;}
    /*& .ranking-number{*/
      /*color: #f6d467;*/
    /*}*/
    & .el-table .descending .sort-caret.descending{
      border-top-color: #f6d467;
    }
  }
  @media screen and (max-width:1320px){
    .ranktable{
      width: calc(33% - 15px);
      margin: 0 15px 50px 0;
    }
  }
  @media screen and (max-width:1023px){
    .ranktable{
      width: 100%;
      margin: 0 0px 30px;
      & .el-table .cell{
        padding: 0 !important;
      }
    }
    .search-header{
      z-index: 10;
    }
    .footer-absolute{
      margin: -20px 0 0 0;
    }
  }
  @media screen and (max-width: 768px){
    .search-header{
      padding: 10px 10px 0 ;
    }

  }
</style>
