<template>
  <div class="panel">
    <div class="panel-heading">
      地理详情 <el-button size="mini" @click="routerBack" class="margin-l10" icon="el-icon-arrow-left">返回</el-button>
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 代理地图 -->
      <div id="chart-content" class="chart-content"></div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <!-- 表头 -->
        <div class="table-style " v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0" style="text-align: center">
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell" style="text-align: center">地区</div></th>
                  <th ><div class="cell" style="text-align: center">独立访问量（IP)</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td ><div class="cell"><span>{{items.city || ''}}</span></div></td>
                    <td ><div class="cell" :class="items.uv > 0 ? 'color-danger' : ''"><span>{{items.uv}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                prop="city"
                label="地区"
                min-width="50">
              </el-table-column>
              <el-table-column
                prop="uv"
                label="独立访问量（IP)"
                min-width="50">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="地理详情"
          @close="detailShow=false">
          <ul >
            <li>
              <span>地区</span>
              <span>{{detailData.city}}</span>
            </li>
            <li>
              <span>独立访问量（IP)</span>
              <span>{{detailData.uv}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="text-style" style="line-height: 18px;"> * 温馨提示：</div>
      <div class="text-style" style="line-height: 18px;">无法识别具体省份的中国区IP，数量会统计到中国地区。</div>
      <div class="text-style" style="line-height: 18px;"></div>
      <br>
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/report'
import {exportExl} from '@/utils/Time'
import Scroll from '@/components/Scroll'
// var echarts = require('echarts')
var echarts = require('echarts/lib/echarts')
require('echarts/map/js/china.js')
let defaultCity = [
  {name: '北京', value: 0},
  {name: '天津', value: 0},
  {name: '上海', value: 0},
  {name: '重庆', value: 0},
  {name: '河北', value: 0},
  {name: '河南', value: 0},
  {name: '云南', value: 0},
  {name: '辽宁', value: 0},
  {name: '黑龙江', value: 0},
  {name: '湖南', value: 0},
  {name: '安徽', value: 0},
  {name: '山东', value: 0},
  {name: '新疆', value: 0},
  {name: '江苏', value: 0},
  {name: '浙江', value: 0},
  {name: '江西', value: 0},
  {name: '湖北', value: 0},
  {name: '广西', value: 0},
  {name: '甘肃', value: 0},
  {name: '山西', value: 0},
  {name: '内蒙古', value: 0},
  {name: '陕西', value: 0},
  {name: '吉林', value: 0},
  {name: '福建', value: 0},
  {name: '贵州', value: 0},
  {name: '广东', value: 0},
  {name: '青海', value: 0},
  {name: '西藏', value: 0},
  {name: '四川', value: 0},
  {name: '宁夏', value: 0},
  {name: '海南', value: 0},
  {name: '台湾', value: 0},
  {name: '香港', value: 0},
  {name: '澳门', value: 0}
]
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      allList: [],
      cityData: [],
      maxValue: 0
    }
  },
  mounted () {
    this.getOrderList()
  },
  components: {
    Scroll
  },
  methods: {
    routerBack () {
      this.$router.push({
        path: '/report/reportFlow',
        query: {
          timeType: this.$route.query.timeType,
          timeTitle: this.$route.query.timeTitle
        }
      })
    },
    drawLine () {
      var myChart = echarts.init(document.getElementById('chart-content'))
      myChart.setOption({
        title: {
          text: `统计域名：${this.$route.query.hostTitle}`,
          subtext: `统计日期：${this.$route.query.timeTitle}`,
          left: 'left',
          top: '40',
          backgroundColor: '#eee',
          padding: [20, 120, 20, 20],
          textStyle: {
            fontWeight: 'normal',
            fontSize: 14,
            color: '#000',
            lineHeight: 30
          },
          subtextStyle: {
            fontWeight: 'normal',
            fontSize: 14,
            color: '#000',
            lineHeight: 30
          }
        },
        tooltip: {
          trigger: 'item'
        },
        geo: {
          // map: 'china',
          label: {
            emphasis: {
              show: false
            }
          },
          zoom: 1.5,
          roam: true,
          itemStyle: {
            normal: {
              areaColor: '#323c48',
              borderColor: '#111'
            },
            emphasis: {
              areaColor: '#2a333d'
            }
          }
        },
        // legend: {
        //   orient: 'vertical',
        //   left: 'left',
        //   data: ['iphone3', 'iphone4', 'iphone5']
        // },
        visualMap: {
          min: 0,
          max: this.maxValue,
          left: 'left',
          text: ['高', '低'],
          // calculable: true,
          color: ['#d14232', '#efb259', '#fff884', '#9af569', '#89e8be', '#dbfaff', '#f5f5f5'],
          orient: 'horizontal',
          splitNumber: 7,
          top: 180,
          itemHeight: 4,
          itemWidth: 35,
          itemGap: 2
        },
        toolbox: {
          show: true,
          orient: 'vertical',
          left: 'right',
          top: 'center',
          right: 100,
          feature: {
            mark: {show: false},
            dataView: {show: false, readOnly: false},
            restore: {show: true},
            saveAsImage: {show: false}
          }
        },
        series: [
          {
            // name: '流量详情',
            type: 'map',
            mapType: 'china',
            label: {
              normal: {
                show: false
              },
              emphasis: {
                show: false
              }
            },
            tooltip: {
              formatter: '地区: {b0}<br />独立访问量: {c0}'
            },
            zoom: 1,
            roam: true,
            data: this.cityData
          }
        ]
      })
    },
    exportExcel () {
      if (!this.allList.length > 0) {
        this.msgError('导出数据不能为空')
        return
      }
      let excelarr = this.allList
      let excel = '<tr><th>域名</th><th>地区</th><th>独立访问量（IP)</th></tr>'
      for (var i = 0; i < excelarr.length; i++) {
        if (i === 0) {
          excel += `<tr>
                    <th>${this.$route.query.hostTitle}</th>
                    <th>${excelarr[i].city}</th>
                    <th>${excelarr[i].uv}</th>
                  </tr>`
        } else {
          excel += `<tr>
                    <th></th>
                    <th>${excelarr[i].city}</th>
                    <th>${excelarr[i].uv}</th>
                  </tr>`
        }
      }
      exportExl(excel, '地理详情报表（' + this.$route.query.timeTitle + '）')
    },
    // 获取列表
    getOrderList () {
      let submitData = {
        startTime: this.$route.query.startTime,
        endTime: this.$route.query.endTime,
        host: this.$route.query.host,
        type: this.$route.query.type
      }
      this.loading = true
      Api.host(submitData, () => {
      }).then((res) => {
        this.loading = false
        if (res.code === 1) {
          this.allList = res.data
          if (this.allList.length) {
            this.tableLine = false
          }
          this.getEchartData(res.data)
        }
      })
    },
    // 计算图标数据
    getEchartData (data) {
      let datas = data
      this.cityData = JSON.parse(JSON.stringify(defaultCity))
      let maxarr = []
      for (let i = 0; i < datas.length; i++) {
        for (let j = 0; j < this.cityData.length; j++) {
          if (datas[i].city === this.cityData[j].name) {
            this.cityData[j].value = datas[i].uv
          }
        }
        maxarr.push(datas[i].uv)
      }
      this.maxValue = Math.max.apply(null, maxarr)
      this.drawLine()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  }
}
</script>
<style scoped>
  .main {
    display: inline-block;
  }
  .chart-content {
    width: 1200px;
    height: 300px;
    top: -30px;
  }
</style>
