
<template>
  <div class="panel">
    <div class="panel-heading">
      活动明细
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small" class=" webmaster-manage" v-if="screenW>768">
          <el-form-item label="排序" prop="sortBy">
            <el-select size="min" v-model="ruleForm.sortBy" class="width-search120" placeholder="全部">
              <el-option label="全部" value=""></el-option>
              <el-option label="金额递减" value="1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="活动名称" prop="name">
            <el-select size="min" v-model="ruleForm.name" class="width-search120" placeholder="全部">
              <el-option label="全部" value=""></el-option>
              <el-option label="晋级奖励" value="晋级奖励"></el-option>
              <el-option label="每日加奖" value="每日加奖"></el-option>
              <el-option label="充值优惠" value="充值优惠"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="会员账号" prop="userName">
            <el-input size="min" v-model="ruleForm.userName" class="width-search140" placeholder="请输入会员账号" ></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit" :loading="submitLoading"> {{submitLoading ? '正在查询' : '查 询'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :model="ruleForm" ref="ruleForm"   :inline="false" >
                    <el-form-item label="排序" prop="sortBy">
                      <el-select size="min" v-model="ruleForm.sortBy" placeholder="全部">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="金额递减" value="1"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="活动名称" prop="name">
                      <el-select size="min" v-model="ruleForm.name"  placeholder="全部">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="晋级奖励" value="晋级奖励"></el-option>
                        <el-option label="每日加奖" value="每日加奖"></el-option>
                        <el-option label="充值优惠" value="充值优惠"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input size="min" v-model="ruleForm.userName"  placeholder="请输入会员账号" ></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit" :loading="submitLoading"> {{submitLoading ? '正在查询' : '查 询'}}</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">会员账号</div></th>
                  <th><div class="cell">活动名称</div></th>
                  <th><div class="cell">活动金额</div></th>
                  <th><div class="cell">流水号</div></th>
                  <th><div class="cell">添加时间</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td width="15%"><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>

                    <td width="30%"><div class="cell max-width100 cursor-style" :id="'multipleTableNameColumn' + index" @click="openContentForm('name', '充值方式', items, 'multipleTableNameColumn' + index, 'multipleTableNameContent' + index)">
                      <span  :title="items.name"   :id="'multipleTableNameContent' + index">{{items.name}}</span>
                    </div></td>
                    <td width="15%"><div class="cell"><span class="color-danger">{{items.money | formatMoney}}</span></div></td>
                    <td  width="20%"><div class="cell"><span >{{items.recordCode}}</span></div></td>
                    <td  width="20%"><div class="cell"><span>{{items.addTime}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="2"><div class="cell">合计</div></td>
                    <!--活动金额-->
                    <td colspan="3"><div class="cell">{{summaryData['money']}}</div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="11"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
           <!--手机版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                fixed
                min-width="110" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue  dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="name"
                label="活动名称"
                min-width="80" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="money"
                label="活动金额"
                min-width="120">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.money | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="recordCode"
                label="流水号"
                min-width="200">
              </el-table-column>
              <el-table-column
                label="添加时间"
                prop="addTime"
                width="180">
              </el-table-column>
              <el-table-column
                label="操作"
                width="40" fixed="right" v-if="screenW > 768">
                <template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="活动明细"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>活动名称</span>
              <span>{{detailData.name}}</span>
            </li>
            <li>
              <span>活动金额</span>
              <span class="color-danger">{{ detailData.money | formatMoney}}</span>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.addTime}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          background
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import Api from '@/api/activity'
import {dateFormat} from '@/utils/index'
import {exportExl} from '@/utils/Time'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {validateQueryDate} from '@/utils/validateRules'
import {formatMoney, getSummaries} from '@/filters/index'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {getEllipsisFlag} from '@/utils'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      btnStyle: false,
      timeCount: 0,
      timer: null,
      tableLine: true,
      isShow: false,
      FreezeValue: false,
      isActive: false,
      avatorVisible: false,
      ChangePasswordFrom: false,
      BankInformationFrom: false,
      CountTimesFrom: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        sortBy: '',
        name: '',
        userName: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'money': '1'},
      summaryData: [],
      ellipsisColumns: [{name: 'name', width: 394, formatterFunc: null}]
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    exportExcel () {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      // console.log('submitData', submitData)
      let obj = this
      Api.getActivityLogList(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.logList
        let excel = '<tr><th>会员账号</th><th>活动名称</th><th>活动金额</th><th>流水号</th><th>添加时间</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].userName}</th>
            <th>${excelarr[i].name}</th>
            <th>${formatMoney(excelarr[i].money)}</th>
            <th>${excelarr[i].recordCode}</th>
            <th>${excelarr[i].addTime}</th>
          </tr>`
        }
        exportExl(excel, '活动明细（' + submitData.startTime + '至' + submitData.endTime + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    resetForm (ruleForm) {
      this.$refs[ruleForm].resetFields()
      // console.log(88)
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      this.loading = true
      let obj = this
      Api.getActivityLogList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.logList
        this.allList = allList
        this.avatorVisible = false
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
