<template>
  <div class="panel">
    <div class="panel-heading">
      活动禁止
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openactivityForbiddenForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" >
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-forword" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <!--<el-form-item label="开始时间" prop="startTime">-->
            <!--<el-date-picker-->
              <!--v-model="ruleForm.startTime"-->
              <!--class="width-searchtime"-->
              <!--type="date"-->
              <!--placeholder="选择日期" >-->
            <!--</el-date-picker>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="结束时间" prop="endTime">-->
            <!--<el-date-picker-->
              <!--v-model="ruleForm.endTime"-->
              <!--class="width-searchtime"-->
              <!--type="date"-->
              <!--placeholder="选择日期" >-->
            <!--</el-date-picker>-->
          <!--</el-form-item>-->
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small"  :inline="false" :model="ruleForm" ref="ruleForm">
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" class="width-forword" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <!--<el-form-item label="开始时间" prop="startTime">-->
                      <!--&lt;!&ndash;<el-date-picker&ndash;&gt;-->
                        <!--&lt;!&ndash;v-model="ruleForm.startTime"&ndash;&gt;-->
                        <!--&lt;!&ndash;type="date"&ndash;&gt;-->
                        <!--&lt;!&ndash;:editable="false"&ndash;&gt;-->
                        <!--&lt;!&ndash;placeholder="选择日期" popper-class="dialog-popover-picker">&ndash;&gt;-->
                      <!--&lt;!&ndash;</el-date-picker>&ndash;&gt;-->
                      <!--<span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker></span>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="结束时间" prop="endTime">-->
                      <!--&lt;!&ndash;<el-date-picker&ndash;&gt;-->
                        <!--&lt;!&ndash;v-model="ruleForm.endTime"&ndash;&gt;-->
                        <!--&lt;!&ndash;type="date"&ndash;&gt;-->
                        <!--&lt;!&ndash;:editable="false"&ndash;&gt;-->
                        <!--&lt;!&ndash;placeholder="选择日期" popper-class="dialog-popover-picker">&ndash;&gt;-->
                      <!--&lt;!&ndash;</el-date-picker>&ndash;&gt;-->
                      <!--<span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker></span>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="22px"><div class="table-id"></div></th>
                  <th ><div class="cell">会员账号</div></th>
                  <th ><div class="cell">禁止活动</div></th>
                  <th ><div class="cell">禁止时间</div></th>
                  <th ><div class="cell">备注</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                    <td ><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td ><div class="cell"><span >{{items.name}}</span></div></td>
                    <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    <td ><div class="cell"><span >{{items.remark}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
              </el-checkbox-group>
            </div>
          </div>
           <!--手机版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              @selection-change="handleSelectionChange"
              style="width: 100%;">
              <el-table-column
                prop="Id"
                type="selection"
                width="34"
                v-if=" screenW >768 || isActive">
              </el-table-column>
              <el-table-column
                label="会员账号"
                min-width="100"
                fixed>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改" @click="editOne(scope.row)">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{ scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="禁止活动"
                min-width="130" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span class="overflow-style">{{scope.row.name}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="禁止时间"
                min-width="160">
              </el-table-column>
              <el-table-column
                label="备注"
                prop="remark"
                min-width="160" show-overflow-tooltip>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="editOne(detailData);rwdbtnVisible=false">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="活动禁止"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>禁止活动</span>
              <span>{{detailData.name}}</span>
            </li>
            <li>
              <span>禁止时间</span>
              <span class="color-danger">{{ detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.remark}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <activity-forbidden-form
      :data="selectData"
      :visible = "activityForbiddenForm"
      v-on:onClose = "activityForbiddenForm=false">
    </activity-forbidden-form>
  </div>
</template>
<script>
import activityForbiddenForm from '@/views/newModal/ActivityForbiddenForm'
import Api from '@/api/activity'
import {DateFormat} from '@/utils/Time'
import {validateQueryDateTwo} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      btnStyle: false,
      timeCount: 0,
      timer: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      command: 0,
      isActive: false,
      activityForbiddenForm: false,
      RebateStop: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        startTime: '',
        endTime: ''
      },
      total: 0,
      // 列表数据
      allList: [],
      pageNum: 1,
      pageSize: 20,
      Ringtone: {},
      selectData: {}
    }
  },
  mounted () {
    this.getOrderList(1, 20)
    window.onresize = () => {
      // PC版专用
      this.checkedCities = []
      this.checkAll = false
      this.isIndeterminate = false
    }
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openactivityForbiddenForm () {
      this.selectData = {}
      this.activityForbiddenForm = true
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.startTime || this.ruleForm.endTime) {
        if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
          return
        }
      }
      if (this.ruleForm.startTime) {
        submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      }
      if (this.ruleForm.endTime) {
        submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      }
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.getActivityBanList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.banList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在删除中...'
        this.loading = true
        let obj = this
        Api.delActivityBan(submitData, function () {
          obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.submitLoading = true
        let obj = this
        Api.delActivityBan(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    editOne (val) {
      // console.log(val)
      this.selectData = val
      this.activityForbiddenForm = true
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    activityForbiddenForm,
    Scroll,
    DatetimePicker
  }
}
</script>
