
<template>
  <div class="panel">
    <div class="panel-heading">
      活动管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" plain @click="updateActivitySort" v-if="screenW>=1023"> 保 存 </el-button>
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openActivityForm">新增活动</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
      </div>
      <!--＝＝＝＝＝＝＝＝＝＝＝＝＝＝電腦版開始＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
      <div class="clearfix ranktransfer-area" v-if="screenW >1023">
        <div class="dragging-selected report-data"   v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div class="report-nav rb-row delbtn">
            <el-button size="mini" icon="el-icon-delete" @click="deleteRows">删除</el-button>
          </div>
          <ul >
            <li class="table-header" >
              <div class="id">
                <el-checkbox @change="handleCheckAllChange">{{''}}</el-checkbox></div>
              <div class="activty-name">活动名称</div>
              <div class="type">活动类型</div>
              <div class="status">活动状态</div>
              <div class="addtime">添加时间</div>
              <div class="option">操作</div>
              <div class="order">排序</div>
            </li>
            <div :class="{'ul-height': !tableLine}">
              <el-checkbox-group>
                <li v-for="l in sysActivityData" :key="l.id" class="no-pointer">
                  <div class="id"><el-checkbox :disabled="true" :label="l.id" :key="l.id">{{''}}</el-checkbox></div>
                  <div class="activty-name">{{l.name}}</div>
                  <div class="type">{{l.type}}</div>
                  <div :class="l.status === '启用' ? 'status color-success' : 'status color-danger'">{{l.status === '启用' ? '正常' : '禁用'}}</div>
                  <div class="addtime">{{l.addTime}}</div>
                  <div class="option">
                    <template  v-if="l.name !== '充值优惠'">
                      <span class="color-grey padding-r6">禁用</span>
                      <a v-if="isType(l.name) && l.status === '启用'" class="color-bluebutton hover-style padding-r6" @click="openDiscountForm(l)">设置</a>
                    </template>
                    <template  v-else>
                      <span  @click="updateActivityStatus(l)" class="color-bluebutton padding-r6 hover-style">{{l.status === '启用' ?'禁用':'启用'}}</span>
                      <a v-if="isType(l.name)" class="color-bluebutton hover-style padding-r6" @click="openDiscountForm(l)">设置</a>
                    </template>
                  </div>
                  <div class="order"><i class="el-icon-rank disabled"></i></div>
                </li>
              </el-checkbox-group>
              <el-checkbox-group v-model="checkedCities" class="last-checkbox">
                <li v-for="l in activityData" v-dragging="{ item: l, list: activityData, group: 'l' }" :key="l.id">
                  <div class="id"><el-checkbox :label="l.id" :key="l.id" @change="handleCheckedCitiesChange">{{''}}</el-checkbox></div>
                  <div class="activty-name" @click="editOne(l)"><a title="上下拖动排序"></a><a class="hoverline-effet color-blue">{{l.name}}</a></div>
                  <div class="type">{{l.type}}</div>
                  <div :class="l.status === '启用' ? 'status color-success' : 'status color-danger'"><span >{{l.status === '启用' ? '正常' : '禁用'}}</span></div>
                  <div class="addtime">{{l.addTime}}</div>
                  <div class="option"><a @click="updateActivityStatus(l)" :class="{'disable-color':l.type==='系统活动'}" class="color-bluebutton hover-style">{{l.status === '启用' ?'禁用':'启用'}}</a></div>
                  <div class="order"><span title="上下拖动排序"><i class="el-icon-rank"></i></span></div>
                </li>
              </el-checkbox-group>
            </div>
          </ul>
        </div>
      </div>
      <!--＝＝＝＝＝＝＝＝＝＝＝＝＝＝電腦版結束＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
      <!--＝＝＝＝＝＝＝＝＝＝＝＝＝＝手機版開始＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
      <div class="report-data" v-if="screenW<1023">
        <div class="report-nav  delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <el-button size="mini" type="text"  @click="draggingVisible =true">排序</el-button>
        </div>
        <div class="rwd-selected table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--＝＝＝＝＝＝＝＝＝＝＝＝＝＝手機表格無排序 排序在彈窗＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
          <scroll :id="'scroll-wrapper2'"   class="el-table">
            <el-table
              ref="multipleTable"
              :data="allList"
              @selection-change="handleSelectionChange"
              @row-click="openDetails">
              <el-table-column
                prop="id"
                type="selection"
                :selectable="getChecked"
                width="34" fixed  v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="活动名称"
                min-width="100"
                fixed show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="screenW >768" :class="scope.row.type === '系统活动' ? '' : 'color-blue'" @click="editOne(scope.row)">{{scope.row.name}}</span>
                  <span v-else :class="scope.row.type === '系统活动' ? ' dataIndex' : ' color-blue dataIndex'" :data-index="scope.$index">{{scope.row.name}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="type"
                label="活动类型"
                 width="80">
              </el-table-column>
              <el-table-column
                prop="status"
                label="活动状态"
                width="80">
                <template slot-scope="scope"><span :class="scope.row.status === '启用' ? 'color-success' : 'color-danger'">{{scope.row.status === '启用' ? '正常' : '禁用'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="addTime"
                label="添加时间"
              width="170">
              </el-table-column>
              <el-table-column
                prop="account"
                label="操作"
                fixed="right"
                width="90" v-if="screenW>768">
                <template slot-scope="scope" >
                  <div><a v-if="scope.row.name === '充值优惠' || scope.row.isSystem === 0" @click="updateActivityStatus(scope.row)" class="color-bluebutton margin-r6"  :title="scope.row.status === false ?'禁用':'启用'">{{scope.row.status === '启用' ?'禁用':'启用'}}</a>
                    <a v-if="scope.row.name === '充值优惠' && scope.row.status === '启用'" class="color-bluebutton " @click="openDiscountForm(scope.row)">设置</a>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <popover-right
        :modal="false"
        :visible="draggingVisible"
        title="排序管理"
        @close="draggingVisible=false">
        <el-button size="mini" slot="right-btn-box"  type="primary" plain @click="updateActivitySort" :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
        <div class="dragging-selected mobile-list-dragging">
          <ul>
            <li
              v-for="l in activityData"
              v-dragging="{ item: l, list: activityData, group: l }"
              :key="l.id">
              <div class="open-name"><a>{{l.name}}</a></div>
              <div class="btn-tools">
                <a title="上下拖动排序"><i class="el-icon-rank"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </popover-right>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span v-if="detailData.name === '充值优惠' || detailData.isSystem === 0" @click="updateActivityStatus(detailData);rwdbtnVisible=false"  >{{detailData.status === '启用' ?'禁用':'启用'}}</span>
        <span v-if="isType(detailData.name) && detailData.status === '启用'" @click="openDiscountForm(detailData);rwdbtnVisible=false">设置</span>
        <span v-if="detailData.isSystem === 0 && detailData.name !== '充值优惠'" @click="editOne(detailData);rwdbtnVisible=false">修改</span>
        <span v-if="detailData.isSystem === 0 && detailData.name !== '充值优惠'" @click="checkRow()">查看信息</span>
        </div>
          <span @click="closeRwdBtn"  class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="活动管理"
        @close="detailShow=false">
        <ul >
          <li>
            <span>活动名称</span>
            <span class="color-blue">{{detailData.name}}</span>
          </li>
          <li>
            <span>活动类型</span>
            <span>{{detailData.type}}</span>
          </li>
          <li>
            <span>活动状态</span>
            <span :class="detailData.status === '启用' ? 'color-success' : 'color-danger'">{{detailData.status === '启用' ? '正常' : '停用'}}</span>
          </li>
          <li>
            <span>添加时间</span>
            <span>{{detailData.addTime}}</span>
          </li>
        </ul>
      </popover-right>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <activity-form
      ref="form"
      :data="selectData"
      :visible="activityDialog"
      @close="activityDialog=false"
    ></activity-form>
    <discount-form
      :data="selectData"
      :visible="discountShow"
      @onClose="discountShow=false"
    ></discount-form>
    <upgrade
      :data="selectData"
      :visible="upgradeShow"
      @onClose="upgradeShow=false"
    ></upgrade>
    <reward
      :data="selectData"
      :visible="rewardShow"
      @onClose="rewardShow=false"
    ></reward>
  </div>
</template>
<script>
import Upgrade from '@/views/newModal/ActivityUpgradeForm'
import Reward from '@/views/newModal/ActivityRewardForm'
import ActivityForm from '@/views/newModal/ActivityForm'
import Scroll from '@/components/Scroll'
import Api from '@/api/activity'
import DiscountForm from '@/views/newModal/DiscountForm'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      upgradeShow: false,
      rewardShow: false,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timer: null,
      rwdNumber: '',
      tableLine: false,
      checkedCities: [],
      draggingVisible: false,
      activityDialog: false,
      isShow: false,
      FreezeValue: false,
      isActive: false,
      discountShow: false,
      ActivitiesManageForm: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      order: null,
      allList: [],
      pageNum: 1,
      pageSize: 20,
      total: 0,
      sysActivityData: [],
      activityData: [],
      selectData: {}
    }
  },
  methods: {
    // 判断是否可预览的图片
    isType (name) {
      return ['充值优惠', '晋级奖励', '每日加奖'].indexOf(name) > -1
    },
    openDiscountForm (val) {
      this.selectData = val
      switch (val.name) {
        case '充值优惠':
          this.discountShow = true
          break
        case '晋级奖励':
          this.upgradeShow = true
          break
        case '每日加奖':
          this.rewardShow = true
          break
      }
    },
    updateActivitySort () {
      if (this.activityData.length < 1) {
        this.msgError('没有数据可排序')
        return
      }
      let submitData = {}
      submitData.ids = this.activityData.map(v => v.id).join(',')
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.setActivitySort(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.msgSuccess('操作成功')
      })
    },
    updateActivityStatus (val) {
      let submitData = {}
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      let status = 0
      if (val.status === '禁用') {
        status = 1
      }
      submitData.id = val.id
      submitData.status = status
      Api.setActivityStatus(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.msgSuccess('操作成功')
      })
    },
    openActivityForm () {
      this.selectData = {}
      this.activityDialog = true
    },
    getChecked (val) {
      if (val.type === '系统活动') {
        return false
      }
      return true
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCommand (command) {
      if (!command.name) return
      let arr = {'ImgFormatShow': this.ImgFormat,
        'Token': this.Token,
        'TenantMaintainShow': this.TenantMaintain
      }
      if (typeof arr[command.name] === 'function') {
        arr[command.name](command.key)
      }
    },
    allopt () {
      let list = JSON.parse(JSON.stringify(this.activityData))
      return list.map(v => v.id)
    },
    handleCheckAllChange (val) {
      // console.log(val)
      // this.checkedCities = val ? this.allopt() : []
      this.checkedCities = val ? this.allopt() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let checkedCount = value.length
      let allCount = this.activityData.length
      this.checkAll = checkedCount === allCount
      // console.log(this.checkAll)
      this.isIndeterminate = checkedCount > 0 && checkedCount < allCount
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
          // console.log(rows)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
        // console.log(rows)
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
      // console.log(val)
    },
    chooseFun (val) {
      for (let i = 0; i < this.allList.length; i++) {
        if (val.id === this.allList[i].id) {
          this.allList.splice(i, 1)
          break
        }
      }
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.getTenantActivityList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.sysActivityData = []
        this.activityData = []
        this.allList = res.data.activityList
        if (this.allList.length > 0) {
          this.tableLine = true
        }
        for (let i = 0; i < this.allList.length; i++) {
          if (this.allList[i].type === '系统活动') {
            this.sysActivityData.push(this.allList[i])
            continue
          }
          this.activityData.push(this.allList[i])
        }
        this.total = res.data.total
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    editOne (val) {
      this.selectData = val
      this.activityDialog = true
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.delActivity(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      if (this.screenW < 1023) {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.checkedCities.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW < 1023) {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        } else {
          submitData.ids = this.checkedCities.join(',')
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.delActivity(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.checkedCities = []
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      if ((row.name === '晋级奖励' && row.type === '系统活动') || (row.name === '每日加奖' && row.type === '系统活动')) {
        return
      }
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  components: {
    Upgrade,
    Reward,
    ActivityForm,
    Scroll,
    DiscountForm
  }
}
</script>
<style scoped>
  .order{
    position: absolute;
    right: 0;
    padding: 6px 10px;
  }
  .id{
    width: 22px;
  }
  .order{
    width: 50px;
  }
  .activty-name{
    width: 35%;
    min-width: 250px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .type{
    width: 13%;
    min-width: 130px;
  }
  .status{
    width: 13%;
    min-width: 100px;
  }
  .addtime{
    width: 20%;
    min-width: 170px;
  }
  .option{
    width: 10%;
    min-width: 130px;
  }
  .disable-color{
    color: #dbd5d5 !important;
    pointer-events: none;
  }
  /*.dragging-selected ul li.table-header{*/
    /*border-top: none !important;*/
  /*}*/
  .ranktransfer-area {
    min-height: 10px !important;
    /*min-height: 250px !important;*/
    margin: 0 0 20px 0;
  }
  .el-checkbox-group.last-checkbox{
    & li:last-child{
      border-bottom: none !important;
    }
  }
  .ul-height{
    min-height: 250px;
  }
  .disabled{
    pointer-events: none;
    opacity: 0.5;
  }
  .no-pointer{
    cursor: initial !important;
  }
  .dragging-selected ul li.table-header{
    border-top: none !important;
  }
  /*.dragging-selected ul li:last-child{*/
    /*border: none;*/

  /*}*/
  /*.ranktransfer-area{*/
    /*min-height: 250px;*/
  /*}*/
  /*.dragging-selected.report-data{*/
    /*height: calc(100vh - 200px);*/
    /*min-height: 250px;*/
  /*}*/

</style>
