<template>
  <div></div>
</template>

<script>
import ClipboardJS from 'clipboard'
var clipboard = null
var clipboard1 = null
export default {
  name: 'baseCopy',
  data () {
    return {
      currIndex: -1
    }
  },
  computed: {
    routerName () {
      return this.$route.name
    }
  },
  mounted () {
    let _this = this
    clipboard = new ClipboardJS('#clipboard', {
      target: () => {
        let table300 = document.querySelector('.table300')
        if (table300) {
          if (_this.$refs.multipleTable) {
            return _this.$refs.multipleTable.querySelector('.el-table__body-wrapper table')
          }
          return ''
        } else if (_this.$refs.multipleTable && _this.$refs.multipleTable.$el) {
          return _this.$refs.multipleTable.$el.querySelector('.el-table__body-wrapper table')
        }
      }
    })
    clipboard1 = new ClipboardJS('.clipboard', {
      target: (trigger) => {
        let table300 = document.querySelector('.table300')
        if (table300) {
          console.log(1)
          let table = _this.$refs.multipleTable.querySelector('.el-table__body-wrapper table')
          let tbody = table.querySelector('tbody')
          let tr = tbody.querySelectorAll('tr')
          if (tr.length > 1) {
            return tr[_this.currIndex]
          } else {
            return table
          }
        } else {
          console.log(2)
          let table = _this.$refs.multipleTable && _this.$refs.multipleTable.$el.querySelector('.el-table__body-wrapper table')
          let tbody = table.querySelector('tbody')
          let tr = tbody.querySelectorAll('tr')
          if (tr.length > 1) {
            return tr[_this.currIndex]
          } else {
            return table
          }
        }
      }
    })
    clipboard.on('success', (e) => {
      this.msgSuccess('复制成功')
    })
    clipboard.on('error', (e) => {
      this.msgSuccess('复制失败')
    })
    clipboard1.on('success', (e) => {
      this.msgSuccess('复制成功')
    })
    clipboard1.on('error', (e) => {
      this.msgSuccess('复制失败')
    })
  },
  beforeDestroy () {
    clipboard.destroy()
    clipboard1.destroy()
  }
}
</script>

<style scoped>

</style>
