<template>
  <div></div>
</template>

<script>
export default {
  methods: {
    change (nv) {
      if (!window[`${nv}`]) {
        setTimeout(() => {
          window[`${nv}`] = new window.IScroll(`.${nv} .el-scrollbar`, {
            mouseWheel: true,
            click: true
          })
        }, 200)
      }
    }
  },
  beforeDestroy () {
    for (let i = 0; i < 5; i++) {
      if (window['select' + i]) {
        window['select' + i].destroy()
        window['select' + i] = null
      }
    }
  }
}
</script>
<style>
</style>
