<template>
  <div class="panel">
    <div class="panel-heading">
      订单详情
      <el-button size="mini" @click="$router.back()" class="margin-l10" icon="el-icon-arrow-left">返回</el-button>
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!--搜尋header-->
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data ">
        <div class="report-nav pc-none"></div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="10%"><div class="cell">会员账号</div></th>
                  <th width="12%"><div class="cell">彩种名称</div></th>
                  <th width="10%"><div class="cell">期号</div></th>
                  <th width="10%"><div class="cell">投注金额</div></th>
                  <th width="10%"><div class="cell">奖金金额</div></th>
                  <th width="10%"><div class="cell">撤单金额</div></th>
                  <th width="10%"><div class="cell">开奖状态</div></th>
                  <th width="10%"><div class="cell">方案类型</div></th>
                  <th width="15%"><div class="cell">投注时间</div></th>
                  <th width="3%"><div class="cell">操作</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td><div class="cell"><span>{{items.lotteryName}}</span></div></td>
                    <td><div class="cell"><span>{{items.issue}}</span></div></td>
                    <td><div class="cell"><span>{{items.betMoney | formatMoney}}</span></div></td>
                    <td><div class="cell"><span>{{items.bonusMoney | formatMoney}}</span></div></td>
                    <td><div class="cell"><span>{{items.revocationMoney | formatMoney}}</span></div></td>
                    <td><div class="cell"><span>{{items.state | formatState}}</span></div></td>
                    <td><div class="cell"><span>{{items.type | formatType}}</span></div></td>
                    <td><div class="cell"><span>{{ items.gmtCreated}}</span></div></td>
                    <td>
                      <div class="cell">
                        <div class="table-btnbox ">
                        <el-button type="text" size="mini" class="margin-r6">
                          <span class="color-bluebutton"  @click="getDetailInfo(items)">详细</span>
                        </el-button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="3"><div class="cell">合计</div></td>
                    <td colspan="1"><div class="cell">{{summaryData['betMoney']}}</div></td>
                    <td colspan="1"><div class="cell">{{summaryData['bonusMoney']}}</div></td>
                    <td colspan="5"><div class="cell">{{summaryData['revocationMoney']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="10"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="会员账号"
                fixed
                min-width="100">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="lotteryName"
                label="彩种名称"
                min-width="120">
              </el-table-column>
              <el-table-column
                prop="issue"
                label="期号"
                min-width="120">
              </el-table-column>
              <el-table-column
                prop="betMoney"
                label="投注金额"
                min-width="100">
                <template slot-scope="scope"><span>{{ scope.row.betMoney | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="bonusMoney"
                label="奖金金额"
                min-width="130">
                <template slot-scope="scope"><span>{{ scope.row.bonusMoney | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="revocationMoney"
                label="撤单金额"
                min-width="130">
                <template slot-scope="scope"><span>{{ scope.row.revocationMoney | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="state"
                label="开奖状态"
                min-width="100">
                <template slot-scope="scope"><span>{{ scope.row.state | formatState}}</span></template>
              </el-table-column>
              <el-table-column
                prop="type"
                label="方案类型"
                min-width="100">
                <template slot-scope="scope"><span>{{ scope.row.type | formatType}}</span></template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="投注时间"
                min-width="180">
              </el-table-column>
              <el-table-column
                label="操作"
                fixed="right"
                v-if="screenW>768"
                width="70">
                <template slot-scope="scope">
                  <div class="table-btnbox ">
                    <el-button type="text" size="mini" class="margin-r6">
                      <span class="color-bluebutton"  @click="getDetailInfo(scope.row)">详细</span>
                    </el-button>
                    <!--<el-button type="text" size="mini">-->
                      <!--<span class="color-bluebutton clipboard" title="复制单笔"  @click="currIndex = scope.$index">复制</span>-->
                    <!--</el-button>-->
                  </div>
                  <!--<div v-else class="text-center">-->
                  <!--<i class="el-icon-more" @click="rwdbtn(scope.row)"></i>-->
                  <!--</div>-->
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="rwdbtnVisible=false;getDetailInfo(detailData)" >详细</span>
          <span @click="rwdbtnVisible=false;checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="rwdbtnVisible=false;closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="订单详情"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>彩种名称</span>
              <span>{{detailData.lotteryName}}</span>
            </li>
            <li>
              <span>期号</span>
              <span>{{detailData.issue}}</span>
            </li>
            <li>
              <span>投注金额</span>
              <span>{{detailData.betMoney | formatMoney}}</span>
            </li>
            <li>
              <span>奖金金额</span>
              <span>{{detailData.bonusMoney | formatMoney}}</span>
            </li>
            <li>
              <span>撤单金额</span>
              <span>{{detailData.revocationMoney | formatMoney}}</span>
            </li>
            <li>
              <span>开奖状态</span>
              <span>{{detailData.revocationMoney | formatState}}</span>
            </li>
            <li>
              <span>方案类型</span>
              <span>{{detailData.revocationMoney | formatState}}</span>
            </li>
            <li>
              <span>投注时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          background
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import Scroll from '@/components/Scroll'
import {formatMoney, getSummaries} from '@/filters/index'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      rwdNumber: '',
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'betMoney': '1', 'bonusMoney': '1', 'revocationMoney': '1'},
      summaryData: []
    }
  },
  components: {
    Scroll
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  filters: {
    formatState (v) {
      switch (v) {
        case 0:
          return '未开奖'
        case 1:
          return '未中奖'
        case 2:
          return '已开奖'
        case 3:
          return '撤单'
        case 4:
          return '追号停止'
        default:
          return '未知状态'
      }
    },
    formatType (v) {
      switch (v) {
        case 1:
          return '普通投注'
        case 2:
          return '追号方案'
        default:
          return '未知状态'
      }
    }
  },
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    getDetailInfo (v) {
      this.$router.push({
        path: '/transaction/SeekOrderInfo',
        query: {
          id: v.id
        }
      })
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let id = this.$route.query.id
      if (!id || id === '') {
        this.msgError('参数错误')
        return
      }
      let submitData = {}
      submitData.id = id
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getBettingChaseOrder(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.orderList
        this.total = res.data.total
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
