<template>
  <div class="panel">
    <div class="panel-heading">
      订单详细
      <el-button size="mini" @click="$router.back()" class="margin-l10" icon="el-icon-arrow-left">返回</el-button>
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!--搜尋header-->
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data ">
        <div class="report-nav pc-none"></div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="10%"><div class="cell">会员账号</div></th>
                  <th width="10%"><div class="cell">彩种名称</div></th>
                  <th width="8%"><div class="cell">玩法</div></th>
                  <th width="10%"><div class="cell">期号</div></th>
                  <th width="10%"><div class="cell">投注号码</div></th>
                  <th width="8%"><div class="cell">投注金额</div></th>
                  <th width="7%"><div class="cell">投注注数</div></th>
                  <th width="7%"><div class="cell">投注倍数</div></th>
                  <th width="7%"><div class="cell">投注状态</div></th>
                  <th width="9%"><div class="cell">投注类型</div></th>
                  <th width="9%"><div class="cell">投注返点信息</div></th>
                  <th width="5%"><div class="cell">投注模式</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td><div class="cell"><span>{{items.lotteryName}}</span></div></td>
                    <td>
                      <div class="cell max-width100 cursor-style" :id="'multipleTablePlayNameColumn' + index" @click="openContentForm('playName', '充值方式', items, 'multipleTablePlayNameColumn' + index, 'multipleTablePlayNameContent' + index)">
                        <!--<span v-if="items.playNameFlag === 0">{{items.playNameContent}}</span>-->
                        <!--<span v-else class="hoverline-effet hover-black ellipsis-style" @click="openContentForm('playName', '充值方式', items)" v-html="items.playNameContent"></span>-->
                        <span :title="items.playName"  :id="'multipleTablePlayNameContent' + index">{{items.playName}}</span>
                      </div>
                    </td>
                    <td><div class="cell min-width120" ><span>{{items.issue}}</span></div></td>
                    <td>
                      <div class="cell max-width140 cursor-style" :id="'multipleTableBetNumberColumn' + index" @click="openContentForm('betNumber', '投注号码', items, 'multipleTableBetNumberColumn' + index, 'multipleTableBetNumberContent' + index)">
                        <!--<span v-if="items.betNumberFlag === 0">{{items.betNumber}}</span>-->
                        <!--<span v-else class="hoverline-effet hover-black " @click="openContentForm('betNumber', '投注号码', items)" v-html="items.betNumberContent"></span>-->
                        <span :title="items.betNumber" :id="'multipleTableBetNumberContent' + index">{{items.betNumber}}</span>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{items.betMoney | formatMoney}}</span></div></td>
                    <td><div class="cell"><span>{{items.betCount}}</span></div></td>
                    <td><div class="cell"><span>{{items.graduation}}</span></div></td>
                    <td><div class="cell"><span>{{ items.openState | formatState}}</span></div></td>
                    <td><div class="cell"><span>{{ items.betType | formatType}}</span></div></td>
                    <td><div class="cell"><span>{{items.betPoint}}</span></div></td>
                    <td><div class="cell"><span>{{items.betUnit}}</span></div></td>
                  </tr>
                  <!--<tr class="td-background">-->
                    <!--<td colspan="5"><div class="cell">合计</div></td>-->
                    <!--<td colspan="7"><div class="cell">{{summaryData['betMoney']}}</div></td>-->
                  <!--</tr>-->
                </template>
                <template v-else>
                  <tr>
                    <td colspan="12"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="会员账号"
                fixed
                min-width="140">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="lotteryName"
                label="彩种名称"
                min-width="100">
              </el-table-column>
              <el-table-column
                label="玩法"
                min-width="150" v-if="screenW > 768">
                <template slot-scope="scope" >
                  <span class=" overflow-style " slot="reference" @click="openContentForm('playName', '投注内容', scope.row)">
                    <span class="position-relative cursor-style">{{scope.row.playName}}</span>
                  </span>
                </template>
              </el-table-column>
              <el-table-column
                label="玩法"
                min-width="100" prop="playName" v-else show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="issue"
                label="期号"
                min-width="110">
              </el-table-column>
              <el-table-column
                prop="betNumber"
                label="投注号码"
                min-width="130" v-if="screenW > 768">
                <template slot-scope="scope">
                      <span class=" overflow-style " slot="reference" @click="openContentForm('betNumber', '投注号码', scope.row)">
                    <span class="position-relative cursor-style">{{scope.row.betNumber}}</span>
                  </span>
                  <!--<span v-if="scope.row.betNumber.length < 20">{{scope.row.betNumber}}</span>-->
                  <!--<div class="position-relative cursor-style " slot="reference" @click="openContentForm('betNumber', '投注号码', scope.row)" v-else>-->
                    <!--<span class="overflow-note">{{scope.row.betNumber | textHtml(20)}}</span>-->
                    <!--<i class="color-blue">...</i>-->
                  <!--</div>-->
                </template>
              </el-table-column>
              <!--<el-table-column-->
                <!--label="投注号码"-->
                <!--min-width="100" prop="betNumber" v-else show-overflow-tooltip>-->
              <!--</el-table-column>-->
              <el-table-column
                prop="betMoney"
                label="投注金额"
                min-width="100">
                <template slot-scope="scope"><span>{{ scope.row.betMoney | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="betCount"
                label="投注注数"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="graduation"
                label="投注倍数"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="openState"
                label="投注状态"
                :min-width="screenW > 768 ? '80':'100'">
                <template slot-scope="scope"><span>{{ scope.row.openState | formatState}}</span></template>
              </el-table-column>
              <el-table-column
                prop="betType"
                label="投注类型"
                min-width="100">
                <template slot-scope="scope"><span>{{ scope.row.betType | formatType}}</span></template>
              </el-table-column>
              <el-table-column
                prop="betPoint"
                label="投注返点信息"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="betUnit"
                label="投注模式"
                min-width="80">
              </el-table-column>
              <!--<el-table-column-->
                <!--label="操作"-->
                <!--width="40" fixed="right" v-if="screenW > 768">-->
                <!--<template slot-scope="scope">  <div title="复制" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="订单详细"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>彩种名称</span>
              <span>{{detailData.lotteryName}}</span>
            </li>
            <li>
              <span>玩法</span>
              <span v-html="detailData.playName"></span>
            </li>
            <li>
              <span>期号</span>
              <span>{{detailData.issue}}</span>
            </li>
            <li>
              <span>投注号码</span>
              <span>{{detailData.betNumber}}</span>
            </li>
            <li>
              <span>投注金额</span>
              <span>{{detailData.betMoney | formatMoney}}</span>
            </li>
            <li>
              <span>投注注数</span>
              <span>{{detailData.betCount}}</span>
            </li>
            <li>
              <span>投注倍数</span>
              <span>{{detailData.graduation}}</span>
            </li>
            <li>
              <span>投注状态</span>
              <span>{{detailData.openState | formatState}}</span>
            </li>
            <li>
              <span>投注类型</span>
              <span>{{detailData.betType | formatType}}</span>
            </li>
            <li>
              <span>投注返点信息</span>
              <span>{{detailData.betPoint}}</span>
            </li>
            <li>
              <span>投注模式</span>
              <span>{{detailData.betUnit}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!--<el-dialog-->
        <!--:title="contentTitle"-->
        <!--:visible.sync="contentShow"-->
        <!--width="30%"-->
        <!--custom-class="small-reveal-modal lottery-modal"-->
      <!--&gt;-->
        <!--<div class="lottery-lightbox scrollCss">{{contentData}}</div>-->
        <!--<div slot="footer" class="dialog-footer">-->
          <!--<el-button type="primary" @click="contentShow = false" size="mini">确 认</el-button>-->
        <!--</div>-->
      <!--</el-dialog>-->
      <!--<div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>-->
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import Scroll from '@/components/Scroll'
import {formatMoney, getSummaries} from '@/filters/index'
import {getEllipsisFlag} from '@/utils'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      contentTitle: '',
      contentShow: false,
      contentData: '',
      timeCount: 0,
      timerDetail: null,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      // 列表数据
      allList: [],
      total: 0,
      // pageNum: 1,
      // pageSize: 20,
      summaryColumns: {'betMoney': '1'},
      summaryData: [],
      ellipsisColumns: [{name: 'playName', width: 100, formatterFunc: null},
        {name: 'betNumber', width: 100, formatterFunc: null}]
    }
  },
  filters: {
    formatState (v) {
      switch (v) {
        case 0:
          return '等待开奖'
        case 1:
          return '未中奖'
        case 2:
          return '已中奖'
        case 3:
          return '撤单'
        case 4:
          return '已停止追号'
        default:
          return '未知状态'
      }
    },
    formatType (v) {
      switch (v) {
        case 1:
          return '普通投注'
        case 2:
          return '追号方案'
        default:
          return '未知状态'
      }
    }
  },
  mounted () {
    this.getOrderList()
  },
  components: {
    Scroll
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    getDetailInfo (v) {
      this.$router.push({
        path: '/platform/tenantIP',
        query: {
          tenantCode: v.tenantCode
        }
      })
    },
    onSubmit () {
      // console.log('submit!')
      // this.pageNum = 1
      this.getOrderList()
    },
    // 分页
    // handleSizeChange (val) {
    //   // console.log(`每页 ${val} 条`)
    //   // console.log(this.$refs.pagination.internalPageSize)
    //   this.pageSize = val
    //   this.getOrderList(this.pageNum, val)
    // },
    // handleCurrentChange (val) {
    //   // console.log(`当前页: ${val}`)
    //   // console.log(this.$refs.pagination.internalPageSize)
    //   this.pageNum = val
    //   this.getOrderList(val, this.pageSize)
    // },
    getOrderList () {
      // if (!pageNum) {
      //   pageNum = 1
      // }
      // if (!pageSize) {
      //   pageSize = 20
      // }
      // this.pageNum = pageNum
      // this.pageSize = pageSize
      // this.$refs.pagination.internalCurrentPage = pageNum
      // this.$refs.pagination.internalPageSize = pageSize
      let id = this.$route.query.id
      if (!id || id === '') {
        this.msgError('参数错误')
        return
      }
      let submitData = {}
      submitData.id = id
      this.loading = true
      let obj = this
      Api.getBettingChaseOrderInfo(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.infoList
        // getEllipsisHtml(this.ellipsisColumns, allList)
        // console.log(allList)
        // console.log(allList)
        this.allList = allList
        this.total = res.data.dataCount
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    editOne (v) {
      // console.log(v + '可以修改')
      this.rwdbtnVisible = false
      this.SiteNoticeNewForm = true
      this.selectData = v
      // console.log(v)
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
