<template>
  <div class="panel">
    <div class="panel-heading">
      第四方充值订单<dafa-loading v-if="loading"></dafa-loading>
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">

      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="min" class="small-padding-1r" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="更新" size="min" prop="Update">
          <el-select v-model="ruleForm.Update" class="width-update">
            <el-option label="15秒" value="15"></el-option>
            <el-option label="30秒" value="30"></el-option>
            <el-option label="60秒" value="60"></el-option>
            <el-option label="暂停" value="0"></el-option>
          </el-select>
          </el-form-item>
          <el-form-item  size="min" label="账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-search100" placeholder="请输入账号"></el-input>
          </el-form-item>
          <el-form-item label="等级" prop="grades" class="grades-position" :class="{'grades-overflow':ruleForm.grades.length > 1}">
            <el-select v-model="ruleForm.grades" multiple class="grades-select width-grade" placeholder="请选择">
              <el-option label="测试组" value="-1"></el-option>
              <el-option label="黑名单" value="0"></el-option>
              <el-option label="VIP1" value="1"></el-option>
              <el-option label="VIP2" value="2"></el-option>
              <el-option label="VIP3" value="3"></el-option>
              <el-option label="VIP4" value="4"></el-option>
              <el-option label="VIP5" value="5"></el-option>
              <el-option label="VIP6" value="6"></el-option>
              <el-option label="VIP7" value="7"></el-option>
              <el-option label="VIP8" value="8"></el-option>
              <el-option label="VIP9" value="9"></el-option>
              <el-option label="VIP10" value="10"></el-option>
            </el-select>
            <span class="grade-span" v-show="ruleForm.grades.length > 0">已选 <span>{{ruleForm.grades.length}}</span> 项</span>
          </el-form-item>
          <el-form-item size="min" label="状态" prop="state">
            <el-select v-model="ruleForm.state" size="min" class="width-shotstatus" >
              <el-option label="全部" value="-1"></el-option>
              <el-option label="成功" value="1"></el-option>
              <el-option label="失败" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item  size="min" label="流水号" prop="recordCode">
            <el-input v-model="ruleForm.recordCode" class="width-search100" placeholder="请输入流水号"></el-input>
          </el-form-item>
          <el-form-item label="金额" class="width-search-money padding-less" >
            <el-col :span="11">
              <el-input type="text" placeholder="最低额" v-model="ruleForm.startAmount" style="width: 100%;"></el-input>
            </el-col>
            <el-col class="line" :span="2">-</el-col>
            <el-col :span="11">
              <el-input type="text" placeholder="最高额" v-model="ruleForm.endAmount" style="width: 100%;"></el-input>
            </el-col>
          </el-form-item>
          <el-form-item size="min" label="开始" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              size="min"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  @close="avatorVisible=false">
                  <el-form  size="small" v-if="screenW<=768" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent label-position="top" >
                    <el-form-item label="更新" size="min" prop="Update">
                      <el-select v-model="ruleForm.Update">
                        <el-option label="15秒" value="15"></el-option>
                        <el-option label="30秒" value="30"></el-option>
                        <el-option label="60秒" value="60"></el-option>
                        <el-option label="暂停" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="等级" size="min" prop="grades" class="grades-select">
                      <el-select v-model="ruleForm.grades" multiple popper-class="small-scroll-select select1 width-search90 " @visible-change="change('select1')">
                        <el-option label="测试组" value="-1"></el-option>
                        <el-option label="黑名单" value="0"></el-option>
                        <el-option label="VIP1" value="1"></el-option>
                        <el-option label="VIP2" value="2"></el-option>
                        <el-option label="VIP3" value="3"></el-option>
                        <el-option label="VIP4" value="4"></el-option>
                        <el-option label="VIP5" value="5"></el-option>
                        <el-option label="VIP6" value="6"></el-option>
                        <el-option label="VIP7" value="7"></el-option>
                        <el-option label="VIP8" value="8"></el-option>
                        <el-option label="VIP9" value="9"></el-option>
                        <el-option label="VIP10" value="10"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item size="min" label="状态" prop="state">
                      <el-select v-model="ruleForm.state" size="min" >
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="成功" value="1"></el-option>
                        <el-option label="失败" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item  size="min" label="账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item  size="min" label="流水号" prop="recordCode">
                      <el-input v-model="ruleForm.recordCode" placeholder="请输入流水号"></el-input>
                    </el-form-item>
                    <el-form-item label="金额" >
                      <el-col :span="24">
                        <el-input type="text" placeholder="请输入最低金额" v-model="ruleForm.startAmount"  style="100%" ></el-input>
                      </el-col>
                      <el-col :span="24">
                        <el-input type="text" placeholder="请输入最高金额" v-model="ruleForm.endAmount" class="margin-t6" style="100%"></el-input>
                      </el-col>
                    </el-form-item>
                    <el-form-item  label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300 fixed-height-tr" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">会员账号</div></th>
                  <th ><div class="cell">等级</div></th>
                  <th ><div class="cell">存入金额</div></th>
                  <th ><div class="cell">会员余额</div></th>
                  <th ><div class="cell">订单编号</div></th>
                  <th><div class="cell">存入账户</div></th>
                  <th ><div class="cell">备注</div></th>
                  <th><div class="cell">状态</div></th>
                  <th width="160px"><div class="cell">发起时间</div></th>
                  <th width="170px"><div class="cell">流水号</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell max-width145 min-width130 cursor-style color-blue" :id="'multipleTableUserName'+ index" @click="openContentForm('userName', '会员账号', items, 'multipleTableUserName' + index, 'multipleTableUserNameContent' + index)">
                        <span :title="items.userName"  :id="'multipleTableUserNameContent' + index">{{items.userName}}</span>
                      </div>
                    </td>
                    <td><div class="cell min-width60"><span>{{gradeFormatter(items)}}</span></div></td>
                    <td><div class="cell min-width80"> <span class="color-danger">{{items.amount | formatMoneyTwo}}</span></div></td>
                    <td><div class="cell min-width80"> <span>{{items.afterAmount | formatMoney}}</span></div></td>
                    <td><div class="cell"> <span>{{items.orderId}}</span></div></td>
                    <td><div class="cell td-width100 cursor-style" :id="'multipleTablePaySettingsNameColumn' + index" @click="openContentForm('paySettingsName', '存入账户', items, 'multipleTablePaySettingsNameColumn' + index, 'multipleTablePaySettingsNameContent' + index)">
                      <!--<span v-if="items.paySettingsNameFlag === 0">{{items.paySettingsName}}</span>-->
                      <!--<span  v-else class="hoverline-effet " @click="openContentForm('paySettingsName', '存入账户', items)" v-html="items.paySettingsNameContent"></span>-->
                      <span :title="items.paySettingsName"  :id="'multipleTablePaySettingsNameContent' + index">{{items.paySettingsName}}</span>
                      </div></td>
                    <td><div class="cell min-width120 max-width120 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                      <!--<span v-if="items.remarkFlag === 0">{{items.remark}}</span>-->
                      <!--<span v-else class="hoverline-effet hover-black " @click="openContentForm('remark', '备注', items)" v-html="items.remarkContent" ></span>-->
                      <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div></td>
                    <td><div class="cell">
                      <template v-if="items.state === 1">
                      <span class="color-success">成功</span>
                    </template>
                      <template v-else>
                        <span class="color-graystate">失败</span>
                      </template></div></td>
                    <td><div class="cell"> <span>{{items.gmtCreated}}</span></div></td>
                    <td><div class="cell"> <span>{{items.recordCode}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="2"><div class="cell">合计</div></td>
                    <td colspan="1"><div class="cell">{{summaryData['amount']}}</div></td>
                    <td colspan="7"><div class="cell">{{summaryData['afterAmount']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="10"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                :min-width="screenW > 768 ? '155':'160'"
                fixed>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="等级"
                :formatter="gradeFormatter"
                width="70">
              </el-table-column>
              <el-table-column
                prop="amount"
                label="存入金额"
                min-width="100">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.amount | formatMoneyTwo}}</span></template>
              </el-table-column>
              <el-table-column
                prop="afterAmount"
                label="会员余额"
                min-width="100">
                <template slot-scope="scope"><span>{{ scope.row.afterAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="订单编号"
                min-width="170" show-overflow-tooltip>
                <template  slot-scope="scope">
                  <span>{{scope.row.orderId}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="paySettingsName"
                label="存入账户"
                min-width="100">
              </el-table-column>
              <el-table-column
                label="备注"
                min-width="230" show-overflow-tooltip>
                <template  slot-scope="scope">
                  <span>{{scope.row.remark}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="state"
                label="状态"
                min-width="80">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === 1">
                    <span class="color-success">成功</span>
                  </template>
                  <template v-else>
                    <span class="color-graystate">失败</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="发起时间"
                :min-width="screenW >1024 ? '140':'180'">
              </el-table-column>
              <el-table-column
                label="流水号"
                prop="recordCode"
                :min-width="screenW >1024 ? '160':'220'">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="第四方充值订单"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{gradeFormatter(detailData)}}</span>
            </li>
            <li>
              <span>存入金额</span>
              <span>{{detailData.amount | formatMoneyTwo}}</span>
            </li>
            <li>
              <span>会员余额</span>
              <span>{{detailData.afterAmount | formatMoney}}</span>
            </li>
            <li>
              <span>订单编号</span>
              <span class="color-blue">{{detailData.orderId}}</span>
            </li>
            <li>
              <span>存入账户</span>
              <span>{{detailData.paySettingsName}}</span>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.remark}}</span>
            </li>
            <li>
              <span>状态</span>
              <template v-if="detailData.state === 0">
                <span class="color-graystate">支付中</span>
              </template>
              <template v-else-if="detailData.state === 1">
                <span class="color-success">支付成功</span>
              </template>
              <template v-else-if="detailData.state === 2">
                <span class="color-graystate">已取消</span>
              </template>
              <template v-else-if="detailData.state === 3">
                <span class="color-graystate">已取消</span>
              </template>
              <template v-else>
                <span class="color-graystate">未知状态</span>
              </template>
            </li>
            <li>
              <span>发起时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import {dateFormat} from '@/utils/index'
import Api from '@/api/transfer'
import {exportExl} from '@/utils/Time'
import {validateQueryDate, validateRules} from '@/utils/validateRules'
import {gradeData} from '@/utils/config'
import {formatMoney, formatMoneyTwo, getSummaries} from '@/filters/index'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import DafaLoading from '@/components/DafaLoading'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {getEllipsisFlag} from '@/utils'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      ruleForm: {
        Update: 15,
        state: '-1',
        grades: [],
        userName: '',
        recordCode: '',
        startTime: dateFormat(new Date(new Date().getTime() - 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        rechargeType: 2,
        startAmount: '',
        endAmount: ''
      },
      level: gradeData,
      allList: [],
      total: 0,
      state: {
        '0': '未处理',
        '1': '已确定',
        '2': '已取消',
        '3': '已取消'
      },
      timer: null,
      pageNum: 1,
      pageSize: 20,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      summaryColumns: {'amount': '1', 'afterAmount': '1'},
      summaryData: [],
      ellipsisColumns: [{name: 'paySettingsName', width: 80, formatterFunc: null},
        {name: 'remark', width: 100, formatterFunc: null}]
    }
  },
  mounted () {
    this.setTimer()
  },
  beforeDestroy () {
    this.ruleForm.Update = 0
    clearTimeout(this.timer)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoneyTwo(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    exportExcel () {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      if (submitData.startAmount !== '') {
        if (submitData.endAmount === '') {
          this.msgError('请输入最高金额')
          return
        }
      }
      if (submitData.endAmount !== '') {
        if (submitData.startAmount === '') {
          this.msgError('请输入最低金额')
          return
        }
      }
      if (submitData.startAmount !== '' && submitData.endAmount !== '') {
        if (!validateRules.number(submitData.startAmount)) {
          this.msgError('最低金额格式错误，只能为数值')
          return
        }
        if (!validateRules.number(submitData.endAmount)) {
          this.msgError('最高金额格式错误，只能为数值')
          return
        }
        if (Number(submitData.startAmount) > Number(submitData.endAmount)) {
          this.msgError('最低金额不能大于等于最高金额')
          return
        }
      }
      // console.log('submitData', submitData)
      let obj = this
      Api.paymentRecordList(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.rows
        let arr = ['支付中', '支付成功', '已取消', '已取消']
        let excel = '<tr><th>流水号</th><th>会员账号</th><th>等级</th><th>存入金额</th><th>会员余额<th>订单编号</th><th>存入账户</th><th>备注</th><th>状态</th><th>发起时间</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].recordCode}</th>
            <th>${excelarr[i].userName}</th>
            <th>${this.level[excelarr[i].grade]}</th>
            <th>${formatMoney(excelarr[i].amount)}</th>
            <th>${formatMoney(excelarr[i].afterAmount)}</th>
            <th>${excelarr[i].orderId}</th>
            <th>${excelarr[i].paySettingsName}</th>
            <th>${excelarr[i].remark}</th>
            <th>${arr[excelarr[i].state]}</th>
            <th>${excelarr[i].gmtCreated}</th>
          </tr>`
        }
        exportExl(excel, '第四方充值订单（' + submitData.startTime + '至' + submitData.endTime + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    setTimer () {
      if (!this.ruleForm || !this.ruleForm.Update || Number(this.ruleForm.Update) === 0) {
        if (this.timer) {
          clearTimeout(this.timer)
        }
        return
      }
      if (this.timer) {
        clearTimeout(this.timer)
      }
      this.getOrderList(this.pageNum, this.pageSize)
      this.timer = setTimeout(this.setTimer, Number(this.ruleForm.Update) * 1000)
    },
    gradeFormatter (row, column) {
      if (this.level[row.grade]) {
        return this.level[row.grade]
      }
      return '未知等级'
    },
    onSubmit () {
      this.pageNum = 1
      this.avatorVisible = false
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      if (submitData.startAmount !== '') {
        if (submitData.endAmount === '') {
          this.msgError('请输入最高金额')
          return
        }
      }
      if (submitData.endAmount !== '') {
        if (submitData.startAmount === '') {
          this.msgError('请输入最低金额')
          return
        }
      }
      if (submitData.startAmount !== '' && submitData.endAmount !== '') {
        if (!validateRules.number(submitData.startAmount)) {
          this.msgError('最低金额格式错误，只能为数值')
          return
        }
        if (!validateRules.number(submitData.endAmount)) {
          this.msgError('最高金额格式错误，只能为数值')
          return
        }
        if (Number(submitData.startAmount) > Number(submitData.endAmount)) {
          this.msgError('最低金额不能大于等于最高金额')
          return
        }
      }
      // console.log('submitData', submitData)
      // this.loading = true
      // this.$dafaloading.start()
      this.loading = true
      let obj = this
      Api.paymentRecordList(submitData, function () {
        obj.loading = false
        obj.$dafaloading.end()
      }).then((res) => {
        let allList = res.data.rows
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          this.loading = false
        })
      })
    },
    resetForm (formName) {
      this.ruleForm.startAmount = ''
      this.ruleForm.endAmount = ''
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DafaLoading,
    DatetimePicker
  }
}
</script>

<!--<style scoped>-->
<!--.report-data{-->
  <!--& .flexbox:not(.nav-color){-->
    <!--& div:nth-of-type(2){-->
        <!--color: var(&#45;&#45;color-blue);-->
    <!--}-->
  <!--}-->
  <!--& .flexbox{-->
    <!--& div:nth-of-type(6){-->
      <!--width:162px;-->
    <!--}-->
    <!--& div:nth-of-type(5){-->
      <!--width:70px;-->
    <!--}-->
    <!--& div:nth-of-type(7){-->
      <!--width:130px;-->
    <!--}-->
    <!--/*& div:nth-of-type(10){-->
      <!--flex-grow:0;-->
    <!--}*/-->
  <!--}-->
<!--}-->
<!--.inputWindth{-->
  <!--width: 150px;-->
<!--}-->
<!--.TypeWindth{-->
  <!--width: 90px;-->
<!--}-->
<!--@media screen and (max-width:1023px){-->
  <!--.post-btn{-->
    <!--text-align:center;-->
    <!--& div{-->
      <!--display:block;-->
    <!--}-->
  <!--}-->
  <!--.report-data{-->
      <!--border:0px;-->
    <!--}-->
  <!--.flexbox{-->
    <!--&.nav-color{-->
      <!--display:none;-->
    <!--}-->
  <!--}-->
<!--}-->

<!--</style>-->
