<template>
  <div class="panel">
    <div class="panel-heading">
      交易记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!--搜尋header-->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="min" class="small-padding-1r " v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="摘要" prop="dictionIds" class="grades-position account-position"  :class="{'grades-overflow':ruleForm.dictionIds.length > 1}">
            <el-select v-model="ruleForm.dictionIds" multiple class="grades-select width-grade" placeholder="全部" size="min" >
              <el-option
                v-for="item in options"
                :key="item.code"
                :label="item.name"
                :value="item.code" >
              </el-option>
            </el-select>
            <span class="grade-span" v-show="ruleForm.dictionIds.length > 0">已选 <span>{{ruleForm.dictionIds.length}}</span> 项</span>
          </el-form-item>
          <el-form-item label="账号类型" prop="isTest">
            <el-select v-model="ruleForm.isTest" class="width-search120" placeholder="请选择账号类型" size="min" >
              <el-option
                v-for="item in userType"
                :key="item.key"
                :label="item.name"
                :value="item.key" >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item size="min" label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-account" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item size="min" label="流水号" prop="recordCode">
            <el-input v-model="ruleForm.recordCode" class="width-number" placeholder="请输入流水号"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              type="datetime"
              class="width-search-hour"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              type="datetime"
              class="width-search-hour"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
        <!--搜尋header 響應式-->
      </div>
      <!-- 普通表格 -->
      <div class="report-data " :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="摘要" prop="dictionIds">
                      <el-select v-model="ruleForm.dictionIds" multiple placeholder="请选择摘要" size="min" popper-class="small-scroll-select select1" @visible-change="change('select1')">
                        <el-option
                          v-for="item in options"
                          :key="item.code"
                          :label="item.name"
                          :value="item.code">
                        </el-option>
                      </el-select>
                    </el-form-item>
                     <el-form-item label="账号类型" prop="isTest">
                      <el-select v-model="ruleForm.isTest" class="width-search120" placeholder="请选择账号类型" size="min" >
                        <el-option
                          v-for="item in userType"
                          :key="item.key"
                          :label="item.name"
                          :value="item.key">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item size="min" label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item size="min" label="流水号" prop="recordCode">
                      <el-input v-model="ruleForm.recordCode"  placeholder="请输入流水号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table table300" cellspacing="0">
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">会员账号</div></th>
                  <th><div class="cell">流水号</div></th>
                  <th><div class="cell">摘要</div></th>
                  <th><div class="cell">收入金额</div></th>
                  <th><div class="cell">支出金额</div></th>
                  <th><div class="cell">可用余额</div></th>
                  <th><div class="cell">时间</div></th>
                  <th><div class="cell">备注</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td><div class="cell"><span>{{items.recordCode}}</span></div></td>
                    <td>
                      <div class="cell max-width100 cursor-style" :id="'multipleTableDictionNameColumn' + index" @click="openContentForm('dictionName', '摘要', items, 'multipleTableDictionNameColumn' + index, 'multipleTableDictionNameContent' + index)">
                      <!--<span v-if="items.dictionNameFlag === 0">{{items.dictionName}}</span>-->
                      <!--<span v-else class="hoverline-effet hover-black ellipsis-style" @click="openContentForm('dictionName', '摘要', items)" v-html="items.dictionNameContent"></span></div></td>-->
                      <span :title="items.dictionName"  :id="'multipleTableDictionNameContent' + index">{{items.dictionName}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        <template v-if="items.inOut === 0" >
                          <span class="color-danger">{{ items.amount | formatMoney}}</span>
                        </template>
                        <template v-else>
                          <span >---</span>
                        </template>
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        <template v-if="items.inOut === 1" >
                          <span class="color-success">{{items.amount | formatMoney}}</span>
                        </template>
                        <template v-else>
                          <span >---</span>
                        </template>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{items.afterBalance | formatMoney}}</span></div></td>
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <td><div class="cell max-width120 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)" >
                      <!--<span v-if="items.remarkFlag === 0">{{items.remark}}</span>-->
                      <!--<span v-else class="hoverline-effet hover-black ellipsis-style" @click="openContentForm('remark', '备注', items)"  v-html="items.remarkContent" ></span>-->
                      <span :title="items.remark" :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                    </div></td>
                    <!--<td><div class="cell"> <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = index" ><i class="dafa-icon dafa-icon-copy"></i></div></div></td>-->
                  </tr>
                  <tr class="td-background">
                    <td><div class="cell" >合计</div></td>
                    <td><div class="cell" ></div></td>
                    <td><div class="cell" ></div></td>
                    <td colspan="1"><div class="cell" colspan="4">{{summaryData['inAmount'].toString() | formatMoney}}</div></td>
                    <td colspan="1"><div class="cell" colspan="5">{{summaryData['outAmount'].toString() | formatMoney}}</div></td>
                    <td colspan="3"><div class="cell">{{summaryData['afterBalance'].toString() | formatMoney}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="14"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                min-width="140"
                fixed show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue overflow-style">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="流水号"
                :min-width="screenW > 768 ? '180':'200'">
                <template slot-scope="scope">
                  <div>{{ scope.row.recordCode}}</div>
                </template>
              </el-table-column>
              <el-table-column
                prop="dictionName"
                label="摘要"
                min-width="120" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="inAmount"
                label="收入金额"
                :min-width="screenW > 768 ? '80':'150'">
                <template slot-scope="scope">
                  <template v-if="scope.row.inOut === 0" >
                    <span class="color-danger">{{ scope.row.amount | formatMoney}}</span>
                  </template>
                  <template v-else>
                    <span >---</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="outAmount"
                label="支出金额"
                :min-width="screenW > 768 ? '80':'150'">
                <template slot-scope="scope">
                  <template v-if="scope.row.inOut === 1" >
                    <span class="color-success">{{ scope.row.amount | formatMoney}}</span>
                  </template>
                  <template v-else>
                    <span >---</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="afterBalance"
                label="可用余额"
                :min-width="screenW > 768 ? '130':'150'">
                <template slot-scope="scope">
                  <span>{{ scope.row.afterBalance | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="时间"
                width="170">
              </el-table-column>
              <el-table-column
                prop="remark"
                label="备注" show-overflow-tooltip
                min-width="130">
              </el-table-column>
              <el-table-column
                label="操作"
                width="40" fixed="right" v-if="screenW > 768">
                <template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="交易记录"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
            <li>
              <span>摘要</span>
              <span v-html="detailData.dictionName"></span>
            </li>
            <li>
              <span>收入金额</span>
              <template v-if="detailData.inOut === 0" >
                <span class="color-danger">{{ detailData.amount | formatMoney}}</span>
              </template>
              <template v-else>
                <span >---</span>
              </template>
            </li>
            <li>
              <span>支出金额</span>
              <template v-if="detailData.inOut === 1" >
                <span class="color-success">{{detailData.amount | formatMoney}}</span>
              </template>
              <template v-else>
                <span >---</span>
              </template>
            </li>
            <li>
              <span>可用余额</span>
              <span>{{detailData.afterBalance | formatMoney}}</span>
            </li>
            <li>
              <span>时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.remark}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
// import TradesRecordingList from '../../components/dataTableList/TradesRecordingList'
import Api from '@/api/transfer'
import {dateFormat} from '@/utils/index'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import {formatMoney} from '@/filters/index'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {getEllipsisFlag} from '@/utils'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      options: [],
      ruleForm: {
        startDate: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endDate: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        isTest: '', // 增加条件账号类型
        recordCode: '',
        dictionIds: '',
        userName: ''
      },
      displaySelct: false,
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'inAmount': '1', 'outAmount': '1', 'afterBalance': '1'},
      summaryData: {},
      ellipsisColumns: [{name: 'dictionName', width: 100, formatterFunc: null},
        {name: 'remark', width: 100, formatterFunc: null}],
      // 增加账号类型、空是全部，1是测试，0是正式
      userType: [
        {
          key: '',
          name: '全部'
        },
        {
          key: '1',
          name: '测试账号'
        },
        {
          key: '0',
          name: '真实账号'
        }
      ]
    }
  },
  mounted () {
    let userName = this.$route.query.userName
    if (userName) {
      this.ruleForm.userName = userName
    }
    this.getOrderList(1, 20)
    this.getCommtData()
  },
  methods: {
    selectChange () {
      if (this.ruleForm.dictionIds.indexOf(' ')) {
        this.displaySelct = true
      }
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        let cloumnName = column.property
        if (column.property === 'inAmount' || column.property === 'outAmount') {
          cloumnName = 'amount'
        }
        let result = 0
        for (let i = 0; i < data.length; i++) {
          if (column.property === 'inAmount') {
            if (isNaN(data[i][cloumnName])) {
              continue
            }
            if (data[i].inOut === 0) {
              result += Number(data[i][cloumnName])
            }
            continue
          }
          if (column.property === 'outAmount') {
            if (isNaN(data[i][cloumnName])) {
              continue
            }
            if (data[i].inOut === 1) {
              result += Number(data[i][cloumnName])
            }
            continue
          }
          result += Number(data[i][cloumnName])
        }
        sums[index] = formatMoney(result)
      })
      return sums
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startDate = this.ruleForm.startDate
      submitData.endDate = this.ruleForm.endDate
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.getTransactionRecordsCms(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.rows
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        for (let item in this.summaryColumns) {
          this.summaryData[item] = Number(0)
        }
        for (let i = 0; i < this.allList.length; i++) {
          if (this.allList[i].inOut === 0) {
            this.summaryData['inAmount'] += Number(this.allList[i]['amount'])
          }
          if (this.allList[i].inOut === 1) {
            this.summaryData['outAmount'] += this.allList[i]['amount']
          }
          this.summaryData['afterBalance'] += Number(this.allList[i]['afterBalance'])
        }
        // console.log(this.summaryData)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getCommtData () {
      let submitData = {}
      Api.findDictionAll(submitData, function () {
      }).then((res) => {
        this.options = res.data
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
<style scoped>
.report-data{
  & .flexbox:not(.nav-color){
    & div:nth-of-type(2){
        color: var(--color-blue);
    }
  }
  & .flexbox{
    & div:nth-of-type(6){
      width:162px;
    }
    & div:nth-of-type(5){
      width:70px;
    }
    & div:nth-of-type(7){
      width:130px;
    }
    /*& div:nth-of-type(10){
      flex-grow:0;
    }*/
  }
}
.inputWindth{
  width: 150px;
}
.TypeWindth{
  width: 120px;
}
.grades-position{
  & ::-webkit-input-placeholder {
    color: #333;
  }
}
@media screen and (max-width:1023px){
  .post-btn{
    text-align:center;
    & div{
      display:block;
    }
  }
  .report-data{
      border:0px;
    }
  .flexbox{
    &.nav-color{
      display:none;
    }
  }
}

</style>
