<template>
  <div class="panel">
    <div class="panel-heading">
      人工存款记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" v-if="screenW>768" :loading="submitLoading">{{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!--搜尋header-->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="min" class="small-padding-1r" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-account" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="流水号" prop="recordCode">
            <el-input v-model="ruleForm.recordCode" class="width-number" placeholder="请输入流水号"></el-input>
          </el-form-item>
          <el-form-item label="类型" prop="dictionId">
            <el-select v-model="ruleForm.dictionId" placeholder="全部">
              <el-option label="全部" value=""></el-option>
              <el-option label="人工存款" value="401"></el-option>
              <el-option label="人工存入" value="402"></el-option>
              <el-option label="其他优惠" value="403"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')" >重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data " :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">

                  <el-form  size="small"  :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="流水号" prop="recordCode">
                      <el-input v-model="ruleForm.recordCode" placeholder="请输入流水号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="10%"><div class="cell">会员账号</div></th>
                  <th width="10%"><div class="cell">等级</div></th>
                  <th width="13%"><div class="cell">存入金额</div></th>
                  <th width="12%"><div class="cell">用户余额</div></th>
                  <th width="10%"><div class="cell">类型</div></th>
                  <th width="15%"><div class="cell">备注</div></th>
                  <th width="10%"><div class="cell">操作人</div></th>
                  <th width="10%"><div class="cell">操作时间</div></th>
                  <th width="10%"><div class="cell">流水号</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell max-width160"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td><div class="cell"><span>{{gradeFormatter(items)}}</span></div></td>
                    <td><div class="cell"> <span class="color-danger">{{items.amount | formatMoneyTwo}}</span></div></td>
                    <td><div class="cell"> <span>{{items.afterAmount | formatMoney}}</span></div></td>
                    <td><div class="cell"> <span>{{items.dictionName}}</span></div></td>
                    <td>
                     <div class="cell max-width160 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                      <!--<span v-if="items.remarkFlag === 0">{{items.remark}}</span>-->
                      <!--<span v-else class="hoverline-effet hover-black ellipsis-style" @click="openContentForm('remark', '备注', items)"  v-html="items.remarkContent" ></span>-->
                       <span :title="items.remark" :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                     </div></td>
                    <td><div class="cell"> <span>{{items.operator}}</span></div></td>
                    <td><div class="cell"> <span>{{items.operationTime}}</span></div></td>
                    <td><div class="cell"> <span>{{items.recordCode}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="2"><div class="cell">合计</div></td>
                    <td colspan="1"><div class="cell">{{summaryData['amount']}}</div></td>
                    <td colspan="6"><div class="cell">{{summaryData['afterAmount']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="9"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;" >
              <el-table-column
                label="会员账号"
                min-width="155"
                fixed
              >
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="等级"
                min-width="60"
                :formatter="gradeFormatter">
              </el-table-column>
              <el-table-column
                prop="amount"
                label="存入金额"
                min-width="100">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.amount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="afterAmount"
                label="用户余额"
                min-width="120">
                <template slot-scope="scope"><span>{{ scope.row.afterAmount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="dictionName"
                label="类型"
                min-width="100">
              </el-table-column>
              <el-table-column
                label="备注"
                min-width="150" show-overflow-tooltip>
                <template slot-scope="scope"><span>{{ scope.row.remark}}</span></template>
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                min-width="180">
              </el-table-column>
              <el-table-column
                prop="operationTime"
                label="操作时间"
                :min-width="screenW > 1024 ? '140' : '180'">
              </el-table-column>
              <el-table-column
                label="流水号"
                prop="recordCode"
                :min-width="screenW > 1024 ? '170' : '220'">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          title="人工存款记录"
          :visible="detailShow"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{gradeFormatter(detailData)}}</span>
            </li>
            <li>
              <span>存入金额</span>
              <span>{{detailData.amount | formatMoney}}</span>
            </li>
            <li>
              <span>用户余额</span>
              <span>{{detailData.afterAmount | formatMoney}}</span>
            </li>
            <li>
              <span>类型</span>
              <span>{{detailData.dictionName}}</span>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.remark}}</span>
            </li>
            <li>
              <span>操作人</span>
              <span>{{detailData.operator}}</span>
            </li>
            <li>
              <span>操作时间</span>
              <span>{{detailData.operationTime}}</span>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
// import RepositRecordList from '../../components/dataTableList/RepositRecordList'
import Api from '@/api/transfer'
import {dateFormat} from '@/utils/index'
import {exportExl} from '@/utils/Time'
import {validateQueryDate} from '@/utils/validateRules'
import {gradeData} from '@/utils/config'
import {formatMoney, getSummaries} from '@/filters/index'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {getEllipsisFlag} from '@/utils'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        recordCode: '',
        dictionId: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      // 列表数据
      allList: [],
      total: 0,
      level: gradeData,
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'amount': '1', 'afterAmount': '1'},
      summaryData: [],
      ellipsisColumns: [{name: 'remark', width: 198, formatterFunc: null}]
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    exportExcel () {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      submitData.inOutFlag = 1
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      // console.log('submitData', submitData)
      let obj = this
      Api.manualRecordList(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.rows
        let excel = '<tr><th>流水号</th><th>会员账号</th><th>等级</th><th>存入金额</th><th>用户余额<th>类型</th><th>说明</th><th>操作人</th><th>操作时间</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].recordCode}</th>
            <th>${excelarr[i].userName}</th>
            <th>${this.level[excelarr[i].grade]}</th>
            <th>${formatMoney(excelarr[i].amount)}</th>
            <th>${formatMoney(excelarr[i].afterAmount)}</th>
            <th>${excelarr[i].dictionName}</th>
            <th>${excelarr[i].remark}</th>
            <th>${excelarr[i].operator}</th>
            <th>${excelarr[i].operationTime}</th>
          </tr>`
        }
        exportExl(excel, '人工存款记录（' + submitData.startTime + '至' + submitData.endTime + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    resetForm (ruleForm) {
      this.$refs[ruleForm].resetFields()
      // console.log(88)
    },
    gradeFormatter (row, column) {
      // console.log('row', row)
      if (this.level[row.grade]) {
        return this.level[row.grade]
      }
      return '未知等级'
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageSize = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      submitData.inOutFlag = 1
      // console.log('submitData', submitData)
      this.avatorVisible = false
      this.loading = true
      let obj = this
      Api.manualRecordList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.rows
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
