<template>
  <div class="panel">
    <div class="panel-heading">
      彩票追号记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!--搜尋header-->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm"  size="min" class="small-padding-1r " v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-account" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="订单状态" prop="openState">
            <el-select v-model="ruleForm.openState" class="width-shotstatus" placeholder="请选择状态">
              <el-option label="全部" value=""></el-option>
              <el-option label="未开始" value="0"></el-option>
              <el-option label="进行中" value="1"></el-option>
              <el-option label="已结束" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="彩种" prop="lotteryCode">
            <el-select v-model="ruleForm.lotteryCode" class="width-lottery" placeholder="请选择彩种">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.lotteryCode"
                :label="item.lotteryName"
                :value="item.lotteryCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data " :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
             <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" class="width-search140" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="订单状态" prop="openState">
                      <el-select v-model="ruleForm.openState" class="width-search120" placeholder="请选择状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="未开始" value="0"></el-option>
                        <el-option label="进行中" value="1"></el-option>
                        <el-option label="已结束" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="彩种" prop="lotteryCode">
                      <el-select v-model="ruleForm.lotteryCode" class="width-search140" placeholder="请选择彩种" popper-class="small-scroll-select select1" @visible-change="change('select1')">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.lotteryCode"
                          :label="item.lotteryName"
                          :value="item.lotteryCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell min-width120">会员账号</div></th>
                  <th><div class="cell">彩种名称</div></th>
                  <th><div class="cell">起始期号</div></th>
                  <th><div class="cell">追号金额</div></th>
                  <th><div class="cell">奖金金额</div></th>
                  <th><div class="cell">已完成</div></th>
                  <th><div class="cell">已投金额</div></th>
                  <th><div class="cell">中奖即停</div></th>
                  <th><div class="cell">撤单金额</div></th>
                  <th><div class="cell">订单状态</div></th>
                  <th><div class="cell">投注时间</div></th>
                  <th><div class="cell">操作</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell max-width140"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td><div class="cell min-width100"><span>{{items.lotteryName}}</span></div></td>
                    <td><div class="cell min-width100"><span>{{items.startIssue}}</span></div></td>
                    <td><div class="cell min-width80"><span>{{items.chaseMoney | formatMoney}}</span></div></td>
                    <td><div class="cell min-width80"><span class="color-danger">{{items.bonusMoney | formatMoney}}</span></div></td>
                    <td><div class="cell min-width80"><span>{{items.completeIssue}}</span></div></td>
                    <td>
                      <div class="cell min-width80">
                        <span>{{items.compelteMoney | formatMoney}}</span>
                      </div>
                    </td>
                    <td><div class="cell"><span>
                      <template v-if="items.isStopAfterWinning">是</template>
                      <template v-else>否</template>
                    </span></div></td>
                    <td><div class="cell"><span>{{items.revocationMoney | formatMoney}}</span></div></td>
                    <td><div class="cell min-width80"><span @click="detailVisable = true">{{ items.state | formatState}}</span></div></td>
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <td><div class="cell">
                      <div class="table-btnbox ">
                      <el-button type="text" size="mini" class="margin-r6">
                        <span class="color-bluebutton"  @click="getDetailInfo(items)">详细</span>
                      </el-button>
                    </div></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="3"><div class="cell">合计</div></td>
                    <td colspan="1"><div class="cell">{{summaryData['chaseMoney']}}</div></td>
                    <td colspan="2"><div class="cell">{{summaryData['bonusMoney']}}</div></td>
                    <td colspan="2"><div class="cell">{{summaryData['compelteMoney']}}</div></td>
                    <td colspan="4"><div class="cell">{{summaryData['revocationMoney']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="12"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                fixed
                min-width="130">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="lotteryName"
                label="彩种名称"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="startIssue"
                label="起始期号"
                min-width="120">
              </el-table-column>
              <el-table-column
                prop="chaseMoney"
                label="追号金额"
                min-width="100">
                <template slot-scope="scope"><span>{{ scope.row.chaseMoney | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="bonusMoney"
                label="奖金金额"
                min-width="130">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.bonusMoney | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="completeIssue"
                label="已完成"
                min-width="70">
              </el-table-column>
              <el-table-column
                prop="compelteMoney"
                label="已投金额"
                min-width="130">
                <template slot-scope="scope"><span>{{ scope.row.compelteMoney | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="isStopAfterWinning"
                label="中奖即停"
                min-width="70">
                <template slot-scope="scope">
                  <template v-if="scope.row.isStopAfterWinning">
                    是
                  </template>
                  <template v-else>
                    否
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="revocationMoney"
                label="撤单金额"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="state"
                label="订单状态"
                min-width="80">
                <template slot-scope="scope"><span @click="detailVisable = true">{{ scope.row.state | formatState}}</span></template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="投注时间"
                min-width="180">
              </el-table-column>
              <el-table-column
                label="操作"
                fixed="right"
                v-if="screenW>768"
                 width="70">
                <template slot-scope="scope">
                  <div class="table-btnbox ">
                    <el-button type="text" size="mini" class="margin-r6">
                      <span class="color-bluebutton"  @click="getDetailInfo(scope.row)">详细</span>
                    </el-button>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="getDetailInfo(detailData)" >详细</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <div :class="{'btn-style':btnStyle}"></div>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="彩票追号记录"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>彩种名称</span>
              <span>{{detailData.lotteryName}}</span>
            </li>
            <li>
              <span>起始期号</span>
              <span>{{detailData.startIssue}}</span>
            </li>
            <li>
              <span>追号金额</span>
              <span>{{detailData.chaseMoney | formatMoney}}</span>
            </li>
            <li>
              <span>奖金金额</span>
              <span>{{detailData.bonusMoney | formatMoney}}</span>
            </li>
            <li>
              <span>已完成</span>
              <span>{{detailData.completeIssue}}</span>
            </li>
            <li>
              <span>已投金额</span>
              <span>{{detailData.compelteMoney | formatMoney}}</span>
            </li>
            <li>
              <span>中奖即停</span>
              <template v-if="detailData.isStopAfterWinning">
                <span>是</span>
              </template>
              <template v-else>
                <span>否</span>
              </template>
            </li>
            <li>
              <span>撤单金额</span>
              <span>{{detailData.revocationMoney | formatMoney}}</span>
            </li>
            <li>
              <span>订单状态</span>
              <span>{{detailData.state | formatState}}</span>
            </li>
            <li>
              <span>投注时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot ">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
// import SeekOrderList from '../../components/dataTableList/SeekOrderList'
// import ApiSys from '@/api/sys'
import ApiReport from '@/api/report'
import Api from '@/api/transfer'
import {dateFormat} from '@/utils/index'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import {formatMoney, getSummaries} from '@/filters/index'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      rwdNumber: '',
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      submitLoading: false,
      loading: false,
      detailVisable: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      avatorVisible: false,
      selectData: {},
      ruleForm: {
        userName: '',
        lotteryCode: '',
        openState: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      // 列表数据
      allList: [],
      total: 0,
      options: [],
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'chaseMoney': '1', 'bonusMoney': '1', 'compelteMoney': '1', 'revocationMoney': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getLotteryData()
    this.getOrderList(1, 20)
  },
  filters: {
    formatState (v) {
      switch (v) {
        case 0:
          return '未开始'
        case 1:
          return '进行中'
        case 2:
          return '已结束'
        default:
          return '未知状态'
      }
    }
  },
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    getDetailInfo (v) {
      this.$router.push({
        path: '/transaction/SeekOrderDetail',
        query: {
          id: v.id
        }
      })
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.getChaseBetDataList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.chaseOrderList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getLotteryData () {
      let submitData = {}
      ApiReport.getSiteLottery(submitData, function () {
      }).then((res) => {
        this.options = res.data
      })
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
<style scoped>
</style>
