<template>
  <div class="panel">
    <div class="panel-heading">
      充值记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!--搜尋header-->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="min" class="small-padding-1r" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="充值方式" prop="dictionId">
            <el-select v-model="ruleForm.dictionId" class="width-search80" placeholder="请选择充值方式" size="min">
              <el-option
                v-for="item in options"
                :key="item.code"
                :label="item.name"
                :value="item.code">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="状态" prop="state">
            <el-select v-model="ruleForm.state" class="width-shotstatus" placeholder="请选择状态">
              <el-option label="全部" value="-1"></el-option>
              <el-option label="申请中" value="0"></el-option>
              <el-option label="已确定" value="1"></el-option>
              <el-option label="已取消" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="账号类型" prop="isTest">
            <el-select v-model="ruleForm.isTest" class="width-search80" placeholder="请选择账号类型" size="min" >
              <el-option
                v-for="item in userType"
                :key="item.key"
                :label="item.name"
                :value="item.key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-search80" placeholder="会员账号"></el-input>
          </el-form-item>
          <el-form-item label="流水号" prop="recordCode">
            <el-input v-model="ruleForm.recordCode" class="width-search80" placeholder="流水号"></el-input>
          </el-form-item>
          <el-form-item label="操作人" prop="operator">
            <el-input v-model="ruleForm.operator" class="width-search70" placeholder="操作人"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour width-search-hour120"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour width-search-hour120"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data "  :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  @close="avatorVisible=false">

                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="充值方式" prop="dictionId">
                      <el-select v-model="ruleForm.dictionId" class="width-search120" placeholder="请选择充值方式" size="min">
                        <el-option
                          v-for="item in options"
                          :key="item.code"
                          :label="item.name"
                          :value="item.code">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="状态" prop="state">
                      <el-select v-model="ruleForm.state"  placeholder="请选择状态">
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="申请中" value="0"></el-option>
                        <el-option label="已确定" value="1"></el-option>
                        <el-option label="已取消" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="账号类型" prop="isTest">
                      <el-select v-model="ruleForm.isTest" class="width-search120" placeholder="请选择账号类型" size="min" >
                        <el-option
                          v-for="item in userType"
                          :key="item.key"
                          :label="item.name"
                          :value="item.key">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="流水号" prop="recordCode">
                      <el-input v-model="ruleForm.recordCode"  placeholder="请输入流水号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table table300 lottery-table" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="15%"><div class="cell">会员账号</div></th>
                  <th width="17%"><div class="cell">流水号</div></th>
                  <th width="10%"><div class="cell">金额</div></th>
                  <th width="10%"><div class="cell">充值方式</div></th>
                  <th width="12%"><div class="cell">备注</div></th>
                  <th width="10%"><div class="cell">状态</div></th>
                  <th width="15%"><div class="cell">发起时间</div></th>
                  <th width="10%"><div class="cell">操作人</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td><div class="cell"><span>{{items.recordCode}}</span></div></td>
                    <td><div class="cell"><span class="color-danger">{{items.amount | formatMoney}}</span></div></td>
                    <td>
                      <div class="cell max-width100 cursor-style" :id="'multipleTableDictionNameColumn' + index" @click="openContentForm('dictionName', '充值方式', items, 'multipleTableDictionNameColumn' + index, 'multipleTableDictionNameContent' + index)">
                      <!--<span v-if="items.dictionNameFlag === 0">{{items.dictionName}}</span>-->
                      <!--<span v-else class="hoverline-effet hover-black ellipsis-style" @click="openContentForm('dictionName', '充值方式', items)" v-html="items.dictionNameContent"></span>-->
                        <span :title="items.dictionName" :id="'multipleTableDictionNameContent' + index">{{items.dictionName}}</span>
                     </div>
                    </td>
                    <td>
                      <div class="cell max-width120 cursor-style" :id="'multipleTableAbstractNameColumn' + index" @click="openContentForm('abstractName', '备注', items, 'multipleTableAbstractNameColumn' + index, 'multipleTableAbstractNameContent' + index)">
                        <!--<span v-if="items.abstractNameFlagetEllipsisFlagg === 0">{{items.abstractName}}</span>-->
                        <!--<span v-else class="hoverline-effet hover-black ellipsis-style" @click="openContentForm('abstractName', '备注', items)" v-html="items.abstractNameContent"></span>-->
                        <span :title="items.abstractName"  :id="'multipleTableAbstractNameContent' + index">{{items.abstractName}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        <template v-if="items.state === 0">
                        处理中
                        </template>
                        <template v-else-if="items.state === 1">
                        已存入
                        </template>
                        <template v-else-if="items.state === 2">
                        已取消
                        </template>
                        <template v-else-if="items.state === 3">
                        恢复取消
                        </template>
                        <template v-else>
                        未知状态
                        </template>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <!--操作人-->
                    <td>
                      <div v-if="items.state === 0" class="cell td-width75">
                        <span>---</span>
                      </div>
                      <div v-else-if="(items.state === 1 || items.state === 2 || items.state === 3) && items.operator === '0'" class="cell min-width60 max-width80">
                        <span>---</span>
                      </div>
                      <div v-else class="cell td-width75 cursor-style" @click="openContentForm('operator', '操作人', items, 'multipleTableOperatorColumn' + index, 'multipleTableOperatorContent' + index)" :id="'multipleTableOperatorColumn' + index">
                        <span :title="items.operator" :id="'multipleTableOperatorContent' + index">{{items.operator}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="2"><div class="cell">合计</div></td>
                    <td colspan="6"><div class="cell">{{summaryData['amount']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                min-width="130"
                fixed
              >
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="流水号"
                prop="recordCode"
                :min-width="screenW > 7678 ? '180':'220'">
              </el-table-column>
              <el-table-column
                prop="amount"
                label="金额"
                min-width="100">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.amount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="dictionName"
                label="充值方式"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="abstractName"
                label="备注"
                min-width="100" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="state"
                label="状态"
                min-width="80">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === 0">
                    处理中
                  </template>
                  <template v-else-if="scope.row.state === 1">
                    已存入
                  </template>
                  <template v-else-if="scope.row.state === 2">
                    已取消
                  </template>
                  <template v-else-if="scope.row.state === 3">
                    恢复取消
                  </template>
                  <template v-else>
                    未知状态
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="发起时间"
                width="180">
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                :min-width="180">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === 0">
                    <span>---</span>
                  </template>
                  <template v-else-if="(scope.row.state === 1 || scope.row.state === 2 || scope.row.state === 3) && scope.row.operator === '0'">
                    <span>---</span>
                  </template>
                  <template v-else>
                    <span>{{scope.row.operator}}</span>
                  </template>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="充值记录"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
            <li>
              <span>金额</span>
              <span>{{detailData.amount | formatMoney}}</span>
            </li>
            <li>
              <span>充值方式</span>
              <span>{{detailData.dictionName}}</span>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.abstractName}}</span>
            </li>
            <li>
              <span>状态</span>
              <template v-if="detailData.state === 0">
                <span class="color-graystate">处理中</span>
              </template>
              <template v-else-if="detailData.state === 1">
                <span class="color-graystate">已存入</span>
              </template>
              <template v-else-if="detailData.state === 2">
                <span class="color-graystate">已取消</span>
              </template>
              <template v-else-if="detailData.state === 3">
                <span class="color-graystate">恢复取消</span>
              </template>
              <template v-else>
                <span class="color-graystate">未知状态</span>
              </template>
            </li>
            <li>
              <span>发起时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>操作人</span>
              <template v-if="detailData.state === 0 || detailData.operator === '0'">
                <span>---</span>
              </template>
              <template v-else>
                <span>{{detailData.operator}}</span>
              </template>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import {dateFormat} from '@/utils/index'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {formatMoney, getSummaries} from '@/filters/index'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {getEllipsisFlag} from '@/utils'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        recordCode: '',
        state: '-1',
        dictionId: '',
        isTest: '-1', // 增加条件账号类型
        operator: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      options: [
        {code: '', name: '全部'},
        {code: '101', name: '网银支付'},
        {code: '102', name: '银行转账'},
        {code: '103', name: '支付宝'},
        {code: '104', name: '微信支付'},
        {code: '105', name: 'QQ钱包'},
        {code: '108', name: '云闪付'},
        {code: '109', name: '京东钱包'},
        {code: '106', name: '第四方支付'},
        {code: '107', name: '银联支付'},
        {code: '401', name: '人工存款'}
      ],
      summaryColumns: {'amount': '1'},
      summaryData: [],
      ellipsisColumns: [{name: 'dictionName', width: 180, formatterFunc: null},
        {name: 'abstractName', width: 130, formatterFunc: null}],
      // 增加账号类型、空是全部，1是测试，0是正式
      userType: [
        {
          key: '-1',
          name: '全部'
        },
        {
          key: '1',
          name: '测试账号'
        },
        {
          key: '0',
          name: '真实账号'
        }
      ]
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      // console.log('submitData', submitData)
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.summaryPaymentRecordList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.rows
        // getEllipsisHtml(this.ellipsisColumns, allList)
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
