<template>
  <div class="panel">
    <div class="panel-heading">
      打赏记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">

      <!--搜尋header-->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="min" class="small-padding-1r " v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="inputWindth" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="流水号" prop="recordCode">
            <el-input v-model="ruleForm.recordCode" class="inputWindth" placeholder="请输入流水号"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data " :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">

                  <el-form  size="small" v-show="screenW<=768" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" class="inputWindth" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="流水号" prop="recordCode">
                      <el-input v-model="ruleForm.recordCode" class="inputWindth" placeholder="请输入流水号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--  电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table table300 lottery-table" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="10%"><div class="cell">会员账号</div></th>
                  <th width="14%"><div class="cell">流水号</div></th>
                  <th width="10%"><div class="cell">直播编号</div></th>
                  <th width="10%"><div class="cell">主播名称</div></th>
                  <th width="10%"><div class="cell">礼物名称</div></th>
                  <th width="10%"><div class="cell">礼物数量</div></th>
                  <th width="10%"><div class="cell">礼物金额</div></th>
                  <th width="10%"><div class="cell">打赏金额</div></th>
                  <th width="15%"><div class="cell">时间</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td><div class="cell"><span>{{items.recordCode}}</span></div></td>
                    <td><div class="cell"><span>{{items.lotteryCode}}</span></div></td>
                    <td><div class="cell"><span>{{items.anchorName}}</span></div></td>
                    <td><div class="cell"><span>{{items.giftName}}</span></div></td>
                    <td><div class="cell"><span>{{items.combo}}</span></div></td>
                    <td>
                      <div class="cell">
                        <span>{{items.giftPrice | formatMoney}}</span>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{items.amount | formatMoney}}</span></div></td>
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="7"><div class="cell">合计</div></td>
                    <td colspan="2"><div class="cell">{{summaryData['amount']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="9"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
           <!--  手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                min-width="130"
                fixed>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="流水号"
                :min-width="screenW > 768 ? '180':'220'">
                <template slot-scope="scope">
                  <div>{{ scope.row.recordCode}}</div>
                </template>
              </el-table-column>
              <el-table-column
                prop="lotteryCode"
                label="直播编号"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="anchorName"
                label="主播名称"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="giftName"
                label="礼物名称"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="combo"
                label="礼物数量"
                min-width="90">
              </el-table-column>
              <el-table-column
                label="礼物金额"
                min-width="80">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.giftPrice | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="amount"
                label="打赏金额"
                min-width="80">
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.amount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="时间"
                width="180">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
          <popover-right
            :modal="false"
            :visible="detailShow"
            title="打赏记录"
            @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
            <li>
              <span>直播编号</span>
              <span>{{detailData.lotteryCode}}</span>
            </li>
            <li>
              <span>主播名称</span>
              <span>{{detailData.anchorName}}</span>
            </li>
            <li>
              <span>礼物名称</span>
              <span>{{detailData.giftName}}</span>
            </li>
            <li>
              <span>礼物数量</span>
              <span>{{detailData.combo}}</span>
            </li>
            <li>
              <span>礼物金额</span>
              <span>{{detailData.giftPrice | formatMoney}}</span>
            </li>
            <li>
              <span>打赏金额</span>
              <span>{{detailData.amount | formatMoney}}</span>
            <li>
              <span>时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
          </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import {dateFormat} from '@/utils/index'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {formatMoney, getSummaries} from '@/filters/index'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        recordCode: '',
        startDate: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endDate: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      // 列表数据
      allList: [],
      pageNum: 1,
      pageSize: 20,
      total: 0,
      summaryColumns: {'amount': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startDate = this.ruleForm.startDate
      submitData.endDate = this.ruleForm.endDate
      // console.log('submitData', submitData)
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.getLiveTipRecordList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
<style scoped>
.report-data{
  & .flexbox:not(.nav-color){
    & div:nth-of-type(2){
        color: var(--color-blue);
    }
  }
  & .flexbox{
    & div:nth-of-type(6){
      width:162px;
    }
    & div:nth-of-type(5){
      width:70px;
    }
    & div:nth-of-type(7){
      width:130px;
    }
    /*& div:nth-of-type(10){
      flex-grow:0;
    }*/
  }
}
.inputWindth{
  width: 150px;
}
.TypeWindth{
  width: 90px;
}
@media screen and (max-width:1023px){
  .post-btn{
    text-align:center;
    & div{
      display:block;
    }
  }
  .report-data{
      border:0px;
    }
  .flexbox{
    &.nav-color{
      display:none;
    }
  }
}
</style>
