<template>
  <div class="panel">
    <div class="panel-heading">
      提现订单管理<dafa-loading v-if="loading"></dafa-loading>
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form  size="small"  v-if="screenW>768" :inline="true" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="更新" prop="Update">
            <el-select v-model="ruleForm.Update" @change="setTimer" class="width-shotstatus">
              <el-option label="15秒" value="15"></el-option>
              <el-option label="30秒" value="30"></el-option>
              <el-option label="60秒" value="60"></el-option>
              <el-option label="暂停" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-search100 padding-less" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="等级" prop="grades" class="grades-position" :class="{'grades-overflow':ruleForm.grades.length > 1}">
            <el-select v-model="ruleForm.grades" multiple class="grades-select  width-grade " placeholder="请选择">
              <el-option label="测试组" value="-1"></el-option>
              <el-option label="黑名单" value="0"></el-option>
              <el-option label="VIP1" value="1"></el-option>
              <el-option label="VIP2" value="2"></el-option>
              <el-option label="VIP3" value="3"></el-option>
              <el-option label="VIP4" value="4"></el-option>
              <el-option label="VIP5" value="5"></el-option>
              <el-option label="VIP6" value="6"></el-option>
              <el-option label="VIP7" value="7"></el-option>
              <el-option label="VIP8" value="8"></el-option>
              <el-option label="VIP9" value="9"></el-option>
              <el-option label="VIP10" value="10"></el-option>
            </el-select>
            <span class="grade-span" v-show="ruleForm.grades.length > 0">已选 <span>{{ruleForm.grades.length}}</span> 项</span>
          </el-form-item>
          <el-form-item label="状态" prop="state">
            <el-select v-model="ruleForm.state" class="width-midstatus">
              <el-option label="全部" value="-1"></el-option>
              <el-option label="申请中" value="0"></el-option>
              <el-option label="已确定" value="1"></el-option>
              <el-option label="已取消" value="2"></el-option>
              <el-option label="已拒绝" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="金额" class="width-search-money padding-less">
            <el-col :span="11">
              <el-input type="text" placeholder="最低额" v-model="ruleForm.startAmount"></el-input>
            </el-col>
            <el-col class="line" :span="2">-</el-col>
            <el-col :span="11">
              <el-input type="text" placeholder="最高额" v-model="ruleForm.endAmount"></el-input>
            </el-col>
          </el-form-item>
          <el-form-item label="开始" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button  size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  @close="avatorVisible=false">
                  <el-form  size="small" v-show="screenW<768" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="更新">
                      <el-select v-model="ruleForm.Update" @change="setTimer"  placeholder="请选择状态">
                        <el-option label="15秒" value="15"></el-option>
                        <el-option label="30秒" value="30"></el-option>
                        <el-option label="60秒" value="60"></el-option>
                        <el-option label="暂停" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="状态" prop="state">
                      <el-select v-model="ruleForm.state" placeholder="请选择状态">
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="申请中" value="0"></el-option>
                        <el-option label="已确定" value="1"></el-option>
                        <el-option label="已取消" value="2"></el-option>
                        <el-option label="已拒绝" value="3"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="等级" prop="grades" class="grades-select">
                      <el-select v-model="ruleForm.grades" multiple placeholder="请选择等级" popper-class="small-scroll-select  select1" @visible-change="change('select1')">
                        <el-option label="测试组" value="-1"></el-option>
                        <el-option label="黑名单" value="0"></el-option>
                        <el-option label="VIP1" value="1"></el-option>
                        <el-option label="VIP2" value="2"></el-option>
                        <el-option label="VIP3" value="3"></el-option>
                        <el-option label="VIP4" value="4"></el-option>
                        <el-option label="VIP5" value="5"></el-option>
                        <el-option label="VIP6" value="6"></el-option>
                        <el-option label="VIP7" value="7"></el-option>
                        <el-option label="VIP8" value="8"></el-option>
                        <el-option label="VIP9" value="9"></el-option>
                        <el-option label="VIP10" value="10"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="金额">
                      <el-col :span="24">
                        <el-input type="text" placeholder="请输入最低金额" v-model="ruleForm.startAmount" style="width: 100%;"></el-input>
                      </el-col>
                      <el-col :span="24">
                        <el-input type="text" placeholder="请输入最高金额" v-model="ruleForm.endAmount" style="width: 100%;" class="margin-t6"></el-input>
                      </el-col>
                    </el-form-item>
                    <el-form-item label="开始时间"  prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300 fixed-height-tr" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">会员账号</div></th>
                  <th><div class="cell">等级</div></th>
                  <th ><div class="cell">银行类型</div></th>
                  <th ><div class="cell">提现金额</div></th>
                  <th ><div class="cell">申请时间</div></th>
                  <th ><div class="cell">操作状态</div></th>
                  <th width="100px"><div class="cell">操作人</div></th>
                  <th ><div class="cell">操作时间</div></th>
                  <th ><div class="cell">流水号</div></th>
                  <th ><div class="cell">备注</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--会员账号-->
                    <td >
                      <div class="cell max-width145 min-width130 cursor-style color-blue" :id="'multipleTableUserName'+ index" @click="openContentForm('userName', '会员账号', items, 'multipleTableUserName' + index, 'multipleTableUserNameContent' + index)">
                        <span :title="items.userName"  :id="'multipleTableUserNameContent' + index">{{items.userName}}</span>
                      </div>
                    </td>
                    <!--等级-->
                    <td><div class="cell min-width60"> <span>{{gradeFormatter(items)}}</span></div></td>
                    <!--银行类型-->
                    <td><div class="cell min-width80"><span>{{items.bankName|setBankName}}</span></div></td>
                    <!--提现金额-->
                    <td><div class="cell min-width60" ><span @click="handleQueryWithdrawOrderDetails(index, items)"  class="color-danger hoverline-effet">{{items.withdrawAmount | formatMoneyTwo}}</span></div></td>
                    <!--申请时间-->
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <!--操作状态-->
                    <td><div style="width: 255px" class="cell">
                      <template v-if="!items.isLock && items.state === 0">
                        <div class="state-btn">
                          <el-button
                            size="mini"
                            @click="handleWithdrawal(index, items, -2)" :disabled="items.DisableLockButton" :loading="items.isDisableLockButton">锁定</el-button>
                          <el-button
                            size="mini"
                            @click="handleWithdrawal(index, items, 1)" disabled>确定</el-button>
                          <el-button
                            size="mini"
                            @click="handleWithdrawal(index.$index, items, 2)" disabled>取消</el-button>
                          <el-button
                            size="mini"
                            @click="handleWithdrawal(index.$index, items, 3)" disabled>拒绝</el-button>
                        </div>
                      </template>
                      <template v-else-if="items.isLock && items.state === 0 && ($store.state.currentUser.toLowerCase() === items.operator.toLowerCase() || 'dafacloud-'+$store.state.currentUser.toLowerCase() === items.operator.toLowerCase())">
                        <div class="state-btn">
                          <el-button
                            size="mini"
                            @click="handleWithdrawal(index, items, -1)" :disabled="items.DisableCancelLockButton" :loading="items.isDisableCancelLockButton">取消锁定</el-button>
                          <el-button
                            size="mini"
                            @click="handleWithdrawal(index, items, 1)" :disabled="items.DisableOKButton" :loading="items.isDisableOKButton">确定</el-button>
                          <el-button
                            size="mini"
                            @click="handleWithdrawal(index, items, 2)" :disabled="items.DisableCancelButton" :loading="items.isDisableCancelButton">取消</el-button>
                          <el-button
                            size="mini"
                            @click="handleWithdrawal(index, items, 3)" :disabled="items.DisableRefuseButton" :loading="items.isDisableRefuseButton">拒绝</el-button>
                        </div>
                      </template>
                      <template v-else-if="items.isLock && items.state === 0 && $store.state.currentUser.toLowerCase() !== items.operator.toLowerCase() && 'dafacloud-'+$store.state.currentUser.toLowerCase() !== items.operator.toLowerCase()">
                        {{items.operator}} 已锁定
                      </template>
                      <template v-else-if="items.isLock && items.state === 1">
                        <span class="color-success">已确定</span>
                      </template>
                      <template v-else-if="items.state === 2">
                        <span class="color-graystate">已取消</span>
                      </template>
                      <template v-else-if="items.isLock && items.state === 3">
                        <span class="color-graystate">已拒绝</span>
                      </template>
                      <template v-else>
                        未知状态
                      </template>
                    </div>
                    </td>
                    <!--操作人-->
                    <td>
                      <div v-if="!items.isLock && items.state === 0" class="cell td-width75">
                        <span>---</span>
                      </div>
                      <div v-else-if="(items.state === 1 || items.state === 2 || items.state === 3) && items.operator === '0'" class="cell min-width60 max-width80">
                        <span>---</span>
                      </div>
                      <div v-else class="cell td-width75 cursor-style" @click="openContentForm('operator', '操作人', items, 'multipleTableOperatorColumn' + index, 'multipleTableOperatorContent' + index)" :id="'multipleTableOperatorColumn' + index">
                        <span :title="items.operator" :id="'multipleTableOperatorContent' + index">{{items.operator}}</span>
                      </div>
                    </td>
                    <!--操作时间-->
                    <td><div class="cell td-width145">
                      <template v-if="!items.isLock && items.state === 0">
                        <span>---</span>
                      </template>
                      <template v-else>
                        <span>{{items.operationTime}}</span>
                      </template></div>
                    </td>
                    <!--流水号-->
                    <td><div class="cell"><span>{{items.recordCode}}</span></div></td>
                    <!--备注-->
                    <td @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                      <div class="cell min-width80 max-width80 cursor-style" :id="'multipleTableRemarkColumn' + index">
                        <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="3"><div class="cell">合计</div></td>
                    <td colspan="8"><div class="cell">{{totalAmount}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="11"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                min-width="140" show-overflow-tooltip
                fixed>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="等级"
                width="70"
                :formatter="gradeFormatter">
              </el-table-column>
              <el-table-column
                prop="bankName"
                label="银行类型"
                min-width="90">
                <template slot-scope="scope">
                  <span>{{scope.row.bankName|setBankName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="withdrawAmount"
                label="提现金额"
                min-width="90">
                <template slot-scope="scope">
                  <span  v-if="screenW > 768" type="text" class="color-danger hoverline-effet" @click="handleQueryWithdrawOrderDetails(scope.$index, scope.row)">{{ scope.row.withdrawAmount | formatMoneyTwo}}</span>
                  <span v-else class="color-danger hoverline-effet">{{ scope.row.withdrawAmount | formatMoneyTwo}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="申请时间"
                :min-width="screenW >1024 ? '155':'180'">
              </el-table-column>
              <el-table-column
                prop="state"
                label="操作状态"
                :min-width="270">
                <template slot-scope="scope">
                  <template v-if="screenW > 768">
                    <template v-if="!scope.row.isLock && scope.row.state === 0">
                      <div class="state-btn">
                        <el-button
                          size="mini"
                          @click="handleWithdrawal(scope.$index, scope.row, -2)" :disabled="scope.row.isDisableLockButton ? true : false" :loading="scope.row.isDisableLockButton">锁定</el-button>
                        <el-button
                          size="mini"
                          @click="handleWithdrawal(scope.$index, scope.row, 1)" disabled>确定</el-button>
                        <el-button
                          size="mini"
                          @click="handleWithdrawal(scope.$index, scope.row, 2)" disabled>取消</el-button>
                        <el-button
                          size="mini"
                          @click="handleWithdrawal(scope.$index, scope.row, 3)" disabled>拒绝</el-button>
                      </div>
                    </template>
                    <template v-else-if="scope.row.isLock && scope.row.state === 0 && ($store.state.currentUser.toLowerCase() === scope.row.operator.toLowerCase() || 'dafacloud-'+$store.state.currentUser.toLowerCase() === scope.row.operator.toLowerCase())">
                      <div class="state-btn">
                        <el-button
                          size="mini"
                          @click="handleWithdrawal(scope.$index, scope.row, -1)" :disabled="scope.row.isDisableCancelLockButton ? true : false" :loading="scope.row.isDisableCancelLockButton">取消锁定</el-button>
                        <el-button
                          size="mini"
                          @click="handleWithdrawal(scope.$index, scope.row, 1)" :disabled="scope.row.isDisableOKButton ? true : false" :loading="scope.row.isDisableOKButton">确定</el-button>
                        <el-button
                          size="mini"
                          @click="handleWithdrawal(scope.$index, scope.row, 2)" :disabled="scope.row.isDisableCancelButton ? true : false" :loading="scope.row.isDisableCancelButton">取消</el-button>
                        <el-button
                          size="mini"
                          @click="handleWithdrawal(scope.$index, scope.row, 3)" :disabled="scope.row.isDisableRefuseButton ? true : false" :loading="scope.row.isDisableRefuseButton">拒绝</el-button>
                      </div>
                    </template>
                    <template v-else-if="scope.row.isLock && scope.row.state === 0 && $store.state.currentUser.toLowerCase() !== scope.row.operator.toLowerCase() && 'dafacloud-'+$store.state.currentUser.toLowerCase() !== scope.row.operator.toLowerCase()">
                      {{scope.row.operator}} 已锁定
                    </template>
                    <template v-else-if="scope.row.isLock && scope.row.state === 1">
                      <span class="color-success">已确定</span>
                    </template>
                    <template v-else-if="scope.row.state === 2">
                      <span class="color-graystate">已取消</span>
                    </template>
                    <template v-else-if="scope.row.isLock && scope.row.state === 3">
                      <span class="color-graystate">已拒绝</span>
                    </template>
                    <template v-else>
                      未知状态
                    </template>
                  </template>
                  <template v-else>
                    <template v-if="!scope.row.isLock && scope.row.state === 0">
                      未处理
                    </template>
                    <template v-else-if="scope.row.isLock && scope.row.state === 0 && ($store.state.currentUser.toLowerCase() === scope.row.operator.toLowerCase() || 'dafacloud-'+$store.state.currentUser.toLowerCase() === scope.row.operator.toLowerCase())">
                      已锁定
                    </template>
                    <template v-else-if="scope.row.isLock && scope.row.state === 0 && $store.state.currentUser.toLowerCase() !== scope.row.operator.toLowerCase() && 'dafacloud-'+$store.state.currentUser.toLowerCase() !== scope.row.operator.toLowerCase()">
                      {{scope.row.operator}} 已锁定
                    </template>
                    <template v-else-if="scope.row.isLock && scope.row.state === 1">
                      <span class="color-success">已确定</span>
                    </template>
                    <template v-else-if="scope.row.state === 2">
                      <span class="color-graystate">已取消</span>
                    </template>
                    <template v-else-if="scope.row.isLock && scope.row.state === 3">
                      <span class="color-graystate">已拒绝</span>
                    </template>
                    <template v-else>
                      未知状态
                    </template>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                :min-width="180">
                <template slot-scope="scope">
                  <template v-if="!scope.row.isLock && scope.row.state === 0">
                    <span>---</span>
                  </template>
                  <template v-else-if="(scope.row.state === 1 || scope.row.state === 2 || scope.row.state === 3) && scope.row.operator === '0'">
                    <span>---</span>
                  </template>
                  <template v-else>
                    <span>{{scope.row.operator}}</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="operationTime"
                label="操作时间"
                :min-width="screenW >1024 ? '140':'180'">
                <template slot-scope="scope">
                  <template v-if="!scope.row.isLock && scope.row.state === 0">
                    <span>---</span>
                  </template>
                  <template v-else>
                    <span>{{scope.row.operationTime}}</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                label="流水号"
                prop="recordCode"
                :min-width="screenW >768 ? '170':'230'">
              </el-table-column>
              <el-table-column
                prop="remark"
                label="备注"
                :min-width="screenW >768 ? '140':'190'" show-overflow-tooltip>
              </el-table-column>
              <!--<el-table-column-->
              <!--label="操作"-->
              <!--width="40" fixed="right" v-if="screenW > 768">-->
              <!--<template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="handleQueryWithdrawOrderDetails(detailIndex, detailData)" >提现订单</span>
            <span v-if="!detailData.isLock && detailData.state === 0" @click="handleWithdrawal(detailIndex, detailData, -2);rwdbtnVisible=false" >锁定</span>
            <span v-if="detailData.isLock && detailData.state === 0" @click="handleWithdrawal(detailIndex, detailData, -1);rwdbtnVisible=false" >取消锁定</span>
            <template v-if="detailData.isLock && detailData.state === 0 && (currentUser.toLowerCase() === detailData.operator.toLowerCase() || currentPlatformUser.toLowerCase() === detailData.operator.toLowerCase())" >
              <span @click="handleWithdrawal(detailIndex, detailData, 1);rwdbtnVisible=false" >确定</span>
              <span @click="handleWithdrawal(detailIndex, detailData, 2);rwdbtnVisible=false" >取消</span>
              <span @click="handleWithdrawal(detailIndex, detailData, 3);rwdbtnVisible=false" >拒绝</span>
            </template>
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="提现订单管理"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{gradeFormatter(detailData)}}</span>
            </li>
            <li>
              <span>银行类型</span>
              <span>{{detailData.bankName|setBankName}}</span>
            </li>
            <li>
              <span>提现金额</span>
              <span>{{detailData.withdrawAmount | formatMoneyTwo}}</span>
            </li>
            <li>
              <span>申请时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>操作状态</span>
              <template v-if="!detailData.isLock && detailData.state === 0">
                <span >未处理</span>
              </template>
              <template v-else-if="detailData.isLock && detailData.state === 0 && ($store.state.currentUser.toLowerCase() === detailData.operator.toLowerCase() || 'dafacloud-'+$store.state.currentUser.toLowerCase() === detailData.operator.toLowerCase())">
                <span >已锁定</span>
              </template>
              <template v-else-if="detailData.isLock && detailData.state === 0 && $store.state.currentUser.toLowerCase() !== detailData.operator.toLowerCase() && 'dafacloud-'+$store.state.currentUser.toLowerCase() !== detailData.operator.toLowerCase()">
                <span >{{detailData.operator}} 已锁定</span>
              </template>
              <template v-else-if="detailData.isLock && detailData.state === 1">
                <span class="color-success">已确定</span>
              </template>
              <template v-else-if="detailData.state === 2">
                <span class="color-graystate">已取消</span>
              </template>
              <template v-else-if="detailData.isLock && detailData.state === 3">
                <span class="color-graystate">已拒绝</span>
              </template>
              <template v-else>
                <span>未知状态</span>
              </template>
            </li>
            <li>
              <span>操作人</span>
              <template v-if="!detailData.isLock && detailData.state === 0 || detailData.operator === '0'">
                <span>---</span>
              </template>
              <template v-else>
                <span>{{detailData.operator}}</span>
              </template>
            </li>
            <li>
              <span>操作时间</span>
              <template v-if="!detailData.isLock && detailData.state === 0">
                <span>---</span>
              </template>
              <template v-else>
                <span>{{detailData.operationTime}}</span>
              </template>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.remark}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <order-info
      :data="selectData"
      :visible="OrderInfoShow"
      v-on:onClose="OrderInfoShow=false">
    </order-info>
  </div>
</template>
<script>
import OrderList from '@/components/dataTableList/OrderList'
import OrderInfo from '@/views/newModal/OrderInfoForm'
import Api from '@/api/transfer'
import {dateFormat} from '@/utils/index'
import {exportExl} from '@/utils/Time'
import {validateQueryDate, validateRules} from '@/utils/validateRules'
import {gradeData} from '@/utils/config'
import ApiSys from '@/api/sys'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import DafaLoading from '@/components/DafaLoading'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {formatMoneyTwo, imgHost} from '@/filters/index'
import {getEllipsisFlag, testAutoPlay} from '@/utils'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    },
    totalAmount () {
      let [i, length, amount] = [0, this.allList.length, 0]
      for (i; i < length; i++) {
        amount = amount + this.allList[i].withdrawAmount
      }
      return amount
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      currentUser: '',
      currentPlatformUser: '',
      tableLine: true,
      OrderInfoShow: false,
      isActive: false,
      isShow: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      ruleForm: {
        userName: '',
        Update: '15',
        state: '-1',
        grades: [],
        startTime: dateFormat(new Date(new Date().getTime() - 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        startAmount: '',
        endAmount: ''
      },
      mp3Url: '',
      // 列表数据
      allList: [],
      total: 0,
      level: gradeData,
      state: {
        '0': '未处理',
        '1': '已确定',
        '2': '已取消',
        '3': '已拒绝'
      },
      timer: null,
      pageNum: 1,
      pageSize: 20,
      Ringtone: {},
      selectData: {},
      summaryColumns: {'withdrawAmount': '1'},
      audio: null,
      isPlayMp3: false,
      clickPlay: 0,
      isChecked: true
    }
  },
  mounted () {
    // alert(this.$store.state.currentUser)
    // 點擊螢幕任何處 判斷是否繼續播放
    document.onclick = (evt) => {
      if (document.getElementById('bgMusic')) {
        // console.log(document.getElementById('bgMusic').paused)
        if (this.isPlayMp3) {
          if (document.getElementById('bgMusic').paused) {
            document.getElementById('bgMusic').load()
            document.getElementById('bgMusic').play()
          }
        } else {
          if (!document.getElementById('bgMusic').paused) {
            document.getElementById('bgMusic').pause()
            document.getElementById('bgMusic').currentTime = 0
          }
        }
      }
    }
    this.getCurrentUser(true)
    this.getRingtone()
    // this.setTimer()
  },
  beforeDestroy () {
    this.ruleForm.Update = 0
    clearTimeout(this.timer)
    if (document.getElementById('bgMusic')) {
      document.getElementById('bgMusic').pause()
      document.getElementById('bgMusic').currentTime = 0
    }
    document.onclick = null
  },
  methods: {
    getCurrentUser (isFirst) {
      if (!isFirst) {
        if (!sessionStorage.getItem('siteInfo') || !localStorage.getItem('siteInfo')) {
          this.msgConfirm('缓存数据丢失，将返回到登录页', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
            closeOnClickModal: false,
            closeOnPressEscape: false,
            showClose: false,
            showCancelButton: false
          }).then(() => {
            this.$router.push('/login?transactionWithdrawOrder')
          })
        }
      }
      let siteInfo = JSON.parse(localStorage.getItem('siteInfo'))
      this.currentPlatformUser = 'dafacloud-' + siteInfo.userName
      if (siteInfo.isPlatform === 1) {
        this.currentUser = 'dafacloud-' + siteInfo.userName
      } else {
        this.currentUser = siteInfo.userName
      }
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoneyTwo(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    playMp3 () {
      let obj = this
      if (document.getElementById('bgMusic').paused) {
        testAutoPlay(function () {
          document.getElementById('bgMusic').load()
          document.getElementById('bgMusic').play()
        }, function () {
          if (obj.clickPlay > 0) {
            return
          }
          obj.clickPlay += 1
          obj.msgAlert('播放提示音失败，请点击确定继续重新播放提示音', {
            confirmButtonText: '确定',
            type: 'warning'
          }).then(() => {
            document.getElementById('bgMusic').load()
            document.getElementById('bgMusic').play()
          })
        })
      }
    },
    handleQueryWithdrawOrderDetails (index, row) {
      this.avatorVisible = false
      let data = Object.assign(row)
      this.selectData = data
      this.OrderInfoShow = true
      this.rwdbtnVisible = false
    },
    setOrder (val, index) {
      // console.log(val, index)
      if (index !== undefined && index !== null) {
        // console.log('hihi')
        this.$set(this.allList[index], 'isDisableLockButton', false)
        this.$set(this.allList[index], 'isDisableCancelLockButton', false)
        this.$set(this.allList[index], 'isDisableOKButton', false)
        this.$set(this.allList[index], 'isDisableCancelButton', false)
        this.$set(this.allList[index], 'isDisableRefuseButton', false)
        // disable 參數
        this.$set(this.allList[index], 'DisableLockButton', false)
        this.$set(this.allList[index], 'DisableCancelLockButton', false)
        this.$set(this.allList[index], 'DisableOKButton', false)
        this.$set(this.allList[index], 'DisableCancelButton', false)
        this.$set(this.allList[index], 'DisableRefuseButton', false)
      }
      let isLock = true
      for (let i = 0; i < this.allList.length; i++) {
        if (!this.allList[i].isLock) {
          isLock = false
        }
        if (val.id !== this.allList[i].id) {
          continue
        }
        this.$set(this.allList, i, val)
      }
      this.isPlayMp3 = !isLock
      if (!isLock) {
        if (document.getElementById('bgMusic').paused) {
          this.playMp3()
        }
      } else {
        if (!document.getElementById('bgMusic').paused) {
          document.getElementById('bgMusic').pause()
          document.getElementById('bgMusic').currentTime = 0
        }
      }
    },
    handleWithdrawal (index, row, type) {
      // this.loading = true
      this.getCurrentUser()
      let submitData = {}
      submitData.id = row.id
      submitData.type = type
      let obj = this
      this.rwdbtnVisible = false
      // this.loadingMsg = '正在提交...'
      if (type === -2 || type === -1) {
        // this.loading = true
        if (type === -2) {
          if (row.isDisableLockButton) {
            return
          }
          this.$nextTick(() => {
            this.$set(row, 'isDisableLockButton', true)
            this.$set(row, 'isDisableCancelLockButton', false)
            this.$set(row, 'isDisableOKButton', false)
            this.$set(row, 'isDisableCancelButton', false)
            this.$set(row, 'isDisableRefuseButton', false)
            // disable 參數
            this.$set(row, 'DisableLockButton', true)
            this.$set(row, 'DisableCancelLockButton', false)
            this.$set(row, 'DisableOKButton', false)
            this.$set(row, 'DisableCancelButton', false)
            this.$set(row, 'DisableRefuseButton', false)
          })
        }
        if (type === -1) {
          if (row.isDisableCancelLockButton) {
            return
          }
          this.$nextTick(() => {
            this.$set(row, 'isDisableLockButton', false)
            this.$set(row, 'isDisableCancelLockButton', true)
            this.$set(row, 'isDisableOKButton', false)
            this.$set(row, 'isDisableCancelButton', false)
            this.$set(row, 'isDisableRefuseButton', false)
            // disable 參數
            this.$set(row, 'DisableLockButton', true)
            this.$set(row, 'DisableCancelLockButton', true)
            this.$set(row, 'DisableOKButton', true)
            this.$set(row, 'DisableCancelButton', true)
            this.$set(row, 'DisableRefuseButton', true)
          })
        }
        Api.updateWithdrawRecordStatus(submitData, function () {
          // obj.loading = false
          // obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
          obj.$set(row, 'isDisableLockButton', false)
          obj.$set(row, 'isDisableCancelLockButton', false)
          obj.$set(row, 'isDisableOKButton', false)
          obj.$set(row, 'isDisableCancelButton', false)
          obj.$set(row, 'isDisableRefuseButton', false)
          // disable 參數
          obj.$set(row, 'DisableLockButton', false)
          obj.$set(row, 'DisableCancelLockButton', false)
          obj.$set(row, 'DisableOKButton', false)
          obj.$set(row, 'DisableCancelButton', false)
          obj.$set(row, 'DisableRefuseButton', false)
        }).then((res) => {
          if (type === -2) {
            row.isLock = true
            row.operator = this.currentUser
            row.operationTime = dateFormat(new Date(), 'yyyy-MM-dd HH:mm:ss')
          }
          if (type === -1) {
            row.isLock = false
            this.isPlayMp3 = true
          }
          this.setOrder(row, index)
        })
        return
      }
      let msg = ''
      if (type === 1) {
        msg = '是否确定出款'
        this.msgConfirm(msg, {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$set(row, 'isDisableLockButton', false)
          this.$set(row, 'isDisableCancelLockButton', false)
          this.$set(row, 'isDisableOKButton', true)
          this.$set(row, 'isDisableCancelButton', false)
          this.$set(row, 'isDisableRefuseButton', false)
          // disable 參數
          this.$set(row, 'DisableLockButton', true)
          this.$set(row, 'DisableCancelLockButton', true)
          this.$set(row, 'DisableOKButton', true)
          this.$set(row, 'DisableCancelButton', true)
          this.$set(row, 'DisableRefuseButton', true)
          Api.updateWithdrawRecordStatus(submitData, function () {
            obj.$set(row, 'isDisableLockButton', false)
            obj.$set(row, 'isDisableCancelLockButton', false)
            obj.$set(row, 'isDisableOKButton', false)
            obj.$set(row, 'isDisableCancelButton', false)
            obj.$set(row, 'isDisableRefuseButton', false)
            // disable 參數
            obj.$set(row, 'DisableLockButton', false)
            obj.$set(row, 'DisableCancelLockButton', false)
            obj.$set(row, 'DisableOKButton', false)
            obj.$set(row, 'DisableCancelButton', false)
            obj.$set(row, 'DisableRefuseButton', false)
          }).then((res) => {
            row.state = 1
            row.operator = this.currentUser
            row.operationTime = dateFormat(new Date(), 'yyyy-MM-dd HH:mm:ss')
            this.setOrder(row, index)
          })
        }).catch(() => {
        })
        return
      }
      if (type === 2) {
        msg = '是否取消出款'
        if (row.isDisableCancelButton) {
          return
        }
      }
      if (type === 3) {
        if (row.isDisableRefuseButton) {
          return
        }
        msg = '是否拒绝出款'
      }
      this.isChecked = true
      const h = this.$createElement
      this.$prompt(msg, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        inputPlaceholder: '请输入备注',
        customClass: 'show-player-content',
        title: msg,
        message: h('el-checkbox', {
          props: {
            checked: obj.isChecked
          },
          on: {
            change (val) {
              obj.isChecked = val
            }
          },
          class: 'show-player-box'
        }, '允许玩家可见')
      }).then(({ value }) => {
        if (value && value.length > 200) {
          this.msgError('备注长度不能超过200个字符')
          return
        }
        submitData.remark = value
        submitData.flag = this.isChecked ? '1' : '0'
        let parame = JSON.parse(JSON.stringify(submitData))
        // this.loading = true
        if (type === 2) {
          this.$set(row, 'isDisableLockButton', false)
          this.$set(row, 'isDisableCancelLockButton', false)
          this.$set(row, 'isDisableOKButton', false)
          this.$set(row, 'isDisableCancelButton', true)
          this.$set(row, 'isDisableRefuseButton', false)
          // disable 參數
          this.$set(row, 'DisableLockButton', true)
          this.$set(row, 'DisableCancelLockButton', true)
          this.$set(row, 'DisableOKButton', true)
          this.$set(row, 'DisableCancelButton', true)
          this.$set(row, 'DisableRefuseButton', true)
        }
        if (type === 3) {
          this.$set(row, 'isDisableLockButton', false)
          this.$set(row, 'isDisableCancelLockButton', false)
          this.$set(row, 'isDisableOKButton', false)
          this.$set(row, 'isDisableCancelButton', false)
          this.$set(row, 'isDisableRefuseButton', true)
          // disable 參數
          this.$set(row, 'DisableLockButton', true)
          this.$set(row, 'DisableCancelLockButton', true)
          this.$set(row, 'DisableOKButton', true)
          this.$set(row, 'DisableCancelButton', true)
          this.$set(row, 'DisableRefuseButton', true)
        }
        // this.loading = true
        Api.updateWithdrawRecordStatus(parame, function () {
          // obj.loading = false
          // obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
          obj.$set(row, 'isDisableLockButton', false)
          obj.$set(row, 'isDisableCancelLockButton', false)
          obj.$set(row, 'isDisableOKButton', false)
          obj.$set(row, 'isDisableCancelButton', false)
          obj.$set(row, 'isDisableRefuseButton', false)
          // disable 參數
          obj.$set(row, 'DisableLockButton', false)
          obj.$set(row, 'DisableCancelLockButton', false)
          obj.$set(row, 'DisableOKButton', false)
          obj.$set(row, 'DisableCancelButton', false)
          obj.$set(row, 'DisableRefuseButton', false)
        }).then((res) => {
          row.state = type
          row.operator = this.currentUser
          row.operationTime = dateFormat(new Date(), 'yyyy-MM-dd HH:mm:ss')
          this.setOrder(row, index)
          // this.loading = false
          if (res.code === 1) {
            this.msgSuccess('修改成功')
          }
          let box = document.querySelector('.show-player-box')
          let ele = box.className.indexOf('is-checked')
          if (ele === -1) {
            box.click()
            this.isChecked = true
          }
        })
      }).catch(() => {
        let box = document.querySelector('.show-player-box')
        let ele = box.className.indexOf('is-checked')
        if (ele === -1) {
          box.click()
          this.isChecked = true
        }
      })
    },
    exportExcel () {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.ruleForm.pageNum = 1
      this.ruleForm.pageSize = 99999
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.grades = this.ruleForm.grades.join(',')
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      if (submitData.startAmount !== '') {
        if (submitData.endAmount === '') {
          this.msgError('请输入最高金额')
          return
        }
      }
      if (submitData.endAmount !== '') {
        if (submitData.startAmount === '') {
          this.msgError('请输入最低金额')
          return
        }
      }
      if (submitData.startAmount !== '' && submitData.endAmount !== '') {
        if (Number(submitData.startAmount) > Number(submitData.endAmount)) {
          if (!validateRules.number(submitData.startAmount)) {
            this.msgError('最低金额格式错误，只能为数值')
            return
          }
          if (!validateRules.number(submitData.endAmount)) {
            this.msgError('最高金额格式错误，只能为数值')
            return
          }
          this.msgError('最低金额不能大于等于最高金额')
          return
        }
      }
      // console.log('submitData', submitData)
      let obj = this
      this.submitLoading = true
      Api.withdrawRecordList(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.rows
        let excel = '<tr><th>流水号</th><th>会员账号</th><th>等级</th><th>银行类型</th><th>提现金额<th>申请时间</th><th>操作状态</th><th>操作人</th><th>操作时间</th><th>备注</th>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].recordCode}</th>
        <th>${excelarr[i].userName}</th>
        <th>${this.level[excelarr[i].grade]}</th>
        <th>${excelarr[i].bankName}</th>
        <th>${excelarr[i].withdrawAmount}</th>
        <th>${excelarr[i].gmtCreated}</th>
        <th>${this.state[excelarr[i].state]}</th>
        <th>${excelarr[i].operator}</th>
        <th>${excelarr[i].operationTime}</th>
        <th>${excelarr[i].remark}</th>
      </tr>`
        }
        exportExl(excel, '提现订单管理（' + submitData.startTime + '至' + submitData.endTime + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    setTimer () {
      if (!this.ruleForm || !this.ruleForm.Update || Number(this.ruleForm.Update) === 0) {
        if (this.timer) {
          clearTimeout(this.timer)
        }
        return
      }
      if (this.timer) {
        clearTimeout(this.timer)
      }
      this.getOrderList(this.pageNum, this.pageSize)
      this.timer = setTimeout(this.setTimer, Number(this.ruleForm.Update) * 1000)
    },
    gradeFormatter (row, column) {
      // console.log('row', row)
      if (this.level[row.grade]) {
        return this.level[row.grade]
      }
      return '未知等级'
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
      this.avatorVisible = false
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.grades = this.ruleForm.grades.join(',')
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      if (submitData.startAmount !== '') {
        if (submitData.endAmount === '') {
          this.msgError('请输入最高金额')
          return
        }
      }
      if (submitData.endAmount !== '') {
        if (submitData.startAmount === '') {
          this.msgError('请输入最低金额')
          return
        }
      }
      if (submitData.startAmount !== '' && submitData.endAmount !== '') {
        if (!validateRules.number(submitData.startAmount)) {
          this.msgError('最低金额格式错误，只能为数值')
          return
        }
        if (!validateRules.number(submitData.endAmount)) {
          this.msgError('最高金额格式错误，只能为数值')
          return
        }
        if (Number(submitData.startAmount) > Number(submitData.endAmount)) {
          this.msgError('最低金额不能大于等于最高金额')
          return
        }
      }
      // console.log('submitData', submitData)
      // this.loading = true
      this.loading = true
      let obj = this
      Api.withdrawRecordList(submitData, function () {
        // obj.loading = false
        obj.loading = false
      }).then((res) => {
        let allList = res.data.rows
        // getEllipsisHtml(this.ellipsisColumns, allList)
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        let isPlayMp3 = false
        for (let i = 0; i < this.allList.length; i++) {
          if (this.allList[i].isLock || this.allList[i].state !== 0) {
            continue
          }
          if (this.Ringtone.withdrawRingtoneUrl) {
            isPlayMp3 = true
            break
          }
        }
        this.isPlayMp3 = isPlayMp3
        if (isPlayMp3) {
          this.$nextTick(function () {
            this.playMp3()
          })
        } else {
          this.$nextTick(function () {
            document.getElementById('bgMusic').pause()
            document.getElementById('bgMusic').currentTime = 0
          })
        }
        this.$nextTick(function () {
          // obj.loading = false
          this.loading = false
        })
      })
    },
    resetForm (formName) {
      this.ruleForm.startAmount = ''
      this.ruleForm.endAmount = ''
      this.$refs[formName].resetFields()
    },
    getRingtone () {
      let submitData = {}
      this.loading = true
      ApiSys.ringtone(submitData, function () {
      }).then((res) => {
        this.Ringtone = res.data.ringtone
        document.getElementById('bgMusic').src = imgHost(this.Ringtone.withdrawRingtoneUrl)
        this.setTimer()
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    OrderList,
    OrderInfo,
    DafaLoading,
    DatetimePicker
  }
}
</script>
<style>
  .color-danger.hoverline-effet:after{
    background: var(--color-danger);
  }
  .show-player-content .el-message-box__message{
    overflow: hidden;
  }
  .el-message-box__message .show-player-box {
    position: absolute;
    top: 58px;
  }
</style>
