<template>
  <div class="panel">
    <div class="panel-heading">
      转帐纪录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="转款人" prop="userName">
            <el-input v-model="ruleForm.userName"  class="width-search120" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="收款人" prop="receiveUserName">
            <el-input v-model="ruleForm.receiveUserName"  class="width-search120" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="状态" prop="status">
            <el-select v-model="ruleForm.status" class="width-search100" placeholder="请选择状态">
              <el-option label="全部" value="-1"></el-option>
              <el-option label="已收款" value="1"></el-option>
              <el-option label="已退回" value="2"></el-option>
              <el-option label="收款中" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="流水号" prop="recordCode">
            <el-input v-model="ruleForm.recordCode"  placeholder="请输入流水号"  class="width-search120"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="转款人" prop="userName">
                      <el-input v-model="ruleForm.userName"  class="width-search120" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="收款人" prop="receiveUserName">
                      <el-input v-model="ruleForm.receiveUserName"  class="width-search120" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                      <el-select v-model="ruleForm.status" class="width-search100" placeholder="请选择状态">
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="已收款" value="1"></el-option>
                        <el-option label="已退回" value="2"></el-option>
                        <el-option label="收款中" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="流水号" prop="recordCode">
                      <el-input v-model="ruleForm.recordCode"  placeholder="请输入流水号"  class="width-search120"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                        <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">转款人</div></th>
                  <th><div class="cell">转账金额</div></th>
                  <th><div class="cell">退回金额</div></th>
                  <th><div class="cell">收款人</div></th>
                  <th><div class="cell">状态</div></th>
                  <th width="200px"><div class="cell">转账时间</div></th>
                  <th width="200px"><div class="cell">转账流水号</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--转款人-->
                    <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                    <!--转账金额-->
                    <td><div class="cell color-danger"><span>{{formatterSendMoney(items)}}</span></div></td>
                    <!--退回金额-->
                    <td><div class="cell"><span >{{formatterCancelMoney(items)}}</span></div></td>
                    <!--收款人-->
                    <td><div class="cell">{{items.receiveUserName}}</div></td>
                    <!--状态-->
                    <td><div class="cell">
                      <template v-if="items.state === 0">
                        <span>收款中</span>
                      </template>
                      <template v-else-if="items.state === 1">
                        <span class="color-success">已收款</span>
                      </template>
                      <template v-else-if="items.state === 2">
                        <span class="color-danger">已退回</span>
                      </template>
                      <template v-else>
                        <span >未知状态</span>
                      </template>
                    </div></td>
                    <!--转账时间-->
                    <td><div class="cell"><span >{{items.sendTime}}</span></div></td>
                    <!--转账流水号-->
                    <td><div class="cell"><span >{{items.recordCode}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="1"><div class="cell">合计</div></td>
                    <td colspan="1"><div class="cell">{{summaryData['sendAmount'] | formatMoney}}</div></td>
                    <td colspan="5"><div class="cell">{{summaryData['cancelAmount'] | formatMoney}}</div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails">
              <el-table-column
                label="转款人"
                min-width="160"
                show-overflow-tooltip
                fixed>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.userName}}</span></template>
              </el-table-column>
              <!--<el-table-column-->
                <!--prop="userName"-->
                <!--label="转款人"-->
                <!--min-width="160">-->
              <!--</el-table-column>-->
              <el-table-column
                label="转账金额"
                width="130">
                <template slot-scope="scope"><span>{{formatterSendMoney(scope.row)}}</span></template>
              </el-table-column>
              <el-table-column
                label="退回金额"
                min-width="100">
                <template slot-scope="scope"><span>{{formatterCancelMoney(scope.row)}}</span></template>
              </el-table-column>
              <el-table-column
                prop="receiveUserName"
                label="收款人"
                min-width="160">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="100">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === 0">
                    <span>收款中</span>
                  </template>
                  <template v-else-if="scope.row.state === 1">
                    <span class="color-success">已收款</span>
                  </template>
                  <template v-else-if="scope.row.state === 2">
                    <span class="color-danger">已退回</span>
                  </template>
                  <template v-else>
                    <span >未知状态</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                label="转账时间"
                prop="sendTime"
                min-width="200">
              </el-table-column>
              <el-table-column
                label="转账流水号"
                prop="recordCode"
                min-width="200">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="转账记录"
      @close="detailShow=false">
      <ul >
        <li>
          <span>转款人</span>
          <span class="color-blue">{{detailData.userName}}</span>
        </li>
        <li>
          <span>转账金额</span>
          <span>{{formatterSendMoney(detailData)}}</span>
        </li>
        <li>
          <span>退回金额</span>
          <span>{{formatterCancelMoney(detailData)}}</span>
        </li>
        <li>
          <span>收款人</span>
          <span>{{detailData.receiveUserName}}</span>
        </li>
        <li>
          <span>状态</span>
          <span>
              <template v-if="detailData.state === 0">
                <span>收款中</span>
              </template>
              <template v-else-if="detailData.state === 1">
                <span class="color-success">已收款</span>
              </template>
              <template v-else-if="detailData.state === 2">
                <span class="color-danger">已退回</span>
              </template>
              <template v-else>
                <span >未知状态</span>
              </template>
          </span>
        </li>
        <li>
          <span>转账时间</span>
          <span>{{detailData.sendTime}}</span>
        </li>
        <li>
          <span>转账流水号</span>
          <span>{{detailData.recordCode}}</span>
        </li>
      </ul>
    </popover-right>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import Scroll from '@/components/Scroll'
import {dateFormat} from '@/utils/index'
import {formatMoney} from '@/filters/index'
import {validateQueryDate} from '@/utils/validateRules'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ChatBanShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      ruleForm: {
        userName: '',
        receiveUserName: '',
        status: '-1',
        recordCode: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      summaryColumns: {'sendAmount': '1', 'cancelAmount': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    formatterSendMoney (val) {
      return val.status !== 2 ? formatMoney(val.amount) : '---'
    },
    formatterCancelMoney (val) {
      // console.log(val.status)
      let statusTit
      if (val.state === 2) {
        statusTit = formatMoney(val.amount)
      } else if (val.state === 1) {
        statusTit = 0
      } else {
        statusTit = '---'
      }
      return statusTit
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      this.loading = true
      let obj = this
      Api.queryTransferList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        for (let item in this.summaryColumns) {
          this.summaryData[item] = Number(0)
        }
        for (let i = 0; i < this.allList.length; i++) {
          if (this.allList[i].status !== 2) {
            this.summaryData['sendAmount'] += this.allList[i]['amount']
          }
          if (this.allList[i].state === 2) {
            this.summaryData['cancelAmount'] += this.allList[i]['amount']
          }
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  },
  filters: {
    stateShow: function (item) {
      console.log(item)
    }
  }
}
</script>
