<template>
  <div class="panel">
    <div class="panel-heading">
      棋牌投注记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" class="small-padding-1r" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="账号" prop="userName">
            <el-input size="min" v-model="ruleForm.userName" class="width-search100" placeholder="请输入账号"></el-input>
          </el-form-item>
          <el-form-item label="状态" prop="openState">
            <el-select v-model="ruleForm.openState" label="状态" class="width-search75" placeholder="全部">
              <el-option label="全部" value=" "></el-option>
              <el-option
                v-for="item in stateoptions"
                :key="item.id"
                :label="item.name"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="棋牌" prop="gameCode">
            <el-select size="min"  v-model="ruleForm.gameCode" placeholder="全部" class="width-search80">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.gameCode"
                :label="item.gameName"
                :value="item.gameCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="场次" prop="roundType">
            <el-input size="min" v-model="ruleForm.roundType" class="width-search60" placeholder="场次"></el-input>
          </el-form-item>
          <el-form-item label="房号" prop="roomNumber">
            <el-input size="min" v-model="ruleForm.roomNumber" class="width-search60" placeholder="房号"></el-input>
          </el-form-item>
          <el-form-item label="局号" prop="issue">
            <el-input size="min" v-model="ruleForm.issue" class="width-search60" placeholder="局号"></el-input>
          </el-form-item>
          <el-form-item label="单号" prop="recordCode">
            <el-input size="min" v-model="ruleForm.recordCode" class="width-search60" placeholder="单号"></el-input>
          </el-form-item>
          <el-form-item label="开始" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour width-search-hour130"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour width-search-hour130"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input size="min" v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="openState">
                      <el-select v-model="ruleForm.openState" label="状态" placeholder="全部">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in stateoptions"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="棋牌" prop="gameCode">
                      <el-select size="min"  v-model="ruleForm.gameCode" placeholder="全部" popper-class="small-scroll-select select1" >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.gameCode"
                          :label="item.gameName"
                          :value="item.gameCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="场次" prop="roundType">
                      <el-input size="min" v-model="ruleForm.roundType" placeholder="场次"></el-input>
                    </el-form-item>
                    <el-form-item label="房号" prop="roomNumber">
                      <el-input size="min" v-model="ruleForm.roomNumber"  placeholder="房号"></el-input>
                    </el-form-item>
                    <el-form-item label="局号" prop="issue">
                      <el-input size="min" v-model="ruleForm.issue" placeholder="局号"></el-input>
                    </el-form-item>
                    <el-form-item label="单号" prop="recordCode">
                      <el-input size="min" v-model="ruleForm.recordCode" placeholder="单号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style close-table" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table close-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">会员账号</div></th>
                  <th ><div class="cell">棋牌名称</div></th>
                  <th ><div class="cell">场次</div></th>
                  <th ><div class="cell">房号</div></th>
                  <th><div class="cell">局号</div></th>
                  <th ><div class="cell">结果</div></th>
                  <th ><div class="cell">投注内容</div></th>
                  <th><div class="cell">投注金额</div></th>
                  <th ><div class="cell">派送奖金</div></th>
                  <th ><div class="cell">投注时间</div></th>
                  <th ><div class="cell">投注单号</div></th>
                  <th ><div class="cell">投注终端</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--会员账号-->
                    <td ><div class="cell"><span class=" color-blue">{{items.userName}}</span></div></td>
                    <!--棋牌名称-->
                    <td ><div class="cell"><span>{{items.gameName}}</span></div></td>
                    <!--场次-->
                    <td ><div class="cell"><span>{{items.roundType}}</span></div></td>
                    <!--房号-->
                    <td ><div class="cell"><span>{{items.roomNumber}}</span></div></td>
                    <!--局号-->
                    <td ><div class="cell"><span>{{items.issue}}</span></div></td>
                    <!--结果-->
                    <td >
                      <div class="cell min-width110">
                        <template v-if="items.openNum === '-'">
                          <span>---</span>
                        </template>
                        <template v-else>
                          <span class="hoverline-effet color-blue " @click="ShowContent(1, items)">
                          {{contentChange(items)}}
                          </span>
                        </template>
                      </div>
                    </td>
                    <!--&lt;!&ndash;投注内容&ndash;&gt;-->
                    <td >
                      <div class="cell max-width160 min-width110 overflow-style"><span class="hoverline-effet color-blue "  @click="ShowContent(2, items)">{{typeContent(items.gameName, items.bettingNumber)}}</span></div>
                    </td>
                    <!--投注金额-->
                    <td ><div class="cell"><span>{{items.bettingAmount}}</span></div></td>
                    <!--奖金-->
                    <td >
                      <div class="cell">
                        <template v-if="items.state === '已中奖'">
                        <span class="color-danger">{{items.bonus}}</span>
                        </template>
                        <template v-else>
                          <span :class="{'color-success':items.state === '等待开奖'}">{{items.state}}</span>
                          <span v-show="items.state === '和局'"> {{items.bettingAmount}}</span>
                        </template>
                      </div>
                    </td>
                    <!--投注时间-->
                    <td ><div class="cell"><span>{{items.addTime}}</span></div></td>
                    <!--投注单号-->
                    <td ><div class="cell"><span>{{items.recordCode}}</span></div></td>
                    <!--投注终端-->
                    <td ><div class="cell"><span>{{items.sourceName}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="7"><div class="cell">合计</div></td>
                    <td colspan="1"><div class="cell">{{summaryData['bettingAmount']}}</div></td>
                    <td colspan="4"><div class="cell">{{summaryData['bonus']}}</div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="12"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                fixed
                label="会员账号"
                min-width="120">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gameName"
                label="棋牌名称"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="roundType"
                label="场次"
                min-width="60">
              </el-table-column>
              <el-table-column
                prop="roomNumber"
                label="房号"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="issue"
                label="局号"
                min-width="120">
              </el-table-column>
              <el-table-column
                label="结果"
                min-width="110" show-overflow-tooltip>
                <template slot-scope="scope">
                  <template v-if="scope.row.openNum === '-'">
                    <span>---</span>
                  </template>
                  <template v-else>
                      <span >
                      {{contentChange(scope.row)}}
                      </span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                label="投注内容"
                min-width="110" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span>{{typeContent(scope.row.gameName, scope.row.bettingNumber)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="bettingAmount"
                label="投注金额"
                min-width="110">
              </el-table-column>
              <el-table-column
                label="派送奖金"
                min-width="110">
                <template slot-scope="scope">
                  <template v-if="scope.row.status === 4">
                    <span>和局</span>
                  </template>
                  <template v-else-if="scope.row.status === 0">
                    <span class="color-success">开奖中</span>
                  </template>
                  <template v-else-if="scope.row.status === 1">
                    <span>未中奖</span>
                  </template>
                  <template v-else-if="scope.row.status === 3">
                    <span>系统撤单</span>
                  </template>
                  <template v-else>
                    <span class="color-danger">{{scope.row.bonus}}</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="addTime"
                label="投注时间"
                min-width="170">
              </el-table-column>
              <el-table-column
                prop="recordCode"
                label="投注单号"
                min-width="200">
              </el-table-column>
              <el-table-column
                label="投注终端"
                prop="sourceName"
                min-width="70">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <div class="report-foot ">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <template v-show="detailData.openNum !== '-'">
            <span @click="ShowContent(1, detailData)">
               查看结果
            </span>
          </template>
          <template >
            <span @click="ShowContent(2, detailData)">
               查看投注内容
            </span>
          </template>
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="棋牌投注记录"
        :visible="detailShow"
        @close="detailShow=false">
        <ul >
          <li>
            <span>会员账号</span>
            <span class="color-blue">{{detailData.userName}}</span>
          </li>
          <li>
            <span>棋牌名称</span>
            <span>{{detailData.gameName}}</span>
          </li>
          <li>
            <span>场次</span>
            <span>{{detailData.roundType}}</span>
          </li>
          <li>
            <span>房号</span>
            <span>{{detailData.roomNumber}}</span>
          </li>
          <li>
            <span>局号</span>
            <span>{{detailData.issue}}</span>
          </li>
          <li>
            <span>结果</span>
            <span>{{contentChange(detailData)}}</span>
          </li>
          <li>
            <span>投注金额</span>
            <span>{{detailData.bettingAmount}}</span>
          </li>
          <li>
            <span>派送奖金</span>
            <template v-if="detailData.state === '已中奖'">
              <span class="color-danger">{{detailData.bonus}}</span>
            </template>
            <template v-else>
              <span :class="{'color-success':detailData.state === '等待开奖'}">{{detailData.state}}</span>
              <span v-show="detailData.state === '和局'"> {{detailData.bettingAmount}}</span>
            </template>
          </li>
          <li>
            <span>投注时间</span>
            <span>{{detailData.addTime}}</span>
          </li>
          <li>
            <span>投注单号</span>
            <span>{{detailData.recordCode}}</span>
          </li>
          <li>
            <span>投注终端</span>
            <span>{{detailData.sourceName}}</span>
          </li>
        </ul>
      </popover-right>
      <el-dialog
        title="结果详情"
        :visible.sync="dialogData.dialogResultShow"
        custom-class="mini-reveal-modal report-moadal" >
        <div v-loading="dialogDataLoading"
             element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon">
           <!--奔驰宝马,骰宝弹框-->
           <el-table :data="dialogData.resultlist" class="table-style popover-table" key="siboTable" v-if="dialogData.gameName === '奔驰宝马' || dialogData.gameName === '骰宝'">
            <!--結果詳情-->
            <el-table-column min-width="120" property="ticket" label="结果">
              <template slot-scope="scope">
                <ul class="poker-list poker-box">
                  <li v-for="(l, index) in scope.row.backgroundList" :key="index">
                    <div class="poker-img bg" :class="['p' + l]" v-if="!l.className && !l.gameName"></div>
                    <div class="sibo-img bg" :class="['sb' + l.className]" v-if="l.gameName === '骰宝'"></div>
                    <div class="bg public-Icon" :class="[l.className]" v-if="l.className"></div>
                  </li>
                </ul>
              </template>
            </el-table-column>
            <!-- <el-table-column min-width="80" v-if="dialogData.gameName === '骰宝'" property="content" label="总点数"></el-table-column> -->
            <el-table-column width="100" property="object" label="牌型" ></el-table-column>
          </el-table>
          <el-table :data="dialogData.resultlist" class="table-style popover-table" key="afterTable" v-else>
            <!--結果詳情-->
            <el-table-column min-width="55" property="object" label="号码"></el-table-column>
            <el-table-column min-width="120" property="ticket" label="结果">
              <template slot-scope="scope">
                <ul class="poker-list poker-box">
                  <li v-for="(l, index) in scope.row.backgroundList" :key="index">
                    <!--<div class="brand-bg" :class="['card-bg' + l]"></div>-->
                    <div class="poker-img bg" :class="['p' + l]" v-if="!l.className && !l.gameName"></div>
                    <div class="sibo-img bg" :class="['sb' + l.className]" v-if="l.gameName === '骰宝'"></div>
                    <div class="bg public-Icon" :class="[l.className]" v-if="l.className"></div>
                  </li>
                </ul>
              </template>
            </el-table-column>
            <el-table-column width="50" property="content" label="牌型" ></el-table-column>
          </el-table>
        </div>
      </el-dialog>
          <!--注单详情-->
        <el-dialog
          title="注单详情"
          :visible.sync="dialogData.dialogContentShow"
          custom-class="mini-reveal-modal report-moadal" >
          <div v-loading="dialogDataLoading"
               element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon">
            <el-table :data="dialogData.contentlist" class="table-style popover-table" key="beforeTable"
                      show-summary>
            <el-table-column min-width="100" property="betNum" label="投注内容"></el-table-column>
            <el-table-column min-width="80" property="betAmount" label="投注金额"></el-table-column>
            <el-table-column width="120" label="派送奖金" property="returnAmount" >
              <template slot-scope ="scope">
                <template v-if = "scope.row.state === '已中奖'">
                  {{scope.row.returnAmount}}
                </template>
                <template v-else>
                  <span>{{scope.row.state}}</span>
                </template>
              </template>
            </el-table-column>
            </el-table>
          </div>
        <!-- <div slot="footer" class="dialog-footer"></div> -->
      </el-dialog>
      <!--数据模型结束-->
    </div>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import Scroll from '@/components/Scroll'
import ApiSys from '@/api/sys'
import {dateFormat} from '@/utils/index'
import DatetimePicker from '@/components/DatetimePicker'
import {formatMoney, getSummaries} from '@/filters/index'
import {validateQueryDate} from '@/utils/validateRules'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseCopy],
  data () {
    return {
      imageBg: ' ../static/pokerbg.png',
      backgroundList: [
        {
          'id': 1,
          'position': ''
        },
        {
          'id': 2,
          'position': ''
        }
      ],
      dialogData: {
        dialogType: 1,
        dialogResultShow: false,
        dialogContentShow: false,
        resultlist: [],
        contentlist: [],
        gameName: '' // 游戏名称
      },
      showDialogTitle: '',
      dialogList: [],
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      command: 0,
      avatorVisible: false,
      pageNum: 1,
      pageSize: 20,
      total: 0,
      ruleForm: {
        userName: '',
        openState: '',
        gameCode: '',
        issue: '',
        roomNumber: '',
        roundType: '',
        recordCode: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      // 列表数据
      options: [],
      stateoptions: [
        {
          id: '0',
          name: '开奖中'
        },
        {
          id: '1',
          name: '未中奖'
        },
        {
          id: '2',
          name: '已中奖'
        },
        {
          id: '3',
          name: '系统撤单'
        },
        {
          id: '4',
          name: '和局'
        }
      ],
      allList: [],
      submitLoading: false,
      loading: false,
      dialogDataLoading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      arr: [],
      tigerDragonLottery: ['', '龙', '虎', '和'],
      redBlackLottery: ['', '红', '黑', '幸运一击'],
      cowLottery: ['', '(庄对闲1)庄', '(庄对闲1)闲', '(庄对闲2)庄', '(庄对闲2)闲', '(庄对闲3)庄', '(庄对闲3)闲'],
      baccaratLottery: ['', '闲', '庄', '平'],
      sicboLottery: ['', '大', '小', '单', '双'],
      summaryColumns: {'bettingAmount': '1', 'bonus': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getOrderList()
    this.getLotteryData()
  },
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    Corresponding (val) {
      let arry = []
      for (let i = 4; i <= 55; i++) {
        arry.push(i)
      }
      // 分割数组
      let numlength = arry.length / 4
      let newarry = []
      let pt = 0
      for (let i = 0; i < numlength; i++) {
        if (i === 0) {
          pt = 0
        } else {
          pt = pt + 4
        }
        newarry.push(arry.slice(pt, pt + 4))
      }
      for (let i = 0; i < newarry.length; i++) {
        for (let j = 0; j < newarry[i].length; j++) {
          if (parseInt(val) === newarry[i][j]) {
            return (i + 1)
          }
        }
      }
    },
    getBnmType (type) {
      var x
      switch (+type) {
        case 1:
          x = '保时捷(大)'
          break
        case 2:
          x = '宝马(大)'
          break
        case 3:
          x = '奔驰(大)'
          break
        case 4:
          x = '大众(大)'
          break
        case 5:
          x = '保时捷(小)'
          break
        case 6:
          x = '宝马(小)'
          break
        case 7:
          x = '奔驰(小)'
          break
        case 8:
          x = '大众(小)'
          break
      }
      return x
    },
    getClassName (type) {
      var className
      switch (+type) {
        case 1:
          className = 'bcbmIcon1 big'
          break
        case 2:
          className = 'bcbmIcon2 big'
          break
        case 3:
          className = 'bcbmIcon3 big'
          break
        case 4:
          className = 'bcbmIcon4 big'
          break
        case 5:
          className = 'bcbmIcon5 small'
          break
        case 6:
          className = 'bcbmIcon6 small'
          break
        case 7:
          className = 'bcbmIcon7 small'
          break
        case 8:
          className = 'bcbmIcon8 small'
          break
      }
      return className
    },
    getSBClassName (list) {
      let obj = list.split(',')
      let arr = []
      for (let i = 0; i < obj.length; i++) {
        let json = {}
        json.gameName = '骰宝'
        json.className = +obj[i]
        arr.push(json)
      }
      return arr
    },
    contentChange (items) {
      let arr = []
      let list = []
      if (items.gameName === '百人牛牛') {
        if (!items.openType) return
        let openTypelist = items.openType.split(',')
        for (let i = 0; i < openTypelist.length; i++) {
          list.push(openTypelist[i])
        }
        for (let i = 0; i < 4; i++) {
          if (i === 0) {
            let object = '庄(' + list[i] + ')'
            arr.push(object)
          } else {
            let object = '闲' + [i] + '(' + list[i] + ')'
            arr.push(object)
          }
        }
      } else if (items.gameName === '龙虎大战') {
        let openTypelist = items.openNum.split(',')
        for (let i = 0; i < openTypelist.length; i++) {
          list.push(openTypelist[i])
        }
        for (let i = 0; i < 2; i++) {
          if (i === 0) {
            let object = '龙(' + this.Corresponding(list[i]) + ')'
            arr.push(object)
          } else if (i === 1) {
            let object = '虎' + '(' + this.Corresponding(list[i]) + ')'
            arr.push(object)
          }
        }
      } else if (items.gameName === '百家乐') {
        if (!items.openType) return
        let openTypelist = items.openType.split(',')
        for (let i = 0; i < openTypelist.length; i++) {
          list.push(openTypelist[i])
        }
        for (let i = 0; i < list.length; i++) {
          if (i === 0) {
            let object = '闲(' + list[i] + ')'
            arr.push(object)
          } else {
            let object = '庄(' + list[i] + ')'
            arr.push(object)
          }
        }
      } else if (items.gameName === '奔驰宝马') {
        if (!items.openType) return
        let object = this.getBnmType(items.openType)
        arr.push(object)
      } else if (items.gameName === '骰宝') {
        arr.push(items.openNum)
      } else {
        if (!items.openType) return
        let openTypelist = items.openType.split(',')
        for (let i = 0; i < openTypelist.length; i++) {
          list.push(openTypelist[i])
        }
        for (let i = 0; i < 2; i++) {
          if (i === 0) {
            let object = '红(' + list[i] + ')'
            arr.push(object)
          } else {
            let object = '黑' + '(' + list[i] + ')'
            arr.push(object)
          }
        }
      }
      let stringArr = arr.toString()
      return stringArr
    },
    backgrund (data, times) {
      let list = []
      let current = []
      let listDAta = []
      let datalist = data.split(',')
      for (let i = 0; i < datalist.length; i++) {
        listDAta.push(parseInt(datalist[i]))
      }
      listDAta.forEach(t => {
        current.push(t)
        if (current.length === times) {
          list.push(current)
          current = []
        }
      })
      if (current.length) {
        list.push(current)
      }
      return list
    },
    getSicboObj (list) {
      let arr = list.split(',')
      let sum = 0
      let json = {}
      for (let i = 0; i < arr.length; i++) { // 获取总数
        sum += +arr[i]
      }
      let m
      if (sum > 10) { // 获取大小
        m = '大'
      } else {
        m = '小'
      }
      let n
      if (sum % 2 === 0) { // 获取单双
        n = '双'
      } else {
        n = '单'
      }
      json.object = `${m}/${n}`
      json.content = `${sum}点`
      return json
    },
    typeContent (lottery, content) {
      let arry = []
      if (lottery === '龙虎大战') {
        for (let i = 0; i < content.length; i++) {
          arry.push(this.tigerDragonLottery[content[i]])
        }
      } else if (lottery === '百人牛牛') {
        for (let i = 0; i < content.length; i++) {
          arry.push(this.cowLottery[content[i]])
        }
      } else if (lottery === '奔驰宝马') {
        for (let i = 0; i < content.length; i++) {
          arry.push(this.getBnmType(content[i]))
        }
      } else if (lottery === '百家乐') {
        for (let i = 0; i < content.length; i++) {
          arry.push(this.baccaratLottery[content[i]])
        }
      } else if (lottery === '骰宝') {
        for (let i = 0; i < content.length; i++) {
          arry.push(this.sicboLottery[content[i]])
        }
      } else {
        for (let i = 0; i < content.length; i++) {
          arry.push(this.redBlackLottery[content[i]])
        }
      }
      return arry.toString()
    },
    ShowContent (title, list) {
      this.dialogData.resultlist = []
      this.dialogData.contentlist = []
      let openTypeArr = []
      if (title === 1) {
        if (list.gameName === '百人牛牛') {
          let cards = this.backgrund(list.openNum, 5)
          let openType = list.openType.split(',')
          for (let i = 0; i < openType.length; i++) {
            openTypeArr.push(openType[i])
          }
          for (let j = 0; j < openTypeArr.length; j++) {
            let arrEach = {}
            if (j === 0) {
              arrEach.object = '庄'
            } else {
              arrEach.object = '闲' + [j]
            }
            arrEach.backgroundList = cards[j]
            arrEach.content = openTypeArr[j]
            this.dialogData.gameName = '百人牛牛'
            this.dialogData.resultlist.push(arrEach)
          }
        } else if (list.gameName === '龙虎大战') {
          if (!list.openNum) return
          let cards = this.backgrund(list.openNum, 1)
          for (let j = 0; j < 2; j++) {
            let arrEach = {}
            if (j === 0) {
              arrEach.object = '龙'
            } else {
              arrEach.object = '虎'
            }
            arrEach.backgroundList = cards[j]
            arrEach.content = this.Corresponding(cards[j])
            this.dialogData.gameName = '龙虎大战'
            this.dialogData.resultlist.push(arrEach)
          }
        } else if (list.gameName === '百家乐') {
          if (!list.openNum) return
          let cards = []
          cards = this.backgrund(list.openNum, 3)
          for (let j = 0; j < 2; j++) {
            let arrEach = {}
            if (j === 0) {
              arrEach.object = '闲'
            } else {
              arrEach.object = '庄'
            }
            arrEach.backgroundList = cards[j]
            let openType = list.openType.split(',')
            for (let i = 0; i < openType.length; i++) {
              openTypeArr.push(`${openType[i]}点`)
            }
            arrEach.content = openTypeArr[j]
            this.dialogData.gameName = '百家乐'
            this.dialogData.resultlist.push(arrEach)
          }
        } else if (list.gameName === '奔驰宝马') {
          if (!list.openNum) return
          let number = this.getBnmType(list.openType)
          let className = this.getClassName(list.openType)
          let jsonData = {}
          jsonData.object = number
          jsonData.content = +list.openType
          let json = {}
          jsonData.backgroundList = []
          json.className = className
          jsonData.backgroundList.push(json)
          this.dialogData.gameName = '奔驰宝马'
          this.dialogData.resultlist.push(jsonData)
        } else if (list.gameName === '骰宝') {
          if (!list.openNum) return
          let obj = this.getSicboObj(list.openNum)
          let arr = this.getSBClassName(list.openNum)
          let jsonData = {}
          jsonData.object = obj.object
          jsonData.content = obj.content
          jsonData.object = `${jsonData.content}/${jsonData.object}`
          jsonData.backgroundList = arr
          this.dialogData.gameName = '骰宝'
          this.dialogData.resultlist.push(jsonData)
        } else {
          if (!list.openNum) return
          let cards = this.backgrund(list.openNum, 3)
          for (let j = 0; j < 2; j++) {
            let arrEach = {}
            if (j === 0) {
              arrEach.object = '红'
            } else {
              arrEach.object = '黑'
            }
            arrEach.backgroundList = cards[j]
            let openType = list.openType.split(',')
            for (let i = 0; i < openType.length; i++) {
              openTypeArr.push(openType[i])
            }
            arrEach.content = openTypeArr[j]
            this.dialogData.gameName = '红黑大战'
            this.dialogData.resultlist.push(arrEach)
          }
        }
        this.dialogData.dialogResultShow = true
      } else {
        // 如果是內容彈窗 title === 2
        this.dialogDataLoading = true
        let submitData = {}
        submitData.id = list.id
        Api.getCmsGameBetDataInfo(submitData, function () {
          this.dialogDataLoading = false
        }).then((res) => {
          let objectList = this.typeContent(list.gameName, list.bettingNumber).split(',')
          let arrObject = []
          for (let i = 0; i < objectList.length; i++) {
            arrObject.push(objectList[i])
          }
          // 分類名稱
          if (list.gameName === '龙虎大战') {
            this.arr = this.tigerDragonLottery
          } else if (list.gameName === '百人牛牛') {
            this.arr = this.cowLottery
          } else {
            this.arr = this.redBlackLottery
          }
          for (let i = 0; i < res.data.length; i++) {
            this.$set(res.data[i], 'betNum', arrObject[i])
          }
          this.dialogData.contentlist = res.data
          this.dialogData.dialogContentShow = true
          this.$nextTick(function () {
            this.dialogDataLoading = false
          })
        })
      }
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      this.pageNum = 1
      this.avatorVisible = false
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getLotteryData () {
      let submitData = {}
      ApiSys.gameEnumBack(submitData, function () {
      }).then((res) => {
        this.options = res.data.result
      })
    },
    disableToken (val) {
      let submitData = {}
      submitData.id = val.id
      let state = 0
      if (val.state === 0) {
        state = 1
      }
      submitData.state = state
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateTokenState(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.getOrderList()
      })
    },
    removeToken (val) {
      let submitData = {}
      submitData.id = val.id
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.removeToken(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.getOrderList()
      })
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getCmsGameBetDataList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.total = res.data.total
        this.allList = res.data.cmsGameDataList
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
<style scoped>
  .report-moadal .table-style{
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
  }
  .poker-list{
    display: flex;
    margin: 0 !important;
    & li {
      list-style: none;
      margin-right: 8px;
    }
    /*& div{*/
      /*width: 32.5px;*/
      /*height: 40px;*/
      /*border-radius: 5px 5px 5px 5px;*/
      /*display: inline-block;*/
      /*background: url("/static/pokerbg.png");*/
      /*list-style: none;*/
    /*}*/
  }
  .public-Icon{
    background: url('../../assets/img/benzBMW-spirit.png');
  }
  .big{
    width: 85px!important;
    height: 85px!important;
  }
  .small{
    width: 40px!important;
    height: 40px!important;
  }
  .bcbmIcon1{
    background-position: -34px -443px;
  }
  .bcbmIcon2{
    background-position: -606px -443px;
  }
  .bcbmIcon3{
    background-position: -415px -443px;
  }
  .bcbmIcon4{
    background-position: -224px -443px;
  }
  .bcbmIcon5{
    background-position: -407px -98px;
  }
  .bcbmIcon6{
    background-position: -672px -99px;
  }
  .bcbmIcon7{
    background-position: -584px -100px;
  }
  .bcbmIcon8{
    background-position: -495px -97px;
  }
  .table-style.dialogLoading{
    border-bottom: 1px solid var(--color-border) !important;
  }
  .sibo-img{
    background: url('../../assets/img/sicbo-spirit.png');
    width: 55px;
    height: 55px;
    transform: scale(0.8);
  }
  .sb1{
    background-position: -14px -448px;
  }
  .sb2{
    background-position: -124px -448px;
  }
  .sb3{
    background-position: -235px -448px;
  }
  .sb4{
    background-position: -344px -448px;
  }
  .sb5{
    background-position: -456px -448px;
  }
  .sb6{
    background-position: -566px -448px;
  }
  .poker-box .p0{background: none;}
</style>
