<template>
  <div class="panel">
    <div class="panel-heading">
      彩票投注记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm"  size="min" class="small-padding-1r " v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="状态" prop="openState">
            <el-select v-model="ruleForm.openState"  class="width-shotstatus" placeholder="请选择状态">
              <el-option label="全部" value=""></el-option>
              <el-option label="未开奖" value="0"></el-option>
              <el-option label="未中奖" value="1"></el-option>
              <el-option label="已中奖" value="2"></el-option>
              <el-option label="已撤单" value="3"></el-option>
              <el-option label="追号停止" value="4"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="彩种" prop="lotteryCode">
            <el-select v-model="ruleForm.lotteryCode" class="width-lottery" placeholder="请选择彩种">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.lotteryCode"
                :label="item.lotteryName"
                :value="item.lotteryCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-account" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="期号" prop="issue">
            <el-input v-model="ruleForm.issue" class="width-issue" placeholder="请输入期号"></el-input>
          </el-form-item>
          <el-form-item label="开始" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data " :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :isScroll="true"
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="状态" prop="openState">
                      <el-select v-model="ruleForm.openState"  placeholder="请选择状态"  >
                        <el-option label="全部" value=""></el-option>
                        <el-option label="未开奖" value="0"></el-option>
                        <el-option label="未中奖" value="1"></el-option>
                        <el-option label="已中奖" value="2"></el-option>
                        <el-option label="已撤单" value="3"></el-option>
                        <el-option label="追号停止" value="4"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="彩种" prop="lotteryCode">
                      <el-select v-model="ruleForm.lotteryCode" placeholder="请选择彩种" popper-class="small-scroll-select select1" @visible-change="change('select1')">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.lotteryCode"
                          :label="item.lotteryName"
                          :value="item.lotteryCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="期号" prop="issue">
                      <el-input v-model="ruleForm.issue"  placeholder="请输入期号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass" >
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">会员账号</div></th>
                  <th><div class="cell">彩种</div></th>
                  <th><div class="cell">玩法</div></th>
                  <th><div class="cell">期号</div></th>
                  <th><div class="cell">开奖号码</div></th>
                  <th><div class="cell">投注内容</div></th>
                  <th><div class="cell">投注金额</div></th>
                  <th><div class="cell">注数</div></th>
                  <th><div class="cell">倍数</div></th>
                  <th><div class="cell">状态</div></th>
                  <th><div class="cell">投注时间</div></th>
                  <th><div class="cell">投注类型</div></th>
                  <th><div class="cell">终端</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td >
                      <div class="cell max-width145 min-width130 cursor-style color-blue" :id="'multipleTableUserName'+ index" @click="openContentForm('userName', '会员账号', items, 'multipleTableUserName' + index, 'multipleTableUserNameContent' + index)">
                        <span :title="items.userName"  :id="'multipleTableUserNameContent' + index">{{items.userName}}</span>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{items.lotteryName}}</span></div></td>
                    <td>
                      <div class="cell max-width100 cursor-style" :id="'multipleTablePlayNameColumn' + index" @click="openContentForm('playName', '玩法', items, 'multipleTablePlayNameColumn' + index, 'multipleTablePlayNameContent' + index)">
                        <span :title="items.playName" :id="'multipleTablePlayNameContent' + index">{{items.playName}}</span>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{items.issue}}</span></div></td>
                    <td>
                      <div class="cell max-width100 cursor-style" :id="'multipleTableOpenNumColumn' + index" @click="openContentForm('openNum', '开奖号码', items, 'multipleTableOpenNumColumn' + index, 'multipleTableOpenNumContent' + index)">
                        <span :title="items.openNum" :id="'multipleTableOpenNumContent' + index">{{items.openNum}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell max-width100 cursor-style" :id="'multipleTableBetNumberColumn' + index" @click="openContentForm('betNumber', '投注内容', items, 'multipleTableBetNumberColumn' + index, 'multipleTableBetNumberContent' + index)">
                        <span :title="items.betNumber" :id="'multipleTableBetNumberContent' + index">{{items.betNumber}}</span>
                      </div>
                    </td>
                    <td ><div class="cell min-width60"><span class="color-danger">{{items.betMoney | formatMoney}}</span></div></td>
                    <td><div class="cell min-width60"><span>{{items.betCount}}</span></div></td>
                    <td><div class="cell min-width60"><span>{{items.graduation}}</span></div></td>
                    <td>
                      <div class="cell">
                        <span v-if="!isNumber(items.bonusOrState)">{{items.bonusOrState}}</span>
                        <span v-else class="color-danger">{{items.bonusOrState | formatMoney}}</span>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <td><div class="cell"><span>{{items.playType}}</span></div></td>
                    <td><div class="cell"><span>{{items.sourceName}}</span></div></td>
                    <!--<td><div class="cell"> <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = index" ><i class="dafa-icon dafa-icon-copy"></i></div></div></td>-->
                  </tr>
                  <tr class="td-background">
                    <td colspan="6"><div class="cell">合计</div></td>
                    <td colspan="8"><div class="cell">{{totalMoney | formatMoney}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="14"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>

                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else >
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;" >
              <el-table-column
                label="会员账号"
                fixed
                min-width="130" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span  class="color-blue" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="lotteryName"
                label="彩种"
                min-width="100" show-overflow-tooltip>
              </el-table-column>
              <!--玩法手機-->
              <el-table-column
                label="玩法"
                min-width="170" prop="playName" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="issue"
                label="期号" min-width="140">
              </el-table-column>
              <!--开奖号码PC-->
              <el-table-column
                label="开奖号码"
                min-width="165" v-if="screenW > 768">
                <template slot-scope="scope" >
                  <span v-if="textNumber(scope.row.openNum) < 20">{{scope.row.openNum}}</span>
                  <div class="position-relative cursor-style " slot="reference" @click="openContentForm('openNum', '开奖号码', scope.row)" v-else>
                    <span class="overflow-note" v-html="textHtml(scope.row.openNum,20)"></span>
                  </div>
                </template>
              </el-table-column>
              <!--开奖号码手機-->
              <el-table-column
                label="开奖号码"
                min-width="170" prop="openNum" v-else show-overflow-tooltip>
              </el-table-column>
              <!--投注内容手機-->
              <el-table-column
                label="投注内容"
                min-width="170" prop="betNumber" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="betMoney"
                label="投注金额"
                min-width="100" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span>{{scope.row.betMoney | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="betCount"
                label="注数"
                width="60">
              </el-table-column>
              <el-table-column
                prop="graduation"
                label="倍数"
                width="50">
              </el-table-column>
              <el-table-column
                label="状态"
                width="80" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="!isNumber(scope.row.bonusOrState)">{{scope.row.bonusOrState}}</span>
                  <span v-else class="color-danger">{{scope.row.bonusOrState | formatMoney}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="投注时间"
               :width="screenW >1024 ? '140':'170'">
              </el-table-column>
              <el-table-column
                prop="playType"
                label="投注类型"
                min-width="90">
              </el-table-column>
              <el-table-column
                prop="sourceName"
                label="终端"
                min-width="70">
              </el-table-column>
              <!--<el-table-column-->
                <!--label="操作"-->
                <!--width="40" fixed="right" v-if="screenW > 768">-->
                <!--<template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          v-if="screenW <= 768"
          :modal="false"
          :visible="detailShow"
          title="投注记录"
          @close="detailShow=false">
          <ul>
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>彩种</span>
              <span>{{detailData.lotteryName}}</span>
            </li>
            <li>
              <span>玩法</span>
              <span>{{detailData.playName}}</span>
            </li>
            <li>
              <span>期号</span>
              <span>{{detailData.issue}}</span>
            </li>
            <li>
              <span>开奖号码</span>
              <span>{{detailData.openNum}}</span>
            </li>
            <li>
              <span>投注内容</span>
              <span>{{detailData.betNumber}}</span>
            </li>
            <li>
              <span>金额</span>
              <span>{{detailData.betMoney | formatMoney}}</span>
            </li>
            <li>
              <span>注数</span>
              <span>{{detailData.betCount}}</span>
            </li>
            <li>
              <span>倍数</span>
              <span>{{detailData.graduation}}</span>
            </li>
            <li>
              <span>状态</span>
              <span v-if="!isNumber(detailData.bonusOrState)">{{detailData.bonusOrState}}</span>
              <span v-else class="color-danger">{{detailData.bonusOrState | formatMoney}}</span>
            </li>
            <li>
              <span>投注时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>投注类型</span>
              <span>{{detailData.playType}}</span>
            </li>
            <li>
              <span>终端</span>
              <span>{{detailData.sourceName}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
// import ApiSys from '@/api/sys'
import Api from '@/api/transfer'
import ApiReport from '@/api/report'
import {dateFormat} from '@/utils/index'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import {formatMoney} from '@/filters/index'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {getEllipsisFlag} from '@/utils'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    },
    totalMoney () {
      let [i, length, betMoney] = [0, this.allList.length, 0]
      for (i; i < length; i++) {
        if (this.allList[i].betMoney === null || this.allList[i].betMoney === undefined) {
          continue
        }
        betMoney = betMoney + Number(this.allList[i].betMoney)
      }
      return betMoney
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      tableLine: true,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      type: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        lotteryCode: '',
        openState: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        issue: ''
      },
      // 列表数据
      allList: [],
      options: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'betMoney': '1'},
      ellipsisColumns: [{name: 'playName', width: 70, formatterFunc: null},
        {name: 'openNum', width: 50, formatterFunc: null},
        {name: 'betNumber', width: 50, formatterFunc: null}]
    }
  },
  mounted () {
    let userName = this.$route.query.userName
    if (userName) {
      this.ruleForm.userName = userName
    }
    this.getLotteryData()
    this.getOrderList(1, 20)
  },
  filters: {},
  methods: {
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    onSelect (item) {
      this.show = false
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    isNumber (value) {
      return /^(?:-?\d+|-?\d{1,3}(?:,\d{3})+)?(?:\.\d+)?$/.test(value)
    },
    queryThreeHundredData () {
      this.pageNum = 1
      this.pageSize = 300
      this.getOrderList(this.pageNum, this.pageSize)
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.$refs.pagination.internalCurrentPage, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.$refs.pagination.internalPageSize)
    },
    exportExcel () {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      let obj = this
      Api.exportBettingRecords(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        if (res.code === 1 && res.data.filePath !== undefined) {
          window.location.href = location.origin + res.data.filePath
        }
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.getBetDataList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.betInfoList
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    getLotteryData () {
      let submitData = {}
      ApiReport.getSiteLottery(submitData, function () {
      }).then((res) => {
        this.options = res.data
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
<style scoped>
.betting-box{
  position: relative;
  width: 100%;
  display: block;
}
.absolute-note{
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0 , -50%);
}
/*.overflow-note{*/
  /*overflow : hidden;*/
  /*width: 100%;*/
  /*white-space : nowrap;*/
  /*cursor: pointer;*/
  /*display: block;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
/*}*/
.position-relative{
  position: relative;
  padding: 0 12px 0 0 ;
}
.van-actionsheet{
  position: fixed;
  bottom: 0;
  background: red;
  width: 100%;
  z-index: 5555 !important;
  height: 100px;
  overflow: scroll;
}
  .table-overflowline .hoverline-effet:after{
    background: #000;
    max-width: 130px;
  }
</style>
