<template>
  <div class="panel">
    <div class="panel-heading">
      第三方充值订单<dafa-loading v-if="loading"></dafa-loading>
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!--搜尋header-->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm"  size="min" class="small-padding-1r" v-if="screenW>=768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="更新" prop="Update">
            <el-select v-model="ruleForm.Update" class="width-update" >
              <el-option label="15秒" value="15"></el-option>
              <el-option label="30秒" value="30"></el-option>
              <el-option label="60秒" value="60"></el-option>
              <el-option label="暂停" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-search60" placeholder="账号"></el-input>
          </el-form-item>
          <el-form-item label="等级" prop="grades" class="grades-position" :class="{'grades-overflow':ruleForm.grades.length > 1}">
            <el-select v-model="ruleForm.grades" multiple class="grades-select width-grade" placeholder="请选择">
              <el-option label="测试组" value="-1"></el-option>
              <el-option label="黑名单" value="0"></el-option>
              <el-option label="VIP1" value="1"></el-option>
              <el-option label="VIP2" value="2"></el-option>
              <el-option label="VIP3" value="3"></el-option>
              <el-option label="VIP4" value="4"></el-option>
              <el-option label="VIP5" value="5"></el-option>
              <el-option label="VIP6" value="6"></el-option>
              <el-option label="VIP7" value="7"></el-option>
              <el-option label="VIP8" value="8"></el-option>
              <el-option label="VIP9" value="9"></el-option>
              <el-option label="VIP10" value="10"></el-option>
            </el-select>
            <span class="grade-span" v-show="ruleForm.grades.length > 0">已选 <span>{{ruleForm.grades.length}}</span> 项</span>
          </el-form-item>
          <el-form-item label="类型" prop="dictionId">
            <el-select v-model="ruleForm.dictionId" class="width-search70" placeholder="请选择" filterable>
              <el-option label="全部" value=""></el-option>
              <el-option label="网银支付" value="101"></el-option>
              <el-option label="支付宝" value="103"></el-option>
              <el-option label="微信支付" value="104"></el-option>
              <el-option label="QQ钱包" value="105"></el-option>
              <el-option label="云闪付" value="108"></el-option>
              <el-option label="京东钱包" value="109"></el-option>
              <el-option label="银联支付" value="107"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="账户" prop="accountName">
            <el-select v-model="ruleForm.accountName" class="width-search50" filterable>
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.accountName"
                :label="item.accountLabel"
                :value="item.accountName">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="状态" prop="state">
            <el-select v-model="ruleForm.state" class="width-shotstatus" >
              <el-option label="全部" value="-1"></el-option>
              <el-option label="申请中" value="0"></el-option>
              <el-option label="已确定" value="1"></el-option>
              <el-option label="已取消" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="流水号" prop="recordCode">
            <el-input v-model="ruleForm.recordCode" class="width-search50 padding-less" placeholder="请输入"></el-input>
          </el-form-item>
          <el-form-item label="金额" class="width-search-money padding-less">
            <el-col :span="11">
              <el-input type="text" placeholder="最低额" v-model="ruleForm.startAmount" style="width: 100%;"></el-input>
            </el-col>
            <el-col class="line" :span="2">-</el-col>
            <el-col :span="11">
              <el-input type="text" placeholder="最高额" v-model="ruleForm.endAmount" style="width: 100%;"></el-input>
            </el-col>
          </el-form-item>
          <el-form-item label="开始" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour width-search-hour120"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour width-search-hour120"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768">
              <div class="search-rwdbtn">
                <popover-right
                  :isScroll="true"
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" v-if="screenW<=768" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="更新" prop="Update">
                      <el-select v-model="ruleForm.Update" >
                        <el-option label="15秒" value="15"></el-option>
                        <el-option label="30秒" value="30"></el-option>
                        <el-option label="60秒" value="60"></el-option>
                        <el-option label="暂停" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="类型" prop="dictionId">
                      <el-select v-model="ruleForm.dictionId" class="TypeWindth" placeholder="请选择类型">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="网银支付" value="101"></el-option>
                        <el-option label="支付宝" value="103"></el-option>
                        <el-option label="微信支付" value="104"></el-option>
                        <el-option label="QQ钱包" value="105"></el-option>
                        <el-option label="银联支付" value="107"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="账户" prop="accountName">
                      <el-select v-model="ruleForm.accountName" class="width-search90" >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.accountName"
                          :label="item.accountLabel"
                          :value="item.accountName">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="状态" prop="state">
                      <el-select v-model="ruleForm.state">
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="申请中" value="0"></el-option>
                        <el-option label="已确定" value="1"></el-option>
                        <el-option label="已取消" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="等级" prop="grades" class="grades-select">
                      <el-select v-model="ruleForm.grades" multiple popper-class="small-scroll-select select1 " @visible-change="change('select1')">
                        <el-option label="测试组" value="-1"></el-option>
                        <el-option label="黑名单" value="0"></el-option>
                        <el-option label="VIP1" value="1"></el-option>
                        <el-option label="VIP2" value="2"></el-option>
                        <el-option label="VIP3" value="3"></el-option>
                        <el-option label="VIP4" value="4"></el-option>
                        <el-option label="VIP5" value="5"></el-option>
                        <el-option label="VIP6" value="6"></el-option>
                        <el-option label="VIP7" value="7"></el-option>
                        <el-option label="VIP8" value="8"></el-option>
                        <el-option label="VIP9" value="9"></el-option>
                        <el-option label="VIP10" value="10"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="流水号" prop="recordCode">
                      <el-input v-model="ruleForm.recordCode" placeholder="请输入流水号"></el-input>
                    </el-form-item>
                    <el-form-item label="金额" >
                      <el-col :span="24">
                        <el-input type="text" placeholder="请输入最低金额" v-model="ruleForm.startAmount" style="width: 100%;" ></el-input>
                      </el-col>
                      <el-col :span="24">
                        <el-input type="text" placeholder="请输入最高金额" v-model="ruleForm.endAmount" style="width: 100%;" class="margin-t4"></el-input>
                      </el-col>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300 fixed-height-tr" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="7%"><div class="cell">会员账号</div></th>
                  <th width="5%"><div class="cell">等级</div></th>
                  <th  width="5%"><div class="cell">存入金额</div></th>
                  <th width="11%"><div class="cell">存入账户</div></th>
                  <th width="5%"><div class="cell">状态</div></th>
                  <th width="10%"><div class="cell">强制入款</div></th>
                  <th  width="3%"><div class="cell">发起时间</div></th>
                  <th width="3%"><div class="cell">操作时间</div></th>
                  <th width="1%"><div class="cell">流水号</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td >
                      <div class="cell max-width145 min-width130 cursor-style color-blue" :id="'multipleTableUserName'+ index" @click="openContentForm('userName', '会员账号', items, 'multipleTableUserName' + index, 'multipleTableUserNameContent' + index)">
                        <span :title="items.userName"  :id="'multipleTableUserNameContent' + index">{{items.userName}}</span>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{gradeFormatter(items)}}</span></div></td>
                    <td><div class="cell"> <span class="color-danger">{{items.amount | formatMoneyTwo}}</span></div></td>
                    <td>
                      <div class="cell td-width130 cursor-style" :id="'multipleTableAccountNameColumn' + index" @click="openContentForm('accountName', '存入账户', items, 'multipleTableAccountNameColumn' + index, 'multipleTableOperatorContent' + index)" >
                        <!--<span v-if="items.accountNameFlag === 0">{{items.accountName}}</span>-->
                        <!--<span v-else class="hoverline-effet  hover-black" @click="openContentForm('accountName', '存入账户', items)" v-html="items.accountNameContent"></span>-->
                        <span :title="items.accountName" :id="'multipleTableOperatorContent' + index">{{items.accountName}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell td-width80">
                        <template v-if="items.state === 0">
                            <span >支付中</span>
                        </template>
                        <template v-else-if="items.state === 1">
                          <span class="color-success">已确定</span>
                        </template>
                        <template v-else-if="items.state === 2">
                          <span class="color-graystate">已取消</span>
                        </template>
                        <template v-else>
                          <span class="color-graystate">未知状态</span>
                        </template>
                      </div>
                    </td>
                    <td>
                      <div class="cell state-btn td-width150">
                        <template v-if="items.state === 0">
                          <el-button
                            size="mini"
                            @click="handleRecharge(index, items, 1)" :disabled="items.isButtonDisabled ? true : false" :loading="items.isButtonDisabled">强制入款</el-button>
                        </template>
                        <template v-else-if="items.state === 1 && (items.operator === '0' || items.operator === '')">
                          ---
                        </template>
                        <template v-else-if="items.state === 1 && items.operator !== '0' && items.operator !== ''">
                          {{items.operator}}
                        </template>
                        <template v-else-if="items.state === 2">
                          ---
                        </template>
                        <template v-else>
                          未知状态
                        </template>
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        <span>{{items.gmtCreated}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell td-width160">
                        <span>{{formatterOperationTime(items)}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell">
                        <span>{{items.recordCode}}</span>
                      </div>
                    </td>
                    <!--<td>
                      <div class="cell">
                        <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = index" ><i class="dafa-icon dafa-icon-copy"></i></div></div></td>
                    -->
                  </tr>
                  <tr class="td-background">
                    <td colspan="2"><div class="cell">合计</div></td>
                    <td colspan="9"><div class="cell" >{{summaryData['amount']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="11"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                fixed
                min-width="130" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="等级"
                width="60"
                :formatter="gradeFormatter">
              </el-table-column>
              <el-table-column
                prop="amount"
                label="存入金额"
                min-width="100">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.amount | formatMoneyTwo}}</span></template>
              </el-table-column>
              <el-table-column
                prop="accountName"
                label="存入账户"
                min-width="160" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="state"
                label="状态"
                min-width="80">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === 0">
                    支付中
                  </template>
                  <template v-else-if="scope.row.state === 1">
                    <span class="color-success"> 已确定</span>
                  </template>
                  <template v-else-if="scope.row.state === 2">
                    <span class="color-graystate">已取消</span>
                  </template>
                  <template v-else>
                    未知状态
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="operator"
                label="强制入款"
                min-width="180">
                <template slot-scope="scope">
                  <div class="state-btn">
                    <template v-if="scope.row.state === 0">
                      <template v-if="screenW > 768" slot-scope="scope">
                        <el-button
                          size="mini"
                          @click="handleRecharge(scope.$index, scope.row, 1)" :disabled="scope.row.isButtonDisabled ? true : false" :loading="scope.row.isButtonDisabled">强制入款</el-button>
                      </template>
                      <template>
                        未操作
                      </template>
                    </template>
                    <template v-else-if="scope.row.state === 1 && (scope.row.operator === '0' || scope.row.operator === '')">
                      ---
                    </template>
                    <template v-else-if="scope.row.state === 1 && scope.row.operator !== '0' && scope.row.operator !== ''">
                      {{scope.row.operator}}
                    </template>
                    <template v-else-if="scope.row.state === 2">
                      ---
                    </template>
                    <template v-else>
                      未知状态
                    </template>
                  </div>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="发起时间"
                :min-width="screenW >1024 ? '140':'190'">
              </el-table-column>
              <el-table-column
                prop="operationTime"
                label="操作时间"
                :formatter="formatterOperationTime"
                :min-width="screenW >1024 ? '140':'190'">
                <!--<template slot-scope="scope">-->
                  <!--<div class="state-btn">-->
                    <!--<template v-if="scope.row.state === 0">-->
                      <!--<span>-&#45;&#45;</span>-->
                    <!--</template>-->
                    <!--<template v-else>-->
                      <!--<span>{{scope.row.operationTime}}</span>-->
                    <!--</template>-->
                  <!--</div>-->
                <!--</template>-->
              </el-table-column>
              <el-table-column
                label="流水号"
                prop="recordCode"
                :min-width="screenW >1024 ? '160':'220'">
              </el-table-column>
              <!--<el-table-column-->
                <!--label="操作"-->
                <!--width="40" fixed="right" v-if="screenW > 768">-->
                <!--<template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
        <audio ref="mp3Play" meted="meted" :autoplay="autoPlay" :loop="mp3lood"
               :src="mp3Url">
        </audio>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <template v-if="detailData.state === 0" >
            <span @click="handleRecharge(detailIndex, detailData, 1);rwdbtnVisible=false" >强制入款</span>
          </template>
          <span @click="checkRow()" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="第三方充值订单"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{gradeFormatter(detailData)}}</span>
            </li>
            <li>
              <span>存入金额</span>
              <span>{{detailData.amount | formatMoneyTwo}}</span>
            </li>
            <li>
              <span>存入账户</span>
              <span>{{detailData.accountName}}</span>
            </li>
            <li>
              <span>状态</span>
              <template v-if="detailData.state === 0">
                <span >未处理</span>
              </template>
              <template v-else-if="detailData.state === 1">
                <span class="color-success">已确定</span>
              </template>
              <template v-else-if="detailData.state === 2">
                <span class="color-graystate">已取消</span>
              </template>
              <template v-else>
                <span class="color-graystate">未知状态</span>
              </template>
            </li>
            <li>
              <span>强制入款</span>
              <template v-if="detailData.state === 0">
                <span class="color-graystate">未操作</span>
              </template>
              <template v-else-if="detailData.state === 1 && (detailData.operator === '0' || detailData.operator === '')">
                <span class="color-graystate">---</span>
              </template>
              <template v-else-if="detailData.state === 1 && detailData.operator !== '0' && detailData.operator !== ''">
                <span class="color-graystate">{{detailData.operator}}</span>
              </template>
              <template v-else-if="detailData.state === 2">
                <span class="color-graystate">已取消</span>
              </template>
              <template v-else>
                <span class="color-graystate">未知状态</span>
              </template>
            </li>
            <li>
              <span>发起时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>操作时间</span>
              <!--<template v-if="detailData.state === 0">-->
                <!--<span>-&#45;&#45;</span>-->
              <!--</template>-->
              <!--<template v-else>-->
                <!--<span>{{detailData.operationTime}}</span>-->
              <!--</template>-->
              <span>{{formatterOperationTime(detailData)}}</span>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          ref="pagination"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import {dateFormat} from '@/utils/index'
import Api from '@/api/transfer'
import {DateFormat, exportExl} from '@/utils/Time'
import {validateQueryDate, validateRules} from '@/utils/validateRules'
import {gradeData} from '@/utils/config'
import ApiSys from '@/api/sys'
import {formatMoney, getSummaries} from '@/filters/index'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import DafaLoading from '@/components/DafaLoading'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {getEllipsisFlag} from '@/utils'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    },
    totalAmount () {
      let [i, length, amount] = [0, this.allList.length, 0]
      for (i; i < length; i++) {
        amount = amount + this.allList[i].amount
      }
      return formatMoney(amount)
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        Update: 15,
        state: '-1',
        grades: [],
        userName: '',
        recordCode: '',
        startTime: dateFormat(new Date(new Date().getTime() - 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        rechargeType: 1,
        accountName: '',
        startAmount: '',
        endAmount: '',
        dictionId: ''
      },
      autoPlay: false,
      mp3Url: '',
      mp3lood: false,
      level: gradeData,
      // 列表数据
      allList: [],
      total: 0,
      state: {
        '0': '支付中',
        '1': '已确定',
        '2': '已取消',
        '3': '已取消'
      },
      timer: null,
      pageNum: 1,
      pageSize: 20,
      Ringtone: {},
      gradesNumber: '',
      currentUser: null,
      summaryColumns: {'amount': '1'},
      summaryData: [],
      options: []
    }
  },
  mounted () {
    // this.getRingtone()
    if (localStorage.getItem('siteInfo')) {
      let siteInfo = JSON.parse(localStorage.getItem('siteInfo'))
      if (siteInfo.isPlatform === 1) {
        this.currentUser = 'dafacloud-' + siteInfo.userName
      } else {
        this.currentUser = siteInfo.userName
      }
    }
    this.getAccountNameData()
    this.setTimer()
  },
  beforeDestroy () {
    this.ruleForm.Update = 0
    clearTimeout(this.timer)
  },
  methods: {
    getCurrentUser () {
      if (!sessionStorage.getItem('siteInfo') || !localStorage.getItem('siteInfo')) {
        this.msgConfirm('缓存数据丢失，将返回到登录页', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          closeOnClickModal: false,
          closeOnPressEscape: false,
          showClose: false,
          showCancelButton: false
        }).then(() => {
          this.$router.push('/login?transactionRechargeFast')
        })
      }
      let siteInfo = JSON.parse(localStorage.getItem('siteInfo'))
      this.currentPlatformUser = 'dafacloud-' + siteInfo.userName
      if (siteInfo.isPlatform === 1) {
        this.currentUser = 'dafacloud-' + siteInfo.userName
      } else {
        this.currentUser = siteInfo.userName
      }
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      console.log(type + title + v + columnDomId + contentDomId)
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoney(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    formatterOperationTime (row, column) {
      if (row.state === 0 || row.state === 3) {
        return '---'
      }
      return row.operationTime
    },
    exportExcel () {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      if (submitData.startAmount !== '') {
        if (submitData.endAmount === '') {
          this.msgError('请输入最高金额')
          return
        }
      }
      if (submitData.endAmount !== '') {
        if (submitData.startAmount === '') {
          this.msgError('请输入最低金额')
          return
        }
      }
      if (submitData.startAmount !== '' && submitData.endAmount !== '') {
        if (!validateRules.number(submitData.startAmount)) {
          this.msgError('最低金额格式错误，只能为数值')
          return
        }
        if (!validateRules.number(submitData.endAmount)) {
          this.msgError('最高金额格式错误，只能为数值')
          return
        }
        if (Number(submitData.startAmount) > Number(submitData.endAmount)) {
          this.msgError('最低金额不能大于等于最高金额')
          return
        }
      }
      // console.log('submitData', submitData)
      let obj = this
      Api.paymentRecordList(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.rows
        let excel = '<tr><th>流水号</th><th>会员账号</th><th>等级</th><th>存入金额</th><th>存入账户<th>状态</th><th>强制入款</th><th>发起时间</th><th>操作时间</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].recordCode}</th>
            <th>${excelarr[i].userName}</th>
            <th>${this.level[excelarr[i].grade]}</th>
            <th>${formatMoney(excelarr[i].amount)}</th>
            <th>${excelarr[i].accountName}</th>
            <th>${this.state[excelarr[i].state]}</th>
            <th>${this.getOperator(excelarr[i])}</th>
            <th>${excelarr[i].gmtCreated}</th>
            <th>${this.formatterOperationTime(excelarr[i])}</th>
          </tr>`
        }
        exportExl(excel, '第三方充值订单（' + DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd') + '至' + DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd') + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    getOperator (val) {
      if (val.state === 0) {
        return '未操作'
      }
      if (val.state === 1) {
        return val.operator
      }
      if (val.state === 2 || val.state === 3) {
        return '---'
      }
    },
    playMp3 (url, isPlay) {
      if (!this.$refs.mp3Play) {
        return
      }
      this.autoPlay = true
      if (!isPlay && this.$refs.mp3Play.played) {
        this.mp3lood = false
        this.$refs.mp3Play.pause()
        return
      }
      this.mp3Url = url
      if (this.mp3Url) {
        let obj = this
        this.mp3lood = true
        obj.$refs.mp3Play.load()
        if (this.$refs.mp3Play.readyState) {
          if (!obj.$refs.mp3Play) {
            return
          }
          obj.$refs.mp3Play.play()
          return
        }
        this.$refs.mp3Play.oncanplay = function () {
          if (!obj.$refs.mp3Play) {
            return
          }
          obj.$refs.mp3Play.play()
        }
      }
    },
    setOrder (val) {
      for (let i = 0; i < this.allList.length; i++) {
        if (val.id !== this.allList[i].id) {
          continue
        }
        this.$set(this.allList, i, val)
      }
    },
    handleRecharge (index, row, type) {
      this.getCurrentUser()
      if (row.isButtonDisabled) {
        return
      }
      let submitData = {}
      submitData.id = row.id
      let msg = '是否强制入款'
      this.msgConfirm(msg, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$set(this.allList[index], 'isButtonDisabled', true)
        // this.loading = true
        let obj = this
        Api.updateThirdPartyPaymentState(submitData, function () {
          obj.$set(obj.allList[index], 'isButtonDisabled', false)
        }).then((res) => {
          row.state = 1
          row.operator = this.currentUser
          row.operationTime = DateFormat(new Date(), 'yyyy-MM-dd hh:mm:ss')
          this.$set(this.allList[index], 'isButtonDisabled', false)
          this.setOrder(row)
          this.msgSuccess('操作成功')
          this.$nextTick(function () {})
        })
      }).catch(() => {
      })
    },
    setTimer () {
      if (!this.ruleForm || !this.ruleForm.Update || Number(this.ruleForm.Update) === 0) {
        if (this.timer) {
          clearTimeout(this.timer)
        }
        return
      }
      if (this.timer) {
        clearTimeout(this.timer)
      }
      this.getOrderList(this.pageNum, this.pageSize)
      this.timer = setTimeout(this.setTimer, Number(this.ruleForm.Update) * 1000)
    },
    gradeFormatter (row, column) {
      if (this.level[row.grade]) {
        return this.level[row.grade]
      }
      return '未知等级'
    },
    onSubmit () {
      this.pageNum = 1
      this.avatorVisible = false
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === undefined || this.ruleForm[item] === null) {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      if (submitData.startAmount !== '') {
        if (submitData.endAmount === '') {
          this.msgError('请输入最高金额')
          return
        }
      }
      if (submitData.endAmount !== '') {
        if (submitData.startAmount === '') {
          this.msgError('请输入最低金额')
          return
        }
      }
      if (submitData.startAmount !== '' && submitData.endAmount !== '') {
        if (!validateRules.number(submitData.startAmount)) {
          this.msgError('最低金额格式错误，只能为数值')
          return
        }
        if (!validateRules.number(submitData.endAmount)) {
          this.msgError('最高金额格式错误，只能为数值')
          return
        }
        if (Number(submitData.startAmount) > Number(submitData.endAmount)) {
          this.msgError('最低金额不能大于等于最高金额')
          return
        }
      }
      this.loading = true
      let obj = this
      Api.paymentRecordList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.rows
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          this.loading = false
        })
      })
    },
    resetForm (formName) {
      this.ruleForm.startAmount = ''
      this.ruleForm.endAmount = ''
      this.$refs[formName].resetFields()
    },
    getRingtone () {
      let submitData = {}
      this.loading = true
      let obj = this
      ApiSys.ringtone(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.Ringtone = res.data.ringtone
        this.setTimer()
      })
    },
    getAccountNameData () {
      let submitData = {}
      Api.getAccountNameToThirdParty(submitData, function () {
      }).then((res) => {
        let resData = res.data
        this.options = []
        let tempAccountData = {}
        tempAccountData.accountName = ''
        tempAccountData.accountLabel = '全部'
        for (let i = 0; i < resData.length; i++) {
          let accountData = {}
          Object.assign(accountData, {})
          accountData.accountName = resData[i]
          accountData.accountLabel = resData[i]
          this.options.push(accountData)
        }
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker,
    DafaLoading
  }
}
</script>
