<template>
  <div class="panel">
    <div class="panel-heading">
      提现记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="min" class="small-padding-1r" v-if="screenW > 768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="状态" prop="state">
            <el-select v-model="ruleForm.state" class="width-shotstatus" placeholder="请选择状态">
              <el-option label="全部" value="-1"></el-option>
              <el-option label="申请中" value="0"></el-option>
              <el-option label="已确定" value="1"></el-option>
              <el-option label="已取消" value="2"></el-option>
              <el-option label="已拒绝" value="3"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="账号类型" prop="isTest">
            <el-select v-model="ruleForm.isTest" class="width-search80" placeholder="请选择账号类型" size="min" >
              <el-option
                v-for="item in userType"
                :key="item.key"
                :label="item.name"
                :value="item.key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item size="min" label="会员账号" prop="userName">
            <el-input size="min"  v-model="ruleForm.userName" class="width-search80" placeholder="会员账号"></el-input>
          </el-form-item>
          <el-form-item label="流水号" prop="recordCode">
            <el-input size="min"  v-model="ruleForm.recordCode" class="width-search80" placeholder="流水号"></el-input>
          </el-form-item>
          <el-form-item label="操作人" prop="operator">
            <el-input v-model="ruleForm.operator" class="width-search80" placeholder="操作人"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="状态" prop="state">
                      <el-select v-model="ruleForm.state"  placeholder="请选择状态">
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="申请中" value="0"></el-option>
                        <el-option label="已确定" value="1"></el-option>
                        <el-option label="已取消" value="2"></el-option>
                        <el-option label="已拒绝" value="3"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="账号类型" prop="isTest">
                      <el-select v-model="ruleForm.isTest" class="width-search120" placeholder="请选择账号类型" size="min" >
                        <el-option
                          v-for="item in userType"
                          :key="item.key"
                          :label="item.name"
                          :value="item.key">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item size="min" label="会员账号" prop="userName">
                      <el-input size="min"  v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="流水号" prop="recordCode">
                      <el-input size="min"  v-model="ruleForm.recordCode"  placeholder="请输入流水号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <!--<el-form-item class="post-btn">-->
                      <!--<el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>-->
                      <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">会员账号</div></th>
                  <th><div class="cell">流水号</div></th>
                  <th width="9%"><div class="cell">提现银行</div></th>
                  <th width="13%"><div class="cell">银行卡号</div></th>
                  <th width="8%"><div class="cell">姓名</div></th>
                  <th width="8%"><div class="cell">提现金额</div></th>
                  <th width="8%"><div class="cell">状态</div></th>
                  <th width="9%"><div class="cell">备注</div></th>
                  <th width="12%"><div class="cell">提现时间</div></th>
                  <th width="8%"><div class="cell">操作人</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell min-width120"><span class="color-blue">{{items.userName}}</span></div></td>
                    <td><div class="cell"><span>{{items.recordCode}}</span></div></td>
                    <td>
                      <div class="cell max-width100 cursor-style" :id="'multipleTableBankNameColumn' + index"  @click="openContentForm('bankName', '提现银行', items, 'multipleTableBankNameColumn' + index, 'multipleTableBankNameContent' + index)">
                        <!--<span v-if="items.bankNameFlag === 0">{{items.bankName}}</span>-->
                        <!--<span v-else class="hoverline-effet hover-black" @click="openContentForm('bankName', '提现银行', items)"  v-html="items.bankNameContent"></span>-->
                        <span :title="items.bankName" :id="'multipleTableBankNameContent' + index">{{items.bankName}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="cell max-width140 cursor-style" :id="'multipleTableBankAccountColumn' + index" @click="openContentForm('bankAccount', '银行卡号', items, 'multipleTableBankAccountColumn' + index, 'multipleTableBankAccountContent' + index)">
                        <!--<span v-if="items.bankAccountFlag === 0">{{items.bankAccount}}</span>-->
                        <!--<span v-else class="hoverline-effet hover-black min-width130" @click="openContentForm('bankAccount', '银行卡号', items)" v-html="items.bankAccountContent"></span>-->
                        <span :title="items.bankAccount"  :id="'multipleTableBankAccountContent' + index">{{items.bankAccount}}</span>
                      </div>
                    </td>
                    <td><div class="cell max-width100 cursor-style" :id="'multipleTableUserRealNameColumn' + index" @click="openContentForm('userRealName', '姓名', items, 'multipleTableUserRealNameColumn' + index, 'multipleTableUserRealNameContent' + index)">
                      <!--<span v-if="items.userRealNameFlag === 0">{{items.userRealName}}</span>-->
                      <!--<span v-else class="hoverline-effet hover-black" @click="openContentForm('userRealName', '姓名', items)" v-html="items.userRealNameContent"></span>-->
                      <span :title="items.userRealName" :id="'multipleTableUserRealNameContent' + index">{{items.userRealName}}</span>
                    </div></td>
                    <td><div class="cell"><span class="color-danger">{{items.withdrawAmount}}</span></div></td>
                    <td>
                      <div class="cell">
                        <template v-if="items.state === 0">
                          <span>未处理</span>
                        </template>
                        <template v-else-if="items.state === 1">
                          <span>已确定</span>
                        </template>
                        <template v-else-if="items.state === 2">
                          <span>已取消</span>
                        </template>
                        <template v-else-if="items.state === 3">
                          <span>已拒绝</span>
                        </template>
                        <template v-else>
                          <span>未知状态</span>
                        </template>
                       </div>
                    </td>
                    <td>
                      <div class="cell max-width100 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                      <!--<span v-if="items.remarkFlag === 0">{{items.remark}}</span>-->
                      <!--<span v-else class="hoverline-effet hover-black" @click="openContentForm('remark', '备注', items)"  v-html="items.remarkContent" ></span>-->
                        <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div>
                    </td>
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <!--操作人-->
                    <td>
                      <div v-if="items.state === 0" class="cell td-width75">
                        <span>---</span>
                      </div>
                      <div v-else-if="(items.state === 1 || items.state === 2 || items.state === 3) && items.operator === '0'" class="cell min-width60 max-width80">
                        <span>---</span>
                      </div>
                      <div v-else class="cell td-width75 cursor-style" @click="openContentForm('operator', '操作人', items, 'multipleTableOperatorColumn' + index, 'multipleTableOperatorContent' + index)" :id="'multipleTableOperatorColumn' + index">
                        <span :title="items.operator" :id="'multipleTableOperatorContent' + index">{{items.operator}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="td-background">
                    <td><div class="cell">合计</div></td>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"></div></td>
                    <td><div class="cell"></div></td>
                    <td colspan="4"><div class="cell">{{summaryData['withdrawAmount']}}</div></td>
                    <td><div class="cell"></div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="9"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                min-width="140"
                fixed show-overflow-tooltip
              >
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="流水号"
                :min-width="screenW > 768 ? '180':'220'">
                <template slot-scope="scope">
                  <div>{{ scope.row.recordCode}}</div>
                </template>
              </el-table-column>
              <el-table-column
                prop="bankName"
                label="提现银行"
                min-width="100">
                <template slot-scope="scope">
                  <span>{{scope.row.bankName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="bankAccount"
                label="银行卡号"
                :min-width="screenW > 768 ? '150':'200'" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                label="姓名"
                min-width="90" show-overflow-tooltip>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.userRealName}}</span></template>
              </el-table-column>
              <el-table-column
                prop="withdrawAmount"
                label="提现金额"
                min-width="100">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.withdrawAmount}}</span></template>
              </el-table-column>
              <el-table-column
                prop="state"
                label="状态"
                min-width="70">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === 0">
                    未处理
                  </template>
                  <template v-else-if="scope.row.state === 1">
                    已确定
                  </template>
                  <template v-else-if="scope.row.state === 2">
                    已取消
                  </template>
                  <template v-else-if="scope.row.state === 3">
                    已拒绝
                  </template>
                  <template v-else>
                    未知状态
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="remark"
                label="备注"
                min-width="130" show-overflow-tooltip="">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="提现时间"
                width="180">
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                :min-width="180">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === 0">
                    <span>---</span>
                  </template>
                  <template v-else-if="(scope.row.state === 1 || scope.row.state === 2 || scope.row.state === 3) && scope.row.operator === '0'">
                    <span>---</span>
                  </template>
                  <template v-else>
                    <span>{{scope.row.operator}}</span>
                  </template>
                </template>
              </el-table-column>
              <!--<el-table-column-->
                <!--label="操作"-->
                <!--width="40" fixed="right" v-if="screenW > 768">-->
                <!--<template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="提现记录"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
            <li>
              <span>提现银行</span>
              <span>{{ detailData.bankName}}</span>
            </li>
            <li>
              <span>银行卡号</span>
              <span>{{ detailData.bankAccount}}</span>
            </li>
            <li>
              <span>姓名</span>
              <span>{{detailData.userRealName}}</span>
            </li>
            <li>
              <span>提现金额</span>
              <span>{{detailData.withdrawAmount}}</span>
            </li>
            <li>
              <span>状态</span>
              <template v-if="detailData.state === 0">
                <span>未处理</span>
              </template>
              <template v-else-if="detailData.state === 1">
                <span>已确定</span>
              </template>
              <template v-else-if="detailData.state === 2">
                <span>已取消</span>
              </template>
              <template v-else-if="detailData.state === 3">
                <span>已拒绝</span>
              </template>
              <template v-else>
                <span>未知状态</span>
              </template>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.remark}}</span>
            </li>
            <li>
              <span>提现时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>操作人</span>
              <template v-if="detailData.state === 0 || detailData.operator === '0'">
                <span>---</span>
              </template>
              <template v-else>
                <span>{{detailData.operator}}</span>
              </template>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
// import WithDrawalRecordingList from '../../components/dataTableList/WithDrawalRecordingList'
import Api from '@/api/transfer'
import {dateFormat} from '@/utils/index'
import {validateQueryDate} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import {getSummaries} from '@/filters/index'
import {getEllipsisFlag} from '@/utils'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        recordCode: '',
        state: '-1',
        isTest: '-1', // 增加条件账号类型
        operator: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      // 列表数据
      allList: [],
      total: 0,
      state: {
        '0': '未处理',
        '1': '已确定',
        '2': '已取消',
        '3': '已取消'
      },
      pageNum: 1,
      pageSize: 20,
      summaryColumns: {'withdrawAmount': '2'},
      summaryData: [],
      ellipsisColumns: [{name: 'bankName', width: 118, formatterFunc: null},
        {name: 'bankAccount', width: 170, formatterFunc: null},
        {name: 'userRealName', width: 105, formatterFunc: null},
        {name: 'remark', width: 118, formatterFunc: null}],
      // 增加账号类型、空是全部，1是测试，0是正式
      userType: [
        {
          key: '-1',
          name: '全部'
        },
        {
          key: '1',
          name: '测试账号'
        },
        {
          key: '0',
          name: '真实账号'
        }
      ]
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = sums[index]
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      // console.log('submitData', submitData)
      this.loading = true
      this.avatorVisible = false
      let obj = this
      Api.tradingWithdrawRecordList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.rows
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList)
        // console.log(this.summaryData)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
