<template>
  <div class="panel">
    <div class="panel-heading">
      红包领取记录
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="领取人" prop="receiveUserName">
            <el-input v-model="ruleForm.receiveUserName"  class="width-search70" placeholder="领取人"></el-input>
          </el-form-item>
          <el-form-item label="发送人" prop="userName">
            <el-input v-model="ruleForm.userName"  class="width-search70" placeholder="账号"></el-input>
          </el-form-item>
          <el-form-item label="类型" prop="type">
            <el-select v-model="ruleForm.type" class="width-search80" placeholder="请选择类型">
              <el-option label="全部" value="-1"></el-option>
              <el-option label="普通红包" value="1"></el-option>
              <el-option label="手气红包" value="2"></el-option>
              <el-option label="个人红包" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="领取流水号" prop="sendRecordCode">
            <el-input v-model="ruleForm.recordCode"  placeholder="流水号"  class="width-search80"></el-input>
          </el-form-item>
          <el-form-item label="红包流水号" prop="recordCode">
            <el-input v-model="ruleForm.sendRecordCode"  placeholder="流水号"  class="width-search80"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="领取人" prop="receiveUserName">
                      <el-input v-model="ruleForm.receiveUserName" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="发送人" prop="userName">
                      <el-input v-model="ruleForm.userName" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="类型" prop="status">
                      <el-select v-model="ruleForm.type" placeholder="请选择类型">
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="普通红包" value="1"></el-option>
                        <el-option label="手气红包" value="2"></el-option>
                        <el-option label="个人红包" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="领取流水号" prop="sendRecordCode">
                      <el-input v-model="ruleForm.recordCode"  placeholder="请输入流水号" ></el-input>
                    </el-form-item>
                    <el-form-item label="红包流水号" prop="recordCode">
                      <el-input v-model="ruleForm.sendRecordCode"  placeholder="请输入流水号"  ></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">领取人</div></th>
                  <th><div class="cell">红包类型</div></th>
                  <th><div class="cell">领取金额</div></th>
                  <th><div class="cell">发送人</div></th>
                  <th width="200px"><div class="cell">领取时间</div></th>
                  <th width="200px"><div class="cell">领取流水号</div></th>
                  <th width="200px"><div class="cell">红包流水号</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--领取人-->
                    <td><div class="cell"><span class="color-blue">{{items.receiveUserName}}</span></div></td>
                    <!--红包类型-->
                    <td><div class="cell">
                      <template v-if="items.dispatchType === 0"><span>个人红包</span></template>
                      <template v-else-if="items.dispatchType === 1"><span>普通红包</span></template>
                      <template v-else><span>手气红包</span></template>
                    </div></td>
                    <!--领取金额-->
                    <td><div class="cell"><span class="color-danger">{{items.amount | formatMoney}}</span></div></td>
                    <!--发送人-->
                    <td><div class="cell"><span >{{items.userName}}</span></div></td>
                    <!--领取时间-->
                    <td><div class="cell"><span>{{items.receiveTime}}</span></div></td>
                    <!--领取流水号-->
                    <td><div class="cell"><span >{{items.recordCode}}</span></div></td>
                    <!--红包流水号-->
                    <td><div class="cell"><span >{{items.recordId}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td><div class="cell">合计</div></td>
                    <td><div class="cell"></div></td>
                    <td colspan="5"><div class="cell">{{summaryData['amount']}}</div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails">
              <el-table-column
                label="领取人"
                min-width="160"
                show-overflow-tooltip
                fixed>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.receiveUserName}}</span></template>
              </el-table-column>
              <el-table-column
                label="红包类型"
                min-width="100">
                <template slot-scope="scope">
                  <template v-if="scope.row.dispatchType === 0"><span>个人红包</span></template>
                  <template v-else-if="scope.row.dispatchType === 1"><span>普通红包</span></template>
                  <template v-else><span>手气红包</span></template>
                </template>
              </el-table-column>
              <el-table-column
                prop="gradeName"
                label="领取金额"
                width="80">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.amount | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                label="发送人"
                min-width="160"
                prop="userName">
              </el-table-column>
              <el-table-column
                prop="receiveTime"
                label="领取时间"
                min-width="180">
              </el-table-column>
              <el-table-column
                prop="recordCode"
                label="领取流水号"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="recordId"
                label="红包流水号"
                min-width="200">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300, 1000]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="红包领取记录"
      @close="detailShow=false">
      <ul >
        <li>
          <span>领取人</span>
          <span class="color-blue">{{detailData.userName}}</span>
        </li>
        <li>
          <span>红包类型</span>
          <span>
             <template v-if="detailData.dispatchType === 0">个人红包</template>
             <template v-else-if="detailData.dispatchType === 1">普通红包</template>
             <template v-else>手气红包</template>
          </span>
        </li>
        <li>
          <span>领取金额</span>
          <span>{{detailData.amount | formatMoney}}</span>
        </li>
        <li>
          <span>发送人</span>
          <span>{{detailData.userName}}</span>
        </li>
        <li>
          <span>领取时间</span>
          <span>{{detailData.receiveTime}}</span>
        </li>
        <li>
          <span>领取流水号</span>
          <span>{{detailData.recordCode}}</span>
        </li>
        <li>
          <span>红包流水号</span>
          <span>{{detailData.recordId}}</span>
        </li>
      </ul>
    </popover-right>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import Scroll from '@/components/Scroll'
import {dateFormat} from '@/utils/index'
import {getSummaries} from '@/filters/index'
import {validateQueryDate} from '@/utils/validateRules'
import BaseCopy from '@/views/baseExtend/BaseCopy'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  mixins: [BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ChatBanShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      ruleForm: {
        userName: '',
        type: '-1',
        status: '-1',
        recordCode: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      summaryColumns: {'amount': '1'},
      summaryData: []
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      this.loading = true
      let obj = this
      Api.queryReceiveRedEnvelopeList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loading = true
        let obj = this
        Api.deleteBan(submitData, function () {
          obj.loading = false
        }).then((res) => {
          this.getOrderList(1, 20)
          this.$nextTick(function () {
            obj.loading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loading = true
        let obj = this
        Api.deleteMessage(submitData, function () {
          obj.loading = false
        }).then((res) => {
          this.getOrderList(1, 20)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
