<template>
  <div class="panel">
    <div class="panel-heading">
      一般充值订单<dafa-loading v-if="loading"></dafa-loading>
      <div class="float-right panel-heading-right">
        <el-button id="clipboard" size="mini" type="success" v-if="screenW>768">复制表格</el-button>
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!--搜尋header-->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="min" class="small-padding-1r" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="更新" prop="Update">
            <el-select v-model="ruleForm.Update" class="width-update" >
              <el-option label="15秒" value="15"></el-option>
              <el-option label="30秒" value="30"></el-option>
              <el-option label="60秒" value="60"></el-option>
              <el-option label="暂停" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-search75" placeholder="账号"></el-input>
          </el-form-item>
          <el-form-item label="等级" prop="grades" class="grades-position" :class="{'grades-overflow':ruleForm.grades.length > 1}">
            <el-select v-model="ruleForm.grades" multiple class="grades-select width-grade" placeholder="请选择">
              <el-option label="测试组" value="-1"></el-option>
              <el-option label="黑名单" value="0"></el-option>
              <el-option label="VIP1" value="1"></el-option>
              <el-option label="VIP2" value="2"></el-option>
              <el-option label="VIP3" value="3"></el-option>
              <el-option label="VIP4" value="4"></el-option>
              <el-option label="VIP5" value="5"></el-option>
              <el-option label="VIP6" value="6"></el-option>
              <el-option label="VIP7" value="7"></el-option>
              <el-option label="VIP8" value="8"></el-option>
              <el-option label="VIP9" value="9"></el-option>
              <el-option label="VIP10" value="10"></el-option>
            </el-select>
            <span class="grade-span" v-show="ruleForm.grades.length > 0">已选 <span>{{ruleForm.grades.length}}</span> 项</span>
          </el-form-item>
          <el-form-item label="类型" prop="dictionId">
            <el-select v-model="ruleForm.dictionId" class="width-search60" placeholder="请选择充值方式" filterable>
              <el-option label="全部" value=""></el-option>
              <el-option label="银行转账" value="102"></el-option>
              <el-option label="支付宝" value="103"></el-option>
              <el-option label="微信支付" value="104"></el-option>
              <el-option label="QQ钱包" value="105"></el-option>
              <el-option label="云闪付" value="108"></el-option>
              <el-option label="京东钱包" value="109"></el-option>
              <el-option label="银联支付" value="107"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="账户" prop="accountName" class="grades-position account-position" :class="{'grades-overflow':ruleForm.accountName.length > 1}">
            <el-select v-model="ruleForm.accountName" multiple class="grades-select width-grade" placeholder="请选择">
              <!--<el-option label="全部" value=""></el-option>-->
              <el-option
                v-for="item in options"
                :key="item.accountName"
                :label="item.accountLabel"
                :value="item.accountName">
              </el-option>
            </el-select>
            <span class="grade-span" v-show="ruleForm.accountName.length > 0">已选 <span>{{ruleForm.accountName.length}}</span> 项</span>
          </el-form-item>
          <el-form-item label="状态" prop="state">
            <el-select v-model="ruleForm.state" class="width-shotstatus">
              <el-option label="全部" value="-1"></el-option>
              <el-option label="申请中" value="0"></el-option>
              <el-option label="已确定" value="1"></el-option>
              <el-option label="已取消" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="金额" class="width-search-money padding-less">
            <el-col :span="11">
              <el-input type="text" placeholder="最低额" v-model="ruleForm.startAmount"></el-input>
            </el-col>
            <el-col class="line" :span="2">-</el-col>
            <el-col :span="11">
              <el-input type="text" placeholder="最高额" v-model="ruleForm.endAmount"></el-input>
            </el-col>
          </el-form-item>
          <el-form-item label="开始" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour width-search-hour120"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour width-search-hour120"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :isScroll="true"
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" v-if="screenW<=768" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="更新" prop="Update">
                      <el-select v-model="ruleForm.Update" class="TypeWindth" placeholder="请选择状态">
                        <el-option label="15秒" value="15"></el-option>
                        <el-option label="30秒" value="30"></el-option>
                        <el-option label="60秒" value="60"></el-option>
                        <el-option label="暂停" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="类型" prop="dictionId">
                      <el-select v-model="ruleForm.dictionId" class="TypeWindth" placeholder="请选择充值方式">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="银行转账" value="102"></el-option>
                        <el-option label="支付宝" value="103"></el-option>
                        <el-option label="微信支付" value="104"></el-option>
                        <el-option label="QQ钱包" value="105"></el-option>
                        <el-option label="云闪付" value="108"></el-option>
                        <el-option label="京东钱包" value="109"></el-option>
                        <el-option label="银联支付" value="107"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="账户" prop="accountName">
                      <el-select v-model="ruleForm.accountName" class="TypeWindth" placeholder="" popper-class="small-scroll-select select1" @visible-change="change('select1')">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.accountName"
                          :label="item.accountLabel"
                          :value="item.accountName">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="状态" prop="state">
                      <el-select v-model="ruleForm.state" class="TypeWindth" placeholder="请选择状态">
                        <el-option label="全部" value="-1"></el-option>
                        <el-option label="申请中" value="0"></el-option>
                        <el-option label="已确定" value="1"></el-option>
                        <el-option label="已取消" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="等级" prop="grades" class="grades-select">
                      <el-select v-model="ruleForm.grades" multiple class="TypeWindth" popper-class="small-scroll-select  select2" @visible-change="change('select2')" placeholder="请选择">
                        <el-option label="测试组" value="-1"></el-option>
                        <el-option label="黑名单" value="0"></el-option>
                        <el-option label="VIP1" value="1"></el-option>
                        <el-option label="VIP2" value="2"></el-option>
                        <el-option label="VIP3" value="3"></el-option>
                        <el-option label="VIP4" value="4"></el-option>
                        <el-option label="VIP5" value="5"></el-option>
                        <el-option label="VIP6" value="6"></el-option>
                        <el-option label="VIP7" value="7"></el-option>
                        <el-option label="VIP8" value="8"></el-option>
                        <el-option label="VIP9" value="9"></el-option>
                        <el-option label="VIP10" value="10"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="账号" porp="userName">
                      <el-input v-model="ruleForm.userName" class="inputWindth" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="金额">
                      <el-col :span="24">
                        <el-input type="text" placeholder="请输入最低金额" v-model="ruleForm.startAmount" style="width: 100%;"></el-input>
                      </el-col>
                      <el-col :span="24">
                        <el-input type="text" placeholder="请输入最高金额" v-model="ruleForm.endAmount" style="width: 100%;" class="margin-t6"></el-input>
                      </el-col>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style">
          <!--電腦版-->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table table300 fixed-height-tr" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell ">会员账号</div></th>
                  <th ><div class="cell">等级</div></th>
                  <th ><div class="cell">存入金额</div></th>
                  <th ><div class="cell">存入账户</div></th>
                  <th ><div class="cell">附言</div></th>
                  <th ><div class="cell">状态</div></th>
                  <th ><div class="cell">操作人</div></th>
                  <th ><div class="cell">发起时间</div></th>
                  <th ><div class="cell">操作时间</div></th>
                  <th><div class="cell">流水号</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--会员账号-->
                    <td  :id="'multipleTableUserName'+ index" @click="openContentForm('userName', '会员账号', items, 'multipleTableUserName' + index, 'multipleTableUserNameContent' + index)">
                      <div class="cell max-width145 min-width130 cursor-style color-blue">
                        <span :title="items.userName"  :id="'multipleTableUserNameContent' + index">{{items.userName}}</span>
                      </div>
                    </td>
                    <!--等级-->
                    <td><div class="cell min-width60"><span>{{gradeFormatter(items)}}</span></div></td>
                    <!--存入金额-->
                    <td><div class="cell min-width80"><span class="color-danger">{{items.amount | formatMoneyTwo}}</span></div></td>
                    <!--存入账户-->
                    <td><div class="cell  max-width140 min-width100 cursor-style" :id="'multipleTableAccountNameColumn' + index" @click="openContentForm('accountName', '存入账户', items, 'multipleTableAccountNameColumn' + index, 'multipleTableAccountNameContent' + index)">
                      <!--<span v-if="items.accountNameFlag === 0">{{items.accountNameContent}}</span>-->
                      <!--<span v-else class="hoverline-effet"  @click="openContentForm('accountName', '存入账户', items)" v-html="items.accountNameContent"></span>-->
                      <span :title="items.accountName" :id="'multipleTableAccountNameContent' + index">{{items.accountName}}</span>
                    </div></td>
                    <!--附言-->
                    <td><div class="cell color-blue td-width120 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '附言', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                      <!--// 100-->
                      <!--<span v-if="items.remarkFlag === 0">{{items.remarkContent}}</span>-->
                      <!--<span v-else class="hoverline-effet"  @click="openContentForm('remark', '附言', items)" v-html="items.remarkContent"></span>-->
                      <span :title="items.remark" :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                    </div></td>
                    <!--状态-->
                    <td>
                      <div class="cell td-width130">
                        <template >
                          <template >
                            <div class="state-btn">
                              <template v-if="items.state === 0">
                          <span class="rwd-btn">
                             <el-button
                               size="mini"
                               @click="handleRecharge(index, items, 1)" :disabled="items.isDisableOKButton ? true : false" :loading="items.isDisableOKButton">确定</el-button>
                          <el-button
                            size="mini"
                            @click="handleRecharge(index, items, 3)" :disabled="items.isDisableCancelButton ? true : false" :loading="items.isDisableCancelButton">取消</el-button>
                          </span>
                              </template>
                              <template v-else-if="items.state === 1">
                                <span class="color-success">已确定</span>
                              </template>
                              <template v-else-if="items.state === 2">
                                <span class="color-graystate">已取消</span>
                              </template>
                              <template v-else-if="items.state === 3">
                          <span class="rwd-btn">
                          </span>
                                <el-button
                                  size="mini"
                                  @click="handleRecharge(index, items, 0)" :disabled="items.isDisableRestoreCancelButton ? true : false" :loading="items.isDisableRestoreCancelButton">恢复取消</el-button>
                              </template>
                              <template v-else>
                                未知状态
                              </template>
                            </div>
                          </template>
                        </template>
                      </div>
                    </td>
                    <!--操作人-->
                    <td>
                      <div class="cell td-width100 cursor-style" :id="'multipleTableOperatorColumn' + index" @click="openContentForm('operator', '操作人', items, 'multipleTableOperatorColumn' + index, 'multipleTableOperatorContent' + index)">
                        <!--<span :title="formatterOperator(items)" v-if="items.operatorFlag === 0">{{items.operatorContent}}</span>-->
                        <!--<span v-else class="hover-black max-width130 hoverline-effet" @click="openContentForm('operator', '操作人', items)"  v-html="items.operatorContent" ></span>-->
                        <span :title="formatterOperator(items)" :id="'multipleTableOperatorContent' + index">{{formatterOperator(items)}}</span>
                      </div>
                    </td>
                    <!--发起时间-->
                    <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    <!--操作时间-->
                    <td><div class="cell td-width160"><span>{{formatterOperationTime(items)}}</span></div></td>
                    <td><div class="cell td-width180"> <span>{{items.recordCode}}</span></div></td>
                  </tr>
                  <tr class="td-background">
                    <td colspan="2"><div class="cell">合计</div></td>
                    <td colspan="9"><div class="cell">{{summaryData['amount']}}</div></td>
                  </tr>
                </template>
                <template v-else>
                  <tr>
                    <td colspan="11"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <!--手機版-->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              :summary-method="getSummaries"
              show-summary
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                min-width="130"
                fixed >
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="等级"
                :min-width="screenW > 768 ? '50':'70'"
                :formatter="gradeFormatter">
              </el-table-column>
              <el-table-column
                prop="amount"
                label="存入金额"
                min-width="90">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.amount | formatMoneyTwo}}</span></template>
              </el-table-column>
              <el-table-column
                prop="accountName"
                label="存入账户"
                :min-width="screenW > 768 ? '140':'200'"  show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="remark"
                label="附言"
                min-width="130" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="state"
                label="状态"
                :min-width="screenW > 1023 ? '130': '200'">
                <template slot-scope="scope">
                  <template v-if="screenW >768">
                    <div class="state-btn">
                      <template v-if="scope.row.state === 0">
                          <span class="rwd-btn">
                             <el-button
                               size="mini"
                               @click="handleRecharge(scope.$index, scope.row, 1)" :disabled="scope.row.isDisableOKButton ? true : false" :loading="scope.row.isDisableOKButton">确定</el-button>
                          <el-button
                            size="mini"
                            @click="handleRecharge(scope.$index, scope.row, 3)" :disabled="scope.row.isDisableCancelButton ? true : false" :loading="scope.row.isDisableCancelButton">取消</el-button>
                          </span>
                      </template>
                      <template v-else-if="scope.row.state === 1">
                        <span class="color-success">已确定</span>
                      </template>
                      <template v-else-if="scope.row.state === 2">
                        <span class="color-graystate">已取消</span>
                      </template>
                      <template v-else-if="scope.row.state === 3">
                          <span class="rwd-btn">
                          </span>
                        <el-button
                          size="mini"
                          @click="handleRecharge(scope.$index, scope.row, 0)" :disabled="scope.row.isDisableRestoreCancelButton ? true : false" :loading="scope.row.isDisableRestoreCancelButton">恢复取消</el-button>
                      </template>
                      <template v-else>
                        未知状态
                      </template>
                    </div>
                  </template>
                  <template v-else>
                    <template v-if="scope.row.state === 0">
                      <span>未处理</span>
                    </template>
                    <template v-else-if="scope.row.state === 1">
                      <span class="color-success">已确定</span>
                    </template>
                    <template v-else-if="scope.row.state === 2">
                      <span class="color-graystate">已取消</span>
                    </template>
                    <template v-else-if="scope.row.state === 3">
                      <span>已取消</span>
                    </template>
                    <template v-else>
                      未知状态
                    </template>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                :formatter="formatterOperator"
                min-width="170">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="发起时间"
                :min-width="screenW >1024 ? '140':'180'">
              </el-table-column>
              <el-table-column
                prop="operationTime"
                label="操作时间"
                :formatter="formatterOperationTime"
                :min-width="screenW >1024 ? '140':'180'">
              </el-table-column>
              <el-table-column
                label="流水号"
                prop="recordCode"
                :min-width="screenW >768 ? '180':'220'">
              </el-table-column>
              <el-table-column
                label="操作"
                width="40" fixed="right" v-if="screenW > 768">
                <template slot-scope="scope">  <div title="复制单笔" class="copy-icon clipboard" @click="currIndex = scope.$index" ><i class="dafa-icon dafa-icon-copy"></i></div></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <template v-if="detailData.state === 0" >
              <span @click="handleRecharge(detailIndex, detailData, 1);rwdbtnVisible=false" >确定入款</span>
              <span @click="handleRecharge(detailIndex, detailData, 3);rwdbtnVisible=false" >取消入款</span>
            </template>
            <template v-if="detailData.state === 3" >
              <span @click="handleRecharge(detailIndex, detailData, 0);rwdbtnVisible=false" >恢复取消</span>
            </template>
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <div :class="{'btn-style':btnStyle}"></div>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="一般充值订单"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{gradeFormatter(detailData)}}</span>
            </li>
            <li>
              <span>存入金额</span>
              <span>{{detailData.amount | formatMoneyTwo}}</span>
            </li>
            <li>
              <span>存入账户</span>
              <span>{{detailData.accountName}}</span>
            </li>
            <li>
              <span>附言</span>
              <span>{{detailData.remark}}</span>
            </li>
            <li>
              <span>状态</span>
              <template v-if="detailData.state === 0">
                <!--<span class="color-graystate">未处理</span>-->
                <span class="rwd-btn">
                    <el-button
                      size="mini"
                      @click="handleRecharge(detailIndex, detailData, 1)" :disabled="detailData.isDisableOKButton ? true : false" :loading="detailData.isDisableOKButton">确定</el-button>
                <el-button
                  size="mini"
                  @click="handleRecharge(detailIndex, detailData, 3)" :disabled="detailData.isDisableCancelButton ? true : false" :loading="detailData.isDisableCancelButton">取消</el-button>
                </span>
              </template>
              <template v-else-if="detailData.state === 1">
                <span class="color-success">已确定</span>
              </template>
              <template v-else-if="detailData.state === 2">
                <span class="color-graystate">已取消</span>
              </template>
              <template v-else-if="detailData.state === 3">
                <!--<span class="color-graystate">已取消</span>-->
                <span class="rwd-btn">
                   <el-button
                     size="mini"
                     @click="handleRecharge(detailIndex, detailData, 0)" :disabled="detailData.isDisableRestoreCancelButton ? true : false" :loading="detailData.isDisableRestoreCancelButton">恢复取消</el-button>
                </span>
              </template>
              <template v-else>
                <span >未知状态</span>
              </template>
            </li>
            <li>
              <span>操作人</span>
              <!--<template v-if="!detailData.isLock && detailData.state === 0 || detailData.operator === '0'">-->
              <!--<span>未操作</span>-->
              <!--</template>-->
              <!--<template v-else>-->
              <!--<span>{{detailData.operator}}</span>-->
              <!--</template>-->
              <span>{{formatterOperator(detailData)}}</span>
            </li>
            <li>
              <span>发起时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>操作时间</span>
              <!--<template v-if="detailData.state === 0">-->
              <!--<span>-&#45;&#45;</span>-->
              <!--</template>-->
              <!--<template v-else>-->
              <!--<span>{{detailData.operationTime}}</span>-->
              <!--</template>-->
              <span>{{formatterOperationTime(detailData)}}</span>
            </li>
            <li>
              <span>流水号</span>
              <span>{{detailData.recordCode}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import {dateFormat} from '@/utils/index'
// import GeneralRechargeList from '@/components/dataTableList/GeneralRechargeList'
import Api from '@/api/transfer'
import {exportExl} from '@/utils/Time'
import {validateQueryDate, validateRules} from '@/utils/validateRules'
import {gradeData} from '@/utils/config'
import ApiSys from '@/api/sys'
import {formatMoney, formatMoneyTwo, getSummaries, imgHost} from '@/filters/index'
import {getEllipsisFlag, testAutoPlay} from '@/utils'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import DafaLoading from '@/components/DafaLoading'
import BaseCopy from '@/views/baseExtend/BaseCopy'
export default {
  mixins: [BaseExtend, BaseCopy],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      mp3Value: true,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      PhotoUrls: [], // 当前展示照片数组
      getValue: '', // 当前选中记录
      command: 0,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      options: [],
      ruleForm: {
        Update: 15,
        dictionId: '',
        state: '-1',
        grades: [],
        userName: '',
        startTime: dateFormat(new Date(new Date().getTime() - 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        rechargeType: 0,
        accountName: '',
        startAmount: '',
        endAmount: ''
      },
      level: gradeData,
      allList: [],
      total: 0,
      state: {
        '0': '未处理',
        '1': '已确定',
        '2': '已取消',
        '3': '已取消'
      },
      timer: null,
      pageNum: 1,
      pageSize: 20,
      Ringtone: {},
      isPlayMp3: false,
      currentUser: null,
      summaryColumns: {'amount': '1'},
      summaryData: [],
      ellipsisColumns: [{name: 'accountName', width: 100, formatterFunc: null},
        {name: 'remark', width: 130, formatterFunc: null},
        {name: 'operator',
          width: 90,
          formatterFunc: function (row) {
            if (row.state === 0) {
              return '未操作'
            }
            if ((row.state === 1 || row.state === 2 || row.state === 3) && (row.operator === '0' || row.operator === '')) {
              return '---'
            }
            return row.operator
          }}]
    }
  },
  mounted () {
    document.onclick = (evt) => {
      if (document.getElementById('bgMusic')) {
        if (this.isPlayMp3) {
          if (document.getElementById('bgMusic').paused) {
            // document.getElementById('bgMusic').load()
            document.getElementById('bgMusic').play()
          }
        } else {
          if (!document.getElementById('bgMusic').paused) {
            document.getElementById('bgMusic').pause()
            document.getElementById('bgMusic').currentTime = 0
          }
        }
      }
    }
    this.getCurrentUser(true)
    this.getRingtone()
    this.getAccountNameData()
  },
  beforeDestroy () {
    this.ruleForm.Update = 0
    clearTimeout(this.timer)
    if (document.getElementById('bgMusic')) {
      document.getElementById('bgMusic').pause()
      document.getElementById('bgMusic').currentTime = 0
    }
    document.onclick = null
  },
  components: {
    Scroll,
    DatetimePicker,
    DafaLoading
  },
  methods: {
    playMp3 (url) {
      let obj = this
      if (document.getElementById('bgMusic').paused) {
        testAutoPlay(function () {
          // document.getElementById('bgMusic').load()
          document.getElementById('bgMusic').play()
        }, function () {
          if (obj.clickPlay > 0) {
            return
          }
          obj.clickPlay += 1
          if (obj.mp3Value) {
            obj.mp3Value = false
            obj.msgAlert('播放提示音失败，请点击确定继续重新播放提示音', {
              confirmButtonText: '确定',
              type: 'warning'
            }).then(() => {
              obj.mp3Value = true
              // document.getElementById('bgMusic').load()
              document.getElementById('bgMusic').play()
            })
          }
        })
      }
    },
    getCurrentUser (isFirst) {
      if (!isFirst) {
        if (!sessionStorage.getItem('siteInfo') || !localStorage.getItem('siteInfo')) {
          this.msgConfirm('缓存数据丢失，将返回到登录页', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
            closeOnClickModal: false,
            closeOnPressEscape: false,
            showClose: false,
            showCancelButton: false
          }).then(() => {
            this.$router.push('/login?transactionRechargeGeneral')
          })
        }
      }
      let siteInfo = JSON.parse(localStorage.getItem('siteInfo'))
      this.currentPlatformUser = 'dafacloud-' + siteInfo.userName
      if (siteInfo.isPlatform === 1) {
        this.currentUser = 'dafacloud-' + siteInfo.userName
      } else {
        this.currentUser = siteInfo.userName
      }
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      let content = v[type]
      if (type === 'operator') {
        content = this.formatterOperator(v)
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(content, title, {
        confirmButtonText: '确定'
      })
    },
    getSummaries (param) {
      const { columns, data } = param
      const sums = []
      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = '合计'
          return
        }
        if (!this.summaryColumns[column.property]) {
          return ''
        }
        const values = data.map(item => Number(item[column.property]))
        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[index] = formatMoneyTwo(sums[index])
        } else {
          sums[index] = ''
        }
      })
      return sums
    },
    formatterOperator (row, column) {
      if (row.state === 0) {
        return '---'
      }
      if ((row.state === 1 || row.state === 2 || row.state === 3) && (row.operator === '0' || row.operator === '')) {
        return '---'
      }
      return row.operator
    },
    formatterOperationTime (row, column) {
      if (row.state === 0) {
        return '---'
      }
      return row.operationTime
    },
    exportExcel () {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      // this.submitLoading = true
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = 1
      submitData.pageSize = 99999
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      if (submitData.startAmount !== '') {
        if (submitData.endAmount === '') {
          this.msgError('请输入最高金额')
          return
        }
      }
      if (submitData.endAmount !== '') {
        if (submitData.startAmount === '') {
          this.msgError('请输入最低金额')
          return
        }
      }
      if (submitData.startAmount !== '' && submitData.endAmount !== '') {
        if (Number(submitData.startAmount) > Number(submitData.endAmount)) {
          if (!validateRules.number(submitData.startAmount)) {
            this.msgError('最低金额格式错误，只能为数值')
            return
          }
          if (!validateRules.number(submitData.endAmount)) {
            this.msgError('最高金额格式错误，只能为数值')
            return
          }
          this.msgError('最低金额不能大于等于最高金额')
          return
        }
        if (Number(submitData.endAmount) > 99999999.99) {
          this.msgError('最高金额不能大于或等于1亿')
          return
        }
      }
      // console.log('submitData', submitData)
      let obj = this
      this.submitLoading = true
      Api.excelExportSummaryPaymentRecord(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.rows
        let excel = '<tr><th>流水号</th><th>会员账号</th><th>等级</th><th>存入金额</th><th>存入账户</th><th>附言<th>状态</th><th>操作者</th><th>发起时间</th><th>操作时间</th></tr>'
        for (var i = 0; i < excelarr.length; i++) {
          excel += `<tr><th>${excelarr[i].recordCode}</th>
          <th>${excelarr[i].userName}</th>
          <th>${this.level[excelarr[i].grade]}</th>
          <th>${formatMoney(excelarr[i].amount)}</th>
          <th>${excelarr[i].accountName}</th>
          <th>${excelarr[i].remark}</th>
          <th>${this.state[excelarr[i].state]}</th>
          <th>${this.formatterOperator(excelarr[i])}</th>
          <th>${excelarr[i].gmtCreated}</th>
          <th>${this.formatterOperationTime(excelarr[i])}</th>
        </tr>`
        }
        exportExl(excel, '一般充值订单（' + submitData.startTime + '至' + submitData.endTime + '）')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    setOrder (val, index) {
      if (index !== undefined && index !== null) {
        this.$set(this.allList[index], 'isDisableRestoreCancelButton', false)
        this.$set(this.allList[index], 'isDisableOKButton', false)
        this.$set(this.allList[index], 'isDisableCancelButton', false)
      }
      let isLock = true
      for (let i = 0; i < this.allList.length; i++) {
        if (this.allList[i].state === 0) {
          isLock = false
        }
        if (val.id !== this.allList[i].id) {
          continue
        }
        this.$set(this.allList, i, val)
      }
      this.isPlayMp3 = !isLock
      if (!isLock) {
        if (document.getElementById('bgMusic').paused) {
          // document.getElementById('bgMusic').load()
          // console.log(document.getElementById('bgMusic'))
          document.getElementById('bgMusic').play()
        }
      } else {
        if (!document.getElementById('bgMusic').paused) {
          document.getElementById('bgMusic').pause()
          document.getElementById('bgMusic').currentTime = 0
        }
      }
    },
    handleRecharge (index, row, type) {
      this.getCurrentUser()
      let submitData = {}
      submitData.id = row.id
      submitData.operateType = type
      let msg = ''
      if (type === 0) {
        if (row.isDisableRestoreCancelButton) {
          return
        }
        msg = '是否恢复取消'
      }
      if (type === 1) {
        if (row.isDisableOKButton) {
          return
        }
        msg = '是否确定入款'
      }
      if (type === 3) {
        if (row.isDisableCancelButton) {
          return
        }
        msg = '是否取消入款'
      }
      this.msgConfirm(msg, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.loadingMsg = '正在提交...'
        // this.loading = true
        if (type === 0) {
          this.$set(this.allList[index], 'isDisableRestoreCancelButton', true)
          this.$set(this.allList[index], 'isDisableOKButton', false)
          this.$set(this.allList[index], 'isDisableCancelButton', false)
        }
        if (type === 1) {
          this.$set(this.allList[index], 'isDisableRestoreCancelButton', false)
          this.$set(this.allList[index], 'isDisableOKButton', true)
          this.$set(this.allList[index], 'isDisableCancelButton', false)
        }
        if (type === 3) {
          this.$set(this.allList[index], 'isDisableRestoreCancelButton', false)
          this.$set(this.allList[index], 'isDisableOKButton', false)
          this.$set(this.allList[index], 'isDisableCancelButton', true)
        }
        // this.loading = true
        let obj = this
        Api.updateSummaryPaymentRecordState(submitData, function () {
          // obj.loading = false
          // obj.loadingMsg = '正在拼命加载中...'
          // obj.loading = false
          obj.$set(obj.allList[index], 'isDisableRestoreCancelButton', false)
          obj.$set(obj.allList[index], 'isDisableOKButton', false)
          obj.$set(obj.allList[index], 'isDisableCancelButton', false)
        }).then((res) => {
          // this.getOrderList(this.pageNum, this.pageSize)
          row.state = type
          if (type !== 0) {
            row.operator = this.currentUser
            row.operationTime = dateFormat(new Date(), 'yyyy-MM-dd HH:mm:ss')
          }
          this.setOrder(row, index)
          this.msgSuccess('操作成功')
          this.$nextTick(function () {
            // obj.loading = false
            // obj.loadingMsg = '正在拼命加载中...'
            // obj.loading = false
          })
        })
      })
    },
    setTimer () {
      if (!this.ruleForm || !this.ruleForm.Update || Number(this.ruleForm.Update) === 0) {
        if (this.timer) {
          clearTimeout(this.timer)
        }
        return
      }
      if (this.timer) {
        clearTimeout(this.timer)
      }
      this.getOrderList(this.pageNum, this.pageSize)
      this.timer = setTimeout(this.setTimer, Number(this.ruleForm.Update) * 1000)
    },
    gradeFormatter (row, column) {
      // console.log('row', row)
      if (this.level[row.grade]) {
        return this.level[row.grade]
      }
      return '未知等级'
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.avatorVisible = false
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validatehour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      if (submitData.startAmount !== '') {
        if (submitData.endAmount === '') {
          this.msgError('请输入最高金额')
          return
        }
      }
      if (submitData.endAmount !== '') {
        if (submitData.startAmount === '') {
          this.msgError('请输入最低金额')
          return
        }
      }
      if (submitData.startAmount !== '' && submitData.endAmount !== '') {
        if (!validateRules.number(submitData.startAmount)) {
          this.msgError('最低金额格式错误，只能为数值')
          return
        }
        if (!validateRules.number(submitData.endAmount)) {
          this.msgError('最高金额格式错误，只能为数值')
          return
        }
        if (Number(submitData.startAmount) > Number(submitData.endAmount)) {
          this.msgError('最低金额不能大于等于最高金额')
          return
        }
        if (Number(submitData.endAmount) > 99999999.99) {
          this.msgError('最高金额不能大于或等于1亿')
          return
        }
      }
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      // console.log('submitData', submitData)
      // this.loading = true
      this.loading = true
      let obj = this
      Api.paymentRecordList(submitData, function () {
        // obj.loading = false/**/
        obj.loading = false
      }).then((res) => {
        let allList = res.data.rows
        // getEllipsisHtml(this.ellipsisColumns, allList)
        // console.log(allList)
        this.allList = allList
        this.total = res.data.total
        this.$nextTick(function () {
          let isPlayMp3 = false
          if (this.allList.length > 0) {
            this.tableLine = false
          }
          for (let i = 0; i < this.allList.length; i++) {
            if (this.allList[i].state !== 0) {
              continue
            }
            if (obj.Ringtone.paymentRingtoneUrl) {
              isPlayMp3 = true
              break
            }
          }
          this.isPlayMp3 = isPlayMp3
          if (isPlayMp3) {
            // if (this.audioCtx && this.audioCtx.state === 'suspended') {
            //   this.audioCtx.resume()
            // }
            this.$nextTick(function () {
              this.playMp3()
            })
          } else {
            // if (this.audioCtx && this.audioCtx.state === 'running') {
            //   this.audioCtx.suspend()
            // }
            this.$nextTick(function () {
              document.getElementById('bgMusic').pause()
              document.getElementById('bgMusic').currentTime = 0
            })
          }
          this.summaryData = getSummaries(this.summaryColumns, this.allList, 1)
          this.$nextTick(function () {
            // obj.loading = false
            this.loading = false
          })
        })
      })
    },
    getAccountNameData () {
      let submitData = {}
      // this.loading = true
      // let obj = this
      Api.getAccountNameCondition(submitData, function () {
        // obj.loading = false
      }).then((res) => {
        let resData = res.data
        this.options = []
        let tempAccountData = {}
        tempAccountData.accountName = ''
        tempAccountData.accountLabel = '全部'
        for (let i = 0; i < resData.length; i++) {
          let accountData = {}
          Object.assign(accountData, {})
          accountData.accountName = resData[i]
          accountData.accountLabel = resData[i]
          this.options.push(accountData)
        }
        // this.$nextTick(function () {
        //   obj.loading = false
        // })
      })
    },
    resetForm (formName) {
      this.ruleForm.startAmount = ''
      this.ruleForm.endAmount = ''
      this.$refs[formName].resetFields()
    },
    getRingtone () {
      let submitData = {}
      // this.loading = true
      this.loading = true
      let obj = this
      ApiSys.ringtone(submitData, function () {
        // obj.loading = false
        obj.loading = false
      }).then((res) => {
        this.Ringtone = res.data.ringtone
        document.getElementById('bgMusic').src = imgHost(this.Ringtone.paymentRingtoneUrl)
        // this.playMp3(this.Ringtone.paymentRingtoneUrl)
        this.setTimer()
        // this.$nextTick(function () {
        //   obj.loading = false
        // })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
<style scoped>
  .report-data{
    & .flexbox:not(.nav-color){
      & div:nth-of-type(2){
        color: var(--color-blue);
      }
    }
    & .flexbox{
      & div:nth-of-type(6){
        width:162px;
      }
      & div:nth-of-type(5){
        width:70px;
      }
      & div:nth-of-type(7){
        width:130px;
      }
    }
  }
  .inputWindth{
    width: 150px;
  }
  .TypeWindth{
    width: 90px;
  }
  @media screen and (max-width:1023px){
    .post-btn{
      text-align:center;
      & div{
        display:block;
      }
    }
    .report-data{
      border:0px;
    }
    .flexbox{
      &.nav-color{
        display:none;
      }
    }
    .rwd-btn .el-button{
      padding: 5px !important;
    }
  }
</style>
