<template>
  <div class="panel">
    <div class="panel-heading">
      人工存提
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="success" icon="el-icon-plus"  @click="imports">批量导入</el-button>
        <input type="file" style="display: none" ref="upload" @change="fileImport">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data no-border">
        <!-- 表头 -->
        <el-form :model="ruleForm" :rules="rules" size="medium" ref="ruleForm"  class="form" :label-width="screenW > 768 ? '70px': ''" :label-position="screenW>=768 ? 'right':'top'" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="会员账号"  prop="userName">
            <el-input v-model="ruleForm.userName" :placeholder="screenW > 768 ?'批量操作可输入会员账号，以英文逗号(,)分隔开，最多支持100个':'请输入会员账号'"></el-input>
            <div class="text-style" v-if="screenW<=768">批量操作可输入会员账号，以英文逗号(,)分隔开，最多支持100个</div>
            <!--<el-input v-model="ruleForm.UserName"></el-input>-->
          </el-form-item>
          <el-form-item label="金额"  prop="amount">
            <el-input type="number" v-model="ruleForm.amount" placeholder="请输入金额"></el-input>
          </el-form-item>
          <el-form-item label="类型"  prop="dictionId" class="radio-style">
              <input type="radio" id="a" name="a" v-model="ruleForm.dictionId" value="401"/><label for="a"><span>人工存款</span></label>
              <label for="b"><input type="radio" id="b" name="a" v-model="ruleForm.dictionId" value="402"/> <span>人工存入</span></label>
              <label for="c"><input type="radio" id="c" name="a" v-model="ruleForm.dictionId" value="403"/><span>其他优惠</span></label>
              <label for="d"><input type="radio" id="d" name="a" v-model="ruleForm.dictionId" value="404"/><span>误存提出</span></label>
              <label for="e"><input type="radio" id="e" name="a" v-model="ruleForm.dictionId" value="405"/><span>行政提出</span></label>
          </el-form-item>
          <el-form-item label="备注"  prop="remark">
            <el-input  placeholder="请输入备注" v-model="ruleForm.remark"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  type="primary"  plain @click="submitForm('ruleForm')" :disabled="submitLoading" :loading="submitLoading"> {{submitLoading ? '正在提交' : '提交保存'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <!-- 底部说明文本块 -->
        <div class="tip-foot">
          <div class="tip-title state">* 注意事项：</div>
          <ol>
            <li>
              批量导入，暂时最多支持1000条，<a href="https://images.imags-google.com/system/docs/quantity.xlsx" class="color-blue">点击这里下载导入模板。</a>
            </li>
            <li>
              为确保报表盈利数据准确，请认真选择存提类型；
            </li>
            <li>
              人工存款：客户入款需要手动添加时使用，计入报表人工存款；
            </li>
            <li>
              人工存入：可直接提现，一般用于测试等不需要投注可以直接提现时使用；
            </li>
            <li>
              其它优惠：其它优惠活动时使用，计入报表其他活动；
            </li>
            <li>
              误存提出：误存时使用，计入报表误存提出；
            </li>
            <li>
              行政提出：派彩错误、强行提出时使用，计入报表行政提出；
            </li>
          </ol>
        </div>
        <!-- 底部说明文本块结束 -->
      </div>
    </div>
    <reposit-form
      :data="selectData"
      :visible="RepositForm"
      v-on:onClose="RepositForm=false">
    </reposit-form>
    <reposit-error
      :data="selectData"
      :visible="RepositError"
      v-on:onClose="RepositError=false">
    </reposit-error>
  </div>
</template>
<script>
import LgTag from '@/components/tag'
import Api from '@/api/transfer'
import {validateRules} from '@/utils/validateRules'
import {getTimeStamp} from '@/utils/Time'
import RepositForm from '@/views/newModal/RepositForm'
import RepositError from '@/views/newModal/RepositError'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    },
    currFolders: {
      get () {
        return this.currColFolders
      },
      set (val) {
        this.currColFolders = val
      }
    }
  },
  data () {
    let validateUserName = (rule, value, callback) => {
      if (!value) {
        callback(new Error('请输入会员账号'))
        return
      }
      let arrayData = value.split(',')
      if (arrayData.length > 100) {
        callback(new Error('批量操作最多只能输入100个账号'))
        return
      }
      for (let i = 0; i < arrayData.length; i++) {
        let vdt = validateRules.vdata(arrayData[i], {
          'isEnglishNumber': {}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
          return
        }
      }
      callback()
    }
    let validateAmount = (rule, value, callback) => {
      if (!value || value === '') {
        callback(new Error('请输入金额'))
        return
      }
      let vdt = validateRules.vdata(value, {
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        if (Number(value) <= 0) {
          callback(new Error('输入的金额必须大于0'))
          return
        }
        callback()
      }
    }
    return {
      currColFolders: [],
      RepositForm: false,
      RepositError: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        amount: '',
        remark: '',
        dictionId: ''
      },
      rules: {
        amount: [
          {required: true, validator: validateAmount, trigger: 'blur'}
        ],
        dictionId: [{ required: true, message: '请选择类型', trigger: 'change' }],
        remark: [
          { required: true, message: '请输入备注', trigger: 'blur' },
          {min: 1, max: 100, message: '长度在 1 到 100 个字符', trigger: 'blur'}],
        userName: [
          {required: true, validator: validateUserName, trigger: 'blur'}
        ]
      },
      selectData: {file: File}
    }
  },
  methods: {
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        // if (this.ruleForm.userName.length < 1) {
        //   this.submitLoading = false
        //   this.msgError('请输入会员账号!')
        //   return
        // }
        // if (this.ruleForm.userName.length > 300) {
        //   this.submitLoading = false
        //   this.msgError('批量操作最多只能输入300个账号!')
        //   return
        // }
        // console.log('ruleForm', this.ruleForm)
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        // submitData.userName = ''
        // for (let i = 0; i < this.ruleForm.userName.length; i++) {
        //   submitData.userName += ',' + this.ruleForm.userName[i]
        // }
        // if (submitData.userName !== '') {
        //   submitData.userName = submitData.userName.substr(1)
        // }
        submitData.timeStamp = getTimeStamp()
        // console.log('ruleForm2', this.ruleForm)
        let obj = this
        Api.saveBatchManualRecord(submitData, function (res) {
          obj.submitLoading = false
        }).then((res) => {
          if (res.data && res.data.length > 0) {
            let msgData = res.msg.split(',')
            obj.selectData.success = msgData[0]
            obj.selectData.mistake = msgData[1]
            obj.selectData.errorData = res.data
            obj.RepositError = true
          } else {
            this.msgSuccess('操作成功')
          }
          // this.$refs['ruleForm'].resetFields()
          for (let item in this.ruleForm) {
            if (item === 'dictionId') {
              this.ruleForm[item] = '0'
              continue
            }
            this.ruleForm[item] = ''
          }
          this.$nextTick(function () {
            obj.submitLoading = false
          })
        })
      })
    },
    imports () {
      // console.log(this.$refs.upload)
      this.$refs.upload.value = ''
      this.$refs.upload.click()
    },
    fileImport () {
      let file = this.$refs.upload.files[0]
      const isJPG = file.type === 'text/csv' || 'text/xlsx'
      const isLt2M = file.size / 1024 / 1024 < 2
      // console.log('123' + file)
      if (!isJPG) {
        this.msgError('上传文件只能是csv格式或xlsx')
        return false
      }
      if (!isLt2M) {
        this.msgError('上传头像图片大小不能超过 2MB')
        return false
      }
      this.selectData.file = file
      this.RepositForm = true
      return isJPG && isLt2M
    }
  },
  components: {
    LgTag,
    RepositForm,
    RepositError,
    DatetimePicker
  }
}
</script>
<style scoped>
  .radio-style{
    & label{
      margin: 5px 0!important;
    }
    & input{
      border: 1px solid #dcdfe6;
      border-radius: 100%;
      width: 12.5px;
      height: 12.5px;
      background-color: #fff;
      position: relative;
      cursor: pointer;
      display: inline-block;
      -webkit-box-sizing: border-box;
      margin: 0 !important;
      position: relative;
      outline: none !important;
      &:focus{
        /*outline-color: rgb(59, 153, 252);*/
        /*outline-style: auto;*/
        /*outline-width: 5px;*/

        /*border: 1px solid #09C !important;*/
        /*outline: #09C auto 5px !important;*/
        /*border: 1px solid #09C;*/
        /*outline: #09C auto 5px;*/
        /*-webkit-box-shadow: 0 0 1px 1px #09C;*/
        box-shadow: -0.5px 0px 2px 2px #09C;
        border: 1px solid #09C !important;
      }
    }
    & span{
      font-size: 12px;
      padding-left: 10px;
      padding-right: 15px;
    }
  }
  .report-data{
    max-width: 600px;
  }
  .color-blue{
    font-weight: bold;
  }
  .el-radio{
    margin: 0 0 5px 0;
    min-width: 100px;
    font-weight: normal;
  }
  .el-radio + .el-radio{
    min-width: 100px;
    margin: 5px 0!important;
  }
  @media screen and (max-width:1023px){
    .ruleForm{
      width:90%;
      margin: 0 auto;
    }

  }

  @media screen and (max-width: 768px){
    .el-radio{
      margin: 0px 0 10px 4px !important;
    }
    .el-radio + .el-radio{
      margin: 10px 0 10px 4px !important;
    }
    .report-data {
      max-width: 600px;
      padding: 0 20px;
    }
  }
</style>
