<template>
  <div class="panel">
    <div class="panel-heading">
      HTTPS管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openTenantHttpsForm" :disabled="packagelist&&(packagelist.state === 1 || packagelist.state === 2)">新增HTTPS</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >=768 || isActive" @click="deleteRows" :disabled="packagelist&&(packagelist.state === 1 || packagelist.state === 2)">删除</el-button>
          <el-button size="mini" v-if="screenW<768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
        </div>
        <!-- 表头 -->
        <div class="table-style " v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th><div class="cell">域名</div></th>
                    <th ><div class="cell">状态</div></th>
                    <th width="170px"><div class="cell">添加时间</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td><div class="cell"><span class="color-blue">{{items.url}}</span></div></td>
                      <td ><div class="cell"><span :class="items.state === 0 ? 'color-danger': 'color-success'">{{items.state === 0 ? '部署中，预计1个小时':'正常'}}</span></div></td>
                      <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              style="width: 100%"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="域名"
                width="180">
                <template slot-scope="scope"><span>{{scope.row.url}}</span></template>
              </el-table-column>
              <el-table-column
                label="状态"
                width="180">
                <template slot-scope="scope">
                  <span :class="{'color-danger' : scope.row.state === 0}">{{scope.row.state === 0 ? '验证中':'正常'}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                min-width="200">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <!--<span  @click="editOne(detailData);rwdbtnVisible=false" >修改</span>-->
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="HTTPS管理"
          @close="detailShow=false">
          <ul >
            <li>
              <span>域名</span>
              <span class="color-blue">{{detailData.url}}</span>
            </li>
            <li>
              <span>状态</span>
              <span :class="{'color-danger' : detailData.state === 0}">{{detailData.state === 0 ? '验证中':'正常'}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
        <div class="text-style margin-t10 text-ul">
          <span>* 温馨提示：</span>
          <ul>
            <li>请先至域名管理添加域名，并完成解析</li>
            <li>进行刪除或新增后，将会有半小时的部署时间无法再进行新增或删除</li>
          </ul>
        </div>
      </div>
      <tenant-https-form
        :data="selectData"
        :visible="WebsiteHttpsShow"
        v-on:onClose="WebsiteHttpsShow=false"
      ></tenant-https-form>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import TenantHttpsForm from '@/views/newModal/TenantHttpsForm'
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      WebsiteHttpsShow: false,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      isActive: false,
      submitLoading: false,
      tableLine: true,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      // 列表数据
      allList: [],
      packagelist: {
        gmtPackageStarted: '',
        package: '',
        state: ''
      },
      selectData: {},
      total: 0,
      pageNum: 1,
      pageSize: 20,
      Timer: null
    }
  },
  mounted () {
    this.getOrderList(1, 20)
    this.setTimePackage()
  },
  beforeDestroy () {
    clearInterval(this.Timer)
  },
  methods: {
    setTimePackage () {
      this.Timer = setInterval(() => {
        this.package()
      }, 60000)
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 单个修改
    // editOne (v) {
    //   // console.log(v + '可以修改')
    //   this.IpManageShow = true
    //   this.selectData = v
    //   // console.log(v)
    // },
    openDetails (row, event, column) {
      this.detailData = row
      this.rwdbtnVisible = true
    },
    openTenantHttpsForm () {
      let obj = this
      if (obj.packagelist && (obj.packagelist.package > obj.allList.length && obj.packagelist.package > 0)) {
        if (obj.packagelist.state === 1 || obj.packagelist.state === 2) {
          this.msgError('请待所有域名验证完成后，再添加新的域名')
        } else {
          this.WebsiteHttpsShow = true
          this.selectData = {}
        }
      } else {
        this.msgError('请联系平台客服开启HTTPS套餐')
      }
    },
    package () {
      let submitData = {}
      let obj = this
      Api.getPackage(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // this.WebsiteHttpsShow = true
        this.packagelist = res.data
      })
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getUrlList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let allList = res.data.list
        // getEllipsisHtml(this.ellipsisColumns, allList)
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
      this.package()
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录，并会有半小时的部署时间，无法进行新增或删除，是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteUrl(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.getOrderList(1, 20)
          this.msgSuccess('删除成功')
        })
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录，并会有半小时的部署时间，无法进行新增或删除，是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteUrl(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.checkedCities = []
          this.getOrderList(1, 20)
          this.msgSuccess('删除成功')
          this.isIndeterminate = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    TenantHttpsForm
  }
}
</script>
<style scoped>
  .text-ul{
    display: flex;
    align-items: flex-start;
    & span{
      line-height: 25px !important;
    }
    & ul{
      list-style: none;
      line-height: 25px !important;
    }
  }
</style>
