<template>
  <div class="panel">
    <div class="panel-heading">
      首页轮播
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" plain @click="savePost">保存</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="report-header"></div>
      <div class="report-data banner-report no-border" v-loading="loading"
           element-loading-spinner="dafa-icon-loading01 dafa-icon"
           element-loading-customClass="loadingClass">
        <section class="banner-list">
          <div class="banner-box">
            <div class="banner-boxinner">
              <div class="img-title" title="PC端banner" >PC端轮播图</div>
              <div class="img-container">
                  <ul class="img-ul">
                     <li class="picbox-style pcimove home-banner" v-for="(v , number) in alllist.pclist" :key="v.id" v-dragging="{ item: v, list: alllist.pclist, group: 'alllist.pclist' }">
                       <div class="img-imgbox">
                             <div class="banner-information">
                                  <div class="banner-imgbox picbox-width pic-hover">
                                    <div :style="`background-image: url(${v.url})`" class="banner-bg"></div><!-- 上傳後的圖片 -->
                                    <div class="picicon-box">
                                      <span title="预览" class="review-icon" @click="openLookLogoForm('pc',v)"><i class="el-icon-zoom-in"></i></span>
                                    </div>
                                  </div>
                                   <div class="banner-detail">
                                      <div class="banner-imgname">{{ v.name}}</div>
                                       <div class="banner-adress" >
                                         <span>{{v.linkName}}</span>
                                         <span>{{v.link}}</span>
                                       </div>
                                       <div class="banner-edit">
                                         <button class="el-button--text banner-view " @click="editOne('PC', 'Pcimg', v)"><span>修改</span></button>
                                         <button class="el-button--text banner-delete" @click="removeBanner(number,'pclist', v)"><span>删除</span></button>
                                       </div>
                                   </div>
                           </div>
                       </div>
                     </li>
                  </ul>
                <div class=" img-upload picbox-style update-btn home-banner" @click="setImageUpload('PC','Pcimg')" v-show="alllist.pclist.length < onlyLength">
                  <div class="update-btninner picbox-width">
                    <i class="el-icon-plus"></i>
                    <span>点击上传图片</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-box">
            <div class="banner-boxinner">
              <div class="img-title" title="MB端banner" >MB端轮播图</div>
              <div class="img-container">
                <ul class="img-ul">
                  <li class="picbox-style pcimove home-banner" v-for="(v , number) in alllist.Mblist" :key="v.id" v-dragging="{ item: v, list: alllist.Mblist, group: 'alllist.Mblist' }">
                    <div class="img-imgbox">
                      <div class="banner-information">
                        <div class="banner-imgbox picbox-width pic-hover">
                          <div :style="`background-image: url(${v.url})`" class="banner-bg"></div><!-- 上傳後的圖片 -->
                          <div class="picicon-box">
                            <span title="预览" class="review-icon" @click="openLookLogoForm('mobile',v)"><i class="el-icon-zoom-in"></i></span>
                          </div>
                        </div>
                        <div class="banner-detail">
                          <div class="banner-imgname">{{ v.name}}</div>
                          <div class="banner-adress" >
                            <span>{{v.linkName}}</span>
                            <span>{{v.link}}</span>
                          </div>
                          <div class="banner-edit">
                            <button class="el-button--text banner-view " @click="editOne('MB', 'Mbimg', v)"><span>修改</span></button>
                            <button class="el-button--text banner-delete" @click="removeBanner(number,'Mblist', v)"><span>删除</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class=" img-upload picbox-style update-btn home-banner" @click="setImageUpload('MB','Mbimg')" v-show="alllist.Mblist.length < onlyLength">
                  <div class="update-btninner picbox-width">
                    <i class="el-icon-plus"></i>
                    <span>点击上传图片</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
    <logo-upload
      :data="selectData"
      :visible="LogoUploadVisible"
      :title="UploadTitle"
      :width="width"
      :height="height"
      v-on:onClose="onClose"
    ></logo-upload>
    <look-logo-form
      :data="selectData"
      :visible="LookLogoShow"
      :List="LookLogoShow"
      v-on:onClose="LookLogoShow=false">
    </look-logo-form>
  </div>
</template>
<script>
import LogoUpload from '@/components/LogoUpload'
import LookLogoForm from '@/components/PreviewPicture'
import Api from '@/api/sys'
import {imgHost} from '@/filters'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      LogoUploadVisible: false, // 是否显示图片弹窗
      UploadTitle: '', // 弹窗标题
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      LookLogoShow: false,
      width: 210,
      height: 210,
      form: {
        pcImageUrl: '',
        mbImageUrl: ''
      },
      valuename: '',
      newＢannerName: '',
      alllist: {
        Mblist: [],
        pclist: []
      },
      pcLinkData: {
        '/index': '首页',
        '/lotteryHall': '购彩大厅',
        '/mobile': '手机购彩',
        '/activity': '活动中心',
        '/help': '帮助指南'
      },
      mobileLinkData: {
        '/index': '首页',
        '/activity': '活动中心',
        '/userCenter': '我的账户',
        '/AppDownload': 'APP下载'
      },
      selectData: {},
      pcLimitWidth: 0,
      pcLimitHeight: 0,
      mobileLimitWidth: 0,
      mobileLimitHeight: 0,
      onlyLength: 6// 限制图片数量
    }
  },
  mounted () {
    this.getBanner()
    this.getImageConfig()
  },
  methods: {
    openLookLogoForm (name, val) {
      this.selectData = {}
      this.selectData.imageData = []
      if (name === 'pc') {
        for (let i = 0; i < this.alllist.pclist.length; i++) {
          let item = this.alllist.pclist[i]
          let itemData = {}
          Object.assign(itemData, {})
          itemData.id = item.id
          itemData.name = item.name
          itemData.url = item.url
          itemData.rotate = false
          this.selectData.imageData.push(itemData)
          if (val.id === item.id) {
            this.selectData.index = i
          }
        }
        this.LookLogoShow = true
        return
      }
      for (let i = 0; i < this.alllist.Mblist.length; i++) {
        let item = this.alllist.Mblist[i]
        let itemData = {}
        Object.assign(itemData, {})
        itemData.id = item.id
        itemData.name = item.name
        itemData.url = item.url
        itemData.rotate = false
        this.selectData.imageData.push(itemData)
        if (val.id === item.id) {
          this.selectData.index = i
        }
      }
      this.LookLogoShow = true
    },
    getImageConfig () {
      let submitData = {}
      let imageIds = '4,5'
      submitData.imageIds = imageIds
      Api.getImageConfig(submitData).then((res) => {
        // console.log(1111, res)
        let imageConfigData = res.data
        if (imageConfigData['4']) {
          this.pcLimitWidth = imageConfigData['4'].width
          this.pcLimitHeight = imageConfigData['4'].height
        }
        if (imageConfigData['5']) {
          this.mobileLimitWidth = imageConfigData['5'].width
          this.mobileLimitHeight = imageConfigData['5'].height
        }
        // console.log(333)
      })
    },
    onClose () {
      this.LogoUploadVisible = false
      this.selectData = {}
    },
    getBanner () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.imageBannerHomePcMobileCms(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(res)
        this.alllist.Mblist = res.data.mobile
        this.alllist.pclist = res.data.pc
        for (let i = 0; i < this.alllist.pclist.length; i++) {
          this.alllist.pclist[i].url = imgHost(this.alllist.pclist[i].url)
          if (this.pcLinkData[this.alllist.pclist[i].link]) {
            this.alllist.pclist[i].linkName = this.pcLinkData[this.alllist.pclist[i].link]
          } else {
            this.alllist.pclist[i].linkName = '其它'
          }
          this.alllist.pclist[i].name = '轮播图片' + (i + 1)
        }
        for (let i = 0; i < this.alllist.Mblist.length; i++) {
          this.alllist.Mblist[i].url = imgHost(this.alllist.Mblist[i].url)
          if (this.mobileLinkData[this.alllist.Mblist[i].link]) {
            this.alllist.Mblist[i].linkName = this.mobileLinkData[this.alllist.Mblist[i].link]
          } else {
            this.alllist.Mblist[i].linkName = '其它'
          }
          this.alllist.Mblist[i].name = '轮播图片' + (i + 1)
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    removeBanner (number, key, val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // console.log('alllist', this.alllist)
        let submitData = {}
        submitData.id = val.id
        submitData.type = val.bannerId
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteImageBannerHomePcMobile(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          // console.log(1111, res)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.alllist[key].splice(number, 1)
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    setImageUpload (key, Pcimg) {
      // console.log('key', key)
      let msgInfo = `最多只能上传${this.onlyLength}张轮播图片`
      let onlyLength = this.onlyLength
      if (key === 'PC') {
        // console.log('pclist', this.alllist.pclist)
        if (this.alllist.pclist.length === onlyLength) {
          this.msgError(msgInfo)
          return
        }
      } else {
        // console.log('pclist', this.alllist.Mblist)
        if (this.alllist.Mblist.length === onlyLength) {
          this.msgError(msgInfo)
          return
        }
      }
      let titles = {
        'PC': ['PC版banner', this.pcLimitWidth, this.pcLimitHeight], // PC版图片配置
        'MB': ['MB版banner', this.mobileLimitWidth, this.mobileLimitHeight]
      }
      this.selectData = {}
      this.$set(this.selectData, 'type', key)
      this.$set(this.selectData, 'width', titles[key][1])
      this.$set(this.selectData, 'height', titles[key][2])
      // console.log('selectData', this.selectData)
      this.UploadTitle = titles[key][0] || 'PC版banner'
      this.width = titles[key][1]
      this.height = titles[key][2]
      this.LogoUploadVisible = true
    },
    editOne (key, Pcimg, val) {
      let titles = {
        'PC': ['PC版banner', this.pcLimitWidth, this.pcLimitHeight], // PC版图片配置
        'MB': ['MB版banner', this.mobileLimitWidth, this.mobileLimitHeight]
      }
      this.selectData = val
      this.$set(this.selectData, 'type', key)
      this.$set(this.selectData, 'width', titles[key][1])
      this.$set(this.selectData, 'height', titles[key][2])
      // console.log('selectData', this.selectData)
      this.LogoUploadVisible = true
      this.UploadTitle = titles[key][0] || 'PC版banner'
      this.width = titles[key][1]
      this.height = titles[key][2]
    },
    // 保存排序
    savePost () {
      let pcIds = this.getListData('pclist')
      let mobileIds = this.getListData('Mblist')
      let submitData = {
        pcIds: pcIds.join(','),
        mobileIds: mobileIds.join(',')
      }
      this.loading = true
      Api.updateBannerHomeSort(submitData, () => {
        this.loading = false
      }).then(res => {
        this.loading = false
        if (res.code === 1) {
          this.msgSuccess('保存成功')
        }
      }).catch(e => {
        this.loading = false
      })
    },
    getListData (key) {
      let arr = this.alllist[key]
      return arr.map(v => v.id)
    }
  },
  components: {
    LogoUpload,
    LookLogoForm
  }
}
</script>
