<template>
  <div class="panel">
    <div class="panel-heading">
      推送计划
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="推送计划名称" prop="playName">
            <el-input v-model="ruleForm.playName" placeholder="请输入计划名称"  class="width-search120"></el-input>
          </el-form-item>
          <el-form-item label="推送目标" prop="pushTarget">
            <el-select v-model="ruleForm.pushTarget" placeholder="请选择推送目标" class="width-search120">
              <el-option label="全部" value=" "></el-option>
              <el-option label="聊天室,密聊" value="3"></el-option>
              <el-option label="聊天室" value="2"></el-option>
              <el-option label="密聊" value="1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="房间号" prop="roomCode">
            <el-select v-model="ruleForm.roomCode" class="width-search100">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" type="primary" @click="closePlay">关闭推送</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="推送计划名称" prop="playName">
                      <el-input v-model="ruleForm.playName" placeholder="请输入计划名称" ></el-input>
                    </el-form-item>
                    <el-form-item label="推送目标" prop="pushTarget">
                      <el-select v-model="ruleForm.pushTarget" placeholder="请选择推送目标">
                         <el-option label="全部" value=" "></el-option>
                        <el-option label="聊天室,密聊" value="3"></el-option>
                        <el-option label="聊天室" value="2"></el-option>
                        <el-option label="密聊" value="1"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="房间号" prop="roomCode">
                      <el-select v-model="ruleForm.roomCode" >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.roomCode"
                          :label="item.roomCode"
                          :value="item.roomCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th><div class="cell">计划名称</div></th>
                    <th><div class="cell">推送目标</div></th>
                    <th><div class="cell">推送人</div></th>
                    <th><div class="cell">命中率</div></th>
                    <th><div class="cell">添加时间</div></th>
                    <th ><div class="cell">状态</div></th>
                    <th ><div class="cell">操作人</div></th>
                    <th width="70px"><div class="cell">操作</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <!--计划名称-->
                      <td ><div class="cell min-width160"><span class="color-blue hoverline-effet " @click="editOne(items)">{{items.playName}}</span></div></td>
                      <!--推送目标-->
                      <td >
                          <div class="cell" @click="RoomOpen(items)">
                           <span :class="{'cursor-style hover-effect hover-black':( items.isChat === 1 && items.chatRoomCode) || items.isMiliao === 1}">
                              <span v-show="items.isChat === 1" :title="items.chatRoomTitle">聊天室 <template v-if="items.isChat === 1 && !items.chatRoomCode" >(尚未設置推送房間)</template></span>
                              <span v-show="items.isChat === 1 && items.isMiliao === 1">,</span>
                              <span v-show="items.isMiliao === 1" :title="items.miliaoRoomTitle">密聊</span>
                          </span>
                          </div>
                      </td>
                      <!--推送人-->
                      <td ><div class="cell"> {{items.pushPerson}}</div></td>
                      <!--命中率-->
                      <td ><div class="cell min-width80" @click="getDetailInfo(items)"><span class="color-blue cursor-style hover-effect">{{items.initHitRate}}%</span></div></td>
                      <!--添加时间-->
                      <td ><div class="cell max-width160"><span >{{items.gmtCreated}}</span></div></td>
                      <!--状态-->
                      <td ><div class="cell min-width80"><span :class="items.status ? 'color-success':'color-danger'">{{items.status ? '运行':'停止'}}</span></div></td>
                      <!--操作人-->
                      <td ><div class="cell min-width160"><span >{{items.operator}}</span></div></td>
                      <!--操作-->
                      <td >
                        <div class="cell state-btn">
                          <el-radio-group  v-model="items.status" @change="updateStatus(items)" size="mini">
                            <el-radio-button label="1">开启</el-radio-button>
                            <el-radio-button label="0">关闭</el-radio-button>
                          </el-radio-group>
                        </div>
                      </td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="9"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="计划名称"
                min-width="130" show-overflow-tooltip
                fixed>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.playName}}</span></template>
              </el-table-column>
              <el-table-column
                label="推送目标"
                min-width="100"
                prop="pushTarget"
              >
              </el-table-column>
              <el-table-column
                prop="pushPerson"
                label="推送人"
                width="180">
              </el-table-column>
              <el-table-column
                label="命中率"
                width="100">
                <template slot-scope="scope"><span>{{ scope.row.initHitRate}}%</span></template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                min-width="200">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="160">
                <template slot-scope="scope"><span :class="scope.row.status ? 'color-success':'color-danger'">{{scope.row.status ? '运行':'停止'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                min-width="200">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          <span title="修改"  @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
          <span title="开启"  @click="setStatus(1);rwdbtnVisible=false" >开启推送</span>
          <span title="关闭"  @click="setStatus(0);rwdbtnVisible=false" >关闭推送</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="推送计划"
      @close="detailShow=false">
      <ul >
        <li>
          <span>计划名称</span>
          <span class="color-blue">{{detailData.playName}}</span>
        </li>
        <li>
          <span>推送目标</span>
          <span>{{detailData.pushTarget}}</span>
        </li>
        <li>
          <span>推送人</span>
          <span>{{detailData.pushPerson}}</span>
        </li>
        <li @click="getDetailInfo(detailData)">
          <span>命中率</span>
          <span>{{detailData.initHitRate}}%</span>
        </li>
        <li>
          <span>状态</span>
          <span>{{detailData.status ? '运行':'停止'}}</span>
        </li>
        <li>
          <span>操作人</span>
          <span>{{detailData.operator}}</span>
        </li>
      </ul>
    </popover-right>
    <play-push-add-form
      :data="selectData"
      :visible="PlayPushShow"
      v-on:onClose="PlayPushShow = false"
    ></play-push-add-form>
    <play-open-target
      :data="targetlist"
      :visible="targetShow"
      v-on:onClose="targetShow = false"
    ></play-open-target>
  </div>
</template>
<script>
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import PlayOpenTarget from '@/views/newModal/PlayOpenTargetForm'
import PlayPushAddForm from '@/views/newModal/PlayPushAddForm'
import {gradeData} from '@/utils/config'
import {DateFormat} from '@/utils/Time'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      targetlist: {},
      targetShow: false,
      PlayPushShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      level: gradeData,
      ruleForm: {
        playName: '',
        pushTarget: '',
        roomCode: ''
      },
      arr: [],
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
        // tenantCode: '',
        // tenantName: '',
        // stateName: ''
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      options: [],
      miliaoOptions: [],
      roomOptions: []
    }
  },
  mounted () {
    this.getRoomCodeData()
    this.getOrderList(1, 20)
  },
  methods: {
    closePlay () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中计划')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中计划')
          return
        }
      }
      this.msgConfirm('此操作将关闭该计划,再次开启计划推送将在下一期开始推送内容, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let parame = {
          ids: ''
        }
        if (this.screenW > 1023) {
          parame.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            parame.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (parame.ids !== '') {
            parame.ids = parame.ids.substr(1)
          }
        }
        this.loading = true
        let obj = this
        Api.updatePlayListStatus(parame, function () {
          obj.loading = false
        }).then((res) => {
          this.getOrderList(1, 20)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
          })
          this.msgSuccess('关闭成功')
        })
      }).catch(() => {
      })
    },
    setStatus (v) {
      let data = this.detailData
      data.status = v
      this.updateStatus(data)
    },
    RoomOpen (v) {
      if (v.isChat === 1 && !v.chatRoomCode && !v.miliaoRoomCode) {
        return
      }
      this.targetShow = true
      this.targetlist = v
    },
    getDetailInfo (v) {
      this.$router.push({
        name: 'TenantPlayPushDetail',
        query: {
          id: v.id,
          name: v.playName
        }
      })
    },
    updateStatus (val) {
      let submitData = {}
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      submitData.id = val.id
      submitData.status = val.status
      Api.updatePlayStatus(submitData, function () {
        val.status = 0
        obj.loading = false
      }).then((res) => {
        obj.loading = false
        if (res.code === 1) {
          this.$nextTick(function () {
            let arr = JSON.parse(res.data)
            val.status = arr.status
            val.operator = arr.operator
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('操作成功')
        }
      })
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getRoomCodeData () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      Api.getRoomList(submitData, function () {
      }).then((res) => {
        this.options = res.data.list
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openNewForm () {
      this.selectData = {}
      this.PlayPushShow = true
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      if (this.ruleForm.startDate) {
        submitData.startDate = DateFormat(this.ruleForm.startDate, 'yyyy-MM-dd')
      }
      if (this.ruleForm.endDate) {
        submitData.endDate = DateFormat(this.ruleForm.endDate, 'yyyy-MM-dd')
      }
      this.loading = true
      let obj = this
      Api.playList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.arr = []
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        for (let i = 0; i < this.allList.length; i++) {
          let arr = []
          if (this.allList[i].isChat === 1) {
            arr.push(this.allList[i].chatPersonUserName + ' (聊天室) ')
          }
          if (this.allList[i].isMiliao === 1) {
            arr.push('  ' + this.allList[i].miliaoPersonUserName + ' (密聊) ')
          }
          let arrString = arr.toString()
          this.$set(this.allList[i], 'pushPerson', arrString)
          // let miliaoRoomCodeList = this.allList[i].miliaoRoomCode.split(',')
          // this.ruleForm.miliaoRoomCode = miliaoRoomCodeList
          // this.getＭiliaoData(this.data.miliaoPersonUserName)
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deletePlay(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    getＭiliaoData (value) { // 獲取密聊當前群
      let submitData = {}
      this.loading = true
      let obj = this
      submitData.miliaoPersonUserName = value
      Api.getAllMiliaoRoomInfo(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let resData = res.data
        this.miliaoOptions = []
        for (let item in resData) {
          this.miliaoOptions.push(resData[item])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deletePlay(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    // 单个修改
    editOne (v) {
      this.PlayPushShow = true
      this.selectData = v
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    PlayPushAddForm,
    DatetimePicker,
    PlayOpenTarget
  }
}
</script>
