<template>
  <div class="panel">
    <div class="panel-heading">
      聊天记录<dafa-loading v-if="loading"></dafa-loading>
      <div class="float-right panel-heading-right">
        <!--<el-button size="mini" icon="el-icon-plus" type="prmary">清空聊天记录</el-button>-->
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="更新" prop="Update">
            <el-select v-model="ruleForm.Update" class="width-search60" @change="setTimer">
              <el-option label="15秒" value="15"></el-option>
              <el-option label="30秒" value="30"></el-option>
              <el-option label="60秒" value="60"></el-option>
              <el-option label="暂停" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="发言内容" prop="message">
            <el-input v-model="ruleForm.message" placeholder="请输入发言内容" class="width-search120"></el-input>
          </el-form-item>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"  class="width-search120"></el-input>
          </el-form-item>
          <el-form-item label="房间号" prop="roomCode" >
            <el-select v-model="ruleForm.roomCode" class="width-search100">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in RoomList"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="角色" prop="memberTypeId">
            <el-select v-model="ruleForm.memberTypeId" class="width-search100" placeholder="请选择角色">
              <el-option label="全部" value=""></el-option>
              <el-option label="成员" value="1"></el-option>
              <el-option label="访客" value="2"></el-option>
              <el-option label="管理员" value="3"></el-option>
              <el-option label="虚假成员" value="4"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="昵称" prop="nickName">
            <el-input v-model="ruleForm.nickname"  placeholder="请输入昵称"  class="width-search100"></el-input>
          </el-form-item>
          <el-form-item label="状态" prop="state">
            <el-select v-model="ruleForm.state" class="width-search100" placeholder="请选择状态">
              <el-option label="全部" value=""></el-option>
              <el-option label="正常" value="1"></el-option>
              <el-option label="已撤回" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="更新" prop="Update">
                      <el-select v-model="ruleForm.Update" class="width-search60" @change="setTimer">
                        <el-option label="15秒" value="15"></el-option>
                        <el-option label="30秒" value="30"></el-option>
                        <el-option label="60秒" value="60"></el-option>
                        <el-option label="暂停" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="发言内容" prop="message">
                      <el-input v-model="ruleForm.message" placeholder="请输入发言内容"></el-input>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="房间号" prop="roomCode" >
                      <el-select v-model="ruleForm.roomCode" >
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in RoomList"
                          :key="item.roomCode"
                          :label="item.roomCode"
                          :value="item.roomCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="角色" prop="memberTypeId">
                      <el-select v-model="ruleForm.memberTypeId" class="width-search100" placeholder="请选择角色">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="成员" value="1"></el-option>
                        <el-option label="访客" value="2"></el-option>
                        <el-option label="管理员" value="3"></el-option>
                        <el-option label="虚假成员" value="4"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="昵称" prop="nickname">
                      <el-input v-model="ruleForm.nickname"  placeholder="请输入昵称"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="state">
                      <el-select v-model="ruleForm.state" class="width-search100" placeholder="请选择状态">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="正常" value="1"></el-option>
                        <el-option label="已撤回" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th width="350px"><div class="cell">发言内容</div></th>
                    <th><div class="cell">会员账号</div></th>
                    <th><div class="cell">发言房间</div></th>
                    <th><div class="cell">角色类型</div></th>
                    <th><div class="cell">昵称</div></th>
                    <th><div class="cell">等级</div></th>
                    <th width="160px"><div class="cell">发言时间</div></th>
                    <th width="70px"><div class="cell">状态</div></th>
                    <th width="150px"><div class="cell">撤回操作人</div></th>
                    <th width="40px"><div class="cell">操作</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <!--发言内容-->
                      <td >
                        <div class="cell max-width350  cursor-style" v-if="items.messageTypeId === 2">
                          <span @click="handleViewPicture(items)">【图片】<span class="color-blue">查看图片</span></span>
                        </div>
                        <div class="cell max-width350" v-else-if="items.messageTypeId === 3">
                          <span>【<span class="color-danger">红包</span>】发送了一个红包
                            <!--<i class="dafa-icon-redbag dafa-icon color-danger margin-l6"></i>-->
                          </span>
                        </div>
                        <div class="cell max-width350" v-else-if="items.messageTypeId === 10">
                          <span>【<span class="color-blue">计划</span>】分享了计划
                            <!--<i class="dafa-icon-redbag dafa-icon color-danger margin-l6"></i>-->
                          </span>
                        </div>
                        <div class="cell max-width350" v-else-if="items.messageTypeId === 7">
                          <span>【<span class="color-success">注单</span>】分享了注单</span>
                        </div>
                        <div class="cell max-width350" v-else-if="items.messageTypeId === 9">
                          <span>【<span class="color-info">战绩</span>】分享了战绩</span>
                        </div>
                        <template v-else>
                          <div class="cell max-width350  cursor-style" :id="'multipleTableＭessage'+ index" >
                            <span :title="items.message"  :id="'multipleTableＭessageContent' + index">【<span>信息</span>】
                              <span v-if="items.messageShow" @click="handleViewText(items)" :title="items.messageShow" class="color-blue">图片链接</span>
                              <span v-else @click="openContentForm('message', '发言内容', items, 'multipleTableＭessage' + index, 'multipleTableＭessageContent' + index)">{{items.message}}</span>
                            </span>
                          </div>
                        </template>
                      </td>
                      <!--会员账号-->
                      <td ><div class="cell min-width130"><span >{{items.userName}}</span></div></td>
                      <!--发言房间-->
                      <td ><div class="cell"><span >{{items.roomCode}}</span></div></td>
                      <!--角色类型-->
                      <td ><div class="cell"><span >{{memberTypeList[items.memberTypeId]}}</span></div></td>
                      <!--昵称-->
                      <td ><div class="cell min-width130"><span>{{items.memberTypeId !== 2 ? items.nickname : '---'}}</span></div></td>
                      <!--等级-->
                      <td ><div class="cell"><span >{{gradeFormatter(items)}}</span></div></td>
                      <!--发言时间-->
                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                      <!--状态-->
                      <td ><div class="cell"><span :class="items.state === 1 ? 'color-success':'color-danger'" >{{items.state === 1 ? '正常':'已撤回'}}</span></div></td>
                      <td>
                        <div class="cell">
                          <template v-if="items.operator">
                            <span>{{items.operator}}</span>
                          </template>
                          <template v-else><span>---</span></template>
                        </div>
                      </td>
                      <!--操作-->
                      <td >
                        <div class="cell">
                          <el-button type="text" :disabled="items.isBanned" :class=" items.isBanned ? '' : ' color-blue'" @click="openBan(items)"><span>禁言</span></el-button>
                          <template v-if="items.messageTypeId === 2 || items.messageTypeId === 1">
                            <el-button v-if="items.state === 1 && items.withdraw" type="text"  class="color-blue"  @click="updateState(items)"><span>撤回</span></el-button>
                          </template>
                        </div>
                      </td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="10"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="发言内容"
                width="150" show-overflow-tooltip
                fixed>
                <template slot-scope="scope">
                  <template  v-if="scope.row.messageTypeId === 2">
                    <span >【图片】</span>
                  </template>
                  <template v-else-if="scope.row.messageTypeId === 3">
                          <span>【<span class="color-danger">红包</span>】发送了一个红包
                            <!--<i class="dafa-icon-redbag dafa-icon color-danger margin-l6"></i>-->
                          </span>
                  </template>
                  <template  v-else-if="scope.row.messageTypeId === 7">
                    <span>【<span class="color-success">注单</span>】分享了注单</span>
                  </template>
                  <template v-else-if="scope.row.messageTypeId === 9">
                    <span>【<span class="color-info">战绩</span>】分享了战绩</span>
                  </template>
                  <template v-else  >
                    <span>【<span>信息</span>】{{scope.row.message}}</span>
                  </template>
                </template>
              </el-table-column>
              <el-table-column
                prop="userName"
                label="会员账号"
                show-overflow-tooltip
                width="150">
              </el-table-column>
              <el-table-column
                prop="roomCode"
                label="发言房间"
                show-overflow-tooltip
                width="150">
              </el-table-column>
              <el-table-column
                label="角色类型"
                min-width="100"
                prop="memberTypeId"
                show-overflow-tooltip
              >
                <template slot-scope="scope"><span>{{memberTypeList[scope.row.memberTypeId]}}</span></template>
              </el-table-column>
              <el-table-column
                prop="nickname"
                label="昵称"
                min-width="100" show-overflow-tooltip>
                <template slot-scope="scope"><span>{{scope.row.memberTypeId !== 2 ? scope.row.nickname : '---'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="originGrade"
                label="等级"
                min-width="100">
                <template slot-scope="scope"><span>{{gradeFormatter(scope.row)}}</span></template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="发言时间"
                width="170">
              </el-table-column>
              <el-table-column
                prop="state"
                label="状态"
                min-width="100">
                <template slot-scope="scope"><span :class="scope.row.state === 1 ? 'color-success':'color-danger'" >{{scope.row.state === 1 ? '正常':'已撤回'}}</span></template>
              </el-table-column>
              <el-table-column
                label="撤回操作人"
                width="200">
                <template slot-scope="scope">
                  <template v-if="scope.row.operator">
                    <span>{{scope.row.operator}}</span>
                  </template>
                  <template v-else><span>---</span></template>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="handleViewPicture(detailData)" v-show="detailData.messageTypeId === 2">查看图片</span>
          <span v-if="detailData.isBanned === false" @click="openBan(detailData)" >禁言</span>
          <template v-if="detailData.messageTypeId === 2 || detailData.messageTypeId === 1">
            <span v-if="detailData.state === 1 && items.withdraw" @click="updateState(detailData)" >撤回</span>
          </template>
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="聊天记录"
      @close="detailShow=false">
      <ul >
        <li>
          <span>发言内容</span>
          <span >
            <template  v-if="detailData.messageTypeId === 2">
                    <span >【图片】</span>
            </template>
            <template v-else-if="detailData.messageTypeId === 3">
                    <span>【<span class="color-danger">红包</span>】发送了一个红包
                      <!--<i class="dafa-icon-redbag dafa-icon color-danger margin-l6"></i>-->
                    </span>
            </template>
            <template  v-else-if="detailData.messageTypeId === 7">
              <span>【<span class="color-success">注单</span>】分享了注单</span>
            </template>
            <template v-else-if="detailData.messageTypeId === 9">
              <span>【<span class="color-info">战绩</span>】分享了战绩</span>
            </template>
            <template v-else  >
               <span>
                 【<span>信息</span>】
                 <span v-if="detailData.messageShow" class="color-blue">图片链接</span>
                 <span>{detailData.message}}</span>{
               </span>
            </template>
          </span>
        </li>
        <li>
          <span>会员账号</span>
          <span>{{detailData.userName}}</span>
        </li>
        <li>
          <span>角色类型</span>
          <span>{{memberTypeList[detailData.memberTypeId]}}</span>
        </li>
        <li>
          <span>昵称</span>
          <span>{{detailData.memberTypeId !== 2 ? detailData.nickname : '---'}}</span>
        </li>
        <li>
          <span>等级</span>
          <span>{{gradeFormatter(detailData)}}</span>
        </li>
        <li>
          <span>发言时间</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
        <li>
          <span>状态</span>
          <span :class="detailData.state === 1 ? 'color-success':'color-danger'" >{{detailData.state === 1 ? '正常':'已撤回'}}</span>
        </li>
        <li>
          <span>撤回操作人</span>
          <template v-if="detailData.operator">
            <span>{{detailData.operator}}</span>
          </template>
          <template v-else><span>---</span></template>
        </li>
      </ul>
    </popover-right>
    <look-logo-form
      :visible="LookPhotoShow"
      :data="selectData"
      v-on:onClose="LookPhotoShow=false">
    </look-logo-form>
    <chat-ban-form
      :data="selectData"
      :visible="ChatBanShow"
      v-on:onClose="ChatBanShow = false"
    ></chat-ban-form>
  </div>
</template>
<script>
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
import ChatBanForm from '@/views/newModal/ChatBanForm'
import {gradeChatRoom} from '@/utils/config'
import DafaLoading from '@/components/DafaLoading'
import {getEllipsisFlag} from '@/utils'
import {chatImgHost} from '@/filters'
import LookLogoForm from '@/components/PreviewPicture'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      LookPhotoShow: false, // 是否开启图片浏览
      ChatBanShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      RoomList: [],
      ruleForm: {
        Update: 15,
        message: '',
        userName: '',
        roomCode: '',
        memberTypeId: '',
        nickname: '',
        state: ''
      },
      memberTypeList: ['', '成员', '访客', '管理员', '虚假成员'],
      level: gradeChatRoom,
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      timer: null
    }
  },
  mounted () {
    this.getRoomList()
    this.setTimer()
  },
  beforeDestroy () {
    this.ruleForm.Update = 0
    clearTimeout(this.timer)
  },
  methods: {
    handleViewPicture (val) {
      if (!val.message) {
        return
      }
      let message = JSON.parse(val.message)
      let imageData = []
      let tempImageData = {}
      tempImageData.name = '图片'
      tempImageData.url = chatImgHost(message.imgPath)
      imageData.push(tempImageData)
      let selectData = {}
      selectData.imageData = imageData
      selectData.index = 0
      this.selectData = selectData
      this.LookPhotoShow = true
      this.rwdbtnVisible = false
    },
    handleViewText (val) {
      let imageData = []
      let tempImageData = {}
      tempImageData.name = '图片'
      tempImageData.url = chatImgHost(val.message)
      imageData.push(tempImageData)
      let selectData = {}
      selectData.imageData = imageData
      selectData.index = 0
      this.selectData = selectData
      this.LookPhotoShow = true
      this.rwdbtnVisible = false
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getRoomList () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      this.loading = true
      let obj = this
      Api.getRoomList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.RoomList = res.data.list
        // console.log(this.RoomList)
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    updateState (val) {
      let submitData = {}
      submitData.id = val.id
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateMessageState(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
      })
      this.rwdbtnVisible = false
    },
    openBan (val) {
      this.ChatBanShow = true
      this.selectData = val
      this.selectData.type = 'tenantChatMessage'
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    setTimer () {
      if (!this.ruleForm || !this.ruleForm.Update || Number(this.ruleForm.Update) === 0) {
        if (this.timer) {
          clearTimeout(this.timer)
        }
        return
      }
      if (this.timer) {
        clearTimeout(this.timer)
      }
      this.getOrderList(this.pageNum, this.pageSize)
      this.timer = setTimeout(this.setTimer, Number(this.ruleForm.Update) * 1000)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getMessageList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        for (let i = 0; i < this.allList.length; i++) {
          switch (obj.allList[i].messageTypeId) {
            case 1:
              let image = new Image()
              image.src = location.origin + '/' + this.allList[i].message
              image.onload = () => {
                this.$set(this.allList[i], 'messageShow', true)
              }
              break
          }
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    gradeFormatter (row, column) {
      if (this.level[row.originGrade]) {
        return this.level[row.originGrade]
      }
      return '未知等级'
    },
    // editOne (val) {
    //   console.log(val)
    //   this.selectData = val
    //   this.platformLiveTenantForm = true
    //   this.rwdbtnVisible = false
    // },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteMessage(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteMessage(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    LookLogoForm,
    Scroll,
    ChatBanForm,
    DafaLoading
  }
}
</script>
