<template>
  <div class="panel">
    <div class="panel-heading">
      房间管理
      <div class="float-right panel-heading-right">
        <el-button size="mini"  type="primary" plain @click="updateSort" v-if="screenW >1023"> 保存</el-button>
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body"   v-loading="loading"
         element-loading-spinner="dafa-icon-loading01 dafa-icon"
         element-loading-customClass="loadingClass">
      <div class=" clearfix ranktransfer-area">
        <div class="dragging-selected report-data room-dragging" v-if="screenW >1023">
          <div class="report-nav rb-row delbtn">
            <el-button size="mini" icon="el-icon-delete" @click="deleteRows">删除</el-button>
          </div>
          <ul class="chatroom-table">
            <li class="table-header">
              <div class="id"><el-checkbox :indeterminate="isIndeterminate" v-model="checkAll"  @change="handleCheckAllChange">{{''}}</el-checkbox></div>
              <div class="room-number">房间号</div>
              <div class="room-title">房间名称</div>
              <div class="room-time">创建时间</div>
              <div class="room-grade">开放等级</div>
              <div class="room-ban">全体禁言</div>
              <div class="room-copy">访客链接</div>
              <div class="btn-tools">排序</div>
            </li>
            <div  :class="{'ul-height': tableLine}" class="position-relative">
              <div  class="no-data position-abso" v-show="tableLine === true" >暂无数据</div>
              <el-checkbox-group v-model="checkedCities"  class="last-checkbox"  @change="handleCheckedCitiesChange">
                <li v-for="l in allList" v-dragging="{ item: l, list: allList, group: l }" :key="l.id"  >
                  <div class="id"><el-checkbox :label="l.id" :key="l.id">{{''}}</el-checkbox></div>
                  <div class="room-number"><span class="hoverline-effet color-blue" title="修改" @click="editOne(l)">{{l.roomCode}}</span></div>
                  <div class="room-title overflow-style">{{l.title}}</div>
                  <div class="room-time">{{l.gmtCreated}}</div>
                  <div class="room-grade level-items"><multiple-select  v-model="l.roomGradeList" :level="level"></multiple-select></div>
                  <div class="room-ban state-btn">
                    <el-radio-group  v-model="l.isMessageBanned" @change="updateStatus(l)" size="mini">
                      <el-radio-button label="true">开启</el-radio-button>
                      <el-radio-button label="false">关闭</el-radio-button>
                    </el-radio-group>
                  </div>
                  <div class="room-copy">
                    <input :id="'guestUrl'+l.roomCode" :value="'/chatGuest/' + l.roomCode">
                    <a @click="handleCopy('guestUrl'+l.roomCode)" class="color-blue">复制</a>
                  </div>
                  <div class="btn-tools edit-btns">
                    <span><i class="el-icon-rank margin-r6"></i></span>
                  </div>
                </li>
              </el-checkbox-group>
            </div>
          </ul>
        </div >
      </div>
      <!--＝＝＝＝＝＝＝＝＝＝＝＝＝＝手機版開始＝＝＝＝＝＝＝＝＝-->
      <div class="report-data" v-if="screenW<1023">
        <div class="report-nav rb-row delbtn rwd-delect-btn">
          <el-button size="mini" icon="el-icon-delete" @click="deleteRows">删除</el-button>
          <el-button size="mini" type="text"  @click="draggingVisible =true">排序</el-button>
        </div>
        <div class="rwd-selected table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!--＝＝＝＝＝＝＝＝＝＝＝＝＝＝手機表格無排序 排序在彈窗＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝-->
          <scroll :id="'scroll-wrapper2'"   class="el-table">
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails" @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed>
              </el-table-column>
              <el-table-column
                label="房间号"
                prop="roomCode"
                min-width="100"
                fixed >
              </el-table-column>
              <el-table-column
                prop="title"
                label="房间名称" min-width="150" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="创建时间"
                width="170">
              </el-table-column>
              <el-table-column
                prop="status"
                min-width="470"
                label="开放等级">
                <template slot-scope="scope">
                  <span class="color-blue  grade-style">{{formatterGradeList(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="发言状态">
                <template slot-scope="scope">
                  <span :class="scope.row.isMessageBanned ? 'color-danger' : 'color-success'">{{scope.row.isMessageBanned ? '已禁言':'正常'}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <popover-right
        :modal="false"
        :visible="draggingVisible"
        title="排序管理"
        @close="draggingVisible=false">
        <el-button size="mini" slot="right-btn-box"  type="primary" plain :loading="submitLoading" @click="updateSort"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
        <div class="dragging-selected mobile-list-dragging">
          <ul>
            <li
              v-for="l in allList"
              v-dragging="{ item: l, list: allList, group: l }"
              :key="l.roomCode">
              <div class="open-name"><a>{{l.roomCode}}</a></div>
              <div class="btn-tools">
                <a title="上下拖动排序"><i class="el-icon-rank"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </popover-right>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span class="copy-btn" @click="handleCopy('guestUrl'+ detailData.roomCode);rwdbtnVisible=false" >复制访客链接<input :id="'guestUrl'+detailData.roomCode" :value="'/chatGuest/' + detailData.roomCode"></span>
          <span @click="openBankSelect(detailData);rwdbtnVisible=false">修改等级</span>
          <span @click="updateStatus(detailData, detailData.isMessageBanned);rwdbtnVisible=false">{{detailData.isMessageBanned ? '关闭全体禁言' : '开启全体禁言'}}</span>
          <span title="修改"  @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="房间管理"
      @close="detailShow=false">
      <ul >
        <li>
          <span>房间号</span>
          <span class="color-blue">{{detailData.roomCode}}</span>
        </li>
        <li>
          <span>房间名称</span>
          <span>{{detailData.title}}</span>
        </li>
        <li>
          <span>创建时间</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
        <li>
          <span>开放等级</span>
          <span>{{formatterGradeList(detailData)}}</span>
        </li>
        <li>
          <span>发言状态</span>
          <span :class="detailData.isMessageBanned ? 'color-danger' : 'color-success'">{{detailData.isMessageBanned ? '已禁言':'正常'}}</span>
        </li>
      </ul>
    </popover-right>
    <room-setting-form
      :data="selectData"
      :visible="RoomSettingShow"
      v-on:onClose="RoomSettingShow = false"
    ></room-setting-form>
    <chat-room-grade-form
      :data="selectData"
      :visible="bankselect"
      v-on:onClose="bankselect=false" title="房间管理">
    </chat-room-grade-form>
  </div>
</template>
<script>
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import RoomSettingForm from '@/views/newModal/RoomSettingForm'
import {gradeVIPList} from '@/utils/config'
import MultipleSelect from '@/components/MultipleSelect'
import DafaLoading from '@/components/DafaLoading'
import ChatRoomGradeForm from '@/views/newModal/ChatRoomGradeForm'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      checkedCities: [],
      RoomSettingShow: false,
      detailShow: false,
      tableLine: false,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      draggingVisible: false,
      level: gradeVIPList,
      ruleForm: {
        filterWord: '',
        filterTypeId: ''
      },
      isIndeterminate: false,
      checkAll: false, // 是否全选
      allList: [],
      copyAllList: [],
      memberTypeList: ['', '管理员', '', '', '虚假'],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {},
      bankselect: false
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    deleteRows () {
      if (this.screenW < 1023) {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.checkedCities.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('删除该聊天室后将同步删除所有聊天记录以及从推送计划中删除该房间，并踢出房间内所有玩家，是否确认删除？', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {
          ids: ''
        }
        if (this.screenW < 1023) {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        } else {
          submitData.ids = this.checkedCities.join(',')
        }
        this.loading = true
        let obj = this
        Api.deleteRoom(submitData, function () {
          obj.loading = false
          obj.change()
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.change()
          })
          this.msgSuccess('删除成功')
        })
      })
    },
    change () {
      this.checkedCities = []
      this.isIndeterminate = false
      this.checkAll = false
    },
    allopt () {
      let list = JSON.parse(JSON.stringify(this.allList))
      return list.map(v => v.id)
    },
    handleCheckAllChange (val) {
      this.checkedCities = val ? this.allopt() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let checkedCount = value.length
      let allCount = this.allList.length
      this.checkAll = checkedCount === allCount
      this.isIndeterminate = checkedCount > 0 && checkedCount < allCount
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleCopy (domName) {
      document.getElementById(domName).select()
      document.execCommand('copy')
      this.msgSuccess('复制成功')
    },
    openBankSelect (val) {
      let data = {}
      Object.assign(data, val)
      this.selectData = data
      this.bankselect = true
    },
    updateSortData (val) {
      for (let i = 0; i < this.allList.length; i++) {
        if (val.roomCode !== this.allList[i].roomCode) {
          continue
        }
        this.allList[i] = val
      }
      this.updateSort()
    },
    formatterGradeList (val) {
      if (!val || !val.roomGradeList) {
        return ''
      }
      let gradeData = []
      for (let item in val.roomGradeList.value) {
        for (let grade in gradeVIPList) {
          if (gradeVIPList[grade].key !== val.roomGradeList.value[item]) {
            continue
          }
          gradeData.push(gradeVIPList[grade].value)
        }
      }
      return gradeData.join(',')
    },
    updateSort () {
      let allBank = this.allList
      let sortArray = []
      let sortId = 1
      if (this.copyAllList.length > 0) {
        sortId = Number(this.copyAllList[0].sort)
      }
      for (let i = 0; i < allBank.length; i++) {
        let sortData = {}
        let tempSortData = {}
        Object.assign(sortData, tempSortData)
        tempSortData.roomCode = allBank[i].roomCode
        tempSortData.roomGradeList = allBank[i].roomGradeList.value.join(',')
        tempSortData.sort = sortId
        sortArray.push(tempSortData)
        sortId += 1
      }
      if (sortArray.length < 1) {
        this.msgError('未进行任何改动，无法提交')
        return
      }
      let jsonData = {}
      jsonData.json = JSON.stringify(sortArray)
      // console.log(111, jsonData)
      this.submitLoading = true
      let obj = this
      Api.updateRoomList(jsonData, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.msgSuccess('保存成功')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
        this.getOrderList()
      })
    },
    // 分隔线
    openNewForm () {
      if (this.allList.length >= 20) {
        this.msgError('最多只能添加20个房间')
        return
      }
      this.selectData = {}
      this.RoomSettingShow = true
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    gradeFormatter (row, column) {
      if (this.level[row.roomGradeList]) {
        return this.level[row.roomGradeList]
      }
      return '未知等级'
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      this.tableLine = true
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getRoomList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.roomList = []
        this.copyAllList = []
        this.allList = []
        let resData = res.data.list
        for (let i = 0; i < resData.length; i++) {
          if (!resData[i].roomGradeList) {
            resData[i].roomGradeList = ''
          }
          let gradeList = {}
          Object.assign(gradeList, {})
          gradeList.isChangeValue = false
          gradeList.value = []
          if (resData[i].roomGradeList && resData[i].roomGradeList !== '') {
            gradeList.value = resData[i].roomGradeList.toString().split(',').map(v => +v)
            resData[i].roomGradeList = gradeList
          } else {
            resData[i].roomGradeList = gradeList
          }
          this.allList.push(resData[i])
          let tempData = {}
          Object.assign(tempData, resData[i])
          this.copyAllList.push(tempData)
          this.roomList.push(tempData)
        }
        this.total = res.data.total
        this.$nextTick(function () {
          obj.loading = false
          if (this.allList.length < 1) {
            this.tableLine = true
          } else {
            this.tableLine = false
          }
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    updateStatus (val, isMessageBanned) {
      let submitData = {}
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      submitData.roomCode = val.roomCode
      submitData.isMessageBanned = val.isMessageBanned
      if (isMessageBanned !== undefined) {
        isMessageBanned = !isMessageBanned
        submitData.isMessageBanned = isMessageBanned
      }
      Api.updateRoomBanned(submitData, function () {
        obj.loading = false
        val.isMessageBanned = !val.isMessageBanned
      }).then((res) => {
        this.$nextTick(function () {
          obj.loading = false
        })
        this.msgSuccess('操作成功')
      })
    },
    // 单个修改
    editOne (v) {
      this.selectData = v
      this.RoomSettingShow = true
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    RoomSettingForm,
    DatetimePicker,
    MultipleSelect,
    DafaLoading,
    ChatRoomGradeForm
  }
}
</script>
<style scoped>
  .chatroom-table .id .el-checkbox{
    width: 22px;
  }
  .no-data.position-abso{
    position: absolute;
    top: 0;
    left: 0;
  }
  .ul-height{
    min-height: 250px;
  }
  .room-dragging{
    & li:last-child{
      border-bottom: none !important;
    }
    & .room-number{
      width: 100px;
    }
    & .room-title{
      width: calc( 100% - 970px);
      overflow: hidden;
    }
    & .room-grade{
      width: 450px;
    }
    & .room-ban{
      width: 160px;
    }
    & .room-time{
      width: 170px;
    }
    & .btn-tools{
      width: 30px;
    }
    & .room-copy{
      width: 60px;
      position: relative;
      overflow: hidden;
      & input{
        position: absolute;
        left: -110%;
        transform: translate(-150%, 0%);
      }

    }
  }
  .copy-btn{
    position: relative;
    overflow: hidden;
    & input{
      position: absolute;
      transform: translate(0,-200%);
    }
  }
  .no-data{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #909399;
  }
  @media screen and (min-width:1500px){
    .room-dragging{
      & .room-number{
        width: calc( (100% - 30px)*0.1);
      }
      & .room-title{
        width: calc( (100% - 30px)*0.2);
      }
      & .room-grade{
        width: calc( (100% - 30px)*0.35);
      }
      & .room-ban{
        width: calc( (100% - 30px)*0.15);
      }
      & .room-time{
        width: calc( (100% - 30px)*0.1);
      }
      & .room-copy{
        width: calc( (100% - 30px)*0.1);
      }
    }
  }
  .rwd-delect-btn{
    display: flex;
    justify-content: space-between;
  }
</style>
