<template>
  <div class="panel">
    <div class="panel-heading">
      角色管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" placeholder="请输入会员账号"  class="width-search120"></el-input>
          </el-form-item>
          <el-form-item label="房间号" prop="roomCode">
            <el-select v-model="ruleForm.roomCode" class="width-search100">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="角色类型" prop="memberTypeId">
            <el-select v-model="ruleForm.memberTypeId" placeholder="请选择角色类型" class="width-search120">
              <el-option label="全部" value=""></el-option>
              <el-option label="管理员" value="3"></el-option>
              <el-option label="虚假成员" value="4"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="房间号" prop="roomCode">
                      <el-select v-model="ruleForm.roomCode" class="width-search100">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.roomCode"
                          :label="item.roomCode"
                          :value="item.roomCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="角色类型" prop="memberTypeId">
                      <el-select v-model="ruleForm.memberTypeId" >
                        <el-option label="全部" value=""></el-option>
                        <el-option label="管理员" value="3"></el-option>
                        <el-option label="虚假成员" value="4"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th><div class="cell">会员账号</div></th>
                    <th><div class="cell">房间号</div></th>
                    <th><div class="cell">角色类型</div></th>
                    <th><div class="cell">显示等级</div></th>
                    <th><div class="cell">显示昵称</div></th>
                    <th width="300px"><div class="cell">备注</div></th>
                    <th width="170px"><div class="cell">添加时间</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <!--会员账号-->
                      <td ><div class="cell"><span class="color-blue hoverline-effet min-width160" @click="editOne(items)">{{items.userName}}</span></div></td>
                      <!--房间号-->
                      <td ><div class="cell"><span >{{items.roomCode}}</span></div></td>
                      <!--角色类型-->
                      <td ><div class="cell"><span >{{memberTypeList[items.memberTypeId]}}</span></div></td>
                      <!--显示等级-->
                      <td ><div class="cell">
                        <span v-if="items.memberTypeId === 3">---</span>
                        <span v-else>{{gradeFormatter(items)}}</span>
                      </div></td>
                      <!--显示昵称-->
                      <td ><div class="cell max-width160"><span >{{items.nickname}}</span></div></td>
                      <!--备注-->
                      <td ><div class="cell max-width300 cursor-style" :id="'multipleTableRemark'+ index" @click="openContentForm('remark', '备注', items, 'multipleTableRemark' + index, 'multipleTableRemarkContent' + index)"><span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span></div></td>
                      <!--添加时间-->
                      <td ><div class="cell"><span >{{items.gmt_created}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="会员账号"
                min-width="130" show-overflow-tooltip
                fixed>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.userName}}</span></template>
              </el-table-column>
              <el-table-column
                label="房间号"
                min-width="100"
                prop="roomCode"
              >
              </el-table-column>
              <el-table-column
                prop="memberTypeId"
                label="角色类型"
                min-width="100">
                <template slot-scope="scope"><span>{{memberTypeList[scope.row.memberTypeId]}}</span></template>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="显示等级"
                width="180">
                <template slot-scope="scope">
                  <span v-if="scope.row.memberTypeId === 3">---</span>
                  <span v-else>{{gradeFormatter(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="nickname"
                label="显示昵称"
                width="100">
              </el-table-column>
              <el-table-column
                prop="remark"
                label="备注"
                min-width="100" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="gmt_created"
                label="添加时间"
                min-width="160">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          <span title="修改"  @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="角色管理"
      @close="detailShow=false">
      <ul >
        <li>
          <span>会员账号</span>
          <span class="color-blue">{{detailData.userName}}</span>
        </li>
        <li>
          <span>房间号</span>
          <span>{{detailData.roomCode}}</span>
        </li>
        <li>
          <span>角色类型</span>
          <span>{{memberTypeList[detailData.memberTypeId]}}</span>
        </li>
        <li>
          <span>显示等级</span>
          <span v-if="detailData.memberTypeId === 3">---</span>
          <span v-else>{{gradeFormatter(detailData)}}</span>
        </li>
        <li>
          <span>显示昵称</span>
          <span>{{detailData.nickname}}</span>
        </li>
        <li>
          <span>备注</span>
          <span>{{detailData.remark}}</span>
        </li>
        <li>
          <span>添加时间</span>
          <span>{{detailData.gmt_created}}</span>
        </li>
      </ul>
    </popover-right>
    <chat-role-form
      :data="selectData"
      :visible="ChatRoleShow"
      v-on:onClose="ChatRoleShow = false"
    ></chat-role-form>
  </div>
</template>
<script>
import {validateQueryDateTwo} from '@/utils/validateRules'
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import ChatRoleForm from '@/views/newModal/ChatRoleForm'
import {gradeData} from '@/utils/config'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ChatRoleShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      level: gradeData,
      ruleForm: {
        userName: '',
        roomCode: '',
        startDate: '',
        endDate: ''
      },
      allList: [],
      memberTypeList: ['', '', '', '管理员', '虚假成员'],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
        // tenantCode: '',
        // tenantName: '',
        // stateName: ''
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      options: []
    }
  },
  mounted () {
    this.getRoomCodeData()
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getRoomCodeData () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      Api.getRoomList(submitData, function () {
      }).then((res) => {
        this.options = res.data.list
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    getCurrItem (id) {
      for (let i = 0, l = this.allList.length; i < l; i++) {
        if (this.allList[i].id === id) {
          return this.allList[i]
        }
      }
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openNewForm () {
      this.selectData = {}
      this.ChatRoleShow = true
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    gradeFormatter (row, column) {
      if (this.level[row.grade]) {
        return this.level[row.grade]
      }
      return '未知等级'
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateHour(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      this.loading = true
      let obj = this
      Api.getRoleList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteRole(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    checkoutList () {
      let parame = {
        userName: [],
        roomCode: []
      }
      for (let i = 0; i < this.checkedCities.length; i++) {
        let item = this.getCurrItem(this.checkedCities[i])
        parame.userName.push(item.userName)
        parame.roomCode.push(item.roomCode)
      }
      parame = {
        userName: parame.userName.join(','),
        roomCode: parame.roomCode.join(',')
      }
      let [arr, ids] = [[], []]
      Api.runingPlayList(parame).then((res) => {
        if (res.data.total > 0) {
          for (let i = 0; i < res.data.rows.length; i++) {
            arr.push(`账号 ${res.data.rows[i].userName} 在 ${res.data.rows[i].roomCode} 房间有正在执行的的话《${res.data.rows[i].playName}》`)
            ids.push(res.data.rows[i].id)
          }
          this.msgConfirm(`${arr.join(',')}，是否关闭计划`, {
            confirmButtonText: '是',
            cancelButtonText: '否',
            type: 'warning'
          }).then(() => {
            let parame = {
              ids: ids.join(',')
            }
            Api.updatePlayListStatus(parame).then((res) => {
              if (res.code === 1) {
                this.continueDelete(1)
              } else {
                this.msgError('操作失败')
              }
            })
          }).catch(() => {
          })
        } else {
          this.continueDelete()
        }
      })
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.checkoutList()
    },
    continueDelete (v) {
      let msg = v === 1 ? '操作成功，计划已关闭，是否继续删除该记录' : '此操作将删除该记录, 是否继续'
      this.msgConfirm(msg, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteRole(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    // 单个修改
    editOne (v) {
      this.ChatRoleShow = true
      this.selectData = v
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    ChatRoleForm,
    DatetimePicker
  }
}
</script>
