<template>
  <div class="panel">
    <div class="panel-heading">
      充值排序
      <div class="float-right panel-heading-right">
        <el-button size="mini"  type="primary"  plain @click="onUpdatePaySortListSort" :loading="submitLoading" v-if="screenW >1023"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
      </div>
    </div>
    <div class="panel-body tenant-payment-sort">
          <div class="clearfix ranktransfer-area" v-loading="loading"
               element-loading-spinner="dafa-icon-loading01 dafa-icon"
               element-loading-customClass="loadingClass" v-if="screenW >1023">

            <div class="dragging-selected report-data">
              <div class="report-nav rb-row delbtn">
                <el-button size="mini" icon="el-icon-refresh" v-if=" screenW >=768 || isActive" @click="getPamentOrderList">还原</el-button>
              </div>
              <ul>
                <li class="table-header" v-if="screenW >1023">
                  <div class="open-name">支付类型</div>
                  <div class="device">开放终端</div>
                  <div class="btn-tools position-abso">排序</div>
                </li>
                  <li v-for="l in optBank" v-dragging="{ item: l, list: optBank, group: l }" :key="l.id" :class="{selected: l.sourceList.value.length>0}" @click="chooseFun(l)">
                    <div class="open-name"><a>{{l.dictionName}}</a></div>
                    <div class="device device-items"><div class="hide-for-small font-s12 margin-b4 margin-t6">开放终端：</div><multiple-select  v-model="l.sourceList" :level="device"></multiple-select></div>
                    <div></div>
                    <div class="btn-tools position-abso">
                      <span><i class="el-icon-rank margin-r6"></i></span>
                    </div>
                  </li>
                  <li class="li-space"></li>
                  <li class="unselected" v-for="l in allBank" :key="l.id">
                    <div class="open-name" @click="chooseUnSelectedFun(l)"><a>{{l.dictionName}}</a></div>
                    <div class="device device-items" @click="chooseUnSelectedFun(l)"><div class="hide-for-small font-s12 margin-b4 margin-t6">开放终端：</div><multiple-select  v-model="l.sourceList" :level="device"></multiple-select></div>
                    <div></div>
                    <div class="btn-tools position-abso">
                    </div>
                  </li>
              </ul>
            </div>
          </div>
      <!--rwd 排版-->
      <!--＝＝＝＝＝＝＝＝＝＝rwd 排序開始＝＝＝＝＝＝＝＝＝＝＝＝-->
      <popover-right
        :modal="false"
        :visible="draggingVisible"
        title="排序管理"
        @close="draggingVisible=false">
        <el-button size="mini" slot="right-btn-box"  type="primary" plain @click="onUpdatePaySortListSort" :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
        <div class="dragging-selected mobile-list-dragging">
          <ul>
            <li
              v-for="l in optBank"
              v-dragging="{ item: l, list: optBank, group: l }"
              :key="l.id">
              <div class="open-name"><a>{{l.dictionName}}</a></div>
              <div class="btn-tools">
                <a title="上下拖动排序"><i class="el-icon-rank"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </popover-right>
      <popover-right
        :modal="false"
        :lock="false"
        :visible="choseBankVisible"
        title="充值排序"
        @close="choseBankVisible =false">
        <div class="dragging-selected mobile-list-dragging unselected-bank">
          <div class="report-data">
            <div class="rwd-selected table-style" v-loading="loading"
                 element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass">
              <scroll :id="'scroll-wrapper1'" v-if="choseBankVisible" class="el-table">
                <el-table
                  ref="multipleTable"
                  :data="allBank"
                  tooltip-effect="dark"
                  @row-click="openDetails"
                  style="width: 100%">
                  <el-table-column
                    label="支付类型"
                    fixed
                    min-width="100">
                    <template slot-scope="scope">
                      <span v-if="screenW > 1023" class="color-blue">{{scope.row.dictionName}}</span>
                      <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.dictionName}}</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    label="开放终端"
                    min-width="100">
                    <template slot-scope="scope">
                      <span class="color-blue hoverline-effet">未选取</span>
                    </template>
                  </el-table-column>
                </el-table>
              </scroll>
            </div>
          </div>
        </div>
      </popover-right>
      <!--＝＝＝＝＝＝＝＝＝＝rwd 排序結束＝＝＝＝＝＝＝＝＝＝＝＝-->
      <!--＝＝＝＝＝＝＝＝＝＝rwd 已選銀行 開始＝＝＝＝＝＝＝＝＝＝＝＝-->
      <div class="report-data" v-if="screenW<1023">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" type="text"  @click="draggingVisible =true">排序</el-button>
        </div>
        <div class="rwd-selected table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <scroll :id="'scroll-wrapper2'" class="el-table">
            <el-table
              ref="multipleTableSelected"
              :data="totallBank"
              tooltip-effect="dark"
              @row-click="openDetails"
              style="width: 100%"
              @selection-change="handleSelectionChange"
              @click="rwdVisible = true">
              <el-table-column
                label="支付类型"
                fixed
                min-width="100">
                <template slot-scope="scope">
                  <span v-if="screenW > 1023" class="color-blue">{{scope.row.dictionName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.dictionName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="开放终端"
                min-width="100">
                <template slot-scope="scope">
                  <span class="color-blue hoverline-effet">{{formatterSourceList(scope.row)}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="openBankSelect(detailIndex, detailData, true);rwdbtnVisible=false">修改终端</span>
          </div>
          <!--<span @click="checkRow()" >查看信息</span>-->
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          title="充值排序"
          :visible="detailShow"
          @close="detailShow=false">
          <ul >
            <li>
              <span>支付类型</span>
              <span class="color-blue">{{detailData.dictionName}}</span>
            </li>
            <li>
              <span>开放终端</span>
              <span>{{formatterSourceList(detailData)}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="show-wrapper" :class="{'is-open':isOpen}" @click="isOpen = !isOpen"></div>
    </div>
    <div class="orderlist-footer">
      <div class="tip-foot">
        <div class="tip-title state">温馨提示：</div>
        <ol>
          <li>
            取消开放，可对前台页面的支付类型进行隐藏；
          </li>
          <li>
            拖动排序，可对前台页面的支付类型进行排序（PC端第四方会固定显示在最后面）。
          </li>
        </ol>
      </div>
    </div>
    <bank-form
      :data="selectData"
      :visible="bankselect"
      v-on:onClose="bankselect=false"
      title="充值排序"
    >
    </bank-form>
  </div>
</template>
<script>
import MultipleSelect from '@/components/MultipleSelect'
import Api from '@/api/transfer'
import Scroll from '@/components/Scroll'
import BankForm from '@/views/newModal/BankForm'
import {sourceListData} from '@/utils/config'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      stateKey: '', // 快速查询值
      isOpen: false,
      draggingVisible: false,
      checkAll: false, // 全选
      isIndeterminate: true,
      editOpen: false, // 编辑功能是否开启
      disLength: 10, // 限制选中数量
      submitLoading: false,
      choseBankVisible: false,
      rwdVisible: false,
      loading: false,
      bankselect: false,
      loadingMsg: '正在拼命加载中...',
      device: [
        {
          key: 1,
          value: 'PC'
        }, {
          key: 2,
          value: 'Mobile'
        }],
      optBank: [],
      allBank: [],
      totallBank: [],
      selectData: {}
    }
  },
  methods: {
    openBankSelect (index, val, isSelected) {
      let data = {}
      Object.assign(data, val)
      this.selectData = data
      this.selectData.index = index
      this.selectData.isSelected = isSelected
      this.selectData.showGrade = false
      this.bankselect = true
    },
    formatterSourceList (val) {
      if (!val || !val.sourceList) {
        return ''
      }
      let sourceData = []
      for (let item in val.sourceList.value) {
        for (let source in sourceListData) {
          if (sourceListData[source].key !== val.sourceList.value[item]) {
            continue
          }
          sourceData.push(sourceListData[source].value)
        }
      }
      return sourceData.join(',')
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    onUpdatePaySortListSort () {
      let optBank = this.optBank.concat()
      let allBank = this.allBank.concat()
      this.updatePaySortListSort(optBank, allBank)
    },
    updateStatus (val) {
      // console.log(val)
      let optBank = this.optBank.concat()
      let allBank = this.allBank.concat()
      // console.log(optBank)
      if (val.isSelected) {
        if (val.sourceList.value.length < 1) {
          optBank.splice(val.index, 1)
          allBank.push(val)
        } else {
          optBank[val.index] = val
        }
      } else {
        if (val.sourceList.value.length > 0) {
          allBank.splice(val.index, 1)
          optBank.push(val)
        } else {
          allBank[val.index] = val
        }
      }
      this.updatePaySortListSort(optBank, allBank)
    },
    updatePaySortListSort (optBank, allBank) {
      let sortArray = []
      let sortId = 1
      // let optBankChangeCount = 0
      let pcCount = 0
      let mobileCount = 0
      for (let i = 0; i < optBank.length; i++) {
        // if (this.optBank[i].sourceList.isChangeValue || this.optBank[i].gradeList.isChangeValue) {
        //   optBankChangeCount += 1
        // }
        let sortData = {}
        let tempSortData = {}
        Object.assign(sortData, tempSortData)
        tempSortData.id = optBank[i].id
        for (let item in optBank[i].sourceList.value) {
          if (optBank[i].sourceList.value[item] === 1) {
            pcCount += 1
          }
          if (optBank[i].sourceList.value[item] === 2) {
            mobileCount += 1
          }
        }
        tempSortData.sourceList = optBank[i].sourceList.value.join(',')
        tempSortData.sort = sortId
        sortArray.push(tempSortData)
        sortId += 1
      }
      if (pcCount < 1 || mobileCount < 1) {
        this.msgError('PC和Mobile最少要各保留一条记录')
        return
      }
      // if (optBankChangeCount === 0) {
      //   sortArray = []
      // }
      for (let i = 0; i < allBank.length; i++) {
        if (!allBank[i].sourceList.isChangeValue) {
          continue
        }
        let sortData = {}
        let tempSortData = {}
        Object.assign(sortData, tempSortData)
        tempSortData.id = allBank[i].id
        tempSortData.sourceList = ''
        tempSortData.sort = 99
        sortArray.push(tempSortData)
      }
      if (sortArray.length < 1) {
        this.msgError('未进行任何改动，无法提交')
        return
      }
      let jsonData = {}
      jsonData.data = JSON.stringify(sortArray)
      // console.log(111, jsonData)
      this.submitLoading = true
      let obj = this
      Api.updatePaySortListSort(jsonData, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.msgSuccess('保存成功')
        this.$nextTick(function () {
          obj.submitLoading = false
        })
        this.getPamentOrderList()
      })
    },
    getPamentOrderList () {
      this.loading = true
      let obj = this
      Api.paySortList({}, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(1111, res)
        this.optBank = []
        this.allBank = []
        for (let i = 0; i < res.data.length; i++) {
          res.data[i].opt = true
          if (!res.data[i].sourceList) {
            res.data[i].sourceList = ''
          }
          let sourceList = {}
          Object.assign(sourceList, {})
          sourceList.isChangeValue = false
          sourceList.value = []
          if (res.data[i].gradeList !== '' && res.data[i].sourceList !== '') {
            sourceList.value = res.data[i].sourceList.toString().split(',').map(v => +v)
            res.data[i].sourceList = sourceList
            res.data[i].show = true
            this.optBank.push(res.data[i])
            continue
          }
          if (res.data[i].sourceList && res.data[i].sourceList !== '') {
            sourceList.value = res.data[i].sourceList.split(',').map(v => +v)
            res.data[i].sourceList = sourceList
          } else {
            res.data[i].sourceList = sourceList
          }
          res.data[i].show = false
          this.allBank.push(res.data[i])
        }
        this.totallBank = []
        for (let items in this.optBank) {
          this.optBank[items].selected = true
          this.totallBank.push(this.optBank[items])
        }
        for (let items in this.allBank) {
          this.allBank[items].selected = false
          this.totallBank.push(this.allBank[items])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    chooseFun (val) {
      if (val.sourceList.value.length > 0) {
        return
      }
      for (let i = 0; i < this.optBank.length; i++) {
        if (val.id === this.optBank[i].id) {
          this.optBank.splice(i, 1)
          this.allBank.push(val)
          break
        }
      }
    },
    chooseUnSelectedFun (val) {
      if (val.sourceList.value.length < 1) {
        return
      }
      for (let i = 0; i < this.allBank.length; i++) {
        if (val.id === this.allBank[i].id) {
          this.allBank.splice(i, 1)
          this.optBank.push(val)
          break
        }
      }
    },
    deleteSelected () {
      if (this.$refs.multipleTableSelected.selection.length < 1) {
        this.msgError('未选中记录')
        return
      }
      let ids = {}
      for (let i = 0; i < this.$refs.multipleTableSelected.selection.length; i++) {
        if (!this.$refs.multipleTableSelected.selection[i].id) {
          continue
        }
        ids[this.$refs.multipleTableSelected.selection[i].id] = this.$refs.multipleTableSelected.selection[i]
      }
      let optBank = this.optBank.concat()
      let allBank = this.allBank.concat()
      for (let i = this.optBank.length - 1; i >= 0; i--) {
        if (!ids[this.optBank[i].id]) {
          continue
        }
        optBank[i].sourceList.value = []
        optBank[i].sourceList.isChangeValue = true
        allBank.push(optBank[i])
        optBank.splice(i, 1)
      }
      this.updatePaySortListSort(optBank, allBank)
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  mounted () {
    this.$dragging.$on('dragged', ({ value }) => {
      // console.log(value)
    })
    this.getPamentOrderList()
  },
  components: {
    Scroll,
    BankForm,
    MultipleSelect
  }
}
</script>
<style scoped>
  .panel-body {
    height: calc(100vh - 300px);
  }
  .orderlist-footer{
    padding: 20px;
  }
  .open-name{
    width: 20% !important;
  }
  .position-abso{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0 , -50%);
  }
  @media screen and (max-width: 1023px){
    .open-name{
      width: 100% !important;
    }
  }

</style>
<style>
.tenant-payment-sort{
  min-height:500px!important;
}
</style>
