<template>
  <div class="panel">
    <div class="panel-heading">
      关于我们
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openAboutForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >1023 || isActive" @click="deleteRows" :loading="submitLoading"> {{submitLoading ? '正在删除' : '删除'}}</el-button>
          <el-button size="mini" v-if="screenW<1023" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
        </div>
        <div class="table-style "  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="22px"><div class="table-id"></div></th>
                  <th><div class="cell">标题</div></th>
                  <th><div class="cell">添加时间</div></th>
                </tr>
                </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell"><span class="color-blue hoverline-effet" title="修改" @click="editOne(items)">{{items.title}}</span></div></td>
                      <td><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="3"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              tooltip-effect="dark"
              @row-click="openDetails"
              style="width: 100%;"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                v-if=" screenW >1023 || isActive">
              </el-table-column>
              <el-table-column
                label="标题"
                :min-width="screenW > 1023 ? '200':'130'"
                fixed
              >
                <template slot-scope="scope">
                  <span v-if="screenW > 1023" class="color-blue hoverline-effet" title="修改" @click="editOne(scope.row)">{{scope.row.title}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.title}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                :width="screenW > 1024 ? '450':'180'">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span title="修改"  @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          @close="detailShow=false" title="关于我们">
          <ul >
            <li>
              <span>标题</span>
              <span class="color-blue">{{detailData.title}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          background
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <about-form
      :data="selectData"
      :visible="AboutShow"
      v-on:onClose="AboutShow=false"
    ></about-form>
  </div>
</template>
<script>
// import AboutList from '@/components/dataTableList/AboutList'
import AboutForm from '@/views/newModal/AboutForm'
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      AboutShow: false, // 是否开启弹窗
      command: 0,
      total: 0,
      isActive: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      // 列表数据
      allList: [],
      selectData: {},
      pageNum: 1,
      pageSize: 20
    }
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    openAboutForm () {
      this.selectData = {}
      this.AboutShow = true
    },
    // handleCheckAllChange (val) {
    //   console.log(val)
    //   this.checkedCities = val ? this.getAll() : []
    //   this.isIndeterminate = false
    // },
    // handleCheckedCitiesChange (value) {
    //   let checkedCount = value.length
    //   this.checkAll = checkedCount === this.allList.length
    //   this.isIndeterminate = checkedCount > 0 && checkedCount < this.allList.length
    // },
    // handleCommand (command) {
    //   this.$message('click on item ' + command)
    // },
    // getAll () {
    //   let list = this.allList
    //   let arr = []
    //   list.forEach(v => {
    //     arr.push(v.Id)
    //   })
    //   return arr
    // },
    // 分页
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.getIntroductionListPaging(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    editOne (val) {
      // console.log(val)
      this.selectData = val
      this.AboutShow = true
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在删除中...'
        this.loading = true
        let obj = this
        Api.deleteIntroduction(submitData, function () {
          obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.loadingMsg = '正在拼命加载中...'
            obj.loading = false
          })
          this.getOrderList(this.pageNum, this.pageSize)
          this.msgSuccess('删除成功')
        })
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.submitLoading = true
        let obj = this
        Api.deleteIntroduction(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.checkedCities = []
          this.getOrderList(this.pageNum, this.pageSize)
          this.msgSuccess('删除成功')
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  components: {
    Scroll,
    AboutForm
  }
}
</script>

<style scoped>
@import '../../assets/css/variable.css';

</style>
