<template>
  <div class="panel">
    <div class="panel-heading">
      域名管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openDomainNewForm">新增域名</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="域名类型" prop="urlId">
            <el-select v-model="ruleForm.urlId" class="width-midstatus" placeholder="请选择类型">
              <el-option label="前台" value="1"></el-option>
              <el-option label="后台" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="域名" prop="url">
            <el-input v-model="ruleForm.url" class="width-forword" placeholder="请输入域名"></el-input>
          </el-form-item>
          <el-form-item label="域名状态" prop="checkState">
            <el-select v-model="ruleForm.checkState" class="width-search100" placeholder="请选择类型">
              <el-option label="全部" value=""></el-option>
              <el-option label="正常" value="1"></el-option>
              <el-option label="异常" value="2"></el-option>
              <el-option label="新增未检测" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="异常信息" prop="checkMessage">
            <el-select v-model="ruleForm.checkMessage" class="width-search100" placeholder="请选择类型">
              <el-option label="全部" value=""></el-option>
              <el-option label="未解析到平台" value="未解析到平台"></el-option>
              <el-option label="被墙" value="被墙"></el-option>
              <el-option label="被污染" value="被污染"></el-option>
              <el-option label="DNS被劫持" value="DNS被劫持"></el-option>
              <el-option label="域名未解析" value="域名未解析"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">

                  <el-form  size="small" v-show="screenW<768" :inline="false" ref="ruleForm" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="类型" prop="urlId">
                      <el-select v-model="ruleForm.urlId" class="width-midstatus" placeholder="请选择类型">
                        <el-option label="前台" value="1"></el-option>
                        <el-option label="后台" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="网址" prop="url">
                      <el-input v-model="ruleForm.url" class="width-forword" placeholder="请输入网址"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style table-small" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th><div class="cell">域名</div></th>
                    <th><div class="cell">域名状态</div></th>
                    <th><div class="cell">异常信息</div></th>
                    <th><div class="cell">域名备注</div></th>
                    <th><div class="cell">操作人</div></th>
                    <th width="170px"><div class="cell">新增时间</div></th>
                    <th width="170px"><div class="cell">最近修改时间</div></th>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td><div class="cell"><span class="color-blue hoverline-effet" title="修改" @click="editOne(items)">{{items.url}}</span></div></td>
                      <td><div class="cell"><span :class="{'color-success': items.checkState === 1, 'color-danger': items.checkState === 2}">{{items.checkState | stateTxt}}</span></div></td>
                      <td><div class="cell"><span>{{items.checkMessage}}</span></div></td>
                      <td><div class="cell min-width80 max-width180 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                        <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div></td>
                      <td><div class="cell "><span>{{items.managerName}}</span></div></td>
                      <td><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                      <td><div class="cell"><span >{{items.gmtModified}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              @selection-change="handleSelectionChange"
              style="width: 100%;">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="域名"
                min-width="100"
                fixed show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="screenW > 1023" class="color-blue hoverline-effet" title="修改" @click="editOne(scope.row)">{{scope.row.url}}</span>
                  <span v-else class="color-blue dataIndex" :data-index="scope.$index">{{scope.row.url}}</span>
                </template>
                min-width="100">
              </el-table-column>
              <el-table-column
                label="域名状态"
                min-width="100">
                <template slot-scope="scope">
                  <span :class="{'color-success': scope.row.checkState === 1, 'color-danger': scope.row.checkState === 2}">{{ scope.row.checkState | stateTxt}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="异常信息"
                min-width="100"
                prop="checkMessage">
              </el-table-column>
              <el-table-column
                label="域名备注"
                min-width="130">
                <template slot-scope="scope">
                  <span class="overflow-style" >{{scope.row.remark}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="managerName"
                label="操作人"
                :min-width="screenW > 768 ? '130':'200'">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="新增时间"
                width="180">
              </el-table-column>
              <el-table-column
                prop="gmtModified"
                label="最近修改时间"
                width="180">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span  @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="域名管理"
          @close="detailShow=false">
          <ul >
            <li>
              <span>域名</span>
              <span class="color-blue">{{detailData.url}}</span>
            </li>
            <li>
              <span>域名状态</span>
              <span>{{detailData.checkState | stateTxt}}</span>
            </li>
            <li>
              <span>异常信息</span>
              <span>{{detailData.checkMessage}}</span>
            </li>
            <li>
              <span>域名备注</span>
              <span>{{detailData.remark}}</span>
            </li>
            <li>
              <span>操作人</span>
              <span>{{detailData.managerName}}</span>
            </li>
            <li>
              <span>新增时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>最近修改时间</span>
              <span>{{detailData.gmtModified}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <div class="tip-foot ">
          <div class="tip-title state">* 域名相关说明：</div>
        <ol>
          <li>前台域名支持添加100条，后台域名支持添加2条；</li>
          <li> 新添加的域名只要解析正确即可使用，但需要15分钟以后才会有状态检测信息；</li>
          <li>域名状态检测每15分钟检测更新一次，检测结果为最近15分钟前的结果，并非当前实时的结果；</li>
          <li>异常信息为：未解析到平台，表示该域名没有解析到平台提供的CNAME；</li>
          <li>异常信息为：被墙，指域名无论解析到哪里国内都无法访问，一般是服务器在境外，国内无法访问，境外可以访问（无有效解决方案，可使用国内服务器跳转到正常域名），被墙（http）指http被墙，被墙（http、https）指http和https都被墙；</li>
          <li>异常信息为：被污染，指域名被解析到不正确的IP地址，一般可以解析出多个不正确的IP地址，每次解析的IP可能会不一样（无有效解决方案，但使用DNS服务商的DNS加速可以缓解）；</li>
          <li>异常信息为：DNS被劫持，指某个地区的传输节点（路由器）或是dns服务器被劫持，篡改域名解析的结果，使用户得到不正确的IP（无有效解决方案，但使用HTTPS被劫持后可降低影响）；</li>
          <li>异常信息为：域名未解析或被污染，可先确认下域名是否已经解析，如已确认解析，即表示域名已被污染；</li>
          <li>由于检测节点有限，污染和劫持的检测无法包含所有地区，有些地区会检测不到，被墙的检测准确率目前也无法做到100%；</li>
          <li>未使用或作废的域名请及时从域名管理删除并调整或删除解析，以免相互影响；</li>
        </ol>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <domain-site-form
      :data="selectData"
      :visible="DomainBindShow"
      v-on:onClose="DomainBindShow=false"
    ></domain-site-form>
  </div>
</template>
<script>
import DomainSiteForm from '@/views/newModal/DomainSiteForm'
import Scroll from '@/components/Scroll'
import Api from '@/api/sys'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      DomainBindShow: false, // 是否开启弹窗
      command: 0,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      ruleForm: {
        urlId: '1',
        url: '',
        checkState: '',
        checkMessage: ''
      },
      // 列表数据
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      ellipsisColumns: [{name: 'remark', width: 161, formatterFunc: null}]
    }
  },
  filters: {
    stateTxt (value) {
      let text = ''
      switch (value) {
        case 0:
          text = '新增未检测'
          break
        case 1:
          text = '正常'
          break
        case 2:
          text = '异常'
          break
      }
      return text
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 单个修改
    editOne (v) {
      // console.log(v + '可以修改')
      this.DomainBindShow = true
      this.selectData = v
      // console.log(v)
    },
    openDomainNewForm () {
      this.DomainBindShow = true
      this.selectData = {}
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.pageSize = 20
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.tenantUrlList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        let allList = res.data.urlList
        // getEllipsisHtml(this.ellipsisColumns, allList)
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loading = true
        let obj = this
        Api.tenantDeleteUrl(submitData, function () {
          obj.loading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.loading = false
          })
          this.getOrderList(1, 20)
          this.msgSuccess('删除成功')
        })
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loading = true
        let obj = this
        Api.tenantDeleteUrl(submitData, function () {
          obj.loading = false
        }).then((res) => {
          this.$nextTick(function () {
            this.checkedCities = []
            obj.loading = false
          })
          this.getOrderList(1, 20)
          this.msgSuccess('删除成功')
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DomainSiteForm
  }
}
</script>
<style scoped>
@media screen and (max-width:768px){
  .hoverline-effet{
    width: 90px !important;
  }
}
.tip-foot{
  margin: 0 0 20px 0;
}

</style>
