<template>
  <div class="panel">
    <div class="panel-heading">
      棋牌管理
      <div class="float-right panel-heading-right">
        <el-button
          size="mini"
          @click="setLotteryHot"
          type="primary" plain>保 存</el-button>
      </div>
    </div>
    <div class="panel-body" v-loading="loading"
         element-loading-spinner="dafa-icon-loading01 dafa-icon"
         element-loading-customClass="loadingClass">
          <div class="media-object lottery-area game-area">
            <div class="lottery-selected shrink">
              <div class="mod-header ">
                排序
                <el-button class="lottery-allbtn color-bluebutton" type="text" @click="resetLotterHot" v-if="screenW > 500">重置</el-button>
              </div>
              <ul >
                <li
                  v-for="l in lotterylist"  v-dragging="{ item: l, list: lotterylist, group: l }"
                  :key="l.code" class="li-items">
                  <i class="el-icon-rank"></i>
                  {{l.name}}
                </li>
              </ul>
            </div>
          </div>
    </div>
  </div>
</template>
<script>
import api from '@/api/sys'
export default {
  data () {
    return {
      resetList: [],
      lottery: '',
      disLength: 12, // 限制选中数量
      submitLoading: false,
      draggingVisible: false,
      loading: false,
      lotteryNumber: '',
      loadingMsg: '正在拼命加载中...',
      lotterylist: []
    }
  },
  created () {
    this.loading = true
    let obj = this
    api.gameManagement({}, function () {
      obj.loading = false
    }).then((res) => {
      if (res.code === 1) {
        let list = res.data.split(',')
        for (let i = 0; i < list.length; i++) {
          let arr = {}
          arr.code = list[i]
          switch (arr.code) {
            case '2001':
              arr.name = '百人牛牛'
              break
            case '2002':
              arr.name = '红黑大战'
              break
            case '2003':
              arr.name = '龙虎大战'
              break
            case '2004':
              arr.name = '百家乐'
              break
            case '2005':
              arr.name = '奔驰宝马'
              break
            case '2006':
              arr.name = '骰宝'
              break
          }
          this.lotterylist.push(arr)
        }
        localStorage.setItem('lotterylist', JSON.stringify(this.lotterylist))
        this.$nextTick(function () {
          obj.loading = false
        })
      } else {
        this.msgError(res.msg)
      }
    })
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    resetLotterHot () {
      this.lotterylist = JSON.parse(localStorage.getItem('lotterylist'))
    },
    setLotteryHot () {
      let submitData = {}
      submitData.sortString = ''
      for (let i = 0; i < this.lotterylist.length; i++) {
        submitData.sortString += ',' + this.lotterylist[i].code
      }
      if (submitData.sortString !== '') {
        submitData.sortString = submitData.sortString.substr(1)
      }
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      api.gameSort(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.msgSuccess('操作成功')
      })
    }
  }
}
</script>
<style scoped>
  @import '../../assets/css/variable.css';
  .lottery-area{
    & >div{
      width: 50%;
      max-width: 364px;
      border: 1px solid #ebeef5;
      margin: 0 0 0 10px;
      background: #fff;
    }
    & li:hover{
      color: #2a72c5;
      & i{
        color: #2a72c5;
      }
    }
  }
  .lottery-allbtn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0 , -50%);
    line-height: 16px;
    & .el-checkbox__label{
      line-height: 12px;
    }
  }
  .li-items {
    cursor: move !important;
    &:hover{
      background: var(--color-titlebackground);
    }
  }
  .shrink.lottery-selected{
    margin-left: 20px !important;
  }
  .lottery-selected{
    border: 1px solid #ebeef5;
    position: relative;
    & ul{
      margin: 0 0 40px 0;
    }
    & li:hover{
      color: var(--color-blue);
      cursor: all-scroll !important;
      & i{
        color: var(--color-blue);
      }
    }
    & .el-icon-rank{
      width: 20px ;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:  0 20px;

    }
  }
  .mod-header{
    position: relative;
  }
  @media screen and (max-width: 768px){
    .lottery-area {
      & > div {
        width: 100% !important;
        margin: 0 10px;
      }
    }
    .shrink.lottery-selected{
      margin-left: 10px !important;
    }
    .li-items {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 500px){

    .lottery-selected{
      & .el-icon-rank{
        margin:  0 5px;
      }
    }
    .lottery-area {
      & > div {
        margin: 0 3px;
      }
    }
  }
</style>
