<template>
  <div class="panel">
    <div class="panel-heading">
      令牌管理
      <div class="float-right panel-heading-right">
        <el-button size="small" icon="el-icon-plus" type="success" @click="openTokenNewForm">自建令牌</el-button>
        <el-button size="small" icon="el-icon-plus" type="success" @click="openTokenShareNewForm">获取共享令牌</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">别名</div></th>
                  <th ><div class="cell">令牌类型</div></th>
                  <th ><div class="cell">修改时间</div></th>
                  <th><div class="cell">状态</div></th>
                  <th width="60px"><div class="cell">操作</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td ><div class="cell"><span class="color-blue ">{{items.alias}}</span></div></td>
                      <td ><div class="cell"><span>{{items.isAdmin?'站长令牌':'普通令牌'}}</span></div></td>
                      <td ><div class="cell"><span>{{items.gmtModified}}</span></div></td>
                      <td><div class="cell">
                        <span :class="items.state === 0 ?'color-danger':(items.isBound === 1 ?'color-success':'color-grey')">
                              {{items.state === 0 ?'禁用':(items.isBound === 1 ?'已绑定':'未绑定')}}
                        </span></div></td>
                      <td><div class="cell">
                        <div class="table-btnbox " v-if="screenW>768">
                        <template v-if="items.isBound === 0">
                          <el-button type="text" size="small" @click="openTokenBindNewForm(items)"><span class="color-bluebutton margin-r6">绑定</span></el-button>
                        </template>
                        <template v-if="items.isBound === 1 && items.isShared === 1">
                          <el-button type="text" size="small" @click="disableToken(items)"><span class="color-bluebutton margin-r6">{{items.state === 1 ? '禁用':'启用'}}</span></el-button>
                          <el-button type="text" size="small" @click="removeToken(items)"><span class="color-bluebutton margin-r6">解绑</span></el-button>
                        </template>
                        <template v-if="items.isBound === 1 && items.isShared === 0" >
                          <el-button type="text" size="small" @click="disableToken(items)"><span class="color-bluebutton margin-r6">{{items.state === 1 ? '禁用':'启用'}}</span></el-button>
                        </template>
                        <el-button type="text" size="small"><span class="color-bluebutton" @click="deleteToken(items)">删除</span></el-button>
                      </div></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%">
              <el-table-column
                label="别名"
                fixed
                min-width="120">
                <template slot-scope="scope">
                  <span class="color-blue  dataIndex" :data-index="scope.$index">{{scope.row.alias}}</span>
                  <!--<span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.alias}}</span>-->
                </template>
              </el-table-column>
              <el-table-column
                label="令牌类型"
                min-width="100">
                <template slot-scope="scope">{{scope.row.isAdmin?'站长令牌':'普通令牌'}}</template>
              </el-table-column>
              <el-table-column
                prop="gmtModified"
                label="修改时间"
                min-width="170">
              </el-table-column>
              <el-table-column
                prop="state"
                label="状态"
                min-width="60">
                <template slot-scope="scope">
                <span :class="scope.row.state === 0 ?'color-danger':(scope.row.isBound === 1 ?'color-success':'color-grey')">
                   {{scope.row.state === 0 ?'禁用':(scope.row.isBound === 1 ?'已绑定':'未绑定')}}
                </span>
                </template>
              </el-table-column>
              <el-table-column
                fixed="right"
                label="操作"
                v-if="screenW>768"
                :width="screenW > 768 ? '120':'50'">
                <template slot-scope="scope">
                  <div class="table-btnbox " v-if="screenW>768">
                    <template v-if="scope.row.isBound === 0">
                      <el-button type="text" size="small" @click="openTokenBindNewForm(scope.row)"><span class="color-bluebutton margin-r6">绑定</span></el-button>
                    </template>
                    <template v-if="scope.row.isBound === 1 && scope.row.isShared === 1">
                      <el-button type="text" size="small" @click="disableToken(scope.row)"><span class="color-bluebutton margin-r6">{{scope.row.state === 1 ? '禁用':'启用'}}</span></el-button>
                      <el-button type="text" size="small" @click="removeToken(scope.row)"><span class="color-bluebutton margin-r6">解绑</span></el-button>
                    </template>
                    <template v-if="scope.row.isBound === 1 && scope.row.isShared === 0" >
                      <el-button type="text" size="small" @click="disableToken(scope.row)"><span class="color-bluebutton margin-r6">{{scope.row.state === 1 ? '禁用':'启用'}}</span></el-button>
                    </template>
                    <el-button type="text" size="small"><span class="color-bluebutton" @click="deleteToken(scope.row)">删除</span></el-button>
                  </div>
                  <!--<div v-else>-->
                    <!--<i class="el-icon-more" @click="rwdbtn(scope.row)"></i>-->
                  <!--</div>-->
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <!--<el-dialog-->
          <!--:visible.sync="rwdbtnVisible"-->
          <!--custom-class="btn-dialog"-->
          <!--:modal="false"-->
          <!--append-to-body-->
          <!--width="100%">-->
          <!--<template v-if="rwdNumber.isBound === 0">-->
            <!--<span @click="openTokenBindNewForm(rwdNumber)">绑定</span>-->
          <!--</template>-->
          <!--<template v-if="rwdNumber.isBound === 1 && rwdNumber.isShared === 1">-->
            <!--<span @click="disableToken(rwdNumber)">{{rwdNumber.state === 1 ? '禁用':'启用'}}</span>-->
            <!--<span @click="removeToken(rwdNumber)">解绑</span>-->
          <!--</template>-->
          <!--<template v-if="rwdNumber.isBound === 1 && rwdNumber.isShared === 0" >-->
            <!--<span type="text" size="small" @click="disableToken(rwdNumber)">{{rwdNumber.state === 1 ? '禁用':'启用'}}</span>-->
          <!--</template>-->
          <!--<span @click="deleteToken(rwdNumber)">删除</span>-->
        <!--</el-dialog>-->
      </div>
      <br>
      <div class="report-foot margin-t10">
        <!-- 底部说明文本块 -->
        <div class="tip-foot">
          <div class="tip-title state">大发令牌使用说明：</div>
          <ol>
            <li>
              大发令牌用于登录以及核心功能操作的口令验证；
            </li>
            <li>
              通过手机APP绑定令牌即可获得口令，站长账号和普通账号使用不同口令；
            </li>
            <li>
              可创建2个站长令牌，5个普通令牌，每个令牌只能绑定一部手机；
            </li>
            <li>
              最少要绑定一个站长令牌，一个普通令牌；
            </li>
            <li>
              站长令牌用于站长账号口令获取，普通令牌用于普通账号口令获取；
            </li>
            <li>
              手机绑定令牌需使用站长账号、站长密码、令牌密钥才可以绑定；
            </li>
            <li>
              手机丢失或者需要更换手机，后台删除对应手机别名的令牌即可；
            </li>
            <li>
              令牌APP下载地址：http://dlnew.dafatokenapp.com/；
            </li>
            <li>
              不想使用共享令牌，解绑即可，可创建数量包含共享。
            </li>
          </ol>
        </div>
        <!-- 底部说明文本块结束 -->
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <template v-if="detailData.isBound === 0">
          <span @click="openTokenBindNewForm(detailData);rwdbtnVisible=false">绑定</span>
        </template>
        <template v-if="detailData.isBound === 1 && detailData.isShared === 1">
          <span @click="disableToken(detailData);rwdbtnVisible=false">{{detailData.state === 1 ? '禁用':'启用'}}</span>
          <span @click="removeToken(detailData);rwdbtnVisible=false">解绑</span>
        </template>
        <template v-if="detailData.isBound === 1 && detailData.isShared === 0" >
          <span type="text" size="small" @click="disableToken(detailData);rwdbtnVisible=false">{{detailData.state === 1 ? '禁用':'启用'}}</span>
        </template>
          <span @click="deleteToken(detailData);rwdbtnVisible=false">删除</span>
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        title="令牌管理"
        :visible="detailShow"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul >
          <li>
            <span>别名</span>
            <span class="color-blue">{{detailData.alias}}</span>
          </li>
          <li>
            <span>令牌类型</span>
            <span>{{detailData.isAdmin?'站长令牌':'普通令牌'}}</span>
          </li>
          <li>
            <span>修改时间</span>
            <span>{{detailData.gmtModified}}</span>
          </li>
          <li>
            <span>状态</span>
            <span :class="detailData.state === 0 ?'color-danger':(detailData.isBound === 1 ?'color-success':'color-grey')">
                   {{detailData.state === 0 ?'禁用':(detailData.isBound === 1 ?'已绑定':'未绑定')}}
                </span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
    </div>
    <token-new-form
      :data="selectData"
      :visible="TokenNewShow"
      v-on:onClose="TokenNewShow=false"
    ></token-new-form>
    <token-share-new-form
      :data="selectData"
      :visible="TokenShareNewShow"
      v-on:onClose="TokenShareNewShow=false"
    ></token-share-new-form>
    <token-bind
      :data="selectData"
      :visible="TokenBindShow"
      v-on:onClose="TokenBindShow=false"
    ></token-bind>
  </div>
</template>
<script>
/**
   *令牌状态说明：state:0 禁用，1 可用; bind:0未绑定，1 已绑定
   接口发送状态说明：1 恢复，2 禁用，3 删除，4 绑定 ，  解绑是单独接口
   */
import TokenNewForm from '@/views/newModal/TokenNewForm'
import TokenShareNewForm from '@/views/newModal/TokenShareNewForm'
import TokenBind from '@/views/newModal/TokenBindForm'
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      TokenNewShow: false, // 是否显示自建编辑弹窗
      TokenShareNewShow: false, // 是否显示共享编辑弹窗
      TokenBindShow: false, // 是否显示令牌绑定密钥弹窗
      command: 0,
      avatorVisible: false,
      // 列表数据
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {}
    }
  },
  mounted () {
    this.getOrderList()
  },
  methods: {
    disableToken (val) {
      let submitData = {}
      submitData.id = val.id
      let state = 0
      if (val.state === 0) {
        state = 1
      }
      submitData.state = state
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.updateTokenState(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.getOrderList()
      })
    },
    removeToken (val) {
      let submitData = {}
      submitData.id = val.id
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.removeToken(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.getOrderList()
      })
    },
    openTokenNewForm () {
      this.selectData = {}
      this.TokenNewShow = true
    },
    openTokenShareNewForm () {
      this.selectData = {}
      this.TokenShareNewShow = true
    },
    openTokenBindNewForm (val) {
      // console.log('va', val)
      this.selectData = val
      this.TokenBindShow = true
    },
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.tokenList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.tokenList
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    deleteToken (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.id = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteToken(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.msgSuccess('删除成功')
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.getOrderList()
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    TokenNewForm,
    TokenShareNewForm,
    TokenBind,
    Scroll
  }
}
</script>
<style scoped>
  @media screen and (max-width:1023px){
    .flexbox{
      &.nav-color{
        display:none;
      }
    }
    .delbtn{
      display:none;
    }
  }
</style>
