<template>
  <div class="panel">
    <div class="panel-heading">
      推送计划-历史记录
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item prop="type">
            <el-select v-model="ruleForm.type"  class="width-search120">
              <el-option label="全部" value="0"></el-option>
              <el-option label="最近100期" value="100"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="playName" class="input-form-item" label="推送计划名称">
            <el-input placeholder="请输入关键字" v-model="ruleForm.playName"  size="min"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-searchtime"
              type="date"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item prop="playName" class="input-form-item" label="推送计划名称">
                      <el-input placeholder="请输入关键字" v-model="ruleForm.playName"  size="min"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                     <span class="time-picker">
                          <datetime-picker v-model="ruleForm.startDate" type="date"></datetime-picker>
                      </span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                     <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endDate" type="date"></datetime-picker>
                      </span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">计划期号</div></th>
                  <th ><div class="cell">玩法</div></th>
                  <th ><div class="cell">投注内容</div></th>
                  <th ><div class="cell">开奖内容</div></th>
                  <th width="100px"><div class="cell">开奖结果</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <!--计划期数-->
                    <td><div class="cell">
                      <span class="color-blue">{{items.issue}}</span></div></td>
                    <!--玩法-->
                    <td ><div class="cell"><span>{{items.lotteryType}}</span></div></td>
                    <!--投注内容-->
                    <td ><div class="cell"><span>{{items.predictionResult}}</span></div></td>
                    <!--开奖内容-->
                    <td>
                      <div class="cell">
                        <span v-if="items.isPrize === 2">等待开奖</span>
                        <span v-else>{{items.openResult}}</span>
                        <!--<span>和值单双: <span class="color-blue">{{items.openResult[0]}}</span> , 和值大小: <span class="color-blue">{{items.openResult[1]}}</span> , 和值: <span class="color-blue">{{items.openResult[2]}}</span></span>-->
                      </div>
                    </td>
                    <!--开奖结果-->
                    <td>
                       <div class="cell">
                          <span v-if="items.isPrize === 0">未中奖</span>
                          <span :class="items.isPrize === 1 ? 'color-danger':''"  v-else> {{items.isPrize === 1 ? '中奖':'未开奖'}}</span>
                       </div>
                    </td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="12"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
              <div class="initHitRate-box cell"><span>命中率:  <span class="color-blue" >{{initHitRate}} %</span></span></div>
            </div>
          </div>
          <scroll :id="'scrollId1'"  class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="计划期号"
                fixed
                :min-width="screenW > 768 ? '110':'145'">
                <template slot-scope="scope">
                  <span  class="color-blue " >{{scope.row.issue}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="lotteryType"
                label="玩法"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="predictionResult"
                label="投注内容"
                min-width="120">
              </el-table-column>
              <el-table-column
                label="开奖内容"
                min-width="120">
                <template slot-scope="scope">
                  <span v-if="scope.row.isPrize === 2">等待开奖</span>
                  <span v-else>{{scope.row.openResult}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="开奖结果"
                min-width="120">
                <template slot-scope="scope">
                  <span v-if="scope.row.isPrize === 0">未中奖</span>
                  <span :class="scope.row.isPrize ? 'color-danger':''"  v-else> {{scope.row.isPrize === 1 ? '中奖':'未开奖'}}</span>
                </template>
              </el-table-column>
              <!--<el-table-column-->
                <!--label="开奖内容"-->
                <!--min-width="120">-->
                <!--<template slot-scopt="scope">-->
                  <!--<span v-if="scope.row.isPrize === 2">等待开奖</span>-->
                  <!--<span v-else>{{scope.row.openResult}}</span>-->
                <!--</template>-->
              <!--</el-table-column>-->
              <!--<el-table-column-->
                <!--label="开奖结果"-->
                <!--min-width="120">-->
                <!--<template slot-scope="scope">-->
                  <!--<span v-if="scope.row.isPrize">未中奖</span>-->
                  <!--<span :class="scope.row.isPrize ? 'color-danger':''"  v-else> {{scope.row.isPrize ? '中奖':'未开奖'}}</span>-->
                <!--</template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="测试账号"
          @close="detailShow=false">
          <ul >
            <li>
              <span>计划期数</span>
              <span class="color-blue">{{detailData.issue}}</span>
            </li>
            <li>
              <span>玩法</span>
              <span>{{detailData.lotteryType}}</span>
            </li>
            <li>
              <span>投注内容</span>
              <span>{{detailData.predictionResult}}</span>
            </li>
            <li>
              <span>开奖内容</span>
              <span v-if="detailData.isPrize === 2">等待开奖</span>
              <span v-else>{{detailData.openResult}}</span>
            </li>
            <li>
              <span>开奖结果</span>
              <span v-if="detailData.isPrize === 0">未中奖</span>
              <span :class="detailData.isPrize ? 'color-danger':''"  v-else> {{detailData.isPrize === 1 ? '中奖':'未开奖'}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import Api from '@/api/sys'
import {DateFormat} from '@/utils/Time'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  computed: {
    screenW () {
      return this.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      UserShow: false,
      tableLine: true,
      isShow: false,
      FreezeValue: false,
      isActive: false,
      avatorVisible: false,
      ChangePasswordForm: false,
      BankInformationForm: false,
      CountTimesForm: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        startDate: '',
        endDate: '',
        playName: '',
        type: '100'
      },
      initHitRate: 0,
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      selectData: {},
      allCashDate: {}
    }
  },
  methods: {
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize, 2)
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val, 2)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize, 2)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize, type) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      if (this.ruleForm.startDate !== '') {
        submitData.startDate = DateFormat(this.ruleForm.startDate, 'yyyy-MM-dd')
        submitData.endDate = DateFormat(this.ruleForm.endDate, 'yyyy-MM-dd')
      }

      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      submitData.type = parseInt(this.ruleForm.type)
      if (type === 1) {
        submitData.playName = this.$route.query.name
        this.ruleForm.playName = this.$route.query.name
      } else {
        submitData.playName = this.ruleForm.playName
        this.$router.replace({
          name: 'TenantPlayPushDetail',
          query: {
            id: this.ruleForm.playName
          }
        }
        )
      }
      this.loading = true
      let obj = this
      Api.getPushPlayList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        // if (this.ruleForm.issue === '最近100期') {
        //   this.total = 100
        // } else {
        //   this.total = res.data.total
        // }
        this.total = res.data.total
        // this.total = res.data.total
        this.initHitRate = res.data.initHitRate
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    openDetails (row, event, column) {
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  mounted () {
    this.getOrderList(1, 20, 1)
  },
  components: {
    Scroll,
    DatetimePicker
  }
}
</script>
<style scoped>
  .initHitRate-box{
    width: 100%;
    text-align: right;
    background: var(--color-titlebackground);
    border-top: 1px solid var(--color-border);
    padding: 6px 17px;
  }
</style>
