<template>
  <div class="panel">
    <div class="panel-heading">
      创建计划
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="计划方案名称" prop="schemeName">
            <el-input v-model="ruleForm.schemeName" placeholder="请输入计划方案名称"  class="width-search140"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="计划方案名称" prop="schemeName">
                      <el-input v-model="ruleForm.schemeName" placeholder="请输入计划方案名称"  ></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th><div class="cell">计划方案</div></th>
                    <th><div class="cell">所属彩种</div></th>
                    <th><div class="cell">计划内容</div></th>
                    <th><div class="cell">计划期数</div></th>
                    <th><div class="cell">状态</div></th>
                    <th><div class="cell">操作人</div></th>
                    <th width="170px"><div class="cell">添加时间</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <!--计划方案-->
                      <td ><div class="cell max-width180"><span class="color-blue hoverline-effet " @click="editOne(items)">{{items.schemeName}}</span></div></td>
                      <!--所属彩种-->
                      <td><div class="cell"><span>{{ formatterLotteryName(items)}}</span></div></td>
                      <!--计划内容-->
                      <td ><div class="cell min-width320"><span >{{playContent(items.playList)}}</span></div></td>
                      <!--计划期数-->
                      <td ><div class="cell"><span>{{items.number}}</span></div></td>
                      <!--状态-->
                      <td><div class="cell" :class="{'color-success':items.status}" ><span>{{items.status ? '已绑定':'未绑定'}}</span></div></td>
                      <!--操作人-->
                      <td >
                        <div class="cell min-width160">
                          <template v-if="items.operator"><span >{{items.operator}}</span></template>
                          <template v-else><span >---</span></template>
                        </div>
                      </td>
                      <!--添加时间-->
                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="计划方案"
                min-width="130" show-overflow-tooltip
                fixed>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.schemeName}}</span></template>
              </el-table-column>
              <el-table-column
                label="所属彩种"
                min-width="100">
                <template slot-scope="scope"><span class="color-blue">{{ formatterLotteryName(scope.row)}}</span></template>
              </el-table-column>
              <el-table-column
                label="计划内容"
                min-width="180">
                <template slot-scope="scope"><span>{{playContent(scope.row.playList)}}</span></template>
              </el-table-column>
              <el-table-column
                prop="number"
                label="计划期数"
                width="100">
              </el-table-column>
              <el-table-column
                label="操作人"
                min-width="100">
                <template slot-scope="scope">
                  <template v-if="scope.row.operator"><span >{{scope.row.operator}}</span></template>
                  <template v-else><span >---</span></template>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                width="200">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          <span title="修改"  @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="角色管理"
      @close="detailShow=false">
      <ul >
        <li>
          <span>计划方案</span>
          <span class="color-blue">{{detailData.schemeName}}</span>
        </li>
        <li>
          <span>所属彩种</span>
          <span>{{ formatterLotteryName(detailData)}}</span>
        </li>
        <li>
          <span>计划内容</span>
          <span>{{detailData.playList&&playContent(detailData.playList)}}</span>
        </li>
        <li>
          <span>计划期数</span>
          <span>{{detailData.number}}</span>
        </li>
        <li>
          <span>操作人</span>
          <template v-if="detailData.operator"><span >{{detailData.operator}}</span></template>
          <template v-else><span >---</span></template>
        </li>
        <li>
          <span>添加时间</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
      </ul>
    </popover-right>
    <play-create-form
      :data="selectData"
      :visible="PlayCreatShow"
      v-on:onClose="PlayCreatShow = false"
    ></play-create-form>
    <!--<chat-role-form-->
    <!--:data="selectData"-->
    <!--:visible="PlayCreatShow"-->
    <!--v-on:onClose="PlayCreatShow = false"-->
    <!--&gt;</chat-role-form>-->
  </div>
</template>
<script>
import Api from '@/api/sys'
import ApiSite from '@/api/report'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import PlayCreateForm from '@/views/newModal/PlayCreateForm'
import {gradeData} from '@/utils/config'
// import {DateFormat} from '@/utils/Time'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      PlayCreatShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      level: gradeData,
      ruleForm: {
        schemeName: ''
      },
      allList: [],
      memberTypeList: ['', '', '', '管理员', '虚假成员'],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {},
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      options: []
    }
  },
  mounted () {
    // this.getRoomCodeData()
    this.getLotteryData()
    this.getOrderList(1, 20)
  },
  methods: {
    playContent (form) {
      if (form.mark !== '') {
        return form.mark
      } else {
        let valueText = ''
        let lotteryType = parseInt(form.lotteryType)
        let lotteryCode = parseInt(form.lotteryCode)
        if (parseInt(form.isRandom) === 1) {
          switch (lotteryCode) {
            case 1407:
              valueText = lotteryType === 3 ? '胆码长度 (' + form.bettingCount + ')' : (lotteryType === 1 ? '和值大小' : '和值单双')
              break
            case 1304:
              valueText = form.lotteryDetails
              break
          }
        } else {
          if (lotteryType === 3) {
            valueText = form.lotteryDetails
          } else if (lotteryType === 2) {
            valueText = form.lotteryDetails
          } else {
            valueText = form.lotteryDetails
          }
        }
        let isRandom = parseInt(form.isRandom) === 1 ? '单期随机' : '玩法自定义'
        return isRandom + ' : ' + valueText
      }
    },
    getLotteryData () {
      let submitData = {}
      ApiSite.getSiteLottery(submitData, function () {
      }).then((res) => {
        this.options = res.data
      })
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    formatterLotteryName (row, column) {
      if (!row.lotteryCode) {
        return ''
      }
      for (let i = 0; i < this.options.length; i++) {
        if (row.lotteryCode !== this.options[i].lotteryCode) {
          continue
        }
        return this.options[i].lotteryName
      }
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openNewForm () {
      this.selectData = {}
      this.PlayCreatShow = true
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    gradeFormatter (row, column) {
      if (this.level[row.grade]) {
        return this.level[row.grade]
      }
      return '未知等级'
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      this.loading = true
      let obj = this
      Api.playSchemeList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        for (let i = 0; i < this.allList.length; i++) {
          let arr = JSON.parse(this.allList[i].playDetailJson)
          this.$set(this.allList[i], 'playList', arr[0])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deletePlayScheme(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deletePlayScheme(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    // 单个修改
    editOne (v) {
      this.PlayCreatShow = true
      this.selectData = v
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    PlayCreateForm,
    DatetimePicker
  }
}
</script>
