<template>
  <div class="panel">
    <div class="panel-heading">
      屏蔽记录
      <div class="float-right panel-heading-right">
        <!--<el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>-->
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="发言内容" prop="message">
            <el-input v-model="ruleForm.message" placeholder="请输入发言内容"  class="width-search120"></el-input>
          </el-form-item>
          <el-form-item label="屏蔽类型" prop="filterTypeId">
            <el-select v-model="ruleForm.filterTypeId"  class="width-search100">
              <el-option label="全部" value=""></el-option>
              <el-option label="禁用词屏蔽" value="1"></el-option>
              <el-option label="敏感词屏蔽" value="2"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="过滤词" prop="filterWord">
            <el-input v-model="ruleForm.filterWord"  class="width-search100" placeholder="请输入过滤词"></el-input>
          </el-form-item>
          <el-form-item label="发言房间" prop="roomCode">
            <el-select v-model="ruleForm.roomCode" class="width-search100">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName"  class="width-search120"  placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="昵称" prop="nickname">
            <el-input v-model="ruleForm.nickname"  class="width-search100"  placeholder="请输入昵称"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row pc-none">
          <!--<el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>-->
          <!--<el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">-->
            <!--<span v-if="isActive">取消删除</span>-->
            <!--<span v-else>删除</span>-->
          <!--</el-button>-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="发言内容" prop="message">
                      <el-input v-model="ruleForm.message" placeholder="请输入发言内容"></el-input>
                    </el-form-item>
                    <el-form-item label="屏蔽类型" prop="filterTypeId">
                      <el-select v-model="ruleForm.filterTypeId" >
                        <el-option label="全部" value=""></el-option>
                        <el-option label="禁用词屏蔽" value="1"></el-option>
                        <el-option label="敏感词屏蔽" value="2"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="过滤词" prop="filterWord">
                      <el-input v-model="ruleForm.filterWord"  class="width-search100" placeholder="请输入过滤词"></el-input>
                    </el-form-item>
                    <el-form-item label="发言房间" prop="roomCode">
                      <el-select v-model="ruleForm.roomCode" class="width-search100">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.roomCode"
                          :label="item.roomCode"
                          :value="item.roomCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="昵称" prop="nickname">
                      <el-input v-model="ruleForm.nickname"  placeholder="请输入昵称"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper ">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th><div class="cell">发言内容</div></th>
                      <th><div class="cell">屏蔽类型</div></th>
                      <th><div class="cell">词语</div></th>
                      <th><div class="cell">发言房间</div></th>
                      <th><div class="cell">会员账号</div></th>
                      <th><div class="cell">昵称</div></th>
                      <th width="170px"><div class="cell">发言时间</div></th>
                      <th width="70px"><div class="cell">状态</div></th>
                      <th width="50px"><div class="cell">操作</div></th>
                    </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <!--<td><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>-->
                      <!--发言内容-->
                      <td ><div class="cell max-width300 cursor-style" :id="'multipleTableMessageColumn' + index" @click="openContentForm('message', '发言内容', items, 'multipleTableMessageColumn' + index, 'multipleTableMessageContent' + index)">
                        <span class="color-blue" :title="items.message" :id="'multipleTableMessageContent' + index">{{items.message}}</span>
                      </div>
                      </td>
                      <!--屏蔽类型-->
                      <td ><div class="cell"><span >{{items.filterTypeId === 1 ? '禁用词屏蔽':'敏感词屏蔽'}}</span></div></td>
                      <!--词语-->
                      <td ><div class="cell"><span >{{items.filterWord}}</span></div></td>
                      <!--发言房间-->
                      <td ><div class="cell"><span >{{items.roomCode}}</span></div></td>
                      <!--会员账号-->
                      <td ><div class="cell"><span>{{items.userName}}</span></div></td>
                      <!--昵称-->
                      <td ><div class="cell"><span >{{items.memberTypeId !== 2 ? items.nickname : '---'}}</span></div></td>
                      <!--发言时间-->
                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                      <!--状态-->
                      <td ><div class="cell"><span :class="items.isBan ? 'color-danger' : ' '">{{items.isBan ? '已禁言' : '正常'}}</span></div></td>
                      <!--操作-->
                      <td ><div  class="cell"><el-button :disabled="items.isBan" type="text" size="mini" @click="openBan(items)"><span :class="items.isBan ? '' : 'color-bluebutton'">禁言</span></el-button></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
            >
              <!--<el-table-column-->
                <!--prop="id"-->
                <!--type="selection"-->
                <!--width="34"-->
                <!--fixed-->
                <!--v-if=" screenW >=768 || isActive">-->
              <!--</el-table-column>-->
              <el-table-column
                label="发言内容"
                min-width="120" show-overflow-tooltip
                fixed>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.message}}</span></template>
              </el-table-column>
              <el-table-column
                prop="filterTypeId"
                label="屏蔽类型"
                min-width="100">
                <template slot-scope="scope"><span >{{scope.row.filterTypeId === 1 ? '禁用词屏蔽':'敏感词屏蔽'}}</span></template>
              </el-table-column>
              <el-table-column
                label="词语"
                min-width="100"
                prop="filterWord" show-overflow-tooltip
              >
              </el-table-column>
              <el-table-column
                label="发言房间"
                min-width="100"
                prop="roomCode"
              >
              </el-table-column>
              <el-table-column
                prop="userName"
                label="会员账号"
                min-width="160">
              </el-table-column>
              <el-table-column
                prop="nickname"
                label="昵称"
                min-width="100" show-overflow-tooltip>
                <template slot-scope="scope"><span >{{scope.row.memberTypeId !== 2 ? scope.row.nickname : '---'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="发言时间"
                min-width="170">
              </el-table-column>
              <el-table-column
                label="状态"
                width="100">
                <template slot-scope="scope"><span :class="scope.row.isBan ? 'color-danger' : ' '">{{scope.row.isBan ? '已禁言' : '正常'}}</span></template>
              </el-table-column>
              <!--<el-table-column-->
                <!--label="操作"-->
                <!--fixed="right"-->
                <!--width="50">-->
                <!--<template slot-scope="scope"><el-button type="text" size="mini" @click="openBan(scope.row)"><span class="color-bluebutton">禁言</span></el-button></template>-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          <span v-if="!detailData.isBan" @click="openBan(detailData)" >禁言</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="屏蔽记录"
      @close="detailShow=false">
      <ul >
        <li>
          <span>发言内容</span>
          <span class="color-blue">{{detailData.message}}</span>
        </li>
        <li>
          <span>屏蔽类型</span>
          <span>{{detailData.filterTypeId === 1 ? '禁用词屏蔽':'敏感词屏蔽'}}</span>
        </li>
        <li>
          <span>词语</span>
          <span>{{detailData.filterWord}}</span>
        </li>
        <li>
          <span>发言房间</span>
          <span>{{detailData.roomCode}}</span>
        </li>
        <li>
          <span>会员账号</span>
          <span>{{detailData.userName}}</span>
        </li>
        <li>
          <span>昵称</span>
          <span>{{detailData.memberTypeId !== 2 ? detailData.nickname : '---'}}</span>
        </li>
        <li>
          <span>发言时间</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
        <li>
          <span>状态</span>
          <span :class="detailData.isBan ? 'color-danger' : ' '">{{detailData.isBan ? '已禁言' : '正常'}}</span>
        </li>
      </ul>
    </popover-right>
    <chat-ban-form
      :data="selectData"
      :visible="ChatBanShow"
      v-on:onClose="ChatBanShow = false"
    ></chat-ban-form>
  </div>
</template>
<script>
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
import ChatBanForm from '@/views/newModal/ChatBanForm'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ChatBanShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      ruleForm: {
        message: '',
        filterTypeId: '',
        userName: '',
        nickname: '',
        filterWord: '',
        roomCode: ''
      },
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {},
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      options: []
    }
  },
  mounted () {
    this.getRoomCodeData()
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getRoomCodeData () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      Api.getRoomList(submitData, function () {
      }).then((res) => {
        this.options = res.data.list
      })
    },
    openBan (v) {
      this.selectData = v
      this.selectData.type = 'tenantChatBlock'
      this.ChatBanShow = true
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getFilteredMessageBlockList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    // deleteRow (val) {
    //   this.msgConfirm('此操作将删除该记录, 是否继续', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     let submitData = {}
    //     submitData.ids = val.id
    //     this.loadingMsg = '正在提交...'
    //     this.loading = true
    //     let obj = this
    //     Api.deleteFilteredMessageBlock(submitData, function () {
    //       obj.loading = false
    //       obj.loadingMsg = '正在拼命加载中...'
    //     }).then((res) => {
    //       this.getOrderList(1, 20)
    //       this.$nextTick(function () {
    //         obj.loading = false
    //         obj.loadingMsg = '正在拼命加载中...'
    //       })
    //       this.msgSuccess('删除成功')
    //     })
    //   }).catch(() => {
    //   })
    // },
    // deleteRows () {
    //   if (this.screenW > 1023) {
    //     if (!this.checkedCities.length) {
    //       this.msgError('未选中记录')
    //       return
    //     }
    //   } else {
    //     if (this.$refs.multipleTable.selection.length < 1) {
    //       this.msgError('未选中记录')
    //       return
    //     }
    //   }
    //   this.msgConfirm('此操作将删除该记录, 是否继续', {
    //     confirmButtonText: '确定',
    //     cancelButtonText: '取消',
    //     type: 'warning'
    //   }).then(() => {
    //     let submitData = {}
    //     submitData.ids = ''
    //     if (this.screenW > 1023) {
    //       submitData.ids = this.checkedCities.toString()
    //     } else {
    //       for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
    //         submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
    //       }
    //       if (submitData.ids !== '') {
    //         submitData.ids = submitData.ids.substr(1)
    //       }
    //     }
    //     this.loadingMsg = '正在提交...'
    //     this.loading = true
    //     let obj = this
    //     Api.deleteFilteredMessageBlock(submitData, function () {
    //       obj.loading = false
    //       obj.loadingMsg = '正在拼命加载中...'
    //     }).then((res) => {
    //       this.getOrderList(1, 20)
    //       // 清除PC版数据
    //       this.checkedCities = []
    //       this.checkAll = false
    //       this.isIndeterminate = false
    //       this.$nextTick(function () {
    //         obj.loading = false
    //         obj.loadingMsg = '正在拼命加载中...'
    //       })
    //       this.msgSuccess('删除成功')
    //     })
    //   }).catch(() => {
    //   })
    // },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    ChatBanForm
  }
}
</script>
