<template>
  <div class="panel">
    <div class="panel-heading">
      充值说明
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">

        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">充值类型</div></th>
                  <th><div class="cell">PC充值说明</div></th>
                  <th><div class="cell">Mobile充值说明</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td >
                      <div class="cell max-width300">
                       <span class="color-blue hoverline-effet" title="修改"  @click="openPaymentAssistanceForm(items)">{{items.paymentTypeName}}</span>
                     </div>
                    </td>
                    <td>
                      <div class="cell">
                        <template v-if="items.isSystemPc">
                        <el-popover
                          placement="top-start"
                          width="300"
                          trigger="hover">
                          <div v-html="items.pcPaymentHelpSystem"></div>
                          <span class="short-article cursor-style" slot="reference">
                                系统文案
                                 <i class="el-icon-info margin-l6"  ></i>
                           </span>
                        </el-popover>
                      </template>
                      <template v-else>
                        <el-popover
                          placement="top-start"
                          width="200"
                          trigger="hover">
                          <div v-html="items.pcPaymentHelp"></div>
                          <span class="short-article cursor-style" slot="reference">
                      自定义文案
                       <i class="el-icon-info margin-l6"></i>
                    </span>
                        </el-popover>
                      </template></div></td>
                    <td><div class="cell">
                      <template v-if="items.isSystemMobile">
                        <el-popover
                          placement="top-start"
                          width="300"
                          trigger="hover">
                          <div v-html="items.mobilePaymentHelpSystem"></div>
                          <span class="short-article cursor-style" slot="reference">
                      系统文案
                       <i class="el-icon-info margin-l6"  ></i>
                    </span>
                        </el-popover>
                      </template>
                      <template v-else>
                        <el-popover
                          placement="top-start"
                          width="300"
                          trigger="hover">
                          <div v-html="items.mobilePaymentHelp"></div>
                          <span class="short-article cursor-style" slot="reference">
                      自定义文案
                       <i class="el-icon-info margin-l6"  ></i>
                    </span>
                        </el-popover>
                      </template>
                    </div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="3"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <el-table
            :data="allList"
            @row-click="openDetails"
            style="width: 100%;" v-else>
            <el-table-column
              label="充值类型"
              min-width="100" show-overflow-tooltip>
              <template slot-scope="scope">
                <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改"  @click="openPaymentAssistanceForm(scope.row)">{{scope.row.paymentTypeName}}</span>
                <span v-else class="color-blue  dataIndex" :data-index="scope.$index">{{scope.row.paymentTypeName}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="PC充值说明"
              min-width="90">
              <template slot-scope="scope">
                <template v-if="scope.row.isSystemPc">
                  <el-popover
                    placement="top-start"
                    width="300"
                    trigger="hover"
                    v-if="screenW > 768">
                    <div v-html="scope.row.pcPaymentHelpSystem"></div>
                <span class="short-article cursor-style" slot="reference">
                  系统文案
                   <i class="el-icon-info margin-l6"  ></i>
                </span>
                  </el-popover>
                  <div v-else>系统文案</div>
                </template>
                <template v-else>
                  <el-popover
                    placement="top-start"
                    width="200"
                    trigger="hover" v-if="screenW > 768">
                    <div v-html="scope.row.pcPaymentHelp"></div>
                    <span class="short-article cursor-style" slot="reference">
                      自定义文案
                       <i class="el-icon-info margin-l6"></i>
                    </span>
                  </el-popover>
                  <div v-else>自定义文案</div>
                </template>
              </template>
            </el-table-column>
            <el-table-column
              label="Mobile充值说明"
              min-width="110">
              <template slot-scope="scope">
                <template v-if="scope.row.isSystemMobile">
                  <el-popover
                    placement="top-start"
                    width="300"
                    trigger="hover"
                    v-if="screenW > 768">
                    <div v-html="scope.row.mobilePaymentHelpSystem"></div>
                    <span class="short-article cursor-style" slot="reference">
                      系统文案
                       <i class="el-icon-info margin-l6"  ></i>
                    </span>
                  </el-popover>
                  <div v-else>系统文案</div>
                </template>
                <template v-else>
                  <el-popover
                    placement="top-start"
                    width="300"
                    trigger="hover" v-if="screenW > 768">
                    <div v-html="scope.row.mobilePaymentHelp"></div>
                    <span class="short-article cursor-style" slot="reference">
                      自定义文案
                       <i class="el-icon-info margin-l6"  ></i>
                    </span>
                  </el-popover>
                  <div v-else>自定义文案</div>
                </template>
              </template>
            </el-table-column>
            <!--<el-table-column-->
              <!--label="操作"-->
              <!--:width="screenW>=768 ? '100':'50'">-->
              <!--<template slot-scope="scope">-->
                <!--<div v-if="screenW>=768">-->
                  <!--<el-button type="text" size="mini" @click="openPaymentAssistanceForm(scope.row)">  <span class="color-bluebutton">修改</span></el-button>-->
                <!--</div>-->
                <!--<div v-else class="text-center">-->
                  <!--<i class="el-icon-more" @click="rwdbtn(scope.row)"></i>-->
                <!--</div>-->
              <!--</template>-->
            <!--</el-table-column>-->
          </el-table>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
        <span title="修改"  @click="openPaymentAssistanceForm(detailData);rwdbtnVisible=false" >修改</span>
        <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="充值说明"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul >
          <li>
            <span>充值类型</span>
            <span class="color-blue">{{detailData.paymentTypeName}}</span>
          </li>
          <li>
            <span>PC充值说明</span>
            <span v-html="detailData.pcPaymentHelpSystem"></span>
          </li>
          <li>
            <span>Mobile充值说明</span>
            <span v-html="detailData.mobilePaymentHelpSystem"></span>
          </li>
        </ul>
      </popover-right>
    </div>
    <payment-assistance-form
      :data="selectData"
      :visible="PaymentAssistanceShow"
      v-on:onClose="PaymentAssistanceShow=false">
    </payment-assistance-form>
  </div>
</template>
<script>
import PaymentAssistanceForm from '@/views/newModal/PaymentAssistanceForm'
import Api from '@/api/transfer'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      PaymentAssistanceShow: false,
      allList: [],
      selectData: {},
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...'
    }
  },
  mounted () {
    this.getOrderList()
  },
  methods: {
    openPaymentAssistanceForm (val) {
      this.selectData = val
      this.PaymentAssistanceShow = true
    },
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.paymentAssistanceSettingsList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    PaymentAssistanceForm
  }
}
</script>
<style >
  .short-article{
    display: inline-block;
    & i{
      font-style:normal;
      color: #999;

    }
  }
</style>
