<template>
  <div class="panel">
    <div class="panel-heading">
      提示音设置
      <!--<div class="float-right panel-heading-right">-->
        <!--<el-button size="mini" icon="el-icon-plus" type="success" >新增</el-button>-->
      <!--</div>-->
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data no-border rwd-padding">
        <el-form
          :model="ruleForm"
          status-icon
          size="small"
          ref="ruleForm"
          :label-width="screenW > 768 ? '80px': ''"
          :label-position="screenW > 768 ? 'right':'top'"
          v-loading="loading"
          element-loading-spinner="dafa-icon-loading01 dafa-icon"
          element-loading-customClass="loadingClass"
          @keyup.native.enter="submitForm('ruleForm')"
          @submit.native.prevent
        >
          <el-form-item label="充值提示音" prop="paymentRingtoneId">
            <el-select
              v-model="ruleForm.paymentRingtoneId"
              size="min"
              :popper-class="'music-select'"
              placeholder="全部"
              class="ringtone-setting"
            >
              <el-option-group
                v-for="group in paymentRingtoneList"
                :key="group.label"
                :label="group.label"
              >
              <el-option
                  v-for="item in group.ringtones"
                :key="item.id"
                :label="item.name"
                  :value="item.id"
                  :title="item.name"
                >
                  <div class="ring-name">{{item.name}}</div>
                  <div class="music-hover">
                    <span
                      v-if="group.label !== '系统提示音'"
                      @click="deleteOneRingtone(item.id)"
                    >
                    删除
                      <!-- <i class="el-icon-close delete-ringtone"></i> -->
                    </span>
                    <span @click.stop="playMp3(item)">试听</span>
                  </div>
              </el-option>
              </el-option-group>
            </el-select>
            <el-upload
              class="upload-ringtone"
              action
              :file-list="fileList"
              :accept="'.mp3'"
              :auto-upload="true"
              :show-file-list="false"
              :before-upload="beforeUpload"
              :on-change="uploadOnChange"
              :http-request="uploadPaymentRingtone"
            >
              <el-button
                size="small"
                type="primary"
                :loading="uploadBtnLoading.btn1"
              >{{uploadBtnLoading.btn1?'上传中':'+自定义上传'}}</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="提现提示音" prop="withdrawRingtoneId">
            <el-select
              v-model="ruleForm.withdrawRingtoneId"
              size="min"
              :popper-class="'music-select'"
              placeholder="全部"
              class="ringtone-setting"
            >
              <el-option-group
                v-for="group in withdrawRingtoneList"
                :key="group.label"
                :label="group.label"
              >
              <el-option
                  v-for="item in group.ringtones"
                :key="item.id"
                :label="item.name"
                  :value="item.id"
                  :title="item.name"
                >
                  <div class="ring-name">{{item.name}}</div>
                  <div class="music-hover">
                    <span
                      v-if="group.label !== '系统提示音'"
                      @click="deleteOneRingtone(item.id)"
                    >
                    删除
                      <!-- <i class="el-icon-close delete-ringtone"></i> -->
                    </span>
                    <span @click.stop="playMp3(item)">试听</span>
                  </div>
              </el-option>
              </el-option-group>
            </el-select>
            <el-upload
              class="upload-ringtone"
              action
              :file-list="fileList"
              :accept="'.mp3'"
              :auto-upload="true"
              :show-file-list="false"
              :before-upload="beforeUpload"
              :on-change="uploadOnChange"
              :http-request="uploadWithdrawRingtone"
            >
              <el-button
                size="small"
                type="primary"
                :loading="uploadBtnLoading.btn2"
              >{{uploadBtnLoading.btn2?'上传中':'+自定义上传'}}</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item label="广播提示音" prop="broadcastRingtoneId">
            <el-select
              v-model="ruleForm.broadcastRingtoneId"
              size="min"
              :popper-class="'music-select'"
              placeholder="全部"
              class="ringtone-setting"
            >
              <el-option-group
                v-for="group in broadcastRingtoneList"
                :key="group.label"
                :label="group.label"
              >
                <el-option
                  v-for="item in group.ringtones"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                  :title="item.name"
                >
                  <div class="ring-name">{{item.name}}</div>
                  <div class="music-hover">
                    <span
                      v-if="group.label !== '系统提示音'"
                      @click="deleteOneRingtone(item.id)"
                    >
                    删除
                      <!-- <i class="el-icon-close delete-ringtone"></i> -->
                    </span>
                    <span @click.stop="playMp3(item)">试听</span>
                  </div>
                </el-option>
              </el-option-group>
            </el-select>
            <el-upload
              class="upload-ringtone"
              action
              :file-list="fileList"
              :accept="'.mp3'"
              :auto-upload="true"
              :show-file-list="false"
              :before-upload="beforeUpload"
              :on-change="uploadOnChange"
              :http-request="uploadBroadcastRingtone"
            >
              <el-button
                size="small"
                type="primary"
                :loading="uploadBtnLoading.btn3"
              >{{uploadBtnLoading.btn3?'上传中':'+自定义上传'}}</el-button>
            </el-upload>
          </el-form-item>
          <el-form-item>
            <el-button
              size="mini"
              type="primary"
              plain
              @click="submitForm('ruleForm')"
              :loading="submitLoading"
            >{{submitLoading ? '正在提交' : '保 存'}}</el-button>
            <audio ref="mp3Play" :autoplay="autoPlay" :src="mp3Url"></audio>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import Api from '@/api/sys'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      uploadBtnLoading: {
        btn1: false,
        btn2: false,
        btn3: false
      },
      fileList: [],
      nowPlay: null,
      mp3Data: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      RingToneShow: false,
      ruleForm: {
        paymentRingtoneId: null,
        withdrawRingtoneId: null,
        broadcastRingtoneId: null
      },
      autoPlay: false,
      mp3Url: '',
      rules: {
        title: [
          { required: true, message: '请输入标题', trigger: 'blur' },
          { min: 2, max: 15, message: '长度在 2 到 15 个字符', trigger: 'blur' }
        ],
        content: [{ required: true, message: '请输入内容', trigger: 'blur' }]
      },
      paymentRingtoneList: [],
      withdrawRingtoneList: [],
      broadcastRingtoneList: []
    }
  },
  mounted () {
    this.getOrderList()
  },
  methods: {
    // play ringtone
    playMp3 (val) {
      this.autoPlay = true
      this.mp3Url = val.url
      if (this.mp3Url) {
        let obj = this
        obj.$refs.mp3Play.load()
        if (this.$refs.mp3Play.readyState) {
          obj.$refs.mp3Play.play()
          return
        }
        this.$refs.mp3Play.oncanplay = function () {
          obj.$refs.mp3Play.play()
        }
      }
    },
    // 获取提示音列表
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.ringtoneList(submitData, function () {
        obj.loading = false
      }).then(res => {
        this.getRingtone()

        // 处理 select下拉列表 渲染数据
        this.paymentRingtoneList = this.ringtoneSelectList(
          res.data.paymentRingtone
        )
        this.withdrawRingtoneList = this.ringtoneSelectList(
          res.data.withdrawRingtone
        )
        this.broadcastRingtoneList = this.ringtoneSelectList(
          res.data.broadcastRingtone
        )

        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    // 处理 select下拉列表 渲染数据
    ringtoneSelectList (ringtones) {
      var ringtonesList = [
        {
          label: '系统提示音',
          ringtones: []
        },
        {
          label: '自定义提示音',
          ringtones: []
        }
      ]
      let [sysRingtones, customRingtones] = [[], []]

      for (let i = 0, l = ringtones.length; i < l; i++) {
        if (ringtones[i].custom === false) {
          sysRingtones.push(ringtones[i])
        } else {
          // 处理自定义提示音url
          ringtones[i].url = this.$store.state.imgHost + '/' + ringtones[i].url
          customRingtones.push(ringtones[i])
        }
      }

      ringtonesList[0].ringtones = sysRingtones
      if (customRingtones.length !== 0) {
        ringtonesList[1].ringtones = customRingtones
      } else {
        ringtonesList.pop()
      }

      return ringtonesList
    },
    // 获取當前提示音
    getRingtone () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.ringtone(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm = res.data.ringtone
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    // 更换提示音
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate(valid => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let obj = this
        Api.updateRingtone(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('保存成功')
          this.getOrderList()
        })
        return true
      })
    },
    uploadOnChange (file, fileList) {
      this.fileList = fileList
    },
    beforeUpload (file) {
      const isLt500k = file.size / 1024 < 500
      if (!isLt500k) {
        this.msgError('音频大小不超过500K')
        return false
      }
    },
    uploadPaymentRingtone () {
      this.uploadBtnLoading.btn1 = true
      this.uploadRingtone(1)
    },
    uploadWithdrawRingtone () {
      this.uploadBtnLoading.btn2 = true
      this.uploadRingtone(2)
    },
    uploadBroadcastRingtone () {
      this.uploadBtnLoading.btn3 = true
      this.uploadRingtone(3)
    },
    uploadRingtone (ringtoneType) {
      let obj = this
      let fd = new FormData()
      if (this.fileList[0].raw) {
        fd.append('music-file', this.fileList[0].raw)
      }
      fd.append('ringtoneType', ringtoneType)
      Api.uploadRingtone(fd, function () {
        obj.loading = false
        obj.currRindIndex(ringtoneType)
      }).then(res => {
        this.getOrderList()
        this.loading = false
        this.msgSuccess('上传成功')
        this.currRindIndex(ringtoneType)
      })
      this.fileList = []
    },
    currRindIndex (ringtoneType) {
      switch (ringtoneType) {
        case 1:
          this.uploadBtnLoading.btn1 = false
          break
        case 2:
          this.uploadBtnLoading.btn2 = false
          break
        case 3:
          this.uploadBtnLoading.btn3 = false
          break
      }
    },
    deleteOneRingtone (id) {
      let obj = this

      Api.deleteRingtone({ id: id }, function () {
        obj.loading = false
      }).then(res => {
        this.getOrderList()
        this.$nextTick(function () {
          obj.loading = false
          this.msgSuccess('删除成功')
        })
      })
    }
  },
  components: {}
}
</script>
<style>
.el-select-dropdown__item {
   position: relative;
  & div:not(.ring-name) {
    position: absolute;
    right: 10px;
    top: 50%;
    display: inline-block;
    transform: translate(0%, -50%);
    color: var(--color-blue);
    opacity: 1;
  }
  & div.ring-name {
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & span:hover {
    opacity: 0.7;
  }
}

.delete-ringtone,
.el-icon-close {
  font-size: 14px !important;
  vertical-align: -1px !important;
}

.upload-ringtone {
  display: inline-block;
  margin-left: 10px;
}

ul.el-select-group {
  list-style-type: none;
}

.ringtone-setting > .el-input {
  width: 175px;
}

</style>
