<template>
  <div class="panel">
    <div class="panel-heading">
      金流管理
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
      </div>
      <!-- 普通表格 -->
      <div class="report-data  no-border rwd-padding"  v-loading="loading"
           element-loading-spinner="dafa-icon-loading01 dafa-icon"
           element-loading-customClass="loadingClass">
        <!-- 表头 -->
          <el-form :model="ruleForm" status-icon  size="small" ref="ruleForm" label-width="160px" :rules="rules" :label-position="screenW>=768 ? 'right':'top'" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent class="payment-box">
            <el-form-item label="可提现金额计算" prop="calculationType" class="rwd-turnoff">
              <el-radio v-model="ruleForm.calculationType" label="2">中奖金额</el-radio>
              <el-radio v-model="ruleForm.calculationType" label="1">中奖金额 + 投注金额</el-radio>
            </el-form-item>
            <el-form-item label="每日提现默认次数" prop="withdrawTimes" >
              <el-input-number v-model="ruleForm.withdrawTimes" placeholder="请输入次数" size="min" :controls="false" :precision="0" :min="0">
              </el-input-number>
            </el-form-item>
            <el-form-item label="提现单笔最低金额" prop="withdrawMinAmount" >
              <el-input-number v-model="ruleForm.withdrawMinAmount"   placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <el-form-item label="提现单笔最高金额" prop="withdrawMaxAmount" >
              <el-input-number v-model="ruleForm.withdrawMaxAmount"   placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
           </el-form-item>
            <div class="border-line"></div>
            <el-form-item label="人工存款单笔最低金额" prop="manualMinAmount" >
              <el-input-number v-model="ruleForm.manualMinAmount"  placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <el-form-item label="人工存款单笔最高金额" prop="manualMaxAmount" >
              <el-input-number v-model="ruleForm.manualMaxAmount"  placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <div class="border-line"></div>
            <el-form-item label="每日转账默认次数" prop="transferDayLimitCount" >
              <el-input-number v-model="ruleForm.transferDayLimitCount"  placeholder="请输入次数" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <el-form-item label="每日转账累计最高金额" prop="transferDayLimitAmount" >
              <el-input-number v-model="ruleForm.transferDayLimitAmount"   placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <el-form-item label="单笔转账最高金额" prop="transferMaxAmount" >
              <el-input-number v-model="ruleForm.transferMaxAmount"  placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <div class="border-line"></div>
            <el-form-item label="每日发红包默认次数" prop="redEnvelopeDayLimitCount" >
              <el-input-number v-model="ruleForm.redEnvelopeDayLimitCount"  placeholder="请输入次数" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <el-form-item label="每日发红包累计最高金额" prop="redEnvelopeLimitAmount" >
              <el-input-number v-model="ruleForm.redEnvelopeLimitAmount"  placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <el-form-item label="人均单个红包最高金额" prop="redEnvelopeMaxAmount" >
              <el-input-number v-model="ruleForm.redEnvelopeMaxAmount"  placeholder="请输入金额" size="min" :controls="false" :precision="0" :min="0"></el-input-number>
            </el-form-item>
            <el-form-item>
              <el-button size="mini"  type="primary" plain @click="submitForm('ruleForm')" :loading="submitLoading">{{submitLoading ? '正在加载中' :'保 存'}}</el-button>
            </el-form-item>
          </el-form>
      </div>
      <!-- 普通表格结束 -->
      <br>
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateWithdrawAmount = (rule, value, callback) => {
      if (this.ruleForm.withdrawMinAmount > this.ruleForm.withdrawMaxAmount) {
        callback(new Error('不可设置高于提现单笔最高金额'))
      }
      callback()
    }
    let validateManualAmount = (rule, value, callback) => {
      if (this.ruleForm.manualMinAmount > this.ruleForm.manualMaxAmount) {
        callback(new Error('不可设置高于人工存款单笔最高金额'))
      }
      callback()
    }
    let validatePaymentTime = (rule, value, callback) => {
      if (this.ruleForm.transferMaxAmount > this.ruleForm.transferDayLimitAmount) {
        callback(new Error('不可设置高于每日累计最高金额'))
      }
      callback()
    }
    let validateRedBag = (rule, value, callback) => {
      if (this.ruleForm.redEnvelopeMaxAmount > this.ruleForm.redEnvelopeLimitAmount) {
        callback(new Error('不可设置高于每日发红包累计最高金额'))
      }
      callback()
    }
    let validateWithdrawTimes = (rule, value, callback) => {
      if (value < 0 || value > 255) {
        callback(new Error('可设置范围0-255'))
      }
      callback()
    }
    let validateTransferDayLimitAmount = (rule, value, callback) => {
      if (value < 0 || value > 50000) {
        callback(new Error('可设置范围0-50000'))
      }
      callback()
    }
    return {
      ruleForm: {
        calculationType: '',
        withdrawTimes: '',
        withdrawMinAmount: '',
        withdrawMaxAmount: '',
        manualMinAmount: '',
        manualMaxAmount: '',
        transferDayLimitCount: '',
        transferDayLimitAmount: '',
        transferMaxAmount: '',
        redEnvelopeDayLimitCount: '',
        redEnvelopeLimitAmount: '',
        redEnvelopeMaxAmount: ''
      },
      loading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      submitLoading: false,
      rules: {
        withdrawTimes: [
          { required: true, message: '请输入每日提现默认次数', trigger: 'blur' },
          { validator: validateWithdrawTimes, trigger: 'blur' }
        ],
        withdrawMinAmount: [
          { required: true, message: '请输入提现单笔最低金额', trigger: 'blur' },
          { validator: validateWithdrawAmount, trigger: 'blur' }
        ],
        withdrawMaxAmount: [
          { required: true, message: '请输入提现单笔最高金额', trigger: 'blur' }
        ],
        manualMinAmount: [
          { required: true, message: '请输入人工存款单笔最低金额', trigger: 'blur' },
          { validator: validateManualAmount, trigger: 'blur' }
        ],
        manualMaxAmount: [
          { required: true, message: '请输入人工存款单笔最高金额', trigger: 'blur' }
        ],
        transferDayLimitCount: [
          { required: true, message: '请输入每日转账默认次数', trigger: 'blur' },
          { validator: validateWithdrawTimes, trigger: 'blur' }
        ],
        transferDayLimitAmount: [
          { required: true, message: '请输入每日转账累计最高金额', trigger: 'blur' },
          { validator: validateTransferDayLimitAmount, trigger: 'blur' }
        ],
        transferMaxAmount: [
          { required: true, message: '请输入单笔转账最高金额', trigger: 'blur' },
          { validator: validatePaymentTime, trigger: 'blur' }
        ],
        redEnvelopeDayLimitCount: [
          { required: true, message: '请输入每日发红包默认次数', trigger: 'blur' },
          { validator: validateWithdrawTimes, trigger: 'blur' }
        ],
        redEnvelopeLimitAmount: [
          { required: true, message: '请输入每日发红包累计最高金额', trigger: 'blur' },
          { validator: validateTransferDayLimitAmount, trigger: 'blur' }
        ],
        redEnvelopeMaxAmount: [
          { required: true, message: '请输入单个红包最高金额', trigger: 'blur' },
          { validator: validateRedBag, trigger: 'blur' }
        ]
      },
      selectData: {}, // 选中数据
      // 列表数据
      allList: []
    }
  },
  methods: {
    getPamentLimitList () {
      this.loading = true
      let obj = this
      Api.queryCashflowInfo({}, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm = res.data
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        let obj = this
        Api.updateCashflowInfo(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('保存成功')
        })
      })
    }
  },
  mounted () {
    this.getPamentLimitList()
  },
  components: {
    Scroll
  }
}
</script>
<style scoped>
.payment-box{
 max-width: 480px;
}
.el-radio + .el-radio {
  margin-left: 16px;
}
</style>
