<template>
  <div class="panel">
    <div class="panel-heading">
      微信支付
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" plain v-if="screenW>768"  @click="onUpdateWechatPaymentListSort" :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openWechatPanmentNewForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="clearfix ranktransfer-area"
               v-loading="loading"
               element-loading-spinner="dafa-icon-loading01 dafa-icon"
               element-loading-customClass="loadingClass" v-if="screenW >1023">
            <div class="dragging-selected report-data">
              <div class="report-nav rb-row delbtn">
                <el-button size="mini" icon="el-icon-delete" @click="dellist">删除</el-button>
                <el-button size="mini" icon="el-icon-refresh" v-if=" screenW >=768 || isActive" @click="getWechatPanmentList">还原</el-button>
              </div>
              <ul>
                <li class="table-header">
                  <div class="bank-left-box">
                    <div class="id">
                      <el-checkbox @change="handleCheckAllChange">{{''}}</el-checkbox></div>
                    <div class="open-name">别名</div>
                    <div class="bank-account">通道备注</div>
                    <div class="bank-class">类型</div>
                  </div>
                  <div class="bank-right-box">
                    <div class="device">开放终端</div>
                    <div class="level">开放等级</div>
                    <div class="times">添加时间</div>
                    <div class="btn-tools">排序</div>
                  </div>
                </li>
                <el-checkbox-group v-model="checkedCities">
                  <li v-for="l in optBank" v-dragging="{ item: l, list: optBank, group: l }" :key="l.id" :class="{selected: l.sourceList.value.length>0 && l.gradeList.value.length>0}" @click="chooseFun(l)">
                    <div class="bank-left-box">
                      <div class="id"><el-checkbox :label="l.id" :key="l.id" @change="handleCheckedCitiesChange" >{{''}}</el-checkbox></div>
                      <div class="open-name"><span class="hoverline-effet color-blue" title="修改" @click="editOne(l)">{{l.payAlias}}</span></div>
                      <div class="bank-account">{{l.remark}}</div>
                      <div class="bank-class"> {{l.payType}}</div>
                    </div>
                    <div class="bank-right-box">
                      <div class="device device-items"><div class="hide-for-small font-s12 margin-b4 margin-t6">开放终端：</div><multiple-select  v-model="l.sourceList" :level="device"></multiple-select></div>
                      <div class="level level-items"><div class="hide-for-small font-s12 margin-b4 margin-t6">开放会员等级：</div><multiple-select v-model="l.gradeList" :level="level"></multiple-select></div>
                      <div class="times">{{l.gmtCreated}}</div>
                      <div></div>
                      <div class="btn-tools edit-btns">
                        <span><i class="el-icon-rank margin-r6"></i></span>
                      </div>
                    </div>
                  </li>
                  <li class="li-space"></li>
                  <li class="unselected" v-for="l in allBank" :key="l.id">
                    <div class="bank-left-box">
                      <div class="id"><el-checkbox :label="l.id" :key="l.id" @change="handleCheckedCitiesChange" >{{''}}</el-checkbox></div>
                      <div class="open-name" @click="chooseUnSelectedFun(l)"><span class="hoverline-effet color-blue" title="修改" @click="editOne(l)">{{l.payAlias}}</span></div>
                      <div class="bank-account" @click="chooseUnSelectedFun(l)">{{l.remark}}</div>
                      <div class="bank-class" @click="chooseUnSelectedFun(l)"> {{l.payType}}</div>
                    </div>
                    <div class="bank-right-box">
                      <div class="device device-items" @click="chooseUnSelectedFun(l)"><div class="hide-for-small font-s12 margin-b4 margin-t6">开放终端：</div><multiple-select  v-model="l.sourceList" :level="device"></multiple-select></div>
                      <div class="level level-items" @click="chooseUnSelectedFun(l)"><div class="hide-for-small font-s12 margin-b4 margin-t6">开放会员等级：</div><multiple-select v-model="l.gradeList" :level="level"></multiple-select></div>
                      <div class="times bank-right-margin" @click="chooseUnSelectedFun(l)">{{l.gmtCreated}}</div>
                    </div>
                  </li>
                </el-checkbox-group>
              </ul>
            </div>
          </div>
      <!--rwd 排版-->
      <!--＝＝＝＝＝＝＝＝＝＝rwd 排序開始＝＝＝＝＝＝＝＝＝＝＝＝-->
      <popover-right
        :modal="false"
        :visible="draggingVisible"
        title="排序管理"
        @close="draggingVisible=false">
        <el-button size="mini" slot="right-btn-box"  type="primary" plain @click="onUpdateWechatPaymentListSort" :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
        <div class="dragging-selected mobile-list-dragging">
          <ul>
            <li
              v-for="l in optBank"
              v-dragging="{ item: l, list: optBank, group: 'l' }"
              :key="l.id">
              <div class="open-name"><a>{{l.payAlias}}</a></div>
              <div class="btn-tools">
                <a title="上下拖动排序"><i class="el-icon-rank"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </popover-right>
      <!--＝＝＝＝＝＝＝＝＝＝rwd 已選銀行 開始＝＝＝＝＝＝＝＝＝＝＝＝-->
      <div class="report-data" v-if="screenW<1023">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows" :loading="submitLoading"> 删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive" >
            <span v-if="isActive" >取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <el-button size="mini" type="text"  @click="draggingVisible =true">排序</el-button>
        </div>
        <div class="rwd-selected table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass" >
          <scroll :id="'scroll-wrapper2'" class="el-table">
            <el-table
              ref="multipleTableSelected"
              :data="totallBank"
              tooltip-effect="dark"
              @row-click="openDetails"
              style="width: 100%"
              :row-class-name="tableRowClassName"
              @selection-change="handleSelectionChange"
              @click="rwdVisible = true">
              <el-table-column
                prop="id"
                type="selection"
                fixed
                width="34" v-if="screenW >768 || isActive">
              </el-table-column>
              <el-table-column
                label="别名"
                fixed
                min-width="100" show-overflow-tooltip>
                <template slot-scope="scope" >
                  <span v-if="screenW > 1023" class="color-blue hoverline-effet" title="修改" @click="editOne(scope.row)">{{scope.row.payAlias}}</span>
                  <span v-else class="color-blue dataIndex" :data-index="scope.$index">{{scope.row.payAlias}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="remark"
                label="通道备注"
                min-width="200" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span>{{scope.row.remark}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="类型"
                min-width="100"
                prop="payType" show-overflow-tooltip
              >
              </el-table-column>
              <el-table-column
                label="开放终端"
                min-width="100">
                <template slot-scope="scope">
                  <span class="color-blue">{{formatterSourceList(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="开放等级"
                min-width="430">
                <template slot-scope="scope">
                  <span class="color-blue  grade-style">{{formatterGradeList(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                min-width="200">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="openBankSelect(detailIndex, detailData);rwdbtnVisible=false">修改终端等级</span>
          <span title="修改"  @click="editOne(detailData);rwdbtnVisible=false" >修改账户</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
          <popover-right
            :modal="false"
            title="微信支付"
            :visible="detailShow"
            @close="detailShow=false">
          <ul >
            <li>
              <span>别名</span>
              <span class="color-blue">{{detailData.payAlias}}</span>
            </li>
            <li>
              <span>通道备注</span>
              <span class="color-blue">{{detailData.remark}}</span>
            </li>
            <!-- <li>
              <span>账号</span>
              <span class="color-blue">{{detailData.account}}</span>
            </li> -->
            <li>
              <span>类型</span>
              <span class="color-blue">{{detailData.payType}}</span>
            </li>
            <li>
              <span>开放终端</span>
              <span class="color-blue hoverline-effet">{{formatterSourceList(detailData)}}</span>
            </li>
            <li>
              <span>开放等级</span>
              <span class="color-blue hoverline-effet">{{formatterGradeList(detailData)}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
          </popover-right>
      </div>
      <div class="show-wrapper" :class="{'is-open':isOpen}" @click="isOpen = !isOpen"></div>
    </div>
    <we-chart-panment-new-form
      :data="selectData"
      :visible="WeChartPanmentNewVisible"
      v-on:onClose="WeChartPanmentNewVisible=false"
    ></we-chart-panment-new-form>
    <bank-form
      :data="selectData"
      :visible="bankselect"
      v-on:onClose="bankselect=false" title="微信支付">
    </bank-form>
  </div>
</template>
<script>
import Api from '@/api/transfer'
import WeChartPanmentNewForm from '@/views/newModal/WeChartPanmentNewForm'
import MultipleSelect from '@/components/MultipleSelect'
import Scroll from '@/components/Scroll'
import BankForm from '@/views/newModal/BankForm'
import {gradeList, sourceListData} from '@/utils/config'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      isActive: false,
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      stateKey: '', // 快速查询值
      WeChartPanmentNewVisible: false, // 弹窗是否开启
      isOpen: false,
      draggingVisible: false,
      checkAll: false, // 全选
      checkedCities: [], // 删除选中
      isIndeterminate: true,
      editOpen: false, // 编辑功能是否开启
      disLength: 16, // 限制选中数量
      selectData: {}, // 选中数据
      submitLoading: false,
      choseBankVisible: false,
      rwdVisible: false,
      bankselect: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      device: sourceListData,
      level: gradeList,
      optBank: [],
      allBank: [],
      totallBank: [],
      isSelected: true,
      Timer: null
    }
  },
  methods: {
    tableRowClassName ({row, rowIndex}) {
      if (row.selected === true) {
        return 'bank-selected'
      } else {
        return ''
      }
    },
    formatterGradeList (val) {
      if (!val || !val.gradeList) {
        return ''
      }
      let gradeData = []
      for (let item in val.gradeList.value) {
        for (let grade in gradeList) {
          if (gradeList[grade].key !== val.gradeList.value[item]) {
            continue
          }
          gradeData.push(gradeList[grade].value)
        }
      }
      return gradeData.join(',')
    },
    formatterSourceList (val) {
      if (!val || !val.sourceList) {
        return ''
      }
      let sourceData = []
      for (let item in val.sourceList.value) {
        for (let source in sourceListData) {
          if (sourceListData[source].key !== val.sourceList.value[item]) {
            continue
          }
          sourceData.push(sourceListData[source].value)
        }
      }
      return sourceData.join(',')
    },
    updateStatus (val) {
      // console.log(val)
      let optBank = this.optBank.concat()
      let allBank = this.allBank.concat()
      // console.log(optBank)
      if (this.isSelected) {
        if (val.sourceList.value.length < 1 || val.gradeList.value.length < 1) {
          optBank.splice(val.index, 1)
          val.sourceList.value = []
          val.gradeList.value = []
          allBank.push(val)
        } else {
          optBank[val.index] = val
        }
      } else {
        if (val.sourceList.value.length > 0 && val.gradeList.value.length > 0) {
          allBank.splice(val.index, 1)
          optBank.push(val)
        } else {
          allBank[val.index] = val
        }
      }
      this.updateWechatPaymentListSort(optBank, allBank)
    },
    openBankSelect (index, val) {
      let data = {}
      Object.assign(data, val)
      this.selectData = data
      this.selectData.index = index
      this.bankselect = true
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    openWechatPanmentNewForm () {
      this.WeChartPanmentNewVisible = true
      this.selectData = {}
    },
    getWechatPanmentList () {
      this.loading = true
      let obj = this
      Api.wechatList({}, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(1111, res)
        this.optBank = []
        this.allBank = []
        for (let i = 0; i < res.data.length; i++) {
          res.data[i].opt = true
          if (!res.data[i].gradeList) {
            res.data[i].gradeList = ''
          }
          if (!res.data[i].sourceList) {
            res.data[i].sourceList = ''
          }
          let gradeList = {}
          Object.assign(gradeList, {})
          gradeList.isChangeValue = false
          gradeList.value = []
          let sourceList = {}
          Object.assign(sourceList, {})
          sourceList.isChangeValue = false
          sourceList.value = []
          if (res.data[i].gradeList && res.data[i].sourceList && res.data[i].gradeList !== '' && res.data[i].sourceList !== '') {
            gradeList.value = res.data[i].gradeList.toString().split(',').map(v => +v)
            res.data[i].gradeList = gradeList
            sourceList.value = res.data[i].sourceList.toString().split(',').map(v => +v)
            res.data[i].sourceList = sourceList
            res.data[i].show = true
            this.optBank.push(res.data[i])
            continue
          }
          if (res.data[i].gradeList && res.data[i].gradeList !== '') {
            gradeList.value = res.data[i].gradeList.toString().split(',').map(v => +v)
            res.data[i].gradeList = gradeList
          } else {
            res.data[i].gradeList = gradeList
          }
          if (res.data[i].sourceList && res.data[i].sourceList !== '') {
            sourceList.value = res.data[i].sourceList.split(',').map(v => +v)
            res.data[i].sourceList = sourceList
          } else {
            res.data[i].sourceList = sourceList
          }
          res.data[i].show = false
          this.allBank.push(res.data[i])
        }
        this.totallBank = []
        for (let items in this.optBank) {
          this.optBank[items].selected = true
          this.totallBank.push(this.optBank[items])
        }
        for (let items in this.allBank) {
          this.allBank[items].selected = false
          this.totallBank.push(this.allBank[items])
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    onUpdateWechatPaymentListSort () {
      let optBank = this.optBank.concat()
      let allBank = this.allBank.concat()
      this.updateWechatPaymentListSort(optBank, allBank)
    },
    updateWechatPaymentListSort (optBank, allBank) {
      let sortArray = []
      let sortId = 1
      // let optBankChangeCount = 0
      for (let i = 0; i < optBank.length; i++) {
        // if (this.optBank[i].sourceList.isChangeValue || this.optBank[i].gradeList.isChangeValue) {
        //   optBankChangeCount += 1
        // }
        let tempSortData = {}
        tempSortData.payAlias = optBank[i].payAlias
        tempSortData.id = optBank[i].id
        tempSortData.gradeList = optBank[i].gradeList.value.join(',')
        tempSortData.sourceList = optBank[i].sourceList.value.join(',')
        tempSortData.sort = sortId
        sortArray.push(tempSortData)
        sortId += 1
      }
      // if (optBankChangeCount === 0) {
      //   sortArray = []
      // }
      for (let i = 0; i < allBank.length; i++) {
        if (!allBank[i].sourceList.isChangeValue && !allBank[i].gradeList.isChangeValue) {
          continue
        }
        let tempSortData = {}
        tempSortData.payAlias = allBank[i].payAlias
        tempSortData.id = allBank[i].id
        tempSortData.id = allBank[i].id
        tempSortData.gradeList = ''
        tempSortData.sourceList = ''
        tempSortData.sort = 99
        sortArray.push(tempSortData)
      }
      if (sortArray.length < 1) {
        this.msgError('未进行任何改动，无法提交')
        return
      }
      let jsonData = {}
      jsonData.data = JSON.stringify(sortArray)
      // console.log(111, jsonData)
      this.submitLoading = true
      let obj = this
      Api.updateWechatPaymentListSort(jsonData, function () {
        obj.submitLoading = false
      }).then((res) => {
        this.$nextTick(function () {
          obj.submitLoading = false
        })
        this.msgSuccess('保存成功')
        this.getWechatPanmentList()
      })
    },
    chooseFun (val) {
      if (val.sourceList.value.length > 0 && val.gradeList.value.length > 0) {
        return
      }
      for (let i = 0; i < this.optBank.length; i++) {
        if (val.id === this.optBank[i].id) {
          this.optBank.splice(i, 1)
          this.allBank.push(val)
          break
        }
      }
    },
    chooseUnSelectedFun (val) {
      if (this.optBank.length === this.disLength) {
        this.msgError(`选择数量不能超过${this.disLength}条`)
        return
      }
      if (val.sourceList.value.length < 1 || val.gradeList.value.length < 1) {
        return
      }
      for (let i = 0; i < this.allBank.length; i++) {
        if (val.id === this.allBank[i].id) {
          this.allBank.splice(i, 1)
          this.optBank.push(val)
          break
        }
      }
    },
    // 单个修改
    editOne (v) {
      // console.log(v + '可以修改')
      this.WeChartPanmentNewVisible = true
      this.selectData = v
      // console.log(v)
    },
    handleCheckAllChange (val) {
      this.checkedCities = val ? this.allopt() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let checkedCount = value.length
      let allCount = this.optBank.length + this.allBank.length
      this.checkAll = checkedCount === allCount
      // console.log(this.checkAll)
      this.isIndeterminate = checkedCount > 0 && checkedCount < allCount
    },
    allopt () {
      let list = JSON.parse(JSON.stringify(this.allBank))
      let optBank = JSON.parse(JSON.stringify(this.optBank))
      for (let i = 0; i < optBank.length; i++) {
        list.push(optBank[i])
      }
      return list.map(v => v.id)
    },
    delData (ids) {
      // 删除选中列表
      if (!ids.length) {
        this.msgError('未选中记录')
        return
      }
      // 这里写删除请求
      // console.log(ids)
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let idsData = {}
        let delIds = ids.join(',')
        for (let i = 0; i < ids.length; i++) {
          idsData[ids[i]] = ids[i]
        }
        var idsParam = {}
        idsParam.ids = delIds
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteWechat(idsParam, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          for (let i = this.allBank.length - 1; i >= 0; i--) {
            if (!idsData[this.allBank[i].id]) {
              continue
            }
            this.allBank.splice(i, 1)
          }
          for (let i = this.optBank.length - 1; i >= 0; i--) {
            if (!idsData[this.optBank[i].id]) {
              continue
            }
            this.optBank.splice(i, 1)
          }
          for (let i = this.totallBank.length - 1; i >= 0; i--) {
            if (!idsData[this.totallBank[i].id]) {
              continue
            }
            this.totallBank.splice(i, 1)
          }
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    dellist () {
      // 删除选中列表
      let ids = this.checkedCities
      this.delData(ids)
    },
    delOne (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let idsParam = {}
        idsParam.ids = val.id
        Api.deleteWechat(idsParam).then((res) => {
          this.getWechatPanmentList()
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      let ids = []
      for (let i = 0; i < this.$refs.multipleTableSelected.selection.length; i++) {
        if (!this.$refs.multipleTableSelected.selection[i].id) {
          continue
        }
        ids.push(this.$refs.multipleTableSelected.selection[i].id)
      }
      this.delData(ids)
    },
    deleteSelected () {
      if (this.$refs.multipleTableSelected.selection.length < 1) {
        this.msgError('未选中记录')
        return
      }
      let ids = {}
      for (let i = 0; i < this.$refs.multipleTableSelected.selection.length; i++) {
        if (!this.$refs.multipleTableSelected.selection[i].id) {
          continue
        }
        ids[this.$refs.multipleTableSelected.selection[i].id] = this.$refs.multipleTableSelected.selection[i]
      }
      let optBank = this.optBank.concat()
      let allBank = this.allBank.concat()
      for (let i = this.optBank.length - 1; i >= 0; i--) {
        if (!ids[this.optBank[i].id]) {
          continue
        }
        optBank[i].gradeList.value = []
        optBank[i].sourceList.value = []
        optBank[i].gradeList.isChangeValue = true
        optBank[i].sourceList.isChangeValue = true
        allBank.push(optBank[i])
        optBank.splice(i, 1)
      }
      this.updateWechatPaymentListSort(optBank, allBank)
    },
    deleteOneSelected (val) {
      let optBank = this.optBank.concat()
      let allBank = this.allBank.concat()
      for (let i = optBank.length - 1; i >= 0; i--) {
        if (optBank[i].id !== val.id) {
          continue
        }
        optBank[i].gradeList.value = []
        optBank[i].sourceList.value = []
        optBank[i].gradeList.isChangeValue = true
        optBank[i].sourceList.isChangeValue = true
        allBank.push(optBank[i])
        optBank.splice(i, 1)
      }
      this.updateWechatPaymentListSort(optBank, allBank)
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.isSelected = true
      this.rwdbtnVisible = true
    },
    openDetailsUnSelected (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.isSelected = false
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    setTimePay () {
      this.Timer = setInterval(() => {
        this.getWechatPanmentList()
      }, 60000)
    }
  },
  beforeDestroy () {
    clearInterval(this.Timer)
  },
  mounted () {
    this.$dragging.$on('dragged', ({ value }) => {
      // console.log(value)
    })
    this.getWechatPanmentList()
    this.setTimePay()
  },
  components: {
    Scroll,
    MultipleSelect,
    BankForm,
    WeChartPanmentNewForm
  }
}
</script>
