<template>
  <div class="panel">
    <div class="panel-heading">
      用户禁言
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="target">
            <el-input v-model="ruleForm.target" placeholder="请输入会员账号" class="width-search120"></el-input>
          </el-form-item>
          <el-form-item label="房间号" prop="roomCode">
            <el-select v-model="ruleForm.roomCode" class="width-search100">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="用户类型" prop="banTypeId">
            <el-select v-model="ruleForm.banTypeId" class="width-search120" placeholder="请选择用户类型">
              <el-option label="全部" value=" "></el-option>
              <el-option label="会员" value="1"></el-option>
              <el-option label="访客" value="2"></el-option>
              <el-option label="IP" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="target">
                      <el-input v-model="ruleForm.target" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="房间号" prop="roomCode">
                      <el-select v-model="ruleForm.roomCode">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.roomCode"
                          :label="item.roomCode"
                          :value="item.roomCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="用户类型" prop="banTypeId" >
                      <el-select v-model="ruleForm.banTypeId" placeholder="请选择用户类型">
                        <el-option label="全部" value=" "></el-option>
                        <el-option label="会员" value="1"></el-option>
                        <el-option label="访客" value="2"></el-option>
                        <el-option label="IP" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                      <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th><div class="cell">禁言用户</div></th>
                    <th><div class="cell">禁言房间</div></th>
                    <th><div class="cell">用户类型</div></th>
                    <th><div class="cell">用户昵称</div></th>
                    <th><div class="cell">禁言时间</div></th>
                    <th><div class="cell">操作人</div></th>
                    <th width="300px"><div class="cell">备注</div></th>
                    <th width="170px"><div class="cell">操作时间</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length >0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <!--禁言用户-->
                      <td><div class="cell"><span class="color-blue hoverline-effet" @click="editOne(items)">{{items.target}}</span></div></td>
                      <!--禁言房间-->
                      <td><div class="cell"><span >{{items.roomCode}}</span></div></td>
                      <!--用户类型-->
                      <td><div class="cell"><span >{{durationTypeList[items.banTypeId]}}</span></div></td>
                      <!--用户昵称-->
                      <td><div class="cell max-width100"><span >{{items.banTypeId === 1 ? items.nickname : '---'}}</span></div></td>
                      <!--禁言时间-->
                      <td><div class="cell"><span>{{durationTimeList[items.durationTypeId]}}</span></div></td>
                      <!--操作人-->
                      <td><div class="cell"><span >{{items.operator}}</span></div></td>
                      <!--备注-->
                      <td><div class="cell max-width300 cursor-style" :id="'multipleTableRemarkColumn' + index" @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                        <span :title="items.remark" :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div></td>
                      <!--操作时间-->
                      <td><div class="cell"><span >{{items.gmtModified}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="9"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="禁言用户"
                min-width="130" show-overflow-tooltip fixed>
                <template slot-scope="scope"><span class="color-blue hoverline-effet">{{ scope.row.target}}</span></template>
              </el-table-column>
              <el-table-column
                label="禁言房间" prop="roomCode"
                min-width="80" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                label="用户类型"
                min-width="100"
                prop="roomCode" >
                <template slot-scope="scope"><span> {{durationTypeList[scope.row.banTypeId]}}</span></template>
              </el-table-column>
              <el-table-column
                label="用户昵称"
                min-width="100" show-overflow-tooltip>
                <template slot-scope="scope"><span >{{ scope.row.banTypeId === 1 ? scope.row.nickname : '---'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="durationTypeId"
                label="禁言时间"
                min-width="100">
                <template slot-scope="scope">{{durationTimeList[scope.row.durationTypeId]}}</template>
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                width="160">
              </el-table-column>
              <el-table-column
                label="备注"
                min-width="100"
                prop="remark" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="gmtModified"
                label="操作时间"
                min-width="170">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          <span title="修改"  @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="用户禁言"
      @close="detailShow=false">
      <ul >
        <li>
          <span>禁言用户</span>
          <span class="color-blue">{{detailData.target}}</span>
        </li>
        <li>
          <span>禁言房间</span>
          <span>{{detailData.roomCode}}</span>
        </li>
        <li>
          <span>用户类型</span>
          <span>{{durationTypeList[detailData.banTypeId]}}</span>
        </li>
        <li>
          <span>用户昵称</span>
          <span>{{detailData.banTypeId === 1 ? detailData.nickname : '---'}}</span>
        </li>
        <li>
          <span>禁言时间</span>
          <span>{{durationTimeList[detailData.durationTypeId]}}</span>
        </li>
        <li>
          <span>操作人</span>
          <span>{{detailData.operator}}</span>
        </li>
        <li>
          <span>备注</span>
          <span>{{detailData.remark}}</span>
        </li>
        <li>
          <span>操作时间</span>
          <span>{{detailData.gmtModified}}</span>
        </li>
      </ul>
    </popover-right>
    <chat-ban-form
      :data="selectData"
      :visible="ChatBanShow"
      v-on:onClose="ChatBanShow = false"
    ></chat-ban-form>
  </div>
</template>
<script>
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import ChatBanForm from '@/views/newModal/ChatBanForm'
import {getEllipsisFlag} from '@/utils'
import {validateQueryDateTwo} from '@/utils/validateRules'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ChatBanShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      ruleForm: {
        target: '',
        roomCode: '',
        banTypeId: '',
        startDate: '',
        endDate: ''
      },
      durationTypeList: ['IP', '会员', '访客'],
      durationTimeList: ['', '永久', '1天', '1周', '一小时', '半小时'],
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      options: []
    }
  },
  mounted () {
    this.getRoomCodeData()
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getRoomCodeData () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      Api.getRoomList(submitData, function () {
      }).then((res) => {
        this.options = res.data.list
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openNewForm () {
      this.selectData = {}
      this.selectData.type = 'tenantChatBan'
      this.ChatBanShow = true
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateHour(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      this.loading = true
      let obj = this
      Api.getBanList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    editOne (val) {
      this.selectData = val
      this.selectData.type = 'tenantChatBan'
      this.ChatBanShow = true
      this.rwdbtnVisible = false
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteBan(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteBan(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(1, 20)
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    ChatBanForm,
    DatetimePicker
  }
}
</script>
