<template>
  <div class="panel">
    <div class="panel-heading">
      管理日志
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form :model="ruleForm" ref="ruleForm" size="min"  v-if="screenW>1023" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="用户账号" prop="managerName">
            <el-input v-model="ruleForm.managerName"  placeholder="请输入用户账号"></el-input>
          </el-form-item>
          <el-form-item label="会员账号搜索" prop="userName">
            <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
      <div class="report-data " :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit">
                    <el-form-item label="用户账号" prop="managerName">
                      <el-input v-model="ruleForm.managerName"  placeholder="请输入用户账号"></el-input>
                    </el-form-item>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                  </el-form>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class=" table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th><div class="cell">用户账号</div></th>
                  <th><div class="cell">操作类型</div></th>
                  <th><div class="cell">用户IP</div></th>
                  <th width="170px"><div class="cell">操作时间</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell"><span class="color-blue">{{items.managerName}}</span></div></td>
                    <td><div class="cell max-width220 cursor-style" :id="'multipleTableOperationColumn' + index" @click="openContentForm('operation', '操作类型', items, 'multipleTableOperationColumn' + index, 'multipleTableOperationContent' + index)">
                      <!--<span v-if="items.operationFlag === 0">{{items.operation}}</span>-->
                      <!--<span  v-else class="hoverline-effet hover-black " @click="openContentForm('operation', '操作类型', items)" v-html="items.operationContent"></span>-->
                      <span :title="items.operation"   :id="'multipleTableOperationContent' + index">{{items.operation}}</span>
                    </div></td>
                    <td><div class="cell"><span >{{items.ip}}</span></div></td>
                    <td><div class="cell"><span >{{items.time}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <el-table
            :data="allList"
            @row-click="openDetails"
            style="width: 100%;" v-else>
            <el-table-column
              label="用户账号"
              fixed
              width="180">
              <template slot-scope="scope">
                <span v-if="screenW > 768" class="color-blue">{{scope.row.managerName}}</span>
                <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.managerName}}</span>
              </template>
            </el-table-column>
            <el-table-column
              label="操作类型"
              prop="operation"
              min-width="200" show-overflow-tooltip>
            </el-table-column>
            <el-table-column
              prop="ip"
              label="用户IP"
              :width="screenW > 1300 ? '150':'130'">
            </el-table-column>
            <el-table-column
              prop="time"
              label="操作时间"
              :width="screenW > 1024 ? '200':'180'">
            </el-table-column>
          </el-table>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow()" >查看信息</span>
          </div>
          <span @click="closeRwdBtn"  class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="管理日志"
          @close="detailShow=false">
          <ul >
            <li>
              <span>用户账号</span>
              <span class="color-blue">{{detailData.managerName}}</span>
            </li>
            <li>
              <span>操作类型</span>
              <span>{{detailData.operation}}</span>
            </li>
            <li>
              <span>用户IP</span>
              <span >{{ detailData.ip}}</span>
            </li>
            <li>
              <span>操作时间</span>
              <span>{{detailData.time}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!--<div class="report-data">-->
        <!--&lt;!&ndash; 表头 &ndash;&gt;-->
        <!--<div class="rb-row flexbox nav-color">-->
          <!--<div>用户账号</div>-->
          <!--<div>操作类型</div>-->
          <!--<div>备注</div>-->
          <!--<div>用户IP</div>-->
          <!--<div>添加时间</div>-->
        <!--</div>-->
        <!--<div class="report-body">-->
            <!--&lt;!&ndash; 数据开始 &ndash;&gt;-->
            <!--<template v-for="v in allList">-->
              <!--<logs-list :value="v" :key="v.Id"></logs-list>-->
            <!--</template>-->
            <!--&lt;!&ndash; 数据结束 &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
// import LogsList from '@/components/dataTableList/LogsList'
import Api from '@/api/sys'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      avatorVisible: false,
      ruleForm: {
        managerName: '',
        userName: ''
      },
      total: 0,
      // 列表数据
      allList: [],
      operationType: {
        '1': '登录',
        '2': '退出',
        '3': '新增',
        '4': '修改',
        '5': '修改会员密码',
        '6': '批量修改',
        '7': '删除'
      },
      pageNum: 1,
      pageSize: 20,
      ellipsisColumns: [{name: 'operation', width: 426, formatterFunc: null}]
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.$refs.pagination.internalCurrentPage, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.$refs.pagination.internalPageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.tenantLogList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        let allList = res.data.logList
        // getEllipsisHtml(this.ellipsisColumns, allList)
        this.allList = allList
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    // LogsList
  }
}
</script>
<!--<style scoped>-->
<!--@media screen and (max-width:1023px){-->
  <!--.post-btn{-->
    <!--text-align:center;-->
    <!--& div{-->
      <!--display:block;-->
    <!--}-->
  <!--}-->
  <!--.report-data{-->
      <!--border:0px;-->
    <!--}-->
  <!--.flexbox{-->
    <!--&.nav-color{-->
      <!--display:none;-->
    <!--}-->
  <!--}-->
  <!--.delbtn{-->
    <!--display:none;-->
  <!--}-->
<!--}-->
<!--</style>-->
