<template>
  <div class="panel">
    <div class="panel-heading">
      人工审核<dafa-loading v-if="loading"></dafa-loading>
      <div class="float-right panel-heading-right">
        <!--<el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>-->
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="更新" prop="Update">
            <el-select v-model="ruleForm.Update" class="width-search60" @change="setTimer">
              <el-option label="15秒" value="15"></el-option>
              <el-option label="30秒" value="30"></el-option>
              <el-option label="60秒" value="60"></el-option>
              <el-option label="暂停" value="0"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="发言内容" prop="message">
            <el-input v-model="ruleForm.message" class="width-search120" placeholder="请输入发言内容"></el-input>
          </el-form-item>
          <el-form-item label="敏感词" prop="filterWord">
            <el-input v-model="ruleForm.filterWord"  class="width-search100" placeholder="请输入敏感词"></el-input>
          </el-form-item>
          <el-form-item label="发言房间" prop="roomCode">
            <el-select v-model="ruleForm.roomCode" class="width-search100">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName"  class="width-search120" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="昵称" prop="nickname">
            <el-input v-model="ruleForm.nickname"  class="width-search100" placeholder="请输入昵称"></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="更新" prop="Update">
                      <el-select v-model="ruleForm.Update"  @change="setTimer">
                        <el-option label="15秒" value="15"></el-option>
                        <el-option label="30秒" value="30"></el-option>
                        <el-option label="60秒" value="60"></el-option>
                        <el-option label="暂停" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="发言内容" prop="message">
                      <el-input v-model="ruleForm.message"  placeholder="请输入发言内容"></el-input>
                    </el-form-item>
                    <el-form-item label="敏感词" prop="filterWord">
                      <el-input v-model="ruleForm.filterWord"  placeholder="请输入敏感词"></el-input>
                    </el-form-item>
                    <el-form-item label="发言房间" prop="roomCode">
                      <el-select v-model="ruleForm.roomCode" class="width-search100">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.roomCode"
                          :label="item.roomCode"
                          :value="item.roomCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="昵称" prop="nickname">
                      <el-input v-model="ruleForm.nickname"  placeholder="请输入昵称"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th><div class="cell">发言内容</div></th>
                      <th><div class="cell">敏感词</div></th>
                      <th><div class="cell">发言房间</div></th>
                      <th><div class="cell">会员账号</div></th>
                      <th><div class="cell">昵称</div></th>
                      <th><div class="cell">发言时间</div></th>
                      <th><div class="cell">操作时间</div></th>
                      <th><div class="cell">操作人</div></th>
                      <th width="80px"><div class="cell">操作状态</div></th>
                      <th width="50px"><div class="cell">操作</div></th>
                    </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <!--发言内容-->
                      <td ><div class="cell max-width220 min-width160 cursor-style" :id="'multipleTableMessageColumn' + index" @click="openContentForm('message', '发言内容', items, 'multipleTableMessageColumn' + index, 'multipleTableMessageContent' + index)">
                        <span class="color-blue" :title="items.message" :id="'multipleTableMessageContent' + index">{{items.message}}</span>
                      </div></td>
                      <!--敏感词-->
                      <td ><div class="cell max-width180 min-width120" :id="'multipleTableFilterWordColumn' + index" @click="openContentForm('filterWord', '敏感词', items, 'multipleTableFilterWordColumn' + index, 'multipleTableFilterWordContent' + index)">
                        <span  :title="items.filterWord" :id="'multipleTableFilterWordContent' + index">{{items.filterWord}}</span>
                      </div></td>
                      <!--<td ><div class="cell max-width300 min-width160"><span >{{items.filterWord}}</span></div></td>-->
                      <!--发言房间-->
                      <td ><div class="cell"><span >{{items.roomCode}}</span></div></td>
                      <!--会员账号-->
                      <td ><div class="cell"><span >{{items.userName}}</span></div></td>
                      <!--昵称-->
                      <td ><div class="cell min-width80"><span>{{items.memberTypeId !== 2 ? items.nickname : '---'}}</span></div></td>
                      <!--发言时间-->
                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                      <!--操作时间-->
                      <td ><div class="cell"><span >{{items.gmtModified}}</span></div></td>
                      <!--操作人-->
                      <td ><div class="cell"><span >{{items.operator}}</span></div></td>
                      <!--操作状态-->
                      <td >
                        <div class="cell">
                          <template v-if="items.state === 0">
                            <div class="state-btn">
                              <el-button size="min" @click="handleStatus(items, 1)">通过</el-button>
                              <el-button size="min" @click="handleStatus(items, 2)">屏蔽</el-button>
                            </div>
                          </template>
                          <template v-if="items.state === 1">
                            <span class="color-success">已通过</span>
                          </template>
                          <template v-if="items.state === 2">
                            <span class="color-danger">已屏蔽</span>
                          </template>
                          <template v-if="items.state === 3">
                            <span >已过期</span>
                          </template>
                        </div>
                      </td>
                      <!--操作-->
                      <td>
                        <div class="cell">
                          <el-button :disabled="items.isBan" type="text" size="mini" @click="openBan(items)"><span :class="items.isBan ? '' : 'color-bluebutton'">禁言</span></el-button>
                          <!--<el-button type="text" size="mini" @click="openBan(items)"><span class="color-bluebutton">禁言</span></el-button>-->
                         </div>
                      </td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="11"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              >
              <el-table-column
                label="发言内容"
                min-width="120" show-overflow-tooltip
                fixed>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.message}}</span></template>
              </el-table-column>
              <el-table-column
                label="敏感词"
                min-width="100"
                prop="filterWord"
                show-overflow-tooltip
              >
              </el-table-column>
              <el-table-column
                prop="userName"
                label="会员账号"
                width="160" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="nickname"
                label="昵称"
                min-width="100" show-overflow-tooltip>
                <template slot-scope="scope"><span>{{scope.row.memberTypeId !== 2 ? scope.row.nickname : '---'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="发言时间"
                width="180">
              </el-table-column>
              <el-table-column
                prop="gmtModified"
                label="操作时间"
                width="180">
              </el-table-column>
              <el-table-column
                prop="operator"
                label="操作人"
                min-width="170">
              </el-table-column>
              <el-table-column
                prop="state"
                label="操作状态"
                min-width="170">
                <template slot-scope="scope">
                  <template v-if="scope.row.state === 0">
                    <span>未处理</span>
                  </template>
                  <template v-if="scope.row.state === 1">
                    <span class="color-success">已通过</span>
                  </template>
                  <template v-if="scope.row.state === 2">
                    <span class="color-danger">已屏蔽</span>
                  </template>
                  <template v-if="scope.row.state === 3">
                    <span >已过期</span>
                  </template>
                </template>
              </el-table-column>
              <!--<el-table-column-->
                <!--label="操作"-->
                <!--fixed="right"-->
                <!--width="50">-->
              <!--</el-table-column>-->
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          <span v-if="detailData.state === 0" @click="handleStatus(detailData, 1)" >通过</span>
          <span v-if="detailData.state === 0" @click="handleStatus(detailData, 2)" >屏蔽</span>
          <span v-if="!detailData.isBan" class="color-bluebutton" @click="openBan(detailData)">禁言</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
        <!-- 底部说明文本块 -->
        <div class="tip-foot margin-t10">
          <div class="tip-title state">温馨提示：</div>
          <ol>
            <li>
              审核通过的发言，会出现在聊天窗口；
            </li>
            <li>
              审核屏蔽的发言，会记录到屏蔽记录，不会出现在聊天窗口；
            </li>
            <li>
              10分钟内未操作，自动过期且被屏蔽，不会出现在聊天窗口；
            </li>
          </ol>
        </div>
        <!-- 底部说明文本块结束 -->
      </div>
      <!-- 数据模型结束 -->
    </div>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="人工审核"
      @close="detailShow=false">
      <ul >
        <li>
          <span>发言内容</span>
          <span class="color-blue">{{detailData.message}}</span>
        </li>
        <li>
          <span>敏感词</span>
          <span>{{detailData.filterWord}}</span>
        </li>
        <li>
          <span>会员账号</span>
          <span>{{detailData.userName}}</span>
        </li>
        <li>
          <span>昵称</span>
          <span>{{detailData.memberTypeId !== 2 ? detailData.nickname : '---'}}</span>
        </li>
        <li>
          <span>发言时间</span>
          <span>{{detailData.gmtCreated}}</span>
        </li>
        <li>
          <span>操作时间</span>
          <span>{{detailData.gmtModified}}</span>
        </li>
        <li>
          <span>操作人</span>
          <span>{{detailData.operator}}</span>
        </li>
        <li>
          <span>操作状态</span>
          <template v-if="detailData.state === 0">
            <span>未处理</span>
          </template>
          <template v-if="detailData.state === 1">
            <span class="color-success">已通过</span>
          </template>
          <template v-if="detailData.state === 2">
            <span class="color-danger">已屏蔽</span>
          </template>
          <template v-if="detailData.state === 3">
            <span >已过期</span>
          </template>
        </li>
      </ul>
    </popover-right>
    <chat-ban-form
      :data="selectData"
      :visible="ChatBanShow"
      v-on:onClose="ChatBanShow = false"
    ></chat-ban-form>
  </div>
</template>
<script>
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
import ChatBanForm from '@/views/newModal/ChatBanForm'
import DafaLoading from '@/components/DafaLoading'
import {DateFormat} from '@/utils/Time'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ChatBanShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      currentUser: '',
      ruleForm: {
        Update: '15',
        roomCode: '',
        message: '',
        filterWord: '',
        userName: '',
        nickname: ''
      },
      allList: [],
      // liveType: ['关闭', '显示'],
      // Type: ['关闭', '本站', '平台'],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
        // tenantCode: '',
        // tenantName: '',
        // stateName: ''
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      timer: null,
      options: []
    }
  },
  mounted () {
    if (sessionStorage.getItem('siteInfo')) {
      let siteInfo = JSON.parse(sessionStorage.getItem('siteInfo'))
      if (siteInfo.isPlatform === 1) {
        this.currentUser = 'dafacloud-' + siteInfo.userName
      } else {
        this.currentUser = siteInfo.userName
      }
    }
    this.getRoomCodeData()
    this.setTimer()
  },
  beforeDestroy () {
    this.ruleForm.Update = 0
    clearTimeout(this.timer)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    getRoomCodeData () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      Api.getRoomList(submitData, function () {
      }).then((res) => {
        this.options = res.data.list
      })
    },
    setTimer () {
      if (!this.ruleForm || !this.ruleForm.Update || Number(this.ruleForm.Update) === 0) {
        if (this.timer) {
          clearTimeout(this.timer)
        }
        return
      }
      if (this.timer) {
        clearTimeout(this.timer)
      }
      this.getOrderList(this.pageNum, this.pageSize)
      this.timer = setTimeout(this.setTimer, Number(this.ruleForm.Update) * 1000)
    },
    openBan (val) {
      this.ChatBanShow = true
      this.selectData = val
      this.selectData.type = 'tenantChatManual'
    },
    setOrder (val) {
      this.$set(val, 'isOKButton', false)
      this.$set(val, 'isCancelButton', false)
      for (let i = 0; i < this.allList.length; i++) {
        if (val.id !== this.allList[i].id) {
          continue
        }
        this.$set(this.allList, i, val)
      }
    },
    handleStatus (row, state) {
      // this.loading = true
      let submitData = {}
      submitData.id = row.id
      submitData.state = state
      let obj = this
      this.rwdbtnVisible = false
      let msg = ''
      if (state === 1) {
        msg = '是否确定通过审核'
      }
      if (state === 2) {
        msg = '是否确定屏蔽'
      }
      this.msgConfirm(msg, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        if (state === 1) {
          if (row.isOKButton) {
            return
          }
          this.$set(row, 'isOKButton', true)
          this.$set(row, 'isCancelButton', false)
        }
        if (state === 2) {
          if (row.isCancelButton) {
            return
          }
          this.$set(row, 'isOKButton', false)
          this.$set(row, 'isCancelButton', true)
        }
        Api.updateFilteredMessageManualState(submitData, function () {
          obj.$set(row, 'isOKButton', false)
          obj.$set(row, 'isCancelButton', false)
        }).then((res) => {
          // this.getOrderList(this.pageNum, this.pageSize)
          row.state = state
          row.operator = this.currentUser
          row.operationTime = DateFormat(new Date(), 'yyyy-MM-dd hh:mm:ss')
          this.setOrder(row)
        })
      }).catch(() => {
      })
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getFilteredMessageManualList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    ChatBanForm,
    DafaLoading
  }
}
</script>
