<template>
  <div class="panel">
    <div class="panel-heading">
      热门彩种
      <div class="float-right panel-heading-right">
        <!--<el-button-->
          <!--size="mini"-->
          <!--@click="resetLotterHot"-->
          <!--v-if="screenW <= 400"-->
          <!--type="primary" >-->
          <!--重置-->
        <!--</el-button>-->
        <el-button
          size="mini"
          @click="setLotteryHot"
          type="primary" plain>保 存</el-button>
      </div>
    </div>
    <popover-right
      :modal="false"
      :visible="draggingVisible"
      title="排序管理"
      @close="draggingVisible=false">
      <el-button size="mini" slot="right-btn-box"  type="primary" plain  @click="setLotteryHot"  :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
      <div class="dragging-selected mobile-list-dragging">
        <ul>
          <li
            v-for="l in optLotterys"
            v-dragging="{ item: l, list: optLotterys, group: l }"
            :key="l.lotteryCode">
            <div class="open-name"><a>{{l.lotteryName}}</a></div>
            <div class="btn-tools">
              <a title="上下拖动排序"><i class="el-icon-rank"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </popover-right>
    <div class="panel-body" v-loading="loading"
         element-loading-spinner="dafa-icon-loading01 dafa-icon"
         element-loading-customClass="loadingClass">
      <div class="report-nav rb-row delbtn" v-if="screenW <= 768">
        <el-button  type="text"  size="mini" @click="resetLotterHot" v-if="screenW <=500">重置</el-button>
        <el-button size="mini" type="text"  @click="draggingVisible =true">排序</el-button>
      </div>
      <el-row>
        <el-col >
          <div class="media-object lottery-area">
            <div class="lottery-side-dish">
              <div class="mod-header lottery-selected">选择热门彩种</div>
              <ul>
                <li class="lottery-box">
                  <div v-for="l in allLottery" class="lottery-items" v-if="l.isShow" :class="{active:l.isHot}" :key="l.LotteryCode" @click="chooseFun(l)">
                    <span>{{l.lotteryName}}</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="lottery-selected shrink">
              <div class="mod-header ">
                已选彩种
                <el-button class="lottery-allbtn color-bluebutton" type="text" @click="resetLotterHot" v-if="screenW > 500">重置</el-button>
              </div>
              <ul v-if="screenW > 768">
                <li
                  v-for="l in optLotterys"  v-dragging="{ item: l, list: optLotterys, group: l }"
                  :key="l.lotteryCode" class="li-items">
                  <i class="el-icon-rank"></i>
                  {{l.lotteryName}} <span title="上下拖动排序"><a title="取消选择" @click="deleteLotteryHot(l)"><i class="el-icon-close"></i></a></span>
                </li>
              </ul>
              <ul v-else>
                <li
                  v-for="l in optLotterys"
                  :key="l.lotteryCode" class="li-items">
                  {{l.lotteryName}} <span title="上下拖动排序"><a title="取消选择" @click="deleteLotteryHot(l)"><i class="el-icon-close"></i></a></span>
                </li>
                <!--<li-->
                  <!--v-else-->
                  <!--v-for="l in optLotterys"-->
                  <!--:key="l.lotteryCode" class="li-items">-->
                  <!--<i class="el-icon-rank" v-show="screenW>768"></i>-->
                  <!--{{l.lotteryName}} <span title="上下拖动排序"><a title="取消选择" @click="deleteLotteryHot(l)"><i class="el-icon-close"></i></a></span>-->
                <!--</li>-->
                <!--<li-->
                  <!--v-else-->
                  <!--v-for="l in optLotterys"-->
                  <!--v-dragging="{ item: l, list: optLotterys, group: l }"-->
                  <!--:key="l.lotteryCode" class="li-items">-->
                  <!--{{l.lotteryName}} <span title="上下拖动排序"><a title="取消选择" @click="deleteLotteryHot(l)"><i class="el-icon-close"></i></a></span>-->
                <!--</li>-->
              </ul>
              <div class="lotteryNumber-box">共选择<span class="color-blue">{{optLotterys.length}}</span>条</div>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
import api from '@/api/sys'
export default {
  data () {
    return {
      lottery: '',
      disLength: 20, // 限制选中数量
      optLotterys: [],
      allLottery: {},
      submitLoading: false,
      draggingVisible: false,
      loading: false,
      lotteryNumber: '',
      loadingMsg: '正在拼命加载中...',
      lotterySortClassData: ['快3', '时时彩', 'PK10', '六合彩', '11选5', '其他']
    }
  },
  created () {
    this.loading = true
    let obj = this
    api.lottery({}, function () {
      obj.loading = false
    }).then((res) => {
      if (res.code === 1) {
        this.allLottery = res.data.allLottryList
        this.optLotterys = res.data.hotLottryList
        this.getLotteryClass()
        this.$nextTick(function () {
          obj.loading = false
        })
      } else {
        this.msgError(res.msg)
      }
    })
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  methods: {
    resetLotterHot () {
      this.optLotterys = []
      for (let item in this.allLottery) {
        this.allLottery[item].isHot = false
      }
    },
    lotteryClassData (v) {
      switch (v) {
        case 'SYX5':
          return '11选5'
        case 'K3':
          return '快3'
        case 'SSC':
          return '时时彩'
        case 'LHC':
          return '六合彩'
        case 'PK10':
          return 'PK10'
        default:
          return '其他'
      }
    },
    setLotteryHot () {
      let submitData = {}
      submitData.hotLotteryList = ''
      for (let i = 0; i < this.optLotterys.length; i++) {
        submitData.hotLotteryList += ',' + this.optLotterys[i].lotteryCode
      }
      if (submitData.hotLotteryList !== '') {
        submitData.hotLotteryList = submitData.hotLotteryList.substr(1)
      }
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      api.setHotLotteryData(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.msgSuccess('操作成功')
      })
    },
    getLotteryClass () {
      let lotteryClass = {}
      // this.optLotterys = []
      for (let i = 0, length = this.allLottery.length; i < length; i++) {
        this.allLottery[i].isShow = true
        // 過濾uu直播
        if (this.allLottery[i].lotteryCode === '0101') {
          this.allLottery[i].isShow = false
          continue
        }
        // 彩種分類
        if (!lotteryClass[this.lotteryClassData(this.allLottery[i].lotteryType)]) {
          lotteryClass[this.lotteryClassData(this.allLottery[i].lotteryType)] = []
        }
        lotteryClass[this.lotteryClassData(this.allLottery[i].lotteryType)].push(this.allLottery[i])
        // if (this.allLottery[i].isHot) {
        //   this.optLotterys.push(this.allLottery[i])
        // }
      }
      // 彩種排序
      let obj = {}
      for (let j = 0, length = this.lotterySortClassData.length; j < length; j++) {
        obj[this.lotterySortClassData[j]] = lotteryClass[this.lotterySortClassData[j]]
      }
      let tempData = []
      for (let item in obj) {
        for (let i in obj[item]) {
          tempData.push(obj[item][i])
        }
      }
      this.allLottery = tempData
      // console.log(111111, this.allLottery)
    },
    chooseFun (val) {
      // 选择列表
      let lenth = this.disLength
      if (!val.isHot) {
        if (this.optLotterys.length === lenth) {
          this.msgError('选择数量不能超过' + lenth + '条')
          return false
        }
        val.isHot = true
        this.optLotterys.push(val)
        return true
      }
      this.deleteLotteryHot(val)
      return true
    },
    deleteLotteryHot (val) {
      for (let i = 0; i < this.optLotterys.length; i++) {
        if (val.lotteryCode !== this.optLotterys[i].lotteryCode) {
          continue
        }
        for (let j = 0; j < this.allLottery.length; j++) {
          if (this.optLotterys[i].lotteryCode === this.allLottery[j].lotteryCode) {
            this.allLottery[j].isHot = false
            break
          }
        }
        this.optLotterys[i].isHot = false
        this.optLotterys.splice(i, 1)
        break
      }
    }
  }
}
</script>
<style scoped>
  @import '../../assets/css/variable.css';
  .lottery-area{
    & >div{
      width: 50%;
      max-width: 364px;
      border: 1px solid #ebeef5;
      margin: 0 0 0 10px;
      background: #fff;
    }
    & li:hover{
      color: #2a72c5;
      & i{
        color: #2a72c5;
      }
    }
  }
  .li-items {
    cursor: move !important;
    &:hover{
      background: var(--color-titlebackground);
    }
  }
  .lottery-title{
    font-size: 14px;
    font-weight: 300;
  }
  .lottery-items{
    display: inline-block;
    margin: 0 0 15px 0;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid #eee;
    color: #666;
    cursor: pointer !important;
    &:hover{
      background: var(--color-titlebackground);
    }
    /*&:hover{*/
    /*border: 1px solid var(--color-blue-light);*/
    /*color: var(--color-blue-light);*/
    /*}*/
  }
  .lottery-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 15px 15px 5px 15px;
    & >span{
      width: 100%;
      display: inline-block;
      padding: 15px 10px 0px;
      font-weight: bold;
      color: #999;
    }
  }
  .active{
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
  }
  .shrink.lottery-selected{
    margin-left: 20px !important;
  }
  .lottery-selected{
    border: 1px solid #ebeef5;
    position: relative;
    & ul{
      margin: 0 0 40px 0;
    }
    & li:hover{
      color: var(--color-blue);
      cursor: all-scroll !important;
      & i{
        color: var(--color-blue);
      }
    }
    & .el-icon-rank{
      width: 20px ;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:  0 20px;

    }
    & .el-icon-close{
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0 ,-50%);
    }
  }
  .mod-header{
    position: relative;
  }
  .lottery-allbtn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0 , -50%);
    line-height: 16px;
    & .el-checkbox__label{
      line-height: 12px;
    }
  }
  .li-itemson{
    color: var(--color-blue);
    background: var(--color-titlebackground);
  }
  .lotteryNumber-box{
    position: absolute;
    right: 20px;
    bottom: 12px;
    & span{
      display: inline-block;
      padding: 0 5px;
    }
  }
  @media screen and (max-width: 768px){
    .lottery-area {
      & > div {
        margin: 0 10px;
      }
    }
    .li-items,.lottery-box{
      font-size: 0.875rem;
    }
    .shrink.lottery-selected{
      margin-left: 10px !important;
    }
    .li-items {
      padding-left: 20px;
    }
  .report-nav {
    text-align: right;
  }
  }
  @media screen and (max-width: 500px){
    .lottery-items{
      margin: 5px;
      width: 100%;
    }
    .li-items,.lottery-box{
      font-size: 1rem;
    }
    .lottery-selected{
      & .el-icon-rank{
        margin:  0 5px;
      }
      & .el-icon-close{
        right: 10px;
      }
    }
    .lottery-area {
      & > div {
        margin: 0 3px;
      }
    }
    .lottery-box{
      padding: 6px 15px;
      & >span{
        padding: 10px 10px 5px;
      }
    }
  }
  /*.border-color-base {*/
  /*border: 1px solid #ebeef5;*/
  /*}*/
  /*.lottery-area{*/
  /*border: 1px solid #ebeef5;*/
  /*max-width: 1028px;*/
  /*}*/
  /*.lottery-selected {*/
  /*width: 60%;*/
  /*position: relative;*/
  /*padding: 1rem;*/
  /*&:before {*/
  /*content: '';*/
  /*position: absolute;*/
  /*right: 0;*/
  /*bottom: 1rem;*/
  /*border-right: 1px dashed #ddd;*/
  /*height: calc(100% - 4rem);*/

  /*}*/
  /*& ul {*/
  /*margin: 0;*/
  /*}*/
  /*& ul li {*/
  /*list-style: none;*/
  /*margin: 2px 0;*/
  /*padding: 6px 10px;*/
  /*font-size: 14px;*/
  /*background: #f9f9f9;*/
  /*color: var(--color-secondary);*/
  /*cursor: all-scroll;*/
  /*!*&.dragging {*!*/
  /*!*background: rgba(255,255,255, .8);*!*/
  /*!*}*!*/
  /*& span {*/
  /*margin-right: 6px;*/
  /*}*/
  /*& i.el-icon-close {*/
  /*float: right;*/
  /*font-size: 18px;*/
  /*cursor: pointer;*/
  /*}*/
  /*}*/
  /*}*/
  /*.lottery-side-dish {*/
  /*padding: 1rem;*/
  /*& ul {*/
  /*list-style: none;*/
  /*padding-bottom: 1rem;*/
  /*border-bottom: 1px dashed #f4f4f4;*/
  /*display: flex;*/
  /*!*width:350px;*!*/
  /*flex-wrap: wrap;*/
  /*& li {*/
  /*padding: 3px;*/
  /*border: 1px solid #ddd;*/
  /*border-radius: 4px;*/
  /*font-size: 13px;*/
  /*width:100px;*/
  /*text-align: center;*/
  /*margin: 6px;*/
  /*&.active{*/
  /*border: 1px solid rgba(116, 151, 222, 0.8);*/
  /*}*/
  /*}*/
  /*}*/

  /*}*/
  /*.mod-header {*/
  /*font-size: 14px;*/
  /*font-weight: bold;*/
  /*color: var(--color-secondary);*/
  /*}*/
  /*@media screen and (max-width:780px){*/
  /*.lottery-area,.el-col-20{*/
  /*width:100%;*/
  /*max-width:100%;*/
  /*}*/
  /*.lottery-side-dish{*/
  /*width:40%;*/
  /*}*/
  /*}*/
</style>
