<template>
  <div class="panel">
    <div class="panel-heading">
      站长彩种
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click = "editOne({})">新增站长彩种</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn"></div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
            <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                    <tr>
                      <th ><div class="cell">彩种名称</div></th>
                      <th ><div class="cell">彩种类型</div></th>
                      <th ><div class="cell">赢率目标值（%）</div></th>
                      <th ><div class="cell">本月赢率（%）</div></th>
                      <th ><div class="cell">销售状态</div></th>
                      <th width="200"><div class="cell">操作</div></th>
                    </tr>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell"><span class="color-blue  hoverline-effet" @click="editOne(items)">{{items.lotteryName}}</span></div></td>
                      <td><div class="cell"><span>{{getLottoyTypeList[items.lotteryCode]}}</span></div></td>
                      <td>
                        <div class="cell color-success" v-if="items.killOpen"><span>{{items.purposesProfit|formatMoney}}</span></div>
                        <div class="cell" v-else><span>已关闭控制</span></div>
                      </td>
                      <td><div class="cell color-danger"><span>{{items.nowProfit|formatMoney}}</span></div></td>
                      <td><div class="cell"><span :class="items.platformStop?'color-danger':items.isStop? '' : 'color-success'">{{items.platformStop?'暂停销售':(items.isStop ? '已下架' : '销售中')}}</span></div></td>
                      <td><div class="cell">
                        <el-button size="mini" :class="'el-btn-width'" @click="items.platformStop?false:setStatus(items,!items.isStop)" :disabled="items.platformStop">{{items.isStop?'上架销售':'下架'}}</el-button>
                        <el-button size="mini" :class="'el-btn-width'" @click.stop="items.platformStop?false:setWin(items)" :disabled="items.platformStop">赢率控制</el-button>
                        <el-button size="mini" :class="'el-btn-width'" @click.stop="items.platformStop?false:setPlayInfo(items)" :disabled="items.platformStop">玩法说明</el-button>
                        </div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
          <!-- 手机版 -->
            <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
              <el-table
                ref="multipleTable"
                :data="allList"
                @row-click="openDetails"
                style="width: 100%;" >
                <el-table-column
                  label="彩种名称"
                  fixed
                  min-width="100">
                  <template slot-scope="scope">
                    <span v-if="screenW > 768" class=" color-blue  hoverline-effet" @click="editOne(scope.row)">{{scope.row.lotteryName}}</span>
                    <span v-else class="color-blue overflow-style" >{{ scope.row.lotteryName}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="lotteryCode"
                  fixed="right"
                  label="彩种类型"
                  min-width="80">
                  <template slot-scope="scope">
                    <span>{{getLottoyTypeList[scope.row.lotteryCode]}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="purposesProfit"
                  fixed="right"
                  label="赢率目标值（%）"
                  min-width="150">
                  <template slot-scope="scope">
                    <span class="color-success" v-if="scope.row.killOpen">{{scope.row.purposesProfit|formatMoney}}</span>
                    <span v-else>已关闭控制</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="nowProfit"
                  fixed="right"
                  label="本月赢率（%）"
                  min-width="120">
                  <template slot-scope="scope">
                    <span class="color-danger">{{scope.row.nowProfit|formatMoney}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="销售状态"
                  fixed="right"
                  min-width="100">
                  <template slot-scope="scope"><span :class="scope.row.platformStop?'color-danger':scope.row.isStop?'':'color-success'">{{scope.row.platformStop?'暂停销售':(scope.row.isStop ? '已下架' : '销售中')}}</span></template>
                </el-table-column>
                <el-table-column
                  label="操作"
                  width="260"
                  fixed="right"
                  v-if="screenW>768">
                  <template slot-scope="scope" >
                    <div class="table-btnbox icon-menu" >
                      <div class="edit-btns">
                        <el-button size="mini" :class="'el-btn-width'" @click="scope.row.platformStop?false:setStatus(scope.row,!scope.row.isStop)" :disabled="scope.row.platformStop">{{scope.row.isStop?'上架销售':'下架'}}</el-button>
                        <el-button size="mini" :class="'el-btn-width'" @click.stop="scope.row.platformStop?false:setWin(scope.row)" :disabled="scope.row.platformStop">赢率控制</el-button>
                        <el-button size="mini" :class="'el-btn-width'" @click.stop="scope.row.platformStop?false:setPlayInfo(scope.row)" :disabled="scope.row.platformStop">玩法说明</el-button>
                      </div>
                    </div>
                  </template>
                </el-table-column>
              </el-table>
            </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span :class="{'notshow':selectData.platformStop}" @click="selectData.platformStop?false:setStatus(selectData,!selectData.isStop)" >{{selectData.isStop?'上架销售':'下架'}}</span>
          <span :class="{'notshow':selectData.platformStop}" @click.stop="selectData.platformStop?false:setWin(selectData)" >{{'赢率控制'}}</span>
          <span @click="editOne(selectData)">修改彩种名称</span>
          <span :class="{'notshow':selectData.platformStop}" @click="selectData.platformStop?false:setPlayInfo(selectData)">修改玩法说明</span>
          <span @click="checkRow(selectData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <!--<el-dialog-->
          <!--:visible.sync="rwdbtnVisible"-->
          <!--custom-class="btn-dialog"-->
          <!--:modal="false"-->
          <!--append-to-body-->
          <!--width="100%">-->
          <!--<span title="暂停销售"  @click="openFreeze(rwdNumber)" :class="{'color-bluebutton': rwdNumber.isStop}"><i  class="dafa-icon" ></i>暂停销售</span>-->
        <!--</el-dialog>-->
      </div>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="站长彩种"
        @close="detailShow=false">
        <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
          <!--<span class="el-icon-arrow-left" > 返回</span>-->
        <!--</div>-->
        <ul >
          <li>
            <span>彩种名称</span>
            <span class="color-blue">{{selectData.lotteryName}}</span>
          </li>
          <li>
            <span>彩种类型</span>
            <span class="color-blue">{{getLottoyTypeList[selectData.lotteryCode]}}</span>
          </li>
          <li>
            <span>赢率目标值（%）</span>
            <span class="color-blue color-success" v-if="selectData.killOpen">{{selectData.purposesProfit|formatMoney}}</span>
            <span class="color-blue" v-else>已关闭控制</span>
          </li>
          <li>
            <span>本月赢率（%）</span>
            <span class="color-blue color-danger">{{selectData.nowProfit|formatMoney}}</span>
          </li>
          <li>
            <span>销售状态</span>
            <span :class="selectData.isStop  ? '' : 'color-success'">{{selectData.isStop ? '已下架' : '销售中'}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
      <div class="report-foot margin-t10">
        <!-- <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination> -->
      </div>
    </div>
    <add-tenant-lottery-form
      :data="selectData"
      :visible="AddTenantLottery"
      :titleName="title"
      :lottoyTypeList="lottoyTypeList"
      v-on:onClose="onClose">
    </add-tenant-lottery-form>
    <win-tenant-lottery-form
      :data="selectData"
      :visible="WinTenantLottery"
      :titleName="title"
      v-on:onClose="onClose">
    </win-tenant-lottery-form>
    <set-lottery
      :data="selectData"
      :visible="SetLotteryShow"
      v-on:onClose="SetLotteryShow=false">
    </set-lottery>
  </div>
</template>
<script>
import AddTenantLotteryForm from '@/views/newModal/AddTenantLotteryForm'
import WinTenantLotteryForm from '@/views/newModal/WinTenantLotteryForm'
import SetLottery from '@/views/newModal/SetLotteryForm'
import Api from '@/api/tenant'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    },
    getLottoyTypeList () {
      let arr = this.lottoyTypeList
      if (arr.length) {
        let obj = {}
        arr.forEach(v => {
          obj[v.lotteryCode] = v.lotteryName
        })
        return obj
      } else {
        return {}
      }
    }
  },
  data () {
    return {
      title: '彩种',
      detailShow: false,
      SetLotteryShow: false,
      tableLine: true,
      FreezeValue: false,
      AddTenantLottery: false,
      WinTenantLottery: false,
      isActive: false,
      rwdNumber: '',
      rwdbtnVisible: false,
      ruleForm: {
        lotteryName: ''
      },
      allList: [],
      pageNum: 1,
      pageSize: 20,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      total: 0,
      selectData: {},
      // 类型列表
      lottoyTypeList: []
    }
  },
  created () {
    this.initData()
    this.getOrderList()
  },
  methods: {
    editOne (val) {
      this.selectData = val
      this.AddTenantLottery = true
      this.rwdbtnVisible = false
    },
    // 设置赢率控制
    setWin (item) {
      this.selectData = item
      this.WinTenantLottery = true
    },
    onClose () {
      this.selectData = {}
      this.AddTenantLottery = false
      this.WinTenantLottery = false
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      // console.log('submit!')
      this.getOrderList()
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    // 获取列表
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.findTenantLotteryFromCms(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = this.setNumber(res.data)
        // this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        obj.loading = false
      })
    },
    setNumber (arr) {
      if (!arr || !arr.length) return []
      return arr.map(v => {
        v.purposesProfit = v.purposesProfit * 100
        v.nowProfit = v.nowProfit * 100
        return v
      })
    },
    // 上架和下架设置
    setStatus (item, key) {
      let submitData = {
        lotteryCode: item.lotteryCode,
        isStop: key
      }
      let obj = this
      this.msgConfirm(`此操作将${key ? '下架' : '上架销售'}当前彩种，是否继续？`, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.loading = true
        Api.updateTenantSaleStatus(submitData, function () {
          obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
        }).then(res => {
          this.loading = false
          if (res.code === 1) {
            this.rwdbtnVisible = false
            this.selectData = {}
            this.getOrderList()
          }
        }).catch(e => {
          this.loading = false
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.selectData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      // console.log(this.selectData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    // 获取下拉列表
    initData () {
      let submitData = {}
      Api.findTenantSystemLottery(submitData).then(res => {
        if (res.code === 1) {
          this.lottoyTypeList = res.data
        }
      })
    },
    // 修改玩法说明
    setPlayInfo (item) {
      this.selectData = item
      this.SetLotteryShow = true
    }
  },
  components: {
    Scroll,
    AddTenantLotteryForm,
    WinTenantLotteryForm,
    SetLottery
  }
}
</script>
<style scoped>
.el-btn-width{
  width:74px!important;
}
.notshow{
  color:#999;
}
</style>
