<template>
  <div class="panel">
    <div class="panel-heading">
      APP管理
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data">
        <!-- 表头 -->
        <el-form :model="ruleForm" :rules="rules" size="small" ref="ruleForm" :label-width="screenW > 768 ? '80px':''" :label-position="screenW>768 ? 'right':'top'" class="ruleForm" v-loading="loading"
                 element-loading-spinner="dafa-icon-loading01 dafa-icon"
                 element-loading-customClass="loadingClass"  @keyup.native.enter="onSubmit('ruleForm')" @submit.native.prevent>
          <el-form-item label="APP图标">
            <div class="img-upload">
              <el-upload
                class="avatar-uploader imgshow"
                ref="upload"
                action="/v1/management/tenant/updateTenantAppImg"
                name="image-file"
                :auto-upload="false"
                :show-file-list="false"
                accept="image/jpeg,image/png,image/gif"
                :on-change="handleChange"
                :on-error="handleOnError"
                :on-success="handleAvatarSuccess">
                <img v-if="ruleForm.imageUrl" :src="ruleForm.imageUrl" >
                <div class="img-off" v-else>
                  <i  class="el-icon-plus avatar-uploader-icon"></i>
                  <div class="upload-info">
                    点击上传图片
                    <span class="picture-size-style" >图片尺寸 <em>{{limitWidth}}*{{limitHeight}}</em></span>
                  </div>
                </div>
              </el-upload>
              <i v-if="ruleForm.imageUrl" class="el-icon-error" @click="deleteImage"></i>
            </div>
          </el-form-item>
          <el-form-item label="APP名称" prop="name">
            <el-input size="min" v-model="ruleForm.name" placeholder="2-10个字符"></el-input>
          </el-form-item>
          <el-row class="line-style">
            <el-col >
                <el-form-item
                  v-for="(domain, index) in ruleForm.iosUrl"
                  :key="domain.key"
                  :prop="'iosUrl.' + index + '.value'"
                  :class='{"displaynone" : (index <= 0)}'
                  :label="index<1?'苹果地址':''"
                  :rules="[{ validator: (rule, value, callback) => {
                  if (rule.field === 'iosUrl.0.value') {
                         callback()
                         return
                  }
                  if (value === undefined || value === null || value.trim() === '') {
                        callback('请输入苹果地址')
                        return
                  }
                   callback()
                  }, trigger: 'blur' }]"
                  class="title-none">
                  <el-input v-model="domain.value"></el-input><el-button @click.prevent="removeDomain(domain,'apple')">删除</el-button>
                </el-form-item>
                <el-form-item>
                  <el-button @click="addDomain('apple')" type="success">苹果地址新增</el-button>
                  <el-button @click="resetIosUrl">重置</el-button>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row >
            <el-col >
                <el-form-item
                  v-for="(domain, index) in ruleForm.androidUrl"
                  :label="index<1 ? '安卓地址':''"
                  :key="domain.key"
                  :prop="'androidUrl.' + index + '.value'"
                  :rules="[{ validator: (rule, value, callback) => {
                  if (rule.field === 'androidUrl.0.value') {
                         callback()
                         return
                  }
                  if (value === undefined || value === null || value.trim() === '') {
                        callback('请输入安卓地址')
                        return
                  }
                   callback()
                  }, trigger: 'blur' }]"
                  :class='{"displaynone" : (index <= 0)}'
                >
                  <el-input v-model="domain.value"></el-input><el-button @click.prevent="removeDomain(domain,'android')" >删除</el-button>
                </el-form-item>
                <el-form-item>
                  <el-button @click="addDomain('android')" type="success">安卓地址新增</el-button>
                  <el-button @click="resetAndroidUrl">重置</el-button>
                </el-form-item>
            </el-col>
          </el-row>
          <el-form-item>
            <el-button
              size="mini"
              @click="onSubmit('ruleForm')"
              type="primary" plain
              :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
          <!-- 底部说明文本块 -->
          <div class="tip-foot">
            <div class="tip-title state">* 温馨提示：</div>
          <ol>
            <li>
              您可以选择设置自己的独立APP，也可以使用共享APP;
            </li>
            <li>
              图标为空不设置时，将使用系统共享APP的图标；
            </li>
            <li>
              名称为空不设置时，将使用系统共享APP的名称；
            </li>
            <li>
              地址为空不设置时，将使用系统共享APP的下载地址；
            </li>
            <li>独立APP，建议使用全新网址进行APP封装打包，上架后在使用301重定向跳转到手机版的网址。</li>
            <li>不带邀请码，请直接跳转到 如：m.baidu.com</li>
            <li> 带邀请码，请直接跳转到 如：m.baidu.com/register?id=12345678</li>
            <li>支持新增多个APP下载地址，前台将随机平均分配用户下载；</li>
          </ol>
        </div>
        <!-- 底部说明文本块结束 -->
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/sys'
import {imgHost} from '@/filters'
import {validateRules} from '@/utils/validateRules'
import {fileToImage} from '@/utils/convert'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateName = (rule, value, callback) => {
      if (!value || value === '') {
        callback()
        return
      }
      let vdt = validateRules.vdata(value, {
        'maxlength': {param: '10', msg: '最大值不能超过10位'},
        'minlength': {param: '2', msg: '最小值不能低于2位'}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      ruleForm: {
        name: '',
        imageUrl: '',
        iosUrl: [{
          value: ''
        }],
        androidUrl: [{
          value: ''
        }],
        isDeleteImg: false
      },
      fileData: {},
      rules: {
        name: [
          {validator: validateName, trigger: 'blur'}
        ]
      },
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      limitWidth: 210,
      limitHeight: 210
    }
  },
  mounted () {
    this.getTenantApp()
  },
  methods: {
    resetIosUrl () {
      this.ruleForm.iosUrl = [{value: ''}]
    },
    resetAndroidUrl () {
      this.ruleForm.androidUrl = [{value: ''}]
    },
    getTenantApp () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.getTenantApp(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(res)
        let iosUrlData = []
        if (res.data.iosUrl && res.data.iosUrl !== '') {
          let tempUrlData = res.data.iosUrl.split(',')
          for (let i = 0; i < tempUrlData.length; i++) {
            let tempUrl = {}
            Object.assign(tempUrl, {})
            tempUrl.key = i + 1
            tempUrl.value = tempUrlData[i]
            iosUrlData.push(tempUrl)
          }
        }
        let androidUrlData = []
        if (res.data.androidUrl && res.data.androidUrl !== '') {
          let tempUrlData = res.data.androidUrl.split(',')
          for (let i = 0; i < tempUrlData.length; i++) {
            let tempUrl = {}
            Object.assign(tempUrl, {})
            tempUrl.key = i + 1
            tempUrl.value = tempUrlData[i]
            androidUrlData.push(tempUrl)
          }
        }
        this.ruleForm.name = res.data.name
        this.ruleForm.iosUrl = iosUrlData
        this.ruleForm.androidUrl = androidUrlData
        if (res.data.imageUrl && res.data.imageUrl !== '') {
          this.ruleForm.imageUrl = imgHost(res.data.imageUrl)
        }
        this.ruleForm.id = res.data.id
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteImage () {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.ruleForm.isDeleteImg = true
        this.ruleForm.imageUrl = ''
        this.fileData.imageFile = {}
      })
    },
    handleChange (file, fileList) {
      if (file.response && Number(file.response.code) === 1) {
        return true
      }
      if (file.response && Number(file.response.code) !== 1) {
        this.submitLoading = false
        this.msgError('上传图片失败')
      }
      if (fileList.length > 1) {
        // console.log(fileList)
        fileList.splice(0, 1)
      }
      let obj = this
      // const isJPG = file.raw.type === 'image/jpeg' || file.raw.type === 'image/png'
      const isLt2M = file.raw.size / 1024 / 1024 < 2
      // if (!isJPG) {
      //   obj.msgError('上传头像图片只能是 jpg 或 png 格式!')
      //   return false
      // }
      if (!isLt2M) {
        obj.msgError('上传头像图片大小不能超过 2MB')
        return false
      }
      fileToImage(file.raw, function (imageFile) {
        imageFile.onload = function () {
          let width = imageFile.width
          let height = imageFile.height
          const isWidth = width === obj.limitWidth
          const isHeight = height === obj.limitHeight
          // console.log('123' + file)
          if (!isWidth || !isHeight) {
            obj.msgError('图片尺寸要求【宽度：' + obj.limitWidth + 'px 高度：' + obj.limitHeight + 'px]')
            return false
          }
          obj.fileData.imageFile = file
          obj.ruleForm.imageUrl = imageFile.src
          obj.ruleForm.isDeleteImg = false
          return isLt2M && isWidth && isHeight
        }
      })
    },
    handleOnError (errorData, file, fileList) {
      this.submitLoading = false
      this.msgError('上传图片失败')
    },
    onSubmit (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        // // console.log(this.fileData.imageFile)
        // if (this.fileData.imageFile) {
        //   // let file = this.fileList[0]
        //   // let submitData = new FormData()
        //   // let xhr = new XMLHttpRequest()
        //   // xhr.open('get', this.fileList[0].url, true)
        //   // xhr.responseType = 'blob'
        //   // xhr.onload = function () {
        //   //   if (this.status === 200) {
        //   //
        //   //     submitData.append('image-file', this.response, file.name)
        //   //     Api.updateTenantAppImg(submitData).then((res) => {
        //   //       console.log(res)
        //   //       this.msgSuccess('保存成功！')
        //   //     })
        //   //   }
        //   // }
        //   // xhr.send()
        //   this.$refs.upload.submit()
        //   return false
        // }
        this.updateTenantApp()
      })
    },
    updateTenantApp () {
      let submitData = new FormData()
      // Object.assign(submitData, this.ruleForm)
      let tempIosUrl = ''
      for (let i = 0; i < this.ruleForm.iosUrl.length; i++) {
        tempIosUrl += ',' + this.ruleForm.iosUrl[i].value
      }
      if (tempIosUrl && tempIosUrl !== '') {
        tempIosUrl = tempIosUrl.substr(1)
      }
      let iosUrl = tempIosUrl
      submitData.append('iosUrl', iosUrl)
      let tempAndroidUrl = ''
      for (let i = 0; i < this.ruleForm.androidUrl.length; i++) {
        tempAndroidUrl += ',' + this.ruleForm.androidUrl[i].value
      }
      if (tempAndroidUrl && tempAndroidUrl !== '') {
        tempAndroidUrl = tempAndroidUrl.substr(1)
      }
      let androidUrl = tempAndroidUrl
      submitData.append('androidUrl', androidUrl)
      submitData.append('isDeleteImg', this.ruleForm.isDeleteImg)
      // console.log(this.fileData.imageFile)
      if (this.fileData.imageFile && this.fileData.imageFile.raw) {
        submitData.append('image-file', this.fileData.imageFile.raw, this.fileData.imageFile.name)
      }
      submitData.append('name', this.ruleForm.name)
      submitData.append('imageUrl', this.ruleForm.imageUrl)
      let obj = this
      Api.updateTenantApp(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        console.log(res)
        this.fileData = {}
        this.ruleForm.isDeleteImg = false
        this.$nextTick(function () {
          obj.submitLoading = false
        })
        this.msgSuccess('保存成功')
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    removeDomain (item, kk) {
      let classgroup = {apple: 'iosUrl', android: 'androidUrl'}
      let index = this.ruleForm[classgroup[kk]].indexOf(item)
      console.log(kk)
      if (index !== -1) {
        this.ruleForm[classgroup[kk]].splice(index, 1)
      }
    },
    addDomain (kk) {
      let classgroup = {apple: 'iosUrl', android: 'androidUrl'}
      if (this.ruleForm[classgroup[kk]].length === 10) {
        this.msgError('最多只能添加10个地址')
        return
      }
      this.ruleForm[classgroup[kk]].push({
        value: '',
        key: Date.now()
      })
    },
    handleAvatarSuccess (res, file) {
      console.log(res)
      this.fileData = {}
      if (Number(res.code) !== 1) {
        this.msgError(res.msg)
        this.submitLoading = false
        return
      }
      this.updateTenantAppOther()
    }
  },
  components: {
  }
}
</script>
<style scoped>
  .report-data{
    border:0;
  }
  .ruleForm{
    padding:25px 0;
    width: 400px;
  }
  .displaynone{
    & .el-input--small {
      width: 100%;
      margin: 0 20px 0 0;
    }
    & .el-button--default{
      display: none;
    }

  }
  .title-none{
    & .el-form-item__label{
      display: none !important;
    }
  }

  .el-form-item__content{
    display: flex;
  }
  .el-input--small {
    width: calc( 100% - 77px);
    margin: 0 20px 0 0;
  }
  .el-form-item__content{
    display: flex !important;
  }
  .line-style{
    border-top: 1px dashed #d9d9d9;
    padding: 40px 0 20px 0;
    margin: 40px 0 0 0;
  }
  /*.line-style02{*/
    /*border-top: 1px dashed #d9d9d9;*/
    /*padding: 30px 0 0 0;*/
    /*margin: 12px 0 0 0;*/
  /*}*/
  @media screen and (max-width:1023px){
    .ruleForm{
      width:90%;
      max-width: 400px;
    }
    .report-data{
      padding: 10px;
    }

  }
  @media screen and (max-width: 500px){
    .ruleForm{
      margin: 0 auto;
    }
  }

</style>
