<template>
  <div class="panel">
    <div class="panel-heading">
      客服管理
      <div class="float-right panel-heading-right">
        <!--<el-button size="mini"  type="primary" plain @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>-->
      </div>
    </div>
    <div class="panel-body" v-loading="loading"
         element-loading-spinner="dafa-icon-loading01 dafa-icon"
         element-loading-customClass="loadingClass">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data no-border rwd-padding service-input" >
        <!-- 表头 -->
        <el-form :model="ruleForm" :rules="rules" size="small" ref="ruleForm" class="Form" :label-width="screenW > 768 ? '60px':''" :label-position="screenW > 768 ? 'right':'top'" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <el-form-item label="弹窗宽度" prop="width">
            <el-input-number v-model="ruleForm.width" size="min"  placeholder="请输入宽度例如：600，默认单位：像素" :min="0" :max="9999" :precision="0" :controls="false"></el-input-number>
          </el-form-item>
          <el-form-item label="弹窗高度" prop="height">
            <el-input-number v-model="ruleForm.height" size="min"  placeholder="请输入高度例如：1000，默认单位：像素" :min="0" :max="9999" :precision="0" :controls="false"></el-input-number>
          </el-form-item>
          <el-form-item label="客服链接" prop="url">
            <el-input v-model="ruleForm.url" size="min"  placeholder="在线客服链接地址，需以http://或https://开头"></el-input>
            <!--<div class="notice-p">* 在线客服链接地址，需以http://开头</div>-->
          </el-form-item>
          <el-form-item>
            <!--<el-button size="mini" @click="ResetData">还原数据</el-button>-->
            <el-button size="mini"  type="primary" plain @click="submitForm('ruleForm')" :loading="submitLoading"> {{submitLoading ? '正在提交' : '保 存'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/sys'
import {validateRules} from '@/utils/validateRules'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateUrl = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入客服链接'},
        'url': {msg: '格式错误，需以http://或https://开头'},
        'maxlength': {param: '127', msg: '最大值不能超过127位'},
        'minlength': {param: '6', msg: '最小值不能低于6位'}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    let validateWidth = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入弹窗宽度'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    let validateHeight = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入弹窗高度'},
        'number': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        width: '',
        height: '',
        url: ''
      },
      rules: {
        url: [{ validator: validateUrl, trigger: 'blur' }],
        height: [{ validator: validateHeight, trigger: 'blur' }],
        width: [{ validator: validateWidth, trigger: 'blur' }]
      }
    }
  },
  mounted () {
    this.getTenantSupportData()
  },
  methods: {
    ResetData () {
      this.getTenantSupportData()
    },
    getTenantSupportData () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.getTenantSupportData(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(res)
        this.ruleForm.id = res.data.id
        this.ruleForm.width = res.data.width
        this.ruleForm.height = res.data.height
        this.ruleForm.url = res.data.url
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          return false
        }
        this.submitLoading = true
        let obj = this
        Api.setTenantSupport(this.ruleForm, function () {
          obj.submitLoading = false
        }).then((res) => {
          // console.log(res)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('保存成功')
        })
      })
    }
  },
  components: {
  }
}
</script>
<style scoped>
  .report-data{
    max-width: 400px;
  }
</style>
