<template>
  <div class="panel">
    <div class="panel-heading">
      Logo管理
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data no-border" v-loading="loading"
           element-loading-spinner="dafa-icon-loading01 dafa-icon"
           element-loading-customClass="loadingClass">
        <!-- 表头 -->
        <ul class="logo-list">
          <li>
            <div class="img-title" title="PC端Logo">PC端Logo</div>
            <div class="img-upload logo-style">
              <div class="pic-hover" :class="{'pichover-none': !PCLogoImageUrl}">
                <el-upload
                  ref="pcLogoUpload"
                  class="avatar-uploader imgshow"
                  action="/v1/management/content/uploadPCLogo"
                  :show-file-list="false"
                  :on-error="handleError"
                  :on-success="handlePCLogoSuccess"
                  name="image-file"
                  accept="image/jpeg,image/png,image/gif"
                  :auto-upload="false"
                  :on-change="beforePCLogoUpload">
                  <span slot="trigger" ref="pcLogoUploadTrigger"></span>
                  <img v-if="PCLogoImageUrl && PCLogoImageUrl !== ''" :src="PCLogoImageUrl" />
                  <div class="img-off" v-else @click="imports('pcLogoUpload')">
                    <i class="el-icon-plus avatar-uploader-icon"></i>
                    <span>点击上传图片</span>
                  </div>
                </el-upload>
                <div class="picicon-box">
                  <span title="预览" class="review-icon" @click="openLookLogoForm(PCLogoImageUrl, 0)"><i class="el-icon-zoom-in"></i></span>
                  <span title="修改" class="review-icon" @click="imports('pcLogoUpload')"><i class="el-icon-edit-outline"></i></span>
                  <input type="file" style="display: none" ref="upload" @change="fileImport">
                </div>
              </div>
              <div class="upload-info">
                <span class="picture-size-style" >图片尺寸 <em>{{PCLogoLimitWidth}}*{{PCLogoLimitHeight}}</em></span>
                只能上传jpg/png/gif文件，且不超过500kb</div>
            </div>
          </li>
          <li>
            <div class="img-title" title="移动端Logo">移动端Logo</div>
            <div class="img-upload">
              <div class="pic-hover" :class="{'pichover-none': !MobileLogoImageUrl}">
                <el-upload
                  ref="mobileLogoUpload"
                  class="avatar-uploader imgshow"
                  action="/v1/management/content/uploadMobileLogo"
                  :show-file-list="false"
                  :on-success="handleMobileLogoSuccess"
                  :auto-upload="false"
                  name="image-file"
                  accept="image/jpeg,image/png,image/gif"
                  :on-error="handleError"
                  :on-change="beforeMobileLogoUpload">
                  <span slot="trigger" ref="mobileLogoUploadTrigger"></span>
                  <img v-if="MobileLogoImageUrl && MobileLogoImageUrl !== ''" :src="MobileLogoImageUrl"  />
                  <div class="img-off" v-else @click="imports('mobileLogoUpload')">
                    <i class="el-icon-plus avatar-uploader-icon"></i>
                    <span>点击上传图片</span>
                  </div>
                </el-upload>
                <div class="picicon-box">
                  <span title="预览" class="review-icon" @click="openLookLogoForm(MobileLogoImageUrl, 1)"><i class="el-icon-zoom-in"></i></span>
                  <span title="修改" class="review-icon" @click="imports('mobileLogoUpload')"><i class="el-icon-edit-outline"></i></span>
                  <input type="file" style="display: none" ref="upload" @change="fileImport">
                </div>
              </div>
              <div class="upload-info">
                <span class="picture-size-style" >图片尺寸 <em>{{MobileLogoLimitWidth}}*{{MobileLogoLimitHeight}}</em></span>
                只能上传jpg/png/gif文件，且不超过500kb</div>
            </div>
          </li>
          <li>
            <div class="img-title" title="后台登陆页Logo">后台登录页Logo</div>
            <div class="img-upload">
              <div class="pic-hover" :class="{'pichover-none': !AfterLogoImageUrl}">
                <el-upload
                  ref="afterLogoUpload"
                  class="avatar-uploader imgshow"
                  action="/v1/management/content/uploadLoginLogo"
                  :show-file-list="false"
                  :on-success="handleAfterLogoSuccess"
                  :auto-upload="false"
                  name="image-file"
                  accept="image/jpeg,image/png,image/gif"
                  :on-error="handleError"
                  :on-change="beforeAfterLogoUpload">
                  <span slot="trigger" ref="afterLogoUploadTrigger"></span>
                  <img v-if="AfterLogoImageUrl && AfterLogoImageUrl !== ''" :src="AfterLogoImageUrl"  />
                  <div class="img-off" v-else @click="imports('afterLogoUpload')">
                    <i class="el-icon-plus avatar-uploader-icon"></i>
                    <span>点击上传图片</span>
                  </div>
                </el-upload>
                <div class="picicon-box">
                  <span title="预览" class="review-icon" @click="openLookLogoForm(AfterLogoImageUrl, 2)"><i class="el-icon-zoom-in"></i></span>
                  <span title="修改" class="review-icon" @click="imports('afterLogoUpload')"><i class="el-icon-edit-outline"></i></span>
                  <input type="file" style="display: none" ref="upload" @change="fileImport">
                </div>
              </div>
              <div class="upload-info">
                <span class="picture-size-style" >
                  图片尺寸 <em>{{AfterLogoLimitWidth}}*{{AfterLogoLimitHeight}}</em>
                </span>
                只能上传jpg/png/gif文件，且不超过500kb</div>
            </div>
          </li>
        </ul>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
    <look-logo-form
      :data="selectData"
      :visible="LookLogoShow"
      :List="LookLogoShow"
      v-on:onClose="LookLogoShow=false"
    >
    </look-logo-form>
  </div>
</template>
<script>
import LookLogoForm from '@/components/PreviewPicture'
import Api from '@/api/sys'
import {imgHost} from '@/filters'
import {fileToImage} from '@/utils/convert'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      PCLogoImageUrl: '',
      MobileLogoImageUrl: '',
      AfterLogoImageUrl: '',
      LookLogoShow: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      PCLogoLimitWidth: 0,
      PCLogoLimitHeight: 0,
      MobileLogoLimitWidth: 0,
      MobileLogoLimitHeight: 0,
      AfterLogoLimitWidth: 0,
      AfterLogoLimitHeight: 0,
      selectData: {imageData: [
        {id: 1, name: 'PC端Logo', url: '', rotate: false},
        {id: 2, name: '移动端Logo', url: '', rotate: false},
        {id: 3, name: '后台登录页Logo', url: '', rotate: false}
      ],
      index: 0}
    }
  },
  mounted () {
    this.getImageConfig()
    this.getSiteRoleInfo()
  },
  components: {
    LookLogoForm
  },
  methods: {
    openLookLogoForm (url, index) {
      this.selectData.imageData[0].url = this.PCLogoImageUrl
      this.selectData.imageData[1].url = this.MobileLogoImageUrl
      this.selectData.imageData[2].url = this.AfterLogoImageUrl
      this.selectData.index = index
      this.LookLogoShow = true
    },
    getSiteRoleInfo () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.findLogoList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(1111, res)
        let logoData = res.data
        if (logoData['1'] && logoData['1'].url !== '') {
          this.PCLogoImageUrl = imgHost(logoData['1'].url)
        }
        if (logoData['2'] && logoData['2'].url !== '') {
          this.MobileLogoImageUrl = imgHost(logoData['2'].url)
        }
        if (logoData['3'] && logoData['3'].url !== '') {
          this.AfterLogoImageUrl = imgHost(logoData['3'].url)
        }
        this.$nextTick(function () {
          obj.loading = false
        })
        // console.log(333)
      })
    },
    getImageConfig () {
      let submitData = {}
      submitData.imageIds = '1,2,3'
      this.loading = true
      let obj = this
      Api.getImageConfig(submitData, function () {
        obj.loading = false
      }).then((res) => {
        // console.log(1111, res)
        let imageConfigData = res.data
        if (imageConfigData['1']) {
          this.PCLogoLimitWidth = imageConfigData['1'].width
          this.PCLogoLimitHeight = imageConfigData['1'].height
        }
        if (imageConfigData['2']) {
          this.MobileLogoLimitWidth = imageConfigData['2'].width
          this.MobileLogoLimitHeight = imageConfigData['2'].height
        }
        if (imageConfigData['3']) {
          this.AfterLogoLimitWidth = imageConfigData['3'].width
          this.AfterLogoLimitHeight = imageConfigData['3'].height
        }
        this.$nextTick(function () {
          obj.loading = false
        })
        // console.log(333)
      })
    },
    handlePCLogoSuccess (res, file, fileList) {
      // console.log(res)
      fileList = []
      if (res.code !== 1) {
        this.loading = false
        this.loadingMsg = '正在拼命加载中...'
        this.msgError('上传失败')
        return
      }
      this.loading = false
      this.loadingMsg = '正在拼命加载中...'
      this.PCLogoImageUrl = URL.createObjectURL(file.raw)
      this.msgSuccess('上传成功')
    },
    handleError (res, file) {
      this.loading = false
      this.msgError('上传失败')
    },
    beforePCLogoUpload (file, fileList) {
      if (file.response && Number(file.response.code) === 1) {
        return true
      }
      if (file.response && Number(file.response.code) !== 1) {
        this.loading = false
        this.msgError('上传图片失败')
        return false
      }
      if (fileList.length > 1) {
        fileList.splice(0, 1)
      }
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      // const isJPG = file.raw.type === 'image/jpeg' || file.raw.type === 'image/png' || file.raw.type === 'image/gif'
      const isLt2M = file.raw.size / 1024 / 1024 < 2
      // if (!isJPG) {
      //   obj.loading = false
      //   obj.loadingMsg = '正在拼命加载中...'
      //   obj.msgError('上传头像图片只能是 jpg 或 png 格式!')
      //   return false
      // }
      if (!isLt2M) {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
        obj.msgError('上传头像图片大小不能超过 2MB')
        return false
      }
      fileToImage(file.raw, function (imageFile) {
        imageFile.onload = function () {
          let width = imageFile.width
          let height = imageFile.height
          const isWidth = width === obj.PCLogoLimitWidth
          const isHeight = height === obj.PCLogoLimitHeight
          // console.log('123' + file)
          if (!isWidth || !isHeight) {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
            obj.msgError('图片尺寸要求【宽度：' + obj.PCLogoLimitWidth + 'px 高度：' + obj.PCLogoLimitHeight + 'px]')
            return false
          }
          obj.$refs.pcLogoUpload.submit()
          return isLt2M && isWidth && isHeight
        }
      })
    },
    handleMobileLogoSuccess (res, file, fileList) {
      // console.log(res)
      fileList = []
      if (res.code !== 1) {
        this.loading = false
        this.loadingMsg = '正在拼命加载中...'
        this.msgError('上传失败')
        return
      }
      this.loading = false
      this.loadingMsg = '正在拼命加载中...'
      this.MobileLogoImageUrl = URL.createObjectURL(file.raw)
      this.msgSuccess('上传成功')
    },
    beforeMobileLogoUpload (file, fileList) {
      if (file.response && Number(file.response.code) === 1) {
        return true
      }
      if (file.response && Number(file.response.code) !== 1) {
        this.loading = false
        this.msgError('上传图片失败')
        return false
      }
      if (fileList.length > 1) {
        fileList.splice(0, 1)
      }
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      // const isJPG = file.raw.type === 'image/jpeg' || file.raw.type === 'image/png' || file.raw.type === 'image/gif'
      const isLt2M = file.raw.size / 1024 / 1024 < 2
      // if (!isJPG) {
      //   obj.loading = false
      //   obj.loadingMsg = '正在拼命加载中...'
      //   obj.msgError('上传头像图片只能是 jpg 或 png 格式!')
      //   return false
      // }
      if (!isLt2M) {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
        obj.msgError('上传头像图片大小不能超过 2MB')
        return false
      }
      fileToImage(file.raw, function (imageFile) {
        imageFile.onload = function () {
          let width = imageFile.width
          let height = imageFile.height
          const isWidth = width === obj.MobileLogoLimitWidth
          const isHeight = height === obj.MobileLogoLimitHeight
          // console.log('123' + file)
          if (!isWidth || !isHeight) {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
            obj.msgError('图片尺寸要求【宽度：' + obj.MobileLogoLimitWidth + 'px 高度：' + obj.MobileLogoLimitHeight + 'px]')
            return false
          }
          obj.$refs.mobileLogoUpload.submit()
          return isLt2M && isWidth && isHeight
        }
      })
    },
    handleAfterLogoSuccess (res, file, fileList) {
      // console.log(res)
      fileList = []
      if (res.code !== 1) {
        this.loading = false
        this.loadingMsg = '正在拼命加载中...'
        this.msgError('上传失败')
        return
      }
      this.loading = false
      this.loadingMsg = '正在拼命加载中...'
      this.AfterLogoImageUrl = URL.createObjectURL(file.raw)
      this.msgSuccess('上传成功')
    },
    beforeAfterLogoUpload (file, fileList) {
      if (file.response && Number(file.response.code) === 1) {
        return true
      }
      if (file.response && Number(file.response.code) !== 1) {
        this.loading = false
        this.msgError('上传图片失败')
        return false
      }
      if (fileList.length > 1) {
        fileList.splice(0, 1)
      }
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      // const isJPG = file.raw.type === 'image/jpeg' || file.raw.type === 'image/png' || file.raw.type === 'image/gif'
      const isLt2M = file.raw.size / 1024 / 1024 < 2
      // if (!isJPG) {
      //   obj.loading = false
      //   obj.loadingMsg = '正在拼命加载中...'
      //   obj.msgError('上传头像图片只能是 jpg 或 png 格式!')
      //   return false
      // }
      if (!isLt2M) {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
        obj.msgError('上传头像图片大小不能超过 2MB')
        return false
      }
      fileToImage(file.raw, function (imageFile) {
        imageFile.onload = function () {
          let width = imageFile.width
          let height = imageFile.height
          const isWidth = width === obj.AfterLogoLimitWidth
          const isHeight = height === obj.AfterLogoLimitHeight
          // console.log('123' + file)
          if (!isWidth || !isHeight) {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
            obj.msgError('图片尺寸要求【宽度：' + obj.AfterLogoLimitWidth + 'px 高度：' + obj.AfterLogoLimitHeight + 'px]')
            return false
          }
          obj.$refs.afterLogoUpload.submit()
          return isLt2M && isWidth && isHeight
        }
      })
    },
    imports (name) {
      if (name === 'pcLogoUpload') {
        this.$refs.pcLogoUploadTrigger.click()
        return
      }
      if (name === 'mobileLogoUpload') {
        this.$refs.mobileLogoUploadTrigger.click()
        return
      }
      if (name === 'afterLogoUpload') {
        this.$refs.afterLogoUploadTrigger.click()
      }
    },
    fileImport () {
    }
  }
}
</script>
<style scoped>
  .logo-list{
    list-style:none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    & li{
      text-align:left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding: 10px 20px;
      & div{
        display: inline-block;
        &.img-title{
          width:100%;
          vertical-align: top;
          text-align:center;
          padding: 0 0 15px 0;
          letter-spacing: 0.8px;
        }
      }
      & .upload-info{
        display:block;
        color:#8391a5;
        padding:15px 0 0 0;
        text-align:center;
        font-size:12px;
        letter-spacing: 1px;
        width: 180px;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
    & .pic-hover img{
      height: auto ;
    }
    .active{
      & .avatar-uploader-icon{
        display: none !important;
      }
    }

  }

@media screen and (max-width:768px){
    .logo-list {
      padding: 0;
      flex-direction: column;
      & li {
        margin: 0;
        /*border-top: 3px solid #787878;*/
        flex-direction: column;
        /*background: #fff;*/
        margin: 0 0 1rem 0;
        width: 100%;
      }
      & .img-upload{
        width: 100% ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       }
      & .upload-info{
        width: 100% !important;
        padding: 15px 0 10px 0 !important;
        font-size: 14px !important;
      }
      & .imgshow{
        width: 100% !important;
        min-width: 180px !important;
        min-width: 180px !important;
      }
      & .img-title{
        font-size: 16px;
      }
    }
}
  @media screen and (max-width: 640px){
    .logo-list .imgshow{
        width: 300px !important;
      }
  }
</style>
