<template>
  <div class="panel">
    <div class="panel-heading">
      在线用户
      <div class="float-right panel-heading-right">
        <!--<el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>-->
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true"  :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName"  class="width-search120" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="房间号" prop="roomCode">
            <el-select v-model="ruleForm.roomCode" class="width-search100" placeholder="请选择房间号">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in options"
                :key="item.roomCode"
                :label="item.roomCode"
                :value="item.roomCode">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="昵称" prop="nickname">
            <el-input v-model="ruleForm.nickname"  class="width-search100"  placeholder="请输入昵称"></el-input>
          </el-form-item>
          <el-form-item label="角色" prop="memberTypeId">
            <el-select v-model="ruleForm.memberTypeId" class="width-search100" placeholder="请选择角色">
              <el-option label="全部" value=""></el-option>
              <el-option label="成员" value="1"></el-option>
              <el-option label="访客" value="2"></el-option>
              <el-option label="管理员" value="3"></el-option>
              <el-option label="虚假成员" value="4"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="IP" prop="ip">
            <el-input v-model="ruleForm.ip"  placeholder="请输入IP"  class="width-search100"></el-input>
          </el-form-item>
          <el-form-item label="状态" prop="status">
            <el-select v-model="ruleForm.status" class="width-search100" placeholder="请选择状态">
              <el-option label="全部" value=" "></el-option>
              <el-option label="正常" value="2"></el-option>
              <el-option label="禁言" value="1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini"  @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <!-- 表头 -->
        <div class="report-nav rb-row pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false"  :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="房间号" prop="roomCode">
                      <el-select v-model="ruleForm.roomCode" class="width-search100" placeholder="请选择房间号">
                        <el-option label="全部" value=""></el-option>
                        <el-option
                          v-for="item in options"
                          :key="item.roomCode"
                          :label="item.roomCode"
                          :value="item.roomCode">
                        </el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="昵称" prop="nickname">
                      <el-input v-model="ruleForm.nickname"  placeholder="请输入昵称"></el-input>
                    </el-form-item>
                    <el-form-item label="角色" prop="memberTypeId">
                      <el-select v-model="ruleForm.memberTypeId" placeholder="请选择角色">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="成员" value="1"></el-option>
                        <el-option label="访客" value="2"></el-option>
                        <el-option label="管理员" value="3"></el-option>
                        <el-option label="虚假成员" value="4"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="IP" prop="ip">
                      <el-input v-model="ruleForm.ip"  placeholder="请输入IP"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="status">
                      <el-select v-model="ruleForm.status" class="width-search100" placeholder="请选择状态">
                        <el-option label="全部" value=" "></el-option>
                        <el-option label="正常" value="2"></el-option>
                        <el-option label="禁言" value="1"></el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"
             v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
               <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th><div class="cell">在线用户</div></th>
                    <th><div class="cell">在线房间</div></th>
                    <th><div class="cell">昵称</div></th>
                    <th><div class="cell">等级</div></th>
                    <th><div class="cell">角色类型</div></th>
                    <th><div class="cell">IP地址</div></th>
                    <th><div class="cell">地区</div></th>
                    <th><div class="cell">状态</div></th>
                    <th width="50px"><div class="cell">操作</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <!--在线用户-->
                      <td><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                      <!--在线房间-->
                      <td><div class="cell"><span>{{items.roomCode}}</span></div></td>
                      <!--昵称-->
                      <td><div class="cell"><span >{{items.memberTypeId !== 2 ? items.nickname : '---'}}</span></div></td>
                      <!--等级-->
                      <td><div class="cell"><span >{{items.grade}}</span></div></td>
                      <!--角色类型-->
                      <td><div class="cell"><span>{{items.roleName}}</span></div></td>
                      <!--IP地址-->
                      <td><div class="cell"><span >{{items.ip}}</span></div></td>
                      <!--地区-->
                      <td><div class="cell"><span >{{items.location}}</span></div></td>
                      <!--状态-->
                      <td><div class="cell"><span :class="items.isBan ?'color-danger':'color-success'">{{items.isBan ? '禁言':'正常'}}</span></div></td>
                      <!--操作-->
                      <td><div class="cell"><el-button :disabled="items.isBan" type="text" size="mini" @click="openBan(items)"><span :class="items.isBan ? '' : 'color-bluebutton'">禁言</span></el-button></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="9"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails">
              <el-table-column
                label="在线用户"
                min-width="120"
                show-overflow-tooltip
                fixed>
                <template slot-scope="scope"><span class="color-blue">{{ scope.row.userName}}</span></template>
              </el-table-column>
              <el-table-column
                prop="roomCode"
                label="在线房间"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="nickname"
                label="昵称"
                show-overflow-tooltip
                min-width="100">
                <template slot-scope="scope"><span>{{scope.row.memberTypeId !== 2 ? scope.row.nickname : '---'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="等级"
                width="80">
              </el-table-column>
              <el-table-column
                label="角色类型"
                min-width="100"
                prop="roleName">
              </el-table-column>
              <el-table-column
                prop="ip"
                label="IP地址"
                min-width="130">
              </el-table-column>
              <el-table-column
                prop="location"
                label="地区"
                min-width="110">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="60">
                <template slot-scope="scope"><span>{{scope.row.isBan === 'true' ? '禁言':'正常'}}</span></template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          <span @click="openBan(detailData)" >禁言</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <chat-ban-form
      :data="selectData"
      :visible="ChatBanShow"
      v-on:onClose="ChatBanShow = false"
    ></chat-ban-form>
    <popover-right
      :modal="false"
      :visible="detailShow"
      title="在线用户"
      @close="detailShow=false">
      <ul >
        <li>
          <span>在线用户</span>
          <span class="color-blue">{{detailData.userName}}</span>
        </li>
        <li>
          <span>在线房间</span>
          <span>{{detailData.roomCode}}</span>
        </li>
        <li>
          <span>昵称</span>
          <span>{{detailData.memberTypeId !== 2 ? detailData.nickname : '---'}}</span>
        </li>
        <li>
          <span>等级</span>
          <span>{{detailData.grade}}</span>
        </li>
        <li>
          <span>角色类型</span>
          <span>{{detailData.roleName}}</span>
        </li>
        <li>
          <span>IP地址</span>
          <span>{{detailData.ip}}</span>
        </li>
        <li>
          <span>地区</span>
          <span>{{detailData.location}}</span>
        </li>
        <li>
          <span>状态</span>
          <span :class="detailData.isBan === 'true' ?'color-danger':'color-success'">{{detailData.isBan === 'true' ? '禁言':'正常'}}</span>
        </li>
      </ul>
    </popover-right>
  </div>
</template>
<script>
import Api from '@/api/sys'
import Scroll from '@/components/Scroll'
import ChatBanForm from '@/views/newModal/ChatBanForm'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      ChatBanShow: false,
      detailShow: false,
      tableLine: true,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      rwdbtnVisible: false,
      ruleForm: {
        userName: '',
        roomCode: '',
        nickname: '',
        memberTypeId: '',
        ip: '',
        status: ''
      },
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      detailData: {
      },
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      options: []
    }
  },
  mounted () {
    this.getRoomCodeData()
    this.getOrderList(1, 20)
  },
  methods: {
    getRoomCodeData () {
      let submitData = {}
      submitData.pageNum = 1
      submitData.pageSize = 20
      Api.getRoomList(submitData, function () {
      }).then((res) => {
        this.options = res.data.list
      })
    },
    openBan (val) {
      this.selectData = val
      this.selectData.type = 'tenantChatOnline'
      this.ChatBanShow = true
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.getOnlineMemberList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    ChatBanForm
  }
}
</script>
