<template>
  <el-dialog
    :visible.sync="show"
    custom-class="btn-dialog"
    :modal="true"
    :append-to-body="true"
    lock-scroll
    width="100%"
    @closed="closed"
  >
    <slot></slot>
  </el-dialog>
</template>
<script>
import {touchEvent} from '@/utils'
export default {
  data () {
    return {
      show: false
    }
  },
  computed: {
    isApp () {
      return this.$store.state.media.screenWidth >= 768
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: () => {
        return false
      }
    }
  },
  methods: {
    closed () {
      this.$emit('close')
    }
  },
  watch: {
    visible (nv) {
      this.show = nv
      touchEvent(nv)
    }
  }
}
</script>
<style>
</style>
