<template>
  <canvas id="canvas"></canvas>
</template>

<script>
import Build from '@/assets/js/canvas'
export default {
  name: 'Canvas',
  mounted () {
    let app = new Build('canvas')
    app.run()
  }
}
</script>

<style scoped>

</style>
