<template>
  <div class="dafa-loading-bar--spinner">
    <div class="spinner-icon"
         style="animation: w-spinner 400ms linear infinite">
    </div>
  </div>
</template>

<script>
</script>

<style>
  .dafa-loading-bar--spinner {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 6px;
  }
  .dafa-loading-bar--spinner .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: #3FAAF5;
    border-left-color: #3FAAF5;
    border-radius: 50%;
    animation: w-spinner 400ms linear infinite;
  }
  @keyframes w-spinner {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
