<template>
  <div>
    <el-input
      placeholder="请选择日期"
      suffix-icon="el-icon-date"
      :readonly="true"
      v-model="val" @focus="handleFocus">
    </el-input>
    <div class="dialog-">
      <el-dialog
        :visible.sync="show"
        @close="closed"
        :modal="true"
        :show-close="false"
        :append-to-body="true"
        :close-on-click-modal="true"
        custom-class="time-picker-modal"
        width="100%"
      >
        <van-datetime-picker
          v-model="dateTimeValue"
          :type="type"
          @confirm="handleConfirm"
          @cancel="handleCancel"
          :formatter="formatter"
        />
      </el-dialog>
    </div>

    <!--<el-popover-->
      <!--transition="fade-in-bottom"-->
      <!--trigger="manual"-->
      <!--:visible-arrow="false"-->
      <!--v-model="show"-->
      <!--width="100%"-->
      <!--ref="scrollPopover"-->
      <!--placement="bottom-end"-->
      <!--@hide="closed"-->
    <!--&gt;-->

    <!--</el-popover>-->
  </div>
</template>
<script>
import {DateFormatThree, getDate, DateFormatTwo} from '@/utils/Time'
export default {
  data () {
    return {
      show: false,
      dateTimeValue: new Date(),
      val: this.value
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    value: { // 选中的配置
      default: function () {
        return ''
      }
    },
    type: {
      default: function () {
        return 'datetime'
      }
    }
  },
  mounted () {
    this.setValue()
  },
  methods: {
    setValue () {
      if (this.type === 'datetime' || this.type === 'date') {
        if (this.val) {
          if (typeof this.val === 'object') {
            this.dateTimeValue = this.val
          } else {
            let timearr = this.val.replace(' ', '-').split('-')
            if (timearr.length > 3) {
              this.dateTimeValue = getDate(Number(timearr[0]), Number(timearr[1]), Number(timearr[2]), timearr[3])
            } else {
              this.dateTimeValue = getDate(Number(timearr[0]), Number(timearr[1]), Number(timearr[2]), '00:00:00')
            }
          }
        } else {
          this.dateTimeValue = new Date()
        }
      }
      if (this.type === 'time') {
        if (this.val) {
          this.dateTimeValue = this.val
        } else {
          this.dateTimeValue = ''
        }
      }
    },
    formatter (type, value) {
      if (type === 'year') {
        return `${value}年`
      }
      if (type === 'month') {
        return `${value}月`
      }
      if (type === 'day') {
        return `${value}日`
      }
      if (type === 'hour') {
        return `${value}点`
      }
      if (type === 'minute') {
        return `${value}分`
      }
      return value
    },
    handleFocus () {
      this.show = true
    },
    handleCancel () {
      this.show = false
    },
    handleConfirm (v) {
      if (this.type === 'datetime') {
        this.val = DateFormatTwo(v, 'yyyy-MM-dd hh:mm:ss')
      }
      if (this.type === 'date') {
        this.val = DateFormatTwo(v, 'yyyy-MM-dd')
      }
      if (this.type === 'time') {
        this.val = DateFormatThree(v, 'hh:mm:ss')
      }
      this.$emit('input', this.val)
      this.show = false
    },
    closed () {
      this.$emit('close')
      this.show = false
    }
  },
  beforeDestroy () {
  },
  watch: {
    visible (nv) {
      this.show = nv
      this.$nextTick(() => {
      })
    },
    'value' (val, old) {
      if (this.type === 'datetime') {
        if (val) {
          if (typeof val === 'object') {
            this.val = DateFormatTwo(val, 'yyyy-MM-dd hh:mm:ss')
          } else {
            this.val = DateFormatThree(val, 'yyyy-MM-dd hh:mm:ss')
          }
        } else {
          this.val = ''
        }
      }
      if (this.type === 'date') {
        if (val) {
          if (typeof val === 'object') {
            this.val = DateFormatTwo(val, 'yyyy-MM-dd')
          } else {
            this.val = DateFormatThree(val, 'yyyy-MM-dd')
          }
        } else {
          this.val = ''
        }
      }
      if (this.type === 'time') {
        if (val) {
          let currentDate = new Date()
          this.val = DateFormatThree(getDate(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate(), val), 'hh:mm:ss')
        } else {
          this.val = ''
        }
      }
      this.setValue()
      // console.log(this.val)
    }
  }
}
</script>
<style>
.time-picker{
  & .el-popover{
    position: fixed !important;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  & .van-picker__toolbar{
    align-items: center;
  }
}
/*.fade-in-bottom-enter-active{*/
  /*animation:fadeBottomIn .5s ;*/
/*}*/
/*.time-back-bg{*/
  /*background: rgba(0 , 0, 0, 0.3);*/
  /*width: 100%;*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*height: 100%;*/
/*}*/

</style>
