<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      :title="title"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="small-reveal-modal index-banner-modal">
      <div v-if="statusFetch">数据加载中123...</div>
      <template v-else>
        <div class="imgUpload banner-style" v-loading="loading"
             element-loading-customClass="loadingClass"  element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="saveForm">
          <simple-croppa
            :width="limitWidth"
            :height="limitHeight"
            :previewWidth="previewWidth"
            :previewHeight="previewHeight"
            :backgroundShow="false"
            :placeholder="title"
            ref="activityCover"
            v-model="coverCroppa"
            :adjustBtnShow="true"
            :zoomSpeed="20"
            :recommends="[]"
            @move="handleCoverMove"
            @zoom="handleCoverZoom"
            @new-image="handleCoverNewImage"
            @image-remove="handleCoverRemove"
            :initImage="initImage"
          >
            <!--<span slot="operArea" class="oper-area">-->
            <!--<el-button type="primary" icon="close" size="small" @click="coverCroppa.remove()"></el-button>-->
            <!--</span>-->
            <span slot="operArea" class="oper-area">
            <el-button-group>
            <!--<el-button type="primary" icon="fa fa-camera-retro" size="mini" @click="$refs.activityCover.chooseFile()" title="选择图片"></el-button>-->
            <el-button type="primary" icon="el-icon-close" size="mini" class="picremovebtn" title="移除图片" @click="initImage = '';coverCroppa.remove();coverCroppa.refresh()"></el-button>
            </el-button-group>
            </span>
            <!--<span slot="operArea" class="pic-box">-->
                <!--<span title="修改" class="pic-edit" @click="coverCroppa.remove();$refs.activityCover.chooseFile()"></span>-->
                <!--<span  v-show="initImage" @click="coverCroppa.remove();coverCroppa.refresh()" title="移除图片" class="pic-remove"><i class="el-icon-error"></i></span>-->
            <!--</span>-->
            <span slot="cover" class="cover" @click="coverCroppa.remove();coverCroppa.chooseFile()">
                <!--<span>{{title}}</span>-->
                <span class="flag"><i class="fa fa-camera-retro"></i></span>
                 <span class="text-center picture-size-style" >图片尺寸 <em>{{limitWidth}}*{{limitHeight}}</em></span>
            </span>
          </simple-croppa>
        </div>
        <div class="banner-selectedbox">
          <el-form :model="form" ref="form" :rules="rules" class="no-padding margin-t">
            <el-form-item label="链接地址" :label-width="screenW > 1023 ? '80px':''" prop="link">
              <el-col >
                <el-select v-model="form.link" placeholder="请选择链接地址">
                  <el-option
                    v-for="item in options"
                    :key="item.name"
                    :label="item.name"
                    :value="item.opvalue">
                  </el-option>
                </el-select>
              </el-col>
              <template v-if="form.link === ''">
                <!--<el-col class="line text-center" :span="1">-</el-col>-->
                <el-col>
                  <el-input v-model="form.otherLink" placeholder="自定义链接请使用http://或https开头" class="margin-t4"></el-input>
                </el-col>
              </template>
            </el-form-item>
          </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear" size="mini">取 消</el-button>
          <el-button :disabled="readOnly" type="primary" @click="saveForm" :loading="submitLoading" size="mini">{{submitLoading ? '正在加载中' :'确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import SimpleCroppa from '@/components/SimpleCroppa'
import Api from '@/api/sys'
import {validateRules} from '@/utils/validateRules'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateLink = (rule, value, callback) => {
      if (this.form.link === '') {
        let vdt = validateRules.vdata(this.form.otherLink, {
          'required': {msg: '请输入自定义链接地址'},
          'url': {msg: '格式错误，需以http://或https://开头'},
          'maxlength': {param: '127', msg: '最大值不能超过127位'},
          'minlength': {param: '6', msg: '最小值不能低于6位'}
        })
        if (!vdt.result) {
          callback(new Error(vdt.msg))
        }
      }
      callback()
    }
    return {
      previewWidth: null,
      previewHeight: null,
      showBlogForm: false,
      statusFetch: false,
      coverCroppa: {},
      initImage: '',
      croppa: {},
      readOnly: false,
      hi: true,
      linkVisible: false,
      form: {
        name: '',
        link: '首页',
        linkName: '',
        otherLink: ''
      },
      options: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      type: '',
      pcLinkData: {
        '/index': '首页',
        '/lotteryHall': '购彩大厅',
        '/mobile': '手机购彩',
        '/activity': '活动中心',
        '/help': '帮助指南'
      },
      mobileLinkData: {
        '/index': '首页',
        '/activity': '活动中心',
        '/userCenter': '我的账户',
        '/AppDownload': 'APP下载'
      },
      limitWidth: 0,
      limitHeight: 0,
      hasNewCover: false,
      rules: {
        link: [
          { validator: validateLink, trigger: 'blur' }
        ]
      }
    }
  },
  components: {
    SimpleCroppa
  },
  props: {
    visible: Boolean,
    data: {
      type: Object,
      default: () => {
        return {}
      }
    },
    title: String,
    width: {
      type: Number,
      default: () => {
        return this.limitWidth
      }
    },
    height: {
      type: Number,
      default: () => {
        return this.limitHeight
      }
    }
  },
  methods: {
    closeClear () {
      this.$refs.activityCover.remove()
      this.resetForm('form')
      this.$emit('onClose')
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    handleCoverMove () {
      this.hasNewCover = true
    },
    handleCoverZoom () {
      this.hasNewCover = true
    },
    handleCoverRemove () {
      this.hasNewCover = false
    },
    handleCoverNewImage () {
      this.hasNewCover = true
    },
    saveForm () {
      this.submitLoading = true
      this.$refs['form'].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = new FormData()
        if (this.type.toLowerCase() === 'pc') {
          submitData.append('type', 1)
          this.form.type = 1
        }
        if (this.type.toLowerCase() === 'mb') {
          submitData.append('type', 2)
          this.form.type = 2
        }
        // Object.assign(submitData, this.ruleForm)
        // submitData['image-file'] = this.fileList[0]
        // console.log(submitData)
        let obj = this
        if (!this.form.id && !this.coverCroppa.getChosenFile()) {
          this.submitLoading = false
          this.msgError('请上传图片')
          return
        }
        if (this.form.id) {
          submitData.append('id', this.form.id)
        }
        if (this.form.link === '') {
          submitData.append('link', this.form.otherLink)
        } else {
          submitData.append('link', this.form.link)
        }
        if (this.coverCroppa.getChosenFile()) {
          this.coverCroppa.generateBlob((blob) => {
            let chosenFile = this.coverCroppa.getChosenFile()
            let filename = 'default.png'
            if (chosenFile) {
              filename = this.coverCroppa.getChosenFile().name
            }
            submitData.append('image-file', blob, filename)
            Api.saveImageBannerImgHomePcMobile(submitData, function () {
              obj.submitLoading = false
            }).then((res) => {
              this.$nextTick(function () {
                obj.submitLoading = false
              })
              this.msgSuccess('保存成功')
              this.showBlogForm = false
              this.$parent.getBanner()
            })
          }, 'image/png', 1)
          return
        }
        Api.saveImageBannerImgHomePcMobile(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('保存成功')
          this.showBlogForm = false
          this.$parent.getBanner()
        })
      })
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          this.form.id = this.data.id
          this.form.linkName = this.data.linkName
          this.form.name = this.data.name
          if (this.data.url) {
            this.initImage = this.data.url
            if (this.$refs.activityCover && this.$refs.activityCover.refresh) {
              this.$refs.activityCover.refresh()
            }
          }
          this.limitWidth = this.data.width
          this.limitHeight = this.data.height
          if (this.data.linkName === '其它') {
            this.form.otherLink = this.data.link
            this.form.link = ''
          } else {
            if (!this.form.id) {
              this.form.link = '/index'
              this.form.otherLink = ''
            } else {
              this.form.link = this.data.link
              this.form.otherLink = ''
            }
          }
          this.type = this.data.type
          if (this.type === 'PC') {
            // let contain = document.querySelector('.cropper-wrapper')
            // let offsetWidth = contain.offsetWidth
            // let height = offsetWidth * 0.51
            // contain.style.height = height + 'px'
            // this.previewWidth = offsetWidth
            // this.previewHeight = height
            this.options = [
              {name: '首页', opvalue: '/index'},
              {name: '购彩大厅', opvalue: '/lotteryHall'},
              {name: '手机购彩', opvalue: '/mobile'},
              {name: '活动中心', opvalue: '/activity'},
              {name: '帮助指南', opvalue: '/help'},
              {name: '其它', opvalue: ''}
            ]
          }
          if (this.type === 'MB') {
            // let contain = document.querySelector('.cropper-wrapper')
            // let offsetWidth = contain.offsetWidth
            // let height = offsetWidth * 0.406
            // contain.style.height = height + 'px'
            // this.previewWidth = offsetWidth
            // this.previewHeight = height
            this.options = [
              {name: '首页', opvalue: '/index'},
              {name: '活动中心', opvalue: '/activity'},
              {name: '我的账户', opvalue: '/userCenter'},
              {name: 'APP下载', opvalue: '/AppDownload'},
              {name: '其它', opvalue: ''}
            ]
          }
          if (typeof this.coverCroppa.refresh === 'function') {
            this.coverCroppa.refresh()
          }
          this.loading = false
        })
      }
    }
  }
}
</script>
