<template>
  <div class="multiple-select large-up-8 medium-up-6 small-up-4 row">
    <div class="multiple-items"
         :class="{'active': i.show}"
         v-for="(i, index) in leveaList"
         :key="index"
         @click="handelSelect(i)"
    ><a>{{i.value}}<span></span></a></div>
  </div>
</template>
<script>
export default {
  name: 'MultipleSelect',
  data () {
    return {
      val: this.value,
      resultLevel: null
    }
  },
  computed: {
    leveaList () {
      return this.compare()
    }
  },
  props: {
    level: { // 全部的配置
      type: Array,
      default: function () {
        return []
      }
    },
    value: { // 选中的配置
      type: Object,
      default: function () {
        return {isChangeValue: false, value: []}
      }
    }
  },
  watch: {
    'value' (val, old) {
      this.val = val
    }
  },
  methods: {
    handelSelect (i) {
      i.show = !i.show
      this.val.isChangeValue = true
      this.val.value = this.select()
      // console.log('value', this.val)
      this.$emit('input', this.val)
    },
    compare () {
      this.resultLevel = JSON.parse(JSON.stringify(this.level))
      for (let i = 0, length = this.val.value.length; i < length; i++) {
        for (let j of this.resultLevel) {
          if (this.val.value[i] === j.key) {
            this.$set(j, 'show', true)
          }
        }
      }
      return this.resultLevel
    },
    select () {
      let arr = []
      for (let i of this.leveaList) {
        if (i.show === true) {
          arr.push(i.key)
        }
      }
      return arr
    }
  }
}
</script>
<style>
  .multiple-select{
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    width: 100%;
  }
  @media screen and (max-width: 768px){
    .multiple-select{
      font-size: 14px;
    }
  }
  /*.multiple-select{*/
    /*display:flex;*/
    /*flex-wrap: wrap;*/
  /*}*/
  /*.multiple-select > div {*/
    /*margin-bottom: 6px;*/
    /*min-width:50px;*/
    /*text-align: center;*/
    /*line-height: initial;*/
    /*padding: 0 4px 0 0;*/
    /*& a {*/
      /*border:1px solid #ddd;*/
      /*position: relative;*/
      /*white-space: nowrap;*/
      /*padding: 0 5px;*/
      /*line-height: 24px;*/
      /*display: block;*/
      /*height: 24px;*/
      /*font-size: 12px;*/
      /*background: #f6f6f6;*/
    /*}*/
    /*&.active a{*/
      /*border-color: var(--color-primary);*/
    /*}*/
    /*& span {*/
      /*position: absolute;*/
      /*opacity: 0;*/
      /*right: 0;*/
      /*bottom: 0;*/
      /*display: block;*/
      /*width: 15px;*/
      /*height: 15px;*/
      /*background: url("../assets/img/checked.png") right bottom;*/
      /*color: #fff;*/
    /*}*/
    /*&.active span{*/
      /*display: block;*/
      /*opacity: 1;*/
    /*}*/
  /*}*/
</style>
