<template>
  <div class="panel-heading">
    {{title}}
    <a class="margin-l10"><slot name="setting"><span class="el-icon-setting"></span></slot></a>
    <div class="float-right panel-heading-right">
      <slot name="panel-tools"></slot>
      <!--<el-button-->
      <!--size="small"-->
      <!--type="primary"-->
      <!--plain-->
      <!--&gt;-->
      <!--保 存-->
      <!--</el-button>-->
      <!--<el-button size="small" type="success" icon="plus" @click="catalogVisible = true">创建子部门</el-button>-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'PanelHeading',
  data () {
    return {}
  },
  props: {
    title: {
      type: String,
      default: function () {
        return '标题'
      }
    }
  }
}
</script>

<style scoped>

</style>
