<template>
  <div>
    <el-popover
      :popper-class="modal? 'custom-popover light-box no-padding' : 'rwddetail-modal no-padding'"
      transition="fade-in-right"
      trigger="manual"
      :visible-arrow="false"
      v-model="show"
      ref="scrollPopover"
      @hide="closed" >
      <div class="popover-header bg-primary" v-if="title">
        <div class="left" @click="closed"><i class="el-icon-arrow-left"></i></div>
        <div class="title" v-html="title"></div>
        <div class="right-btn">
          <slot name="right-btn-box">
          </slot>
        </div>
      </div>
      <div class="popover-header-no" v-else>
        <div class="popover-close" @click="closed"><i class="el-icon-close"></i></div>
      </div>
      <div class="popover-scroll-wrapper border-b" :class="!lock?'lock':''">
        <div class="popover-scroll">
          <slot></slot>
        </div>
      </div>
      <slot name="btn"></slot>
      <div slot="reference">
        <slot name="reference"></slot>
      </div>
    </el-popover>
    <div class="black-area" ref="modal" v-if="modal && show" @click="closed" :class="{'is-open': show}"></div>
  </div>
</template>
<script>
import {touchEvent} from '@/utils'
export default {
  data () {
    return {
      show: false,
      scrollEl: null
    }
  },
  props: {
    visible: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    modal: {
      type: Boolean,
      default: () => {
        return true
      }
    },
    lock: { // 是否启用 true：启用
      type: Boolean,
      default: () => {
        return true
      }
    },
    isClick: { // 是否启用 click：启用
      type: Boolean,
      default: () => {
        return true
      }
    },
    isScroll: {
      type: Boolean,
      default: () => {
        return false
      }
    },
    title: {
      type: String,
      default: () => {
        return ''
      }
    }
  },
  methods: {
    closed () {
      this.$emit('close')
    }
  },
  beforeDestroy () {
    if (!this.scrollEl) return
    this.scrollEl.destroy()
    this.scrollEl = null
  },
  watch: {
    visible (nv) {
      this.show = nv
      this.$nextTick(() => {
        if (this.modal && nv) {
          let madal = this.$refs.modal
          let bodyEl = document.body
          bodyEl.insertBefore(madal, bodyEl.childNodes[0])
        }
        if (!this.lock) return
        if (!this.modal || (this.isScroll && !this.scrollEl)) {
          let _this = this
          setTimeout(() => {
            let id = _this.$refs.scrollPopover.$refs.popper.id
            document.getElementById(id).style.height = document.body.clientHeight + 'px'
            if (_this.isClick) {
              _this.scrollEl = new window.IScroll(`#${id} .popover-scroll-wrapper`, {
                mouseWheel: true,
                click: true
              })
            } else {
              _this.scrollEl = new window.IScroll(`#${id} .popover-scroll-wrapper`, {
                mouseWheel: true
              })
            }
          }, 300)
        }
      })
      if (!this.lock) return
      touchEvent(nv)
    }
  }
}
</script>
<style>
  .light-box .popover-scroll-wrapper{
    padding: 0 1rem;

  }
  .light-box.el-popover {
    border: none;
    height: 100% !important;
    border-radius: 0;
    top: 0 !important;
    margin: 0 !important;
    position: fixed !important;
  }
  .popover-header-no {
    height: 50px;
  }
  .popover-header{
    height: 50px;
    display: flex;
    align-items: center;
    flex-grow: 3;
    font-size: 1rem;
    color: #fff;
    & > div {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    & .left {
      width: 50px;
      font-size: 1.6rem;
    }
  }
  .popover-scroll-wrapper {
    width: 100%;
    overflow: hidden;
    height: calc(100% - 116px);
    &.lock {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
  .popover-scroll {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    min-height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
  }
  .right-btn {
    position: absolute;
    right: 10px;
  }
</style>
