<template>
  <el-dialog
    :visible.sync="showBlogForm"
    title="查看照片"
    :top="'30px'"
    @close="closeClear"
    :close-on-click-modal="false"
    custom-class="preview-reveal-modal"
    ref="previewImage"
    @keyup.native.39="next()"
    @keyup.native.37="prev()"
    tabindex="-1"
  >
    <div v-if="statusFetch">数据加载中...</div>
    <template v-else>
      <el-carousel ref="carousel" :autoplay="false" :initial-index="swiperIndex" indicator-position="outside" arrow="always" @change="changeIndex" v-loading="loading"
                   element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon">
        <div class="pic-items">
          <el-carousel-item v-for="item in List" :key="item.id">
            <div :style="`background:#171717;transform: rotate(${item.rotate}deg)`" :class="{'active': item.rotate}" class="">
              <img :src="item.url"/>
            </div>
          </el-carousel-item>
        </div>

      </el-carousel>
      <div slot="footer" class="dialog-footer pic-footer">
        <div class="picName">
          {{picName}}
        </div>
        <div class="rotateButton" >
          <span @click="rotatePic(-1)"><i class="dafa-icon dafa-icon-refresh  opposite-icon"></i></span>
          <span @click="rotatePic(1)"><i class="dafa-icon dafa-icon-refresh"></i></span>
        </div>
      </div>
    </template>
  </el-dialog>
</template>
<script>
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      showBlogForm: false,
      statusFetch: false,
      readOnly: false,
      autoplay: false,
      swiperIndex: 0,
      rotate: 0,
      List: [],
      picName: ''
    }
  },
  props: {
    visible: Boolean,
    data: Object

  },
  methods: {
    prev () {
      this.$refs.carousel.prev()
    },
    next () {
      this.$refs.carousel.next()
    },
    changeIndex (i) {
      this.swiperIndex = i
      this.picName = this.List[i].name
    },
    closeClear () {
      this.List = []
      this.$emit('onClose')
    },
    rotatePic (flag) {
      this.List[this.swiperIndex].rotate += flag * 90
      this.$set(this.List, this.swiperIndex, this.List[this.swiperIndex])
    }
  },
  watch: {
    visible (nv) {
      this.showBlogForm = nv
      if (nv) {
        this.loading = true
        this.$nextTick(function () {
          // this.initData()
          this.List = []
          if (this.data.imageData) {
            this.List = this.data.imageData
            for (let item in this.List) {
              this.List[item].rotate = 0
            }
            this.swiperIndex = this.data.index
            this.$nextTick(function () {
              this.$refs.carousel.setActiveItem(this.swiperIndex)
              this.loading = false
            })
          } else {
            this.loading = false
          }
        })
      }
    }
  }
}
</script>
<style scoped>
  @import '../assets/css/variable.css';
  .el-carousel__item div {
    color: #fff;
    font-size: 18px;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align:center;
    padding: 5px;
    background: #fff;
    transition: 0.5s;
    & img{
      max-height: 100%;
    }
  }
  .rotateButton{
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 0 ;
    & span{
      position: relative;
      width: 30px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 2px;
      cursor: pointer;
    }
    & span:after{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0px;
      height: 0px;
      border-radius: 50%;
      z-index: 1;
      background: rgba(255,255,255,0.5);
      content: '';
      transition: all .3s;
    }
    & span:hover:after{
      width: 100%;
      height: 100%;
    }
    & i{
      font-size: 20px !important;
      color: #fff;
      cursor: pointer;
    }
  }

  .el-dialog__body{
    position: relative;
  }
  .opposite-icon{
    display: inline-block;
    transform:scaleX(-1);
    filter:FlipH;
  }
  .el-carousel__item div.active {
    transform: rotate(-90deg);
  }
  .el-carousel__item p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    position: relative;
    z-index: 3;
  }
  .el-carousel__item i {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 26px !important;
    transform:scaleX(-1);
    filter:FlipV;
  }
  .el-carousel__item i.active {
    transform:scaleX(1);
  }
  .picName{
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    & >div{
      display: inline-block;
      padding:  0 0 0 10px;
    }
    & i {
      font-size: 16px !important;
      color: #fff;
    }
  }
  .pic-footer{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 30px;
  }
  .rotateButton{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  @media screen and (max-width: 400px){
    .rotateButton{
      left: auto;
      right: 54px;
      top: 13px;
    }
    .pic-footer{
      position: initial;
    }
  }
</style>
