<template>
  <div class="scroll-wrapper el-table" :class="id">
    <div class="content" :class="{ready: isScroll}">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      scrollEl: null,
      isScroll: true
    }
  },
  computed: {
    isApp () {
      return this.$store.state.media.screenWidth >= 768
    }
  },
  props: {
    id: {
      type: String,
      default: () => {
        return 'scroll-wrapper'
      }
    }
  },
  mounted () {
    // 阻止默认滚动
    this.$nextTick(() => {
      if (this.isApp) return
      if (!this.id) {
        return
      }
      let scrollEl = document.querySelector(`.${this.id}`)
      let content = scrollEl.querySelector('.content')
      let clientWidth = document.documentElement.clientWidth
      if (content.offsetWidth <= clientWidth) {
        this.isScroll = false
        return
      }
      this.isScroll = true
      setTimeout(() => {
        this.scrollEl = new window.IScroll(`.${this.id}`, {
          eventPassthrough: true,
          scrollX: true,
          scrollY: false,
          preventDefault: false
        })
        let fiexedTable = scrollEl.querySelector('.el-table__fixed')
        if (fiexedTable) {
          scrollEl.insertBefore(fiexedTable, scrollEl.childNodes[0])
        }
      }, 300)
    })
  },
  beforeDestroy () {
    if (this.isApp) return
    // window[`myScroll${this.id}header`].destroy()
    if (!this.scrollEl) return
    this.scrollEl.destroy()
    this.scrollEl = null
    this.isScroll = false
  }
}
</script>
<style>
  @media screen and (max-width: 768px){
    .scroll-wrapper {
      overflow: hidden;
      touch-action: pan-y pinch-zoom;
      position: relative;
    }
    .scroll-wrapper .ready.content{
      /*height: 419px;*/
      overflow: hidden;
      width: fit-content;
    }
    .ready .el-table--fit {
      width: fit-content;
      max-width: fit-content !important;
    }
    .ready .el-table__body-wrapper , .ready .el-table__header-wrapper {
      width: fit-content;
    }
  }
</style>
