<template>
  <div class="cropper-wrapper" @mouseenter="handleMouseEnter">
    <template  v-show="!coverShow">
      <div @click="croppa.chooseFile()">
        <croppa
          ref="croppaRef"
          v-model="croppa"
          :zoom-speed="zoomSpeed"
          :width="limitWidth"
          :height="limitHeight"
          :previewWidth="previewWidth"
          :previewHeight="previewHeight"
          :quality="1"
          :prevent-white-space="true"
          :show-remove-button="false"
          @new-image="newImage"
          @move="handleCroppaMove"
          @zoom="handleCroppaZoom"
          @file-choose="handleFileChoose"
          @image-remove="handleImageRemove"
          @draw="handleDraw"
          :initial-size="initialSize"
          initial-position="center"
          :placeholder="placeholders"
          :placeholder-font-size="14"
          :show-loading="false"
        >
          <img crossOrigin="anonymous" :src="initialImage"
               slot="initial">
          <div class="spinner" v-if="croppa && croppa.loading"></div>
        </croppa>
      </div>
      <slot name="operArea"></slot>
      <span class="adjust-position" @click="adjustShow=false" v-show="adjustShow && adjustBtnShow">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i> <span>拖动调整位置，滚动调整大小</span>
      </span>
      <div class="croppabutton-area">
        <span><i class="dafa-icon dafa-icon-refresh  opposite-icon" @click="handleRotateLeft"></i></span>
        <span><i class="dafa-icon dafa-icon-refresh" @click="handleRotateRight"></i></span>
      </div>
    </template>
    <slot name="cover" v-if="coverShow"></slot>
  </div>
</template>
<script>
import Croppa from '@/components/croppa'
import api from '@/api'
export default {
  props: {
    value: Object,
    width: {
      type: Number,
      default: function () {
        return 0
      }
    },
    height: {
      type: Number,
      default: function () {
        return 0
      }
    },
    previewWidth: {
      type: Number,
      default: function () {
        return 0
      }
    },
    previewHeight: {
      type: Number,
      default: function () {
        return 0
      }
    },
    adjustBtnShow: {
      type: Boolean,
      default: function () {
        return true
      }
    },
    zoomSpeed: {
      type: Number,
      default: function () {
        return 10
      }
    },
    quality: {
      type: Number,
      default: function () {
        return 1
      }
    },
    initImage: [String, Image],
    placeholder: String,
    recommends: {
      type: Array,
      default: function () {
        return []
      }
    },
    onAfterFileChoose: {
      type: Function,
      default: null
    },
    onAfterRotateLeft: {
      type: Function,
      default: null
    },
    onAfterRotateRight: {
      type: Function,
      default: null
    },
    onAfterDraw: {
      type: Function,
      default: null
    }
  },
  data () {
    return {
      croppa: {},
      groupMenusShow: false,
      adjustShow: false,
      coverShow: true,
      initialImage: null,
      initialSize: 'cover',
      isChooseFile: false,
      limitWidth: 100,
      limitHeight: 100
    }
  },
  components: {
    Croppa
  },
  methods: {
    handleFileChoose () {
      this.isChooseFile = true
      if (typeof this.onAfterFileChoose === 'function') {
        this.onAfterFileChoose()
      }
      // console.log('isChooseFile', this.isChooseFile)
    },
    chooseFile () {
      this.$refs.croppaRef.scaleRatio = null
      this.croppa.chooseFile()
    },
    random () {
      let random = Math.floor(Math.random() * this.recommends.length)
      this.setImage(this.recommends[random].imgSrc)
    },
    setImage (imgSrc) {
      this.croppa.remove()
      this.coverShow = false
      this.initialImage = imgSrc
      this.croppa.refresh()
      this.$emit('new-image', imgSrc)
    },
    handleRotateLeft () {
      this.croppa.rotate(-1)
      if (typeof this.onAfterRotateLeft === 'function') {
        this.onAfterRotateLeft()
      }
    },
    handleRotateRight () {
      this.croppa.rotate()
      if (typeof this.onAfterRotateRight === 'function') {
        this.onAfterRotateRight()
      }
    },
    handleMouseEnter () {
    },
    handleCroppaMove () {
      this.adjustShow = false
      this.uploadCroppaedImage()
      this.$emit('move')
    },
    handleCroppaZoom () {
      this.adjustShow = false
      this.uploadCroppaedImage()
      this.$emit('zoom')
    },
    handleImageRemove () {
      this.adjustShow = false
      this.coverShow = true
      this.$emit('image-remove')
    },
    handleDraw () {
      // console.log('11', this.$refs.croppaRef.$el.querySelector('canvas'))
      let width = this.limitWidth
      let height = this.limitHeight
      let percentage = 0
      if (this.limitWidth > this.previewWidth) {
        percentage = this.previewWidth / this.limitWidth
      }
      if (this.limitHeight > this.previewHeight) {
        if (this.previewHeight / this.limitHeight < percentage) {
          percentage = this.previewHeight / this.limitHeight
        }
      }
      if (percentage > 0) {
        width = this.limitWidth * percentage
        height = this.limitHeight * percentage
      }
      this.$refs.croppaRef.$el.querySelector('canvas').style.maxWidth = width + 'px'
      this.$refs.croppaRef.$el.querySelector('canvas').style.maxHeight = height + 'px'
      let contain = document.querySelector('.cropper-wrapper')
      contain.style.height = height + 'px'
      // contain.style.width = width + 'px'
      if (typeof this.onAfterDraw === 'function') {
        this.onAfterDraw()
      }
    },
    newImage () {
      this.coverShow = false
      this.adjustShow = true
      this.$emit('new-image')
    },
    uploadCroppaedImage () {
    },
    openPicLib () {
      this.$emit('openPicLib', this)
    },
    upload (param, callbackFunc) {
      if (!this.croppa.hasImage()) {
        return Promise.reject(new Error('没有图片'))
      }
      let promise = new Promise((resolve, reject) => {
        this.croppa.generateBlob((blob) => {
          let fd = new FormData()
          let chosenFile = this.croppa.getChosenFile()
          let filename = 'default.png'
          if (chosenFile) {
            filename = this.croppa.getChosenFile().name
          }
          // fd = {
          //   'aa': 1
          // }
          fd.append('image-file', blob, filename)
          // param.append('id', 1)
          for (let item in param) {
            fd.append(item, param[item])
          }

          api.uploadBanner(fd, callbackFunc)
            .then((data) => {
              resolve(data)
            }).catch(e => {
              reject(e)
            })
        }, 'image/png', 1)
      })
      return promise
    },
    uploadPlatformBanner (param, callbackFunc) {
      if (!this.croppa.hasImage()) {
        return Promise.reject(new Error('没有图片'))
      }
      var promise = new Promise((resolve, reject) => {
        this.croppa.generateBlob((blob) => {
          // let url = URL.createObjectURL(blob)
          // let a = document.createElement('a')
          // a.download = 'filename'
          // a.href = url
          // a.click()
          // URL.revokeObjectURL(url)
          let fd = new FormData()
          let chosenFile = this.croppa.getChosenFile()
          let filename = 'default.png'
          if (chosenFile) {
            filename = this.croppa.getChosenFile().name
          }
          // fd = {
          //   'aa': 1
          // }
          fd.append('image-file', blob, filename)
          // param.append('id', 1)
          for (let item in param) {
            fd.append(item, param[item])
          }
          api.uploadPlatformBanner(fd, callbackFunc)
            .then((data) => {
              resolve(data)
            }).catch(e => { reject(e) })
        }, 'image/png', 1)
      })
      return promise
    },
    refresh () {
      this.coverShow = !this.initImage
      if (this.croppa && this.croppa.refresh) {
        this.croppa.refresh()
      }
      // this.croppa.refresh()
    },
    remove () {
      this.croppa.remove()
      this.coverShow = true
    }
  },
  mounted () {
    this.initialImage = this.initImage
    this.coverShow = !this.initImage
    if (this.croppa && this.croppa.refresh) {
      this.croppa.refresh()
    }
  },
  computed: {
    recommendShow () {
      return this.recommends && this.recommends.length > 0
    },
    placeholders () {
      return this.croppa && this.croppa.loading ? '' : this.placeholder
    }
  },
  watch: {
    initImage (nv, ov) {
      this.initialImage = nv
      this.refresh()
    },
    value (nv, ov) {
      this.croppa = nv
    },
    croppa (nv, ov) {
      this.$emit('input', nv)
    },
    width (nv, ov) {
      this.limitWidth = nv
    },
    height (nv, ov) {
      this.limitHeight = nv
    }
  }
}
</script>
<style>
  @import '../assets/css/variable.css';
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    margin-left: -35px;
    margin-top: -35px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border: 3px solid #ddd;
    border-top: 3px solid #42a5f5;
    border-radius: 50%;
  }

  @-webkit-keyframes spin {
    to {
      border-top-color: #ec407a;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    to {
      border-top-color: #ec407a;
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .cropper-wrapper{
    position: relative;
    & canvas {
      background: transparent;
    }
    & .croppa-container {
      background: transparent;
      display: flex;
      /*box-shadow: 0 0 1px rgba(0,0,0,.1);*/
    }
    & .oper-area{
      position: absolute;
      top: 0;
      right: 0;
      /*display: none;*/
      & .el-button{
        /*background-color: transparent;*/
        /*border: transparent;*/
        margin: 0px;
        font-size: 16px;
      }
    }
    & .cover{
      position: absolute;
      z-index: 199;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background: rgba(210,210,210,1);
      & span {
        position: relative;
        top: 30px;
        font-size: 14px;
        color: #666;
      }
      & .flag{
        position: absolute;
        left: 0;
        right: 0;
        top: -18px;
        bottom: 0;
        margin: auto;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        overflow: hidden;
        background: #5aab5a;
        color: #fff;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    & .fa {
      margin: 0 auto;
    }
    & .el-button-group {
      margin-left: 60px;
    }
    & .adjust-position {
      width: 222px;
      display: block;
      position: absolute;
      background: rgba(0, 0, 0, .5);
      padding: 6px 10px;
      line-height: 24px;
      left: 50%;
      top: 50%;
      margin: -18px 0 0 -108px;
      color: #fff;
    }
  }
  .croppabutton-area{
    display: none;
    justify-content: center;
    padding: 20px 0 0 0;
    & .opposite-icon{
      display: inline-block;
      transform:scaleX(-1);
      filter:FlipH;
    }
    & i{
      font-size: 20px !important;
      cursor: pointer;
      margin: 0 10px;
      position: relative;
      z-index: 2;
      }
    & span {
      position: relative;
      display: inline-block;
      &:after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background: #eee !important;
        content: '';
        transition: all .3s;
        z-index: 1;
      }
    }
    & span:hover:after{
      width: 30px;
      height: 30px;
    }
  }
  @media screen and (max-width: 768px){
    .fa-camera-retro {
      font-size: 26px !important;
    }
  }
  @media screen and (max-width: 500px){
    .cropper-wrapper .cell .flag{
        top: -10px;
        height: 35px;
        width: 35px;
        font-size: 14px;
      }
  }

</style>
