<template>
  <div class="slide-right" :class="{open: modVisible}">
    <div class="mod">
      <div class="mod-header">
        <div class="title">{{title}}</div>
        <div class="mod-tools">
          <slot name="mod-tools"></slot>
          <div class="close" title="关闭" @click="modVisible = false"><i class="el-icon-close"></i></div>
        </div>
      </div>
      <div class="mod-con scrollCss">
        <slot name="mod-con"></slot>
      </div>
        <slot name="mod-footer"></slot>
    </div>
    <div class="reveal-modal" v-if="modal"></div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      modVisible: false
    }
  },
  props: {
    title: String,
    visible: {
      type: Boolean,
      default: function () {
        return false
      }
    },
    modal: {
      type: Boolean,
      default: function () {
        return true
      }
    }
  },
  watch: {
    visible (nv, ov) {
      this.modVisible = nv
    },
    modVisible (nv) {
      // console.log(nv)
      if (!nv) this.$emit('close')
    }
  }
}
</script>
<style>
  .slide-right {
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 700px;
    background: #fff;
    transform: translateX(100%);
    transition: transform .5s ease-in;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    &.open{
      transform: translateX(0);
    }
    & .mod-header {
      display: flex;
      justify-content: space-between;
    }
    & .mod-tools {
      list-style: none;
      width: auto;
      display: flex;
      align-items: center;
      & li{
        padding: 6px;
        transition: background .3s linear;
        cursor: pointer;
        &:hover {
          background: #eee;
          border-radius: 4px;
        }
      }
      & .close {
        font-size: 18px;
        color: var(--color-secondary);
        cursor: pointer;
        padding: 0 10px;
        height: 34px;
        line-height: 34px;
        margin-left: 10px;
        border-radius: 4px;
        &:hover {
          color: var(--color-primary);
          background: #eee;
        }
      }
    }
  }
  .site-edit .mod-con {
    height: calc(100vh - 134px);
    overflow: auto;
    padding: 1rem;
    margin: 10px 0;
  }
</style>
