<template>
  <div class="panel">
    <div class="panel-heading">
      平台广播
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm"  size="small" class="small-padding-1r webmaster-manage" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="内容关键字" prop="content">
            <el-input size="min" v-model="ruleForm.content" class="width-forword width130"  placeholder="请输入关键字"></el-input>
          </el-form-item>
          <el-form-item label="广播类型" prop="messageType">
            <el-select size="min" v-model="ruleForm.messageType" placeholder="全部" >
              <el-option v-for="n in messageType" :label="n.name" :value="n.id" :key="n.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-searchtime-broadcast"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-searchtime-broadcast"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data"  :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none" v-if="screenW >768">
        </div>
        <div class="table-style"   v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <!--====删除；p-ytrdsazAZSXHJHDXZ=====-->
          <div class="report-nav rb-row delbtn">
           <el-button size="mini" icon="el-icon-delete"  v-if="screenW >768"  @click="deleteRows">删除</el-button>
            <el-button size="mini" icon="el-icon-delete" v-if="screenW < 768"  @click="deleteRows">删除</el-button>
            <!--            <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">-->
            <!--              <span v-if="isActive">取消删除</span>-->
            <!--              <span v-else>删除1</span>-->
            <!--            </el-button>-->
            <div class="search-rwdbox" >
              <div class="rwd-searchbox" v-if="screenW <=768">
                <div class="search-rwdbtn">
                  <popover-right
                    :visible="avatorVisible"
                    @close="avatorVisible=false">
                    <el-form  size="small" :inline="false" ref="ruleForm" label-position="left"  label-width="80px" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                      <el-form-item label="内容关键字" prop="content">
                        <el-input size="min" v-model="ruleForm.content" class="width-forword" style="width:100px;" placeholder="请输入关键字查询"></el-input>
                      </el-form-item>
                      <el-form-item label="广播类型" prop="messageType">
                        <el-select size="min" v-model="ruleForm.messageType" placeholder="全部" >
                          <el-option v-for="n in messageType" :label="n.name" :value="n.id" :key="n.id"></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item label="开始时间" prop="startDate">
                        <template>
                          <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                        </template>
                      </el-form-item>
                      <el-form-item label="结束时间" prop="endDate">
                        <template>
                          <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                        </template>
                      </el-form-item>
                    </el-form>
                    <div class="search-btn" slot="btn">
                      <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                      <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                    </div>
                  </popover-right>
                  <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
                </div>
              </div>
            </div>
          </div>

          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <th width="22px"><div class="table-id"></div></th>
                  <th width="400px"><div class="cell">广播内容</div></th>
                  <th ><div class="cell">广播类型</div></th>
                  <th ><div class="cell">广播状态</div></th>
                  <th width="200px"><div class="cell">广播时间</div></th>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div  class="table-id"><el-checkbox :disabled="items.state===1" :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell broadcast-content-style wordsOverflow"><span class="color-blue hoverline-effet"  :title="items.content"  @click="openTenantEditForm(items)">{{items.content}}</span></div></td>
                      <td ><div class="cell broadcast-object-style wordsOverflow"><span>{{items.messageTypeName}}</span></div></td>
                      <td><div class="cell" :class="{'color-danger': items.state===1}"><span>{{items.state|translateState}}</span></div></td>
                      <td ><div class="cell"><span >{{items.startTime}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              :data="allList"
              ref="multipleTableApp"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                prop="id"
                type="selection"
                fixed
                :selectable="selectable"
                width="34"  v-if="isActive">
              </el-table-column>
              <el-table-column
                label="广播内容"
                fixed
                min-width="125">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改"  @click="openTenantEditForm(scope.row)">{{ scope.row.content}}</span>
                  <span v-else class="color-blue dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.content}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="messageTypeName"
                label="广播类型"
                min-width="120" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span  class="dataIndex overflow-style"  :data-index="scope.$index">{{scope.row.messageTypeName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="name"
                label="广播状态"
                min-width="120" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span  class="dataIndex overflow-style" :class="{'color-danger':scope.row.state === 1}" :data-index="scope.$index">{{ scope.row.state|translateState}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="广播时间"
                width="160">
                <template slot-scope="scope">
                  <span  class="dataIndex overflow-style" :data-index="scope.$index">{{ scope.row.startTime}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
<!--          <span @click="editOne(detailData)">修改</span>-->
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="平台广播"
        @close="detailShow=false">
        <ul >
          <li>
            <span >广播内容</span>
            <span class="color-blue">{{detailData.content}}</span>
          </li>
          <li>
            <span >广播类型</span>
            <span>{{detailData.messageTypeName}}</span>
          </li>
          <li>
            <span>广播状态</span>
            <span :class="{'color-danger':detailData.state ===1}">{{detailData.state |translateState}}</span>
          </li>
          <li>
            <span>广播时间</span>
            <span>{{detailData.startTime}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 普通表格结束 -->
      <div class="padding-l10 text-style"> *注意：平台广播最多保留60天。</div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 数据模型结束 -->
    </div>
    <platform-broadcast-info
      :data="broadcastData"
      :visible="platfornBroadcastForm"
      v-on:onClose="platfornBroadcastForm=false"></platform-broadcast-info>
  </div>
</template>
<script>
import {validateQueryDateTwo, validateQueryDate} from '@/utils/validateRules'
import PlatformBroadcastInfo from '@/views/newModal/PlatformBroadcastInfo'
import Api from '@/api/home'
import Scroll from '@/components/Scroll'
// 查看详情侧边窗
import DatetimePicker from '@/components/DatetimePicker'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      platfornBroadcastForm: false,
      timedatevalue: '',
      propsShow: false,
      title: '',
      checkAll: false, // 是否全选
      selectData: {},
      broadcastData: {},
      checkedCities: [],
      isIndeterminate: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      isShow: false,
      isActive: true,
      avatorVisible: false,
      tableLine: true,
      ruleForm: {
        content: '',
        startDate: '',
        endDate: '',
        messageType: 0
      },
      messageType: [
        {id: 0, name: '全部'},
        {id: 1, name: '开奖延迟'},
        {id: 2, name: '开奖纠错'},
        {id: 3, name: '补充开奖'},
        {id: 4, name: '系统撤单'},
        {id: 5, name: '棋牌撤单'},
        {id: 6, name: '手动广播'},
        {id: 7, name: '停售通知'}
      ],
      detailData: {
        content: '',
        messageTypeName: '',
        state: 1,
        startTime: ''
      },
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20
    }
  },
  mounted () {
    this.getOrderList()
  },
  methods: {
    openTenantEditForm (v) {
      this.broadcastData = v
      this.platfornBroadcastForm = true
    },
    operatorDeleteBroadcast () {
      let submitData = {}
      submitData.ids = ''
      if (this.screenW < 1023) {
        for (let i = 0; i < this.$refs.multipleTableApp.selection.length; i++) {
          submitData.ids += ',' + this.$refs.multipleTableApp.selection[i].id
        }
        if (submitData.ids !== '') {
          submitData.ids = submitData.ids.substr(1)
        }
      } else {
        submitData.ids = this.checkedCities.join(',')
      }
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.tenantDeleteBroadcast(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
        this.checkedCities = []
        this.msgSuccess('删除成功')
        this.checkAll = false
      })
    },
    deleteRows () {
      if (this.screenW < 1023) {
        if (this.$refs.multipleTableApp.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.checkedCities.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      let broadingStatus = false
      for (let i = 0; i < this.checkedCities.length; i++) {
        for (let j = 0; j < this.allList.length; j++) {
          if (this.checkedCities[i] === this.allList[j].id && this.allList[j].state === 1) {
            broadingStatus = true
          }
        }
      }
      if (broadingStatus) {
        this.msgConfirm('当前广播正处于广播中状态，是否确定删除', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.operatorDeleteBroadcast()
        })
      } else {
        this.operatorDeleteBroadcast()
      }
    },
    onSubmit () {
      if (this.ruleForm.startDate || this.ruleForm.endDate) {
        if (!validateQueryDate.validateDateTwo(this.ruleForm.startDate, this.ruleForm.endDate, 60)) {
          return
        }
      }
      this.avatorVisible = false
      this.getOrderList()
    },
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    selectable (row) {
      return row.state === 1 ? 0 : 1
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      // Object.assign(submitData, this.ruleForm)
      submitData.pageNumber = pageNum
      submitData.pageSize = pageSize
      if (this.ruleForm.startDate) {
        submitData.startDate = this.ruleForm.startDate
      }
      if (this.ruleForm.endDate) {
        submitData.endDate = this.ruleForm.endDate
      }
      if (this.ruleForm.content) {
        submitData.content = this.ruleForm.content
      }
      if (this.ruleForm.messageType) {
        submitData.messageType = this.ruleForm.messageType
      }
      this.loading = true
      let obj = this
      Api.listTenantTBroadcast(submitData).then((res) => {
        obj.loading = false
        this.allList = res.data.list
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          if (v.state !== 1) {
            all.push(v.id)
          }
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    }
  },
  filters: {
    translateState (v) {
      let str = ''
      switch (v) {
        case 1:
          str = '广播中'
          break
        case 2:
          str = '未广播'
          break
        default:
          str = '已过期'
      }
      return str
    }
  },
  components: {
    Scroll,
    PlatformBroadcastInfo,
    DatetimePicker
  }
}
</script>
<style>
  .width-searchtime-broadcast{
  & .el-input__inner{
      width:170px!important;
    }
  & .el-input__icon{
      line-height: 10px;
    }
  }
  .wordsOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .broadcast-content-style{
    max-width: 380px;
  }
  .broadcast-object-style{
    max-width: 300px;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .width130{
    width:130px;
  }
  .width-forword-input{
    width:100px;
  }
</style>
