<template>
  <div class="panel">
    <div class="panel-heading">
      意见反馈
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">意见反馈</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" size="small"  ref="ruleForm"   v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="关键字搜索" prop="feedback">
            <el-input size="min" v-model.trim="ruleForm.feedback" class="width-forword"  placeholder="请输入反馈内容的关键字"></el-input>
          </el-form-item>
          <el-form-item label="状态" prop="isRead">
            <el-select size="min" v-model="ruleForm.isRead" class="width-shotstatus" placeholder="请选择域名类型">
              <el-option label="全部" value='-1'></el-option>
              <el-option label="未查看" value='0'></el-option>
              <el-option label="已查看" value='1'></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-searchtime-feedback"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-searchtime-feedback"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if="screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive" >
            <span v-if="isActive" >取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form :inline="true" :model="ruleForm" size="small" label-position="top" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="关键字搜索" prop="feedback" class="with100">
                      <el-input size="min" v-model.trim="ruleForm.feedback" class="width-forword"  placeholder="请输入反馈内容的关键字"></el-input>
                    </el-form-item>
                    <el-form-item label="状态" prop="isRead"  class="with100">
                      <el-select size="min" v-model="ruleForm.isRead" class="width-shotstatus" placeholder="请选择域名类型">
                        <el-option label="全部" value='-1'></el-option>
                        <el-option label="未查看" value='0'></el-option>
                        <el-option label="已查看" value='1'></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate"  class="with100">
                      <template>
                        <span class="time-picker"><datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker></span>
                      </template>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate"  class="with100">
                      <template>
                        <span class="time-picker"><datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker></span>
                      </template>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <!-- 表头 -->
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th width="400px"><div class="cell">反馈内容</div></th>
                    <th><div class="cell">反馈类型</div></th>
                    <th><div class="cell">反馈时间</div></th>
                    <th><div class="cell">状态</div></th>
                    <th ><div class="cell">平台回复</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px">
                        <div class="table-id">
                          <el-checkbox :label="items.id" :key="index" >{{''}}</el-checkbox>
                        </div>
                      </td>
                      <td><div class="cell wordsOverflow" @click="viewFeedbackContent(items)"><span class="color-blue hoverline-effet">{{items.feedback|feedbackFilter}}</span></div></td>
                      <td><div class="cell"><span> {{items.feedbackType|stateTxt}}</span></div></td>
                      <td><div class="cell"><span>{{items.gmtCreated}}</span></div></td>
                      <td><div class="cell"><span :class="{'green-color':items.isReadName==='已查看'}">{{items.isReadName}}</span></div></td>
                      <td ><div class="cell"><span :class="items.isReply?'color-blue':''">{{items.isReply?'已回复':'未回复'}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                v-if=" screenW >768 || isActive">
              </el-table-column>
              <el-table-column
                label="反馈内容"
                min-width="130"
                fixed show-overflow-tooltip >
                <template slot-scope="scope">
                  <span class="color-blue hoverline-effet" @click="editOne(scope.row)" v-if="screenW > 1023">{{scope.row.feedback|feedbackFilter}}</span>
                  <span class="color-blue" v-else>{{scope.row.feedback|feedbackFilter}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="反馈类型"
                min-width="100">
                <template slot-scope="scope">
                  <span>{{scope.row.feedbackType|stateTxt}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="反馈时间"
                min-width="100"
                prop="gmtModified">
              </el-table-column>
              <el-table-column
                label="状态"
                min-width="100"
                prop="isReadName">
              </el-table-column>
              <el-table-column
                label="平台回复"
                min-width="130" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span :class="scope.row.isReply?'color-blue':''">{{scope.row.isReply?'已回复':'未回复'}}</span>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <!-- 维护窗口 -->
      <action-sheet
        :visible="rwdbtnVisible"
        @close="rwdbtnVisible = false">
        <div class="rwdbtn-style">
          <!-- <span @click="editOne(detailData)">修改</span> -->
          <span @click="checkRow(detailData)" >查看信息</span>
        </div>
        <span @click="closeRwdBtn" class="angle-all">取消</span>
      </action-sheet>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="意见反馈"
        @close="detailShow = false">
        <ul >
          <li>
            <span>反馈内容</span>
            <span class="color-blue" v-html="detailData.feedback"></span>
          </li>
          <li>
            <span>反馈类型</span>
            <span>{{detailData.feedbackType|stateTxt}}</span>
          </li>
          <li>
            <span>反馈时间</span>
            <span>{{detailData.gmtModified}}</span>
          </li>
          <li>
            <span>状态</span>
            <span>{{detailData.isReadName}}</span>
          </li>
          <li>
            <span>平台回复</span>
            <span :class="detailData.isReply?'color-blue':''">{{detailData.isReply?'已回复':'未回复'}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 数据模型结束 -->
    </div>
    <new-feedback-content-form
      :data="selectData"
      :visible = "feedbackContentForm"
      v-on:onClose = "feedbackContentFormClose">
    </new-feedback-content-form>
  </div>
</template>
<script>
import {validateQueryDateTwo} from '@/utils/validateRules'
import Api from '@/api/home'
import Scroll from '@/components/Scroll'
import NewFeedbackContentForm from '@/views/newModal/NewFeedbackContentForm'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      rwdNumber: '',
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      // DomainBindShow: false, // 是否开启弹窗
      command: 0,
      isShow: false,
      avatorVisible: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      isActive: false,
      ruleForm: {
        tenantCode: '',
        name: '',
        url: '',
        urlId: '1',
        checkState: '',
        checkMessage: '',
        startDate: '',
        endDate: '',
        feedback: '',
        isRead: '-1'
      },
      detailData: {
        url: '',
        tenantCode: '',
        name: '',
        managerName: '',
        gmtCreated: ''
      },
      // 列表数据
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      selectData: {},
      feedbackContentForm: false
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  filters: {
    stateTxt (value) {
      let text = ''
      switch (value) {
        case 1:
          text = '产品需求'
          break
        case 2:
          text = '平台建议'
          break
        case 3:
          text = '系统BUG'
          break
      }
      return text
    },
    feedbackFilter (str) {
      str = str.replace(/<img([^>]*)?>/gm, '[图片]')
      str = str.replace(/<[^>]+>/g, '')
      str = str.replace(/&nbsp;/g, '')
      return str
    }
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 分隔线
    openNewForm () {
      this.feedbackContentForm = true
      this.selectData = null
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    feedbackContentFormClose () {
      this.selectData = {}
      this.feedbackContentForm = false
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateDate(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.tenantFeedbackList(this.ruleForm, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.list
        this.total = res.data.total
        this.loading = false
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    editOne (val) {
      // console.log(val)
      this.selectData = val
      this.DomainBindShow = true
      this.rwdbtnVisible = false
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteFeedback(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.join()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.deleteFeedback(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          // 清除PC版数据
          this.checkedCities = []
          this.checkAll = false
          this.isIndeterminate = false
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    // 点击表格 查看列
    viewFeedbackContent (item) {
      this.feedbackContentForm = true
      this.selectData = item
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    NewFeedbackContentForm,
    DatetimePicker
  }
}
</script>
<style>
  /** 可放公共样式 */
  .notPaddtd{
    padding: 0 0 0 10px!important;
  }
  .width-forword{
    min-width: 180px;
  }
  .width-shotstatus{
    width:70px;
  }
  .notPadd{
    padding: 0 10px!important;
  }
  .viewFeedbackContent{
    cursor: pointer;
    color:rgb(0, 102, 204)
  }
  .width-searchtime-feedback{
  & .el-input__inner{
      width:175px!important;
    }
  & .el-input__icon{
      line-height: 10px;
    }
  }
  .color-blue p{
    margin:0!important;
  }
  .wordsOverflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
  }
  .with100{
    width:100%
  }
  .green-color{
    color:green;
  }
</style>
