<template>
  <header class="header">
    <div class="header-left">
      <div class="mobile-menu"
           :class="{'is-open': $store.state.appNavBarStatus}"
           @click="$store.state.appNavBarStatus ? $store.dispatch('setAppBarStatus', false) : $store.dispatch('setAppBarStatus', true)">
        <span class="menu-patty"></span>
        <span class="menu-patty"></span>
        <span class="menu-patty"></span>
      </div>
      <div class="logo">
        <a  href="#" :title="siteName"><p>{{screen==='sm'?'':siteName}}</p></a>
      </div>
      <div class="top-bar" v-if="$store.state.media.screen !== 'sm'">
        <ul>
<!--          <template v-if="$store.state.sideNav">-->
<!--            <router-link tag="li" to="/"><i class="icon-title dafa-icon dafa-icon-home01"></i> 管理首页</router-link>-->
<!--          </template>-->
          <template v-if="$store.state.sideNav && $store.state.sideNav.isPlatform === 1  && $store.state.IsPlatform===1">
            <router-link tag="li" to="/Platform"><i class="el-icon-menu"></i> 平台管理</router-link>
          </template>
          <template v-if="$store.state.sideNav">
            <router-link tag="li" to="/management" v-if="$store.state.sideNav.hasManagement === 1 && $store.state.IsPlatform!==1"><i class="dafa-icon dafa-icon-home01"></i> 管理首页</router-link>
            <router-link tag="li" to="/platform" v-if="$store.state.sideNav.isPlatform === 1 && $store.state.IsPlatform!==1"><i class="el-icon-menu"></i> 平台管理</router-link>
            <router-link tag="li" to="/tenant" v-if="$store.state.sideNav.hasTenant === 1 &&($store.state.sideNav.isPlatform === 0 || $store.state.sideNav.isSwitched === 1)"><i class="dafa-icon dafa-icon-tenant"></i> 系统管理</router-link>
            <router-link tag="li" to="/member" v-if="$store.state.sideNav.hasMember === 1 && ($store.state.sideNav.isPlatform === 0 || $store.state.sideNav.isSwitched === 1)"><i class="dafa-icon dafa-icon-member"></i> 客户管理</router-link>
            <router-link tag="li" to="/transaction" v-if="$store.state.sideNav.hasTransaction === 1&&($store.state.sideNav.isPlatform === 0 || $store.state.sideNav.isSwitched === 1)"><i class="dafa-icon dafa-icon-transaction"></i> 交易管理
              <!--<audio id="bgMusic" controls style="position: absolute;left: 0;opacity: 1;top: 0;">-->
                <!--<source src="http://lcms.dafatest.com/static/sounds/2.mp3" type="audio/ogg" loop>-->
                <!--<source src="http://lcms.dafatest.com/static/sounds/2.mp3" loop autoplay>-->
              <!--</audio>-->
            </router-link>
            <router-link tag="li" to="/activity" v-if="$store.state.sideNav.hasActivity === 1&& ($store.state.sideNav.isPlatform === 0 || $store.state.sideNav.isSwitched === 1)"><i class="dafa-icon dafa-icon-activity"></i> 活动管理</router-link>
            <router-link tag="li" to="/report" v-if="$store.state.sideNav.hasReport === 1 && ($store.state.sideNav.isPlatform === 0 || $store.state.sideNav.isSwitched === 1)"><i class="dafa-icon dafa-icon-report"></i> 大数据</router-link>
          </template>
        </ul>
      </div>
    </div>
    <message-marquee></message-marquee>
    <div class="header-right navbar-top">
      <div class="header-news" @click="openBoardForm">
        <el-badge :hidden="$store.state.unreadCount === 0" :value="$store.state.unreadCount ? $store.state.unreadCount : 0" class="item ">
          <i class="dafa-icon"></i>
        </el-badge>
      </div>
      <div class="header-account">
          <div class="avatar" v-popover:avator><img :alt="username" :src="avatarUrl | imgHost" v-error-img:user></div>
      </div>
      <!--<div>-->
        <!--<i class="fas fa-sign-out-alt"></i>-->
      <!--</div>-->
      <!--<div class="logout-box" @click="loginOut" v-show="screenWidth>768">-->
        <!--<i class="dafa-icon dafa-icon-logout"></i>-->
      <!--</div>-->
      <el-popover
        ref="avator"
        popper-class="user-info custom-popover"
        placement="bottom-end"
        v-model="avatorVisible"
        width="300"
        :trigger="screenWidth < 1023 ? 'click':'hover'"
        :transition="screenWidth <= 640 ? 'fade-in-right' : 'fade-in-linear'"
        :offset="8">
        <div class="user-info-header" v-if="screenWidth <= 640">
          <span class="el-icon-arrow-left" @click="avatorVisible = false"></span>
          个人信息
        </div>
        <div class="base-info media-object">
          <div class="media-object-section shrink">
            <div class="avatar">
              <img :src="avatarUrl | imgHost" alt="" v-error-img:user/>
            </div>
          </div>
          <div class="media-object-section information-content">
            <div>
              <!--<span class="information-title">账号:</span>-->
              <span class="color-blue information-title">{{userName}}</span>
            </div>
            <div class="margin-t6">
              <span class="color-grey">姓名:</span>
              <span class="color-grey">{{realName}}</span>
            </div>
          </div>
        </div>
        <div class="btn-user">
          <!--<a>我的主页</a>-->
          <!--<router-link to="/useInfo">修改资料-->
          <!--</router-link>-->
          <a @click="editDetail">修改资料</a>
          <a @click="loginOut">退出登录</a>
        </div>
      </el-popover>
      <!--<el-popover-->
        <!--ref="notify"-->
        <!--placement="bottom-end"-->
        <!--width="320"-->
        <!--v-model="notifyVisible"-->
        <!--popper-class="custom-popover"-->
        <!--:transition="screenWidth <= 640 ? 'fade-in-right' : 'fade-in-linear'"-->
        <!--@show="getNotify(true)" >-->
        <!--<div class="user-info-header" v-if="screenWidth <= 640">-->
          <!--<span class="el-icon-arrow-left" @click="notifyVisible = false"></span>-->
          <!--消息中心-->
        <!--</div>-->
        <!--<notify-list ref="notifyList"></notify-list>-->
      <!--</el-popover>-->
      <!--<ul>-->
        <!--<li>-->
          <!--<div class="avatar" v-popover:avator><img :alt="username" v-error-img:user></div>-->
        <!--</li>-->
        <!--<li class="bell">-->
          <!--<el-badge :value="UnreadCount" class="item ">-->
            <!--<i class="dafa-icon"></i>-->
          <!--</el-badge>-->
        <!--</li>-->
      <!--</ul>-->
    </div>
    <audio id="bgMusic" src="/static/mp3/chuk1.mp3" style="position: absolute;left: 0;opacity: 1;top: 0;"  loop>
    </audio>
  </header>
</template>
<script>
import { mapState } from 'vuex'
import NotifyList from '@/views/notifications/NotifyList'
import ApiSys from '@/api/sys'
import Api from '@/api/index'
import {touchEvent} from '@/utils'
import MessageMarquee from './MessageMarquee'
export default {
  data () {
    return {
      editPwdShow: false,
      isOpen: false,
      index: 1,
      token: null,
      notifyVisible: false,
      avatorVisible: false,
      UnreadCount: 0,
      ruleForm: {oldPassword: '', newPassword: '', valdatePassword: ''},
      permissionData: {},
      isFirstClickAudio: true
    }
  },
  computed: {
    ...mapState({
      username: state => state.user.userInfo,
      screen: state => state.media.screen,
      screenWidth: state => state.media.screenWidth
    }),
    siteName () {
      return (this.$store.state.siteInfo && this.$store.state.siteInfo.name) || (localStorage.getItem('siteInfo') && JSON.parse(localStorage.getItem('siteInfo')).name)
    },
    userName () {
      return (this.$store.state.siteInfo && this.$store.state.siteInfo.userName) || (localStorage.getItem('siteInfo') && JSON.parse(localStorage.getItem('siteInfo')).userName)
    },
    avatarUrl () {
      return (this.$store.state.siteInfo && this.$store.state.siteInfo.avatar) || (localStorage.getItem('siteInfo') && JSON.parse(localStorage.getItem('siteInfo')).avatar)
    },
    realName () {
      let realName = '未设置'
      if (this.$store.state.siteInfo && this.$store.state.siteInfo.realName) {
        realName = this.$store.state.siteInfo.realName
      }
      if (localStorage.getItem('siteInfo') && JSON.parse(localStorage.getItem('siteInfo')).realName) {
        realName = JSON.parse(localStorage.getItem('siteInfo')).realName
      }
      return realName
    }
  },
  mounted () {
    if (localStorage.getItem('siteInfo')) {
      let siteInfo = JSON.parse(localStorage.getItem('siteInfo'))
      this.$store.state.siteInfo = siteInfo
    }
    this.getUnreadAnnouncement()
  },
  methods: {
    openBoardForm () {
      if (this.$store.state.IsPlatform === 1) {
        this.$router.push('/dashBoard')
      } else {
        this.$router.push('/management/managementAnnouncement')
      }
      // console.log(11)
      // let base = this.$route.query.redirect || ''
      // let host = window.location.protocol + '//' + window.location.host
      // let url = base.indexOf('login') !== -1 ? host : base || host
      // window.document.location.href = url
      // this.$router.push('/dashBoard')
    },
    getNotify (init) {
      // console.log('获取通知数据')
    },
    closeNotifyList () {
      this.$refs.notify.showPopper = false
    },
    editDetail () {
      this.avatorVisible = false
      this.$router.push('/useInfo')
    },
    loginOut () {
      let submitData = {}
      ApiSys.logout(submitData).then((res) => {
        this.$store.dispatch('setSignOut')
        sessionStorage.clear()
        localStorage.removeItem('siteInfo')
        localStorage.removeItem('isLogin')
        location.href = '/login'
        this.$router.push('/login')
      })
    },
    bodyStyle (nv) {
      touchEvent(nv)
    },
    getUnreadAnnouncement () {
      let submitData = {}
      ApiSys.xUnreadAnnouncement(submitData).then((res) => {
        let data = res.data
        let messageUnreadCount = {}
        let unreadCount = 0
        for (let item in data) {
          messageUnreadCount[item] = data[item]
          if (!data[item]) {
            continue
          }
          unreadCount += Number(data[item])
        }
        this.$store.dispatch('setUnreadCount', unreadCount)
        this.$store.dispatch('setMessageUnreadCount', messageUnreadCount)
      })
    },
    getNavTimestamp () {
      let submitData = {}
      Api.getNavTimestamp(submitData).then((res) => {
        let data = res.data
        // console.log('sitNavTimestamp', this.$store.sitNavTimestamp)
        // console.log('timestamp', data.timestamp)
        if (data && data.timestamp && this.$store.sitNavTimestamp !== data.timestamp) {
          this.getSiteNav()
        }
      })
    },
    JsonToArray (navData) {
      // 角色权限数据转换
      let setJson = (obj) => {
        let AObj = {}
        AObj.permissionCode = obj.permissionCode
        AObj.caTitle = obj.title
        AObj.key = obj.permissionCode
        let yObj = obj.children
        if (yObj) {
          AObj.children = setChildJson(yObj)
        }
        return AObj
      }
      let setChildJson = (obj) => {
        let arr = []
        for (let i = 0; i < obj.length; i++) {
          let data = {}
          data['permissionCode'] = obj[i]['permissionCode']
          data['caTitle'] = obj[i]['title']
          data['key'] = obj[i]['permissionCode']
          let yObj = obj[i]['children']
          if (yObj && yObj.length > 0) {
            data['children'] = setChildJson(yObj)
          } else {
            this.permissionData[data['permissionCode']] = data['permissionCode']
          }
          arr.push(data)
        }
        return arr
      }
      for (let i = 0; i < navData.length; i++) {
        setJson(navData[i])
      }
      // console.log(this.permissionData)
    },
    getSiteNav () {
      Api.getNavList().then(res => {
        // console.log(res)
        let mapObject = {}
        if (res.data.isPlatform) {
          if (res.data.platformPermissionList.length > 0) {
            mapObject['isPlatform'] = 1
            mapObject['isSwitched'] = res.data.isSwitched
            mapObject['platform'] = res.data.platformPermissionList[0]
            this.JsonToArray(res.data.platformPermissionList)
          } else {
            mapObject['isPlatform'] = 0
          }
        } else {
          mapObject['isPlatform'] = 0
        }
        let tenantP = res.data.tenantPermissionList
        mapObject['hasManagement'] = 0
        mapObject['hasTenant'] = 0
        mapObject['hasMember'] = 0
        mapObject['hasTransaction'] = 0
        mapObject['hasActivity'] = 0
        mapObject['hasReport'] = 0
        for (let i = 0, length = tenantP.length; i < length; i++) {
          mapObject[tenantP[i].permissionCode] = tenantP[i]
          if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'management') {
            mapObject['hasManagement'] = 1
            continue
          }
          if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'tenant') {
            mapObject['hasTenant'] = 1
            continue
          }
          if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'member') {
            mapObject['hasMember'] = 1
            continue
          }
          if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'transaction') {
            mapObject['hasTransaction'] = 1
            continue
          }
          if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'activity') {
            mapObject['hasActivity'] = 1
            continue
          }
          if (tenantP[i].children.length > 0 && tenantP[i].permissionCode === 'report') {
            mapObject['hasReport'] = 1
            continue
          }
        }
        this.JsonToArray(res.data.tenantPermissionList)
        let path = this.$route.path.split('/')
        // console.log(path)
        let index = path[path.length - 1].indexOf('?')
        let permissionCode = path[path.length - 1]
        if (index > -1) {
          permissionCode = permissionCode.substr(0, index + 1)
        }
        if (permissionCode !== '404') {
          this.$store.permissionData = this.permissionData
          if (permissionCode !== '' && permissionCode !== 'login' && permissionCode !== 'useInfo') {
            if (!this.$store.permissionData) {
              this.$router.push({path: '/'})
              return
            }
            if (permissionCode === 'SeekOrderDetail' || permissionCode === 'SeekOrderInfo') {
              permissionCode = 'transactionBettingChaseRecord'
            }
            if (permissionCode === 'TenantPlayPushDetail') {
              permissionCode = 'tenantPlayPush'
            }
            if (permissionCode === 'ImgFormofForm' || permissionCode === 'platformMaintainForm' || permissionCode === 'tenantIP') {
              permissionCode = 'platformTenantDetail'
            }
            if (permissionCode === 'reportMemberSearch') {
              permissionCode = 'reportMember'
            }
            if (!this.$store.permissionData[permissionCode] && permissionCode !== 'login' && permissionCode !== 'useInfo') {
              // window.document.location.href = '/404'
              this.$router.push({path: '/'})
              return
            }
          }
        }
        // console.log(1)
        // console.log(permissionCode)
        document.title = this.$route.meta.title
        // console.log(123123123, mapObject)
        // console.log(mapObject)
        for (let item in mapObject) {
          this.$store.state.sideNav[item] = mapObject[item]
        }
        this.$store.sitNavTimestamp = res.data.timestamp
      }).catch(error => 'An error occurred while loading the nav.json' + error)
    }
  },
  components: {
    NotifyList,
    MessageMarquee
  },
  watch: {
    '$store.state.siteInfo.name' (nv) {

    },
    avatorVisible (nv) {
      this.bodyStyle(nv)
    },
    notifyVisible (nv) {
      this.bodyStyle(nv)
    },
    '$route' (nv, old) {
      // console.log(nv)
      if (nv.name === 'login') {
        return
      }
      if (nv.name === 'management' || nv.name === 'platform' || nv.name === 'tenant' || nv.name === 'member' || nv.name === 'transaction' || nv.name === 'activity' || nv.name === 'report') {
      } else {
        if (!sessionStorage.getItem('siteInfo') || !localStorage.getItem('siteInfo')) {
          this.msgConfirm('由于您长时间未操作，已自动退出，需要重新登录', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
            closeOnClickModal: false,
            closeOnPressEscape: false,
            showClose: false,
            showCancelButton: false
          }).then(() => {
            this.$router.push('/login?appheader')
          })
        }
      }
      let siteInfo = JSON.parse(localStorage.getItem('siteInfo'))
      // console.log(siteInfo)
      this.$set(this.$store.state.siteInfo, 'tenantCode', siteInfo.tenantCode)
      this.$set(this.$store.state.siteInfo, 'name', siteInfo.name)
      this.$set(this.$store.state.siteInfo, 'avatar', siteInfo.avatar)
      this.$set(this.$store.state.siteInfo, 'isPlatform', siteInfo.isPlatform)
      this.$set(this.$store.state.siteInfo, 'realName', siteInfo.realName)
      this.$set(this.$store.state.siteInfo, 'userName', siteInfo.userName)
      if (document.onclick === null) {
        document.onclick = (evt) => {
          if (document.getElementById('bgMusic')) {
            if (this.isFirstClickAudio) {
              document.getElementById('bgMusic').pause()
              document.getElementById('bgMusic').currentTime = 0
              this.isFirstClickAudio = false
            }
          }
        }
      }
      // console.log(this.$store.state.sideNav)
      if (nv.name === 'management' || nv.name === 'platform' || nv.name === 'tenant' || nv.name === 'member' || nv.name === 'transaction' || nv.name === 'activity' || nv.name === 'report') {
        if (!this.$store.state.sideNav[nv.name] || this.$store.state.sideNav[nv.name].children.length < 1) {
          this.msgError('没有权限，请联系管理员！')
          return
        }
        if (this.$store.state.sideNav[nv.name].children[0].children.length > 0) {
          // console.log(this.$store.state.sideNav[nv.name].children[0].children[0].permissionCode)
          this.$router.push({name: this.$store.state.sideNav[nv.name].children[0].children[0].permissionCode})
        } else {
          this.$router.push({name: this.$store.state.sideNav[nv.name].children[0].permissionCode})
          // console.log(this.$store.state.sideNav[nv.name].children[0].permissionCode)
        }
      } else {
        this.getNavTimestamp()
        this.getUnreadAnnouncement()
      }
    }
  }
}
</script>
<style>
  @import '../../assets/css/variable.css';
  .information-content{
    padding: 6px 0 0 0;
    & .information-title{
      white-space: nowrap;
      font-size: 16px;
    }
  }
  .header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
    background-color: #313541;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1999;
    & .header-left {
      display: flex;
    }
    & .header-right {
      height: 100%;
      line-height: 25px;
      display: flex;
      color: #ffffff;
      align-items: center;
      font-size: 14px;
      & i {
        font-size: 22px !important;
      }
    }
    & .header-account{
      width: 60px;
      color: #fff;
      position: relative;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover{
        background: #404955;
      }
      & img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      & i{
        font-size: 14px !important;
      }
      & span{
        cursor: pointer;
        position: relative;
        display: inline-block;
        color: #fff;
        &:after{
          position: absolute;
          content: '';
          width: 0%;
          height: 1px ;
          background: #fff;
          bottom: -1px ;
          transition: all .5s;
          left: 0;
        }
        &:hover{
          &:after{
            width: 100%;
          }
        }
      }

    }
    & .header-news{
      /*padding: 7px 0 0 0;*/
      width: 60px;
      cursor: pointer;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      & i{
        font-size: 30px !important;
        line-height: 0 !important;
      }
      &:hover{
        background: #404955;
      }
      & .el-badge__content{
        transition: all .5s;
      }
      & .ripple-out {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        position: relative;
      }
      .ripple-out:before {
        content: '';
        position: absolute;
        border: #e1e1e1 solid 6px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        animation-duration: 1s;
      }
      .ripple-out:hover:before, .ripple-out:focus:before, .ripple-out:active:before {
        animation-name: ripple-out;
      }
    }
    & .el-badge__content{
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      min-width: 20px;
      top: 2px;
      right: 8px;
      padding: 0 4px;
    }
  }

  .top-bar {
    & ul {
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      & li {
        list-style: none;
        font-weight: 300;
        padding: 14px 24px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        transition: background .3s;
        margin-right: 1px;
        cursor: pointer;
        position: relative;
        & i {
          font-size: 14px;
        }
        &:hover, &.active{
          background: #404955;
        }
      }
    }
  }
  .logout-box{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    text-align: center;
    font-size: 20px;
    border-left: 1px solid #4c505f;
    cursor: pointer;
    box-shadow: -1px 0 0 #2d313c;
    padding: 0 !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    & i{
      font-size: 20px !important;
    }
    &:hover{
      & i {
        color: var(--color-blue);
      }
    }
  }
  .navbar-top {
    & ul {
      display: flex;
      margin: 0;
      height: 100%;
      & li{
        margin: 0;
        height: 50px;
        width: 50px;
        line-height: normal;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        list-style: none;
        color: #fff;
        cursor: pointer;
        margin-left: 1px;
        transition: opacity .3s, background .3s;
        & .item {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
        }
        &:hover {
          opacity: 0.8;
          background: var(--color-danger);
        }
      }
    }
  }
  .user-info {
    padding: 1rem;
    width: 320px;
    & .avatar {
      height: 56px;
      width: 56px;
    }
    & .nikename {
      margin-top: 4px;
      font-size: 1rem;
    }
    & .des {
      margin-top: 8px;
      font-size: 12px;
      color: var(--color-secondary);
    }
    & .btn-user {
      margin-top: 10px;
      padding: 10px 0 0;
      display: flex;
      justify-content: space-between;
      & a {
        display: inline-flex;
        width: 48%;
        height: 30px;
        align-items: center;
        justify-content: center;
        color: var(--color-secondary);
        border-radius: 2px;
        transition: background .3s;
        background: #eee;
        &:hover {
          background: #dad9d9ee;
        }
      }
    }
  }
  .avatar {
    width: 36px;
    height: 36px;
    text-align: center;
    overflow: hidden;
    border-radius: 100%;
    background: #efefef;
  }
  .avatar img{
    width: 100%;
  }

  /*.mobile-menu + .logo {*/
    /*margin-left: 38px;*/
  /*}*/
  @media only screen and (max-width: 1200px) {
    .top-bar ul li {
      padding: 14px;
    }
  }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 0 10px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9;
    }
    .top-bar {display: none;}
    .user-info-header {
      position: relative;
      padding: 0 0 10px 0;
      font-weight: bold;
      border-bottom: 1px solid #ddd;
      margin: 0 0 1rem 0;
      font-size: 1rem;
      cursor: pointer;
    }
  }
  @media only screen and (max-width: 768px) {
    .user-info .btn-user a {
      height: 40px;
      font-size: 14px;
    }
    .header {
      padding: 0 0 0 10px;}
  }
  @media only screen and (max-width: 400px) {
    .user-info .btn-user{
      padding: 30px 0 0 0;
    }
  }
</style>
