<template>
  <div class="product-inner">
    <div class="product-navbar" :class="{'is-open': $store.state.appNavBarStatus}">
      <div class="accordion-header"><i class="icon-title dafa-icon dafa-icon-home01"></i>管理首页</div>
      <div class="product-navbar-wrapper"></div>
    </div>
  </div>
</template>
<script>
import SideNav from '@/components/SideNav'
export default {
  data () {
    return {
      isRoute: true,
      isCollapse: false,
      menuTitleShow: true,
      icons: {
        flatform: 'el-icon-menu',
        sys: 'el-icon-setting',
        users: 'el-icon-info',
        trades: 'el-icon-refresh',
        activities: 'el-icon-date',
        reports: 'el-icon-news'
      },
      allList: [
        {
          'title': '平台管理01'
        },
        {
          'title': '平台管理02'
        }
      ]
    }
  },
  props: {
    onAfterClickMenu: {
      type: Function,
      default: function () {
        return null
      }
    }
  },
  methods: {
    toggleSideMenu () {
    },
    openDashBoard (val) {
      // console.log(3333)
      if (typeof this.onAfterClickMenu === 'function') {
        this.onAfterClickMenu(val)
      }
    },
    collapse (nv) {
      if (nv.screenWidth <= 1200 && nv > 640) {
        this.isCollapse = true
      } else {
        this.isCollapse = false
      }
    }
  },
  watch: {
  },
  components: {
    SideNav
  }
}
</script>

<style scoped>
  .product-navbar{
    position: fixed;
    left: 0;
    top: 50px;
    min-height: calc(100vh - 50px);
    width: 160px;
    overflow: auto;
    background: #3b404f !important;
    transition: left 0.3s, right 0.3s linear, width .3s;
    z-index: 2001;
  }
  .accordion-header{
    line-height: 50px;
    text-align: left;
    font-weight: 300;
    padding-left: 20px;
    font-size: 14px;
    color: #fff;
    /*color: #c3c5d0;*/
    border-top: 1px solid #434756 !important;
    border-bottom: 1px solid #2d313c !important;
    /*border-bottom: 1px solid #3b3f59;*/
    overflow: hidden;
    height: 50px;
    transition: opacity .2s .1s;
    background: #3b404f !important;
    & > div{
      display: none;
    }
    & .el-icon-menu{
      display: inline-block;
      padding: 0 6px 0 0;
    }
  }
  .el-submenu__title{
    background: #3b404f !important;
    /*color: #c3c5d0 !important;*/
    position: relative;
    border-top: 1px solid #4a4f5d !important;
    border-bottom: 1px solid #363b49 !important;
    font-size: 12px !important;
    line-height: 36px !important;
    height: 41px !important;
    font-weight: 300;
    & span{
      color: #fff !important;

    }
    & a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .product-navbar-wrapper{
    border-top: 1px solid #4a4f5d !important;
  }
  .el-submenu__icon-arrow{
    display: none !important;
  }
  .menu-icon.fa-bars{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0 , -50%);
  }
  .menu-plus{
    &:before,&:after{
      display: block;
      position: absolute;
      right: 20px;
      content: '';
      background: #c3c5d0;
      width: 8px;
      height: 1px;
      top: 50%;
      transition: transform 0.5s, color ;
    }
    &:before{
      transform: rotate(90deg);
    }

  }
  .accordion-list {
    border-top: 1px solid #4a4f5d !important;
    & .el-menu{
      border-right: 0;
    }
    & .el-menu-item{
      font-size: 12px !important;
    }
    & .el-submenu{
      border-bottom: 1px solid #3b3f59;
      & :hover{
        & .menu-icon{
          color: var( --color-blue);
        }
        & .menu-plus{
          &:before,&:after{
            background: var( --color-blue);
          }
        }
      }
    }
    & .el-submenu.is-opened{
      border-bottom: none;
    }
    & .is-opened .el-submenu__title{
      & .menu-plus{
        &:before{
          transform: rotate(0deg);
        }
      }
    }
    & .el-submenu .el-menu-item{
      min-width: initial;
      border-bottom: 1px solid rgba(85, 83, 95, 1);
      background-color: #4c505f!important;
      outline: none;
      /*border-bottom: 1px solid #4c5561;*/
      height: 32px !important;
      line-height: 32px;
      position: relative;
      padding: 0 !important;
      &:before{
        content: '';
        background: #737789;
        width: 3px;
        height: 100%;
        position: absolute;
        left: 0;
      }
      & a{
        display: block;
        color: #c3c5d0;
        padding: 0 45px;
        font-weight: 300;
        outline: none;
      }
    }
    & .el-submenu .el-menu-item:last-child{
      border-bottom: none;
    }
    & .el-submenu .el-menu-item.is-active,& .el-menu-item:hover{
      & a{
        color: #fff !important;
      }
      &:before{
        background: var( --color-blue);
      }

    }
    /*& .el-menu-item.is-active ,& .el-menu-item:hover,& .el-menu-item:focus,& .el-menu-item.is-active a{*/

    /*}*/
  }
  .icon-title{
    width: 0;
    display: inline-block !important;
    padding: 0 20px 0 0;
  }
  .dafa-icon-platform,.dafa-icon-tenant,.dafa-icon-member, .dafa-icon-transaction,.dafa-icon-activity,.dafa-icon-report{
    display: inline-block;
  }
  /*@media only screen and (max-width: 1200px) {*/
    /*.product-navbar{*/
      /*left: -100%;*/
      /*&.is-open {*/
        /*left: 0;*/
      /*}*/
    /*}*/
    /*.product-navbar-wrapper {*/
      /*position: absolute;*/
      /*left: 0;*/
      /*top: 0;*/
      /*right: 0;*/
      /*bottom: 0;*/
      /*z-index: 99;*/
      /*background: rgba(255,255,255,.4);*/
    /*}*/
    /*.product-con {*/
      /*left: 0;*/
    /*}*/
  /*}*/
  @media only screen and (max-width: 768px) {
    .product-navbar{
      left: initial !important;
      right: -100%;
      &.is-open {
        right: 0;
      }
    }
  }
</style>
