<template>
  <div :class="{'collapse': isCollapse}">
    <section class="side-nav" :class="{'collapse': isCollapse,'is-open': $store.state.appNavBarStatus}">
      <div class="side-inner">
            <div class="el-menu-toggle text-center">
              <a title="导航开关" class="color-grey">{{$store.state.siteInfo && $store.state.siteInfo.name}}</a>
            </div>
            <el-menu
              background-color="#4c505d"
              text-color="#d1d3e0"
              active-text-color="#fff"
              class="app-sidenav-vertical"
            >
              <el-menu-item index="0" @click="toggleSideMenu"  v-if="$store.state.sideNav.hasManagement === 1 && $store.state.IsPlatform!==1" >
                <router-link tag="span" to="/management"><i class="dafa-icon dafa-icon-home01"></i> 管理首页</router-link>
              </el-menu-item>
              <el-menu-item index="1" @click="toggleSideMenu" v-if="$store.state.sideNav && $store.state.sideNav.isPlatform === 1" >
                <router-link tag="span" to="/Platform"><i class="el-icon-menu"></i> 平台管理</router-link>
              </el-menu-item>
              <template v-if="this.$store.state.sideNav && ($store.state.sideNav.isPlatform === 0 || $store.state.sideNav.isSwitched === 1)">
                <el-menu-item index="2" @click="toggleSideMenu" v-if="$store.state.sideNav && $store.state.sideNav.hasTenant === 1">
                  <router-link tag="span" to="/tenant"><i class="dafa-icon dafa-icon-tenant"></i> 系统管理</router-link>
                </el-menu-item>
                <el-menu-item index="3" @click="toggleSideMenu" v-if="$store.state.sideNav && $store.state.sideNav.hasMember === 1">
                  <router-link tag="span" to="/member"><i class="dafa-icon dafa-icon-member"></i> 客户管理</router-link>
                </el-menu-item>
                <el-menu-item index="4" @click="toggleSideMenu" v-if="$store.state.sideNav && $store.state.sideNav.hasTransaction === 1">
                  <router-link tag="span" to="/transaction"><i class="dafa-icon dafa-icon-transaction"></i> 交易管理</router-link>
                </el-menu-item>
                <el-menu-item index="5" @click="toggleSideMenu" v-if="$store.state.sideNav && $store.state.sideNav.hasActivity === 1">
                  <router-link tag="span" to="/activity"><i class="dafa-icon dafa-icon-activity"></i> 活动管理</router-link>
                </el-menu-item>
                <el-menu-item index="6" @click="toggleSideMenu" v-if="$store.state.sideNav && $store.state.sideNav.hasReport === 1">
                  <router-link tag="span" to="/report"><i class="dafa-icon dafa-icon-report"></i> 大数据</router-link>
                </el-menu-item>
              </template>
            </el-menu>
      </div>
      <side-nav v-if="$store.state.media.screen === 'sm'"></side-nav>
    </section>
    <div class="app-side-bar-wrapper"
         :class="{'is-open': $store.state.appNavBarStatus}"
         @click="$store.dispatch('setAppBarStatus', false)"
    ></div>
  </div>
</template>
<script>
import SideNav from '@/components/SideNav'
export default {
  data () {
    return {
      isRoute: true,
      isCollapse: false,
      menuTitleShow: true,
      icons: {
        flatform: 'el-icon-menu',
        sys: 'el-icon-setting',
        users: 'el-icon-info',
        trades: 'el-icon-refresh',
        activities: 'el-icon-date',
        reports: 'el-icon-news'
      },
      allList: [
        {
          'title': '平台管理01'
        },
        {
          'title': '平台管理02'
        }
      ]
    }
  },
  methods: {
    toggleSideMenu () {
      this.$store.dispatch('setNavStatus', true)
    },
    collapse (nv) {
      if (nv.screenWidth <= 1200 && nv > 640) {
        this.isCollapse = true
      } else {
        this.isCollapse = false
      }
    }
  },
  watch: {
    '$store.state.media' (nv) {
      this.collapse(nv)
    }
  },
  components: {
    SideNav
  }
}
</script>
<style scoped>
  @import "../../assets/css/variable.css";
  .el-menu-toggle{
    height: 50px;
    line-height: 50px;
    /*box-shadow: 0 1px 0 rgba(0,0,0,.2);*/
    border-bottom: 1px solid #2e313b;
    margin-bottom: 1px;
    padding: 0 24px;
    font-size: 14px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: #1a1a1a;
    }
    & a {
      color: #fff !important;
      font-size: 1rem;
    }
    & i {
      transform: rotate(90deg);
      color: #000;
      font-weight: bold;
    }
  }
  .side-nav {
    width: 180px;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 50px;
    height: 100%;
    overflow: auto;
    transition: width 0.3s,transform 0.3s;
    z-index: 2001;
    /*border-right: solid 1px #e6e6e6;*/
    background: #22252f;
    & .el-menu-item {
      color: #d1d3e0;
      background: #22252f !important;
      & > span{
        /*border-bottom: 1px solid #606576;*/
        height: calc(100% - 1px);
        font-weight: 300;
        /*border-top: 1px solid #4a4f5d !important;*/
        border-bottom: 1px solid #3e424b !important;
        display: flex;
        align-items: center;
        background: none;
        tap-highlight-color: #fff;
        position: relative;
        /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
        /*-webkit-tap-highlight-color:transparent;*/
        &:after{
          content: '';
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background: #1a1a1a;
          position: absolute;
        }
        &:focus, &:active {
          background: none !important;
          outline: none;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          -webkit-tap-highlight-color:transparent;
        }
        /*&:after{*/
          /*content: '';*/
          /*position: absolute;*/
          /*bottom: 0;*/
          /*left: 0;*/
          /*width: 100%;*/
          /*height: 1px;*/
          /*background: #5b5c60;*/
          /*opacity: 0.7;*/
        /*}*/
      }
    }
    & .el-submenu .el-menu-item{
      min-width: inherit;
    }
    & .el-menu {
      border-right: none;
    }
  }
  .collapse + .frame_content{
    left: 65px;
  }
  .el-menu-vertical-demo{
    & .el-menu-item.is-active,
    & .el-menu-item:hover,
    & .el-menu-item:focus {
      background-color: #aab8a3 !important;
      color: #fff;
    }
  }
  @media only screen and (max-width: 768px) {
    .side-nav .el-menu-item {
      font-size: 1rem;
      color: #fff !important;
      & .dafa-icon , & i{
        font-size: 18px !important;
        color: #fff !important;
      }
    }
  }
  @media only screen and (max-width: 1024px) {
    .side-nav {
      width: 260px;
      overflow: hidden;
      left: -100%;
      transition: left .3s linear;
      &.is-open {
        left: 0;
      }
    }
    .app-side-bar-wrapper {
      display: none;
      &.is-open{display: block;}
    }
    .el-menu-item span{
      display: block;
    }
    .frame_content{left: 0;}
    /*.side-nav.collapse {*/
    /*left: 100%;*/
    /*}*/
    .app-side-bar-wrapper {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .45);
      z-index: 100;
      height: calc(100vh - 50px);
      &.is-open {
        display: block;
      }
    }
  }
</style>
