<template>
  <div class="marquee-wp" :class="{'marquee-wp-app': screenW <=768}">
<!--    <img src="../../../static/img/notice.png" :class="{broadcastLogoInfo:screenW >768,broadcastLogoInfoApp:screenW <= 768}" v-if="broadContent" />-->
    <i class="broadcast dafa-icon dafa-icon-broadcast-logo" style="color: #fff;font-size: 22px!important;" :class="{broadcastLogoInfo:screenW >768,broadcastLogoInfoApp:screenW <= 768}" v-if="broadContent"></i>
    <div id="marquee" :class="{'marquee-app': screenW <=768, 'marquee-pc': screenW > 768}">
      <div ref="marqueelist" class="list-wp" >
        <ul id="marquee-list" :class="{'marquee-ul-app': screenW <=768 }">
<!--          <li class="marquee-li" :class="{'marquee-li-pc': screenW > 768 }"   :style = "{width:perWidths,animation:animation,'-webkit-animation':animation}" v-html="broadContent"></li>-->
          <li class="marquee-li" :class="{'marquee-li-pc': screenW > 768 }"   v-html="broadContent"></li>
        </ul>
      </div>
    </div>
    <audio ref="mp3Play" id="mp3Play"   :autoplay="autoPlay"   :src="mp3Url"> </audio>
  </div>
</template>
<script>
import Api from '@/api/sys'
export default {
  name: 'MessageMarquee',
  data () {
    return {
      key: '',
      websock: null,
      messages: '',
      pers: 200,
      widthSpan: 300,
      animation: '',
      duration: 0,
      ws: null,
      thimeUnit: 6, // 动画最小时间单位
      broadContent: '',
      setInterNum: 0,
      backData: {},
      broadcastInfo: [],
      currentBroadcastInfo: [],
      timeFlag: false,
      inserBroadcast: [],
      imgUrl: '',
      animationTimeRecord: 0,
      autoBroadcastlist: [],
      wsConnectNum: 0, // ws连接次数
      autoBroadcastNum: 2, // 自动广播播放次数设置
      // muted: true,
      mp3Url: '',
      autoPlay: false,
      animationDom: null
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  mounted () {
    // 页面刚进入时开启长连接
    this.initWebSocket()
    this.animationDom = document.querySelectorAll('.marquee-li')[0]
    let _this = this
    this.animationDom.addEventListener('webkitAnimationEnd', () => {
      _this.animationDom.style = ''
      _this.broadcastInfo = []
      _this.inserBroadcast = []
      _this.setInterNum = 0
    })
    this.animationDom.addEventListener('webkitAnimationIteration', () => {
      this.animationDom.style = ''
      if (_this.autoBroadcastlist.length === 0 && _this.currentBroadcastInfo.length === 0 && _this.inserBroadcast.length === 0) {
        _this.clearAnimation(_this)
        return
      }
      // 过滤掉过期时间，过期次数
      if (_this.autoBroadcastlist.length === 0) {
        let data = []
        for (let i = 0; i < _this.currentBroadcastInfo.length; i++) {
          if (i === 0 && _this.currentBroadcastInfo[i].broadcastType === 3) {
            continue
          }
          if (_this.currentBroadcastInfo[i].broadcastType === 3) {
            data.push(_this.currentBroadcastInfo[i])
          }
          if (_this.currentBroadcastInfo[i].broadcastType === 1) {
            if (_this.currentBroadcastInfo[i].sTime < new Date().getTime() && _this.currentBroadcastInfo[i].eTime > new Date().getTime()) {
              data.push(_this.currentBroadcastInfo[i])
            }
          }
          if (_this.currentBroadcastInfo[i].broadcastType === 2) {
            if (!_this.currentBroadcastInfo[i].num) {
              _this.currentBroadcastInfo[i].num = 1
            } else {
              ++_this.currentBroadcastInfo[i].num
            }
            if (_this.currentBroadcastInfo[i].sTime < new Date().getTime() && _this.currentBroadcastInfo[i].num < _this.currentBroadcastInfo[i].broadcastCount) {
              data.push(_this.currentBroadcastInfo[i])
            }
          }
        }
        if (data.length === 0 && _this.inserBroadcast.length === 0) {
          _this.clearAnimation(_this)
          return
        }
        _this.currentBroadcastInfo = data
      }
      // 新增、删除、修改广播
      if (_this.currentBroadcastInfo.length === 0 && _this.inserBroadcast.length > 0) {
        _this.currentBroadcastInfo = _this.inserBroadcast
        for (let i = 0; i < _this.inserBroadcast.length; i++) {
          // 数据增加或修改
          if (_this.inserBroadcast[i].broadcastType !== 3 && _this.inserBroadcast[i].content) {
            _this.currentBroadcastInfo.push(_this.inserBroadcast[i])
            _this.inserBroadcast[i].delete = true
          }
          // 数据项删除
          if (_this.inserBroadcast[i].broadcastType !== 3 && !_this.inserBroadcast[i].content) {
            _this.inserBroadcast[i].delete = true
          }
        }
      } else if (_this.currentBroadcastInfo.length > 0 && _this.inserBroadcast.length > 0) {
        let dataList = []
        for (let i = 0; i < _this.currentBroadcastInfo.length; i++) {
          for (let j = 0; j < _this.inserBroadcast.length; j++) {
            if (_this.currentBroadcastInfo[i].id === _this.inserBroadcast[j].id && !_this.inserBroadcast[j].content) {
              // 删除操作
              _this.inserBroadcast[j].delete = true
              _this.currentBroadcastInfo[i].delete = true
            } else if (_this.currentBroadcastInfo[i].id === _this.inserBroadcast[j].id && _this.inserBroadcast[j].content && _this.inserBroadcast[j].broadcastType !== 3) {
              // 修改操作
              _this.currentBroadcastInfo[i] = JSON.parse(JSON.stringify(_this.inserBroadcast[j]))
              _this.inserBroadcast[j].delete = true
            }
          }
        }
        _this.currentBroadcastInfo.forEach(item => {
          if (!item.delete) {
            dataList.push(item)
          }
        })
        _this.currentBroadcastInfo = dataList
        // }
        // 广播插入操作
        let beforList = [] // 自动广播
        let afterList = [] // 其他广播
        for (let j = 0; j < _this.inserBroadcast.length; j++) {
          if (!_this.inserBroadcast[j].delete) {
            if (_this.inserBroadcast[j].broadcastType === 3) {
              beforList.push(_this.inserBroadcast[j])
            } else {
              afterList.push(_this.inserBroadcast[j])
            }
          }
        }
        _this.autoBroadcastlist = _this.autoBroadcastlist.concat(beforList)
        _this.currentBroadcastInfo = _this.currentBroadcastInfo.concat(afterList)
        _this.inserBroadcast = []
      }
      _this.contentList = []
      // let contentWidth = 0
      // 自动广播内容播放
      if (_this.autoBroadcastlist.length > 0) {
        _this.contentList.push(`${_this.autoBroadcastlist[0].content}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`)
        _this.autoBroadcastlist.shift()
      } else if (_this.currentBroadcastInfo.length > 0) {
        _this.currentBroadcastInfo.forEach(item => {
          if (item.content && item.content !== 'undefined') {
            _this.contentList.push(`${item.content}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`)
          }
        })
        if (_this.contentList.length === 0 || (_this.contentList.length === 1 && !_this.contentList[0])) {
          _this.clearAnimation(_this)
          return
        }
      }
      _this.broadContent = `${this.unitSpan()}${this.contentList.join('')}`
      if (_this.currentBroadcastInfo.length === 1 && _this.currentBroadcastInfo[0].broadcastType === 3) {
        _this.currentBroadcastInfo.shift()
      }
      let theTotal = (this.getSize(this.contentList.join('')).size + this.widthSpan) / this.widthSpan
      this.animationDom.style.animation = `${Math.ceil(theTotal) * this.thimeUnit}s  move infinite linear`
    })
  },
  beforeDestroy () {
    // 页面销毁时关闭长连接
    this.wsclose()
  },
  methods: {
    initWebSocket () {
      // 初始化weosocket
      Api.getCmsToken().then((res) => {
        if (this.websocket) {
          this.websocket = null
        }
        if (res.data) {
          let resData = res.data
          // ws地址
          this.ws = `ws://${location.hostname}/v1/broadCast/chat?type=3&token=${resData}`
          // this.ws = `ws://pt02.dafacloud-test.com/v1/broadCast/chat?type=3&token=${resData}`
          // this.ws = `ws://pt.dafacloud-test.com/v1/broadCast/chat?type=3&token=${resData}`
          // let ws = process.env.NODE_ENV === "production" ? '' : '' + res.data
          this.websocket = new WebSocket(this.ws)
          this.websocket.onopen = this.wsonopen
          this.websocket.onerror = this.wsonerror
          this.websocket.onmessage = this.wsonmessage
          this.websocket.onclose = this.wsclose
        }
      })
    },

    wsonopen (e) {
      // ws.send("发送数据");
    },
    wsonerror () {
      // 错误
    },
    clearAnimation (_this) {
      _this.autoPlay = false
      _this.broadContent = ''
      _this.broadcastInfo = []
      _this.currentBroadcastInfo = []
      _this.inserBroadcast = []
      _this.setInterNum = 0
      this.animationDom.style = ''
    },
    // 自动广播播放次数控制
    dealAutoBroadcastNum (arrayList, item) {
      for (let i = 0; i < this.autoBroadcastNum; i++) {
        arrayList.push(item)
      }
    },
    getSize (str) {
      let width = ''
      if (document.querySelector('#animitionContent')) {
        document.querySelector('#animitionContent').outerHTML = ''
      }
      let dom = document.createElement('span')
      dom.id = 'animitionContent'
      dom.style.opacity = 0
      dom.style.position = 'absolute'
      dom.style.display = 'inline-block'
      dom.style.fontSize = '14px'
      dom.style.fontWeight = 300
      dom.innerHTML = str
      document.querySelector('body').append(dom)
      width = getComputedStyle(document.querySelector('#animitionContent'), null).width
      return {
        width: width,
        size: width.substr(0, width.indexOf('px'))
      }
    },
    unitSpan () {
      return `<span style="width:${this.widthSpan}px;display: inline-block"></span>`
    },
    // 数据接收
    wsonmessage (e) {
      let data = JSON.parse(e.data)
      if (data.extend && data.extend.hasOwnProperty('isSuccess') && !data.extend.isSuccess) {
        // ++this.wsConnectNum
        return
      }
      this.wsConnectNum = 0
      if (data.code === 6) {
        this.websocket.send('{"code":9}')
        return
      }
      let list = null
      if (data.body) {
        list = JSON.parse(data.body)
      }
      if (!list) {
        return
      }
      // 广播消息根据broadcastType分为1，2，3类
      // 1.根据开始结束时间(sTime,eTime)来播放和结束
      // 2.根据broadcastCount(轮播次数)来结束播放
      // 3.紧急插播消息  只播放一次 且直接插入到当前播放消息的前面

      // 要删除的广播
      if (list.hasOwnProperty('id') && !list.content) {
        this.inserBroadcast.push(list)
        return
      }
      if (list.broadcastType === 1 || list.broadcastType === 2) {
        if (list.content) {
          this.inserBroadcast.push(list)
          this.broadcastInfo.push(list)
        }
      }
      if (list && list.broadcastType === 3) {
        if (list.content) {
          // this.inserBroadcast.push(list)
          this.dealAutoBroadcastNum(this.inserBroadcast, list)
          list.content = list.content.replace(/【([^】]+)?】/gm, '【<span style="color:yellow">$1</span>】')
          list.content = list.content.replace(/第(.*)?期/gm, '第<span style="color:yellow">$1</span>期')
          list.content = list.content.replace(/已做(.*)?处理/gm, '已做<span style="color:yellow">$1</span>处理')
          list.content = list.content.replace(/完成开奖$/gm, '<span style="color:yellow">完成开奖</span>')
          this.dealAutoBroadcastNum(this.broadcastInfo, list)
        }
      }
      if (this.setInterNum === 0) {
        Api.ringtone().then((res) => {
          this.mp3Url = this.$options.filters.imgHost(res.data.ringtone.broadcastRingtoneUrl)
          this.autoPlay = true
          this.$refs.mp3Play.play().catch(() => {})
        })
        this.setInterNum = 1
        this.contentList = []
        this.contentList.push(`${this.broadcastInfo[0].content}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`)
        this.broadContent = `${this.unitSpan()}${this.contentList.join('')}`
        let theTotal = (this.getSize(this.contentList.join('')).size + this.widthSpan) / this.widthSpan
        this.animationDom.style.animation = `${Math.ceil(theTotal) * this.thimeUnit}s  move infinite linear`
        this.inserBroadcast = []
        // 初始化广播时为自动广播
        if (this.broadcastInfo.length === this.autoBroadcastNum) {
          this.autoBroadcastlist = [...this.broadcastInfo]
          this.autoBroadcastlist.shift()
          this.currentBroadcastInfo = []
          this.inserBroadcast = []
          this.broadcastInfo = []
        } else {
          this.currentBroadcastInfo = [...this.broadcastInfo]
        }
      }
    },
    wsclose (status) { // 关闭
      console.log('关闭')
      setTimeout(() => {
        if (this.$route.path === '/login' || status === 'close') {
          this.ws = null
          this.wsConnectNum = 0
          this.clearAnimation(this)
          return
        }
        ++this.wsConnectNum
        if (this.wsConnectNum <= 5) {
          this.clearAnimation(this)
          this.initWebSocket()
        }
      }, 15000)
    }
  }
}
</script>
<style>
  .marquee-wp{
    height: 100%;
    /*position:relative;*/
    position: absolute;
    right: 104px;
    /*right: 0px;*/
  & .broadcastLogoInfo{
      /*margin-top: -40px;*/
      position: absolute;
      display: inline-block;
      left: -20px;
      width: 22px;
    }
  & .broadcastLogoInfoApp{
      left: 0px;
      position: absolute;
    }
  & .broadcast{
      display: inline-block;
      vertical-align: top;
      text-align: center;
      line-height: 50px;
    }
  & .marquee-ul-app{
      position: fixed!important;
      display: contents;
      overflow: hidden;
      /*width: 214px;*/
      /*margin-top: -50px;*/
      height: 50px;
    }
  &   .marquee-app{
        /*margin-left: 25px;*/
        /*width: 200px;*/
        /*width: 146px;*/
        /*width:calc(100% - 230px)*/
        padding-left: 23px;
      }
  & .marquee-pc{
      width: 300px;
    }
  & #marquee {
      position: relative;
      display: inline-block;
      height: 50px;
      overflow: hidden;
  & .list-wp{
      position: relative;
      display: inline-block;
      /*width: 380px;*/
      height: 50px;
      overflow: hidden;
  & #marquee-list {
      /*position: absolute;*/
  /*padding-left:80px;*/
  /*animation: 10s move infinite linear;*/
  /*position: relative;*/
  & .marquee-li {
      display: inline-block !important;
      margin: 0;
      height: 50px;
      line-height: 50px;
      text-align: right;
      float: right;
      width:max-content;
     /* position: absolute;*/
     /*left:0px;*/
      /*padding-left: 200px;*/
      /*min-width: 400px;*/
      font-weight: 300;
      color: #fff;
      font-size: 14px !important;
  & .marquee-li-pc{
      padding-left: 320px;
    }
  &:hover {
     color: #fff;
     background: none;
   }
  }
  }
  }
  }
  }
  .marquee-wp-app{
    margin-left: -116px;
    overflow: hidden;
    width:calc(100% - 148px)!important;
  }
  @keyframes move{
    0%{
      left: 0%;
    }
    100%{
      transform: translate3d(-100%, 0, 0)
    }
  }
  @-webkit-keyframes move{
    0%{
      left: 0%;
    }
    100%{
      -webkit-transform: translate3d(-100%, 0, 0)
    }
  }
  @-o-keyframes move /* Opera */
  {
    0%{
      left: 0%;
    }
    100%{
      -webkit-transform: translate3d(-100%, 0, 0)
    }
  }
</style>
