<template>
  <div id="app" data-date="2019.10.30 16:16">
    <router-view></router-view>
    <span id="str-length"></span>
  </div>
</template>

<script>
import {touchEvent} from '@/utils'
import api from '@/api'
import {imgHost} from '@/filters'
export default {
  name: 'App',
  computed: {
    statue () {
      return this.$store.state.appNavBarStatus
    }
  },
  beforeCreate () {
    api.getSiteLogo()
      .then(res => {
        this.siteLogo = ''
        if (res.code === -7) {
          this.$router.push('/maintian')
          return
        }
        if (res.data.tenant) {
          if (res.data.tenant.logo) {
            this.siteLogo = imgHost(res.data.tenant.logo)
          }
          if (res.data.tenant.tenantCode !== 'system') {
            this.$store.state.isToken = res.data.tenant.isToken
          }
        }
      }).catch(error => { console.log('getSiteLogo', error) })
  },
  mounted () {
    this.compute()
    var timeout = null
    window.onresize = () => {
      timeout = timeout ? null : setTimeout(() => {
        clearTimeout(timeout)
        timeout = null
        this.compute()
      }, 0)
    }
  },
  methods: {
    compute () {
      let width = document.documentElement.clientWidth
      let media = {
        screen: 'large',
        screenWidth: width
      }
      if (width >= 1024 && width <= 1920) {
        media.screen = 'lg'
      } else if (width > 1920) {
        media.screen = 'xlg'
      } else {
        media.screen = 'sm'
      }
      this.$store.dispatch('setMediaScreen', media)
    }
  },
  watch: {
    '$store.state.appNavBarStatus' (nv) {
      touchEvent(nv)
    }
  }
}
</script>
<style>
  #str-length {
    visibility: hidden;
    white-space: nowrap;
    font-size:12px;
  }
</style>
