<template>
  <div class="panel">
    <div class="panel-heading">
      打赏设置
      <div class="float-right panel-heading-right">
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header"></div>
      <!-- 普通表格 -->
      <div class="report-data no-border rwd-padding">
        <!-- 表头 -->
        <el-form :model="ruleForm" status-icon :rules="rules" size="small" ref="ruleForm" label-width="80px" :label-position="screenW>=768 ? 'right':'top'" v-loading="loading"
                 element-loading-customClass="loadingClass" element-loading-spinner="dafa-icon-loading01 dafa-icon" @keyup.native.enter="submitForm('ruleForm')" @submit.native.prevent>
          <!--<el-form-item label="聊天室名称">-->
            <!--<el-input placeholder="请输入1-4个字符"></el-input>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="副标题">-->
            <!--<el-input placeholder="请输入1-4个字符"></el-input>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="房间密码">-->
            <!--<el-input placeholder="请输入4位数字"></el-input>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="允许开放的用户">-->
            <!--<multiple-select v-model="ruleForm.gradeList" :level="level"  class="level-items"></multiple-select>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="需要房间密码的用户">-->
            <!--<multiple-select v-model="ruleForm.gradeList" :level="level"  class="level-items"></multiple-select>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="允许发言的用户">-->
            <!--<multiple-select v-model="ruleForm.gradeList" :level="level"  class="level-items"></multiple-select>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="外部访客推广链接">-->
          <!--</el-form-item>-->
          <!--<el-form-item label="注册按钮链接">-->
            <!--<el-input placeholder="以HTTP://或HTTPS开头，可带上邀请码"></el-input>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="成员发言最小间隔时间">-->
          <!--</el-form-item>-->
          <!--<el-form-item label="访客发言最小间隔时间">-->
          <!--</el-form-item>-->
          <!--<el-form-item label="管理员允许发言字符数">-->
          <!--</el-form-item>-->
          <!--<el-form-item label="管理员允许发言字符数">-->
          <!--</el-form-item>-->
          <!--<el-form-item label="礼物开关" prop="state" class="rwd-turnoff">-->
            <!--<el-radio-group v-model="ruleForm.state">-->
              <!--<el-radio-button label="0">关</el-radio-button>-->
              <!--<el-radio-button label="1">开</el-radio-button>-->
            <!--</el-radio-group>-->
          <!--</el-form-item>-->
          <!--<el-form-item label="打赏最高" prop="maxAmount" >-->
            <!--<el-input v-model="ruleForm.maxAmount" class="width-search200"  placeholder="请输入每小时打赏最高金额"></el-input>-->
            <!--&lt;!&ndash;<span class="margin-l6 font-s12">元</span>&ndash;&gt;-->
          <!--</el-form-item>-->
          <!--<el-form-item label="等级开放" class="level-class" prop="gradeList">-->
           <!---->
          <!--</el-form-item>-->
          <el-form-item>
            <el-button size="mini"  type="primary" plain @click="submitForm('ruleForm')" :loading="submitLoading">{{submitLoading ? '正在加载中' :'保 存'}}</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import MultipleSelect from '@/components/MultipleSelect'
import Api from '@/api/tenant'
import {validateRules} from '@/utils/validateRules'
import {gradeList} from '@/utils/config'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    let validateMaxAccount = (rule, value, callback) => {
      let vdt = validateRules.vdata(value, {
        'required': {msg: '请输入每小时打赏最高金额'},
        'digits': {}
      })
      if (!vdt.result) {
        callback(new Error(vdt.msg))
      } else {
        callback()
      }
    }
    return {
      level: gradeList,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        state: '0',
        maxAmount: '',
        gradeList: {isChangeValue: false, value: []}
      },
      rules: {
        state: [
          { required: true, message: '请输入礼物展示', trigger: 'change' }
        ],
        maxAmount: [
          { required: true, validator: validateMaxAccount, trigger: 'blur' }
        ]
      },
      options: []

    }
  },
  mounted () {
    this.getPlatformLiveTip()
  },
  methods: {
    getPlatformLiveTip () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.getSystemLiveTip(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.ruleForm.id = res.data.id
        this.ruleForm.state = res.data.state.toString()
        this.ruleForm.maxAmount = res.data.maxAmount
        if (!res.data.gradeList) {
          res.data.gradeList = ''
        }
        let gradeList = {}
        Object.assign(gradeList, {})
        gradeList.isChangeValue = false
        gradeList.value = []
        if (res.data.gradeList && res.data.gradeList !== '') {
          gradeList.value = res.data.gradeList.toString().split(',').map(v => +v)
          res.data.gradeList = gradeList
        } else {
          res.data.gradeList = gradeList
        }
        this.ruleForm.gradeList = res.data.gradeList
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    submitForm (formName) {
      this.submitLoading = true
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return
        }
        let submitData = {}
        Object.assign(submitData, this.ruleForm)
        submitData.gradeList = this.ruleForm.gradeList.value.join(',')
        let obj = this
        Api.setSystemLiveTip(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('保存成功')
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  components: {
    Scroll,
    MultipleSelect
  }
}
</script>
