<template>
  <div>
    <div>
      <div class="mt-template mt-template3">
        <div class="black-wrapper"></div>
        <div class="tem3-header-bg">
          <img src="https://images.imags-google.com/system/activity/mobile/tem-xuehua/tem-star/tem3-starry-sky.png" />
        </div>
        <div class="tem3-content">
          <h2 class="tem3-h2">
            神秘彩金，不期而遇
          </h2>
          <div class="tem3-header">
            <p>活动详情</p>
          </div>
          <p>同城彩票平台将不定期派送神秘彩金给予在同城彩票平台会员们,彩金没有门槛限制,不设金额,只要您在同城彩票平台注册过账号,只要您曾登录过同城彩票平台,就算您不曾在同城彩票平台存款娱乐过,都有可能收到我们为您派送的神秘彩金！</p>
          <p>凡是获得神秘彩金的会员,我们将存入会员账号后或所绑定的银行卡后,通过平台的“站内信”通知,彩金发放纯属随机,还望会员多多关注支持同城彩票平台,祝您成为下一个幸运儿！</p>
        </div>
        <div class="tem3-content" style="margin-top: 30px;">
          <div class="tem3-header">
            <p>活动细则</p>
          </div>
          <ul>
            <li class="fa-star">平台所有彩金均以人民币（CNY）为结算金额；</li>
            <li class="fa-star">平台所有优惠为玩家而设，如果发现任何会员，以不诚实的方式套取红利，我平台有权取消会员账户结余的权利；</li>
            <li class="fa-star">平台保留活动最终解释权，以及在无通知的情况下修改，终止活动的权利，适用于所有优惠。</li>
          </ul>
          <p>&nbsp;</p>
        </div>
      </div>
      <p>&nbsp;</p>
    </div>
    <div>
      <div class="mt-template mt-template2">
        <div class="mt-tem2-section blog-img-box">
          <img src="https://images.imags-google.com/system/activity/mobile/tem-xuehua/tem-guoqing/tem2-header.png"/>
        </div>
        <div class="mt-tem2-section1 blog-img-box">
          <img src="https://images.imags-google.com/system/activity/mobile/tem-xuehua/tem-guoqing/tem2-title.png"/>
        </div>
        <div class="mt-tem2-section2">
          <h2>活动详情</h2>
          <ul>
            <li>平台老会员每推荐一位好友注册充值，您将获得￥28元彩金。以此类推，推荐会员赠送彩金无上限；</li>
            <li>推荐好友注册后，好友需要充值￥300元以上（充值不累计）方可领取彩金；</li>
            <li>申请彩金之前必须先绑定银行账号否则系统将判断不符合申请条件拒绝赠予彩金；</li>
            <li>平台代理会员不享有推荐彩金。</li>
            <li>会员邀请好友后请在24小时内联系在线客服进行申请，逾期视为放弃此项优惠。</li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <div class="mt-tem2-section2">
          <h2>活动细则</h2>
          <ul>
            <li>平台所有彩金均以人民币（CNY）为结算金额；</li>
            <li>平台所有优惠为玩家而设，如果发现任何会员，以不诚实的方式套取红利，我平台有权取消会员账户结余的权利；</li>
            <li>保留活动最终解释权，以及在无通知的情况下修改，终止活动的权利，适用于所有优惠;</li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <div class="mt-tem2-footer blog-img-box">
          <img src="https://images.imags-google.com/system/activity/mobile/tem-xuehua/tem-guoqing/tem2-footer.png" />
        </div>
      </div>
      <p>&nbsp;</p>
    </div>
  </div>
</template>
<script>
import '@/assets/css/mt-template.css'
export default {}
</script>
