<template>
  <div class="login-wrapper" id="frame-wrapper">
    <div class="main" role="main" aria-label="主体区块" >
      <router-view></router-view>
    </div>
    <!--<login-canvas></login-canvas>-->
    <!--<div class="footer login-footer" id="frame_footer">-->
        <!--<div class="row" id="data_footer">-->
            <!--<div class="copyright">-->
                <!--© 2016&nbsp;-->
                <!--<a href="http://www.miitbeian.gov.cn/"><img src="../../../static/img/icon-police.png" alt="" style="margin-right: 4px;position: relative;top: -1px;">闽ICP备16028505号-1</a>&nbsp;&nbsp;-->
                <!--版权所有&nbsp;|-->
                <!--<a href="#">xxx公司</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</template>
<script>
// import LoginCanvas from '@/components/Canvas'
export default {
  beforeCreate () {
    if (typeof (Storage) !== 'undefined') {
      // console.log('当前浏览器支持')
    } else {
      this.$message({
        showClose: true,
        message: '当前浏览器不支持，请升级下载或最新版google',
        type: 'error'
      })
    }
  },
  data () {
    return {
    }
  },
  created () {
  },
  methods: {
  }
}
</script>
<style>
  @import '../../assets/css/variable.css';
  @import '../../assets/css/font.css';
  body { margin: 0;}
  .contain{
    width: 100vw;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    min-height: 500px;
    align-items: center;
    z-index: 1000;
    justify-content: center;
  }
  /*.contain .logo{*/
    /*position: absolute;*/
    /*top: 40%;*/
    /*left: 50%;*/
    /*margin: -30px 0 0 -240px;*/
    /*height: 88px;*/
    /*width: 200px;*/
    /*background-size: contain !important;*/
  /*}*/
  .main{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background: url("https://images.imags-google.com/system/common/cms/login/loginbg.jpg") center center /cover no-repeat;
    position: relative;
    /*&:after{*/
      /*width: 100%;*/
      /*height: 100%;*/
      /*content: '';*/
      /*position: absolute;*/
      /*top: 0;*/
      /*left: 0;*/
      /*background: rgba(0 , 0 , 0 , 0.15);*/
    /*}*/
  }
  .login-wrapper {
    touch-action: none;
    overflow: hidden;
    background-image: radial-gradient(ellipse farthest-corner at center top, #000d4d 0%, #040404 100%);
    /*background: var(--color-primary);*/
    height: 100vh;
    min-height: 500px;
    & canvas {
      width: 100%;
      height: 100%;
      margin: auto;
    }
    &:before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
  }

  /*.contain {*/
    /*width: calc(100% - 32px);*/
    /*max-width: 800px;*/
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto;*/
    /*background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 33%, rgba(107, 111, 129, 0.6) 51%, rgba(49, 53, 65, 0.8) 100%);*/
    /*height: 480px;*/
    /*z-index: 2;*/
  /*}*/
  .login-contain, .register, .resetPassword {
    /*box-sizing: border-box;*/
    /*max-width: 320px;*/
    /*height: 100%;*/
    background: rgba(0,0,0,0.7);
    /*position: absolute;*/
    /*width: 50%;*/
    /*margin: auto;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*background: #fff;*/
    padding: 40px 40px 50px;
    transform: translateX(0px);
    visibility: visible;
    border-radius: 5px;
    opacity: 1;
    /*margin: 0 0 0 10vw ;*/
    transition: transform .5s,visibility .3s,opacity .5s,height .3s;
}
/*.login-contain form, .register form, .resetPassword form {*/
    /*padding: 0 10px;*/
/*}*/
.login-contain h1, .register h1, .resetPassword h1{
    font-size: 24px;
    color: #8696a1;
    padding: 2px 0 30px 0;
    font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
}
.login-contain .el-input__inner, .register input, .resetPassword input, .login-contain input:focus, .register input:focus, .resetPassword input:focus {
    font-size: 12px;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    height: 36px;
    margin-bottom: 0;
}
.checkout-error {
    text-align: center;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.3s ease-out, visibility 0.2s 0.2s;
}
.checkout-error span {
    color: #ff4200;
    font-size: 12px;
}
.el-button.expanded {
    display: block;
    width: 100%;
    font-size: 12px;
    border-radius: 20px;
    margin: 0 0 1rem;

}
.btns a {
    font-size: 12px;
    transition: transform .4s;
}
.flex-center {
  display: flex;
  justify-content: space-between;
}
.login-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.login-footer .copyright {
    float: none;
    text-align: center;
}
@media only screen and (max-width: 768px) {
  .login-contain .el-input__inner, .register input, .resetPassword input, .login-contain input:focus, .register input:focus, .resetPassword input:focus {
    font-size: 16px;
  }

  .contain{
    width: 100vw;
    display: block;
  }
  .main{
    background: linear-gradient(180deg, rgba(31, 50, 64, 1)0%, rgba(61, 87, 102, 1),rgba(45, 67, 82, 1));
    /*background: linear-gradient(180deg, rgba(48, 70, 86, 1)50%, rgba(64, 88, 105, 1),rgba(35, 55, 69, 1));   /*background: linear-gradient(180deg, rgba(48, 70, 86, 1)50%, rgba(64, 88, 105, 1),rgba(35, 55, 69, 1));*/
  }
}
@media only screen and (max-width: 640px) {
  .contain {
    width: 100%;
    height: 100%;
    & .logo {
      top: 40px;
      left: 50%;
      margin: 0 0 0 -100px;
    }
  }
  .login-contain, .register, .resetPassword{
    width: 100%;
    max-width: 100%;
    background: none;
    padding: 110px 20px 0;
    & h1 {margin-top: 1.5rem;}
    & .el-input__inner{
      background: rgba(0,0,0,0);

    }
  }
}
</style>
