<template>
    <section :class="isBindIP ? 'contain' : ''">
      <div class="hidden-style">
        <input type="text">
        <input type="password">
      </div>
      <template v-if="isBindIP">
        <div class="login-inner">
          <div class="login-left">
            <div id="animation" class="logo-animation">
              <img :src="screenW > 768 ? pcBackground : mbBackground"  alt="">
              <div class="logo-img">
                <img :src="'/system/common/cms/login/login-object-logo.png' | imgHost" alt=""></div>
              <div class="logo-light">
                <img :src="'/system/common/cms/login/login-object-light.png' | imgHost" alt="">
              </div>
              <div class="logo-d">
                <img :src="'/system/common/cms/login/login-object-d.png' | imgHost" alt=""></div>
              <div class="logo-right">
                <img :src="'/system/common/cms/login/login-object-right.png' | imgHost" alt="">
              </div>
              <div class="logo-left">
                <img :src="'/system/common/cms/login/login-object-left.png' | imgHost" alt="">
              </div>
            </div>
          </div>
          <div class="login-right">
            <!--logo-->
            <div class="login-logo" >
              <img :src="siteLogo ? siteLogo : defaultSiteLogo"  alt="">
            </div>
            <!--<div class="logo" :style="siteLogo ? 'background-img:'+siteLogo + ';center no-repeat': ''"></div>-->

            <!--<div class="logo-pic-app" v-else>-->
              <!--<span>-->
                <!--<img src="../../assets/img/login_logoW.png" alt="">-->
              <!--</span>-->
            <!--</div>-->
            <el-form :model="loginForm" ref="loginForm" label-width="0" @keyup.enter="submitForm('loginForm')" class="login-item" autocomplete="off">
              <el-form-item
                prop="username"
                :rules="[
              { required: true, message: '请输入账号', trigger: 'blur' }
            ]">
                <!--<i v-show="screenW<= 768"  class="fa fa-user input-icon"></i>-->
                <i v-show="loginForm.username.length > 0" class="el-icon-error right-icon" @click="loginForm.username = ''"></i>
                <div class="login-input-box input-style01">
                  <div class="icon-img">
                    <img :src="'/system/common/cms/login/person.png' | imgHost" alt=""></div><el-input v-model="loginForm.username" autocomplete="off" placeholder="请输入账号" ></el-input></div>
              </el-form-item>
              <el-form-item
                prop="password"
                :rules="[
              { required: true, message: '请输入密码', trigger: 'blur' } ]">
                <!--<i class="fa fa-lock input-icon" v-if="screenW <=768"></i>-->
                <i class="dafa-icon dafa-icon-eye03 right-icon" v-if="eye" @click="eye = !eye"></i>
                <i class="dafa-icon dafa-icon-eye04 right-icon" v-else @click="eye = !eye"></i>
                <i v-show="loginForm.password.length > 0" class="el-icon-error right-icon x-icon" @click="loginForm.password = ''"></i>
                <div class="login-input-box input-style01">  <div class="icon-img">
                  <img :src="'/system/common/cms/login/lock.png' | imgHost" alt=""></div><el-input :type="!eye && isFocus ? 'password' : 'text'" @focus="isFocus=true" autocomplete="off" v-model="loginForm.password" placeholder="请输入密码" @keyup.enter.native="submitForm('loginForm')"></el-input></div>
              </el-form-item>
              <el-form-item
                prop="token"
                class="login-lastitems"
                v-if="$store.state.isToken === 1" :rules="[
              { required: true, message: '请输入口令', trigger: 'blur' }
              ]">
                <i v-show="loginForm.token.length > 0" class="el-icon-error right-icon" @click="loginForm.token = ''"></i>
                <div class="login-input-box input-style01"> <div class="icon-img"> <img :src="'/system/common/cms/login/d.png' | imgHost" alt=""></div><el-input v-model="loginForm.token" placeholder="请输入令牌" autocomplete="off"></el-input></div>
              </el-form-item>
              <el-form-item class="login-button">
                <div class="login-input-box input-style02  login-btn-box">
                  <input type="button" :loading="loading" :disabled="loading" @click="submitForm('loginForm')" value="登录" />
                </div>

                <!--<el-button v-else   type="primary" size="small" :loading="loading" @click="submitForm('loginForm')">登录</el-button>-->
              </el-form-item>
            </el-form>
            <div class="login-message">{{loginResult}}</div>
          </div>
        </div>
        <div class="login-version">Dafacloud Cms 3.0  建议使用Google Chrome浏览器</div>
      <!--<div class="logo" :style="siteLogo ? 'background-img:'+siteLogo + ';center no-repeat': ''"></div>-->
      </template>
      <template v-else>
        <div class="no-bg">
          <div class="no-found-container text-center">
            <span class="name">非法访问</span>
            <img src="../../assets/img/error.png" alt="404: 找不到页面">
          </div>
        </div>
      </template>
    </section>
</template>
<script>
import api from '@/api'
import {imgHost} from '@/filters'
export default {
  data () {
    return {
      loading: false,
      loginResult: '',
      eye: false,
      loginForm: {
        username: '',
        password: '',
        token: ''
      },
      pcBackground: imgHost('/system/common/cms/login/login-object-bg.png'),
      mbBackground: imgHost('/system/common/cms/login/login-object-bg02.png'),
      siteLogo: null,
      isBindIP: true,
      isFocus: false,
      defaultSiteLogo: imgHost('/system/common/cms/login/login_logo2.png')
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  mounted () {
    let obj = this
    api.getSiteLogo(function (res) {
      if (res.code === -6) {
        obj.isBindIP = false
        return
      }
      obj.isBindIP = true
    }).then(res => {
      let data = res.data.tenant
      if (data.logo) {
        this.siteLogo = imgHost(data.logo)
      }
    })
  },
  methods: {
    // loginAnimation () {
    //   let card = document.getElementById('animation')
    //   let topCard = card.offsetTop
    //   let leftCard = card.offsetLeft
    //   let widthCard = card.clientWidth
    //   let heightCard = card.clientHeight
    //   card.addEventListener('mousemove', function (e) {
    //     let x = e.clientX - leftCard
    //     let y = e.clientY - topCard
    //     // let teta = 5
    //     let degX = ((x / (widthCard / 2)) * 5) - 5
    //     let degY = ((y / (heightCard / 2)) * 5) - 5
    //     if (x <= widthCard / 2 && y <= heightCard / 2) {
    //       card.setAttribute('style', `transform: rotateY(${degX}deg) rotateX(${-degY}deg);`)
    //     }
    //     if (x <= widthCard / 2 && y > heightCard / 2) {
    //       card.setAttribute('style', `transform: rotateY(${degX}deg) rotateX(${-degY}deg);`)
    //     }
    //     if (x > widthCard / 2 && y <= heightCard / 2) {
    //       card.setAttribute('style', `transform: rotateY(${degX}deg) rotateX(${-degY}deg);`)
    //     }
    //     if (x > widthCard / 2 && y > heightCard / 2) {
    //       card.setAttribute('style', `transform: rotateY(${degX}deg) rotateX(${-degY}deg);`)
    //     }
    //   })
    //   card.addEventListener('mouseout', function () {
    //     card.setAttribute('style', `transform: rotateY(0) rotateX(0);`)
    //   })
    // },
    submitForm (formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.loading = true
          this.fetchInfo()
        }
      })
    },
    fetchInfo () {
      // let base = this.$route.query.redirect || ''
      let userName = this.loginForm.username
      api.Login(this.loginForm, (res) => {
        this.loading = false
        this.loginResult = ''
        if (res.code === -6) {
          this.msgConfirm('IP未绑定', {
            distinguishCancelAndClose: true,
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.isBindIP = false
          }).catch(action => {
            this.isBindIP = false
          })
        }
      })
        .then(res => {
          // console.log('成功', res)
          // console.log(res.code)
          if (res.code === 1) {
            this.loginResult = res.msg
            res.data.userName = userName
            localStorage.setItem('isLogin', 1)
            if (res.data.tenantCode === 'system') {
              res.data.isPlatform = 1
            } else {
              res.data.isPlatform = 0
            }
            sessionStorage.setItem('siteInfo', JSON.stringify(res.data))
            localStorage.setItem('siteInfo', JSON.stringify(res.data))
            this.$store.dispatch('setSiteInfo', res.data)
            // this.$store.dispatch('setCurrentUser', userName)
            this.$store.state.currentUser = userName
            this.$store.state.IsPlatform = res.data.isPlatform
            // this.$store.dispatch('setIsPlatform', res.data.isPlatform)
            // alert(this.$store.state.currentUser)
            setTimeout(() => {
              this.loginResult = '' // 登录提示清零
              // let host = window.location.protocol + '//' + window.location.host
              // let url = base.indexOf('login') !== -1 ? host : base || host
              // window.document.location.href = url
              // let base = this.$route.query.redirect || '/'
              let gotoHome = this.$store.state.IsPlatform === 1 ? '/useInfo' : '/management/managementAnnouncement'
              let base = this.$route.query.redirect || gotoHome
              this.$router.replace(base)
            }, 300)
          } else {
            this.loading = false
            this.loginResult = res.msg
          }
        })
    }
  }
}
</script>
<style>

  .logo-animation{
    position: relative;
    & >div{
      position: absolute;
      top:0;
      left: 0;
      display: block;
    }
    & .logo-img{
      z-index: 3;
      animation: mover01 2s infinite  alternate;
    }
    & .logo-light{
      animation: mover02 0.5s infinite  alternate;
    }
    & .logo-d{
      z-index: 3;
      animation: mover03 1s infinite  alternate;
    }
    & .logo-right{
      z-index: 3;
      animation: moverRight 3s infinite  alternate;
    }
    & .logo-left{
      z-index: 3;
      animation: moverLeft 4s infinite  alternate;
    }
  }
  .login-inner{
    width: 65%;
    max-width: 1200px;
    min-height: 300px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
    box-shadow: -5px 2px 14px rgba(6,6,6,.1);
    background: linear-gradient(258deg, rgba(24, 45, 58, 1)35%, rgba(44, 65, 79, 0.7)90%);
  }
  .login-left{
    width: calc(100% - 350px);
    max-width: 670px;
  }
  .login-right{
    width: 350px;
    position: relative;
  }
  .icon-img{
    line-height: 22px;
    width: 22px !important;
  }
  .login-message{
      text-align: center;
      color: var(--color-danger);
      font-size: 14px;
      position: absolute;
      bottom: -30px;
      width: 100%;
      left: 0;
      }
  .login-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 40px 0;
  }
  .login-item .el-form-item{
      margin-bottom: 8px !important;
      position: relative;
      & .el-form-item__error{
        left: 24px;
        top: 93%;
      }
      & .el-form-item__content{
        & .el-input{
          width: calc(100% - 22px ) !important;
        & input{
          width: 260px;
          font-size: 15px !important;
          border-left: 1px solid #50606b;
          border-bottom: none !important;
          border-top: none !important;
          border-right: none !important;
          background-color: transparent !important;
          color: #fff !important;
          }
          & input::-webkit-input-placeholder{
            color: #9da6ac !important;
          }
          & input[placeholder], [placeholder], *[placeholder]{
            color: #9da6ac !important;
          }
          & input:-webkit-autofill {
            -webkit-text-fill-color: #fff;
            background-color: transparent;
            -webkit-transition: background-color 10000s cubic-bezier(1, -100, 1, -100) 0s;
          }
        }
       & .input-style01{
         background: url("https://images.imags-google.com/system/common/cms/login/login-input.png") center center /cover no-repeat;
       }
        & .input-style02{
          background: url("https://images.imags-google.com/system/common/cms/login/login-btn.png") center center /cover no-repeat;
          transition: all .5s;
          &:hover{
            background: url("https://images.imags-google.com/system/common/cms/login/login-btn-hover.png") center center /cover no-repeat;
          }
          & input{
            width: 100%;
            font-size: 16px;
            text-align: center !important;
            border: none !important;
            color: #fff;
            padding: 0 !important;
            cursor: pointer;
            outline: none !important;
            box-shadow: none !important;
          }
        }
        & .login-input-box{
        width: 100%;
        height: 68px;
        padding: 20px 30px;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-self: center;
        & img{
          width: 22px;
          height: 22px;
        }

      }
      & .login-btn-box{
        font-size: 20px;
        color: #fff;
        font-weight: 300;
        letter-spacing: 1px;
        cursor: pointer;
        margin-top: 20px ;
        &:hover{
         color: #dddddd;
        }
      }
      & input{
      text-align: left !important;
      background: none !important;
      padding: 0 0 0 10px;
      margin-left: 10px;
      height: 25px !important;
      line-height: 25px !important;
      max-height: 25px !important;
      border-radius: 0px !important;
      border: 1px solid #75828a !important;
      }
      }
      & .input-icon{
      position: absolute;
      z-index: 3;
      font-size: 20px !important;
      color: #fff;
      top: 50%;
      transform: translate(0 , -50%);
      line-height: 16px;
      left: -1px;
      width: 35px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      & .right-icon{
      position: absolute;
      right: 30px;
      z-index: 2;
      color: #aaabab;
      top: 50%;
      transform: translate(0 , -50%);
      cursor: pointer;
      opacity: 1;
      &:hover{
      opacity: 0.6;
      }
      }
      & .x-icon{
      right: 58px !important;
      }
      }
  .login-item .el-form-item .input-icon.smaller-icon{
      font-size: 16px !important;
      margin: 0 0 0 -1px;
      }
  .login-button .el-button--primary{
      padding: 13px 15px !important;
   }

  .no-bg{
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0%);
      font-size: 16px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      }

  .no-found-container{
      max-width: 640px;
      margin: 0 auto;
      position: relative;
      & .name{
      position: absolute;
      font-family: fantasy;
      top: 200px !important;
      left: 120px;
      font-size: 50px !important;
      font-family: fantasy;
      color: #666;
      }
      & .desc{
      display: inline-block;
      font-size: 14px;
      position: absolute;
      top: 268px;
      width: 200px;
      text-align: left;
      left: 124px;
      color: #666;
      }
      }
  .login-version{
    position: absolute;
    bottom: 50px;
    color: #fff;
    opacity: 0.3;
  }
  .hidden-style{
    display: none;
  }
  @media only screen and (max-width: 1440px) {
    .login-right{
      width: 276px;
    }
    .login-left{
      width: calc(100% - 300px);
    }
    .login-inner {
      padding: 60px;}
    .login-input-box{
      width: 100% !important;
      height: 49px !important;
      padding: 13px 23px !important;
      & img{
        width: 18px !important;
        height: 18px !important;
      }

    }
    .login-logo {
      padding: 0 0 30px 0;
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
    }
    .login-item .el-form-item__content{
      & .login-btn-box{
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px !important;
      }
      & .el-input input{
        width: 160px !important;
      }
      & .right-icon{
        right: 25px !important;
      }
      & .x-icon{
        right: 50px !important;
      }
    }

  }
  @media only screen and (max-width: 1024px) {
    .login-inner {
      width: 90%;}
    .login-version{
      bottom: 20px;
      text-align: center;
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    .icon-img{
      line-height: 30px;
    }
    .login-inner{
      width: 100%;
      display: block;
      padding: 46% 0 0 0 !important;
      background: none;
      position: relative;
      box-shadow: none;
      & >div{
        width: 100% !important;
      }
      & .login-right{
        position: relative;
        width: 90% !important;
        margin: 0px auto;
        padding: 60px 5px;
        box-shadow: -5px 2px 14px rgba(6,6,6,.1);
        &:after{
          content: '';
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          z-index: 0;
          opacity: 0.97;
          background: linear-gradient(90deg, rgba(47, 67, 81, 1), rgba(25, 46, 60, 1));
        }
      }
      & .login-logo img{
        width: 180px;
      }
      & .login-logo,& .login-item{
        position: relative;
        z-index: 1;
      }
      & .login-left{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    .logo-animation {
      margin: 0 auto;
      width: 90%;
    }
    .login-item{
      width: 98%;
      margin: 0 auto;
      max-width: 320px;
      & .el-form-item__content .el-input {
        position: relative;
        &:after{
          position: absolute;
          content: '';
          left: 7px;
          top: 8px;
          width: 1px;
          height: 20px;
          background: #354957;
        }
        & input{
        border-left: none !important;
        font-size: 15px !important;
        position: relative;}

      }
    }
    .login-inner .el-form-item.is-success .el-input__inner,   .login-inner .el-form-item.is-success .el-input__inner:focus,.login-inner .el-form-item.is-success .el-textarea__inner,.login-inner .el-form-item.is-success .el-textarea__inner:focus{
      border: none!important;
    }
   .input-style01{
      background: url("https://images.imags-google.com/system/common/cms/login/login-input01.png") center center /cover no-repeat !important;
    }
    .input-style02{
      background: url("https://images.imags-google.com/system/common/cms/login/login-btn-phone.png") center center /cover no-repeat !important;}

    .login-input-box {
      padding: 7px 23px !important;
    }
  }
  @media only screen and (max-width: 320px) {
    .login-right{
      padding: 40px 0px !important;
      min-width: 310px;
    }
    .login-version{
      bottom: 15px;}
    .login-inner{
      padding: 23% 0 0 0 !important;}

  }
  @media screen and (max-height: 450px) and (max-width: 768px) {
    .login-version{
      bottom: 15px;}

  .login-inner{
      padding: 50px 0 0 0 !important;

      & .login-right{
        margin: 0px auto;
        padding: 30px ;
        &:after{
          opacity: 1;
        }
      }
    }

  }
  @keyframes  mover01 {
    0% { transform: translateY(0); opacity: 0.3;}
    100% { transform: translateY( 10px); opacity: 1;}
  }
  @keyframes  mover02 {
    0% {  opacity: 0.7;}
    100% { opacity: 1;}
  }
  @keyframes  mover03 {
    0% {  opacity: 0.5;}
    100% { opacity: 0.8;}
  }
  @keyframes moverRight
  {
    0% {  transform: translate(0px , 0)}
    100% { transform: translate(1% , 1%)}
  }
  @keyframes moverLeft
  {
    0% {   transform: translate(0px,0px);   }
    100% {  transform: translate(1%,-1%);}
  }
</style>
