<template>
  <div class="error-wrapper">
    <div class="no-found-container text-center">
      <span class="name">404</span>
      <span class="desc">找不到页面！</span>
      <img src="../../assets/img/error.png" alt="404: 找不到页面">
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style>
  .no-found-container{
    max-width: 640px;
    margin: 0 auto;
    position: relative;
  & .name{
      position: absolute;
      font-family: fantasy;
      top: 142px;
      left: 120px;
      font-size: 100px;
      font-family: fantasy;
      color: #666;
    }
  & .desc{
      display: inline-block;
      font-size: 14px;
      position: absolute;
      top: 268px;
      width: 200px;
      text-align: left;
      left: 124px;
      color: #666;
    }
  }
</style>
