<template>
  <div class="panel">
    <div class="panel-heading">
      站内信
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="LetterEditForm=true">发送站内信</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="状态" prop="isRead">
            <el-select size="min" v-model="ruleForm.isRead"  class="width-midstatus" placeholder="全部">
              <el-option label="全部" value=""></el-option>
              <el-option label="未阅读" value="0"></el-option>
              <el-option label="已阅读" value="1"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="收件人" prop="userName">
            <el-input placeholder="请输入收件人" v-model="ruleForm.userName" size="min" class="width-forword">
            </el-input>
          </el-form-item>
          <el-form-item label="标题" prop="title">
            <el-input placeholder="请输入标题"  v-model="ruleForm.title" size="min" class="width-forword">
            </el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine}">
          <div class="report-nav rb-row delbtn">
            <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows" :loading="submitLoading"> {{submitLoading ? '正在删除' : '删除'}}</el-button>
            <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive" >
              <span v-if="isActive" >取消删除</span>
              <span v-else>删除</span>
            </el-button>
              <!--rwd在右邊的按鈕-->
              <div class="search-rwdbox" >
                <div class="rwd-searchbox" v-if="screenW <=768">
                    <div class="search-rwdbtn">
                      <!--搜尋icon-->
                      <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                      <!--篩選彈跳視窗-->
                      <popover-right
                        :visible="avatorVisible"
                        @close="avatorVisible=false">
                        <el-form  size="small" v-if="screenW<=768" :inline="false" ref="ruleForm" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                          <el-form-item label="状态" prop="isRead" >
                            <el-select size="min" v-model="ruleForm.isRead" class="width-shotstatus" placeholder="全部">
                              <el-option label="全部" value=""></el-option>
                              <el-option label="未阅读" value="0"></el-option>
                              <el-option label="已阅读" value="1"></el-option>
                            </el-select>
                          </el-form-item>
                          <el-form-item label="收件人" prop="userName">
                            <el-input placeholder="请输入收件人" v-model="ruleForm.userName" size="min" >
                            </el-input>
                          </el-form-item>
                          <el-form-item label="标题" prop="title">
                            <el-input placeholder="请输入标题"  v-model="ruleForm.title" size="min" >
                            </el-input>
                          </el-form-item>
                          <el-form-item label="开始时间" prop="startTime">
                          <span class="time-picker">
                           <datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker>
                         </span>
                          </el-form-item>
                          <el-form-item label="结束时间" prop="endTime">
                         <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker>
                         </span>
                          </el-form-item>
                        </el-form>
                        <div class="search-btn" slot="btn">
                          <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                          <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                        </div>
                      </popover-right>
                      <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                        <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                        <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                      </el-button>
                    </div>
                  </div>
                <!--電腦版左滑出彈窗-->
                <div class="rwd-searchbox" >
                  <div class="search-rwdbtn">
                    <!--篩選彈跳視窗-->
                    <el-popover
                      ref="popover"
                      popper-class="custom-popover light-box pc-lightbox"
                      transition="fade-in-right"
                      v-model="letterVisible"
                      custom-class="mini-reveal-modal">
                      <i class="el-icon-close" @click="letterVisible =! letterVisible"></i>
                      <el-form  size="small" label-position="top" >
                        <el-form-item label="发件人" prop="sender"  >
                          {{letterForm.sender}}
                        </el-form-item>
                        <el-form-item label="收件人" prop="userName">
                          {{formatterUserName(letterForm)}}
                        </el-form-item>
                        <el-form-item label="标题" prop="title">
                          {{letterForm.title}}
                        </el-form-item>
                        <el-form-item label="内容描述" prop="content" class="content-box">
                           <span v-html="letterForm.content"></span>
                        </el-form-item>
                      </el-form>
                    </el-popover>
                  </div>
                </div>
                </div>
            </div>
          <div class=" table-style" v-loading="loading"
               element-loading-spinner="dafa-icon-loading01 dafa-icon"
               element-loading-customClass="loadingClass" >
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th><div class="cell">标题</div></th>
                    <th ><div class="cell">收件人</div></th>
                    <th ><div class="cell">状态</div></th>
                    <th width="170px"><div class="cell">创建时间</div></th>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </tr>
                  </thead>
                    <tbody>
                    <template v-if="alllist.length>0">
                      <tr v-for="(items, index) in alllist" :key="index">
                        <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                        <td ><div class="cell max-width400"><span class="color-blue hoverline-effet" @click="openLetterSeeForm(items)">{{items.title}}</span></div></td>
                        <td ><div class="cell"><span>{{formatterUserName(items)}}</span></div></td>
                        <td ><div class="cell"><span>{{ items.read ? '已读' : '未读'}}</span></div></td>
                        <td><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                      </tr>
                    </template>
                    <!--無數據時樣式-->
                    <template v-else>
                      <tr>
                        <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                      </tr>
                    </template>
                    </tbody>
                  </table>
                </el-checkbox-group>
              </div>
            </div>
            <scroll :id="'scrollId1'" class="el-table" v-else>
              <el-table
                ref="multipleTable"
                :data="alllist"
                style="width: 100%;"
                @selection-change="handleSelectionChange"
                @row-click="openDetails"
                highlight-current-row>
                <el-table-column
                  type="selection"
                  fixed
                  width="34"
                  v-if="screenW >768 || isActive">
                </el-table-column>
                <el-table-column
                  label="标题"
                  fixed
                  min-width="190" v-if="screenW> 768">
                  <template slot-scope="scope">
                    <span class="color-blue hoverline-effet" @click="openLetterSeeForm(scope.row)">{{scope.row.title}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="标题"
                  fixed
                  min-width="140" show-overflow-tooltip v-else>
                  <template slot-scope="scope">
                    <span class="color-blue ">{{scope.row.title}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="userName"
                  label="收件人"
                  :formatter="formatterUserName"
                  min-width="100" show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                  prop="read"
                  label="状态"
                  min-width="80">
                  <template slot-scope="scope" ><span>{{ scope.row.read ? '已读' : '未读'}}</span></template>
                </el-table-column>
                <el-table-column
                  prop="gmtCreated"
                  label="创建时间"
                  width="180">
                </el-table-column>
              </el-table>
            </scroll>
          </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <div :class="{'btn-style':btnStyle}"></div>
        <popover-right
          :modal="false"
          title="站内信"
          :visible="detailShow"
          @close="detailShow=false">
          <div class="app-article-style">
            <div class="app-article-header">
                  <span class="app-article-title">
                        {{detailData.title}}
                  </span>
                  <span class="app-artcle-detail">
                      {{detailData.gmtCreated}}
                  </span>
            </div>
            <div class="app-article-content" v-html="detailData.content">
            </div>
          </div>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <letter-edit-form
      :visible="LetterEditForm "
      v-on:onClose="LetterEditForm=false">
    </letter-edit-form>
    <letter-see-form
      :data="selectData"
      :visible="LetterSeeForm"
      v-on:onClose="LetterSeeForm=false">
    </letter-see-form>
  </div>
</template>
<script>
// import api from '@/api'
import LetterEditForm from '@/views/newModal/LetterEditForm'
import LetterSeeForm from '@/views/newModal/LetterSeeForm'
import Api from '@/api/users'
import {gradeData} from '@/utils/config'
import Scroll from '@/components/Scroll'
import {dateFormat} from '@/utils/index'
import DatetimePicker from '@/components/DatetimePicker'
import {validateQueryDateTwo} from '@/utils/validateRules'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      selectData: {},
      tableLine: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      radio2: 1,
      searchＶalue: '',
      searchIput: '',
      Autofocus: false,
      letterVisible: false,
      searchNotice: '',
      LetterSeeForm: false,
      LetterEditForm: false,
      searchShow: false,
      isActive: false,
      isShow: false,
      avatorVisible: false,
      ruleForm: {
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        isRead: '',
        userName: '',
        title: ''
      },
      letterForm: {
        sender: '',
        userName: '',
        title: '',
        content: ''
      },
      alllist: [],
      multipleSelection: [],
      labelPosition: 'top',
      show: false,
      currentPage: 1,
      formLabelAlign: {
        beforeTime: '',
        endTime: '',
        recipient: [],
        status: 1
      },
      visible1: false,
      visible2: false,
      total: 0,
      pageNum: 1,
      pageSize: 20,
      checkedCities: [],
      isIndeterminate: false,
      checkAll: false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    LetterSeeForm,
    LetterEditForm,
    DatetimePicker
  },
  mounted () {
    let userName = this.$route.query.userName
    if (userName) {
      this.ruleForm.userName = userName
    }
    this.getOrderList(1, 20)
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.alllist))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.alllist))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    openLetterSeeForm (val) {
      this.selectData = val
      this.LetterSeeForm = true
    },
    formatterUserName (val) {
      if (!val || val.messageType === undefined) {
        return ''
      }
      let str = ''
      switch (+val.messageType) {
        case 1:
          str = val.userName
          break
        case 2:
          str = gradeData[val.userName]
          break
        case 3:
          str = `${val.userName}及直属下级`
          break
        case 4:
          str = `${val.userName}及全部下级`
          break
      }
      return str
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleCommand (command) {
      // this.$message('click on item ' + command)
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateHour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.searchValue) {
        submitData[this.ruleForm.search] = this.ruleForm.searchValue
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.manageMessageList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.alllist = res.data.result
        this.total = res.data.total
        if (this.alllist.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        let messageData = {}
        messageData.manageMessage = []
        let tempData = {}
        tempData.id = val.id
        tempData.messageType = val.messageType
        messageData.manageMessage.push(tempData)
        submitData.data = JSON.stringify(messageData)
        this.loadingMsg = '正在删除中...'
        this.loading = true
        let obj = this
        Api.manageDeleteMessage(submitData, function () {
          obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loadingMsg = '正在拼命加载中...'
            obj.loading = false
          })
          this.msgSuccess('删除成功')
          this.rwdbtnVisible = false
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        let messageData = {}
        messageData.manageMessage = []
        if (this.screenW > 1023) {
          let allListData = {}
          for (let i = 0; i < this.alllist.length; i++) {
            allListData[this.alllist[i].id] = this.alllist[i]
          }
          for (let i = 0; i < this.checkedCities.length; i++) {
            let tempData = {}
            Object.assign(tempData, {})
            if (!allListData[this.checkedCities[i]]) {
              continue
            }
            tempData.id = allListData[this.checkedCities[i]].id
            tempData.messageType = allListData[this.checkedCities[i]].messageType
            messageData.manageMessage.push(tempData)
          }
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            let tempData = {}
            Object.assign(tempData, {})
            tempData.id = this.$refs.multipleTable.selection[i].id
            tempData.messageType = this.$refs.multipleTable.selection[i].messageType
            messageData.manageMessage.push(tempData)
          }
        }
        submitData.data = JSON.stringify(messageData)
        this.submitLoading = true
        let obj = this
        Api.manageDeleteMessage(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.checkedCities = []
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow (row) {
      // console.log(this.detailData)
      let submitData = {}
      submitData.id = this.detailData.id
      submitData.messageType = this.detailData.messageType
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.manageMessageContent(submitData, function () {
        obj.loading = false
      }).then((res) => {
        let data = res.data
        this.detailData.content = data.content
        this.detailShow = true
        this.rwdbtnVisible = false
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    }
  }
}
</script>
<style scoped>
  @import '../../assets/css/variable.css';
</style>
