<template>
  <div class="panel">
    <div class="panel-heading">
      登录记录
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm"  v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="查询条件" prop="search">
            <el-select size="min" class="width-shotstatus" v-model="ruleForm.search" placeholder="全部">
              <el-option label="账号" value="userName"></el-option>
              <el-option label="IP" value="ip"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="searchValue" class="input-form-item"  v-show="ruleForm.search !== ''">
            <el-input placeholder="请输入关键字" v-model="ruleForm.searchValue"  size="min"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              type="datetime"
              class="width-search-hour"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              type="datetime"
              class="width-search-hour"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" >
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine}">
              <div class="report-nav pc-none">
                <!--rwd在右邊的按鈕-->
                  <div class="search-rwdbox" >
                    <div class="rwd-searchbox" v-if="screenW <=768">
                      <div class="search-rwdbtn">
                        <popover-right
                          :visible="avatorVisible"
                          @close="avatorVisible=false">

                          <el-form :model="ruleForm" ref="ruleForm" size="small" v-show="screenW<=768" :inline="false" @keyup.native.enter="onSubmit" @submit.native.prevent>
                            <el-form-item label="查询条件" prop="search">
                              <el-select size="min"  v-model="ruleForm.search" placeholder="全部">
                                <el-option label="全部" value=""></el-option>
                                <el-option label="账号" value="userName"></el-option>
                                <el-option label="IP" value="ip"></el-option>
                              </el-select>
                            </el-form-item>
                            <el-form-item v-show="ruleForm.search !== ''" prop="searchValue">
                              <el-input placeholder="请输入关键字" v-model="ruleForm.searchValue"  size="min"></el-input>
                            </el-form-item>
                            <el-form-item label="开始时间" prop="startTime">
                               <span class="time-picker">
                                    <datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker>
                                </span>
                            </el-form-item>
                            <el-form-item label="结束时间" prop="endTime">
                              <span class="time-picker">
                                  <datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker>
                              </span>
                            </el-form-item>
                          </el-form>
                          <div class="search-btn" slot="btn">
                            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                          </div>
                        </popover-right>
                        <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                          <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                          <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                        </el-button>
                      </div>
                    </div>
                  </div>
              </div>
                <div class="table-style"  v-loading="loading"
                     element-loading-spinner="dafa-icon-loading01 dafa-icon"
                     element-loading-customClass="loadingClass">
                  <div ref="multipleTable" v-if="screenW > 1023">
                    <div class="el-table__body-wrapper">
                      <table class="el-table lottery-table table300" cellspacing="0"  >
                        <thead class="el-table__header">
                        <tr>
                          <th><div class="cell">会员账号</div></th>
                          <th><div class="cell">登录IP</div></th>
                          <th><div class="cell">登录时间</div></th>
                          <th><div class="cell">登录地区</div></th>
                          <th><div class="cell">登录终端</div></th>
                          <th><div class="cell">登录网址</div></th>
                          <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <template v-if="allList.length>0">
                          <tr v-for="(items, index) in allList" :key="index">
                            <td><div class="cell">
                              <span class="color-blue">{{items.userName}}</span>
                            </div></td>
                            <td ><div class="cell"><span>{{items.loginIp}}</span></div></td>
                            <td><div class="cell"><span>{{items.gmtModified}}</span></div></td>
                            <td><div class="cell"><span>{{items.loginLocation}}</span></div></td>
                            <td><div class="cell"><span>{{formatterSourceId(items)}}</span></div></td>
                            <td><div class="cell"><span>{{items.loginUrl}}</span></div></td>
                          </tr>
                        </template>
                        <!--無數據時樣式-->
                        <template v-else>
                          <tr>
                            <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                          </tr>
                        </template>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <scroll :id="'scrollId1'" class="el-table" v-else>
                    <el-table
                      ref="multipleTable"
                      :data="allList"
                      @row-click="openDetails"
                      style="width: 100%;"
                    >
                      <el-table-column
                        label="会员账号"
                        fixed
                        min-width="120">
                        <template slot-scope="scope">
                          <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                          <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                        </template>
                      </el-table-column>
                      <el-table-column
                        prop="loginIp"
                        label="登录IP"
                        min-width="120" show-overflow-tooltip>
                      </el-table-column>
                      <el-table-column
                        prop="gmtModified"
                        label="登录时间"
                        min-width="170">
                      </el-table-column>
                      <el-table-column
                        prop="loginLocation"
                        label="登录地区"
                        min-width="80">
                      </el-table-column>
                      <el-table-column
                        prop="sourceId"
                        label="登陆终端"
                        :formatter="formatterSourceId"
                        min-width="80">
                      </el-table-column>
                      <el-table-column
                        prop="loginUrl"
                        label="登录网址"
                        :formatter="formatterSourceId"
                        min-width="80">
                      </el-table-column>
                    </el-table>
                  </scroll>
              </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="登录记录查询"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>登录IP</span>
              <span>{{detailData.loginIp}}</span>
            </li>
            <li>
              <span>登录时间</span>
              <span>{{detailData.gmtModified}}</span>
            </li>
            <li>
              <span>登录地区</span>
              <span>{{detailData.loginLocation}}</span>
            </li>
            <li>
              <span>登陆终端</span>
              <span>{{formatterSourceId(detailData)}}</span>
            </li>
            <li>
              <span>登录网址</span>
              <span>{{detailData.loginUrl}}</span>
            </li>
          </ul>
        </popover-right>
        </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
  </div>
</template>
<script>
import Api from '@/api/users'
import {dateFormat} from '@/utils/index'
import {validateQueryDate} from '@/utils/validateRules'
import {sourceData} from '@/utils/config'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      isActive: false,
      isShow: false,
      avatorVisible: false,
      searchValue: '',
      accoucntKey: false,
      ruleForm: {
        search: 'userName',
        searchValue: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      total: 0
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    formatterSourceId (row, column) {
      if (!row || row.sourceId === undefined) {
        return ''
      }
      for (let i = 0; i < sourceData.length; i++) {
        if (sourceData[i].key === row.sourceId) {
          return sourceData[i].value
        }
      }
      return '未知终端'
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    exportExcel () {
      if (!validateQueryDate.validateDateTwoHour(this.ruleForm.startTime, this.ruleForm.endTime, 90)) {
        return
      }
      this.submitLoading = true
      let submitData = {
        pageNum: 1,
        pageSize: 99999,
        startTime: this.ruleForm.startTime,
        endTime: this.ruleForm.endTime
      }
      if (this.ruleForm.search && this.ruleForm.searchValue) {
        submitData[this.ruleForm.search] = this.ruleForm.searchValue
      }
      let obj = this
      Api.exportLoginLog(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        if (res.code === 1 && res.data.filePath !== undefined) {
          window.location.href = location.origin + res.data.filePath
        }
        this.$nextTick(function () {
          obj.submitLoading = false
        })
      })
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDate.validateDateTwoHour(this.ruleForm.startTime, this.ruleForm.endTime, 90)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      if (this.ruleForm.search && this.ruleForm.searchValue) {
        submitData[this.ruleForm.search] = this.ruleForm.searchValue
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      submitData.startTime = this.ruleForm.startTime
      submitData.endTime = this.ruleForm.endTime
      this.loading = true
      let obj = this
      Api.loginLog(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  }
}
</script>
<style scoped>
  @media screen and (max-width:768px){
      .el-input{
        width: 190px;
      }
      .input-form-item{
        & .el-input{
          padding: 0 0 0 68px;
          width: 258px;
        }
      }
  }
</style>
