<template>
  <div class="panel">
    <div class="panel-heading">
    区域限制
    <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="showForm = true">新增白名单IP</el-button>
    </div>
    </div>
    <div class="panel-body ban-panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <div class="city-ban-header" v-if="screenW>768">
          <el-form v-model="regionForm" ref="regionForm" size="min" :inline="true" class="ban-city-content">
            <el-form-item label="请选择限制访问区域" class="ban-form">
              <el-checkbox-group v-model="checkedCitys">
                <el-checkbox v-for="(city, index) in cities" :label="city" :key="city" :class="['citycheck','city-' + index]">{{city}}</el-checkbox>
              </el-checkbox-group>
              <el-button size="mini" type="primary" class="ban-btn-abo" @click="setAreaBan">保存</el-button>
            </el-form-item>
          </el-form>
        </div>
        <el-form :model="ruleForm" ref="ruleForm" size="min"  v-if="screenW>768" :inline="true" @keyup.native.enter="onSearchSubmit" @submit.native.prevent>
          <el-form-item label="IP地址" prop="ipValue">
            <el-input v-model="ruleForm.ipValue"  placeholder="请输入IP地址"></el-input>
          </el-form-item>
          <el-form-item label="所属地区" prop="cityValue">
            <el-select v-model="ruleForm.cityValue" placeholder="请选择">
              <el-option
                v-for="item in citySelect"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSearchSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished': !tableLine}">
        <div >
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSearchSubmit">
                    <el-form-item label="IP地址" prop="ipValue">
                      <el-input v-model="ruleForm.ipValue"  placeholder="请输入IP地址"></el-input>
                    </el-form-item>
                    <el-form-item label="所属地区" prop="cityValue">
                      <el-select v-model="ruleForm.cityValue" placeholder="请选择">
                        <el-option
                          v-for="item in citySelect"
                          :key="item.value"
                          :label="item.label"
                          :value="item.value">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSearchSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >=768 || isActive" @click="deleteWhiteIp">删除</el-button>
          <el-button size="mini" v-if="screenW<768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <!-- 电脑版 -->
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
                <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                  <table class="el-table lottery-table table300" cellspacing="0">
                    <thead class="el-table__header">
                      <tr>
                        <th width="22px"><div class="table-id"></div></th>
                        <th><div class="cell">IP白名单地址</div></th>
                        <th><div class="cell">所属区域</div></th>
                        <th><div class="cell">备注</div></th>
                        <th><div class="cell">操作人</div></th>
                        <th><div class="cell">添加时间</div></th>
                        <!-- <th><div class="cell">操作</div></th> -->
                      </tr>
                      <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                    </thead>
                    <tbody>
                    <template v-if="tableData.length>0">
                      <tr v-for="(items, index) in tableData" :key="index">
                        <td ><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                        <td ><div class="cell"><span >{{items.ip}}</span></div></td>
                        <td ><div class="cell"><span >{{items.area}}</span></div></td>
                        <td ><div class="cell max-width160 cursor-style" :id="'multipleTableRemarkColumn' + index"  @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                          <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                        </div></td>
                        <td ><div class="cell"><span >{{items.managerName}}</span></div></td>
                        <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                      </tr>
                    </template>
                    <!--無數據時樣式-->
                    <template v-else>
                      <tr>
                        <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                      </tr>
                    </template>
                    </tbody>
                  </table>
                </el-checkbox-group>
              </div>
            </div>
            <!-- 手机版 -->
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="tableData"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="id"
                type="selection"
                width="34"
                fixed
                v-if=" screenW >1023 || isActive">
              </el-table-column>
              <el-table-column
                label="IP白名单地址"
                fixed
                min-width="130">
                <template slot-scope="scope">
                  <span class="color-blue overflow-style" >{{ scope.row.ip}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="area"
                label="所属区域"
                min-width="160">
              </el-table-column>
              <el-table-column
                prop="remark"
                label="备注"
                min-width="200">
              </el-table-column>
              <el-table-column
                prop="managerName"
                label="操作人"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                min-width="180">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <!-- <span @click="deleteWhiteIp(detailData)">删除</span> -->
          <span @click="checkRow(detailData)">查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
      </div>
      <popover-right
        :modal="false"
        :visible="detailShow"
        title="区域访问限制"
        @close="detailShow=false">
        <ul>
          <li>
            <span>IP白名单地址</span>
            <span>{{detailData.ip}}</span>
          </li>
          <li>
            <span>所属区域</span>
            <span>{{detailData.area}}</span>
          </li>
          <li>
            <span>备注</span>
            <span>{{detailData.remark}}</span>
          </li>
          <li>
            <span>操作人</span>
            <span>{{detailData.managerName}}</span>
          </li>
          <li>
            <span>添加时间</span>
            <span>{{detailData.gmtCreated}}</span>
          </li>
        </ul>
      </popover-right>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          background
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <div class="text-style">*温馨提示：已勾选区域的IP会被限制访问，但IP白名单中的IP不会被限制。</div>
    </div>
    <el-dialog
      title="添加白名单"
      :visible.sync="showForm"
      @close="closeClear('addForm')"
      custom-class="small-reveal-modal report-moadal">
      <el-form :model="addForm" ref="addForm" :rules="addRules">
        <el-form-item label="IP地址" prop="ipValue">
          <el-input v-model="addForm.ipValue"  placeholder="批量操作可输入IP，以英文逗号(,)分隔开，最多支持100个"></el-input>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="addForm.remark"  placeholder="请输入备注信息，最多50个字符"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
          <el-button @click="closeClear('addForm')" size="mini">取 消</el-button>
          <el-button  size="mini" type="primary" @click="addWhiteIp('addForm')" :loading="submitLoading" :disabled="submitLoading"> {{submitLoading ? '正在提交' : '确 定'}}</el-button>
        </div>
    </el-dialog>
  </div>
</template>
<script>
import Api from '@/api/users'
import Scroll from '@/components/Scroll'
import {validateRules} from '@/utils/validateRules'
import {getEllipsisFlag} from '@/utils'
const cityOptions = ['菲律宾', '柬埔寨', '马来西亚', '中国香港', '中国台湾', '泰国', '缅甸', '老挝', '孟加拉', '伊朗', '墨西哥', '法国', '白俄罗斯', '新加坡', '越南', '爱尔兰', '韩国', '德国', '几内亚', '黎巴嫩', '乌克兰', '拉脱维亚', '俄罗斯', '美国', '索马里', '巴西', '印尼']
export default {
  data () {
    let validateIp = (rule, value, callback) => {
      let arr = value.split(',')
      if (arr.length > 0 && arr.length <= 100) {
        for (let i = 0; i < arr.length; i++) {
          let vdt = validateRules.vdata(arr[i], {
            'ip': {}
          })
          if (!vdt.result) {
            callback(new Error(vdt.msg))
            return
          }
        }
      } else {
        callback(new Error('最多支持100个'))
        return
      }
      callback()
    }
    return {
      avatorVisible: false,
      detailShow: false,
      checkAll: false, // 是否全选
      showForm: false, // 是否显示编辑弹窗
      isIndeterminate: false,
      rwdbtnVisible: false,
      tableLine: true,
      loading: false,
      submitLoading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      isActive: false,
      // 列表数据
      pageNum: 1,
      pageSize: 20,
      total: 0,
      tableData: [],
      detailData: {
        managerName: '',
        realName: '',
        managerProle: '',
        managerTrole: '',
        gmtCreated: '',
        state: ''
      },
      ruleForm: {
        ipValue: '',
        cityValue: ''
      },
      regionForm: {
        managerName: ''
      },
      addForm: {
        ipValue: '',
        remark: ''
      },
      addRules: {
        ipValue: [
          { required: true, validator: validateIp, trigger: 'blur' }
        ],
        remark: [
          { required: false, max: 50, message: '备注信息最多50个字符', trigger: 'blur' }
        ]
      },
      checkedCitys: [],
      checkedCities: [],
      cities: cityOptions,
      citySelect: [{
        value: '',
        label: '全部'
      }, {
        value: '菲律宾',
        label: '菲律宾'
      }, {
        value: '柬埔寨',
        label: '柬埔寨'
      }, {
        value: '马来西亚',
        label: '马来西亚'
      }, {
        value: '中国香港',
        label: '中国香港'
      }, {
        value: '中国台湾',
        label: '中国台湾'
      }, {
        value: '泰国',
        label: '泰国'
      }, {
        value: '缅甸',
        label: '缅甸'
      }, {
        value: '老挝',
        label: '老挝'
      }, {
        value: '孟加拉',
        label: '孟加拉'
      }, {
        value: '伊朗',
        label: '伊朗'
      }, {
        value: '墨西哥',
        label: '墨西哥'
      }, {
        value: '法国',
        label: '法国'
      }, {
        value: '白俄罗斯',
        label: '白俄罗斯'
      }, {
        value: '新加坡',
        label: '新加坡'
      }, {
        value: '越南',
        label: '越南'
      }, {
        value: '爱尔兰',
        label: '爱尔兰'
      }, {
        value: '韩国',
        label: '韩国'
      }, {
        value: '德国',
        label: '德国'
      }, {
        value: '几内亚',
        label: '几内亚'
      }, {
        value: '黎巴嫩',
        label: '黎巴嫩'
      }, {
        value: '乌克兰',
        label: '乌克兰'
      }, {
        value: '拉脱维亚',
        label: '拉脱维亚'
      }, {
        value: '俄罗斯',
        label: '俄罗斯'
      }, {
        value: '美国',
        label: '美国'
      }, {
        value: '索马里',
        label: '索马里'
      }, {
        value: '巴西',
        label: '巴西'
      }, {
        value: '印尼',
        label: '印尼'
      }]
    }
  },
  mounted () {
    this.getCityBan()
    this.getList()
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.tableData))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.tableData))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    // 搜索提交
    closeClear (formName) {
      this.showForm = false
      this.$refs[formName].resetFields()
    },
    onSearchSubmit () {
      this.getList()
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getList(val, this.pageSize)
    },
    arryChange (list) {
      let arry = list.split(',')
      for (let items in arry) {
        let value = arry[items]
        switch (value) {
          case '香港':
            arry[items] = '中国香港'
            break
          case '台湾':
            arry[items] = '中国台湾'
            break
          case '印度尼西亚':
            arry[items] = '印尼'
            break
        }
      }
      return arry
    },
    // 获取区域限制
    getCityBan () {
      Api.getTenantAreaBan().then(res => {
        if (res.code === 1) {
          let arry = this.arryChange(res.data)
          this.checkedCitys = arry
        }
      })
    },
    // 获取百名单
    getList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      // 列表白名单数据
      this.loading = true
      let countryName = ''
      let value = this.ruleForm.cityValue
      switch (value) {
        case '中国香港':
          countryName = '香港'
          break
        case '中国台湾':
          countryName = '台湾'
          break
        case '印尼':
          countryName = '印度尼西亚'
          break
        default:
          countryName = this.ruleForm.cityValue
      }
      let submitData = {
        ip: this.ruleForm.ipValue,
        countryName: countryName,
        pageSize: pageSize,
        pageNumber: pageNum
      }
      Api.tenantAreaWhiteipList(submitData).then(res => {
        this.loading = false
        if (res.code === 1) {
          this.total = res.data.total
          this.tableData = res.data.list
        }
      })
    },
    // 设置访问区域
    setAreaBan () {
      if (this.checkedCitys[0] === '') {
        this.checkedCitys.splice(0, 1)
      }
      for (let items in this.checkedCitys) {
        let value = this.checkedCitys[items]
        switch (value) {
          case '中国香港':
            this.checkedCitys[items] = '香港'
            break
          case '中国台湾':
            this.checkedCitys[items] = '台湾'
            break
          case '印尼':
            this.checkedCitys[items] = '印度尼西亚'
            break
        }
      }
      let submitData = {
        areaList: this.checkedCitys.join(',')
      }
      Api.setTenantAreaBan(submitData).then(res => {
        if (res.code === 1) {
          this.msgSuccess(res.msg)
          this.getCityBan()
        }
      })
    },
    // 添加白名单
    addWhiteIp (formName) {
      this.$refs[formName].validate((valid) => {
        if (!valid) {
          this.submitLoading = false
          return false
        }
        let submitData = {
          ip: this.addForm.ipValue,
          remark: this.addForm.remark
        }
        this.submitLoading = true
        Api.addTenantAreaWhiteip(submitData, () => {
          this.submitLoading = false
        }).then(res => {
          this.submitLoading = false
          if (res.code === 1) {
            this.msgSuccess(res.msg)
            this.showForm = false
            this.addForm.ipValue = ''
            this.getList()
          }
        })
      })
    },
    // 删除白名单
    deleteWhiteIp () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.id = ''
        if (this.screenW > 1023) {
          submitData.id = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.id += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.id !== '') {
            submitData.id = submitData.id.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        Api.deleteTenantAreaWhiteip(submitData).then(res => {
          this.loadingMsg = '正在拼命加载中...'
          if (res.code === 1) {
            this.getList()
            this.msgSuccess(res.msg)
          }
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
      // console.log(this.detailData.state)
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow () {
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll
  }
}
</script>
<style>
.ban-panel-body .ip-tips {
  margin-top: -15px;
  color: #ccc;
}
.city-ban-header {
  background: #FBFAF8;
  padding: 10px 0 8px 10px;
  margin-bottom: 20px;
  border: 1px solid var(--color-border);
  & .ban-form {
    position: relative;
    margin-bottom: 0 !important;
    & .el-form-item__content{
      max-width: 1200px;
      padding: 0 40px 0 0;
    }
    & .ban-btn-abo{
      position: absolute;
      right: -10px;
      top: 5px;
    }
  }
  & .ban-btn {
    margin: 0 0 0 20px !important;
  }
}

.ban-city-content {
  & .el-checkbox__label {
    padding-left: 25px;
  }

  & .el-checkbox + .el-checkbox{
    margin-left: 14px;
  }
  & label.el-checkbox:nth-child(14) {
   margin-left: 0;
  }
  & .citycheck {
    position: relative;
  }
  & .citycheck::before {
    content: '';
    width: 22px;
    height: 15px;
    background: url('/static/img/country-icon.png') 0 0 no-repeat;
    position: absolute;
    left: 14px;
    top: 7px;
    transform: scale(0.7);
  }
  & .city-0::before {
    background-position: 0 0;
  }
  & .city-1::before {
    background-position: -22px 0;
  }
  & .city-2::before {
    background-position: -44px 0;
  }
  & .city-3::before {
    background-position: -66px 0;
  }
  & .city-4::before {
    background-position: -88px 0;
  }
  & .city-5::before {
    background-position: -110px 0;
  }
  & .city-6::before {
    background-position: -132px 0;
  }
  & .city-7::before {
    background-position: -154px 0;
  }
  & .city-8::before {
    background-position: -176px 0;
  }
  & .city-9::before {
    background-position: -198px 0;
  }
  & .city-10::before {
    background-position: -222px 0;
  }
  & .city-11::before {
    background-position: -235px 0;
  }
  & .city-12::before {
    background-position: -268px 0;
  }
  & .city-13::before {
    background-position: -292px 0;
  }
  & .city-14::before {
    background-position: -315px 0;
  }
  & .city-15::before {
    background-position: -336px 0;
  }
  & .city-16::before {
    background-position: -361px 0;
  }
  & .city-17::before {
    background-position: -381px 0;
  }
  & .city-18::before {
    background-position: -405px 0;
  }
  & .city-19::before {
    background-position: -428px 0;
  }
  & .city-20::before {
    background-position: -450px 0;
  }
  & .city-21::before {
    background-position: -472px 0;
  }
  & .city-22::before {
    background-position: -495px 0;
  }
  & .city-23::before {
    background-position: -518px 0;
  }
  & .city-24::before {
    background-position: -542px 0;
  }
  & .city-25::before {
    background-position: -565px 0;
  }
  & .city-26::before {
    background-position: -590px 0;
  }
}
/** 可放公共样式 */
.notPaddtd{
  padding: 0 0 0 10px!important;
}
.notPadd{
  padding: 0 10px!important;
}
</style>
