<template>
  <div class="panel">
    <div class="panel-heading">
      等级管理
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <!-- 普通表格 -->
        <div class="report-data" :class="{'unfinished' : !tableLine}">
          <!--<div class="report-nav pc-none">-->
          <!--</div>-->
          <!-- 表头 -->
          <div class="table-style " v-loading="loading"
               element-loading-spinner="dafa-icon-loading01 dafa-icon"
               element-loading-customClass="loadingClass">
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th ><div class="cell">等级</div></th>
                    <th ><div class="cell">头衔</div></th>
                    <th ><div class="cell">会员数</div></th>
                    <th width="300px"><div class="cell">晋级成长值</div></th>
                    <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td><div class="cell">
                        <span>{{formatterGrade(items)}}</span>
                      </div></td>
                      <td >
                        <div class="cell">
                            <span v-if="items.grade === -1">试玩</span>
                            <span v-else>{{items.gradeName}}</span>
                        </div>
                      </td>
                      <td ><div class="cell color-blue"><span>{{ items.userCount}}</span></div></td>
                      <td><div class="cell">
                        <template v-if="items.grade === -1 || items.grade === 0">
                          <span>---</span>
                        </template>
                        <template v-else>
                          <span>{{items.upGradeValue}}</span>
                        </template></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </div>
            </div>
            <scroll :id="'scrollId1'" class="el-table" v-else>
              <el-table
                :data="allList"
                @row-click="openDetails"
                style="width: 100%;">
                <el-table-column
                  prop="grade"
                  label="等级"
                  :formatter="formatterGrade"
                  min-width="80">
                  <template slot-scope="scope">
                    <span v-if="screenW > 768">{{formatterGrade(scope.row)}}</span>
                    <span v-else class="overflow-style dataIndex" :data-index="scope.$index">{{formatterGrade(scope.row)}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="gradeName"
                  label="头衔"
                  min-width="50">
                  <template slot-scope="scope">
                    <span v-if="scope.row.grade === -1">试玩</span>
                    <span v-else>{{scope.row.gradeName}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="会员数"
                  min-width="80">
                  <template slot-scope="scope"><span class="color-blue">{{ scope.row.userCount}}</span></template>
                </el-table-column>
                <el-table-column
                  prop="upGradeValue"
                  label="晋级成长值"
                  min-width="100">
                  <template slot-scope="scope">
                    <template v-if="scope.row.grade === -1 || scope.row.grade === 0">
                      <span>---</span>
                    </template>
                    <template v-else>
                      <span>{{scope.row.upGradeValue}}</span>
                    </template>
                  </template>
                </el-table-column>
              </el-table>
            </scroll>
          </div>
          <action-sheet
            :visible="rwdbtnVisible"
            @close="rwdbtnVisible = false">
            <div class="rwdbtn-style">
            <span @click="checkRow(detailData)" >查看信息</span>
            </div>
            <span @click="closeRwdBtn" class="angle-all">取消</span>
          </action-sheet>
          <popover-right
            :modal="false"
            :visible="detailShow"
            title="等级管理"
            @close="detailShow=false">
            <!--<div class="detail-info-header" @click="detailShow =!detailShow">-->
              <!--<span class="el-icon-arrow-left" > 返回</span>-->
            <!--</div>-->
            <ul >
              <li>
                <span>等级</span>
                <span>{{formatterGrade(detailData)}}</span>
              </li>
              <li>
                <span>头衔</span>
                <span>{{detailData.gradeName}}</span>
              </li>
              <li>
                <span>会员数</span>
                <span class="color-blue">{{ detailData.userCount}}</span>
              </li>
              <li>
                <span>晋级成长值</span>
                <template v-if="detailData.grade === -1 || detailData.grade === 0">
                  <span>---</span>
                </template>
                <template v-else>
                  <span>{{detailData.upGradeValue}}</span>
                </template>
              </li>
            </ul>
          </popover-right>
        </div>
      <!-- 普通表格结束 -->
      <br>
      <div class="report-foot margin-t10">
      </div>
      <!-- 数据模型结束 -->
    </div>
  </div>
</template>
<script>
import Api from '@/api/users'
import {gradeData} from '@/utils/config'
import Scroll from '@/components/Scroll'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      allList: []
    }
  },
  mounted () {
    this.getOrderList()
  },
  components: {
    Scroll
  },
  methods: {
    formatterGrade (row, column) {
      if (!row || row.grade === undefined) {
        return ''
      }
      if (!row || row.grade === '' || !gradeData[row.grade.toString()]) {
        // console.log('grade', row.grade)
        return '未知等级'
      }
      return gradeData[row.grade.toString()]
    },
    getOrderList () {
      let submitData = {}
      this.loading = true
      let obj = this
      Api.gradeManage(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data
        if (this.allList.length) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  }
}
</script>
<style>
.main {
  display: inline-block;
}
</style>
