<template>
  <div class="panel">
    <div class="panel-heading">
      在线会员
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small" class="small-padding-1r webmaster-manage" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input size="min" v-model="ruleForm.userName" class="width-forword" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="会员账号" v-show="false">
            <el-input size="min" v-model="ruleForm.userName" class="width-forword" placeholder="请输入会员账号" ></el-input>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data " :class="{'unfinished': !tableLine}">
        <div class="report-nav pc-none">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small"  :inline="false"  ref="ruleForm" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input size="min" v-model="ruleForm.userName" class="inputWindth" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="会员账号" v-show="false">
                      <el-input size="min" v-model="ruleForm.userName" class="inputWindth" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">会员账号</div></th>
                  <th ><div class="cell">在线终端</div></th>
                  <th ><div class="cell">登录时间</div></th>
                  <th ><div class="cell">操作时间</div></th>
                  <th><div class="cell">登录IP</div></th>
                  <th><div class="cell">登录地区</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td ><div class="cell">
                      <span class="color-blue">{{items.userName}}</span>
                    </div></td>
                    <td width="15%"><div class="cell">
                      <template v-if="items.sourceId === 1">PC</template>
                      <template v-if="items.sourceId === 2">Mobile</template>
                      <template v-if="items.sourceId === 3">APP</template></div></td>
                    <td ><div class="cell"><span>{{items.loginTime}}</span></div></td>
                    <td ><div class="cell"><span>{{items.updateTime}}</span></div></td>
                    <td ><div class="cell"><span>{{items.loginIp}}</span></div></td>
                    <td><div class="cell"><span>{{items.loginLocation}}</span></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="6"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'"  class="el-table" v-else>
            <el-table
              :data="allList"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                label="会员账号"
                fixed
                min-width="130">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="sourceId"
                label="在线终端"
                min-width="80">
                <template slot-scope="scope">
                  <template v-if="scope.row.sourceId === 1">PC</template>
                  <template v-if="scope.row.sourceId === 2">Mobile</template>
                  <template v-if="scope.row.sourceId === 3">APP</template>
                </template>
              </el-table-column>
              <el-table-column
                prop="loginTime"
                label="登录时间"
                min-width="170">
              </el-table-column>
              <el-table-column
                prop="updateTime"
                label="操作时间"
                min-width="170">
              </el-table-column>
              <el-table-column
                prop="loginIp"
                label="登录IP"
                min-width="120">
              </el-table-column>
              <el-table-column
                prop="loginLocation"
                label="登录地区"
                min-width="80">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <div :class="{'btn-style':btnStyle}"></div>
        <popover-right
          :modal="false"
          title="在线会员"
          :visible="detailShow"
          @close="detailShow=false">
          <!--<div class="detail-info-header" @click="$store.state.detailShow =! $store.state.detailShow">-->
            <!--<span class="el-icon-arrow-left" >返回</span>-->
          <!--</div>-->
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>在线终端</span>
              <template v-if="detailData.sourceId === 1"><span>PC</span></template>
              <template v-if="detailData.sourceId === 2"><sapn>Mobile</sapn></template>
              <template v-if="detailData.sourceId === 3"><span>APP</span></template>
            </li>
            <li>
              <span>登录时间</span>
              <span>{{ detailData.loginTime}}</span>
            </li>
            <li>
              <span>操作时间</span>
              <span>{{ detailData.updateTime}}</span>
            </li>
            <li>
              <span>登录IP</span>
              <span>{{ detailData.loginIp}}</span>
            </li>
            <li>
              <span>登录地区</span>
              <span>{{ detailData.loginLocation}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
  </div>

</template>
<script>
import Api from '@/api/users'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      isShow: false,
      isActive: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: ''
      },
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (!this.ruleForm[item]) {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.onlineUser(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  }
}
</script>
<style>
.main {
  display: inline-block;
}
</style>
