<template>
  <div class="panel">
    <div class="panel-heading">
      银行管理
      <div class="float-right panel-heading-right">
        <el-button
          @click="setBankCard()"
          size="mini"
          type="success">
          可绑定银行卡设置
        </el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small" class=" webmaster-manage" v-if="screenW>768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input size="min" v-model="ruleForm.userName" class="width-search110" placeholder="请输入会员账号" @change="handleUserNameChange"></el-input>
          </el-form-item>
          <el-form-item label="银行卡号" prop="bankCardNumber">
            <el-input size="min" v-model="ruleForm.bankCardNumber" class="width-search110" placeholder="请输入银行卡号" @change="handleUserNameChange"></el-input>
          </el-form-item>
          <el-form-item label="银行户名" prop="accountName">
            <el-input size="min" v-model="ruleForm.accountName" class="width-search110" placeholder="请输入银行户名" @change="handleUserNameChange"></el-input>
          </el-form-item>
          <el-form-item label="选择银行" prop="bankName">
            <el-select size="min" v-model="ruleForm.bankName" placeholder="全部银行" class="width-search110">
              <el-option label="全部" value=""></el-option>
              <el-option
                v-for="item in bankList"
                :key="item.Name"
                :label="item.Name"
                :value="item.Name">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit" >查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine}">
          <div class="report-nav pc-none">
            <!--rwd在右邊的按鈕-->
            <div class="search-rwdbox" >
              <div class="rwd-searchbox" v-if="screenW <=768">
                <div class="search-rwdbtn">
                  <!--搜尋icon-->
                  <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                  <!--篩選彈跳視窗-->
                  <popover-right
                    :visible="avatorVisible"
                    :isScroll="true"
                    @close="avatorVisible=false">
                    <el-form  size="small" v-show="screenW<=768" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit">
                      <el-form-item label="会员账号" prop="userName">
                        <el-input size="min" v-model="ruleForm.userName" placeholder="请输入会员账号" @change="handleUserNameChange"></el-input>
                      </el-form-item>
                      <el-form-item label="银行卡号" prop="bankCardNumber">
                        <el-input size="min" v-model="ruleForm.bankCardNumber"   placeholder="请输入银行卡号" @change="handleUserNameChange"></el-input>
                      </el-form-item>
                      <el-form-item label="银行户名" prop="accountName">
                        <el-input size="min" v-model="ruleForm.accountName"  placeholder="请输入银行户名" @change="handleUserNameChange"></el-input>
                      </el-form-item>
                      <el-form-item label="选择银行" prop="bankName">
                        <el-select size="min" v-model="ruleForm.bankName" placeholder="全部银行" popper-class="small-scroll-select select1" @visible-change="change('select1')">
                          <el-option
                            v-for="item in bankList"
                            :key="item.Name"
                            :label="item.Name"
                            :value="item.Name">
                          </el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item label="开始时间" prop="startDate">
                        <span class="time-picker">
                          <datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker>
                      </span>
                      </el-form-item>
                      <el-form-item label="结束时间" prop="endDate">
                       <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker>
                      </span>
                      </el-form-item>
                      <!--<el-form-item class="post-btn">-->
                        <!--<el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>-->
                        <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                      <!--</el-form-item>-->
                    </el-form>
                    <div class="search-btn" slot="btn">
                      <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                      <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                    </div>
                  </popover-right>
                  <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
                </div>
              </div>
          </div>
        </div>
        <div class="table-style " v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th ><div class="cell">会员账号</div></th>
                  <th ><div class="cell">银行</div></th>
                  <th ><div class="cell">姓名</div></th>
                  <th ><div class="cell">银行卡号</div></th>
                  <th width="80px"><div class="cell">等级</div></th>
                  <th width="80px"><div class="cell">状态</div></th>
                  <th width="155px"><div class="cell">绑定时间</div></th>
                  <th width="30px"><div class="cell">操作</div></th>
                </tr>
                </thead>
                <tbody>
                <template v-if="allList.length>0">
                  <tr v-for="(items, index) in allList" :key="index">
                    <td><div class="cell">
                      <span class="color-blue min-width320">{{items.userName}}</span>
                    </div></td>
                    <td ><div class="cell min-width140"><span>{{items.isOtherBank?`其它银行(${items.bankName})`:items.bankName}}</span></div></td>
                    <td><div class="cell min-width160"><span class="color-blue hoverline-effet" @click="editOne(items)">{{ items.accountName}}</span></div></td>
                    <td><div class="cell"><span>{{items.bankCardNumber}}</span></div></td>
                    <td ><div class="cell"><span>{{items.grade}}</span></div></td>
                    <td ><div class="cell"><span :class="items.isDisable ? 'color-danger' : 'color-success'">{{items.isDisable ? '禁用' : '正常'}}</span></div></td>
                    <td ><div class="cell"><span>{{items.date}}</span></div></td>
                    <td><div class="cell">
                      <div class="table-btnbox icon-menu ">
                      <div class="edit-btns">
                        <span  @click="openFreeze(items)"><i :title="items.isDisable ? '解冻银行卡' : '冻结银行卡'" class="dafa-icon" :class="{'color-bluebutton': items.isDisable}" ></i></span>
                      </div>
                    </div></div></td>
                  </tr>
                </template>
                <!--無數據時樣式-->
                <template v-else>
                  <tr>
                    <td colspan="8"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              :data="allList"
              v-loading="loading"
              @row-click="openDetails" style="width: 100%;">
              <el-table-column
                label="会员账号"
                fixed
                min-width="130">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="bankName"
                label="银行"
                min-width="100" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span>{{scope.row.isOtherBank?`其它银行(${scope.row.bankName})`:scope.row.bankName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="姓名"
                min-width="70" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="screenW>768" class="color-blue hoverline-effet" @click="editOne(scope.row)">{{ scope.row.accountName}}</span>
                  <span v-else class="color-blue">{{ scope.row.accountName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="bankCardNumber"
                label="银行卡号"
                :min-width="screenW > 768 ? '160':'200'" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="grade"
                label="等级"
                width="70">
              </el-table-column>
              <el-table-column
                prop="isDisable"
                label="状态"
                width="70">
                <template slot-scope="scope"><span :class="scope.row.isDisable ? 'color-danger' : 'color-success'">{{scope.row.isDisable ? '禁用' : '正常'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="date"
                label="绑定时间"
                width="160">
              </el-table-column>
              <el-table-column
                label="操作"
                width="50"
                v-if="screenW>768"
                fixed="right">
                <template slot-scope="scope" >
                  <div class="table-btnbox icon-menu ">
                    <div class="edit-btns">
                      <span  @click="openFreeze(scope.row)"><i :title="scope.row.isDisable ? '解冻银行卡' : '冻结银行卡'" class="dafa-icon" :class="{'color-bluebutton': scope.row.isDisable}" ></i></span>
                    </div>
                    </div>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="openFreeze(detailData);rwdbtnVisible=false">{{detailData.isDisable ? '解冻银行卡' : '冻结银行卡'}}</span>
          <span @click="editOne(detailData);rwdbtnVisible=false" >修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          title="银行管理"
          :visible="detailShow"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>银行</span>
              <span>{{detailData.isOtherBank?`其它银行(detailData.bankName)`:detailData.bankName}}</span>
            </li>
            <li>
              <span>姓名</span>
              <span>{{ detailData.accountName}}</span>
            </li>
            <li>
              <span>银行卡号</span>
              <span>{{ detailData.bankCardNumber}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{detailData.grade}}</span>
            </li>
            <li>
              <span>状态</span>
              <span :class="detailData.isDisable ? 'color-danger' : 'color-success'">{{detailData.isDisable ? '禁用' : '正常'}}</span>
            </li>
            <li>
              <span>绑定时间</span>
              <span>{{detailData.date}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <bank-information-form
      :data="selectData"
      :visible="BankInformationForm"
      v-on:onClose="BankInformationForm=false"
    ></bank-information-form>
    <set-bank-card-bind-form
      :visible="setBankCardShow"
      v-on:onClose="setBankCardShow=false"
    ></set-bank-card-bind-form>
  </div>
</template>
<script>
import Api from '@/api/users'
import {bank} from '@/utils/config'
import BankInformationForm from '@/views/newModal/BankInformationForm'
import SetBankCardBindForm from '@/views/newModal/SetBankCardBindForm'
import {validateQueryDateTwo} from '@/utils/validateRules'
import {dateFormat} from '@/utils/index'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
export default {
  mixins: [BaseExtend],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      rwdNumber: '',
      tableLine: true,
      isShow: false,
      isActive: false,
      avatorVisible: false,
      ruleForm: {
        userName: '',
        bankCardNumber: '',
        accountName: '',
        bankName: '',
        startDate: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endDate: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      bankList: bank,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      BankInformationForm: false,
      setBankCardShow: false
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    // 可绑定银行卡设置
    setBankCard () {
      this.setBankCardShow = true
    },
    handleUserNameChange () {
      // this.ruleForm.startDate = ''
      // this.ruleForm.endDate = ''
    },
    editOne (val) {
      this.selectData = val
      this.BankInformationForm = true
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    openFreeze (val) {
      let submitData = {}
      submitData.cardId = val.cardId
      // console.log('submitData', submitData)
      this.loadingMsg = '正在提交...'
      this.loading = true
      let obj = this
      Api.disableBankCard(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    getOrderList (pageNum, pageSize) {
      // let start = this.ruleForm.startDate
      if (!validateQueryDateTwo.validateHour(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {
        pageNum: pageNum,
        pageSize: pageSize,
        userName: this.ruleForm.userName,
        bankCardNumber: this.ruleForm.bankCardNumber,
        accountName: this.ruleForm.accountName,
        bankName: this.ruleForm.bankName,
        startDate: this.ruleForm.startDate,
        endDate: this.ruleForm.endDate
      }
      this.loading = true
      let obj = this
      Api.getBankCardListCms(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.rows
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    BankInformationForm,
    DatetimePicker,
    SetBankCardBindForm
  }
}
</script>
<style>
.main {
  display: inline-block;
}
</style>
