<template>
  <div class = 'main'>
    添加会员
  </div>
</template>
<script>
export default {
  data () {
    return {
      msg: ''
    }
  }
}
</script>
<style>
.main {
  display: inline-block;
}
</style>
