<template>
  <div class="panel">
    <div class="panel-heading">
      会员日志
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="操作类型" prop="type">
            <el-select size="min" v-model="ruleForm.type" class="width-forword width-150" placeholder="全部">
              <el-option label="全部" value=""></el-option>
              <el-option label="修改登录密码" value="1"></el-option>
              <el-option label="设置安全密码" value="2"></el-option>
              <el-option label="修改安全密码" value="3"></el-option>
              <el-option label="设置密保问题" value="4"></el-option>
              <el-option label="修改密保问题" value="5"></el-option>
              <el-option label="绑定银行卡" value="6"></el-option>
              <el-option label="修改银行卡" value="7"></el-option>
              <el-option label="新增邀请码" value="8"></el-option>
              <el-option label="删除邀请码" value="9"></el-option>
              <el-option label="安全密码校验失败" value="10"></el-option>
              <el-option label="首张银行卡校验失败" value="11"></el-option>
              <el-option label="密保问题校验失败" value="12"></el-option>
              <el-option label="登录" value="13"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="会员账号" prop="userName">
            <el-input placeholder="请输入会员账号" v-model="ruleForm.userName" size="min" class="width-forword width-110">
            </el-input>
          </el-form-item>
          <el-form-item label="操作IP" prop="ip">
            <el-input placeholder="请输入操作IP"  v-model="ruleForm.ip" size="min" class="width-forword width-110">
            </el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startDate">
            <el-date-picker
              v-model="ruleForm.startDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endDate">
            <el-date-picker
              v-model="ruleForm.endDate"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav pc-none">
          <!--rwd在右邊的按鈕-->
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  :isScroll="true"
                  :isClick="false"
                  @close="avatorVisible=false">
                  <el-form  size="small"  :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="操作类型" prop="type">
                      <el-select size="min" v-model="ruleForm.type" class="width-forword" placeholder="全部">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="修改登录密码" value="1"></el-option>
                        <el-option label="设置安全密码" value="2"></el-option>
                        <el-option label="修改安全密码" value="3"></el-option>
                        <el-option label="设置密保问题" value="4"></el-option>
                        <el-option label="修改密保问题" value="5"></el-option>
                        <el-option label="绑定银行卡" value="6"></el-option>
                        <el-option label="修改银行卡" value="7"></el-option>
                        <el-option label="新增邀请码" value="8"></el-option>
                        <el-option label="删除邀请码" value="9"></el-option>
                        <el-option label="安全密码校验失败" value="10"></el-option>
                        <el-option label="首张银行卡校验失败" value="11"></el-option>
                        <el-option label="密保问题校验失败" value="12"></el-option>
                        <el-option label="登录" value="13"></el-option>
                      </el-select>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input placeholder="请输入会员账号" v-model="ruleForm.userName" size="min" class="width-forword">
                      </el-input>
                    </el-form-item>
                    <el-form-item label="操作IP" prop="ip">
                      <el-input placeholder="请输入操作IP"  v-model="ruleForm.ip" size="min" class="width-forword">
                      </el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startDate">
                        <span class="time-picker">
                           <datetime-picker v-model="ruleForm.startDate" type="datetime"></datetime-picker>
                         </span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endDate">
                       <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endDate" type="datetime"></datetime-picker>
                      </span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
          <div class=" table-style" v-loading="loading"
               element-loading-spinner="dafa-icon-loading01 dafa-icon"
               element-loading-customClass="loadingClass" >
            <div ref="multipleTable" v-if="screenW > 1023">
              <div class="el-table__body-wrapper table-checkbox">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th><div class="cell">会员账号</div></th>
                    <th width="240px"><div class="cell">操作类型</div></th>
                    <th><div class="cell">操作时间</div></th>
                    <th><div class="cell">操作IP</div></th>
                    <th width="100px" ><div class="cell">操作终端</div></th>
                    <th><div class="cell">备注</div></th>
                  </tr>
                  </thead>
                    <tbody>
                    <template v-if="alllist.length>0">
                      <tr v-for="(items, index) in alllist" :key="index">
<!--                        <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>-->
<!--                        <td ><div class="cell max-width400"><span>{{items.userName}}</span></div></td>-->
                        <td ><div class="cell"><span>{{items.userName}}</span></div></td>
                        <td ><div class="cell">
                          <span>{{actionTypeTxt[items.actionType]}}</span>
                        </div></td>
                        <td><div class="cell  min-width170"><span >{{items.gmtCreated}}</span></div></td>
                        <td><div class="cell  min-width170"><span >{{items.ip}}</span></div></td>
                        <td><div class="cell min-width170"><span >{{sourceIdTxt[items.sourceId]}}</span></div></td>
                        <td v-if="items.actionType === 1 || items.actionType === 3" @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                          <div class="cell min-width120 max-width300 cursor-style" :id="'multipleTableRemarkColumn' + index">
                            <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                          </div>
                        </td>
                        <td v-else><div class="cell  min-width120 "><span >---</span></div>
                        </td>
                      </tr>
                    </template>
                    <!--無數據時樣式-->
                    <template v-else>
                      <tr>
                        <td colspan="5"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                      </tr>
                    </template>
                    </tbody>
                  </table>
              </div>
            </div>
            <scroll :id="'scrollId1'" class="el-table" v-else>
              <el-table
                ref="multipleTable"
                :data="alllist"
                style="width: 100%;"
                @selection-change="handleSelectionChange"
                @row-click="openDetails"
                highlight-current-row>
                <el-table-column
                  type="selection"
                  fixed
                  width="34"
                  v-if="screenW >768 || isActive">
                </el-table-column>
                <el-table-column
                  label="会员账号"
                  fixed
                  min-width="140" show-overflow-tooltip v-else>
                  <template slot-scope="scope">
                    <span>{{scope.row.userName}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="actionType"
                  label="操作类型"
                   width="140" show-overflow-tooltip>
                  <template slot-scope="scope">
                    <span>{{actionTypeTxt[scope.row.actionType]}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="gmtCreated"
                  label="操作时间"
                  width="180">
                </el-table-column>
                <el-table-column
                  prop="ip"
                  label="操作IP"
                  min-width="160">
                </el-table-column>
                <el-table-column
                  prop="sourceId"
                  label="操作终端"
                  min-width="80" show-overflow-tooltip>
                  <template slot-scope="scope">
                    <span>{{sourceIdTxt[scope.row.sourceId]}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="remark"
                  label="备注"
                  min-width="160">
                  <template slot-scope="scope">
                    <span v-if="scope.row.actionType === 1 || scope.row.actionType === 3">{{scope.row.remark}}</span>
                    <span v-else>---</span>
                  </template>
                </el-table-column>
              </el-table>
            </scroll>
          </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          title="会员日志"
          :visible="detailShow"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>操作类型</span>
              <span>{{actionTypeTxt[detailData.actionType]}}</span>
            </li>
            <li>
              <span>操作时间</span>
              <span>{{ detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>操作IP</span>
              <span>{{ detailData.ip}}</span>
            </li>
            <li>
              <span>操作终端</span>
              <span>{{sourceIdTxt[detailData.sourceId]}}</span>
            </li>
            <li>
              <span>备注</span>
              <span v-if="detailData.actionType === 1 || detailData.actionType === 3">{{detailData.remark}}</span><span v-else>---</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <div class="text-style">*温馨提示：会员日志只显示会员在前台产生的记录，如果是通过后台操作的请到管理日志查看。</div>
    </div>
  </div>
</template>
<script>
import Api from '@/api/users'
import {gradeData} from '@/utils/config'
import Scroll from '@/components/Scroll'
import {dateFormat, getEllipsisFlag} from '@/utils/index'
import DatetimePicker from '@/components/DatetimePicker'
import {validateQueryDateTwo} from '@/utils/validateRules'
export default {
  data: function () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      tableLine: true,
      submitLoading: false,
      loading: false,
      isActive: false,
      isShow: false,
      avatorVisible: false,
      ruleForm: {
        type: '',
        userName: '',
        ip: '',
        startDate: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endDate: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      actionTypeTxt: ['', '修改登录密码', '设置安全密码', '修改安全密码', '设置密保问题', '修改密保问题', '绑定银行卡', '修改银行卡', '新增邀请码', '删除邀请码', '安全密码校验失败', '首张银行卡校验失败', '密保问题校验失败', '登录'],
      sourceIdTxt: ['', 'PC', 'MB', 'APP'],
      alllist: [],
      multipleSelection: [],
      labelPosition: 'top',
      show: false,
      currentPage: 1,
      total: 0,
      pageNum: 1,
      pageSize: 20,
      checkedCities: [],
      isIndeterminate: false,
      checkAll: false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    Scroll,
    DatetimePicker
  },
  mounted () {
    let userName = this.$route.query.userName
    if (userName) {
      this.ruleForm.userName = userName
    }
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.alllist))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.alllist))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    formatterUserName (val) {
      if (!val || val.messageType === undefined) {
        return ''
      }
      if (val.messageType === '1') {
        return val.userName
      }
      if (gradeData[val.userName.toString()]) {
        return gradeData[val.userName.toString()]
      }
      return '未知数据'
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateHour(this.ruleForm.startDate, this.ruleForm.endDate)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.searchValue) {
        submitData[this.ruleForm.search] = this.ruleForm.searchValue
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.queryUsersLogResultList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.alllist = res.data.result
        this.total = res.data.total
        if (this.alllist.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      this.detailData = row
      this.rwdbtnVisible = true
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    checkRow (row) {
      this.detailShow = true
      this.rwdbtnVisible = false
    }
  }
}
</script>
<style scoped>
  @import '../../assets/css/variable.css';
  .width-150{
    width:150px;
  }
</style>
