<template>
  <div class="panel">
    <div class="panel-heading">
      登录保护
      <div class="float-right panel-heading-right">
        <el-radio-group  :value="loginProtection" class="margin-p20" size="mini" @change="changeLoginType()">
          <el-radio-button :label="0">单终端登录 </el-radio-button>
          <el-radio-button :label="1">多终端登录</el-radio-button>
        </el-radio-group>
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <!-- 数据模型开始 -->
      <div class="report-header">
        <el-form v-model="ruleForm" ref="ruleForm"  size="min"  v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="IP地址" prop="ip">
            <el-input v-model="ruleForm.ip"  placeholder="请输入IP地址"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <!-- 普通表格 -->
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav rb-row delbtn">
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit">
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName"  placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="IP地址" prop="ip">
                      <el-input v-model="ruleForm.ip"  placeholder="请输入IP地址"></el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini"  class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows" :loading="submitLoading"> {{submitLoading ? '正在删除' : '删除'}}</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
        </div>
        <div class=" table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
                <table class="el-table lottery-table table300" cellspacing="0"  >
                  <thead class="el-table__header">
                  <tr>
                    <th width="22px"><div class="table-id"></div></th>
                    <th ><div class="cell">会员账号</div></th>
                    <th ><div class="cell">仅限登录的IP</div></th>
                    <th ><div class="cell">备注</div></th>
                    <th width="200"><div class="cell">添加时间</div></th>
                  </tr>
                  </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell"><span class="color-blue">{{items.userName}}</span></div></td>
                      <td ><div class="cell"><span >{{items.ip}}</span></div></td>
                      <td ><div class="cell max-width160 cursor-style" :id="'multipleTableRemarkColumn' + index"  @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                        <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div></td>
                      <td ><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              style="width: 100%;"
              @row-click="openDetails"
              @selection-change="handleSelectionChange">
              <el-table-column
                prop="Id"
                type="selection"
                width="34"
                v-if=" screenW >=768 || isActive">
              </el-table-column>
              <el-table-column
                label="会员账号"
                fixed
                min-width="140">
                <template slot-scope="scope">
                  <span class="color-blue">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="ip"
                label="仅限登录的IP"
                min-width="120" >
              </el-table-column>
              <el-table-column
                prop="remark"
                label="备注"
                min-width="130" show-overflow-tooltip>
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                width="170">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
            <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="管理员"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>仅限登录的IP</span>
              <span>{{detailData.ip}}</span>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.remark}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <!-- 普通表格结束 -->
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
      <div class="text-style">*温馨提示：已保护的会员账号只能通过指定的IP登录，未指定IP的账号不受限制，限制访问的区域除外。</div>
      <!-- 数据模型结束 -->
    </div>
    <edit-form
      :data="selectData"
      :visible = "opeEditShow"
      v-on:onClose = "opeEditShow=false"
    ></edit-form>
  </div>
</template>
<script>
import Api from '@/api/users'
import Scroll from '@/components/Scroll'
import EditForm from '@/views/newModal/MemberOtherLoginProtectEditForm'
import {getEllipsisFlag} from '@/utils'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {},
      btnStyle: false,
      avatorVisible: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      opeEditShow: false, // 是否显示编辑弹窗
      command: 0,
      isActive: false,
      submitLoading: false,
      loading: false,
      // 列表数据
      allList: [],
      total: 0,
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      ruleForm: {
        userName: '',
        ip: ''
      },
      loginProtection: localStorage.getItem('isMultiLogin') || 1// 单终端或多终端
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  created () {
    this.getQueryTenantConfigMultiLoginList()
  },
  methods: {
    getQueryTenantConfigMultiLoginList () {
      Api.queryTenantConfigMultiLoginList({}).then(res => {
        if (res.code === 1) {
          let data = res.data && res.data.isMultiLogin
          this.loginProtection = +data
          localStorage.setItem('isMultiLogin', +data)
        }
      })
    },
    // 切换单终端或多终端
    changeLoginType () {
      let value = this.loginProtection
      let msg = value === 1 ? '单' : '多'
      this.msgConfirm(`确定要切换到${msg}终端登录？`, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let type = value === 1 ? 0 : 1
        let submitData = {
          type
        }
        Api.updateUsersTenantConfig(submitData, function () {
        }).then(res => {
          if (res.code === 1) {
            this.loginProtection = type
            localStorage.setItem('isMultiLogin', type)
          }
        })
      }).catch(e => {
      })
    },
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    openNewForm () {
      this.opeEditShow = true
      this.selectData = {}
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      Object.assign(submitData, this.ruleForm)
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      this.loading = true
      let obj = this
      Api.queryUsersLoginWhiteipResultList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
          this.avatorVisible = false
        })
      })
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    deleteRows () {
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.submitLoading = true
        let obj = this
        Api.deleteUsersLoginWhiteip(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.checkedCities = []
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    resetForm (formName) {
      this.ruleForm = {
        userName: '',
        ip: ''
      }
    }
  },
  components: {
    Scroll,
    EditForm
  }
}
</script>
<style>
.margin-p20{
  margin:0 20px 0 0;
}
</style>
