<template>
  <div class="panel">
    <div class="panel-heading">
      会员管理
      <div class="float-right panel-heading-right">
        <el-button size="mini" type="primary" @click="exportExcel" :loading="submitLoading" v-if="screenW>768"> {{submitLoading ? '正在提交' : '导出Excel'}}</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="查询条件" prop="search" on>
            <el-select size="min" class="width-search80" v-model="ruleForm.search" placeholder="全部">
              <el-option label="会员账号" value="userName"></el-option>
              <el-option label="上级代理" value="agentName"></el-option>
              <el-option label="注册邀请码" value="inviteCode"></el-option>
              <el-option label="昵称" value="nickName"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item prop="searchValue" class="input-form-item">
            <el-input placeholder="请输入关键字" v-model="ruleForm.searchValue"  size="min"></el-input>
          </el-form-item>
          <el-form-item label="等级" prop="grade">
            <el-select size="min" v-model="ruleForm.grade" class="width-search80" placeholder="全部" >
              <el-option :label="v.value" v-for=" (v, i) in level" :value="v.key" :key="i"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              class="width-search-hour"
              type="datetime"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav rb-row delbtn">
            <!--rwd在右邊的按鈕-->
          <div v-if="screenW  > 768">
            <el-button size="mini" @click="openFreeze('batch',0)"><i class="dafa-icon"></i> 批量冻结会员</el-button>
            <el-button size="mini" @click="openFreeze('batch',1)"  class="center-flex" ><i class="dafa-icon dafa-icon-circle-logo"></i> 批量解冻会员</el-button>
            <el-button size="mini" @click="updateUserConfigBatch('batch')"><i class="dafa-icon margin-r4"></i> 批量金流限制</el-button>
            <el-button size="mini" @click="editUserBatch('batch')"><i class="dafa-icon margin-r4">&#xe658;</i> 批量返点设置</el-button>
          </div>
          <div v-else>
            <el-row class="batch-before">
              <el-col :span="10">
                <el-button size="mini" @click="openFreeze('batch',0)"><i class="dafa-icon"></i> 批量冻结会员</el-button>
              </el-col>
              <el-col :span="14">
                <el-button size="mini" @click="openFreeze('batch',1)"  class="center-flex" ><i class="dafa-icon dafa-icon-circle-logo"></i> 批量解冻会员</el-button>
              </el-col>
            </el-row>
            <el-row class="batch-after">
              <el-col :span="10">
                <el-button size="mini" @click="updateUserConfigBatch('batch')"><i class="dafa-icon margin-r4"></i> 批量金流限制</el-button>
              </el-col>
              <el-col :span="12">
                <el-button size="mini" @click="editUserBatch('batch')"><i class="dafa-icon margin-r4">&#xe658;</i> 批量返点设置</el-button>
              </el-col>
            </el-row>
          </div>
            <div class="search-rwdbox" >
              <div class="rwd-searchbox" v-if="screenW <=768">
                <div class="search-rwdbtn">
                  <!--搜尋icon-->
                  <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                  <!--篩選彈跳視窗-->
                  <popover-right
                    :visible="avatorVisible"
                    :isScroll="true"
                    :isClick="false"
                    @close="avatorVisible=false">
                    <el-form  size="small"  :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                      <el-form-item label="查询条件" prop="search">
                        <el-select size="min" class="width-search80" v-model="ruleForm.search" placeholder="全部">
                          <el-option label="会员账号" value="userName"></el-option>
                          <el-option label="上级代理" value="agentName"></el-option>
                          <el-option label="注册邀请码" value="inviteCode"></el-option>
                          <el-option label="昵称" value="nickName"></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item prop="searchValue" class="input-form-item">
                        <el-input placeholder="请输入关键字" v-model="ruleForm.searchValue"  size="min"></el-input>
                      </el-form-item>
                      <el-form-item label="等级" prop="grade">
                        <el-select size="min" v-model="ruleForm.grade" class="width-search80" placeholder="全部" popper-class="small-scroll-select select1" @visible-change="change('select1')">
                          <el-option :label="v.value" v-for=" (v, i) in level" :value="v.key" :key="i"></el-option>
                        </el-select>
                      </el-form-item>
                      <el-form-item label="开始时间" prop="startTime">
                        <span class="time-picker">
                           <datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker>
                         </span>
                      </el-form-item>
                      <el-form-item label="结束时间" prop="endTime">
                       <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker>
                      </span>
                      </el-form-item>
                    </el-form>
                    <div class="search-btn" slot="btn">
                      <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                      <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                    </div>
                  </popover-right>
                  <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                    <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                    <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                  </el-button>
                </div>
              </div>
            </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-customClass="loadingClass"
             element-loading-spinner="dafa-icon-loading01 dafa-icon">
          <div ref="multipleTable" v-if="screenW > 1023">
          <div class="el-table__body-wrapper">
            <div class="el-table__body-wrapper table-checkbox">
            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
            <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
            <table class="el-table lottery-table table300" cellspacing="0"  >
              <thead class="el-table__header">
              <tr>
                <th width="22px"><div class="table-id"></div></th>
                <th ><div class="cell">会员账号</div></th>
                <th ><div class="cell">用户类型</div></th>
                <th ><div class="cell">等级</div></th>
                <th ><div class="cell">注册邀请码</div></th>
                <th ><div class="cell">昵称</div></th>
                <th ><div class="cell">上级</div></th>
                <th><div class="cell">会员余额</div></th>
                <th ><div class="cell">返点</div></th>
                <th ><div class="cell">提现次数</div></th>
                <th ><div class="cell">状态</div></th>
                <th width="155px"><div class="cell">注册时间</div></th>
                <th width="155px"><div class="cell">最后登录</div></th>
                <th width="120px"><div class="cell">操作</div></th>
                <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
              </tr>
              </thead>
              <tbody>
              <template v-if="allList.length>0">
                <tr v-for="(items, index) in allList" :key="index">
                  <td width="22px"><div class="table-id"><el-checkbox :label="items.userId" :key="index">{{''}}</el-checkbox></div></td>
                  <td width="10%"><div class="cell">
                    <span class="color-blue hoverline-effet" @click="openUserForm(items)">{{items.userName}}</span>
                  </div></td>
                  <td ><div class="cell"><span>{{formatterUserClass(items)}}</span></div></td>
                  <td ><div class="cell"><span>{{formatterGrade(items)}}</span></div></td>
                  <td ><div class="cell"><span>{{items.inviteCode}}</span></div></td>
                  <td ><div class="cell"><span>{{items.nickName}}</span></div></td>
                  <td><div class="cell"><span>{{items.agentName}}</span></div></td>
                  <td ><div class="cell"><span class="color-danger">{{items.balance | formatMoney}}</span></div></td>
                  <td ><div class="cell"><span>{{items.rebatePoint}}</span></div></td>
                  <td><div class="cell"><span>{{items.withdrawLimit === -1 ? allCashDate.withdrawTimes : items.withdrawLimit}}</span></div></td>
                  <td><div class="cell"><span :class="items.grade === 0  ? 'color-danger' : 'color-success'">{{ items.grade === 0 ? '冻结' : '正常'}}</span></div></td>
                  <td ><div class="cell"><span>{{items.registerTime}}</span></div></td>
                  <td ><div class="cell"><span>{{items.lastLoginTime}}</span></div></td>
                  <td><div class="cell "><div class="table-btnbox">
                    <div class="edit-btns">
                    <span @click="openFreeze(items)" :title="items.grade === 0 ? '解冻会员' : '冻结会员'">
                        <i class="dafa-icon" :class="{'color-bluebutton': items.grade === 0}"></i>
                    </span>
                      <span title="登陆密码" @click="openChangePasswordNewForm(items)"><i class="dafa-icon"></i></span>
                      <el-dropdown @command="handleCommand">
                      <span class="el-dropdown-link">
                        <i class="el-icon-more"></i>
                      </span>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item :command="{name:'openBettingRecord',key:items}" title="投注记录"><i class="dafa-icon margin-r4" ></i>投注记录</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openTransactionRecordDetail',key:items}" title="交易记录"><i class="dafa-icon margin-r4"></i>交易记录</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openBankNewForm',key:items}" title="银行绑定"><i class="dafa-icon margin-r4"></i>银行绑定</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openCountTimesForm',key:items}" title="提现次数"><i class="dafa-icon margin-r4"></i>金流限制</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openRebateForm',key:items}" title="返点设置"><i class="dafa-icon margin-r4">&#xe658;</i>返点设置</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openMemberUsersMessage',key:items}" title="站内信"><i class="dafa-icon margin-r4"></i>站内信</el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </div>
                  </div></div></td>
                </tr>
              </template>
              <!--無數據時樣式-->
              <template v-else>
                <tr>
                  <td colspan="14"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                </tr>
              </template>
              </tbody>
            </table>
            </el-checkbox-group>
            </div>
          </div>
        </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>

            <el-table
              :data="allList"
              ref="multipleTableApp"
              @row-click="openDetails"
              style="width: 100%;">
              <el-table-column
                prop="userId"
                type="selection"
                fixed
                width="34">
              </el-table-column>
              <el-table-column
                label="会员账号"
                fixed
                min-width="110">
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue hoverline-effet" @click="openUserForm(scope.row)">{{scope.row.userName}}</span>
                  <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.userName}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="userClass"
                label="用户类型"
                :formatter="formatterUserClass"
                min-width="70">
              </el-table-column>
              <el-table-column
                prop="grade"
                label="等级"
                :formatter="formatterGrade"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="inviteCode"
                label="注册邀请码"
                min-width="120">
              </el-table-column>
              <el-table-column
                prop="nickName"
                label="昵称"
                min-width="100">
              </el-table-column>
              <el-table-column
                prop="agentName"
                label="上级"
                min-width="130">
              </el-table-column>
              <el-table-column
                label="会员余额"
                min-width="100">
                <template slot-scope="scope"><span class="color-danger">{{ scope.row.balance | formatMoney}}</span></template>
              </el-table-column>
              <el-table-column
                prop="rebatePoint"
                label="返点"
                min-width="80">
              </el-table-column>
              <el-table-column
                prop="withdrawLimit"
                label="提现次数"
                min-width="80">
                <template slot-scope="scope"><span>{{scope.row.withdrawLimit === -1 ? allCashDate.withdrawTimes : scope.row.withdrawLimit}}</span></template>
              </el-table-column>
              <el-table-column
                prop="Status"
                label="状态"
                min-width="60">
                <template slot-scope="scope"><span :class="scope.row.grade === 0  ? 'color-danger' : 'color-success'">{{ scope.row.grade === 0 ? '冻结' : '正常'}}</span></template>
              </el-table-column>
              <el-table-column
                prop="registerTime"
                label="添加时间"
                :min-width="screenW > 768 ? '150':'170'">
              </el-table-column>
              <el-table-column
                prop="lastLoginTime"
                label="最后登录"
                :min-width="screenW > 768 ? '150':'170'">
              </el-table-column>
              <el-table-column
                label="操作"
                width="120"
                v-if="screenW>768"
                fixed="right">
                <template slot-scope="scope" >
                  <div class="table-btnbox" v-if="screenW>768">
                    <div class="edit-btns">
                    <span @click="openFreeze(scope.row)" :title="scope.row.grade === 0 ? '解冻会员' : '冻结会员'">
                        <i class="dafa-icon" :class="{'color-bluebutton': scope.row.grade === 0}"></i>
                    </span>
                      <span title="登陆密码" @click="openChangePasswordNewForm(scope.row)"><i class="dafa-icon"></i></span>
                      <!--<span title="投注记录" @click="openBettingRecord(scope.row);rwdbtnVisible=false"><i class="dafa-icon" ></i></span>-->
                      <!--<span title="交易记录" @click="openTransactionRecordDetail(scope.row);rwdbtnVisible=false"><i class="dafa-icon"></i></span>-->
                      <!--<span title="银行绑定" @click="openBankNewForm(scope.row);rwdbtnVisible=false"><i class="dafa-icon"></i></span>-->
                      <!--<span title="提现次数" @click="openCountTimesForm(scope.row);rwdbtnVisible=false"><i class="dafa-icon"></i></span>-->
                      <!--<span title="站内信" @click="openMemberUsersMessage(scope.row);rwdbtnVisible=false"><i class="dafa-icon margin-r4"></i></span>-->
                      <el-dropdown @command="handleCommand">
                      <span class="el-dropdown-link">
                        <i class="el-icon-more"></i>
                      </span>
                        <el-dropdown-menu slot="dropdown">
                          <el-dropdown-item :command="{name:'openBettingRecord',key:scope.row}" title="投注记录"><i class="dafa-icon margin-r4" ></i>投注记录</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openTransactionRecordDetail',key:scope.row}" title="交易记录"><i class="dafa-icon margin-r4"></i>交易记录</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openBankNewForm',key:scope.row}" title="银行绑定"><i class="dafa-icon margin-r4"></i>银行绑定</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openCountTimesForm',key:scope.row}" title="提现次数"><i class="dafa-icon margin-r4"></i>金流限制</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openRebateForm',key:scope.row}" title="返点设置"><i class="dafa-icon margin-r4">&#xe658;</i>返点设置</el-dropdown-item>
                          <el-dropdown-item :command="{name:'openMemberUsersMessage',key:scope.row}" title="站内信"><i class="dafa-icon margin-r4"></i>站内信</el-dropdown-item>
                        </el-dropdown-menu>
                      </el-dropdown>
                    </div>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="openFreeze(detailData);rwdbtnVisible=false">
                 {{detailData.grade === 0 ? '解冻会员' : '冻结会员'}}
           </span>
          <span title="登陆密码" @click="openChangePasswordNewForm(detailData);rwdbtnVisible=false">登陆密码</span>
          <span @click="openBettingRecord(detailData);rwdbtnVisible=false">投注记录</span>
          <span @click="openTransactionRecordDetail(detailData);rwdbtnVisible=false">交易记录</span>
          <span @click="openBankNewForm(detailData);rwdbtnVisible=false">银行绑定</span>
          <span @click="openCountTimesForm(detailData);rwdbtnVisible=false">金流限制</span>
            <span @click="openRebateForm(detailData);rwdbtnVisible=false">返点设置</span>
            <span @click="openMemberUsersMessage(detailData);rwdbtnVisible=false">站内信</span>
          <span @click="openUserForm(detailData);rwdbtnVisible=false">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="会员管理"
          @close="detailShow=false">
          <ul >
            <li>
              <span>会员账号</span>
              <span class="color-blue">{{detailData.userName}}</span>
            </li>
            <li>
              <span>用户类型</span>
              <span>{{formatterUserClass(detailData)}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{formatterGrade(detailData)}}</span>
            </li>
            <li>
              <span>注册邀请码</span>
              <span>{{detailData.inviteCode}}</span>
            </li>
            <li>
              <span>昵称</span>
              <span>{{detailData.nickName}}</span>
            </li>
            <li>
              <span>上级</span>
              <span>{{detailData.agentName}}</span>
            </li>
            <li>
              <span>会员余额</span>
              <span>{{detailData.balance | formatMoney}}</span>
            </li>
            <li>
              <span>返点</span>
              <span>{{detailData.rebatePoint}}</span>
            </li>
            <li>
              <span>提现次数</span>
              <span>{{detailData.withdrawLimit}}</span>
            </li>
            <li>
              <span>状态</span>
              <span :class="detailData.grade === 0  ? 'color-danger' : 'color-success'">{{ detailData.grade === 0 ? '冻结' : '正常'}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.registerTime}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <change-password-form
      :data="selectData"
    :visible="ChangePasswordForm"
    v-on:onClose="ChangePasswordForm=false">
    </change-password-form>
    <bank-information-form
      :data="selectData"
      :visible="BankInformationForm"
      v-on:onClose="BankInformationForm=false"
    ></bank-information-form>
    <count-times-form
      :data="selectData"
      :visible="CountTimesForm"
      :allCashDate="allCashDate"
      v-on:onClose="CountTimesForm=false">
    </count-times-form>
    <user-form
      :data="selectData"
      :visible="UserShow"
      v-on:onClose="UserShow=false"
    ></user-form>
    <user-form-rebate
      :data="selectData"
      :visible="rebateShow"
      v-on:onClose="rebateShow=false"
    ></user-form-rebate>
  </div>
</template>
<script>
import BankInformationForm from '@/views/newModal/BankInformationForm'
import ChangePasswordForm from '@/views/newModal/ChangePasswordForm'
import CountTimesForm from '@/views/newModal/CountTimesForm'
import UserForm from '@/views/newModal/UserForm'
import UserFormRebate from '@/views/newModal/UserFormRebate'
import Api from '@/api/users'
import {dateFormat} from '@/utils/index'
import {validateQueryDateTwo} from '@/utils/validateRules'
import {gradeData} from '@/utils/config'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import BaseExtend from '@/views/baseExtend/SelectScroll'
import {exportExl} from '@/utils/Time'
export default {
  mixins: [BaseExtend],
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      rwdNumber: '',
      UserShow: false,
      rebateShow: false,
      tableLine: true,
      isShow: false,
      FreezeValue: false,
      isActive: false,
      avatorVisible: false,
      ChangePasswordForm: false,
      BankInformationForm: false,
      CountTimesForm: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        userName: '',
        agentName: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00',
        grade: '',
        inviteCode: '',
        nickName: '',
        search: 'userName',
        searchValue: ''
      },
      level: [
        {
          key: '',
          value: '全部'
        }, {
          key: 0,
          value: '黑名单'
        }, {
          key: 1,
          value: 'VIP1'
        }, {
          key: 2,
          value: 'VIP2'
        }, {
          key: 3,
          value: 'VIP3'
        }, {
          key: 4,
          value: 'VIP4'
        }, {
          key: 5,
          value: 'VIP5'
        }, {
          key: 6,
          value: 'VIP6'
        }, {
          key: 7,
          value: 'VIP7'
        }, {
          key: 8,
          value: 'VIP8'
        }, {
          key: 9,
          value: 'VIP9'
        }, {
          key: 10,
          value: 'VIP10'
        }
      ],
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      selectData: {},
      redEnvelopeLimitRecover: 0,
      transferLimitRecover: 0,
      withdrawLimitRecover: 0,
      allCashDate: {},
      isIndeterminate: false,
      checkAll: false,
      checkedCities: []
    }
  },
  methods: {
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    // 批量金流浪限制
    updateUserConfigBatch () {
      if (this.screenW < 1023) {
        if (this.$refs.multipleTableApp.selection.length < 1) {
          this.msgError('未选择任何会员')
          return
        }
      }
      if (this.screenW >= 1023 && !this.checkedCities.length) {
        this.msgError('未选择任何会员')
        return
      }
      if (this.screenW >= 1023) {
        this.selectData = this.allList.filter(item => { return item.userId === this.checkedCities[0] })[0]
        this.selectData.type = 'batch'
        this.selectData.ids = this.checkedCities.join()
      }
      if (this.screenW < 1023) {
        this.selectData = this.$refs.multipleTableApp.selection[0]
        for (let i = 0; i < this.$refs.multipleTableApp.selection.length; i++) {
          this.selectData.ids += ',' + this.$refs.multipleTableApp.selection[i].userId
        }
        if (this.selectData.ids !== '') {
          let pos = this.selectData.ids.indexOf(',') + 1
          this.selectData.ids = this.selectData.ids.substr(pos)
        }
        this.selectData.type = 'batch'
      }
      this.CountTimesForm = true
    },
    // 批量返点设置
    editUserBatch () {
      if (this.screenW < 1023) {
        if (this.$refs.multipleTableApp.selection.length < 1) {
          this.msgError('未选择任何会员')
          return
        }
      }
      if (this.screenW >= 1023 && !this.checkedCities.length) {
        this.msgError('未选择任何会员')
        return
      }
      if (this.screenW >= 1023) {
        this.selectData = this.allList.filter(item => { return item.userId === this.checkedCities[0] })[0]
        this.selectData.type = 'batch'
        this.selectData.ids = this.checkedCities.join()
        this.rebateShow = true
      }
      if (this.screenW < 1023) {
        this.selectData = this.$refs.multipleTableApp.selection[0]
        for (let i = 0; i < this.$refs.multipleTableApp.selection.length; i++) {
          this.selectData.ids += ',' + this.$refs.multipleTableApp.selection[i].userId
        }
        if (this.selectData.ids !== '') {
          let pos = this.selectData.ids.indexOf(',') + 1
          this.selectData.ids = this.selectData.ids.substr(pos)
        }
        this.selectData.type = 'batch'
        this.rebateShow = true
      }
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.userId)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    deleteObjKey (obj) {
      delete obj.type
      delete obj.ids
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.userId)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    openChangePasswordNewForm (val) {
      this.selectData = val
      this.ChangePasswordForm = true
    },
    openBankNewForm (val) {
      this.selectData = val
      this.selectData.type = '会员管理'
      // console.log(this.selectData)
      this.BankInformationForm = true
    },
    openCountTimesForm (val) {
      this.deleteObjKey(val)
      this.selectData = val
      this.selectData.redEnvelopeLimitRecover = this.redEnvelopeLimitRecover
      this.selectData.transferLimitRecover = this.transferLimitRecover
      this.selectData.withdrawLimitRecover = this.withdrawLimitRecover
      this.CountTimesForm = true
    },
    openBettingRecord (val) {
      this.$router.push({
        path: '/transaction/transactionBettingRecord',
        query: {
          userName: val.userName
        }
      })
    },
    openTransactionRecordDetail (val) {
      this.$router.push({
        path: '/transaction/transactionRecordDetail',
        query: {
          userName: val.userName
        }
      })
    },
    openMemberUsersMessage (val) {
      this.$router.push({
        path: '/member/memberUsersMessage',
        query: {
          userName: val.userName
        }
      })
    },
    openUserForm (val) {
      this.selectData = val
      this.UserShow = true
    },
    openRebateForm (val) {
      this.deleteObjKey(val)
      this.selectData = val
      this.rebateShow = true
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.checkedCities = []
      this.checkAll = false
      this.isIndeterminate = false
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      this.checkedCities = []
      this.checkAll = false
      this.isIndeterminate = false
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    handleCommand (command) {
      if (!command.name) return
      let arr = {'openTransactionRecordDetail': this.openTransactionRecordDetail,
        'openBettingRecord': this.openBettingRecord,
        'openBankNewForm': this.openBankNewForm,
        'openCountTimesForm': this.openCountTimesForm,
        'openMemberUsersMessage': this.openMemberUsersMessage,
        'openRebateForm': this.openRebateForm
      }
      if (typeof arr[command.name] === 'function') {
        arr[command.name](command.key)
      }
    },
    openFreeze (val, type) {
      let submitData = {}
      if (val !== 'batch') {
        submitData.userId = val.userId
        submitData.isUse = 0
        if (val.grade === 0) {
          submitData.isUse = 1
        }
      }
      // 批量操作
      if (val === 'batch') {
        if (this.screenW < 1023) {
          if (this.$refs.multipleTableApp.selection.length < 1) {
            this.msgError('未选择任何会员')
            return
          }
        }
        if (this.screenW >= 1023 && !this.checkedCities.length) {
          this.msgError('未选择任何会员')
          return
        }
        submitData.userIds = this.checkedCities.join()
        if (this.screenW < 1023) {
          for (let i = 0; i < this.$refs.multipleTableApp.selection.length; i++) {
            debugger
            submitData.userIds += ',' + this.$refs.multipleTableApp.selection[i].userId
          }
          if (submitData.userIds !== '') {
            submitData.userIds = submitData.userIds.substr(1)
          }
        }
        submitData.isUse = type
        this.loadingMsg = '正在提交中...'
        this.loading = true
        let obj = this
        Api.freezeUserBatch(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.msgSuccess('操作成功')
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
        })
        return
      }
      // 单个操作
      this.loadingMsg = '正在提交中...'
      this.loading = true
      let obj = this
      Api.freezeUser(submitData, function () {
        obj.loading = false
        obj.loadingMsg = '正在拼命加载中...'
      }).then((res) => {
        this.msgSuccess('操作成功')
        this.getOrderList(this.pageNum, this.pageSize)
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        })
      })
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    exportExcel () {
      this.submitLoading = true
      if (!validateQueryDateTwo.validateHour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        this.submitLoading = false
        return
      }
      let submitData = {}
      for (let item in this.ruleForm) {
        if (!this.ruleForm[item]) {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = 1
      submitData.pageSize = 999999
      let obj = this
      Api.exportManageUser(submitData, function () {
        obj.submitLoading = false
      }).then((res) => {
        let excelarr = res.data.result
        obj.submitLoading = false
        let excel = []
        excel.push('<tr><th>会员账号</th><th>用户类型</th><th>等级</th><th>注册邀请码</th><th>昵称<th>上级</th><th>会员余额</th><th>返点</th><th>提现次数</th><th>状态</th><th>添加时间</th>')
        if (excelarr.length > 0) {
          for (var i = 0; i < excelarr.length; i++) {
            excel.push(`<tr><th>${excelarr[i].userName}</th>
        <th>${excelarr[i].userClass}级代理</th>
        <th>VIP${excelarr[i].grade}</th>
        <th>${excelarr[i].inviteCode}</th>
        <th>${excelarr[i].nickName}</th>
        <th>${excelarr[i].agentName}</th>
        <th>${excelarr[i].balance}</th>
        <th>${excelarr[i].rebatePoint}</th>
        <th>${excelarr[i].withdrawLimit === -1 ? this.allCashDate.withdrawTimes : excelarr[i].withdrawLimit}</th>
        <th>${excelarr[i].grade === 0 ? '冻结' : '正常'}</th>
        <th>${excelarr[i].registerTime}</th>
      </tr>`)
          }
        }
        exportExl(excel.join(''), '会员管理（' + submitData.startTime + '至' + submitData.endTime + '）')
      })
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateHour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '' || this.ruleForm[item] === undefined || this.ruleForm[item] === null) {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      if (this.ruleForm.searchValue) {
        submitData[this.ruleForm.search] = this.ruleForm.searchValue
      }
      delete submitData.search
      delete submitData.searchValue
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.manageUser(submitData, function () {
        obj.loading = false
      }).then((res) => {
        res.data.result.forEach(item => {
          if (item.lastLoginTime === '1900-01-01 00:00:00') {
            item.lastLoginTime = '---'
          }
        })
        this.allList = res.data.result
        this.total = res.data.total
        this.redEnvelopeLimitRecover = res.data.redEnvelopeLimit
        this.transferLimitRecover = res.data.transferLimit
        this.withdrawLimitRecover = res.data.withdrawLimit
        if (this.allList.length) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
          this.avatorVisible = false
        })
      })
    },
    formatterGrade (row, column) {
      if (!row || row.grade === undefined) {
        return ''
      }
      if (!row || row.grade === '' || !gradeData[row.grade.toString()]) {
        // console.log('grade', row.grade)
        return '未知等级'
      }
      return gradeData[row.grade.toString()]
    },
    rwdbtn (v) {
      this.rwdbtnVisible = !this.rwdbtnVisible
      this.rwdNumber = v
    },
    formatterUserClass (row, column) {
      if (!row || row.agent === undefined) {
        return ''
      }
      let userType = ''
      if (row.agent === true) {
        if (row.userClass === 1) {
          userType = '总代'
          return userType
        }
        userType = row.userClass + '级代理'
        return userType
      }
      userType = row.userClass + '级玩家'
      return userType
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    },
    // 获取金流管理内容
    getAmount () {
      Api.queryFrontConfigurationInfo({}, function () {
      }).then((res) => {
        if (res.code === 1) {
          this.allCashDate = res.data
        }
      })
    }
  },
  mounted () {
    this.getOrderList(1, 20)
    this.getAmount()
  },
  components: {
    Scroll,
    ChangePasswordForm,
    BankInformationForm,
    CountTimesForm,
    UserForm,
    UserFormRebate,
    DatetimePicker
  }
}
</script>
<style >
  .member-batch-operater{
    margin: 10px 0px;
    padding-left: 10px;
  }
  .batch-before{
    margin-bottom: 5px;
  }
</style>
