<template>
  <div class="panel">
    <div class="panel-heading">
      登录限制
      <div class="float-right panel-heading-right">
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNewForm">新增</el-button>
      </div>
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="min" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="IP地址" prop="ip">
            <el-input placeholder="请输入IP地址" size="min" v-model="ruleForm.ip" class="width-forword">
            </el-input>
          </el-form-item>
            <!--<el-form-item label="开始时间" prop="startTime">-->
              <!--<el-date-picker-->
                <!--v-model="ruleForm.startTime"-->
                <!--class="width-searchtime"-->
                <!--type="date"-->
                <!--placeholder="选择日期" size="min">-->
              <!--</el-date-picker>-->
            <!--</el-form-item>-->
            <!--<el-form-item label="结束时间" prop="endTime">-->
              <!--<el-date-picker-->
                <!--v-model="ruleForm.endTime"-->
                <!--class="width-searchtime"-->
                <!--type="date"-->
                <!--placeholder="选择日期" size="min">-->
              <!--</el-date-picker>-->
            <!--</el-form-item>-->
            <el-form-item>
              <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
              <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
            </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >=768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">

                  <el-form  size="small" v-show="screenW<=768" :inline="false" ref="ruleForm" :model="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="IP地址" prop="ip">
                      <el-input placeholder="请输入IP地址" size="min" v-model="ruleForm.ip">
                      </el-input>
                    </el-form-item>
                    <!--<el-form-item label="开始时间" prop="startTime">-->
                      <!--<span class="time-picker">-->
                          <!--<datetime-picker v-model="ruleForm.startTime" type="date"></datetime-picker>-->
                      <!--</span>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item label="结束时间" prop="endTime">-->
                      <!--<span class="time-picker">-->
                          <!--<datetime-picker v-model="ruleForm.endTime" type="date"></datetime-picker>-->
                      <!--</span>-->
                    <!--</el-form-item>-->
                    <!--<el-form-item class="post-btn">-->
                      <!--<el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>-->
                      <!--<el-button size="mini" type="primary" @click="onSubmit">查询</el-button>-->
                    <!--</el-form-item>-->
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="22px"><div class="table-id"></div></th>
                  <th ><div class="cell">IP地址</div></th>
                  <th><div class="cell">备注</div></th>
                  <th><div class="cell">操作人</div></th>
                  <th><div class="cell">添加时间</div></th>
                  <!--<th width="50px"><div class="cell table-option">操作</div></th>-->
                </tr>
                </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell"><span class="color-blue hoverline-effet" title="修改" @click="editOne(items)">{{items.blackIp}}</span></div></td>
                      <td ><div class="cell max-width160 cursor-style" :id="'multipleTableRemarkColumn' + index"  @click="openContentForm('remark', '备注', items, 'multipleTableRemarkColumn' + index, 'multipleTableRemarkContent' + index)">
                        <span :title="items.remark"  :id="'multipleTableRemarkContent' + index">{{items.remark}}</span>
                      </div></td>
                      <td ><div class="cell"><span>{{items.operator}}</span></div></td>
                      <td><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="4"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
          <el-table
            ref="multipleTable"
            :data="allList"
            v-loading="loading"
            element-loading-spinner="dafa-icon-loading01 dafa-icon"
            element-loading-customClass="loadingClass"
            tooltip-effect="dark"
            @row-click="openDetails"
            style="width: 100%;"
            @selection-change="handleSelectionChange">
            <el-table-column
              prop="Id"
              type="selection"
              width="34"
              v-if=" screenW >768 || isActive">
            </el-table-column>
            <el-table-column
              label="IP地址"
              min-width="100">
              <template slot-scope="scope">
                <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改" @click="editOne(scope.row)">{{scope.row.blackIp}}</span>
                <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.blackIp}}</span>
              </template>
            </el-table-column>
            <el-table-column
              prop="remark"
              label="备注"
              min-width="200">
            </el-table-column>
            <el-table-column
              prop="operator"
              label="操作人"
              min-width="80">
            </el-table-column>
            <el-table-column
              prop="gmtCreated"
              label="添加时间"
              min-width="140">
            </el-table-column>
          </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="editOne(detailData);rwdbtnVisible=false">修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="IP黑名单"
          @close="detailShow=false">
          <ul >
            <li>
              <span>IP地址</span>
              <span class="color-blue">{{detailData.blackIp}}</span>
            </li>
            <li>
              <span>备注</span>
              <span>{{detailData.remark}}</span>
            </li>
            <li>
              <span>操作人</span>
              <span>{{detailData.operator}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <ip-black-form
      :data="selectData"
      :visible = "IpBlackForm"
      v-on:onClose = "IpBlackForm=false">
    </ip-black-form>
  </div>
</template>
<script>
import IpBlackForm from '@/views/newModal/IpBlackForm'
import Api from '@/api/users'
import {DateFormat} from '@/utils/Time'
import {validateQueryDateTwo} from '@/utils/validateRules'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {getEllipsisFlag} from '@/utils'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      isShow: false,
      searchValue: '',
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      IpBlackForm: false,
      command: 0,
      isActive: false,
      avatorVisible: false,
      ruleForm: {
        ip: '',
        startTime: '',
        endTime: ''
      },
      // 列表数据
      allList: [],
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      selectData: {},
      pageNum: 1,
      pageSize: 20,
      total: 0
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    openContentForm (type, title, v, columnDomId, contentDomId) {
      let flag = getEllipsisFlag(columnDomId, contentDomId)
      if (!flag) {
        return
      }
      if (this.$store.state.media.screenWidth < 768) return
      this.msgAlert(v[type], title, {
        confirmButtonText: '确定'
      })
    },
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '' || this.ruleForm[item] === undefined || this.ruleForm[item] === null) {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      if (this.ruleForm.startTime || this.ruleForm.endTime) {
        if (!validateQueryDateTwo.validateDate(this.ruleForm.startTime, this.ruleForm.endTime)) {
          return
        }
      }
      if (this.ruleForm.startTime) {
        submitData.startTime = DateFormat(this.ruleForm.startTime, 'yyyy-MM-dd')
      }
      if (this.ruleForm.endTime) {
        submitData.endTime = DateFormat(this.ruleForm.endTime, 'yyyy-MM-dd')
      }
      this.loading = true
      let obj = this
      Api.loginBlackIp(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    openNewForm () {
      // console.log(val)
      this.selectData = {}
      this.IpBlackForm = true
    },
    editOne (val) {
      // console.log(val)
      this.selectData = val
      this.IpBlackForm = true
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在删除中...'
        this.loading = true
        let obj = this
        Api.deleteLoginBlackIp(submitData, function () {
          obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loading = false
            obj.loadingMsg = '正在拼命加载中...'
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.submitLoading = true
        let obj = this
        Api.deleteLoginBlackIp(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.checkedCities = []
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    DatetimePicker,
    IpBlackForm
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  }
}
</script>
