<template>
  <div class="panel">
    <div class="panel-heading">
      网站公告
      <div class="float-right panel-heading-right">
        <el-button size="mini"  type="primary" plain  @click="updateNoticeData" :loading="submitLoading" v-if="screenW > 768"> {{submitLoading ? '正在提交' : '保存'}}</el-button>
        <el-button size="mini" icon="el-icon-plus" type="success" @click="openNoticeForm" >发布公告</el-button>
      </div>
    </div>
    <!--数据列表-->
    <div class="panel-body">
      <div class="search-header">
        <el-form  size="small" :model="ruleForm" ref="ruleForm" v-if="screenW>768" :inline="true" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="标题" prop="title" >
            <el-input placeholder="请输入标题" size="min" v-model="ruleForm.title" class="width-search120">
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine,'announcement-table':screenW > 1023}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<=768" @click="isActive = !isActive" >
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768">
              <div class="search-rwdbtn">
                <!--搜尋icon-->
                <!--<i class="el-icon-search icon-search" @click="clickEvent"></i>-->
                <!--篩選彈跳視窗-->
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="标题" prop="title" >
                      <el-input placeholder="请输入标题" size="min" v-model="ruleForm.title">
                      </el-input>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style"  v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="22px"><div class="table-id"></div></th>
                  <th><div class="cell">标题</div></th>
                  <th ><div class="cell">浏览次数</div></th>
                  <th ><div class="cell">终端</div></th>
                  <th ><div class="cell">等级</div></th>
                  <th width="155px"><div class="cell">发布时间</div></th>
                  <th width="155px"><div class="cell">添加时间</div></th>
                </tr>
                </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td><div class="cell min-width320"><span class="color-blue hoverline-effet" title="修改"  @click="editOne(items)">{{items.title}}</span></div></td>
                      <td ><div class="cell"><span>{{items.readCount}}</span></div></td>
                      <td ><div class="cell"><multiple-select :level="device" v-model="items.sourceIdList" class="device-items"></multiple-select></div></td>
                      <td ><div class="cell"><multiple-select :level="level" v-model="items.gradeList"  class="level-items" ></multiple-select></div></td>
                      <td ><div class="cell"><span>{{items.gmtModified}}</span></div></td>
                      <td><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <scroll :id="'scrollId1'" class="el-table" v-else>
            <el-table
              ref="multipleTable"
              :data="allList"
              @selection-change="handleSelectionChange"
              @row-click="openDetails"
              style="width: 100%;" >
              <el-table-column
                prop="Id"
                type="selection"
                width="34"
                v-if=" screenW >768 || isActive">
              </el-table-column>
              <el-table-column
                label="标题"
                fixed
                min-width="130" show-overflow-tooltip>
                <template slot-scope="scope">
                  <span v-if="screenW > 768" class="color-blue hoverline-effet" title="修改"  @click="editOne(scope.row)">{{scope.row.title}}</span>
                  <span v-else class="color-blue  dataIndex" :data-index="scope.$index">{{scope.row.title}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="readCount"
                label="浏览次数"
                width="80">
              </el-table-column>
              <el-table-column
                label="终端"
                :width="screenW > 768 ? '150':'100'">
                <template slot-scope="scope">
                  <multiple-select :level="device" v-model="scope.row.sourceIdList" class="device-items" v-if="screenW > 768" ></multiple-select>
                  <span v-else>{{formatterSourceList(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                label="等级"
                :width="370" v-if="screenW > 768">
                <template slot-scope="scope">
                  <multiple-select :level="level" v-model="scope.row.gradeList"  class="level-items" ></multiple-select>
                </template>
              </el-table-column>
              <el-table-column
                label="等级"
                min-width="430" v-else>
                <template slot-scope="scope">
                  <span class="grade-style">{{formatterGradeList(scope.row)}}</span>
                </template>
              </el-table-column>
              <el-table-column
                prop="gmtModified"
                label="发布时间"
                :width="screenW > 768 ? '150':'180'">
              </el-table-column>
              <el-table-column
                prop="gmtCreated"
                label="添加时间"
                :width="screenW > 768 ? '150':'180'">
              </el-table-column>
            </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span title="修改"  @click="editOne(detailData)" >修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
          <popover-right
            :modal="false"
            title="网站公告"
            :visible="detailShow"
            @close="detailShow=false">
          <ul >
            <li>
              <span>标题</span>
              <span class="color-blue">{{detailData.title}}</span>
            </li>
            <li>
              <span>浏览次数</span>
              <span>{{detailData.readCount}}</span>
            </li>
            <li>
              <span>终端</span>
              <span>{{formatterSourceList(detailData)}}</span>
            </li>
            <li>
              <span>等级</span>
              <span>{{formatterGradeList(detailData)}}</span>
            </li>
            <li>
              <span>添加时间</span>
              <span>{{detailData.gmtCreated}}</span>
            </li>
            <li>
              <span>发布时间</span>
              <span>{{detailData.gmtModified}}</span>
            </li>
          </ul>
          </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          background
          ref="pagination"
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <play-form-notice-form
      :data="selectData"
      :visible="PlayFormNoticeForm "
      v-on:onClose="PlayFormNoticeForm=false">
    </play-form-notice-form>
  </div>
</template>
<script>
import PlayFormNoticeForm from '@/views/newModal/PlayFormNoticeForm'
import MultipleSelect from '@/components/MultipleSelect'
import Api from '@/api/users'
import {sourceListData, gradeList} from '@/utils/config'
import Scroll from '@/components/Scroll'
export default {
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      PanmentVisible: false, // 弹窗是否开启
      selectData: {}, // 选中数据
      isActive: false,
      isShow: false,
      avatorVisible: false,
      PlayFormNoticeForm: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      command: 0,
      radio2: 1,
      searchNotice: '',
      ruleForm: {
        title: ''
      },
      device: sourceListData,
      level: gradeList,
      allList: [],
      total: 0,
      pageNum: 1,
      pageSize: 20,
      bankselect: false,
      checkedCities: [],
      isIndeterminate: false,
      checkAll: false
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    formatterGradeList (val) {
      if (!val || !val.gradeList) {
        return ''
      }
      let gradeData = []
      for (let item in val.gradeList.value) {
        for (let grade in gradeList) {
          if (gradeList[grade].key !== val.gradeList.value[item]) {
            continue
          }
          gradeData.push(gradeList[grade].value)
        }
      }
      return gradeData.join(',')
    },
    formatterSourceList (val) {
      if (!val || !val.sourceIdList) {
        return ''
      }
      let sourceData = []
      for (let item in val.sourceIdList.value) {
        for (let source in sourceListData) {
          if (sourceListData[source].key !== val.sourceIdList.value[item]) {
            continue
          }
          sourceData.push(sourceListData[source].value)
        }
      }
      return sourceData.join(',')
    },
    updateNoticeData () {
      let sortArray = []
      let sortData = {}
      for (let i = 0; i < this.allList.length; i++) {
        if (!this.allList[i].sourceIdList.isChangeValue && !this.allList[i].gradeList.isChangeValue) {
          continue
        }
        let tempSortData = {}
        Object.assign(tempSortData, {})
        tempSortData.id = this.allList[i].id
        tempSortData.gradeList = this.allList[i].gradeList.value.join(',')
        tempSortData.sourceIdList = this.allList[i].sourceIdList.value.join(',')
        sortArray.push(tempSortData)
      }
      if (sortArray.length < 1) {
        this.msgError('未进行任何改动，无法提交')
        return
      }
      sortData.announcement = sortArray
      let jsonData = {}
      jsonData.data = JSON.stringify(sortData)
      // console.log(111, jsonData)
      this.submitLoading = true
      let obj = this
      Api.setManageAnnouncementOpen(jsonData, function () {
        obj.submitLoading = false
      }).then((res) => {
        // console.log(res)
        this.$nextTick(function () {
          obj.submitLoading = false
        })
        this.msgSuccess('保存成功')
        this.getOrderList(this.pageNum, this.pageSize)
      })
    },
    openNoticeForm () {
      // console.log(val)
      this.selectData = {}
      this.PlayFormNoticeForm = true
    },
    editOne (val) {
      // console.log(val)
      this.selectData = val
      this.PlayFormNoticeForm = true
    },
    onSubmit () {
      // console.log('submit!')
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      this.pageSize = val
      this.getOrderList(this.pageNum, val)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      this.pageNum = val
      this.getOrderList(val, this.pageSize)
    },
    resetForm (formName) {
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (this.ruleForm[item] === '') {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      submitData.pageNum = pageNum
      submitData.pageSize = pageSize
      // console.log('submitData', submitData)
      this.loading = true
      let obj = this
      Api.manageAnnouncement(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.alllist = res.data.result
        let resultData = []
        for (let i = 0; i < res.data.result.length; i++) {
          if (!res.data.result[i].gradeList) {
            res.data.result[i].gradeList = ''
          }
          if (!res.data.result[i].sourceList) {
            res.data.result[i].sourceList = ''
          }
          let gradeList = {}
          Object.assign(gradeList, {})
          gradeList.isChangeValue = false
          gradeList.value = []
          let sourceList = {}
          Object.assign(sourceList, {})
          sourceList.isChangeValue = false
          sourceList.value = []
          if (res.data.result[i].gradeList && res.data.result[i].gradeList !== '') {
            gradeList.value = res.data.result[i].gradeList.toString().split(',').map(v => +v)
            res.data.result[i].gradeList = gradeList
          } else {
            res.data.result[i].gradeList = gradeList
          }
          if (res.data.result[i].sourceIdList && res.data.result[i].sourceIdList !== '') {
            sourceList.value = res.data.result[i].sourceIdList.split(',').map(v => +v)
            res.data.result[i].sourceIdList = sourceList
          } else {
            res.data.result[i].sourceIdList = sourceList
          }
          resultData.push(res.data.result[i])
        }
        this.allList = resultData
        this.total = res.data.total
        if (this.alllist.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRow (val) {
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = val.id
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.delManageAnnouncement(submitData, function () {
          obj.loadingMsg = '正在拼命加载中...'
          obj.loading = false
        }).then((res) => {
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loadingMsg = '正在拼命加载中...'
            obj.loading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续?', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.ids = ''
        if (this.screenW > 1023) {
          submitData.ids = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.ids += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.ids !== '') {
            submitData.ids = submitData.ids.substr(1)
          }
        }
        this.loadingMsg = '正在提交...'
        this.loading = true
        let obj = this
        Api.delManageAnnouncement(submitData, function () {
          obj.loading = false
          obj.loadingMsg = '正在拼命加载中...'
        }).then((res) => {
          this.checkedCities = []
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.loadingMsg = '正在拼命加载中...'
            obj.loading = false
          })
          this.msgSuccess('删除成功')
        })
      }).catch(() => {
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  components: {
    MultipleSelect,
    Scroll,
    PlayFormNoticeForm
  }
}
</script>
<style>
.announcement-table{
  min-width:1275px!important;
}
</style>
