<template>
  <div class="panel">
    <div class="panel-heading">
      邀请码管理
    </div>
    <div class="panel-body">
      <div class="search-header">
        <el-form :inline="true" :model="ruleForm" ref="ruleForm" size="small"  v-if="screenW>=768" @keyup.native.enter="onSubmit" @submit.native.prevent>
          <el-form-item label="邀请码" prop="inviteCode">
            <el-input v-model="ruleForm.inviteCode" class="width-forword" placeholder="请输入邀请码"></el-input>
          </el-form-item>
          <el-form-item label="会员账号" prop="userName">
            <el-input v-model="ruleForm.userName" class="width-forword" placeholder="请输入会员账号"></el-input>
          </el-form-item>
          <el-form-item label="开始时间" prop="startTime">
            <el-date-picker
              v-model="ruleForm.startTime"
              type="datetime"
              class="width-search-hour"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="结束时间" prop="endTime">
            <el-date-picker
              v-model="ruleForm.endTime"
              type="datetime"
              class="width-search-hour"
              value-format="yyyy-MM-dd HH:mm:ss"
              placeholder="选择日期" size="min">
            </el-date-picker>
          </el-form-item>
          <el-form-item class="post-btn">
            <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
            <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
          </el-form-item>
        </el-form>
      </div>
      <div class="report-data" :class="{'unfinished' : !tableLine}">
        <div class="report-nav rb-row delbtn">
          <el-button size="mini" icon="el-icon-delete" v-if=" screenW >768 || isActive" @click="deleteRows">删除</el-button>
          <el-button size="mini" v-if="screenW<768" @click="isActive = !isActive">
            <span v-if="isActive">取消删除</span>
            <span v-else>删除</span>
          </el-button>
          <div class="search-rwdbox" >
            <div class="rwd-searchbox" v-if="screenW <=768" >
              <div class="search-rwdbtn" >
                <popover-right
                  :visible="avatorVisible"
                  @close="avatorVisible=false">
                  <el-form  size="small" :inline="false" :model="ruleForm" ref="ruleForm" @keyup.native.enter="onSubmit" @submit.native.prevent>
                    <el-form-item label="邀请码" prop="inviteCode">
                      <el-input v-model="ruleForm.inviteCode" class="width-forword" placeholder="请输入邀请码"></el-input>
                    </el-form-item>
                    <el-form-item label="会员账号" prop="userName">
                      <el-input v-model="ruleForm.userName" class="width-forword" placeholder="请输入会员账号"></el-input>
                    </el-form-item>
                    <el-form-item label="开始时间" prop="startTime">
                      <span class="time-picker">
                          <datetime-picker v-model="ruleForm.startTime" type="datetime"></datetime-picker>
                      </span>
                    </el-form-item>
                    <el-form-item label="结束时间" prop="endTime">
                      <span class="time-picker">
                          <datetime-picker v-model="ruleForm.endTime" type="datetime"></datetime-picker>
                      </span>
                    </el-form-item>
                  </el-form>
                  <div class="search-btn" slot="btn">
                    <el-button size="mini" @click="resetForm('ruleForm')">重置</el-button>
                    <el-button size="mini" type="primary" @click="onSubmit">查询</el-button>
                  </div>
                </popover-right>
                <el-button size="mini" class="select-button" @click="avatorVisible=!avatorVisible">
                  <span v-if="avatorVisible">取消筛选<i class="fa fa-filter"></i></span>
                  <span v-else class="filter-icon">筛选<i class="fa fa-filter"></i></span>
                </el-button>
              </div>
            </div>
          </div>
        </div>
        <div class="table-style" v-loading="loading"
             element-loading-spinner="dafa-icon-loading01 dafa-icon"
             element-loading-customClass="loadingClass">
          <div ref="multipleTable" v-if="screenW > 1023">
            <div class="el-table__body-wrapper table-checkbox">
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange" class="table-absolute-left"></el-checkbox>
              <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
              <table class="el-table lottery-table table300" cellspacing="0"  >
                <thead class="el-table__header">
                <tr>
                  <th width="22px"><div class="table-id"></div></th>
                  <th ><div class="cell">邀请码</div></th>
                  <th ><div class="cell">返点信息</div></th>
                  <th ><div class="cell">创建人账号</div></th>
                  <th ><div class="cell">类型</div></th>
                  <th ><div class="cell">注册人数</div></th>
                  <th width="170px"><div class="cell">注册时间</div></th>
                </tr>
                </thead>
                  <tbody>
                  <template v-if="allList.length>0">
                    <tr v-for="(items, index) in allList" :key="index">
                      <td width="22px"><div class="table-id"><el-checkbox :label="items.id" :key="index">{{''}}</el-checkbox></div></td>
                      <td ><div class="cell"><span class="color-blue hoverline-effet" @click="openAgentInvitationForm(items)">{{items.inviteCode}}</span></div></td>
                      <td ><div class="cell"><span>{{items.rebateRange}}</span></div></td>
                      <td><div class="cell"><span>{{items.userName}}</span></div></td>
                      <td ><div class="cell"><span>{{items.agent ? '代理' : '玩家' }}</span></div></td>
                      <td ><div class="cell"><span>{{items.times}}</span></div></td>
                      <td><div class="cell"><span >{{items.gmtCreated}}</span></div></td>
                    </tr>
                  </template>
                  <!--無數據時樣式-->
                  <template v-else>
                    <tr>
                      <td colspan="7"><div class="el-table__empty-block table-empty"><span class="el-table__empty-text">暂无数据</span></div></td>
                    </tr>
                  </template>
                  </tbody>
                </table>
              </el-checkbox-group>
            </div>
          </div>
          <scroll :id="'scroll-wrapper1'" class="el-table" v-else>
              <el-table
                ref="multipleTable"
                :data="allList"
                @row-click="openDetails"
                style="width: 100%;"
                @selection-change="handleSelectionChange">
                <el-table-column
                  prop="Id"
                  type="selection"
                  width="34"
                  v-if=" screenW >768 || isActive">
                </el-table-column>
                <el-table-column
                  label="邀请码"
                  min-width="100"
                  fixed>
                  <template slot-scope="scope">
                    <span v-if="screenW > 768" class="color-blue hoverline-effet" @click="openAgentInvitationForm(scope.row)">{{scope.row.inviteCode}}</span>
                    <span v-else class="color-blue overflow-style dataIndex" :data-index="scope.$index">{{scope.row.inviteCode}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  prop="rebateRange"
                  label="返点信息"
                  min-width="80">
                </el-table-column>
                <el-table-column
                  prop="userName"
                  label="创建人账号"
                  min-width="130">
                </el-table-column>
                <el-table-column
                  prop="agent"
                  label="类型"
                  min-width="50">
                  <template slot-scope="scope">{{scope.row.agent ? '代理' : '玩家' }}</template>
                </el-table-column>
                <el-table-column
                  prop="times"
                  label="注册人数"
                  min-width="80">
                </el-table-column>
                <el-table-column
                  prop="gmtCreated"
                  label="创建时间"
                  width="180">
                </el-table-column>
              </el-table>
          </scroll>
        </div>
        <action-sheet
          :visible="rwdbtnVisible"
          @close="rwdbtnVisible = false">
          <div class="rwdbtn-style">
          <span @click="openAgentInvitationForm(detailData);rwdbtnVisible=false" >修改</span>
          <span @click="checkRow(detailData)" >查看信息</span>
          </div>
          <span @click="closeRwdBtn" class="angle-all">取消</span>
        </action-sheet>
        <popover-right
          :modal="false"
          :visible="detailShow"
          title="邀请码管理"
          @close="detailShow=false">
          <ul >
            <li>
              <span>邀请码</span>
              <span class="color-blue">{{detailData.inviteCode}}</span>
            </li>
            <li>
              <span>返点信息</span>
              <span>{{detailData.rebateRange}}</span>
            </li>
            <li>
              <span>创建人账号</span>
              <span >{{ detailData.userName}}</span>
            </li>
            <li>
              <span>类型</span>
              <span >{{detailData.agent ? '代理' : '玩家'}}</span>
            </li>
            <li>
              <span>注册人数</span>
              <span >{{ detailData.times}}</span>
            </li>
            <li>
              <span>创建时间</span>
              <span >{{ detailData.gmtCreated}}</span>
            </li>
          </ul>
        </popover-right>
      </div>
      <div class="report-foot margin-t10">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          ref="pagination"
          background
          :page-sizes="[20, 100, 300]"
          :page-size="20"
          :layout="screenW<=780?'total,prev,next,jumper':'total, sizes, prev, pager, next, jumper'"
          :total="total">
        </el-pagination>
      </div>
    </div>
    <agentinvitation-form
      :data="selectData"
      :visible = "AgentinvitationForm"
      v-on:onClose = "AgentinvitationForm=false">
    </agentinvitation-form>
  </div>
</template>
<script>
import AgentinvitationForm from '@/views/newModal/AgentinvitationForm'
import Api from '@/api/users'
import {dateFormat} from '@/utils/index'
import Scroll from '@/components/Scroll'
import DatetimePicker from '@/components/DatetimePicker'
import {validateQueryDateTwo} from '@/utils/validateRules'
export default {
  computed: {
    screenW: (vm) => {
      return vm.$store.state.media.screenWidth
    }
  },
  data () {
    return {
      detailShow: false,
      rwdbtnVisible: false,
      detailData: {operator: ''},
      detailIndex: -1,
      btnStyle: false,
      timeCount: 0,
      timerDetail: null,
      tableLine: true,
      checkAll: false, // 是否全选
      checkedCities: [],
      isIndeterminate: false,
      command: 0,
      isActive: false,
      AgentinvitationForm: false,
      RebateStop: false,
      avatorVisible: false,
      submitLoading: false,
      loading: false,
      loadingMsg: '正在拼命加载中...',
      ruleForm: {
        inviteCode: '',
        userName: '',
        startTime: dateFormat(new Date(), 'yyyy-MM-dd') + ' 00:00:00',
        endTime: dateFormat(new Date(new Date().getTime() + 24 * 60 * 60 * 1000), 'yyyy-MM-dd') + ' 00:00:00'
      },
      total: 0,
      pageNum: 1,
      pageSize: 20,
      // 列表数据
      allList: [],
      selectData: {}
    }
  },
  mounted () {
    this.getOrderList(1, 20)
  },
  methods: {
    handleCheckAllChange (val) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      this.checkedCities = val ? getList() : []
      this.isIndeterminate = false
    },
    handleCheckedCitiesChange (value) {
      let vm = this
      function getList () {
        let all = []
        let list = JSON.parse(JSON.stringify(vm.allList))
        list.forEach(v => {
          all.push(v.id)
        })
        return all
      }
      let checkedCount = value.length
      this.checkAll = checkedCount === getList().length
      this.isIndeterminate = checkedCount > 0 && checkedCount < getList().length
    },
    openAgentInvitationForm (val) {
      this.selectData = val
      this.AgentinvitationForm = true
    },
    onSubmit () {
      this.pageNum = 1
      this.getOrderList(this.pageNum, this.pageSize)
    },
    toggleSelection (rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange (val) {
      this.multipleSelection = val
    },
    // 分页
    handleSizeChange (val) {
      // console.log(`每页 ${val} 条`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageSize = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    handleCurrentChange (val) {
      // console.log(`当前页: ${val}`)
      // console.log(this.$refs.pagination.internalPageSize)
      this.pageNum = val
      this.getOrderList(this.pageNum, this.pageSize)
    },
    resetForm (formName) {
      console.log(formName)
      this.$refs[formName].resetFields()
    },
    getOrderList (pageNum, pageSize) {
      if (!validateQueryDateTwo.validateHour(this.ruleForm.startTime, this.ruleForm.endTime)) {
        return
      }
      if (!pageNum) {
        pageNum = 1
      }
      if (!pageSize) {
        pageSize = 20
      }
      this.pageNum = pageNum
      this.pageSize = pageSize
      this.$refs.pagination.internalCurrentPage = pageNum
      this.$refs.pagination.internalPageSize = pageSize
      this.ruleForm.pageNum = pageNum
      this.ruleForm.pageSize = pageSize
      let submitData = {}
      for (let item in this.ruleForm) {
        if (!this.ruleForm[item]) {
          continue
        }
        submitData[item] = this.ruleForm[item]
      }
      this.loading = true
      let obj = this
      Api.inviteCodeList(submitData, function () {
        obj.loading = false
      }).then((res) => {
        this.avatorVisible = false
        this.allList = res.data.result
        this.total = res.data.total
        if (this.allList.length > 0) {
          this.tableLine = false
        }
        this.$nextTick(function () {
          obj.loading = false
        })
      })
    },
    deleteRows () {
      // console.log(this.$refs.multipleTable.selection)
      if (this.screenW > 1023) {
        if (!this.checkedCities.length) {
          this.msgError('未选中记录')
          return
        }
      } else {
        if (this.$refs.multipleTable.selection.length < 1) {
          this.msgError('未选中记录')
          return
        }
      }
      this.msgConfirm('此操作将删除该记录, 是否继续', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        let submitData = {}
        submitData.inviteCodeId = ''
        if (this.screenW > 1023) {
          submitData.inviteCodeId = this.checkedCities.toString()
        } else {
          for (let i = 0; i < this.$refs.multipleTable.selection.length; i++) {
            submitData.inviteCodeId += ',' + this.$refs.multipleTable.selection[i].id
          }
          if (submitData.inviteCodeId !== '') {
            submitData.inviteCodeId = submitData.inviteCodeId.substr(1)
          }
        }
        this.submitLoading = true
        let obj = this
        Api.delInviteCode(submitData, function () {
          obj.submitLoading = false
        }).then((res) => {
          this.checkedCities = []
          this.getOrderList(this.pageNum, this.pageSize)
          this.$nextTick(function () {
            obj.submitLoading = false
          })
          this.msgSuccess('删除成功')
        })
      })
    },
    openDetails (row, event, column) {
      if (this.$store.state.media.screenWidth > 768) return
      let trDom = event.target
      while (trDom.nodeName.toLowerCase() !== 'tr') {
        trDom = trDom.parentNode
      }
      let dataIndex = trDom.getElementsByClassName('dataIndex')[0].attributes['data-index'].value
      // console.log(dataIndex)
      this.detailIndex = dataIndex
      this.detailData = row
      this.rwdbtnVisible = true
    },
    checkRow () {
      // console.log(this.detailData)
      this.detailShow = true
      this.rwdbtnVisible = false
    },
    closeRwdBtn () {
      this.rwdbtnVisible = false
    }
  },
  components: {
    Scroll,
    AgentinvitationForm,
    DatetimePicker
  }
}
</script>
<style>
  .main {
    display: inline-block;
  }
</style>
